<?xml version="1.0" ?>
<robot xmlns:doorbench="https://github.com/adamraudonis/DoorBench/schema/urdf-ext" name="db0751_gate_swing_simple">
  <link name="world_env">
    <visual name="floor_vis">
      <origin xyz="0 0 -0.05" rpy="0 0 0"/>
      <geometry>
        <box size="12 12 0.1"/>
      </geometry>
      <material name="mat_floor"/>
    </visual>
    <collision name="floor_col">
      <origin xyz="0 0 -0.05" rpy="0 0 0"/>
      <geometry>
        <box size="12 12 0.1"/>
      </geometry>
    </collision>
    <visual name="hinge_pintle_0_vis">
      <origin xyz="0.453 0.05 0.174" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.008" length="0.04"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="hinge_pintle_1_vis">
      <origin xyz="0.453 0.05 0.774" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.008" length="0.04"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="post_hinge_vis">
      <origin xyz="0.486 0 0.5" rpy="0 0 0"/>
      <geometry>
        <box size="0.06 0.06 1"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="post_hinge_col">
      <origin xyz="0.486 0 0.5" rpy="0 0 0"/>
      <geometry>
        <box size="0.06 0.06 1"/>
      </geometry>
    </collision>
    <visual name="post_latch_vis">
      <origin xyz="-0.486 0 0.5" rpy="0 0 0"/>
      <geometry>
        <box size="0.06 0.06 1"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="post_latch_col">
      <origin xyz="-0.486 0 0.5" rpy="0 0 0"/>
      <geometry>
        <box size="0.06 0.06 1"/>
      </geometry>
    </collision>
    <visual name="gate_stop_vis">
      <origin xyz="-0.436 -0.0465 0.3" rpy="0 0 0"/>
      <geometry>
        <box size="0.04 0.024 0.12"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="gate_stop_col">
      <origin xyz="-0.436 -0.0465 0.3" rpy="0 0 0"/>
      <geometry>
        <box size="0.04 0.024 0.12"/>
      </geometry>
    </collision>
    <visual name="fence_rail_l_vis">
      <origin xyz="-1.516 0.015 0.8" rpy="0 0 0"/>
      <geometry>
        <box size="2 0.03 0.08"/>
      </geometry>
      <material name="mat_fence"/>
    </visual>
    <collision name="fence_rail_l_col">
      <origin xyz="-1.516 0.015 0.8" rpy="0 0 0"/>
      <geometry>
        <box size="2 0.03 0.08"/>
      </geometry>
    </collision>
    <visual name="fence_rail_b_l_vis">
      <origin xyz="-1.516 0.015 0.25" rpy="0 0 0"/>
      <geometry>
        <box size="2 0.03 0.08"/>
      </geometry>
      <material name="mat_fence"/>
    </visual>
    <collision name="fence_rail_b_l_col">
      <origin xyz="-1.516 0.015 0.25" rpy="0 0 0"/>
      <geometry>
        <box size="2 0.03 0.08"/>
      </geometry>
    </collision>
    <visual name="fence_rail_r_vis">
      <origin xyz="1.516 0.015 0.8" rpy="0 0 0"/>
      <geometry>
        <box size="2 0.03 0.08"/>
      </geometry>
      <material name="mat_fence"/>
    </visual>
    <collision name="fence_rail_r_col">
      <origin xyz="1.516 0.015 0.8" rpy="0 0 0"/>
      <geometry>
        <box size="2 0.03 0.08"/>
      </geometry>
    </collision>
    <visual name="fence_rail_b_r_vis">
      <origin xyz="1.516 0.015 0.25" rpy="0 0 0"/>
      <geometry>
        <box size="2 0.03 0.08"/>
      </geometry>
      <material name="mat_fence"/>
    </visual>
    <collision name="fence_rail_b_r_col">
      <origin xyz="1.516 0.015 0.25" rpy="0 0 0"/>
      <geometry>
        <box size="2 0.03 0.08"/>
      </geometry>
    </collision>
    <visual name="hinge_pintle_0_strap_0_vis">
      <origin xyz="0.453 0.036 0.174" rpy="0 0 0"/>
      <geometry>
        <box size="0.0128 0.013 0.032"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="hinge_pintle_1_strap_0_vis">
      <origin xyz="0.453 0.036 0.774" rpy="0 0 0"/>
      <geometry>
        <box size="0.0128 0.013 0.032"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="gate_stop_strap_0_vis">
      <origin xyz="-0.44 -0.03225 0.3" rpy="0 0 0"/>
      <geometry>
        <box size="0.04 0.0055 0.096"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
  </link>
  <link name="leaf">
    <inertial>
      <origin xyz="-0.388995 -0.046132 0.503347" rpy="0 0 0"/>
      <mass value="8.745337"/>
      <inertia ixx="0.625328602" ixy="-0.01053966" ixz="0.010859361" iyy="1.28742686" iyz="0.000113224" izz="0.664493813"/>
    </inertial>
    <visual name="leaf_slab_vis">
      <origin xyz="-0.45 -0.05 0.5" rpy="0 0 0"/>
      <geometry>
        <box size="0.9 0.025 0.9"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <collision name="leaf_slab_col">
      <origin xyz="-0.45 -0.05 0.5" rpy="0 0 0"/>
      <geometry>
        <box size="0.9 0.025 0.9"/>
      </geometry>
    </collision>
    <visual name="leaf_batten_17_vis">
      <origin xyz="-0.45 -0.0725 0.17" rpy="0 0 0"/>
      <geometry>
        <box size="0.84 0.02 0.09"/>
      </geometry>
      <material name="mat_leaf_brace"/>
    </visual>
    <visual name="leaf_batten_83_vis">
      <origin xyz="-0.45 -0.0725 0.83" rpy="0 0 0"/>
      <geometry>
        <box size="0.84 0.02 0.09"/>
      </geometry>
      <material name="mat_leaf_brace"/>
    </visual>
    <visual name="leaf_batten_50_vis">
      <origin xyz="-0.45 -0.0725 0.5" rpy="0 0 0"/>
      <geometry>
        <box size="0.84 0.02 0.09"/>
      </geometry>
      <material name="mat_leaf_brace"/>
    </visual>
    <visual name="hinge_strap_0_vis">
      <origin xyz="0 -0.0345 0.2" rpy="0 0 3.141593"/>
      <geometry>
        <mesh filename="../../hardware/strap_hinge_f1a982ddce.obj"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="hinge_strap_eye_0_vis">
      <origin xyz="0 0 0.2" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.011" length="0.024"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="hinge_strap_neck_0_vis">
      <origin xyz="0 -0.01725 0.2" rpy="0 0 0"/>
      <geometry>
        <box size="0.024 0.0425 0.012"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="hinge_strap_1_vis">
      <origin xyz="0 -0.0345 0.8" rpy="0 0 3.141593"/>
      <geometry>
        <mesh filename="../../hardware/strap_hinge_f1a982ddce.obj"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="hinge_strap_eye_1_vis">
      <origin xyz="0 0 0.8" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.011" length="0.024"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="hinge_strap_neck_1_vis">
      <origin xyz="0 -0.01725 0.8" rpy="0 0 0"/>
      <geometry>
        <box size="0.024 0.0425 0.012"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="leaf_fork_strap_n_vis">
      <origin xyz="-0.76 -0.0645 0.7" rpy="0 0 0"/>
      <geometry>
        <box size="0.04 0.004 0.06"/>
      </geometry>
      <material name="mat_op_steel_galvanized"/>
    </visual>
    <visual name="leaf_fork_strap_p_vis">
      <origin xyz="-0.76 -0.0355 0.7" rpy="0 0 0"/>
      <geometry>
        <box size="0.04 0.004 0.06"/>
      </geometry>
      <material name="mat_op_steel_galvanized"/>
    </visual>
  </link>
  <link name="leaf_fork">
    <inertial>
      <origin xyz="-0.108366 -0.012016 0.039297" rpy="0 0 0"/>
      <mass value="0.192163"/>
      <inertia ixx="0.000234174" ixy="0.00010595" ixz="0.000198556" iyy="0.000760358" iyz="-0.000025676" izz="0.000807998"/>
    </inertial>
    <visual name="leaf_fork_arm_vis">
      <origin xyz="-0.0645 -0.0245 0.025" rpy="0 0.369769 0"/>
      <geometry>
        <box size="0.138351 0.008 0.024"/>
      </geometry>
      <material name="mat_op_steel_galvanized"/>
    </visual>
    <collision name="leaf_fork_arm_col">
      <origin xyz="-0.0645 -0.0245 0.025" rpy="0 0.369769 0"/>
      <geometry>
        <box size="0.138351 0.008 0.024"/>
      </geometry>
    </collision>
    <visual name="leaf_fork_eye_vis">
      <origin xyz="0 -0.0245 0" rpy="-1.570796 0 0"/>
      <geometry>
        <cylinder radius="0.014" length="0.01"/>
      </geometry>
      <material name="mat_op_steel_galvanized"/>
    </visual>
    <visual name="leaf_fork_tine_n_vis">
      <origin xyz="-0.169 -0.039 0.05" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.006 0.024"/>
      </geometry>
      <material name="mat_op_steel_galvanized"/>
    </visual>
    <collision name="leaf_fork_tine_n_col">
      <origin xyz="-0.169 -0.039 0.05" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.006 0.024"/>
      </geometry>
    </collision>
    <visual name="leaf_fork_tine_p_vis">
      <origin xyz="-0.169 0.039 0.05" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.006 0.024"/>
      </geometry>
      <material name="mat_op_steel_galvanized"/>
    </visual>
    <collision name="leaf_fork_tine_p_col">
      <origin xyz="-0.169 0.039 0.05" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.006 0.024"/>
      </geometry>
    </collision>
    <visual name="leaf_fork_bridge_vis">
      <origin xyz="-0.129 0 0.05" rpy="0 0 0"/>
      <geometry>
        <box size="0.008 0.084 0.024"/>
      </geometry>
      <material name="mat_op_steel_galvanized"/>
    </visual>
    <collision name="leaf_fork_bridge_col">
      <origin xyz="-0.129 0 0.05" rpy="0 0 0"/>
      <geometry>
        <box size="0.008 0.084 0.024"/>
      </geometry>
    </collision>
    <visual name="leaf_fork_handle_vis">
      <origin xyz="-0.129 -0.0245 0.08" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.006" length="0.036"/>
      </geometry>
      <material name="mat_op_steel_galvanized"/>
    </visual>
    <collision name="leaf_fork_handle_col">
      <origin xyz="-0.129 -0.0245 0.08" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.006" length="0.036"/>
      </geometry>
    </collision>
  </link>
  <joint name="leaf_hinge" type="revolute">
    <origin xyz="0.453 0.05 0" rpy="0 0 0"/>
    <parent link="world_env"/>
    <child link="leaf"/>
    <axis xyz="0 0 -1"/>
    <limit lower="0" upper="1.396263" effort="2000" velocity="10"/>
    <dynamics damping="1.106642" friction="0.683646"/>
    <doorbench:spring stiffness="5" springref="-0.8" note="tau = -stiffness*(q - springref); not native URDF"/>
    <doorbench:closer damping_closing="1" damping_opening="1" backcheck_angle="0" backcheck_damping="0"/>
  </joint>
  <joint name="leaf_fork_hinge" type="revolute">
    <origin xyz="-0.76 -0.05 0.7" rpy="0 0 0"/>
    <parent link="leaf"/>
    <child link="leaf_fork"/>
    <axis xyz="0 1 0"/>
    <limit lower="0" upper="1.2" effort="2000" velocity="10"/>
    <dynamics damping="0.028928" friction="0.004642"/>
  </joint>
  <material name="mat_fence">
    <color rgba="0.7 0.45 0.32 1"/>
  </material>
  <material name="mat_floor">
    <color rgba="0.35 0.42 0.25 1"/>
  </material>
  <material name="mat_frame">
    <color rgba="0.7 0.45 0.32 1"/>
  </material>
  <material name="mat_hinge">
    <color rgba="0.65 0.66 0.68 1"/>
  </material>
  <material name="mat_leaf">
    <color rgba="0.6 0.475 0.41 1"/>
  </material>
  <material name="mat_leaf_brace">
    <color rgba="0.54 0.427 0.369 1"/>
  </material>
  <material name="mat_op_steel_galvanized">
    <color rgba="0.65 0.66 0.68 1"/>
  </material>
</robot>
