<?xml version="1.0" ?>
<robot xmlns:doorbench="https://github.com/adamraudonis/DoorBench/schema/urdf-ext" name="db0565_swing_single_full">
  <link name="world_env">
    <visual name="floor_vis">
      <origin xyz="0 0 -0.05" rpy="0 0 0"/>
      <geometry>
        <box size="12 12 0.1"/>
      </geometry>
      <material name="mat_floor"/>
    </visual>
    <collision name="floor_col">
      <origin xyz="0 0 -0.05" rpy="0 0 0"/>
      <geometry>
        <box size="12 12 0.1"/>
      </geometry>
    </collision>
    <visual name="wall_left_vis">
      <origin xyz="-1.50475 0.0285 1.35" rpy="0 0 0"/>
      <geometry>
        <box size="1.9905 0.115 2.7"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_left_col">
      <origin xyz="-1.50475 0.0285 1.35" rpy="0 0 0"/>
      <geometry>
        <box size="1.9905 0.115 2.7"/>
      </geometry>
    </collision>
    <visual name="wall_right_vis">
      <origin xyz="1.48975 0.0285 1.35" rpy="0 0 0"/>
      <geometry>
        <box size="2.0205 0.115 2.7"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_right_col">
      <origin xyz="1.48975 0.0285 1.35" rpy="0 0 0"/>
      <geometry>
        <box size="2.0205 0.115 2.7"/>
      </geometry>
    </collision>
    <visual name="wall_header_vis">
      <origin xyz="-0.015 0.0285 2.397" rpy="0 0 0"/>
      <geometry>
        <box size="0.989 0.115 0.606"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_header_col">
      <origin xyz="-0.015 0.0285 2.397" rpy="0 0 0"/>
      <geometry>
        <box size="0.989 0.115 0.606"/>
      </geometry>
    </collision>
    <visual name="hinge_0_jamb_vis">
      <origin xyz="0.4575 -0.029 0.267" rpy="3.141593 0 3.141593"/>
      <geometry>
        <mesh filename="../../hardware/hinge_jamb_e1d088f8dc.obj"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="hinge_1_jamb_vis">
      <origin xyz="0.4575 -0.029 1.029" rpy="3.141593 0 3.141593"/>
      <geometry>
        <mesh filename="../../hardware/hinge_jamb_e1d088f8dc.obj"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="hinge_2_jamb_vis">
      <origin xyz="0.4575 -0.029 1.861" rpy="3.141593 0 3.141593"/>
      <geometry>
        <mesh filename="../../hardware/hinge_jamb_e1d088f8dc.obj"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="jamb_hinge_vis">
      <origin xyz="0.47 0.0285 1.0225" rpy="0 0 0"/>
      <geometry>
        <box size="0.019 0.115 2.045"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_hinge_col">
      <origin xyz="0.47 0.0285 1.0225" rpy="0 0 0"/>
      <geometry>
        <box size="0.019 0.115 2.045"/>
      </geometry>
    </collision>
    <visual name="strike_1050_wall_n_vis">
      <origin xyz="-0.485 0.046925 1.05" rpy="0 0 0"/>
      <geometry>
        <box size="0.049 0.07815 0.0334"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="strike_1050_wall_n_col">
      <origin xyz="-0.485 0.046925 1.05" rpy="0 0 0"/>
      <geometry>
        <box size="0.049 0.07815 0.0334"/>
      </geometry>
    </collision>
    <visual name="strike_1050_wall_p_vis">
      <origin xyz="-0.485 -0.01585 1.05" rpy="0 0 0"/>
      <geometry>
        <box size="0.049 0.016 0.0334"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="strike_1050_wall_p_col">
      <origin xyz="-0.485 -0.01585 1.05" rpy="0 0 0"/>
      <geometry>
        <box size="0.049 0.016 0.0334"/>
      </geometry>
    </collision>
    <visual name="strike_1050_ramp_vis">
      <origin xyz="-0.489636 -0.028673 1.05" rpy="0 0 -0.428384"/>
      <geometry>
        <box size="0.049 0.03298 0.0334"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="strike_1050_ramp_col">
      <origin xyz="-0.489636 -0.028673 1.05" rpy="0 0 -0.428384"/>
      <geometry>
        <box size="0.049 0.03298 0.0334"/>
      </geometry>
    </collision>
    <visual name="strike_1050_back_vis">
      <origin xyz="-0.49335 0 1.05" rpy="0 0 0"/>
      <geometry>
        <box size="0.0323 0.0157 0.0334"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="strike_1050_back_col">
      <origin xyz="-0.49335 0 1.05" rpy="0 0 0"/>
      <geometry>
        <box size="0.0323 0.0157 0.0334"/>
      </geometry>
    </collision>
    <visual name="jamb_strike_0_vis">
      <origin xyz="-0.485 0.0285 0.51665" rpy="0 0 0"/>
      <geometry>
        <box size="0.049 0.115 1.0333"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_strike_0_col">
      <origin xyz="-0.485 0.0285 0.51665" rpy="0 0 0"/>
      <geometry>
        <box size="0.049 0.115 1.0333"/>
      </geometry>
    </collision>
    <visual name="jamb_strike_1_vis">
      <origin xyz="-0.485 0.0285 1.55585" rpy="0 0 0"/>
      <geometry>
        <box size="0.049 0.115 0.9783"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_strike_1_col">
      <origin xyz="-0.485 0.0285 1.55585" rpy="0 0 0"/>
      <geometry>
        <box size="0.049 0.115 0.9783"/>
      </geometry>
    </collision>
    <visual name="jamb_head_vis">
      <origin xyz="-0.015 0.0285 2.0545" rpy="0 0 0"/>
      <geometry>
        <box size="0.989 0.115 0.019"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_head_col">
      <origin xyz="-0.015 0.0285 2.0545" rpy="0 0 0"/>
      <geometry>
        <box size="0.989 0.115 0.019"/>
      </geometry>
    </collision>
    <visual name="head_stud_vis">
      <origin xyz="-0.015 0.0285 2.079" rpy="0 0 0"/>
      <geometry>
        <box size="0.989 0.115 0.03"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="head_stud_col">
      <origin xyz="-0.015 0.0285 2.079" rpy="0 0 0"/>
      <geometry>
        <box size="0.989 0.115 0.03"/>
      </geometry>
    </collision>
    <visual name="stop_hinge_vis">
      <origin xyz="0.455 0.0385 1.0225" rpy="0 0 0"/>
      <geometry>
        <box size="0.011 0.032 2.045"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="stop_hinge_col">
      <origin xyz="0.455 0.0385 1.0225" rpy="0 0 0"/>
      <geometry>
        <box size="0.011 0.032 2.045"/>
      </geometry>
    </collision>
    <visual name="stop_strike_vis">
      <origin xyz="-0.455 0.0385 1.0225" rpy="0 0 0"/>
      <geometry>
        <box size="0.011 0.032 2.045"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="stop_strike_col">
      <origin xyz="-0.455 0.0385 1.0225" rpy="0 0 0"/>
      <geometry>
        <box size="0.011 0.032 2.045"/>
      </geometry>
    </collision>
    <visual name="stop_head_vis">
      <origin xyz="0 0.0385 2.0395" rpy="0 0 0"/>
      <geometry>
        <box size="0.921 0.032 0.011"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="stop_head_col">
      <origin xyz="0 0.0385 2.0395" rpy="0 0 0"/>
      <geometry>
        <box size="0.921 0.032 0.011"/>
      </geometry>
    </collision>
    <visual name="seal_hinge_vis">
      <origin xyz="0.4575 0.025 1.0225" rpy="0 0 0"/>
      <geometry>
        <box size="0.008 0.006 2.045"/>
      </geometry>
      <material name="mat_seal"/>
    </visual>
    <visual name="seal_strike_vis">
      <origin xyz="-0.4575 0.025 1.0225" rpy="0 0 0"/>
      <geometry>
        <box size="0.008 0.006 2.045"/>
      </geometry>
      <material name="mat_seal"/>
    </visual>
    <visual name="seal_head_vis">
      <origin xyz="0 0.025 2.033" rpy="0 0 0"/>
      <geometry>
        <box size="0.881 0.006 0.016"/>
      </geometry>
      <material name="mat_seal"/>
    </visual>
    <visual name="casing_l_n_vis">
      <origin xyz="-0.5095 -0.037 1.0225" rpy="0 0 0"/>
      <geometry>
        <box size="0.07 0.016 2.064"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <visual name="casing_r_n_vis">
      <origin xyz="0.5095 -0.037 1.0225" rpy="0 0 0"/>
      <geometry>
        <box size="0.07 0.016 2.064"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <visual name="casing_h_n_vis">
      <origin xyz="0 -0.037 2.094" rpy="0 0 0"/>
      <geometry>
        <box size="1.089 0.016 0.07"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <visual name="casing_l_p_vis">
      <origin xyz="-0.5095 0.094 1.0225" rpy="0 0 0"/>
      <geometry>
        <box size="0.07 0.016 2.064"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <visual name="casing_r_p_vis">
      <origin xyz="0.5095 0.094 1.0225" rpy="0 0 0"/>
      <geometry>
        <box size="0.07 0.016 2.064"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <visual name="casing_h_p_vis">
      <origin xyz="0 0.094 2.094" rpy="0 0 0"/>
      <geometry>
        <box size="1.089 0.016 0.07"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <visual name="threshold_vis">
      <origin xyz="0 0.0285 0.0065" rpy="0 0 0"/>
      <geometry>
        <box size="0.959 0.115 0.013"/>
      </geometry>
      <material name="mat_threshold"/>
    </visual>
    <collision name="threshold_col">
      <origin xyz="0 0.0285 0.0065" rpy="0 0 0"/>
      <geometry>
        <box size="0.959 0.115 0.013"/>
      </geometry>
    </collision>
    <visual name="closer_bracket_vis">
      <origin xyz="0.3605 -0.057 2.075" rpy="0 0 0"/>
      <geometry>
        <box size="0.06 0.024 0.028"/>
      </geometry>
      <material name="mat_closer"/>
    </visual>
    <visual name="floor_stop_dome_vis">
      <origin xyz="0.545135 -0.801201 0" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.025"/>
      </geometry>
      <material name="mat_stop"/>
    </visual>
    <collision name="floor_stop_dome_col">
      <origin xyz="0.545135 -0.801201 0" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.025"/>
      </geometry>
    </collision>
  </link>
  <link name="leaf">
    <inertial>
      <origin xyz="-0.419132 0.020199 1.174543" rpy="0 0 0"/>
      <mass value="22.89104"/>
      <inertia ixx="9.1947129" ixy="0.028015374" ixz="-0.411097371" iyy="10.686378022" iyz="0.14510205" izz="1.517028432"/>
    </inertial>
    <visual name="leaf_slab_vis">
      <origin xyz="-0.457 0.029 1.029" rpy="0 0 0"/>
      <geometry>
        <box size="0.914 0.044 2.024"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <collision name="leaf_slab_col">
      <origin xyz="-0.457 0.029 1.029" rpy="0 0 0"/>
      <geometry>
        <box size="0.914 0.044 2.024"/>
      </geometry>
    </collision>
    <visual name="leaf_panel_0_n_vis">
      <origin xyz="-0.25627 0.004 0.467664" rpy="0 0 0"/>
      <geometry>
        <box size="0.27146 0.006 0.416048"/>
      </geometry>
      <material name="mat_leaf_panel"/>
    </visual>
    <visual name="leaf_panel_0_p_vis">
      <origin xyz="-0.25627 0.054 0.467664" rpy="0 0 0"/>
      <geometry>
        <box size="0.27146 0.006 0.416048"/>
      </geometry>
      <material name="mat_leaf_panel"/>
    </visual>
    <visual name="leaf_panel_1_n_vis">
      <origin xyz="-0.65773 0.004 0.467664" rpy="0 0 0"/>
      <geometry>
        <box size="0.27146 0.006 0.416048"/>
      </geometry>
      <material name="mat_leaf_panel"/>
    </visual>
    <visual name="leaf_panel_1_p_vis">
      <origin xyz="-0.65773 0.054 0.467664" rpy="0 0 0"/>
      <geometry>
        <box size="0.27146 0.006 0.416048"/>
      </geometry>
      <material name="mat_leaf_panel"/>
    </visual>
    <visual name="leaf_panel_2_n_vis">
      <origin xyz="-0.25627 0.004 1.013712" rpy="0 0 0"/>
      <geometry>
        <box size="0.27146 0.006 0.416048"/>
      </geometry>
      <material name="mat_leaf_panel"/>
    </visual>
    <visual name="leaf_panel_2_p_vis">
      <origin xyz="-0.25627 0.054 1.013712" rpy="0 0 0"/>
      <geometry>
        <box size="0.27146 0.006 0.416048"/>
      </geometry>
      <material name="mat_leaf_panel"/>
    </visual>
    <visual name="leaf_panel_3_n_vis">
      <origin xyz="-0.65773 0.004 1.013712" rpy="0 0 0"/>
      <geometry>
        <box size="0.27146 0.006 0.416048"/>
      </geometry>
      <material name="mat_leaf_panel"/>
    </visual>
    <visual name="leaf_panel_3_p_vis">
      <origin xyz="-0.65773 0.054 1.013712" rpy="0 0 0"/>
      <geometry>
        <box size="0.27146 0.006 0.416048"/>
      </geometry>
      <material name="mat_leaf_panel"/>
    </visual>
    <visual name="leaf_panel_4_n_vis">
      <origin xyz="-0.25627 0.004 1.635768" rpy="0 0 0"/>
      <geometry>
        <box size="0.27146 0.006 0.568064"/>
      </geometry>
      <material name="mat_leaf_panel"/>
    </visual>
    <visual name="leaf_panel_4_p_vis">
      <origin xyz="-0.25627 0.054 1.635768" rpy="0 0 0"/>
      <geometry>
        <box size="0.27146 0.006 0.568064"/>
      </geometry>
      <material name="mat_leaf_panel"/>
    </visual>
    <visual name="leaf_panel_5_n_vis">
      <origin xyz="-0.65773 0.004 1.635768" rpy="0 0 0"/>
      <geometry>
        <box size="0.27146 0.006 0.568064"/>
      </geometry>
      <material name="mat_leaf_panel"/>
    </visual>
    <visual name="leaf_panel_5_p_vis">
      <origin xyz="-0.65773 0.054 1.635768" rpy="0 0 0"/>
      <geometry>
        <box size="0.27146 0.006 0.568064"/>
      </geometry>
      <material name="mat_leaf_panel"/>
    </visual>
    <visual name="hinge_0_vis">
      <origin xyz="0 0 0.267" rpy="3.141593 0 3.141593"/>
      <geometry>
        <mesh filename="../../hardware/hinge_e22b26c0c1.obj"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="hinge_1_vis">
      <origin xyz="0 0 1.029" rpy="3.141593 0 3.141593"/>
      <geometry>
        <mesh filename="../../hardware/hinge_e22b26c0c1.obj"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="hinge_2_vis">
      <origin xyz="0 0 1.861" rpy="3.141593 0 3.141593"/>
      <geometry>
        <mesh filename="../../hardware/hinge_e22b26c0c1.obj"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="leaf_latch_bolt_faceplate_vis">
      <origin xyz="-0.9134 0.029 1.05" rpy="0 0 0"/>
      <geometry>
        <box size="0.0012 0.0247 0.0534"/>
      </geometry>
      <material name="mat_bolt"/>
    </visual>
    <visual name="closer_body_vis">
      <origin xyz="-0.297 0.007 1.944" rpy="-1.570796 0 3.141593"/>
      <geometry>
        <mesh filename="../../hardware/closer_body_78399c60f5.obj"/>
      </geometry>
      <material name="mat_closer"/>
    </visual>
    <collision name="closer_body_col_col">
      <origin xyz="-0.297 -0.023 1.944" rpy="0 0 0"/>
      <geometry>
        <box size="0.2 0.06 0.05"/>
      </geometry>
    </collision>
    <visual name="closer_pinion_shaft_vis">
      <origin xyz="-0.297 -0.051 2.0095" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.008" length="0.131"/>
      </geometry>
      <material name="mat_closer"/>
    </visual>
  </link>
  <link name="leaf_handle">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="1.151952"/>
      <inertia ixx="0.004264603" ixy="0" ixz="0" iyy="0.000312514" iyz="0" izz="0.004264603"/>
    </inertial>
    <visual name="leaf_handle_spindle_vis">
      <origin xyz="0 0 0" rpy="-1.570796 0 0"/>
      <geometry>
        <cylinder radius="0.006" length="0.06"/>
      </geometry>
      <material name="mat_op_brass"/>
    </visual>
    <visual name="leaf_handle_knob_n_vis">
      <origin xyz="0 -0.022 0" rpy="-1.570796 0 3.141593"/>
      <geometry>
        <mesh filename="../../hardware/knob_d1888f6f03.obj"/>
      </geometry>
      <material name="mat_op_brass"/>
    </visual>
    <visual name="leaf_handle_knob_col_n_vis">
      <origin xyz="0 -0.0685 0" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.0243"/>
      </geometry>
      <material name="mat_op_brass"/>
    </visual>
    <collision name="leaf_handle_knob_col_n_col">
      <origin xyz="0 -0.0685 0" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.0243"/>
      </geometry>
    </collision>
    <collision name="leaf_handle_knob_neck_n_col">
      <origin xyz="0 -0.034 0" rpy="-1.570796 0 0"/>
      <geometry>
        <cylinder radius="0.011" length="0.024"/>
      </geometry>
    </collision>
    <visual name="leaf_handle_knob_p_vis">
      <origin xyz="0 0.022 0" rpy="1.570796 0 3.141593"/>
      <geometry>
        <mesh filename="../../hardware/knob_d1888f6f03.obj"/>
      </geometry>
      <material name="mat_op_brass"/>
    </visual>
    <visual name="leaf_handle_knob_col_p_vis">
      <origin xyz="0 0.0685 0" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.0243"/>
      </geometry>
      <material name="mat_op_brass"/>
    </visual>
    <collision name="leaf_handle_knob_col_p_col">
      <origin xyz="0 0.0685 0" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.0243"/>
      </geometry>
    </collision>
    <collision name="leaf_handle_knob_neck_p_col">
      <origin xyz="0 0.034 0" rpy="-1.570796 0 0"/>
      <geometry>
        <cylinder radius="0.011" length="0.024"/>
      </geometry>
    </collision>
  </link>
  <link name="leaf_latch_bolt">
    <inertial>
      <origin xyz="0.00865 0 0" rpy="0 0 0"/>
      <mass value="0.041419"/>
      <inertia ixx="0.000000798" ixy="0" ixz="0" iyy="0.000005598" iyz="0" izz="0.000005598"/>
    </inertial>
    <visual name="leaf_latch_bolt_capsule_vis">
      <origin xyz="0.00865 0 0" rpy="0 -1.570796 0"/>
      <geometry>
        <cylinder radius="0.00635" length="0.03"/>
      </geometry>
      <material name="mat_bolt"/>
    </visual>
    <collision name="leaf_latch_bolt_capsule_col">
      <origin xyz="0.00865 0 0" rpy="0 -1.570796 0"/>
      <geometry>
        <cylinder radius="0.00635" length="0.03"/>
      </geometry>
    </collision>
  </link>
  <link name="closer_arm_main">
    <inertial>
      <origin xyz="0.14 0 0" rpy="0 0 0"/>
      <mass value="0.12096"/>
      <inertia ixx="0.000003588" ixy="0" ixz="0" iyy="0.00079128" iyz="0" izz="0.000792852"/>
    </inertial>
    <visual name="closer_arm_main_geom_vis">
      <origin xyz="0.14 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.28 0.016 0.01"/>
      </geometry>
      <material name="mat_closer"/>
    </visual>
  </link>
  <link name="closer_arm_fore">
    <inertial>
      <origin xyz="0.128088 0 0" rpy="0 0 0"/>
      <mass value="0.076531"/>
      <inertia ixx="0.000001771" ixy="0" ixz="0" iyy="0.000437665" iyz="0" izz="0.000438201"/>
    </inertial>
    <visual name="closer_arm_fore_geom_vis">
      <origin xyz="0.1125 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.225 0.014 0.008"/>
      </geometry>
      <material name="mat_closer"/>
    </visual>
    <visual name="closer_fore_neck_vis">
      <origin xyz="0.2425 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.035 0.006 0.006"/>
      </geometry>
      <material name="mat_closer"/>
    </visual>
    <visual name="closer_fore_pivot_vis">
      <origin xyz="0.26 0 0" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.005" length="0.024"/>
      </geometry>
      <material name="mat_closer"/>
    </visual>
  </link>
  <joint name="leaf_hinge" type="revolute">
    <origin xyz="0.4575 -0.029 0" rpy="0 0 0"/>
    <parent link="world_env"/>
    <child link="leaf"/>
    <axis xyz="0 0 1"/>
    <limit lower="0" upper="1.658063" effort="2000" velocity="10"/>
    <dynamics damping="6.25611" friction="0.952379"/>
    <doorbench:spring stiffness="9.135494" springref="-1.778776" note="tau = -stiffness*(q - springref); not native URDF"/>
    <doorbench:closer damping_closing="40" damping_opening="6" backcheck_angle="0" backcheck_damping="0"/>
  </joint>
  <joint name="leaf_handle_hinge" type="revolute">
    <origin xyz="-0.844 0.029 1.05" rpy="0 0 0"/>
    <parent link="leaf"/>
    <child link="leaf_handle"/>
    <axis xyz="0 1 0"/>
    <limit lower="0" upper="0.87" effort="2000" velocity="10"/>
    <dynamics damping="0.143614" friction="0.038"/>
    <doorbench:spring stiffness="0.5" springref="-0.5" note="tau = -stiffness*(q - springref); not native URDF"/>
  </joint>
  <joint name="leaf_latch_bolt_slide" type="prismatic">
    <origin xyz="-0.914 0.029 1.05" rpy="0 0 0"/>
    <parent link="leaf"/>
    <child link="leaf_latch_bolt"/>
    <axis xyz="1 0 0"/>
    <limit lower="0" upper="0.0127" effort="5000" velocity="10"/>
    <dynamics damping="2" friction="0.3"/>
    <doorbench:spring stiffness="300" springref="-0.008333" note="tau = -stiffness*(q - springref); not native URDF"/>
    <mimic joint="leaf_handle_hinge" multiplier="0.015679" offset="0"/>
    <doorbench:coupling one_sided="true" note="MJCF uses a one-sided tendon (bolt may retract further, e.g. riding over the strike lip); mimic is bilateral"/>
  </joint>
  <joint name="closer_pinion" type="continuous">
    <origin xyz="-0.297 -0.051 2.075" rpy="0 0 -0.983597"/>
    <parent link="leaf"/>
    <child link="closer_arm_main"/>
    <axis xyz="0 0 1"/>
    <dynamics damping="0.01" friction="0"/>
  </joint>
  <joint name="closer_elbow" type="continuous">
    <origin xyz="0.28 0 0" rpy="0 0 2.380944"/>
    <parent link="closer_arm_main"/>
    <child link="closer_arm_fore"/>
    <axis xyz="0 0 1"/>
    <dynamics damping="0.01" friction="0"/>
  </joint>
  <material name="mat_bolt">
    <color rgba="0.85 0.66 0.3 1"/>
  </material>
  <material name="mat_closer">
    <color rgba="0.22 0.17 0.13 1"/>
  </material>
  <material name="mat_floor">
    <color rgba="0.55 0.53 0.5 1"/>
  </material>
  <material name="mat_frame">
    <color rgba="0.82 0.7 0.5 1"/>
  </material>
  <material name="mat_hinge">
    <color rgba="0.65 0.66 0.68 1"/>
  </material>
  <material name="mat_leaf">
    <color rgba="0.09 0.13 0.28 1"/>
  </material>
  <material name="mat_leaf_panel">
    <color rgba="0.083 0.12 0.258 1"/>
  </material>
  <material name="mat_op_brass">
    <color rgba="0.85 0.66 0.3 1"/>
  </material>
  <material name="mat_seal">
    <color rgba="0.1 0.1 0.1 1"/>
  </material>
  <material name="mat_stop">
    <color rgba="0.9 0.9 0.92 1"/>
  </material>
  <material name="mat_threshold">
    <color rgba="0.8 0.81 0.83 1"/>
  </material>
  <material name="mat_wall">
    <color rgba="0.78 0.76 0.7 1"/>
  </material>
  <doorbench:loop_closure body1="closer_arm_fore" body2="world" anchor="0.26 0 0" label="Closer forearm pinned to frame shoe"/>
</robot>
