<?xml version="1.0" ?>
<robot xmlns:doorbench="https://github.com/adamraudonis/DoorBench/schema/urdf-ext" name="db0013_swing_single_full">
  <link name="world_env">
    <visual name="floor_vis">
      <origin xyz="0 0 -0.05" rpy="0 0 0"/>
      <geometry>
        <box size="12 12 0.1"/>
      </geometry>
      <material name="mat_floor"/>
    </visual>
    <collision name="floor_col">
      <origin xyz="0 0 -0.05" rpy="0 0 0"/>
      <geometry>
        <box size="12 12 0.1"/>
      </geometry>
    </collision>
    <visual name="wall_left_vis">
      <origin xyz="-1.4795 -0.048 1.35" rpy="0 0 0"/>
      <geometry>
        <box size="2.041 0.145 2.7"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_left_col">
      <origin xyz="-1.4795 -0.048 1.35" rpy="0 0 0"/>
      <geometry>
        <box size="2.041 0.145 2.7"/>
      </geometry>
    </collision>
    <visual name="wall_right_vis">
      <origin xyz="1.4645 -0.048 1.35" rpy="0 0 0"/>
      <geometry>
        <box size="2.071 0.145 2.7"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_right_col">
      <origin xyz="1.4645 -0.048 1.35" rpy="0 0 0"/>
      <geometry>
        <box size="2.071 0.145 2.7"/>
      </geometry>
    </collision>
    <visual name="wall_header_vis">
      <origin xyz="-0.015 -0.048 2.3735" rpy="0 0 0"/>
      <geometry>
        <box size="0.888 0.145 0.653"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_header_col">
      <origin xyz="-0.015 -0.048 2.3735" rpy="0 0 0"/>
      <geometry>
        <box size="0.888 0.145 0.653"/>
      </geometry>
    </collision>
    <visual name="hinge_0_jamb_vis">
      <origin xyz="0.407 0.0245 0.259" rpy="0 0 3.141593"/>
      <geometry>
        <mesh filename="../../hardware/hinge_jamb_7fd4ca52b2.obj"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="hinge_1_jamb_vis">
      <origin xyz="0.407 0.0245 1.814" rpy="0 0 3.141593"/>
      <geometry>
        <mesh filename="../../hardware/hinge_jamb_7fd4ca52b2.obj"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="jamb_hinge_vis">
      <origin xyz="0.4195 -0.048 0.999" rpy="0 0 0"/>
      <geometry>
        <box size="0.019 0.145 1.998"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_hinge_col">
      <origin xyz="0.4195 -0.048 0.999" rpy="0 0 0"/>
      <geometry>
        <box size="0.019 0.145 1.998"/>
      </geometry>
    </collision>
    <visual name="strike_965_wall_n_vis">
      <origin xyz="-0.4345 -0.064175 0.965" rpy="0 0 0"/>
      <geometry>
        <box size="0.049 0.11265 0.0334"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="strike_965_wall_n_col">
      <origin xyz="-0.4345 -0.064175 0.965" rpy="0 0 0"/>
      <geometry>
        <box size="0.049 0.11265 0.0334"/>
      </geometry>
    </collision>
    <visual name="strike_965_wall_p_vis">
      <origin xyz="-0.4345 0.01585 0.965" rpy="0 0 0"/>
      <geometry>
        <box size="0.049 0.016 0.0334"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="strike_965_wall_p_col">
      <origin xyz="-0.4345 0.01585 0.965" rpy="0 0 0"/>
      <geometry>
        <box size="0.049 0.016 0.0334"/>
      </geometry>
    </collision>
    <visual name="strike_965_ramp_vis">
      <origin xyz="-0.439136 0.028673 0.965" rpy="0 0 0.428384"/>
      <geometry>
        <box size="0.049 0.03298 0.0334"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="strike_965_ramp_col">
      <origin xyz="-0.439136 0.028673 0.965" rpy="0 0 0.428384"/>
      <geometry>
        <box size="0.049 0.03298 0.0334"/>
      </geometry>
    </collision>
    <visual name="strike_965_back_vis">
      <origin xyz="-0.44285 0 0.965" rpy="0 0 0"/>
      <geometry>
        <box size="0.0323 0.0157 0.0334"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="strike_965_back_col">
      <origin xyz="-0.44285 0 0.965" rpy="0 0 0"/>
      <geometry>
        <box size="0.0323 0.0157 0.0334"/>
      </geometry>
    </collision>
    <visual name="jamb_strike_0_vis">
      <origin xyz="-0.4345 -0.048 0.47415" rpy="0 0 0"/>
      <geometry>
        <box size="0.049 0.145 0.9483"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_strike_0_col">
      <origin xyz="-0.4345 -0.048 0.47415" rpy="0 0 0"/>
      <geometry>
        <box size="0.049 0.145 0.9483"/>
      </geometry>
    </collision>
    <visual name="jamb_strike_1_vis">
      <origin xyz="-0.4345 -0.048 1.48985" rpy="0 0 0"/>
      <geometry>
        <box size="0.049 0.145 1.0163"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_strike_1_col">
      <origin xyz="-0.4345 -0.048 1.48985" rpy="0 0 0"/>
      <geometry>
        <box size="0.049 0.145 1.0163"/>
      </geometry>
    </collision>
    <visual name="jamb_head_vis">
      <origin xyz="-0.015 -0.048 2.0075" rpy="0 0 0"/>
      <geometry>
        <box size="0.888 0.145 0.019"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_head_col">
      <origin xyz="-0.015 -0.048 2.0075" rpy="0 0 0"/>
      <geometry>
        <box size="0.888 0.145 0.019"/>
      </geometry>
    </collision>
    <visual name="head_stud_vis">
      <origin xyz="-0.015 -0.048 2.032" rpy="0 0 0"/>
      <geometry>
        <box size="0.888 0.145 0.03"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="head_stud_col">
      <origin xyz="-0.015 -0.048 2.032" rpy="0 0 0"/>
      <geometry>
        <box size="0.888 0.145 0.03"/>
      </geometry>
    </collision>
    <visual name="stop_hinge_vis">
      <origin xyz="0.4045 -0.034 0.999" rpy="0 0 0"/>
      <geometry>
        <box size="0.011 0.032 1.998"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="stop_hinge_col">
      <origin xyz="0.4045 -0.034 0.999" rpy="0 0 0"/>
      <geometry>
        <box size="0.011 0.032 1.998"/>
      </geometry>
    </collision>
    <visual name="stop_strike_vis">
      <origin xyz="-0.4045 -0.034 0.999" rpy="0 0 0"/>
      <geometry>
        <box size="0.011 0.032 1.998"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="stop_strike_col">
      <origin xyz="-0.4045 -0.034 0.999" rpy="0 0 0"/>
      <geometry>
        <box size="0.011 0.032 1.998"/>
      </geometry>
    </collision>
    <visual name="stop_head_vis">
      <origin xyz="0 -0.034 1.9925" rpy="0 0 0"/>
      <geometry>
        <box size="0.82 0.032 0.011"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="stop_head_col">
      <origin xyz="0 -0.034 1.9925" rpy="0 0 0"/>
      <geometry>
        <box size="0.82 0.032 0.011"/>
      </geometry>
    </collision>
    <visual name="seal_hinge_vis">
      <origin xyz="0.407 -0.0195 0.999" rpy="0 0 0"/>
      <geometry>
        <box size="0.008 0.004 1.998"/>
      </geometry>
      <material name="mat_seal"/>
    </visual>
    <visual name="seal_strike_vis">
      <origin xyz="-0.407 -0.0195 0.999" rpy="0 0 0"/>
      <geometry>
        <box size="0.008 0.004 1.998"/>
      </geometry>
      <material name="mat_seal"/>
    </visual>
    <visual name="seal_head_vis">
      <origin xyz="0 -0.0195 1.986" rpy="0 0 0"/>
      <geometry>
        <box size="0.78 0.004 0.016"/>
      </geometry>
      <material name="mat_seal"/>
    </visual>
    <visual name="casing_l_n_vis">
      <origin xyz="-0.459 -0.1285 0.999" rpy="0 0 0"/>
      <geometry>
        <box size="0.07 0.016 2.017"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <visual name="casing_r_n_vis">
      <origin xyz="0.459 -0.1285 0.999" rpy="0 0 0"/>
      <geometry>
        <box size="0.07 0.016 2.017"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <visual name="casing_h_n_vis">
      <origin xyz="0 -0.1285 2.047" rpy="0 0 0"/>
      <geometry>
        <box size="0.988 0.016 0.07"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <visual name="casing_l_p_vis">
      <origin xyz="-0.459 0.0325 0.999" rpy="0 0 0"/>
      <geometry>
        <box size="0.07 0.016 2.017"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <visual name="casing_r_p_vis">
      <origin xyz="0.459 0.0325 0.999" rpy="0 0 0"/>
      <geometry>
        <box size="0.07 0.016 2.017"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <visual name="casing_h_p_vis">
      <origin xyz="0 0.0325 2.047" rpy="0 0 0"/>
      <geometry>
        <box size="0.988 0.016 0.07"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
  </link>
  <link name="leaf">
    <inertial>
      <origin xyz="-0.398604 -0.031692 1.064185" rpy="0 0 0"/>
      <mass value="12.197235"/>
      <inertia ixx="4.031401705" ixy="-0.002175944" ixz="0.002311283" iyy="4.676764534" iyz="0.045184159" izz="0.660060654"/>
    </inertial>
    <visual name="leaf_slab_vis">
      <origin xyz="-0.4065 -0.0245 1.0015" rpy="0 0 0"/>
      <geometry>
        <box size="0.813 0.035 1.985"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <collision name="leaf_slab_col">
      <origin xyz="-0.4065 -0.0245 1.0015" rpy="0 0 0"/>
      <geometry>
        <box size="0.813 0.035 1.985"/>
      </geometry>
    </collision>
    <visual name="leaf_panel_0_n_vis">
      <origin xyz="-0.4065 -0.045 1.06105" rpy="0 0 0"/>
      <geometry>
        <box size="0.593 0.006 1.6274"/>
      </geometry>
      <material name="mat_leaf_panel"/>
    </visual>
    <visual name="leaf_panel_0_p_vis">
      <origin xyz="-0.4065 -0.004 1.06105" rpy="0 0 0"/>
      <geometry>
        <box size="0.593 0.006 1.6274"/>
      </geometry>
      <material name="mat_leaf_panel"/>
    </visual>
    <visual name="hinge_0_vis">
      <origin xyz="0 0 0.259" rpy="0 0 3.141593"/>
      <geometry>
        <mesh filename="../../hardware/hinge_96510cf394.obj"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="hinge_1_vis">
      <origin xyz="0 0 1.814" rpy="0 0 3.141593"/>
      <geometry>
        <mesh filename="../../hardware/hinge_96510cf394.obj"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="leaf_latch_bolt_faceplate_vis">
      <origin xyz="-0.8124 -0.0245 0.965" rpy="0 0 0"/>
      <geometry>
        <box size="0.0012 0.0247 0.0534"/>
      </geometry>
      <material name="mat_bolt"/>
    </visual>
    <visual name="wreath_vis">
      <origin xyz="-0.4065 -0.042 1.5573" rpy="-1.570796 0 3.141593"/>
      <geometry>
        <mesh filename="../../hardware/wreath_86a3f1bf8b.obj"/>
      </geometry>
      <material name="mat_wreath"/>
    </visual>
    <visual name="wreath_hook_vis">
      <origin xyz="-0.4065 -0.049 1.7453" rpy="-1.570796 0 0"/>
      <geometry>
        <cylinder radius="0.004" length="0.016"/>
      </geometry>
      <material name="mat_wreath_hook"/>
    </visual>
  </link>
  <link name="leaf_handle">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="0.963808"/>
      <inertia ixx="0.002993593" ixy="0" ixz="0" iyy="0.000215172" iyz="0" izz="0.002993593"/>
    </inertial>
    <visual name="leaf_handle_spindle_vis">
      <origin xyz="0 0 0" rpy="-1.570796 0 0"/>
      <geometry>
        <cylinder radius="0.006" length="0.051"/>
      </geometry>
      <material name="mat_op_glass_clear"/>
    </visual>
    <visual name="leaf_handle_knob_n_vis">
      <origin xyz="0 -0.0175 0" rpy="-1.570796 0 3.141593"/>
      <geometry>
        <mesh filename="../../hardware/knob_98a7916ed0.obj"/>
      </geometry>
      <material name="mat_op_glass_clear"/>
    </visual>
    <visual name="leaf_handle_knob_col_n_vis">
      <origin xyz="0 -0.0625 0" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.0234"/>
      </geometry>
      <material name="mat_op_glass_clear"/>
    </visual>
    <collision name="leaf_handle_knob_col_n_col">
      <origin xyz="0 -0.0625 0" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.0234"/>
      </geometry>
    </collision>
    <collision name="leaf_handle_knob_neck_n_col">
      <origin xyz="0 -0.0295 0" rpy="-1.570796 0 0"/>
      <geometry>
        <cylinder radius="0.011" length="0.024"/>
      </geometry>
    </collision>
    <visual name="leaf_handle_knob_p_vis">
      <origin xyz="0 0.0175 0" rpy="1.570796 0 3.141593"/>
      <geometry>
        <mesh filename="../../hardware/knob_98a7916ed0.obj"/>
      </geometry>
      <material name="mat_op_glass_clear"/>
    </visual>
    <visual name="leaf_handle_knob_col_p_vis">
      <origin xyz="0 0.0625 0" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.0234"/>
      </geometry>
      <material name="mat_op_glass_clear"/>
    </visual>
    <collision name="leaf_handle_knob_col_p_col">
      <origin xyz="0 0.0625 0" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.0234"/>
      </geometry>
    </collision>
    <collision name="leaf_handle_knob_neck_p_col">
      <origin xyz="0 0.0295 0" rpy="-1.570796 0 0"/>
      <geometry>
        <cylinder radius="0.011" length="0.024"/>
      </geometry>
    </collision>
  </link>
  <link name="leaf_latch_bolt">
    <inertial>
      <origin xyz="0.00865 0 0" rpy="0 0 0"/>
      <mass value="0.041419"/>
      <inertia ixx="0.000000798" ixy="0" ixz="0" iyy="0.000005598" iyz="0" izz="0.000005598"/>
    </inertial>
    <visual name="leaf_latch_bolt_capsule_vis">
      <origin xyz="0.00865 0 0" rpy="0 -1.570796 0"/>
      <geometry>
        <cylinder radius="0.00635" length="0.03"/>
      </geometry>
      <material name="mat_bolt"/>
    </visual>
    <collision name="leaf_latch_bolt_capsule_col">
      <origin xyz="0.00865 0 0" rpy="0 -1.570796 0"/>
      <geometry>
        <cylinder radius="0.00635" length="0.03"/>
      </geometry>
    </collision>
  </link>
  <joint name="leaf_hinge" type="revolute">
    <origin xyz="0.407 0.0245 0" rpy="0 0 0"/>
    <parent link="world_env"/>
    <child link="leaf"/>
    <axis xyz="0 0 -1"/>
    <limit lower="0" upper="1.919862" effort="2000" velocity="10"/>
    <dynamics damping="0.206618" friction="0.513948"/>
    <doorbench:closer damping_closing="0" damping_opening="0" backcheck_angle="0" backcheck_damping="0"/>
  </joint>
  <joint name="leaf_handle_hinge" type="revolute">
    <origin xyz="-0.753 -0.0245 0.965" rpy="0 0 0"/>
    <parent link="leaf"/>
    <child link="leaf_handle"/>
    <axis xyz="0 1 0"/>
    <limit lower="0" upper="0.8" effort="2000" velocity="10"/>
    <dynamics damping="0.119588" friction="0.032"/>
    <doorbench:spring stiffness="0.35" springref="-0.428571" note="tau = -stiffness*(q - springref); not native URDF"/>
  </joint>
  <joint name="leaf_latch_bolt_slide" type="prismatic">
    <origin xyz="-0.813 -0.0245 0.965" rpy="0 0 0"/>
    <parent link="leaf"/>
    <child link="leaf_latch_bolt"/>
    <axis xyz="1 0 0"/>
    <limit lower="0" upper="0.0127" effort="5000" velocity="10"/>
    <dynamics damping="2" friction="0.3"/>
    <doorbench:spring stiffness="300" springref="-0.008333" note="tau = -stiffness*(q - springref); not native URDF"/>
    <mimic joint="leaf_handle_hinge" multiplier="0.019538" offset="0"/>
    <doorbench:coupling one_sided="true" note="MJCF uses a one-sided tendon (bolt may retract further, e.g. riding over the strike lip); mimic is bilateral"/>
  </joint>
  <material name="mat_bolt">
    <color rgba="0.85 0.66 0.3 1"/>
  </material>
  <material name="mat_floor">
    <color rgba="0.55 0.53 0.5 1"/>
  </material>
  <material name="mat_frame">
    <color rgba="0.82 0.7 0.5 1"/>
  </material>
  <material name="mat_hinge">
    <color rgba="0.65 0.66 0.68 1"/>
  </material>
  <material name="mat_leaf">
    <color rgba="0.93 0.93 0.91 1"/>
  </material>
  <material name="mat_leaf_panel">
    <color rgba="0.856 0.856 0.837 1"/>
  </material>
  <material name="mat_op_glass_clear">
    <color rgba="0.85 0.92 0.95 0.25"/>
  </material>
  <material name="mat_seal">
    <color rgba="0.1 0.1 0.1 1"/>
  </material>
  <material name="mat_wall">
    <color rgba="0.78 0.76 0.7 1"/>
  </material>
  <material name="mat_wreath">
    <color rgba="0.12 0.3 0.12 1"/>
  </material>
  <material name="mat_wreath_hook">
    <color rgba="0.85 0.66 0.3 1"/>
  </material>
</robot>
