<?xml version="1.0" ?>
<robot xmlns:doorbench="https://github.com/adamraudonis/DoorBench/schema/urdf-ext" name="db0088_pivot_full">
  <link name="world_env">
    <visual name="floor_vis">
      <origin xyz="0 0 -0.05" rpy="0 0 0"/>
      <geometry>
        <box size="12 12 0.1"/>
      </geometry>
      <material name="mat_floor"/>
    </visual>
    <collision name="floor_col">
      <origin xyz="0 0 -0.05" rpy="0 0 0"/>
      <geometry>
        <box size="12 12 0.1"/>
      </geometry>
    </collision>
    <visual name="wall_left_vis">
      <origin xyz="-1.6505 -0.0575 1.656" rpy="0 0 0"/>
      <geometry>
        <box size="1.699 0.2 3.312"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_left_col">
      <origin xyz="-1.6505 -0.0575 1.656" rpy="0 0 0"/>
      <geometry>
        <box size="1.699 0.2 3.312"/>
      </geometry>
    </collision>
    <visual name="wall_right_vis">
      <origin xyz="1.6655 -0.0575 1.656" rpy="0 0 0"/>
      <geometry>
        <box size="1.669 0.2 3.312"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_right_col">
      <origin xyz="1.6655 -0.0575 1.656" rpy="0 0 0"/>
      <geometry>
        <box size="1.669 0.2 3.312"/>
      </geometry>
    </collision>
    <visual name="wall_header_vis">
      <origin xyz="0.015 -0.0575 3.0495" rpy="0 0 0"/>
      <geometry>
        <box size="1.632 0.2 0.525"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_header_col">
      <origin xyz="0.015 -0.0575 3.0495" rpy="0 0 0"/>
      <geometry>
        <box size="1.632 0.2 0.525"/>
      </geometry>
    </collision>
    <visual name="jamb_hinge_vis">
      <origin xyz="-0.7785 -0.0575 1.356" rpy="0 0 0"/>
      <geometry>
        <box size="0.045 0.2 2.712"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_hinge_col">
      <origin xyz="-0.7785 -0.0575 1.356" rpy="0 0 0"/>
      <geometry>
        <box size="0.045 0.2 2.712"/>
      </geometry>
    </collision>
    <visual name="jamb_strike_vis">
      <origin xyz="0.7785 -0.0575 1.356" rpy="0 0 0"/>
      <geometry>
        <box size="0.045 0.2 2.712"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_strike_col">
      <origin xyz="0.7785 -0.0575 1.356" rpy="0 0 0"/>
      <geometry>
        <box size="0.045 0.2 2.712"/>
      </geometry>
    </collision>
    <visual name="stud_strike_vis">
      <origin xyz="0.816 -0.0575 1.356" rpy="0 0 0"/>
      <geometry>
        <box size="0.03 0.2 2.712"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="stud_strike_col">
      <origin xyz="0.816 -0.0575 1.356" rpy="0 0 0"/>
      <geometry>
        <box size="0.03 0.2 2.712"/>
      </geometry>
    </collision>
    <visual name="jamb_head_vis">
      <origin xyz="0.015 -0.0575 2.7345" rpy="0 0 0"/>
      <geometry>
        <box size="1.632 0.2 0.045"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_head_col">
      <origin xyz="0.015 -0.0575 2.7345" rpy="0 0 0"/>
      <geometry>
        <box size="1.632 0.2 0.045"/>
      </geometry>
    </collision>
    <visual name="head_stud_vis">
      <origin xyz="0.015 -0.0575 2.772" rpy="0 0 0"/>
      <geometry>
        <box size="1.632 0.2 0.03"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="head_stud_col">
      <origin xyz="0.015 -0.0575 2.772" rpy="0 0 0"/>
      <geometry>
        <box size="1.632 0.2 0.03"/>
      </geometry>
    </collision>
    <visual name="floor_spring_cover_vis">
      <origin xyz="-0.636 0 0.002" rpy="0 0 0"/>
      <geometry>
        <box size="0.34 0.12 0.004"/>
      </geometry>
      <material name="mat_closer"/>
    </visual>
  </link>
  <link name="leaf">
    <inertial>
      <origin xyz="0.469585 0 1.351396" rpy="0 0 0"/>
      <mass value="113.1656"/>
      <inertia ixx="67.648444234" ixy="0" ixz="0.47222701" iyy="89.365912271" iyz="0" izz="21.794712357"/>
    </inertial>
    <visual name="leaf_slab_vis">
      <origin xyz="0.456 0 1.358" rpy="0 0 0"/>
      <geometry>
        <box size="1.5 0.045 2.7"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <collision name="leaf_slab_col">
      <origin xyz="0.456 0 1.358" rpy="0 0 0"/>
      <geometry>
        <box size="1.5 0.045 2.7"/>
      </geometry>
    </collision>
    <visual name="leaf_glass_0_vis">
      <origin xyz="0.936 0 1.682" rpy="0 0 0"/>
      <geometry>
        <box size="0.15 0.0466 1.08"/>
      </geometry>
      <material name="mat_glass"/>
    </visual>
    <visual name="pivot_bottom_vis">
      <origin xyz="0 0 0.003" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.014" length="0.008"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="pivot_top_vis">
      <origin xyz="0 0 2.712" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.014" length="0.008"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="leaf_pull_n_vis">
      <origin xyz="1.101 -0.0225 1.05" rpy="1.570796 0 0"/>
      <geometry>
        <mesh filename="../../hardware/pull_f8d79d6331.obj"/>
      </geometry>
      <material name="mat_op_stainless"/>
    </visual>
    <collision name="leaf_pull_col_n_col">
      <origin xyz="1.101 -0.0975 1.05" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.0125" length="0.26"/>
      </geometry>
    </collision>
    <visual name="leaf_pull_p_vis">
      <origin xyz="1.101 0.0225 1.05" rpy="-1.570796 0 0"/>
      <geometry>
        <mesh filename="../../hardware/pull_f8d79d6331.obj"/>
      </geometry>
      <material name="mat_op_stainless"/>
    </visual>
    <collision name="leaf_pull_col_p_col">
      <origin xyz="1.101 0.0975 1.05" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.0125" length="0.26"/>
      </geometry>
    </collision>
  </link>
  <joint name="leaf_hinge" type="revolute">
    <origin xyz="-0.456 0 0" rpy="0 0 0"/>
    <parent link="world_env"/>
    <child link="leaf"/>
    <axis xyz="0 0 1"/>
    <limit lower="0" upper="2.443461" effort="2000" velocity="10"/>
    <dynamics damping="10.468576" friction="1.553686"/>
    <doorbench:spring stiffness="47.663722" springref="-2.263357" note="tau = -stiffness*(q - springref); not native URDF"/>
    <doorbench:closer damping_closing="100" damping_opening="8" backcheck_angle="1.4" backcheck_damping="60"/>
  </joint>
  <material name="mat_closer">
    <color rgba="0.75 0.76 0.77 1"/>
  </material>
  <material name="mat_floor">
    <color rgba="0.55 0.53 0.5 1"/>
  </material>
  <material name="mat_frame">
    <color rgba="0.45 0.48 0.52 1"/>
  </material>
  <material name="mat_glass">
    <color rgba="0.85 0.92 0.95 0.25"/>
  </material>
  <material name="mat_hinge">
    <color rgba="0.65 0.66 0.68 1"/>
  </material>
  <material name="mat_leaf">
    <color rgba="0.239 0.158 0.108 1"/>
  </material>
  <material name="mat_op_stainless">
    <color rgba="0.75 0.76 0.77 1"/>
  </material>
  <material name="mat_wall">
    <color rgba="0.78 0.76 0.7 1"/>
  </material>
</robot>
