<?xml version="1.0" ?>
<robot xmlns:doorbench="https://github.com/adamraudonis/DoorBench/schema/urdf-ext" name="db0912_swing_single_minimal">
  <link name="world_env">
    <visual name="floor_vis">
      <origin xyz="0 0 -0.05" rpy="0 0 0"/>
      <geometry>
        <box size="12 12 0.1"/>
      </geometry>
      <material name="mat_floor"/>
    </visual>
    <collision name="floor_col">
      <origin xyz="0 0 -0.05" rpy="0 0 0"/>
      <geometry>
        <box size="12 12 0.1"/>
      </geometry>
    </collision>
    <visual name="wall_left_vis">
      <origin xyz="-1.52 -0.0475 1.3735" rpy="0 0 0"/>
      <geometry>
        <box size="1.96 0.115 2.747"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_left_col">
      <origin xyz="-1.52 -0.0475 1.3735" rpy="0 0 0"/>
      <geometry>
        <box size="1.96 0.115 2.747"/>
      </geometry>
    </collision>
    <visual name="wall_right_vis">
      <origin xyz="1.505 -0.0475 1.3735" rpy="0 0 0"/>
      <geometry>
        <box size="1.99 0.115 2.747"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_right_col">
      <origin xyz="1.505 -0.0475 1.3735" rpy="0 0 0"/>
      <geometry>
        <box size="1.99 0.115 2.747"/>
      </geometry>
    </collision>
    <visual name="wall_header_vis">
      <origin xyz="-0.015 -0.0475 2.487" rpy="0 0 0"/>
      <geometry>
        <box size="1.05 0.115 0.52"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_header_col">
      <origin xyz="-0.015 -0.0475 2.487" rpy="0 0 0"/>
      <geometry>
        <box size="1.05 0.115 0.52"/>
      </geometry>
    </collision>
    <visual name="jamb_hinge_vis">
      <origin xyz="0.485 -0.0475 1.0735" rpy="0 0 0"/>
      <geometry>
        <box size="0.05 0.115 2.147"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_hinge_col">
      <origin xyz="0.485 -0.0475 1.0735" rpy="0 0 0"/>
      <geometry>
        <box size="0.05 0.115 2.147"/>
      </geometry>
    </collision>
    <visual name="strike_1180_wall_n_vis">
      <origin xyz="-0.5 -0.05725 1.18" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.0955 0.031"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="strike_1180_wall_n_col">
      <origin xyz="-0.5 -0.05725 1.18" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.0955 0.031"/>
      </geometry>
    </collision>
    <visual name="strike_1180_wall_p_vis">
      <origin xyz="-0.475 0.0125 1.18" rpy="0 0 0"/>
      <geometry>
        <box size="0.03 0.006 0.031"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="strike_1180_wall_p_col">
      <origin xyz="-0.475 0.0125 1.18" rpy="0 0 0"/>
      <geometry>
        <box size="0.03 0.006 0.031"/>
      </geometry>
    </collision>
    <visual name="strike_1180_back_vis">
      <origin xyz="-0.5147 0 1.18" rpy="0 0 0"/>
      <geometry>
        <box size="0.0506 0.019 0.031"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="strike_1180_back_col">
      <origin xyz="-0.5147 0 1.18" rpy="0 0 0"/>
      <geometry>
        <box size="0.0506 0.019 0.031"/>
      </geometry>
    </collision>
    <visual name="jamb_strike_0_vis">
      <origin xyz="-0.5 -0.0475 0.58225" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.115 1.1645"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_strike_0_col">
      <origin xyz="-0.5 -0.0475 0.58225" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.115 1.1645"/>
      </geometry>
    </collision>
    <visual name="jamb_strike_1_vis">
      <origin xyz="-0.5 -0.0475 1.67125" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.115 0.9515"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_strike_1_col">
      <origin xyz="-0.5 -0.0475 1.67125" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.115 0.9515"/>
      </geometry>
    </collision>
    <visual name="jamb_head_vis">
      <origin xyz="-0.015 -0.0475 2.172" rpy="0 0 0"/>
      <geometry>
        <box size="1.05 0.115 0.05"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_head_col">
      <origin xyz="-0.015 -0.0475 2.172" rpy="0 0 0"/>
      <geometry>
        <box size="1.05 0.115 0.05"/>
      </geometry>
    </collision>
    <visual name="head_stud_vis">
      <origin xyz="-0.015 -0.0475 2.212" rpy="0 0 0"/>
      <geometry>
        <box size="1.05 0.115 0.03"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="head_stud_col">
      <origin xyz="-0.015 -0.0475 2.212" rpy="0 0 0"/>
      <geometry>
        <box size="1.05 0.115 0.03"/>
      </geometry>
    </collision>
    <visual name="stop_hinge_vis">
      <origin xyz="0.4545 -0.0195 1.0735" rpy="0 0 0"/>
      <geometry>
        <box size="0.011 0.032 2.147"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="stop_hinge_col">
      <origin xyz="0.4545 -0.0195 1.0735" rpy="0 0 0"/>
      <geometry>
        <box size="0.011 0.032 2.147"/>
      </geometry>
    </collision>
    <visual name="stop_strike_vis">
      <origin xyz="-0.4545 -0.0195 0.57625" rpy="0 0 0"/>
      <geometry>
        <box size="0.011 0.032 1.1525"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="stop_strike_col">
      <origin xyz="-0.4545 -0.0195 0.57625" rpy="0 0 0"/>
      <geometry>
        <box size="0.011 0.032 1.1525"/>
      </geometry>
    </collision>
    <visual name="stop_strike_1_vis">
      <origin xyz="-0.4545 -0.0195 1.67725" rpy="0 0 0"/>
      <geometry>
        <box size="0.011 0.032 0.9395"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="stop_strike_1_col">
      <origin xyz="-0.4545 -0.0195 1.67725" rpy="0 0 0"/>
      <geometry>
        <box size="0.011 0.032 0.9395"/>
      </geometry>
    </collision>
    <visual name="stop_head_vis">
      <origin xyz="0 -0.0195 2.1415" rpy="0 0 0"/>
      <geometry>
        <box size="0.92 0.032 0.011"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="stop_head_col">
      <origin xyz="0 -0.0195 2.1415" rpy="0 0 0"/>
      <geometry>
        <box size="0.92 0.032 0.011"/>
      </geometry>
    </collision>
  </link>
  <link name="leaf">
    <inertial>
      <origin xyz="-0.460281 -0.010035 1.075664" rpy="0 0 0"/>
      <mass value="62.759307"/>
      <inertia ixx="23.60391736" ixy="-0.000775107" ixz="-0.007343121" iyy="28.00444445" iyz="-0.000079272" izz="4.400917095"/>
    </inertial>
    <collision name="leaf_slab_col_col">
      <origin xyz="-0.457 -0.01 1.076" rpy="0 0 0"/>
      <geometry>
        <box size="0.914 0.006 2.134"/>
      </geometry>
    </collision>
    <visual name="leaf_rail_b_vis">
      <origin xyz="-0.457 -0.01 0.0315" rpy="0 0 0"/>
      <geometry>
        <box size="0.914 0.006 0.045"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <visual name="leaf_rail_t_vis">
      <origin xyz="-0.457 -0.01 2.1205" rpy="0 0 0"/>
      <geometry>
        <box size="0.914 0.006 0.045"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <visual name="leaf_stile_h_vis">
      <origin xyz="-0.0225 -0.01 1.076" rpy="0 0 0"/>
      <geometry>
        <box size="0.045 0.006 2.134"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <visual name="leaf_stile_l_vis">
      <origin xyz="-0.8915 -0.01 1.076" rpy="0 0 0"/>
      <geometry>
        <box size="0.045 0.006 2.134"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <visual name="leaf_mesh_vis">
      <origin xyz="-0.457 -0.01 1.076" rpy="0 0 0"/>
      <geometry>
        <box size="0.824 0.003 2.044"/>
      </geometry>
      <material name="mat_mesh_infill"/>
    </visual>
    <visual name="leaf_push_plate_n_vis">
      <origin xyz="-0.809 -0.0138 1.04" rpy="0 0 0"/>
      <geometry>
        <box size="0.1 0.0016 0.4"/>
      </geometry>
      <material name="mat_op_stainless"/>
    </visual>
  </link>
  <joint name="leaf_hinge" type="revolute">
    <origin xyz="0.457 0.01 0" rpy="0 0 0"/>
    <parent link="world_env"/>
    <child link="leaf"/>
    <axis xyz="0 0 -1"/>
    <limit lower="0" upper="1.745329" effort="2000" velocity="10"/>
    <dynamics damping="12.268966" friction="4.303505"/>
    <doorbench:spring stiffness="15.508058" springref="-1.827437" note="tau = -stiffness*(q - springref); not native URDF"/>
    <doorbench:closer damping_closing="90" damping_opening="12" backcheck_angle="1.22" backcheck_damping="60"/>
  </joint>
  <material name="mat_floor">
    <color rgba="0.55 0.53 0.5 1"/>
  </material>
  <material name="mat_frame">
    <color rgba="0.45 0.48 0.52 1"/>
  </material>
  <material name="mat_leaf">
    <color rgba="0.35 0.36 0.38 1"/>
  </material>
  <material name="mat_mesh_infill">
    <color rgba="0.6 0.62 0.64 0.55"/>
  </material>
  <material name="mat_op_stainless">
    <color rgba="0.75 0.76 0.77 1"/>
  </material>
  <material name="mat_wall">
    <color rgba="0.78 0.76 0.7 1"/>
  </material>
</robot>
