<?xml version="1.0" ?>
<robot xmlns:doorbench="https://github.com/adamraudonis/DoorBench/schema/urdf-ext" name="db0921_vault_full">
  <link name="world_env">
    <visual name="floor_vis">
      <origin xyz="0 0 -0.05" rpy="0 0 0"/>
      <geometry>
        <box size="12 12 0.1"/>
      </geometry>
      <material name="mat_floor"/>
    </visual>
    <collision name="floor_col">
      <origin xyz="0 0 -0.05" rpy="0 0 0"/>
      <geometry>
        <box size="12 12 0.1"/>
      </geometry>
    </collision>
    <visual name="wall_left_vis">
      <origin xyz="-1.568 -0.08 1.485" rpy="0 0 0"/>
      <geometry>
        <box size="1.864 0.35 2.97"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_left_col">
      <origin xyz="-1.568 -0.08 1.485" rpy="0 0 0"/>
      <geometry>
        <box size="1.864 0.35 2.97"/>
      </geometry>
    </collision>
    <visual name="wall_right_vis">
      <origin xyz="1.583 -0.08 1.485" rpy="0 0 0"/>
      <geometry>
        <box size="1.834 0.35 2.97"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_right_col">
      <origin xyz="1.583 -0.08 1.485" rpy="0 0 0"/>
      <geometry>
        <box size="1.834 0.35 2.97"/>
      </geometry>
    </collision>
    <visual name="wall_header_vis">
      <origin xyz="0.015 -0.08 2.645" rpy="0 0 0"/>
      <geometry>
        <box size="1.302 0.35 0.65"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_header_col">
      <origin xyz="0.015 -0.08 2.645" rpy="0 0 0"/>
      <geometry>
        <box size="1.302 0.35 0.65"/>
      </geometry>
    </collision>
    <visual name="jamb_hinge_vis">
      <origin xyz="-0.576 -0.08 1.085" rpy="0 0 0"/>
      <geometry>
        <box size="0.12 0.35 2.17"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_hinge_col">
      <origin xyz="-0.576 -0.08 1.085" rpy="0 0 0"/>
      <geometry>
        <box size="0.12 0.35 2.17"/>
      </geometry>
    </collision>
    <visual name="strike_181_wall_n_vis">
      <origin xyz="0.591 -0.1365 0.18125" rpy="0 0 0"/>
      <geometry>
        <box size="0.15 0.237 0.042"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="strike_181_wall_n_col">
      <origin xyz="0.591 -0.1365 0.18125" rpy="0 0 0"/>
      <geometry>
        <box size="0.15 0.237 0.042"/>
      </geometry>
    </collision>
    <visual name="strike_181_wall_p_vis">
      <origin xyz="0.591 0.0565 0.18125" rpy="0 0 0"/>
      <geometry>
        <box size="0.15 0.077 0.042"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="strike_181_wall_p_col">
      <origin xyz="0.591 0.0565 0.18125" rpy="0 0 0"/>
      <geometry>
        <box size="0.15 0.077 0.042"/>
      </geometry>
    </collision>
    <visual name="strike_181_back_vis">
      <origin xyz="0.63 0 0.18125" rpy="0 0 0"/>
      <geometry>
        <box size="0.072 0.036 0.042"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="strike_181_back_col">
      <origin xyz="0.63 0 0.18125" rpy="0 0 0"/>
      <geometry>
        <box size="0.072 0.036 0.042"/>
      </geometry>
    </collision>
    <visual name="strike_444_wall_n_vis">
      <origin xyz="0.591 -0.1365 0.44375" rpy="0 0 0"/>
      <geometry>
        <box size="0.15 0.237 0.042"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="strike_444_wall_n_col">
      <origin xyz="0.591 -0.1365 0.44375" rpy="0 0 0"/>
      <geometry>
        <box size="0.15 0.237 0.042"/>
      </geometry>
    </collision>
    <visual name="strike_444_wall_p_vis">
      <origin xyz="0.591 0.0565 0.44375" rpy="0 0 0"/>
      <geometry>
        <box size="0.15 0.077 0.042"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="strike_444_wall_p_col">
      <origin xyz="0.591 0.0565 0.44375" rpy="0 0 0"/>
      <geometry>
        <box size="0.15 0.077 0.042"/>
      </geometry>
    </collision>
    <visual name="strike_444_back_vis">
      <origin xyz="0.63 0 0.44375" rpy="0 0 0"/>
      <geometry>
        <box size="0.072 0.036 0.042"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="strike_444_back_col">
      <origin xyz="0.63 0 0.44375" rpy="0 0 0"/>
      <geometry>
        <box size="0.072 0.036 0.042"/>
      </geometry>
    </collision>
    <visual name="strike_706_wall_n_vis">
      <origin xyz="0.591 -0.1365 0.70625" rpy="0 0 0"/>
      <geometry>
        <box size="0.15 0.237 0.042"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="strike_706_wall_n_col">
      <origin xyz="0.591 -0.1365 0.70625" rpy="0 0 0"/>
      <geometry>
        <box size="0.15 0.237 0.042"/>
      </geometry>
    </collision>
    <visual name="strike_706_wall_p_vis">
      <origin xyz="0.591 0.0565 0.70625" rpy="0 0 0"/>
      <geometry>
        <box size="0.15 0.077 0.042"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="strike_706_wall_p_col">
      <origin xyz="0.591 0.0565 0.70625" rpy="0 0 0"/>
      <geometry>
        <box size="0.15 0.077 0.042"/>
      </geometry>
    </collision>
    <visual name="strike_706_back_vis">
      <origin xyz="0.63 0 0.70625" rpy="0 0 0"/>
      <geometry>
        <box size="0.072 0.036 0.042"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="strike_706_back_col">
      <origin xyz="0.63 0 0.70625" rpy="0 0 0"/>
      <geometry>
        <box size="0.072 0.036 0.042"/>
      </geometry>
    </collision>
    <visual name="strike_969_wall_n_vis">
      <origin xyz="0.591 -0.1365 0.96875" rpy="0 0 0"/>
      <geometry>
        <box size="0.15 0.237 0.042"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="strike_969_wall_n_col">
      <origin xyz="0.591 -0.1365 0.96875" rpy="0 0 0"/>
      <geometry>
        <box size="0.15 0.237 0.042"/>
      </geometry>
    </collision>
    <visual name="strike_969_wall_p_vis">
      <origin xyz="0.591 0.0565 0.96875" rpy="0 0 0"/>
      <geometry>
        <box size="0.15 0.077 0.042"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="strike_969_wall_p_col">
      <origin xyz="0.591 0.0565 0.96875" rpy="0 0 0"/>
      <geometry>
        <box size="0.15 0.077 0.042"/>
      </geometry>
    </collision>
    <visual name="strike_969_back_vis">
      <origin xyz="0.63 0 0.96875" rpy="0 0 0"/>
      <geometry>
        <box size="0.072 0.036 0.042"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="strike_969_back_col">
      <origin xyz="0.63 0 0.96875" rpy="0 0 0"/>
      <geometry>
        <box size="0.072 0.036 0.042"/>
      </geometry>
    </collision>
    <visual name="strike_1231_wall_n_vis">
      <origin xyz="0.591 -0.1365 1.23125" rpy="0 0 0"/>
      <geometry>
        <box size="0.15 0.237 0.042"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="strike_1231_wall_n_col">
      <origin xyz="0.591 -0.1365 1.23125" rpy="0 0 0"/>
      <geometry>
        <box size="0.15 0.237 0.042"/>
      </geometry>
    </collision>
    <visual name="strike_1231_wall_p_vis">
      <origin xyz="0.591 0.0565 1.23125" rpy="0 0 0"/>
      <geometry>
        <box size="0.15 0.077 0.042"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="strike_1231_wall_p_col">
      <origin xyz="0.591 0.0565 1.23125" rpy="0 0 0"/>
      <geometry>
        <box size="0.15 0.077 0.042"/>
      </geometry>
    </collision>
    <visual name="strike_1231_back_vis">
      <origin xyz="0.63 0 1.23125" rpy="0 0 0"/>
      <geometry>
        <box size="0.072 0.036 0.042"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="strike_1231_back_col">
      <origin xyz="0.63 0 1.23125" rpy="0 0 0"/>
      <geometry>
        <box size="0.072 0.036 0.042"/>
      </geometry>
    </collision>
    <visual name="strike_1494_wall_n_vis">
      <origin xyz="0.591 -0.1365 1.49375" rpy="0 0 0"/>
      <geometry>
        <box size="0.15 0.237 0.042"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="strike_1494_wall_n_col">
      <origin xyz="0.591 -0.1365 1.49375" rpy="0 0 0"/>
      <geometry>
        <box size="0.15 0.237 0.042"/>
      </geometry>
    </collision>
    <visual name="strike_1494_wall_p_vis">
      <origin xyz="0.591 0.0565 1.49375" rpy="0 0 0"/>
      <geometry>
        <box size="0.15 0.077 0.042"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="strike_1494_wall_p_col">
      <origin xyz="0.591 0.0565 1.49375" rpy="0 0 0"/>
      <geometry>
        <box size="0.15 0.077 0.042"/>
      </geometry>
    </collision>
    <visual name="strike_1494_back_vis">
      <origin xyz="0.63 0 1.49375" rpy="0 0 0"/>
      <geometry>
        <box size="0.072 0.036 0.042"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="strike_1494_back_col">
      <origin xyz="0.63 0 1.49375" rpy="0 0 0"/>
      <geometry>
        <box size="0.072 0.036 0.042"/>
      </geometry>
    </collision>
    <visual name="strike_1756_wall_n_vis">
      <origin xyz="0.591 -0.1365 1.75625" rpy="0 0 0"/>
      <geometry>
        <box size="0.15 0.237 0.042"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="strike_1756_wall_n_col">
      <origin xyz="0.591 -0.1365 1.75625" rpy="0 0 0"/>
      <geometry>
        <box size="0.15 0.237 0.042"/>
      </geometry>
    </collision>
    <visual name="strike_1756_wall_p_vis">
      <origin xyz="0.591 0.0565 1.75625" rpy="0 0 0"/>
      <geometry>
        <box size="0.15 0.077 0.042"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="strike_1756_wall_p_col">
      <origin xyz="0.591 0.0565 1.75625" rpy="0 0 0"/>
      <geometry>
        <box size="0.15 0.077 0.042"/>
      </geometry>
    </collision>
    <visual name="strike_1756_back_vis">
      <origin xyz="0.63 0 1.75625" rpy="0 0 0"/>
      <geometry>
        <box size="0.072 0.036 0.042"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="strike_1756_back_col">
      <origin xyz="0.63 0 1.75625" rpy="0 0 0"/>
      <geometry>
        <box size="0.072 0.036 0.042"/>
      </geometry>
    </collision>
    <visual name="strike_2019_wall_n_vis">
      <origin xyz="0.591 -0.1365 2.01875" rpy="0 0 0"/>
      <geometry>
        <box size="0.15 0.237 0.042"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="strike_2019_wall_n_col">
      <origin xyz="0.591 -0.1365 2.01875" rpy="0 0 0"/>
      <geometry>
        <box size="0.15 0.237 0.042"/>
      </geometry>
    </collision>
    <visual name="strike_2019_wall_p_vis">
      <origin xyz="0.591 0.0565 2.01875" rpy="0 0 0"/>
      <geometry>
        <box size="0.15 0.077 0.042"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="strike_2019_wall_p_col">
      <origin xyz="0.591 0.0565 2.01875" rpy="0 0 0"/>
      <geometry>
        <box size="0.15 0.077 0.042"/>
      </geometry>
    </collision>
    <visual name="strike_2019_back_vis">
      <origin xyz="0.63 0 2.01875" rpy="0 0 0"/>
      <geometry>
        <box size="0.072 0.036 0.042"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="strike_2019_back_col">
      <origin xyz="0.63 0 2.01875" rpy="0 0 0"/>
      <geometry>
        <box size="0.072 0.036 0.042"/>
      </geometry>
    </collision>
    <visual name="jamb_strike_0_vis">
      <origin xyz="0.591 -0.08 0.080125" rpy="0 0 0"/>
      <geometry>
        <box size="0.15 0.35 0.16025"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_strike_0_col">
      <origin xyz="0.591 -0.08 0.080125" rpy="0 0 0"/>
      <geometry>
        <box size="0.15 0.35 0.16025"/>
      </geometry>
    </collision>
    <visual name="jamb_strike_1_vis">
      <origin xyz="0.591 -0.08 0.3125" rpy="0 0 0"/>
      <geometry>
        <box size="0.15 0.35 0.2205"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_strike_1_col">
      <origin xyz="0.591 -0.08 0.3125" rpy="0 0 0"/>
      <geometry>
        <box size="0.15 0.35 0.2205"/>
      </geometry>
    </collision>
    <visual name="jamb_strike_2_vis">
      <origin xyz="0.591 -0.08 0.575" rpy="0 0 0"/>
      <geometry>
        <box size="0.15 0.35 0.2205"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_strike_2_col">
      <origin xyz="0.591 -0.08 0.575" rpy="0 0 0"/>
      <geometry>
        <box size="0.15 0.35 0.2205"/>
      </geometry>
    </collision>
    <visual name="jamb_strike_3_vis">
      <origin xyz="0.591 -0.08 0.8375" rpy="0 0 0"/>
      <geometry>
        <box size="0.15 0.35 0.2205"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_strike_3_col">
      <origin xyz="0.591 -0.08 0.8375" rpy="0 0 0"/>
      <geometry>
        <box size="0.15 0.35 0.2205"/>
      </geometry>
    </collision>
    <visual name="jamb_strike_4_vis">
      <origin xyz="0.591 -0.08 1.1" rpy="0 0 0"/>
      <geometry>
        <box size="0.15 0.35 0.2205"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_strike_4_col">
      <origin xyz="0.591 -0.08 1.1" rpy="0 0 0"/>
      <geometry>
        <box size="0.15 0.35 0.2205"/>
      </geometry>
    </collision>
    <visual name="jamb_strike_5_vis">
      <origin xyz="0.591 -0.08 1.3625" rpy="0 0 0"/>
      <geometry>
        <box size="0.15 0.35 0.2205"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_strike_5_col">
      <origin xyz="0.591 -0.08 1.3625" rpy="0 0 0"/>
      <geometry>
        <box size="0.15 0.35 0.2205"/>
      </geometry>
    </collision>
    <visual name="jamb_strike_6_vis">
      <origin xyz="0.591 -0.08 1.625" rpy="0 0 0"/>
      <geometry>
        <box size="0.15 0.35 0.2205"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_strike_6_col">
      <origin xyz="0.591 -0.08 1.625" rpy="0 0 0"/>
      <geometry>
        <box size="0.15 0.35 0.2205"/>
      </geometry>
    </collision>
    <visual name="jamb_strike_7_vis">
      <origin xyz="0.591 -0.08 1.8875" rpy="0 0 0"/>
      <geometry>
        <box size="0.15 0.35 0.2205"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_strike_7_col">
      <origin xyz="0.591 -0.08 1.8875" rpy="0 0 0"/>
      <geometry>
        <box size="0.15 0.35 0.2205"/>
      </geometry>
    </collision>
    <visual name="jamb_strike_8_vis">
      <origin xyz="0.591 -0.08 2.104875" rpy="0 0 0"/>
      <geometry>
        <box size="0.15 0.35 0.13025"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_strike_8_col">
      <origin xyz="0.591 -0.08 2.104875" rpy="0 0 0"/>
      <geometry>
        <box size="0.15 0.35 0.13025"/>
      </geometry>
    </collision>
    <visual name="jamb_head_vis">
      <origin xyz="0.015 -0.08 2.23" rpy="0 0 0"/>
      <geometry>
        <box size="1.302 0.35 0.12"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_head_col">
      <origin xyz="0.015 -0.08 2.23" rpy="0 0 0"/>
      <geometry>
        <box size="1.302 0.35 0.12"/>
      </geometry>
    </collision>
    <visual name="head_stud_vis">
      <origin xyz="0.015 -0.08 2.305" rpy="0 0 0"/>
      <geometry>
        <box size="1.302 0.35 0.03"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="head_stud_col">
      <origin xyz="0.015 -0.08 2.305" rpy="0 0 0"/>
      <geometry>
        <box size="1.302 0.35 0.03"/>
      </geometry>
    </collision>
    <visual name="stop_hinge_vis">
      <origin xyz="-0.5105 -0.0915 1.085" rpy="0 0 0"/>
      <geometry>
        <box size="0.011 0.032 2.17"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="stop_hinge_col">
      <origin xyz="-0.5105 -0.0915 1.085" rpy="0 0 0"/>
      <geometry>
        <box size="0.011 0.032 2.17"/>
      </geometry>
    </collision>
    <visual name="stop_strike_vis">
      <origin xyz="0.5105 -0.0915 1.085" rpy="0 0 0"/>
      <geometry>
        <box size="0.011 0.032 2.17"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="stop_strike_col">
      <origin xyz="0.5105 -0.0915 1.085" rpy="0 0 0"/>
      <geometry>
        <box size="0.011 0.032 2.17"/>
      </geometry>
    </collision>
    <visual name="stop_head_vis">
      <origin xyz="0 -0.0915 2.1645" rpy="0 0 0"/>
      <geometry>
        <box size="1.032 0.032 0.011"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="stop_head_col">
      <origin xyz="0 -0.0915 2.1645" rpy="0 0 0"/>
      <geometry>
        <box size="1.032 0.032 0.011"/>
      </geometry>
    </collision>
    <visual name="sill_step_vis">
      <origin xyz="0 0 0.02" rpy="0 0 0"/>
      <geometry>
        <box size="1.272 0.35 0.04"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="sill_step_col">
      <origin xyz="0 0 0.02" rpy="0 0 0"/>
      <geometry>
        <box size="1.272 0.35 0.04"/>
      </geometry>
    </collision>
  </link>
  <link name="leaf">
    <inertial>
      <origin xyz="0.482244 -0.134888 1.1" rpy="0 0 0"/>
      <mass value="1140.252034"/>
      <inertia ixx="431.017927857" ixy="2.461591856" ixz="0" iyy="528.075468537" iyz="0" izz="102.617180723"/>
    </inertial>
    <visual name="leaf_slab_vis">
      <origin xyz="0.5 -0.14 1.1" rpy="0 0 0"/>
      <geometry>
        <box size="1 0.15 2.1"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <collision name="leaf_slab_col">
      <origin xyz="0.5 -0.14 1.1" rpy="0 0 0"/>
      <geometry>
        <box size="1 0.15 2.1"/>
      </geometry>
    </collision>
    <visual name="hinge_0_vis">
      <origin xyz="0 0 0.35" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.04" length="0.24"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="hinge_0_arm_vis">
      <origin xyz="0.11 -0.025 0.35" rpy="0 0 0"/>
      <geometry>
        <box size="0.22 0.08 0.1"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="hinge_1_vis">
      <origin xyz="0 0 1.85" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.04" length="0.24"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="hinge_1_arm_vis">
      <origin xyz="0.11 -0.025 1.85" rpy="0 0 0"/>
      <geometry>
        <box size="0.22 0.08 0.1"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
  </link>
  <link name="wheel">
    <inertial>
      <origin xyz="0 -0.145704 0" rpy="0 0 0"/>
      <mass value="3.912072"/>
      <inertia ixx="0.063889637" ixy="0" ixz="0" iyy="0.115747136" iyz="0" izz="0.063889637"/>
    </inertial>
    <visual name="wheel_spindle_vis">
      <origin xyz="0 0 0" rpy="-1.570796 0 0"/>
      <geometry>
        <cylinder radius="0.006" length="0.148"/>
      </geometry>
      <material name="mat_op_stainless"/>
    </visual>
    <visual name="wheel_wheel_n_vis">
      <origin xyz="0 -0.075 0" rpy="1.570796 0 0"/>
      <geometry>
        <mesh filename="../../hardware/wheel_3a0bfbe305.obj"/>
      </geometry>
      <material name="mat_op_stainless"/>
    </visual>
    <visual name="wheel_wheel_col_0_n_vis">
      <origin xyz="0.2 -0.155 0" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.015"/>
      </geometry>
      <material name="mat_op_stainless"/>
    </visual>
    <collision name="wheel_wheel_col_0_n_col">
      <origin xyz="0.2 -0.155 0" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.015"/>
      </geometry>
    </collision>
    <visual name="wheel_wheel_col_1_n_vis">
      <origin xyz="0.141421 -0.155 0.141421" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.015"/>
      </geometry>
      <material name="mat_op_stainless"/>
    </visual>
    <collision name="wheel_wheel_col_1_n_col">
      <origin xyz="0.141421 -0.155 0.141421" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.015"/>
      </geometry>
    </collision>
    <visual name="wheel_wheel_col_2_n_vis">
      <origin xyz="0 -0.155 0.2" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.015"/>
      </geometry>
      <material name="mat_op_stainless"/>
    </visual>
    <collision name="wheel_wheel_col_2_n_col">
      <origin xyz="0 -0.155 0.2" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.015"/>
      </geometry>
    </collision>
    <visual name="wheel_wheel_col_3_n_vis">
      <origin xyz="-0.141421 -0.155 0.141421" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.015"/>
      </geometry>
      <material name="mat_op_stainless"/>
    </visual>
    <collision name="wheel_wheel_col_3_n_col">
      <origin xyz="-0.141421 -0.155 0.141421" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.015"/>
      </geometry>
    </collision>
    <visual name="wheel_wheel_col_4_n_vis">
      <origin xyz="-0.2 -0.155 0" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.015"/>
      </geometry>
      <material name="mat_op_stainless"/>
    </visual>
    <collision name="wheel_wheel_col_4_n_col">
      <origin xyz="-0.2 -0.155 0" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.015"/>
      </geometry>
    </collision>
    <visual name="wheel_wheel_col_5_n_vis">
      <origin xyz="-0.141421 -0.155 -0.141421" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.015"/>
      </geometry>
      <material name="mat_op_stainless"/>
    </visual>
    <collision name="wheel_wheel_col_5_n_col">
      <origin xyz="-0.141421 -0.155 -0.141421" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.015"/>
      </geometry>
    </collision>
    <visual name="wheel_wheel_col_6_n_vis">
      <origin xyz="0 -0.155 -0.2" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.015"/>
      </geometry>
      <material name="mat_op_stainless"/>
    </visual>
    <collision name="wheel_wheel_col_6_n_col">
      <origin xyz="0 -0.155 -0.2" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.015"/>
      </geometry>
    </collision>
    <visual name="wheel_wheel_col_7_n_vis">
      <origin xyz="0.141421 -0.155 -0.141421" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.015"/>
      </geometry>
      <material name="mat_op_stainless"/>
    </visual>
    <collision name="wheel_wheel_col_7_n_col">
      <origin xyz="0.141421 -0.155 -0.141421" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.015"/>
      </geometry>
    </collision>
  </link>
  <link name="bolt_0">
    <inertial>
      <origin xyz="-0.004 0 0" rpy="0 0 0"/>
      <mass value="0.892286"/>
      <inertia ixx="0.000110765" ixy="0" ixz="0" iyy="0.001553238" iyz="0" izz="0.001553238"/>
    </inertial>
    <visual name="bolt_0_geom_vis">
      <origin xyz="-0.004 0 0" rpy="0 1.570796 0"/>
      <geometry>
        <cylinder radius="0.016" length="0.12"/>
      </geometry>
      <material name="mat_vault_bolt"/>
    </visual>
    <collision name="bolt_0_geom_col">
      <origin xyz="-0.004 0 0" rpy="0 1.570796 0"/>
      <geometry>
        <cylinder radius="0.016" length="0.12"/>
      </geometry>
    </collision>
  </link>
  <link name="bolt_1">
    <inertial>
      <origin xyz="-0.004 0 0" rpy="0 0 0"/>
      <mass value="0.892286"/>
      <inertia ixx="0.000110765" ixy="0" ixz="0" iyy="0.001553238" iyz="0" izz="0.001553238"/>
    </inertial>
    <visual name="bolt_1_geom_vis">
      <origin xyz="-0.004 0 0" rpy="0 1.570796 0"/>
      <geometry>
        <cylinder radius="0.016" length="0.12"/>
      </geometry>
      <material name="mat_vault_bolt"/>
    </visual>
    <collision name="bolt_1_geom_col">
      <origin xyz="-0.004 0 0" rpy="0 1.570796 0"/>
      <geometry>
        <cylinder radius="0.016" length="0.12"/>
      </geometry>
    </collision>
  </link>
  <link name="bolt_2">
    <inertial>
      <origin xyz="-0.004 0 0" rpy="0 0 0"/>
      <mass value="0.892286"/>
      <inertia ixx="0.000110765" ixy="0" ixz="0" iyy="0.001553238" iyz="0" izz="0.001553238"/>
    </inertial>
    <visual name="bolt_2_geom_vis">
      <origin xyz="-0.004 0 0" rpy="0 1.570796 0"/>
      <geometry>
        <cylinder radius="0.016" length="0.12"/>
      </geometry>
      <material name="mat_vault_bolt"/>
    </visual>
    <collision name="bolt_2_geom_col">
      <origin xyz="-0.004 0 0" rpy="0 1.570796 0"/>
      <geometry>
        <cylinder radius="0.016" length="0.12"/>
      </geometry>
    </collision>
  </link>
  <link name="bolt_3">
    <inertial>
      <origin xyz="-0.004 0 0" rpy="0 0 0"/>
      <mass value="0.892286"/>
      <inertia ixx="0.000110765" ixy="0" ixz="0" iyy="0.001553238" iyz="0" izz="0.001553238"/>
    </inertial>
    <visual name="bolt_3_geom_vis">
      <origin xyz="-0.004 0 0" rpy="0 1.570796 0"/>
      <geometry>
        <cylinder radius="0.016" length="0.12"/>
      </geometry>
      <material name="mat_vault_bolt"/>
    </visual>
    <collision name="bolt_3_geom_col">
      <origin xyz="-0.004 0 0" rpy="0 1.570796 0"/>
      <geometry>
        <cylinder radius="0.016" length="0.12"/>
      </geometry>
    </collision>
  </link>
  <link name="bolt_4">
    <inertial>
      <origin xyz="-0.004 0 0" rpy="0 0 0"/>
      <mass value="0.892286"/>
      <inertia ixx="0.000110765" ixy="0" ixz="0" iyy="0.001553238" iyz="0" izz="0.001553238"/>
    </inertial>
    <visual name="bolt_4_geom_vis">
      <origin xyz="-0.004 0 0" rpy="0 1.570796 0"/>
      <geometry>
        <cylinder radius="0.016" length="0.12"/>
      </geometry>
      <material name="mat_vault_bolt"/>
    </visual>
    <collision name="bolt_4_geom_col">
      <origin xyz="-0.004 0 0" rpy="0 1.570796 0"/>
      <geometry>
        <cylinder radius="0.016" length="0.12"/>
      </geometry>
    </collision>
  </link>
  <link name="bolt_5">
    <inertial>
      <origin xyz="-0.004 0 0" rpy="0 0 0"/>
      <mass value="0.892286"/>
      <inertia ixx="0.000110765" ixy="0" ixz="0" iyy="0.001553238" iyz="0" izz="0.001553238"/>
    </inertial>
    <visual name="bolt_5_geom_vis">
      <origin xyz="-0.004 0 0" rpy="0 1.570796 0"/>
      <geometry>
        <cylinder radius="0.016" length="0.12"/>
      </geometry>
      <material name="mat_vault_bolt"/>
    </visual>
    <collision name="bolt_5_geom_col">
      <origin xyz="-0.004 0 0" rpy="0 1.570796 0"/>
      <geometry>
        <cylinder radius="0.016" length="0.12"/>
      </geometry>
    </collision>
  </link>
  <link name="bolt_6">
    <inertial>
      <origin xyz="-0.004 0 0" rpy="0 0 0"/>
      <mass value="0.892286"/>
      <inertia ixx="0.000110765" ixy="0" ixz="0" iyy="0.001553238" iyz="0" izz="0.001553238"/>
    </inertial>
    <visual name="bolt_6_geom_vis">
      <origin xyz="-0.004 0 0" rpy="0 1.570796 0"/>
      <geometry>
        <cylinder radius="0.016" length="0.12"/>
      </geometry>
      <material name="mat_vault_bolt"/>
    </visual>
    <collision name="bolt_6_geom_col">
      <origin xyz="-0.004 0 0" rpy="0 1.570796 0"/>
      <geometry>
        <cylinder radius="0.016" length="0.12"/>
      </geometry>
    </collision>
  </link>
  <link name="bolt_7">
    <inertial>
      <origin xyz="-0.004 0 0" rpy="0 0 0"/>
      <mass value="0.892286"/>
      <inertia ixx="0.000110765" ixy="0" ixz="0" iyy="0.001553238" iyz="0" izz="0.001553238"/>
    </inertial>
    <visual name="bolt_7_geom_vis">
      <origin xyz="-0.004 0 0" rpy="0 1.570796 0"/>
      <geometry>
        <cylinder radius="0.016" length="0.12"/>
      </geometry>
      <material name="mat_vault_bolt"/>
    </visual>
    <collision name="bolt_7_geom_col">
      <origin xyz="-0.004 0 0" rpy="0 1.570796 0"/>
      <geometry>
        <cylinder radius="0.016" length="0.12"/>
      </geometry>
    </collision>
  </link>
  <joint name="leaf_hinge" type="revolute">
    <origin xyz="-0.51 0.14 0" rpy="0 0 0"/>
    <parent link="world_env"/>
    <child link="leaf"/>
    <axis xyz="0 0 1"/>
    <limit lower="0" upper="1.745329" effort="2000" velocity="10"/>
    <dynamics damping="0.42926" friction="38.933666"/>
    <doorbench:closer damping_closing="0" damping_opening="0" backcheck_angle="0" backcheck_damping="0"/>
  </joint>
  <joint name="wheel_hinge" type="revolute">
    <origin xyz="0.55 -0.14 1.05" rpy="0 0 0"/>
    <parent link="leaf"/>
    <child link="wheel"/>
    <axis xyz="0 -1 0"/>
    <limit lower="0" upper="6.2832" effort="2000" velocity="10"/>
    <dynamics damping="0.02" friction="5"/>
  </joint>
  <joint name="bolt_0_slide" type="prismatic">
    <origin xyz="1 -0.14 0.18125" rpy="0 0 0"/>
    <parent link="leaf"/>
    <child link="bolt_0"/>
    <axis xyz="-1 0 0"/>
    <limit lower="0" upper="0.072" effort="5000" velocity="10"/>
    <dynamics damping="20" friction="25"/>
    <mimic joint="wheel_hinge" multiplier="0.011459" offset="0"/>
  </joint>
  <joint name="bolt_1_slide" type="prismatic">
    <origin xyz="1 -0.14 0.44375" rpy="0 0 0"/>
    <parent link="leaf"/>
    <child link="bolt_1"/>
    <axis xyz="-1 0 0"/>
    <limit lower="0" upper="0.072" effort="5000" velocity="10"/>
    <dynamics damping="20" friction="25"/>
    <mimic joint="wheel_hinge" multiplier="0.011459" offset="0"/>
  </joint>
  <joint name="bolt_2_slide" type="prismatic">
    <origin xyz="1 -0.14 0.70625" rpy="0 0 0"/>
    <parent link="leaf"/>
    <child link="bolt_2"/>
    <axis xyz="-1 0 0"/>
    <limit lower="0" upper="0.072" effort="5000" velocity="10"/>
    <dynamics damping="20" friction="25"/>
    <mimic joint="wheel_hinge" multiplier="0.011459" offset="0"/>
  </joint>
  <joint name="bolt_3_slide" type="prismatic">
    <origin xyz="1 -0.14 0.96875" rpy="0 0 0"/>
    <parent link="leaf"/>
    <child link="bolt_3"/>
    <axis xyz="-1 0 0"/>
    <limit lower="0" upper="0.072" effort="5000" velocity="10"/>
    <dynamics damping="20" friction="25"/>
    <mimic joint="wheel_hinge" multiplier="0.011459" offset="0"/>
  </joint>
  <joint name="bolt_4_slide" type="prismatic">
    <origin xyz="1 -0.14 1.23125" rpy="0 0 0"/>
    <parent link="leaf"/>
    <child link="bolt_4"/>
    <axis xyz="-1 0 0"/>
    <limit lower="0" upper="0.072" effort="5000" velocity="10"/>
    <dynamics damping="20" friction="25"/>
    <mimic joint="wheel_hinge" multiplier="0.011459" offset="0"/>
  </joint>
  <joint name="bolt_5_slide" type="prismatic">
    <origin xyz="1 -0.14 1.49375" rpy="0 0 0"/>
    <parent link="leaf"/>
    <child link="bolt_5"/>
    <axis xyz="-1 0 0"/>
    <limit lower="0" upper="0.072" effort="5000" velocity="10"/>
    <dynamics damping="20" friction="25"/>
    <mimic joint="wheel_hinge" multiplier="0.011459" offset="0"/>
  </joint>
  <joint name="bolt_6_slide" type="prismatic">
    <origin xyz="1 -0.14 1.75625" rpy="0 0 0"/>
    <parent link="leaf"/>
    <child link="bolt_6"/>
    <axis xyz="-1 0 0"/>
    <limit lower="0" upper="0.072" effort="5000" velocity="10"/>
    <dynamics damping="20" friction="25"/>
    <mimic joint="wheel_hinge" multiplier="0.011459" offset="0"/>
  </joint>
  <joint name="bolt_7_slide" type="prismatic">
    <origin xyz="1 -0.14 2.01875" rpy="0 0 0"/>
    <parent link="leaf"/>
    <child link="bolt_7"/>
    <axis xyz="-1 0 0"/>
    <limit lower="0" upper="0.072" effort="5000" velocity="10"/>
    <dynamics damping="20" friction="25"/>
    <mimic joint="wheel_hinge" multiplier="0.011459" offset="0"/>
  </joint>
  <material name="mat_floor">
    <color rgba="0.55 0.53 0.5 1"/>
  </material>
  <material name="mat_frame">
    <color rgba="0.55 0.56 0.58 1"/>
  </material>
  <material name="mat_hinge">
    <color rgba="0.55 0.56 0.58 1"/>
  </material>
  <material name="mat_leaf">
    <color rgba="0.2 0.21 0.23 1"/>
  </material>
  <material name="mat_op_stainless">
    <color rgba="0.75 0.76 0.77 1"/>
  </material>
  <material name="mat_vault_bolt">
    <color rgba="0.75 0.76 0.77 1"/>
  </material>
  <material name="mat_wall">
    <color rgba="0.78 0.76 0.7 1"/>
  </material>
</robot>
