<?xml version="1.0" ?>
<robot xmlns:doorbench="https://github.com/adamraudonis/DoorBench/schema/urdf-ext" name="db0788_swing_double_minimal">
  <link name="world_env">
    <visual name="floor_vis">
      <origin xyz="0 0 -0.05" rpy="0 0 0"/>
      <geometry>
        <box size="12 12 0.1"/>
      </geometry>
      <material name="mat_floor"/>
    </visual>
    <collision name="floor_col">
      <origin xyz="0 0 -0.05" rpy="0 0 0"/>
      <geometry>
        <box size="12 12 0.1"/>
      </geometry>
    </collision>
    <visual name="wall_left_vis">
      <origin xyz="-1.73225 0.0305 1.35" rpy="0 0 0"/>
      <geometry>
        <box size="1.5355 0.145 2.7"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_left_col">
      <origin xyz="-1.73225 0.0305 1.35" rpy="0 0 0"/>
      <geometry>
        <box size="1.5355 0.145 2.7"/>
      </geometry>
    </collision>
    <visual name="wall_right_vis">
      <origin xyz="1.73225 0.0305 1.35" rpy="0 0 0"/>
      <geometry>
        <box size="1.5355 0.145 2.7"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_right_col">
      <origin xyz="1.73225 0.0305 1.35" rpy="0 0 0"/>
      <geometry>
        <box size="1.5355 0.145 2.7"/>
      </geometry>
    </collision>
    <visual name="wall_header_vis">
      <origin xyz="0 0.0305 2.4015" rpy="0 0 0"/>
      <geometry>
        <box size="1.929 0.145 0.597"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_header_col">
      <origin xyz="0 0.0305 2.4015" rpy="0 0 0"/>
      <geometry>
        <box size="1.929 0.145 0.597"/>
      </geometry>
    </collision>
    <visual name="jamb_l_vis">
      <origin xyz="-0.914 0.0305 1.0065" rpy="0 0 0"/>
      <geometry>
        <box size="0.019 0.145 2.013"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_l_col">
      <origin xyz="-0.914 0.0305 1.0065" rpy="0 0 0"/>
      <geometry>
        <box size="0.019 0.145 2.013"/>
      </geometry>
    </collision>
    <visual name="jamb_r_vis">
      <origin xyz="0.914 0.0305 1.0065" rpy="0 0 0"/>
      <geometry>
        <box size="0.019 0.145 2.013"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_r_col">
      <origin xyz="0.914 0.0305 1.0065" rpy="0 0 0"/>
      <geometry>
        <box size="0.019 0.145 2.013"/>
      </geometry>
    </collision>
    <visual name="jamb_head_vis">
      <origin xyz="0 0.0305 2.0225" rpy="0 0 0"/>
      <geometry>
        <box size="1.847 0.145 0.019"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_head_col">
      <origin xyz="0 0.0305 2.0225" rpy="0 0 0"/>
      <geometry>
        <box size="1.847 0.145 0.019"/>
      </geometry>
    </collision>
    <visual name="head_stud_vis">
      <origin xyz="0 0.0305 2.047" rpy="0 0 0"/>
      <geometry>
        <box size="1.847 0.145 0.03"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="head_stud_col">
      <origin xyz="0 0.0305 2.047" rpy="0 0 0"/>
      <geometry>
        <box size="1.847 0.145 0.03"/>
      </geometry>
    </collision>
    <visual name="threshold_vis">
      <origin xyz="0 0.0305 0.0065" rpy="0 0 0"/>
      <geometry>
        <box size="1.847 0.145 0.013"/>
      </geometry>
      <material name="mat_threshold"/>
    </visual>
    <collision name="threshold_col">
      <origin xyz="0 0.0305 0.0065" rpy="0 0 0"/>
      <geometry>
        <box size="1.847 0.145 0.013"/>
      </geometry>
    </collision>
  </link>
  <link name="leaf_a">
    <inertial>
      <origin xyz="0.458741 0.029 1.013937" rpy="0 0 0"/>
      <mass value="19.919551"/>
      <inertia ixx="6.430915664" ixy="0" ixz="-0.006279342" iyy="7.795017298" iyz="0" izz="1.374075571"/>
    </inertial>
    <visual name="leaf_a_slab_vis">
      <origin xyz="0.45 0.029 1.013" rpy="0 0 0"/>
      <geometry>
        <box size="0.9 0.044 1.992"/>
      </geometry>
      <material name="mat_leaf_a"/>
    </visual>
    <collision name="leaf_a_slab_col">
      <origin xyz="0.45 0.029 1.013" rpy="0 0 0"/>
      <geometry>
        <box size="0.9 0.044 1.992"/>
      </geometry>
    </collision>
    <visual name="leaf_a_pull_n_vis">
      <origin xyz="0.795 0.007 1.05" rpy="1.570796 0 0"/>
      <geometry>
        <mesh filename="../../hardware/pull_2b47e55ff8.obj"/>
      </geometry>
      <material name="mat_op_black_matte_metal"/>
    </visual>
    <collision name="leaf_a_pull_col_n_col">
      <origin xyz="0.795 -0.038 1.05" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.006" length="0.26"/>
      </geometry>
    </collision>
    <visual name="leaf_a_pull_p_vis">
      <origin xyz="0.795 0.051 1.05" rpy="-1.570796 0 0"/>
      <geometry>
        <mesh filename="../../hardware/pull_2b47e55ff8.obj"/>
      </geometry>
      <material name="mat_op_black_matte_metal"/>
    </visual>
    <collision name="leaf_a_pull_col_p_col">
      <origin xyz="0.795 0.096 1.05" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.006" length="0.26"/>
      </geometry>
    </collision>
  </link>
  <link name="leaf_b">
    <inertial>
      <origin xyz="-0.420062 0.029 1.013" rpy="0 0 0"/>
      <mass value="19.784665"/>
      <inertia ixx="6.545424625" ixy="-0.000000127" ixz="0.000001053" iyy="7.705966119" iyz="0.000000082" izz="1.166925365"/>
    </inertial>
    <visual name="leaf_b_edge_1300_wall_n_vis">
      <origin xyz="-0.87 0.027 1.3" rpy="0 0 0"/>
      <geometry>
        <box size="0.06 0.048 0.02"/>
      </geometry>
      <material name="mat_leaf_b"/>
    </visual>
    <collision name="leaf_b_edge_1300_wall_n_col">
      <origin xyz="-0.87 0.027 1.3" rpy="0 0 0"/>
      <geometry>
        <box size="0.06 0.048 0.02"/>
      </geometry>
    </collision>
    <visual name="leaf_b_edge_1300_wall_p_vis">
      <origin xyz="-0.878 -0.016 1.3" rpy="0 0 0"/>
      <geometry>
        <box size="0.044 0.006 0.02"/>
      </geometry>
      <material name="mat_leaf_b"/>
    </visual>
    <collision name="leaf_b_edge_1300_wall_p_col">
      <origin xyz="-0.878 -0.016 1.3" rpy="0 0 0"/>
      <geometry>
        <box size="0.044 0.006 0.02"/>
      </geometry>
    </collision>
    <visual name="leaf_b_edge_1300_back_vis">
      <origin xyz="-0.849 -0.005 1.3" rpy="0 0 0"/>
      <geometry>
        <box size="0.018 0.016 0.02"/>
      </geometry>
      <material name="mat_leaf_b"/>
    </visual>
    <collision name="leaf_b_edge_1300_back_col">
      <origin xyz="-0.849 -0.005 1.3" rpy="0 0 0"/>
      <geometry>
        <box size="0.018 0.016 0.02"/>
      </geometry>
    </collision>
    <visual name="leaf_b_edge_seg_0_vis">
      <origin xyz="-0.87 0.029 0.6535" rpy="0 0 0"/>
      <geometry>
        <box size="0.06 0.044 1.273"/>
      </geometry>
      <material name="mat_leaf_b"/>
    </visual>
    <collision name="leaf_b_edge_seg_0_col">
      <origin xyz="-0.87 0.029 0.6535" rpy="0 0 0"/>
      <geometry>
        <box size="0.06 0.044 1.273"/>
      </geometry>
    </collision>
    <visual name="leaf_b_edge_seg_1_vis">
      <origin xyz="-0.87 0.029 1.6595" rpy="0 0 0"/>
      <geometry>
        <box size="0.06 0.044 0.699"/>
      </geometry>
      <material name="mat_leaf_b"/>
    </visual>
    <collision name="leaf_b_edge_seg_1_col">
      <origin xyz="-0.87 0.029 1.6595" rpy="0 0 0"/>
      <geometry>
        <box size="0.06 0.044 0.699"/>
      </geometry>
    </collision>
    <visual name="leaf_b_slab_vis">
      <origin xyz="-0.42 0.029 1.013" rpy="0 0 0"/>
      <geometry>
        <box size="0.84 0.044 1.992"/>
      </geometry>
      <material name="mat_leaf_b"/>
    </visual>
    <collision name="leaf_b_slab_col">
      <origin xyz="-0.42 0.029 1.013" rpy="0 0 0"/>
      <geometry>
        <box size="0.84 0.044 1.992"/>
      </geometry>
    </collision>
  </link>
  <joint name="leaf_a_hinge" type="revolute">
    <origin xyz="-0.9015 -0.029 0" rpy="0 0 0"/>
    <parent link="world_env"/>
    <child link="leaf_a"/>
    <axis xyz="0 0 -1"/>
    <limit lower="0" upper="1.396263" effort="2000" velocity="10"/>
    <dynamics damping="0.286983" friction="3.681024"/>
    <doorbench:closer damping_closing="0" damping_opening="0" backcheck_angle="0" backcheck_damping="0"/>
  </joint>
  <joint name="leaf_b_hinge" type="revolute">
    <origin xyz="0.9015 -0.029 0" rpy="0 0 0"/>
    <parent link="world_env"/>
    <child link="leaf_b"/>
    <axis xyz="0 0 1"/>
    <limit lower="0" upper="0.001" effort="2000" velocity="10"/>
    <dynamics damping="0.286983" friction="3.681024"/>
    <doorbench:closer damping_closing="0" damping_opening="0" backcheck_angle="0" backcheck_damping="0"/>
    <doorbench:note text="inactive leaf held by flush bolts; set range to free it"/>
  </joint>
  <material name="mat_floor">
    <color rgba="0.55 0.53 0.5 1"/>
  </material>
  <material name="mat_frame">
    <color rgba="0.75 0.55 0.38 1"/>
  </material>
  <material name="mat_leaf_a">
    <color rgba="0.5 0.46 0.425 1"/>
  </material>
  <material name="mat_leaf_b">
    <color rgba="0.5 0.46 0.425 1"/>
  </material>
  <material name="mat_op_black_matte_metal">
    <color rgba="0.05 0.05 0.05 1"/>
  </material>
  <material name="mat_threshold">
    <color rgba="0.8 0.81 0.83 1"/>
  </material>
  <material name="mat_wall">
    <color rgba="0.78 0.76 0.7 1"/>
  </material>
</robot>
