<?xml version="1.0" ?>
<robot xmlns:doorbench="https://github.com/adamraudonis/DoorBench/schema/urdf-ext" name="db0899_saloon_simple">
  <link name="world_env">
    <visual name="floor_vis">
      <origin xyz="0 0 -0.05" rpy="0 0 0"/>
      <geometry>
        <box size="12 12 0.1"/>
      </geometry>
      <material name="mat_floor"/>
    </visual>
    <collision name="floor_col">
      <origin xyz="0 0 -0.05" rpy="0 0 0"/>
      <geometry>
        <box size="12 12 0.1"/>
      </geometry>
    </collision>
    <visual name="wall_left_vis">
      <origin xyz="-1.5645 0 1.35" rpy="0 0 0"/>
      <geometry>
        <box size="1.871 0.145 2.7"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_left_col">
      <origin xyz="-1.5645 0 1.35" rpy="0 0 0"/>
      <geometry>
        <box size="1.871 0.145 2.7"/>
      </geometry>
    </collision>
    <visual name="wall_right_vis">
      <origin xyz="1.5645 0 1.35" rpy="0 0 0"/>
      <geometry>
        <box size="1.871 0.145 2.7"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_right_col">
      <origin xyz="1.5645 0 1.35" rpy="0 0 0"/>
      <geometry>
        <box size="1.871 0.145 2.7"/>
      </geometry>
    </collision>
    <visual name="wall_header_vis">
      <origin xyz="0 0 2.381" rpy="0 0 0"/>
      <geometry>
        <box size="1.258 0.145 0.638"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_header_col">
      <origin xyz="0 0 2.381" rpy="0 0 0"/>
      <geometry>
        <box size="1.258 0.145 0.638"/>
      </geometry>
    </collision>
    <visual name="jamb_hinge_vis">
      <origin xyz="-0.6195 0 1.0215" rpy="0 0 0"/>
      <geometry>
        <box size="0.019 0.145 2.043"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_hinge_col">
      <origin xyz="-0.6195 0 1.0215" rpy="0 0 0"/>
      <geometry>
        <box size="0.019 0.145 2.043"/>
      </geometry>
    </collision>
    <visual name="jamb_strike_vis">
      <origin xyz="0.6195 0 1.0215" rpy="0 0 0"/>
      <geometry>
        <box size="0.019 0.145 2.043"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_strike_col">
      <origin xyz="0.6195 0 1.0215" rpy="0 0 0"/>
      <geometry>
        <box size="0.019 0.145 2.043"/>
      </geometry>
    </collision>
    <visual name="stud_strike_vis">
      <origin xyz="0.644 0 1.0215" rpy="0 0 0"/>
      <geometry>
        <box size="0.03 0.145 2.043"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="stud_strike_col">
      <origin xyz="0.644 0 1.0215" rpy="0 0 0"/>
      <geometry>
        <box size="0.03 0.145 2.043"/>
      </geometry>
    </collision>
    <visual name="jamb_head_vis">
      <origin xyz="0.015 0 2.0525" rpy="0 0 0"/>
      <geometry>
        <box size="1.288 0.145 0.019"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_head_col">
      <origin xyz="0.015 0 2.0525" rpy="0 0 0"/>
      <geometry>
        <box size="1.288 0.145 0.019"/>
      </geometry>
    </collision>
    <visual name="head_stud_vis">
      <origin xyz="0.015 0 2.077" rpy="0 0 0"/>
      <geometry>
        <box size="1.288 0.145 0.03"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="head_stud_col">
      <origin xyz="0.015 0 2.077" rpy="0 0 0"/>
      <geometry>
        <box size="1.288 0.145 0.03"/>
      </geometry>
    </collision>
  </link>
  <link name="leaf_a">
    <inertial>
      <origin xyz="0.295379 0.000447 1.025493" rpy="0 0 0"/>
      <mass value="23.675434"/>
      <inertia ixx="8.204690717" ixy="0.003127143" ixz="-0.026156621" iyy="8.983789417" iyz="-0.000259451" izz="0.787711787"/>
    </inertial>
    <visual name="leaf_a_slab_vis">
      <origin xyz="0.303 0 1.015" rpy="0 0 0"/>
      <geometry>
        <box size="0.6 0.044 2.03"/>
      </geometry>
      <material name="mat_leaf_a"/>
    </visual>
    <collision name="leaf_a_slab_col">
      <origin xyz="0.303 0 1.015" rpy="0 0 0"/>
      <geometry>
        <box size="0.6 0.044 2.03"/>
      </geometry>
    </collision>
    <visual name="leaf_a_panel_0_n_vis">
      <origin xyz="0.303 -0.025 1.0759" rpy="0 0 0"/>
      <geometry>
        <box size="0.38 0.006 1.6652"/>
      </geometry>
      <material name="mat_leaf_a_panel"/>
    </visual>
    <visual name="leaf_a_panel_0_p_vis">
      <origin xyz="0.303 0.025 1.0759" rpy="0 0 0"/>
      <geometry>
        <box size="0.38 0.006 1.6652"/>
      </geometry>
      <material name="mat_leaf_a_panel"/>
    </visual>
    <visual name="hinge_0_vis">
      <origin xyz="0 0 0.25" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../../hardware/hinge_5abdcb5498.obj"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="hinge_1_vis">
      <origin xyz="0 0 1.85" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../../hardware/hinge_5abdcb5498.obj"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="leaf_a_push_plate_n_vis">
      <origin xyz="0.483 -0.0228 1.218" rpy="0 0 0"/>
      <geometry>
        <box size="0.1 0.0016 0.4"/>
      </geometry>
      <material name="mat_op_stainless"/>
    </visual>
    <visual name="leaf_a_push_plate_p_vis">
      <origin xyz="0.483 0.0228 1.218" rpy="0 0 0"/>
      <geometry>
        <box size="0.1 0.0016 0.4"/>
      </geometry>
      <material name="mat_op_stainless"/>
    </visual>
  </link>
  <link name="leaf_b">
    <inertial>
      <origin xyz="-0.295379 -0.000447 1.025493" rpy="0 0 0"/>
      <mass value="23.675434"/>
      <inertia ixx="8.204690717" ixy="0.003127143" ixz="0.026156621" iyy="8.983789417" iyz="0.000259451" izz="0.787711787"/>
    </inertial>
    <visual name="leaf_b_slab_vis">
      <origin xyz="-0.303 0 1.015" rpy="0 0 0"/>
      <geometry>
        <box size="0.6 0.044 2.03"/>
      </geometry>
      <material name="mat_leaf_b"/>
    </visual>
    <collision name="leaf_b_slab_col">
      <origin xyz="-0.303 0 1.015" rpy="0 0 0"/>
      <geometry>
        <box size="0.6 0.044 2.03"/>
      </geometry>
    </collision>
    <visual name="leaf_b_panel_0_n_vis">
      <origin xyz="-0.303 -0.025 1.0759" rpy="0 0 0"/>
      <geometry>
        <box size="0.38 0.006 1.6652"/>
      </geometry>
      <material name="mat_leaf_b_panel"/>
    </visual>
    <visual name="leaf_b_panel_0_p_vis">
      <origin xyz="-0.303 0.025 1.0759" rpy="0 0 0"/>
      <geometry>
        <box size="0.38 0.006 1.6652"/>
      </geometry>
      <material name="mat_leaf_b_panel"/>
    </visual>
    <visual name="hinge_0_2_vis">
      <origin xyz="0 0 0.25" rpy="0 0 3.141593"/>
      <geometry>
        <mesh filename="../../hardware/hinge_5abdcb5498.obj"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="hinge_1_2_vis">
      <origin xyz="0 0 1.85" rpy="0 0 3.141593"/>
      <geometry>
        <mesh filename="../../hardware/hinge_5abdcb5498.obj"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="leaf_b_push_plate_n_vis">
      <origin xyz="-0.483 -0.0228 1.218" rpy="0 0 0"/>
      <geometry>
        <box size="0.1 0.0016 0.4"/>
      </geometry>
      <material name="mat_op_stainless"/>
    </visual>
    <visual name="leaf_b_push_plate_p_vis">
      <origin xyz="-0.483 0.0228 1.218" rpy="0 0 0"/>
      <geometry>
        <box size="0.1 0.0016 0.4"/>
      </geometry>
      <material name="mat_op_stainless"/>
    </visual>
  </link>
  <joint name="leaf_a_hinge" type="revolute">
    <origin xyz="-0.61 0 0" rpy="0 0 0"/>
    <parent link="world_env"/>
    <child link="leaf_a"/>
    <axis xyz="0 0 1"/>
    <limit lower="-1.919862" upper="1.919862" effort="2000" velocity="10"/>
    <dynamics damping="0.797514" friction="0.528029"/>
    <doorbench:spring stiffness="6.6" springref="0" note="tau = -stiffness*(q - springref); not native URDF"/>
    <doorbench:closer damping_closing="1.5" damping_opening="1.5" backcheck_angle="0" backcheck_damping="0"/>
  </joint>
  <joint name="leaf_b_hinge" type="revolute">
    <origin xyz="0.61 0 0" rpy="0 0 0"/>
    <parent link="world_env"/>
    <child link="leaf_b"/>
    <axis xyz="0 0 -1"/>
    <limit lower="-1.919862" upper="1.919862" effort="2000" velocity="10"/>
    <dynamics damping="0.797514" friction="0.528029"/>
    <doorbench:spring stiffness="6.6" springref="0" note="tau = -stiffness*(q - springref); not native URDF"/>
    <doorbench:closer damping_closing="1.5" damping_opening="1.5" backcheck_angle="0" backcheck_damping="0"/>
  </joint>
  <material name="mat_floor">
    <color rgba="0.55 0.53 0.5 1"/>
  </material>
  <material name="mat_frame">
    <color rgba="0.82 0.7 0.5 1"/>
  </material>
  <material name="mat_hinge">
    <color rgba="0.65 0.66 0.68 1"/>
  </material>
  <material name="mat_leaf_a">
    <color rgba="0.62 0.503 0.34 1"/>
  </material>
  <material name="mat_leaf_a_panel">
    <color rgba="0.571 0.463 0.313 1"/>
  </material>
  <material name="mat_leaf_b">
    <color rgba="0.62 0.503 0.34 1"/>
  </material>
  <material name="mat_leaf_b_panel">
    <color rgba="0.571 0.463 0.313 1"/>
  </material>
  <material name="mat_op_stainless">
    <color rgba="0.75 0.76 0.77 1"/>
  </material>
  <material name="mat_wall">
    <color rgba="0.78 0.76 0.7 1"/>
  </material>
</robot>
