<?xml version="1.0" ?>
<robot xmlns:doorbench="https://github.com/adamraudonis/DoorBench/schema/urdf-ext" name="db0546_stall_minimal">
  <link name="world_env">
    <visual name="floor_vis">
      <origin xyz="0 0 -0.05" rpy="0 0 0"/>
      <geometry>
        <box size="12 12 0.1"/>
      </geometry>
      <material name="mat_floor"/>
    </visual>
    <collision name="floor_col">
      <origin xyz="0 0 -0.05" rpy="0 0 0"/>
      <geometry>
        <box size="12 12 0.1"/>
      </geometry>
    </collision>
    <visual name="wall_left_vis">
      <origin xyz="-1.518 0 1.35" rpy="0 0 0"/>
      <geometry>
        <box size="1.964 0.025 2.7"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_left_col">
      <origin xyz="-1.518 0 1.35" rpy="0 0 0"/>
      <geometry>
        <box size="1.964 0.025 2.7"/>
      </geometry>
    </collision>
    <visual name="wall_right_vis">
      <origin xyz="1.518 0 1.35" rpy="0 0 0"/>
      <geometry>
        <box size="1.964 0.025 2.7"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_right_col">
      <origin xyz="1.518 0 1.35" rpy="0 0 0"/>
      <geometry>
        <box size="1.964 0.025 2.7"/>
      </geometry>
    </collision>
    <visual name="wall_header_vis">
      <origin xyz="0 0 2.4" rpy="0 0 0"/>
      <geometry>
        <box size="1.072 0.025 0.6"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_header_col">
      <origin xyz="0 0 2.4" rpy="0 0 0"/>
      <geometry>
        <box size="1.072 0.025 0.6"/>
      </geometry>
    </collision>
    <visual name="pilaster_l_vis">
      <origin xyz="-0.486 0 1.01" rpy="0 0 0"/>
      <geometry>
        <box size="0.1 0.025 1.82"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="pilaster_l_col">
      <origin xyz="-0.486 0 1.01" rpy="0 0 0"/>
      <geometry>
        <box size="0.1 0.025 1.82"/>
      </geometry>
    </collision>
    <visual name="pilaster_r_vis">
      <origin xyz="0.486 0 1.01" rpy="0 0 0"/>
      <geometry>
        <box size="0.1 0.025 1.82"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="pilaster_r_col">
      <origin xyz="0.486 0 1.01" rpy="0 0 0"/>
      <geometry>
        <box size="0.1 0.025 1.82"/>
      </geometry>
    </collision>
    <visual name="latch_keeper_n_vis">
      <origin xyz="0.456 0.013 1" rpy="0 0 0"/>
      <geometry>
        <box size="0.04 0.005 0.04"/>
      </geometry>
      <material name="mat_op_stainless"/>
    </visual>
    <collision name="latch_keeper_n_col">
      <origin xyz="0.456 0.013 1" rpy="0 0 0"/>
      <geometry>
        <box size="0.04 0.005 0.04"/>
      </geometry>
    </collision>
    <visual name="latch_keeper_p_vis">
      <origin xyz="0.456 0.028 1" rpy="0 0 0"/>
      <geometry>
        <box size="0.04 0.005 0.04"/>
      </geometry>
      <material name="mat_op_stainless"/>
    </visual>
    <collision name="latch_keeper_p_col">
      <origin xyz="0.456 0.028 1" rpy="0 0 0"/>
      <geometry>
        <box size="0.04 0.005 0.04"/>
      </geometry>
    </collision>
    <visual name="latch_keeper_base_vis">
      <origin xyz="0.456 0.0205 0.976" rpy="0 0 0"/>
      <geometry>
        <box size="0.04 0.02 0.006"/>
      </geometry>
      <material name="mat_op_stainless"/>
    </visual>
    <collision name="latch_keeper_base_col">
      <origin xyz="0.456 0.0205 0.976" rpy="0 0 0"/>
      <geometry>
        <box size="0.04 0.02 0.006"/>
      </geometry>
    </collision>
    <visual name="stop_strip_vis">
      <origin xyz="0.426 -0.0185 1.035" rpy="0 0 0"/>
      <geometry>
        <box size="0.02 0.012 1.47"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="stop_strip_col">
      <origin xyz="0.426 -0.0185 1.035" rpy="0 0 0"/>
      <geometry>
        <box size="0.02 0.012 1.47"/>
      </geometry>
    </collision>
  </link>
  <link name="leaf_riser">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="0.01"/>
      <inertia ixx="0.000001" ixy="0" ixz="0" iyy="0.000001" iyz="0" izz="0.000001"/>
    </inertial>
  </link>
  <link name="leaf">
    <inertial>
      <origin xyz="0.386 0 1.035" rpy="0 0 0"/>
      <mass value="14.707703"/>
      <inertia ixx="2.649255608" ixy="0" ixz="0" iyy="3.554974331" iyz="0" izz="0.907250775"/>
    </inertial>
    <visual name="leaf_slab_vis">
      <origin xyz="0.386 0 1.035" rpy="0 0 0"/>
      <geometry>
        <box size="0.86 0.025 1.47"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <collision name="leaf_slab_col">
      <origin xyz="0.386 0 1.035" rpy="0 0 0"/>
      <geometry>
        <box size="0.86 0.025 1.47"/>
      </geometry>
    </collision>
  </link>
  <link name="slide_latch">
    <inertial>
      <origin xyz="0.025956 0.001618 0" rpy="0 0 0"/>
      <mass value="0.140251"/>
      <inertia ixx="0.000010448" ixy="0.000005889" ixz="0" iyy="0.00008549" iyz="0" izz="0.000084063"/>
    </inertial>
    <visual name="slide_latch_bar_vis">
      <origin xyz="0.03 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.008 0.024"/>
      </geometry>
      <material name="mat_op_stainless"/>
    </visual>
    <collision name="slide_latch_bar_col">
      <origin xyz="0.03 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.008 0.024"/>
      </geometry>
    </collision>
    <visual name="slide_latch_knob_vis">
      <origin xyz="0 0.012 0" rpy="-1.570796 0 0"/>
      <geometry>
        <cylinder radius="0.005" length="0.024"/>
      </geometry>
      <material name="mat_op_stainless"/>
    </visual>
    <collision name="slide_latch_knob_col">
      <origin xyz="0 0.012 0" rpy="-1.570796 0 0"/>
      <geometry>
        <cylinder radius="0.005" length="0.024"/>
      </geometry>
    </collision>
  </link>
  <joint name="leaf_rise" type="prismatic">
    <origin xyz="-0.436 0 0" rpy="0 0 0"/>
    <parent link="world_env"/>
    <child link="leaf_riser"/>
    <axis xyz="0 0 1"/>
    <limit lower="0" upper="0.03" effort="5000" velocity="10"/>
    <dynamics damping="1" friction="0"/>
    <mimic joint="leaf_hinge" multiplier="0.006366" offset="0"/>
  </joint>
  <joint name="leaf_hinge" type="revolute">
    <origin xyz="0.05 0 0" rpy="0 0 0"/>
    <parent link="leaf_riser"/>
    <child link="leaf"/>
    <axis xyz="0 0 1"/>
    <limit lower="0" upper="1.919862" effort="2000" velocity="10"/>
    <dynamics damping="0.195221" friction="0.168628"/>
    <doorbench:closer damping_closing="0" damping_opening="0" backcheck_angle="0" backcheck_damping="0"/>
  </joint>
  <joint name="slide_latch_slide" type="prismatic">
    <origin xyz="0.766 0.0205 1" rpy="0 0 0"/>
    <parent link="leaf"/>
    <child link="slide_latch"/>
    <axis xyz="-1 0 0"/>
    <limit lower="0" upper="0.001" effort="5000" velocity="10"/>
    <dynamics damping="0.5" friction="0.5"/>
  </joint>
  <material name="mat_floor">
    <color rgba="0.55 0.53 0.5 1"/>
  </material>
  <material name="mat_frame">
    <color rgba="0.75 0.75 0.72 1"/>
  </material>
  <material name="mat_leaf">
    <color rgba="0.5 0.51 0.53 1"/>
  </material>
  <material name="mat_op_stainless">
    <color rgba="0.75 0.76 0.77 1"/>
  </material>
  <material name="mat_wall">
    <color rgba="0.78 0.76 0.7 1"/>
  </material>
</robot>
