<?xml version="1.0" ?>
<robot xmlns:doorbench="https://github.com/adamraudonis/DoorBench/schema/urdf-ext" name="db0474_automatic_sliding_full">
  <link name="world_env">
    <visual name="floor_vis">
      <origin xyz="0 0 -0.05" rpy="0 0 0"/>
      <geometry>
        <box size="12 12 0.1"/>
      </geometry>
      <material name="mat_floor"/>
    </visual>
    <collision name="floor_col">
      <origin xyz="0 0 -0.05" rpy="0 0 0"/>
      <geometry>
        <box size="12 12 0.1"/>
      </geometry>
    </collision>
    <visual name="wall_left_vis">
      <origin xyz="-2.4825 0 1.492" rpy="0 0 0"/>
      <geometry>
        <box size="0.035 0.2 2.984"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_left_col">
      <origin xyz="-2.4825 0 1.492" rpy="0 0 0"/>
      <geometry>
        <box size="0.035 0.2 2.984"/>
      </geometry>
    </collision>
    <visual name="wall_right_vis">
      <origin xyz="2.4825 0 1.492" rpy="0 0 0"/>
      <geometry>
        <box size="0.035 0.2 2.984"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_right_col">
      <origin xyz="2.4825 0 1.492" rpy="0 0 0"/>
      <geometry>
        <box size="0.035 0.2 2.984"/>
      </geometry>
    </collision>
    <visual name="wall_header_vis">
      <origin xyz="0 0 2.7065" rpy="0 0 0"/>
      <geometry>
        <box size="4.93 0.2 0.555"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_header_col">
      <origin xyz="0 0 2.7065" rpy="0 0 0"/>
      <geometry>
        <box size="4.93 0.2 0.555"/>
      </geometry>
    </collision>
    <visual name="jamb_l_vis">
      <origin xyz="-2.4425 0 1.192" rpy="0 0 0"/>
      <geometry>
        <box size="0.045 0.2 2.384"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_l_col">
      <origin xyz="-2.4425 0 1.192" rpy="0 0 0"/>
      <geometry>
        <box size="0.045 0.2 2.384"/>
      </geometry>
    </collision>
    <visual name="jamb_r_vis">
      <origin xyz="2.4425 0 1.192" rpy="0 0 0"/>
      <geometry>
        <box size="0.045 0.2 2.384"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_r_col">
      <origin xyz="2.4425 0 1.192" rpy="0 0 0"/>
      <geometry>
        <box size="0.045 0.2 2.384"/>
      </geometry>
    </collision>
    <visual name="jamb_head_vis">
      <origin xyz="0 0 2.4065" rpy="0 0 0"/>
      <geometry>
        <box size="4.93 0.2 0.045"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_head_col">
      <origin xyz="0 0 2.4065" rpy="0 0 0"/>
      <geometry>
        <box size="4.93 0.2 0.045"/>
      </geometry>
    </collision>
    <visual name="sidelite_l_vis">
      <origin xyz="-1.815 0.042 1.192" rpy="0 0 0"/>
      <geometry>
        <box size="1.17 0.006 2.284"/>
      </geometry>
      <material name="mat_fixed_glass"/>
    </visual>
    <collision name="sidelite_l_col">
      <origin xyz="-1.815 0.042 1.192" rpy="0 0 0"/>
      <geometry>
        <box size="1.17 0.006 2.284"/>
      </geometry>
    </collision>
    <visual name="sidelite_l_stile_n_vis">
      <origin xyz="-2.42 0.042 1.192" rpy="0 0 0"/>
      <geometry>
        <box size="0.04 0.024 2.384"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="sidelite_l_stile_n_col">
      <origin xyz="-2.42 0.042 1.192" rpy="0 0 0"/>
      <geometry>
        <box size="0.04 0.024 2.384"/>
      </geometry>
    </collision>
    <visual name="sidelite_l_stile_p_vis">
      <origin xyz="-1.21 0.042 1.192" rpy="0 0 0"/>
      <geometry>
        <box size="0.04 0.024 2.384"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="sidelite_l_stile_p_col">
      <origin xyz="-1.21 0.042 1.192" rpy="0 0 0"/>
      <geometry>
        <box size="0.04 0.024 2.384"/>
      </geometry>
    </collision>
    <visual name="sidelite_l_sill_vis">
      <origin xyz="-1.815 0.042 0.025" rpy="0 0 0"/>
      <geometry>
        <box size="1.25 0.024 0.05"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="sidelite_l_sill_col">
      <origin xyz="-1.815 0.042 0.025" rpy="0 0 0"/>
      <geometry>
        <box size="1.25 0.024 0.05"/>
      </geometry>
    </collision>
    <visual name="sidelite_l_head_vis">
      <origin xyz="-1.815 0.042 2.359" rpy="0 0 0"/>
      <geometry>
        <box size="1.25 0.024 0.05"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="sidelite_l_head_col">
      <origin xyz="-1.815 0.042 2.359" rpy="0 0 0"/>
      <geometry>
        <box size="1.25 0.024 0.05"/>
      </geometry>
    </collision>
    <visual name="sidelite_r_vis">
      <origin xyz="1.815 0.042 1.192" rpy="0 0 0"/>
      <geometry>
        <box size="1.17 0.006 2.284"/>
      </geometry>
      <material name="mat_fixed_glass"/>
    </visual>
    <collision name="sidelite_r_col">
      <origin xyz="1.815 0.042 1.192" rpy="0 0 0"/>
      <geometry>
        <box size="1.17 0.006 2.284"/>
      </geometry>
    </collision>
    <visual name="sidelite_r_stile_n_vis">
      <origin xyz="1.21 0.042 1.192" rpy="0 0 0"/>
      <geometry>
        <box size="0.04 0.024 2.384"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="sidelite_r_stile_n_col">
      <origin xyz="1.21 0.042 1.192" rpy="0 0 0"/>
      <geometry>
        <box size="0.04 0.024 2.384"/>
      </geometry>
    </collision>
    <visual name="sidelite_r_stile_p_vis">
      <origin xyz="2.42 0.042 1.192" rpy="0 0 0"/>
      <geometry>
        <box size="0.04 0.024 2.384"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="sidelite_r_stile_p_col">
      <origin xyz="2.42 0.042 1.192" rpy="0 0 0"/>
      <geometry>
        <box size="0.04 0.024 2.384"/>
      </geometry>
    </collision>
    <visual name="sidelite_r_sill_vis">
      <origin xyz="1.815 0.042 0.025" rpy="0 0 0"/>
      <geometry>
        <box size="1.25 0.024 0.05"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="sidelite_r_sill_col">
      <origin xyz="1.815 0.042 0.025" rpy="0 0 0"/>
      <geometry>
        <box size="1.25 0.024 0.05"/>
      </geometry>
    </collision>
    <visual name="sidelite_r_head_vis">
      <origin xyz="1.815 0.042 2.359" rpy="0 0 0"/>
      <geometry>
        <box size="1.25 0.024 0.05"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="sidelite_r_head_col">
      <origin xyz="1.815 0.042 2.359" rpy="0 0 0"/>
      <geometry>
        <box size="1.25 0.024 0.05"/>
      </geometry>
    </collision>
    <visual name="leaf_a_track_header_vis">
      <origin xyz="-1.19 0 2.519" rpy="0 0 0"/>
      <geometry>
        <box size="2.48 0.18 0.18"/>
      </geometry>
      <material name="mat_track"/>
    </visual>
    <collision name="leaf_a_track_header_col">
      <origin xyz="-1.19 0 2.519" rpy="0 0 0"/>
      <geometry>
        <box size="2.48 0.18 0.18"/>
      </geometry>
    </collision>
    <visual name="leaf_b_track_header_vis">
      <origin xyz="1.19 0 2.519" rpy="0 0 0"/>
      <geometry>
        <box size="2.48 0.18 0.18"/>
      </geometry>
      <material name="mat_track"/>
    </visual>
    <collision name="leaf_b_track_header_col">
      <origin xyz="1.19 0 2.519" rpy="0 0 0"/>
      <geometry>
        <box size="2.48 0.18 0.18"/>
      </geometry>
    </collision>
    <visual name="wave_sensor_n_vis">
      <origin xyz="0 -0.112 2.454" rpy="0 0 0"/>
      <geometry>
        <box size="0.1 0.024 0.1"/>
      </geometry>
      <material name="mat_wallreader"/>
    </visual>
    <collision name="wave_sensor_n_col">
      <origin xyz="0 -0.112 2.454" rpy="0 0 0"/>
      <geometry>
        <box size="0.1 0.024 0.1"/>
      </geometry>
    </collision>
    <visual name="wave_sensor_n_pad_vis">
      <origin xyz="0 -0.095 2.454" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.011 0.08"/>
      </geometry>
      <material name="mat_wallreader"/>
    </visual>
    <visual name="wave_sensor_p_vis">
      <origin xyz="0 0.112 2.454" rpy="0 0 0"/>
      <geometry>
        <box size="0.1 0.024 0.1"/>
      </geometry>
      <material name="mat_wallreader"/>
    </visual>
    <collision name="wave_sensor_p_col">
      <origin xyz="0 0.112 2.454" rpy="0 0 0"/>
      <geometry>
        <box size="0.1 0.024 0.1"/>
      </geometry>
    </collision>
    <visual name="wave_sensor_p_pad_vis">
      <origin xyz="0 0.095 2.454" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.011 0.08"/>
      </geometry>
      <material name="mat_wallreader"/>
    </visual>
  </link>
  <link name="leaf_a">
    <inertial>
      <origin xyz="0 0 1.118206" rpy="0 0 0"/>
      <mass value="88.383618"/>
      <inertia ixx="36.157858597" ixy="0" ixz="0" iyy="47.029892408" iyz="0" izz="10.901192261"/>
    </inertial>
    <visual name="leaf_a_glass_vis">
      <origin xyz="0 0 1.079" rpy="0 0 0"/>
      <geometry>
        <box size="1.2 0.045 2.134"/>
      </geometry>
      <material name="mat_glass_leaf"/>
    </visual>
    <collision name="leaf_a_glass_col">
      <origin xyz="0 0 1.079" rpy="0 0 0"/>
      <geometry>
        <box size="1.2 0.045 2.134"/>
      </geometry>
    </collision>
    <visual name="leaf_a_carrier_0_vis">
      <origin xyz="-0.48 0 2.233" rpy="0 0 0"/>
      <geometry>
        <box size="0.04 0.01 0.294"/>
      </geometry>
      <material name="mat_roller"/>
    </visual>
    <visual name="leaf_a_carrier_wheel_0_vis">
      <origin xyz="-0.48 0 2.37" rpy="-1.570796 0 0"/>
      <geometry>
        <cylinder radius="0.014" length="0.012"/>
      </geometry>
      <material name="mat_roller"/>
    </visual>
    <visual name="leaf_a_carrier_1_vis">
      <origin xyz="0.48 0 2.233" rpy="0 0 0"/>
      <geometry>
        <box size="0.04 0.01 0.294"/>
      </geometry>
      <material name="mat_roller"/>
    </visual>
    <visual name="leaf_a_carrier_wheel_1_vis">
      <origin xyz="0.48 0 2.37" rpy="-1.570796 0 0"/>
      <geometry>
        <cylinder radius="0.014" length="0.012"/>
      </geometry>
      <material name="mat_roller"/>
    </visual>
    <visual name="sign_push_vis">
      <origin xyz="0 -0.0235 1.362" rpy="0 0 0"/>
      <geometry>
        <box size="0.12 0.002 0.06"/>
      </geometry>
      <material name="mat_sign"/>
    </visual>
    <visual name="sign_pull_vis">
      <origin xyz="0 0.0235 1.362" rpy="0 0 0"/>
      <geometry>
        <box size="0.12 0.002 0.06"/>
      </geometry>
      <material name="mat_sign"/>
    </visual>
  </link>
  <link name="leaf_b">
    <inertial>
      <origin xyz="0 0 1.117275" rpy="0 0 0"/>
      <mass value="88.361582"/>
      <inertia ixx="36.266466235" ixy="0" ixz="0" iyy="47.177077782" iyz="0" izz="10.939501134"/>
    </inertial>
    <visual name="leaf_b_glass_vis">
      <origin xyz="0 0 1.079" rpy="0 0 0"/>
      <geometry>
        <box size="1.2 0.045 2.134"/>
      </geometry>
      <material name="mat_glass_leaf"/>
    </visual>
    <collision name="leaf_b_glass_col">
      <origin xyz="0 0 1.079" rpy="0 0 0"/>
      <geometry>
        <box size="1.2 0.045 2.134"/>
      </geometry>
    </collision>
    <visual name="leaf_b_carrier_0_vis">
      <origin xyz="-0.48 0 2.233" rpy="0 0 0"/>
      <geometry>
        <box size="0.04 0.01 0.294"/>
      </geometry>
      <material name="mat_roller"/>
    </visual>
    <visual name="leaf_b_carrier_wheel_0_vis">
      <origin xyz="-0.48 0 2.37" rpy="-1.570796 0 0"/>
      <geometry>
        <cylinder radius="0.014" length="0.012"/>
      </geometry>
      <material name="mat_roller"/>
    </visual>
    <visual name="leaf_b_carrier_1_vis">
      <origin xyz="0.48 0 2.233" rpy="0 0 0"/>
      <geometry>
        <box size="0.04 0.01 0.294"/>
      </geometry>
      <material name="mat_roller"/>
    </visual>
    <visual name="leaf_b_carrier_wheel_1_vis">
      <origin xyz="0.48 0 2.37" rpy="-1.570796 0 0"/>
      <geometry>
        <cylinder radius="0.014" length="0.012"/>
      </geometry>
      <material name="mat_roller"/>
    </visual>
  </link>
  <joint name="leaf_a_slide" type="prismatic">
    <origin xyz="-0.6 0 0" rpy="0 0 0"/>
    <parent link="world_env"/>
    <child link="leaf_a"/>
    <axis xyz="-1 0 0"/>
    <limit lower="0" upper="1.18" effort="5000" velocity="10"/>
    <dynamics damping="6.41988" friction="20.805224"/>
  </joint>
  <joint name="leaf_b_slide" type="prismatic">
    <origin xyz="0.6 0 0" rpy="0 0 0"/>
    <parent link="world_env"/>
    <child link="leaf_b"/>
    <axis xyz="1 0 0"/>
    <limit lower="0" upper="1.18" effort="5000" velocity="10"/>
    <dynamics damping="6.41988" friction="20.805224"/>
    <mimic joint="leaf_a_slide" multiplier="1" offset="0"/>
  </joint>
  <material name="mat_fixed_glass">
    <color rgba="0.85 0.92 0.95 0.25"/>
  </material>
  <material name="mat_floor">
    <color rgba="0.55 0.53 0.5 1"/>
  </material>
  <material name="mat_frame">
    <color rgba="0.8 0.81 0.83 1"/>
  </material>
  <material name="mat_glass_leaf">
    <color rgba="0.85 0.92 0.95 0.25"/>
  </material>
  <material name="mat_roller">
    <color rgba="0.65 0.66 0.68 1"/>
  </material>
  <material name="mat_sign">
    <color rgba="0.75 0.76 0.77 1"/>
  </material>
  <material name="mat_track">
    <color rgba="0.8 0.81 0.83 1"/>
  </material>
  <material name="mat_wall">
    <color rgba="0.78 0.76 0.7 1"/>
  </material>
  <material name="mat_wallreader">
    <color rgba="0.05 0.05 0.05 1"/>
  </material>
</robot>
