<?xml version="1.0" ?>
<robot xmlns:doorbench="https://github.com/adamraudonis/DoorBench/schema/urdf-ext" name="db0633_swing_single_full">
  <link name="world_env">
    <visual name="floor_vis">
      <origin xyz="0 0 -0.05" rpy="0 0 0"/>
      <geometry>
        <box size="12 12 0.1"/>
      </geometry>
      <material name="mat_floor"/>
    </visual>
    <collision name="floor_col">
      <origin xyz="0 0 -0.05" rpy="0 0 0"/>
      <geometry>
        <box size="12 12 0.1"/>
      </geometry>
    </collision>
    <visual name="wall_left_vis">
      <origin xyz="-1.42875 -0.033 1.3735" rpy="0 0 0"/>
      <geometry>
        <box size="2.1425 0.115 2.747"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_left_col">
      <origin xyz="-1.42875 -0.033 1.3735" rpy="0 0 0"/>
      <geometry>
        <box size="2.1425 0.115 2.747"/>
      </geometry>
    </collision>
    <visual name="wall_right_vis">
      <origin xyz="1.41375 -0.033 1.3735" rpy="0 0 0"/>
      <geometry>
        <box size="2.1725 0.115 2.747"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_right_col">
      <origin xyz="1.41375 -0.033 1.3735" rpy="0 0 0"/>
      <geometry>
        <box size="2.1725 0.115 2.747"/>
      </geometry>
    </collision>
    <visual name="wall_header_vis">
      <origin xyz="-0.015 -0.033 2.4715" rpy="0 0 0"/>
      <geometry>
        <box size="0.685 0.115 0.551"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_header_col">
      <origin xyz="-0.015 -0.033 2.4715" rpy="0 0 0"/>
      <geometry>
        <box size="0.685 0.115 0.551"/>
      </geometry>
    </collision>
    <visual name="hinge_0_jamb_vis">
      <origin xyz="0.3055 0.0245 0.259" rpy="0 0 3.141593"/>
      <geometry>
        <mesh filename="../../hardware/hinge_jamb_7fd4ca52b2.obj"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="hinge_1_jamb_vis">
      <origin xyz="0.3055 0.0245 1.076" rpy="0 0 3.141593"/>
      <geometry>
        <mesh filename="../../hardware/hinge_jamb_7fd4ca52b2.obj"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="hinge_2_jamb_vis">
      <origin xyz="0.3055 0.0245 1.963" rpy="0 0 3.141593"/>
      <geometry>
        <mesh filename="../../hardware/hinge_jamb_7fd4ca52b2.obj"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="leaf_deadbolt_strike_b_vis">
      <origin xyz="-0.308 0 1.1375" rpy="1.570796 0 1.570796"/>
      <geometry>
        <box size="0.031 0.006 0.001"/>
      </geometry>
      <material name="mat_deadbolt"/>
    </visual>
    <visual name="leaf_deadbolt_strike_l_vis">
      <origin xyz="-0.308 -0.0125 1.156" rpy="1.570796 0 1.570796"/>
      <geometry>
        <box size="0.006 0.031 0.001"/>
      </geometry>
      <material name="mat_deadbolt"/>
    </visual>
    <visual name="leaf_deadbolt_strike_t_vis">
      <origin xyz="-0.308 0 1.1745" rpy="1.570796 0 1.570796"/>
      <geometry>
        <box size="0.031 0.006 0.001"/>
      </geometry>
      <material name="mat_deadbolt"/>
    </visual>
    <visual name="leaf_deadbolt_strike_r_vis">
      <origin xyz="-0.308 0.0125 1.156" rpy="1.570796 0 1.570796"/>
      <geometry>
        <box size="0.006 0.031 0.001"/>
      </geometry>
      <material name="mat_deadbolt"/>
    </visual>
    <visual name="jamb_hinge_vis">
      <origin xyz="0.318 -0.033 1.0735" rpy="0 0 0"/>
      <geometry>
        <box size="0.019 0.115 2.147"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_hinge_col">
      <origin xyz="0.318 -0.033 1.0735" rpy="0 0 0"/>
      <geometry>
        <box size="0.019 0.115 2.147"/>
      </geometry>
    </collision>
    <visual name="strike_1016_wall_n_vis">
      <origin xyz="-0.333 -0.049175 1.016" rpy="0 0 0"/>
      <geometry>
        <box size="0.049 0.08265 0.0334"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="strike_1016_wall_n_col">
      <origin xyz="-0.333 -0.049175 1.016" rpy="0 0 0"/>
      <geometry>
        <box size="0.049 0.08265 0.0334"/>
      </geometry>
    </collision>
    <visual name="strike_1016_wall_p_vis">
      <origin xyz="-0.333 0.01585 1.016" rpy="0 0 0"/>
      <geometry>
        <box size="0.049 0.016 0.0334"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="strike_1016_wall_p_col">
      <origin xyz="-0.333 0.01585 1.016" rpy="0 0 0"/>
      <geometry>
        <box size="0.049 0.016 0.0334"/>
      </geometry>
    </collision>
    <visual name="strike_1016_ramp_vis">
      <origin xyz="-0.337636 0.028673 1.016" rpy="0 0 0.428384"/>
      <geometry>
        <box size="0.049 0.03298 0.0334"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="strike_1016_ramp_col">
      <origin xyz="-0.337636 0.028673 1.016" rpy="0 0 0.428384"/>
      <geometry>
        <box size="0.049 0.03298 0.0334"/>
      </geometry>
    </collision>
    <visual name="strike_1016_back_vis">
      <origin xyz="-0.34135 0 1.016" rpy="0 0 0"/>
      <geometry>
        <box size="0.0323 0.0157 0.0334"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="strike_1016_back_col">
      <origin xyz="-0.34135 0 1.016" rpy="0 0 0"/>
      <geometry>
        <box size="0.0323 0.0157 0.0334"/>
      </geometry>
    </collision>
    <visual name="strike_1156_wall_n_vis">
      <origin xyz="-0.333 -0.05 1.156" rpy="0 0 0"/>
      <geometry>
        <box size="0.049 0.081 0.031"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="strike_1156_wall_n_col">
      <origin xyz="-0.333 -0.05 1.156" rpy="0 0 0"/>
      <geometry>
        <box size="0.049 0.081 0.031"/>
      </geometry>
    </collision>
    <visual name="strike_1156_wall_p_vis">
      <origin xyz="-0.333 0.017 1.156" rpy="0 0 0"/>
      <geometry>
        <box size="0.049 0.015 0.031"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="strike_1156_wall_p_col">
      <origin xyz="-0.333 0.017 1.156" rpy="0 0 0"/>
      <geometry>
        <box size="0.049 0.015 0.031"/>
      </geometry>
    </collision>
    <visual name="strike_1156_back_vis">
      <origin xyz="-0.3477 0 1.156" rpy="0 0 0"/>
      <geometry>
        <box size="0.0196 0.019 0.031"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="strike_1156_back_col">
      <origin xyz="-0.3477 0 1.156" rpy="0 0 0"/>
      <geometry>
        <box size="0.0196 0.019 0.031"/>
      </geometry>
    </collision>
    <visual name="jamb_strike_0_vis">
      <origin xyz="-0.333 -0.033 0.49965" rpy="0 0 0"/>
      <geometry>
        <box size="0.049 0.115 0.9993"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_strike_0_col">
      <origin xyz="-0.333 -0.033 0.49965" rpy="0 0 0"/>
      <geometry>
        <box size="0.049 0.115 0.9993"/>
      </geometry>
    </collision>
    <visual name="jamb_strike_1_vis">
      <origin xyz="-0.333 -0.033 1.0866" rpy="0 0 0"/>
      <geometry>
        <box size="0.049 0.115 0.1078"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_strike_1_col">
      <origin xyz="-0.333 -0.033 1.0866" rpy="0 0 0"/>
      <geometry>
        <box size="0.049 0.115 0.1078"/>
      </geometry>
    </collision>
    <visual name="jamb_strike_2_vis">
      <origin xyz="-0.333 -0.033 1.65925" rpy="0 0 0"/>
      <geometry>
        <box size="0.049 0.115 0.9755"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_strike_2_col">
      <origin xyz="-0.333 -0.033 1.65925" rpy="0 0 0"/>
      <geometry>
        <box size="0.049 0.115 0.9755"/>
      </geometry>
    </collision>
    <visual name="jamb_head_vis">
      <origin xyz="-0.015 -0.033 2.1565" rpy="0 0 0"/>
      <geometry>
        <box size="0.685 0.115 0.019"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_head_col">
      <origin xyz="-0.015 -0.033 2.1565" rpy="0 0 0"/>
      <geometry>
        <box size="0.685 0.115 0.019"/>
      </geometry>
    </collision>
    <visual name="head_stud_vis">
      <origin xyz="-0.015 -0.033 2.181" rpy="0 0 0"/>
      <geometry>
        <box size="0.685 0.115 0.03"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="head_stud_col">
      <origin xyz="-0.015 -0.033 2.181" rpy="0 0 0"/>
      <geometry>
        <box size="0.685 0.115 0.03"/>
      </geometry>
    </collision>
    <visual name="stop_hinge_vis">
      <origin xyz="0.303 -0.034 1.0735" rpy="0 0 0"/>
      <geometry>
        <box size="0.011 0.032 2.147"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="stop_hinge_col">
      <origin xyz="0.303 -0.034 1.0735" rpy="0 0 0"/>
      <geometry>
        <box size="0.011 0.032 2.147"/>
      </geometry>
    </collision>
    <visual name="stop_strike_vis">
      <origin xyz="-0.303 -0.034 1.0735" rpy="0 0 0"/>
      <geometry>
        <box size="0.011 0.032 2.147"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="stop_strike_col">
      <origin xyz="-0.303 -0.034 1.0735" rpy="0 0 0"/>
      <geometry>
        <box size="0.011 0.032 2.147"/>
      </geometry>
    </collision>
    <visual name="stop_head_vis">
      <origin xyz="0 -0.034 2.1415" rpy="0 0 0"/>
      <geometry>
        <box size="0.617 0.032 0.011"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="stop_head_col">
      <origin xyz="0 -0.034 2.1415" rpy="0 0 0"/>
      <geometry>
        <box size="0.617 0.032 0.011"/>
      </geometry>
    </collision>
    <visual name="seal_hinge_vis">
      <origin xyz="0.3055 -0.019 1.0735" rpy="0 0 0"/>
      <geometry>
        <box size="0.008 0.003 2.147"/>
      </geometry>
      <material name="mat_seal"/>
    </visual>
    <visual name="seal_strike_vis">
      <origin xyz="-0.3055 -0.019 1.0735" rpy="0 0 0"/>
      <geometry>
        <box size="0.008 0.003 2.147"/>
      </geometry>
      <material name="mat_seal"/>
    </visual>
    <visual name="seal_head_vis">
      <origin xyz="0 -0.019 2.135" rpy="0 0 0"/>
      <geometry>
        <box size="0.577 0.003 0.016"/>
      </geometry>
      <material name="mat_seal"/>
    </visual>
    <visual name="casing_l_n_vis">
      <origin xyz="-0.3575 -0.0985 1.0735" rpy="0 0 0"/>
      <geometry>
        <box size="0.07 0.016 2.166"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <visual name="casing_r_n_vis">
      <origin xyz="0.3575 -0.0985 1.0735" rpy="0 0 0"/>
      <geometry>
        <box size="0.07 0.016 2.166"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <visual name="casing_h_n_vis">
      <origin xyz="0 -0.0985 2.196" rpy="0 0 0"/>
      <geometry>
        <box size="0.785 0.016 0.07"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <visual name="casing_l_p_vis">
      <origin xyz="-0.3575 0.0325 1.0735" rpy="0 0 0"/>
      <geometry>
        <box size="0.07 0.016 2.166"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <visual name="casing_r_p_vis">
      <origin xyz="0.3575 0.0325 1.0735" rpy="0 0 0"/>
      <geometry>
        <box size="0.07 0.016 2.166"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <visual name="casing_h_p_vis">
      <origin xyz="0 0.0325 2.196" rpy="0 0 0"/>
      <geometry>
        <box size="0.785 0.016 0.07"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
  </link>
  <link name="leaf">
    <inertial>
      <origin xyz="-0.301618 -0.024326 1.076296" rpy="0 0 0"/>
      <mass value="33.881868"/>
      <inertia ixx="12.893675938" ixy="-0.001777368" ixz="-0.002737633" iyy="13.967010525" iyz="-0.000135713" izz="1.080473597"/>
    </inertial>
    <visual name="leaf_slab_vis">
      <origin xyz="-0.305 -0.0245 1.076" rpy="0 0 0"/>
      <geometry>
        <box size="0.61 0.035 2.134"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <collision name="leaf_slab_col">
      <origin xyz="-0.305 -0.0245 1.076" rpy="0 0 0"/>
      <geometry>
        <box size="0.61 0.035 2.134"/>
      </geometry>
    </collision>
    <visual name="leaf_panel_0_n_vis">
      <origin xyz="-0.175 -0.045 0.485624" rpy="0 0 0"/>
      <geometry>
        <box size="0.13 0.006 0.443768"/>
      </geometry>
      <material name="mat_leaf_panel"/>
    </visual>
    <visual name="leaf_panel_0_p_vis">
      <origin xyz="-0.175 -0.004 0.485624" rpy="0 0 0"/>
      <geometry>
        <box size="0.13 0.006 0.443768"/>
      </geometry>
      <material name="mat_leaf_panel"/>
    </visual>
    <visual name="leaf_panel_1_n_vis">
      <origin xyz="-0.435 -0.045 0.485624" rpy="0 0 0"/>
      <geometry>
        <box size="0.13 0.006 0.443768"/>
      </geometry>
      <material name="mat_leaf_panel"/>
    </visual>
    <visual name="leaf_panel_1_p_vis">
      <origin xyz="-0.435 -0.004 0.485624" rpy="0 0 0"/>
      <geometry>
        <box size="0.13 0.006 0.443768"/>
      </geometry>
      <material name="mat_leaf_panel"/>
    </visual>
    <visual name="leaf_panel_2_n_vis">
      <origin xyz="-0.175 -0.045 1.059392" rpy="0 0 0"/>
      <geometry>
        <box size="0.13 0.006 0.443768"/>
      </geometry>
      <material name="mat_leaf_panel"/>
    </visual>
    <visual name="leaf_panel_2_p_vis">
      <origin xyz="-0.175 -0.004 1.059392" rpy="0 0 0"/>
      <geometry>
        <box size="0.13 0.006 0.443768"/>
      </geometry>
      <material name="mat_leaf_panel"/>
    </visual>
    <visual name="leaf_panel_3_n_vis">
      <origin xyz="-0.435 -0.045 1.059392" rpy="0 0 0"/>
      <geometry>
        <box size="0.13 0.006 0.443768"/>
      </geometry>
      <material name="mat_leaf_panel"/>
    </visual>
    <visual name="leaf_panel_3_p_vis">
      <origin xyz="-0.435 -0.004 1.059392" rpy="0 0 0"/>
      <geometry>
        <box size="0.13 0.006 0.443768"/>
      </geometry>
      <material name="mat_leaf_panel"/>
    </visual>
    <visual name="leaf_panel_4_n_vis">
      <origin xyz="-0.175 -0.045 1.713788" rpy="0 0 0"/>
      <geometry>
        <box size="0.13 0.006 0.605024"/>
      </geometry>
      <material name="mat_leaf_panel"/>
    </visual>
    <visual name="leaf_panel_4_p_vis">
      <origin xyz="-0.175 -0.004 1.713788" rpy="0 0 0"/>
      <geometry>
        <box size="0.13 0.006 0.605024"/>
      </geometry>
      <material name="mat_leaf_panel"/>
    </visual>
    <visual name="leaf_panel_5_n_vis">
      <origin xyz="-0.435 -0.045 1.713788" rpy="0 0 0"/>
      <geometry>
        <box size="0.13 0.006 0.605024"/>
      </geometry>
      <material name="mat_leaf_panel"/>
    </visual>
    <visual name="leaf_panel_5_p_vis">
      <origin xyz="-0.435 -0.004 1.713788" rpy="0 0 0"/>
      <geometry>
        <box size="0.13 0.006 0.605024"/>
      </geometry>
      <material name="mat_leaf_panel"/>
    </visual>
    <visual name="hinge_0_vis">
      <origin xyz="0 0 0.259" rpy="0 0 3.141593"/>
      <geometry>
        <mesh filename="../../hardware/hinge_96510cf394.obj"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="hinge_1_vis">
      <origin xyz="0 0 1.076" rpy="0 0 3.141593"/>
      <geometry>
        <mesh filename="../../hardware/hinge_96510cf394.obj"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="hinge_2_vis">
      <origin xyz="0 0 1.963" rpy="0 0 3.141593"/>
      <geometry>
        <mesh filename="../../hardware/hinge_96510cf394.obj"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="leaf_latch_bolt_faceplate_vis">
      <origin xyz="-0.6094 -0.0245 1.016" rpy="0 0 0"/>
      <geometry>
        <box size="0.0012 0.0247 0.0534"/>
      </geometry>
      <material name="mat_bolt"/>
    </visual>
    <visual name="leaf_deadbolt_faceplate_vis">
      <origin xyz="-0.6094 -0.0245 1.156" rpy="0 0 0"/>
      <geometry>
        <box size="0.0012 0.028 0.049"/>
      </geometry>
      <material name="mat_deadbolt"/>
    </visual>
  </link>
  <link name="leaf_handle">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="1.150081"/>
      <inertia ixx="0.003840959" ixy="0" ixz="0" iyy="0.000298658" iyz="0" izz="0.003840959"/>
    </inertial>
    <visual name="leaf_handle_spindle_vis">
      <origin xyz="0 0 0" rpy="-1.570796 0 0"/>
      <geometry>
        <cylinder radius="0.006" length="0.051"/>
      </geometry>
      <material name="mat_op_hpl"/>
    </visual>
    <visual name="leaf_handle_knob_n_vis">
      <origin xyz="0 -0.0175 0" rpy="-1.570796 0 3.141593"/>
      <geometry>
        <mesh filename="../../hardware/knob_0ccd68d739.obj"/>
      </geometry>
      <material name="mat_op_hpl"/>
    </visual>
    <visual name="leaf_handle_knob_col_n_vis">
      <origin xyz="0 -0.06375 0" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.02475"/>
      </geometry>
      <material name="mat_op_hpl"/>
    </visual>
    <collision name="leaf_handle_knob_col_n_col">
      <origin xyz="0 -0.06375 0" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.02475"/>
      </geometry>
    </collision>
    <collision name="leaf_handle_knob_neck_n_col">
      <origin xyz="0 -0.0295 0" rpy="-1.570796 0 0"/>
      <geometry>
        <cylinder radius="0.011" length="0.024"/>
      </geometry>
    </collision>
    <visual name="leaf_handle_knob_p_vis">
      <origin xyz="0 0.0175 0" rpy="1.570796 0 3.141593"/>
      <geometry>
        <mesh filename="../../hardware/knob_0ccd68d739.obj"/>
      </geometry>
      <material name="mat_op_hpl"/>
    </visual>
    <visual name="leaf_handle_knob_col_p_vis">
      <origin xyz="0 0.06375 0" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.02475"/>
      </geometry>
      <material name="mat_op_hpl"/>
    </visual>
    <collision name="leaf_handle_knob_col_p_col">
      <origin xyz="0 0.06375 0" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.02475"/>
      </geometry>
    </collision>
    <collision name="leaf_handle_knob_neck_p_col">
      <origin xyz="0 0.0295 0" rpy="-1.570796 0 0"/>
      <geometry>
        <cylinder radius="0.011" length="0.024"/>
      </geometry>
    </collision>
  </link>
  <link name="leaf_latch_bolt">
    <inertial>
      <origin xyz="0.00865 0 0" rpy="0 0 0"/>
      <mass value="0.041419"/>
      <inertia ixx="0.000000798" ixy="0" ixz="0" iyy="0.000005598" iyz="0" izz="0.000005598"/>
    </inertial>
    <visual name="leaf_latch_bolt_capsule_vis">
      <origin xyz="0.00865 0 0" rpy="0 -1.570796 0"/>
      <geometry>
        <cylinder radius="0.00635" length="0.03"/>
      </geometry>
      <material name="mat_bolt"/>
    </visual>
    <collision name="leaf_latch_bolt_capsule_col">
      <origin xyz="0.00865 0 0" rpy="0 -1.570796 0"/>
      <geometry>
        <cylinder radius="0.00635" length="0.03"/>
      </geometry>
    </collision>
  </link>
  <link name="leaf_deadbolt">
    <inertial>
      <origin xyz="0.0277 0 0" rpy="0 0 0"/>
      <mass value="0.18836"/>
      <inertia ixx="0.000013829" ixy="0" ixz="0" iyy="0.000057986" iyz="0" izz="0.000052194"/>
    </inertial>
    <visual name="leaf_deadbolt_box_vis">
      <origin xyz="0.0277 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.0554 0.016 0.025"/>
      </geometry>
      <material name="mat_deadbolt"/>
    </visual>
    <collision name="leaf_deadbolt_box_col">
      <origin xyz="0.0277 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.0554 0.016 0.025"/>
      </geometry>
    </collision>
  </link>
  <link name="leaf_deadbolt_thumbturn">
    <inertial>
      <origin xyz="0 -0.012928 0" rpy="0 0 0"/>
      <mass value="0.178946"/>
      <inertia ixx="0.000026215" ixy="0" ixz="0" iyy="0.000026045" iyz="0" izz="0.000032438"/>
    </inertial>
    <visual name="leaf_deadbolt_thumbturn_mesh_vis">
      <origin xyz="0 0 0" rpy="1.570796 -1.570793 0"/>
      <geometry>
        <mesh filename="../../hardware/thumbturn_eb5c9899a3.obj"/>
      </geometry>
      <material name="mat_deadbolt"/>
    </visual>
    <collision name="leaf_deadbolt_thumbturn_mesh_col">
      <origin xyz="0 0 0" rpy="1.570796 -1.570793 0"/>
      <geometry>
        <mesh filename="../../hardware/thumbturn_eb5c9899a3.obj"/>
      </geometry>
    </collision>
    <collision name="leaf_deadbolt_thumbturn_col_col">
      <origin xyz="0 -0.02 0" rpy="3.141593 1.570793 3.141593"/>
      <geometry>
        <box size="0.012 0.024 0.032"/>
      </geometry>
    </collision>
  </link>
  <joint name="leaf_hinge" type="revolute">
    <origin xyz="0.3055 0.0245 0" rpy="0 0 0"/>
    <parent link="world_env"/>
    <child link="leaf"/>
    <axis xyz="0 0 -1"/>
    <limit lower="0" upper="1.745329" effort="2000" velocity="10"/>
    <dynamics damping="0.103362" friction="1.004297"/>
    <doorbench:closer damping_closing="0" damping_opening="0" backcheck_angle="0" backcheck_damping="0"/>
  </joint>
  <joint name="leaf_handle_hinge" type="revolute">
    <origin xyz="-0.55 -0.0245 1.016" rpy="0 0 0"/>
    <parent link="leaf"/>
    <child link="leaf_handle"/>
    <axis xyz="0 1 0"/>
    <limit lower="0" upper="0.85" effort="2000" velocity="10"/>
    <dynamics damping="0.128366" friction="0.032"/>
    <doorbench:spring stiffness="0.4" springref="-0.5" note="tau = -stiffness*(q - springref); not native URDF"/>
  </joint>
  <joint name="leaf_latch_bolt_slide" type="prismatic">
    <origin xyz="-0.61 -0.0245 1.016" rpy="0 0 0"/>
    <parent link="leaf"/>
    <child link="leaf_latch_bolt"/>
    <axis xyz="1 0 0"/>
    <limit lower="0" upper="0.0127" effort="5000" velocity="10"/>
    <dynamics damping="2" friction="0.3"/>
    <doorbench:spring stiffness="300" springref="-0.008333" note="tau = -stiffness*(q - springref); not native URDF"/>
    <mimic joint="leaf_handle_hinge" multiplier="0.016933" offset="0"/>
    <doorbench:coupling one_sided="true" note="MJCF uses a one-sided tendon (bolt may retract further, e.g. riding over the strike lip); mimic is bilateral"/>
  </joint>
  <joint name="leaf_deadbolt_slide" type="prismatic">
    <origin xyz="-0.61 -0.0245 1.156" rpy="0 0 0"/>
    <parent link="leaf"/>
    <child link="leaf_deadbolt"/>
    <axis xyz="1 0 0"/>
    <doorbench:zero_offset value="0.0254" note="URDF q=0 is the spec initial state; DoorBench q = urdf_q + value"/>
    <limit lower="-0.0254" upper="0" effort="5000" velocity="10"/>
    <dynamics damping="5" friction="1.5"/>
    <mimic joint="leaf_deadbolt_thumbturn_hinge" multiplier="0.01617" offset="0"/>
  </joint>
  <joint name="leaf_deadbolt_thumbturn_hinge" type="revolute">
    <origin xyz="-0.545 -0.042 1.156" rpy="0 0 0"/>
    <parent link="leaf"/>
    <child link="leaf_deadbolt_thumbturn"/>
    <axis xyz="0 1 0"/>
    <doorbench:zero_offset value="1.5708" note="URDF q=0 is the spec initial state; DoorBench q = urdf_q + value"/>
    <limit lower="-1.5708" upper="0" effort="2000" velocity="10"/>
    <dynamics damping="0.05" friction="0.3"/>
  </joint>
  <material name="mat_bolt">
    <color rgba="0.85 0.66 0.3 1"/>
  </material>
  <material name="mat_deadbolt">
    <color rgba="0.85 0.66 0.3 1"/>
  </material>
  <material name="mat_floor">
    <color rgba="0.55 0.53 0.5 1"/>
  </material>
  <material name="mat_frame">
    <color rgba="0.82 0.7 0.5 1"/>
  </material>
  <material name="mat_hinge">
    <color rgba="0.65 0.66 0.68 1"/>
  </material>
  <material name="mat_leaf">
    <color rgba="0.9 0.88 0.82 1"/>
  </material>
  <material name="mat_leaf_panel">
    <color rgba="0.828 0.81 0.754 1"/>
  </material>
  <material name="mat_op_hpl">
    <color rgba="0.75 0.75 0.72 1"/>
  </material>
  <material name="mat_seal">
    <color rgba="0.1 0.1 0.1 1"/>
  </material>
  <material name="mat_wall">
    <color rgba="0.78 0.76 0.7 1"/>
  </material>
</robot>
