<?xml version="1.0" ?>
<robot xmlns:doorbench="https://github.com/adamraudonis/DoorBench/schema/urdf-ext" name="db0151_sliding_single_simple">
  <link name="world_env">
    <visual name="floor_vis">
      <origin xyz="0 0 -0.05" rpy="0 0 0"/>
      <geometry>
        <box size="12 12 0.1"/>
      </geometry>
      <material name="mat_floor"/>
    </visual>
    <collision name="floor_col">
      <origin xyz="0 0 -0.05" rpy="0 0 0"/>
      <geometry>
        <box size="12 12 0.1"/>
      </geometry>
    </collision>
    <visual name="wall_left_vis">
      <origin xyz="-1.493 0 1.377" rpy="0 0 0"/>
      <geometry>
        <box size="2.014 0.145 2.754"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_left_col">
      <origin xyz="-1.493 0 1.377" rpy="0 0 0"/>
      <geometry>
        <box size="2.014 0.145 2.754"/>
      </geometry>
    </collision>
    <visual name="wall_right_vis">
      <origin xyz="1.523 0 1.377" rpy="0 0 0"/>
      <geometry>
        <box size="1.954 0.145 2.754"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_right_col">
      <origin xyz="1.523 0 1.377" rpy="0 0 0"/>
      <geometry>
        <box size="1.954 0.145 2.754"/>
      </geometry>
    </collision>
    <visual name="wall_header_vis">
      <origin xyz="0.03 0 2.4635" rpy="0 0 0"/>
      <geometry>
        <box size="1.032 0.145 0.581"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_header_col">
      <origin xyz="0.03 0 2.4635" rpy="0 0 0"/>
      <geometry>
        <box size="1.032 0.145 0.581"/>
      </geometry>
    </collision>
    <visual name="jamb_l_vis">
      <origin xyz="-0.4765 0 1.077" rpy="0 0 0"/>
      <geometry>
        <box size="0.019 0.145 2.154"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_l_col">
      <origin xyz="-0.4765 0 1.077" rpy="0 0 0"/>
      <geometry>
        <box size="0.019 0.145 2.154"/>
      </geometry>
    </collision>
    <visual name="jamb_head_vis">
      <origin xyz="0 0 2.1635" rpy="0 0 0"/>
      <geometry>
        <box size="0.972 0.145 0.019"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_head_col">
      <origin xyz="0 0 2.1635" rpy="0 0 0"/>
      <geometry>
        <box size="0.972 0.145 0.019"/>
      </geometry>
    </collision>
    <visual name="flat_track_vis">
      <origin xyz="0 -0.0875 2.274" rpy="0 0 0"/>
      <geometry>
        <box size="1.928 0.008 0.04"/>
      </geometry>
      <material name="mat_track"/>
    </visual>
    <collision name="flat_track_col">
      <origin xyz="0 -0.0875 2.274" rpy="0 0 0"/>
      <geometry>
        <box size="1.928 0.008 0.04"/>
      </geometry>
    </collision>
    <visual name="leaf_teardrop_keeper_post_vis">
      <origin xyz="0.462 -0.1395 1.266" rpy="0 0 0"/>
      <geometry>
        <box size="0.01 0.012 0.036"/>
      </geometry>
      <material name="mat_teardrop"/>
    </visual>
    <collision name="leaf_teardrop_keeper_post_col">
      <origin xyz="0.462 -0.1395 1.266" rpy="0 0 0"/>
      <geometry>
        <box size="0.01 0.012 0.036"/>
      </geometry>
    </collision>
    <visual name="leaf_hook_keeper_vis">
      <origin xyz="0.475 -0.1075 1.13" rpy="0 0 0"/>
      <geometry>
        <box size="0.016 0.03 0.016"/>
      </geometry>
      <material name="mat_hook"/>
    </visual>
    <collision name="leaf_hook_keeper_col">
      <origin xyz="0.475 -0.1075 1.13" rpy="0 0 0"/>
      <geometry>
        <box size="0.016 0.03 0.016"/>
      </geometry>
    </collision>
    <visual name="jamb_latch_0_vis">
      <origin xyz="0.5065 0 1.077" rpy="0 0 0"/>
      <geometry>
        <box size="0.079 0.145 2.154"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_latch_0_col">
      <origin xyz="0.5065 0 1.077" rpy="0 0 0"/>
      <geometry>
        <box size="0.079 0.145 2.154"/>
      </geometry>
    </collision>
    <visual name="floor_guide_n_vis">
      <origin xyz="-0.517 -0.1375 0.02" rpy="0 0 0"/>
      <geometry>
        <box size="0.06 0.008 0.04"/>
      </geometry>
      <material name="mat_track"/>
    </visual>
    <collision name="floor_guide_n_col">
      <origin xyz="-0.517 -0.1375 0.02" rpy="0 0 0"/>
      <geometry>
        <box size="0.06 0.008 0.04"/>
      </geometry>
    </collision>
    <visual name="floor_guide_p_vis">
      <origin xyz="-0.517 -0.0775 0.02" rpy="0 0 0"/>
      <geometry>
        <box size="0.06 0.008 0.04"/>
      </geometry>
      <material name="mat_track"/>
    </visual>
    <collision name="floor_guide_p_col">
      <origin xyz="-0.517 -0.0775 0.02" rpy="0 0 0"/>
      <geometry>
        <box size="0.06 0.008 0.04"/>
      </geometry>
    </collision>
  </link>
  <link name="leaf">
    <inertial>
      <origin xyz="0.004042 -0.000844 1.161441" rpy="0 0 0"/>
      <mass value="44.864298"/>
      <inertia ixx="19.70100123" ixy="0.010570197" ixz="0.019783059" iyy="22.987989157" iyz="0.005458434" izz="3.304236069"/>
    </inertial>
    <visual name="leaf_slab_vis">
      <origin xyz="0 0 1.079" rpy="0 0 0"/>
      <geometry>
        <box size="0.914 0.044 2.134"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <collision name="leaf_slab_col">
      <origin xyz="0 0 1.079" rpy="0 0 0"/>
      <geometry>
        <box size="0.914 0.044 2.134"/>
      </geometry>
    </collision>
    <visual name="leaf_batten_13_vis">
      <origin xyz="0 -0.032 0.132" rpy="0 0 0"/>
      <geometry>
        <box size="0.854 0.02 0.09"/>
      </geometry>
      <material name="mat_leaf_brace"/>
    </visual>
    <visual name="leaf_batten_202_vis">
      <origin xyz="0 -0.032 2.026" rpy="0 0 0"/>
      <geometry>
        <box size="0.854 0.02 0.09"/>
      </geometry>
      <material name="mat_leaf_brace"/>
    </visual>
    <visual name="leaf_brace_z_vis">
      <origin xyz="0 -0.032 1.079" rpy="0 -1.142734 0"/>
      <geometry>
        <box size="1.960931 0.02 0.09"/>
      </geometry>
      <material name="mat_leaf_brace"/>
    </visual>
    <visual name="leaf_hanger_wheel_0_vis">
      <origin xyz="-0.337 0 2.266" rpy="-1.570796 0 0"/>
      <geometry>
        <cylinder radius="0.05" length="0.02"/>
      </geometry>
      <material name="mat_roller"/>
    </visual>
    <visual name="leaf_hanger_strap_0_vis">
      <origin xyz="-0.337 -0.012 2.196" rpy="0 0 0"/>
      <geometry>
        <box size="0.04 0.008 0.14"/>
      </geometry>
      <material name="mat_roller"/>
    </visual>
    <visual name="leaf_hanger_wheel_1_vis">
      <origin xyz="0.337 0 2.266" rpy="-1.570796 0 0"/>
      <geometry>
        <cylinder radius="0.05" length="0.02"/>
      </geometry>
      <material name="mat_roller"/>
    </visual>
    <visual name="leaf_hanger_strap_1_vis">
      <origin xyz="0.337 -0.012 2.196" rpy="0 0 0"/>
      <geometry>
        <box size="0.04 0.008 0.14"/>
      </geometry>
      <material name="mat_roller"/>
    </visual>
    <visual name="leaf_pull_n_vis">
      <origin xyz="0.367 -0.022 1.05" rpy="1.570796 0 0"/>
      <geometry>
        <mesh filename="../../hardware/pull_2b47e55ff8.obj"/>
      </geometry>
      <material name="mat_op_black_matte_metal"/>
    </visual>
    <collision name="leaf_pull_col_n_col">
      <origin xyz="0.367 -0.067 1.05" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.006" length="0.26"/>
      </geometry>
    </collision>
  </link>
  <link name="leaf_teardrop">
    <inertial>
      <origin xyz="0.054615 0 -0.014615" rpy="0 0 0"/>
      <mass value="0.097344"/>
      <inertia ixx="0.00002687" ixy="0" ixz="0.000021888" iyy="0.000091881" iyz="0" izz="0.00006605"/>
    </inertial>
    <visual name="leaf_teardrop_top_vis">
      <origin xyz="0.04 0 -0.005" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.008 0.012"/>
      </geometry>
      <material name="mat_teardrop"/>
    </visual>
    <collision name="leaf_teardrop_top_col">
      <origin xyz="0.04 0 -0.005" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.008 0.012"/>
      </geometry>
    </collision>
    <visual name="leaf_teardrop_end_vis">
      <origin xyz="0.078 0 -0.03" rpy="0 0 0"/>
      <geometry>
        <box size="0.01 0.008 0.06"/>
      </geometry>
      <material name="mat_teardrop"/>
    </visual>
    <collision name="leaf_teardrop_end_col">
      <origin xyz="0.078 0 -0.03" rpy="0 0 0"/>
      <geometry>
        <box size="0.01 0.008 0.06"/>
      </geometry>
    </collision>
  </link>
  <link name="leaf_hook_thumbturn">
    <inertial>
      <origin xyz="0 0.012928 0" rpy="0 0 0"/>
      <mass value="0.178946"/>
      <inertia ixx="0.000028031" ixy="0" ixz="0.000002829" iyy="0.000026045" iyz="0" izz="0.000030621"/>
    </inertial>
    <visual name="leaf_hook_tt_mesh_vis">
      <origin xyz="0 0 0" rpy="-1.570796 -1 0"/>
      <geometry>
        <mesh filename="../../hardware/thumbturn_eb5c9899a3.obj"/>
      </geometry>
      <material name="mat_hook"/>
    </visual>
    <collision name="leaf_hook_tt_mesh_col">
      <origin xyz="0 0 0" rpy="-1.570796 -1 0"/>
      <geometry>
        <mesh filename="../../hardware/thumbturn_eb5c9899a3.obj"/>
      </geometry>
    </collision>
    <collision name="leaf_hook_tt_col_col">
      <origin xyz="0 0.02 0" rpy="0 -1 0"/>
      <geometry>
        <box size="0.012 0.024 0.032"/>
      </geometry>
    </collision>
  </link>
  <link name="leaf_hook">
    <inertial>
      <origin xyz="0.007291 0 -0.027643" rpy="0 0 0"/>
      <mass value="0.07584"/>
      <inertia ixx="0.000007345" ixy="0" ixz="0.000003342" iyy="0.000020936" iyz="0" izz="0.000014855"/>
    </inertial>
    <visual name="leaf_hook_arm_vis">
      <origin xyz="-0.002657 0 -0.025474" rpy="0 1 0"/>
      <geometry>
        <box size="0.044 0.01 0.012"/>
      </geometry>
      <material name="mat_hook"/>
    </visual>
    <collision name="leaf_hook_arm_col">
      <origin xyz="-0.002657 0 -0.025474" rpy="0 1 0"/>
      <geometry>
        <box size="0.044 0.01 0.012"/>
      </geometry>
    </collision>
    <visual name="leaf_hook_tip_vis">
      <origin xyz="0.019451 0 -0.030293" rpy="0 1 0"/>
      <geometry>
        <box size="0.012 0.01 0.036"/>
      </geometry>
      <material name="mat_hook"/>
    </visual>
    <collision name="leaf_hook_tip_col">
      <origin xyz="0.019451 0 -0.030293" rpy="0 1 0"/>
      <geometry>
        <box size="0.012 0.01 0.036"/>
      </geometry>
    </collision>
  </link>
  <joint name="leaf_slide" type="prismatic">
    <origin xyz="0 -0.1075 0" rpy="0 0 0"/>
    <parent link="world_env"/>
    <child link="leaf"/>
    <axis xyz="-1 0 0"/>
    <limit lower="0" upper="0.914" effort="5000" velocity="10"/>
    <dynamics damping="4.119703" friction="8.314873"/>
  </joint>
  <joint name="leaf_teardrop_hinge" type="revolute">
    <origin xyz="0.397 -0.032 1.3" rpy="0 0 0"/>
    <parent link="leaf"/>
    <child link="leaf_teardrop"/>
    <axis xyz="0 -1 0"/>
    <limit lower="0" upper="1.4" effort="2000" velocity="10"/>
    <dynamics damping="0.02" friction="0.02"/>
  </joint>
  <joint name="leaf_hook_thumbturn_hinge" type="revolute">
    <origin xyz="0.397 0.022 1.13" rpy="0 0 0"/>
    <parent link="leaf"/>
    <child link="leaf_hook_thumbturn"/>
    <axis xyz="0 -1 0"/>
    <doorbench:zero_offset value="1" note="URDF q=0 is the spec initial state; DoorBench q = urdf_q + value"/>
    <limit lower="-1" upper="0" effort="2000" velocity="10"/>
    <dynamics damping="0.05" friction="0.25"/>
  </joint>
  <joint name="leaf_hook_hinge" type="revolute">
    <origin xyz="0.457 0 1.13" rpy="0 0 0"/>
    <parent link="leaf"/>
    <child link="leaf_hook"/>
    <axis xyz="0 1 0"/>
    <doorbench:zero_offset value="1" note="URDF q=0 is the spec initial state; DoorBench q = urdf_q + value"/>
    <limit lower="-1" upper="0" effort="2000" velocity="10"/>
    <dynamics damping="0.05" friction="0.1"/>
    <mimic joint="leaf_hook_thumbturn_hinge" multiplier="1" offset="0"/>
  </joint>
  <material name="mat_floor">
    <color rgba="0.55 0.53 0.5 1"/>
  </material>
  <material name="mat_frame">
    <color rgba="0.82 0.7 0.5 1"/>
  </material>
  <material name="mat_hook">
    <color rgba="0.75 0.76 0.77 1"/>
  </material>
  <material name="mat_leaf">
    <color rgba="0.5 0.46 0.425 1"/>
  </material>
  <material name="mat_leaf_brace">
    <color rgba="0.45 0.414 0.383 1"/>
  </material>
  <material name="mat_op_black_matte_metal">
    <color rgba="0.05 0.05 0.05 1"/>
  </material>
  <material name="mat_roller">
    <color rgba="0.65 0.66 0.68 1"/>
  </material>
  <material name="mat_teardrop">
    <color rgba="0.05 0.05 0.05 1"/>
  </material>
  <material name="mat_track">
    <color rgba="0.05 0.05 0.05 1"/>
  </material>
  <material name="mat_wall">
    <color rgba="0.78 0.76 0.7 1"/>
  </material>
</robot>
