<?xml version="1.0" ?>
<robot xmlns:doorbench="https://github.com/adamraudonis/DoorBench/schema/urdf-ext" name="db0292_accordion_minimal">
  <link name="world_env">
    <visual name="floor_vis">
      <origin xyz="0 0 -0.05" rpy="0 0 0"/>
      <geometry>
        <box size="12 12 0.1"/>
      </geometry>
      <material name="mat_floor"/>
    </visual>
    <collision name="floor_col">
      <origin xyz="0 0 -0.05" rpy="0 0 0"/>
      <geometry>
        <box size="12 12 0.1"/>
      </geometry>
    </collision>
    <visual name="wall_left_vis">
      <origin xyz="-1.70975 0 1.51" rpy="0 0 0"/>
      <geometry>
        <box size="1.5805 0.145 3.02"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_left_col">
      <origin xyz="-1.70975 0 1.51" rpy="0 0 0"/>
      <geometry>
        <box size="1.5805 0.145 3.02"/>
      </geometry>
    </collision>
    <visual name="wall_right_vis">
      <origin xyz="1.70975 0 1.51" rpy="0 0 0"/>
      <geometry>
        <box size="1.5805 0.145 3.02"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_right_col">
      <origin xyz="1.70975 0 1.51" rpy="0 0 0"/>
      <geometry>
        <box size="1.5805 0.145 3.02"/>
      </geometry>
    </collision>
    <visual name="wall_header_vis">
      <origin xyz="0 0 2.72" rpy="0 0 0"/>
      <geometry>
        <box size="1.839 0.145 0.6"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_header_col">
      <origin xyz="0 0 2.72" rpy="0 0 0"/>
      <geometry>
        <box size="1.839 0.145 0.6"/>
      </geometry>
    </collision>
    <visual name="jamb_hinge_vis">
      <origin xyz="-0.929 0 1.21" rpy="0 0 0"/>
      <geometry>
        <box size="0.019 0.145 2.42"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_hinge_col">
      <origin xyz="-0.929 0 1.21" rpy="0 0 0"/>
      <geometry>
        <box size="0.019 0.145 2.42"/>
      </geometry>
    </collision>
    <visual name="jamb_strike_vis">
      <origin xyz="0.929 0 1.21" rpy="0 0 0"/>
      <geometry>
        <box size="0.019 0.145 2.42"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_strike_col">
      <origin xyz="0.929 0 1.21" rpy="0 0 0"/>
      <geometry>
        <box size="0.019 0.145 2.42"/>
      </geometry>
    </collision>
    <visual name="stud_strike_vis">
      <origin xyz="0.9535 0 1.21" rpy="0 0 0"/>
      <geometry>
        <box size="0.03 0.145 2.42"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="stud_strike_col">
      <origin xyz="0.9535 0 1.21" rpy="0 0 0"/>
      <geometry>
        <box size="0.03 0.145 2.42"/>
      </geometry>
    </collision>
    <visual name="jamb_head_vis">
      <origin xyz="0.015 0 2.4295" rpy="0 0 0"/>
      <geometry>
        <box size="1.907 0.145 0.019"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_head_col">
      <origin xyz="0.015 0 2.4295" rpy="0 0 0"/>
      <geometry>
        <box size="1.907 0.145 0.019"/>
      </geometry>
    </collision>
    <visual name="head_stud_vis">
      <origin xyz="0.015 0 2.454" rpy="0 0 0"/>
      <geometry>
        <box size="1.907 0.145 0.03"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="head_stud_col">
      <origin xyz="0.015 0 2.454" rpy="0 0 0"/>
      <geometry>
        <box size="1.907 0.145 0.03"/>
      </geometry>
    </collision>
  </link>
  <link name="panel_0_0">
    <inertial>
      <origin xyz="0.1225 0 1.22" rpy="0 0 0"/>
      <mass value="9.25248"/>
      <inertia ixx="4.44130143" ixy="0" ixz="0" iyy="4.512916396" iyz="0" izz="0.071837026"/>
    </inertial>
    <visual name="panel_0_0_slab_vis">
      <origin xyz="0.1225 0 1.22" rpy="0 0 0"/>
      <geometry>
        <box size="0.305 0.012 2.4"/>
      </geometry>
      <material name="mat_panel_0_0"/>
    </visual>
    <collision name="panel_0_0_slab_col">
      <origin xyz="0.1225 0 1.22" rpy="0 0 0"/>
      <geometry>
        <box size="0.305 0.012 2.4"/>
      </geometry>
    </collision>
  </link>
  <link name="panel_0_1">
    <inertial>
      <origin xyz="0.1575 0 1.22" rpy="0 0 0"/>
      <mass value="0.008784"/>
      <inertia ixx="0.004216425" ixy="0" ixz="0" iyy="0.004284414" iyz="0" izz="0.0000682"/>
    </inertial>
    <visual name="panel_0_1_slab_vis">
      <origin xyz="0.1575 0 1.22" rpy="0 0 0"/>
      <geometry>
        <box size="0.305 0.012 2.4"/>
      </geometry>
      <material name="mat_panel_0_1"/>
    </visual>
    <collision name="panel_0_1_slab_col">
      <origin xyz="0.1575 0 1.22" rpy="0 0 0"/>
      <geometry>
        <box size="0.305 0.012 2.4"/>
      </geometry>
    </collision>
  </link>
  <link name="panel_0_2">
    <inertial>
      <origin xyz="0.1575 0 1.22" rpy="0 0 0"/>
      <mass value="0.008784"/>
      <inertia ixx="0.004216425" ixy="0" ixz="0" iyy="0.004284414" iyz="0" izz="0.0000682"/>
    </inertial>
    <visual name="panel_0_2_slab_vis">
      <origin xyz="0.1575 0 1.22" rpy="0 0 0"/>
      <geometry>
        <box size="0.305 0.012 2.4"/>
      </geometry>
      <material name="mat_panel_0_2"/>
    </visual>
    <collision name="panel_0_2_slab_col">
      <origin xyz="0.1575 0 1.22" rpy="0 0 0"/>
      <geometry>
        <box size="0.305 0.012 2.4"/>
      </geometry>
    </collision>
  </link>
  <link name="panel_0_3">
    <inertial>
      <origin xyz="0.1575 0 1.22" rpy="0 0 0"/>
      <mass value="0.008784"/>
      <inertia ixx="0.004216425" ixy="0" ixz="0" iyy="0.004284414" iyz="0" izz="0.0000682"/>
    </inertial>
    <visual name="panel_0_3_slab_vis">
      <origin xyz="0.1575 0 1.22" rpy="0 0 0"/>
      <geometry>
        <box size="0.305 0.012 2.4"/>
      </geometry>
      <material name="mat_panel_0_3"/>
    </visual>
    <collision name="panel_0_3_slab_col">
      <origin xyz="0.1575 0 1.22" rpy="0 0 0"/>
      <geometry>
        <box size="0.305 0.012 2.4"/>
      </geometry>
    </collision>
  </link>
  <link name="panel_0_4">
    <inertial>
      <origin xyz="0.1575 0 1.22" rpy="0 0 0"/>
      <mass value="0.008784"/>
      <inertia ixx="0.004216425" ixy="0" ixz="0" iyy="0.004284414" iyz="0" izz="0.0000682"/>
    </inertial>
    <visual name="panel_0_4_slab_vis">
      <origin xyz="0.1575 0 1.22" rpy="0 0 0"/>
      <geometry>
        <box size="0.305 0.012 2.4"/>
      </geometry>
      <material name="mat_panel_0_4"/>
    </visual>
    <collision name="panel_0_4_slab_col">
      <origin xyz="0.1575 0 1.22" rpy="0 0 0"/>
      <geometry>
        <box size="0.305 0.012 2.4"/>
      </geometry>
    </collision>
  </link>
  <link name="panel_0_5">
    <inertial>
      <origin xyz="0.18924 -0.002358 1.140197" rpy="0 0 0"/>
      <mass value="0.013784"/>
      <inertia ixx="0.004374944" ixy="0.000001812" ixz="0.000061336" iyy="0.004468235" iyz="-0.000004556" izz="0.000093772"/>
    </inertial>
    <visual name="panel_0_5_slab_vis">
      <origin xyz="0.1575 0 1.22" rpy="0 0 0"/>
      <geometry>
        <box size="0.305 0.012 2.4"/>
      </geometry>
      <material name="mat_panel_0_5"/>
    </visual>
    <collision name="panel_0_5_slab_col">
      <origin xyz="0.1575 0 1.22" rpy="0 0 0"/>
      <geometry>
        <box size="0.305 0.012 2.4"/>
      </geometry>
    </collision>
    <visual name="panel_0_5_pull_n_vis">
      <origin xyz="0.245 -0.0065 1" rpy="0 0 0"/>
      <geometry>
        <box size="0.05 0.001 0.1"/>
      </geometry>
      <material name="mat_op_nickel_satin"/>
    </visual>
  </link>
  <joint name="panel_0_0_hinge" type="revolute">
    <origin xyz="-0.8845 0 0" rpy="0 0 0"/>
    <parent link="world_env"/>
    <child link="panel_0_0"/>
    <axis xyz="0 0 -1"/>
    <limit lower="0" upper="1.48353" effort="2000" velocity="10"/>
    <dynamics damping="0.749525" friction="2.387486"/>
  </joint>
  <joint name="panel_0_1_hinge" type="revolute">
    <origin xyz="0.27 0 0" rpy="0 0 0"/>
    <parent link="panel_0_0"/>
    <child link="panel_0_1"/>
    <axis xyz="0 0 -1"/>
    <limit lower="-3.141593" upper="0" effort="2000" velocity="10"/>
    <dynamics damping="0.2" friction="0.1"/>
    <mimic joint="panel_0_0_hinge" multiplier="-2" offset="0"/>
  </joint>
  <joint name="panel_0_2_hinge" type="revolute">
    <origin xyz="0.305 0 0" rpy="0 0 0"/>
    <parent link="panel_0_1"/>
    <child link="panel_0_2"/>
    <axis xyz="0 0 -1"/>
    <limit lower="-3.141593" upper="0" effort="2000" velocity="10"/>
    <dynamics damping="0.2" friction="0.1"/>
    <mimic joint="panel_0_0_hinge" multiplier="2" offset="0"/>
  </joint>
  <joint name="panel_0_3_hinge" type="revolute">
    <origin xyz="0.305 0 0" rpy="0 0 0"/>
    <parent link="panel_0_2"/>
    <child link="panel_0_3"/>
    <axis xyz="0 0 -1"/>
    <limit lower="-3.141593" upper="0" effort="2000" velocity="10"/>
    <dynamics damping="0.2" friction="0.1"/>
    <mimic joint="panel_0_0_hinge" multiplier="-2" offset="0"/>
  </joint>
  <joint name="panel_0_4_hinge" type="revolute">
    <origin xyz="0.305 0 0" rpy="0 0 0"/>
    <parent link="panel_0_3"/>
    <child link="panel_0_4"/>
    <axis xyz="0 0 -1"/>
    <limit lower="-3.141593" upper="0" effort="2000" velocity="10"/>
    <dynamics damping="0.2" friction="0.1"/>
    <mimic joint="panel_0_0_hinge" multiplier="2" offset="0"/>
  </joint>
  <joint name="panel_0_5_hinge" type="revolute">
    <origin xyz="0.305 0 0" rpy="0 0 0"/>
    <parent link="panel_0_4"/>
    <child link="panel_0_5"/>
    <axis xyz="0 0 -1"/>
    <limit lower="-3.141593" upper="0" effort="2000" velocity="10"/>
    <dynamics damping="0.2" friction="0.1"/>
    <mimic joint="panel_0_0_hinge" multiplier="-2" offset="0"/>
  </joint>
  <material name="mat_floor">
    <color rgba="0.55 0.53 0.5 1"/>
  </material>
  <material name="mat_frame">
    <color rgba="0.82 0.7 0.5 1"/>
  </material>
  <material name="mat_op_nickel_satin">
    <color rgba="0.72 0.7 0.66 1"/>
  </material>
  <material name="mat_panel_0_0">
    <color rgba="0.9 0.65 0.7 1"/>
  </material>
  <material name="mat_panel_0_1">
    <color rgba="0.9 0.65 0.7 1"/>
  </material>
  <material name="mat_panel_0_2">
    <color rgba="0.9 0.65 0.7 1"/>
  </material>
  <material name="mat_panel_0_3">
    <color rgba="0.9 0.65 0.7 1"/>
  </material>
  <material name="mat_panel_0_4">
    <color rgba="0.9 0.65 0.7 1"/>
  </material>
  <material name="mat_panel_0_5">
    <color rgba="0.9 0.65 0.7 1"/>
  </material>
  <material name="mat_wall">
    <color rgba="0.78 0.76 0.7 1"/>
  </material>
</robot>
