<?xml version="1.0" ?>
<robot xmlns:doorbench="https://github.com/adamraudonis/DoorBench/schema/urdf-ext" name="db0733_swing_double_simple">
  <link name="world_env">
    <visual name="floor_vis">
      <origin xyz="0 0 -0.05" rpy="0 0 0"/>
      <geometry>
        <box size="12 12 0.1"/>
      </geometry>
      <material name="mat_floor"/>
    </visual>
    <collision name="floor_col">
      <origin xyz="0 0 -0.05" rpy="0 0 0"/>
      <geometry>
        <box size="12 12 0.1"/>
      </geometry>
    </collision>
    <visual name="wall_left_vis">
      <origin xyz="-1.56675 -0.108 1.5255" rpy="0 0 0"/>
      <geometry>
        <box size="1.8665 0.3 3.051"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_left_col">
      <origin xyz="-1.56675 -0.108 1.5255" rpy="0 0 0"/>
      <geometry>
        <box size="1.8665 0.3 3.051"/>
      </geometry>
    </collision>
    <visual name="wall_right_vis">
      <origin xyz="1.56675 -0.108 1.5255" rpy="0 0 0"/>
      <geometry>
        <box size="1.8665 0.3 3.051"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_right_col">
      <origin xyz="1.56675 -0.108 1.5255" rpy="0 0 0"/>
      <geometry>
        <box size="1.8665 0.3 3.051"/>
      </geometry>
    </collision>
    <visual name="wall_header_vis">
      <origin xyz="0 -0.108 2.7755" rpy="0 0 0"/>
      <geometry>
        <box size="1.267 0.3 0.551"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_header_col">
      <origin xyz="0 -0.108 2.7755" rpy="0 0 0"/>
      <geometry>
        <box size="1.267 0.3 0.551"/>
      </geometry>
    </collision>
    <visual name="hinge_0_jamb_vis">
      <origin xyz="-0.6115 0.029 0.267" rpy="3.141593 0 0"/>
      <geometry>
        <mesh filename="../../hardware/hinge_jamb_e1d088f8dc.obj"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="hinge_1_jamb_vis">
      <origin xyz="-0.6115 0.029 0.933667" rpy="3.141593 0 0"/>
      <geometry>
        <mesh filename="../../hardware/hinge_jamb_e1d088f8dc.obj"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="hinge_2_jamb_vis">
      <origin xyz="-0.6115 0.029 1.600333" rpy="3.141593 0 0"/>
      <geometry>
        <mesh filename="../../hardware/hinge_jamb_e1d088f8dc.obj"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="hinge_3_jamb_vis">
      <origin xyz="-0.6115 0.029 2.267" rpy="3.141593 0 0"/>
      <geometry>
        <mesh filename="../../hardware/hinge_jamb_e1d088f8dc.obj"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="hinge_0_jamb_2_vis">
      <origin xyz="0.6115 0.029 0.267" rpy="0 0 3.141593"/>
      <geometry>
        <mesh filename="../../hardware/hinge_jamb_e1d088f8dc.obj"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="hinge_1_jamb_2_vis">
      <origin xyz="0.6115 0.029 0.933667" rpy="0 0 3.141593"/>
      <geometry>
        <mesh filename="../../hardware/hinge_jamb_e1d088f8dc.obj"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="hinge_2_jamb_2_vis">
      <origin xyz="0.6115 0.029 1.600333" rpy="0 0 3.141593"/>
      <geometry>
        <mesh filename="../../hardware/hinge_jamb_e1d088f8dc.obj"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="hinge_3_jamb_2_vis">
      <origin xyz="0.6115 0.029 2.267" rpy="0 0 3.141593"/>
      <geometry>
        <mesh filename="../../hardware/hinge_jamb_e1d088f8dc.obj"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="jamb_l_vis">
      <origin xyz="-0.624 -0.108 1.2255" rpy="0 0 0"/>
      <geometry>
        <box size="0.019 0.3 2.451"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_l_col">
      <origin xyz="-0.624 -0.108 1.2255" rpy="0 0 0"/>
      <geometry>
        <box size="0.019 0.3 2.451"/>
      </geometry>
    </collision>
    <visual name="jamb_r_vis">
      <origin xyz="0.624 -0.108 1.2255" rpy="0 0 0"/>
      <geometry>
        <box size="0.019 0.3 2.451"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_r_col">
      <origin xyz="0.624 -0.108 1.2255" rpy="0 0 0"/>
      <geometry>
        <box size="0.019 0.3 2.451"/>
      </geometry>
    </collision>
    <visual name="jamb_head_vis">
      <origin xyz="0 -0.108 2.4605" rpy="0 0 0"/>
      <geometry>
        <box size="1.267 0.3 0.019"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_head_col">
      <origin xyz="0 -0.108 2.4605" rpy="0 0 0"/>
      <geometry>
        <box size="1.267 0.3 0.019"/>
      </geometry>
    </collision>
    <visual name="head_stud_vis">
      <origin xyz="0 -0.108 2.485" rpy="0 0 0"/>
      <geometry>
        <box size="1.267 0.3 0.03"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="head_stud_col">
      <origin xyz="0 -0.108 2.485" rpy="0 0 0"/>
      <geometry>
        <box size="1.267 0.3 0.03"/>
      </geometry>
    </collision>
    <visual name="stop_l_vis">
      <origin xyz="-0.5995 -0.0285 1.2255" rpy="0 0 0"/>
      <geometry>
        <box size="0.03 0.012 2.451"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="stop_l_col">
      <origin xyz="-0.5995 -0.0285 1.2255" rpy="0 0 0"/>
      <geometry>
        <box size="0.03 0.012 2.451"/>
      </geometry>
    </collision>
    <visual name="stop_r_vis">
      <origin xyz="0.5995 -0.0285 1.2255" rpy="0 0 0"/>
      <geometry>
        <box size="0.03 0.012 2.451"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="stop_r_col">
      <origin xyz="0.5995 -0.0285 1.2255" rpy="0 0 0"/>
      <geometry>
        <box size="0.03 0.012 2.451"/>
      </geometry>
    </collision>
    <visual name="stop_head_vis">
      <origin xyz="0 -0.0285 2.436" rpy="0 0 0"/>
      <geometry>
        <box size="1.229 0.012 0.03"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="stop_head_col">
      <origin xyz="0 -0.0285 2.436" rpy="0 0 0"/>
      <geometry>
        <box size="1.229 0.012 0.03"/>
      </geometry>
    </collision>
  </link>
  <link name="leaf_a">
    <inertial>
      <origin xyz="0.290113 -0.027967 1.231323" rpy="0 0 0"/>
      <mass value="15.053481"/>
      <inertia ixx="7.392400575" ixy="0.00451236" ixz="0.019855328" iyy="7.911701729" iyz="-0.000554779" izz="0.52492508"/>
    </inertial>
    <visual name="leaf_a_slab_vis">
      <origin xyz="0.305 -0.029 1.232" rpy="0 0 0"/>
      <geometry>
        <box size="0.61 0.044 2.43"/>
      </geometry>
      <material name="mat_leaf_a"/>
    </visual>
    <collision name="leaf_a_slab_col">
      <origin xyz="0.305 -0.029 1.232" rpy="0 0 0"/>
      <geometry>
        <box size="0.61 0.044 2.43"/>
      </geometry>
    </collision>
    <visual name="leaf_a_glass_0_vis">
      <origin xyz="0.19 -0.029 0.6145" rpy="0 0 0"/>
      <geometry>
        <box size="0.2 0.0456 0.6604"/>
      </geometry>
      <material name="mat_glass"/>
    </visual>
    <visual name="leaf_a_glass_1_vis">
      <origin xyz="0.42 -0.029 0.6145" rpy="0 0 0"/>
      <geometry>
        <box size="0.2 0.0456 0.6604"/>
      </geometry>
      <material name="mat_glass"/>
    </visual>
    <visual name="leaf_a_glass_2_vis">
      <origin xyz="0.19 -0.029 1.3049" rpy="0 0 0"/>
      <geometry>
        <box size="0.2 0.0456 0.6604"/>
      </geometry>
      <material name="mat_glass"/>
    </visual>
    <visual name="leaf_a_glass_3_vis">
      <origin xyz="0.42 -0.029 1.3049" rpy="0 0 0"/>
      <geometry>
        <box size="0.2 0.0456 0.6604"/>
      </geometry>
      <material name="mat_glass"/>
    </visual>
    <visual name="leaf_a_glass_4_vis">
      <origin xyz="0.19 -0.029 1.9953" rpy="0 0 0"/>
      <geometry>
        <box size="0.2 0.0456 0.6604"/>
      </geometry>
      <material name="mat_glass"/>
    </visual>
    <visual name="leaf_a_glass_5_vis">
      <origin xyz="0.42 -0.029 1.9953" rpy="0 0 0"/>
      <geometry>
        <box size="0.2 0.0456 0.6604"/>
      </geometry>
      <material name="mat_glass"/>
    </visual>
    <visual name="hinge_0_vis">
      <origin xyz="0 0 0.267" rpy="3.141593 0 0"/>
      <geometry>
        <mesh filename="../../hardware/hinge_e22b26c0c1.obj"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="hinge_1_vis">
      <origin xyz="0 0 0.933667" rpy="3.141593 0 0"/>
      <geometry>
        <mesh filename="../../hardware/hinge_e22b26c0c1.obj"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="hinge_2_vis">
      <origin xyz="0 0 1.600333" rpy="3.141593 0 0"/>
      <geometry>
        <mesh filename="../../hardware/hinge_e22b26c0c1.obj"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="hinge_3_vis">
      <origin xyz="0 0 2.267" rpy="3.141593 0 0"/>
      <geometry>
        <mesh filename="../../hardware/hinge_e22b26c0c1.obj"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="leaf_a_handle_escutcheon_n_vis">
      <origin xyz="0.54 -0.0525 0.965" rpy="0 0 0"/>
      <geometry>
        <box size="0.04 0.003 0.22"/>
      </geometry>
      <material name="mat_op_stainless"/>
    </visual>
    <visual name="leaf_a_handle_escutcheon_p_vis">
      <origin xyz="0.54 -0.0055 0.965" rpy="0 0 0"/>
      <geometry>
        <box size="0.04 0.003 0.22"/>
      </geometry>
      <material name="mat_op_stainless"/>
    </visual>
    <visual name="leaf_a_latch_bolt_faceplate_vis">
      <origin xyz="0.6094 -0.029 0.965" rpy="0 0 0"/>
      <geometry>
        <box size="0.0012 0.0247 0.0534"/>
      </geometry>
      <material name="mat_bolt"/>
    </visual>
    <visual name="leaf_a_deadbolt_faceplate_vis">
      <origin xyz="0.6094 -0.029 1.105" rpy="0 0 0"/>
      <geometry>
        <box size="0.0012 0.028 0.049"/>
      </geometry>
      <material name="mat_deadbolt"/>
    </visual>
  </link>
  <link name="leaf_a_handle">
    <inertial>
      <origin xyz="-0.0423 0 0" rpy="0 0 0"/>
      <mass value="0.712286"/>
      <inertia ixx="0.003449344" ixy="0" ixz="0" iyy="0.001444644" iyz="0" izz="0.004855619"/>
    </inertial>
    <visual name="leaf_a_handle_lever_n_vis">
      <origin xyz="0 -0.022 0" rpy="1.570796 0 0"/>
      <geometry>
        <mesh filename="../../hardware/lever_f913fc5b7b.obj"/>
      </geometry>
      <material name="mat_op_stainless"/>
    </visual>
    <collision name="leaf_a_handle_lever_col_n_col">
      <origin xyz="-0.065 -0.077 0" rpy="0 -1.570796 0"/>
      <geometry>
        <cylinder radius="0.0095" length="0.111"/>
      </geometry>
    </collision>
    <collision name="leaf_a_handle_hub_col_n_col">
      <origin xyz="0 -0.052 0" rpy="-1.570796 0 0"/>
      <geometry>
        <cylinder radius="0.012" length="0.044"/>
      </geometry>
    </collision>
    <visual name="leaf_a_handle_lever_p_vis">
      <origin xyz="0 0.022 0" rpy="-1.570796 0 0"/>
      <geometry>
        <mesh filename="../../hardware/lever_f913fc5b7b.obj"/>
      </geometry>
      <material name="mat_op_stainless"/>
    </visual>
    <collision name="leaf_a_handle_lever_col_p_col">
      <origin xyz="-0.065 0.077 0" rpy="0 -1.570796 0"/>
      <geometry>
        <cylinder radius="0.0095" length="0.111"/>
      </geometry>
    </collision>
    <collision name="leaf_a_handle_hub_col_p_col">
      <origin xyz="0 0.052 0" rpy="-1.570796 0 0"/>
      <geometry>
        <cylinder radius="0.012" length="0.044"/>
      </geometry>
    </collision>
  </link>
  <link name="leaf_a_latch_bolt">
    <inertial>
      <origin xyz="-0.00865 0 0" rpy="0 0 0"/>
      <mass value="0.041419"/>
      <inertia ixx="0.000000798" ixy="0" ixz="0" iyy="0.000005598" iyz="0" izz="0.000005598"/>
    </inertial>
    <visual name="leaf_a_latch_bolt_capsule_vis">
      <origin xyz="-0.00865 0 0" rpy="0 1.570796 0"/>
      <geometry>
        <cylinder radius="0.00635" length="0.03"/>
      </geometry>
      <material name="mat_bolt"/>
    </visual>
    <collision name="leaf_a_latch_bolt_capsule_col">
      <origin xyz="-0.00865 0 0" rpy="0 1.570796 0"/>
      <geometry>
        <cylinder radius="0.00635" length="0.03"/>
      </geometry>
    </collision>
  </link>
  <link name="leaf_a_deadbolt">
    <inertial>
      <origin xyz="-0.0023 0 0" rpy="0 0 0"/>
      <mass value="0.18836"/>
      <inertia ixx="0.000013829" ixy="0" ixz="0" iyy="0.000057986" iyz="0" izz="0.000052194"/>
    </inertial>
    <visual name="leaf_a_deadbolt_box_vis">
      <origin xyz="-0.0023 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.0554 0.016 0.025"/>
      </geometry>
      <material name="mat_deadbolt"/>
    </visual>
    <collision name="leaf_a_deadbolt_box_col">
      <origin xyz="-0.0023 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.0554 0.016 0.025"/>
      </geometry>
    </collision>
  </link>
  <link name="leaf_b">
    <inertial>
      <origin xyz="-0.330203 -0.034178 1.231133" rpy="0 0 0"/>
      <mass value="14.473435"/>
      <inertia ixx="7.131022868" ixy="-0.028691621" ixz="-0.018600904" iyy="7.742268051" iyz="-0.001489163" izz="0.620086829"/>
    </inertial>
    <visual name="leaf_b_edge_965_wall_n_vis">
      <origin xyz="-0.58 -0.043925 0.965" rpy="0 0 0"/>
      <geometry>
        <box size="0.06 0.01415 0.0334"/>
      </geometry>
      <material name="mat_leaf_b"/>
    </visual>
    <collision name="leaf_b_edge_965_wall_n_col">
      <origin xyz="-0.58 -0.043925 0.965" rpy="0 0 0"/>
      <geometry>
        <box size="0.06 0.01415 0.0334"/>
      </geometry>
    </collision>
    <visual name="leaf_b_edge_965_wall_p_vis">
      <origin xyz="-0.58 -0.01315 0.965" rpy="0 0 0"/>
      <geometry>
        <box size="0.06 0.016 0.0334"/>
      </geometry>
      <material name="mat_leaf_b"/>
    </visual>
    <collision name="leaf_b_edge_965_wall_p_col">
      <origin xyz="-0.58 -0.01315 0.965" rpy="0 0 0"/>
      <geometry>
        <box size="0.06 0.016 0.0334"/>
      </geometry>
    </collision>
    <visual name="leaf_b_edge_965_ramp_vis">
      <origin xyz="-0.575861 -0.002612 0.965" rpy="0 0 -0.428384"/>
      <geometry>
        <box size="0.06 0.03298 0.0334"/>
      </geometry>
      <material name="mat_leaf_b"/>
    </visual>
    <collision name="leaf_b_edge_965_ramp_col">
      <origin xyz="-0.575861 -0.002612 0.965" rpy="0 0 -0.428384"/>
      <geometry>
        <box size="0.06 0.03298 0.0334"/>
      </geometry>
    </collision>
    <visual name="leaf_b_edge_965_back_vis">
      <origin xyz="-0.57165 -0.029 0.965" rpy="0 0 0"/>
      <geometry>
        <box size="0.0433 0.0157 0.0334"/>
      </geometry>
      <material name="mat_leaf_b"/>
    </visual>
    <collision name="leaf_b_edge_965_back_col">
      <origin xyz="-0.57165 -0.029 0.965" rpy="0 0 0"/>
      <geometry>
        <box size="0.0433 0.0157 0.0334"/>
      </geometry>
    </collision>
    <visual name="leaf_b_edge_1105_wall_n_vis">
      <origin xyz="-0.58 -0.04475 1.105" rpy="0 0 0"/>
      <geometry>
        <box size="0.06 0.0125 0.031"/>
      </geometry>
      <material name="mat_leaf_b"/>
    </visual>
    <collision name="leaf_b_edge_1105_wall_n_col">
      <origin xyz="-0.58 -0.04475 1.105" rpy="0 0 0"/>
      <geometry>
        <box size="0.06 0.0125 0.031"/>
      </geometry>
    </collision>
    <visual name="leaf_b_edge_1105_wall_p_vis">
      <origin xyz="-0.58 -0.01325 1.105" rpy="0 0 0"/>
      <geometry>
        <box size="0.06 0.0125 0.031"/>
      </geometry>
      <material name="mat_leaf_b"/>
    </visual>
    <collision name="leaf_b_edge_1105_wall_p_col">
      <origin xyz="-0.58 -0.01325 1.105" rpy="0 0 0"/>
      <geometry>
        <box size="0.06 0.0125 0.031"/>
      </geometry>
    </collision>
    <visual name="leaf_b_edge_1105_back_vis">
      <origin xyz="-0.5653 -0.029 1.105" rpy="0 0 0"/>
      <geometry>
        <box size="0.0306 0.019 0.031"/>
      </geometry>
      <material name="mat_leaf_b"/>
    </visual>
    <collision name="leaf_b_edge_1105_back_col">
      <origin xyz="-0.5653 -0.029 1.105" rpy="0 0 0"/>
      <geometry>
        <box size="0.0306 0.019 0.031"/>
      </geometry>
    </collision>
    <visual name="leaf_b_edge_seg_0_vis">
      <origin xyz="-0.58 -0.029 0.48265" rpy="0 0 0"/>
      <geometry>
        <box size="0.06 0.044 0.9313"/>
      </geometry>
      <material name="mat_leaf_b"/>
    </visual>
    <collision name="leaf_b_edge_seg_0_col">
      <origin xyz="-0.58 -0.029 0.48265" rpy="0 0 0"/>
      <geometry>
        <box size="0.06 0.044 0.9313"/>
      </geometry>
    </collision>
    <visual name="leaf_b_edge_seg_1_vis">
      <origin xyz="-0.58 -0.029 1.0356" rpy="0 0 0"/>
      <geometry>
        <box size="0.06 0.044 0.1078"/>
      </geometry>
      <material name="mat_leaf_b"/>
    </visual>
    <collision name="leaf_b_edge_seg_1_col">
      <origin xyz="-0.58 -0.029 1.0356" rpy="0 0 0"/>
      <geometry>
        <box size="0.06 0.044 0.1078"/>
      </geometry>
    </collision>
    <visual name="leaf_b_edge_seg_2_vis">
      <origin xyz="-0.58 -0.029 1.78375" rpy="0 0 0"/>
      <geometry>
        <box size="0.06 0.044 1.3265"/>
      </geometry>
      <material name="mat_leaf_b"/>
    </visual>
    <collision name="leaf_b_edge_seg_2_col">
      <origin xyz="-0.58 -0.029 1.78375" rpy="0 0 0"/>
      <geometry>
        <box size="0.06 0.044 1.3265"/>
      </geometry>
    </collision>
    <visual name="leaf_b_slab_vis">
      <origin xyz="-0.275 -0.029 1.232" rpy="0 0 0"/>
      <geometry>
        <box size="0.55 0.044 2.43"/>
      </geometry>
      <material name="mat_leaf_b"/>
    </visual>
    <collision name="leaf_b_slab_col">
      <origin xyz="-0.275 -0.029 1.232" rpy="0 0 0"/>
      <geometry>
        <box size="0.55 0.044 2.43"/>
      </geometry>
    </collision>
    <visual name="leaf_b_glass_0_vis">
      <origin xyz="-0.175 -0.029 0.6145" rpy="0 0 0"/>
      <geometry>
        <box size="0.17 0.0456 0.6604"/>
      </geometry>
      <material name="mat_glass"/>
    </visual>
    <visual name="leaf_b_glass_1_vis">
      <origin xyz="-0.375 -0.029 0.6145" rpy="0 0 0"/>
      <geometry>
        <box size="0.17 0.0456 0.6604"/>
      </geometry>
      <material name="mat_glass"/>
    </visual>
    <visual name="leaf_b_glass_2_vis">
      <origin xyz="-0.175 -0.029 1.3049" rpy="0 0 0"/>
      <geometry>
        <box size="0.17 0.0456 0.6604"/>
      </geometry>
      <material name="mat_glass"/>
    </visual>
    <visual name="leaf_b_glass_3_vis">
      <origin xyz="-0.375 -0.029 1.3049" rpy="0 0 0"/>
      <geometry>
        <box size="0.17 0.0456 0.6604"/>
      </geometry>
      <material name="mat_glass"/>
    </visual>
    <visual name="leaf_b_glass_4_vis">
      <origin xyz="-0.175 -0.029 1.9953" rpy="0 0 0"/>
      <geometry>
        <box size="0.17 0.0456 0.6604"/>
      </geometry>
      <material name="mat_glass"/>
    </visual>
    <visual name="leaf_b_glass_5_vis">
      <origin xyz="-0.375 -0.029 1.9953" rpy="0 0 0"/>
      <geometry>
        <box size="0.17 0.0456 0.6604"/>
      </geometry>
      <material name="mat_glass"/>
    </visual>
    <visual name="hinge_0_2_vis">
      <origin xyz="0 0 0.267" rpy="0 0 3.141593"/>
      <geometry>
        <mesh filename="../../hardware/hinge_e22b26c0c1.obj"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="hinge_1_2_vis">
      <origin xyz="0 0 0.933667" rpy="0 0 3.141593"/>
      <geometry>
        <mesh filename="../../hardware/hinge_e22b26c0c1.obj"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="hinge_2_2_vis">
      <origin xyz="0 0 1.600333" rpy="0 0 3.141593"/>
      <geometry>
        <mesh filename="../../hardware/hinge_e22b26c0c1.obj"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="hinge_3_2_vis">
      <origin xyz="0 0 2.267" rpy="0 0 3.141593"/>
      <geometry>
        <mesh filename="../../hardware/hinge_e22b26c0c1.obj"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="astragal_vis">
      <origin xyz="-0.614 -0.059 1.219" rpy="0 0 0"/>
      <geometry>
        <box size="0.04 0.016 2.398"/>
      </geometry>
      <material name="mat_astragal"/>
    </visual>
    <collision name="astragal_col">
      <origin xyz="-0.614 -0.059 1.219" rpy="0 0 0"/>
      <geometry>
        <box size="0.04 0.016 2.398"/>
      </geometry>
    </collision>
  </link>
  <joint name="leaf_a_hinge" type="revolute">
    <origin xyz="-0.6115 0.029 0" rpy="0 0 0"/>
    <parent link="world_env"/>
    <child link="leaf_a"/>
    <axis xyz="0 0 1"/>
    <limit lower="0" upper="1.570796" effort="2000" velocity="10"/>
    <dynamics damping="0.110964" friction="0.113357"/>
    <doorbench:closer damping_closing="0" damping_opening="0" backcheck_angle="0" backcheck_damping="0"/>
  </joint>
  <joint name="leaf_a_handle_hinge" type="revolute">
    <origin xyz="0.54 -0.029 0.965" rpy="0 0 0"/>
    <parent link="leaf_a"/>
    <child link="leaf_a_handle"/>
    <axis xyz="0 -1 0"/>
    <limit lower="0" upper="0.65" effort="2000" velocity="10"/>
    <dynamics damping="0.02" friction="0.052"/>
    <doorbench:spring stiffness="1" springref="-0.4" note="tau = -stiffness*(q - springref); not native URDF"/>
  </joint>
  <joint name="leaf_a_latch_bolt_slide" type="prismatic">
    <origin xyz="0.61 -0.029 0.965" rpy="0 0 0"/>
    <parent link="leaf_a"/>
    <child link="leaf_a_latch_bolt"/>
    <axis xyz="-1 0 0"/>
    <limit lower="0" upper="0.0127" effort="5000" velocity="10"/>
    <dynamics damping="2" friction="0.3"/>
    <doorbench:spring stiffness="300" springref="-0.008333" note="tau = -stiffness*(q - springref); not native URDF"/>
    <mimic joint="leaf_a_handle_hinge" multiplier="0.02082" offset="0"/>
    <doorbench:coupling one_sided="true" note="MJCF uses a one-sided tendon (bolt may retract further, e.g. riding over the strike lip); mimic is bilateral"/>
  </joint>
  <joint name="leaf_a_deadbolt_fixed" type="fixed">
    <origin xyz="0.61 -0.029 1.105" rpy="0 0 0"/>
    <parent link="leaf_a"/>
    <child link="leaf_a_deadbolt"/>
  </joint>
  <joint name="leaf_b_hinge" type="revolute">
    <origin xyz="0.6115 0.029 0" rpy="0 0 0"/>
    <parent link="world_env"/>
    <child link="leaf_b"/>
    <axis xyz="0 0 -1"/>
    <limit lower="0" upper="0.001" effort="2000" velocity="10"/>
    <dynamics damping="0.110964" friction="0.113357"/>
    <doorbench:closer damping_closing="0" damping_opening="0" backcheck_angle="0" backcheck_damping="0"/>
    <doorbench:note text="inactive leaf held by flush bolts; set range to free it"/>
  </joint>
  <material name="mat_astragal">
    <color rgba="0.8 0.81 0.83 1"/>
  </material>
  <material name="mat_bolt">
    <color rgba="0.85 0.66 0.3 1"/>
  </material>
  <material name="mat_deadbolt">
    <color rgba="0.85 0.66 0.3 1"/>
  </material>
  <material name="mat_floor">
    <color rgba="0.55 0.53 0.5 1"/>
  </material>
  <material name="mat_frame">
    <color rgba="0.82 0.7 0.5 1"/>
  </material>
  <material name="mat_glass">
    <color rgba="0.85 0.92 0.95 0.25"/>
  </material>
  <material name="mat_hinge">
    <color rgba="0.65 0.66 0.68 1"/>
  </material>
  <material name="mat_leaf_a">
    <color rgba="0.608 0.423 0.277 1"/>
  </material>
  <material name="mat_leaf_b">
    <color rgba="0.608 0.423 0.277 1"/>
  </material>
  <material name="mat_op_stainless">
    <color rgba="0.75 0.76 0.77 1"/>
  </material>
  <material name="mat_wall">
    <color rgba="0.78 0.76 0.7 1"/>
  </material>
</robot>
