<?xml version="1.0" ?>
<robot xmlns:doorbench="https://github.com/adamraudonis/DoorBench/schema/urdf-ext" name="db0100_bifold_minimal">
  <link name="world_env">
    <visual name="floor_vis">
      <origin xyz="0 0 -0.05" rpy="0 0 0"/>
      <geometry>
        <box size="12 12 0.1"/>
      </geometry>
      <material name="mat_floor"/>
    </visual>
    <collision name="floor_col">
      <origin xyz="0 0 -0.05" rpy="0 0 0"/>
      <geometry>
        <box size="12 12 0.1"/>
      </geometry>
    </collision>
    <visual name="wall_left_vis">
      <origin xyz="-1.481 0 1.35" rpy="0 0 0"/>
      <geometry>
        <box size="2.038 0.145 2.7"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_left_col">
      <origin xyz="-1.481 0 1.35" rpy="0 0 0"/>
      <geometry>
        <box size="2.038 0.145 2.7"/>
      </geometry>
    </collision>
    <visual name="wall_right_vis">
      <origin xyz="1.481 0 1.35" rpy="0 0 0"/>
      <geometry>
        <box size="2.038 0.145 2.7"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_right_col">
      <origin xyz="1.481 0 1.35" rpy="0 0 0"/>
      <geometry>
        <box size="2.038 0.145 2.7"/>
      </geometry>
    </collision>
    <visual name="wall_header_vis">
      <origin xyz="0 0 2.376" rpy="0 0 0"/>
      <geometry>
        <box size="0.924 0.145 0.648"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_header_col">
      <origin xyz="0 0 2.376" rpy="0 0 0"/>
      <geometry>
        <box size="0.924 0.145 0.648"/>
      </geometry>
    </collision>
    <visual name="jamb_hinge_vis">
      <origin xyz="-0.4715 0 1.026" rpy="0 0 0"/>
      <geometry>
        <box size="0.019 0.145 2.052"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_hinge_col">
      <origin xyz="-0.4715 0 1.026" rpy="0 0 0"/>
      <geometry>
        <box size="0.019 0.145 2.052"/>
      </geometry>
    </collision>
    <visual name="jamb_strike_vis">
      <origin xyz="0.4715 0 1.026" rpy="0 0 0"/>
      <geometry>
        <box size="0.019 0.145 2.052"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_strike_col">
      <origin xyz="0.4715 0 1.026" rpy="0 0 0"/>
      <geometry>
        <box size="0.019 0.145 2.052"/>
      </geometry>
    </collision>
    <visual name="stud_strike_vis">
      <origin xyz="0.496 0 1.026" rpy="0 0 0"/>
      <geometry>
        <box size="0.03 0.145 2.052"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="stud_strike_col">
      <origin xyz="0.496 0 1.026" rpy="0 0 0"/>
      <geometry>
        <box size="0.03 0.145 2.052"/>
      </geometry>
    </collision>
    <visual name="jamb_head_vis">
      <origin xyz="0.015 0 2.0615" rpy="0 0 0"/>
      <geometry>
        <box size="0.992 0.145 0.019"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_head_col">
      <origin xyz="0.015 0 2.0615" rpy="0 0 0"/>
      <geometry>
        <box size="0.992 0.145 0.019"/>
      </geometry>
    </collision>
    <visual name="head_stud_vis">
      <origin xyz="0.015 0 2.086" rpy="0 0 0"/>
      <geometry>
        <box size="0.992 0.145 0.03"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="head_stud_col">
      <origin xyz="0.015 0 2.086" rpy="0 0 0"/>
      <geometry>
        <box size="0.992 0.145 0.03"/>
      </geometry>
    </collision>
  </link>
  <link name="panel_0_0">
    <inertial>
      <origin xyz="0.2135 0 1.036" rpy="0 0 0"/>
      <mass value="13.000736"/>
      <inertia ixx="4.474689739" ixy="0" ixz="0" iyy="4.699628473" iyz="0" izz="0.227593051"/>
    </inertial>
    <visual name="panel_0_0_slab_vis">
      <origin xyz="0.2135 0 1.036" rpy="0 0 0"/>
      <geometry>
        <box size="0.457 0.035 2.032"/>
      </geometry>
      <material name="mat_panel_0_0"/>
    </visual>
    <collision name="panel_0_0_slab_col">
      <origin xyz="0.2135 0 1.036" rpy="0 0 0"/>
      <geometry>
        <box size="0.457 0.035 2.032"/>
      </geometry>
    </collision>
  </link>
  <link name="panel_0_1">
    <inertial>
      <origin xyz="0.385978 -0.063219 1.002427" rpy="0 0 0"/>
      <mass value="0.482143"/>
      <inertia ixx="0.012921466" ixy="0.000335948" ixz="0.00017841" iyy="0.013985873" iyz="-0.00007397" izz="0.001712224"/>
    </inertial>
    <visual name="panel_0_1_slab_vis">
      <origin xyz="0.2335 0 1.036" rpy="0 0 0"/>
      <geometry>
        <box size="0.457 0.035 2.032"/>
      </geometry>
      <material name="mat_panel_0_1"/>
    </visual>
    <collision name="panel_0_1_slab_col">
      <origin xyz="0.2335 0 1.036" rpy="0 0 0"/>
      <geometry>
        <box size="0.457 0.035 2.032"/>
      </geometry>
    </collision>
    <visual name="panel_0_1_pull_n_vis">
      <origin xyz="0.397 -0.0175 1" rpy="1.570796 0 0"/>
      <geometry>
        <mesh filename="../../hardware/pull_1e5d69a91a.obj"/>
      </geometry>
      <material name="mat_op_stainless"/>
    </visual>
    <collision name="panel_0_1_pull_col_n_col">
      <origin xyz="0.397 -0.0775 1" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.0095" length="0.16"/>
      </geometry>
    </collision>
  </link>
  <joint name="panel_0_0_hinge" type="revolute">
    <origin xyz="-0.442 0 0" rpy="0 0 0"/>
    <parent link="world_env"/>
    <child link="panel_0_0"/>
    <axis xyz="0 0 -1"/>
    <limit lower="0" upper="1.570796" effort="2000" velocity="10"/>
    <dynamics damping="0.736807" friction="1.669698"/>
  </joint>
  <joint name="panel_0_1_hinge" type="revolute">
    <origin xyz="0.437 0 0" rpy="0 0 0"/>
    <parent link="panel_0_0"/>
    <child link="panel_0_1"/>
    <axis xyz="0 0 -1"/>
    <limit lower="-3.141593" upper="0" effort="2000" velocity="10"/>
    <dynamics damping="0.2" friction="0.1"/>
    <mimic joint="panel_0_0_hinge" multiplier="-2" offset="0"/>
  </joint>
  <material name="mat_floor">
    <color rgba="0.55 0.53 0.5 1"/>
  </material>
  <material name="mat_frame">
    <color rgba="0.82 0.7 0.5 1"/>
  </material>
  <material name="mat_op_stainless">
    <color rgba="0.75 0.76 0.77 1"/>
  </material>
  <material name="mat_panel_0_0">
    <color rgba="0.725 0.588 0.398 1"/>
  </material>
  <material name="mat_panel_0_1">
    <color rgba="0.725 0.588 0.398 1"/>
  </material>
  <material name="mat_wall">
    <color rgba="0.78 0.76 0.7 1"/>
  </material>
</robot>
