<?xml version="1.0" ?>
<robot xmlns:doorbench="https://github.com/adamraudonis/DoorBench/schema/urdf-ext" name="db0396_swing_double_full">
  <link name="world_env">
    <visual name="floor_vis">
      <origin xyz="0 0 -0.05" rpy="0 0 0"/>
      <geometry>
        <box size="12 12 0.1"/>
      </geometry>
      <material name="mat_floor"/>
    </visual>
    <collision name="floor_col">
      <origin xyz="0 0 -0.05" rpy="0 0 0"/>
      <geometry>
        <box size="12 12 0.1"/>
      </geometry>
    </collision>
    <visual name="wall_left_vis">
      <origin xyz="-1.73425 0.058 1.5255" rpy="0 0 0"/>
      <geometry>
        <box size="1.5315 0.2 3.051"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_left_col">
      <origin xyz="-1.73425 0.058 1.5255" rpy="0 0 0"/>
      <geometry>
        <box size="1.5315 0.2 3.051"/>
      </geometry>
    </collision>
    <visual name="wall_right_vis">
      <origin xyz="1.73425 0.058 1.5255" rpy="0 0 0"/>
      <geometry>
        <box size="1.5315 0.2 3.051"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_right_col">
      <origin xyz="1.73425 0.058 1.5255" rpy="0 0 0"/>
      <geometry>
        <box size="1.5315 0.2 3.051"/>
      </geometry>
    </collision>
    <visual name="wall_header_vis">
      <origin xyz="0 0.058 2.791" rpy="0 0 0"/>
      <geometry>
        <box size="1.937 0.2 0.52"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_header_col">
      <origin xyz="0 0.058 2.791" rpy="0 0 0"/>
      <geometry>
        <box size="1.937 0.2 0.52"/>
      </geometry>
    </collision>
    <visual name="hinge_0_jamb_vis">
      <origin xyz="-0.9155 -0.029 0.259" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../../hardware/hinge_jamb_e1d088f8dc.obj"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="hinge_1_jamb_vis">
      <origin xyz="-0.9155 -0.029 0.928333" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../../hardware/hinge_jamb_e1d088f8dc.obj"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="hinge_2_jamb_vis">
      <origin xyz="-0.9155 -0.029 1.597667" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../../hardware/hinge_jamb_e1d088f8dc.obj"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="hinge_3_jamb_vis">
      <origin xyz="-0.9155 -0.029 2.267" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../../hardware/hinge_jamb_e1d088f8dc.obj"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="leaf_a_maglock_body_vis">
      <origin xyz="-0.328 0.057 2.386" rpy="0 0 0"/>
      <geometry>
        <box size="0.25 0.05 0.04"/>
      </geometry>
      <material name="mat_maglock"/>
    </visual>
    <collision name="leaf_a_maglock_body_col">
      <origin xyz="-0.328 0.057 2.386" rpy="0 0 0"/>
      <geometry>
        <box size="0.25 0.05 0.04"/>
      </geometry>
    </collision>
    <visual name="leaf_a_maglock_bracket_vis">
      <origin xyz="-0.328 0.057 2.4285" rpy="0 0 0"/>
      <geometry>
        <box size="0.18 0.05 0.045"/>
      </geometry>
      <material name="mat_maglock"/>
    </visual>
    <visual name="exit_sign_vis">
      <origin xyz="0 0.15 2.751" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../../hardware/exit_sign_a6449bfa2c.obj"/>
      </geometry>
      <material name="mat_exit_sign"/>
    </visual>
    <visual name="hinge_0_jamb_2_vis">
      <origin xyz="0.9155 -0.029 0.259" rpy="3.141593 0 3.141593"/>
      <geometry>
        <mesh filename="../../hardware/hinge_jamb_e1d088f8dc.obj"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="hinge_1_jamb_2_vis">
      <origin xyz="0.9155 -0.029 0.928333" rpy="3.141593 0 3.141593"/>
      <geometry>
        <mesh filename="../../hardware/hinge_jamb_e1d088f8dc.obj"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="hinge_2_jamb_2_vis">
      <origin xyz="0.9155 -0.029 1.597667" rpy="3.141593 0 3.141593"/>
      <geometry>
        <mesh filename="../../hardware/hinge_jamb_e1d088f8dc.obj"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="hinge_3_jamb_2_vis">
      <origin xyz="0.9155 -0.029 2.267" rpy="3.141593 0 3.141593"/>
      <geometry>
        <mesh filename="../../hardware/hinge_jamb_e1d088f8dc.obj"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="leaf_b_maglock_body_vis">
      <origin xyz="0.328 0.057 2.386" rpy="0 0 0"/>
      <geometry>
        <box size="0.25 0.05 0.04"/>
      </geometry>
      <material name="mat_maglock"/>
    </visual>
    <collision name="leaf_b_maglock_body_col">
      <origin xyz="0.328 0.057 2.386" rpy="0 0 0"/>
      <geometry>
        <box size="0.25 0.05 0.04"/>
      </geometry>
    </collision>
    <visual name="leaf_b_maglock_bracket_vis">
      <origin xyz="0.328 0.057 2.4285" rpy="0 0 0"/>
      <geometry>
        <box size="0.18 0.05 0.045"/>
      </geometry>
      <material name="mat_maglock"/>
    </visual>
    <visual name="jamb_l_vis">
      <origin xyz="-0.9435 0.058 1.2255" rpy="0 0 0"/>
      <geometry>
        <box size="0.05 0.2 2.451"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_l_col">
      <origin xyz="-0.9435 0.058 1.2255" rpy="0 0 0"/>
      <geometry>
        <box size="0.05 0.2 2.451"/>
      </geometry>
    </collision>
    <visual name="jamb_r_vis">
      <origin xyz="0.9435 0.058 1.2255" rpy="0 0 0"/>
      <geometry>
        <box size="0.05 0.2 2.451"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_r_col">
      <origin xyz="0.9435 0.058 1.2255" rpy="0 0 0"/>
      <geometry>
        <box size="0.05 0.2 2.451"/>
      </geometry>
    </collision>
    <visual name="jamb_head_vis">
      <origin xyz="0 0.058 2.476" rpy="0 0 0"/>
      <geometry>
        <box size="1.937 0.2 0.05"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_head_col">
      <origin xyz="0 0.058 2.476" rpy="0 0 0"/>
      <geometry>
        <box size="1.937 0.2 0.05"/>
      </geometry>
    </collision>
    <visual name="head_stud_vis">
      <origin xyz="0 0.058 2.516" rpy="0 0 0"/>
      <geometry>
        <box size="1.937 0.2 0.03"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="head_stud_col">
      <origin xyz="0 0.058 2.516" rpy="0 0 0"/>
      <geometry>
        <box size="1.937 0.2 0.03"/>
      </geometry>
    </collision>
    <visual name="stop_l_vis">
      <origin xyz="-0.9035 0.0305 1.2255" rpy="0 0 0"/>
      <geometry>
        <box size="0.03 0.016 2.451"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="stop_l_col">
      <origin xyz="-0.9035 0.0305 1.2255" rpy="0 0 0"/>
      <geometry>
        <box size="0.03 0.016 2.451"/>
      </geometry>
    </collision>
    <visual name="stop_r_vis">
      <origin xyz="0.9035 0.0305 1.2255" rpy="0 0 0"/>
      <geometry>
        <box size="0.03 0.016 2.451"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="stop_r_col">
      <origin xyz="0.9035 0.0305 1.2255" rpy="0 0 0"/>
      <geometry>
        <box size="0.03 0.016 2.451"/>
      </geometry>
    </collision>
    <visual name="stop_head_vis">
      <origin xyz="0 0.0305 2.436" rpy="0 0 0"/>
      <geometry>
        <box size="1.837 0.016 0.03"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="stop_head_col">
      <origin xyz="0 0.0305 2.436" rpy="0 0 0"/>
      <geometry>
        <box size="1.837 0.016 0.03"/>
      </geometry>
    </collision>
    <visual name="mullion_a_1016_wall_n_vis">
      <origin xyz="-0.0125 0.08375 1.016" rpy="0 0 0"/>
      <geometry>
        <box size="0.025 0.1485 0.036"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="mullion_a_1016_wall_n_col">
      <origin xyz="-0.0125 0.08375 1.016" rpy="0 0 0"/>
      <geometry>
        <box size="0.025 0.1485 0.036"/>
      </geometry>
    </collision>
    <visual name="mullion_a_1016_wall_p_vis">
      <origin xyz="-0.0125 -0.0175 1.016" rpy="0 0 0"/>
      <geometry>
        <box size="0.025 0.016 0.036"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="mullion_a_1016_wall_p_col">
      <origin xyz="-0.0125 -0.0175 1.016" rpy="0 0 0"/>
      <geometry>
        <box size="0.025 0.016 0.036"/>
      </geometry>
    </collision>
    <visual name="mullion_a_1016_ramp_vis">
      <origin xyz="-0.004038 -0.037743 1.016" rpy="0 0 0.501264"/>
      <geometry>
        <box size="0.025 0.04162 0.036"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="mullion_a_1016_ramp_col">
      <origin xyz="-0.004038 -0.037743 1.016" rpy="0 0 0.501264"/>
      <geometry>
        <box size="0.025 0.04162 0.036"/>
      </geometry>
    </collision>
    <visual name="mullion_a_1016_back_vis">
      <origin xyz="0 0 1.016" rpy="0 0 0"/>
      <geometry>
        <box size="0.004 0.019 0.036"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="mullion_a_1016_back_col">
      <origin xyz="0 0 1.016" rpy="0 0 0"/>
      <geometry>
        <box size="0.004 0.019 0.036"/>
      </geometry>
    </collision>
    <visual name="mullion_a_seg_0_vis">
      <origin xyz="-0.0125 0.058 0.499" rpy="0 0 0"/>
      <geometry>
        <box size="0.025 0.2 0.998"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="mullion_a_seg_0_col">
      <origin xyz="-0.0125 0.058 0.499" rpy="0 0 0"/>
      <geometry>
        <box size="0.025 0.2 0.998"/>
      </geometry>
    </collision>
    <visual name="mullion_a_seg_1_vis">
      <origin xyz="-0.0125 0.058 1.7425" rpy="0 0 0"/>
      <geometry>
        <box size="0.025 0.2 1.417"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="mullion_a_seg_1_col">
      <origin xyz="-0.0125 0.058 1.7425" rpy="0 0 0"/>
      <geometry>
        <box size="0.025 0.2 1.417"/>
      </geometry>
    </collision>
    <visual name="mullion_b_1016_wall_n_vis">
      <origin xyz="0.0125 0.08375 1.016" rpy="0 0 0"/>
      <geometry>
        <box size="0.025 0.1485 0.036"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="mullion_b_1016_wall_n_col">
      <origin xyz="0.0125 0.08375 1.016" rpy="0 0 0"/>
      <geometry>
        <box size="0.025 0.1485 0.036"/>
      </geometry>
    </collision>
    <visual name="mullion_b_1016_wall_p_vis">
      <origin xyz="0.0125 -0.0175 1.016" rpy="0 0 0"/>
      <geometry>
        <box size="0.025 0.016 0.036"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="mullion_b_1016_wall_p_col">
      <origin xyz="0.0125 -0.0175 1.016" rpy="0 0 0"/>
      <geometry>
        <box size="0.025 0.016 0.036"/>
      </geometry>
    </collision>
    <visual name="mullion_b_1016_ramp_vis">
      <origin xyz="0.004038 -0.037743 1.016" rpy="0 0 -0.501264"/>
      <geometry>
        <box size="0.025 0.04162 0.036"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="mullion_b_1016_ramp_col">
      <origin xyz="0.004038 -0.037743 1.016" rpy="0 0 -0.501264"/>
      <geometry>
        <box size="0.025 0.04162 0.036"/>
      </geometry>
    </collision>
    <visual name="mullion_b_seg_0_vis">
      <origin xyz="0.0125 0.058 0.499" rpy="0 0 0"/>
      <geometry>
        <box size="0.025 0.2 0.998"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="mullion_b_seg_0_col">
      <origin xyz="0.0125 0.058 0.499" rpy="0 0 0"/>
      <geometry>
        <box size="0.025 0.2 0.998"/>
      </geometry>
    </collision>
    <visual name="mullion_b_seg_1_vis">
      <origin xyz="0.0125 0.058 1.7425" rpy="0 0 0"/>
      <geometry>
        <box size="0.025 0.2 1.417"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="mullion_b_seg_1_col">
      <origin xyz="0.0125 0.058 1.7425" rpy="0 0 0"/>
      <geometry>
        <box size="0.025 0.2 1.417"/>
      </geometry>
    </collision>
  </link>
  <link name="leaf_a">
    <inertial>
      <origin xyz="0.418412 0.017142 1.355507" rpy="0 0 0"/>
      <mass value="67.304084"/>
      <inertia ixx="43.623328927" ixy="-0.100348447" ixz="1.632727131" iyy="47.554335824" iyz="0.80335503" izz="4.076176683"/>
    </inertial>
    <visual name="leaf_a_slab_vis">
      <origin xyz="0.44375 0.029 1.228" rpy="0 0 0"/>
      <geometry>
        <box size="0.8875 0.044 2.438"/>
      </geometry>
      <material name="mat_leaf_a"/>
    </visual>
    <collision name="leaf_a_slab_col">
      <origin xyz="0.44375 0.029 1.228" rpy="0 0 0"/>
      <geometry>
        <box size="0.8875 0.044 2.438"/>
      </geometry>
    </collision>
    <visual name="hinge_0_vis">
      <origin xyz="0 0 0.259" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../../hardware/hinge_e22b26c0c1.obj"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="hinge_1_vis">
      <origin xyz="0 0 0.928333" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../../hardware/hinge_e22b26c0c1.obj"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="hinge_2_vis">
      <origin xyz="0 0 1.597667" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../../hardware/hinge_e22b26c0c1.obj"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="hinge_3_vis">
      <origin xyz="0 0 2.267" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../../hardware/hinge_e22b26c0c1.obj"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="leaf_a_exit_device_rail_vis">
      <origin xyz="0.52125 0.057 1.016" rpy="0 0 0"/>
      <geometry>
        <box size="0.5725 0.012 0.05"/>
      </geometry>
      <material name="mat_op_stainless"/>
    </visual>
    <collision name="leaf_a_exit_device_rail_col">
      <origin xyz="0.52125 0.057 1.016" rpy="0 0 0"/>
      <geometry>
        <box size="0.5725 0.012 0.05"/>
      </geometry>
    </collision>
    <visual name="leaf_a_exit_device_rail_end_n_vis">
      <origin xyz="0.245 0.0835 1.016" rpy="0 0 0"/>
      <geometry>
        <box size="0.02 0.065 0.05"/>
      </geometry>
      <material name="mat_op_stainless"/>
    </visual>
    <collision name="leaf_a_exit_device_rail_end_n_col">
      <origin xyz="0.245 0.0835 1.016" rpy="0 0 0"/>
      <geometry>
        <box size="0.02 0.065 0.05"/>
      </geometry>
    </collision>
    <visual name="leaf_a_exit_device_rail_end_p_vis">
      <origin xyz="0.7975 0.0835 1.016" rpy="0 0 0"/>
      <geometry>
        <box size="0.02 0.065 0.05"/>
      </geometry>
      <material name="mat_op_stainless"/>
    </visual>
    <collision name="leaf_a_exit_device_rail_end_p_col">
      <origin xyz="0.7975 0.0835 1.016" rpy="0 0 0"/>
      <geometry>
        <box size="0.02 0.065 0.05"/>
      </geometry>
    </collision>
    <visual name="leaf_a_far_pull_n_vis">
      <origin xyz="0.7975 0.007 1.016" rpy="1.570796 0 0"/>
      <geometry>
        <mesh filename="../../hardware/pull_1e5d69a91a.obj"/>
      </geometry>
      <material name="mat_op_stainless"/>
    </visual>
    <collision name="leaf_a_far_pull_col_n_col">
      <origin xyz="0.7975 -0.053 1.016" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.0095" length="0.16"/>
      </geometry>
    </collision>
    <visual name="leaf_a_latch_bolt_faceplate_vis">
      <origin xyz="0.8869 0.029 1.016" rpy="0 0 0"/>
      <geometry>
        <box size="0.0012 0.028 0.056"/>
      </geometry>
      <material name="mat_bolt"/>
    </visual>
    <visual name="leaf_a_maglock_armature_vis">
      <origin xyz="0.5875 0.056 2.386" rpy="0 0 0"/>
      <geometry>
        <box size="0.18 0.01 0.04"/>
      </geometry>
      <material name="mat_maglock"/>
    </visual>
    <visual name="closer_body_vis">
      <origin xyz="0.297 0.007 2.358" rpy="1.570796 0 0"/>
      <geometry>
        <mesh filename="../../hardware/closer_body_fdc4667657.obj"/>
      </geometry>
      <material name="mat_closer"/>
    </visual>
    <collision name="closer_body_col_col">
      <origin xyz="0.297 -0.043 2.358" rpy="0 0 0"/>
      <geometry>
        <box size="0.29 0.1 0.07"/>
      </geometry>
    </collision>
    <visual name="kick_plate_n_vis">
      <origin xyz="0.44375 0.0062 0.144" rpy="0 0 0"/>
      <geometry>
        <box size="0.8275 0.0016 0.25"/>
      </geometry>
      <material name="mat_kick"/>
    </visual>
    <visual name="kick_plate_p_vis">
      <origin xyz="0.44375 0.0518 0.144" rpy="0 0 0"/>
      <geometry>
        <box size="0.8275 0.0016 0.25"/>
      </geometry>
      <material name="mat_kick"/>
    </visual>
  </link>
  <link name="leaf_a_exit_device">
    <inertial>
      <origin xyz="0 0.05 0" rpy="0 0 0"/>
      <mass value="4.26465"/>
      <inertia ixx="0.001039508" ixy="0" ixz="0" iyy="0.099233874" iyz="0" izz="0.098834063"/>
    </inertial>
    <visual name="leaf_a_exit_device_pad_vis">
      <origin xyz="0 0 0" rpy="-1.570796 0 0"/>
      <geometry>
        <mesh filename="../../hardware/touchbar_pad_924805f6b2.obj"/>
      </geometry>
      <material name="mat_op_stainless"/>
    </visual>
    <collision name="leaf_a_exit_device_pad_col_col">
      <origin xyz="0 0.05 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.5265 0.03 0.045"/>
      </geometry>
    </collision>
  </link>
  <link name="leaf_a_latch_bolt">
    <inertial>
      <origin xyz="-0.0055 0 0" rpy="0 0 0"/>
      <mass value="0.074627"/>
      <inertia ixx="0.000002271" ixy="0" ixz="0" iyy="0.000013255" iyz="0" izz="0.000013255"/>
    </inertial>
    <visual name="leaf_a_latch_bolt_capsule_vis">
      <origin xyz="-0.0055 0 0" rpy="0 1.570796 0"/>
      <geometry>
        <cylinder radius="0.008" length="0.033"/>
      </geometry>
      <material name="mat_bolt"/>
    </visual>
    <collision name="leaf_a_latch_bolt_capsule_col">
      <origin xyz="-0.0055 0 0" rpy="0 1.570796 0"/>
      <geometry>
        <cylinder radius="0.008" length="0.033"/>
      </geometry>
    </collision>
  </link>
  <link name="leaf_b">
    <inertial>
      <origin xyz="-0.418412 0.017142 1.355507" rpy="0 0 0"/>
      <mass value="67.304084"/>
      <inertia ixx="43.623328927" ixy="0.100348447" ixz="-1.632727131" iyy="47.554335824" iyz="0.80335503" izz="4.076176683"/>
    </inertial>
    <visual name="leaf_b_slab_vis">
      <origin xyz="-0.44375 0.029 1.228" rpy="0 0 0"/>
      <geometry>
        <box size="0.8875 0.044 2.438"/>
      </geometry>
      <material name="mat_leaf_b"/>
    </visual>
    <collision name="leaf_b_slab_col">
      <origin xyz="-0.44375 0.029 1.228" rpy="0 0 0"/>
      <geometry>
        <box size="0.8875 0.044 2.438"/>
      </geometry>
    </collision>
    <visual name="hinge_0_2_vis">
      <origin xyz="0 0 0.259" rpy="3.141593 0 3.141593"/>
      <geometry>
        <mesh filename="../../hardware/hinge_e22b26c0c1.obj"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="hinge_1_2_vis">
      <origin xyz="0 0 0.928333" rpy="3.141593 0 3.141593"/>
      <geometry>
        <mesh filename="../../hardware/hinge_e22b26c0c1.obj"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="hinge_2_2_vis">
      <origin xyz="0 0 1.597667" rpy="3.141593 0 3.141593"/>
      <geometry>
        <mesh filename="../../hardware/hinge_e22b26c0c1.obj"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="hinge_3_2_vis">
      <origin xyz="0 0 2.267" rpy="3.141593 0 3.141593"/>
      <geometry>
        <mesh filename="../../hardware/hinge_e22b26c0c1.obj"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="leaf_b_exit_device_rail_vis">
      <origin xyz="-0.52125 0.057 1.016" rpy="0 0 0"/>
      <geometry>
        <box size="0.5725 0.012 0.05"/>
      </geometry>
      <material name="mat_op_stainless"/>
    </visual>
    <collision name="leaf_b_exit_device_rail_col">
      <origin xyz="-0.52125 0.057 1.016" rpy="0 0 0"/>
      <geometry>
        <box size="0.5725 0.012 0.05"/>
      </geometry>
    </collision>
    <visual name="leaf_b_exit_device_rail_end_n_vis">
      <origin xyz="-0.7975 0.0835 1.016" rpy="0 0 0"/>
      <geometry>
        <box size="0.02 0.065 0.05"/>
      </geometry>
      <material name="mat_op_stainless"/>
    </visual>
    <collision name="leaf_b_exit_device_rail_end_n_col">
      <origin xyz="-0.7975 0.0835 1.016" rpy="0 0 0"/>
      <geometry>
        <box size="0.02 0.065 0.05"/>
      </geometry>
    </collision>
    <visual name="leaf_b_exit_device_rail_end_p_vis">
      <origin xyz="-0.245 0.0835 1.016" rpy="0 0 0"/>
      <geometry>
        <box size="0.02 0.065 0.05"/>
      </geometry>
      <material name="mat_op_stainless"/>
    </visual>
    <collision name="leaf_b_exit_device_rail_end_p_col">
      <origin xyz="-0.245 0.0835 1.016" rpy="0 0 0"/>
      <geometry>
        <box size="0.02 0.065 0.05"/>
      </geometry>
    </collision>
    <visual name="leaf_b_far_pull_n_vis">
      <origin xyz="-0.7975 0.007 1.016" rpy="-1.570796 0 3.141593"/>
      <geometry>
        <mesh filename="../../hardware/pull_1e5d69a91a.obj"/>
      </geometry>
      <material name="mat_op_stainless"/>
    </visual>
    <collision name="leaf_b_far_pull_col_n_col">
      <origin xyz="-0.7975 -0.053 1.016" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.0095" length="0.16"/>
      </geometry>
    </collision>
    <visual name="leaf_b_latch_bolt_faceplate_vis">
      <origin xyz="-0.8869 0.029 1.016" rpy="0 0 0"/>
      <geometry>
        <box size="0.0012 0.028 0.056"/>
      </geometry>
      <material name="mat_bolt"/>
    </visual>
    <visual name="leaf_b_maglock_armature_vis">
      <origin xyz="-0.5875 0.056 2.386" rpy="0 0 0"/>
      <geometry>
        <box size="0.18 0.01 0.04"/>
      </geometry>
      <material name="mat_maglock"/>
    </visual>
    <visual name="closer_body_2_vis">
      <origin xyz="-0.297 0.007 2.358" rpy="-1.570796 0 3.141593"/>
      <geometry>
        <mesh filename="../../hardware/closer_body_fdc4667657.obj"/>
      </geometry>
      <material name="mat_closer"/>
    </visual>
    <collision name="closer_body_col_2_col">
      <origin xyz="-0.297 -0.043 2.358" rpy="0 0 0"/>
      <geometry>
        <box size="0.29 0.1 0.07"/>
      </geometry>
    </collision>
    <visual name="kick_plate_n_2_vis">
      <origin xyz="-0.44375 0.0062 0.144" rpy="0 0 0"/>
      <geometry>
        <box size="0.8275 0.0016 0.25"/>
      </geometry>
      <material name="mat_kick"/>
    </visual>
    <visual name="kick_plate_p_2_vis">
      <origin xyz="-0.44375 0.0518 0.144" rpy="0 0 0"/>
      <geometry>
        <box size="0.8275 0.0016 0.25"/>
      </geometry>
      <material name="mat_kick"/>
    </visual>
  </link>
  <link name="leaf_b_exit_device">
    <inertial>
      <origin xyz="0 0.05 0" rpy="0 0 0"/>
      <mass value="4.26465"/>
      <inertia ixx="0.001039508" ixy="0" ixz="0" iyy="0.099233874" iyz="0" izz="0.098834063"/>
    </inertial>
    <visual name="leaf_b_exit_device_pad_vis">
      <origin xyz="0 0 0" rpy="1.570796 0 3.141593"/>
      <geometry>
        <mesh filename="../../hardware/touchbar_pad_924805f6b2.obj"/>
      </geometry>
      <material name="mat_op_stainless"/>
    </visual>
    <collision name="leaf_b_exit_device_pad_col_col">
      <origin xyz="0 0.05 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.5265 0.03 0.045"/>
      </geometry>
    </collision>
  </link>
  <link name="leaf_b_latch_bolt">
    <inertial>
      <origin xyz="0.0055 0 0" rpy="0 0 0"/>
      <mass value="0.074627"/>
      <inertia ixx="0.000002271" ixy="0" ixz="0" iyy="0.000013255" iyz="0" izz="0.000013255"/>
    </inertial>
    <visual name="leaf_b_latch_bolt_capsule_vis">
      <origin xyz="0.0055 0 0" rpy="0 -1.570796 0"/>
      <geometry>
        <cylinder radius="0.008" length="0.033"/>
      </geometry>
      <material name="mat_bolt"/>
    </visual>
    <collision name="leaf_b_latch_bolt_capsule_col">
      <origin xyz="0.0055 0 0" rpy="0 -1.570796 0"/>
      <geometry>
        <cylinder radius="0.008" length="0.033"/>
      </geometry>
    </collision>
  </link>
  <joint name="leaf_a_hinge" type="revolute">
    <origin xyz="-0.9155 -0.029 0" rpy="0 0 0"/>
    <parent link="world_env"/>
    <child link="leaf_a"/>
    <axis xyz="0 0 -1"/>
    <limit lower="0" upper="1.570796" effort="2000" velocity="10"/>
    <dynamics damping="12.307281" friction="1.903291"/>
    <doorbench:spring stiffness="14.514931" springref="-2.059948" note="tau = -stiffness*(q - springref); not native URDF"/>
    <doorbench:closer damping_closing="90" damping_opening="12" backcheck_angle="1.22" backcheck_damping="60"/>
  </joint>
  <joint name="leaf_a_exit_device_slide" type="prismatic">
    <origin xyz="0.52125 0.051 1.016" rpy="0 0 0"/>
    <parent link="leaf_a"/>
    <child link="leaf_a_exit_device"/>
    <axis xyz="0 -1 0"/>
    <limit lower="0" upper="0.016" effort="5000" velocity="10"/>
    <dynamics damping="151.51297" friction="0.5"/>
    <doorbench:spring stiffness="1300" springref="-0.015385" note="tau = -stiffness*(q - springref); not native URDF"/>
  </joint>
  <joint name="leaf_a_latch_bolt_slide" type="prismatic">
    <origin xyz="0.8875 0.029 1.016" rpy="0 0 0"/>
    <parent link="leaf_a"/>
    <child link="leaf_a_latch_bolt"/>
    <axis xyz="-1 0 0"/>
    <limit lower="0" upper="0.019" effort="5000" velocity="10"/>
    <dynamics damping="2" friction="0.3"/>
    <doorbench:spring stiffness="550" springref="-0.01" note="tau = -stiffness*(q - springref); not native URDF"/>
    <mimic joint="leaf_a_exit_device_slide" multiplier="1.357143" offset="0"/>
    <doorbench:coupling one_sided="true" note="MJCF uses a one-sided tendon (bolt may retract further, e.g. riding over the strike lip); mimic is bilateral"/>
  </joint>
  <joint name="leaf_b_hinge" type="revolute">
    <origin xyz="0.9155 -0.029 0" rpy="0 0 0"/>
    <parent link="world_env"/>
    <child link="leaf_b"/>
    <axis xyz="0 0 1"/>
    <limit lower="0" upper="1.570796" effort="2000" velocity="10"/>
    <dynamics damping="12.307281" friction="1.903291"/>
    <doorbench:spring stiffness="14.514931" springref="-2.059948" note="tau = -stiffness*(q - springref); not native URDF"/>
    <doorbench:closer damping_closing="90" damping_opening="12" backcheck_angle="1.22" backcheck_damping="60"/>
  </joint>
  <joint name="leaf_b_exit_device_slide" type="prismatic">
    <origin xyz="-0.52125 0.051 1.016" rpy="0 0 0"/>
    <parent link="leaf_b"/>
    <child link="leaf_b_exit_device"/>
    <axis xyz="0 -1 0"/>
    <limit lower="0" upper="0.016" effort="5000" velocity="10"/>
    <dynamics damping="151.51297" friction="0.5"/>
    <doorbench:spring stiffness="1300" springref="-0.015385" note="tau = -stiffness*(q - springref); not native URDF"/>
  </joint>
  <joint name="leaf_b_latch_bolt_slide" type="prismatic">
    <origin xyz="-0.8875 0.029 1.016" rpy="0 0 0"/>
    <parent link="leaf_b"/>
    <child link="leaf_b_latch_bolt"/>
    <axis xyz="1 0 0"/>
    <limit lower="0" upper="0.019" effort="5000" velocity="10"/>
    <dynamics damping="2" friction="0.3"/>
    <doorbench:spring stiffness="550" springref="-0.01" note="tau = -stiffness*(q - springref); not native URDF"/>
    <mimic joint="leaf_b_exit_device_slide" multiplier="1.357143" offset="0"/>
    <doorbench:coupling one_sided="true" note="MJCF uses a one-sided tendon (bolt may retract further, e.g. riding over the strike lip); mimic is bilateral"/>
  </joint>
  <material name="mat_bolt">
    <color rgba="0.75 0.76 0.77 1"/>
  </material>
  <material name="mat_closer">
    <color rgba="0.22 0.17 0.13 1"/>
  </material>
  <material name="mat_exit_sign">
    <color rgba="0.85 0.1 0.1 1"/>
  </material>
  <material name="mat_floor">
    <color rgba="0.55 0.53 0.5 1"/>
  </material>
  <material name="mat_frame">
    <color rgba="0.45 0.48 0.52 1"/>
  </material>
  <material name="mat_hinge">
    <color rgba="0.65 0.66 0.68 1"/>
  </material>
  <material name="mat_kick">
    <color rgba="0.75 0.76 0.77 1"/>
  </material>
  <material name="mat_leaf_a">
    <color rgba="0.04 0.04 0.04 1"/>
  </material>
  <material name="mat_leaf_b">
    <color rgba="0.04 0.04 0.04 1"/>
  </material>
  <material name="mat_maglock">
    <color rgba="0.22 0.17 0.13 1"/>
  </material>
  <material name="mat_op_stainless">
    <color rgba="0.75 0.76 0.77 1"/>
  </material>
  <material name="mat_wall">
    <color rgba="0.78 0.76 0.7 1"/>
  </material>
  <doorbench:weld body1="leaf_a" body2="world" label="Delayed egress (15 s after 3 s push) (env releases on REX / badge / timer)" active="true"/>
  <doorbench:weld body1="leaf_b" body2="world" label="Delayed egress (15 s after 3 s push) (env releases on REX / badge / timer)" active="true"/>
</robot>
