<?xml version="1.0" ?>
<robot xmlns:doorbench="https://github.com/adamraudonis/DoorBench/schema/urdf-ext" name="db0923_swing_single_full">
  <link name="world_env">
    <visual name="floor_vis">
      <origin xyz="0 0 -0.05" rpy="0 0 0"/>
      <geometry>
        <box size="12 12 0.1"/>
      </geometry>
      <material name="mat_floor"/>
    </visual>
    <collision name="floor_col">
      <origin xyz="0 0 -0.05" rpy="0 0 0"/>
      <geometry>
        <box size="12 12 0.1"/>
      </geometry>
    </collision>
    <visual name="wall_left_vis">
      <origin xyz="-1.48025 -0.0305 1.35" rpy="0 0 0"/>
      <geometry>
        <box size="2.0395 0.145 2.7"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_left_col">
      <origin xyz="-1.48025 -0.0305 1.35" rpy="0 0 0"/>
      <geometry>
        <box size="2.0395 0.145 2.7"/>
      </geometry>
    </collision>
    <visual name="wall_right_vis">
      <origin xyz="1.49525 -0.0305 1.35" rpy="0 0 0"/>
      <geometry>
        <box size="2.0095 0.145 2.7"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_right_col">
      <origin xyz="1.49525 -0.0305 1.35" rpy="0 0 0"/>
      <geometry>
        <box size="2.0095 0.145 2.7"/>
      </geometry>
    </collision>
    <visual name="wall_header_vis">
      <origin xyz="0.015 -0.0305 2.4125" rpy="0 0 0"/>
      <geometry>
        <box size="0.951 0.145 0.575"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_header_col">
      <origin xyz="0.015 -0.0305 2.4125" rpy="0 0 0"/>
      <geometry>
        <box size="0.951 0.145 0.575"/>
      </geometry>
    </collision>
    <visual name="jamb_hinge_vis">
      <origin xyz="-0.4355 -0.0305 1.0225" rpy="0 0 0"/>
      <geometry>
        <box size="0.05 0.145 2.045"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_hinge_col">
      <origin xyz="-0.4355 -0.0305 1.0225" rpy="0 0 0"/>
      <geometry>
        <box size="0.05 0.145 2.045"/>
      </geometry>
    </collision>
    <visual name="strike_1040_wall_n_vis">
      <origin xyz="0.4505 -0.05625 1.04" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.0935 0.036"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="strike_1040_wall_n_col">
      <origin xyz="0.4505 -0.05625 1.04" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.0935 0.036"/>
      </geometry>
    </collision>
    <visual name="strike_1040_wall_p_vis">
      <origin xyz="0.4505 0.0175 1.04" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.016 0.036"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="strike_1040_wall_p_col">
      <origin xyz="0.4505 0.0175 1.04" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.016 0.036"/>
      </geometry>
    </collision>
    <visual name="strike_1040_ramp_vis">
      <origin xyz="0.455579 0.024529 1.04" rpy="0 0 -0.501264"/>
      <geometry>
        <box size="0.08 0.04162 0.036"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="strike_1040_ramp_col">
      <origin xyz="0.455579 0.024529 1.04" rpy="0 0 -0.501264"/>
      <geometry>
        <box size="0.08 0.04162 0.036"/>
      </geometry>
    </collision>
    <visual name="strike_1040_back_vis">
      <origin xyz="0.462 0 1.04" rpy="0 0 0"/>
      <geometry>
        <box size="0.057 0.019 0.036"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="strike_1040_back_col">
      <origin xyz="0.462 0 1.04" rpy="0 0 0"/>
      <geometry>
        <box size="0.057 0.019 0.036"/>
      </geometry>
    </collision>
    <visual name="jamb_strike_0_vis">
      <origin xyz="0.4505 -0.0305 0.511" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.145 1.022"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_strike_0_col">
      <origin xyz="0.4505 -0.0305 0.511" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.145 1.022"/>
      </geometry>
    </collision>
    <visual name="jamb_strike_1_vis">
      <origin xyz="0.4505 -0.0305 1.5515" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.145 0.987"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_strike_1_col">
      <origin xyz="0.4505 -0.0305 1.5515" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.145 0.987"/>
      </geometry>
    </collision>
    <visual name="jamb_head_vis">
      <origin xyz="0.015 -0.0305 2.07" rpy="0 0 0"/>
      <geometry>
        <box size="0.951 0.145 0.05"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_head_col">
      <origin xyz="0.015 -0.0305 2.07" rpy="0 0 0"/>
      <geometry>
        <box size="0.951 0.145 0.05"/>
      </geometry>
    </collision>
    <visual name="head_stud_vis">
      <origin xyz="0.015 -0.0305 2.11" rpy="0 0 0"/>
      <geometry>
        <box size="0.951 0.145 0.03"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="head_stud_col">
      <origin xyz="0.015 -0.0305 2.11" rpy="0 0 0"/>
      <geometry>
        <box size="0.951 0.145 0.03"/>
      </geometry>
    </collision>
    <visual name="stop_hinge_vis">
      <origin xyz="-0.405 -0.0385 1.0225" rpy="0 0 0"/>
      <geometry>
        <box size="0.011 0.032 2.045"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="stop_hinge_col">
      <origin xyz="-0.405 -0.0385 1.0225" rpy="0 0 0"/>
      <geometry>
        <box size="0.011 0.032 2.045"/>
      </geometry>
    </collision>
    <visual name="stop_strike_vis">
      <origin xyz="0.405 -0.0385 1.0225" rpy="0 0 0"/>
      <geometry>
        <box size="0.011 0.032 2.045"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="stop_strike_col">
      <origin xyz="0.405 -0.0385 1.0225" rpy="0 0 0"/>
      <geometry>
        <box size="0.011 0.032 2.045"/>
      </geometry>
    </collision>
    <visual name="stop_head_vis">
      <origin xyz="0 -0.0385 2.0395" rpy="0 0 0"/>
      <geometry>
        <box size="0.821 0.032 0.011"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="stop_head_col">
      <origin xyz="0 -0.0385 2.0395" rpy="0 0 0"/>
      <geometry>
        <box size="0.821 0.032 0.011"/>
      </geometry>
    </collision>
    <visual name="seal_hinge_vis">
      <origin xyz="-0.3985 -0.024 1.0225" rpy="0 0 0"/>
      <geometry>
        <box size="0.016 0.004 2.045"/>
      </geometry>
      <material name="mat_seal"/>
    </visual>
    <visual name="seal_strike_vis">
      <origin xyz="0.3985 -0.024 1.0225" rpy="0 0 0"/>
      <geometry>
        <box size="0.016 0.004 2.045"/>
      </geometry>
      <material name="mat_seal"/>
    </visual>
    <visual name="seal_head_vis">
      <origin xyz="0 -0.024 2.033" rpy="0 0 0"/>
      <geometry>
        <box size="0.781 0.004 0.016"/>
      </geometry>
      <material name="mat_seal"/>
    </visual>
    <visual name="closer_bracket_vis">
      <origin xyz="-0.3105 0.22 1.997" rpy="0 0 0"/>
      <geometry>
        <box size="0.06 0.04 0.024"/>
      </geometry>
      <material name="mat_closer"/>
    </visual>
  </link>
  <link name="leaf">
    <inertial>
      <origin xyz="0.380747 -0.020489 1.114945" rpy="0 0 0"/>
      <mass value="59.841427"/>
      <inertia ixx="25.339279544" ixy="0.068176881" ixz="0.697094155" iyy="28.400609537" iyz="-0.464357484" izz="3.146904644"/>
    </inertial>
    <visual name="leaf_slab_vis">
      <origin xyz="0.4065 -0.029 1.025" rpy="0 0 0"/>
      <geometry>
        <box size="0.813 0.044 2.032"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <collision name="leaf_slab_col">
      <origin xyz="0.4065 -0.029 1.025" rpy="0 0 0"/>
      <geometry>
        <box size="0.813 0.044 2.032"/>
      </geometry>
    </collision>
    <visual name="leaf_panel_0_n_vis">
      <origin xyz="0.4065 -0.054 1.08596" rpy="0 0 0"/>
      <geometry>
        <box size="0.593 0.006 1.66688"/>
      </geometry>
      <material name="mat_leaf_panel"/>
    </visual>
    <visual name="leaf_panel_0_p_vis">
      <origin xyz="0.4065 -0.004 1.08596" rpy="0 0 0"/>
      <geometry>
        <box size="0.593 0.006 1.66688"/>
      </geometry>
      <material name="mat_leaf_panel"/>
    </visual>
    <visual name="hinge_0_vis">
      <origin xyz="0 0 0.259" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../../hardware/hinge_dcb8da44bf.obj"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="hinge_1_vis">
      <origin xyz="0 0 0.793" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../../hardware/hinge_dcb8da44bf.obj"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="hinge_2_vis">
      <origin xyz="0 0 1.327" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../../hardware/hinge_dcb8da44bf.obj"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="hinge_3_vis">
      <origin xyz="0 0 1.861" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../../hardware/hinge_dcb8da44bf.obj"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="closer_body_vis">
      <origin xyz="0.297 -0.007 1.952" rpy="-1.570796 0 0"/>
      <geometry>
        <mesh filename="../../hardware/closer_body_b226fdb10b.obj"/>
      </geometry>
      <material name="mat_closer"/>
    </visual>
    <collision name="closer_body_col_col">
      <origin xyz="0.297 0.033 1.952" rpy="0 0 0"/>
      <geometry>
        <box size="0.24 0.08 0.06"/>
      </geometry>
    </collision>
    <visual name="kick_plate_n_vis">
      <origin xyz="0.4065 -0.0518 0.144" rpy="0 0 0"/>
      <geometry>
        <box size="0.753 0.0016 0.25"/>
      </geometry>
      <material name="mat_kick"/>
    </visual>
  </link>
  <link name="leaf_handle">
    <inertial>
      <origin xyz="-0.028858 0 0" rpy="0 0 0"/>
      <mass value="0.967533"/>
      <inertia ixx="0.003596561" ixy="0" ixz="0" iyy="0.00176308" iyz="0" izz="0.005181629"/>
    </inertial>
    <visual name="leaf_handle_spindle_vis">
      <origin xyz="0 0 0" rpy="-1.570796 0 0"/>
      <geometry>
        <cylinder radius="0.006" length="0.048"/>
      </geometry>
      <material name="mat_op_nickel_satin"/>
    </visual>
    <visual name="leaf_handle_lever_n_vis">
      <origin xyz="0 -0.022 0" rpy="1.570796 0 0"/>
      <geometry>
        <mesh filename="../../hardware/lever_9f02b544cf.obj"/>
      </geometry>
      <material name="mat_op_nickel_satin"/>
    </visual>
    <collision name="leaf_handle_lever_col_n_col">
      <origin xyz="-0.0625 -0.077 0" rpy="0 -1.570796 0"/>
      <geometry>
        <cylinder radius="0.0095" length="0.106"/>
      </geometry>
    </collision>
    <collision name="leaf_handle_hub_col_n_col">
      <origin xyz="0 -0.052 0" rpy="-1.570796 0 0"/>
      <geometry>
        <cylinder radius="0.012" length="0.044"/>
      </geometry>
    </collision>
    <visual name="leaf_handle_lever_p_vis">
      <origin xyz="0 0.022 0" rpy="-1.570796 0 0"/>
      <geometry>
        <mesh filename="../../hardware/lever_9f02b544cf.obj"/>
      </geometry>
      <material name="mat_op_nickel_satin"/>
    </visual>
    <collision name="leaf_handle_lever_col_p_col">
      <origin xyz="-0.0625 0.077 0" rpy="0 -1.570796 0"/>
      <geometry>
        <cylinder radius="0.0095" length="0.106"/>
      </geometry>
    </collision>
    <collision name="leaf_handle_hub_col_p_col">
      <origin xyz="0 0.052 0" rpy="-1.570796 0 0"/>
      <geometry>
        <cylinder radius="0.012" length="0.044"/>
      </geometry>
    </collision>
  </link>
  <link name="leaf_latch_bolt">
    <inertial>
      <origin xyz="-0.0055 0 0" rpy="0 0 0"/>
      <mass value="0.074627"/>
      <inertia ixx="0.000002271" ixy="0" ixz="0" iyy="0.000013255" iyz="0" izz="0.000013255"/>
    </inertial>
    <visual name="leaf_latch_bolt_capsule_vis">
      <origin xyz="-0.0055 0 0" rpy="0 1.570796 0"/>
      <geometry>
        <cylinder radius="0.008" length="0.033"/>
      </geometry>
      <material name="mat_bolt"/>
    </visual>
    <collision name="leaf_latch_bolt_capsule_col">
      <origin xyz="-0.0055 0 0" rpy="0 1.570796 0"/>
      <geometry>
        <cylinder radius="0.008" length="0.033"/>
      </geometry>
    </collision>
  </link>
  <link name="closer_arm_main">
    <inertial>
      <origin xyz="0.14 0 0" rpy="0 0 0"/>
      <mass value="0.12096"/>
      <inertia ixx="0.000003588" ixy="0" ixz="0" iyy="0.00079128" iyz="0" izz="0.000792852"/>
    </inertial>
    <visual name="closer_arm_main_geom_vis">
      <origin xyz="0.14 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.28 0.016 0.01"/>
      </geometry>
      <material name="mat_closer"/>
    </visual>
  </link>
  <link name="closer_arm_fore">
    <inertial>
      <origin xyz="0.13 0 0" rpy="0 0 0"/>
      <mass value="0.078624"/>
      <inertia ixx="0.000001704" ixy="0" ixz="0" iyy="0.000443335" iyz="0" izz="0.000444199"/>
    </inertial>
    <visual name="closer_arm_fore_geom_vis">
      <origin xyz="0.13 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.26 0.014 0.008"/>
      </geometry>
      <material name="mat_closer"/>
    </visual>
  </link>
  <joint name="leaf_hinge" type="revolute">
    <origin xyz="-0.4075 0.029 0" rpy="0 0 0"/>
    <parent link="world_env"/>
    <child link="leaf"/>
    <axis xyz="0 0 1"/>
    <limit lower="0" upper="1.570796" effort="2000" velocity="10"/>
    <dynamics damping="10.160326" friction="1.11456"/>
    <doorbench:spring stiffness="12.827888" springref="-1.543512" note="tau = -stiffness*(q - springref); not native URDF"/>
    <doorbench:closer damping_closing="70" damping_opening="10" backcheck_angle="1.31" backcheck_damping="45"/>
  </joint>
  <joint name="leaf_handle_hinge" type="revolute">
    <origin xyz="0.743 -0.029 1.04" rpy="0 0 0"/>
    <parent link="leaf"/>
    <child link="leaf_handle"/>
    <axis xyz="0 -1 0"/>
    <limit lower="0" upper="0.96" effort="2000" velocity="10"/>
    <dynamics damping="0.02" friction="0.048"/>
    <doorbench:spring stiffness="1.2" springref="-0.375" note="tau = -stiffness*(q - springref); not native URDF"/>
  </joint>
  <joint name="leaf_latch_bolt_slide" type="prismatic">
    <origin xyz="0.813 -0.029 1.04" rpy="0 0 0"/>
    <parent link="leaf"/>
    <child link="leaf_latch_bolt"/>
    <axis xyz="-1 0 0"/>
    <limit lower="0" upper="0.019" effort="5000" velocity="10"/>
    <dynamics damping="2" friction="0.3"/>
    <doorbench:spring stiffness="550" springref="-0.01" note="tau = -stiffness*(q - springref); not native URDF"/>
    <mimic joint="leaf_handle_hinge" multiplier="0.020879" offset="0"/>
    <doorbench:coupling one_sided="true" note="MJCF uses a one-sided tendon (bolt may retract further, e.g. riding over the strike lip); mimic is bilateral"/>
  </joint>
  <joint name="closer_pinion" type="continuous">
    <origin xyz="0.297 0.083 1.997" rpy="0 0 1.588597"/>
    <parent link="leaf"/>
    <child link="closer_arm_main"/>
    <axis xyz="0 0 1"/>
    <dynamics damping="0.01" friction="0"/>
  </joint>
  <joint name="closer_elbow" type="continuous">
    <origin xyz="0.28 0 0" rpy="0 0 2.275636"/>
    <parent link="closer_arm_main"/>
    <child link="closer_arm_fore"/>
    <axis xyz="0 0 1"/>
    <dynamics damping="0.01" friction="0"/>
  </joint>
  <material name="mat_bolt">
    <color rgba="0.75 0.76 0.77 1"/>
  </material>
  <material name="mat_closer">
    <color rgba="0.22 0.17 0.13 1"/>
  </material>
  <material name="mat_floor">
    <color rgba="0.55 0.53 0.5 1"/>
  </material>
  <material name="mat_frame">
    <color rgba="0.45 0.48 0.52 1"/>
  </material>
  <material name="mat_hinge">
    <color rgba="0.65 0.66 0.68 1"/>
  </material>
  <material name="mat_kick">
    <color rgba="0.75 0.76 0.77 1"/>
  </material>
  <material name="mat_leaf">
    <color rgba="0.93 0.93 0.91 1"/>
  </material>
  <material name="mat_leaf_panel">
    <color rgba="0.856 0.856 0.837 1"/>
  </material>
  <material name="mat_op_nickel_satin">
    <color rgba="0.72 0.7 0.66 1"/>
  </material>
  <material name="mat_seal">
    <color rgba="0.1 0.1 0.1 1"/>
  </material>
  <material name="mat_wall">
    <color rgba="0.78 0.76 0.7 1"/>
  </material>
  <doorbench:loop_closure body1="closer_arm_fore" body2="world" anchor="0.26 0 0" label="Closer forearm pinned to frame bracket"/>
</robot>
