<?xml version="1.0" ?>
<robot xmlns:doorbench="https://github.com/adamraudonis/DoorBench/schema/urdf-ext" name="db0976_hatch_floor_simple">
  <link name="world_env">
    <visual name="floor_a_vis">
      <origin xyz="-3.2275 0 -0.05" rpy="0 0 0"/>
      <geometry>
        <box size="5.545 12 0.1"/>
      </geometry>
      <material name="mat_floor"/>
    </visual>
    <collision name="floor_a_col">
      <origin xyz="-3.2275 0 -0.05" rpy="0 0 0"/>
      <geometry>
        <box size="5.545 12 0.1"/>
      </geometry>
    </collision>
    <visual name="floor_b_vis">
      <origin xyz="3.2275 0 -0.05" rpy="0 0 0"/>
      <geometry>
        <box size="5.545 12 0.1"/>
      </geometry>
      <material name="mat_floor"/>
    </visual>
    <collision name="floor_b_col">
      <origin xyz="3.2275 0 -0.05" rpy="0 0 0"/>
      <geometry>
        <box size="5.545 12 0.1"/>
      </geometry>
    </collision>
    <visual name="floor_c_vis">
      <origin xyz="0 -3.3775 -0.05" rpy="0 0 0"/>
      <geometry>
        <box size="0.91 5.245 0.1"/>
      </geometry>
      <material name="mat_floor"/>
    </visual>
    <collision name="floor_c_col">
      <origin xyz="0 -3.3775 -0.05" rpy="0 0 0"/>
      <geometry>
        <box size="0.91 5.245 0.1"/>
      </geometry>
    </collision>
    <visual name="floor_d_vis">
      <origin xyz="0 3.3775 -0.05" rpy="0 0 0"/>
      <geometry>
        <box size="0.91 5.245 0.1"/>
      </geometry>
      <material name="mat_floor"/>
    </visual>
    <collision name="floor_d_col">
      <origin xyz="0 3.3775 -0.05" rpy="0 0 0"/>
      <geometry>
        <box size="0.91 5.245 0.1"/>
      </geometry>
    </collision>
    <visual name="pit_floor_vis">
      <origin xyz="0 0 -1.5" rpy="0 0 0"/>
      <geometry>
        <box size="1.31 1.91 0.04"/>
      </geometry>
      <material name="mat_pit"/>
    </visual>
    <collision name="pit_floor_col">
      <origin xyz="0 0 -1.5" rpy="0 0 0"/>
      <geometry>
        <box size="1.31 1.91 0.04"/>
      </geometry>
    </collision>
    <visual name="pit_wall_l_vis">
      <origin xyz="-0.665 0 -0.75" rpy="0 0 0"/>
      <geometry>
        <box size="0.02 1.95 1.5"/>
      </geometry>
      <material name="mat_pit"/>
    </visual>
    <collision name="pit_wall_l_col">
      <origin xyz="-0.665 0 -0.75" rpy="0 0 0"/>
      <geometry>
        <box size="0.02 1.95 1.5"/>
      </geometry>
    </collision>
    <visual name="pit_wall_r_vis">
      <origin xyz="0.665 0 -0.75" rpy="0 0 0"/>
      <geometry>
        <box size="0.02 1.95 1.5"/>
      </geometry>
      <material name="mat_pit"/>
    </visual>
    <collision name="pit_wall_r_col">
      <origin xyz="0.665 0 -0.75" rpy="0 0 0"/>
      <geometry>
        <box size="0.02 1.95 1.5"/>
      </geometry>
    </collision>
    <visual name="pit_wall_n_vis">
      <origin xyz="0 -0.965 -0.75" rpy="0 0 0"/>
      <geometry>
        <box size="1.31 0.02 1.5"/>
      </geometry>
      <material name="mat_pit"/>
    </visual>
    <collision name="pit_wall_n_col">
      <origin xyz="0 -0.965 -0.75" rpy="0 0 0"/>
      <geometry>
        <box size="1.31 0.02 1.5"/>
      </geometry>
    </collision>
    <visual name="pit_wall_f_vis">
      <origin xyz="0 0.965 -0.75" rpy="0 0 0"/>
      <geometry>
        <box size="1.31 0.02 1.5"/>
      </geometry>
      <material name="mat_pit"/>
    </visual>
    <collision name="pit_wall_f_col">
      <origin xyz="0 0.965 -0.75" rpy="0 0 0"/>
      <geometry>
        <box size="1.31 0.02 1.5"/>
      </geometry>
    </collision>
    <visual name="curb_l_vis">
      <origin xyz="-0.48 0 0.02" rpy="0 0 0"/>
      <geometry>
        <box size="0.05 1.61 0.04"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="curb_l_col">
      <origin xyz="-0.48 0 0.02" rpy="0 0 0"/>
      <geometry>
        <box size="0.05 1.61 0.04"/>
      </geometry>
    </collision>
    <visual name="curb_r_vis">
      <origin xyz="0.48 0 0.02" rpy="0 0 0"/>
      <geometry>
        <box size="0.05 1.61 0.04"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="curb_r_col">
      <origin xyz="0.48 0 0.02" rpy="0 0 0"/>
      <geometry>
        <box size="0.05 1.61 0.04"/>
      </geometry>
    </collision>
    <visual name="curb_n_vis">
      <origin xyz="0 -0.78 0.02" rpy="0 0 0"/>
      <geometry>
        <box size="0.91 0.05 0.04"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="curb_n_col">
      <origin xyz="0 -0.78 0.02" rpy="0 0 0"/>
      <geometry>
        <box size="0.91 0.05 0.04"/>
      </geometry>
    </collision>
    <visual name="curb_f_vis">
      <origin xyz="0 0.78 0.02" rpy="0 0 0"/>
      <geometry>
        <box size="0.91 0.05 0.04"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="curb_f_col">
      <origin xyz="0 0.78 0.02" rpy="0 0 0"/>
      <geometry>
        <box size="0.91 0.05 0.04"/>
      </geometry>
    </collision>
    <visual name="hatch_hinge_0_curb_n_vis">
      <origin xyz="-0.404 0.765 0.04" rpy="0 1.570796 0"/>
      <geometry>
        <cylinder radius="0.01" length="0.036"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="hatch_hinge_0_curb_strap_n_vis">
      <origin xyz="-0.404 0.785 0.03" rpy="0 0 0"/>
      <geometry>
        <box size="0.036 0.064 0.01"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="hatch_hinge_0_curb_p_vis">
      <origin xyz="-0.316 0.765 0.04" rpy="0 1.570796 0"/>
      <geometry>
        <cylinder radius="0.01" length="0.036"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="hatch_hinge_0_curb_strap_p_vis">
      <origin xyz="-0.316 0.785 0.03" rpy="0 0 0"/>
      <geometry>
        <box size="0.036 0.064 0.01"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="hatch_hinge_1_curb_n_vis">
      <origin xyz="0.316 0.765 0.04" rpy="0 1.570796 0"/>
      <geometry>
        <cylinder radius="0.01" length="0.036"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="hatch_hinge_1_curb_strap_n_vis">
      <origin xyz="0.316 0.785 0.03" rpy="0 0 0"/>
      <geometry>
        <box size="0.036 0.064 0.01"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="hatch_hinge_1_curb_p_vis">
      <origin xyz="0.404 0.765 0.04" rpy="0 1.570796 0"/>
      <geometry>
        <cylinder radius="0.01" length="0.036"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="hatch_hinge_1_curb_strap_p_vis">
      <origin xyz="0.404 0.785 0.03" rpy="0 0 0"/>
      <geometry>
        <box size="0.036 0.064 0.01"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
  </link>
  <link name="hatch">
    <inertial>
      <origin xyz="0 -0.761331 0.000197" rpy="0 0 0"/>
      <mass value="65.835"/>
      <inertia ixx="12.551588911" ixy="0" ixz="0" iyy="4.447823594" iyz="0.003468859" izz="16.995608227"/>
    </inertial>
    <visual name="hatch_slab_vis">
      <origin xyz="0 -0.765 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.9 1.502 0.006"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <collision name="hatch_slab_col">
      <origin xyz="0 -0.765 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.9 1.502 0.006"/>
      </geometry>
    </collision>
    <visual name="hatch_hinge_0_vis">
      <origin xyz="-0.36 0 0" rpy="0 1.570796 0"/>
      <geometry>
        <cylinder radius="0.01" length="0.056"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="hatch_hinge_0_strap_vis">
      <origin xyz="-0.36 -0.017 0.005" rpy="0 0 0"/>
      <geometry>
        <box size="0.056 0.046 0.006"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="hatch_hinge_1_vis">
      <origin xyz="0.36 0 0" rpy="0 1.570796 0"/>
      <geometry>
        <cylinder radius="0.01" length="0.056"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="hatch_hinge_1_strap_vis">
      <origin xyz="0.36 -0.017 0.005" rpy="0 0 0"/>
      <geometry>
        <box size="0.056 0.046 0.006"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="hatch_pull_p_vis">
      <origin xyz="0 -1.1425 0.006" rpy="-1.570796 0 0"/>
      <geometry>
        <mesh filename="../../hardware/pull_1e5d69a91a.obj"/>
      </geometry>
      <material name="mat_op_stainless"/>
    </visual>
    <collision name="hatch_pull_col_p_col">
      <origin xyz="0 -1.1425 0.066" rpy="1.570796 0 0"/>
      <geometry>
        <cylinder radius="0.0095" length="0.16"/>
      </geometry>
    </collision>
  </link>
  <joint name="hatch_hinge" type="revolute">
    <origin xyz="0 0.765 0.04" rpy="0 0 0"/>
    <parent link="world_env"/>
    <child link="hatch"/>
    <axis xyz="-1 0 0"/>
    <limit lower="0" upper="1.308997" effort="2000" velocity="10"/>
    <dynamics damping="30.677737" friction="1.208602"/>
    <doorbench:spring stiffness="19.5" springref="-3.333333" note="tau = -stiffness*(q - springref); not native URDF"/>
  </joint>
  <material name="mat_floor">
    <color rgba="0.55 0.53 0.5 1"/>
  </material>
  <material name="mat_frame">
    <color rgba="0.82 0.7 0.5 1"/>
  </material>
  <material name="mat_hinge">
    <color rgba="0.65 0.66 0.68 1"/>
  </material>
  <material name="mat_leaf">
    <color rgba="0.95 0.8 0.05 1"/>
  </material>
  <material name="mat_op_stainless">
    <color rgba="0.75 0.76 0.77 1"/>
  </material>
  <material name="mat_pit">
    <color rgba="0.3 0.3 0.3 1"/>
  </material>
</robot>
