<?xml version="1.0" ?>
<robot xmlns:doorbench="https://github.com/adamraudonis/DoorBench/schema/urdf-ext" name="db0062_swing_single_minimal">
  <link name="world_env">
    <visual name="floor_vis">
      <origin xyz="0 0 -0.05" rpy="0 0 0"/>
      <geometry>
        <box size="12 12 0.1"/>
      </geometry>
      <material name="mat_floor"/>
    </visual>
    <collision name="floor_col">
      <origin xyz="0 0 -0.05" rpy="0 0 0"/>
      <geometry>
        <box size="12 12 0.1"/>
      </geometry>
    </collision>
    <visual name="wall_left_vis">
      <origin xyz="-1.50475 -0.071 1.35" rpy="0 0 0"/>
      <geometry>
        <box size="1.9905 0.2 2.7"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_left_col">
      <origin xyz="-1.50475 -0.071 1.35" rpy="0 0 0"/>
      <geometry>
        <box size="1.9905 0.2 2.7"/>
      </geometry>
    </collision>
    <visual name="wall_right_vis">
      <origin xyz="1.48975 -0.071 1.35" rpy="0 0 0"/>
      <geometry>
        <box size="2.0205 0.2 2.7"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_right_col">
      <origin xyz="1.48975 -0.071 1.35" rpy="0 0 0"/>
      <geometry>
        <box size="2.0205 0.2 2.7"/>
      </geometry>
    </collision>
    <visual name="wall_header_vis">
      <origin xyz="-0.015 -0.071 2.397" rpy="0 0 0"/>
      <geometry>
        <box size="0.989 0.2 0.606"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_header_col">
      <origin xyz="-0.015 -0.071 2.397" rpy="0 0 0"/>
      <geometry>
        <box size="0.989 0.2 0.606"/>
      </geometry>
    </collision>
    <visual name="jamb_hinge_vis">
      <origin xyz="0.47 -0.071 1.0225" rpy="0 0 0"/>
      <geometry>
        <box size="0.019 0.2 2.045"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_hinge_col">
      <origin xyz="0.47 -0.071 1.0225" rpy="0 0 0"/>
      <geometry>
        <box size="0.019 0.2 2.045"/>
      </geometry>
    </collision>
    <visual name="strike_641_wall_n_vis">
      <origin xyz="-0.485 -0.09025 0.641" rpy="0 0 0"/>
      <geometry>
        <box size="0.049 0.1615 0.031"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="strike_641_wall_n_col">
      <origin xyz="-0.485 -0.09025 0.641" rpy="0 0 0"/>
      <geometry>
        <box size="0.049 0.1615 0.031"/>
      </geometry>
    </collision>
    <visual name="strike_641_wall_p_vis">
      <origin xyz="-0.485 0.01925 0.641" rpy="0 0 0"/>
      <geometry>
        <box size="0.049 0.0195 0.031"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="strike_641_wall_p_col">
      <origin xyz="-0.485 0.01925 0.641" rpy="0 0 0"/>
      <geometry>
        <box size="0.049 0.0195 0.031"/>
      </geometry>
    </collision>
    <visual name="strike_641_back_vis">
      <origin xyz="-0.497 0 0.641" rpy="0 0 0"/>
      <geometry>
        <box size="0.025 0.019 0.031"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="strike_641_back_col">
      <origin xyz="-0.497 0 0.641" rpy="0 0 0"/>
      <geometry>
        <box size="0.025 0.019 0.031"/>
      </geometry>
    </collision>
    <visual name="strike_1016_wall_n_vis">
      <origin xyz="-0.485 -0.089425 1.016" rpy="0 0 0"/>
      <geometry>
        <box size="0.049 0.16315 0.0334"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="strike_1016_wall_n_col">
      <origin xyz="-0.485 -0.089425 1.016" rpy="0 0 0"/>
      <geometry>
        <box size="0.049 0.16315 0.0334"/>
      </geometry>
    </collision>
    <visual name="strike_1016_wall_p_vis">
      <origin xyz="-0.485 0.01585 1.016" rpy="0 0 0"/>
      <geometry>
        <box size="0.049 0.016 0.0334"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="strike_1016_wall_p_col">
      <origin xyz="-0.485 0.01585 1.016" rpy="0 0 0"/>
      <geometry>
        <box size="0.049 0.016 0.0334"/>
      </geometry>
    </collision>
    <visual name="strike_1016_ramp_vis">
      <origin xyz="-0.489636 0.028673 1.016" rpy="0 0 0.428384"/>
      <geometry>
        <box size="0.049 0.03298 0.0334"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="strike_1016_ramp_col">
      <origin xyz="-0.489636 0.028673 1.016" rpy="0 0 0.428384"/>
      <geometry>
        <box size="0.049 0.03298 0.0334"/>
      </geometry>
    </collision>
    <visual name="strike_1016_back_vis">
      <origin xyz="-0.49335 0 1.016" rpy="0 0 0"/>
      <geometry>
        <box size="0.0323 0.0157 0.0334"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="strike_1016_back_col">
      <origin xyz="-0.49335 0 1.016" rpy="0 0 0"/>
      <geometry>
        <box size="0.0323 0.0157 0.0334"/>
      </geometry>
    </collision>
    <visual name="strike_1191_wall_n_vis">
      <origin xyz="-0.485 -0.09025 1.191" rpy="0 0 0"/>
      <geometry>
        <box size="0.049 0.1615 0.031"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="strike_1191_wall_n_col">
      <origin xyz="-0.485 -0.09025 1.191" rpy="0 0 0"/>
      <geometry>
        <box size="0.049 0.1615 0.031"/>
      </geometry>
    </collision>
    <visual name="strike_1191_wall_p_vis">
      <origin xyz="-0.485 0.01925 1.191" rpy="0 0 0"/>
      <geometry>
        <box size="0.049 0.0195 0.031"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="strike_1191_wall_p_col">
      <origin xyz="-0.485 0.01925 1.191" rpy="0 0 0"/>
      <geometry>
        <box size="0.049 0.0195 0.031"/>
      </geometry>
    </collision>
    <visual name="strike_1191_back_vis">
      <origin xyz="-0.497 0 1.191" rpy="0 0 0"/>
      <geometry>
        <box size="0.025 0.019 0.031"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="strike_1191_back_col">
      <origin xyz="-0.497 0 1.191" rpy="0 0 0"/>
      <geometry>
        <box size="0.025 0.019 0.031"/>
      </geometry>
    </collision>
    <visual name="strike_1691_wall_n_vis">
      <origin xyz="-0.485 -0.09025 1.691" rpy="0 0 0"/>
      <geometry>
        <box size="0.049 0.1615 0.031"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="strike_1691_wall_n_col">
      <origin xyz="-0.485 -0.09025 1.691" rpy="0 0 0"/>
      <geometry>
        <box size="0.049 0.1615 0.031"/>
      </geometry>
    </collision>
    <visual name="strike_1691_wall_p_vis">
      <origin xyz="-0.485 0.01925 1.691" rpy="0 0 0"/>
      <geometry>
        <box size="0.049 0.0195 0.031"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="strike_1691_wall_p_col">
      <origin xyz="-0.485 0.01925 1.691" rpy="0 0 0"/>
      <geometry>
        <box size="0.049 0.0195 0.031"/>
      </geometry>
    </collision>
    <visual name="strike_1691_back_vis">
      <origin xyz="-0.497 0 1.691" rpy="0 0 0"/>
      <geometry>
        <box size="0.025 0.019 0.031"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="strike_1691_back_col">
      <origin xyz="-0.497 0 1.691" rpy="0 0 0"/>
      <geometry>
        <box size="0.025 0.019 0.031"/>
      </geometry>
    </collision>
    <visual name="jamb_strike_0_vis">
      <origin xyz="-0.485 -0.071 0.31275" rpy="0 0 0"/>
      <geometry>
        <box size="0.049 0.2 0.6255"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_strike_0_col">
      <origin xyz="-0.485 -0.071 0.31275" rpy="0 0 0"/>
      <geometry>
        <box size="0.049 0.2 0.6255"/>
      </geometry>
    </collision>
    <visual name="jamb_strike_1_vis">
      <origin xyz="-0.485 -0.071 0.8279" rpy="0 0 0"/>
      <geometry>
        <box size="0.049 0.2 0.3428"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_strike_1_col">
      <origin xyz="-0.485 -0.071 0.8279" rpy="0 0 0"/>
      <geometry>
        <box size="0.049 0.2 0.3428"/>
      </geometry>
    </collision>
    <visual name="jamb_strike_2_vis">
      <origin xyz="-0.485 -0.071 1.1041" rpy="0 0 0"/>
      <geometry>
        <box size="0.049 0.2 0.1428"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_strike_2_col">
      <origin xyz="-0.485 -0.071 1.1041" rpy="0 0 0"/>
      <geometry>
        <box size="0.049 0.2 0.1428"/>
      </geometry>
    </collision>
    <visual name="jamb_strike_3_vis">
      <origin xyz="-0.485 -0.071 1.441" rpy="0 0 0"/>
      <geometry>
        <box size="0.049 0.2 0.469"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_strike_3_col">
      <origin xyz="-0.485 -0.071 1.441" rpy="0 0 0"/>
      <geometry>
        <box size="0.049 0.2 0.469"/>
      </geometry>
    </collision>
    <visual name="jamb_strike_4_vis">
      <origin xyz="-0.485 -0.071 1.87575" rpy="0 0 0"/>
      <geometry>
        <box size="0.049 0.2 0.3385"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_strike_4_col">
      <origin xyz="-0.485 -0.071 1.87575" rpy="0 0 0"/>
      <geometry>
        <box size="0.049 0.2 0.3385"/>
      </geometry>
    </collision>
    <visual name="jamb_head_vis">
      <origin xyz="-0.015 -0.071 2.0545" rpy="0 0 0"/>
      <geometry>
        <box size="0.989 0.2 0.019"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_head_col">
      <origin xyz="-0.015 -0.071 2.0545" rpy="0 0 0"/>
      <geometry>
        <box size="0.989 0.2 0.019"/>
      </geometry>
    </collision>
    <visual name="head_stud_vis">
      <origin xyz="-0.015 -0.071 2.079" rpy="0 0 0"/>
      <geometry>
        <box size="0.989 0.2 0.03"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="head_stud_col">
      <origin xyz="-0.015 -0.071 2.079" rpy="0 0 0"/>
      <geometry>
        <box size="0.989 0.2 0.03"/>
      </geometry>
    </collision>
    <visual name="stop_hinge_vis">
      <origin xyz="0.455 -0.0385 1.0225" rpy="0 0 0"/>
      <geometry>
        <box size="0.011 0.032 2.045"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="stop_hinge_col">
      <origin xyz="0.455 -0.0385 1.0225" rpy="0 0 0"/>
      <geometry>
        <box size="0.011 0.032 2.045"/>
      </geometry>
    </collision>
    <visual name="stop_strike_vis">
      <origin xyz="-0.455 -0.0385 1.0225" rpy="0 0 0"/>
      <geometry>
        <box size="0.011 0.032 2.045"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="stop_strike_col">
      <origin xyz="-0.455 -0.0385 1.0225" rpy="0 0 0"/>
      <geometry>
        <box size="0.011 0.032 2.045"/>
      </geometry>
    </collision>
    <visual name="stop_head_vis">
      <origin xyz="0 -0.0385 2.0395" rpy="0 0 0"/>
      <geometry>
        <box size="0.921 0.032 0.011"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="stop_head_col">
      <origin xyz="0 -0.0385 2.0395" rpy="0 0 0"/>
      <geometry>
        <box size="0.921 0.032 0.011"/>
      </geometry>
    </collision>
    <visual name="threshold_vis">
      <origin xyz="0 -0.071 0.0065" rpy="0 0 0"/>
      <geometry>
        <box size="0.959 0.2 0.013"/>
      </geometry>
      <material name="mat_threshold"/>
    </visual>
    <collision name="threshold_col">
      <origin xyz="0 -0.071 0.0065" rpy="0 0 0"/>
      <geometry>
        <box size="0.959 0.2 0.013"/>
      </geometry>
    </collision>
  </link>
  <link name="leaf">
    <inertial>
      <origin xyz="-0.474782 -0.03154 1.025893" rpy="0 0 0"/>
      <mass value="29.817573"/>
      <inertia ixx="9.690193292" ixy="-0.025312813" ixz="-0.037059386" iyy="11.828739964" iyz="-0.005293556" izz="2.156932675"/>
    </inertial>
    <visual name="leaf_slab_vis">
      <origin xyz="-0.457 -0.029 1.029" rpy="0 0 0"/>
      <geometry>
        <box size="0.914 0.044 2.024"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <collision name="leaf_slab_col">
      <origin xyz="-0.457 -0.029 1.029" rpy="0 0 0"/>
      <geometry>
        <box size="0.914 0.044 2.024"/>
      </geometry>
    </collision>
    <visual name="leaf_glass_0_vis">
      <origin xyz="-0.20936 -0.029 1.2214" rpy="0 0 0"/>
      <geometry>
        <box size="0.21764 0.0456 0.26336"/>
      </geometry>
      <material name="mat_glass"/>
    </visual>
    <visual name="leaf_glass_1_vis">
      <origin xyz="-0.457 -0.029 1.2214" rpy="0 0 0"/>
      <geometry>
        <box size="0.21764 0.0456 0.26336"/>
      </geometry>
      <material name="mat_glass"/>
    </visual>
    <visual name="leaf_glass_2_vis">
      <origin xyz="-0.70464 -0.029 1.2214" rpy="0 0 0"/>
      <geometry>
        <box size="0.21764 0.0456 0.26336"/>
      </geometry>
      <material name="mat_glass"/>
    </visual>
    <visual name="leaf_glass_3_vis">
      <origin xyz="-0.20936 -0.029 1.51476" rpy="0 0 0"/>
      <geometry>
        <box size="0.21764 0.0456 0.26336"/>
      </geometry>
      <material name="mat_glass"/>
    </visual>
    <visual name="leaf_glass_4_vis">
      <origin xyz="-0.457 -0.029 1.51476" rpy="0 0 0"/>
      <geometry>
        <box size="0.21764 0.0456 0.26336"/>
      </geometry>
      <material name="mat_glass"/>
    </visual>
    <visual name="leaf_glass_5_vis">
      <origin xyz="-0.70464 -0.029 1.51476" rpy="0 0 0"/>
      <geometry>
        <box size="0.21764 0.0456 0.26336"/>
      </geometry>
      <material name="mat_glass"/>
    </visual>
    <visual name="leaf_glass_6_vis">
      <origin xyz="-0.20936 -0.029 1.80812" rpy="0 0 0"/>
      <geometry>
        <box size="0.21764 0.0456 0.26336"/>
      </geometry>
      <material name="mat_glass"/>
    </visual>
    <visual name="leaf_glass_7_vis">
      <origin xyz="-0.457 -0.029 1.80812" rpy="0 0 0"/>
      <geometry>
        <box size="0.21764 0.0456 0.26336"/>
      </geometry>
      <material name="mat_glass"/>
    </visual>
    <visual name="leaf_glass_8_vis">
      <origin xyz="-0.70464 -0.029 1.80812" rpy="0 0 0"/>
      <geometry>
        <box size="0.21764 0.0456 0.26336"/>
      </geometry>
      <material name="mat_glass"/>
    </visual>
    <visual name="leaf_handleset_n_vis">
      <origin xyz="-0.809 -0.051 0.956" rpy="1.570796 0 0"/>
      <geometry>
        <mesh filename="../../hardware/handleset_beb5526ad2.obj"/>
      </geometry>
      <material name="mat_op_bronze"/>
    </visual>
    <collision name="leaf_handleset_col_n_col">
      <origin xyz="-0.809 -0.111 0.956" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.011" length="0.18"/>
      </geometry>
    </collision>
  </link>
  <link name="leaf_handle">
    <inertial>
      <origin xyz="0 0.058082 0" rpy="0 0 0"/>
      <mass value="0.549341"/>
      <inertia ixx="0.000270874" ixy="0" ixz="0" iyy="0.000155778" iyz="0" izz="0.000270874"/>
    </inertial>
    <visual name="leaf_handle_knob_p_vis">
      <origin xyz="0 0.022 0" rpy="1.570796 0 3.141593"/>
      <geometry>
        <mesh filename="../../hardware/knob_d1888f6f03.obj"/>
      </geometry>
      <material name="mat_op_brass"/>
    </visual>
    <visual name="leaf_handle_knob_col_p_vis">
      <origin xyz="0 0.0685 0" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.0243"/>
      </geometry>
      <material name="mat_op_brass"/>
    </visual>
    <collision name="leaf_handle_knob_col_p_col">
      <origin xyz="0 0.0685 0" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.0243"/>
      </geometry>
    </collision>
    <collision name="leaf_handle_knob_neck_p_col">
      <origin xyz="0 0.034 0" rpy="-1.570796 0 0"/>
      <geometry>
        <cylinder radius="0.011" length="0.024"/>
      </geometry>
    </collision>
  </link>
  <link name="leaf_latch_bolt">
    <inertial>
      <origin xyz="0.00865 0 0" rpy="0 0 0"/>
      <mass value="0.041419"/>
      <inertia ixx="0.000000798" ixy="0" ixz="0" iyy="0.000005598" iyz="0" izz="0.000005598"/>
    </inertial>
    <visual name="leaf_latch_bolt_capsule_vis">
      <origin xyz="0.00865 0 0" rpy="0 -1.570796 0"/>
      <geometry>
        <cylinder radius="0.00635" length="0.03"/>
      </geometry>
      <material name="mat_bolt"/>
    </visual>
    <collision name="leaf_latch_bolt_capsule_col">
      <origin xyz="0.00865 0 0" rpy="0 -1.570796 0"/>
      <geometry>
        <cylinder radius="0.00635" length="0.03"/>
      </geometry>
    </collision>
  </link>
  <joint name="leaf_hinge" type="revolute">
    <origin xyz="0.4575 0.029 0" rpy="0 0 0"/>
    <parent link="world_env"/>
    <child link="leaf"/>
    <axis xyz="0 0 -1"/>
    <limit lower="0" upper="1.658063" effort="2000" velocity="10"/>
    <dynamics damping="2.25611" friction="2.191472"/>
    <doorbench:spring stiffness="6.6" springref="-0.431654" note="tau = -stiffness*(q - springref); not native URDF"/>
    <doorbench:closer damping_closing="2" damping_opening="2" backcheck_angle="0" backcheck_damping="0"/>
  </joint>
  <joint name="leaf_handle_hinge" type="revolute">
    <origin xyz="-0.844 -0.029 1.016" rpy="0 0 0"/>
    <parent link="leaf"/>
    <child link="leaf_handle"/>
    <axis xyz="0 1 0"/>
    <limit lower="0" upper="0.87" effort="2000" velocity="10"/>
    <dynamics damping="0.142525" friction="0.038"/>
    <doorbench:spring stiffness="0.5" springref="-0.5" note="tau = -stiffness*(q - springref); not native URDF"/>
  </joint>
  <joint name="leaf_latch_bolt_slide" type="prismatic">
    <origin xyz="-0.914 -0.029 1.016" rpy="0 0 0"/>
    <parent link="leaf"/>
    <child link="leaf_latch_bolt"/>
    <axis xyz="1 0 0"/>
    <limit lower="0" upper="0.0127" effort="5000" velocity="10"/>
    <dynamics damping="2" friction="0.3"/>
    <doorbench:spring stiffness="300" springref="-0.008333" note="tau = -stiffness*(q - springref); not native URDF"/>
    <mimic joint="leaf_handle_hinge" multiplier="0.015679" offset="0"/>
    <doorbench:coupling one_sided="true" note="MJCF uses a one-sided tendon (bolt may retract further, e.g. riding over the strike lip); mimic is bilateral"/>
  </joint>
  <material name="mat_bolt">
    <color rgba="0.85 0.66 0.3 1"/>
  </material>
  <material name="mat_floor">
    <color rgba="0.55 0.53 0.5 1"/>
  </material>
  <material name="mat_frame">
    <color rgba="0.82 0.7 0.5 1"/>
  </material>
  <material name="mat_glass">
    <color rgba="0.85 0.92 0.95 0.25"/>
  </material>
  <material name="mat_leaf">
    <color rgba="0.09 0.13 0.28 1"/>
  </material>
  <material name="mat_op_brass">
    <color rgba="0.85 0.66 0.3 1"/>
  </material>
  <material name="mat_op_bronze">
    <color rgba="0.3 0.22 0.15 1"/>
  </material>
  <material name="mat_threshold">
    <color rgba="0.8 0.81 0.83 1"/>
  </material>
  <material name="mat_wall">
    <color rgba="0.78 0.76 0.7 1"/>
  </material>
</robot>
