<?xml version="1.0" ?>
<robot xmlns:doorbench="https://github.com/adamraudonis/DoorBench/schema/urdf-ext" name="db0631_sliding_single_minimal">
  <link name="world_env">
    <visual name="floor_vis">
      <origin xyz="0 0 -0.05" rpy="0 0 0"/>
      <geometry>
        <box size="12 12 0.1"/>
      </geometry>
      <material name="mat_floor"/>
    </visual>
    <collision name="floor_col">
      <origin xyz="0 0 -0.05" rpy="0 0 0"/>
      <geometry>
        <box size="12 12 0.1"/>
      </geometry>
    </collision>
    <visual name="wall_left_vis">
      <origin xyz="-1.7395 0 1.35" rpy="0 0 0"/>
      <geometry>
        <box size="1.521 0.145 2.7"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_left_col">
      <origin xyz="-1.7395 0 1.35" rpy="0 0 0"/>
      <geometry>
        <box size="1.521 0.145 2.7"/>
      </geometry>
    </collision>
    <visual name="wall_right_vis">
      <origin xyz="1.7695 0 1.35" rpy="0 0 0"/>
      <geometry>
        <box size="1.461 0.145 2.7"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_right_col">
      <origin xyz="1.7695 0 1.35" rpy="0 0 0"/>
      <geometry>
        <box size="1.461 0.145 2.7"/>
      </geometry>
    </collision>
    <visual name="wall_header_vis">
      <origin xyz="0.03 0 2.2895" rpy="0 0 0"/>
      <geometry>
        <box size="2.018 0.145 0.821"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_header_col">
      <origin xyz="0.03 0 2.2895" rpy="0 0 0"/>
      <geometry>
        <box size="2.018 0.145 0.821"/>
      </geometry>
    </collision>
    <visual name="jamb_l_vis">
      <origin xyz="-0.9695 0 0.93" rpy="0 0 0"/>
      <geometry>
        <box size="0.019 0.145 1.86"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_l_col">
      <origin xyz="-0.9695 0 0.93" rpy="0 0 0"/>
      <geometry>
        <box size="0.019 0.145 1.86"/>
      </geometry>
    </collision>
    <visual name="jamb_head_vis">
      <origin xyz="0 0 1.8695" rpy="0 0 0"/>
      <geometry>
        <box size="1.958 0.145 0.019"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_head_col">
      <origin xyz="0 0 1.8695" rpy="0 0 0"/>
      <geometry>
        <box size="1.958 0.145 0.019"/>
      </geometry>
    </collision>
    <visual name="fixed_panel_glass_vis">
      <origin xyz="-0.48 0.04 0.93" rpy="0 0 0"/>
      <geometry>
        <box size="0.92 0.006 1.76"/>
      </geometry>
      <material name="mat_fixed_shoji"/>
    </visual>
    <collision name="fixed_panel_glass_col">
      <origin xyz="-0.48 0.04 0.93" rpy="0 0 0"/>
      <geometry>
        <box size="0.92 0.006 1.76"/>
      </geometry>
    </collision>
    <visual name="shikii_vis">
      <origin xyz="0.005 0 0.012" rpy="0 0 0"/>
      <geometry>
        <box size="2 0.05 0.024"/>
      </geometry>
      <material name="mat_shikii"/>
    </visual>
    <collision name="shikii_col">
      <origin xyz="0.005 0 0.012" rpy="0 0 0"/>
      <geometry>
        <box size="2 0.05 0.024"/>
      </geometry>
    </collision>
    <visual name="kamoi_vis">
      <origin xyz="0.005 0 1.89" rpy="0 0 0"/>
      <geometry>
        <box size="2 0.05 0.06"/>
      </geometry>
      <material name="mat_shikii"/>
    </visual>
    <collision name="kamoi_col">
      <origin xyz="0.005 0 1.89" rpy="0 0 0"/>
      <geometry>
        <box size="2 0.05 0.06"/>
      </geometry>
    </collision>
    <visual name="jamb_latch_0_vis">
      <origin xyz="0.9995 0 0.93" rpy="0 0 0"/>
      <geometry>
        <box size="0.079 0.145 1.86"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_latch_0_col">
      <origin xyz="0.9995 0 0.93" rpy="0 0 0"/>
      <geometry>
        <box size="0.079 0.145 1.86"/>
      </geometry>
    </collision>
  </link>
  <link name="leaf">
    <inertial>
      <origin xyz="0.000069 0.000001 0.927022" rpy="0 0 0"/>
      <mass value="41.07"/>
      <inertia ixx="11.09009982" ixy="-0.000015521" ixz="-0.000350557" iyy="14.176366241" iyz="-0.000004959" izz="3.092429369"/>
    </inertial>
    <visual name="leaf_slab_vis">
      <origin xyz="0 0 0.927" rpy="0 0 0"/>
      <geometry>
        <box size="0.95 0.03 1.8"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <collision name="leaf_slab_col">
      <origin xyz="0 0 0.927" rpy="0 0 0"/>
      <geometry>
        <box size="0.95 0.03 1.8"/>
      </geometry>
    </collision>
    <visual name="leaf_pull_n_vis">
      <origin xyz="0.385 -0.0155 1.05" rpy="0 0 0"/>
      <geometry>
        <box size="0.03 0.001 0.08"/>
      </geometry>
      <material name="mat_op_hinoki"/>
    </visual>
    <visual name="leaf_ext_pull_p_vis">
      <origin xyz="0.385 0.0155 1.05" rpy="0 0 0"/>
      <geometry>
        <box size="0.05 0.001 0.1"/>
      </geometry>
      <material name="mat_op_nickel_satin"/>
    </visual>
  </link>
  <joint name="leaf_slide" type="prismatic">
    <origin xyz="0.48 0 0" rpy="0 0 0"/>
    <parent link="world_env"/>
    <child link="leaf"/>
    <axis xyz="-1 0 0"/>
    <limit lower="0" upper="0.95" effort="5000" velocity="10"/>
    <dynamics damping="4.0535" friction="157.076055"/>
  </joint>
  <material name="mat_fixed_shoji">
    <color rgba="0.98 0.96 0.9 0.45"/>
  </material>
  <material name="mat_floor">
    <color rgba="0.55 0.53 0.5 1"/>
  </material>
  <material name="mat_frame">
    <color rgba="0.88 0.78 0.6 1"/>
  </material>
  <material name="mat_leaf">
    <color rgba="0.98 0.96 0.9 0.45"/>
  </material>
  <material name="mat_op_hinoki">
    <color rgba="0.88 0.78 0.6 1"/>
  </material>
  <material name="mat_op_nickel_satin">
    <color rgba="0.72 0.7 0.66 1"/>
  </material>
  <material name="mat_shikii">
    <color rgba="0.88 0.78 0.6 1"/>
  </material>
  <material name="mat_wall">
    <color rgba="0.78 0.76 0.7 1"/>
  </material>
</robot>
