<?xml version="1.0" ?>
<robot xmlns:doorbench="https://github.com/adamraudonis/DoorBench/schema/urdf-ext" name="db0563_sliding_single_minimal">
  <link name="world_env">
    <visual name="floor_vis">
      <origin xyz="0 0 -0.05" rpy="0 0 0"/>
      <geometry>
        <box size="12 12 0.1"/>
      </geometry>
      <material name="mat_floor"/>
    </visual>
    <collision name="floor_col">
      <origin xyz="0 0 -0.05" rpy="0 0 0"/>
      <geometry>
        <box size="12 12 0.1"/>
      </geometry>
    </collision>
    <visual name="wall_left_vis">
      <origin xyz="-1.493 0 1.377" rpy="0 0 0"/>
      <geometry>
        <box size="2.014 0.145 2.754"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_left_col">
      <origin xyz="-1.493 0 1.377" rpy="0 0 0"/>
      <geometry>
        <box size="2.014 0.145 2.754"/>
      </geometry>
    </collision>
    <visual name="wall_right_vis">
      <origin xyz="1.523 0 1.377" rpy="0 0 0"/>
      <geometry>
        <box size="1.954 0.145 2.754"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_right_col">
      <origin xyz="1.523 0 1.377" rpy="0 0 0"/>
      <geometry>
        <box size="1.954 0.145 2.754"/>
      </geometry>
    </collision>
    <visual name="wall_header_vis">
      <origin xyz="0.03 0 2.4635" rpy="0 0 0"/>
      <geometry>
        <box size="1.032 0.145 0.581"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_header_col">
      <origin xyz="0.03 0 2.4635" rpy="0 0 0"/>
      <geometry>
        <box size="1.032 0.145 0.581"/>
      </geometry>
    </collision>
    <visual name="jamb_l_vis">
      <origin xyz="-0.4765 0 1.077" rpy="0 0 0"/>
      <geometry>
        <box size="0.019 0.145 2.154"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_l_col">
      <origin xyz="-0.4765 0 1.077" rpy="0 0 0"/>
      <geometry>
        <box size="0.019 0.145 2.154"/>
      </geometry>
    </collision>
    <visual name="jamb_head_vis">
      <origin xyz="0 0 2.1635" rpy="0 0 0"/>
      <geometry>
        <box size="0.972 0.145 0.019"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_head_col">
      <origin xyz="0 0 2.1635" rpy="0 0 0"/>
      <geometry>
        <box size="0.972 0.145 0.019"/>
      </geometry>
    </collision>
    <visual name="jamb_latch_0_vis">
      <origin xyz="0.5065 0 1.077" rpy="0 0 0"/>
      <geometry>
        <box size="0.079 0.145 2.154"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_latch_0_col">
      <origin xyz="0.5065 0 1.077" rpy="0 0 0"/>
      <geometry>
        <box size="0.079 0.145 2.154"/>
      </geometry>
    </collision>
  </link>
  <link name="leaf">
    <inertial>
      <origin xyz="0.005208 -0.000839 1.077879" rpy="0 0 0"/>
      <mass value="34.822508"/>
      <inertia ixx="13.043061681" ixy="0.01057111" ixz="0.014123029" iyy="15.491192555" iyz="-0.002275525" izz="2.462790146"/>
    </inertial>
    <visual name="leaf_slab_vis">
      <origin xyz="0 0 1.079" rpy="0 0 0"/>
      <geometry>
        <box size="0.914 0.044 2.134"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <collision name="leaf_slab_col">
      <origin xyz="0 0 1.079" rpy="0 0 0"/>
      <geometry>
        <box size="0.914 0.044 2.134"/>
      </geometry>
    </collision>
    <visual name="leaf_pull_n_vis">
      <origin xyz="0.367 -0.022 1" rpy="1.570796 0 0"/>
      <geometry>
        <mesh filename="../../hardware/pull_2b47e55ff8.obj"/>
      </geometry>
      <material name="mat_op_black_matte_metal"/>
    </visual>
    <collision name="leaf_pull_col_n_col">
      <origin xyz="0.367 -0.067 1" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.006" length="0.26"/>
      </geometry>
    </collision>
  </link>
  <joint name="leaf_slide" type="prismatic">
    <origin xyz="0 -0.1145 0" rpy="0 0 0"/>
    <parent link="world_env"/>
    <child link="leaf"/>
    <axis xyz="-1 0 0"/>
    <limit lower="0" upper="0.914" effort="5000" velocity="10"/>
    <dynamics damping="3.751419" friction="13.740442"/>
  </joint>
  <material name="mat_floor">
    <color rgba="0.55 0.53 0.5 1"/>
  </material>
  <material name="mat_frame">
    <color rgba="0.82 0.7 0.5 1"/>
  </material>
  <material name="mat_leaf">
    <color rgba="0.706 0.572 0.387 1"/>
  </material>
  <material name="mat_op_black_matte_metal">
    <color rgba="0.05 0.05 0.05 1"/>
  </material>
  <material name="mat_wall">
    <color rgba="0.78 0.76 0.7 1"/>
  </material>
</robot>
