<?xml version="1.0" ?>
<robot xmlns:doorbench="https://github.com/adamraudonis/DoorBench/schema/urdf-ext" name="db0916_sliding_single_full">
  <link name="world_env">
    <visual name="floor_vis">
      <origin xyz="0 0 -0.05" rpy="0 0 0"/>
      <geometry>
        <box size="12 12 0.1"/>
      </geometry>
      <material name="mat_floor"/>
    </visual>
    <collision name="floor_col">
      <origin xyz="0 0 -0.05" rpy="0 0 0"/>
      <geometry>
        <box size="12 12 0.1"/>
      </geometry>
    </collision>
    <visual name="wall_left_vis">
      <origin xyz="-1.56125 0 1.35" rpy="0 0 0"/>
      <geometry>
        <box size="1.8775 0.145 2.7"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_left_col">
      <origin xyz="-1.56125 0 1.35" rpy="0 0 0"/>
      <geometry>
        <box size="1.8775 0.145 2.7"/>
      </geometry>
    </collision>
    <visual name="wall_right_vis">
      <origin xyz="1.53125 0 1.35" rpy="0 0 0"/>
      <geometry>
        <box size="1.9375 0.145 2.7"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_right_col">
      <origin xyz="1.53125 0 1.35" rpy="0 0 0"/>
      <geometry>
        <box size="1.9375 0.145 2.7"/>
      </geometry>
    </collision>
    <visual name="wall_header_vis">
      <origin xyz="-0.03 0 2.3855" rpy="0 0 0"/>
      <geometry>
        <box size="1.185 0.145 0.629"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_header_col">
      <origin xyz="-0.03 0 2.3855" rpy="0 0 0"/>
      <geometry>
        <box size="1.185 0.145 0.629"/>
      </geometry>
    </collision>
    <visual name="jamb_r_vis">
      <origin xyz="0.553 0 1.026" rpy="0 0 0"/>
      <geometry>
        <box size="0.019 0.145 2.052"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_r_col">
      <origin xyz="0.553 0 1.026" rpy="0 0 0"/>
      <geometry>
        <box size="0.019 0.145 2.052"/>
      </geometry>
    </collision>
    <visual name="jamb_head_vis">
      <origin xyz="0 0 2.0615" rpy="0 0 0"/>
      <geometry>
        <box size="1.125 0.145 0.019"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_head_col">
      <origin xyz="0 0 2.0615" rpy="0 0 0"/>
      <geometry>
        <box size="1.125 0.145 0.019"/>
      </geometry>
    </collision>
    <visual name="flat_track_vis">
      <origin xyz="0.5335 -0.0945 2.172" rpy="0 0 0"/>
      <geometry>
        <box size="2.234 0.008 0.04"/>
      </geometry>
      <material name="mat_track"/>
    </visual>
    <collision name="flat_track_col">
      <origin xyz="0.5335 -0.0945 2.172" rpy="0 0 0"/>
      <geometry>
        <box size="2.234 0.008 0.04"/>
      </geometry>
    </collision>
    <visual name="track_standoff_0_vis">
      <origin xyz="-0.5335 -0.0815 2.172" rpy="-1.570796 0 0"/>
      <geometry>
        <cylinder radius="0.012" length="0.018"/>
      </geometry>
      <material name="mat_track"/>
    </visual>
    <visual name="track_standoff_1_vis">
      <origin xyz="0 -0.0815 2.172" rpy="-1.570796 0 0"/>
      <geometry>
        <cylinder radius="0.012" length="0.018"/>
      </geometry>
      <material name="mat_track"/>
    </visual>
    <visual name="track_standoff_2_vis">
      <origin xyz="0.5335 -0.0815 2.172" rpy="-1.570796 0 0"/>
      <geometry>
        <cylinder radius="0.012" length="0.018"/>
      </geometry>
      <material name="mat_track"/>
    </visual>
    <visual name="track_standoff_3_vis">
      <origin xyz="1.067 -0.0815 2.172" rpy="-1.570796 0 0"/>
      <geometry>
        <cylinder radius="0.012" length="0.018"/>
      </geometry>
      <material name="mat_track"/>
    </visual>
    <visual name="track_standoff_4_vis">
      <origin xyz="1.6005 -0.0815 2.172" rpy="-1.570796 0 0"/>
      <geometry>
        <cylinder radius="0.012" length="0.018"/>
      </geometry>
      <material name="mat_track"/>
    </visual>
    <visual name="leaf_track_stop_l_vis">
      <origin xyz="-0.4755 -0.0945 2.217" rpy="0 0 0"/>
      <geometry>
        <box size="0.024 0.032 0.054"/>
      </geometry>
      <material name="mat_track"/>
    </visual>
    <collision name="leaf_track_stop_l_col">
      <origin xyz="-0.4755 -0.0945 2.217" rpy="0 0 0"/>
      <geometry>
        <box size="0.024 0.032 0.054"/>
      </geometry>
    </collision>
    <visual name="leaf_track_stop_r_vis">
      <origin xyz="1.5425 -0.0945 2.217" rpy="0 0 0"/>
      <geometry>
        <box size="0.024 0.032 0.054"/>
      </geometry>
      <material name="mat_track"/>
    </visual>
    <collision name="leaf_track_stop_r_col">
      <origin xyz="1.5425 -0.0945 2.217" rpy="0 0 0"/>
      <geometry>
        <box size="0.024 0.032 0.054"/>
      </geometry>
    </collision>
    <visual name="jamb_latch_0_vis">
      <origin xyz="-0.583 0 1.026" rpy="0 0 0"/>
      <geometry>
        <box size="0.079 0.145 2.052"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_latch_0_col">
      <origin xyz="-0.583 0 1.026" rpy="0 0 0"/>
      <geometry>
        <box size="0.079 0.145 2.052"/>
      </geometry>
    </collision>
    <visual name="floor_guide_n_vis">
      <origin xyz="0.5335 -0.1415 0.009" rpy="0 0 0"/>
      <geometry>
        <box size="0.056 0.008 0.018"/>
      </geometry>
      <material name="mat_track"/>
    </visual>
    <collision name="floor_guide_n_col">
      <origin xyz="0.5335 -0.1415 0.009" rpy="0 0 0"/>
      <geometry>
        <box size="0.056 0.008 0.018"/>
      </geometry>
    </collision>
    <visual name="floor_guide_n_foot_vis">
      <origin xyz="0.5335 -0.1555 0.002" rpy="0 0 0"/>
      <geometry>
        <box size="0.056 0.036 0.004"/>
      </geometry>
      <material name="mat_track"/>
    </visual>
    <collision name="floor_guide_n_foot_col">
      <origin xyz="0.5335 -0.1555 0.002" rpy="0 0 0"/>
      <geometry>
        <box size="0.056 0.036 0.004"/>
      </geometry>
    </collision>
    <visual name="floor_guide_p_vis">
      <origin xyz="0.5335 -0.0875 0.009" rpy="0 0 0"/>
      <geometry>
        <box size="0.056 0.008 0.018"/>
      </geometry>
      <material name="mat_track"/>
    </visual>
    <collision name="floor_guide_p_col">
      <origin xyz="0.5335 -0.0875 0.009" rpy="0 0 0"/>
      <geometry>
        <box size="0.056 0.008 0.018"/>
      </geometry>
    </collision>
    <visual name="floor_guide_p_foot_vis">
      <origin xyz="0.5335 -0.0735 0.002" rpy="0 0 0"/>
      <geometry>
        <box size="0.056 0.036 0.004"/>
      </geometry>
      <material name="mat_track"/>
    </visual>
    <collision name="floor_guide_p_foot_col">
      <origin xyz="0.5335 -0.0735 0.002" rpy="0 0 0"/>
      <geometry>
        <box size="0.056 0.036 0.004"/>
      </geometry>
    </collision>
  </link>
  <link name="leaf">
    <inertial>
      <origin xyz="-0.002615 0.000036 1.092293" rpy="0 0 0"/>
      <mass value="72.048752"/>
      <inertia ixx="28.335963097" ixy="-0.01362497" ixz="-0.007967456" iyy="35.506155439" iyz="-0.043728549" izz="7.199930489"/>
    </inertial>
    <visual name="leaf_slab_vis">
      <origin xyz="0 0 1.028" rpy="0 0 0"/>
      <geometry>
        <box size="1.067 0.044 2.032"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <collision name="leaf_slab_col">
      <origin xyz="0 0 1.028" rpy="0 0 0"/>
      <geometry>
        <box size="1.067 0.044 2.032"/>
      </geometry>
    </collision>
    <visual name="leaf_panel_0_n_vis">
      <origin xyz="0 -0.025 1.08896" rpy="0 0 0"/>
      <geometry>
        <box size="0.79226 0.006 1.66688"/>
      </geometry>
      <material name="mat_leaf_panel"/>
    </visual>
    <visual name="leaf_panel_0_p_vis">
      <origin xyz="0 0.025 1.08896" rpy="0 0 0"/>
      <geometry>
        <box size="0.79226 0.006 1.66688"/>
      </geometry>
      <material name="mat_leaf_panel"/>
    </visual>
    <visual name="leaf_hanger_wheel_0_vis">
      <origin xyz="-0.4135 0.02 2.242" rpy="-1.570796 0 0"/>
      <geometry>
        <cylinder radius="0.05" length="0.02"/>
      </geometry>
      <material name="mat_roller"/>
    </visual>
    <visual name="leaf_hanger_mount_0_vis">
      <origin xyz="-0.4135 -0.026 1.9965" rpy="0 0 0"/>
      <geometry>
        <box size="0.036 0.008 0.145"/>
      </geometry>
      <material name="mat_roller"/>
    </visual>
    <visual name="leaf_hanger_strap_0_vis">
      <origin xyz="-0.4135 0.006 2.1615" rpy="0 0 0"/>
      <geometry>
        <box size="0.036 0.008 0.185"/>
      </geometry>
      <material name="mat_roller"/>
    </visual>
    <visual name="leaf_hanger_bend_0_vis">
      <origin xyz="-0.4135 -0.01 2.069" rpy="0 0 0"/>
      <geometry>
        <box size="0.036 0.04 0.008"/>
      </geometry>
      <material name="mat_roller"/>
    </visual>
    <visual name="leaf_hanger_axle_0_vis">
      <origin xyz="-0.4135 0.013 2.242" rpy="-1.570796 0 0"/>
      <geometry>
        <cylinder radius="0.006" length="0.042"/>
      </geometry>
      <material name="mat_roller"/>
    </visual>
    <visual name="leaf_hanger_bolt_0_90_vis">
      <origin xyz="-0.4135 -0.032 1.954" rpy="-1.570796 0 0"/>
      <geometry>
        <cylinder radius="0.007" length="0.008"/>
      </geometry>
      <material name="mat_roller"/>
    </visual>
    <visual name="leaf_hanger_bolt_0_45_vis">
      <origin xyz="-0.4135 -0.032 1.999" rpy="-1.570796 0 0"/>
      <geometry>
        <cylinder radius="0.007" length="0.008"/>
      </geometry>
      <material name="mat_roller"/>
    </visual>
    <visual name="leaf_hanger_wheel_1_vis">
      <origin xyz="0.4135 0.02 2.242" rpy="-1.570796 0 0"/>
      <geometry>
        <cylinder radius="0.05" length="0.02"/>
      </geometry>
      <material name="mat_roller"/>
    </visual>
    <visual name="leaf_hanger_mount_1_vis">
      <origin xyz="0.4135 -0.026 1.9965" rpy="0 0 0"/>
      <geometry>
        <box size="0.036 0.008 0.145"/>
      </geometry>
      <material name="mat_roller"/>
    </visual>
    <visual name="leaf_hanger_strap_1_vis">
      <origin xyz="0.4135 0.006 2.1615" rpy="0 0 0"/>
      <geometry>
        <box size="0.036 0.008 0.185"/>
      </geometry>
      <material name="mat_roller"/>
    </visual>
    <visual name="leaf_hanger_bend_1_vis">
      <origin xyz="0.4135 -0.01 2.069" rpy="0 0 0"/>
      <geometry>
        <box size="0.036 0.04 0.008"/>
      </geometry>
      <material name="mat_roller"/>
    </visual>
    <visual name="leaf_hanger_axle_1_vis">
      <origin xyz="0.4135 0.013 2.242" rpy="-1.570796 0 0"/>
      <geometry>
        <cylinder radius="0.006" length="0.042"/>
      </geometry>
      <material name="mat_roller"/>
    </visual>
    <visual name="leaf_hanger_bolt_1_90_vis">
      <origin xyz="0.4135 -0.032 1.954" rpy="-1.570796 0 0"/>
      <geometry>
        <cylinder radius="0.007" length="0.008"/>
      </geometry>
      <material name="mat_roller"/>
    </visual>
    <visual name="leaf_hanger_bolt_1_45_vis">
      <origin xyz="0.4135 -0.032 1.999" rpy="-1.570796 0 0"/>
      <geometry>
        <cylinder radius="0.007" length="0.008"/>
      </geometry>
      <material name="mat_roller"/>
    </visual>
    <visual name="leaf_pull_n_vis">
      <origin xyz="-0.4435 -0.022 1.05" rpy="-1.570796 0 3.141593"/>
      <geometry>
        <mesh filename="../../hardware/pull_1e5d69a91a.obj"/>
      </geometry>
      <material name="mat_op_stainless"/>
    </visual>
    <collision name="leaf_pull_col_n_col">
      <origin xyz="-0.4435 -0.082 1.05" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.0095" length="0.16"/>
      </geometry>
    </collision>
  </link>
  <joint name="leaf_slide" type="prismatic">
    <origin xyz="0 -0.1145 0" rpy="0 0 0"/>
    <parent link="world_env"/>
    <child link="leaf"/>
    <axis xyz="1 0 0"/>
    <limit lower="0" upper="1.067" effort="5000" velocity="10"/>
    <dynamics damping="5.602438" friction="28.262276"/>
  </joint>
  <material name="mat_floor">
    <color rgba="0.55 0.53 0.5 1"/>
  </material>
  <material name="mat_frame">
    <color rgba="0.82 0.7 0.5 1"/>
  </material>
  <material name="mat_leaf">
    <color rgba="0.5 0.51 0.53 1"/>
  </material>
  <material name="mat_leaf_panel">
    <color rgba="0.46 0.469 0.488 1"/>
  </material>
  <material name="mat_op_stainless">
    <color rgba="0.75 0.76 0.77 1"/>
  </material>
  <material name="mat_roller">
    <color rgba="0.65 0.66 0.68 1"/>
  </material>
  <material name="mat_track">
    <color rgba="0.05 0.05 0.05 1"/>
  </material>
  <material name="mat_wall">
    <color rgba="0.78 0.76 0.7 1"/>
  </material>
</robot>
