<?xml version="1.0" ?>
<robot xmlns:doorbench="https://github.com/adamraudonis/DoorBench/schema/urdf-ext" name="db0449_hatch_floor_simple">
  <link name="world_env">
    <visual name="floor_a_vis">
      <origin xyz="-3.1925 0 -0.05" rpy="0 0 0"/>
      <geometry>
        <box size="5.615 12 0.1"/>
      </geometry>
      <material name="mat_floor"/>
    </visual>
    <collision name="floor_a_col">
      <origin xyz="-3.1925 0 -0.05" rpy="0 0 0"/>
      <geometry>
        <box size="5.615 12 0.1"/>
      </geometry>
    </collision>
    <visual name="floor_b_vis">
      <origin xyz="3.1925 0 -0.05" rpy="0 0 0"/>
      <geometry>
        <box size="5.615 12 0.1"/>
      </geometry>
      <material name="mat_floor"/>
    </visual>
    <collision name="floor_b_col">
      <origin xyz="3.1925 0 -0.05" rpy="0 0 0"/>
      <geometry>
        <box size="5.615 12 0.1"/>
      </geometry>
    </collision>
    <visual name="floor_c_vis">
      <origin xyz="0 -3.2275 -0.05" rpy="0 0 0"/>
      <geometry>
        <box size="0.77 5.545 0.1"/>
      </geometry>
      <material name="mat_floor"/>
    </visual>
    <collision name="floor_c_col">
      <origin xyz="0 -3.2275 -0.05" rpy="0 0 0"/>
      <geometry>
        <box size="0.77 5.545 0.1"/>
      </geometry>
    </collision>
    <visual name="floor_d_vis">
      <origin xyz="0 3.2275 -0.05" rpy="0 0 0"/>
      <geometry>
        <box size="0.77 5.545 0.1"/>
      </geometry>
      <material name="mat_floor"/>
    </visual>
    <collision name="floor_d_col">
      <origin xyz="0 3.2275 -0.05" rpy="0 0 0"/>
      <geometry>
        <box size="0.77 5.545 0.1"/>
      </geometry>
    </collision>
    <visual name="pit_floor_vis">
      <origin xyz="0 0 -1.5" rpy="0 0 0"/>
      <geometry>
        <box size="1.17 1.31 0.04"/>
      </geometry>
      <material name="mat_pit"/>
    </visual>
    <collision name="pit_floor_col">
      <origin xyz="0 0 -1.5" rpy="0 0 0"/>
      <geometry>
        <box size="1.17 1.31 0.04"/>
      </geometry>
    </collision>
    <visual name="curb_l_vis">
      <origin xyz="-0.41 0 0.02" rpy="0 0 0"/>
      <geometry>
        <box size="0.05 1.01 0.04"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="curb_l_col">
      <origin xyz="-0.41 0 0.02" rpy="0 0 0"/>
      <geometry>
        <box size="0.05 1.01 0.04"/>
      </geometry>
    </collision>
    <visual name="curb_r_vis">
      <origin xyz="0.41 0 0.02" rpy="0 0 0"/>
      <geometry>
        <box size="0.05 1.01 0.04"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="curb_r_col">
      <origin xyz="0.41 0 0.02" rpy="0 0 0"/>
      <geometry>
        <box size="0.05 1.01 0.04"/>
      </geometry>
    </collision>
    <visual name="curb_n_vis">
      <origin xyz="0 -0.48 0.02" rpy="0 0 0"/>
      <geometry>
        <box size="0.77 0.05 0.04"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="curb_n_col">
      <origin xyz="0 -0.48 0.02" rpy="0 0 0"/>
      <geometry>
        <box size="0.77 0.05 0.04"/>
      </geometry>
    </collision>
    <visual name="curb_f_vis">
      <origin xyz="0 0.48 0.02" rpy="0 0 0"/>
      <geometry>
        <box size="0.77 0.05 0.04"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="curb_f_col">
      <origin xyz="0 0.48 0.02" rpy="0 0 0"/>
      <geometry>
        <box size="0.77 0.05 0.04"/>
      </geometry>
    </collision>
  </link>
  <link name="hatch">
    <inertial>
      <origin xyz="0 -0.455 0" rpy="0 0 0"/>
      <mass value="17.947192"/>
      <inertia ixx="1.218357065" ixy="0" ixz="0" iyy="0.865389648" iyz="0" izz="2.080683726"/>
    </inertial>
    <visual name="hatch_slab_vis">
      <origin xyz="0 -0.455 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.76 0.902 0.032"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <collision name="hatch_slab_col">
      <origin xyz="0 -0.455 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.76 0.902 0.032"/>
      </geometry>
    </collision>
  </link>
  <link name="ring">
    <inertial>
      <origin xyz="0 0.04 0.006" rpy="0 0 0"/>
      <mass value="0.068808"/>
      <inertia ixx="0.000001213" ixy="0" ixz="0" iyy="0.000035629" iyz="0" izz="0.000035629"/>
    </inertial>
    <visual name="ring_geom_vis">
      <origin xyz="0 0.04 0.006" rpy="0 1.570796 0"/>
      <geometry>
        <cylinder radius="0.006" length="0.07"/>
      </geometry>
      <material name="mat_op_wrought_iron"/>
    </visual>
    <collision name="ring_geom_col">
      <origin xyz="0 0.04 0.006" rpy="0 1.570796 0"/>
      <geometry>
        <cylinder radius="0.006" length="0.07"/>
      </geometry>
    </collision>
  </link>
  <joint name="hatch_hinge" type="revolute">
    <origin xyz="0 0.455 0.04" rpy="0 0 0"/>
    <parent link="world_env"/>
    <child link="hatch"/>
    <axis xyz="-1 0 0"/>
    <limit lower="0" upper="1.919862" effort="2000" velocity="10"/>
    <dynamics damping="0.554227" friction="3.277526"/>
  </joint>
  <joint name="ring_hinge" type="revolute">
    <origin xyz="0 -0.6825 0.016" rpy="0 0 0"/>
    <parent link="hatch"/>
    <child link="ring"/>
    <axis xyz="1 0 0"/>
    <limit lower="0" upper="1.5708" effort="2000" velocity="10"/>
    <dynamics damping="0.01" friction="0"/>
  </joint>
  <material name="mat_floor">
    <color rgba="0.55 0.53 0.5 1"/>
  </material>
  <material name="mat_frame">
    <color rgba="0.82 0.7 0.5 1"/>
  </material>
  <material name="mat_leaf">
    <color rgba="0.7 0.58 0.42 1"/>
  </material>
  <material name="mat_op_wrought_iron">
    <color rgba="0.08 0.08 0.09 1"/>
  </material>
  <material name="mat_pit">
    <color rgba="0.3 0.3 0.3 1"/>
  </material>
</robot>
