<?xml version="1.0" ?>
<robot xmlns:doorbench="https://github.com/adamraudonis/DoorBench/schema/urdf-ext" name="db0716_saloon_full">
  <link name="world_env">
    <visual name="floor_vis">
      <origin xyz="0 0 -0.05" rpy="0 0 0"/>
      <geometry>
        <box size="12 12 0.1"/>
      </geometry>
      <material name="mat_floor"/>
    </visual>
    <collision name="floor_col">
      <origin xyz="0 0 -0.05" rpy="0 0 0"/>
      <geometry>
        <box size="12 12 0.1"/>
      </geometry>
    </collision>
    <visual name="wall_left_vis">
      <origin xyz="-1.5145 0 1.35" rpy="0 0 0"/>
      <geometry>
        <box size="1.971 0.145 2.7"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_left_col">
      <origin xyz="-1.5145 0 1.35" rpy="0 0 0"/>
      <geometry>
        <box size="1.971 0.145 2.7"/>
      </geometry>
    </collision>
    <visual name="wall_right_vis">
      <origin xyz="1.5145 0 1.35" rpy="0 0 0"/>
      <geometry>
        <box size="1.971 0.145 2.7"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_right_col">
      <origin xyz="1.5145 0 1.35" rpy="0 0 0"/>
      <geometry>
        <box size="1.971 0.145 2.7"/>
      </geometry>
    </collision>
    <visual name="wall_header_vis">
      <origin xyz="0 0 2.3845" rpy="0 0 0"/>
      <geometry>
        <box size="1.058 0.145 0.631"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_header_col">
      <origin xyz="0 0 2.3845" rpy="0 0 0"/>
      <geometry>
        <box size="1.058 0.145 0.631"/>
      </geometry>
    </collision>
    <visual name="jamb_hinge_vis">
      <origin xyz="-0.5195 0 1.025" rpy="0 0 0"/>
      <geometry>
        <box size="0.019 0.145 2.05"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_hinge_col">
      <origin xyz="-0.5195 0 1.025" rpy="0 0 0"/>
      <geometry>
        <box size="0.019 0.145 2.05"/>
      </geometry>
    </collision>
    <visual name="jamb_strike_vis">
      <origin xyz="0.5195 0 1.025" rpy="0 0 0"/>
      <geometry>
        <box size="0.019 0.145 2.05"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_strike_col">
      <origin xyz="0.5195 0 1.025" rpy="0 0 0"/>
      <geometry>
        <box size="0.019 0.145 2.05"/>
      </geometry>
    </collision>
    <visual name="stud_strike_vis">
      <origin xyz="0.544 0 1.025" rpy="0 0 0"/>
      <geometry>
        <box size="0.03 0.145 2.05"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="stud_strike_col">
      <origin xyz="0.544 0 1.025" rpy="0 0 0"/>
      <geometry>
        <box size="0.03 0.145 2.05"/>
      </geometry>
    </collision>
    <visual name="jamb_head_vis">
      <origin xyz="0.015 0 2.0595" rpy="0 0 0"/>
      <geometry>
        <box size="1.088 0.145 0.019"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_head_col">
      <origin xyz="0.015 0 2.0595" rpy="0 0 0"/>
      <geometry>
        <box size="1.088 0.145 0.019"/>
      </geometry>
    </collision>
    <visual name="head_stud_vis">
      <origin xyz="0.015 0 2.084" rpy="0 0 0"/>
      <geometry>
        <box size="1.088 0.145 0.03"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="head_stud_col">
      <origin xyz="0.015 0 2.084" rpy="0 0 0"/>
      <geometry>
        <box size="1.088 0.145 0.03"/>
      </geometry>
    </collision>
    <visual name="casing_l_n_vis">
      <origin xyz="-0.559 -0.0805 1.025" rpy="0 0 0"/>
      <geometry>
        <box size="0.07 0.016 2.069"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <visual name="casing_r_n_vis">
      <origin xyz="0.559 -0.0805 1.025" rpy="0 0 0"/>
      <geometry>
        <box size="0.07 0.016 2.069"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <visual name="casing_h_n_vis">
      <origin xyz="0 -0.0805 2.099" rpy="0 0 0"/>
      <geometry>
        <box size="1.188 0.016 0.07"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <visual name="casing_l_p_vis">
      <origin xyz="-0.559 0.0805 1.025" rpy="0 0 0"/>
      <geometry>
        <box size="0.07 0.016 2.069"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <visual name="casing_r_p_vis">
      <origin xyz="0.559 0.0805 1.025" rpy="0 0 0"/>
      <geometry>
        <box size="0.07 0.016 2.069"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <visual name="casing_h_p_vis">
      <origin xyz="0 0.0805 2.099" rpy="0 0 0"/>
      <geometry>
        <box size="1.188 0.016 0.07"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
  </link>
  <link name="leaf_a">
    <inertial>
      <origin xyz="0.223714 0.001028 1.115033" rpy="0 0 0"/>
      <mass value="10.294025"/>
      <inertia ixx="1.688130542" ixy="0.002368443" ixz="0.051239366" iyy="1.927271332" iyz="-0.001799268" izz="0.244686107"/>
    </inertial>
    <visual name="leaf_a_slab_vis">
      <origin xyz="0.253 0 1.25" rpy="0 0 0"/>
      <geometry>
        <box size="0.5 0.044 1.3"/>
      </geometry>
      <material name="mat_leaf_a"/>
    </visual>
    <collision name="leaf_a_slab_col">
      <origin xyz="0.253 0 1.25" rpy="0 0 0"/>
      <geometry>
        <box size="0.5 0.044 1.3"/>
      </geometry>
    </collision>
    <visual name="leaf_a_louver_0_vis">
      <origin xyz="0.253 0 0.80575" rpy="0.610865 0 0"/>
      <geometry>
        <box size="0.32 0.004 0.054075"/>
      </geometry>
      <material name="mat_leaf_a_louver"/>
    </visual>
    <visual name="leaf_a_louver_1_vis">
      <origin xyz="0.253 0 0.85725" rpy="0.610865 0 0"/>
      <geometry>
        <box size="0.32 0.004 0.054075"/>
      </geometry>
      <material name="mat_leaf_a_louver"/>
    </visual>
    <visual name="leaf_a_louver_2_vis">
      <origin xyz="0.253 0 0.90875" rpy="0.610865 0 0"/>
      <geometry>
        <box size="0.32 0.004 0.054075"/>
      </geometry>
      <material name="mat_leaf_a_louver"/>
    </visual>
    <visual name="leaf_a_louver_3_vis">
      <origin xyz="0.253 0 0.96025" rpy="0.610865 0 0"/>
      <geometry>
        <box size="0.32 0.004 0.054075"/>
      </geometry>
      <material name="mat_leaf_a_louver"/>
    </visual>
    <visual name="leaf_a_louver_4_vis">
      <origin xyz="0.253 0 1.01175" rpy="0.610865 0 0"/>
      <geometry>
        <box size="0.32 0.004 0.054075"/>
      </geometry>
      <material name="mat_leaf_a_louver"/>
    </visual>
    <visual name="leaf_a_louver_5_vis">
      <origin xyz="0.253 0 1.06325" rpy="0.610865 0 0"/>
      <geometry>
        <box size="0.32 0.004 0.054075"/>
      </geometry>
      <material name="mat_leaf_a_louver"/>
    </visual>
    <visual name="leaf_a_louver_6_vis">
      <origin xyz="0.253 0 1.11475" rpy="0.610865 0 0"/>
      <geometry>
        <box size="0.32 0.004 0.054075"/>
      </geometry>
      <material name="mat_leaf_a_louver"/>
    </visual>
    <visual name="leaf_a_louver_7_vis">
      <origin xyz="0.253 0 1.16625" rpy="0.610865 0 0"/>
      <geometry>
        <box size="0.32 0.004 0.054075"/>
      </geometry>
      <material name="mat_leaf_a_louver"/>
    </visual>
    <visual name="leaf_a_louver_8_vis">
      <origin xyz="0.253 0 1.21775" rpy="0.610865 0 0"/>
      <geometry>
        <box size="0.32 0.004 0.054075"/>
      </geometry>
      <material name="mat_leaf_a_louver"/>
    </visual>
    <visual name="leaf_a_louver_9_vis">
      <origin xyz="0.253 0 1.26925" rpy="0.610865 0 0"/>
      <geometry>
        <box size="0.32 0.004 0.054075"/>
      </geometry>
      <material name="mat_leaf_a_louver"/>
    </visual>
    <visual name="leaf_a_louver_10_vis">
      <origin xyz="0.253 0 1.32075" rpy="0.610865 0 0"/>
      <geometry>
        <box size="0.32 0.004 0.054075"/>
      </geometry>
      <material name="mat_leaf_a_louver"/>
    </visual>
    <visual name="leaf_a_louver_11_vis">
      <origin xyz="0.253 0 1.37225" rpy="0.610865 0 0"/>
      <geometry>
        <box size="0.32 0.004 0.054075"/>
      </geometry>
      <material name="mat_leaf_a_louver"/>
    </visual>
    <visual name="leaf_a_louver_12_vis">
      <origin xyz="0.253 0 1.42375" rpy="0.610865 0 0"/>
      <geometry>
        <box size="0.32 0.004 0.054075"/>
      </geometry>
      <material name="mat_leaf_a_louver"/>
    </visual>
    <visual name="leaf_a_louver_13_vis">
      <origin xyz="0.253 0 1.47525" rpy="0.610865 0 0"/>
      <geometry>
        <box size="0.32 0.004 0.054075"/>
      </geometry>
      <material name="mat_leaf_a_louver"/>
    </visual>
    <visual name="leaf_a_louver_14_vis">
      <origin xyz="0.253 0 1.52675" rpy="0.610865 0 0"/>
      <geometry>
        <box size="0.32 0.004 0.054075"/>
      </geometry>
      <material name="mat_leaf_a_louver"/>
    </visual>
    <visual name="leaf_a_louver_15_vis">
      <origin xyz="0.253 0 1.57825" rpy="0.610865 0 0"/>
      <geometry>
        <box size="0.32 0.004 0.054075"/>
      </geometry>
      <material name="mat_leaf_a_louver"/>
    </visual>
    <visual name="leaf_a_louver_16_vis">
      <origin xyz="0.253 0 1.62975" rpy="0.610865 0 0"/>
      <geometry>
        <box size="0.32 0.004 0.054075"/>
      </geometry>
      <material name="mat_leaf_a_louver"/>
    </visual>
    <visual name="leaf_a_louver_17_vis">
      <origin xyz="0.253 0 1.68125" rpy="0.610865 0 0"/>
      <geometry>
        <box size="0.32 0.004 0.054075"/>
      </geometry>
      <material name="mat_leaf_a_louver"/>
    </visual>
    <visual name="leaf_a_louver_18_vis">
      <origin xyz="0.253 0 1.73275" rpy="0.610865 0 0"/>
      <geometry>
        <box size="0.32 0.004 0.054075"/>
      </geometry>
      <material name="mat_leaf_a_louver"/>
    </visual>
    <visual name="leaf_a_louver_19_vis">
      <origin xyz="0.253 0 1.78425" rpy="0.610865 0 0"/>
      <geometry>
        <box size="0.32 0.004 0.054075"/>
      </geometry>
      <material name="mat_leaf_a_louver"/>
    </visual>
    <visual name="hinge_0_vis">
      <origin xyz="0 0 0.85" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../../hardware/hinge_5abdcb5498.obj"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="hinge_1_vis">
      <origin xyz="0 0 1.72" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../../hardware/hinge_5abdcb5498.obj"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="leaf_a_kick_n_vis">
      <origin xyz="0.253 -0.0228 0.735" rpy="0 0 0"/>
      <geometry>
        <box size="0.44 0.0016 0.25"/>
      </geometry>
      <material name="mat_kick"/>
    </visual>
    <visual name="leaf_a_kick_p_vis">
      <origin xyz="0.253 0.0228 0.735" rpy="0 0 0"/>
      <geometry>
        <box size="0.44 0.0016 0.25"/>
      </geometry>
      <material name="mat_kick"/>
    </visual>
  </link>
  <link name="leaf_b">
    <inertial>
      <origin xyz="-0.223714 -0.001028 1.115033" rpy="0 0 0"/>
      <mass value="10.294025"/>
      <inertia ixx="1.688130542" ixy="0.002368443" ixz="-0.051239366" iyy="1.927271332" iyz="0.001799583" izz="0.244686107"/>
    </inertial>
    <visual name="leaf_b_slab_vis">
      <origin xyz="-0.253 0 1.25" rpy="0 0 0"/>
      <geometry>
        <box size="0.5 0.044 1.3"/>
      </geometry>
      <material name="mat_leaf_b"/>
    </visual>
    <collision name="leaf_b_slab_col">
      <origin xyz="-0.253 0 1.25" rpy="0 0 0"/>
      <geometry>
        <box size="0.5 0.044 1.3"/>
      </geometry>
    </collision>
    <visual name="leaf_b_louver_0_vis">
      <origin xyz="-0.253 0 0.80575" rpy="0.610865 0 0"/>
      <geometry>
        <box size="0.32 0.004 0.054075"/>
      </geometry>
      <material name="mat_leaf_b_louver"/>
    </visual>
    <visual name="leaf_b_louver_1_vis">
      <origin xyz="-0.253 0 0.85725" rpy="0.610865 0 0"/>
      <geometry>
        <box size="0.32 0.004 0.054075"/>
      </geometry>
      <material name="mat_leaf_b_louver"/>
    </visual>
    <visual name="leaf_b_louver_2_vis">
      <origin xyz="-0.253 0 0.90875" rpy="0.610865 0 0"/>
      <geometry>
        <box size="0.32 0.004 0.054075"/>
      </geometry>
      <material name="mat_leaf_b_louver"/>
    </visual>
    <visual name="leaf_b_louver_3_vis">
      <origin xyz="-0.253 0 0.96025" rpy="0.610865 0 0"/>
      <geometry>
        <box size="0.32 0.004 0.054075"/>
      </geometry>
      <material name="mat_leaf_b_louver"/>
    </visual>
    <visual name="leaf_b_louver_4_vis">
      <origin xyz="-0.253 0 1.01175" rpy="0.610865 0 0"/>
      <geometry>
        <box size="0.32 0.004 0.054075"/>
      </geometry>
      <material name="mat_leaf_b_louver"/>
    </visual>
    <visual name="leaf_b_louver_5_vis">
      <origin xyz="-0.253 0 1.06325" rpy="0.610865 0 0"/>
      <geometry>
        <box size="0.32 0.004 0.054075"/>
      </geometry>
      <material name="mat_leaf_b_louver"/>
    </visual>
    <visual name="leaf_b_louver_6_vis">
      <origin xyz="-0.253 0 1.11475" rpy="0.610865 0 0"/>
      <geometry>
        <box size="0.32 0.004 0.054075"/>
      </geometry>
      <material name="mat_leaf_b_louver"/>
    </visual>
    <visual name="leaf_b_louver_7_vis">
      <origin xyz="-0.253 0 1.16625" rpy="0.610865 0 0"/>
      <geometry>
        <box size="0.32 0.004 0.054075"/>
      </geometry>
      <material name="mat_leaf_b_louver"/>
    </visual>
    <visual name="leaf_b_louver_8_vis">
      <origin xyz="-0.253 0 1.21775" rpy="0.610865 0 0"/>
      <geometry>
        <box size="0.32 0.004 0.054075"/>
      </geometry>
      <material name="mat_leaf_b_louver"/>
    </visual>
    <visual name="leaf_b_louver_9_vis">
      <origin xyz="-0.253 0 1.26925" rpy="0.610865 0 0"/>
      <geometry>
        <box size="0.32 0.004 0.054075"/>
      </geometry>
      <material name="mat_leaf_b_louver"/>
    </visual>
    <visual name="leaf_b_louver_10_vis">
      <origin xyz="-0.253 0 1.32075" rpy="0.610865 0 0"/>
      <geometry>
        <box size="0.32 0.004 0.054075"/>
      </geometry>
      <material name="mat_leaf_b_louver"/>
    </visual>
    <visual name="leaf_b_louver_11_vis">
      <origin xyz="-0.253 0 1.37225" rpy="0.610865 0 0"/>
      <geometry>
        <box size="0.32 0.004 0.054075"/>
      </geometry>
      <material name="mat_leaf_b_louver"/>
    </visual>
    <visual name="leaf_b_louver_12_vis">
      <origin xyz="-0.253 0 1.42375" rpy="0.610865 0 0"/>
      <geometry>
        <box size="0.32 0.004 0.054075"/>
      </geometry>
      <material name="mat_leaf_b_louver"/>
    </visual>
    <visual name="leaf_b_louver_13_vis">
      <origin xyz="-0.253 0 1.47525" rpy="0.610865 0 0"/>
      <geometry>
        <box size="0.32 0.004 0.054075"/>
      </geometry>
      <material name="mat_leaf_b_louver"/>
    </visual>
    <visual name="leaf_b_louver_14_vis">
      <origin xyz="-0.253 0 1.52675" rpy="0.610865 0 0"/>
      <geometry>
        <box size="0.32 0.004 0.054075"/>
      </geometry>
      <material name="mat_leaf_b_louver"/>
    </visual>
    <visual name="leaf_b_louver_15_vis">
      <origin xyz="-0.253 0 1.57825" rpy="0.610865 0 0"/>
      <geometry>
        <box size="0.32 0.004 0.054075"/>
      </geometry>
      <material name="mat_leaf_b_louver"/>
    </visual>
    <visual name="leaf_b_louver_16_vis">
      <origin xyz="-0.253 0 1.62975" rpy="0.610865 0 0"/>
      <geometry>
        <box size="0.32 0.004 0.054075"/>
      </geometry>
      <material name="mat_leaf_b_louver"/>
    </visual>
    <visual name="leaf_b_louver_17_vis">
      <origin xyz="-0.253 0 1.68125" rpy="0.610865 0 0"/>
      <geometry>
        <box size="0.32 0.004 0.054075"/>
      </geometry>
      <material name="mat_leaf_b_louver"/>
    </visual>
    <visual name="leaf_b_louver_18_vis">
      <origin xyz="-0.253 0 1.73275" rpy="0.610865 0 0"/>
      <geometry>
        <box size="0.32 0.004 0.054075"/>
      </geometry>
      <material name="mat_leaf_b_louver"/>
    </visual>
    <visual name="leaf_b_louver_19_vis">
      <origin xyz="-0.253 0 1.78425" rpy="0.610865 0 0"/>
      <geometry>
        <box size="0.32 0.004 0.054075"/>
      </geometry>
      <material name="mat_leaf_b_louver"/>
    </visual>
    <visual name="hinge_0_2_vis">
      <origin xyz="0 0 0.85" rpy="0 0 3.141593"/>
      <geometry>
        <mesh filename="../../hardware/hinge_5abdcb5498.obj"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="hinge_1_2_vis">
      <origin xyz="0 0 1.72" rpy="0 0 3.141593"/>
      <geometry>
        <mesh filename="../../hardware/hinge_5abdcb5498.obj"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="leaf_b_kick_n_vis">
      <origin xyz="-0.253 -0.0228 0.735" rpy="0 0 0"/>
      <geometry>
        <box size="0.44 0.0016 0.25"/>
      </geometry>
      <material name="mat_kick"/>
    </visual>
    <visual name="leaf_b_kick_p_vis">
      <origin xyz="-0.253 0.0228 0.735" rpy="0 0 0"/>
      <geometry>
        <box size="0.44 0.0016 0.25"/>
      </geometry>
      <material name="mat_kick"/>
    </visual>
  </link>
  <joint name="leaf_a_hinge" type="revolute">
    <origin xyz="-0.51 0 0" rpy="0 0 0"/>
    <parent link="world_env"/>
    <child link="leaf_a"/>
    <axis xyz="0 0 1"/>
    <limit lower="-1.919862" upper="1.919862" effort="2000" velocity="10"/>
    <dynamics damping="0.764674" friction="0.21806"/>
    <doorbench:spring stiffness="6" springref="0" note="tau = -stiffness*(q - springref); not native URDF"/>
    <doorbench:closer damping_closing="1.5" damping_opening="1.5" backcheck_angle="0" backcheck_damping="0"/>
  </joint>
  <joint name="leaf_b_hinge" type="revolute">
    <origin xyz="0.51 0 0" rpy="0 0 0"/>
    <parent link="world_env"/>
    <child link="leaf_b"/>
    <axis xyz="0 0 -1"/>
    <limit lower="-1.919862" upper="1.919862" effort="2000" velocity="10"/>
    <dynamics damping="0.764674" friction="0.21806"/>
    <doorbench:spring stiffness="6" springref="0" note="tau = -stiffness*(q - springref); not native URDF"/>
    <doorbench:closer damping_closing="1.5" damping_opening="1.5" backcheck_angle="0" backcheck_damping="0"/>
  </joint>
  <material name="mat_floor">
    <color rgba="0.55 0.53 0.5 1"/>
  </material>
  <material name="mat_frame">
    <color rgba="0.82 0.7 0.5 1"/>
  </material>
  <material name="mat_hinge">
    <color rgba="0.65 0.66 0.68 1"/>
  </material>
  <material name="mat_kick">
    <color rgba="0.75 0.76 0.77 1"/>
  </material>
  <material name="mat_leaf_a">
    <color rgba="0.5 0.51 0.53 1"/>
  </material>
  <material name="mat_leaf_a_louver">
    <color rgba="0.425 0.433 0.451 1"/>
  </material>
  <material name="mat_leaf_b">
    <color rgba="0.5 0.51 0.53 1"/>
  </material>
  <material name="mat_leaf_b_louver">
    <color rgba="0.425 0.433 0.451 1"/>
  </material>
  <material name="mat_wall">
    <color rgba="0.78 0.76 0.7 1"/>
  </material>
</robot>
