<?xml version="1.0" ?>
<robot xmlns:doorbench="https://github.com/adamraudonis/DoorBench/schema/urdf-ext" name="db0838_swing_single_full">
  <link name="world_env">
    <visual name="floor_vis">
      <origin xyz="0 0 -0.05" rpy="0 0 0"/>
      <geometry>
        <box size="12 12 0.1"/>
      </geometry>
      <material name="mat_floor"/>
    </visual>
    <collision name="floor_col">
      <origin xyz="0 0 -0.05" rpy="0 0 0"/>
      <geometry>
        <box size="12 12 0.1"/>
      </geometry>
    </collision>
    <visual name="wall_left_vis">
      <origin xyz="-1.52025 -0.0285 1.3735" rpy="0 0 0"/>
      <geometry>
        <box size="1.9595 0.115 2.747"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_left_col">
      <origin xyz="-1.52025 -0.0285 1.3735" rpy="0 0 0"/>
      <geometry>
        <box size="1.9595 0.115 2.747"/>
      </geometry>
    </collision>
    <visual name="wall_right_vis">
      <origin xyz="1.50525 -0.0285 1.3735" rpy="0 0 0"/>
      <geometry>
        <box size="1.9895 0.115 2.747"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_right_col">
      <origin xyz="1.50525 -0.0285 1.3735" rpy="0 0 0"/>
      <geometry>
        <box size="1.9895 0.115 2.747"/>
      </geometry>
    </collision>
    <visual name="wall_header_vis">
      <origin xyz="-0.015 -0.0285 2.487" rpy="0 0 0"/>
      <geometry>
        <box size="1.051 0.115 0.52"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_header_col">
      <origin xyz="-0.015 -0.0285 2.487" rpy="0 0 0"/>
      <geometry>
        <box size="1.051 0.115 0.52"/>
      </geometry>
    </collision>
    <visual name="hinge_0_jamb_vis">
      <origin xyz="0.4575 0.029 0.259" rpy="0 0 3.141593"/>
      <geometry>
        <mesh filename="../../hardware/hinge_jamb_1278ce3e25.obj"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="hinge_1_jamb_vis">
      <origin xyz="0.4575 0.029 1.076" rpy="0 0 3.141593"/>
      <geometry>
        <mesh filename="../../hardware/hinge_jamb_1278ce3e25.obj"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="hinge_2_jamb_vis">
      <origin xyz="0.4575 0.029 1.963" rpy="0 0 3.141593"/>
      <geometry>
        <mesh filename="../../hardware/hinge_jamb_1278ce3e25.obj"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="jamb_hinge_vis">
      <origin xyz="0.4855 -0.0285 1.0735" rpy="0 0 0"/>
      <geometry>
        <box size="0.05 0.115 2.147"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_hinge_col">
      <origin xyz="0.4855 -0.0285 1.0735" rpy="0 0 0"/>
      <geometry>
        <box size="0.05 0.115 2.147"/>
      </geometry>
    </collision>
    <visual name="strike_1016_wall_n_vis">
      <origin xyz="-0.5005 -0.04775 1.016" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.0765 0.0366"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="strike_1016_wall_n_col">
      <origin xyz="-0.5005 -0.04775 1.016" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.0765 0.0366"/>
      </geometry>
    </collision>
    <visual name="strike_1016_wall_p_vis">
      <origin xyz="-0.5005 0.0175 1.016" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.016 0.0366"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="strike_1016_wall_p_col">
      <origin xyz="-0.5005 0.0175 1.016" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.016 0.0366"/>
      </geometry>
    </collision>
    <visual name="strike_1016_ramp_vis">
      <origin xyz="-0.503782 0.018312 1.016" rpy="0 0 0.588003"/>
      <geometry>
        <box size="0.08 0.036056 0.0366"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="strike_1016_ramp_col">
      <origin xyz="-0.503782 0.018312 1.016" rpy="0 0 0.588003"/>
      <geometry>
        <box size="0.08 0.036056 0.0366"/>
      </geometry>
    </collision>
    <visual name="strike_1016_back_vis">
      <origin xyz="-0.512 0 1.016" rpy="0 0 0"/>
      <geometry>
        <box size="0.057 0.019 0.0366"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="strike_1016_back_col">
      <origin xyz="-0.512 0 1.016" rpy="0 0 0"/>
      <geometry>
        <box size="0.057 0.019 0.0366"/>
      </geometry>
    </collision>
    <visual name="jamb_strike_0_vis">
      <origin xyz="-0.5005 -0.0285 0.49885" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.115 0.9977"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_strike_0_col">
      <origin xyz="-0.5005 -0.0285 0.49885" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.115 0.9977"/>
      </geometry>
    </collision>
    <visual name="jamb_strike_1_vis">
      <origin xyz="-0.5005 -0.0285 1.59065" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.115 1.1127"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_strike_1_col">
      <origin xyz="-0.5005 -0.0285 1.59065" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.115 1.1127"/>
      </geometry>
    </collision>
    <visual name="jamb_head_vis">
      <origin xyz="-0.015 -0.0285 2.172" rpy="0 0 0"/>
      <geometry>
        <box size="1.051 0.115 0.05"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_head_col">
      <origin xyz="-0.015 -0.0285 2.172" rpy="0 0 0"/>
      <geometry>
        <box size="1.051 0.115 0.05"/>
      </geometry>
    </collision>
    <visual name="head_stud_vis">
      <origin xyz="-0.015 -0.0285 2.212" rpy="0 0 0"/>
      <geometry>
        <box size="1.051 0.115 0.03"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="head_stud_col">
      <origin xyz="-0.015 -0.0285 2.212" rpy="0 0 0"/>
      <geometry>
        <box size="1.051 0.115 0.03"/>
      </geometry>
    </collision>
    <visual name="stop_hinge_vis">
      <origin xyz="0.455 -0.0385 1.0735" rpy="0 0 0"/>
      <geometry>
        <box size="0.011 0.032 2.147"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="stop_hinge_col">
      <origin xyz="0.455 -0.0385 1.0735" rpy="0 0 0"/>
      <geometry>
        <box size="0.011 0.032 2.147"/>
      </geometry>
    </collision>
    <visual name="stop_strike_vis">
      <origin xyz="-0.455 -0.0385 1.0735" rpy="0 0 0"/>
      <geometry>
        <box size="0.011 0.032 2.147"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="stop_strike_col">
      <origin xyz="-0.455 -0.0385 1.0735" rpy="0 0 0"/>
      <geometry>
        <box size="0.011 0.032 2.147"/>
      </geometry>
    </collision>
    <visual name="stop_head_vis">
      <origin xyz="0 -0.0385 2.1415" rpy="0 0 0"/>
      <geometry>
        <box size="0.921 0.032 0.011"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="stop_head_col">
      <origin xyz="0 -0.0385 2.1415" rpy="0 0 0"/>
      <geometry>
        <box size="0.921 0.032 0.011"/>
      </geometry>
    </collision>
    <visual name="wall_reader_vis">
      <origin xyz="-0.7105 -0.101 1.1" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.03 0.12"/>
      </geometry>
      <material name="mat_wallreader"/>
    </visual>
    <collision name="wall_reader_col">
      <origin xyz="-0.7105 -0.101 1.1" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.03 0.12"/>
      </geometry>
    </collision>
  </link>
  <link name="leaf">
    <inertial>
      <origin xyz="-0.451966 -0.028975 1.076691" rpy="0 0 0"/>
      <mass value="85.997416"/>
      <inertia ixx="32.779206802" ixy="-0.008632348" ixz="-0.010422062" iyy="38.947469493" iyz="0.000432239" izz="6.197404098"/>
    </inertial>
    <visual name="leaf_slab_vis">
      <origin xyz="-0.457 -0.029 1.076" rpy="0 0 0"/>
      <geometry>
        <box size="0.914 0.044 2.134"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <collision name="leaf_slab_col">
      <origin xyz="-0.457 -0.029 1.076" rpy="0 0 0"/>
      <geometry>
        <box size="0.914 0.044 2.134"/>
      </geometry>
    </collision>
    <visual name="leaf_rivet_0_0_vis">
      <origin xyz="-0.05 -0.051 0.109" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.012"/>
      </geometry>
      <material name="mat_rivet"/>
    </visual>
    <visual name="leaf_rivet_0_1_vis">
      <origin xyz="-0.864 -0.051 0.109" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.012"/>
      </geometry>
      <material name="mat_rivet"/>
    </visual>
    <visual name="leaf_rivet_1_0_vis">
      <origin xyz="-0.05 -0.051 0.4958" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.012"/>
      </geometry>
      <material name="mat_rivet"/>
    </visual>
    <visual name="leaf_rivet_1_1_vis">
      <origin xyz="-0.864 -0.051 0.4958" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.012"/>
      </geometry>
      <material name="mat_rivet"/>
    </visual>
    <visual name="leaf_rivet_2_0_vis">
      <origin xyz="-0.05 -0.051 0.8826" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.012"/>
      </geometry>
      <material name="mat_rivet"/>
    </visual>
    <visual name="leaf_rivet_2_1_vis">
      <origin xyz="-0.864 -0.051 0.8826" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.012"/>
      </geometry>
      <material name="mat_rivet"/>
    </visual>
    <visual name="leaf_rivet_3_0_vis">
      <origin xyz="-0.05 -0.051 1.2694" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.012"/>
      </geometry>
      <material name="mat_rivet"/>
    </visual>
    <visual name="leaf_rivet_3_1_vis">
      <origin xyz="-0.864 -0.051 1.2694" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.012"/>
      </geometry>
      <material name="mat_rivet"/>
    </visual>
    <visual name="leaf_rivet_4_0_vis">
      <origin xyz="-0.05 -0.051 1.6562" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.012"/>
      </geometry>
      <material name="mat_rivet"/>
    </visual>
    <visual name="leaf_rivet_4_1_vis">
      <origin xyz="-0.864 -0.051 1.6562" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.012"/>
      </geometry>
      <material name="mat_rivet"/>
    </visual>
    <visual name="leaf_rivet_5_0_vis">
      <origin xyz="-0.05 -0.051 2.043" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.012"/>
      </geometry>
      <material name="mat_rivet"/>
    </visual>
    <visual name="leaf_rivet_5_1_vis">
      <origin xyz="-0.864 -0.051 2.043" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.012"/>
      </geometry>
      <material name="mat_rivet"/>
    </visual>
    <visual name="hinge_0_vis">
      <origin xyz="0 0 0.259" rpy="0 0 3.141593"/>
      <geometry>
        <mesh filename="../../hardware/hinge_ed08f20e7f.obj"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="hinge_1_vis">
      <origin xyz="0 0 1.076" rpy="0 0 3.141593"/>
      <geometry>
        <mesh filename="../../hardware/hinge_ed08f20e7f.obj"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="hinge_2_vis">
      <origin xyz="0 0 1.963" rpy="0 0 3.141593"/>
      <geometry>
        <mesh filename="../../hardware/hinge_ed08f20e7f.obj"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="leaf_latch_bolt_faceplate_vis">
      <origin xyz="-0.9134 -0.029 1.016" rpy="0 0 0"/>
      <geometry>
        <box size="0.0012 0.028 0.0566"/>
      </geometry>
      <material name="mat_bolt"/>
    </visual>
    <visual name="warning_placard_vis">
      <origin xyz="-0.457 -0.052 1.6095" rpy="0 0 0"/>
      <geometry>
        <box size="0.22 0.002 0.16"/>
      </geometry>
      <material name="mat_placard"/>
    </visual>
  </link>
  <link name="leaf_handle">
    <inertial>
      <origin xyz="0.028544 0 0" rpy="0 0 0"/>
      <mass value="0.978187"/>
      <inertia ixx="0.003604455" ixy="0" ixz="0" iyy="0.001772047" iyz="0" izz="0.005198299"/>
    </inertial>
    <visual name="leaf_handle_spindle_vis">
      <origin xyz="0 0 0" rpy="-1.570796 0 0"/>
      <geometry>
        <cylinder radius="0.006" length="0.06"/>
      </geometry>
      <material name="mat_op_nickel_satin"/>
    </visual>
    <visual name="leaf_handle_lever_n_vis">
      <origin xyz="0 -0.022 0" rpy="-1.570796 0 3.141593"/>
      <geometry>
        <mesh filename="../../hardware/lever_9f02b544cf.obj"/>
      </geometry>
      <material name="mat_op_nickel_satin"/>
    </visual>
    <collision name="leaf_handle_lever_col_n_col">
      <origin xyz="0.0625 -0.077 0" rpy="0 1.570796 0"/>
      <geometry>
        <cylinder radius="0.0095" length="0.106"/>
      </geometry>
    </collision>
    <collision name="leaf_handle_hub_col_n_col">
      <origin xyz="0 -0.052 0" rpy="-1.570796 0 0"/>
      <geometry>
        <cylinder radius="0.012" length="0.044"/>
      </geometry>
    </collision>
    <visual name="leaf_handle_lever_p_vis">
      <origin xyz="0 0.022 0" rpy="1.570796 0 3.141593"/>
      <geometry>
        <mesh filename="../../hardware/lever_9f02b544cf.obj"/>
      </geometry>
      <material name="mat_op_nickel_satin"/>
    </visual>
    <collision name="leaf_handle_lever_col_p_col">
      <origin xyz="0.0625 0.077 0" rpy="0 1.570796 0"/>
      <geometry>
        <cylinder radius="0.0095" length="0.106"/>
      </geometry>
    </collision>
    <collision name="leaf_handle_hub_col_p_col">
      <origin xyz="0 0.052 0" rpy="-1.570796 0 0"/>
      <geometry>
        <cylinder radius="0.012" length="0.044"/>
      </geometry>
    </collision>
  </link>
  <link name="leaf_latch_bolt">
    <inertial>
      <origin xyz="0.0055 0 0" rpy="0 0 0"/>
      <mass value="0.074627"/>
      <inertia ixx="0.000002271" ixy="0" ixz="0" iyy="0.000013255" iyz="0" izz="0.000013255"/>
    </inertial>
    <visual name="leaf_latch_bolt_capsule_vis">
      <origin xyz="0.0055 0 0" rpy="0 -1.570796 0"/>
      <geometry>
        <cylinder radius="0.008" length="0.033"/>
      </geometry>
      <material name="mat_bolt"/>
    </visual>
    <collision name="leaf_latch_bolt_capsule_col">
      <origin xyz="0.0055 0 0" rpy="0 -1.570796 0"/>
      <geometry>
        <cylinder radius="0.008" length="0.033"/>
      </geometry>
    </collision>
  </link>
  <joint name="leaf_hinge" type="revolute">
    <origin xyz="0.4575 0.029 0" rpy="0 0 0"/>
    <parent link="world_env"/>
    <child link="leaf"/>
    <axis xyz="0 0 -1"/>
    <limit lower="0" upper="1.919862" effort="2000" velocity="10"/>
    <dynamics damping="0.318966" friction="0.532032"/>
    <doorbench:closer damping_closing="0" damping_opening="0" backcheck_angle="0" backcheck_damping="0"/>
  </joint>
  <joint name="leaf_handle_hinge" type="revolute">
    <origin xyz="-0.844 -0.029 1.016" rpy="0 0 0"/>
    <parent link="leaf"/>
    <child link="leaf_handle"/>
    <axis xyz="0 1 0"/>
    <limit lower="0" upper="0.96" effort="2000" velocity="10"/>
    <dynamics damping="0.245624" friction="0.048"/>
    <doorbench:spring stiffness="1.2" springref="-0.458333" note="tau = -stiffness*(q - springref); not native URDF"/>
  </joint>
  <joint name="leaf_latch_bolt_slide" type="prismatic">
    <origin xyz="-0.914 -0.029 1.016" rpy="0 0 0"/>
    <parent link="leaf"/>
    <child link="leaf_latch_bolt"/>
    <axis xyz="1 0 0"/>
    <limit lower="0" upper="0.019" effort="5000" velocity="10"/>
    <dynamics damping="2" friction="0.3"/>
    <doorbench:spring stiffness="600" springref="-0.01" note="tau = -stiffness*(q - springref); not native URDF"/>
    <mimic joint="leaf_handle_hinge" multiplier="0.020879" offset="0"/>
    <doorbench:coupling one_sided="true" note="MJCF uses a one-sided tendon (bolt may retract further, e.g. riding over the strike lip); mimic is bilateral"/>
  </joint>
  <material name="mat_bolt">
    <color rgba="0.85 0.66 0.3 1"/>
  </material>
  <material name="mat_floor">
    <color rgba="0.55 0.53 0.5 1"/>
  </material>
  <material name="mat_frame">
    <color rgba="0.55 0.56 0.58 1"/>
  </material>
  <material name="mat_hinge">
    <color rgba="0.65 0.66 0.68 1"/>
  </material>
  <material name="mat_leaf">
    <color rgba="0.5 0.51 0.53 1"/>
  </material>
  <material name="mat_op_nickel_satin">
    <color rgba="0.72 0.7 0.66 1"/>
  </material>
  <material name="mat_placard">
    <color rgba="0.95 0.75 0.05 1"/>
  </material>
  <material name="mat_rivet">
    <color rgba="0.55 0.56 0.58 1"/>
  </material>
  <material name="mat_wall">
    <color rgba="0.78 0.76 0.7 1"/>
  </material>
  <material name="mat_wallreader">
    <color rgba="0.05 0.05 0.05 1"/>
  </material>
</robot>
