<?xml version="1.0" ?>
<robot xmlns:doorbench="https://github.com/adamraudonis/DoorBench/schema/urdf-ext" name="db0037_strip_curtain_minimal">
  <link name="world_env">
    <visual name="floor_vis">
      <origin xyz="0 0 -0.05" rpy="0 0 0"/>
      <geometry>
        <box size="12 12 0.1"/>
      </geometry>
      <material name="mat_floor"/>
    </visual>
    <collision name="floor_col">
      <origin xyz="0 0 -0.05" rpy="0 0 0"/>
      <geometry>
        <box size="12 12 0.1"/>
      </geometry>
    </collision>
    <visual name="wall_left_vis">
      <origin xyz="-1.48 0 1.51" rpy="0 0 0"/>
      <geometry>
        <box size="2.04 0.2 3.02"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_left_col">
      <origin xyz="-1.48 0 1.51" rpy="0 0 0"/>
      <geometry>
        <box size="2.04 0.2 3.02"/>
      </geometry>
    </collision>
    <visual name="wall_right_vis">
      <origin xyz="1.48 0 1.51" rpy="0 0 0"/>
      <geometry>
        <box size="2.04 0.2 3.02"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_right_col">
      <origin xyz="1.48 0 1.51" rpy="0 0 0"/>
      <geometry>
        <box size="2.04 0.2 3.02"/>
      </geometry>
    </collision>
    <visual name="wall_header_vis">
      <origin xyz="0 0 2.72" rpy="0 0 0"/>
      <geometry>
        <box size="0.92 0.2 0.6"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_header_col">
      <origin xyz="0 0 2.72" rpy="0 0 0"/>
      <geometry>
        <box size="0.92 0.2 0.6"/>
      </geometry>
    </collision>
    <visual name="hanger_rail_vis">
      <origin xyz="0 0 2.45" rpy="0 0 0"/>
      <geometry>
        <box size="1.02 0.06 0.06"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="hanger_rail_col">
      <origin xyz="0 0 2.45" rpy="0 0 0"/>
      <geometry>
        <box size="1.02 0.06 0.06"/>
      </geometry>
    </collision>
  </link>
  <link name="strip_0">
    <inertial>
      <origin xyz="0 0 -1.19" rpy="0 0 0"/>
      <mass value="1.785"/>
      <inertia ixx="0.842580095" ixy="0" ixz="0" iyy="0.855967" iyz="0" izz="0.013388095"/>
    </inertial>
    <visual name="strip_0_geom_vis">
      <origin xyz="0 0 -1.19" rpy="0 0 0"/>
      <geometry>
        <box size="0.3 0.002 2.38"/>
      </geometry>
      <material name="mat_strip"/>
    </visual>
    <collision name="strip_0_geom_col">
      <origin xyz="0 0 -1.19" rpy="0 0 0"/>
      <geometry>
        <box size="0.3 0.002 2.38"/>
      </geometry>
    </collision>
  </link>
  <link name="strip_2">
    <inertial>
      <origin xyz="0 0 -1.19" rpy="0 0 0"/>
      <mass value="1.785"/>
      <inertia ixx="0.842580095" ixy="0" ixz="0" iyy="0.855967" iyz="0" izz="0.013388095"/>
    </inertial>
    <visual name="strip_2_geom_vis">
      <origin xyz="0 0 -1.19" rpy="0 0 0"/>
      <geometry>
        <box size="0.3 0.002 2.38"/>
      </geometry>
      <material name="mat_strip"/>
    </visual>
    <collision name="strip_2_geom_col">
      <origin xyz="0 0 -1.19" rpy="0 0 0"/>
      <geometry>
        <box size="0.3 0.002 2.38"/>
      </geometry>
    </collision>
  </link>
  <link name="strip_4">
    <inertial>
      <origin xyz="0 0 -1.19" rpy="0 0 0"/>
      <mass value="1.785"/>
      <inertia ixx="0.842580095" ixy="0" ixz="0" iyy="0.855967" iyz="0" izz="0.013388095"/>
    </inertial>
    <visual name="strip_4_geom_vis">
      <origin xyz="0 0 -1.19" rpy="0 0 0"/>
      <geometry>
        <box size="0.3 0.002 2.38"/>
      </geometry>
      <material name="mat_strip"/>
    </visual>
    <collision name="strip_4_geom_col">
      <origin xyz="0 0 -1.19" rpy="0 0 0"/>
      <geometry>
        <box size="0.3 0.002 2.38"/>
      </geometry>
    </collision>
  </link>
  <joint name="strip_0_hinge" type="revolute">
    <origin xyz="-0.31 -0.003 2.42" rpy="0 0 0"/>
    <parent link="world_env"/>
    <child link="strip_0"/>
    <axis xyz="1 0 0"/>
    <limit lower="-2" upper="2" effort="2000" velocity="10"/>
    <dynamics damping="0.05" friction="0.02"/>
  </joint>
  <joint name="strip_2_hinge" type="revolute">
    <origin xyz="0 -0.003 2.42" rpy="0 0 0"/>
    <parent link="world_env"/>
    <child link="strip_2"/>
    <axis xyz="1 0 0"/>
    <limit lower="-2" upper="2" effort="2000" velocity="10"/>
    <dynamics damping="0.05" friction="0.02"/>
  </joint>
  <joint name="strip_4_hinge" type="revolute">
    <origin xyz="0.31 -0.003 2.42" rpy="0 0 0"/>
    <parent link="world_env"/>
    <child link="strip_4"/>
    <axis xyz="1 0 0"/>
    <limit lower="-2" upper="2" effort="2000" velocity="10"/>
    <dynamics damping="0.05" friction="0.02"/>
  </joint>
  <material name="mat_floor">
    <color rgba="0.55 0.53 0.5 1"/>
  </material>
  <material name="mat_frame">
    <color rgba="0.75 0.76 0.77 1"/>
  </material>
  <material name="mat_strip">
    <color rgba="0.85 0.9 0.95 0.45"/>
  </material>
  <material name="mat_wall">
    <color rgba="0.78 0.76 0.7 1"/>
  </material>
</robot>
