<?xml version="1.0" ?>
<robot xmlns:doorbench="https://github.com/adamraudonis/DoorBench/schema/urdf-ext" name="db0983_rollup_simple">
  <link name="world_env">
    <visual name="floor_vis">
      <origin xyz="0 0 -0.05" rpy="0 0 0"/>
      <geometry>
        <box size="12 12 0.1"/>
      </geometry>
      <material name="mat_floor"/>
    </visual>
    <collision name="floor_col">
      <origin xyz="0 0 -0.05" rpy="0 0 0"/>
      <geometry>
        <box size="12 12 0.1"/>
      </geometry>
    </collision>
    <visual name="wall_left_vis">
      <origin xyz="-2.275 0 2.045" rpy="0 0 0"/>
      <geometry>
        <box size="1.45 0.2 4.09"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_left_col">
      <origin xyz="-2.275 0 2.045" rpy="0 0 0"/>
      <geometry>
        <box size="1.45 0.2 4.09"/>
      </geometry>
    </collision>
    <visual name="wall_right_vis">
      <origin xyz="2.275 0 2.045" rpy="0 0 0"/>
      <geometry>
        <box size="1.45 0.2 4.09"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_right_col">
      <origin xyz="2.275 0 2.045" rpy="0 0 0"/>
      <geometry>
        <box size="1.45 0.2 4.09"/>
      </geometry>
    </collision>
    <visual name="wall_header_vis">
      <origin xyz="0 0 3.29" rpy="0 0 0"/>
      <geometry>
        <box size="3.1 0.2 1.6"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_header_col">
      <origin xyz="0 0 3.29" rpy="0 0 0"/>
      <geometry>
        <box size="3.1 0.2 1.6"/>
      </geometry>
    </collision>
    <visual name="guide_l_vis">
      <origin xyz="-1.56 0.185 0.1425" rpy="0 0 0"/>
      <geometry>
        <box size="0.06 0.05 0.285"/>
      </geometry>
      <material name="mat_track"/>
    </visual>
    <collision name="guide_l_col">
      <origin xyz="-1.56 0.185 0.1425" rpy="0 0 0"/>
      <geometry>
        <box size="0.06 0.05 0.285"/>
      </geometry>
    </collision>
    <visual name="guide_l_upper_vis">
      <origin xyz="-1.56 0.185 1.4025" rpy="0 0 0"/>
      <geometry>
        <box size="0.06 0.05 2.175"/>
      </geometry>
      <material name="mat_track"/>
    </visual>
    <collision name="guide_l_upper_col">
      <origin xyz="-1.56 0.185 1.4025" rpy="0 0 0"/>
      <geometry>
        <box size="0.06 0.05 2.175"/>
      </geometry>
    </collision>
    <visual name="guide_r_vis">
      <origin xyz="1.56 0.185 1.245" rpy="0 0 0"/>
      <geometry>
        <box size="0.06 0.05 2.49"/>
      </geometry>
      <material name="mat_track"/>
    </visual>
    <collision name="guide_r_col">
      <origin xyz="1.56 0.185 1.245" rpy="0 0 0"/>
      <geometry>
        <box size="0.06 0.05 2.49"/>
      </geometry>
    </collision>
    <visual name="guide_bracket_l_0_vis">
      <origin xyz="-1.56 0.13 0.12" rpy="0 0 0"/>
      <geometry>
        <box size="0.056 0.068 0.04"/>
      </geometry>
      <material name="mat_track"/>
    </visual>
    <visual name="guide_bracket_l_1_vis">
      <origin xyz="-1.56 0.13 1.245" rpy="0 0 0"/>
      <geometry>
        <box size="0.056 0.068 0.04"/>
      </geometry>
      <material name="mat_track"/>
    </visual>
    <visual name="guide_bracket_l_2_vis">
      <origin xyz="-1.56 0.13 2.37" rpy="0 0 0"/>
      <geometry>
        <box size="0.056 0.068 0.04"/>
      </geometry>
      <material name="mat_track"/>
    </visual>
    <visual name="guide_bracket_r_0_vis">
      <origin xyz="1.56 0.13 0.12" rpy="0 0 0"/>
      <geometry>
        <box size="0.056 0.068 0.04"/>
      </geometry>
      <material name="mat_track"/>
    </visual>
    <visual name="guide_bracket_r_1_vis">
      <origin xyz="1.56 0.13 1.245" rpy="0 0 0"/>
      <geometry>
        <box size="0.056 0.068 0.04"/>
      </geometry>
      <material name="mat_track"/>
    </visual>
    <visual name="guide_bracket_r_2_vis">
      <origin xyz="1.56 0.13 2.37" rpy="0 0 0"/>
      <geometry>
        <box size="0.056 0.068 0.04"/>
      </geometry>
      <material name="mat_track"/>
    </visual>
    <visual name="coil_drum_vis">
      <origin xyz="0 0.463 2.79" rpy="0 1.570796 0"/>
      <geometry>
        <cylinder radius="0.25" length="3.15"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <visual name="coil_shaft_vis">
      <origin xyz="0 0.463 2.79" rpy="0 1.570796 0"/>
      <geometry>
        <cylinder radius="0.022" length="3.31"/>
      </geometry>
      <material name="mat_track"/>
    </visual>
    <visual name="hood_front_vis">
      <origin xyz="0 0.725 2.79" rpy="0 0 0"/>
      <geometry>
        <box size="3.29 0.04 0.6"/>
      </geometry>
      <material name="mat_track"/>
    </visual>
    <visual name="hood_end_l_vis">
      <origin xyz="-1.645 0.4225 2.79" rpy="0 0 0"/>
      <geometry>
        <box size="0.04 0.645 0.6"/>
      </geometry>
      <material name="mat_track"/>
    </visual>
    <visual name="hood_end_r_vis">
      <origin xyz="1.645 0.4225 2.79" rpy="0 0 0"/>
      <geometry>
        <box size="0.04 0.645 0.6"/>
      </geometry>
      <material name="mat_track"/>
    </visual>
  </link>
  <link name="curtain">
    <inertial>
      <origin xyz="-0.002133 0.184775 1.094691" rpy="0 0 0"/>
      <mass value="86.163604"/>
      <inertia ixx="50.100838723" ixy="0.002114714" ixz="-0.146045248" iyy="116.71407035" iyz="-0.018292389" izz="66.619008479"/>
    </inertial>
    <collision name="curtain_slab_col_col">
      <origin xyz="0 0.185 1.23" rpy="0 0 0"/>
      <geometry>
        <box size="3.05 0.01 2.44"/>
      </geometry>
    </collision>
    <visual name="curtain_rail_b_vis">
      <origin xyz="0 0.185 0.0325" rpy="0 0 0"/>
      <geometry>
        <box size="3.05 0.01 0.045"/>
      </geometry>
      <material name="mat_curtain"/>
    </visual>
    <visual name="curtain_rail_t_vis">
      <origin xyz="0 0.185 2.4275" rpy="0 0 0"/>
      <geometry>
        <box size="3.05 0.01 0.045"/>
      </geometry>
      <material name="mat_curtain"/>
    </visual>
    <visual name="curtain_stile_h_vis">
      <origin xyz="-1.5025 0.185 1.23" rpy="0 0 0"/>
      <geometry>
        <box size="0.045 0.01 2.44"/>
      </geometry>
      <material name="mat_curtain"/>
    </visual>
    <visual name="curtain_stile_l_vis">
      <origin xyz="1.5025 0.185 1.23" rpy="0 0 0"/>
      <geometry>
        <box size="0.045 0.01 2.44"/>
      </geometry>
      <material name="mat_curtain"/>
    </visual>
    <visual name="curtain_grille_0_vis">
      <origin xyz="0 0.185 0.08625" rpy="0 1.570796 0"/>
      <geometry>
        <cylinder radius="0.006" length="2.96"/>
      </geometry>
      <material name="mat_curtain"/>
    </visual>
    <visual name="curtain_grille_1_vis">
      <origin xyz="0 0.185 0.23875" rpy="0 1.570796 0"/>
      <geometry>
        <cylinder radius="0.006" length="2.96"/>
      </geometry>
      <material name="mat_curtain"/>
    </visual>
    <visual name="curtain_grille_2_vis">
      <origin xyz="0 0.185 0.39125" rpy="0 1.570796 0"/>
      <geometry>
        <cylinder radius="0.006" length="2.96"/>
      </geometry>
      <material name="mat_curtain"/>
    </visual>
    <visual name="curtain_grille_3_vis">
      <origin xyz="0 0.185 0.54375" rpy="0 1.570796 0"/>
      <geometry>
        <cylinder radius="0.006" length="2.96"/>
      </geometry>
      <material name="mat_curtain"/>
    </visual>
    <visual name="curtain_grille_4_vis">
      <origin xyz="0 0.185 0.69625" rpy="0 1.570796 0"/>
      <geometry>
        <cylinder radius="0.006" length="2.96"/>
      </geometry>
      <material name="mat_curtain"/>
    </visual>
    <visual name="curtain_grille_5_vis">
      <origin xyz="0 0.185 0.84875" rpy="0 1.570796 0"/>
      <geometry>
        <cylinder radius="0.006" length="2.96"/>
      </geometry>
      <material name="mat_curtain"/>
    </visual>
    <visual name="curtain_grille_6_vis">
      <origin xyz="0 0.185 1.00125" rpy="0 1.570796 0"/>
      <geometry>
        <cylinder radius="0.006" length="2.96"/>
      </geometry>
      <material name="mat_curtain"/>
    </visual>
    <visual name="curtain_grille_7_vis">
      <origin xyz="0 0.185 1.15375" rpy="0 1.570796 0"/>
      <geometry>
        <cylinder radius="0.006" length="2.96"/>
      </geometry>
      <material name="mat_curtain"/>
    </visual>
    <visual name="curtain_grille_8_vis">
      <origin xyz="0 0.185 1.30625" rpy="0 1.570796 0"/>
      <geometry>
        <cylinder radius="0.006" length="2.96"/>
      </geometry>
      <material name="mat_curtain"/>
    </visual>
    <visual name="curtain_grille_9_vis">
      <origin xyz="0 0.185 1.45875" rpy="0 1.570796 0"/>
      <geometry>
        <cylinder radius="0.006" length="2.96"/>
      </geometry>
      <material name="mat_curtain"/>
    </visual>
    <visual name="curtain_grille_10_vis">
      <origin xyz="0 0.185 1.61125" rpy="0 1.570796 0"/>
      <geometry>
        <cylinder radius="0.006" length="2.96"/>
      </geometry>
      <material name="mat_curtain"/>
    </visual>
    <visual name="curtain_grille_11_vis">
      <origin xyz="0 0.185 1.76375" rpy="0 1.570796 0"/>
      <geometry>
        <cylinder radius="0.006" length="2.96"/>
      </geometry>
      <material name="mat_curtain"/>
    </visual>
    <visual name="curtain_grille_12_vis">
      <origin xyz="0 0.185 1.91625" rpy="0 1.570796 0"/>
      <geometry>
        <cylinder radius="0.006" length="2.96"/>
      </geometry>
      <material name="mat_curtain"/>
    </visual>
    <visual name="curtain_grille_13_vis">
      <origin xyz="0 0.185 2.06875" rpy="0 1.570796 0"/>
      <geometry>
        <cylinder radius="0.006" length="2.96"/>
      </geometry>
      <material name="mat_curtain"/>
    </visual>
    <visual name="curtain_grille_14_vis">
      <origin xyz="0 0.185 2.22125" rpy="0 1.570796 0"/>
      <geometry>
        <cylinder radius="0.006" length="2.96"/>
      </geometry>
      <material name="mat_curtain"/>
    </visual>
    <visual name="curtain_grille_15_vis">
      <origin xyz="0 0.185 2.37375" rpy="0 1.570796 0"/>
      <geometry>
        <cylinder radius="0.006" length="2.96"/>
      </geometry>
      <material name="mat_curtain"/>
    </visual>
    <visual name="bottom_bar_vis">
      <origin xyz="0 0.185 0.042" rpy="0 0 0"/>
      <geometry>
        <box size="3.05 0.04 0.06"/>
      </geometry>
      <material name="mat_track"/>
    </visual>
    <collision name="bottom_bar_col">
      <origin xyz="0 0.185 0.042" rpy="0 0 0"/>
      <geometry>
        <box size="3.05 0.04 0.06"/>
      </geometry>
    </collision>
    <visual name="bottom_astragal_vis">
      <origin xyz="0 0.185 0.006" rpy="0 0 0"/>
      <geometry>
        <box size="3.05 0.03 0.012"/>
      </geometry>
      <material name="mat_astragal"/>
    </visual>
    <collision name="bottom_astragal_col">
      <origin xyz="0 0.185 0.006" rpy="0 0 0"/>
      <geometry>
        <box size="3.05 0.03 0.012"/>
      </geometry>
    </collision>
    <visual name="lift_handle_n_vis">
      <origin xyz="0 0.18 0.16" rpy="1.570796 0 0"/>
      <geometry>
        <mesh filename="../../hardware/pull_bdc5e965ab.obj"/>
      </geometry>
      <material name="mat_op_black_matte_metal"/>
    </visual>
    <collision name="lift_handle_col_n_col">
      <origin xyz="0 0.13 0.16" rpy="0 0 0"/>
      <geometry>
        <box size="0.2 0.012 0.03"/>
      </geometry>
    </collision>
    <visual name="garage_slide_lock_plate_vis">
      <origin xyz="-1.4425 0.191 0.3" rpy="1.570796 0 3.141593"/>
      <geometry>
        <box size="0.149 0.038 0.002"/>
      </geometry>
      <material name="mat_slidelock"/>
    </visual>
    <visual name="garage_slide_lock_guide_0_leg_n_vis">
      <origin xyz="-1.509 0.2015 0.289" rpy="1.570796 0 3.141593"/>
      <geometry>
        <box size="0.012 0.004 0.023"/>
      </geometry>
      <material name="mat_slidelock"/>
    </visual>
    <visual name="garage_slide_lock_guide_0_leg_p_vis">
      <origin xyz="-1.509 0.2015 0.311" rpy="1.570796 0 3.141593"/>
      <geometry>
        <box size="0.012 0.004 0.023"/>
      </geometry>
      <material name="mat_slidelock"/>
    </visual>
    <visual name="garage_slide_lock_guide_0_bridge_vis">
      <origin xyz="-1.509 0.211 0.3" rpy="1.570796 0 3.141593"/>
      <geometry>
        <box size="0.012 0.026 0.004"/>
      </geometry>
      <material name="mat_slidelock"/>
    </visual>
    <visual name="garage_slide_lock_guide_1_leg_n_vis">
      <origin xyz="-1.378 0.2015 0.289" rpy="1.570796 0 3.141593"/>
      <geometry>
        <box size="0.012 0.004 0.023"/>
      </geometry>
      <material name="mat_slidelock"/>
    </visual>
    <visual name="garage_slide_lock_guide_1_leg_p_vis">
      <origin xyz="-1.378 0.2015 0.311" rpy="1.570796 0 3.141593"/>
      <geometry>
        <box size="0.012 0.004 0.023"/>
      </geometry>
      <material name="mat_slidelock"/>
    </visual>
    <visual name="garage_slide_lock_guide_1_bridge_vis">
      <origin xyz="-1.378 0.211 0.3" rpy="1.570796 0 3.141593"/>
      <geometry>
        <box size="0.012 0.026 0.004"/>
      </geometry>
      <material name="mat_slidelock"/>
    </visual>
  </link>
  <link name="garage_slide_lock">
    <inertial>
      <origin xyz="0.026198 0.001798 0" rpy="0 0 0"/>
      <mass value="0.137184"/>
      <inertia ixx="0.000006498" ixy="-0.000002171" ixz="0" iyy="0.000189062" iyz="0" izz="0.000193217"/>
    </inertial>
    <visual name="garage_slide_lock_rod_vis">
      <origin xyz="0.025 0 0" rpy="0 -1.570796 0"/>
      <geometry>
        <cylinder radius="0.006" length="0.128"/>
      </geometry>
      <material name="mat_slidelock"/>
    </visual>
    <collision name="garage_slide_lock_rod_col">
      <origin xyz="0.025 0 0" rpy="0 -1.570796 0"/>
      <geometry>
        <cylinder radius="0.006" length="0.128"/>
      </geometry>
    </collision>
    <visual name="garage_slide_lock_knob_vis">
      <origin xyz="0.035 0.015 0" rpy="-1.570796 0 0"/>
      <geometry>
        <cylinder radius="0.005" length="0.02"/>
      </geometry>
      <material name="mat_slidelock"/>
    </visual>
    <collision name="garage_slide_lock_knob_col">
      <origin xyz="0.035 0.015 0" rpy="-1.570796 0 0"/>
      <geometry>
        <cylinder radius="0.005" length="0.02"/>
      </geometry>
    </collision>
  </link>
  <joint name="curtain_slide" type="prismatic">
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <parent link="world_env"/>
    <child link="curtain"/>
    <axis xyz="0 0 1"/>
    <limit lower="0" upper="2.39" effort="5000" velocity="10"/>
    <dynamics damping="6.315545" friction="135.427326"/>
    <doorbench:spring stiffness="53.140791" springref="7.966667" note="tau = -stiffness*(q - springref); not native URDF"/>
    <doorbench:note text="counterbalance spring ~50% of weight counterbalance ~50% of 86 kg"/>
  </joint>
  <joint name="garage_slide_lock_slide" type="prismatic">
    <origin xyz="-1.525 0.2 0.3" rpy="0 0 0"/>
    <parent link="curtain"/>
    <child link="garage_slide_lock"/>
    <axis xyz="1 0 0"/>
    <limit lower="0" upper="0.05" effort="5000" velocity="10"/>
    <dynamics damping="1" friction="1"/>
  </joint>
  <material name="mat_astragal">
    <color rgba="0.09 0.09 0.1 1"/>
  </material>
  <material name="mat_curtain">
    <color rgba="0.8 0.81 0.83 1"/>
  </material>
  <material name="mat_floor">
    <color rgba="0.55 0.53 0.5 1"/>
  </material>
  <material name="mat_frame">
    <color rgba="0.45 0.48 0.52 1"/>
  </material>
  <material name="mat_op_black_matte_metal">
    <color rgba="0.05 0.05 0.05 1"/>
  </material>
  <material name="mat_slidelock">
    <color rgba="0.65 0.66 0.68 1"/>
  </material>
  <material name="mat_track">
    <color rgba="0.65 0.66 0.68 1"/>
  </material>
  <material name="mat_wall">
    <color rgba="0.78 0.76 0.7 1"/>
  </material>
</robot>
