<?xml version="1.0" ?>
<robot xmlns:doorbench="https://github.com/adamraudonis/DoorBench/schema/urdf-ext" name="db0069_bifold_full">
  <link name="world_env">
    <visual name="floor_vis">
      <origin xyz="0 0 -0.05" rpy="0 0 0"/>
      <geometry>
        <box size="12 12 0.1"/>
      </geometry>
      <material name="mat_floor"/>
    </visual>
    <collision name="floor_col">
      <origin xyz="0 0 -0.05" rpy="0 0 0"/>
      <geometry>
        <box size="12 12 0.1"/>
      </geometry>
    </collision>
    <visual name="wall_left_vis">
      <origin xyz="-1.48125 0 1.35" rpy="0 0 0"/>
      <geometry>
        <box size="2.0375 0.145 2.7"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_left_col">
      <origin xyz="-1.48125 0 1.35" rpy="0 0 0"/>
      <geometry>
        <box size="2.0375 0.145 2.7"/>
      </geometry>
    </collision>
    <visual name="wall_right_vis">
      <origin xyz="1.48125 0 1.35" rpy="0 0 0"/>
      <geometry>
        <box size="2.0375 0.145 2.7"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_right_col">
      <origin xyz="1.48125 0 1.35" rpy="0 0 0"/>
      <geometry>
        <box size="2.0375 0.145 2.7"/>
      </geometry>
    </collision>
    <visual name="wall_header_vis">
      <origin xyz="0 0 2.3935" rpy="0 0 0"/>
      <geometry>
        <box size="0.925 0.145 0.613"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_header_col">
      <origin xyz="0 0 2.3935" rpy="0 0 0"/>
      <geometry>
        <box size="0.925 0.145 0.613"/>
      </geometry>
    </collision>
    <visual name="jamb_hinge_vis">
      <origin xyz="-0.472 0 1.0435" rpy="0 0 0"/>
      <geometry>
        <box size="0.019 0.145 2.087"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_hinge_col">
      <origin xyz="-0.472 0 1.0435" rpy="0 0 0"/>
      <geometry>
        <box size="0.019 0.145 2.087"/>
      </geometry>
    </collision>
    <visual name="jamb_strike_vis">
      <origin xyz="0.472 0 1.0435" rpy="0 0 0"/>
      <geometry>
        <box size="0.019 0.145 2.087"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_strike_col">
      <origin xyz="0.472 0 1.0435" rpy="0 0 0"/>
      <geometry>
        <box size="0.019 0.145 2.087"/>
      </geometry>
    </collision>
    <visual name="stud_strike_vis">
      <origin xyz="0.4965 0 1.0435" rpy="0 0 0"/>
      <geometry>
        <box size="0.03 0.145 2.087"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="stud_strike_col">
      <origin xyz="0.4965 0 1.0435" rpy="0 0 0"/>
      <geometry>
        <box size="0.03 0.145 2.087"/>
      </geometry>
    </collision>
    <visual name="jamb_head_vis">
      <origin xyz="0.015 0 2.0965" rpy="0 0 0"/>
      <geometry>
        <box size="0.993 0.145 0.019"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_head_col">
      <origin xyz="0.015 0 2.0965" rpy="0 0 0"/>
      <geometry>
        <box size="0.993 0.145 0.019"/>
      </geometry>
    </collision>
    <visual name="head_stud_vis">
      <origin xyz="0.015 0 2.121" rpy="0 0 0"/>
      <geometry>
        <box size="0.993 0.145 0.03"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="head_stud_col">
      <origin xyz="0.015 0 2.121" rpy="0 0 0"/>
      <geometry>
        <box size="0.993 0.145 0.03"/>
      </geometry>
    </collision>
    <visual name="casing_l_n_vis">
      <origin xyz="-0.5115 -0.0805 1.0435" rpy="0 0 0"/>
      <geometry>
        <box size="0.07 0.016 2.106"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <visual name="casing_r_n_vis">
      <origin xyz="0.5115 -0.0805 1.0435" rpy="0 0 0"/>
      <geometry>
        <box size="0.07 0.016 2.106"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <visual name="casing_h_n_vis">
      <origin xyz="0 -0.0805 2.136" rpy="0 0 0"/>
      <geometry>
        <box size="1.093 0.016 0.07"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <visual name="casing_l_p_vis">
      <origin xyz="-0.5115 0.0805 1.0435" rpy="0 0 0"/>
      <geometry>
        <box size="0.07 0.016 2.106"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <visual name="casing_r_p_vis">
      <origin xyz="0.5115 0.0805 1.0435" rpy="0 0 0"/>
      <geometry>
        <box size="0.07 0.016 2.106"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <visual name="casing_h_p_vis">
      <origin xyz="0 0.0805 2.136" rpy="0 0 0"/>
      <geometry>
        <box size="1.093 0.016 0.07"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <visual name="fold_track_vis">
      <origin xyz="0 0 2.072" rpy="0 0 0"/>
      <geometry>
        <box size="0.925 0.04 0.03"/>
      </geometry>
      <material name="mat_track"/>
    </visual>
  </link>
  <link name="panel_0_0">
    <inertial>
      <origin xyz="0.195 0 1.036019" rpy="0 0 0"/>
      <mass value="3.621695"/>
      <inertia ixx="1.24646947" ixy="0" ixz="0" iyy="1.307207736" iyz="0" izz="0.061478283"/>
    </inertial>
    <visual name="panel_0_0_slab_vis">
      <origin xyz="0.195 0 1.036" rpy="0 0 0"/>
      <geometry>
        <box size="0.45 0.035 2.032"/>
      </geometry>
      <material name="mat_panel_0_0"/>
    </visual>
    <collision name="panel_0_0_slab_col">
      <origin xyz="0.195 0 1.036" rpy="0 0 0"/>
      <geometry>
        <box size="0.45 0.035 2.032"/>
      </geometry>
    </collision>
    <visual name="panel_0_0_panel_0_n_vis">
      <origin xyz="0.105 -0.0205 0.472552" rpy="0 0 0"/>
      <geometry>
        <box size="0.05 0.006 0.418064"/>
      </geometry>
      <material name="mat_panel_0_0_panel"/>
    </visual>
    <visual name="panel_0_0_panel_0_p_vis">
      <origin xyz="0.105 0.0205 0.472552" rpy="0 0 0"/>
      <geometry>
        <box size="0.05 0.006 0.418064"/>
      </geometry>
      <material name="mat_panel_0_0_panel"/>
    </visual>
    <visual name="panel_0_0_panel_1_n_vis">
      <origin xyz="0.285 -0.0205 0.472552" rpy="0 0 0"/>
      <geometry>
        <box size="0.05 0.006 0.418064"/>
      </geometry>
      <material name="mat_panel_0_0_panel"/>
    </visual>
    <visual name="panel_0_0_panel_1_p_vis">
      <origin xyz="0.285 0.0205 0.472552" rpy="0 0 0"/>
      <geometry>
        <box size="0.05 0.006 0.418064"/>
      </geometry>
      <material name="mat_panel_0_0_panel"/>
    </visual>
    <visual name="panel_0_0_panel_2_n_vis">
      <origin xyz="0.105 -0.0205 1.020616" rpy="0 0 0"/>
      <geometry>
        <box size="0.05 0.006 0.418064"/>
      </geometry>
      <material name="mat_panel_0_0_panel"/>
    </visual>
    <visual name="panel_0_0_panel_2_p_vis">
      <origin xyz="0.105 0.0205 1.020616" rpy="0 0 0"/>
      <geometry>
        <box size="0.05 0.006 0.418064"/>
      </geometry>
      <material name="mat_panel_0_0_panel"/>
    </visual>
    <visual name="panel_0_0_panel_3_n_vis">
      <origin xyz="0.285 -0.0205 1.020616" rpy="0 0 0"/>
      <geometry>
        <box size="0.05 0.006 0.418064"/>
      </geometry>
      <material name="mat_panel_0_0_panel"/>
    </visual>
    <visual name="panel_0_0_panel_3_p_vis">
      <origin xyz="0.285 0.0205 1.020616" rpy="0 0 0"/>
      <geometry>
        <box size="0.05 0.006 0.418064"/>
      </geometry>
      <material name="mat_panel_0_0_panel"/>
    </visual>
    <visual name="panel_0_0_panel_4_n_vis">
      <origin xyz="0.105 -0.0205 1.645024" rpy="0 0 0"/>
      <geometry>
        <box size="0.05 0.006 0.570752"/>
      </geometry>
      <material name="mat_panel_0_0_panel"/>
    </visual>
    <visual name="panel_0_0_panel_4_p_vis">
      <origin xyz="0.105 0.0205 1.645024" rpy="0 0 0"/>
      <geometry>
        <box size="0.05 0.006 0.570752"/>
      </geometry>
      <material name="mat_panel_0_0_panel"/>
    </visual>
    <visual name="panel_0_0_panel_5_n_vis">
      <origin xyz="0.285 -0.0205 1.645024" rpy="0 0 0"/>
      <geometry>
        <box size="0.05 0.006 0.570752"/>
      </geometry>
      <material name="mat_panel_0_0_panel"/>
    </visual>
    <visual name="panel_0_0_panel_5_p_vis">
      <origin xyz="0.285 0.0205 1.645024" rpy="0 0 0"/>
      <geometry>
        <box size="0.05 0.006 0.570752"/>
      </geometry>
      <material name="mat_panel_0_0_panel"/>
    </visual>
  </link>
  <link name="panel_0_1">
    <inertial>
      <origin xyz="0.126781 -0.026161 1.025222" rpy="0 0 0"/>
      <mass value="3.746162"/>
      <inertia ixx="0.893003571" ixy="0.026714062" ixz="0.011171398" iyy="1.015651765" iyz="-0.002410994" izz="0.134989971"/>
    </inertial>
    <visual name="panel_0_1_slab_vis">
      <origin xyz="0.232 -0.0175 1.036" rpy="0 0 0"/>
      <geometry>
        <box size="0.46 0.035 2.032"/>
      </geometry>
      <material name="mat_panel_0_1"/>
    </visual>
    <collision name="panel_0_1_slab_col">
      <origin xyz="0.232 -0.0175 1.036" rpy="0 0 0"/>
      <geometry>
        <box size="0.46 0.035 2.032"/>
      </geometry>
    </collision>
    <visual name="panel_0_1_panel_0_n_vis">
      <origin xyz="0.1395 -0.038 0.472552" rpy="0 0 0"/>
      <geometry>
        <box size="0.055 0.006 0.418064"/>
      </geometry>
      <material name="mat_panel_0_1_panel"/>
    </visual>
    <visual name="panel_0_1_panel_0_p_vis">
      <origin xyz="0.1395 0.003 0.472552" rpy="0 0 0"/>
      <geometry>
        <box size="0.055 0.006 0.418064"/>
      </geometry>
      <material name="mat_panel_0_1_panel"/>
    </visual>
    <visual name="panel_0_1_panel_1_n_vis">
      <origin xyz="0.3245 -0.038 0.472552" rpy="0 0 0"/>
      <geometry>
        <box size="0.055 0.006 0.418064"/>
      </geometry>
      <material name="mat_panel_0_1_panel"/>
    </visual>
    <visual name="panel_0_1_panel_1_p_vis">
      <origin xyz="0.3245 0.003 0.472552" rpy="0 0 0"/>
      <geometry>
        <box size="0.055 0.006 0.418064"/>
      </geometry>
      <material name="mat_panel_0_1_panel"/>
    </visual>
    <visual name="panel_0_1_panel_2_n_vis">
      <origin xyz="0.1395 -0.038 1.020616" rpy="0 0 0"/>
      <geometry>
        <box size="0.055 0.006 0.418064"/>
      </geometry>
      <material name="mat_panel_0_1_panel"/>
    </visual>
    <visual name="panel_0_1_panel_2_p_vis">
      <origin xyz="0.1395 0.003 1.020616" rpy="0 0 0"/>
      <geometry>
        <box size="0.055 0.006 0.418064"/>
      </geometry>
      <material name="mat_panel_0_1_panel"/>
    </visual>
    <visual name="panel_0_1_panel_3_n_vis">
      <origin xyz="0.3245 -0.038 1.020616" rpy="0 0 0"/>
      <geometry>
        <box size="0.055 0.006 0.418064"/>
      </geometry>
      <material name="mat_panel_0_1_panel"/>
    </visual>
    <visual name="panel_0_1_panel_3_p_vis">
      <origin xyz="0.3245 0.003 1.020616" rpy="0 0 0"/>
      <geometry>
        <box size="0.055 0.006 0.418064"/>
      </geometry>
      <material name="mat_panel_0_1_panel"/>
    </visual>
    <visual name="panel_0_1_panel_4_n_vis">
      <origin xyz="0.1395 -0.038 1.645024" rpy="0 0 0"/>
      <geometry>
        <box size="0.055 0.006 0.570752"/>
      </geometry>
      <material name="mat_panel_0_1_panel"/>
    </visual>
    <visual name="panel_0_1_panel_4_p_vis">
      <origin xyz="0.1395 0.003 1.645024" rpy="0 0 0"/>
      <geometry>
        <box size="0.055 0.006 0.570752"/>
      </geometry>
      <material name="mat_panel_0_1_panel"/>
    </visual>
    <visual name="panel_0_1_panel_5_n_vis">
      <origin xyz="0.3245 -0.038 1.645024" rpy="0 0 0"/>
      <geometry>
        <box size="0.055 0.006 0.570752"/>
      </geometry>
      <material name="mat_panel_0_1_panel"/>
    </visual>
    <visual name="panel_0_1_panel_5_p_vis">
      <origin xyz="0.3245 0.003 1.645024" rpy="0 0 0"/>
      <geometry>
        <box size="0.055 0.006 0.570752"/>
      </geometry>
      <material name="mat_panel_0_1_panel"/>
    </visual>
    <visual name="panel_0_1_knuckle_vis">
      <origin xyz="0 0 1.036" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.0045" length="2.012"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="panel_0_1_pull_n_vis">
      <origin xyz="0.402 -0.035 1" rpy="1.570796 0 0"/>
      <geometry>
        <mesh filename="../../hardware/pull_1e5d69a91a.obj"/>
      </geometry>
      <material name="mat_op_stainless"/>
    </visual>
    <collision name="panel_0_1_pull_col_n_col">
      <origin xyz="0.402 -0.095 1" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.0095" length="0.16"/>
      </geometry>
    </collision>
  </link>
  <joint name="panel_0_0_hinge" type="revolute">
    <origin xyz="-0.4275 0 0" rpy="0 0 0"/>
    <parent link="world_env"/>
    <child link="panel_0_0"/>
    <axis xyz="0 0 -1"/>
    <limit lower="0" upper="1.48353" effort="2000" velocity="10"/>
    <dynamics damping="0.673679" friction="3.481487"/>
  </joint>
  <joint name="panel_0_1_hinge" type="revolute">
    <origin xyz="0.422 0.0175 0" rpy="0 0 0"/>
    <parent link="panel_0_0"/>
    <child link="panel_0_1"/>
    <axis xyz="0 0 -1"/>
    <limit lower="-3.141593" upper="0" effort="2000" velocity="10"/>
    <dynamics damping="0.2" friction="0.1"/>
    <mimic joint="panel_0_0_hinge" multiplier="-2" offset="0"/>
  </joint>
  <material name="mat_floor">
    <color rgba="0.55 0.53 0.5 1"/>
  </material>
  <material name="mat_frame">
    <color rgba="0.82 0.7 0.5 1"/>
  </material>
  <material name="mat_hinge">
    <color rgba="0.65 0.66 0.68 1"/>
  </material>
  <material name="mat_op_stainless">
    <color rgba="0.75 0.76 0.77 1"/>
  </material>
  <material name="mat_panel_0_0">
    <color rgba="0.7 0.88 0.78 1"/>
  </material>
  <material name="mat_panel_0_0_panel">
    <color rgba="0.644 0.81 0.718 1"/>
  </material>
  <material name="mat_panel_0_1">
    <color rgba="0.7 0.88 0.78 1"/>
  </material>
  <material name="mat_panel_0_1_panel">
    <color rgba="0.644 0.81 0.718 1"/>
  </material>
  <material name="mat_track">
    <color rgba="0.8 0.81 0.83 1"/>
  </material>
  <material name="mat_wall">
    <color rgba="0.78 0.76 0.7 1"/>
  </material>
</robot>
