<?xml version="1.0" ?>
<robot xmlns:doorbench="https://github.com/adamraudonis/DoorBench/schema/urdf-ext" name="db0522_swing_single_minimal">
  <link name="world_env">
    <visual name="floor_vis">
      <origin xyz="0 0 -0.05" rpy="0 0 0"/>
      <geometry>
        <box size="12 12 0.1"/>
      </geometry>
      <material name="mat_floor"/>
    </visual>
    <collision name="floor_col">
      <origin xyz="0 0 -0.05" rpy="0 0 0"/>
      <geometry>
        <box size="12 12 0.1"/>
      </geometry>
    </collision>
    <visual name="wall_left_vis">
      <origin xyz="-1.556 0.028 1.3735" rpy="0 0 0"/>
      <geometry>
        <box size="1.888 0.115 2.747"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_left_col">
      <origin xyz="-1.556 0.028 1.3735" rpy="0 0 0"/>
      <geometry>
        <box size="1.888 0.115 2.747"/>
      </geometry>
    </collision>
    <visual name="wall_right_vis">
      <origin xyz="1.541 0.028 1.3735" rpy="0 0 0"/>
      <geometry>
        <box size="1.918 0.115 2.747"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_right_col">
      <origin xyz="1.541 0.028 1.3735" rpy="0 0 0"/>
      <geometry>
        <box size="1.918 0.115 2.747"/>
      </geometry>
    </collision>
    <visual name="wall_header_vis">
      <origin xyz="-0.015 0.028 2.4845" rpy="0 0 0"/>
      <geometry>
        <box size="1.194 0.115 0.525"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_header_col">
      <origin xyz="-0.015 0.028 2.4845" rpy="0 0 0"/>
      <geometry>
        <box size="1.194 0.115 0.525"/>
      </geometry>
    </collision>
    <visual name="jamb_hinge_vis">
      <origin xyz="0.5595 0.028 1.0735" rpy="0 0 0"/>
      <geometry>
        <box size="0.045 0.115 2.147"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_hinge_col">
      <origin xyz="0.5595 0.028 1.0735" rpy="0 0 0"/>
      <geometry>
        <box size="0.045 0.115 2.147"/>
      </geometry>
    </collision>
    <visual name="jamb_strike_vis">
      <origin xyz="-0.5595 0.028 1.0735" rpy="0 0 0"/>
      <geometry>
        <box size="0.045 0.115 2.147"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_strike_col">
      <origin xyz="-0.5595 0.028 1.0735" rpy="0 0 0"/>
      <geometry>
        <box size="0.045 0.115 2.147"/>
      </geometry>
    </collision>
    <visual name="stud_strike_vis">
      <origin xyz="-0.597 0.028 1.0735" rpy="0 0 0"/>
      <geometry>
        <box size="0.03 0.115 2.147"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="stud_strike_col">
      <origin xyz="-0.597 0.028 1.0735" rpy="0 0 0"/>
      <geometry>
        <box size="0.03 0.115 2.147"/>
      </geometry>
    </collision>
    <visual name="jamb_head_vis">
      <origin xyz="-0.015 0.028 2.1695" rpy="0 0 0"/>
      <geometry>
        <box size="1.194 0.115 0.045"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_head_col">
      <origin xyz="-0.015 0.028 2.1695" rpy="0 0 0"/>
      <geometry>
        <box size="1.194 0.115 0.045"/>
      </geometry>
    </collision>
    <visual name="head_stud_vis">
      <origin xyz="-0.015 0.028 2.207" rpy="0 0 0"/>
      <geometry>
        <box size="1.194 0.115 0.03"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="head_stud_col">
      <origin xyz="-0.015 0.028 2.207" rpy="0 0 0"/>
      <geometry>
        <box size="1.194 0.115 0.03"/>
      </geometry>
    </collision>
    <visual name="stop_hinge_vis">
      <origin xyz="0.5315 0.039 1.0735" rpy="0 0 0"/>
      <geometry>
        <box size="0.011 0.032 2.147"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="stop_hinge_col">
      <origin xyz="0.5315 0.039 1.0735" rpy="0 0 0"/>
      <geometry>
        <box size="0.011 0.032 2.147"/>
      </geometry>
    </collision>
    <visual name="stop_strike_vis">
      <origin xyz="-0.5315 0.039 1.0735" rpy="0 0 0"/>
      <geometry>
        <box size="0.011 0.032 2.147"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="stop_strike_col">
      <origin xyz="-0.5315 0.039 1.0735" rpy="0 0 0"/>
      <geometry>
        <box size="0.011 0.032 2.147"/>
      </geometry>
    </collision>
    <visual name="stop_head_vis">
      <origin xyz="0 0.039 2.1415" rpy="0 0 0"/>
      <geometry>
        <box size="1.074 0.032 0.011"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="stop_head_col">
      <origin xyz="0 0.039 2.1415" rpy="0 0 0"/>
      <geometry>
        <box size="1.074 0.032 0.011"/>
      </geometry>
    </collision>
  </link>
  <link name="leaf">
    <inertial>
      <origin xyz="-0.610735 0.0295 1.065185" rpy="0 0 0"/>
      <mass value="123.979625"/>
      <inertia ixx="44.79405058" ixy="0" ixz="-0.470976134" iyy="57.62150567" iyz="0" izz="13.187712525"/>
    </inertial>
    <visual name="leaf_glass_vis">
      <origin xyz="-0.5335 0.0295 1.076" rpy="0 0 0"/>
      <geometry>
        <box size="1.067 0.045 2.134"/>
      </geometry>
      <material name="mat_glass_leaf"/>
    </visual>
    <collision name="leaf_glass_col">
      <origin xyz="-0.5335 0.0295 1.076" rpy="0 0 0"/>
      <geometry>
        <box size="1.067 0.045 2.134"/>
      </geometry>
    </collision>
    <visual name="leaf_pull_n_vis">
      <origin xyz="-0.962 0.007 1.016" rpy="-1.570796 0 3.141593"/>
      <geometry>
        <mesh filename="../../hardware/pull_897e207f65.obj"/>
      </geometry>
      <material name="mat_op_stainless"/>
    </visual>
    <collision name="leaf_pull_col_n_col">
      <origin xyz="-0.962 -0.058 1.016" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.016" length="1.76"/>
      </geometry>
    </collision>
    <visual name="leaf_pull_p_vis">
      <origin xyz="-0.962 0.052 1.016" rpy="1.570796 0 3.141593"/>
      <geometry>
        <mesh filename="../../hardware/pull_897e207f65.obj"/>
      </geometry>
      <material name="mat_op_stainless"/>
    </visual>
    <collision name="leaf_pull_col_p_col">
      <origin xyz="-0.962 0.117 1.016" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.016" length="1.76"/>
      </geometry>
    </collision>
  </link>
  <joint name="leaf_hinge" type="revolute">
    <origin xyz="0.534 -0.0295 0" rpy="0 0 0"/>
    <parent link="world_env"/>
    <child link="leaf"/>
    <axis xyz="0 0 1"/>
    <limit lower="0" upper="1.658063" effort="2000" velocity="10"/>
    <dynamics damping="12.49954" friction="0.699177"/>
    <doorbench:spring stiffness="51.540737" springref="-1.974943" note="tau = -stiffness*(q - springref); not native URDF"/>
    <doorbench:closer damping_closing="90" damping_opening="12" backcheck_angle="1.22" backcheck_damping="60"/>
  </joint>
  <material name="mat_floor">
    <color rgba="0.55 0.53 0.5 1"/>
  </material>
  <material name="mat_frame">
    <color rgba="0.22 0.17 0.13 1"/>
  </material>
  <material name="mat_glass_leaf">
    <color rgba="0.85 0.92 0.95 0.25"/>
  </material>
  <material name="mat_op_stainless">
    <color rgba="0.75 0.76 0.77 1"/>
  </material>
  <material name="mat_wall">
    <color rgba="0.78 0.76 0.7 1"/>
  </material>
</robot>
