<?xml version="1.0" ?>
<robot xmlns:doorbench="https://github.com/adamraudonis/DoorBench/schema/urdf-ext" name="db0030_bifold_minimal">
  <link name="world_env">
    <visual name="floor_vis">
      <origin xyz="0 0 -0.05" rpy="0 0 0"/>
      <geometry>
        <box size="12 12 0.1"/>
      </geometry>
      <material name="mat_floor"/>
    </visual>
    <collision name="floor_col">
      <origin xyz="0 0 -0.05" rpy="0 0 0"/>
      <geometry>
        <box size="12 12 0.1"/>
      </geometry>
    </collision>
    <visual name="wall_left_vis">
      <origin xyz="-1.44425 0 1.35" rpy="0 0 0"/>
      <geometry>
        <box size="2.1115 0.145 2.7"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_left_col">
      <origin xyz="-1.44425 0 1.35" rpy="0 0 0"/>
      <geometry>
        <box size="2.1115 0.145 2.7"/>
      </geometry>
    </collision>
    <visual name="wall_right_vis">
      <origin xyz="1.44425 0 1.35" rpy="0 0 0"/>
      <geometry>
        <box size="2.1115 0.145 2.7"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_right_col">
      <origin xyz="1.44425 0 1.35" rpy="0 0 0"/>
      <geometry>
        <box size="2.1115 0.145 2.7"/>
      </geometry>
    </collision>
    <visual name="wall_header_vis">
      <origin xyz="0 0 2.3935" rpy="0 0 0"/>
      <geometry>
        <box size="0.777 0.145 0.613"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_header_col">
      <origin xyz="0 0 2.3935" rpy="0 0 0"/>
      <geometry>
        <box size="0.777 0.145 0.613"/>
      </geometry>
    </collision>
    <visual name="jamb_hinge_vis">
      <origin xyz="-0.398 0 1.0435" rpy="0 0 0"/>
      <geometry>
        <box size="0.019 0.145 2.087"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_hinge_col">
      <origin xyz="-0.398 0 1.0435" rpy="0 0 0"/>
      <geometry>
        <box size="0.019 0.145 2.087"/>
      </geometry>
    </collision>
    <visual name="jamb_strike_vis">
      <origin xyz="0.398 0 1.0435" rpy="0 0 0"/>
      <geometry>
        <box size="0.019 0.145 2.087"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_strike_col">
      <origin xyz="0.398 0 1.0435" rpy="0 0 0"/>
      <geometry>
        <box size="0.019 0.145 2.087"/>
      </geometry>
    </collision>
    <visual name="stud_strike_vis">
      <origin xyz="0.4225 0 1.0435" rpy="0 0 0"/>
      <geometry>
        <box size="0.03 0.145 2.087"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="stud_strike_col">
      <origin xyz="0.4225 0 1.0435" rpy="0 0 0"/>
      <geometry>
        <box size="0.03 0.145 2.087"/>
      </geometry>
    </collision>
    <visual name="jamb_head_vis">
      <origin xyz="0.015 0 2.0965" rpy="0 0 0"/>
      <geometry>
        <box size="0.845 0.145 0.019"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_head_col">
      <origin xyz="0.015 0 2.0965" rpy="0 0 0"/>
      <geometry>
        <box size="0.845 0.145 0.019"/>
      </geometry>
    </collision>
    <visual name="head_stud_vis">
      <origin xyz="0.015 0 2.121" rpy="0 0 0"/>
      <geometry>
        <box size="0.845 0.145 0.03"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="head_stud_col">
      <origin xyz="0.015 0 2.121" rpy="0 0 0"/>
      <geometry>
        <box size="0.845 0.145 0.03"/>
      </geometry>
    </collision>
  </link>
  <link name="panel_0_0">
    <inertial>
      <origin xyz="0.158855 0 1.036" rpy="0 0 0"/>
      <mass value="3.011474"/>
      <inertia ixx="1.036511561" ixy="0" ixz="0" iyy="1.070614078" iyz="0" izz="0.03471736"/>
    </inertial>
    <visual name="panel_0_0_slab_vis">
      <origin xyz="0.158855 0 1.036" rpy="0 0 0"/>
      <geometry>
        <box size="0.370291 0.035 2.032"/>
      </geometry>
      <material name="mat_panel_0_0"/>
    </visual>
    <collision name="panel_0_0_slab_col">
      <origin xyz="0.158855 0 1.036" rpy="0 0 0"/>
      <geometry>
        <box size="0.370291 0.035 2.032"/>
      </geometry>
    </collision>
  </link>
  <link name="panel_0_1">
    <inertial>
      <origin xyz="0.309235 -0.050488 1.007691" rpy="0 0 0"/>
      <mass value="3.179804"/>
      <inertia ixx="0.235787395" ixy="0.003227198" ixz="0.002769381" iyy="0.254286055" iyz="-0.000806799" izz="0.020936896"/>
    </inertial>
    <visual name="panel_0_1_slab_vis">
      <origin xyz="0.196 -0.0175 1.036" rpy="0 0 0"/>
      <geometry>
        <box size="0.388 0.035 2.032"/>
      </geometry>
      <material name="mat_panel_0_1"/>
    </visual>
    <collision name="panel_0_1_slab_col">
      <origin xyz="0.196 -0.0175 1.036" rpy="0 0 0"/>
      <geometry>
        <box size="0.388 0.035 2.032"/>
      </geometry>
    </collision>
    <visual name="panel_0_1_knob_vis">
      <origin xyz="0.34 -0.035 1" rpy="1.570796 0 0"/>
      <geometry>
        <mesh filename="../../hardware/knob_13f7a2a65f.obj"/>
      </geometry>
      <material name="mat_op_nickel_satin"/>
    </visual>
    <visual name="panel_0_1_knob_col_vis">
      <origin xyz="0.34 -0.065 1" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.016"/>
      </geometry>
      <material name="mat_op_nickel_satin"/>
    </visual>
    <collision name="panel_0_1_knob_col_col">
      <origin xyz="0.34 -0.065 1" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.016"/>
      </geometry>
    </collision>
  </link>
  <joint name="panel_0_0_hinge" type="revolute">
    <origin xyz="-0.3535 0 0" rpy="0 0 0"/>
    <parent link="world_env"/>
    <child link="panel_0_0"/>
    <axis xyz="0 0 -1"/>
    <limit lower="0" upper="1.48353" effort="2000" velocity="10"/>
    <dynamics damping="0.661913" friction="1.192883"/>
  </joint>
  <joint name="panel_0_1_hinge" type="revolute">
    <origin xyz="0.346 0.0175 0" rpy="0 0 0"/>
    <parent link="panel_0_0"/>
    <child link="panel_0_1"/>
    <axis xyz="0 0 -1"/>
    <limit lower="-3.141593" upper="0" effort="2000" velocity="10"/>
    <dynamics damping="0.2" friction="0.1"/>
    <mimic joint="panel_0_0_hinge" multiplier="-2" offset="0"/>
  </joint>
  <material name="mat_floor">
    <color rgba="0.55 0.53 0.5 1"/>
  </material>
  <material name="mat_frame">
    <color rgba="0.82 0.7 0.5 1"/>
  </material>
  <material name="mat_op_nickel_satin">
    <color rgba="0.72 0.7 0.66 1"/>
  </material>
  <material name="mat_panel_0_0">
    <color rgba="0.9 0.65 0.7 1"/>
  </material>
  <material name="mat_panel_0_1">
    <color rgba="0.9 0.65 0.7 1"/>
  </material>
  <material name="mat_wall">
    <color rgba="0.78 0.76 0.7 1"/>
  </material>
</robot>
