<?xml version="1.0" ?>
<robot xmlns:doorbench="https://github.com/adamraudonis/DoorBench/schema/urdf-ext" name="db0906_dutch_minimal">
  <link name="world_env">
    <visual name="floor_vis">
      <origin xyz="0 0 -0.05" rpy="0 0 0"/>
      <geometry>
        <box size="12 12 0.1"/>
      </geometry>
      <material name="mat_floor"/>
    </visual>
    <collision name="floor_col">
      <origin xyz="0 0 -0.05" rpy="0 0 0"/>
      <geometry>
        <box size="12 12 0.1"/>
      </geometry>
    </collision>
    <visual name="wall_left_vis">
      <origin xyz="-1.467 -0.0305 1.3735" rpy="0 0 0"/>
      <geometry>
        <box size="2.066 0.145 2.747"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_left_col">
      <origin xyz="-1.467 -0.0305 1.3735" rpy="0 0 0"/>
      <geometry>
        <box size="2.066 0.145 2.747"/>
      </geometry>
    </collision>
    <visual name="wall_right_vis">
      <origin xyz="1.452 -0.0305 1.3735" rpy="0 0 0"/>
      <geometry>
        <box size="2.096 0.145 2.747"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_right_col">
      <origin xyz="1.452 -0.0305 1.3735" rpy="0 0 0"/>
      <geometry>
        <box size="2.096 0.145 2.747"/>
      </geometry>
    </collision>
    <visual name="wall_header_vis">
      <origin xyz="-0.015 -0.0305 2.4715" rpy="0 0 0"/>
      <geometry>
        <box size="0.838 0.145 0.551"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_header_col">
      <origin xyz="-0.015 -0.0305 2.4715" rpy="0 0 0"/>
      <geometry>
        <box size="0.838 0.145 0.551"/>
      </geometry>
    </collision>
    <visual name="jamb_hinge_vis">
      <origin xyz="0.3945 -0.0305 1.0735" rpy="0 0 0"/>
      <geometry>
        <box size="0.019 0.145 2.147"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_hinge_col">
      <origin xyz="0.3945 -0.0305 1.0735" rpy="0 0 0"/>
      <geometry>
        <box size="0.019 0.145 2.147"/>
      </geometry>
    </collision>
    <visual name="strike_840_wall_n_vis">
      <origin xyz="-0.4095 -0.055425 0.84" rpy="0 0 0"/>
      <geometry>
        <box size="0.049 0.09515 0.0334"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="strike_840_wall_n_col">
      <origin xyz="-0.4095 -0.055425 0.84" rpy="0 0 0"/>
      <geometry>
        <box size="0.049 0.09515 0.0334"/>
      </geometry>
    </collision>
    <visual name="strike_840_wall_p_vis">
      <origin xyz="-0.4095 0.01585 0.84" rpy="0 0 0"/>
      <geometry>
        <box size="0.049 0.016 0.0334"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="strike_840_wall_p_col">
      <origin xyz="-0.4095 0.01585 0.84" rpy="0 0 0"/>
      <geometry>
        <box size="0.049 0.016 0.0334"/>
      </geometry>
    </collision>
    <visual name="strike_840_ramp_vis">
      <origin xyz="-0.414908 0.034645 0.84" rpy="0 0 0.344766"/>
      <geometry>
        <box size="0.049 0.040535 0.0334"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="strike_840_ramp_col">
      <origin xyz="-0.414908 0.034645 0.84" rpy="0 0 0.344766"/>
      <geometry>
        <box size="0.049 0.040535 0.0334"/>
      </geometry>
    </collision>
    <visual name="strike_840_back_vis">
      <origin xyz="-0.41785 0 0.84" rpy="0 0 0"/>
      <geometry>
        <box size="0.0323 0.0157 0.0334"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="strike_840_back_col">
      <origin xyz="-0.41785 0 0.84" rpy="0 0 0"/>
      <geometry>
        <box size="0.0323 0.0157 0.0334"/>
      </geometry>
    </collision>
    <visual name="strike_1547_wall_n_vis">
      <origin xyz="-0.4095 -0.05525 1.547" rpy="0 0 0"/>
      <geometry>
        <box size="0.049 0.0955 0.02"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="strike_1547_wall_n_col">
      <origin xyz="-0.4095 -0.05525 1.547" rpy="0 0 0"/>
      <geometry>
        <box size="0.049 0.0955 0.02"/>
      </geometry>
    </collision>
    <visual name="strike_1547_wall_p_vis">
      <origin xyz="-0.4095 0.0155 1.547" rpy="0 0 0"/>
      <geometry>
        <box size="0.049 0.016 0.02"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="strike_1547_wall_p_col">
      <origin xyz="-0.4095 0.0155 1.547" rpy="0 0 0"/>
      <geometry>
        <box size="0.049 0.016 0.02"/>
      </geometry>
    </collision>
    <visual name="strike_1547_ramp_vis">
      <origin xyz="-0.411796 0.039595 1.547" rpy="0 0 0.129147"/>
      <geometry>
        <box size="0.049 0.038823 0.02"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="strike_1547_ramp_col">
      <origin xyz="-0.411796 0.039595 1.547" rpy="0 0 0.129147"/>
      <geometry>
        <box size="0.049 0.038823 0.02"/>
      </geometry>
    </collision>
    <visual name="strike_1547_ramp_n_vis">
      <origin xyz="-0.411796 -0.027595 1.547" rpy="0 0 -0.129147"/>
      <geometry>
        <box size="0.049 0.038823 0.02"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="strike_1547_ramp_n_col">
      <origin xyz="-0.411796 -0.027595 1.547" rpy="0 0 -0.129147"/>
      <geometry>
        <box size="0.049 0.038823 0.02"/>
      </geometry>
    </collision>
    <visual name="strike_1547_back_vis">
      <origin xyz="-0.4135 0 1.547" rpy="0 0 0"/>
      <geometry>
        <box size="0.041 0.015 0.02"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="strike_1547_back_col">
      <origin xyz="-0.4135 0 1.547" rpy="0 0 0"/>
      <geometry>
        <box size="0.041 0.015 0.02"/>
      </geometry>
    </collision>
    <visual name="jamb_strike_0_vis">
      <origin xyz="-0.4095 -0.0305 0.41165" rpy="0 0 0"/>
      <geometry>
        <box size="0.049 0.145 0.8233"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_strike_0_col">
      <origin xyz="-0.4095 -0.0305 0.41165" rpy="0 0 0"/>
      <geometry>
        <box size="0.049 0.145 0.8233"/>
      </geometry>
    </collision>
    <visual name="jamb_strike_1_vis">
      <origin xyz="-0.4095 -0.0305 1.19685" rpy="0 0 0"/>
      <geometry>
        <box size="0.049 0.145 0.6803"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_strike_1_col">
      <origin xyz="-0.4095 -0.0305 1.19685" rpy="0 0 0"/>
      <geometry>
        <box size="0.049 0.145 0.6803"/>
      </geometry>
    </collision>
    <visual name="jamb_strike_2_vis">
      <origin xyz="-0.4095 -0.0305 1.852" rpy="0 0 0"/>
      <geometry>
        <box size="0.049 0.145 0.59"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_strike_2_col">
      <origin xyz="-0.4095 -0.0305 1.852" rpy="0 0 0"/>
      <geometry>
        <box size="0.049 0.145 0.59"/>
      </geometry>
    </collision>
    <visual name="jamb_head_vis">
      <origin xyz="-0.015 -0.0305 2.1565" rpy="0 0 0"/>
      <geometry>
        <box size="0.838 0.145 0.019"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_head_col">
      <origin xyz="-0.015 -0.0305 2.1565" rpy="0 0 0"/>
      <geometry>
        <box size="0.838 0.145 0.019"/>
      </geometry>
    </collision>
    <visual name="head_stud_vis">
      <origin xyz="-0.015 -0.0305 2.181" rpy="0 0 0"/>
      <geometry>
        <box size="0.838 0.145 0.03"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="head_stud_col">
      <origin xyz="-0.015 -0.0305 2.181" rpy="0 0 0"/>
      <geometry>
        <box size="0.838 0.145 0.03"/>
      </geometry>
    </collision>
    <visual name="stop_hinge_vis">
      <origin xyz="0.3795 -0.0385 1.0735" rpy="0 0 0"/>
      <geometry>
        <box size="0.011 0.032 2.147"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="stop_hinge_col">
      <origin xyz="0.3795 -0.0385 1.0735" rpy="0 0 0"/>
      <geometry>
        <box size="0.011 0.032 2.147"/>
      </geometry>
    </collision>
    <visual name="stop_strike_vis">
      <origin xyz="-0.3795 -0.0385 1.0735" rpy="0 0 0"/>
      <geometry>
        <box size="0.011 0.032 2.147"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="stop_strike_col">
      <origin xyz="-0.3795 -0.0385 1.0735" rpy="0 0 0"/>
      <geometry>
        <box size="0.011 0.032 2.147"/>
      </geometry>
    </collision>
    <visual name="stop_head_vis">
      <origin xyz="0 -0.0385 2.1415" rpy="0 0 0"/>
      <geometry>
        <box size="0.77 0.032 0.011"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="stop_head_col">
      <origin xyz="0 -0.0385 2.1415" rpy="0 0 0"/>
      <geometry>
        <box size="0.77 0.032 0.011"/>
      </geometry>
    </collision>
  </link>
  <link name="leaf_lower">
    <inertial>
      <origin xyz="-0.666679 -0.029 0.775261" rpy="0 0 0"/>
      <mass value="2.091634"/>
      <inertia ixx="0.026933194" ixy="0" ixz="0.002831793" iyy="0.026003799" iyz="-0.000502875" izz="0.012090899"/>
    </inertial>
    <visual name="leaf_lower_slab_vis">
      <origin xyz="-0.381 -0.029 0.484" rpy="0 0 0"/>
      <geometry>
        <box size="0.762 0.044 0.944"/>
      </geometry>
      <material name="mat_leaf_lower"/>
    </visual>
    <collision name="leaf_lower_slab_col">
      <origin xyz="-0.381 -0.029 0.484" rpy="0 0 0"/>
      <geometry>
        <box size="0.762 0.044 0.944"/>
      </geometry>
    </collision>
    <visual name="leaf_lower_glass_0_vis">
      <origin xyz="-0.177 -0.029 0.575167" rpy="0 0 0"/>
      <geometry>
        <box size="0.174 0.0456 0.092333"/>
      </geometry>
      <material name="mat_glass"/>
    </visual>
    <visual name="leaf_lower_glass_1_vis">
      <origin xyz="-0.381 -0.029 0.575167" rpy="0 0 0"/>
      <geometry>
        <box size="0.174 0.0456 0.092333"/>
      </geometry>
      <material name="mat_glass"/>
    </visual>
    <visual name="leaf_lower_glass_2_vis">
      <origin xyz="-0.585 -0.029 0.575167" rpy="0 0 0"/>
      <geometry>
        <box size="0.174 0.0456 0.092333"/>
      </geometry>
      <material name="mat_glass"/>
    </visual>
    <visual name="leaf_lower_glass_3_vis">
      <origin xyz="-0.177 -0.029 0.6975" rpy="0 0 0"/>
      <geometry>
        <box size="0.174 0.0456 0.092333"/>
      </geometry>
      <material name="mat_glass"/>
    </visual>
    <visual name="leaf_lower_glass_4_vis">
      <origin xyz="-0.381 -0.029 0.6975" rpy="0 0 0"/>
      <geometry>
        <box size="0.174 0.0456 0.092333"/>
      </geometry>
      <material name="mat_glass"/>
    </visual>
    <visual name="leaf_lower_glass_5_vis">
      <origin xyz="-0.585 -0.029 0.6975" rpy="0 0 0"/>
      <geometry>
        <box size="0.174 0.0456 0.092333"/>
      </geometry>
      <material name="mat_glass"/>
    </visual>
    <visual name="leaf_lower_glass_6_vis">
      <origin xyz="-0.177 -0.029 0.819833" rpy="0 0 0"/>
      <geometry>
        <box size="0.174 0.0456 0.092333"/>
      </geometry>
      <material name="mat_glass"/>
    </visual>
    <visual name="leaf_lower_glass_7_vis">
      <origin xyz="-0.381 -0.029 0.819833" rpy="0 0 0"/>
      <geometry>
        <box size="0.174 0.0456 0.092333"/>
      </geometry>
      <material name="mat_glass"/>
    </visual>
    <visual name="leaf_lower_glass_8_vis">
      <origin xyz="-0.585 -0.029 0.819833" rpy="0 0 0"/>
      <geometry>
        <box size="0.174 0.0456 0.092333"/>
      </geometry>
      <material name="mat_glass"/>
    </visual>
    <visual name="lower_handleset_n_vis">
      <origin xyz="-0.672 -0.051 0.78" rpy="-1.570796 0 3.141593"/>
      <geometry>
        <mesh filename="../../hardware/handleset_6f5f7b5b57.obj"/>
      </geometry>
      <material name="mat_op_bronze"/>
    </visual>
    <collision name="lower_handleset_col_n_col">
      <origin xyz="-0.672 -0.111 0.78" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.011" length="0.18"/>
      </geometry>
    </collision>
    <visual name="lower_handleset_p_vis">
      <origin xyz="-0.672 -0.007 0.78" rpy="1.570796 0 3.141593"/>
      <geometry>
        <mesh filename="../../hardware/handleset_6f5f7b5b57.obj"/>
      </geometry>
      <material name="mat_op_bronze"/>
    </visual>
    <collision name="lower_handleset_col_p_col">
      <origin xyz="-0.672 0.053 0.78" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.011" length="0.18"/>
      </geometry>
    </collision>
  </link>
  <link name="leaf_upper">
    <inertial>
      <origin xyz="-0.381 -0.029 1.600668" rpy="0 0 0"/>
      <mass value="0.048511"/>
      <inertia ixx="0.005201596" ixy="0" ixz="0" iyy="0.007372748" iyz="0" izz="0.002187027"/>
    </inertial>
    <visual name="leaf_upper_slab_vis">
      <origin xyz="-0.381 -0.029 1.549" rpy="0 0 0"/>
      <geometry>
        <box size="0.762 0.044 1.17"/>
      </geometry>
      <material name="mat_leaf_upper"/>
    </visual>
    <collision name="leaf_upper_slab_col">
      <origin xyz="-0.381 -0.029 1.549" rpy="0 0 0"/>
      <geometry>
        <box size="0.762 0.044 1.17"/>
      </geometry>
    </collision>
    <visual name="leaf_upper_glass_0_vis">
      <origin xyz="-0.177 -0.029 1.659" rpy="0 0 0"/>
      <geometry>
        <box size="0.174 0.0456 0.13"/>
      </geometry>
      <material name="mat_glass"/>
    </visual>
    <visual name="leaf_upper_glass_1_vis">
      <origin xyz="-0.381 -0.029 1.659" rpy="0 0 0"/>
      <geometry>
        <box size="0.174 0.0456 0.13"/>
      </geometry>
      <material name="mat_glass"/>
    </visual>
    <visual name="leaf_upper_glass_2_vis">
      <origin xyz="-0.585 -0.029 1.659" rpy="0 0 0"/>
      <geometry>
        <box size="0.174 0.0456 0.13"/>
      </geometry>
      <material name="mat_glass"/>
    </visual>
    <visual name="leaf_upper_glass_3_vis">
      <origin xyz="-0.177 -0.029 1.819" rpy="0 0 0"/>
      <geometry>
        <box size="0.174 0.0456 0.13"/>
      </geometry>
      <material name="mat_glass"/>
    </visual>
    <visual name="leaf_upper_glass_4_vis">
      <origin xyz="-0.381 -0.029 1.819" rpy="0 0 0"/>
      <geometry>
        <box size="0.174 0.0456 0.13"/>
      </geometry>
      <material name="mat_glass"/>
    </visual>
    <visual name="leaf_upper_glass_5_vis">
      <origin xyz="-0.585 -0.029 1.819" rpy="0 0 0"/>
      <geometry>
        <box size="0.174 0.0456 0.13"/>
      </geometry>
      <material name="mat_glass"/>
    </visual>
    <visual name="leaf_upper_glass_6_vis">
      <origin xyz="-0.177 -0.029 1.979" rpy="0 0 0"/>
      <geometry>
        <box size="0.174 0.0456 0.13"/>
      </geometry>
      <material name="mat_glass"/>
    </visual>
    <visual name="leaf_upper_glass_7_vis">
      <origin xyz="-0.381 -0.029 1.979" rpy="0 0 0"/>
      <geometry>
        <box size="0.174 0.0456 0.13"/>
      </geometry>
      <material name="mat_glass"/>
    </visual>
    <visual name="leaf_upper_glass_8_vis">
      <origin xyz="-0.585 -0.029 1.979" rpy="0 0 0"/>
      <geometry>
        <box size="0.174 0.0456 0.13"/>
      </geometry>
      <material name="mat_glass"/>
    </visual>
  </link>
  <link name="lower_handle">
    <inertial>
      <origin xyz="0 0.058082 0" rpy="0 0 0"/>
      <mass value="0.549341"/>
      <inertia ixx="0.000270874" ixy="0" ixz="0" iyy="0.000155778" iyz="0" izz="0.000270874"/>
    </inertial>
    <visual name="lower_handle_knob_p_vis">
      <origin xyz="0 0.022 0" rpy="1.570796 0 3.141593"/>
      <geometry>
        <mesh filename="../../hardware/knob_d1888f6f03.obj"/>
      </geometry>
      <material name="mat_op_brass"/>
    </visual>
    <visual name="lower_handle_knob_col_p_vis">
      <origin xyz="0 0.0685 0" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.0243"/>
      </geometry>
      <material name="mat_op_brass"/>
    </visual>
    <collision name="lower_handle_knob_col_p_col">
      <origin xyz="0 0.0685 0" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.0243"/>
      </geometry>
    </collision>
    <collision name="lower_handle_knob_neck_p_col">
      <origin xyz="0 0.034 0" rpy="-1.570796 0 0"/>
      <geometry>
        <cylinder radius="0.011" length="0.024"/>
      </geometry>
    </collision>
  </link>
  <link name="lower_latch_bolt">
    <inertial>
      <origin xyz="0.00865 0 0" rpy="0 0 0"/>
      <mass value="0.041419"/>
      <inertia ixx="0.000000798" ixy="0" ixz="0" iyy="0.000005598" iyz="0" izz="0.000005598"/>
    </inertial>
    <visual name="lower_latch_bolt_capsule_vis">
      <origin xyz="0.00865 0 0" rpy="0 -1.570796 0"/>
      <geometry>
        <cylinder radius="0.00635" length="0.03"/>
      </geometry>
      <material name="mat_bolt"/>
    </visual>
    <collision name="lower_latch_bolt_capsule_col">
      <origin xyz="0.00865 0 0" rpy="0 -1.570796 0"/>
      <geometry>
        <cylinder radius="0.00635" length="0.03"/>
      </geometry>
    </collision>
  </link>
  <joint name="leaf_lower_hinge" type="revolute">
    <origin xyz="0.382 0.029 0" rpy="0 0 0"/>
    <parent link="world_env"/>
    <child link="leaf_lower"/>
    <axis xyz="0 0 -1"/>
    <limit lower="0" upper="1.919862" effort="2000" velocity="10"/>
    <dynamics damping="0.179937" friction="0.200022"/>
    <doorbench:closer damping_closing="0" damping_opening="0" backcheck_angle="0" backcheck_damping="0"/>
  </joint>
  <joint name="leaf_upper_hinge" type="revolute">
    <origin xyz="0.382 0.029 0" rpy="0 0 0"/>
    <parent link="world_env"/>
    <child link="leaf_upper"/>
    <axis xyz="0 0 -1"/>
    <limit lower="0" upper="1.919862" effort="2000" velocity="10"/>
    <dynamics damping="0.179937" friction="0.200022"/>
    <doorbench:closer damping_closing="0" damping_opening="0" backcheck_angle="0" backcheck_damping="0"/>
  </joint>
  <joint name="lower_handle_hinge" type="revolute">
    <origin xyz="-0.692 -0.029 0.84" rpy="0 0 0"/>
    <parent link="leaf_lower"/>
    <child link="lower_handle"/>
    <axis xyz="0 1 0"/>
    <limit lower="0" upper="0.87" effort="2000" velocity="10"/>
    <dynamics damping="0.02" friction="0.038"/>
    <doorbench:spring stiffness="0.5" springref="-0.5" note="tau = -stiffness*(q - springref); not native URDF"/>
  </joint>
  <joint name="lower_latch_bolt_slide" type="prismatic">
    <origin xyz="-0.762 -0.029 0.84" rpy="0 0 0"/>
    <parent link="leaf_lower"/>
    <child link="lower_latch_bolt"/>
    <axis xyz="1 0 0"/>
    <limit lower="0" upper="0.0127" effort="5000" velocity="10"/>
    <dynamics damping="2" friction="0.3"/>
    <doorbench:spring stiffness="300" springref="-0.008333" note="tau = -stiffness*(q - springref); not native URDF"/>
    <mimic joint="lower_handle_hinge" multiplier="0.039688" offset="0"/>
    <doorbench:coupling one_sided="true" note="MJCF uses a one-sided tendon (bolt may retract further, e.g. riding over the strike lip); mimic is bilateral"/>
  </joint>
  <material name="mat_bolt">
    <color rgba="0.85 0.66 0.3 1"/>
  </material>
  <material name="mat_floor">
    <color rgba="0.55 0.53 0.5 1"/>
  </material>
  <material name="mat_frame">
    <color rgba="0.82 0.7 0.5 1"/>
  </material>
  <material name="mat_glass">
    <color rgba="0.85 0.92 0.95 0.25"/>
  </material>
  <material name="mat_leaf_lower">
    <color rgba="0.1 0.28 0.16 1"/>
  </material>
  <material name="mat_leaf_upper">
    <color rgba="0.1 0.28 0.16 1"/>
  </material>
  <material name="mat_op_brass">
    <color rgba="0.85 0.66 0.3 1"/>
  </material>
  <material name="mat_op_bronze">
    <color rgba="0.3 0.22 0.15 1"/>
  </material>
  <material name="mat_wall">
    <color rgba="0.78 0.76 0.7 1"/>
  </material>
</robot>
