<?xml version="1.0" ?>
<robot xmlns:doorbench="https://github.com/adamraudonis/DoorBench/schema/urdf-ext" name="db0672_blast_simple">
  <link name="world_env">
    <visual name="floor_vis">
      <origin xyz="0 0 -0.05" rpy="0 0 0"/>
      <geometry>
        <box size="12 12 0.1"/>
      </geometry>
      <material name="mat_floor"/>
    </visual>
    <collision name="floor_col">
      <origin xyz="0 0 -0.05" rpy="0 0 0"/>
      <geometry>
        <box size="12 12 0.1"/>
      </geometry>
    </collision>
    <visual name="wall_left_vis">
      <origin xyz="-1.63075 0.08 1.45" rpy="0 0 0"/>
      <geometry>
        <box size="1.7385 0.32 2.9"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_left_col">
      <origin xyz="-1.63075 0.08 1.45" rpy="0 0 0"/>
      <geometry>
        <box size="1.7385 0.32 2.9"/>
      </geometry>
    </collision>
    <visual name="wall_right_vis">
      <origin xyz="1.61575 0.08 1.45" rpy="0 0 0"/>
      <geometry>
        <box size="1.7685 0.32 2.9"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_right_col">
      <origin xyz="1.61575 0.08 1.45" rpy="0 0 0"/>
      <geometry>
        <box size="1.7685 0.32 2.9"/>
      </geometry>
    </collision>
    <visual name="wall_header_vis">
      <origin xyz="-0.015 0.08 2.56" rpy="0 0 0"/>
      <geometry>
        <box size="1.493 0.32 0.68"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_header_col">
      <origin xyz="-0.015 0.08 2.56" rpy="0 0 0"/>
      <geometry>
        <box size="1.493 0.32 0.68"/>
      </geometry>
    </collision>
    <visual name="jamb_hinge_vis">
      <origin xyz="0.6715 0.08 1.035" rpy="0 0 0"/>
      <geometry>
        <box size="0.12 0.32 2.07"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_hinge_col">
      <origin xyz="0.6715 0.08 1.035" rpy="0 0 0"/>
      <geometry>
        <box size="0.12 0.32 2.07"/>
      </geometry>
    </collision>
    <visual name="strike_550_wall_n_vis">
      <origin xyz="-0.6865 0.129 0.55" rpy="0 0 0"/>
      <geometry>
        <box size="0.15 0.222 0.042"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="strike_550_wall_n_col">
      <origin xyz="-0.6865 0.129 0.55" rpy="0 0 0"/>
      <geometry>
        <box size="0.15 0.222 0.042"/>
      </geometry>
    </collision>
    <visual name="strike_550_wall_p_vis">
      <origin xyz="-0.6865 -0.049 0.55" rpy="0 0 0"/>
      <geometry>
        <box size="0.15 0.062 0.042"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="strike_550_wall_p_col">
      <origin xyz="-0.6865 -0.049 0.55" rpy="0 0 0"/>
      <geometry>
        <box size="0.15 0.062 0.042"/>
      </geometry>
    </collision>
    <visual name="strike_550_back_vis">
      <origin xyz="-0.721 0 0.55" rpy="0 0 0"/>
      <geometry>
        <box size="0.081 0.036 0.042"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="strike_550_back_col">
      <origin xyz="-0.721 0 0.55" rpy="0 0 0"/>
      <geometry>
        <box size="0.081 0.036 0.042"/>
      </geometry>
    </collision>
    <visual name="strike_1550_wall_n_vis">
      <origin xyz="-0.6865 0.129 1.55" rpy="0 0 0"/>
      <geometry>
        <box size="0.15 0.222 0.042"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="strike_1550_wall_n_col">
      <origin xyz="-0.6865 0.129 1.55" rpy="0 0 0"/>
      <geometry>
        <box size="0.15 0.222 0.042"/>
      </geometry>
    </collision>
    <visual name="strike_1550_wall_p_vis">
      <origin xyz="-0.6865 -0.049 1.55" rpy="0 0 0"/>
      <geometry>
        <box size="0.15 0.062 0.042"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="strike_1550_wall_p_col">
      <origin xyz="-0.6865 -0.049 1.55" rpy="0 0 0"/>
      <geometry>
        <box size="0.15 0.062 0.042"/>
      </geometry>
    </collision>
    <visual name="strike_1550_back_vis">
      <origin xyz="-0.721 0 1.55" rpy="0 0 0"/>
      <geometry>
        <box size="0.081 0.036 0.042"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="strike_1550_back_col">
      <origin xyz="-0.721 0 1.55" rpy="0 0 0"/>
      <geometry>
        <box size="0.081 0.036 0.042"/>
      </geometry>
    </collision>
    <visual name="jamb_strike_0_vis">
      <origin xyz="-0.6865 0.08 0.2645" rpy="0 0 0"/>
      <geometry>
        <box size="0.15 0.32 0.529"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_strike_0_col">
      <origin xyz="-0.6865 0.08 0.2645" rpy="0 0 0"/>
      <geometry>
        <box size="0.15 0.32 0.529"/>
      </geometry>
    </collision>
    <visual name="jamb_strike_1_vis">
      <origin xyz="-0.6865 0.08 1.05" rpy="0 0 0"/>
      <geometry>
        <box size="0.15 0.32 0.958"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_strike_1_col">
      <origin xyz="-0.6865 0.08 1.05" rpy="0 0 0"/>
      <geometry>
        <box size="0.15 0.32 0.958"/>
      </geometry>
    </collision>
    <visual name="jamb_strike_2_vis">
      <origin xyz="-0.6865 0.08 1.8205" rpy="0 0 0"/>
      <geometry>
        <box size="0.15 0.32 0.499"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_strike_2_col">
      <origin xyz="-0.6865 0.08 1.8205" rpy="0 0 0"/>
      <geometry>
        <box size="0.15 0.32 0.499"/>
      </geometry>
    </collision>
    <visual name="jamb_head_vis">
      <origin xyz="-0.015 0.08 2.13" rpy="0 0 0"/>
      <geometry>
        <box size="1.493 0.32 0.12"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_head_col">
      <origin xyz="-0.015 0.08 2.13" rpy="0 0 0"/>
      <geometry>
        <box size="1.493 0.32 0.12"/>
      </geometry>
    </collision>
    <visual name="head_stud_vis">
      <origin xyz="-0.015 0.08 2.205" rpy="0 0 0"/>
      <geometry>
        <box size="1.493 0.32 0.03"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="head_stud_col">
      <origin xyz="-0.015 0.08 2.205" rpy="0 0 0"/>
      <geometry>
        <box size="1.493 0.32 0.03"/>
      </geometry>
    </collision>
    <visual name="stop_hinge_vis">
      <origin xyz="0.606 0.0765 1.035" rpy="0 0 0"/>
      <geometry>
        <box size="0.011 0.032 2.07"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="stop_hinge_col">
      <origin xyz="0.606 0.0765 1.035" rpy="0 0 0"/>
      <geometry>
        <box size="0.011 0.032 2.07"/>
      </geometry>
    </collision>
    <visual name="stop_strike_vis">
      <origin xyz="-0.606 0.0765 1.035" rpy="0 0 0"/>
      <geometry>
        <box size="0.011 0.032 2.07"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="stop_strike_col">
      <origin xyz="-0.606 0.0765 1.035" rpy="0 0 0"/>
      <geometry>
        <box size="0.011 0.032 2.07"/>
      </geometry>
    </collision>
    <visual name="stop_head_vis">
      <origin xyz="0 0.0765 2.0645" rpy="0 0 0"/>
      <geometry>
        <box size="1.223 0.032 0.011"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="stop_head_col">
      <origin xyz="0 0.0765 2.0645" rpy="0 0 0"/>
      <geometry>
        <box size="1.223 0.032 0.011"/>
      </geometry>
    </collision>
    <visual name="sill_step_vis">
      <origin xyz="0 0 0.02" rpy="0 0 0"/>
      <geometry>
        <box size="1.463 0.32 0.04"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="sill_step_col">
      <origin xyz="0 0 0.02" rpy="0 0 0"/>
      <geometry>
        <box size="1.463 0.32 0.04"/>
      </geometry>
    </collision>
    <visual name="hinge_0_bracket_b_vis">
      <origin xyz="0.6055 -0.1125 0.18" rpy="0 0 0"/>
      <geometry>
        <box size="0.1 0.065 0.1"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="hinge_0_bracket_t_vis">
      <origin xyz="0.6055 -0.1125 0.52" rpy="0 0 0"/>
      <geometry>
        <box size="0.1 0.065 0.1"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="hinge_1_bracket_b_vis">
      <origin xyz="0.6055 -0.1125 0.88" rpy="0 0 0"/>
      <geometry>
        <box size="0.1 0.065 0.1"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="hinge_1_bracket_t_vis">
      <origin xyz="0.6055 -0.1125 1.22" rpy="0 0 0"/>
      <geometry>
        <box size="0.1 0.065 0.1"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="hinge_2_bracket_b_vis">
      <origin xyz="0.6055 -0.1125 1.58" rpy="0 0 0"/>
      <geometry>
        <box size="0.1 0.065 0.1"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="hinge_2_bracket_t_vis">
      <origin xyz="0.6055 -0.1125 1.92" rpy="0 0 0"/>
      <geometry>
        <box size="0.1 0.065 0.1"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
  </link>
  <link name="leaf">
    <inertial>
      <origin xyz="-0.568924 0.118598 1.05" rpy="0 0 0"/>
      <mass value="1167.443243"/>
      <inertia ixx="390.999261534" ixy="3.809586028" ixz="0" iyy="539.457193103" iyz="0" izz="152.733604314"/>
    </inertial>
    <visual name="leaf_slab_vis">
      <origin xyz="-0.6 0.125 1.05" rpy="0 0 0"/>
      <geometry>
        <box size="1.2 0.12 2"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <collision name="leaf_slab_col">
      <origin xyz="-0.6 0.125 1.05" rpy="0 0 0"/>
      <geometry>
        <box size="1.2 0.12 2"/>
      </geometry>
    </collision>
    <visual name="hinge_0_vis">
      <origin xyz="0 0 0.35" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.04" length="0.24"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="hinge_0_arm_vis">
      <origin xyz="-0.11 0.025 0.35" rpy="0 0 0"/>
      <geometry>
        <box size="0.22 0.08 0.1"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="hinge_1_vis">
      <origin xyz="0 0 1.05" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.04" length="0.24"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="hinge_1_arm_vis">
      <origin xyz="-0.11 0.025 1.05" rpy="0 0 0"/>
      <geometry>
        <box size="0.22 0.08 0.1"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="hinge_2_vis">
      <origin xyz="0 0 1.75" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.04" length="0.24"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="hinge_2_arm_vis">
      <origin xyz="-0.11 0.025 1.75" rpy="0 0 0"/>
      <geometry>
        <box size="0.22 0.08 0.1"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
  </link>
  <link name="dog_0">
    <inertial>
      <origin xyz="0.138181 -0.112433 0" rpy="0 0 0"/>
      <mass value="4.666646"/>
      <inertia ixx="0.002110864" ixy="0.004879484" ixz="0" iyy="0.056543359" iyz="0" izz="0.05779918"/>
    </inertial>
    <visual name="dog_0_lever_vis">
      <origin xyz="0 -0.06 0" rpy="-1.570796 0 3.141593"/>
      <geometry>
        <mesh filename="../../hardware/lever_c7a1f2892f.obj"/>
      </geometry>
      <material name="mat_op_nickel_satin"/>
    </visual>
    <collision name="dog_0_lever_col_col">
      <origin xyz="0.15 -0.12 0" rpy="0 1.570796 0"/>
      <geometry>
        <cylinder radius="0.015" length="0.28"/>
      </geometry>
    </collision>
  </link>
  <link name="bolt_0">
    <inertial>
      <origin xyz="0.0185 0 0" rpy="0 0 0"/>
      <mass value="0.961733"/>
      <inertia ixx="0.000119654" ixy="0" ixz="0" iyy="0.001933164" iyz="0" izz="0.001933164"/>
    </inertial>
    <visual name="bolt_0_geom_vis">
      <origin xyz="0.0185 0 0" rpy="0 -1.570796 0"/>
      <geometry>
        <cylinder radius="0.016" length="0.131"/>
      </geometry>
      <material name="mat_vault_bolt"/>
    </visual>
    <collision name="bolt_0_geom_col">
      <origin xyz="0.0185 0 0" rpy="0 -1.570796 0"/>
      <geometry>
        <cylinder radius="0.016" length="0.131"/>
      </geometry>
    </collision>
  </link>
  <link name="dog_1">
    <inertial>
      <origin xyz="0.138181 -0.112433 0" rpy="0 0 0"/>
      <mass value="4.666646"/>
      <inertia ixx="0.002110864" ixy="0.004879484" ixz="0" iyy="0.056543359" iyz="0" izz="0.05779918"/>
    </inertial>
    <visual name="dog_1_lever_vis">
      <origin xyz="0 -0.06 0" rpy="-1.570796 0 3.141593"/>
      <geometry>
        <mesh filename="../../hardware/lever_c7a1f2892f.obj"/>
      </geometry>
      <material name="mat_op_nickel_satin"/>
    </visual>
    <collision name="dog_1_lever_col_col">
      <origin xyz="0.15 -0.12 0" rpy="0 1.570796 0"/>
      <geometry>
        <cylinder radius="0.015" length="0.28"/>
      </geometry>
    </collision>
  </link>
  <link name="bolt_1">
    <inertial>
      <origin xyz="0.0185 0 0" rpy="0 0 0"/>
      <mass value="0.961733"/>
      <inertia ixx="0.000119654" ixy="0" ixz="0" iyy="0.001933164" iyz="0" izz="0.001933164"/>
    </inertial>
    <visual name="bolt_1_geom_vis">
      <origin xyz="0.0185 0 0" rpy="0 -1.570796 0"/>
      <geometry>
        <cylinder radius="0.016" length="0.131"/>
      </geometry>
      <material name="mat_vault_bolt"/>
    </visual>
    <collision name="bolt_1_geom_col">
      <origin xyz="0.0185 0 0" rpy="0 -1.570796 0"/>
      <geometry>
        <cylinder radius="0.016" length="0.131"/>
      </geometry>
    </collision>
  </link>
  <joint name="leaf_hinge" type="revolute">
    <origin xyz="0.6055 -0.125 0" rpy="0 0 0"/>
    <parent link="world_env"/>
    <child link="leaf"/>
    <axis xyz="0 0 1"/>
    <limit lower="0" upper="1.745329" effort="2000" velocity="10"/>
    <dynamics damping="0.798984" friction="44.014064"/>
    <doorbench:closer damping_closing="0" damping_opening="0" backcheck_angle="0" backcheck_damping="0"/>
  </joint>
  <joint name="dog_0_hinge" type="revolute">
    <origin xyz="-1.08 0.125 0.55" rpy="0 0 0"/>
    <parent link="leaf"/>
    <child link="dog_0"/>
    <axis xyz="0 1 0"/>
    <limit lower="0" upper="1.5708" effort="2000" velocity="10"/>
    <dynamics damping="1" friction="6"/>
  </joint>
  <joint name="bolt_0_slide" type="prismatic">
    <origin xyz="-1.2 0.125 0.55" rpy="0 0 0"/>
    <parent link="leaf"/>
    <child link="bolt_0"/>
    <axis xyz="1 0 0"/>
    <limit lower="0" upper="0.063" effort="5000" velocity="10"/>
    <dynamics damping="20" friction="25"/>
    <mimic joint="dog_0_hinge" multiplier="0.040107" offset="0"/>
  </joint>
  <joint name="dog_1_hinge" type="revolute">
    <origin xyz="-1.08 0.125 1.55" rpy="0 0 0"/>
    <parent link="leaf"/>
    <child link="dog_1"/>
    <axis xyz="0 1 0"/>
    <limit lower="0" upper="1.5708" effort="2000" velocity="10"/>
    <dynamics damping="1" friction="6"/>
  </joint>
  <joint name="bolt_1_slide" type="prismatic">
    <origin xyz="-1.2 0.125 1.55" rpy="0 0 0"/>
    <parent link="leaf"/>
    <child link="bolt_1"/>
    <axis xyz="1 0 0"/>
    <limit lower="0" upper="0.063" effort="5000" velocity="10"/>
    <dynamics damping="20" friction="25"/>
    <mimic joint="dog_1_hinge" multiplier="0.040107" offset="0"/>
  </joint>
  <material name="mat_floor">
    <color rgba="0.55 0.53 0.5 1"/>
  </material>
  <material name="mat_frame">
    <color rgba="0.55 0.56 0.58 1"/>
  </material>
  <material name="mat_hinge">
    <color rgba="0.55 0.56 0.58 1"/>
  </material>
  <material name="mat_leaf">
    <color rgba="0.5 0.51 0.53 1"/>
  </material>
  <material name="mat_op_nickel_satin">
    <color rgba="0.72 0.7 0.66 1"/>
  </material>
  <material name="mat_vault_bolt">
    <color rgba="0.75 0.76 0.77 1"/>
  </material>
  <material name="mat_wall">
    <color rgba="0.78 0.76 0.7 1"/>
  </material>
</robot>
