<?xml version="1.0" ?>
<robot xmlns:doorbench="https://github.com/adamraudonis/DoorBench/schema/urdf-ext" name="db0391_dutch_simple">
  <link name="world_env">
    <visual name="floor_vis">
      <origin xyz="0 0 -0.05" rpy="0 0 0"/>
      <geometry>
        <box size="12 12 0.1"/>
      </geometry>
      <material name="mat_floor"/>
    </visual>
    <collision name="floor_col">
      <origin xyz="0 0 -0.05" rpy="0 0 0"/>
      <geometry>
        <box size="12 12 0.1"/>
      </geometry>
    </collision>
    <visual name="wall_left_vis">
      <origin xyz="-1.452 -0.0305 1.3735" rpy="0 0 0"/>
      <geometry>
        <box size="2.096 0.145 2.747"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_left_col">
      <origin xyz="-1.452 -0.0305 1.3735" rpy="0 0 0"/>
      <geometry>
        <box size="2.096 0.145 2.747"/>
      </geometry>
    </collision>
    <visual name="wall_right_vis">
      <origin xyz="1.467 -0.0305 1.3735" rpy="0 0 0"/>
      <geometry>
        <box size="2.066 0.145 2.747"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_right_col">
      <origin xyz="1.467 -0.0305 1.3735" rpy="0 0 0"/>
      <geometry>
        <box size="2.066 0.145 2.747"/>
      </geometry>
    </collision>
    <visual name="wall_header_vis">
      <origin xyz="0.015 -0.0305 2.4715" rpy="0 0 0"/>
      <geometry>
        <box size="0.838 0.145 0.551"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_header_col">
      <origin xyz="0.015 -0.0305 2.4715" rpy="0 0 0"/>
      <geometry>
        <box size="0.838 0.145 0.551"/>
      </geometry>
    </collision>
    <visual name="jamb_hinge_vis">
      <origin xyz="-0.3945 -0.0305 1.0735" rpy="0 0 0"/>
      <geometry>
        <box size="0.019 0.145 2.147"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_hinge_col">
      <origin xyz="-0.3945 -0.0305 1.0735" rpy="0 0 0"/>
      <geometry>
        <box size="0.019 0.145 2.147"/>
      </geometry>
    </collision>
    <visual name="strike_965_wall_n_vis">
      <origin xyz="0.4095 -0.055425 0.965" rpy="0 0 0"/>
      <geometry>
        <box size="0.049 0.09515 0.0334"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="strike_965_wall_n_col">
      <origin xyz="0.4095 -0.055425 0.965" rpy="0 0 0"/>
      <geometry>
        <box size="0.049 0.09515 0.0334"/>
      </geometry>
    </collision>
    <visual name="strike_965_wall_p_vis">
      <origin xyz="0.4095 0.01585 0.965" rpy="0 0 0"/>
      <geometry>
        <box size="0.049 0.016 0.0334"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="strike_965_wall_p_col">
      <origin xyz="0.4095 0.01585 0.965" rpy="0 0 0"/>
      <geometry>
        <box size="0.049 0.016 0.0334"/>
      </geometry>
    </collision>
    <visual name="strike_965_ramp_vis">
      <origin xyz="0.414908 0.034645 0.965" rpy="0 0 -0.344766"/>
      <geometry>
        <box size="0.049 0.040535 0.0334"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="strike_965_ramp_col">
      <origin xyz="0.414908 0.034645 0.965" rpy="0 0 -0.344766"/>
      <geometry>
        <box size="0.049 0.040535 0.0334"/>
      </geometry>
    </collision>
    <visual name="strike_965_back_vis">
      <origin xyz="0.41785 0 0.965" rpy="0 0 0"/>
      <geometry>
        <box size="0.0323 0.0157 0.0334"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="strike_965_back_col">
      <origin xyz="0.41785 0 0.965" rpy="0 0 0"/>
      <geometry>
        <box size="0.0323 0.0157 0.0334"/>
      </geometry>
    </collision>
    <visual name="strike_1654_wall_n_vis">
      <origin xyz="0.4095 -0.05525 1.654" rpy="0 0 0"/>
      <geometry>
        <box size="0.049 0.0955 0.02"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="strike_1654_wall_n_col">
      <origin xyz="0.4095 -0.05525 1.654" rpy="0 0 0"/>
      <geometry>
        <box size="0.049 0.0955 0.02"/>
      </geometry>
    </collision>
    <visual name="strike_1654_wall_p_vis">
      <origin xyz="0.4095 0.0155 1.654" rpy="0 0 0"/>
      <geometry>
        <box size="0.049 0.016 0.02"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="strike_1654_wall_p_col">
      <origin xyz="0.4095 0.0155 1.654" rpy="0 0 0"/>
      <geometry>
        <box size="0.049 0.016 0.02"/>
      </geometry>
    </collision>
    <visual name="strike_1654_ramp_vis">
      <origin xyz="0.411796 0.039595 1.654" rpy="0 0 -0.129147"/>
      <geometry>
        <box size="0.049 0.038823 0.02"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="strike_1654_ramp_col">
      <origin xyz="0.411796 0.039595 1.654" rpy="0 0 -0.129147"/>
      <geometry>
        <box size="0.049 0.038823 0.02"/>
      </geometry>
    </collision>
    <visual name="strike_1654_ramp_n_vis">
      <origin xyz="0.411796 -0.027595 1.654" rpy="0 0 0.129147"/>
      <geometry>
        <box size="0.049 0.038823 0.02"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="strike_1654_ramp_n_col">
      <origin xyz="0.411796 -0.027595 1.654" rpy="0 0 0.129147"/>
      <geometry>
        <box size="0.049 0.038823 0.02"/>
      </geometry>
    </collision>
    <visual name="strike_1654_back_vis">
      <origin xyz="0.4135 0 1.654" rpy="0 0 0"/>
      <geometry>
        <box size="0.041 0.015 0.02"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="strike_1654_back_col">
      <origin xyz="0.4135 0 1.654" rpy="0 0 0"/>
      <geometry>
        <box size="0.041 0.015 0.02"/>
      </geometry>
    </collision>
    <visual name="jamb_strike_0_vis">
      <origin xyz="0.4095 -0.0305 0.47415" rpy="0 0 0"/>
      <geometry>
        <box size="0.049 0.145 0.9483"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_strike_0_col">
      <origin xyz="0.4095 -0.0305 0.47415" rpy="0 0 0"/>
      <geometry>
        <box size="0.049 0.145 0.9483"/>
      </geometry>
    </collision>
    <visual name="jamb_strike_1_vis">
      <origin xyz="0.4095 -0.0305 1.31285" rpy="0 0 0"/>
      <geometry>
        <box size="0.049 0.145 0.6623"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_strike_1_col">
      <origin xyz="0.4095 -0.0305 1.31285" rpy="0 0 0"/>
      <geometry>
        <box size="0.049 0.145 0.6623"/>
      </geometry>
    </collision>
    <visual name="jamb_strike_2_vis">
      <origin xyz="0.4095 -0.0305 1.9055" rpy="0 0 0"/>
      <geometry>
        <box size="0.049 0.145 0.483"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_strike_2_col">
      <origin xyz="0.4095 -0.0305 1.9055" rpy="0 0 0"/>
      <geometry>
        <box size="0.049 0.145 0.483"/>
      </geometry>
    </collision>
    <visual name="jamb_head_vis">
      <origin xyz="0.015 -0.0305 2.1565" rpy="0 0 0"/>
      <geometry>
        <box size="0.838 0.145 0.019"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_head_col">
      <origin xyz="0.015 -0.0305 2.1565" rpy="0 0 0"/>
      <geometry>
        <box size="0.838 0.145 0.019"/>
      </geometry>
    </collision>
    <visual name="head_stud_vis">
      <origin xyz="0.015 -0.0305 2.181" rpy="0 0 0"/>
      <geometry>
        <box size="0.838 0.145 0.03"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="head_stud_col">
      <origin xyz="0.015 -0.0305 2.181" rpy="0 0 0"/>
      <geometry>
        <box size="0.838 0.145 0.03"/>
      </geometry>
    </collision>
    <visual name="stop_hinge_vis">
      <origin xyz="-0.3795 -0.0385 1.0735" rpy="0 0 0"/>
      <geometry>
        <box size="0.011 0.032 2.147"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="stop_hinge_col">
      <origin xyz="-0.3795 -0.0385 1.0735" rpy="0 0 0"/>
      <geometry>
        <box size="0.011 0.032 2.147"/>
      </geometry>
    </collision>
    <visual name="stop_strike_vis">
      <origin xyz="0.3795 -0.0385 1.0735" rpy="0 0 0"/>
      <geometry>
        <box size="0.011 0.032 2.147"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="stop_strike_col">
      <origin xyz="0.3795 -0.0385 1.0735" rpy="0 0 0"/>
      <geometry>
        <box size="0.011 0.032 2.147"/>
      </geometry>
    </collision>
    <visual name="stop_head_vis">
      <origin xyz="0 -0.0385 2.1415" rpy="0 0 0"/>
      <geometry>
        <box size="0.77 0.032 0.011"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="stop_head_col">
      <origin xyz="0 -0.0385 2.1415" rpy="0 0 0"/>
      <geometry>
        <box size="0.77 0.032 0.011"/>
      </geometry>
    </collision>
  </link>
  <link name="leaf_lower">
    <inertial>
      <origin xyz="0.10652 0.007194 1.099093" rpy="0 0 0"/>
      <mass value="1.190709"/>
      <inertia ixx="0.411540989" ixy="0.000946017" ixz="0.003594063" iyy="0.474417127" iyz="-0.000808901" izz="0.063352268"/>
    </inertial>
    <visual name="leaf_lower_slab_vis">
      <origin xyz="0.381 -0.029 0.591" rpy="0 0 0"/>
      <geometry>
        <box size="0.762 0.044 1.158"/>
      </geometry>
      <material name="mat_leaf_lower"/>
    </visual>
    <collision name="leaf_lower_slab_col">
      <origin xyz="0.381 -0.029 0.591" rpy="0 0 0"/>
      <geometry>
        <box size="0.762 0.044 1.158"/>
      </geometry>
    </collision>
    <visual name="leaf_lower_glass_0_vis">
      <origin xyz="0.177 -0.029 0.7" rpy="0 0 0"/>
      <geometry>
        <box size="0.174 0.0456 0.128"/>
      </geometry>
      <material name="mat_glass"/>
    </visual>
    <visual name="leaf_lower_glass_1_vis">
      <origin xyz="0.381 -0.029 0.7" rpy="0 0 0"/>
      <geometry>
        <box size="0.174 0.0456 0.128"/>
      </geometry>
      <material name="mat_glass"/>
    </visual>
    <visual name="leaf_lower_glass_2_vis">
      <origin xyz="0.585 -0.029 0.7" rpy="0 0 0"/>
      <geometry>
        <box size="0.174 0.0456 0.128"/>
      </geometry>
      <material name="mat_glass"/>
    </visual>
    <visual name="leaf_lower_glass_3_vis">
      <origin xyz="0.177 -0.029 0.858" rpy="0 0 0"/>
      <geometry>
        <box size="0.174 0.0456 0.128"/>
      </geometry>
      <material name="mat_glass"/>
    </visual>
    <visual name="leaf_lower_glass_4_vis">
      <origin xyz="0.381 -0.029 0.858" rpy="0 0 0"/>
      <geometry>
        <box size="0.174 0.0456 0.128"/>
      </geometry>
      <material name="mat_glass"/>
    </visual>
    <visual name="leaf_lower_glass_5_vis">
      <origin xyz="0.585 -0.029 0.858" rpy="0 0 0"/>
      <geometry>
        <box size="0.174 0.0456 0.128"/>
      </geometry>
      <material name="mat_glass"/>
    </visual>
    <visual name="leaf_lower_glass_6_vis">
      <origin xyz="0.177 -0.029 1.016" rpy="0 0 0"/>
      <geometry>
        <box size="0.174 0.0456 0.128"/>
      </geometry>
      <material name="mat_glass"/>
    </visual>
    <visual name="leaf_lower_glass_7_vis">
      <origin xyz="0.381 -0.029 1.016" rpy="0 0 0"/>
      <geometry>
        <box size="0.174 0.0456 0.128"/>
      </geometry>
      <material name="mat_glass"/>
    </visual>
    <visual name="leaf_lower_glass_8_vis">
      <origin xyz="0.585 -0.029 1.016" rpy="0 0 0"/>
      <geometry>
        <box size="0.174 0.0456 0.128"/>
      </geometry>
      <material name="mat_glass"/>
    </visual>
    <visual name="join_keeper_n_vis">
      <origin xyz="0.628 0.005 1.144" rpy="0 0 0"/>
      <geometry>
        <box size="0.01 0.024 0.04"/>
      </geometry>
      <material name="mat_joinbolt"/>
    </visual>
    <collision name="join_keeper_n_col">
      <origin xyz="0.628 0.005 1.144" rpy="0 0 0"/>
      <geometry>
        <box size="0.01 0.024 0.04"/>
      </geometry>
    </collision>
    <visual name="join_keeper_p_vis">
      <origin xyz="0.656 0.005 1.144" rpy="0 0 0"/>
      <geometry>
        <box size="0.01 0.024 0.04"/>
      </geometry>
      <material name="mat_joinbolt"/>
    </visual>
    <collision name="join_keeper_p_col">
      <origin xyz="0.656 0.005 1.144" rpy="0 0 0"/>
      <geometry>
        <box size="0.01 0.024 0.04"/>
      </geometry>
    </collision>
    <visual name="hinge_0_vis">
      <origin xyz="-0.003 0 0.262" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../../hardware/hinge_7a316c6d01.obj"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="hinge_1_vis">
      <origin xyz="-0.003 0 0.83" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../../hardware/hinge_7a316c6d01.obj"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="hinge_2_vis">
      <origin xyz="-0.003 0 1.398" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../../hardware/hinge_7a316c6d01.obj"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="hinge_3_vis">
      <origin xyz="-0.003 0 1.966" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../../hardware/hinge_7a316c6d01.obj"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
  </link>
  <link name="leaf_upper">
    <inertial>
      <origin xyz="0.381 -0.029 1.693598" rpy="0 0 0"/>
      <mass value="0.038789"/>
      <inertia ixx="0.002782851" ixy="0" ixz="0" iyy="0.004531337" iyz="0" izz="0.001761163"/>
    </inertial>
    <visual name="leaf_upper_slab_vis">
      <origin xyz="0.381 -0.029 1.656" rpy="0 0 0"/>
      <geometry>
        <box size="0.762 0.044 0.956"/>
      </geometry>
      <material name="mat_leaf_upper"/>
    </visual>
    <collision name="leaf_upper_slab_col">
      <origin xyz="0.381 -0.029 1.656" rpy="0 0 0"/>
      <geometry>
        <box size="0.762 0.044 0.956"/>
      </geometry>
    </collision>
    <visual name="leaf_upper_glass_0_vis">
      <origin xyz="0.177 -0.029 1.748167" rpy="0 0 0"/>
      <geometry>
        <box size="0.174 0.0456 0.094333"/>
      </geometry>
      <material name="mat_glass"/>
    </visual>
    <visual name="leaf_upper_glass_1_vis">
      <origin xyz="0.381 -0.029 1.748167" rpy="0 0 0"/>
      <geometry>
        <box size="0.174 0.0456 0.094333"/>
      </geometry>
      <material name="mat_glass"/>
    </visual>
    <visual name="leaf_upper_glass_2_vis">
      <origin xyz="0.585 -0.029 1.748167" rpy="0 0 0"/>
      <geometry>
        <box size="0.174 0.0456 0.094333"/>
      </geometry>
      <material name="mat_glass"/>
    </visual>
    <visual name="leaf_upper_glass_3_vis">
      <origin xyz="0.177 -0.029 1.8725" rpy="0 0 0"/>
      <geometry>
        <box size="0.174 0.0456 0.094333"/>
      </geometry>
      <material name="mat_glass"/>
    </visual>
    <visual name="leaf_upper_glass_4_vis">
      <origin xyz="0.381 -0.029 1.8725" rpy="0 0 0"/>
      <geometry>
        <box size="0.174 0.0456 0.094333"/>
      </geometry>
      <material name="mat_glass"/>
    </visual>
    <visual name="leaf_upper_glass_5_vis">
      <origin xyz="0.585 -0.029 1.8725" rpy="0 0 0"/>
      <geometry>
        <box size="0.174 0.0456 0.094333"/>
      </geometry>
      <material name="mat_glass"/>
    </visual>
    <visual name="leaf_upper_glass_6_vis">
      <origin xyz="0.177 -0.029 1.996833" rpy="0 0 0"/>
      <geometry>
        <box size="0.174 0.0456 0.094333"/>
      </geometry>
      <material name="mat_glass"/>
    </visual>
    <visual name="leaf_upper_glass_7_vis">
      <origin xyz="0.381 -0.029 1.996833" rpy="0 0 0"/>
      <geometry>
        <box size="0.174 0.0456 0.094333"/>
      </geometry>
      <material name="mat_glass"/>
    </visual>
    <visual name="leaf_upper_glass_8_vis">
      <origin xyz="0.585 -0.029 1.996833" rpy="0 0 0"/>
      <geometry>
        <box size="0.174 0.0456 0.094333"/>
      </geometry>
      <material name="mat_glass"/>
    </visual>
  </link>
  <link name="lower_handle">
    <inertial>
      <origin xyz="-0.030188 0 0" rpy="0 0 0"/>
      <mass value="0.924918"/>
      <inertia ixx="0.003587995" ixy="0" ixz="0" iyy="0.001725188" iyz="0" izz="0.005135939"/>
    </inertial>
    <visual name="lower_handle_lever_n_vis">
      <origin xyz="0 -0.022 0" rpy="1.570796 0 0"/>
      <geometry>
        <mesh filename="../../hardware/lever_9f02b544cf.obj"/>
      </geometry>
      <material name="mat_op_nickel_satin"/>
    </visual>
    <collision name="lower_handle_lever_col_n_col">
      <origin xyz="-0.0625 -0.077 0" rpy="0 -1.570796 0"/>
      <geometry>
        <cylinder radius="0.0095" length="0.106"/>
      </geometry>
    </collision>
    <collision name="lower_handle_hub_col_n_col">
      <origin xyz="0 -0.052 0" rpy="-1.570796 0 0"/>
      <geometry>
        <cylinder radius="0.012" length="0.044"/>
      </geometry>
    </collision>
    <visual name="lower_handle_lever_p_vis">
      <origin xyz="0 0.022 0" rpy="-1.570796 0 0"/>
      <geometry>
        <mesh filename="../../hardware/lever_9f02b544cf.obj"/>
      </geometry>
      <material name="mat_op_nickel_satin"/>
    </visual>
    <collision name="lower_handle_lever_col_p_col">
      <origin xyz="-0.0625 0.077 0" rpy="0 -1.570796 0"/>
      <geometry>
        <cylinder radius="0.0095" length="0.106"/>
      </geometry>
    </collision>
    <collision name="lower_handle_hub_col_p_col">
      <origin xyz="0 0.052 0" rpy="-1.570796 0 0"/>
      <geometry>
        <cylinder radius="0.012" length="0.044"/>
      </geometry>
    </collision>
  </link>
  <link name="lower_latch_bolt">
    <inertial>
      <origin xyz="-0.00865 0 0" rpy="0 0 0"/>
      <mass value="0.041419"/>
      <inertia ixx="0.000000798" ixy="0" ixz="0" iyy="0.000005598" iyz="0" izz="0.000005598"/>
    </inertial>
    <visual name="lower_latch_bolt_capsule_vis">
      <origin xyz="-0.00865 0 0" rpy="0 1.570796 0"/>
      <geometry>
        <cylinder radius="0.00635" length="0.03"/>
      </geometry>
      <material name="mat_bolt"/>
    </visual>
    <collision name="lower_latch_bolt_capsule_col">
      <origin xyz="-0.00865 0 0" rpy="0 1.570796 0"/>
      <geometry>
        <cylinder radius="0.00635" length="0.03"/>
      </geometry>
    </collision>
  </link>
  <link name="upper_catch">
    <inertial>
      <origin xyz="-0.013 0 0" rpy="0 0 0"/>
      <mass value="0.02884"/>
      <inertia ixx="0.000000491" ixy="0" ixz="0" iyy="0.000002465" iyz="0" izz="0.000002465"/>
    </inertial>
    <visual name="upper_catch_capsule_vis">
      <origin xyz="-0.013 0 0" rpy="0 1.570796 0"/>
      <geometry>
        <cylinder radius="0.006" length="0.022"/>
      </geometry>
      <material name="mat_bolt"/>
    </visual>
    <collision name="upper_catch_capsule_col">
      <origin xyz="-0.013 0 0" rpy="0 1.570796 0"/>
      <geometry>
        <cylinder radius="0.006" length="0.022"/>
      </geometry>
    </collision>
  </link>
  <link name="join_bolt">
    <inertial>
      <origin xyz="0 0.002743 0.021429" rpy="0 0 0"/>
      <mass value="0.124294"/>
      <inertia ixx="0.00015491" ixy="0" ixz="0" iyy="0.000149517" iyz="-0.00001315" izz="0.000007579"/>
    </inertial>
    <visual name="join_bolt_rod_vis">
      <origin xyz="0 0 0.01" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.006" length="0.1"/>
      </geometry>
      <material name="mat_joinbolt"/>
    </visual>
    <collision name="join_bolt_rod_col">
      <origin xyz="0 0 0.01" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.006" length="0.1"/>
      </geometry>
    </collision>
    <visual name="join_bolt_knob_vis">
      <origin xyz="0 0.012 0.06" rpy="-1.570796 0 0"/>
      <geometry>
        <cylinder radius="0.006" length="0.024"/>
      </geometry>
      <material name="mat_joinbolt"/>
    </visual>
    <collision name="join_bolt_knob_col">
      <origin xyz="0 0.012 0.06" rpy="-1.570796 0 0"/>
      <geometry>
        <cylinder radius="0.006" length="0.024"/>
      </geometry>
    </collision>
  </link>
  <joint name="leaf_lower_hinge" type="revolute">
    <origin xyz="-0.382 0.029 0" rpy="0 0 0"/>
    <parent link="world_env"/>
    <child link="leaf_lower"/>
    <axis xyz="0 0 1"/>
    <limit lower="0" upper="2.792527" effort="2000" velocity="10"/>
    <dynamics damping="0.179937" friction="0.674578"/>
    <doorbench:closer damping_closing="0" damping_opening="0" backcheck_angle="0" backcheck_damping="0"/>
  </joint>
  <joint name="leaf_upper_hinge" type="revolute">
    <origin xyz="-0.382 0.029 0" rpy="0 0 0"/>
    <parent link="world_env"/>
    <child link="leaf_upper"/>
    <axis xyz="0 0 1"/>
    <limit lower="0" upper="2.792527" effort="2000" velocity="10"/>
    <dynamics damping="0.179937" friction="0.674578"/>
    <doorbench:closer damping_closing="0" damping_opening="0" backcheck_angle="0" backcheck_damping="0"/>
  </joint>
  <joint name="lower_handle_hinge" type="revolute">
    <origin xyz="0.692 -0.029 0.965" rpy="0 0 0"/>
    <parent link="leaf_lower"/>
    <child link="lower_handle"/>
    <axis xyz="0 -1 0"/>
    <limit lower="0" upper="0.96" effort="2000" velocity="10"/>
    <dynamics damping="0.02" friction="0.048"/>
    <doorbench:spring stiffness="1.2" springref="-0.375" note="tau = -stiffness*(q - springref); not native URDF"/>
  </joint>
  <joint name="lower_latch_bolt_slide" type="prismatic">
    <origin xyz="0.762 -0.029 0.965" rpy="0 0 0"/>
    <parent link="leaf_lower"/>
    <child link="lower_latch_bolt"/>
    <axis xyz="-1 0 0"/>
    <limit lower="0" upper="0.0127" effort="5000" velocity="10"/>
    <dynamics damping="2" friction="0.3"/>
    <doorbench:spring stiffness="300" springref="-0.008333" note="tau = -stiffness*(q - springref); not native URDF"/>
    <mimic joint="lower_handle_hinge" multiplier="0.013956" offset="0"/>
    <doorbench:coupling one_sided="true" note="MJCF uses a one-sided tendon (bolt may retract further, e.g. riding over the strike lip); mimic is bilateral"/>
  </joint>
  <joint name="upper_catch_slide" type="prismatic">
    <origin xyz="0.762 -0.029 1.654" rpy="0 0 0"/>
    <parent link="leaf_upper"/>
    <child link="upper_catch"/>
    <axis xyz="-1 0 0"/>
    <limit lower="0" upper="0.004" effort="5000" velocity="10"/>
    <dynamics damping="2" friction="0.3"/>
    <doorbench:spring stiffness="4000" springref="-0.00375" note="tau = -stiffness*(q - springref); not native URDF"/>
  </joint>
  <joint name="join_bolt_slide" type="prismatic">
    <origin xyz="0.642 0.005 1.234" rpy="0 0 0"/>
    <parent link="leaf_upper"/>
    <child link="join_bolt"/>
    <axis xyz="0 0 1"/>
    <doorbench:zero_offset value="0.05" note="URDF q=0 is the spec initial state; DoorBench q = urdf_q + value"/>
    <limit lower="-0.05" upper="0" effort="5000" velocity="10"/>
    <dynamics damping="1" friction="1"/>
  </joint>
  <material name="mat_bolt">
    <color rgba="0.85 0.66 0.3 1"/>
  </material>
  <material name="mat_floor">
    <color rgba="0.55 0.53 0.5 1"/>
  </material>
  <material name="mat_frame">
    <color rgba="0.82 0.7 0.5 1"/>
  </material>
  <material name="mat_glass">
    <color rgba="0.85 0.92 0.95 0.25"/>
  </material>
  <material name="mat_hinge">
    <color rgba="0.65 0.66 0.68 1"/>
  </material>
  <material name="mat_joinbolt">
    <color rgba="0.85 0.66 0.3 1"/>
  </material>
  <material name="mat_leaf_lower">
    <color rgba="0.65 0.1 0.1 1"/>
  </material>
  <material name="mat_leaf_upper">
    <color rgba="0.65 0.1 0.1 1"/>
  </material>
  <material name="mat_op_nickel_satin">
    <color rgba="0.72 0.7 0.66 1"/>
  </material>
  <material name="mat_wall">
    <color rgba="0.78 0.76 0.7 1"/>
  </material>
</robot>
