<?xml version="1.0" ?>
<robot xmlns:doorbench="https://github.com/adamraudonis/DoorBench/schema/urdf-ext" name="db0547_swing_single_full">
  <link name="world_env">
    <visual name="floor_vis">
      <origin xyz="0 0 -0.05" rpy="0 0 0"/>
      <geometry>
        <box size="12 12 0.1"/>
      </geometry>
      <material name="mat_floor"/>
    </visual>
    <collision name="floor_col">
      <origin xyz="0 0 -0.05" rpy="0 0 0"/>
      <geometry>
        <box size="12 12 0.1"/>
      </geometry>
    </collision>
    <visual name="wall_left_vis">
      <origin xyz="-1.46675 0.035 1.35" rpy="0 0 0"/>
      <geometry>
        <box size="2.0665 0.145 2.7"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_left_col">
      <origin xyz="-1.46675 0.035 1.35" rpy="0 0 0"/>
      <geometry>
        <box size="2.0665 0.145 2.7"/>
      </geometry>
    </collision>
    <visual name="wall_right_vis">
      <origin xyz="1.45175 0.035 1.35" rpy="0 0 0"/>
      <geometry>
        <box size="2.0965 0.145 2.7"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_right_col">
      <origin xyz="1.45175 0.035 1.35" rpy="0 0 0"/>
      <geometry>
        <box size="2.0965 0.145 2.7"/>
      </geometry>
    </collision>
    <visual name="wall_header_vis">
      <origin xyz="-0.015 0.035 2.3735" rpy="0 0 0"/>
      <geometry>
        <box size="0.837 0.145 0.653"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_header_col">
      <origin xyz="-0.015 0.035 2.3735" rpy="0 0 0"/>
      <geometry>
        <box size="0.837 0.145 0.653"/>
      </geometry>
    </collision>
    <visual name="jamb_hinge_vis">
      <origin xyz="0.394 0.035 0.999" rpy="0 0 0"/>
      <geometry>
        <box size="0.019 0.145 1.998"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_hinge_col">
      <origin xyz="0.394 0.035 0.999" rpy="0 0 0"/>
      <geometry>
        <box size="0.019 0.145 1.998"/>
      </geometry>
    </collision>
    <visual name="strike_965_wall_n_vis">
      <origin xyz="-0.409 0.057675 0.965" rpy="0 0 0"/>
      <geometry>
        <box size="0.049 0.09965 0.0334"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="strike_965_wall_n_col">
      <origin xyz="-0.409 0.057675 0.965" rpy="0 0 0"/>
      <geometry>
        <box size="0.049 0.09965 0.0334"/>
      </geometry>
    </collision>
    <visual name="strike_965_wall_p_vis">
      <origin xyz="-0.409 -0.01585 0.965" rpy="0 0 0"/>
      <geometry>
        <box size="0.049 0.016 0.0334"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="strike_965_wall_p_col">
      <origin xyz="-0.409 -0.01585 0.965" rpy="0 0 0"/>
      <geometry>
        <box size="0.049 0.016 0.0334"/>
      </geometry>
    </collision>
    <visual name="strike_965_ramp_vis">
      <origin xyz="-0.414041 -0.031437 0.965" rpy="0 0 -0.38664"/>
      <geometry>
        <box size="0.049 0.036332 0.0334"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="strike_965_ramp_col">
      <origin xyz="-0.414041 -0.031437 0.965" rpy="0 0 -0.38664"/>
      <geometry>
        <box size="0.049 0.036332 0.0334"/>
      </geometry>
    </collision>
    <visual name="strike_965_back_vis">
      <origin xyz="-0.41735 0 0.965" rpy="0 0 0"/>
      <geometry>
        <box size="0.0323 0.0157 0.0334"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="strike_965_back_col">
      <origin xyz="-0.41735 0 0.965" rpy="0 0 0"/>
      <geometry>
        <box size="0.0323 0.0157 0.0334"/>
      </geometry>
    </collision>
    <visual name="jamb_strike_0_vis">
      <origin xyz="-0.409 0.035 0.47415" rpy="0 0 0"/>
      <geometry>
        <box size="0.049 0.145 0.9483"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_strike_0_col">
      <origin xyz="-0.409 0.035 0.47415" rpy="0 0 0"/>
      <geometry>
        <box size="0.049 0.145 0.9483"/>
      </geometry>
    </collision>
    <visual name="jamb_strike_1_vis">
      <origin xyz="-0.409 0.035 1.48985" rpy="0 0 0"/>
      <geometry>
        <box size="0.049 0.145 1.0163"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_strike_1_col">
      <origin xyz="-0.409 0.035 1.48985" rpy="0 0 0"/>
      <geometry>
        <box size="0.049 0.145 1.0163"/>
      </geometry>
    </collision>
    <visual name="jamb_head_vis">
      <origin xyz="-0.015 0.035 2.0075" rpy="0 0 0"/>
      <geometry>
        <box size="0.837 0.145 0.019"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_head_col">
      <origin xyz="-0.015 0.035 2.0075" rpy="0 0 0"/>
      <geometry>
        <box size="0.837 0.145 0.019"/>
      </geometry>
    </collision>
    <visual name="head_stud_vis">
      <origin xyz="-0.015 0.035 2.032" rpy="0 0 0"/>
      <geometry>
        <box size="0.837 0.145 0.03"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="head_stud_col">
      <origin xyz="-0.015 0.035 2.032" rpy="0 0 0"/>
      <geometry>
        <box size="0.837 0.145 0.03"/>
      </geometry>
    </collision>
    <visual name="stop_hinge_vis">
      <origin xyz="0.379 0.034 0.999" rpy="0 0 0"/>
      <geometry>
        <box size="0.011 0.032 1.998"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="stop_hinge_col">
      <origin xyz="0.379 0.034 0.999" rpy="0 0 0"/>
      <geometry>
        <box size="0.011 0.032 1.998"/>
      </geometry>
    </collision>
    <visual name="stop_strike_vis">
      <origin xyz="-0.379 0.034 0.999" rpy="0 0 0"/>
      <geometry>
        <box size="0.011 0.032 1.998"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="stop_strike_col">
      <origin xyz="-0.379 0.034 0.999" rpy="0 0 0"/>
      <geometry>
        <box size="0.011 0.032 1.998"/>
      </geometry>
    </collision>
    <visual name="stop_head_vis">
      <origin xyz="0 0.034 1.9925" rpy="0 0 0"/>
      <geometry>
        <box size="0.769 0.032 0.011"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="stop_head_col">
      <origin xyz="0 0.034 1.9925" rpy="0 0 0"/>
      <geometry>
        <box size="0.769 0.032 0.011"/>
      </geometry>
    </collision>
    <visual name="casing_l_n_vis">
      <origin xyz="-0.4335 -0.0455 0.999" rpy="0 0 0"/>
      <geometry>
        <box size="0.07 0.016 2.017"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <visual name="casing_r_n_vis">
      <origin xyz="0.4335 -0.0455 0.999" rpy="0 0 0"/>
      <geometry>
        <box size="0.07 0.016 2.017"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <visual name="casing_h_n_vis">
      <origin xyz="0 -0.0455 2.047" rpy="0 0 0"/>
      <geometry>
        <box size="0.937 0.016 0.07"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <visual name="casing_l_p_vis">
      <origin xyz="-0.4335 0.1155 0.999" rpy="0 0 0"/>
      <geometry>
        <box size="0.07 0.016 2.017"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <visual name="casing_r_p_vis">
      <origin xyz="0.4335 0.1155 0.999" rpy="0 0 0"/>
      <geometry>
        <box size="0.07 0.016 2.017"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <visual name="casing_h_p_vis">
      <origin xyz="0 0.1155 2.047" rpy="0 0 0"/>
      <geometry>
        <box size="0.937 0.016 0.07"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
  </link>
  <link name="leaf">
    <inertial>
      <origin xyz="-0.364317 0.023435 1.006867" rpy="0 0 0"/>
      <mass value="11.459401"/>
      <inertia ixx="3.906122924" ixy="0.005761012" ixz="-0.005665124" iyy="4.503097737" iyz="-0.001580818" izz="0.60067619"/>
    </inertial>
    <visual name="leaf_slab_vis">
      <origin xyz="-0.381 0.0245 1.0015" rpy="0 0 0"/>
      <geometry>
        <box size="0.762 0.035 1.985"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <collision name="leaf_slab_col">
      <origin xyz="-0.381 0.0245 1.0015" rpy="0 0 0"/>
      <geometry>
        <box size="0.762 0.035 1.985"/>
      </geometry>
    </collision>
    <visual name="leaf_panel_0_n_vis">
      <origin xyz="-0.381 0.004 0.47525" rpy="0 0 0"/>
      <geometry>
        <box size="0.542 0.006 0.4558"/>
      </geometry>
      <material name="mat_leaf_panel"/>
    </visual>
    <visual name="leaf_panel_0_p_vis">
      <origin xyz="-0.381 0.045 0.47525" rpy="0 0 0"/>
      <geometry>
        <box size="0.542 0.006 0.4558"/>
      </geometry>
      <material name="mat_leaf_panel"/>
    </visual>
    <visual name="leaf_panel_1_n_vis">
      <origin xyz="-0.381 0.004 1.06105" rpy="0 0 0"/>
      <geometry>
        <box size="0.542 0.006 0.4558"/>
      </geometry>
      <material name="mat_leaf_panel"/>
    </visual>
    <visual name="leaf_panel_1_p_vis">
      <origin xyz="-0.381 0.045 1.06105" rpy="0 0 0"/>
      <geometry>
        <box size="0.542 0.006 0.4558"/>
      </geometry>
      <material name="mat_leaf_panel"/>
    </visual>
    <visual name="leaf_panel_2_n_vis">
      <origin xyz="-0.381 0.004 1.64685" rpy="0 0 0"/>
      <geometry>
        <box size="0.542 0.006 0.4558"/>
      </geometry>
      <material name="mat_leaf_panel"/>
    </visual>
    <visual name="leaf_panel_2_p_vis">
      <origin xyz="-0.381 0.045 1.64685" rpy="0 0 0"/>
      <geometry>
        <box size="0.542 0.006 0.4558"/>
      </geometry>
      <material name="mat_leaf_panel"/>
    </visual>
    <visual name="hinge_0_vis">
      <origin xyz="0 0 0.259" rpy="0 0 -1.570796"/>
      <geometry>
        <mesh filename="../../hardware/hinge_7a316c6d01.obj"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="hinge_1_vis">
      <origin xyz="0 0 1.814" rpy="0 0 -1.570796"/>
      <geometry>
        <mesh filename="../../hardware/hinge_7a316c6d01.obj"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="coat_hook_vis">
      <origin xyz="-0.381 0.042 1.644" rpy="1.570796 0 3.141593"/>
      <geometry>
        <mesh filename="../../hardware/coat_hook_d622d37ad0.obj"/>
      </geometry>
      <material name="mat_hook"/>
    </visual>
  </link>
  <link name="leaf_handle">
    <inertial>
      <origin xyz="0.018861 0 0" rpy="0 0 0"/>
      <mass value="0.7878"/>
      <inertia ixx="0.002231024" ixy="0" ixz="0" iyy="0.00099967" iyz="0" izz="0.003126421"/>
    </inertial>
    <visual name="leaf_handle_spindle_vis">
      <origin xyz="0 0 0" rpy="-1.570796 0 0"/>
      <geometry>
        <cylinder radius="0.006" length="0.039"/>
      </geometry>
      <material name="mat_op_black_matte_metal"/>
    </visual>
    <visual name="leaf_handle_lever_n_vis">
      <origin xyz="0 -0.0175 0" rpy="-1.570796 0 3.141593"/>
      <geometry>
        <mesh filename="../../hardware/lever_57205841c3.obj"/>
      </geometry>
      <material name="mat_op_black_matte_metal"/>
    </visual>
    <collision name="leaf_handle_lever_col_n_col">
      <origin xyz="0.06 -0.0725 0" rpy="0 1.570796 0"/>
      <geometry>
        <cylinder radius="0.007" length="0.106"/>
      </geometry>
    </collision>
    <collision name="leaf_handle_hub_col_n_col">
      <origin xyz="0 -0.0475 0" rpy="-1.570796 0 0"/>
      <geometry>
        <cylinder radius="0.012" length="0.044"/>
      </geometry>
    </collision>
    <visual name="leaf_handle_lever_p_vis">
      <origin xyz="0 0.0175 0" rpy="1.570796 0 3.141593"/>
      <geometry>
        <mesh filename="../../hardware/lever_57205841c3.obj"/>
      </geometry>
      <material name="mat_op_black_matte_metal"/>
    </visual>
    <collision name="leaf_handle_lever_col_p_col">
      <origin xyz="0.06 0.0725 0" rpy="0 1.570796 0"/>
      <geometry>
        <cylinder radius="0.007" length="0.106"/>
      </geometry>
    </collision>
    <collision name="leaf_handle_hub_col_p_col">
      <origin xyz="0 0.0475 0" rpy="-1.570796 0 0"/>
      <geometry>
        <cylinder radius="0.012" length="0.044"/>
      </geometry>
    </collision>
  </link>
  <link name="leaf_latch_bolt">
    <inertial>
      <origin xyz="0.00865 0 0" rpy="0 0 0"/>
      <mass value="0.041419"/>
      <inertia ixx="0.000000798" ixy="0" ixz="0" iyy="0.000005598" iyz="0" izz="0.000005598"/>
    </inertial>
    <visual name="leaf_latch_bolt_capsule_vis">
      <origin xyz="0.00865 0 0" rpy="0 -1.570796 0"/>
      <geometry>
        <cylinder radius="0.00635" length="0.03"/>
      </geometry>
      <material name="mat_bolt"/>
    </visual>
    <collision name="leaf_latch_bolt_capsule_col">
      <origin xyz="0.00865 0 0" rpy="0 -1.570796 0"/>
      <geometry>
        <cylinder radius="0.00635" length="0.03"/>
      </geometry>
    </collision>
  </link>
  <joint name="leaf_hinge" type="revolute">
    <origin xyz="0.3815 -0.0245 0" rpy="0 0 0"/>
    <parent link="world_env"/>
    <child link="leaf"/>
    <axis xyz="0 0 1"/>
    <limit lower="0" upper="1.745329" effort="2000" velocity="10"/>
    <dynamics damping="0.170864" friction="1.155332"/>
    <doorbench:closer damping_closing="0" damping_opening="0" backcheck_angle="0" backcheck_damping="0"/>
  </joint>
  <joint name="leaf_handle_hinge" type="revolute">
    <origin xyz="-0.702 0.0245 0.965" rpy="0 0 0"/>
    <parent link="leaf"/>
    <child link="leaf_handle"/>
    <axis xyz="0 1 0"/>
    <limit lower="0" upper="0.87" effort="2000" velocity="10"/>
    <dynamics damping="0.02" friction="0.042"/>
    <doorbench:spring stiffness="1" springref="-0.35" note="tau = -stiffness*(q - springref); not native URDF"/>
  </joint>
  <joint name="leaf_latch_bolt_slide" type="prismatic">
    <origin xyz="-0.762 0.0245 0.965" rpy="0 0 0"/>
    <parent link="leaf"/>
    <child link="leaf_latch_bolt"/>
    <axis xyz="1 0 0"/>
    <limit lower="0" upper="0.0127" effort="5000" velocity="10"/>
    <dynamics damping="2" friction="0.3"/>
    <doorbench:spring stiffness="300" springref="-0.008333" note="tau = -stiffness*(q - springref); not native URDF"/>
    <mimic joint="leaf_handle_hinge" multiplier="0.015679" offset="0"/>
    <doorbench:coupling one_sided="true" note="MJCF uses a one-sided tendon (bolt may retract further, e.g. riding over the strike lip); mimic is bilateral"/>
  </joint>
  <material name="mat_bolt">
    <color rgba="0.85 0.66 0.3 1"/>
  </material>
  <material name="mat_floor">
    <color rgba="0.55 0.53 0.5 1"/>
  </material>
  <material name="mat_frame">
    <color rgba="0.82 0.7 0.5 1"/>
  </material>
  <material name="mat_hinge">
    <color rgba="0.65 0.66 0.68 1"/>
  </material>
  <material name="mat_hook">
    <color rgba="0.9 0.9 0.92 1"/>
  </material>
  <material name="mat_leaf">
    <color rgba="0.9 0.65 0.7 1"/>
  </material>
  <material name="mat_leaf_panel">
    <color rgba="0.828 0.598 0.644 1"/>
  </material>
  <material name="mat_op_black_matte_metal">
    <color rgba="0.05 0.05 0.05 1"/>
  </material>
  <material name="mat_wall">
    <color rgba="0.78 0.76 0.7 1"/>
  </material>
</robot>
