<?xml version="1.0" ?>
<robot xmlns:doorbench="https://github.com/adamraudonis/DoorBench/schema/urdf-ext" name="db0125_sliding_single_minimal">
  <link name="world_env">
    <visual name="floor_vis">
      <origin xyz="0 0 -0.05" rpy="0 0 0"/>
      <geometry>
        <box size="12 12 0.1"/>
      </geometry>
      <material name="mat_floor"/>
    </visual>
    <collision name="floor_col">
      <origin xyz="0 0 -0.05" rpy="0 0 0"/>
      <geometry>
        <box size="12 12 0.1"/>
      </geometry>
    </collision>
    <visual name="wall_left_vis">
      <origin xyz="-2.0275 0 1.35" rpy="0 0 0"/>
      <geometry>
        <box size="0.945 0.145 2.7"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_left_col">
      <origin xyz="-2.0275 0 1.35" rpy="0 0 0"/>
      <geometry>
        <box size="0.945 0.145 2.7"/>
      </geometry>
    </collision>
    <visual name="wall_right_vis">
      <origin xyz="2.0575 0 1.35" rpy="0 0 0"/>
      <geometry>
        <box size="0.885 0.145 2.7"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_right_col">
      <origin xyz="2.0575 0 1.35" rpy="0 0 0"/>
      <geometry>
        <box size="0.885 0.145 2.7"/>
      </geometry>
    </collision>
    <visual name="wall_header_vis">
      <origin xyz="0.03 0 2.411" rpy="0 0 0"/>
      <geometry>
        <box size="3.17 0.145 0.578"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_header_col">
      <origin xyz="0.03 0 2.411" rpy="0 0 0"/>
      <geometry>
        <box size="3.17 0.145 0.578"/>
      </geometry>
    </collision>
    <visual name="jamb_l_vis">
      <origin xyz="-1.5325 0 1.0385" rpy="0 0 0"/>
      <geometry>
        <box size="0.045 0.145 2.077"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_l_col">
      <origin xyz="-1.5325 0 1.0385" rpy="0 0 0"/>
      <geometry>
        <box size="0.045 0.145 2.077"/>
      </geometry>
    </collision>
    <visual name="jamb_head_vis">
      <origin xyz="0 0 2.0995" rpy="0 0 0"/>
      <geometry>
        <box size="3.11 0.145 0.045"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_head_col">
      <origin xyz="0 0 2.0995" rpy="0 0 0"/>
      <geometry>
        <box size="3.11 0.145 0.045"/>
      </geometry>
    </collision>
    <visual name="bottom_rail_vis">
      <origin xyz="0 0 0.012" rpy="0 0 0"/>
      <geometry>
        <box size="3.11 0.04 0.024"/>
      </geometry>
      <material name="mat_track"/>
    </visual>
    <collision name="bottom_rail_col">
      <origin xyz="0 0 0.012" rpy="0 0 0"/>
      <geometry>
        <box size="3.11 0.04 0.024"/>
      </geometry>
    </collision>
    <visual name="fixed_panel_glass_vis">
      <origin xyz="-0.755 0.04 1.0385" rpy="0 0 0"/>
      <geometry>
        <box size="1.47 0.006 1.977"/>
      </geometry>
      <material name="mat_fixed_glass"/>
    </visual>
    <collision name="fixed_panel_glass_col">
      <origin xyz="-0.755 0.04 1.0385" rpy="0 0 0"/>
      <geometry>
        <box size="1.47 0.006 1.977"/>
      </geometry>
    </collision>
    <visual name="jamb_latch_0_vis">
      <origin xyz="1.5625 0 1.0385" rpy="0 0 0"/>
      <geometry>
        <box size="0.105 0.145 2.077"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_latch_0_col">
      <origin xyz="1.5625 0 1.0385" rpy="0 0 0"/>
      <geometry>
        <box size="0.105 0.145 2.077"/>
      </geometry>
    </collision>
  </link>
  <link name="leaf">
    <inertial>
      <origin xyz="0.000028 -0.000001 1.045996" rpy="0 0 0"/>
      <mass value="118.23692"/>
      <inertia ixx="40.70187413" ixy="0.000075897" ixz="0.000316787" iyy="62.852583798" iyz="-0.00001104" izz="22.190618231"/>
    </inertial>
    <visual name="leaf_glass_vis">
      <origin xyz="0 0 1.046" rpy="0 0 0"/>
      <geometry>
        <box size="1.5 0.045 2.032"/>
      </geometry>
      <material name="mat_glass_leaf"/>
    </visual>
    <collision name="leaf_glass_col">
      <origin xyz="0 0 1.046" rpy="0 0 0"/>
      <geometry>
        <box size="1.5 0.045 2.032"/>
      </geometry>
    </collision>
    <visual name="leaf_pull_n_vis">
      <origin xyz="0.66 -0.023 0.95" rpy="0 0 0"/>
      <geometry>
        <box size="0.05 0.001 0.1"/>
      </geometry>
      <material name="mat_op_nickel_satin"/>
    </visual>
  </link>
  <joint name="leaf_slide" type="prismatic">
    <origin xyz="0.755 0 0" rpy="0 0 0"/>
    <parent link="world_env"/>
    <child link="leaf"/>
    <axis xyz="-1 0 0"/>
    <limit lower="0" upper="1.38" effort="5000" velocity="10"/>
    <dynamics damping="12.674589" friction="502.47339"/>
  </joint>
  <material name="mat_fixed_glass">
    <color rgba="0.85 0.92 0.95 0.25"/>
  </material>
  <material name="mat_floor">
    <color rgba="0.55 0.53 0.5 1"/>
  </material>
  <material name="mat_frame">
    <color rgba="0.8 0.81 0.83 1"/>
  </material>
  <material name="mat_glass_leaf">
    <color rgba="0.85 0.92 0.95 0.25"/>
  </material>
  <material name="mat_op_nickel_satin">
    <color rgba="0.72 0.7 0.66 1"/>
  </material>
  <material name="mat_track">
    <color rgba="0.8 0.81 0.83 1"/>
  </material>
  <material name="mat_wall">
    <color rgba="0.78 0.76 0.7 1"/>
  </material>
</robot>
