<?xml version="1.0" ?>
<robot xmlns:doorbench="https://github.com/adamraudonis/DoorBench/schema/urdf-ext" name="db0542_sliding_bypass_simple">
  <link name="world_env">
    <visual name="floor_vis">
      <origin xyz="0 0 -0.05" rpy="0 0 0"/>
      <geometry>
        <box size="12 12 0.1"/>
      </geometry>
      <material name="mat_floor"/>
    </visual>
    <collision name="floor_col">
      <origin xyz="0 0 -0.05" rpy="0 0 0"/>
      <geometry>
        <box size="12 12 0.1"/>
      </geometry>
    </collision>
    <visual name="wall_left_vis">
      <origin xyz="-1.8185 0 1.35" rpy="0 0 0"/>
      <geometry>
        <box size="1.363 0.145 2.7"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_left_col">
      <origin xyz="-1.8185 0 1.35" rpy="0 0 0"/>
      <geometry>
        <box size="1.363 0.145 2.7"/>
      </geometry>
    </collision>
    <visual name="wall_right_vis">
      <origin xyz="1.8485 0 1.35" rpy="0 0 0"/>
      <geometry>
        <box size="1.303 0.145 2.7"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_right_col">
      <origin xyz="1.8485 0 1.35" rpy="0 0 0"/>
      <geometry>
        <box size="1.303 0.145 2.7"/>
      </geometry>
    </collision>
    <visual name="wall_header_vis">
      <origin xyz="0.03 0 2.4055" rpy="0 0 0"/>
      <geometry>
        <box size="2.334 0.145 0.589"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_header_col">
      <origin xyz="0.03 0 2.4055" rpy="0 0 0"/>
      <geometry>
        <box size="2.334 0.145 0.589"/>
      </geometry>
    </collision>
    <visual name="jamb_l_vis">
      <origin xyz="-1.1275 0 1.046" rpy="0 0 0"/>
      <geometry>
        <box size="0.019 0.145 2.092"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_l_col">
      <origin xyz="-1.1275 0 1.046" rpy="0 0 0"/>
      <geometry>
        <box size="0.019 0.145 2.092"/>
      </geometry>
    </collision>
    <visual name="jamb_head_vis">
      <origin xyz="0 0 2.1015" rpy="0 0 0"/>
      <geometry>
        <box size="2.274 0.145 0.019"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_head_col">
      <origin xyz="0 0 2.1015" rpy="0 0 0"/>
      <geometry>
        <box size="2.274 0.145 0.019"/>
      </geometry>
    </collision>
    <visual name="shikii_vis">
      <origin xyz="0 0 0.012" rpy="0 0 0"/>
      <geometry>
        <box size="2.336 0.1 0.024"/>
      </geometry>
      <material name="mat_shikii"/>
    </visual>
    <collision name="shikii_col">
      <origin xyz="0 0 0.012" rpy="0 0 0"/>
      <geometry>
        <box size="2.336 0.1 0.024"/>
      </geometry>
    </collision>
    <visual name="kamoi_vis">
      <origin xyz="0 0 2.122" rpy="0 0 0"/>
      <geometry>
        <box size="2.336 0.1 0.06"/>
      </geometry>
      <material name="mat_shikii"/>
    </visual>
    <collision name="kamoi_col">
      <origin xyz="0 0 2.122" rpy="0 0 0"/>
      <geometry>
        <box size="2.336 0.1 0.06"/>
      </geometry>
    </collision>
    <visual name="jamb_latch_0_vis">
      <origin xyz="1.1575 0 1.046" rpy="0 0 0"/>
      <geometry>
        <box size="0.079 0.145 2.092"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_latch_0_col">
      <origin xyz="1.1575 0 1.046" rpy="0 0 0"/>
      <geometry>
        <box size="0.079 0.145 2.092"/>
      </geometry>
    </collision>
  </link>
  <link name="leaf_0">
    <inertial>
      <origin xyz="-0.000094 -0.000005 1.042986" rpy="0 0 0"/>
      <mass value="2.553479"/>
      <inertia ixx="0.878419602" ixy="-0.000003713" ixz="-0.000010301" iyy="1.001780181" iyz="-0.000000549" izz="0.12374398"/>
    </inertial>
    <visual name="leaf_0_slab_vis">
      <origin xyz="0 0 1.043" rpy="0 0 0"/>
      <geometry>
        <box size="0.762 0.03 2.032"/>
      </geometry>
      <material name="mat_leaf_0"/>
    </visual>
    <collision name="leaf_0_slab_col">
      <origin xyz="0 0 1.043" rpy="0 0 0"/>
      <geometry>
        <box size="0.762 0.03 2.032"/>
      </geometry>
    </collision>
    <visual name="leaf_0_kumiko_v1_vis">
      <origin xyz="-0.254 0 1.043" rpy="0 0 0"/>
      <geometry>
        <box size="0.012 0.034 1.932"/>
      </geometry>
      <material name="mat_kumiko"/>
    </visual>
    <visual name="leaf_0_kumiko_v2_vis">
      <origin xyz="-0.127 0 1.043" rpy="0 0 0"/>
      <geometry>
        <box size="0.012 0.034 1.932"/>
      </geometry>
      <material name="mat_kumiko"/>
    </visual>
    <visual name="leaf_0_kumiko_v3_vis">
      <origin xyz="0 0 1.043" rpy="0 0 0"/>
      <geometry>
        <box size="0.012 0.034 1.932"/>
      </geometry>
      <material name="mat_kumiko"/>
    </visual>
    <visual name="leaf_0_kumiko_v4_vis">
      <origin xyz="0.127 0 1.043" rpy="0 0 0"/>
      <geometry>
        <box size="0.012 0.034 1.932"/>
      </geometry>
      <material name="mat_kumiko"/>
    </visual>
    <visual name="leaf_0_kumiko_v5_vis">
      <origin xyz="0.254 0 1.043" rpy="0 0 0"/>
      <geometry>
        <box size="0.012 0.034 1.932"/>
      </geometry>
      <material name="mat_kumiko"/>
    </visual>
    <visual name="leaf_0_kumiko_h1_vis">
      <origin xyz="0 0 0.183308" rpy="0 0 0"/>
      <geometry>
        <box size="0.682 0.034 0.012"/>
      </geometry>
      <material name="mat_kumiko"/>
    </visual>
    <visual name="leaf_0_kumiko_h2_vis">
      <origin xyz="0 0 0.339615" rpy="0 0 0"/>
      <geometry>
        <box size="0.682 0.034 0.012"/>
      </geometry>
      <material name="mat_kumiko"/>
    </visual>
    <visual name="leaf_0_kumiko_h3_vis">
      <origin xyz="0 0 0.495923" rpy="0 0 0"/>
      <geometry>
        <box size="0.682 0.034 0.012"/>
      </geometry>
      <material name="mat_kumiko"/>
    </visual>
    <visual name="leaf_0_kumiko_h4_vis">
      <origin xyz="0 0 0.652231" rpy="0 0 0"/>
      <geometry>
        <box size="0.682 0.034 0.012"/>
      </geometry>
      <material name="mat_kumiko"/>
    </visual>
    <visual name="leaf_0_kumiko_h5_vis">
      <origin xyz="0 0 0.808538" rpy="0 0 0"/>
      <geometry>
        <box size="0.682 0.034 0.012"/>
      </geometry>
      <material name="mat_kumiko"/>
    </visual>
    <visual name="leaf_0_kumiko_h6_vis">
      <origin xyz="0 0 0.964846" rpy="0 0 0"/>
      <geometry>
        <box size="0.682 0.034 0.012"/>
      </geometry>
      <material name="mat_kumiko"/>
    </visual>
    <visual name="leaf_0_kumiko_h7_vis">
      <origin xyz="0 0 1.121154" rpy="0 0 0"/>
      <geometry>
        <box size="0.682 0.034 0.012"/>
      </geometry>
      <material name="mat_kumiko"/>
    </visual>
    <visual name="leaf_0_kumiko_h8_vis">
      <origin xyz="0 0 1.277462" rpy="0 0 0"/>
      <geometry>
        <box size="0.682 0.034 0.012"/>
      </geometry>
      <material name="mat_kumiko"/>
    </visual>
    <visual name="leaf_0_kumiko_h9_vis">
      <origin xyz="0 0 1.433769" rpy="0 0 0"/>
      <geometry>
        <box size="0.682 0.034 0.012"/>
      </geometry>
      <material name="mat_kumiko"/>
    </visual>
    <visual name="leaf_0_kumiko_h10_vis">
      <origin xyz="0 0 1.590077" rpy="0 0 0"/>
      <geometry>
        <box size="0.682 0.034 0.012"/>
      </geometry>
      <material name="mat_kumiko"/>
    </visual>
    <visual name="leaf_0_kumiko_h11_vis">
      <origin xyz="0 0 1.746385" rpy="0 0 0"/>
      <geometry>
        <box size="0.682 0.034 0.012"/>
      </geometry>
      <material name="mat_kumiko"/>
    </visual>
    <visual name="leaf_0_kumiko_h12_vis">
      <origin xyz="0 0 1.902692" rpy="0 0 0"/>
      <geometry>
        <box size="0.682 0.034 0.012"/>
      </geometry>
      <material name="mat_kumiko"/>
    </visual>
    <visual name="leaf_0_pull_n_vis">
      <origin xyz="-0.291 -0.0155 1" rpy="0 0 0"/>
      <geometry>
        <box size="0.03 0.001 0.08"/>
      </geometry>
      <material name="mat_op_hinoki"/>
    </visual>
  </link>
  <link name="leaf_1">
    <inertial>
      <origin xyz="0.000094 -0.000005 1.042986" rpy="0 0 0"/>
      <mass value="2.553479"/>
      <inertia ixx="0.878419602" ixy="0.000003713" ixz="0.000010301" iyy="1.001780181" iyz="-0.000000549" izz="0.12374398"/>
    </inertial>
    <visual name="leaf_1_slab_vis">
      <origin xyz="0 0 1.043" rpy="0 0 0"/>
      <geometry>
        <box size="0.762 0.03 2.032"/>
      </geometry>
      <material name="mat_leaf_1"/>
    </visual>
    <collision name="leaf_1_slab_col">
      <origin xyz="0 0 1.043" rpy="0 0 0"/>
      <geometry>
        <box size="0.762 0.03 2.032"/>
      </geometry>
    </collision>
    <visual name="leaf_1_kumiko_v1_vis">
      <origin xyz="-0.254 0 1.043" rpy="0 0 0"/>
      <geometry>
        <box size="0.012 0.034 1.932"/>
      </geometry>
      <material name="mat_kumiko"/>
    </visual>
    <visual name="leaf_1_kumiko_v2_vis">
      <origin xyz="-0.127 0 1.043" rpy="0 0 0"/>
      <geometry>
        <box size="0.012 0.034 1.932"/>
      </geometry>
      <material name="mat_kumiko"/>
    </visual>
    <visual name="leaf_1_kumiko_v3_vis">
      <origin xyz="0 0 1.043" rpy="0 0 0"/>
      <geometry>
        <box size="0.012 0.034 1.932"/>
      </geometry>
      <material name="mat_kumiko"/>
    </visual>
    <visual name="leaf_1_kumiko_v4_vis">
      <origin xyz="0.127 0 1.043" rpy="0 0 0"/>
      <geometry>
        <box size="0.012 0.034 1.932"/>
      </geometry>
      <material name="mat_kumiko"/>
    </visual>
    <visual name="leaf_1_kumiko_v5_vis">
      <origin xyz="0.254 0 1.043" rpy="0 0 0"/>
      <geometry>
        <box size="0.012 0.034 1.932"/>
      </geometry>
      <material name="mat_kumiko"/>
    </visual>
    <visual name="leaf_1_kumiko_h1_vis">
      <origin xyz="0 0 0.183308" rpy="0 0 0"/>
      <geometry>
        <box size="0.682 0.034 0.012"/>
      </geometry>
      <material name="mat_kumiko"/>
    </visual>
    <visual name="leaf_1_kumiko_h2_vis">
      <origin xyz="0 0 0.339615" rpy="0 0 0"/>
      <geometry>
        <box size="0.682 0.034 0.012"/>
      </geometry>
      <material name="mat_kumiko"/>
    </visual>
    <visual name="leaf_1_kumiko_h3_vis">
      <origin xyz="0 0 0.495923" rpy="0 0 0"/>
      <geometry>
        <box size="0.682 0.034 0.012"/>
      </geometry>
      <material name="mat_kumiko"/>
    </visual>
    <visual name="leaf_1_kumiko_h4_vis">
      <origin xyz="0 0 0.652231" rpy="0 0 0"/>
      <geometry>
        <box size="0.682 0.034 0.012"/>
      </geometry>
      <material name="mat_kumiko"/>
    </visual>
    <visual name="leaf_1_kumiko_h5_vis">
      <origin xyz="0 0 0.808538" rpy="0 0 0"/>
      <geometry>
        <box size="0.682 0.034 0.012"/>
      </geometry>
      <material name="mat_kumiko"/>
    </visual>
    <visual name="leaf_1_kumiko_h6_vis">
      <origin xyz="0 0 0.964846" rpy="0 0 0"/>
      <geometry>
        <box size="0.682 0.034 0.012"/>
      </geometry>
      <material name="mat_kumiko"/>
    </visual>
    <visual name="leaf_1_kumiko_h7_vis">
      <origin xyz="0 0 1.121154" rpy="0 0 0"/>
      <geometry>
        <box size="0.682 0.034 0.012"/>
      </geometry>
      <material name="mat_kumiko"/>
    </visual>
    <visual name="leaf_1_kumiko_h8_vis">
      <origin xyz="0 0 1.277462" rpy="0 0 0"/>
      <geometry>
        <box size="0.682 0.034 0.012"/>
      </geometry>
      <material name="mat_kumiko"/>
    </visual>
    <visual name="leaf_1_kumiko_h9_vis">
      <origin xyz="0 0 1.433769" rpy="0 0 0"/>
      <geometry>
        <box size="0.682 0.034 0.012"/>
      </geometry>
      <material name="mat_kumiko"/>
    </visual>
    <visual name="leaf_1_kumiko_h10_vis">
      <origin xyz="0 0 1.590077" rpy="0 0 0"/>
      <geometry>
        <box size="0.682 0.034 0.012"/>
      </geometry>
      <material name="mat_kumiko"/>
    </visual>
    <visual name="leaf_1_kumiko_h11_vis">
      <origin xyz="0 0 1.746385" rpy="0 0 0"/>
      <geometry>
        <box size="0.682 0.034 0.012"/>
      </geometry>
      <material name="mat_kumiko"/>
    </visual>
    <visual name="leaf_1_kumiko_h12_vis">
      <origin xyz="0 0 1.902692" rpy="0 0 0"/>
      <geometry>
        <box size="0.682 0.034 0.012"/>
      </geometry>
      <material name="mat_kumiko"/>
    </visual>
    <visual name="leaf_1_pull_n_vis">
      <origin xyz="0.291 -0.0155 1" rpy="0 0 0"/>
      <geometry>
        <box size="0.03 0.001 0.08"/>
      </geometry>
      <material name="mat_op_hinoki"/>
    </visual>
  </link>
  <link name="leaf_2">
    <inertial>
      <origin xyz="-0.000094 -0.000005 1.042986" rpy="0 0 0"/>
      <mass value="2.553479"/>
      <inertia ixx="0.878419602" ixy="-0.000003713" ixz="-0.000010301" iyy="1.001780181" iyz="-0.000000549" izz="0.12374398"/>
    </inertial>
    <visual name="leaf_2_slab_vis">
      <origin xyz="0 0 1.043" rpy="0 0 0"/>
      <geometry>
        <box size="0.762 0.03 2.032"/>
      </geometry>
      <material name="mat_leaf_2"/>
    </visual>
    <collision name="leaf_2_slab_col">
      <origin xyz="0 0 1.043" rpy="0 0 0"/>
      <geometry>
        <box size="0.762 0.03 2.032"/>
      </geometry>
    </collision>
    <visual name="leaf_2_kumiko_v1_vis">
      <origin xyz="-0.254 0 1.043" rpy="0 0 0"/>
      <geometry>
        <box size="0.012 0.034 1.932"/>
      </geometry>
      <material name="mat_kumiko"/>
    </visual>
    <visual name="leaf_2_kumiko_v2_vis">
      <origin xyz="-0.127 0 1.043" rpy="0 0 0"/>
      <geometry>
        <box size="0.012 0.034 1.932"/>
      </geometry>
      <material name="mat_kumiko"/>
    </visual>
    <visual name="leaf_2_kumiko_v3_vis">
      <origin xyz="0 0 1.043" rpy="0 0 0"/>
      <geometry>
        <box size="0.012 0.034 1.932"/>
      </geometry>
      <material name="mat_kumiko"/>
    </visual>
    <visual name="leaf_2_kumiko_v4_vis">
      <origin xyz="0.127 0 1.043" rpy="0 0 0"/>
      <geometry>
        <box size="0.012 0.034 1.932"/>
      </geometry>
      <material name="mat_kumiko"/>
    </visual>
    <visual name="leaf_2_kumiko_v5_vis">
      <origin xyz="0.254 0 1.043" rpy="0 0 0"/>
      <geometry>
        <box size="0.012 0.034 1.932"/>
      </geometry>
      <material name="mat_kumiko"/>
    </visual>
    <visual name="leaf_2_kumiko_h1_vis">
      <origin xyz="0 0 0.183308" rpy="0 0 0"/>
      <geometry>
        <box size="0.682 0.034 0.012"/>
      </geometry>
      <material name="mat_kumiko"/>
    </visual>
    <visual name="leaf_2_kumiko_h2_vis">
      <origin xyz="0 0 0.339615" rpy="0 0 0"/>
      <geometry>
        <box size="0.682 0.034 0.012"/>
      </geometry>
      <material name="mat_kumiko"/>
    </visual>
    <visual name="leaf_2_kumiko_h3_vis">
      <origin xyz="0 0 0.495923" rpy="0 0 0"/>
      <geometry>
        <box size="0.682 0.034 0.012"/>
      </geometry>
      <material name="mat_kumiko"/>
    </visual>
    <visual name="leaf_2_kumiko_h4_vis">
      <origin xyz="0 0 0.652231" rpy="0 0 0"/>
      <geometry>
        <box size="0.682 0.034 0.012"/>
      </geometry>
      <material name="mat_kumiko"/>
    </visual>
    <visual name="leaf_2_kumiko_h5_vis">
      <origin xyz="0 0 0.808538" rpy="0 0 0"/>
      <geometry>
        <box size="0.682 0.034 0.012"/>
      </geometry>
      <material name="mat_kumiko"/>
    </visual>
    <visual name="leaf_2_kumiko_h6_vis">
      <origin xyz="0 0 0.964846" rpy="0 0 0"/>
      <geometry>
        <box size="0.682 0.034 0.012"/>
      </geometry>
      <material name="mat_kumiko"/>
    </visual>
    <visual name="leaf_2_kumiko_h7_vis">
      <origin xyz="0 0 1.121154" rpy="0 0 0"/>
      <geometry>
        <box size="0.682 0.034 0.012"/>
      </geometry>
      <material name="mat_kumiko"/>
    </visual>
    <visual name="leaf_2_kumiko_h8_vis">
      <origin xyz="0 0 1.277462" rpy="0 0 0"/>
      <geometry>
        <box size="0.682 0.034 0.012"/>
      </geometry>
      <material name="mat_kumiko"/>
    </visual>
    <visual name="leaf_2_kumiko_h9_vis">
      <origin xyz="0 0 1.433769" rpy="0 0 0"/>
      <geometry>
        <box size="0.682 0.034 0.012"/>
      </geometry>
      <material name="mat_kumiko"/>
    </visual>
    <visual name="leaf_2_kumiko_h10_vis">
      <origin xyz="0 0 1.590077" rpy="0 0 0"/>
      <geometry>
        <box size="0.682 0.034 0.012"/>
      </geometry>
      <material name="mat_kumiko"/>
    </visual>
    <visual name="leaf_2_kumiko_h11_vis">
      <origin xyz="0 0 1.746385" rpy="0 0 0"/>
      <geometry>
        <box size="0.682 0.034 0.012"/>
      </geometry>
      <material name="mat_kumiko"/>
    </visual>
    <visual name="leaf_2_kumiko_h12_vis">
      <origin xyz="0 0 1.902692" rpy="0 0 0"/>
      <geometry>
        <box size="0.682 0.034 0.012"/>
      </geometry>
      <material name="mat_kumiko"/>
    </visual>
    <visual name="leaf_2_pull_n_vis">
      <origin xyz="-0.291 -0.0155 1" rpy="0 0 0"/>
      <geometry>
        <box size="0.03 0.001 0.08"/>
      </geometry>
      <material name="mat_op_hinoki"/>
    </visual>
  </link>
  <joint name="leaf_0_slide" type="prismatic">
    <origin xyz="-0.737 -0.08 0" rpy="0 0 0"/>
    <parent link="world_env"/>
    <child link="leaf_0"/>
    <axis xyz="1 0 0"/>
    <limit lower="0" upper="0.732" effort="5000" velocity="10"/>
    <dynamics damping="2.383022" friction="45.073931"/>
  </joint>
  <joint name="leaf_1_slide" type="prismatic">
    <origin xyz="-0.005 0 0" rpy="0 0 0"/>
    <parent link="world_env"/>
    <child link="leaf_1"/>
    <axis xyz="-1 0 0"/>
    <limit lower="-0.732" upper="0.732" effort="5000" velocity="10"/>
    <dynamics damping="2.383022" friction="45.073931"/>
  </joint>
  <joint name="leaf_2_slide" type="prismatic">
    <origin xyz="0.727 0.08 0" rpy="0 0 0"/>
    <parent link="world_env"/>
    <child link="leaf_2"/>
    <axis xyz="-1 0 0"/>
    <limit lower="0" upper="0.732" effort="5000" velocity="10"/>
    <dynamics damping="2.383022" friction="45.073931"/>
  </joint>
  <material name="mat_floor">
    <color rgba="0.55 0.53 0.5 1"/>
  </material>
  <material name="mat_frame">
    <color rgba="0.82 0.7 0.5 1"/>
  </material>
  <material name="mat_kumiko">
    <color rgba="0.88 0.78 0.6 1"/>
  </material>
  <material name="mat_leaf_0">
    <color rgba="0.98 0.96 0.9 0.45"/>
  </material>
  <material name="mat_leaf_1">
    <color rgba="0.98 0.96 0.9 0.45"/>
  </material>
  <material name="mat_leaf_2">
    <color rgba="0.98 0.96 0.9 0.45"/>
  </material>
  <material name="mat_op_hinoki">
    <color rgba="0.88 0.78 0.6 1"/>
  </material>
  <material name="mat_shikii">
    <color rgba="0.88 0.78 0.6 1"/>
  </material>
  <material name="mat_wall">
    <color rgba="0.78 0.76 0.7 1"/>
  </material>
</robot>
