<?xml version="1.0" ?>
<robot xmlns:doorbench="https://github.com/adamraudonis/DoorBench/schema/urdf-ext" name="db0461_swing_single_full">
  <link name="world_env">
    <visual name="floor_vis">
      <origin xyz="0 0 -0.05" rpy="0 0 0"/>
      <geometry>
        <box size="12 12 0.1"/>
      </geometry>
      <material name="mat_floor"/>
    </visual>
    <collision name="floor_col">
      <origin xyz="0 0 -0.05" rpy="0 0 0"/>
      <geometry>
        <box size="12 12 0.1"/>
      </geometry>
    </collision>
    <visual name="wall_left_vis">
      <origin xyz="-1.4415 -0.11 1.35" rpy="0 0 0"/>
      <geometry>
        <box size="2.117 0.3 2.7"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_left_col">
      <origin xyz="-1.4415 -0.11 1.35" rpy="0 0 0"/>
      <geometry>
        <box size="2.117 0.3 2.7"/>
      </geometry>
    </collision>
    <visual name="wall_right_vis">
      <origin xyz="1.4265 -0.11 1.35" rpy="0 0 0"/>
      <geometry>
        <box size="2.147 0.3 2.7"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_right_col">
      <origin xyz="1.4265 -0.11 1.35" rpy="0 0 0"/>
      <geometry>
        <box size="2.147 0.3 2.7"/>
      </geometry>
    </collision>
    <visual name="wall_header_vis">
      <origin xyz="-0.015 -0.11 2.397" rpy="0 0 0"/>
      <geometry>
        <box size="0.736 0.3 0.606"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_header_col">
      <origin xyz="-0.015 -0.11 2.397" rpy="0 0 0"/>
      <geometry>
        <box size="0.736 0.3 0.606"/>
      </geometry>
    </collision>
    <visual name="hinge_0_jamb_vis">
      <origin xyz="0.331 0.027 0.259" rpy="0 0 3.141593"/>
      <geometry>
        <mesh filename="../../hardware/hinge_jamb_c17a76d68c.obj"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="hinge_1_jamb_vis">
      <origin xyz="0.331 0.027 1.025" rpy="0 0 3.141593"/>
      <geometry>
        <mesh filename="../../hardware/hinge_jamb_c17a76d68c.obj"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="hinge_2_jamb_vis">
      <origin xyz="0.331 0.027 1.861" rpy="0 0 3.141593"/>
      <geometry>
        <mesh filename="../../hardware/hinge_jamb_c17a76d68c.obj"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="jamb_hinge_vis">
      <origin xyz="0.3435 -0.11 1.0225" rpy="0 0 0"/>
      <geometry>
        <box size="0.019 0.3 2.045"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_hinge_col">
      <origin xyz="0.3435 -0.11 1.0225" rpy="0 0 0"/>
      <geometry>
        <box size="0.019 0.3 2.045"/>
      </geometry>
    </collision>
    <visual name="strike_1016_wall_n_vis">
      <origin xyz="-0.3585 -0.133925 1.016" rpy="0 0 0"/>
      <geometry>
        <box size="0.049 0.25215 0.0334"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="strike_1016_wall_n_col">
      <origin xyz="-0.3585 -0.133925 1.016" rpy="0 0 0"/>
      <geometry>
        <box size="0.049 0.25215 0.0334"/>
      </geometry>
    </collision>
    <visual name="strike_1016_wall_p_vis">
      <origin xyz="-0.3585 0.01585 1.016" rpy="0 0 0"/>
      <geometry>
        <box size="0.049 0.016 0.0334"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="strike_1016_wall_p_col">
      <origin xyz="-0.3585 0.01585 1.016" rpy="0 0 0"/>
      <geometry>
        <box size="0.049 0.016 0.0334"/>
      </geometry>
    </collision>
    <visual name="strike_1016_ramp_vis">
      <origin xyz="-0.36376 0.033243 1.016" rpy="0 0 0.362252"/>
      <geometry>
        <box size="0.049 0.038659 0.0334"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="strike_1016_ramp_col">
      <origin xyz="-0.36376 0.033243 1.016" rpy="0 0 0.362252"/>
      <geometry>
        <box size="0.049 0.038659 0.0334"/>
      </geometry>
    </collision>
    <visual name="strike_1016_back_vis">
      <origin xyz="-0.36685 0 1.016" rpy="0 0 0"/>
      <geometry>
        <box size="0.0323 0.0157 0.0334"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="strike_1016_back_col">
      <origin xyz="-0.36685 0 1.016" rpy="0 0 0"/>
      <geometry>
        <box size="0.0323 0.0157 0.0334"/>
      </geometry>
    </collision>
    <visual name="jamb_strike_0_vis">
      <origin xyz="-0.3585 -0.11 0.49965" rpy="0 0 0"/>
      <geometry>
        <box size="0.049 0.3 0.9993"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_strike_0_col">
      <origin xyz="-0.3585 -0.11 0.49965" rpy="0 0 0"/>
      <geometry>
        <box size="0.049 0.3 0.9993"/>
      </geometry>
    </collision>
    <visual name="jamb_strike_1_vis">
      <origin xyz="-0.3585 -0.11 1.53885" rpy="0 0 0"/>
      <geometry>
        <box size="0.049 0.3 1.0123"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_strike_1_col">
      <origin xyz="-0.3585 -0.11 1.53885" rpy="0 0 0"/>
      <geometry>
        <box size="0.049 0.3 1.0123"/>
      </geometry>
    </collision>
    <visual name="jamb_head_vis">
      <origin xyz="-0.015 -0.11 2.0545" rpy="0 0 0"/>
      <geometry>
        <box size="0.736 0.3 0.019"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_head_col">
      <origin xyz="-0.015 -0.11 2.0545" rpy="0 0 0"/>
      <geometry>
        <box size="0.736 0.3 0.019"/>
      </geometry>
    </collision>
    <visual name="head_stud_vis">
      <origin xyz="-0.015 -0.11 2.079" rpy="0 0 0"/>
      <geometry>
        <box size="0.736 0.3 0.03"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="head_stud_col">
      <origin xyz="-0.015 -0.11 2.079" rpy="0 0 0"/>
      <geometry>
        <box size="0.736 0.3 0.03"/>
      </geometry>
    </collision>
    <visual name="stop_hinge_vis">
      <origin xyz="0.3285 -0.0365 1.0225" rpy="0 0 0"/>
      <geometry>
        <box size="0.011 0.032 2.045"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="stop_hinge_col">
      <origin xyz="0.3285 -0.0365 1.0225" rpy="0 0 0"/>
      <geometry>
        <box size="0.011 0.032 2.045"/>
      </geometry>
    </collision>
    <visual name="stop_strike_vis">
      <origin xyz="-0.3285 -0.0365 1.0225" rpy="0 0 0"/>
      <geometry>
        <box size="0.011 0.032 2.045"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="stop_strike_col">
      <origin xyz="-0.3285 -0.0365 1.0225" rpy="0 0 0"/>
      <geometry>
        <box size="0.011 0.032 2.045"/>
      </geometry>
    </collision>
    <visual name="stop_head_vis">
      <origin xyz="0 -0.0365 2.0395" rpy="0 0 0"/>
      <geometry>
        <box size="0.668 0.032 0.011"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="stop_head_col">
      <origin xyz="0 -0.0365 2.0395" rpy="0 0 0"/>
      <geometry>
        <box size="0.668 0.032 0.011"/>
      </geometry>
    </collision>
    <visual name="casing_l_n_vis">
      <origin xyz="-0.383 -0.268 1.0225" rpy="0 0 0"/>
      <geometry>
        <box size="0.07 0.016 2.064"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <visual name="casing_r_n_vis">
      <origin xyz="0.383 -0.268 1.0225" rpy="0 0 0"/>
      <geometry>
        <box size="0.07 0.016 2.064"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <visual name="casing_h_n_vis">
      <origin xyz="0 -0.268 2.094" rpy="0 0 0"/>
      <geometry>
        <box size="0.836 0.016 0.07"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <visual name="casing_l_p_vis">
      <origin xyz="-0.383 0.048 1.0225" rpy="0 0 0"/>
      <geometry>
        <box size="0.07 0.016 2.064"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <visual name="casing_r_p_vis">
      <origin xyz="0.383 0.048 1.0225" rpy="0 0 0"/>
      <geometry>
        <box size="0.07 0.016 2.064"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <visual name="casing_h_p_vis">
      <origin xyz="0 0.048 2.094" rpy="0 0 0"/>
      <geometry>
        <box size="0.836 0.016 0.07"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
  </link>
  <link name="leaf">
    <inertial>
      <origin xyz="-0.3171 -0.026409 1.02606" rpy="0 0 0"/>
      <mass value="11.261067"/>
      <inertia ixx="3.911245838" ixy="-0.002110458" ixz="-0.003235529" iyy="4.348187304" iyz="-0.000148195" izz="0.440207524"/>
    </inertial>
    <visual name="leaf_slab_vis">
      <origin xyz="-0.33 -0.027 1.025" rpy="0 0 0"/>
      <geometry>
        <box size="0.66 0.04 2.032"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <collision name="leaf_slab_col">
      <origin xyz="-0.33 -0.027 1.025" rpy="0 0 0"/>
      <geometry>
        <box size="0.66 0.04 2.032"/>
      </geometry>
    </collision>
    <visual name="leaf_glass_0_vis">
      <origin xyz="-0.16 -0.027 0.391208" rpy="0 0 0"/>
      <geometry>
        <box size="0.14 0.0416 0.317376"/>
      </geometry>
      <material name="mat_glass"/>
    </visual>
    <visual name="leaf_glass_1_vis">
      <origin xyz="-0.33 -0.027 0.391208" rpy="0 0 0"/>
      <geometry>
        <box size="0.14 0.0416 0.317376"/>
      </geometry>
      <material name="mat_glass"/>
    </visual>
    <visual name="leaf_glass_2_vis">
      <origin xyz="-0.5 -0.027 0.391208" rpy="0 0 0"/>
      <geometry>
        <box size="0.14 0.0416 0.317376"/>
      </geometry>
      <material name="mat_glass"/>
    </visual>
    <visual name="leaf_glass_3_vis">
      <origin xyz="-0.16 -0.027 0.738584" rpy="0 0 0"/>
      <geometry>
        <box size="0.14 0.0416 0.317376"/>
      </geometry>
      <material name="mat_glass"/>
    </visual>
    <visual name="leaf_glass_4_vis">
      <origin xyz="-0.33 -0.027 0.738584" rpy="0 0 0"/>
      <geometry>
        <box size="0.14 0.0416 0.317376"/>
      </geometry>
      <material name="mat_glass"/>
    </visual>
    <visual name="leaf_glass_5_vis">
      <origin xyz="-0.5 -0.027 0.738584" rpy="0 0 0"/>
      <geometry>
        <box size="0.14 0.0416 0.317376"/>
      </geometry>
      <material name="mat_glass"/>
    </visual>
    <visual name="leaf_glass_6_vis">
      <origin xyz="-0.16 -0.027 1.08596" rpy="0 0 0"/>
      <geometry>
        <box size="0.14 0.0416 0.317376"/>
      </geometry>
      <material name="mat_glass"/>
    </visual>
    <visual name="leaf_glass_7_vis">
      <origin xyz="-0.33 -0.027 1.08596" rpy="0 0 0"/>
      <geometry>
        <box size="0.14 0.0416 0.317376"/>
      </geometry>
      <material name="mat_glass"/>
    </visual>
    <visual name="leaf_glass_8_vis">
      <origin xyz="-0.5 -0.027 1.08596" rpy="0 0 0"/>
      <geometry>
        <box size="0.14 0.0416 0.317376"/>
      </geometry>
      <material name="mat_glass"/>
    </visual>
    <visual name="leaf_glass_9_vis">
      <origin xyz="-0.16 -0.027 1.433336" rpy="0 0 0"/>
      <geometry>
        <box size="0.14 0.0416 0.317376"/>
      </geometry>
      <material name="mat_glass"/>
    </visual>
    <visual name="leaf_glass_10_vis">
      <origin xyz="-0.33 -0.027 1.433336" rpy="0 0 0"/>
      <geometry>
        <box size="0.14 0.0416 0.317376"/>
      </geometry>
      <material name="mat_glass"/>
    </visual>
    <visual name="leaf_glass_11_vis">
      <origin xyz="-0.5 -0.027 1.433336" rpy="0 0 0"/>
      <geometry>
        <box size="0.14 0.0416 0.317376"/>
      </geometry>
      <material name="mat_glass"/>
    </visual>
    <visual name="leaf_glass_12_vis">
      <origin xyz="-0.16 -0.027 1.780712" rpy="0 0 0"/>
      <geometry>
        <box size="0.14 0.0416 0.317376"/>
      </geometry>
      <material name="mat_glass"/>
    </visual>
    <visual name="leaf_glass_13_vis">
      <origin xyz="-0.33 -0.027 1.780712" rpy="0 0 0"/>
      <geometry>
        <box size="0.14 0.0416 0.317376"/>
      </geometry>
      <material name="mat_glass"/>
    </visual>
    <visual name="leaf_glass_14_vis">
      <origin xyz="-0.5 -0.027 1.780712" rpy="0 0 0"/>
      <geometry>
        <box size="0.14 0.0416 0.317376"/>
      </geometry>
      <material name="mat_glass"/>
    </visual>
    <visual name="hinge_0_vis">
      <origin xyz="0 0 0.259" rpy="0 0 3.141593"/>
      <geometry>
        <mesh filename="../../hardware/hinge_e53abd72ad.obj"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="hinge_1_vis">
      <origin xyz="0 0 1.025" rpy="0 0 3.141593"/>
      <geometry>
        <mesh filename="../../hardware/hinge_e53abd72ad.obj"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="hinge_2_vis">
      <origin xyz="0 0 1.861" rpy="0 0 3.141593"/>
      <geometry>
        <mesh filename="../../hardware/hinge_e53abd72ad.obj"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
  </link>
  <link name="leaf_handle">
    <inertial>
      <origin xyz="0 0.000224 0" rpy="0 0 0"/>
      <mass value="1.13512"/>
      <inertia ixx="0.004025547" ixy="0" ixz="0" iyy="0.000312195" iyz="0" izz="0.004025547"/>
    </inertial>
    <visual name="leaf_handle_spindle_vis">
      <origin xyz="0 0 0" rpy="-1.570796 0 0"/>
      <geometry>
        <cylinder radius="0.006" length="0.038"/>
      </geometry>
      <material name="mat_op_nickel_satin"/>
    </visual>
    <visual name="leaf_handle_knob_n_vis">
      <origin xyz="0 -0.02 0" rpy="-1.570796 0 3.141593"/>
      <geometry>
        <mesh filename="../../hardware/knob_d1888f6f03.obj"/>
      </geometry>
      <material name="mat_op_nickel_satin"/>
    </visual>
    <visual name="leaf_handle_knob_col_n_vis">
      <origin xyz="0 -0.0665 0" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.0243"/>
      </geometry>
      <material name="mat_op_nickel_satin"/>
    </visual>
    <collision name="leaf_handle_knob_col_n_col">
      <origin xyz="0 -0.0665 0" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.0243"/>
      </geometry>
    </collision>
    <collision name="leaf_handle_knob_neck_n_col">
      <origin xyz="0 -0.032 0" rpy="-1.570796 0 0"/>
      <geometry>
        <cylinder radius="0.011" length="0.024"/>
      </geometry>
    </collision>
    <visual name="leaf_handle_knob_p_vis">
      <origin xyz="0 0.02 0" rpy="1.570796 0 3.141593"/>
      <geometry>
        <mesh filename="../../hardware/knob_248d825e64.obj"/>
      </geometry>
      <material name="mat_op_nickel_satin"/>
    </visual>
    <visual name="leaf_handle_knob_col_p_vis">
      <origin xyz="0 0.0665 0" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.0243"/>
      </geometry>
      <material name="mat_op_nickel_satin"/>
    </visual>
    <collision name="leaf_handle_knob_col_p_col">
      <origin xyz="0 0.0665 0" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.0243"/>
      </geometry>
    </collision>
    <collision name="leaf_handle_knob_neck_p_col">
      <origin xyz="0 0.032 0" rpy="-1.570796 0 0"/>
      <geometry>
        <cylinder radius="0.011" length="0.024"/>
      </geometry>
    </collision>
  </link>
  <link name="leaf_latch_bolt">
    <inertial>
      <origin xyz="0.00865 0 0" rpy="0 0 0"/>
      <mass value="0.041419"/>
      <inertia ixx="0.000000798" ixy="0" ixz="0" iyy="0.000005598" iyz="0" izz="0.000005598"/>
    </inertial>
    <visual name="leaf_latch_bolt_capsule_vis">
      <origin xyz="0.00865 0 0" rpy="0 -1.570796 0"/>
      <geometry>
        <cylinder radius="0.00635" length="0.03"/>
      </geometry>
      <material name="mat_bolt"/>
    </visual>
    <collision name="leaf_latch_bolt_capsule_col">
      <origin xyz="0.00865 0 0" rpy="0 -1.570796 0"/>
      <geometry>
        <cylinder radius="0.00635" length="0.03"/>
      </geometry>
    </collision>
  </link>
  <joint name="leaf_hinge" type="revolute">
    <origin xyz="0.331 0.027 0" rpy="0 0 0"/>
    <parent link="world_env"/>
    <child link="leaf"/>
    <axis xyz="0 0 -1"/>
    <limit lower="0" upper="2.356194" effort="2000" velocity="10"/>
    <dynamics damping="0.119633" friction="0.647289"/>
    <doorbench:closer damping_closing="0" damping_opening="0" backcheck_angle="0" backcheck_damping="0"/>
  </joint>
  <joint name="leaf_handle_hinge" type="revolute">
    <origin xyz="-0.6 -0.027 1.016" rpy="0 0 0"/>
    <parent link="leaf"/>
    <child link="leaf_handle"/>
    <axis xyz="0 1 0"/>
    <limit lower="0" upper="0.09" effort="2000" velocity="10"/>
    <dynamics damping="0.02" friction="0.038"/>
    <doorbench:spring stiffness="0.5" springref="-0.5" note="tau = -stiffness*(q - springref); not native URDF"/>
    <doorbench:note text="locked: range limited to backlash"/>
  </joint>
  <joint name="leaf_latch_bolt_slide" type="prismatic">
    <origin xyz="-0.66 -0.027 1.016" rpy="0 0 0"/>
    <parent link="leaf"/>
    <child link="leaf_latch_bolt"/>
    <axis xyz="1 0 0"/>
    <limit lower="0" upper="0.0127" effort="5000" velocity="10"/>
    <dynamics damping="2" friction="0.3"/>
    <doorbench:spring stiffness="300" springref="-0.008333" note="tau = -stiffness*(q - springref); not native URDF"/>
    <mimic joint="leaf_handle_hinge" multiplier="0.015679" offset="0"/>
    <doorbench:coupling one_sided="true" note="MJCF uses a one-sided tendon (bolt may retract further, e.g. riding over the strike lip); mimic is bilateral"/>
  </joint>
  <material name="mat_bolt">
    <color rgba="0.85 0.66 0.3 1"/>
  </material>
  <material name="mat_floor">
    <color rgba="0.55 0.53 0.5 1"/>
  </material>
  <material name="mat_frame">
    <color rgba="0.82 0.7 0.5 1"/>
  </material>
  <material name="mat_glass">
    <color rgba="0.85 0.92 0.95 0.25"/>
  </material>
  <material name="mat_hinge">
    <color rgba="0.65 0.66 0.68 1"/>
  </material>
  <material name="mat_leaf">
    <color rgba="0.82 0.7 0.5 1"/>
  </material>
  <material name="mat_op_nickel_satin">
    <color rgba="0.72 0.7 0.66 1"/>
  </material>
  <material name="mat_wall">
    <color rgba="0.78 0.76 0.7 1"/>
  </material>
</robot>
