<?xml version="1.0" ?>
<robot xmlns:doorbench="https://github.com/adamraudonis/DoorBench/schema/urdf-ext" name="db0857_swing_single_simple">
  <link name="world_env">
    <visual name="floor_vis">
      <origin xyz="0 0 -0.05" rpy="0 0 0"/>
      <geometry>
        <box size="12 12 0.1"/>
      </geometry>
      <material name="mat_floor"/>
    </visual>
    <collision name="floor_col">
      <origin xyz="0 0 -0.05" rpy="0 0 0"/>
      <geometry>
        <box size="12 12 0.1"/>
      </geometry>
    </collision>
    <visual name="wall_left_vis">
      <origin xyz="-1.5585 0.0155 1.3735" rpy="0 0 0"/>
      <geometry>
        <box size="1.883 0.115 2.747"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_left_col">
      <origin xyz="-1.5585 0.0155 1.3735" rpy="0 0 0"/>
      <geometry>
        <box size="1.883 0.115 2.747"/>
      </geometry>
    </collision>
    <visual name="wall_right_vis">
      <origin xyz="1.5435 0.0155 1.3735" rpy="0 0 0"/>
      <geometry>
        <box size="1.913 0.115 2.747"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_right_col">
      <origin xyz="1.5435 0.0155 1.3735" rpy="0 0 0"/>
      <geometry>
        <box size="1.913 0.115 2.747"/>
      </geometry>
    </collision>
    <visual name="wall_header_vis">
      <origin xyz="-0.015 0.0155 2.487" rpy="0 0 0"/>
      <geometry>
        <box size="1.204 0.115 0.52"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_header_col">
      <origin xyz="-0.015 0.0155 2.487" rpy="0 0 0"/>
      <geometry>
        <box size="1.204 0.115 0.52"/>
      </geometry>
    </collision>
    <visual name="hinge_0_jamb_vis">
      <origin xyz="0.534 -0.029 0.259" rpy="3.141593 0 3.141593"/>
      <geometry>
        <mesh filename="../../hardware/hinge_jamb_e1d088f8dc.obj"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="hinge_1_jamb_vis">
      <origin xyz="0.534 -0.029 1.076" rpy="3.141593 0 3.141593"/>
      <geometry>
        <mesh filename="../../hardware/hinge_jamb_e1d088f8dc.obj"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="hinge_2_jamb_vis">
      <origin xyz="0.534 -0.029 1.963" rpy="3.141593 0 3.141593"/>
      <geometry>
        <mesh filename="../../hardware/hinge_jamb_e1d088f8dc.obj"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="jamb_hinge_vis">
      <origin xyz="0.562 0.0155 1.0735" rpy="0 0 0"/>
      <geometry>
        <box size="0.05 0.115 2.147"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_hinge_col">
      <origin xyz="0.562 0.0155 1.0735" rpy="0 0 0"/>
      <geometry>
        <box size="0.05 0.115 2.147"/>
      </geometry>
    </collision>
    <visual name="strike_1040_wall_n_vis">
      <origin xyz="-0.577 0.040425 1.04" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.06515 0.0334"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="strike_1040_wall_n_col">
      <origin xyz="-0.577 0.040425 1.04" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.06515 0.0334"/>
      </geometry>
    </collision>
    <visual name="strike_1040_wall_p_vis">
      <origin xyz="-0.577 -0.01585 1.04" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.016 0.0334"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="strike_1040_wall_p_col">
      <origin xyz="-0.577 -0.01585 1.04" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.016 0.0334"/>
      </geometry>
    </collision>
    <visual name="strike_1040_ramp_vis">
      <origin xyz="-0.581496 -0.029406 1.04" rpy="0 0 -0.344766"/>
      <geometry>
        <box size="0.08 0.040535 0.0334"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="strike_1040_ramp_col">
      <origin xyz="-0.581496 -0.029406 1.04" rpy="0 0 -0.344766"/>
      <geometry>
        <box size="0.08 0.040535 0.0334"/>
      </geometry>
    </collision>
    <visual name="strike_1040_back_vis">
      <origin xyz="-0.58535 0 1.04" rpy="0 0 0"/>
      <geometry>
        <box size="0.0633 0.0157 0.0334"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="strike_1040_back_col">
      <origin xyz="-0.58535 0 1.04" rpy="0 0 0"/>
      <geometry>
        <box size="0.0633 0.0157 0.0334"/>
      </geometry>
    </collision>
    <visual name="jamb_strike_0_vis">
      <origin xyz="-0.577 0.0155 0.51165" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.115 1.0233"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_strike_0_col">
      <origin xyz="-0.577 0.0155 0.51165" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.115 1.0233"/>
      </geometry>
    </collision>
    <visual name="jamb_strike_1_vis">
      <origin xyz="-0.577 0.0155 1.60185" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.115 1.0903"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_strike_1_col">
      <origin xyz="-0.577 0.0155 1.60185" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.115 1.0903"/>
      </geometry>
    </collision>
    <visual name="jamb_head_vis">
      <origin xyz="-0.015 0.0155 2.172" rpy="0 0 0"/>
      <geometry>
        <box size="1.204 0.115 0.05"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_head_col">
      <origin xyz="-0.015 0.0155 2.172" rpy="0 0 0"/>
      <geometry>
        <box size="1.204 0.115 0.05"/>
      </geometry>
    </collision>
    <visual name="head_stud_vis">
      <origin xyz="-0.015 0.0155 2.212" rpy="0 0 0"/>
      <geometry>
        <box size="1.204 0.115 0.03"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="head_stud_col">
      <origin xyz="-0.015 0.0155 2.212" rpy="0 0 0"/>
      <geometry>
        <box size="1.204 0.115 0.03"/>
      </geometry>
    </collision>
    <visual name="stop_hinge_vis">
      <origin xyz="0.5315 0.0385 1.0735" rpy="0 0 0"/>
      <geometry>
        <box size="0.011 0.032 2.147"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="stop_hinge_col">
      <origin xyz="0.5315 0.0385 1.0735" rpy="0 0 0"/>
      <geometry>
        <box size="0.011 0.032 2.147"/>
      </geometry>
    </collision>
    <visual name="stop_strike_vis">
      <origin xyz="-0.5315 0.0385 1.0735" rpy="0 0 0"/>
      <geometry>
        <box size="0.011 0.032 2.147"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="stop_strike_col">
      <origin xyz="-0.5315 0.0385 1.0735" rpy="0 0 0"/>
      <geometry>
        <box size="0.011 0.032 2.147"/>
      </geometry>
    </collision>
    <visual name="stop_head_vis">
      <origin xyz="0 0.0385 2.1415" rpy="0 0 0"/>
      <geometry>
        <box size="1.074 0.032 0.011"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="stop_head_col">
      <origin xyz="0 0.0385 2.1415" rpy="0 0 0"/>
      <geometry>
        <box size="1.074 0.032 0.011"/>
      </geometry>
    </collision>
    <visual name="wall_reader_vis">
      <origin xyz="-0.787 -0.057 1.1" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.03 0.12"/>
      </geometry>
      <material name="mat_wallreader"/>
    </visual>
    <collision name="wall_reader_col">
      <origin xyz="-0.787 -0.057 1.1" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.03 0.12"/>
      </geometry>
    </collision>
  </link>
  <link name="leaf">
    <inertial>
      <origin xyz="-0.535545 0.02844 1.077491" rpy="0 0 0"/>
      <mass value="67.703962"/>
      <inertia ixx="25.371558831" ixy="-0.004587919" ixz="0.029765753" iyy="32.05640601" iyz="0.00334094" izz="6.708899913"/>
    </inertial>
    <visual name="leaf_slab_vis">
      <origin xyz="-0.5335 0.029 1.076" rpy="0 0 0"/>
      <geometry>
        <box size="1.067 0.044 2.134"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <collision name="leaf_slab_col">
      <origin xyz="-0.5335 0.029 1.076" rpy="0 0 0"/>
      <geometry>
        <box size="1.067 0.044 2.134"/>
      </geometry>
    </collision>
    <visual name="hinge_0_vis">
      <origin xyz="0 0 0.259" rpy="3.141593 0 3.141593"/>
      <geometry>
        <mesh filename="../../hardware/hinge_e22b26c0c1.obj"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="hinge_1_vis">
      <origin xyz="0 0 1.076" rpy="3.141593 0 3.141593"/>
      <geometry>
        <mesh filename="../../hardware/hinge_e22b26c0c1.obj"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="hinge_2_vis">
      <origin xyz="0 0 1.963" rpy="3.141593 0 3.141593"/>
      <geometry>
        <mesh filename="../../hardware/hinge_e22b26c0c1.obj"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="leaf_handle_escutcheon_n_vis">
      <origin xyz="-0.997 0.0055 1.04" rpy="0 0 0"/>
      <geometry>
        <box size="0.075 0.003 0.26"/>
      </geometry>
      <material name="mat_op_chrome"/>
    </visual>
    <visual name="leaf_handle_escutcheon_p_vis">
      <origin xyz="-0.997 0.0525 1.04" rpy="0 0 0"/>
      <geometry>
        <box size="0.075 0.003 0.26"/>
      </geometry>
      <material name="mat_op_chrome"/>
    </visual>
    <visual name="leaf_handle_reader_vis">
      <origin xyz="-0.997 0.007 1.2" rpy="-1.570796 0 3.141593"/>
      <geometry>
        <mesh filename="../../hardware/card_reader_38c0bdb077.obj"/>
      </geometry>
      <material name="mat_reader"/>
    </visual>
  </link>
  <link name="leaf_handle">
    <inertial>
      <origin xyz="0.038009 0 0" rpy="0 0 0"/>
      <mass value="0.678697"/>
      <inertia ixx="0.003248695" ixy="0" ixz="0" iyy="0.001178914" iyz="0" izz="0.004390737"/>
    </inertial>
    <visual name="leaf_handle_lever_n_vis">
      <origin xyz="0 -0.022 0" rpy="-1.570796 0 3.141593"/>
      <geometry>
        <mesh filename="../../hardware/lever_56c65af20a.obj"/>
      </geometry>
      <material name="mat_op_chrome"/>
    </visual>
    <collision name="leaf_handle_lever_col_n_col">
      <origin xyz="0.06 -0.077 0" rpy="0 1.570796 0"/>
      <geometry>
        <cylinder radius="0.0095" length="0.101"/>
      </geometry>
    </collision>
    <collision name="leaf_handle_hub_col_n_col">
      <origin xyz="0 -0.052 0" rpy="-1.570796 0 0"/>
      <geometry>
        <cylinder radius="0.012" length="0.044"/>
      </geometry>
    </collision>
    <visual name="leaf_handle_lever_p_vis">
      <origin xyz="0 0.022 0" rpy="1.570796 0 3.141593"/>
      <geometry>
        <mesh filename="../../hardware/lever_56c65af20a.obj"/>
      </geometry>
      <material name="mat_op_chrome"/>
    </visual>
    <collision name="leaf_handle_lever_col_p_col">
      <origin xyz="0.06 0.077 0" rpy="0 1.570796 0"/>
      <geometry>
        <cylinder radius="0.0095" length="0.101"/>
      </geometry>
    </collision>
    <collision name="leaf_handle_hub_col_p_col">
      <origin xyz="0 0.052 0" rpy="-1.570796 0 0"/>
      <geometry>
        <cylinder radius="0.012" length="0.044"/>
      </geometry>
    </collision>
  </link>
  <link name="leaf_latch_bolt">
    <inertial>
      <origin xyz="0.00865 0 0" rpy="0 0 0"/>
      <mass value="0.041419"/>
      <inertia ixx="0.000000798" ixy="0" ixz="0" iyy="0.000005598" iyz="0" izz="0.000005598"/>
    </inertial>
    <visual name="leaf_latch_bolt_capsule_vis">
      <origin xyz="0.00865 0 0" rpy="0 -1.570796 0"/>
      <geometry>
        <cylinder radius="0.00635" length="0.03"/>
      </geometry>
      <material name="mat_bolt"/>
    </visual>
    <collision name="leaf_latch_bolt_capsule_col">
      <origin xyz="0.00865 0 0" rpy="0 -1.570796 0"/>
      <geometry>
        <cylinder radius="0.00635" length="0.03"/>
      </geometry>
    </collision>
  </link>
  <joint name="leaf_hinge" type="revolute">
    <origin xyz="0.534 -0.029 0" rpy="0 0 0"/>
    <parent link="world_env"/>
    <child link="leaf"/>
    <axis xyz="0 0 1"/>
    <limit lower="0" upper="2.094395" effort="2000" velocity="10"/>
    <dynamics damping="0.54954" friction="0.598556"/>
    <doorbench:closer damping_closing="0" damping_opening="0" backcheck_angle="0" backcheck_damping="0"/>
  </joint>
  <joint name="leaf_handle_hinge" type="revolute">
    <origin xyz="-0.997 0.029 1.04" rpy="0 0 0"/>
    <parent link="leaf"/>
    <child link="leaf_handle"/>
    <axis xyz="0 1 0"/>
    <limit lower="0" upper="0.87" effort="2000" velocity="10"/>
    <dynamics damping="0.02" friction="0.06"/>
    <doorbench:spring stiffness="1.1" springref="-0.363636" note="tau = -stiffness*(q - springref); not native URDF"/>
  </joint>
  <joint name="leaf_latch_bolt_slide" type="prismatic">
    <origin xyz="-1.067 0.029 1.04" rpy="0 0 0"/>
    <parent link="leaf"/>
    <child link="leaf_latch_bolt"/>
    <axis xyz="1 0 0"/>
    <limit lower="0" upper="0.0127" effort="5000" velocity="10"/>
    <dynamics damping="2" friction="0.3"/>
    <doorbench:spring stiffness="300" springref="-0.008333" note="tau = -stiffness*(q - springref); not native URDF"/>
    <mimic joint="leaf_handle_hinge" multiplier="0.015679" offset="0"/>
    <doorbench:coupling one_sided="true" note="MJCF uses a one-sided tendon (bolt may retract further, e.g. riding over the strike lip); mimic is bilateral"/>
  </joint>
  <material name="mat_bolt">
    <color rgba="0.85 0.66 0.3 1"/>
  </material>
  <material name="mat_floor">
    <color rgba="0.55 0.53 0.5 1"/>
  </material>
  <material name="mat_frame">
    <color rgba="0.45 0.48 0.52 1"/>
  </material>
  <material name="mat_hinge">
    <color rgba="0.65 0.66 0.68 1"/>
  </material>
  <material name="mat_leaf">
    <color rgba="0.3 0.45 0.7 1"/>
  </material>
  <material name="mat_op_chrome">
    <color rgba="0.9 0.9 0.92 1"/>
  </material>
  <material name="mat_reader">
    <color rgba="0.05 0.05 0.05 1"/>
  </material>
  <material name="mat_wall">
    <color rgba="0.78 0.76 0.7 1"/>
  </material>
  <material name="mat_wallreader">
    <color rgba="0.05 0.05 0.05 1"/>
  </material>
</robot>
