<?xml version="1.0" ?>
<robot xmlns:doorbench="https://github.com/adamraudonis/DoorBench/schema/urdf-ext" name="db0137_bifold_full">
  <link name="world_env">
    <visual name="floor_vis">
      <origin xyz="0 0 -0.05" rpy="0 0 0"/>
      <geometry>
        <box size="12 12 0.1"/>
      </geometry>
      <material name="mat_floor"/>
    </visual>
    <collision name="floor_col">
      <origin xyz="0 0 -0.05" rpy="0 0 0"/>
      <geometry>
        <box size="12 12 0.1"/>
      </geometry>
    </collision>
    <visual name="wall_left_vis">
      <origin xyz="-1.48225 0 1.5275" rpy="0 0 0"/>
      <geometry>
        <box size="2.0355 0.145 3.055"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_left_col">
      <origin xyz="-1.48225 0 1.5275" rpy="0 0 0"/>
      <geometry>
        <box size="2.0355 0.145 3.055"/>
      </geometry>
    </collision>
    <visual name="wall_right_vis">
      <origin xyz="1.48225 0 1.5275" rpy="0 0 0"/>
      <geometry>
        <box size="2.0355 0.145 3.055"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_right_col">
      <origin xyz="1.48225 0 1.5275" rpy="0 0 0"/>
      <geometry>
        <box size="2.0355 0.145 3.055"/>
      </geometry>
    </collision>
    <visual name="wall_header_vis">
      <origin xyz="0 0 2.755" rpy="0 0 0"/>
      <geometry>
        <box size="0.929 0.145 0.6"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_header_col">
      <origin xyz="0 0 2.755" rpy="0 0 0"/>
      <geometry>
        <box size="0.929 0.145 0.6"/>
      </geometry>
    </collision>
    <visual name="jamb_hinge_vis">
      <origin xyz="-0.474 0 1.2275" rpy="0 0 0"/>
      <geometry>
        <box size="0.019 0.145 2.455"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_hinge_col">
      <origin xyz="-0.474 0 1.2275" rpy="0 0 0"/>
      <geometry>
        <box size="0.019 0.145 2.455"/>
      </geometry>
    </collision>
    <visual name="jamb_strike_vis">
      <origin xyz="0.474 0 1.2275" rpy="0 0 0"/>
      <geometry>
        <box size="0.019 0.145 2.455"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_strike_col">
      <origin xyz="0.474 0 1.2275" rpy="0 0 0"/>
      <geometry>
        <box size="0.019 0.145 2.455"/>
      </geometry>
    </collision>
    <visual name="stud_strike_vis">
      <origin xyz="0.4985 0 1.2275" rpy="0 0 0"/>
      <geometry>
        <box size="0.03 0.145 2.455"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="stud_strike_col">
      <origin xyz="0.4985 0 1.2275" rpy="0 0 0"/>
      <geometry>
        <box size="0.03 0.145 2.455"/>
      </geometry>
    </collision>
    <visual name="jamb_head_vis">
      <origin xyz="0.015 0 2.4645" rpy="0 0 0"/>
      <geometry>
        <box size="0.997 0.145 0.019"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_head_col">
      <origin xyz="0.015 0 2.4645" rpy="0 0 0"/>
      <geometry>
        <box size="0.997 0.145 0.019"/>
      </geometry>
    </collision>
    <visual name="head_stud_vis">
      <origin xyz="0.015 0 2.489" rpy="0 0 0"/>
      <geometry>
        <box size="0.997 0.145 0.03"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="head_stud_col">
      <origin xyz="0.015 0 2.489" rpy="0 0 0"/>
      <geometry>
        <box size="0.997 0.145 0.03"/>
      </geometry>
    </collision>
    <visual name="casing_l_n_vis">
      <origin xyz="-0.5135 -0.0805 1.2275" rpy="0 0 0"/>
      <geometry>
        <box size="0.07 0.016 2.474"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <visual name="casing_r_n_vis">
      <origin xyz="0.5135 -0.0805 1.2275" rpy="0 0 0"/>
      <geometry>
        <box size="0.07 0.016 2.474"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <visual name="casing_h_n_vis">
      <origin xyz="0 -0.0805 2.504" rpy="0 0 0"/>
      <geometry>
        <box size="1.097 0.016 0.07"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <visual name="casing_l_p_vis">
      <origin xyz="-0.5135 0.0805 1.2275" rpy="0 0 0"/>
      <geometry>
        <box size="0.07 0.016 2.474"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <visual name="casing_r_p_vis">
      <origin xyz="0.5135 0.0805 1.2275" rpy="0 0 0"/>
      <geometry>
        <box size="0.07 0.016 2.474"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <visual name="casing_h_p_vis">
      <origin xyz="0 0.0805 2.504" rpy="0 0 0"/>
      <geometry>
        <box size="1.097 0.016 0.07"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <visual name="fold_track_vis">
      <origin xyz="0 0 2.44" rpy="0 0 0"/>
      <geometry>
        <box size="0.929 0.04 0.03"/>
      </geometry>
      <material name="mat_track"/>
    </visual>
  </link>
  <link name="panel_0_0">
    <inertial>
      <origin xyz="0.196855 0 1.220023" rpy="0 0 0"/>
      <mass value="14.189282"/>
      <inertia ixx="6.812262164" ixy="0" ixz="0" iyy="7.046320751" iyz="0.000000065" izz="0.236955542"/>
    </inertial>
    <visual name="panel_0_0_slab_vis">
      <origin xyz="0.196855 0 1.22" rpy="0 0 0"/>
      <geometry>
        <box size="0.446291 0.035 2.4"/>
      </geometry>
      <material name="mat_panel_0_0"/>
    </visual>
    <collision name="panel_0_0_slab_col">
      <origin xyz="0.196855 0 1.22" rpy="0 0 0"/>
      <geometry>
        <box size="0.446291 0.035 2.4"/>
      </geometry>
    </collision>
    <visual name="panel_0_0_louver_0_vis">
      <origin xyz="0.196855 0 1.2938" rpy="0.610865 0 0"/>
      <geometry>
        <box size="0.266291 0.004 0.05418"/>
      </geometry>
      <material name="mat_panel_0_0_louver"/>
    </visual>
    <visual name="panel_0_0_louver_1_vis">
      <origin xyz="0.196855 0 1.3454" rpy="0.610865 0 0"/>
      <geometry>
        <box size="0.266291 0.004 0.05418"/>
      </geometry>
      <material name="mat_panel_0_0_louver"/>
    </visual>
    <visual name="panel_0_0_louver_2_vis">
      <origin xyz="0.196855 0 1.397" rpy="0.610865 0 0"/>
      <geometry>
        <box size="0.266291 0.004 0.05418"/>
      </geometry>
      <material name="mat_panel_0_0_louver"/>
    </visual>
    <visual name="panel_0_0_louver_3_vis">
      <origin xyz="0.196855 0 1.4486" rpy="0.610865 0 0"/>
      <geometry>
        <box size="0.266291 0.004 0.05418"/>
      </geometry>
      <material name="mat_panel_0_0_louver"/>
    </visual>
    <visual name="panel_0_0_louver_4_vis">
      <origin xyz="0.196855 0 1.5002" rpy="0.610865 0 0"/>
      <geometry>
        <box size="0.266291 0.004 0.05418"/>
      </geometry>
      <material name="mat_panel_0_0_louver"/>
    </visual>
    <visual name="panel_0_0_louver_5_vis">
      <origin xyz="0.196855 0 1.5518" rpy="0.610865 0 0"/>
      <geometry>
        <box size="0.266291 0.004 0.05418"/>
      </geometry>
      <material name="mat_panel_0_0_louver"/>
    </visual>
    <visual name="panel_0_0_louver_6_vis">
      <origin xyz="0.196855 0 1.6034" rpy="0.610865 0 0"/>
      <geometry>
        <box size="0.266291 0.004 0.05418"/>
      </geometry>
      <material name="mat_panel_0_0_louver"/>
    </visual>
    <visual name="panel_0_0_louver_7_vis">
      <origin xyz="0.196855 0 1.655" rpy="0.610865 0 0"/>
      <geometry>
        <box size="0.266291 0.004 0.05418"/>
      </geometry>
      <material name="mat_panel_0_0_louver"/>
    </visual>
    <visual name="panel_0_0_louver_8_vis">
      <origin xyz="0.196855 0 1.7066" rpy="0.610865 0 0"/>
      <geometry>
        <box size="0.266291 0.004 0.05418"/>
      </geometry>
      <material name="mat_panel_0_0_louver"/>
    </visual>
    <visual name="panel_0_0_louver_9_vis">
      <origin xyz="0.196855 0 1.7582" rpy="0.610865 0 0"/>
      <geometry>
        <box size="0.266291 0.004 0.05418"/>
      </geometry>
      <material name="mat_panel_0_0_louver"/>
    </visual>
    <visual name="panel_0_0_louver_10_vis">
      <origin xyz="0.196855 0 1.8098" rpy="0.610865 0 0"/>
      <geometry>
        <box size="0.266291 0.004 0.05418"/>
      </geometry>
      <material name="mat_panel_0_0_louver"/>
    </visual>
    <visual name="panel_0_0_louver_11_vis">
      <origin xyz="0.196855 0 1.8614" rpy="0.610865 0 0"/>
      <geometry>
        <box size="0.266291 0.004 0.05418"/>
      </geometry>
      <material name="mat_panel_0_0_louver"/>
    </visual>
    <visual name="panel_0_0_louver_12_vis">
      <origin xyz="0.196855 0 1.913" rpy="0.610865 0 0"/>
      <geometry>
        <box size="0.266291 0.004 0.05418"/>
      </geometry>
      <material name="mat_panel_0_0_louver"/>
    </visual>
    <visual name="panel_0_0_louver_13_vis">
      <origin xyz="0.196855 0 1.9646" rpy="0.610865 0 0"/>
      <geometry>
        <box size="0.266291 0.004 0.05418"/>
      </geometry>
      <material name="mat_panel_0_0_louver"/>
    </visual>
    <visual name="panel_0_0_louver_14_vis">
      <origin xyz="0.196855 0 2.0162" rpy="0.610865 0 0"/>
      <geometry>
        <box size="0.266291 0.004 0.05418"/>
      </geometry>
      <material name="mat_panel_0_0_louver"/>
    </visual>
    <visual name="panel_0_0_louver_15_vis">
      <origin xyz="0.196855 0 2.0678" rpy="0.610865 0 0"/>
      <geometry>
        <box size="0.266291 0.004 0.05418"/>
      </geometry>
      <material name="mat_panel_0_0_louver"/>
    </visual>
    <visual name="panel_0_0_louver_16_vis">
      <origin xyz="0.196855 0 2.1194" rpy="0.610865 0 0"/>
      <geometry>
        <box size="0.266291 0.004 0.05418"/>
      </geometry>
      <material name="mat_panel_0_0_louver"/>
    </visual>
    <visual name="panel_0_0_louver_17_vis">
      <origin xyz="0.196855 0 2.171" rpy="0.610865 0 0"/>
      <geometry>
        <box size="0.266291 0.004 0.05418"/>
      </geometry>
      <material name="mat_panel_0_0_louver"/>
    </visual>
    <visual name="panel_0_0_louver_18_vis">
      <origin xyz="0.196855 0 2.2226" rpy="0.610865 0 0"/>
      <geometry>
        <box size="0.266291 0.004 0.05418"/>
      </geometry>
      <material name="mat_panel_0_0_louver"/>
    </visual>
    <visual name="panel_0_0_louver_19_vis">
      <origin xyz="0.196855 0 2.2742" rpy="0.610865 0 0"/>
      <geometry>
        <box size="0.266291 0.004 0.05418"/>
      </geometry>
      <material name="mat_panel_0_0_louver"/>
    </visual>
  </link>
  <link name="panel_0_1">
    <inertial>
      <origin xyz="0.038832 -0.005068 1.203726" rpy="0 0 0"/>
      <mass value="14.831718"/>
      <inertia ixx="6.524032934" ixy="0.026921272" ixz="0.092446179" iyy="6.726211389" iyz="-0.013449762" izz="0.210110454"/>
    </inertial>
    <visual name="panel_0_1_slab_vis">
      <origin xyz="0.234 -0.0175 1.22" rpy="0 0 0"/>
      <geometry>
        <box size="0.464 0.035 2.4"/>
      </geometry>
      <material name="mat_panel_0_1"/>
    </visual>
    <collision name="panel_0_1_slab_col">
      <origin xyz="0.234 -0.0175 1.22" rpy="0 0 0"/>
      <geometry>
        <box size="0.464 0.035 2.4"/>
      </geometry>
    </collision>
    <visual name="panel_0_1_louver_0_vis">
      <origin xyz="0.234 -0.0175 1.2938" rpy="0.610865 0 0"/>
      <geometry>
        <box size="0.284 0.004 0.05418"/>
      </geometry>
      <material name="mat_panel_0_1_louver"/>
    </visual>
    <visual name="panel_0_1_louver_1_vis">
      <origin xyz="0.234 -0.0175 1.3454" rpy="0.610865 0 0"/>
      <geometry>
        <box size="0.284 0.004 0.05418"/>
      </geometry>
      <material name="mat_panel_0_1_louver"/>
    </visual>
    <visual name="panel_0_1_louver_2_vis">
      <origin xyz="0.234 -0.0175 1.397" rpy="0.610865 0 0"/>
      <geometry>
        <box size="0.284 0.004 0.05418"/>
      </geometry>
      <material name="mat_panel_0_1_louver"/>
    </visual>
    <visual name="panel_0_1_louver_3_vis">
      <origin xyz="0.234 -0.0175 1.4486" rpy="0.610865 0 0"/>
      <geometry>
        <box size="0.284 0.004 0.05418"/>
      </geometry>
      <material name="mat_panel_0_1_louver"/>
    </visual>
    <visual name="panel_0_1_louver_4_vis">
      <origin xyz="0.234 -0.0175 1.5002" rpy="0.610865 0 0"/>
      <geometry>
        <box size="0.284 0.004 0.05418"/>
      </geometry>
      <material name="mat_panel_0_1_louver"/>
    </visual>
    <visual name="panel_0_1_louver_5_vis">
      <origin xyz="0.234 -0.0175 1.5518" rpy="0.610865 0 0"/>
      <geometry>
        <box size="0.284 0.004 0.05418"/>
      </geometry>
      <material name="mat_panel_0_1_louver"/>
    </visual>
    <visual name="panel_0_1_louver_6_vis">
      <origin xyz="0.234 -0.0175 1.6034" rpy="0.610865 0 0"/>
      <geometry>
        <box size="0.284 0.004 0.05418"/>
      </geometry>
      <material name="mat_panel_0_1_louver"/>
    </visual>
    <visual name="panel_0_1_louver_7_vis">
      <origin xyz="0.234 -0.0175 1.655" rpy="0.610865 0 0"/>
      <geometry>
        <box size="0.284 0.004 0.05418"/>
      </geometry>
      <material name="mat_panel_0_1_louver"/>
    </visual>
    <visual name="panel_0_1_louver_8_vis">
      <origin xyz="0.234 -0.0175 1.7066" rpy="0.610865 0 0"/>
      <geometry>
        <box size="0.284 0.004 0.05418"/>
      </geometry>
      <material name="mat_panel_0_1_louver"/>
    </visual>
    <visual name="panel_0_1_louver_9_vis">
      <origin xyz="0.234 -0.0175 1.7582" rpy="0.610865 0 0"/>
      <geometry>
        <box size="0.284 0.004 0.05418"/>
      </geometry>
      <material name="mat_panel_0_1_louver"/>
    </visual>
    <visual name="panel_0_1_louver_10_vis">
      <origin xyz="0.234 -0.0175 1.8098" rpy="0.610865 0 0"/>
      <geometry>
        <box size="0.284 0.004 0.05418"/>
      </geometry>
      <material name="mat_panel_0_1_louver"/>
    </visual>
    <visual name="panel_0_1_louver_11_vis">
      <origin xyz="0.234 -0.0175 1.8614" rpy="0.610865 0 0"/>
      <geometry>
        <box size="0.284 0.004 0.05418"/>
      </geometry>
      <material name="mat_panel_0_1_louver"/>
    </visual>
    <visual name="panel_0_1_louver_12_vis">
      <origin xyz="0.234 -0.0175 1.913" rpy="0.610865 0 0"/>
      <geometry>
        <box size="0.284 0.004 0.05418"/>
      </geometry>
      <material name="mat_panel_0_1_louver"/>
    </visual>
    <visual name="panel_0_1_louver_13_vis">
      <origin xyz="0.234 -0.0175 1.9646" rpy="0.610865 0 0"/>
      <geometry>
        <box size="0.284 0.004 0.05418"/>
      </geometry>
      <material name="mat_panel_0_1_louver"/>
    </visual>
    <visual name="panel_0_1_louver_14_vis">
      <origin xyz="0.234 -0.0175 2.0162" rpy="0.610865 0 0"/>
      <geometry>
        <box size="0.284 0.004 0.05418"/>
      </geometry>
      <material name="mat_panel_0_1_louver"/>
    </visual>
    <visual name="panel_0_1_louver_15_vis">
      <origin xyz="0.234 -0.0175 2.0678" rpy="0.610865 0 0"/>
      <geometry>
        <box size="0.284 0.004 0.05418"/>
      </geometry>
      <material name="mat_panel_0_1_louver"/>
    </visual>
    <visual name="panel_0_1_louver_16_vis">
      <origin xyz="0.234 -0.0175 2.1194" rpy="0.610865 0 0"/>
      <geometry>
        <box size="0.284 0.004 0.05418"/>
      </geometry>
      <material name="mat_panel_0_1_louver"/>
    </visual>
    <visual name="panel_0_1_louver_17_vis">
      <origin xyz="0.234 -0.0175 2.171" rpy="0.610865 0 0"/>
      <geometry>
        <box size="0.284 0.004 0.05418"/>
      </geometry>
      <material name="mat_panel_0_1_louver"/>
    </visual>
    <visual name="panel_0_1_louver_18_vis">
      <origin xyz="0.234 -0.0175 2.2226" rpy="0.610865 0 0"/>
      <geometry>
        <box size="0.284 0.004 0.05418"/>
      </geometry>
      <material name="mat_panel_0_1_louver"/>
    </visual>
    <visual name="panel_0_1_louver_19_vis">
      <origin xyz="0.234 -0.0175 2.2742" rpy="0.610865 0 0"/>
      <geometry>
        <box size="0.284 0.004 0.05418"/>
      </geometry>
      <material name="mat_panel_0_1_louver"/>
    </visual>
    <visual name="panel_0_1_knuckle_vis">
      <origin xyz="0 0 1.22" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.0045" length="2.38"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="panel_0_1_knob_vis">
      <origin xyz="0.416 -0.035 1" rpy="1.570796 0 0"/>
      <geometry>
        <mesh filename="../../hardware/knob_13f7a2a65f.obj"/>
      </geometry>
      <material name="mat_op_nickel_satin"/>
    </visual>
    <visual name="panel_0_1_knob_col_vis">
      <origin xyz="0.416 -0.065 1" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.016"/>
      </geometry>
      <material name="mat_op_nickel_satin"/>
    </visual>
    <collision name="panel_0_1_knob_col_col">
      <origin xyz="0.416 -0.065 1" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.016"/>
      </geometry>
    </collision>
  </link>
  <joint name="panel_0_0_hinge" type="revolute">
    <origin xyz="-0.4295 0 0" rpy="0 0 0"/>
    <parent link="world_env"/>
    <child link="panel_0_0"/>
    <axis xyz="0 0 -1"/>
    <limit lower="0" upper="1.48353" effort="2000" velocity="10"/>
    <dynamics damping="0.89021" friction="20.591113"/>
  </joint>
  <joint name="panel_0_1_hinge" type="revolute">
    <origin xyz="0.422 0.0175 0" rpy="0 0 0"/>
    <parent link="panel_0_0"/>
    <child link="panel_0_1"/>
    <axis xyz="0 0 -1"/>
    <limit lower="-3.141593" upper="0" effort="2000" velocity="10"/>
    <dynamics damping="0.2" friction="0.1"/>
    <mimic joint="panel_0_0_hinge" multiplier="-2" offset="0"/>
  </joint>
  <material name="mat_floor">
    <color rgba="0.55 0.53 0.5 1"/>
  </material>
  <material name="mat_frame">
    <color rgba="0.82 0.7 0.5 1"/>
  </material>
  <material name="mat_hinge">
    <color rgba="0.65 0.66 0.68 1"/>
  </material>
  <material name="mat_op_nickel_satin">
    <color rgba="0.72 0.7 0.66 1"/>
  </material>
  <material name="mat_panel_0_0">
    <color rgba="0.9 0.88 0.82 1"/>
  </material>
  <material name="mat_panel_0_0_louver">
    <color rgba="0.765 0.748 0.697 1"/>
  </material>
  <material name="mat_panel_0_1">
    <color rgba="0.9 0.88 0.82 1"/>
  </material>
  <material name="mat_panel_0_1_louver">
    <color rgba="0.765 0.748 0.697 1"/>
  </material>
  <material name="mat_track">
    <color rgba="0.8 0.81 0.83 1"/>
  </material>
  <material name="mat_wall">
    <color rgba="0.78 0.76 0.7 1"/>
  </material>
</robot>
