<?xml version="1.0" ?>
<robot xmlns:doorbench="https://github.com/adamraudonis/DoorBench/schema/urdf-ext" name="db0532_swing_single_full">
  <link name="world_env">
    <visual name="floor_vis">
      <origin xyz="0 0 -0.05" rpy="0 0 0"/>
      <geometry>
        <box size="12 12 0.1"/>
      </geometry>
      <material name="mat_floor"/>
    </visual>
    <collision name="floor_col">
      <origin xyz="0 0 -0.05" rpy="0 0 0"/>
      <geometry>
        <box size="12 12 0.1"/>
      </geometry>
    </collision>
    <visual name="wall_left_vis">
      <origin xyz="-1.52525 -0.071 1.35" rpy="0 0 0"/>
      <geometry>
        <box size="1.9495 0.2 2.7"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_left_col">
      <origin xyz="-1.52525 -0.071 1.35" rpy="0 0 0"/>
      <geometry>
        <box size="1.9495 0.2 2.7"/>
      </geometry>
    </collision>
    <visual name="wall_right_vis">
      <origin xyz="1.51025 -0.071 1.35" rpy="0 0 0"/>
      <geometry>
        <box size="1.9795 0.2 2.7"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_right_col">
      <origin xyz="1.51025 -0.071 1.35" rpy="0 0 0"/>
      <geometry>
        <box size="1.9795 0.2 2.7"/>
      </geometry>
    </collision>
    <visual name="wall_header_vis">
      <origin xyz="-0.015 -0.071 2.394" rpy="0 0 0"/>
      <geometry>
        <box size="1.071 0.2 0.612"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_header_col">
      <origin xyz="-0.015 -0.071 2.394" rpy="0 0 0"/>
      <geometry>
        <box size="1.071 0.2 0.612"/>
      </geometry>
    </collision>
    <visual name="hinge_0_jamb_vis">
      <origin xyz="0.4575 0.029 0.259" rpy="0 0 3.141593"/>
      <geometry>
        <mesh filename="../../hardware/hinge_jamb_c0c0a62ada.obj"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="hinge_1_jamb_vis">
      <origin xyz="0.4575 0.029 1.0015" rpy="0 0 3.141593"/>
      <geometry>
        <mesh filename="../../hardware/hinge_jamb_c0c0a62ada.obj"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="hinge_2_jamb_vis">
      <origin xyz="0.4575 0.029 1.814" rpy="0 0 3.141593"/>
      <geometry>
        <mesh filename="../../hardware/hinge_jamb_c0c0a62ada.obj"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="leaf_aux_bolt_keeper_b_vis">
      <origin xyz="-0.46 -0.034 1.287" rpy="1.570796 0 1.570796"/>
      <geometry>
        <box size="0.028 0.006 0.001"/>
      </geometry>
      <material name="mat_op_brass"/>
    </visual>
    <visual name="leaf_aux_bolt_keeper_l_vis">
      <origin xyz="-0.46 -0.045 1.3" rpy="1.570796 0 1.570796"/>
      <geometry>
        <box size="0.006 0.02 0.001"/>
      </geometry>
      <material name="mat_op_brass"/>
    </visual>
    <visual name="leaf_aux_bolt_keeper_t_vis">
      <origin xyz="-0.46 -0.034 1.313" rpy="1.570796 0 1.570796"/>
      <geometry>
        <box size="0.028 0.006 0.001"/>
      </geometry>
      <material name="mat_op_brass"/>
    </visual>
    <visual name="leaf_aux_bolt_keeper_r_vis">
      <origin xyz="-0.46 -0.023 1.3" rpy="1.570796 0 1.570796"/>
      <geometry>
        <box size="0.006 0.02 0.001"/>
      </geometry>
      <material name="mat_op_brass"/>
    </visual>
    <visual name="jamb_hinge_vis">
      <origin xyz="0.4905 -0.071 0.999" rpy="0 0 0"/>
      <geometry>
        <box size="0.06 0.2 1.998"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_hinge_col">
      <origin xyz="0.4905 -0.071 0.999" rpy="0 0 0"/>
      <geometry>
        <box size="0.06 0.2 1.998"/>
      </geometry>
    </collision>
    <visual name="strike_1300_wall_n_vis">
      <origin xyz="-0.5055 -0.1065 1.3" rpy="0 0 0"/>
      <geometry>
        <box size="0.09 0.129 0.02"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="strike_1300_wall_n_col">
      <origin xyz="-0.5055 -0.1065 1.3" rpy="0 0 0"/>
      <geometry>
        <box size="0.09 0.129 0.02"/>
      </geometry>
    </collision>
    <visual name="strike_1300_wall_p_vis">
      <origin xyz="-0.5055 0.0015 1.3" rpy="0 0 0"/>
      <geometry>
        <box size="0.09 0.055 0.02"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="strike_1300_wall_p_col">
      <origin xyz="-0.5055 0.0015 1.3" rpy="0 0 0"/>
      <geometry>
        <box size="0.09 0.055 0.02"/>
      </geometry>
    </collision>
    <visual name="strike_1300_back_vis">
      <origin xyz="-0.5265 -0.034 1.3" rpy="0 0 0"/>
      <geometry>
        <box size="0.048 0.016 0.02"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="strike_1300_back_col">
      <origin xyz="-0.5265 -0.034 1.3" rpy="0 0 0"/>
      <geometry>
        <box size="0.048 0.016 0.02"/>
      </geometry>
    </collision>
    <visual name="jamb_strike_0_vis">
      <origin xyz="-0.5055 -0.071 0.645" rpy="0 0 0"/>
      <geometry>
        <box size="0.09 0.2 1.29"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_strike_0_col">
      <origin xyz="-0.5055 -0.071 0.645" rpy="0 0 0"/>
      <geometry>
        <box size="0.09 0.2 1.29"/>
      </geometry>
    </collision>
    <visual name="jamb_strike_1_vis">
      <origin xyz="-0.5055 -0.071 1.654" rpy="0 0 0"/>
      <geometry>
        <box size="0.09 0.2 0.688"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_strike_1_col">
      <origin xyz="-0.5055 -0.071 1.654" rpy="0 0 0"/>
      <geometry>
        <box size="0.09 0.2 0.688"/>
      </geometry>
    </collision>
    <visual name="jamb_head_vis">
      <origin xyz="-0.015 -0.071 2.028" rpy="0 0 0"/>
      <geometry>
        <box size="1.071 0.2 0.06"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_head_col">
      <origin xyz="-0.015 -0.071 2.028" rpy="0 0 0"/>
      <geometry>
        <box size="1.071 0.2 0.06"/>
      </geometry>
    </collision>
    <visual name="head_stud_vis">
      <origin xyz="-0.015 -0.071 2.073" rpy="0 0 0"/>
      <geometry>
        <box size="1.071 0.2 0.03"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="head_stud_col">
      <origin xyz="-0.015 -0.071 2.073" rpy="0 0 0"/>
      <geometry>
        <box size="1.071 0.2 0.03"/>
      </geometry>
    </collision>
    <visual name="stop_hinge_vis">
      <origin xyz="0.455 -0.0385 0.999" rpy="0 0 0"/>
      <geometry>
        <box size="0.011 0.032 1.998"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="stop_hinge_col">
      <origin xyz="0.455 -0.0385 0.999" rpy="0 0 0"/>
      <geometry>
        <box size="0.011 0.032 1.998"/>
      </geometry>
    </collision>
    <visual name="stop_strike_vis">
      <origin xyz="-0.455 -0.0385 0.639" rpy="0 0 0"/>
      <geometry>
        <box size="0.011 0.032 1.278"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="stop_strike_col">
      <origin xyz="-0.455 -0.0385 0.639" rpy="0 0 0"/>
      <geometry>
        <box size="0.011 0.032 1.278"/>
      </geometry>
    </collision>
    <visual name="stop_strike_1_vis">
      <origin xyz="-0.455 -0.0385 1.66" rpy="0 0 0"/>
      <geometry>
        <box size="0.011 0.032 0.676"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="stop_strike_1_col">
      <origin xyz="-0.455 -0.0385 1.66" rpy="0 0 0"/>
      <geometry>
        <box size="0.011 0.032 0.676"/>
      </geometry>
    </collision>
    <visual name="stop_head_vis">
      <origin xyz="0 -0.0385 1.9925" rpy="0 0 0"/>
      <geometry>
        <box size="0.921 0.032 0.011"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="stop_head_col">
      <origin xyz="0 -0.0385 1.9925" rpy="0 0 0"/>
      <geometry>
        <box size="0.921 0.032 0.011"/>
      </geometry>
    </collision>
    <visual name="door_stop_base_vis">
      <origin xyz="0.4745 0.8059 0.003" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.022" length="0.006"/>
      </geometry>
      <material name="mat_stop_base"/>
    </visual>
    <collision name="door_stop_base_col">
      <origin xyz="0.4745 0.8059 0.003" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.022" length="0.006"/>
      </geometry>
    </collision>
    <visual name="door_stop_post_vis">
      <origin xyz="0.4745 0.8059 0.0305" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.012" length="0.049"/>
      </geometry>
      <material name="mat_stop_base"/>
    </visual>
    <collision name="door_stop_post_col">
      <origin xyz="0.4745 0.8059 0.0305" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.012" length="0.049"/>
      </geometry>
    </collision>
    <visual name="door_stop_bumper_vis">
      <origin xyz="0.4745 0.8059 0.075" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.022" length="0.04"/>
      </geometry>
      <material name="mat_bumper_stop"/>
    </visual>
    <collision name="door_stop_bumper_col">
      <origin xyz="0.4745 0.8059 0.075" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.022" length="0.04"/>
      </geometry>
    </collision>
  </link>
  <link name="leaf">
    <inertial>
      <origin xyz="-0.458397 -0.028988 1.004007" rpy="0 0 0"/>
      <mass value="57.138348"/>
      <inertia ixx="18.563706862" ixy="-0.004742357" ixz="0.018570566" iyy="22.636064668" iyz="0.003653713" izz="4.095442048"/>
    </inertial>
    <visual name="leaf_slab_vis">
      <origin xyz="-0.457 -0.029 1.0015" rpy="0 0 0"/>
      <geometry>
        <box size="0.914 0.044 1.985"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <collision name="leaf_slab_col">
      <origin xyz="-0.457 -0.029 1.0015" rpy="0 0 0"/>
      <geometry>
        <box size="0.914 0.044 1.985"/>
      </geometry>
    </collision>
    <visual name="leaf_plank_gap_1_vis">
      <origin xyz="-0.152333 -0.029 1.0015" rpy="0 0 0"/>
      <geometry>
        <box size="0.004 0.046 1.965"/>
      </geometry>
      <material name="mat_leaf_brace"/>
    </visual>
    <visual name="leaf_plank_gap_2_vis">
      <origin xyz="-0.304667 -0.029 1.0015" rpy="0 0 0"/>
      <geometry>
        <box size="0.004 0.046 1.965"/>
      </geometry>
      <material name="mat_leaf_brace"/>
    </visual>
    <visual name="leaf_plank_gap_3_vis">
      <origin xyz="-0.457 -0.029 1.0015" rpy="0 0 0"/>
      <geometry>
        <box size="0.004 0.046 1.965"/>
      </geometry>
      <material name="mat_leaf_brace"/>
    </visual>
    <visual name="leaf_plank_gap_4_vis">
      <origin xyz="-0.609333 -0.029 1.0015" rpy="0 0 0"/>
      <geometry>
        <box size="0.004 0.046 1.965"/>
      </geometry>
      <material name="mat_leaf_brace"/>
    </visual>
    <visual name="leaf_plank_gap_5_vis">
      <origin xyz="-0.761667 -0.029 1.0015" rpy="0 0 0"/>
      <geometry>
        <box size="0.004 0.046 1.965"/>
      </geometry>
      <material name="mat_leaf_brace"/>
    </visual>
    <visual name="hinge_0_vis">
      <origin xyz="0 0 0.259" rpy="0 0 3.141593"/>
      <geometry>
        <mesh filename="../../hardware/hinge_2af0f4d6ca.obj"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="hinge_1_vis">
      <origin xyz="0 0 1.0015" rpy="0 0 3.141593"/>
      <geometry>
        <mesh filename="../../hardware/hinge_2af0f4d6ca.obj"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="hinge_2_vis">
      <origin xyz="0 0 1.814" rpy="0 0 3.141593"/>
      <geometry>
        <mesh filename="../../hardware/hinge_2af0f4d6ca.obj"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="leaf_ring_pull_n_vis">
      <origin xyz="-0.809 -0.051 1.05" rpy="-1.570796 0 3.141593"/>
      <geometry>
        <mesh filename="../../hardware/ring_cc5c941a8a.obj"/>
      </geometry>
      <material name="mat_op_wrought_iron"/>
    </visual>
    <collision name="leaf_ring_pull_col_n_col">
      <origin xyz="-0.809 -0.083 0.99" rpy="0 1.570796 0"/>
      <geometry>
        <cylinder radius="0.008" length="0.1"/>
      </geometry>
    </collision>
    <visual name="leaf_ring_pull_p_vis">
      <origin xyz="-0.809 -0.007 1.05" rpy="1.570796 0 3.141593"/>
      <geometry>
        <mesh filename="../../hardware/ring_cc5c941a8a.obj"/>
      </geometry>
      <material name="mat_op_wrought_iron"/>
    </visual>
    <collision name="leaf_ring_pull_col_p_col">
      <origin xyz="-0.809 0.025 0.99" rpy="0 1.570796 0"/>
      <geometry>
        <cylinder radius="0.008" length="0.1"/>
      </geometry>
    </collision>
    <visual name="leaf_aux_bolt_plate_vis">
      <origin xyz="-0.8465 -0.052 1.3" rpy="-1.570796 0 3.141593"/>
      <geometry>
        <box size="0.119 0.038 0.002"/>
      </geometry>
      <material name="mat_op_brass"/>
    </visual>
    <visual name="leaf_aux_bolt_guide_0_leg_n_vis">
      <origin xyz="-0.898 -0.0635 1.311" rpy="-1.570796 0 3.141593"/>
      <geometry>
        <box size="0.012 0.004 0.025"/>
      </geometry>
      <material name="mat_op_brass"/>
    </visual>
    <visual name="leaf_aux_bolt_guide_0_leg_p_vis">
      <origin xyz="-0.898 -0.0635 1.289" rpy="-1.570796 0 3.141593"/>
      <geometry>
        <box size="0.012 0.004 0.025"/>
      </geometry>
      <material name="mat_op_brass"/>
    </visual>
    <visual name="leaf_aux_bolt_guide_0_bridge_vis">
      <origin xyz="-0.898 -0.074 1.3" rpy="-1.570796 0 3.141593"/>
      <geometry>
        <box size="0.012 0.026 0.004"/>
      </geometry>
      <material name="mat_op_brass"/>
    </visual>
    <visual name="leaf_aux_bolt_guide_1_leg_n_vis">
      <origin xyz="-0.797 -0.0635 1.311" rpy="-1.570796 0 3.141593"/>
      <geometry>
        <box size="0.012 0.004 0.025"/>
      </geometry>
      <material name="mat_op_brass"/>
    </visual>
    <visual name="leaf_aux_bolt_guide_1_leg_p_vis">
      <origin xyz="-0.797 -0.0635 1.289" rpy="-1.570796 0 3.141593"/>
      <geometry>
        <box size="0.012 0.004 0.025"/>
      </geometry>
      <material name="mat_op_brass"/>
    </visual>
    <visual name="leaf_aux_bolt_guide_1_bridge_vis">
      <origin xyz="-0.797 -0.074 1.3" rpy="-1.570796 0 3.141593"/>
      <geometry>
        <box size="0.012 0.026 0.004"/>
      </geometry>
      <material name="mat_op_brass"/>
    </visual>
    <visual name="house_numbers_vis">
      <origin xyz="-0.457 -0.051 1.644" rpy="-1.570796 0 3.141593"/>
      <geometry>
        <mesh filename="../../hardware/house_numbers_ad0a8e8be0.obj"/>
      </geometry>
      <material name="mat_numbers"/>
    </visual>
  </link>
  <link name="leaf_aux_bolt">
    <inertial>
      <origin xyz="0.068563 -0.00492 0" rpy="0 0 0"/>
      <mass value="0.111784"/>
      <inertia ixx="0.000012882" ixy="0.00000629" ixz="0" iyy="0.000071315" iyz="0" izz="0.000082309"/>
    </inertial>
    <visual name="leaf_aux_bolt_rod_vis">
      <origin xyz="0.065 0 0" rpy="0 -1.570796 0"/>
      <geometry>
        <cylinder radius="0.006" length="0.088"/>
      </geometry>
      <material name="mat_op_brass"/>
    </visual>
    <collision name="leaf_aux_bolt_rod_col">
      <origin xyz="0.065 0 0" rpy="0 -1.570796 0"/>
      <geometry>
        <cylinder radius="0.006" length="0.088"/>
      </geometry>
    </collision>
    <visual name="leaf_aux_bolt_knob_vis">
      <origin xyz="0.08 -0.015 0" rpy="1.570796 0 0"/>
      <geometry>
        <cylinder radius="0.005" length="0.02"/>
      </geometry>
      <material name="mat_op_brass"/>
    </visual>
    <collision name="leaf_aux_bolt_knob_col">
      <origin xyz="0.08 -0.015 0" rpy="1.570796 0 0"/>
      <geometry>
        <cylinder radius="0.005" length="0.02"/>
      </geometry>
    </collision>
    <visual name="leaf_aux_bolt_knob_end_vis">
      <origin xyz="0.08 -0.03 0" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.00675"/>
      </geometry>
      <material name="mat_op_brass"/>
    </visual>
  </link>
  <joint name="leaf_hinge" type="revolute">
    <origin xyz="0.4575 0.029 0" rpy="0 0 0"/>
    <parent link="world_env"/>
    <child link="leaf"/>
    <axis xyz="0 0 -1"/>
    <limit lower="0" upper="1.570796" effort="2000" velocity="10"/>
    <dynamics damping="0.300186" friction="7.882315"/>
    <doorbench:closer damping_closing="0" damping_opening="0" backcheck_angle="0" backcheck_damping="0"/>
  </joint>
  <joint name="leaf_aux_bolt_slide" type="prismatic">
    <origin xyz="-0.914 -0.063 1.3" rpy="0 0 0"/>
    <parent link="leaf"/>
    <child link="leaf_aux_bolt"/>
    <axis xyz="1 0 0"/>
    <doorbench:zero_offset value="0.045" note="URDF q=0 is the spec initial state; DoorBench q = urdf_q + value"/>
    <limit lower="-0.045" upper="0" effort="5000" velocity="10"/>
    <dynamics damping="1" friction="1"/>
  </joint>
  <material name="mat_bumper_stop">
    <color rgba="0.08 0.08 0.08 1"/>
  </material>
  <material name="mat_floor">
    <color rgba="0.55 0.53 0.5 1"/>
  </material>
  <material name="mat_frame">
    <color rgba="0.7 0.58 0.42 1"/>
  </material>
  <material name="mat_hinge">
    <color rgba="0.65 0.66 0.68 1"/>
  </material>
  <material name="mat_leaf">
    <color rgba="0.62 0.45 0.3 1"/>
  </material>
  <material name="mat_leaf_brace">
    <color rgba="0.558 0.405 0.27 1"/>
  </material>
  <material name="mat_numbers">
    <color rgba="0.05 0.05 0.05 1"/>
  </material>
  <material name="mat_op_brass">
    <color rgba="0.85 0.66 0.3 1"/>
  </material>
  <material name="mat_op_wrought_iron">
    <color rgba="0.08 0.08 0.09 1"/>
  </material>
  <material name="mat_stop_base">
    <color rgba="0.9 0.9 0.92 1"/>
  </material>
  <material name="mat_wall">
    <color rgba="0.78 0.76 0.7 1"/>
  </material>
</robot>
