<?xml version="1.0" ?>
<robot xmlns:doorbench="https://github.com/adamraudonis/DoorBench/schema/urdf-ext" name="db0742_gate_swing_full">
  <link name="world_env">
    <visual name="floor_vis">
      <origin xyz="0 0 -0.05" rpy="0 0 0"/>
      <geometry>
        <box size="12 12 0.1"/>
      </geometry>
      <material name="mat_floor"/>
    </visual>
    <collision name="floor_col">
      <origin xyz="0 0 -0.05" rpy="0 0 0"/>
      <geometry>
        <box size="12 12 0.1"/>
      </geometry>
    </collision>
    <visual name="hinge_0_jamb_vis">
      <origin xyz="-0.603 0.0195 0.4" rpy="3.141593 0 0"/>
      <geometry>
        <mesh filename="../../hardware/hinge_jamb_c00731b0bd.obj"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="hinge_1_jamb_vis">
      <origin xyz="-0.603 0.0195 0.97" rpy="3.141593 0 0"/>
      <geometry>
        <mesh filename="../../hardware/hinge_jamb_c00731b0bd.obj"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="post_hinge_vis">
      <origin xyz="-0.656 0 0.6" rpy="0 0 0"/>
      <geometry>
        <box size="0.1 0.1 1.2"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="post_hinge_col">
      <origin xyz="-0.656 0 0.6" rpy="0 0 0"/>
      <geometry>
        <box size="0.1 0.1 1.2"/>
      </geometry>
    </collision>
    <visual name="post_hinge_cap_vis">
      <origin xyz="-0.656 0 1.22" rpy="0 0 0"/>
      <geometry>
        <box size="0.13 0.13 0.04"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <visual name="post_latch_vis">
      <origin xyz="0.656 0 0.6" rpy="0 0 0"/>
      <geometry>
        <box size="0.1 0.1 1.2"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="post_latch_col">
      <origin xyz="0.656 0 0.6" rpy="0 0 0"/>
      <geometry>
        <box size="0.1 0.1 1.2"/>
      </geometry>
    </collision>
    <visual name="post_latch_cap_vis">
      <origin xyz="0.656 0 1.22" rpy="0 0 0"/>
      <geometry>
        <box size="0.13 0.13 0.04"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <visual name="gate_stop_vis">
      <origin xyz="0.586 -0.0245 0.4" rpy="0 0 0"/>
      <geometry>
        <box size="0.04 0.024 0.12"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="gate_stop_col">
      <origin xyz="0.586 -0.0245 0.4" rpy="0 0 0"/>
      <geometry>
        <box size="0.04 0.024 0.12"/>
      </geometry>
    </collision>
    <visual name="fence_picket_l_0_vis">
      <origin xyz="-0.786 0 0.65" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1"/>
      </geometry>
      <material name="mat_fence"/>
    </visual>
    <collision name="fence_picket_l_0_col">
      <origin xyz="-0.786 0 0.65" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1"/>
      </geometry>
    </collision>
    <visual name="fence_picket_l_1_vis">
      <origin xyz="-0.946 0 0.65" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1"/>
      </geometry>
      <material name="mat_fence"/>
    </visual>
    <collision name="fence_picket_l_1_col">
      <origin xyz="-0.946 0 0.65" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1"/>
      </geometry>
    </collision>
    <visual name="fence_picket_l_2_vis">
      <origin xyz="-1.106 0 0.65" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1"/>
      </geometry>
      <material name="mat_fence"/>
    </visual>
    <collision name="fence_picket_l_2_col">
      <origin xyz="-1.106 0 0.65" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1"/>
      </geometry>
    </collision>
    <visual name="fence_picket_l_3_vis">
      <origin xyz="-1.266 0 0.65" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1"/>
      </geometry>
      <material name="mat_fence"/>
    </visual>
    <collision name="fence_picket_l_3_col">
      <origin xyz="-1.266 0 0.65" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1"/>
      </geometry>
    </collision>
    <visual name="fence_picket_l_4_vis">
      <origin xyz="-1.426 0 0.65" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1"/>
      </geometry>
      <material name="mat_fence"/>
    </visual>
    <collision name="fence_picket_l_4_col">
      <origin xyz="-1.426 0 0.65" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1"/>
      </geometry>
    </collision>
    <visual name="fence_picket_l_5_vis">
      <origin xyz="-1.586 0 0.65" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1"/>
      </geometry>
      <material name="mat_fence"/>
    </visual>
    <collision name="fence_picket_l_5_col">
      <origin xyz="-1.586 0 0.65" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1"/>
      </geometry>
    </collision>
    <visual name="fence_picket_l_6_vis">
      <origin xyz="-1.746 0 0.65" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1"/>
      </geometry>
      <material name="mat_fence"/>
    </visual>
    <collision name="fence_picket_l_6_col">
      <origin xyz="-1.746 0 0.65" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1"/>
      </geometry>
    </collision>
    <visual name="fence_picket_l_7_vis">
      <origin xyz="-1.906 0 0.65" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1"/>
      </geometry>
      <material name="mat_fence"/>
    </visual>
    <collision name="fence_picket_l_7_col">
      <origin xyz="-1.906 0 0.65" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1"/>
      </geometry>
    </collision>
    <visual name="fence_picket_l_8_vis">
      <origin xyz="-2.066 0 0.65" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1"/>
      </geometry>
      <material name="mat_fence"/>
    </visual>
    <collision name="fence_picket_l_8_col">
      <origin xyz="-2.066 0 0.65" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1"/>
      </geometry>
    </collision>
    <visual name="fence_picket_l_9_vis">
      <origin xyz="-2.226 0 0.65" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1"/>
      </geometry>
      <material name="mat_fence"/>
    </visual>
    <collision name="fence_picket_l_9_col">
      <origin xyz="-2.226 0 0.65" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1"/>
      </geometry>
    </collision>
    <visual name="fence_picket_l_10_vis">
      <origin xyz="-2.386 0 0.65" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1"/>
      </geometry>
      <material name="mat_fence"/>
    </visual>
    <collision name="fence_picket_l_10_col">
      <origin xyz="-2.386 0 0.65" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1"/>
      </geometry>
    </collision>
    <visual name="fence_picket_l_11_vis">
      <origin xyz="-2.546 0 0.65" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1"/>
      </geometry>
      <material name="mat_fence"/>
    </visual>
    <collision name="fence_picket_l_11_col">
      <origin xyz="-2.546 0 0.65" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1"/>
      </geometry>
    </collision>
    <visual name="fence_rail_l_vis">
      <origin xyz="-1.706 0.015 1" rpy="0 0 0"/>
      <geometry>
        <box size="2 0.03 0.08"/>
      </geometry>
      <material name="mat_fence"/>
    </visual>
    <collision name="fence_rail_l_col">
      <origin xyz="-1.706 0.015 1" rpy="0 0 0"/>
      <geometry>
        <box size="2 0.03 0.08"/>
      </geometry>
    </collision>
    <visual name="fence_rail_b_l_vis">
      <origin xyz="-1.706 0.015 0.35" rpy="0 0 0"/>
      <geometry>
        <box size="2 0.03 0.08"/>
      </geometry>
      <material name="mat_fence"/>
    </visual>
    <collision name="fence_rail_b_l_col">
      <origin xyz="-1.706 0.015 0.35" rpy="0 0 0"/>
      <geometry>
        <box size="2 0.03 0.08"/>
      </geometry>
    </collision>
    <visual name="fence_picket_r_0_vis">
      <origin xyz="0.786 0 0.65" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1"/>
      </geometry>
      <material name="mat_fence"/>
    </visual>
    <collision name="fence_picket_r_0_col">
      <origin xyz="0.786 0 0.65" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1"/>
      </geometry>
    </collision>
    <visual name="fence_picket_r_1_vis">
      <origin xyz="0.946 0 0.65" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1"/>
      </geometry>
      <material name="mat_fence"/>
    </visual>
    <collision name="fence_picket_r_1_col">
      <origin xyz="0.946 0 0.65" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1"/>
      </geometry>
    </collision>
    <visual name="fence_picket_r_2_vis">
      <origin xyz="1.106 0 0.65" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1"/>
      </geometry>
      <material name="mat_fence"/>
    </visual>
    <collision name="fence_picket_r_2_col">
      <origin xyz="1.106 0 0.65" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1"/>
      </geometry>
    </collision>
    <visual name="fence_picket_r_3_vis">
      <origin xyz="1.266 0 0.65" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1"/>
      </geometry>
      <material name="mat_fence"/>
    </visual>
    <collision name="fence_picket_r_3_col">
      <origin xyz="1.266 0 0.65" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1"/>
      </geometry>
    </collision>
    <visual name="fence_picket_r_4_vis">
      <origin xyz="1.426 0 0.65" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1"/>
      </geometry>
      <material name="mat_fence"/>
    </visual>
    <collision name="fence_picket_r_4_col">
      <origin xyz="1.426 0 0.65" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1"/>
      </geometry>
    </collision>
    <visual name="fence_picket_r_5_vis">
      <origin xyz="1.586 0 0.65" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1"/>
      </geometry>
      <material name="mat_fence"/>
    </visual>
    <collision name="fence_picket_r_5_col">
      <origin xyz="1.586 0 0.65" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1"/>
      </geometry>
    </collision>
    <visual name="fence_picket_r_6_vis">
      <origin xyz="1.746 0 0.65" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1"/>
      </geometry>
      <material name="mat_fence"/>
    </visual>
    <collision name="fence_picket_r_6_col">
      <origin xyz="1.746 0 0.65" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1"/>
      </geometry>
    </collision>
    <visual name="fence_picket_r_7_vis">
      <origin xyz="1.906 0 0.65" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1"/>
      </geometry>
      <material name="mat_fence"/>
    </visual>
    <collision name="fence_picket_r_7_col">
      <origin xyz="1.906 0 0.65" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1"/>
      </geometry>
    </collision>
    <visual name="fence_picket_r_8_vis">
      <origin xyz="2.066 0 0.65" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1"/>
      </geometry>
      <material name="mat_fence"/>
    </visual>
    <collision name="fence_picket_r_8_col">
      <origin xyz="2.066 0 0.65" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1"/>
      </geometry>
    </collision>
    <visual name="fence_picket_r_9_vis">
      <origin xyz="2.226 0 0.65" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1"/>
      </geometry>
      <material name="mat_fence"/>
    </visual>
    <collision name="fence_picket_r_9_col">
      <origin xyz="2.226 0 0.65" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1"/>
      </geometry>
    </collision>
    <visual name="fence_picket_r_10_vis">
      <origin xyz="2.386 0 0.65" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1"/>
      </geometry>
      <material name="mat_fence"/>
    </visual>
    <collision name="fence_picket_r_10_col">
      <origin xyz="2.386 0 0.65" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1"/>
      </geometry>
    </collision>
    <visual name="fence_picket_r_11_vis">
      <origin xyz="2.546 0 0.65" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1"/>
      </geometry>
      <material name="mat_fence"/>
    </visual>
    <collision name="fence_picket_r_11_col">
      <origin xyz="2.546 0 0.65" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1"/>
      </geometry>
    </collision>
    <visual name="fence_rail_r_vis">
      <origin xyz="1.706 0.015 1" rpy="0 0 0"/>
      <geometry>
        <box size="2 0.03 0.08"/>
      </geometry>
      <material name="mat_fence"/>
    </visual>
    <collision name="fence_rail_r_col">
      <origin xyz="1.706 0.015 1" rpy="0 0 0"/>
      <geometry>
        <box size="2 0.03 0.08"/>
      </geometry>
    </collision>
    <visual name="fence_rail_b_r_vis">
      <origin xyz="1.706 0.015 0.35" rpy="0 0 0"/>
      <geometry>
        <box size="2 0.03 0.08"/>
      </geometry>
      <material name="mat_fence"/>
    </visual>
    <collision name="fence_rail_b_r_col">
      <origin xyz="1.706 0.015 0.35" rpy="0 0 0"/>
      <geometry>
        <box size="2 0.03 0.08"/>
      </geometry>
    </collision>
  </link>
  <link name="leaf">
    <inertial>
      <origin xyz="0.609274 -0.019004 0.659391" rpy="0 0 0"/>
      <mass value="11.587"/>
      <inertia ixx="0.924564993" ixy="0.003501507" ixz="-0.037919843" iyy="2.492114136" iyz="-0.00093929" izz="1.572067081"/>
    </inertial>
    <collision name="leaf_slab_col_col">
      <origin xyz="0.6 -0.0195 0.65" rpy="0 0 0"/>
      <geometry>
        <box size="1.2 0.025 1"/>
      </geometry>
    </collision>
    <visual name="leaf_rail_b_vis">
      <origin xyz="0.6 -0.0195 0.1725" rpy="0 0 0"/>
      <geometry>
        <box size="1.2 0.025 0.045"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <visual name="leaf_rail_t_vis">
      <origin xyz="0.6 -0.0195 1.1275" rpy="0 0 0"/>
      <geometry>
        <box size="1.2 0.025 0.045"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <visual name="leaf_stile_h_vis">
      <origin xyz="0.0225 -0.0195 0.65" rpy="0 0 0"/>
      <geometry>
        <box size="0.045 0.025 1"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <visual name="leaf_stile_l_vis">
      <origin xyz="1.1775 -0.0195 0.65" rpy="0 0 0"/>
      <geometry>
        <box size="0.045 0.025 1"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <visual name="leaf_picket_0_vis">
      <origin xyz="0.1005 -0.0195 0.67" rpy="0 0 0"/>
      <geometry>
        <box size="0.04 0.0175 0.973"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <visual name="leaf_picket_1_vis">
      <origin xyz="0.2115 -0.0195 0.67" rpy="0 0 0"/>
      <geometry>
        <box size="0.04 0.0175 0.973"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <visual name="leaf_picket_2_vis">
      <origin xyz="0.3225 -0.0195 0.67" rpy="0 0 0"/>
      <geometry>
        <box size="0.04 0.0175 0.973"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <visual name="leaf_picket_3_vis">
      <origin xyz="0.4335 -0.0195 0.67" rpy="0 0 0"/>
      <geometry>
        <box size="0.04 0.0175 0.973"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <visual name="leaf_picket_4_vis">
      <origin xyz="0.5445 -0.0195 0.67" rpy="0 0 0"/>
      <geometry>
        <box size="0.04 0.0175 0.973"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <visual name="leaf_picket_5_vis">
      <origin xyz="0.6555 -0.0195 0.67" rpy="0 0 0"/>
      <geometry>
        <box size="0.04 0.0175 0.973"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <visual name="leaf_picket_6_vis">
      <origin xyz="0.7665 -0.0195 0.67" rpy="0 0 0"/>
      <geometry>
        <box size="0.04 0.0175 0.973"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <visual name="leaf_picket_7_vis">
      <origin xyz="0.8775 -0.0195 0.67" rpy="0 0 0"/>
      <geometry>
        <box size="0.04 0.0175 0.973"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <visual name="leaf_picket_8_vis">
      <origin xyz="0.9885 -0.0195 0.67" rpy="0 0 0"/>
      <geometry>
        <box size="0.04 0.0175 0.973"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <visual name="leaf_picket_9_vis">
      <origin xyz="1.0995 -0.0195 0.67" rpy="0 0 0"/>
      <geometry>
        <box size="0.04 0.0175 0.973"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <visual name="hinge_0_vis">
      <origin xyz="0 0 0.4" rpy="3.141593 0 0"/>
      <geometry>
        <mesh filename="../../hardware/hinge_b433cbce2b.obj"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="hinge_1_vis">
      <origin xyz="0 0 0.97" rpy="3.141593 0 0"/>
      <geometry>
        <mesh filename="../../hardware/hinge_b433cbce2b.obj"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="leaf_ring_pull_n_vis">
      <origin xyz="1.095 -0.032 0.8" rpy="1.570796 0 0"/>
      <geometry>
        <mesh filename="../../hardware/ring_cc5c941a8a.obj"/>
      </geometry>
      <material name="mat_op_wrought_iron"/>
    </visual>
    <collision name="leaf_ring_pull_col_n_col">
      <origin xyz="1.095 -0.064 0.74" rpy="0 1.570796 0"/>
      <geometry>
        <cylinder radius="0.008" length="0.1"/>
      </geometry>
    </collision>
    <visual name="leaf_ring_pull_p_vis">
      <origin xyz="1.095 -0.007 0.8" rpy="-1.570796 0 0"/>
      <geometry>
        <mesh filename="../../hardware/ring_cc5c941a8a.obj"/>
      </geometry>
      <material name="mat_op_wrought_iron"/>
    </visual>
    <collision name="leaf_ring_pull_col_p_col">
      <origin xyz="1.095 0.025 0.74" rpy="0 1.570796 0"/>
      <geometry>
        <cylinder radius="0.008" length="0.1"/>
      </geometry>
    </collision>
  </link>
  <joint name="leaf_hinge" type="revolute">
    <origin xyz="-0.603 0.0195 0" rpy="0 0 0"/>
    <parent link="world_env"/>
    <child link="leaf"/>
    <axis xyz="0 0 1"/>
    <limit lower="0" upper="1.919862" effort="2000" velocity="10"/>
    <dynamics damping="1.374492" friction="5.913009"/>
    <doorbench:spring stiffness="5" springref="-1.537382" note="tau = -stiffness*(q - springref); not native URDF"/>
    <doorbench:closer damping_closing="1" damping_opening="1" backcheck_angle="0" backcheck_damping="0"/>
  </joint>
  <material name="mat_fence">
    <color rgba="0.7 0.45 0.32 1"/>
  </material>
  <material name="mat_floor">
    <color rgba="0.35 0.42 0.25 1"/>
  </material>
  <material name="mat_frame">
    <color rgba="0.7 0.45 0.32 1"/>
  </material>
  <material name="mat_hinge">
    <color rgba="0.45 0.3 0.22 1"/>
  </material>
  <material name="mat_leaf">
    <color rgba="0.7 0.45 0.32 1"/>
  </material>
  <material name="mat_op_wrought_iron">
    <color rgba="0.08 0.08 0.09 1"/>
  </material>
</robot>
