<?xml version="1.0" ?>
<robot xmlns:doorbench="https://github.com/adamraudonis/DoorBench/schema/urdf-ext" name="db0950_sliding_single_full">
  <link name="world_env">
    <visual name="floor_vis">
      <origin xyz="0 0 -0.05" rpy="0 0 0"/>
      <geometry>
        <box size="12 12 0.1"/>
      </geometry>
      <material name="mat_floor"/>
    </visual>
    <collision name="floor_col">
      <origin xyz="0 0 -0.05" rpy="0 0 0"/>
      <geometry>
        <box size="12 12 0.1"/>
      </geometry>
    </collision>
    <visual name="wall_left_vis">
      <origin xyz="-1.59925 0 1.377" rpy="0 0 0"/>
      <geometry>
        <box size="1.8015 0.145 2.754"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_left_col">
      <origin xyz="-1.59925 0 1.377" rpy="0 0 0"/>
      <geometry>
        <box size="1.8015 0.145 2.754"/>
      </geometry>
    </collision>
    <visual name="wall_right_vis">
      <origin xyz="1.56925 0 1.377" rpy="0 0 0"/>
      <geometry>
        <box size="1.8615 0.145 2.754"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_right_col">
      <origin xyz="1.56925 0 1.377" rpy="0 0 0"/>
      <geometry>
        <box size="1.8615 0.145 2.754"/>
      </geometry>
    </collision>
    <visual name="wall_header_vis">
      <origin xyz="-0.03 0 2.4635" rpy="0 0 0"/>
      <geometry>
        <box size="1.337 0.145 0.581"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_header_col">
      <origin xyz="-0.03 0 2.4635" rpy="0 0 0"/>
      <geometry>
        <box size="1.337 0.145 0.581"/>
      </geometry>
    </collision>
    <visual name="jamb_r_vis">
      <origin xyz="0.629 0 1.077" rpy="0 0 0"/>
      <geometry>
        <box size="0.019 0.145 2.154"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_r_col">
      <origin xyz="0.629 0 1.077" rpy="0 0 0"/>
      <geometry>
        <box size="0.019 0.145 2.154"/>
      </geometry>
    </collision>
    <visual name="jamb_head_vis">
      <origin xyz="0 0 2.1635" rpy="0 0 0"/>
      <geometry>
        <box size="1.277 0.145 0.019"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_head_col">
      <origin xyz="0 0 2.1635" rpy="0 0 0"/>
      <geometry>
        <box size="1.277 0.145 0.019"/>
      </geometry>
    </collision>
    <visual name="flat_track_vis">
      <origin xyz="0 -0.0945 2.274" rpy="0 0 0"/>
      <geometry>
        <box size="2.538 0.008 0.04"/>
      </geometry>
      <material name="mat_track"/>
    </visual>
    <collision name="flat_track_col">
      <origin xyz="0 -0.0945 2.274" rpy="0 0 0"/>
      <geometry>
        <box size="2.538 0.008 0.04"/>
      </geometry>
    </collision>
    <visual name="track_standoff_0_vis">
      <origin xyz="-1.269 -0.0845 2.274" rpy="-1.570796 0 0"/>
      <geometry>
        <cylinder radius="0.012" length="0.024"/>
      </geometry>
      <material name="mat_track"/>
    </visual>
    <visual name="track_standoff_1_vis">
      <origin xyz="-0.669 -0.0845 2.274" rpy="-1.570796 0 0"/>
      <geometry>
        <cylinder radius="0.012" length="0.024"/>
      </geometry>
      <material name="mat_track"/>
    </visual>
    <visual name="track_standoff_2_vis">
      <origin xyz="-0.069 -0.0845 2.274" rpy="-1.570796 0 0"/>
      <geometry>
        <cylinder radius="0.012" length="0.024"/>
      </geometry>
      <material name="mat_track"/>
    </visual>
    <visual name="track_standoff_3_vis">
      <origin xyz="0.531 -0.0845 2.274" rpy="-1.570796 0 0"/>
      <geometry>
        <cylinder radius="0.012" length="0.024"/>
      </geometry>
      <material name="mat_track"/>
    </visual>
    <visual name="track_standoff_4_vis">
      <origin xyz="1.131 -0.0845 2.274" rpy="-1.570796 0 0"/>
      <geometry>
        <cylinder radius="0.012" length="0.024"/>
      </geometry>
      <material name="mat_track"/>
    </visual>
    <visual name="leaf_hook_keeper_vis">
      <origin xyz="-0.6275 -0.1145 1.03" rpy="0 0 0"/>
      <geometry>
        <box size="0.016 0.03 0.012"/>
      </geometry>
      <material name="mat_hook"/>
    </visual>
    <collision name="leaf_hook_keeper_col">
      <origin xyz="-0.6275 -0.1145 1.03" rpy="0 0 0"/>
      <geometry>
        <box size="0.016 0.03 0.012"/>
      </geometry>
    </collision>
    <visual name="jamb_latch_0_vis">
      <origin xyz="-0.659 0 1.077" rpy="0 0 0"/>
      <geometry>
        <box size="0.079 0.145 2.154"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_latch_0_col">
      <origin xyz="-0.659 0 1.077" rpy="0 0 0"/>
      <geometry>
        <box size="0.079 0.145 2.154"/>
      </geometry>
    </collision>
    <visual name="floor_guide_n_vis">
      <origin xyz="0.6695 -0.1525 0.02" rpy="0 0 0"/>
      <geometry>
        <box size="0.06 0.008 0.04"/>
      </geometry>
      <material name="mat_track"/>
    </visual>
    <collision name="floor_guide_n_col">
      <origin xyz="0.6695 -0.1525 0.02" rpy="0 0 0"/>
      <geometry>
        <box size="0.06 0.008 0.04"/>
      </geometry>
    </collision>
    <visual name="floor_guide_p_vis">
      <origin xyz="0.6695 -0.0765 0.02" rpy="0 0 0"/>
      <geometry>
        <box size="0.06 0.008 0.04"/>
      </geometry>
      <material name="mat_track"/>
    </visual>
    <collision name="floor_guide_p_col">
      <origin xyz="0.6695 -0.0765 0.02" rpy="0 0 0"/>
      <geometry>
        <box size="0.06 0.008 0.04"/>
      </geometry>
    </collision>
  </link>
  <link name="leaf">
    <inertial>
      <origin xyz="-0.00519 -0.000769 1.152779" rpy="0 0 0"/>
      <mass value="46.532695"/>
      <inertia ixx="20.217300101" ixy="-0.014094707" ixz="-0.048971439" iyy="26.383748929" iyz="0.002684474" izz="6.184084361"/>
    </inertial>
    <visual name="leaf_slab_vis">
      <origin xyz="0 0 1.079" rpy="0 0 0"/>
      <geometry>
        <box size="1.219 0.044 2.134"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <collision name="leaf_slab_col">
      <origin xyz="0 0 1.079" rpy="0 0 0"/>
      <geometry>
        <box size="1.219 0.044 2.134"/>
      </geometry>
    </collision>
    <visual name="leaf_plank_gap_1_vis">
      <origin xyz="-0.457125 0 1.079" rpy="0 0 0"/>
      <geometry>
        <box size="0.004 0.046 2.114"/>
      </geometry>
      <material name="mat_leaf_brace"/>
    </visual>
    <visual name="leaf_plank_gap_2_vis">
      <origin xyz="-0.30475 0 1.079" rpy="0 0 0"/>
      <geometry>
        <box size="0.004 0.046 2.114"/>
      </geometry>
      <material name="mat_leaf_brace"/>
    </visual>
    <visual name="leaf_plank_gap_3_vis">
      <origin xyz="-0.152375 0 1.079" rpy="0 0 0"/>
      <geometry>
        <box size="0.004 0.046 2.114"/>
      </geometry>
      <material name="mat_leaf_brace"/>
    </visual>
    <visual name="leaf_plank_gap_4_vis">
      <origin xyz="0 0 1.079" rpy="0 0 0"/>
      <geometry>
        <box size="0.004 0.046 2.114"/>
      </geometry>
      <material name="mat_leaf_brace"/>
    </visual>
    <visual name="leaf_plank_gap_5_vis">
      <origin xyz="0.152375 0 1.079" rpy="0 0 0"/>
      <geometry>
        <box size="0.004 0.046 2.114"/>
      </geometry>
      <material name="mat_leaf_brace"/>
    </visual>
    <visual name="leaf_plank_gap_6_vis">
      <origin xyz="0.30475 0 1.079" rpy="0 0 0"/>
      <geometry>
        <box size="0.004 0.046 2.114"/>
      </geometry>
      <material name="mat_leaf_brace"/>
    </visual>
    <visual name="leaf_plank_gap_7_vis">
      <origin xyz="0.457125 0 1.079" rpy="0 0 0"/>
      <geometry>
        <box size="0.004 0.046 2.114"/>
      </geometry>
      <material name="mat_leaf_brace"/>
    </visual>
    <visual name="leaf_batten_13_vis">
      <origin xyz="0 -0.032 0.132" rpy="0 0 0"/>
      <geometry>
        <box size="1.159 0.02 0.09"/>
      </geometry>
      <material name="mat_leaf_brace"/>
    </visual>
    <visual name="leaf_batten_202_vis">
      <origin xyz="0 -0.032 2.026" rpy="0 0 0"/>
      <geometry>
        <box size="1.159 0.02 0.09"/>
      </geometry>
      <material name="mat_leaf_brace"/>
    </visual>
    <visual name="leaf_brace_z_vis">
      <origin xyz="0 -0.032 1.079" rpy="0 -1.010586 0"/>
      <geometry>
        <box size="1.985901 0.02 0.09"/>
      </geometry>
      <material name="mat_leaf_brace"/>
    </visual>
    <visual name="leaf_brace_x_vis">
      <origin xyz="0 -0.032 1.079" rpy="0 1.010586 0"/>
      <geometry>
        <box size="1.985901 0.02 0.09"/>
      </geometry>
      <material name="mat_leaf_brace"/>
    </visual>
    <visual name="leaf_hanger_wheel_0_vis">
      <origin xyz="-0.4895 0 2.266" rpy="-1.570796 0 0"/>
      <geometry>
        <cylinder radius="0.05" length="0.02"/>
      </geometry>
      <material name="mat_roller"/>
    </visual>
    <visual name="leaf_hanger_strap_0_vis">
      <origin xyz="-0.4895 -0.012 2.196" rpy="0 0 0"/>
      <geometry>
        <box size="0.04 0.008 0.14"/>
      </geometry>
      <material name="mat_roller"/>
    </visual>
    <visual name="leaf_hanger_wheel_1_vis">
      <origin xyz="0.4895 0 2.266" rpy="-1.570796 0 0"/>
      <geometry>
        <cylinder radius="0.05" length="0.02"/>
      </geometry>
      <material name="mat_roller"/>
    </visual>
    <visual name="leaf_hanger_strap_1_vis">
      <origin xyz="0.4895 -0.012 2.196" rpy="0 0 0"/>
      <geometry>
        <box size="0.04 0.008 0.14"/>
      </geometry>
      <material name="mat_roller"/>
    </visual>
    <visual name="leaf_pull_n_vis">
      <origin xyz="-0.5195 -0.022 0.95" rpy="-1.570796 0 3.141593"/>
      <geometry>
        <mesh filename="../../hardware/pull_2b47e55ff8.obj"/>
      </geometry>
      <material name="mat_op_black_matte_metal"/>
    </visual>
    <collision name="leaf_pull_col_n_col">
      <origin xyz="-0.5195 -0.067 0.95" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.006" length="0.26"/>
      </geometry>
    </collision>
  </link>
  <link name="leaf_hook_thumbturn">
    <inertial>
      <origin xyz="0 -0.012928 0" rpy="0 0 0"/>
      <mass value="0.178946"/>
      <inertia ixx="0.000032438" ixy="0" ixz="0" iyy="0.000026045" iyz="0" izz="0.000026215"/>
    </inertial>
    <visual name="leaf_hook_tt_mesh_vis">
      <origin xyz="0 0 0" rpy="-1.570796 0 3.141593"/>
      <geometry>
        <mesh filename="../../hardware/thumbturn_eb5c9899a3.obj"/>
      </geometry>
      <material name="mat_hook"/>
    </visual>
    <collision name="leaf_hook_tt_mesh_col">
      <origin xyz="0 0 0" rpy="-1.570796 0 3.141593"/>
      <geometry>
        <mesh filename="../../hardware/thumbturn_eb5c9899a3.obj"/>
      </geometry>
    </collision>
    <collision name="leaf_hook_tt_col_col">
      <origin xyz="0 -0.02 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.012 0.024 0.032"/>
      </geometry>
    </collision>
  </link>
  <link name="leaf_hook">
    <inertial>
      <origin xyz="-0.026737 0 -0.009263" rpy="0 0 0"/>
      <mass value="0.072048"/>
      <inertia ixx="0.000008186" ixy="0" ixz="0.000004496" iyy="0.000019175" iyz="0" izz="0.00001219"/>
    </inertial>
    <visual name="leaf_hook_arm_vis">
      <origin xyz="-0.02 0 -0.016" rpy="0 0 0"/>
      <geometry>
        <box size="0.044 0.01 0.012"/>
      </geometry>
      <material name="mat_hook"/>
    </visual>
    <collision name="leaf_hook_arm_col">
      <origin xyz="-0.02 0 -0.016" rpy="0 0 0"/>
      <geometry>
        <box size="0.044 0.01 0.012"/>
      </geometry>
    </collision>
    <visual name="leaf_hook_tip_vis">
      <origin xyz="-0.036 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.012 0.01 0.032"/>
      </geometry>
      <material name="mat_hook"/>
    </visual>
    <collision name="leaf_hook_tip_col">
      <origin xyz="-0.036 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.012 0.01 0.032"/>
      </geometry>
    </collision>
  </link>
  <joint name="leaf_slide" type="prismatic">
    <origin xyz="0 -0.1145 0" rpy="0 0 0"/>
    <parent link="world_env"/>
    <child link="leaf"/>
    <axis xyz="1 0 0"/>
    <limit lower="0" upper="1.219" effort="5000" velocity="10"/>
    <dynamics damping="4.339184" friction="32.115389"/>
  </joint>
  <joint name="leaf_hook_thumbturn_hinge" type="revolute">
    <origin xyz="-0.5495 -0.022 1.17" rpy="0 0 0"/>
    <parent link="leaf"/>
    <child link="leaf_hook_thumbturn"/>
    <axis xyz="0 1 0"/>
    <limit lower="0" upper="1" effort="2000" velocity="10"/>
    <dynamics damping="0.05" friction="0.25"/>
  </joint>
  <joint name="leaf_hook_hinge" type="revolute">
    <origin xyz="-0.6095 0 1.03" rpy="0 0 0"/>
    <parent link="leaf"/>
    <child link="leaf_hook"/>
    <axis xyz="0 -1 0"/>
    <limit lower="0" upper="1" effort="2000" velocity="10"/>
    <dynamics damping="0.05" friction="0.1"/>
    <mimic joint="leaf_hook_thumbturn_hinge" multiplier="1" offset="0"/>
  </joint>
  <material name="mat_floor">
    <color rgba="0.55 0.53 0.5 1"/>
  </material>
  <material name="mat_frame">
    <color rgba="0.82 0.7 0.5 1"/>
  </material>
  <material name="mat_hook">
    <color rgba="0.75 0.76 0.77 1"/>
  </material>
  <material name="mat_leaf">
    <color rgba="0.82 0.7 0.5 1"/>
  </material>
  <material name="mat_leaf_brace">
    <color rgba="0.738 0.63 0.45 1"/>
  </material>
  <material name="mat_op_black_matte_metal">
    <color rgba="0.05 0.05 0.05 1"/>
  </material>
  <material name="mat_roller">
    <color rgba="0.65 0.66 0.68 1"/>
  </material>
  <material name="mat_track">
    <color rgba="0.05 0.05 0.05 1"/>
  </material>
  <material name="mat_wall">
    <color rgba="0.78 0.76 0.7 1"/>
  </material>
</robot>
