<?xml version="1.0" ?>
<robot xmlns:doorbench="https://github.com/adamraudonis/DoorBench/schema/urdf-ext" name="db0418_swing_single_minimal">
  <link name="world_env">
    <visual name="floor_vis">
      <origin xyz="0 0 -0.05" rpy="0 0 0"/>
      <geometry>
        <box size="12 12 0.1"/>
      </geometry>
      <material name="mat_floor"/>
    </visual>
    <collision name="floor_col">
      <origin xyz="0 0 -0.05" rpy="0 0 0"/>
      <geometry>
        <box size="12 12 0.1"/>
      </geometry>
    </collision>
    <visual name="wall_left_vis">
      <origin xyz="-1.49475 -0.0495 1.35" rpy="0 0 0"/>
      <geometry>
        <box size="2.0105 0.145 2.7"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_left_col">
      <origin xyz="-1.49475 -0.0495 1.35" rpy="0 0 0"/>
      <geometry>
        <box size="2.0105 0.145 2.7"/>
      </geometry>
    </collision>
    <visual name="wall_right_vis">
      <origin xyz="1.47975 -0.0495 1.35" rpy="0 0 0"/>
      <geometry>
        <box size="2.0405 0.145 2.7"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_right_col">
      <origin xyz="1.47975 -0.0495 1.35" rpy="0 0 0"/>
      <geometry>
        <box size="2.0405 0.145 2.7"/>
      </geometry>
    </collision>
    <visual name="wall_header_vis">
      <origin xyz="-0.015 -0.0495 2.4125" rpy="0 0 0"/>
      <geometry>
        <box size="0.949 0.145 0.575"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_header_col">
      <origin xyz="-0.015 -0.0495 2.4125" rpy="0 0 0"/>
      <geometry>
        <box size="0.949 0.145 0.575"/>
      </geometry>
    </collision>
    <visual name="jamb_hinge_vis">
      <origin xyz="0.4345 -0.0495 1.0225" rpy="0 0 0"/>
      <geometry>
        <box size="0.05 0.145 2.045"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_hinge_col">
      <origin xyz="0.4345 -0.0495 1.0225" rpy="0 0 0"/>
      <geometry>
        <box size="0.05 0.145 2.045"/>
      </geometry>
    </collision>
    <visual name="strike_1105_wall_n_vis">
      <origin xyz="-0.4495 -0.06575 1.105" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.1125 0.031"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="strike_1105_wall_n_col">
      <origin xyz="-0.4495 -0.06575 1.105" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.1125 0.031"/>
      </geometry>
    </collision>
    <visual name="strike_1105_wall_p_vis">
      <origin xyz="-0.4495 0.01625 1.105" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.0135 0.031"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="strike_1105_wall_p_col">
      <origin xyz="-0.4495 0.01625 1.105" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.0135 0.031"/>
      </geometry>
    </collision>
    <visual name="strike_1105_back_vis">
      <origin xyz="-0.4642 0 1.105" rpy="0 0 0"/>
      <geometry>
        <box size="0.0506 0.019 0.031"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="strike_1105_back_col">
      <origin xyz="-0.4642 0 1.105" rpy="0 0 0"/>
      <geometry>
        <box size="0.0506 0.019 0.031"/>
      </geometry>
    </collision>
    <visual name="jamb_strike_0_vis">
      <origin xyz="-0.4495 -0.0495 0.54475" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.145 1.0895"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_strike_0_col">
      <origin xyz="-0.4495 -0.0495 0.54475" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.145 1.0895"/>
      </geometry>
    </collision>
    <visual name="jamb_strike_1_vis">
      <origin xyz="-0.4495 -0.0495 1.58275" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.145 0.9245"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_strike_1_col">
      <origin xyz="-0.4495 -0.0495 1.58275" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.145 0.9245"/>
      </geometry>
    </collision>
    <visual name="jamb_head_vis">
      <origin xyz="-0.015 -0.0495 2.07" rpy="0 0 0"/>
      <geometry>
        <box size="0.949 0.145 0.05"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_head_col">
      <origin xyz="-0.015 -0.0495 2.07" rpy="0 0 0"/>
      <geometry>
        <box size="0.949 0.145 0.05"/>
      </geometry>
    </collision>
    <visual name="head_stud_vis">
      <origin xyz="-0.015 -0.0495 2.11" rpy="0 0 0"/>
      <geometry>
        <box size="0.949 0.145 0.03"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="head_stud_col">
      <origin xyz="-0.015 -0.0495 2.11" rpy="0 0 0"/>
      <geometry>
        <box size="0.949 0.145 0.03"/>
      </geometry>
    </collision>
    <visual name="stop_hinge_vis">
      <origin xyz="0.404 -0.0195 1.0225" rpy="0 0 0"/>
      <geometry>
        <box size="0.011 0.032 2.045"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="stop_hinge_col">
      <origin xyz="0.404 -0.0195 1.0225" rpy="0 0 0"/>
      <geometry>
        <box size="0.011 0.032 2.045"/>
      </geometry>
    </collision>
    <visual name="stop_strike_vis">
      <origin xyz="-0.404 -0.0195 0.53875" rpy="0 0 0"/>
      <geometry>
        <box size="0.011 0.032 1.0775"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="stop_strike_col">
      <origin xyz="-0.404 -0.0195 0.53875" rpy="0 0 0"/>
      <geometry>
        <box size="0.011 0.032 1.0775"/>
      </geometry>
    </collision>
    <visual name="stop_strike_1_vis">
      <origin xyz="-0.404 -0.0195 1.58875" rpy="0 0 0"/>
      <geometry>
        <box size="0.011 0.032 0.9125"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="stop_strike_1_col">
      <origin xyz="-0.404 -0.0195 1.58875" rpy="0 0 0"/>
      <geometry>
        <box size="0.011 0.032 0.9125"/>
      </geometry>
    </collision>
    <visual name="stop_head_vis">
      <origin xyz="0 -0.0195 2.0395" rpy="0 0 0"/>
      <geometry>
        <box size="0.819 0.032 0.011"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="stop_head_col">
      <origin xyz="0 -0.0195 2.0395" rpy="0 0 0"/>
      <geometry>
        <box size="0.819 0.032 0.011"/>
      </geometry>
    </collision>
  </link>
  <link name="leaf">
    <inertial>
      <origin xyz="-0.408446 -0.010025 1.024613" rpy="0 0 0"/>
      <mass value="81.383647"/>
      <inertia ixx="27.831269312" ixy="-0.000598073" ixz="-0.009443259" iyy="32.332641795" iyz="-0.00011902" izz="4.501872932"/>
    </inertial>
    <visual name="leaf_slab_vis">
      <origin xyz="-0.4065 -0.01 1.025" rpy="0 0 0"/>
      <geometry>
        <box size="0.813 0.006 2.032"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <collision name="leaf_slab_col">
      <origin xyz="-0.4065 -0.01 1.025" rpy="0 0 0"/>
      <geometry>
        <box size="0.813 0.006 2.032"/>
      </geometry>
    </collision>
    <visual name="leaf_push_plate_n_vis">
      <origin xyz="-0.708 -0.0138 0.965" rpy="0 0 0"/>
      <geometry>
        <box size="0.1 0.0016 0.4"/>
      </geometry>
      <material name="mat_op_stainless"/>
    </visual>
  </link>
  <joint name="leaf_hinge" type="revolute">
    <origin xyz="0.4065 0.01 0" rpy="0 0 0"/>
    <parent link="world_env"/>
    <child link="leaf"/>
    <axis xyz="0 0 -1"/>
    <limit lower="0" upper="1.745329" effort="2000" velocity="10"/>
    <dynamics damping="10.160326" friction="17.356531"/>
    <doorbench:spring stiffness="19.0031" springref="-2.141756" note="tau = -stiffness*(q - springref); not native URDF"/>
    <doorbench:closer damping_closing="56" damping_opening="10" backcheck_angle="1.31" backcheck_damping="45"/>
  </joint>
  <material name="mat_floor">
    <color rgba="0.55 0.53 0.5 1"/>
  </material>
  <material name="mat_frame">
    <color rgba="0.45 0.48 0.52 1"/>
  </material>
  <material name="mat_leaf">
    <color rgba="0.95 0.8 0.05 1"/>
  </material>
  <material name="mat_op_stainless">
    <color rgba="0.75 0.76 0.77 1"/>
  </material>
  <material name="mat_wall">
    <color rgba="0.78 0.76 0.7 1"/>
  </material>
</robot>
