<?xml version="1.0" ?>
<robot xmlns:doorbench="https://github.com/adamraudonis/DoorBench/schema/urdf-ext" name="db0987_hatch_ceiling_simple">
  <link name="world_env">
    <visual name="floor_vis">
      <origin xyz="0 0 -0.05" rpy="0 0 0"/>
      <geometry>
        <box size="12 12 0.1"/>
      </geometry>
      <material name="mat_floor"/>
    </visual>
    <collision name="floor_col">
      <origin xyz="0 0 -0.05" rpy="0 0 0"/>
      <geometry>
        <box size="12 12 0.1"/>
      </geometry>
    </collision>
    <visual name="ceil_a_vis">
      <origin xyz="-1.6425 0 2.35" rpy="0 0 0"/>
      <geometry>
        <box size="2.715 6 0.1"/>
      </geometry>
      <material name="mat_ceiling"/>
    </visual>
    <collision name="ceil_a_col">
      <origin xyz="-1.6425 0 2.35" rpy="0 0 0"/>
      <geometry>
        <box size="2.715 6 0.1"/>
      </geometry>
    </collision>
    <visual name="ceil_b_vis">
      <origin xyz="1.6425 0 2.35" rpy="0 0 0"/>
      <geometry>
        <box size="2.715 6 0.1"/>
      </geometry>
      <material name="mat_ceiling"/>
    </visual>
    <collision name="ceil_b_col">
      <origin xyz="1.6425 0 2.35" rpy="0 0 0"/>
      <geometry>
        <box size="2.715 6 0.1"/>
      </geometry>
    </collision>
    <visual name="ceil_c_vis">
      <origin xyz="0 -1.6925 2.35" rpy="0 0 0"/>
      <geometry>
        <box size="0.57 2.615 0.1"/>
      </geometry>
      <material name="mat_ceiling"/>
    </visual>
    <collision name="ceil_c_col">
      <origin xyz="0 -1.6925 2.35" rpy="0 0 0"/>
      <geometry>
        <box size="0.57 2.615 0.1"/>
      </geometry>
    </collision>
    <visual name="ceil_d_vis">
      <origin xyz="0 1.6925 2.35" rpy="0 0 0"/>
      <geometry>
        <box size="0.57 2.615 0.1"/>
      </geometry>
      <material name="mat_ceiling"/>
    </visual>
    <collision name="ceil_d_col">
      <origin xyz="0 1.6925 2.35" rpy="0 0 0"/>
      <geometry>
        <box size="0.57 2.615 0.1"/>
      </geometry>
    </collision>
    <visual name="room_wall_l_vis">
      <origin xyz="-3 0 1.2" rpy="0 0 0"/>
      <geometry>
        <box size="0.1 6 2.4"/>
      </geometry>
      <material name="mat_room_wall"/>
    </visual>
    <collision name="room_wall_l_col">
      <origin xyz="-3 0 1.2" rpy="0 0 0"/>
      <geometry>
        <box size="0.1 6 2.4"/>
      </geometry>
    </collision>
    <visual name="room_wall_r_vis">
      <origin xyz="3 0 1.2" rpy="0 0 0"/>
      <geometry>
        <box size="0.1 6 2.4"/>
      </geometry>
      <material name="mat_room_wall"/>
    </visual>
    <collision name="room_wall_r_col">
      <origin xyz="3 0 1.2" rpy="0 0 0"/>
      <geometry>
        <box size="0.1 6 2.4"/>
      </geometry>
    </collision>
    <visual name="room_wall_n_vis">
      <origin xyz="0 -3 1.2" rpy="0 0 0"/>
      <geometry>
        <box size="6.1 0.1 2.4"/>
      </geometry>
      <material name="mat_room_wall"/>
    </visual>
    <collision name="room_wall_n_col">
      <origin xyz="0 -3 1.2" rpy="0 0 0"/>
      <geometry>
        <box size="6.1 0.1 2.4"/>
      </geometry>
    </collision>
    <visual name="room_wall_f_vis">
      <origin xyz="0 3 1.2" rpy="0 0 0"/>
      <geometry>
        <box size="6.1 0.1 2.4"/>
      </geometry>
      <material name="mat_room_wall"/>
    </visual>
    <collision name="room_wall_f_col">
      <origin xyz="0 3 1.2" rpy="0 0 0"/>
      <geometry>
        <box size="6.1 0.1 2.4"/>
      </geometry>
    </collision>
    <visual name="curb_l_vis">
      <origin xyz="-0.31 0 2.42" rpy="0 0 0"/>
      <geometry>
        <box size="0.05 0.87 0.04"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="curb_l_col">
      <origin xyz="-0.31 0 2.42" rpy="0 0 0"/>
      <geometry>
        <box size="0.05 0.87 0.04"/>
      </geometry>
    </collision>
    <visual name="curb_r_vis">
      <origin xyz="0.31 0 2.42" rpy="0 0 0"/>
      <geometry>
        <box size="0.05 0.87 0.04"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="curb_r_col">
      <origin xyz="0.31 0 2.42" rpy="0 0 0"/>
      <geometry>
        <box size="0.05 0.87 0.04"/>
      </geometry>
    </collision>
    <visual name="curb_n_vis">
      <origin xyz="0 -0.41 2.42" rpy="0 0 0"/>
      <geometry>
        <box size="0.57 0.05 0.04"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="curb_n_col">
      <origin xyz="0 -0.41 2.42" rpy="0 0 0"/>
      <geometry>
        <box size="0.57 0.05 0.04"/>
      </geometry>
    </collision>
    <visual name="curb_f_vis">
      <origin xyz="0 0.41 2.42" rpy="0 0 0"/>
      <geometry>
        <box size="0.57 0.05 0.04"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="curb_f_col">
      <origin xyz="0 0.41 2.42" rpy="0 0 0"/>
      <geometry>
        <box size="0.57 0.05 0.04"/>
      </geometry>
    </collision>
    <visual name="hatch_hinge_0_curb_n_vis">
      <origin xyz="-0.234 0.395 2.44" rpy="0 1.570796 0"/>
      <geometry>
        <cylinder radius="0.01" length="0.036"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="hatch_hinge_0_curb_strap_n_vis">
      <origin xyz="-0.234 0.415 2.43" rpy="0 0 0"/>
      <geometry>
        <box size="0.036 0.064 0.01"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="hatch_hinge_0_curb_p_vis">
      <origin xyz="-0.146 0.395 2.44" rpy="0 1.570796 0"/>
      <geometry>
        <cylinder radius="0.01" length="0.036"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="hatch_hinge_0_curb_strap_p_vis">
      <origin xyz="-0.146 0.415 2.43" rpy="0 0 0"/>
      <geometry>
        <box size="0.036 0.064 0.01"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="hatch_hinge_1_curb_n_vis">
      <origin xyz="0.146 0.395 2.44" rpy="0 1.570796 0"/>
      <geometry>
        <cylinder radius="0.01" length="0.036"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="hatch_hinge_1_curb_strap_n_vis">
      <origin xyz="0.146 0.415 2.43" rpy="0 0 0"/>
      <geometry>
        <box size="0.036 0.064 0.01"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="hatch_hinge_1_curb_p_vis">
      <origin xyz="0.234 0.395 2.44" rpy="0 1.570796 0"/>
      <geometry>
        <cylinder radius="0.01" length="0.036"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="hatch_hinge_1_curb_strap_p_vis">
      <origin xyz="0.234 0.415 2.43" rpy="0 0 0"/>
      <geometry>
        <box size="0.036 0.064 0.01"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
  </link>
  <link name="hatch">
    <inertial>
      <origin xyz="0 -0.340506 0.000329" rpy="0 0 0"/>
      <mass value="3.966464"/>
      <inertia ixx="0.236933625" ixy="0" ixz="0" iyy="0.109423957" iyz="-0.000422451" izz="0.34624716"/>
    </inertial>
    <visual name="hatch_slab_vis">
      <origin xyz="0 -0.395 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.56 0.762 0.012"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <collision name="hatch_slab_col">
      <origin xyz="0 -0.395 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.56 0.762 0.012"/>
      </geometry>
    </collision>
    <visual name="hatch_hinge_0_vis">
      <origin xyz="-0.19 0 0" rpy="0 1.570796 0"/>
      <geometry>
        <cylinder radius="0.01" length="0.056"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="hatch_hinge_0_strap_vis">
      <origin xyz="-0.19 -0.017 0.005" rpy="0 0 0"/>
      <geometry>
        <box size="0.056 0.046 0.006"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="hatch_hinge_1_vis">
      <origin xyz="0.19 0 0" rpy="0 1.570796 0"/>
      <geometry>
        <cylinder radius="0.01" length="0.056"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="hatch_hinge_1_strap_vis">
      <origin xyz="0.19 -0.017 0.005" rpy="0 0 0"/>
      <geometry>
        <box size="0.056 0.046 0.006"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
  </link>
  <joint name="hatch_hinge" type="revolute">
    <origin xyz="0 0.395 2.44" rpy="0 0 0"/>
    <parent link="world_env"/>
    <child link="hatch"/>
    <axis xyz="-1 0 0"/>
    <limit lower="0" upper="1.745329" effort="2000" velocity="10"/>
    <dynamics damping="0.513498" friction="1.384396"/>
  </joint>
  <material name="mat_ceiling">
    <color rgba="0.92 0.92 0.9 1"/>
  </material>
  <material name="mat_floor">
    <color rgba="0.55 0.53 0.5 1"/>
  </material>
  <material name="mat_frame">
    <color rgba="0.65 0.66 0.68 1"/>
  </material>
  <material name="mat_hinge">
    <color rgba="0.65 0.66 0.68 1"/>
  </material>
  <material name="mat_leaf">
    <color rgba="0.85 0.75 0.58 1"/>
  </material>
  <material name="mat_room_wall">
    <color rgba="0.86 0.85 0.82 1"/>
  </material>
</robot>
