<?xml version="1.0" ?>
<robot xmlns:doorbench="https://github.com/adamraudonis/DoorBench/schema/urdf-ext" name="db0381_accordion_minimal">
  <link name="world_env">
    <visual name="floor_vis">
      <origin xyz="0 0 -0.05" rpy="0 0 0"/>
      <geometry>
        <box size="12 12 0.1"/>
      </geometry>
      <material name="mat_floor"/>
    </visual>
    <collision name="floor_col">
      <origin xyz="0 0 -0.05" rpy="0 0 0"/>
      <geometry>
        <box size="12 12 0.1"/>
      </geometry>
    </collision>
    <visual name="wall_left_vis">
      <origin xyz="-1.71025 0 1.35" rpy="0 0 0"/>
      <geometry>
        <box size="1.5795 0.145 2.7"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_left_col">
      <origin xyz="-1.71025 0 1.35" rpy="0 0 0"/>
      <geometry>
        <box size="1.5795 0.145 2.7"/>
      </geometry>
    </collision>
    <visual name="wall_right_vis">
      <origin xyz="1.71025 0 1.35" rpy="0 0 0"/>
      <geometry>
        <box size="1.5795 0.145 2.7"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_right_col">
      <origin xyz="1.71025 0 1.35" rpy="0 0 0"/>
      <geometry>
        <box size="1.5795 0.145 2.7"/>
      </geometry>
    </collision>
    <visual name="wall_header_vis">
      <origin xyz="0 0 2.3935" rpy="0 0 0"/>
      <geometry>
        <box size="1.841 0.145 0.613"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_header_col">
      <origin xyz="0 0 2.3935" rpy="0 0 0"/>
      <geometry>
        <box size="1.841 0.145 0.613"/>
      </geometry>
    </collision>
    <visual name="jamb_hinge_vis">
      <origin xyz="-0.93 0 1.0435" rpy="0 0 0"/>
      <geometry>
        <box size="0.019 0.145 2.087"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_hinge_col">
      <origin xyz="-0.93 0 1.0435" rpy="0 0 0"/>
      <geometry>
        <box size="0.019 0.145 2.087"/>
      </geometry>
    </collision>
    <visual name="jamb_strike_vis">
      <origin xyz="0.93 0 1.0435" rpy="0 0 0"/>
      <geometry>
        <box size="0.019 0.145 2.087"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_strike_col">
      <origin xyz="0.93 0 1.0435" rpy="0 0 0"/>
      <geometry>
        <box size="0.019 0.145 2.087"/>
      </geometry>
    </collision>
    <visual name="stud_strike_vis">
      <origin xyz="0.9545 0 1.0435" rpy="0 0 0"/>
      <geometry>
        <box size="0.03 0.145 2.087"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="stud_strike_col">
      <origin xyz="0.9545 0 1.0435" rpy="0 0 0"/>
      <geometry>
        <box size="0.03 0.145 2.087"/>
      </geometry>
    </collision>
    <visual name="jamb_head_vis">
      <origin xyz="0.015 0 2.0965" rpy="0 0 0"/>
      <geometry>
        <box size="1.909 0.145 0.019"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_head_col">
      <origin xyz="0.015 0 2.0965" rpy="0 0 0"/>
      <geometry>
        <box size="1.909 0.145 0.019"/>
      </geometry>
    </collision>
    <visual name="head_stud_vis">
      <origin xyz="0.015 0 2.121" rpy="0 0 0"/>
      <geometry>
        <box size="1.909 0.145 0.03"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="head_stud_col">
      <origin xyz="0.015 0 2.121" rpy="0 0 0"/>
      <geometry>
        <box size="1.909 0.145 0.03"/>
      </geometry>
    </collision>
  </link>
  <link name="panel_0_0">
    <inertial>
      <origin xyz="0.119 0 1.036" rpy="0 0 0"/>
      <mass value="2.654573"/>
      <inertia ixx="0.913431462" ixy="0" ixz="0" iyy="0.933044331" iyz="0" izz="0.019676579"/>
    </inertial>
    <visual name="panel_0_0_slab_vis">
      <origin xyz="0.119 0 1.036" rpy="0 0 0"/>
      <geometry>
        <box size="0.298 0.012 2.032"/>
      </geometry>
      <material name="mat_panel_0_0"/>
    </visual>
    <collision name="panel_0_0_slab_col">
      <origin xyz="0.119 0 1.036" rpy="0 0 0"/>
      <geometry>
        <box size="0.298 0.012 2.032"/>
      </geometry>
    </collision>
  </link>
  <link name="panel_0_1">
    <inertial>
      <origin xyz="0.1525 -0.006 1.036" rpy="0 0 0"/>
      <mass value="2.728057"/>
      <inertia ixx="0.938717139" ixy="0" ixz="0" iyy="0.95928146" iyz="0" izz="0.020629794"/>
    </inertial>
    <visual name="panel_0_1_slab_vis">
      <origin xyz="0.1525 -0.006 1.036" rpy="0 0 0"/>
      <geometry>
        <box size="0.301 0.012 2.032"/>
      </geometry>
      <material name="mat_panel_0_1"/>
    </visual>
    <collision name="panel_0_1_slab_col">
      <origin xyz="0.1525 -0.006 1.036" rpy="0 0 0"/>
      <geometry>
        <box size="0.301 0.012 2.032"/>
      </geometry>
    </collision>
  </link>
  <link name="panel_0_2">
    <inertial>
      <origin xyz="0.1525 0.006 1.036" rpy="0 0 0"/>
      <mass value="2.728057"/>
      <inertia ixx="0.938717139" ixy="0" ixz="0" iyy="0.95928146" iyz="0" izz="0.020629794"/>
    </inertial>
    <visual name="panel_0_2_slab_vis">
      <origin xyz="0.1525 0.006 1.036" rpy="0 0 0"/>
      <geometry>
        <box size="0.301 0.012 2.032"/>
      </geometry>
      <material name="mat_panel_0_2"/>
    </visual>
    <collision name="panel_0_2_slab_col">
      <origin xyz="0.1525 0.006 1.036" rpy="0 0 0"/>
      <geometry>
        <box size="0.301 0.012 2.032"/>
      </geometry>
    </collision>
  </link>
  <link name="panel_0_3">
    <inertial>
      <origin xyz="0.1525 -0.006 1.036" rpy="0 0 0"/>
      <mass value="2.728057"/>
      <inertia ixx="0.938717139" ixy="0" ixz="0" iyy="0.95928146" iyz="0" izz="0.020629794"/>
    </inertial>
    <visual name="panel_0_3_slab_vis">
      <origin xyz="0.1525 -0.006 1.036" rpy="0 0 0"/>
      <geometry>
        <box size="0.301 0.012 2.032"/>
      </geometry>
      <material name="mat_panel_0_3"/>
    </visual>
    <collision name="panel_0_3_slab_col">
      <origin xyz="0.1525 -0.006 1.036" rpy="0 0 0"/>
      <geometry>
        <box size="0.301 0.012 2.032"/>
      </geometry>
    </collision>
  </link>
  <link name="panel_0_4">
    <inertial>
      <origin xyz="0.1525 0.006 1.036" rpy="0 0 0"/>
      <mass value="2.728057"/>
      <inertia ixx="0.938717139" ixy="0" ixz="0" iyy="0.95928146" iyz="0" izz="0.020629794"/>
    </inertial>
    <visual name="panel_0_4_slab_vis">
      <origin xyz="0.1525 0.006 1.036" rpy="0 0 0"/>
      <geometry>
        <box size="0.301 0.012 2.032"/>
      </geometry>
      <material name="mat_panel_0_4"/>
    </visual>
    <collision name="panel_0_4_slab_col">
      <origin xyz="0.1525 0.006 1.036" rpy="0 0 0"/>
      <geometry>
        <box size="0.301 0.012 2.032"/>
      </geometry>
    </collision>
  </link>
  <link name="panel_0_5">
    <inertial>
      <origin xyz="0.248456 -0.061364 1.000591" rpy="0 0 0"/>
      <mass value="2.845167"/>
      <inertia ixx="0.025974002" ixy="0.000243253" ixz="0.000155575" iyy="0.025552147" iyz="-0.000093161" izz="0.002127335"/>
    </inertial>
    <visual name="panel_0_5_slab_vis">
      <origin xyz="0.156 -0.006 1.036" rpy="0 0 0"/>
      <geometry>
        <box size="0.308 0.012 2.032"/>
      </geometry>
      <material name="mat_panel_0_5"/>
    </visual>
    <collision name="panel_0_5_slab_col">
      <origin xyz="0.156 -0.006 1.036" rpy="0 0 0"/>
      <geometry>
        <box size="0.308 0.012 2.032"/>
      </geometry>
    </collision>
    <visual name="panel_0_5_pull_n_vis">
      <origin xyz="0.25 -0.012 1" rpy="1.570796 0 0"/>
      <geometry>
        <mesh filename="../../hardware/pull_1e5d69a91a.obj"/>
      </geometry>
      <material name="mat_op_stainless"/>
    </visual>
    <collision name="panel_0_5_pull_col_n_col">
      <origin xyz="0.25 -0.072 1" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.0095" length="0.16"/>
      </geometry>
    </collision>
  </link>
  <joint name="panel_0_0_hinge" type="revolute">
    <origin xyz="-0.8855 0 0" rpy="0 0 0"/>
    <parent link="world_env"/>
    <child link="panel_0_0"/>
    <axis xyz="0 0 -1"/>
    <limit lower="0" upper="1.48353" effort="2000" velocity="10"/>
    <dynamics damping="0.76412" friction="3.962714"/>
  </joint>
  <joint name="panel_0_1_hinge" type="revolute">
    <origin xyz="0.27 0.006 0" rpy="0 0 0"/>
    <parent link="panel_0_0"/>
    <child link="panel_0_1"/>
    <axis xyz="0 0 -1"/>
    <limit lower="-3.141593" upper="0" effort="2000" velocity="10"/>
    <dynamics damping="0.2" friction="0.1"/>
    <mimic joint="panel_0_0_hinge" multiplier="-2" offset="0"/>
  </joint>
  <joint name="panel_0_2_hinge" type="revolute">
    <origin xyz="0.305 -0.012 0" rpy="0 0 0"/>
    <parent link="panel_0_1"/>
    <child link="panel_0_2"/>
    <axis xyz="0 0 -1"/>
    <limit lower="0" upper="3.141593" effort="2000" velocity="10"/>
    <dynamics damping="0.2" friction="0.1"/>
    <mimic joint="panel_0_0_hinge" multiplier="2" offset="0"/>
  </joint>
  <joint name="panel_0_3_hinge" type="revolute">
    <origin xyz="0.305 0.012 0" rpy="0 0 0"/>
    <parent link="panel_0_2"/>
    <child link="panel_0_3"/>
    <axis xyz="0 0 -1"/>
    <limit lower="-3.141593" upper="0" effort="2000" velocity="10"/>
    <dynamics damping="0.2" friction="0.1"/>
    <mimic joint="panel_0_0_hinge" multiplier="-2" offset="0"/>
  </joint>
  <joint name="panel_0_4_hinge" type="revolute">
    <origin xyz="0.305 -0.012 0" rpy="0 0 0"/>
    <parent link="panel_0_3"/>
    <child link="panel_0_4"/>
    <axis xyz="0 0 -1"/>
    <limit lower="0" upper="3.141593" effort="2000" velocity="10"/>
    <dynamics damping="0.2" friction="0.1"/>
    <mimic joint="panel_0_0_hinge" multiplier="2" offset="0"/>
  </joint>
  <joint name="panel_0_5_hinge" type="revolute">
    <origin xyz="0.305 0.012 0" rpy="0 0 0"/>
    <parent link="panel_0_4"/>
    <child link="panel_0_5"/>
    <axis xyz="0 0 -1"/>
    <limit lower="-3.141593" upper="0" effort="2000" velocity="10"/>
    <dynamics damping="0.2" friction="0.1"/>
    <mimic joint="panel_0_0_hinge" multiplier="-2" offset="0"/>
  </joint>
  <material name="mat_floor">
    <color rgba="0.55 0.53 0.5 1"/>
  </material>
  <material name="mat_frame">
    <color rgba="0.82 0.7 0.5 1"/>
  </material>
  <material name="mat_op_stainless">
    <color rgba="0.75 0.76 0.77 1"/>
  </material>
  <material name="mat_panel_0_0">
    <color rgba="0.75 0.75 0.72 1"/>
  </material>
  <material name="mat_panel_0_1">
    <color rgba="0.75 0.75 0.72 1"/>
  </material>
  <material name="mat_panel_0_2">
    <color rgba="0.75 0.75 0.72 1"/>
  </material>
  <material name="mat_panel_0_3">
    <color rgba="0.75 0.75 0.72 1"/>
  </material>
  <material name="mat_panel_0_4">
    <color rgba="0.75 0.75 0.72 1"/>
  </material>
  <material name="mat_panel_0_5">
    <color rgba="0.75 0.75 0.72 1"/>
  </material>
  <material name="mat_wall">
    <color rgba="0.78 0.76 0.7 1"/>
  </material>
</robot>
