<?xml version="1.0" ?>
<robot xmlns:doorbench="https://github.com/adamraudonis/DoorBench/schema/urdf-ext" name="db0114_swing_single_full">
  <link name="world_env">
    <visual name="floor_vis">
      <origin xyz="0 0 -0.05" rpy="0 0 0"/>
      <geometry>
        <box size="12 12 0.1"/>
      </geometry>
      <material name="mat_floor"/>
    </visual>
    <collision name="floor_col">
      <origin xyz="0 0 -0.05" rpy="0 0 0"/>
      <geometry>
        <box size="12 12 0.1"/>
      </geometry>
    </collision>
    <visual name="wall_left_vis">
      <origin xyz="-1.4925 0.0435 1.35" rpy="0 0 0"/>
      <geometry>
        <box size="2.015 0.145 2.7"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_left_col">
      <origin xyz="-1.4925 0.0435 1.35" rpy="0 0 0"/>
      <geometry>
        <box size="2.015 0.145 2.7"/>
      </geometry>
    </collision>
    <visual name="wall_right_vis">
      <origin xyz="1.4775 0.0435 1.35" rpy="0 0 0"/>
      <geometry>
        <box size="2.045 0.145 2.7"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_right_col">
      <origin xyz="1.4775 0.0435 1.35" rpy="0 0 0"/>
      <geometry>
        <box size="2.045 0.145 2.7"/>
      </geometry>
    </collision>
    <visual name="wall_header_vis">
      <origin xyz="-0.015 0.0435 2.397" rpy="0 0 0"/>
      <geometry>
        <box size="0.94 0.145 0.606"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_header_col">
      <origin xyz="-0.015 0.0435 2.397" rpy="0 0 0"/>
      <geometry>
        <box size="0.94 0.145 0.606"/>
      </geometry>
    </collision>
    <visual name="hinge_0_jamb_vis">
      <origin xyz="0.433 -0.029 0.259" rpy="3.141593 0 3.141593"/>
      <geometry>
        <mesh filename="../../hardware/hinge_jamb_e1d088f8dc.obj"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="hinge_1_jamb_vis">
      <origin xyz="0.433 -0.029 1.025" rpy="3.141593 0 3.141593"/>
      <geometry>
        <mesh filename="../../hardware/hinge_jamb_e1d088f8dc.obj"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="hinge_2_jamb_vis">
      <origin xyz="0.433 -0.029 1.861" rpy="3.141593 0 3.141593"/>
      <geometry>
        <mesh filename="../../hardware/hinge_jamb_e1d088f8dc.obj"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="leaf_deadbolt_strike_b_vis">
      <origin xyz="-0.4355 0 1.1725" rpy="1.570796 0 1.570796"/>
      <geometry>
        <box size="0.031 0.006 0.001"/>
      </geometry>
      <material name="mat_deadbolt"/>
    </visual>
    <visual name="leaf_deadbolt_strike_l_vis">
      <origin xyz="-0.4355 -0.0125 1.191" rpy="1.570796 0 1.570796"/>
      <geometry>
        <box size="0.006 0.031 0.001"/>
      </geometry>
      <material name="mat_deadbolt"/>
    </visual>
    <visual name="leaf_deadbolt_strike_t_vis">
      <origin xyz="-0.4355 0 1.2095" rpy="1.570796 0 1.570796"/>
      <geometry>
        <box size="0.031 0.006 0.001"/>
      </geometry>
      <material name="mat_deadbolt"/>
    </visual>
    <visual name="leaf_deadbolt_strike_r_vis">
      <origin xyz="-0.4355 0.0125 1.191" rpy="1.570796 0 1.570796"/>
      <geometry>
        <box size="0.006 0.031 0.001"/>
      </geometry>
      <material name="mat_deadbolt"/>
    </visual>
    <visual name="jamb_hinge_vis">
      <origin xyz="0.4455 0.0435 1.0225" rpy="0 0 0"/>
      <geometry>
        <box size="0.019 0.145 2.045"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_hinge_col">
      <origin xyz="0.4455 0.0435 1.0225" rpy="0 0 0"/>
      <geometry>
        <box size="0.019 0.145 2.045"/>
      </geometry>
    </collision>
    <visual name="strike_1016_wall_n_vis">
      <origin xyz="-0.4605 0.06275 1.016" rpy="0 0 0"/>
      <geometry>
        <box size="0.049 0.1065 0.0366"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="strike_1016_wall_n_col">
      <origin xyz="-0.4605 0.06275 1.016" rpy="0 0 0"/>
      <geometry>
        <box size="0.049 0.1065 0.0366"/>
      </geometry>
    </collision>
    <visual name="strike_1016_wall_p_vis">
      <origin xyz="-0.4605 -0.0175 1.016" rpy="0 0 0"/>
      <geometry>
        <box size="0.049 0.016 0.0366"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="strike_1016_wall_p_col">
      <origin xyz="-0.4605 -0.0175 1.016" rpy="0 0 0"/>
      <geometry>
        <box size="0.049 0.016 0.0366"/>
      </geometry>
    </collision>
    <visual name="strike_1016_ramp_vis">
      <origin xyz="-0.466385 -0.02691 1.016" rpy="0 0 -0.588003"/>
      <geometry>
        <box size="0.049 0.036056 0.0366"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="strike_1016_ramp_col">
      <origin xyz="-0.466385 -0.02691 1.016" rpy="0 0 -0.588003"/>
      <geometry>
        <box size="0.049 0.036056 0.0366"/>
      </geometry>
    </collision>
    <visual name="strike_1016_back_vis">
      <origin xyz="-0.472 0 1.016" rpy="0 0 0"/>
      <geometry>
        <box size="0.026 0.019 0.0366"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="strike_1016_back_col">
      <origin xyz="-0.472 0 1.016" rpy="0 0 0"/>
      <geometry>
        <box size="0.026 0.019 0.0366"/>
      </geometry>
    </collision>
    <visual name="strike_1191_wall_n_vis">
      <origin xyz="-0.4605 0.06275 1.191" rpy="0 0 0"/>
      <geometry>
        <box size="0.049 0.1065 0.031"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="strike_1191_wall_n_col">
      <origin xyz="-0.4605 0.06275 1.191" rpy="0 0 0"/>
      <geometry>
        <box size="0.049 0.1065 0.031"/>
      </geometry>
    </collision>
    <visual name="strike_1191_wall_p_vis">
      <origin xyz="-0.4605 -0.01925 1.191" rpy="0 0 0"/>
      <geometry>
        <box size="0.049 0.0195 0.031"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="strike_1191_wall_p_col">
      <origin xyz="-0.4605 -0.01925 1.191" rpy="0 0 0"/>
      <geometry>
        <box size="0.049 0.0195 0.031"/>
      </geometry>
    </collision>
    <visual name="strike_1191_back_vis">
      <origin xyz="-0.4752 0 1.191" rpy="0 0 0"/>
      <geometry>
        <box size="0.0196 0.019 0.031"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="strike_1191_back_col">
      <origin xyz="-0.4752 0 1.191" rpy="0 0 0"/>
      <geometry>
        <box size="0.0196 0.019 0.031"/>
      </geometry>
    </collision>
    <visual name="jamb_strike_0_vis">
      <origin xyz="-0.4605 0.0435 0.49885" rpy="0 0 0"/>
      <geometry>
        <box size="0.049 0.145 0.9977"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_strike_0_col">
      <origin xyz="-0.4605 0.0435 0.49885" rpy="0 0 0"/>
      <geometry>
        <box size="0.049 0.145 0.9977"/>
      </geometry>
    </collision>
    <visual name="jamb_strike_1_vis">
      <origin xyz="-0.4605 0.0435 1.1049" rpy="0 0 0"/>
      <geometry>
        <box size="0.049 0.145 0.1412"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_strike_1_col">
      <origin xyz="-0.4605 0.0435 1.1049" rpy="0 0 0"/>
      <geometry>
        <box size="0.049 0.145 0.1412"/>
      </geometry>
    </collision>
    <visual name="jamb_strike_2_vis">
      <origin xyz="-0.4605 0.0435 1.62575" rpy="0 0 0"/>
      <geometry>
        <box size="0.049 0.145 0.8385"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_strike_2_col">
      <origin xyz="-0.4605 0.0435 1.62575" rpy="0 0 0"/>
      <geometry>
        <box size="0.049 0.145 0.8385"/>
      </geometry>
    </collision>
    <visual name="jamb_head_vis">
      <origin xyz="-0.015 0.0435 2.0545" rpy="0 0 0"/>
      <geometry>
        <box size="0.94 0.145 0.019"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_head_col">
      <origin xyz="-0.015 0.0435 2.0545" rpy="0 0 0"/>
      <geometry>
        <box size="0.94 0.145 0.019"/>
      </geometry>
    </collision>
    <visual name="head_stud_vis">
      <origin xyz="-0.015 0.0435 2.079" rpy="0 0 0"/>
      <geometry>
        <box size="0.94 0.145 0.03"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="head_stud_col">
      <origin xyz="-0.015 0.0435 2.079" rpy="0 0 0"/>
      <geometry>
        <box size="0.94 0.145 0.03"/>
      </geometry>
    </collision>
    <visual name="stop_hinge_vis">
      <origin xyz="0.4305 0.0385 1.0225" rpy="0 0 0"/>
      <geometry>
        <box size="0.011 0.032 2.045"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="stop_hinge_col">
      <origin xyz="0.4305 0.0385 1.0225" rpy="0 0 0"/>
      <geometry>
        <box size="0.011 0.032 2.045"/>
      </geometry>
    </collision>
    <visual name="stop_strike_vis">
      <origin xyz="-0.4305 0.0385 1.0225" rpy="0 0 0"/>
      <geometry>
        <box size="0.011 0.032 2.045"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="stop_strike_col">
      <origin xyz="-0.4305 0.0385 1.0225" rpy="0 0 0"/>
      <geometry>
        <box size="0.011 0.032 2.045"/>
      </geometry>
    </collision>
    <visual name="stop_head_vis">
      <origin xyz="0 0.0385 2.0395" rpy="0 0 0"/>
      <geometry>
        <box size="0.872 0.032 0.011"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="stop_head_col">
      <origin xyz="0 0.0385 2.0395" rpy="0 0 0"/>
      <geometry>
        <box size="0.872 0.032 0.011"/>
      </geometry>
    </collision>
    <visual name="seal_hinge_vis">
      <origin xyz="0.433 0.025 1.0225" rpy="0 0 0"/>
      <geometry>
        <box size="0.008 0.006 2.045"/>
      </geometry>
      <material name="mat_seal"/>
    </visual>
    <visual name="seal_strike_vis">
      <origin xyz="-0.433 0.025 1.0225" rpy="0 0 0"/>
      <geometry>
        <box size="0.008 0.006 2.045"/>
      </geometry>
      <material name="mat_seal"/>
    </visual>
    <visual name="seal_head_vis">
      <origin xyz="0 0.025 2.033" rpy="0 0 0"/>
      <geometry>
        <box size="0.832 0.006 0.016"/>
      </geometry>
      <material name="mat_seal"/>
    </visual>
    <visual name="casing_l_n_vis">
      <origin xyz="-0.485 -0.037 1.0225" rpy="0 0 0"/>
      <geometry>
        <box size="0.07 0.016 2.064"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <visual name="casing_r_n_vis">
      <origin xyz="0.485 -0.037 1.0225" rpy="0 0 0"/>
      <geometry>
        <box size="0.07 0.016 2.064"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <visual name="casing_h_n_vis">
      <origin xyz="0 -0.037 2.094" rpy="0 0 0"/>
      <geometry>
        <box size="1.04 0.016 0.07"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <visual name="casing_l_p_vis">
      <origin xyz="-0.485 0.124 1.0225" rpy="0 0 0"/>
      <geometry>
        <box size="0.07 0.016 2.064"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <visual name="casing_r_p_vis">
      <origin xyz="0.485 0.124 1.0225" rpy="0 0 0"/>
      <geometry>
        <box size="0.07 0.016 2.064"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <visual name="casing_h_p_vis">
      <origin xyz="0 0.124 2.094" rpy="0 0 0"/>
      <geometry>
        <box size="1.04 0.016 0.07"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <visual name="threshold_vis">
      <origin xyz="0 0.0435 0.004" rpy="0 0 0"/>
      <geometry>
        <box size="0.91 0.245 0.008"/>
      </geometry>
      <material name="mat_threshold"/>
    </visual>
    <collision name="threshold_col">
      <origin xyz="0 0.0435 0.004" rpy="0 0 0"/>
      <geometry>
        <box size="0.91 0.245 0.008"/>
      </geometry>
    </collision>
  </link>
  <link name="leaf">
    <inertial>
      <origin xyz="-0.43433 0.028909 0.942748" rpy="0 0 0"/>
      <mass value="26.600992"/>
      <inertia ixx="9.752089435" ixy="-0.009319511" ixz="-0.016511558" iyy="11.518158654" iyz="0.046345609" izz="1.782977627"/>
    </inertial>
    <visual name="leaf_slab_vis">
      <origin xyz="-0.432 0.029 1.025" rpy="0 0 0"/>
      <geometry>
        <box size="0.864 0.044 2.032"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <collision name="leaf_slab_col">
      <origin xyz="-0.432 0.029 1.025" rpy="0 0 0"/>
      <geometry>
        <box size="0.864 0.044 2.032"/>
      </geometry>
    </collision>
    <visual name="leaf_panel_0_n_vis">
      <origin xyz="-0.24102 0.004 0.461552" rpy="0 0 0"/>
      <geometry>
        <box size="0.25196 0.006 0.418064"/>
      </geometry>
      <material name="mat_leaf_panel"/>
    </visual>
    <visual name="leaf_panel_0_p_vis">
      <origin xyz="-0.24102 0.054 0.461552" rpy="0 0 0"/>
      <geometry>
        <box size="0.25196 0.006 0.418064"/>
      </geometry>
      <material name="mat_leaf_panel"/>
    </visual>
    <visual name="leaf_panel_1_n_vis">
      <origin xyz="-0.62298 0.004 0.461552" rpy="0 0 0"/>
      <geometry>
        <box size="0.25196 0.006 0.418064"/>
      </geometry>
      <material name="mat_leaf_panel"/>
    </visual>
    <visual name="leaf_panel_1_p_vis">
      <origin xyz="-0.62298 0.054 0.461552" rpy="0 0 0"/>
      <geometry>
        <box size="0.25196 0.006 0.418064"/>
      </geometry>
      <material name="mat_leaf_panel"/>
    </visual>
    <visual name="leaf_panel_2_n_vis">
      <origin xyz="-0.24102 0.004 1.009616" rpy="0 0 0"/>
      <geometry>
        <box size="0.25196 0.006 0.418064"/>
      </geometry>
      <material name="mat_leaf_panel"/>
    </visual>
    <visual name="leaf_panel_2_p_vis">
      <origin xyz="-0.24102 0.054 1.009616" rpy="0 0 0"/>
      <geometry>
        <box size="0.25196 0.006 0.418064"/>
      </geometry>
      <material name="mat_leaf_panel"/>
    </visual>
    <visual name="leaf_panel_3_n_vis">
      <origin xyz="-0.62298 0.004 1.009616" rpy="0 0 0"/>
      <geometry>
        <box size="0.25196 0.006 0.418064"/>
      </geometry>
      <material name="mat_leaf_panel"/>
    </visual>
    <visual name="leaf_panel_3_p_vis">
      <origin xyz="-0.62298 0.054 1.009616" rpy="0 0 0"/>
      <geometry>
        <box size="0.25196 0.006 0.418064"/>
      </geometry>
      <material name="mat_leaf_panel"/>
    </visual>
    <visual name="leaf_panel_4_n_vis">
      <origin xyz="-0.24102 0.004 1.634024" rpy="0 0 0"/>
      <geometry>
        <box size="0.25196 0.006 0.570752"/>
      </geometry>
      <material name="mat_leaf_panel"/>
    </visual>
    <visual name="leaf_panel_4_p_vis">
      <origin xyz="-0.24102 0.054 1.634024" rpy="0 0 0"/>
      <geometry>
        <box size="0.25196 0.006 0.570752"/>
      </geometry>
      <material name="mat_leaf_panel"/>
    </visual>
    <visual name="leaf_panel_5_n_vis">
      <origin xyz="-0.62298 0.004 1.634024" rpy="0 0 0"/>
      <geometry>
        <box size="0.25196 0.006 0.570752"/>
      </geometry>
      <material name="mat_leaf_panel"/>
    </visual>
    <visual name="leaf_panel_5_p_vis">
      <origin xyz="-0.62298 0.054 1.634024" rpy="0 0 0"/>
      <geometry>
        <box size="0.25196 0.006 0.570752"/>
      </geometry>
      <material name="mat_leaf_panel"/>
    </visual>
    <visual name="hinge_0_vis">
      <origin xyz="0 0 0.259" rpy="3.141593 0 3.141593"/>
      <geometry>
        <mesh filename="../../hardware/hinge_e22b26c0c1.obj"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="hinge_1_vis">
      <origin xyz="0 0 1.025" rpy="3.141593 0 3.141593"/>
      <geometry>
        <mesh filename="../../hardware/hinge_e22b26c0c1.obj"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="hinge_2_vis">
      <origin xyz="0 0 1.861" rpy="3.141593 0 3.141593"/>
      <geometry>
        <mesh filename="../../hardware/hinge_e22b26c0c1.obj"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="leaf_handleset_n_vis">
      <origin xyz="-0.759 0.007 0.956" rpy="1.570796 0 0"/>
      <geometry>
        <mesh filename="../../hardware/handleset_beb5526ad2.obj"/>
      </geometry>
      <material name="mat_op_bronze"/>
    </visual>
    <collision name="leaf_handleset_col_n_col">
      <origin xyz="-0.759 -0.053 0.956" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.011" length="0.18"/>
      </geometry>
    </collision>
    <visual name="leaf_latch_bolt_faceplate_vis">
      <origin xyz="-0.8634 0.029 1.016" rpy="0 0 0"/>
      <geometry>
        <box size="0.0012 0.028 0.0566"/>
      </geometry>
      <material name="mat_bolt"/>
    </visual>
    <visual name="leaf_deadbolt_faceplate_vis">
      <origin xyz="-0.8634 0.029 1.191" rpy="0 0 0"/>
      <geometry>
        <box size="0.0012 0.028 0.049"/>
      </geometry>
      <material name="mat_deadbolt"/>
    </visual>
    <visual name="leaf_deadbolt_cylinder_face_vis">
      <origin xyz="-0.799 0.051 1.191" rpy="1.570796 0 3.141593"/>
      <geometry>
        <mesh filename="../../hardware/cyl_face_e9e5036966.obj"/>
      </geometry>
      <material name="mat_deadbolt"/>
    </visual>
    <visual name="kick_plate_p_vis">
      <origin xyz="-0.432 0.0518 0.144" rpy="0 0 0"/>
      <geometry>
        <box size="0.804 0.0016 0.25"/>
      </geometry>
      <material name="mat_kick"/>
    </visual>
    <visual name="peephole_vis">
      <origin xyz="-0.432 0.007 1.509" rpy="-1.570796 0 3.141593"/>
      <geometry>
        <mesh filename="../../hardware/peephole_f829311a59.obj"/>
      </geometry>
      <material name="mat_peephole"/>
    </visual>
  </link>
  <link name="leaf_handle">
    <inertial>
      <origin xyz="0 0.05439 0" rpy="0 0 0"/>
      <mass value="0.58663"/>
      <inertia ixx="0.000394487" ixy="0" ixz="0" iyy="0.000156449" iyz="0" izz="0.000394487"/>
    </inertial>
    <visual name="leaf_handle_spindle_vis">
      <origin xyz="0 0 0" rpy="-1.570796 0 0"/>
      <geometry>
        <cylinder radius="0.006" length="0.042"/>
      </geometry>
      <material name="mat_op_brass"/>
    </visual>
    <visual name="leaf_handle_knob_p_vis">
      <origin xyz="0 0.022 0" rpy="1.570796 0 3.141593"/>
      <geometry>
        <mesh filename="../../hardware/knob_d1888f6f03.obj"/>
      </geometry>
      <material name="mat_op_brass"/>
    </visual>
    <visual name="leaf_handle_knob_col_p_vis">
      <origin xyz="0 0.0685 0" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.0243"/>
      </geometry>
      <material name="mat_op_brass"/>
    </visual>
    <collision name="leaf_handle_knob_col_p_col">
      <origin xyz="0 0.0685 0" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.0243"/>
      </geometry>
    </collision>
    <collision name="leaf_handle_knob_neck_p_col">
      <origin xyz="0 0.034 0" rpy="-1.570796 0 0"/>
      <geometry>
        <cylinder radius="0.011" length="0.024"/>
      </geometry>
    </collision>
  </link>
  <link name="leaf_thumbpiece">
    <inertial>
      <origin xyz="0 0 -0.02" rpy="0 0 0"/>
      <mass value="0.03456"/>
      <inertia ixx="0.000004792" ixy="0" ixz="0" iyy="0.00000834" iyz="0" izz="0.000003917"/>
    </inertial>
    <visual name="leaf_thumbpiece_geom_vis">
      <origin xyz="0 0 -0.02" rpy="0 0 0"/>
      <geometry>
        <box size="0.036 0.008 0.04"/>
      </geometry>
      <material name="mat_op_bronze"/>
    </visual>
    <collision name="leaf_thumbpiece_geom_col">
      <origin xyz="0 0 -0.02" rpy="0 0 0"/>
      <geometry>
        <box size="0.036 0.008 0.04"/>
      </geometry>
    </collision>
  </link>
  <link name="leaf_latch_bolt">
    <inertial>
      <origin xyz="0.0055 0 0" rpy="0 0 0"/>
      <mass value="0.074627"/>
      <inertia ixx="0.000002271" ixy="0" ixz="0" iyy="0.000013255" iyz="0" izz="0.000013255"/>
    </inertial>
    <visual name="leaf_latch_bolt_capsule_vis">
      <origin xyz="0.0055 0 0" rpy="0 -1.570796 0"/>
      <geometry>
        <cylinder radius="0.008" length="0.033"/>
      </geometry>
      <material name="mat_bolt"/>
    </visual>
    <collision name="leaf_latch_bolt_capsule_col">
      <origin xyz="0.0055 0 0" rpy="0 -1.570796 0"/>
      <geometry>
        <cylinder radius="0.008" length="0.033"/>
      </geometry>
    </collision>
  </link>
  <link name="leaf_deadbolt">
    <inertial>
      <origin xyz="0.0023 0 0" rpy="0 0 0"/>
      <mass value="0.18836"/>
      <inertia ixx="0.000013829" ixy="0" ixz="0" iyy="0.000057986" iyz="0" izz="0.000052194"/>
    </inertial>
    <visual name="leaf_deadbolt_box_vis">
      <origin xyz="0.0023 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.0554 0.016 0.025"/>
      </geometry>
      <material name="mat_deadbolt"/>
    </visual>
    <collision name="leaf_deadbolt_box_col">
      <origin xyz="0.0023 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.0554 0.016 0.025"/>
      </geometry>
    </collision>
  </link>
  <joint name="leaf_hinge" type="revolute">
    <origin xyz="0.433 -0.029 0" rpy="0 0 0"/>
    <parent link="world_env"/>
    <child link="leaf"/>
    <axis xyz="0 0 1"/>
    <limit lower="0" upper="2.356194" effort="2000" velocity="10"/>
    <dynamics damping="0.254501" friction="2.421152"/>
    <doorbench:closer damping_closing="0" damping_opening="0" backcheck_angle="0" backcheck_damping="0"/>
  </joint>
  <joint name="leaf_handle_hinge" type="revolute">
    <origin xyz="-0.794 0.029 1.016" rpy="0 0 0"/>
    <parent link="leaf"/>
    <child link="leaf_handle"/>
    <axis xyz="0 1 0"/>
    <limit lower="0" upper="0.87" effort="2000" velocity="10"/>
    <dynamics damping="0.02" friction="0.038"/>
    <doorbench:spring stiffness="0.5" springref="-0.5" note="tau = -stiffness*(q - springref); not native URDF"/>
  </joint>
  <joint name="leaf_thumbpiece_hinge" type="revolute">
    <origin xyz="-0.759 -0.011 1.148" rpy="0 0 0"/>
    <parent link="leaf"/>
    <child link="leaf_thumbpiece"/>
    <axis xyz="-1 0 0"/>
    <limit lower="0" upper="0.35" effort="2000" velocity="10"/>
    <dynamics damping="0.02" friction="0.02"/>
    <doorbench:spring stiffness="1.2" springref="-0.416667" note="tau = -stiffness*(q - springref); not native URDF"/>
  </joint>
  <joint name="leaf_latch_bolt_slide" type="prismatic">
    <origin xyz="-0.864 0.029 1.016" rpy="0 0 0"/>
    <parent link="leaf"/>
    <child link="leaf_latch_bolt"/>
    <axis xyz="1 0 0"/>
    <limit lower="0" upper="0.019" effort="5000" velocity="10"/>
    <dynamics damping="2" friction="0.3"/>
    <doorbench:spring stiffness="600" springref="-0.01" note="tau = -stiffness*(q - springref); not native URDF"/>
    <mimic joint="leaf_thumbpiece_hinge" multiplier="0.059375" offset="0"/>
    <doorbench:coupling one_sided="true" note="MJCF uses a one-sided tendon (bolt may retract further, e.g. riding over the strike lip); mimic is bilateral"/>
    <mimic joint="leaf_handle_hinge" multiplier="0.059375" offset="0"/>
    <doorbench:coupling one_sided="true" note="MJCF uses a one-sided tendon (bolt may retract further, e.g. riding over the strike lip); mimic is bilateral"/>
  </joint>
  <joint name="leaf_deadbolt_fixed" type="fixed">
    <origin xyz="-0.864 0.029 1.191" rpy="0 0 0"/>
    <parent link="leaf"/>
    <child link="leaf_deadbolt"/>
  </joint>
  <material name="mat_bolt">
    <color rgba="0.85 0.66 0.3 1"/>
  </material>
  <material name="mat_deadbolt">
    <color rgba="0.85 0.66 0.3 1"/>
  </material>
  <material name="mat_floor">
    <color rgba="0.55 0.53 0.5 1"/>
  </material>
  <material name="mat_frame">
    <color rgba="0.82 0.7 0.5 1"/>
  </material>
  <material name="mat_hinge">
    <color rgba="0.65 0.66 0.68 1"/>
  </material>
  <material name="mat_kick">
    <color rgba="0.75 0.76 0.77 1"/>
  </material>
  <material name="mat_leaf">
    <color rgba="0.9 0.75 0.15 1"/>
  </material>
  <material name="mat_leaf_panel">
    <color rgba="0.828 0.69 0.138 1"/>
  </material>
  <material name="mat_op_brass">
    <color rgba="0.85 0.66 0.3 1"/>
  </material>
  <material name="mat_op_bronze">
    <color rgba="0.3 0.22 0.15 1"/>
  </material>
  <material name="mat_peephole">
    <color rgba="0.85 0.66 0.3 1"/>
  </material>
  <material name="mat_seal">
    <color rgba="0.1 0.1 0.1 1"/>
  </material>
  <material name="mat_threshold">
    <color rgba="0.8 0.81 0.83 1"/>
  </material>
  <material name="mat_wall">
    <color rgba="0.78 0.76 0.7 1"/>
  </material>
</robot>
