<?xml version="1.0" ?>
<robot xmlns:doorbench="https://github.com/adamraudonis/DoorBench/schema/urdf-ext" name="db0477_swing_single_full">
  <link name="world_env">
    <visual name="floor_vis">
      <origin xyz="0 0 -0.05" rpy="0 0 0"/>
      <geometry>
        <box size="12 12 0.1"/>
      </geometry>
      <material name="mat_floor"/>
    </visual>
    <collision name="floor_col">
      <origin xyz="0 0 -0.05" rpy="0 0 0"/>
      <geometry>
        <box size="12 12 0.1"/>
      </geometry>
    </collision>
    <visual name="wall_left_vis">
      <origin xyz="-1.5965 -0.0435 1.3735" rpy="0 0 0"/>
      <geometry>
        <box size="1.807 0.145 2.747"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_left_col">
      <origin xyz="-1.5965 -0.0435 1.3735" rpy="0 0 0"/>
      <geometry>
        <box size="1.807 0.145 2.747"/>
      </geometry>
    </collision>
    <visual name="wall_right_vis">
      <origin xyz="1.5815 -0.0435 1.3735" rpy="0 0 0"/>
      <geometry>
        <box size="1.837 0.145 2.747"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_right_col">
      <origin xyz="1.5815 -0.0435 1.3735" rpy="0 0 0"/>
      <geometry>
        <box size="1.837 0.145 2.747"/>
      </geometry>
    </collision>
    <visual name="wall_header_vis">
      <origin xyz="-0.015 -0.0435 2.487" rpy="0 0 0"/>
      <geometry>
        <box size="1.356 0.145 0.52"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_header_col">
      <origin xyz="-0.015 -0.0435 2.487" rpy="0 0 0"/>
      <geometry>
        <box size="1.356 0.145 0.52"/>
      </geometry>
    </collision>
    <visual name="jamb_hinge_vis">
      <origin xyz="0.638 -0.0435 1.0735" rpy="0 0 0"/>
      <geometry>
        <box size="0.05 0.145 2.147"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_hinge_col">
      <origin xyz="0.638 -0.0435 1.0735" rpy="0 0 0"/>
      <geometry>
        <box size="0.05 0.145 2.147"/>
      </geometry>
    </collision>
    <visual name="strike_1040_wall_n_vis">
      <origin xyz="-0.653 -0.06175 1.04" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.1085 0.038"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="strike_1040_wall_n_col">
      <origin xyz="-0.653 -0.06175 1.04" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.1085 0.038"/>
      </geometry>
    </collision>
    <visual name="strike_1040_wall_p_vis">
      <origin xyz="-0.653 0.0155 1.04" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.016 0.038"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="strike_1040_wall_p_col">
      <origin xyz="-0.653 0.0155 1.04" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.016 0.038"/>
      </geometry>
    </collision>
    <visual name="strike_1040_ramp_vis">
      <origin xyz="-0.655454 0.029411 1.04" rpy="0 0 0.229232"/>
      <geometry>
        <box size="0.08 0.030806 0.038"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="strike_1040_ramp_col">
      <origin xyz="-0.655454 0.029411 1.04" rpy="0 0 0.229232"/>
      <geometry>
        <box size="0.08 0.030806 0.038"/>
      </geometry>
    </collision>
    <visual name="strike_1040_ramp_n_vis">
      <origin xyz="-0.655454 -0.017411 1.04" rpy="0 0 -0.229232"/>
      <geometry>
        <box size="0.08 0.030806 0.038"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="strike_1040_ramp_n_col">
      <origin xyz="-0.655454 -0.017411 1.04" rpy="0 0 -0.229232"/>
      <geometry>
        <box size="0.08 0.030806 0.038"/>
      </geometry>
    </collision>
    <visual name="strike_1040_back_vis">
      <origin xyz="-0.658 0 1.04" rpy="0 0 0"/>
      <geometry>
        <box size="0.07 0.015 0.038"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="strike_1040_back_col">
      <origin xyz="-0.658 0 1.04" rpy="0 0 0"/>
      <geometry>
        <box size="0.07 0.015 0.038"/>
      </geometry>
    </collision>
    <visual name="jamb_strike_0_vis">
      <origin xyz="-0.653 -0.0435 0.5105" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.145 1.021"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_strike_0_col">
      <origin xyz="-0.653 -0.0435 0.5105" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.145 1.021"/>
      </geometry>
    </collision>
    <visual name="jamb_strike_1_vis">
      <origin xyz="-0.653 -0.0435 1.603" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.145 1.088"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_strike_1_col">
      <origin xyz="-0.653 -0.0435 1.603" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.145 1.088"/>
      </geometry>
    </collision>
    <visual name="jamb_head_vis">
      <origin xyz="-0.015 -0.0435 2.172" rpy="0 0 0"/>
      <geometry>
        <box size="1.356 0.145 0.05"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_head_col">
      <origin xyz="-0.015 -0.0435 2.172" rpy="0 0 0"/>
      <geometry>
        <box size="1.356 0.145 0.05"/>
      </geometry>
    </collision>
    <visual name="head_stud_vis">
      <origin xyz="-0.015 -0.0435 2.212" rpy="0 0 0"/>
      <geometry>
        <box size="1.356 0.145 0.03"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="head_stud_col">
      <origin xyz="-0.015 -0.0435 2.212" rpy="0 0 0"/>
      <geometry>
        <box size="1.356 0.145 0.03"/>
      </geometry>
    </collision>
    <visual name="stop_hinge_vis">
      <origin xyz="0.6075 -0.0385 1.0735" rpy="0 0 0"/>
      <geometry>
        <box size="0.011 0.032 2.147"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="stop_hinge_col">
      <origin xyz="0.6075 -0.0385 1.0735" rpy="0 0 0"/>
      <geometry>
        <box size="0.011 0.032 2.147"/>
      </geometry>
    </collision>
    <visual name="stop_strike_vis">
      <origin xyz="-0.6075 -0.0385 1.0735" rpy="0 0 0"/>
      <geometry>
        <box size="0.011 0.032 2.147"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="stop_strike_col">
      <origin xyz="-0.6075 -0.0385 1.0735" rpy="0 0 0"/>
      <geometry>
        <box size="0.011 0.032 2.147"/>
      </geometry>
    </collision>
    <visual name="stop_head_vis">
      <origin xyz="0 -0.0385 2.1415" rpy="0 0 0"/>
      <geometry>
        <box size="1.226 0.032 0.011"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="stop_head_col">
      <origin xyz="0 -0.0385 2.1415" rpy="0 0 0"/>
      <geometry>
        <box size="1.226 0.032 0.011"/>
      </geometry>
    </collision>
    <visual name="seal_hinge_vis">
      <origin xyz="0.61 -0.0245 1.0735" rpy="0 0 0"/>
      <geometry>
        <box size="0.008 0.005 2.147"/>
      </geometry>
      <material name="mat_seal"/>
    </visual>
    <visual name="seal_strike_vis">
      <origin xyz="-0.61 -0.0245 1.0735" rpy="0 0 0"/>
      <geometry>
        <box size="0.008 0.005 2.147"/>
      </geometry>
      <material name="mat_seal"/>
    </visual>
    <visual name="seal_head_vis">
      <origin xyz="0 -0.0245 2.135" rpy="0 0 0"/>
      <geometry>
        <box size="1.186 0.005 0.016"/>
      </geometry>
      <material name="mat_seal"/>
    </visual>
    <visual name="threshold_vis">
      <origin xyz="0 -0.0435 0.004" rpy="0 0 0"/>
      <geometry>
        <box size="1.326 0.245 0.008"/>
      </geometry>
      <material name="mat_threshold"/>
    </visual>
    <collision name="threshold_col">
      <origin xyz="0 -0.0435 0.004" rpy="0 0 0"/>
      <geometry>
        <box size="1.326 0.245 0.008"/>
      </geometry>
    </collision>
    <visual name="closer_bracket_vis">
      <origin xyz="0.513 0.1045 2.177" rpy="0 0 0"/>
      <geometry>
        <box size="0.06 0.04 0.024"/>
      </geometry>
      <material name="mat_closer"/>
    </visual>
  </link>
  <link name="leaf">
    <inertial>
      <origin xyz="-0.581785 -0.027619 1.029833" rpy="0 0 0"/>
      <mass value="96.017266"/>
      <inertia ixx="41.555610392" ixy="-0.159876104" ixz="-2.277569689" iyy="53.299189675" iyz="-0.646774002" izz="11.851649385"/>
    </inertial>
    <visual name="leaf_slab_vis">
      <origin xyz="-0.6095 -0.029 1.076" rpy="0 0 0"/>
      <geometry>
        <box size="1.219 0.044 2.134"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <collision name="leaf_slab_col">
      <origin xyz="-0.6095 -0.029 1.076" rpy="0 0 0"/>
      <geometry>
        <box size="1.219 0.044 2.134"/>
      </geometry>
    </collision>
    <visual name="leaf_glass_0_vis">
      <origin xyz="-0.97991 -0.029 1.33208" rpy="0 0 0"/>
      <geometry>
        <box size="0.15 0.0456 0.8536"/>
      </geometry>
      <material name="mat_glass"/>
    </visual>
    <visual name="hinge_continuous_vis">
      <origin xyz="0 0 1.076" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.0096" length="2.114"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="leaf_push_plate_n_vis">
      <origin xyz="-1.114 -0.0518 1.04" rpy="0 0 0"/>
      <geometry>
        <box size="0.1 0.0016 0.4"/>
      </geometry>
      <material name="mat_op_stainless"/>
    </visual>
    <visual name="closer_body_vis">
      <origin xyz="-0.297 -0.007 2.054" rpy="1.570796 0 3.141593"/>
      <geometry>
        <mesh filename="../../hardware/closer_body_b226fdb10b.obj"/>
      </geometry>
      <material name="mat_closer"/>
    </visual>
    <collision name="closer_body_col_col">
      <origin xyz="-0.297 0.033 2.054" rpy="0 0 0"/>
      <geometry>
        <box size="0.24 0.08 0.06"/>
      </geometry>
    </collision>
    <visual name="closer_pinion_shaft_vis">
      <origin xyz="-0.297 0.083 2.1155" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.008" length="0.123"/>
      </geometry>
      <material name="mat_closer"/>
    </visual>
    <visual name="kick_plate_n_vis">
      <origin xyz="-0.6095 -0.0518 0.144" rpy="0 0 0"/>
      <geometry>
        <box size="1.159 0.0016 0.25"/>
      </geometry>
      <material name="mat_kick"/>
    </visual>
    <visual name="armor_plate_vis">
      <origin xyz="-0.6095 -0.0518 0.469" rpy="0 0 0"/>
      <geometry>
        <box size="1.159 0.0016 0.9"/>
      </geometry>
      <material name="mat_kick"/>
    </visual>
    <visual name="bumper_rail_n_vis">
      <origin xyz="-0.6445 -0.061 0.659" rpy="0 0 0"/>
      <geometry>
        <box size="1.049 0.02 0.08"/>
      </geometry>
      <material name="mat_bumper"/>
    </visual>
    <collision name="bumper_rail_n_col">
      <origin xyz="-0.6445 -0.061 0.659" rpy="0 0 0"/>
      <geometry>
        <box size="1.049 0.02 0.08"/>
      </geometry>
    </collision>
    <visual name="bumper_rail_p_vis">
      <origin xyz="-0.6445 0.003 0.659" rpy="0 0 0"/>
      <geometry>
        <box size="1.049 0.02 0.08"/>
      </geometry>
      <material name="mat_bumper"/>
    </visual>
    <collision name="bumper_rail_p_col">
      <origin xyz="-0.6445 0.003 0.659" rpy="0 0 0"/>
      <geometry>
        <box size="1.049 0.02 0.08"/>
      </geometry>
    </collision>
  </link>
  <link name="leaf_latch_bolt">
    <inertial>
      <origin xyz="0.012 0 0" rpy="0 0 0"/>
      <mass value="0.030762"/>
      <inertia ixx="0.000000526" ixy="0" ixz="0" iyy="0.000002949" iyz="0" izz="0.000002949"/>
    </inertial>
    <visual name="leaf_latch_bolt_capsule_vis">
      <origin xyz="0.012 0 0" rpy="0 -1.570796 0"/>
      <geometry>
        <cylinder radius="0.006" length="0.024"/>
      </geometry>
      <material name="mat_bolt"/>
    </visual>
    <collision name="leaf_latch_bolt_capsule_col">
      <origin xyz="0.012 0 0" rpy="0 -1.570796 0"/>
      <geometry>
        <cylinder radius="0.006" length="0.024"/>
      </geometry>
    </collision>
  </link>
  <link name="closer_arm_main">
    <inertial>
      <origin xyz="0.14 0 0" rpy="0 0 0"/>
      <mass value="0.12096"/>
      <inertia ixx="0.000003588" ixy="0" ixz="0" iyy="0.00079128" iyz="0" izz="0.000792852"/>
    </inertial>
    <visual name="closer_arm_main_geom_vis">
      <origin xyz="0.14 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.28 0.016 0.01"/>
      </geometry>
      <material name="mat_closer"/>
    </visual>
  </link>
  <link name="closer_arm_fore">
    <inertial>
      <origin xyz="0.1125 0 0" rpy="0 0 0"/>
      <mass value="0.06804"/>
      <inertia ixx="0.000001474" ixy="0" ixz="0" iyy="0.000287407" iyz="0" izz="0.000288155"/>
    </inertial>
    <visual name="closer_arm_fore_geom_vis">
      <origin xyz="0.1125 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.225 0.014 0.008"/>
      </geometry>
      <material name="mat_closer"/>
    </visual>
  </link>
  <joint name="leaf_hinge" type="revolute">
    <origin xyz="0.61 0.029 0" rpy="0 0 0"/>
    <parent link="world_env"/>
    <child link="leaf"/>
    <axis xyz="0 0 -1"/>
    <limit lower="0" upper="1.570796" effort="2000" velocity="10"/>
    <dynamics damping="10.850995" friction="5.460882"/>
    <doorbench:spring stiffness="17.825354" springref="-2.387049" note="tau = -stiffness*(q - springref); not native URDF"/>
    <doorbench:closer damping_closing="70" damping_opening="10" backcheck_angle="1.31" backcheck_damping="45"/>
  </joint>
  <joint name="leaf_latch_bolt_slide" type="prismatic">
    <origin xyz="-1.219 -0.029 1.04" rpy="0 0 0"/>
    <parent link="leaf"/>
    <child link="leaf_latch_bolt"/>
    <axis xyz="1 0 0"/>
    <limit lower="0" upper="0.006" effort="5000" velocity="10"/>
    <dynamics damping="2" friction="0.3"/>
    <doorbench:spring stiffness="3000" springref="-0.004" note="tau = -stiffness*(q - springref); not native URDF"/>
  </joint>
  <joint name="closer_pinion" type="continuous">
    <origin xyz="-0.297 0.083 2.177" rpy="0 0 1.06234"/>
    <parent link="leaf"/>
    <child link="closer_arm_main"/>
    <axis xyz="0 0 1"/>
    <dynamics damping="0.01" friction="0"/>
  </joint>
  <joint name="closer_elbow" type="continuous">
    <origin xyz="0.28 0 0" rpy="0 0 -2.385665"/>
    <parent link="closer_arm_main"/>
    <child link="closer_arm_fore"/>
    <axis xyz="0 0 1"/>
    <dynamics damping="0.01" friction="0"/>
  </joint>
  <material name="mat_bolt">
    <color rgba="0.75 0.76 0.77 1"/>
  </material>
  <material name="mat_bumper">
    <color rgba="0.92 0.92 0.9 1"/>
  </material>
  <material name="mat_closer">
    <color rgba="0.22 0.17 0.13 1"/>
  </material>
  <material name="mat_floor">
    <color rgba="0.55 0.53 0.5 1"/>
  </material>
  <material name="mat_frame">
    <color rgba="0.45 0.48 0.52 1"/>
  </material>
  <material name="mat_glass">
    <color rgba="0.85 0.92 0.95 0.25"/>
  </material>
  <material name="mat_hinge">
    <color rgba="0.65 0.66 0.68 1"/>
  </material>
  <material name="mat_kick">
    <color rgba="0.75 0.76 0.77 1"/>
  </material>
  <material name="mat_leaf">
    <color rgba="0.82 0.75 0.62 1"/>
  </material>
  <material name="mat_op_stainless">
    <color rgba="0.75 0.76 0.77 1"/>
  </material>
  <material name="mat_seal">
    <color rgba="0.1 0.1 0.1 1"/>
  </material>
  <material name="mat_threshold">
    <color rgba="0.8 0.81 0.83 1"/>
  </material>
  <material name="mat_wall">
    <color rgba="0.78 0.76 0.7 1"/>
  </material>
  <doorbench:loop_closure body1="closer_arm_fore" body2="world" anchor="0.26 0 0" label="Closer forearm pinned to frame shoe"/>
</robot>
