<?xml version="1.0" ?>
<robot xmlns:doorbench="https://github.com/adamraudonis/DoorBench/schema/urdf-ext" name="db0652_sliding_bypass_full">
  <link name="world_env">
    <visual name="floor_vis">
      <origin xyz="0 0 -0.05" rpy="0 0 0"/>
      <geometry>
        <box size="12 12 0.1"/>
      </geometry>
      <material name="mat_floor"/>
    </visual>
    <collision name="floor_col">
      <origin xyz="0 0 -0.05" rpy="0 0 0"/>
      <geometry>
        <box size="12 12 0.1"/>
      </geometry>
    </collision>
    <visual name="wall_left_vis">
      <origin xyz="-1.864 0 1.51" rpy="0 0 0"/>
      <geometry>
        <box size="1.272 0.145 3.02"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_left_col">
      <origin xyz="-1.864 0 1.51" rpy="0 0 0"/>
      <geometry>
        <box size="1.272 0.145 3.02"/>
      </geometry>
    </collision>
    <visual name="wall_right_vis">
      <origin xyz="1.894 0 1.51" rpy="0 0 0"/>
      <geometry>
        <box size="1.212 0.145 3.02"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_right_col">
      <origin xyz="1.894 0 1.51" rpy="0 0 0"/>
      <geometry>
        <box size="1.212 0.145 3.02"/>
      </geometry>
    </collision>
    <visual name="wall_header_vis">
      <origin xyz="0.03 0 2.7295" rpy="0 0 0"/>
      <geometry>
        <box size="2.516 0.145 0.581"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_header_col">
      <origin xyz="0.03 0 2.7295" rpy="0 0 0"/>
      <geometry>
        <box size="2.516 0.145 0.581"/>
      </geometry>
    </collision>
    <visual name="jamb_l_vis">
      <origin xyz="-1.2185 0 1.21" rpy="0 0 0"/>
      <geometry>
        <box size="0.019 0.145 2.42"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_l_col">
      <origin xyz="-1.2185 0 1.21" rpy="0 0 0"/>
      <geometry>
        <box size="0.019 0.145 2.42"/>
      </geometry>
    </collision>
    <visual name="jamb_head_vis">
      <origin xyz="0 0 2.4295" rpy="0 0 0"/>
      <geometry>
        <box size="2.456 0.145 0.019"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_head_col">
      <origin xyz="0 0 2.4295" rpy="0 0 0"/>
      <geometry>
        <box size="2.456 0.145 0.019"/>
      </geometry>
    </collision>
    <visual name="track_header_vis">
      <origin xyz="0 0 2.479" rpy="0 0 0"/>
      <geometry>
        <box size="3.737 0.08 0.08"/>
      </geometry>
      <material name="mat_track"/>
    </visual>
    <collision name="track_header_col">
      <origin xyz="0 0 2.479" rpy="0 0 0"/>
      <geometry>
        <box size="3.737 0.08 0.08"/>
      </geometry>
    </collision>
    <visual name="jamb_latch_0_vis">
      <origin xyz="1.2485 0 1.21" rpy="0 0 0"/>
      <geometry>
        <box size="0.079 0.145 2.42"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_latch_0_col">
      <origin xyz="1.2485 0 1.21" rpy="0 0 0"/>
      <geometry>
        <box size="0.079 0.145 2.42"/>
      </geometry>
    </collision>
  </link>
  <link name="leaf_0">
    <inertial>
      <origin xyz="-0.000075 -0.000003 1.21197" rpy="0 0 0"/>
      <mass value="21.072904"/>
      <inertia ixx="10.115830309" ixy="-0.000028283" ixz="-0.000333108" iyy="12.723580307" iyz="-0.000011542" izz="2.612053725"/>
    </inertial>
    <visual name="leaf_0_slab_vis">
      <origin xyz="0 0 1.212" rpy="0 0 0"/>
      <geometry>
        <box size="1.219 0.035 2.4"/>
      </geometry>
      <material name="mat_leaf_0"/>
    </visual>
    <collision name="leaf_0_slab_col">
      <origin xyz="0 0 1.212" rpy="0 0 0"/>
      <geometry>
        <box size="1.219 0.035 2.4"/>
      </geometry>
    </collision>
    <visual name="leaf_0_pull_n_vis">
      <origin xyz="-0.5195 -0.018 1" rpy="0 0 0"/>
      <geometry>
        <box size="0.055 0.001 0.055"/>
      </geometry>
      <material name="mat_op_nickel_satin"/>
    </visual>
  </link>
  <link name="leaf_1">
    <inertial>
      <origin xyz="0.000075 -0.000003 1.21197" rpy="0 0 0"/>
      <mass value="21.072904"/>
      <inertia ixx="10.115830309" ixy="0.000028283" ixz="0.000333108" iyy="12.723580307" iyz="-0.000011542" izz="2.612053725"/>
    </inertial>
    <visual name="leaf_1_slab_vis">
      <origin xyz="0 0 1.212" rpy="0 0 0"/>
      <geometry>
        <box size="1.219 0.035 2.4"/>
      </geometry>
      <material name="mat_leaf_1"/>
    </visual>
    <collision name="leaf_1_slab_col">
      <origin xyz="0 0 1.212" rpy="0 0 0"/>
      <geometry>
        <box size="1.219 0.035 2.4"/>
      </geometry>
    </collision>
    <visual name="leaf_1_pull_n_vis">
      <origin xyz="0.5195 -0.018 1" rpy="0 0 0"/>
      <geometry>
        <box size="0.055 0.001 0.055"/>
      </geometry>
      <material name="mat_op_nickel_satin"/>
    </visual>
  </link>
  <joint name="leaf_0_slide" type="prismatic">
    <origin xyz="-0.5995 -0.0215 0" rpy="0 0 0"/>
    <parent link="world_env"/>
    <child link="leaf_0"/>
    <axis xyz="1 0 0"/>
    <limit lower="0" upper="1.189" effort="5000" velocity="10"/>
    <dynamics damping="3.055994" friction="24.853831"/>
  </joint>
  <joint name="leaf_1_slide" type="prismatic">
    <origin xyz="0.5895 0.0215 0" rpy="0 0 0"/>
    <parent link="world_env"/>
    <child link="leaf_1"/>
    <axis xyz="-1 0 0"/>
    <limit lower="0" upper="1.189" effort="5000" velocity="10"/>
    <dynamics damping="3.055994" friction="24.853831"/>
  </joint>
  <material name="mat_floor">
    <color rgba="0.55 0.53 0.5 1"/>
  </material>
  <material name="mat_frame">
    <color rgba="0.82 0.7 0.5 1"/>
  </material>
  <material name="mat_leaf_0">
    <color rgba="0.7 0.88 0.78 1"/>
  </material>
  <material name="mat_leaf_1">
    <color rgba="0.7 0.88 0.78 1"/>
  </material>
  <material name="mat_op_nickel_satin">
    <color rgba="0.72 0.7 0.66 1"/>
  </material>
  <material name="mat_track">
    <color rgba="0.8 0.81 0.83 1"/>
  </material>
  <material name="mat_wall">
    <color rgba="0.78 0.76 0.7 1"/>
  </material>
</robot>
