<?xml version="1.0" ?>
<robot xmlns:doorbench="https://github.com/adamraudonis/DoorBench/schema/urdf-ext" name="db0453_sliding_single_full">
  <link name="world_env">
    <visual name="floor_vis">
      <origin xyz="0 0 -0.05" rpy="0 0 0"/>
      <geometry>
        <box size="12 12 0.1"/>
      </geometry>
      <material name="mat_floor"/>
    </visual>
    <collision name="floor_col">
      <origin xyz="0 0 -0.05" rpy="0 0 0"/>
      <geometry>
        <box size="12 12 0.1"/>
      </geometry>
    </collision>
    <visual name="wall_left_vis">
      <origin xyz="-1.61225 0 1.529" rpy="0 0 0"/>
      <geometry>
        <box size="1.7755 0.145 3.058"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_left_col">
      <origin xyz="-1.61225 0 1.529" rpy="0 0 0"/>
      <geometry>
        <box size="1.7755 0.145 3.058"/>
      </geometry>
    </collision>
    <visual name="wall_right_vis">
      <origin xyz="1.58225 0 1.529" rpy="0 0 0"/>
      <geometry>
        <box size="1.8355 0.145 3.058"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_right_col">
      <origin xyz="1.58225 0 1.529" rpy="0 0 0"/>
      <geometry>
        <box size="1.8355 0.145 3.058"/>
      </geometry>
    </collision>
    <visual name="wall_header_vis">
      <origin xyz="-0.03 0 2.7805" rpy="0 0 0"/>
      <geometry>
        <box size="1.389 0.145 0.555"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_header_col">
      <origin xyz="-0.03 0 2.7805" rpy="0 0 0"/>
      <geometry>
        <box size="1.389 0.145 0.555"/>
      </geometry>
    </collision>
    <visual name="jamb_r_vis">
      <origin xyz="0.642 0 1.229" rpy="0 0 0"/>
      <geometry>
        <box size="0.045 0.145 2.458"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_r_col">
      <origin xyz="0.642 0 1.229" rpy="0 0 0"/>
      <geometry>
        <box size="0.045 0.145 2.458"/>
      </geometry>
    </collision>
    <visual name="jamb_head_vis">
      <origin xyz="0 0 2.4805" rpy="0 0 0"/>
      <geometry>
        <box size="1.329 0.145 0.045"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_head_col">
      <origin xyz="0 0 2.4805" rpy="0 0 0"/>
      <geometry>
        <box size="1.329 0.145 0.045"/>
      </geometry>
    </collision>
    <visual name="track_header_vis">
      <origin xyz="0 0 2.543" rpy="0 0 0"/>
      <geometry>
        <box size="2.558 0.08 0.08"/>
      </geometry>
      <material name="mat_track"/>
    </visual>
    <collision name="track_header_col">
      <origin xyz="0 0 2.543" rpy="0 0 0"/>
      <geometry>
        <box size="2.558 0.08 0.08"/>
      </geometry>
    </collision>
    <visual name="jamb_latch_0_vis">
      <origin xyz="-0.672 0 1.229" rpy="0 0 0"/>
      <geometry>
        <box size="0.105 0.145 2.458"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_latch_0_col">
      <origin xyz="-0.672 0 1.229" rpy="0 0 0"/>
      <geometry>
        <box size="0.105 0.145 2.458"/>
      </geometry>
    </collision>
  </link>
  <link name="leaf">
    <inertial>
      <origin xyz="-0.002631 -0.000343 1.230313" rpy="0 0 0"/>
      <mass value="92.066083"/>
      <inertia ixx="45.397684724" ixy="-0.015730917" ixz="-0.055786064" iyy="56.847914224" iyz="-0.006298256" izz="11.468325141"/>
    </inertial>
    <visual name="leaf_slab_vis">
      <origin xyz="0 0 1.231" rpy="0 0 0"/>
      <geometry>
        <box size="1.219 0.03 2.438"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <collision name="leaf_slab_col">
      <origin xyz="0 0 1.231" rpy="0 0 0"/>
      <geometry>
        <box size="1.219 0.03 2.438"/>
      </geometry>
    </collision>
    <visual name="leaf_pull_n_vis">
      <origin xyz="-0.5195 -0.015 1" rpy="-1.570796 0 3.141593"/>
      <geometry>
        <mesh filename="../../hardware/pull_1e5d69a91a.obj"/>
      </geometry>
      <material name="mat_op_stainless"/>
    </visual>
    <collision name="leaf_pull_col_n_col">
      <origin xyz="-0.5195 -0.075 1" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.0095" length="0.16"/>
      </geometry>
    </collision>
    <visual name="warning_placard_vis">
      <origin xyz="0 -0.016 1.8405" rpy="0 0 0"/>
      <geometry>
        <box size="0.22 0.002 0.16"/>
      </geometry>
      <material name="mat_placard"/>
    </visual>
  </link>
  <joint name="leaf_slide" type="prismatic">
    <origin xyz="0 -0.1075 0" rpy="0 0 0"/>
    <parent link="world_env"/>
    <child link="leaf"/>
    <axis xyz="1 0 0"/>
    <limit lower="0" upper="1.219" effort="5000" velocity="10"/>
    <dynamics damping="6.603304" friction="70.423069"/>
  </joint>
  <material name="mat_floor">
    <color rgba="0.55 0.53 0.5 1"/>
  </material>
  <material name="mat_frame">
    <color rgba="0.55 0.56 0.58 1"/>
  </material>
  <material name="mat_leaf">
    <color rgba="0.5 0.51 0.53 1"/>
  </material>
  <material name="mat_op_stainless">
    <color rgba="0.75 0.76 0.77 1"/>
  </material>
  <material name="mat_placard">
    <color rgba="0.95 0.75 0.05 1"/>
  </material>
  <material name="mat_track">
    <color rgba="0.8 0.81 0.83 1"/>
  </material>
  <material name="mat_wall">
    <color rgba="0.78 0.76 0.7 1"/>
  </material>
</robot>
