<?xml version="1.0" ?>
<robot xmlns:doorbench="https://github.com/adamraudonis/DoorBench/schema/urdf-ext" name="db0104_garage_tiltup_minimal">
  <link name="world_env">
    <visual name="floor_vis">
      <origin xyz="0 0 -0.05" rpy="0 0 0"/>
      <geometry>
        <box size="12 12 0.1"/>
      </geometry>
      <material name="mat_floor"/>
    </visual>
    <collision name="floor_col">
      <origin xyz="0 0 -0.05" rpy="0 0 0"/>
      <geometry>
        <box size="12 12 0.1"/>
      </geometry>
    </collision>
    <visual name="wall_left_vis">
      <origin xyz="-2.1975 0 1.69" rpy="0 0 0"/>
      <geometry>
        <box size="1.605 0.2 3.38"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_left_col">
      <origin xyz="-2.1975 0 1.69" rpy="0 0 0"/>
      <geometry>
        <box size="1.605 0.2 3.38"/>
      </geometry>
    </collision>
    <visual name="wall_right_vis">
      <origin xyz="2.1975 0 1.69" rpy="0 0 0"/>
      <geometry>
        <box size="1.605 0.2 3.38"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_right_col">
      <origin xyz="2.1975 0 1.69" rpy="0 0 0"/>
      <geometry>
        <box size="1.605 0.2 3.38"/>
      </geometry>
    </collision>
    <visual name="wall_header_vis">
      <origin xyz="0 0 2.78" rpy="0 0 0"/>
      <geometry>
        <box size="2.79 0.2 1.2"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_header_col">
      <origin xyz="0 0 2.78" rpy="0 0 0"/>
      <geometry>
        <box size="2.79 0.2 1.2"/>
      </geometry>
    </collision>
    <visual name="jamb_l_vis">
      <origin xyz="-1.425 0 1.09" rpy="0 0 0"/>
      <geometry>
        <box size="0.06 0.2 2.18"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_l_col">
      <origin xyz="-1.425 0 1.09" rpy="0 0 0"/>
      <geometry>
        <box size="0.06 0.2 2.18"/>
      </geometry>
    </collision>
    <visual name="jamb_r_vis">
      <origin xyz="1.425 0 1.09" rpy="0 0 0"/>
      <geometry>
        <box size="0.06 0.2 2.18"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_r_col">
      <origin xyz="1.425 0 1.09" rpy="0 0 0"/>
      <geometry>
        <box size="0.06 0.2 2.18"/>
      </geometry>
    </collision>
  </link>
  <link name="door">
    <inertial>
      <origin xyz="0 0 0.01" rpy="0 0 0"/>
      <mass value="64.617232"/>
      <inertia ixx="24.441064218" ixy="0" ixz="0" iyy="64.856854426" iyz="0" izz="40.437598524"/>
    </inertial>
    <visual name="door_slab_vis">
      <origin xyz="0 0 0.01" rpy="0 0 0"/>
      <geometry>
        <box size="2.74 0.045 2.13"/>
      </geometry>
      <material name="mat_door"/>
    </visual>
    <collision name="door_slab_col">
      <origin xyz="0 0 0.01" rpy="0 0 0"/>
      <geometry>
        <box size="2.74 0.045 2.13"/>
      </geometry>
    </collision>
  </link>
  <link name="t_handle">
    <inertial>
      <origin xyz="0 -0.051615 0" rpy="0 0 0"/>
      <mass value="0.254469"/>
      <inertia ixx="0.000075558" ixy="0" ixz="0" iyy="0.000207252" iyz="0" izz="0.000256627"/>
    </inertial>
    <visual name="t_handle_t_n_vis">
      <origin xyz="0 -0.0225 0" rpy="1.570796 0 0"/>
      <geometry>
        <mesh filename="../../hardware/lever_01c630149d.obj"/>
      </geometry>
      <material name="mat_op_black_matte_metal"/>
    </visual>
    <collision name="t_handle_t_col_n_col">
      <origin xyz="0 -0.0625 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.11 0.016 0.016"/>
      </geometry>
    </collision>
  </link>
  <joint name="door_hinge" type="revolute">
    <origin xyz="0 0 1.065" rpy="0 0 0"/>
    <parent link="world_env"/>
    <child link="door"/>
    <axis xyz="-1 0 0"/>
    <limit lower="0" upper="1.53589" effort="2000" velocity="10"/>
    <dynamics damping="14.492277" friction="4.798206"/>
  </joint>
  <joint name="t_handle_hinge" type="revolute">
    <origin xyz="0 0 -0.165" rpy="0 0 0"/>
    <parent link="door"/>
    <child link="t_handle"/>
    <axis xyz="0 -1 0"/>
    <limit lower="0" upper="1.5708" effort="2000" velocity="10"/>
    <dynamics damping="0.02" friction="0.028"/>
    <doorbench:spring stiffness="0.4" springref="-0.75" note="tau = -stiffness*(q - springref); not native URDF"/>
  </joint>
  <material name="mat_door">
    <color rgba="0.5 0.51 0.53 1"/>
  </material>
  <material name="mat_floor">
    <color rgba="0.55 0.53 0.5 1"/>
  </material>
  <material name="mat_frame">
    <color rgba="0.82 0.7 0.5 1"/>
  </material>
  <material name="mat_op_black_matte_metal">
    <color rgba="0.05 0.05 0.05 1"/>
  </material>
  <material name="mat_wall">
    <color rgba="0.78 0.76 0.7 1"/>
  </material>
</robot>
