<?xml version="1.0" ?>
<robot xmlns:doorbench="https://github.com/adamraudonis/DoorBench/schema/urdf-ext" name="db0735_sliding_single_simple">
  <link name="world_env">
    <visual name="floor_vis">
      <origin xyz="0 0 -0.05" rpy="0 0 0"/>
      <geometry>
        <box size="12 12 0.1"/>
      </geometry>
      <material name="mat_floor"/>
    </visual>
    <collision name="floor_col">
      <origin xyz="0 0 -0.05" rpy="0 0 0"/>
      <geometry>
        <box size="12 12 0.1"/>
      </geometry>
    </collision>
    <visual name="wall_left_vis">
      <origin xyz="-1.493 0 1.377" rpy="0 0 0"/>
      <geometry>
        <box size="2.014 0.145 2.754"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_left_col">
      <origin xyz="-1.493 0 1.377" rpy="0 0 0"/>
      <geometry>
        <box size="2.014 0.145 2.754"/>
      </geometry>
    </collision>
    <visual name="wall_right_vis">
      <origin xyz="1.523 0 1.377" rpy="0 0 0"/>
      <geometry>
        <box size="1.954 0.145 2.754"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_right_col">
      <origin xyz="1.523 0 1.377" rpy="0 0 0"/>
      <geometry>
        <box size="1.954 0.145 2.754"/>
      </geometry>
    </collision>
    <visual name="wall_header_vis">
      <origin xyz="0.03 0 2.4635" rpy="0 0 0"/>
      <geometry>
        <box size="1.032 0.145 0.581"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_header_col">
      <origin xyz="0.03 0 2.4635" rpy="0 0 0"/>
      <geometry>
        <box size="1.032 0.145 0.581"/>
      </geometry>
    </collision>
    <visual name="jamb_l_vis">
      <origin xyz="-0.4765 0 1.077" rpy="0 0 0"/>
      <geometry>
        <box size="0.019 0.145 2.154"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_l_col">
      <origin xyz="-0.4765 0 1.077" rpy="0 0 0"/>
      <geometry>
        <box size="0.019 0.145 2.154"/>
      </geometry>
    </collision>
    <visual name="jamb_head_vis">
      <origin xyz="0 0 2.1635" rpy="0 0 0"/>
      <geometry>
        <box size="0.972 0.145 0.019"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_head_col">
      <origin xyz="0 0 2.1635" rpy="0 0 0"/>
      <geometry>
        <box size="0.972 0.145 0.019"/>
      </geometry>
    </collision>
    <visual name="flat_track_vis">
      <origin xyz="-0.457 -0.0945 2.274" rpy="0 0 0"/>
      <geometry>
        <box size="1.928 0.008 0.04"/>
      </geometry>
      <material name="mat_track"/>
    </visual>
    <collision name="flat_track_col">
      <origin xyz="-0.457 -0.0945 2.274" rpy="0 0 0"/>
      <geometry>
        <box size="1.928 0.008 0.04"/>
      </geometry>
    </collision>
    <visual name="leaf_track_stop_l_vis">
      <origin xyz="-1.313 -0.0945 2.319" rpy="0 0 0"/>
      <geometry>
        <box size="0.024 0.032 0.054"/>
      </geometry>
      <material name="mat_track"/>
    </visual>
    <collision name="leaf_track_stop_l_col">
      <origin xyz="-1.313 -0.0945 2.319" rpy="0 0 0"/>
      <geometry>
        <box size="0.024 0.032 0.054"/>
      </geometry>
    </collision>
    <visual name="leaf_track_stop_r_vis">
      <origin xyz="0.399 -0.0945 2.319" rpy="0 0 0"/>
      <geometry>
        <box size="0.024 0.032 0.054"/>
      </geometry>
      <material name="mat_track"/>
    </visual>
    <collision name="leaf_track_stop_r_col">
      <origin xyz="0.399 -0.0945 2.319" rpy="0 0 0"/>
      <geometry>
        <box size="0.024 0.032 0.054"/>
      </geometry>
    </collision>
    <visual name="leaf_teardrop_keeper_post_vis">
      <origin xyz="0.462 -0.1465 1.466" rpy="0 0 0"/>
      <geometry>
        <box size="0.01 0.012 0.036"/>
      </geometry>
      <material name="mat_teardrop"/>
    </visual>
    <collision name="leaf_teardrop_keeper_post_col">
      <origin xyz="0.462 -0.1465 1.466" rpy="0 0 0"/>
      <geometry>
        <box size="0.01 0.012 0.036"/>
      </geometry>
    </collision>
    <visual name="jamb_latch_0_vis">
      <origin xyz="0.5065 0 1.077" rpy="0 0 0"/>
      <geometry>
        <box size="0.079 0.145 2.154"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_latch_0_col">
      <origin xyz="0.5065 0 1.077" rpy="0 0 0"/>
      <geometry>
        <box size="0.079 0.145 2.154"/>
      </geometry>
    </collision>
    <visual name="floor_guide_n_vis">
      <origin xyz="-0.457 -0.1415 0.009" rpy="0 0 0"/>
      <geometry>
        <box size="0.056 0.008 0.018"/>
      </geometry>
      <material name="mat_track"/>
    </visual>
    <collision name="floor_guide_n_col">
      <origin xyz="-0.457 -0.1415 0.009" rpy="0 0 0"/>
      <geometry>
        <box size="0.056 0.008 0.018"/>
      </geometry>
    </collision>
    <visual name="floor_guide_n_foot_vis">
      <origin xyz="-0.457 -0.1555 0.002" rpy="0 0 0"/>
      <geometry>
        <box size="0.056 0.036 0.004"/>
      </geometry>
      <material name="mat_track"/>
    </visual>
    <collision name="floor_guide_n_foot_col">
      <origin xyz="-0.457 -0.1555 0.002" rpy="0 0 0"/>
      <geometry>
        <box size="0.056 0.036 0.004"/>
      </geometry>
    </collision>
    <visual name="floor_guide_p_vis">
      <origin xyz="-0.457 -0.0875 0.009" rpy="0 0 0"/>
      <geometry>
        <box size="0.056 0.008 0.018"/>
      </geometry>
      <material name="mat_track"/>
    </visual>
    <collision name="floor_guide_p_col">
      <origin xyz="-0.457 -0.0875 0.009" rpy="0 0 0"/>
      <geometry>
        <box size="0.056 0.008 0.018"/>
      </geometry>
    </collision>
    <visual name="floor_guide_p_foot_vis">
      <origin xyz="-0.457 -0.0735 0.002" rpy="0 0 0"/>
      <geometry>
        <box size="0.056 0.036 0.004"/>
      </geometry>
      <material name="mat_track"/>
    </visual>
    <collision name="floor_guide_p_foot_col">
      <origin xyz="-0.457 -0.0735 0.002" rpy="0 0 0"/>
      <geometry>
        <box size="0.056 0.036 0.004"/>
      </geometry>
    </collision>
    <visual name="leaf_teardrop_keeper_base_arm_vis">
      <origin xyz="0.462 -0.1125 1.47" rpy="0 0 0"/>
      <geometry>
        <box size="0.01 0.081 0.032"/>
      </geometry>
      <material name="mat_hook"/>
    </visual>
  </link>
  <link name="leaf">
    <inertial>
      <origin xyz="0.002802 0.000095 1.155679" rpy="0 0 0"/>
      <mass value="60.852224"/>
      <inertia ixx="26.763522789" ixy="0.010099722" ixz="0.018021238" iyy="31.189955196" iyz="-0.046418073" izz="4.451077631"/>
    </inertial>
    <visual name="leaf_slab_vis">
      <origin xyz="0 0 1.079" rpy="0 0 0"/>
      <geometry>
        <box size="0.914 0.044 2.134"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <collision name="leaf_slab_col">
      <origin xyz="0 0 1.079" rpy="0 0 0"/>
      <geometry>
        <box size="0.914 0.044 2.134"/>
      </geometry>
    </collision>
    <visual name="leaf_batten_13_vis">
      <origin xyz="0 -0.032 0.132" rpy="0 0 0"/>
      <geometry>
        <box size="0.854 0.02 0.09"/>
      </geometry>
      <material name="mat_leaf_brace"/>
    </visual>
    <visual name="leaf_batten_202_vis">
      <origin xyz="0 -0.032 2.026" rpy="0 0 0"/>
      <geometry>
        <box size="0.854 0.02 0.09"/>
      </geometry>
      <material name="mat_leaf_brace"/>
    </visual>
    <visual name="leaf_batten_107_vis">
      <origin xyz="0 -0.032 1.079" rpy="0 0 0"/>
      <geometry>
        <box size="0.854 0.02 0.09"/>
      </geometry>
      <material name="mat_leaf_brace"/>
    </visual>
    <visual name="leaf_hanger_wheel_0_vis">
      <origin xyz="-0.337 0.02 2.344" rpy="-1.570796 0 0"/>
      <geometry>
        <cylinder radius="0.05" length="0.02"/>
      </geometry>
      <material name="mat_roller"/>
    </visual>
    <visual name="leaf_hanger_mount_0_vis">
      <origin xyz="-0.337 -0.026 2.0985" rpy="0 0 0"/>
      <geometry>
        <box size="0.036 0.008 0.145"/>
      </geometry>
      <material name="mat_roller"/>
    </visual>
    <visual name="leaf_hanger_strap_0_vis">
      <origin xyz="-0.337 0.006 2.2635" rpy="0 0 0"/>
      <geometry>
        <box size="0.036 0.008 0.185"/>
      </geometry>
      <material name="mat_roller"/>
    </visual>
    <visual name="leaf_hanger_bend_0_vis">
      <origin xyz="-0.337 -0.01 2.171" rpy="0 0 0"/>
      <geometry>
        <box size="0.036 0.04 0.008"/>
      </geometry>
      <material name="mat_roller"/>
    </visual>
    <visual name="leaf_hanger_wheel_1_vis">
      <origin xyz="0.337 0.02 2.344" rpy="-1.570796 0 0"/>
      <geometry>
        <cylinder radius="0.05" length="0.02"/>
      </geometry>
      <material name="mat_roller"/>
    </visual>
    <visual name="leaf_hanger_mount_1_vis">
      <origin xyz="0.337 -0.026 2.0985" rpy="0 0 0"/>
      <geometry>
        <box size="0.036 0.008 0.145"/>
      </geometry>
      <material name="mat_roller"/>
    </visual>
    <visual name="leaf_hanger_strap_1_vis">
      <origin xyz="0.337 0.006 2.2635" rpy="0 0 0"/>
      <geometry>
        <box size="0.036 0.008 0.185"/>
      </geometry>
      <material name="mat_roller"/>
    </visual>
    <visual name="leaf_hanger_bend_1_vis">
      <origin xyz="0.337 -0.01 2.171" rpy="0 0 0"/>
      <geometry>
        <box size="0.036 0.04 0.008"/>
      </geometry>
      <material name="mat_roller"/>
    </visual>
    <visual name="leaf_pull_n_vis">
      <origin xyz="0.367 -0.022 1.05" rpy="1.570796 0 0"/>
      <geometry>
        <mesh filename="../../hardware/pull_2b47e55ff8.obj"/>
      </geometry>
      <material name="mat_op_black_matte_metal"/>
    </visual>
    <collision name="leaf_pull_col_n_col">
      <origin xyz="0.367 -0.067 1.05" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.006" length="0.26"/>
      </geometry>
    </collision>
  </link>
  <link name="leaf_teardrop">
    <inertial>
      <origin xyz="0.043422 0.00123 -0.01162" rpy="0 0 0"/>
      <mass value="0.122437"/>
      <inertia ixx="0.000032787" ixy="0.000006537" ixz="0.000037813" iyy="0.000156453" iyz="-0.000001749" izz="0.000127212"/>
    </inertial>
    <visual name="leaf_teardrop_top_vis">
      <origin xyz="0.04 0 -0.005" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.008 0.012"/>
      </geometry>
      <material name="mat_teardrop"/>
    </visual>
    <collision name="leaf_teardrop_top_col">
      <origin xyz="0.04 0 -0.005" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.008 0.012"/>
      </geometry>
    </collision>
    <visual name="leaf_teardrop_end_vis">
      <origin xyz="0.078 0 -0.03" rpy="0 0 0"/>
      <geometry>
        <box size="0.01 0.008 0.06"/>
      </geometry>
      <material name="mat_teardrop"/>
    </visual>
    <collision name="leaf_teardrop_end_col">
      <origin xyz="0.078 0 -0.03" rpy="0 0 0"/>
      <geometry>
        <box size="0.01 0.008 0.06"/>
      </geometry>
    </collision>
    <visual name="leaf_teardrop_boss_vis">
      <origin xyz="0 0.006 0" rpy="-1.570796 0 0"/>
      <geometry>
        <cylinder radius="0.008" length="0.016"/>
      </geometry>
      <material name="mat_teardrop"/>
    </visual>
  </link>
  <joint name="leaf_slide" type="prismatic">
    <origin xyz="0 -0.1145 0" rpy="0 0 0"/>
    <parent link="world_env"/>
    <child link="leaf"/>
    <axis xyz="-1 0 0"/>
    <limit lower="0" upper="0.914" effort="5000" velocity="10"/>
    <dynamics damping="5.048733" friction="23.918286"/>
  </joint>
  <joint name="leaf_teardrop_hinge" type="revolute">
    <origin xyz="0.397 -0.032 1.5" rpy="0 0 0"/>
    <parent link="leaf"/>
    <child link="leaf_teardrop"/>
    <axis xyz="0 -1 0"/>
    <limit lower="0" upper="1.4" effort="2000" velocity="10"/>
    <dynamics damping="0.005199" friction="0.004386"/>
  </joint>
  <material name="mat_floor">
    <color rgba="0.55 0.53 0.5 1"/>
  </material>
  <material name="mat_frame">
    <color rgba="0.82 0.7 0.5 1"/>
  </material>
  <material name="mat_hook">
    <color rgba="0.75 0.76 0.77 1"/>
  </material>
  <material name="mat_leaf">
    <color rgba="0.62 0.45 0.3 1"/>
  </material>
  <material name="mat_leaf_brace">
    <color rgba="0.558 0.405 0.27 1"/>
  </material>
  <material name="mat_op_black_matte_metal">
    <color rgba="0.05 0.05 0.05 1"/>
  </material>
  <material name="mat_roller">
    <color rgba="0.65 0.66 0.68 1"/>
  </material>
  <material name="mat_teardrop">
    <color rgba="0.05 0.05 0.05 1"/>
  </material>
  <material name="mat_track">
    <color rgba="0.05 0.05 0.05 1"/>
  </material>
  <material name="mat_wall">
    <color rgba="0.78 0.76 0.7 1"/>
  </material>
</robot>
