<?xml version="1.0" ?>
<robot xmlns:doorbench="https://github.com/adamraudonis/DoorBench/schema/urdf-ext" name="db0613_gate_sliding_simple">
  <link name="world_env">
    <visual name="floor_vis">
      <origin xyz="0 0 -0.05" rpy="0 0 0"/>
      <geometry>
        <box size="12 12 0.1"/>
      </geometry>
      <material name="mat_floor"/>
    </visual>
    <collision name="floor_col">
      <origin xyz="0 0 -0.05" rpy="0 0 0"/>
      <geometry>
        <box size="12 12 0.1"/>
      </geometry>
    </collision>
    <visual name="post_l_vis">
      <origin xyz="-1.885 0.08 1.05" rpy="0 0 0"/>
      <geometry>
        <box size="0.12 0.12 2.1"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="post_l_col">
      <origin xyz="-1.885 0.08 1.05" rpy="0 0 0"/>
      <geometry>
        <box size="0.12 0.12 2.1"/>
      </geometry>
    </collision>
    <visual name="post_r_vis">
      <origin xyz="1.885 0.08 1.05" rpy="0 0 0"/>
      <geometry>
        <box size="0.12 0.12 2.1"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="post_r_col">
      <origin xyz="1.885 0.08 1.05" rpy="0 0 0"/>
      <geometry>
        <box size="0.12 0.12 2.1"/>
      </geometry>
    </collision>
    <visual name="gate_rail_vis">
      <origin xyz="-1.8 -0.06 0.012" rpy="0 0 0"/>
      <geometry>
        <box size="7.3 0.04 0.024"/>
      </geometry>
      <material name="mat_track"/>
    </visual>
    <collision name="gate_rail_col">
      <origin xyz="-1.8 -0.06 0.012" rpy="0 0 0"/>
      <geometry>
        <box size="7.3 0.04 0.024"/>
      </geometry>
    </collision>
  </link>
  <link name="leaf">
    <inertial>
      <origin xyz="0.004211 -0.000155 0.980053" rpy="0 0 0"/>
      <mass value="182.588"/>
      <inertia ixx="49.194103637" ixy="0.04815838" ixz="-0.015336606" iyy="247.21000093" iyz="0.000563137" izz="198.038767204"/>
    </inertial>
    <collision name="leaf_slab_col_col">
      <origin xyz="0 0 0.98" rpy="0 0 0"/>
      <geometry>
        <box size="3.6 0.025 1.8"/>
      </geometry>
    </collision>
    <visual name="leaf_rail_b_vis">
      <origin xyz="0 0 0.1025" rpy="0 0 0"/>
      <geometry>
        <box size="3.6 0.025 0.045"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <visual name="leaf_rail_t_vis">
      <origin xyz="0 0 1.8575" rpy="0 0 0"/>
      <geometry>
        <box size="3.6 0.025 0.045"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <visual name="leaf_stile_h_vis">
      <origin xyz="-1.7775 0 0.98" rpy="0 0 0"/>
      <geometry>
        <box size="0.045 0.025 1.8"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <visual name="leaf_stile_l_vis">
      <origin xyz="1.7775 0 0.98" rpy="0 0 0"/>
      <geometry>
        <box size="0.045 0.025 1.8"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <visual name="leaf_picket_0_vis">
      <origin xyz="-1.698387 0 1" rpy="0 0 0"/>
      <geometry>
        <box size="0.04 0.0175 1.773"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <visual name="leaf_picket_1_vis">
      <origin xyz="-1.585161 0 1" rpy="0 0 0"/>
      <geometry>
        <box size="0.04 0.0175 1.773"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <visual name="leaf_picket_2_vis">
      <origin xyz="-1.471935 0 1" rpy="0 0 0"/>
      <geometry>
        <box size="0.04 0.0175 1.773"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <visual name="leaf_picket_3_vis">
      <origin xyz="-1.35871 0 1" rpy="0 0 0"/>
      <geometry>
        <box size="0.04 0.0175 1.773"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <visual name="leaf_picket_4_vis">
      <origin xyz="-1.245484 0 1" rpy="0 0 0"/>
      <geometry>
        <box size="0.04 0.0175 1.773"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <visual name="leaf_picket_5_vis">
      <origin xyz="-1.132258 0 1" rpy="0 0 0"/>
      <geometry>
        <box size="0.04 0.0175 1.773"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <visual name="leaf_picket_6_vis">
      <origin xyz="-1.019032 0 1" rpy="0 0 0"/>
      <geometry>
        <box size="0.04 0.0175 1.773"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <visual name="leaf_picket_7_vis">
      <origin xyz="-0.905806 0 1" rpy="0 0 0"/>
      <geometry>
        <box size="0.04 0.0175 1.773"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <visual name="leaf_picket_8_vis">
      <origin xyz="-0.792581 0 1" rpy="0 0 0"/>
      <geometry>
        <box size="0.04 0.0175 1.773"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <visual name="leaf_picket_9_vis">
      <origin xyz="-0.679355 0 1" rpy="0 0 0"/>
      <geometry>
        <box size="0.04 0.0175 1.773"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <visual name="leaf_picket_10_vis">
      <origin xyz="-0.566129 0 1" rpy="0 0 0"/>
      <geometry>
        <box size="0.04 0.0175 1.773"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <visual name="leaf_picket_11_vis">
      <origin xyz="-0.452903 0 1" rpy="0 0 0"/>
      <geometry>
        <box size="0.04 0.0175 1.773"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <visual name="leaf_picket_12_vis">
      <origin xyz="-0.339677 0 1" rpy="0 0 0"/>
      <geometry>
        <box size="0.04 0.0175 1.773"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <visual name="leaf_picket_13_vis">
      <origin xyz="-0.226452 0 1" rpy="0 0 0"/>
      <geometry>
        <box size="0.04 0.0175 1.773"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <visual name="leaf_picket_14_vis">
      <origin xyz="-0.113226 0 1" rpy="0 0 0"/>
      <geometry>
        <box size="0.04 0.0175 1.773"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <visual name="leaf_picket_15_vis">
      <origin xyz="0 0 1" rpy="0 0 0"/>
      <geometry>
        <box size="0.04 0.0175 1.773"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <visual name="leaf_picket_16_vis">
      <origin xyz="0.113226 0 1" rpy="0 0 0"/>
      <geometry>
        <box size="0.04 0.0175 1.773"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <visual name="leaf_picket_17_vis">
      <origin xyz="0.226452 0 1" rpy="0 0 0"/>
      <geometry>
        <box size="0.04 0.0175 1.773"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <visual name="leaf_picket_18_vis">
      <origin xyz="0.339677 0 1" rpy="0 0 0"/>
      <geometry>
        <box size="0.04 0.0175 1.773"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <visual name="leaf_picket_19_vis">
      <origin xyz="0.452903 0 1" rpy="0 0 0"/>
      <geometry>
        <box size="0.04 0.0175 1.773"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <visual name="leaf_picket_20_vis">
      <origin xyz="0.566129 0 1" rpy="0 0 0"/>
      <geometry>
        <box size="0.04 0.0175 1.773"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <visual name="leaf_picket_21_vis">
      <origin xyz="0.679355 0 1" rpy="0 0 0"/>
      <geometry>
        <box size="0.04 0.0175 1.773"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <visual name="leaf_picket_22_vis">
      <origin xyz="0.792581 0 1" rpy="0 0 0"/>
      <geometry>
        <box size="0.04 0.0175 1.773"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <visual name="leaf_picket_23_vis">
      <origin xyz="0.905806 0 1" rpy="0 0 0"/>
      <geometry>
        <box size="0.04 0.0175 1.773"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <visual name="leaf_picket_24_vis">
      <origin xyz="1.019032 0 1" rpy="0 0 0"/>
      <geometry>
        <box size="0.04 0.0175 1.773"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <visual name="leaf_picket_25_vis">
      <origin xyz="1.132258 0 1" rpy="0 0 0"/>
      <geometry>
        <box size="0.04 0.0175 1.773"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <visual name="leaf_picket_26_vis">
      <origin xyz="1.245484 0 1" rpy="0 0 0"/>
      <geometry>
        <box size="0.04 0.0175 1.773"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <visual name="leaf_picket_27_vis">
      <origin xyz="1.35871 0 1" rpy="0 0 0"/>
      <geometry>
        <box size="0.04 0.0175 1.773"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <visual name="leaf_picket_28_vis">
      <origin xyz="1.471935 0 1" rpy="0 0 0"/>
      <geometry>
        <box size="0.04 0.0175 1.773"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <visual name="leaf_picket_29_vis">
      <origin xyz="1.585161 0 1" rpy="0 0 0"/>
      <geometry>
        <box size="0.04 0.0175 1.773"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <visual name="leaf_picket_30_vis">
      <origin xyz="1.698387 0 1" rpy="0 0 0"/>
      <geometry>
        <box size="0.04 0.0175 1.773"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <visual name="leaf_pull_n_vis">
      <origin xyz="1.71 -0.0125 1" rpy="1.570796 0 0"/>
      <geometry>
        <mesh filename="../../hardware/pull_1e5d69a91a.obj"/>
      </geometry>
      <material name="mat_op_stainless"/>
    </visual>
    <collision name="leaf_pull_col_n_col">
      <origin xyz="1.71 -0.0725 1" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.0095" length="0.16"/>
      </geometry>
    </collision>
  </link>
  <joint name="leaf_slide" type="prismatic">
    <origin xyz="0 -0.06 0" rpy="0 0 0"/>
    <parent link="world_env"/>
    <child link="leaf"/>
    <axis xyz="-1 0 0"/>
    <limit lower="0" upper="3.6" effort="5000" velocity="10"/>
    <dynamics damping="11.1294" friction="58.19374"/>
  </joint>
  <material name="mat_floor">
    <color rgba="0.35 0.42 0.25 1"/>
  </material>
  <material name="mat_frame">
    <color rgba="0.65 0.66 0.68 1"/>
  </material>
  <material name="mat_leaf">
    <color rgba="0.09 0.13 0.28 1"/>
  </material>
  <material name="mat_op_stainless">
    <color rgba="0.75 0.76 0.77 1"/>
  </material>
  <material name="mat_track">
    <color rgba="0.8 0.81 0.83 1"/>
  </material>
</robot>
