<?xml version="1.0" ?>
<robot xmlns:doorbench="https://github.com/adamraudonis/DoorBench/schema/urdf-ext" name="db0465_sliding_single_minimal">
  <link name="world_env">
    <visual name="floor_vis">
      <origin xyz="0 0 -0.05" rpy="0 0 0"/>
      <geometry>
        <box size="12 12 0.1"/>
      </geometry>
      <material name="mat_floor"/>
    </visual>
    <collision name="floor_col">
      <origin xyz="0 0 -0.05" rpy="0 0 0"/>
      <geometry>
        <box size="12 12 0.1"/>
      </geometry>
    </collision>
    <visual name="wall_left_vis">
      <origin xyz="-1.485 0 1.35" rpy="0 0 0"/>
      <geometry>
        <box size="2.03 0.145 2.7"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_left_col">
      <origin xyz="-1.485 0 1.35" rpy="0 0 0"/>
      <geometry>
        <box size="2.03 0.145 2.7"/>
      </geometry>
    </collision>
    <visual name="wall_header_vis">
      <origin xyz="-0.03 0 2.3855" rpy="0 0 0"/>
      <geometry>
        <box size="0.88 0.145 0.629"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_header_col">
      <origin xyz="-0.03 0 2.3855" rpy="0 0 0"/>
      <geometry>
        <box size="0.88 0.145 0.629"/>
      </geometry>
    </collision>
    <visual name="pocket_skin_n_vis">
      <origin xyz="0.797 -0.0645 1.35" rpy="0 0 0"/>
      <geometry>
        <box size="0.812 0.016 2.7"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="pocket_skin_n_col">
      <origin xyz="0.797 -0.0645 1.35" rpy="0 0 0"/>
      <geometry>
        <box size="0.812 0.016 2.7"/>
      </geometry>
    </collision>
    <visual name="pocket_skin_p_vis">
      <origin xyz="0.797 0.0645 1.35" rpy="0 0 0"/>
      <geometry>
        <box size="0.812 0.016 2.7"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="pocket_skin_p_col">
      <origin xyz="0.797 0.0645 1.35" rpy="0 0 0"/>
      <geometry>
        <box size="0.812 0.016 2.7"/>
      </geometry>
    </collision>
    <visual name="wall_pocket_far_vis">
      <origin xyz="1.8515 0 1.35" rpy="0 0 0"/>
      <geometry>
        <box size="1.297 0.145 2.7"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_pocket_far_col">
      <origin xyz="1.8515 0 1.35" rpy="0 0 0"/>
      <geometry>
        <box size="1.297 0.145 2.7"/>
      </geometry>
    </collision>
    <visual name="jamb_head_vis">
      <origin xyz="0 0 2.0615" rpy="0 0 0"/>
      <geometry>
        <box size="0.82 0.145 0.019"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_head_col">
      <origin xyz="0 0 2.0615" rpy="0 0 0"/>
      <geometry>
        <box size="0.82 0.145 0.019"/>
      </geometry>
    </collision>
    <visual name="leaf_hook_keeper_vis">
      <origin xyz="-0.399 0 1.08" rpy="0 0 0"/>
      <geometry>
        <box size="0.016 0.03 0.012"/>
      </geometry>
      <material name="mat_hook"/>
    </visual>
    <collision name="leaf_hook_keeper_col">
      <origin xyz="-0.399 0 1.08" rpy="0 0 0"/>
      <geometry>
        <box size="0.016 0.03 0.012"/>
      </geometry>
    </collision>
    <visual name="jamb_latch_pwall_1080_n_vis">
      <origin xyz="-0.4305 -0.048 1.08" rpy="0 0 0"/>
      <geometry>
        <box size="0.079 0.049 0.12"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_latch_pwall_1080_n_col">
      <origin xyz="-0.4305 -0.048 1.08" rpy="0 0 0"/>
      <geometry>
        <box size="0.079 0.049 0.12"/>
      </geometry>
    </collision>
    <visual name="jamb_latch_pwall_1080_p_vis">
      <origin xyz="-0.4305 0.048 1.08" rpy="0 0 0"/>
      <geometry>
        <box size="0.079 0.049 0.12"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_latch_pwall_1080_p_col">
      <origin xyz="-0.4305 0.048 1.08" rpy="0 0 0"/>
      <geometry>
        <box size="0.079 0.049 0.12"/>
      </geometry>
    </collision>
    <visual name="jamb_latch_pback_1080_vis">
      <origin xyz="-0.466 0 1.08" rpy="0 0 0"/>
      <geometry>
        <box size="0.008 0.047 0.12"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_latch_pback_1080_col">
      <origin xyz="-0.466 0 1.08" rpy="0 0 0"/>
      <geometry>
        <box size="0.008 0.047 0.12"/>
      </geometry>
    </collision>
    <visual name="jamb_latch_0_vis">
      <origin xyz="-0.4305 0 0.51" rpy="0 0 0"/>
      <geometry>
        <box size="0.079 0.145 1.02"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_latch_0_col">
      <origin xyz="-0.4305 0 0.51" rpy="0 0 0"/>
      <geometry>
        <box size="0.079 0.145 1.02"/>
      </geometry>
    </collision>
    <visual name="jamb_latch_1_vis">
      <origin xyz="-0.4305 0 1.596" rpy="0 0 0"/>
      <geometry>
        <box size="0.079 0.145 0.912"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_latch_1_col">
      <origin xyz="-0.4305 0 1.596" rpy="0 0 0"/>
      <geometry>
        <box size="0.079 0.145 0.912"/>
      </geometry>
    </collision>
  </link>
  <link name="leaf">
    <inertial>
      <origin xyz="-0.000134 0 1.027987" rpy="0 0 0"/>
      <mass value="21.687376"/>
      <inertia ixx="7.461099456" ixy="0" ixz="-0.000081442" iyy="8.508635012" iyz="0" izz="1.051967835"/>
    </inertial>
    <visual name="leaf_slab_vis">
      <origin xyz="0 0 1.028" rpy="0 0 0"/>
      <geometry>
        <box size="0.762 0.035 2.032"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <collision name="leaf_slab_col">
      <origin xyz="0 0 1.028" rpy="0 0 0"/>
      <geometry>
        <box size="0.762 0.035 2.032"/>
      </geometry>
    </collision>
    <visual name="leaf_pull_n_vis">
      <origin xyz="-0.291 -0.018 1" rpy="0 0 0"/>
      <geometry>
        <box size="0.05 0.001 0.1"/>
      </geometry>
      <material name="mat_op_nickel_satin"/>
    </visual>
    <visual name="leaf_pull_p_vis">
      <origin xyz="-0.291 0.018 1" rpy="0 0 0"/>
      <geometry>
        <box size="0.05 0.001 0.1"/>
      </geometry>
      <material name="mat_op_nickel_satin"/>
    </visual>
  </link>
  <link name="leaf_hook_thumbturn">
    <inertial>
      <origin xyz="0 -0.012928 0" rpy="0 0 0"/>
      <mass value="0.178946"/>
      <inertia ixx="0.000028031" ixy="0" ixz="-0.000002829" iyy="0.000026045" iyz="0" izz="0.000030621"/>
    </inertial>
    <visual name="leaf_hook_tt_mesh_vis">
      <origin xyz="0 0 0" rpy="-1.570796 -1 3.141593"/>
      <geometry>
        <mesh filename="../../hardware/thumbturn_eb5c9899a3.obj"/>
      </geometry>
      <material name="mat_hook"/>
    </visual>
    <collision name="leaf_hook_tt_mesh_col">
      <origin xyz="0 0 0" rpy="-1.570796 -1 3.141593"/>
      <geometry>
        <mesh filename="../../hardware/thumbturn_eb5c9899a3.obj"/>
      </geometry>
    </collision>
    <collision name="leaf_hook_tt_col_col">
      <origin xyz="0 -0.02 0" rpy="0 1 0"/>
      <geometry>
        <box size="0.012 0.024 0.032"/>
      </geometry>
    </collision>
  </link>
  <link name="leaf_hook">
    <inertial>
      <origin xyz="-0.006651 0 -0.027503" rpy="0 0 0"/>
      <mass value="0.072048"/>
      <inertia ixx="0.000006933" ixy="0" ixz="-0.000003692" iyy="0.000019175" iyz="0" izz="0.000013443"/>
    </inertial>
    <visual name="leaf_hook_arm_vis">
      <origin xyz="0.002657 0 -0.025474" rpy="0 -1 0"/>
      <geometry>
        <box size="0.044 0.01 0.012"/>
      </geometry>
      <material name="mat_hook"/>
    </visual>
    <collision name="leaf_hook_arm_col">
      <origin xyz="0.002657 0 -0.025474" rpy="0 -1 0"/>
      <geometry>
        <box size="0.044 0.01 0.012"/>
      </geometry>
    </collision>
    <visual name="leaf_hook_tip_vis">
      <origin xyz="-0.019451 0 -0.030293" rpy="0 -1 0"/>
      <geometry>
        <box size="0.012 0.01 0.032"/>
      </geometry>
      <material name="mat_hook"/>
    </visual>
    <collision name="leaf_hook_tip_col">
      <origin xyz="-0.019451 0 -0.030293" rpy="0 -1 0"/>
      <geometry>
        <box size="0.012 0.01 0.032"/>
      </geometry>
    </collision>
  </link>
  <joint name="leaf_slide" type="prismatic">
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <parent link="world_env"/>
    <child link="leaf"/>
    <axis xyz="1 0 0"/>
    <limit lower="0" upper="0.724" effort="5000" velocity="10"/>
    <dynamics damping="3.108869" friction="26.098292"/>
  </joint>
  <joint name="leaf_hook_thumbturn_hinge" type="revolute">
    <origin xyz="-0.321 -0.0175 1.22" rpy="0 0 0"/>
    <parent link="leaf"/>
    <child link="leaf_hook_thumbturn"/>
    <axis xyz="0 1 0"/>
    <doorbench:zero_offset value="1" note="URDF q=0 is the spec initial state; DoorBench q = urdf_q + value"/>
    <limit lower="-1" upper="0" effort="2000" velocity="10"/>
    <dynamics damping="0.05" friction="0.25"/>
  </joint>
  <joint name="leaf_hook_hinge" type="revolute">
    <origin xyz="-0.381 0 1.08" rpy="0 0 0"/>
    <parent link="leaf"/>
    <child link="leaf_hook"/>
    <axis xyz="0 -1 0"/>
    <doorbench:zero_offset value="1" note="URDF q=0 is the spec initial state; DoorBench q = urdf_q + value"/>
    <limit lower="-1" upper="0" effort="2000" velocity="10"/>
    <dynamics damping="0.05" friction="0.1"/>
    <mimic joint="leaf_hook_thumbturn_hinge" multiplier="1" offset="0"/>
  </joint>
  <material name="mat_floor">
    <color rgba="0.55 0.53 0.5 1"/>
  </material>
  <material name="mat_frame">
    <color rgba="0.82 0.7 0.5 1"/>
  </material>
  <material name="mat_hook">
    <color rgba="0.75 0.76 0.77 1"/>
  </material>
  <material name="mat_leaf">
    <color rgba="0.82 0.7 0.5 1"/>
  </material>
  <material name="mat_op_nickel_satin">
    <color rgba="0.72 0.7 0.66 1"/>
  </material>
  <material name="mat_wall">
    <color rgba="0.78 0.76 0.7 1"/>
  </material>
</robot>
