<?xml version="1.0" ?>
<robot xmlns:doorbench="https://github.com/adamraudonis/DoorBench/schema/urdf-ext" name="db0412_hatch_floor_minimal">
  <link name="world_env">
    <visual name="floor_a_vis">
      <origin xyz="-3.1925 0 -0.05" rpy="0 0 0"/>
      <geometry>
        <box size="5.615 12 0.1"/>
      </geometry>
      <material name="mat_floor"/>
    </visual>
    <collision name="floor_a_col">
      <origin xyz="-3.1925 0 -0.05" rpy="0 0 0"/>
      <geometry>
        <box size="5.615 12 0.1"/>
      </geometry>
    </collision>
    <visual name="floor_b_vis">
      <origin xyz="3.1925 0 -0.05" rpy="0 0 0"/>
      <geometry>
        <box size="5.615 12 0.1"/>
      </geometry>
      <material name="mat_floor"/>
    </visual>
    <collision name="floor_b_col">
      <origin xyz="3.1925 0 -0.05" rpy="0 0 0"/>
      <geometry>
        <box size="5.615 12 0.1"/>
      </geometry>
    </collision>
    <visual name="floor_c_vis">
      <origin xyz="0 -3.1925 -0.05" rpy="0 0 0"/>
      <geometry>
        <box size="0.77 5.615 0.1"/>
      </geometry>
      <material name="mat_floor"/>
    </visual>
    <collision name="floor_c_col">
      <origin xyz="0 -3.1925 -0.05" rpy="0 0 0"/>
      <geometry>
        <box size="0.77 5.615 0.1"/>
      </geometry>
    </collision>
    <visual name="floor_d_vis">
      <origin xyz="0 3.1925 -0.05" rpy="0 0 0"/>
      <geometry>
        <box size="0.77 5.615 0.1"/>
      </geometry>
      <material name="mat_floor"/>
    </visual>
    <collision name="floor_d_col">
      <origin xyz="0 3.1925 -0.05" rpy="0 0 0"/>
      <geometry>
        <box size="0.77 5.615 0.1"/>
      </geometry>
    </collision>
    <visual name="curb_l_vis">
      <origin xyz="-0.41 0 0.02" rpy="0 0 0"/>
      <geometry>
        <box size="0.05 0.87 0.04"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="curb_l_col">
      <origin xyz="-0.41 0 0.02" rpy="0 0 0"/>
      <geometry>
        <box size="0.05 0.87 0.04"/>
      </geometry>
    </collision>
    <visual name="curb_r_vis">
      <origin xyz="0.41 0 0.02" rpy="0 0 0"/>
      <geometry>
        <box size="0.05 0.87 0.04"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="curb_r_col">
      <origin xyz="0.41 0 0.02" rpy="0 0 0"/>
      <geometry>
        <box size="0.05 0.87 0.04"/>
      </geometry>
    </collision>
    <visual name="curb_n_vis">
      <origin xyz="0 -0.41 0.02" rpy="0 0 0"/>
      <geometry>
        <box size="0.77 0.05 0.04"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="curb_n_col">
      <origin xyz="0 -0.41 0.02" rpy="0 0 0"/>
      <geometry>
        <box size="0.77 0.05 0.04"/>
      </geometry>
    </collision>
    <visual name="curb_f_vis">
      <origin xyz="0 0.41 0.02" rpy="0 0 0"/>
      <geometry>
        <box size="0.77 0.05 0.04"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="curb_f_col">
      <origin xyz="0 0.41 0.02" rpy="0 0 0"/>
      <geometry>
        <box size="0.77 0.05 0.04"/>
      </geometry>
    </collision>
  </link>
  <link name="hatch">
    <inertial>
      <origin xyz="0 -0.385 0" rpy="0 0 0"/>
      <mass value="28.336152"/>
      <inertia ixx="1.371186375" ixy="0" ixz="0" iyy="1.363998438" iyz="0" izz="2.735014796"/>
    </inertial>
    <visual name="hatch_slab_vis">
      <origin xyz="0 -0.385 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.76 0.762 0.006"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <collision name="hatch_slab_col">
      <origin xyz="0 -0.385 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.76 0.762 0.006"/>
      </geometry>
    </collision>
  </link>
  <link name="ring">
    <inertial>
      <origin xyz="0 0.04 0.006" rpy="0 0 0"/>
      <mass value="0.068808"/>
      <inertia ixx="0.000001213" ixy="0" ixz="0" iyy="0.000035629" iyz="0" izz="0.000035629"/>
    </inertial>
    <visual name="ring_geom_vis">
      <origin xyz="0 0.04 0.006" rpy="0 1.570796 0"/>
      <geometry>
        <cylinder radius="0.006" length="0.07"/>
      </geometry>
      <material name="mat_op_steel_galvanized"/>
    </visual>
    <collision name="ring_geom_col">
      <origin xyz="0 0.04 0.006" rpy="0 1.570796 0"/>
      <geometry>
        <cylinder radius="0.006" length="0.07"/>
      </geometry>
    </collision>
  </link>
  <joint name="hatch_hinge" type="revolute">
    <origin xyz="0 0.385 0.04" rpy="0 0 0"/>
    <parent link="world_env"/>
    <child link="hatch"/>
    <axis xyz="-1 0 0"/>
    <limit lower="0" upper="1.570796" effort="2000" velocity="10"/>
    <dynamics damping="0.545792" friction="0.52146"/>
  </joint>
  <joint name="ring_hinge" type="revolute">
    <origin xyz="0 -0.5775 0.003" rpy="0 0 0"/>
    <parent link="hatch"/>
    <child link="ring"/>
    <axis xyz="1 0 0"/>
    <limit lower="0" upper="1.5708" effort="2000" velocity="10"/>
    <dynamics damping="0.01" friction="0"/>
  </joint>
  <material name="mat_floor">
    <color rgba="0.55 0.53 0.5 1"/>
  </material>
  <material name="mat_frame">
    <color rgba="0.65 0.66 0.68 1"/>
  </material>
  <material name="mat_leaf">
    <color rgba="0.8 0.05 0.05 1"/>
  </material>
  <material name="mat_op_steel_galvanized">
    <color rgba="0.65 0.66 0.68 1"/>
  </material>
</robot>
