<?xml version="1.0" ?>
<robot xmlns:doorbench="https://github.com/adamraudonis/DoorBench/schema/urdf-ext" name="db0460_dutch_simple">
  <link name="world_env">
    <visual name="floor_vis">
      <origin xyz="0 0 -0.05" rpy="0 0 0"/>
      <geometry>
        <box size="12 12 0.1"/>
      </geometry>
      <material name="mat_floor"/>
    </visual>
    <collision name="floor_col">
      <origin xyz="0 0 -0.05" rpy="0 0 0"/>
      <geometry>
        <box size="12 12 0.1"/>
      </geometry>
    </collision>
    <visual name="wall_left_vis">
      <origin xyz="-1.48975 -0.0305 1.35" rpy="0 0 0"/>
      <geometry>
        <box size="2.0205 0.145 2.7"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_left_col">
      <origin xyz="-1.48975 -0.0305 1.35" rpy="0 0 0"/>
      <geometry>
        <box size="2.0205 0.145 2.7"/>
      </geometry>
    </collision>
    <visual name="wall_right_vis">
      <origin xyz="1.50475 -0.0305 1.35" rpy="0 0 0"/>
      <geometry>
        <box size="1.9905 0.145 2.7"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_right_col">
      <origin xyz="1.50475 -0.0305 1.35" rpy="0 0 0"/>
      <geometry>
        <box size="1.9905 0.145 2.7"/>
      </geometry>
    </collision>
    <visual name="wall_header_vis">
      <origin xyz="0.015 -0.0305 2.397" rpy="0 0 0"/>
      <geometry>
        <box size="0.989 0.145 0.606"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_header_col">
      <origin xyz="0.015 -0.0305 2.397" rpy="0 0 0"/>
      <geometry>
        <box size="0.989 0.145 0.606"/>
      </geometry>
    </collision>
    <visual name="jamb_hinge_vis">
      <origin xyz="-0.47 -0.0305 1.0225" rpy="0 0 0"/>
      <geometry>
        <box size="0.019 0.145 2.045"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_hinge_col">
      <origin xyz="-0.47 -0.0305 1.0225" rpy="0 0 0"/>
      <geometry>
        <box size="0.019 0.145 2.045"/>
      </geometry>
    </collision>
    <visual name="strike_896_wall_n_vis">
      <origin xyz="0.485 -0.055425 0.896" rpy="0 0 0"/>
      <geometry>
        <box size="0.049 0.09515 0.0334"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="strike_896_wall_n_col">
      <origin xyz="0.485 -0.055425 0.896" rpy="0 0 0"/>
      <geometry>
        <box size="0.049 0.09515 0.0334"/>
      </geometry>
    </collision>
    <visual name="strike_896_wall_p_vis">
      <origin xyz="0.485 0.01585 0.896" rpy="0 0 0"/>
      <geometry>
        <box size="0.049 0.016 0.0334"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="strike_896_wall_p_col">
      <origin xyz="0.485 0.01585 0.896" rpy="0 0 0"/>
      <geometry>
        <box size="0.049 0.016 0.0334"/>
      </geometry>
    </collision>
    <visual name="strike_896_ramp_vis">
      <origin xyz="0.490408 0.034645 0.896" rpy="0 0 -0.344766"/>
      <geometry>
        <box size="0.049 0.040535 0.0334"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="strike_896_ramp_col">
      <origin xyz="0.490408 0.034645 0.896" rpy="0 0 -0.344766"/>
      <geometry>
        <box size="0.049 0.040535 0.0334"/>
      </geometry>
    </collision>
    <visual name="strike_896_back_vis">
      <origin xyz="0.49335 0 0.896" rpy="0 0 0"/>
      <geometry>
        <box size="0.0323 0.0157 0.0334"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="strike_896_back_col">
      <origin xyz="0.49335 0 0.896" rpy="0 0 0"/>
      <geometry>
        <box size="0.0323 0.0157 0.0334"/>
      </geometry>
    </collision>
    <visual name="strike_1524_wall_n_vis">
      <origin xyz="0.485 -0.05525 1.524" rpy="0 0 0"/>
      <geometry>
        <box size="0.049 0.0955 0.02"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="strike_1524_wall_n_col">
      <origin xyz="0.485 -0.05525 1.524" rpy="0 0 0"/>
      <geometry>
        <box size="0.049 0.0955 0.02"/>
      </geometry>
    </collision>
    <visual name="strike_1524_wall_p_vis">
      <origin xyz="0.485 0.0155 1.524" rpy="0 0 0"/>
      <geometry>
        <box size="0.049 0.016 0.02"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="strike_1524_wall_p_col">
      <origin xyz="0.485 0.0155 1.524" rpy="0 0 0"/>
      <geometry>
        <box size="0.049 0.016 0.02"/>
      </geometry>
    </collision>
    <visual name="strike_1524_ramp_vis">
      <origin xyz="0.487296 0.039595 1.524" rpy="0 0 -0.129147"/>
      <geometry>
        <box size="0.049 0.038823 0.02"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="strike_1524_ramp_col">
      <origin xyz="0.487296 0.039595 1.524" rpy="0 0 -0.129147"/>
      <geometry>
        <box size="0.049 0.038823 0.02"/>
      </geometry>
    </collision>
    <visual name="strike_1524_ramp_n_vis">
      <origin xyz="0.487296 -0.027595 1.524" rpy="0 0 0.129147"/>
      <geometry>
        <box size="0.049 0.038823 0.02"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="strike_1524_ramp_n_col">
      <origin xyz="0.487296 -0.027595 1.524" rpy="0 0 0.129147"/>
      <geometry>
        <box size="0.049 0.038823 0.02"/>
      </geometry>
    </collision>
    <visual name="strike_1524_back_vis">
      <origin xyz="0.489 0 1.524" rpy="0 0 0"/>
      <geometry>
        <box size="0.041 0.015 0.02"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="strike_1524_back_col">
      <origin xyz="0.489 0 1.524" rpy="0 0 0"/>
      <geometry>
        <box size="0.041 0.015 0.02"/>
      </geometry>
    </collision>
    <visual name="jamb_strike_0_vis">
      <origin xyz="0.485 -0.0305 0.43965" rpy="0 0 0"/>
      <geometry>
        <box size="0.049 0.145 0.8793"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_strike_0_col">
      <origin xyz="0.485 -0.0305 0.43965" rpy="0 0 0"/>
      <geometry>
        <box size="0.049 0.145 0.8793"/>
      </geometry>
    </collision>
    <visual name="jamb_strike_1_vis">
      <origin xyz="0.485 -0.0305 1.21335" rpy="0 0 0"/>
      <geometry>
        <box size="0.049 0.145 0.6013"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_strike_1_col">
      <origin xyz="0.485 -0.0305 1.21335" rpy="0 0 0"/>
      <geometry>
        <box size="0.049 0.145 0.6013"/>
      </geometry>
    </collision>
    <visual name="jamb_strike_2_vis">
      <origin xyz="0.485 -0.0305 1.7895" rpy="0 0 0"/>
      <geometry>
        <box size="0.049 0.145 0.511"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_strike_2_col">
      <origin xyz="0.485 -0.0305 1.7895" rpy="0 0 0"/>
      <geometry>
        <box size="0.049 0.145 0.511"/>
      </geometry>
    </collision>
    <visual name="jamb_head_vis">
      <origin xyz="0.015 -0.0305 2.0545" rpy="0 0 0"/>
      <geometry>
        <box size="0.989 0.145 0.019"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_head_col">
      <origin xyz="0.015 -0.0305 2.0545" rpy="0 0 0"/>
      <geometry>
        <box size="0.989 0.145 0.019"/>
      </geometry>
    </collision>
    <visual name="head_stud_vis">
      <origin xyz="0.015 -0.0305 2.079" rpy="0 0 0"/>
      <geometry>
        <box size="0.989 0.145 0.03"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="head_stud_col">
      <origin xyz="0.015 -0.0305 2.079" rpy="0 0 0"/>
      <geometry>
        <box size="0.989 0.145 0.03"/>
      </geometry>
    </collision>
    <visual name="stop_hinge_vis">
      <origin xyz="-0.455 -0.0385 1.0225" rpy="0 0 0"/>
      <geometry>
        <box size="0.011 0.032 2.045"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="stop_hinge_col">
      <origin xyz="-0.455 -0.0385 1.0225" rpy="0 0 0"/>
      <geometry>
        <box size="0.011 0.032 2.045"/>
      </geometry>
    </collision>
    <visual name="stop_strike_vis">
      <origin xyz="0.455 -0.0385 1.0225" rpy="0 0 0"/>
      <geometry>
        <box size="0.011 0.032 2.045"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="stop_strike_col">
      <origin xyz="0.455 -0.0385 1.0225" rpy="0 0 0"/>
      <geometry>
        <box size="0.011 0.032 2.045"/>
      </geometry>
    </collision>
    <visual name="stop_head_vis">
      <origin xyz="0 -0.0385 2.0395" rpy="0 0 0"/>
      <geometry>
        <box size="0.921 0.032 0.011"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="stop_head_col">
      <origin xyz="0 -0.0385 2.0395" rpy="0 0 0"/>
      <geometry>
        <box size="0.921 0.032 0.011"/>
      </geometry>
    </collision>
    <visual name="hinge_0_jamb_vis">
      <origin xyz="-0.4605 0.029 0.262" rpy="3.141593 0 0"/>
      <geometry>
        <mesh filename="../../hardware/hinge_jamb_e1d088f8dc.obj"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="hinge_1_jamb_vis">
      <origin xyz="-0.4605 0.029 0.452" rpy="3.141593 0 0"/>
      <geometry>
        <mesh filename="../../hardware/hinge_jamb_e1d088f8dc.obj"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="hinge_2_jamb_vis">
      <origin xyz="-0.4605 0.029 0.642" rpy="3.141593 0 0"/>
      <geometry>
        <mesh filename="../../hardware/hinge_jamb_e1d088f8dc.obj"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="hinge_3_jamb_vis">
      <origin xyz="-0.4605 0.029 0.832" rpy="3.141593 0 0"/>
      <geometry>
        <mesh filename="../../hardware/hinge_jamb_e1d088f8dc.obj"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="hinge_0_jamb_2_vis">
      <origin xyz="-0.4605 0.029 1.27" rpy="3.141593 0 0"/>
      <geometry>
        <mesh filename="../../hardware/hinge_jamb_e1d088f8dc.obj"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="hinge_1_jamb_2_vis">
      <origin xyz="-0.4605 0.029 1.464" rpy="3.141593 0 0"/>
      <geometry>
        <mesh filename="../../hardware/hinge_jamb_e1d088f8dc.obj"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="hinge_2_jamb_2_vis">
      <origin xyz="-0.4605 0.029 1.658" rpy="3.141593 0 0"/>
      <geometry>
        <mesh filename="../../hardware/hinge_jamb_e1d088f8dc.obj"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="hinge_3_jamb_2_vis">
      <origin xyz="-0.4605 0.029 1.852" rpy="3.141593 0 0"/>
      <geometry>
        <mesh filename="../../hardware/hinge_jamb_e1d088f8dc.obj"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
  </link>
  <link name="leaf_lower">
    <inertial>
      <origin xyz="0.170843 -0.016782 0.616607" rpy="0 0 0"/>
      <mass value="16.211832"/>
      <inertia ixx="0.989034147" ixy="0.055864432" ixz="-0.745026013" iyy="2.793848235" iyz="0.025583285" izz="1.818532223"/>
    </inertial>
    <visual name="leaf_lower_slab_vis">
      <origin xyz="0.457 -0.029 0.512" rpy="0 0 0"/>
      <geometry>
        <box size="0.914 0.044 1"/>
      </geometry>
      <material name="mat_leaf_lower"/>
    </visual>
    <collision name="leaf_lower_slab_col">
      <origin xyz="0.457 -0.029 0.512" rpy="0 0 0"/>
      <geometry>
        <box size="0.914 0.044 1"/>
      </geometry>
    </collision>
    <visual name="leaf_lower_glass_0_vis">
      <origin xyz="0.20936 -0.029 0.607833" rpy="0 0 0"/>
      <geometry>
        <box size="0.21764 0.0456 0.101667"/>
      </geometry>
      <material name="mat_glass"/>
    </visual>
    <visual name="leaf_lower_glass_1_vis">
      <origin xyz="0.457 -0.029 0.607833" rpy="0 0 0"/>
      <geometry>
        <box size="0.21764 0.0456 0.101667"/>
      </geometry>
      <material name="mat_glass"/>
    </visual>
    <visual name="leaf_lower_glass_2_vis">
      <origin xyz="0.70464 -0.029 0.607833" rpy="0 0 0"/>
      <geometry>
        <box size="0.21764 0.0456 0.101667"/>
      </geometry>
      <material name="mat_glass"/>
    </visual>
    <visual name="leaf_lower_glass_3_vis">
      <origin xyz="0.20936 -0.029 0.7395" rpy="0 0 0"/>
      <geometry>
        <box size="0.21764 0.0456 0.101667"/>
      </geometry>
      <material name="mat_glass"/>
    </visual>
    <visual name="leaf_lower_glass_4_vis">
      <origin xyz="0.457 -0.029 0.7395" rpy="0 0 0"/>
      <geometry>
        <box size="0.21764 0.0456 0.101667"/>
      </geometry>
      <material name="mat_glass"/>
    </visual>
    <visual name="leaf_lower_glass_5_vis">
      <origin xyz="0.70464 -0.029 0.7395" rpy="0 0 0"/>
      <geometry>
        <box size="0.21764 0.0456 0.101667"/>
      </geometry>
      <material name="mat_glass"/>
    </visual>
    <visual name="leaf_lower_glass_6_vis">
      <origin xyz="0.20936 -0.029 0.871167" rpy="0 0 0"/>
      <geometry>
        <box size="0.21764 0.0456 0.101667"/>
      </geometry>
      <material name="mat_glass"/>
    </visual>
    <visual name="leaf_lower_glass_7_vis">
      <origin xyz="0.457 -0.029 0.871167" rpy="0 0 0"/>
      <geometry>
        <box size="0.21764 0.0456 0.101667"/>
      </geometry>
      <material name="mat_glass"/>
    </visual>
    <visual name="leaf_lower_glass_8_vis">
      <origin xyz="0.70464 -0.029 0.871167" rpy="0 0 0"/>
      <geometry>
        <box size="0.21764 0.0456 0.101667"/>
      </geometry>
      <material name="mat_glass"/>
    </visual>
    <visual name="lower_handle_escutcheon_n_vis">
      <origin xyz="0.844 -0.0525 0.896" rpy="0 0 0"/>
      <geometry>
        <box size="0.04 0.003 0.22"/>
      </geometry>
      <material name="mat_op_stainless"/>
    </visual>
    <visual name="lower_handle_escutcheon_p_vis">
      <origin xyz="0.844 -0.0055 0.896" rpy="0 0 0"/>
      <geometry>
        <box size="0.04 0.003 0.22"/>
      </geometry>
      <material name="mat_op_stainless"/>
    </visual>
    <visual name="lower_latch_bolt_faceplate_vis">
      <origin xyz="0.9134 -0.029 0.896" rpy="0 0 0"/>
      <geometry>
        <box size="0.0012 0.0247 0.0534"/>
      </geometry>
      <material name="mat_bolt"/>
    </visual>
    <visual name="join_keeper_leg_n_vis">
      <origin xyz="0.7825 -0.064 0.986" rpy="0 1.570796 0"/>
      <geometry>
        <box size="0.014 0.005 0.026"/>
      </geometry>
      <material name="mat_joinbolt"/>
    </visual>
    <collision name="join_keeper_leg_n_col">
      <origin xyz="0.7825 -0.064 0.986" rpy="0 1.570796 0"/>
      <geometry>
        <box size="0.014 0.005 0.026"/>
      </geometry>
    </collision>
    <visual name="join_keeper_leg_p_vis">
      <origin xyz="0.8055 -0.064 0.986" rpy="0 1.570796 0"/>
      <geometry>
        <box size="0.014 0.005 0.026"/>
      </geometry>
      <material name="mat_joinbolt"/>
    </visual>
    <collision name="join_keeper_leg_p_col">
      <origin xyz="0.8055 -0.064 0.986" rpy="0 1.570796 0"/>
      <geometry>
        <box size="0.014 0.005 0.026"/>
      </geometry>
    </collision>
    <visual name="join_keeper_bridge_vis">
      <origin xyz="0.794 -0.0745 0.986" rpy="0 1.570796 0"/>
      <geometry>
        <box size="0.014 0.028 0.005"/>
      </geometry>
      <material name="mat_joinbolt"/>
    </visual>
    <collision name="join_keeper_bridge_col">
      <origin xyz="0.794 -0.0745 0.986" rpy="0 1.570796 0"/>
      <geometry>
        <box size="0.014 0.028 0.005"/>
      </geometry>
    </collision>
    <visual name="join_keeper_base_vis">
      <origin xyz="0.794 -0.052 0.986" rpy="0 1.570796 0"/>
      <geometry>
        <box size="0.026 0.04 0.002"/>
      </geometry>
      <material name="mat_joinbolt"/>
    </visual>
    <visual name="hinge_0_vis">
      <origin xyz="-0.003 0 0.262" rpy="3.141593 0 0"/>
      <geometry>
        <mesh filename="../../hardware/hinge_e22b26c0c1.obj"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="hinge_1_vis">
      <origin xyz="-0.003 0 0.452" rpy="3.141593 0 0"/>
      <geometry>
        <mesh filename="../../hardware/hinge_e22b26c0c1.obj"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="hinge_2_vis">
      <origin xyz="-0.003 0 0.642" rpy="3.141593 0 0"/>
      <geometry>
        <mesh filename="../../hardware/hinge_e22b26c0c1.obj"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="hinge_3_vis">
      <origin xyz="-0.003 0 0.832" rpy="3.141593 0 0"/>
      <geometry>
        <mesh filename="../../hardware/hinge_e22b26c0c1.obj"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
  </link>
  <link name="leaf_upper">
    <inertial>
      <origin xyz="0.115696 -0.017448 1.50709" rpy="0 0 0"/>
      <mass value="16.414095"/>
      <inertia ixx="1.093551737" ixy="0.066812253" ixz="0.602678719" iyy="2.366107729" iyz="-0.036314883" izz="1.287317854"/>
    </inertial>
    <visual name="leaf_upper_slab_vis">
      <origin xyz="0.457 -0.029 1.526" rpy="0 0 0"/>
      <geometry>
        <box size="0.914 0.044 1.012"/>
      </geometry>
      <material name="mat_leaf_upper"/>
    </visual>
    <collision name="leaf_upper_slab_col">
      <origin xyz="0.457 -0.029 1.526" rpy="0 0 0"/>
      <geometry>
        <box size="0.914 0.044 1.012"/>
      </geometry>
    </collision>
    <visual name="leaf_upper_glass_0_vis">
      <origin xyz="0.20936 -0.029 1.622833" rpy="0 0 0"/>
      <geometry>
        <box size="0.21764 0.0456 0.103667"/>
      </geometry>
      <material name="mat_glass"/>
    </visual>
    <visual name="leaf_upper_glass_1_vis">
      <origin xyz="0.457 -0.029 1.622833" rpy="0 0 0"/>
      <geometry>
        <box size="0.21764 0.0456 0.103667"/>
      </geometry>
      <material name="mat_glass"/>
    </visual>
    <visual name="leaf_upper_glass_2_vis">
      <origin xyz="0.70464 -0.029 1.622833" rpy="0 0 0"/>
      <geometry>
        <box size="0.21764 0.0456 0.103667"/>
      </geometry>
      <material name="mat_glass"/>
    </visual>
    <visual name="leaf_upper_glass_3_vis">
      <origin xyz="0.20936 -0.029 1.7565" rpy="0 0 0"/>
      <geometry>
        <box size="0.21764 0.0456 0.103667"/>
      </geometry>
      <material name="mat_glass"/>
    </visual>
    <visual name="leaf_upper_glass_4_vis">
      <origin xyz="0.457 -0.029 1.7565" rpy="0 0 0"/>
      <geometry>
        <box size="0.21764 0.0456 0.103667"/>
      </geometry>
      <material name="mat_glass"/>
    </visual>
    <visual name="leaf_upper_glass_5_vis">
      <origin xyz="0.70464 -0.029 1.7565" rpy="0 0 0"/>
      <geometry>
        <box size="0.21764 0.0456 0.103667"/>
      </geometry>
      <material name="mat_glass"/>
    </visual>
    <visual name="leaf_upper_glass_6_vis">
      <origin xyz="0.20936 -0.029 1.890167" rpy="0 0 0"/>
      <geometry>
        <box size="0.21764 0.0456 0.103667"/>
      </geometry>
      <material name="mat_glass"/>
    </visual>
    <visual name="leaf_upper_glass_7_vis">
      <origin xyz="0.457 -0.029 1.890167" rpy="0 0 0"/>
      <geometry>
        <box size="0.21764 0.0456 0.103667"/>
      </geometry>
      <material name="mat_glass"/>
    </visual>
    <visual name="leaf_upper_glass_8_vis">
      <origin xyz="0.70464 -0.029 1.890167" rpy="0 0 0"/>
      <geometry>
        <box size="0.21764 0.0456 0.103667"/>
      </geometry>
      <material name="mat_glass"/>
    </visual>
    <visual name="upper_catch_faceplate_vis">
      <origin xyz="0.9134 -0.029 1.524" rpy="0 0 0"/>
      <geometry>
        <box size="0.0012 0.024 0.04"/>
      </geometry>
      <material name="mat_bolt"/>
    </visual>
    <visual name="join_bolt_plate_vis">
      <origin xyz="0.794 -0.052 1.092" rpy="0 1.570796 0"/>
      <geometry>
        <box size="0.128 0.038 0.002"/>
      </geometry>
      <material name="mat_joinbolt"/>
    </visual>
    <visual name="join_bolt_guide_0_leg_n_vis">
      <origin xyz="0.783 -0.0635 1.036" rpy="0 1.570796 0"/>
      <geometry>
        <box size="0.012 0.004 0.025"/>
      </geometry>
      <material name="mat_joinbolt"/>
    </visual>
    <visual name="join_bolt_guide_0_leg_p_vis">
      <origin xyz="0.805 -0.0635 1.036" rpy="0 1.570796 0"/>
      <geometry>
        <box size="0.012 0.004 0.025"/>
      </geometry>
      <material name="mat_joinbolt"/>
    </visual>
    <visual name="join_bolt_guide_0_bridge_vis">
      <origin xyz="0.794 -0.074 1.036" rpy="0 1.570796 0"/>
      <geometry>
        <box size="0.012 0.026 0.004"/>
      </geometry>
      <material name="mat_joinbolt"/>
    </visual>
    <visual name="join_bolt_guide_1_leg_n_vis">
      <origin xyz="0.783 -0.0635 1.146" rpy="0 1.570796 0"/>
      <geometry>
        <box size="0.012 0.004 0.025"/>
      </geometry>
      <material name="mat_joinbolt"/>
    </visual>
    <visual name="join_bolt_guide_1_leg_p_vis">
      <origin xyz="0.805 -0.0635 1.146" rpy="0 1.570796 0"/>
      <geometry>
        <box size="0.012 0.004 0.025"/>
      </geometry>
      <material name="mat_joinbolt"/>
    </visual>
    <visual name="join_bolt_guide_1_bridge_vis">
      <origin xyz="0.794 -0.074 1.146" rpy="0 1.570796 0"/>
      <geometry>
        <box size="0.012 0.026 0.004"/>
      </geometry>
      <material name="mat_joinbolt"/>
    </visual>
    <visual name="hinge_0_2_vis">
      <origin xyz="-0.003 0 1.27" rpy="3.141593 0 0"/>
      <geometry>
        <mesh filename="../../hardware/hinge_e22b26c0c1.obj"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="hinge_1_2_vis">
      <origin xyz="-0.003 0 1.464" rpy="3.141593 0 0"/>
      <geometry>
        <mesh filename="../../hardware/hinge_e22b26c0c1.obj"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="hinge_2_2_vis">
      <origin xyz="-0.003 0 1.658" rpy="3.141593 0 0"/>
      <geometry>
        <mesh filename="../../hardware/hinge_e22b26c0c1.obj"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="hinge_3_2_vis">
      <origin xyz="-0.003 0 1.852" rpy="3.141593 0 0"/>
      <geometry>
        <mesh filename="../../hardware/hinge_e22b26c0c1.obj"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
  </link>
  <link name="lower_handle">
    <inertial>
      <origin xyz="-0.0423 0 0" rpy="0 0 0"/>
      <mass value="0.712286"/>
      <inertia ixx="0.003449344" ixy="0" ixz="0" iyy="0.001444644" iyz="0" izz="0.004855619"/>
    </inertial>
    <visual name="lower_handle_lever_n_vis">
      <origin xyz="0 -0.022 0" rpy="1.570796 0 0"/>
      <geometry>
        <mesh filename="../../hardware/lever_f913fc5b7b.obj"/>
      </geometry>
      <material name="mat_op_stainless"/>
    </visual>
    <collision name="lower_handle_lever_col_n_col">
      <origin xyz="-0.065 -0.077 0" rpy="0 -1.570796 0"/>
      <geometry>
        <cylinder radius="0.0095" length="0.111"/>
      </geometry>
    </collision>
    <collision name="lower_handle_hub_col_n_col">
      <origin xyz="0 -0.052 0" rpy="-1.570796 0 0"/>
      <geometry>
        <cylinder radius="0.012" length="0.044"/>
      </geometry>
    </collision>
    <visual name="lower_handle_lever_p_vis">
      <origin xyz="0 0.022 0" rpy="-1.570796 0 0"/>
      <geometry>
        <mesh filename="../../hardware/lever_f913fc5b7b.obj"/>
      </geometry>
      <material name="mat_op_stainless"/>
    </visual>
    <collision name="lower_handle_lever_col_p_col">
      <origin xyz="-0.065 0.077 0" rpy="0 -1.570796 0"/>
      <geometry>
        <cylinder radius="0.0095" length="0.111"/>
      </geometry>
    </collision>
    <collision name="lower_handle_hub_col_p_col">
      <origin xyz="0 0.052 0" rpy="-1.570796 0 0"/>
      <geometry>
        <cylinder radius="0.012" length="0.044"/>
      </geometry>
    </collision>
  </link>
  <link name="lower_latch_bolt">
    <inertial>
      <origin xyz="-0.00865 0 0" rpy="0 0 0"/>
      <mass value="0.041419"/>
      <inertia ixx="0.000000798" ixy="0" ixz="0" iyy="0.000005598" iyz="0" izz="0.000005598"/>
    </inertial>
    <visual name="lower_latch_bolt_capsule_vis">
      <origin xyz="-0.00865 0 0" rpy="0 1.570796 0"/>
      <geometry>
        <cylinder radius="0.00635" length="0.03"/>
      </geometry>
      <material name="mat_bolt"/>
    </visual>
    <collision name="lower_latch_bolt_capsule_col">
      <origin xyz="-0.00865 0 0" rpy="0 1.570796 0"/>
      <geometry>
        <cylinder radius="0.00635" length="0.03"/>
      </geometry>
    </collision>
  </link>
  <link name="upper_catch">
    <inertial>
      <origin xyz="-0.013 0 0" rpy="0 0 0"/>
      <mass value="0.02884"/>
      <inertia ixx="0.000000491" ixy="0" ixz="0" iyy="0.000002465" iyz="0" izz="0.000002465"/>
    </inertial>
    <visual name="upper_catch_capsule_vis">
      <origin xyz="-0.013 0 0" rpy="0 1.570796 0"/>
      <geometry>
        <cylinder radius="0.006" length="0.022"/>
      </geometry>
      <material name="mat_bolt"/>
    </visual>
    <collision name="upper_catch_capsule_col">
      <origin xyz="-0.013 0 0" rpy="0 1.570796 0"/>
      <geometry>
        <cylinder radius="0.006" length="0.022"/>
      </geometry>
    </collision>
  </link>
  <link name="join_bolt">
    <inertial>
      <origin xyz="0 -0.002426 0.072307" rpy="0 0 0"/>
      <mass value="0.101671"/>
      <inertia ixx="0.000091539" ixy="0" ixz="0" iyy="0.000087539" iyz="0.000008063" izz="0.000005704"/>
    </inertial>
    <visual name="join_bolt_rod_vis">
      <origin xyz="0 0 0.066" rpy="3.141593 0 0"/>
      <geometry>
        <cylinder radius="0.006" length="0.088"/>
      </geometry>
      <material name="mat_joinbolt"/>
    </visual>
    <collision name="join_bolt_rod_col">
      <origin xyz="0 0 0.066" rpy="3.141593 0 0"/>
      <geometry>
        <cylinder radius="0.006" length="0.088"/>
      </geometry>
    </collision>
    <visual name="join_bolt_knob_vis">
      <origin xyz="0 -0.015 0.105" rpy="1.570796 0 0"/>
      <geometry>
        <cylinder radius="0.005" length="0.02"/>
      </geometry>
      <material name="mat_joinbolt"/>
    </visual>
    <collision name="join_bolt_knob_col">
      <origin xyz="0 -0.015 0.105" rpy="1.570796 0 0"/>
      <geometry>
        <cylinder radius="0.005" length="0.02"/>
      </geometry>
    </collision>
  </link>
  <joint name="leaf_lower_hinge" type="revolute">
    <origin xyz="-0.4575 0.029 0" rpy="0 0 0"/>
    <parent link="world_env"/>
    <child link="leaf_lower"/>
    <axis xyz="0 0 1"/>
    <limit lower="0" upper="1.745329" effort="2000" velocity="10"/>
    <dynamics damping="0.30611" friction="0.316658"/>
    <doorbench:closer damping_closing="0" damping_opening="0" backcheck_angle="0" backcheck_damping="0"/>
  </joint>
  <joint name="leaf_upper_hinge" type="revolute">
    <origin xyz="-0.4575 0.029 0" rpy="0 0 0"/>
    <parent link="world_env"/>
    <child link="leaf_upper"/>
    <axis xyz="0 0 1"/>
    <limit lower="0" upper="1.745329" effort="2000" velocity="10"/>
    <dynamics damping="0.30611" friction="0.316658"/>
    <doorbench:closer damping_closing="0" damping_opening="0" backcheck_angle="0" backcheck_damping="0"/>
  </joint>
  <joint name="lower_handle_hinge" type="revolute">
    <origin xyz="0.844 -0.029 0.896" rpy="0 0 0"/>
    <parent link="leaf_lower"/>
    <child link="lower_handle"/>
    <axis xyz="0 -1 0"/>
    <limit lower="0" upper="0.65" effort="2000" velocity="10"/>
    <dynamics damping="0.225568" friction="0.051863"/>
    <doorbench:spring stiffness="1" springref="-0.503022" note="tau = -stiffness*(q - springref); not native URDF"/>
  </joint>
  <joint name="lower_latch_bolt_slide" type="prismatic">
    <origin xyz="0.914 -0.029 0.896" rpy="0 0 0"/>
    <parent link="leaf_lower"/>
    <child link="lower_latch_bolt"/>
    <axis xyz="-1 0 0"/>
    <limit lower="0" upper="0.0127" effort="5000" velocity="10"/>
    <dynamics damping="2" friction="0.3"/>
    <doorbench:spring stiffness="300" springref="-0.008333" note="tau = -stiffness*(q - springref); not native URDF"/>
    <mimic joint="lower_handle_hinge" multiplier="0.02082" offset="0"/>
    <doorbench:coupling one_sided="true" note="MJCF uses a one-sided tendon (bolt may retract further, e.g. riding over the strike lip); mimic is bilateral"/>
  </joint>
  <joint name="upper_catch_slide" type="prismatic">
    <origin xyz="0.914 -0.029 1.524" rpy="0 0 0"/>
    <parent link="leaf_upper"/>
    <child link="upper_catch"/>
    <axis xyz="-1 0 0"/>
    <limit lower="0" upper="0.004" effort="5000" velocity="10"/>
    <dynamics damping="2" friction="0.3"/>
    <doorbench:spring stiffness="4000" springref="-0.00375" note="tau = -stiffness*(q - springref); not native URDF"/>
  </joint>
  <joint name="join_bolt_slide" type="prismatic">
    <origin xyz="0.794 -0.063 1.02" rpy="0 0 0"/>
    <parent link="leaf_upper"/>
    <child link="join_bolt"/>
    <axis xyz="0 0 1"/>
    <doorbench:zero_offset value="0.05" note="URDF q=0 is the spec initial state; DoorBench q = urdf_q + value"/>
    <limit lower="-0.05" upper="0" effort="5000" velocity="10"/>
    <dynamics damping="1" friction="1"/>
  </joint>
  <material name="mat_bolt">
    <color rgba="0.85 0.66 0.3 1"/>
  </material>
  <material name="mat_floor">
    <color rgba="0.55 0.53 0.5 1"/>
  </material>
  <material name="mat_frame">
    <color rgba="0.82 0.7 0.5 1"/>
  </material>
  <material name="mat_glass">
    <color rgba="0.85 0.92 0.95 0.25"/>
  </material>
  <material name="mat_hinge">
    <color rgba="0.65 0.66 0.68 1"/>
  </material>
  <material name="mat_joinbolt">
    <color rgba="0.85 0.66 0.3 1"/>
  </material>
  <material name="mat_leaf_lower">
    <color rgba="0.66 0.6 0.5 1"/>
  </material>
  <material name="mat_leaf_upper">
    <color rgba="0.66 0.6 0.5 1"/>
  </material>
  <material name="mat_op_stainless">
    <color rgba="0.75 0.76 0.77 1"/>
  </material>
  <material name="mat_wall">
    <color rgba="0.78 0.76 0.7 1"/>
  </material>
</robot>
