<?xml version="1.0" ?>
<robot xmlns:doorbench="https://github.com/adamraudonis/DoorBench/schema/urdf-ext" name="db0238_pet_door_simple">
  <link name="world_env">
    <visual name="floor_vis">
      <origin xyz="0 0 -0.05" rpy="0 0 0"/>
      <geometry>
        <box size="12 12 0.1"/>
      </geometry>
      <material name="mat_floor"/>
    </visual>
    <collision name="floor_col">
      <origin xyz="0 0 -0.05" rpy="0 0 0"/>
      <geometry>
        <box size="12 12 0.1"/>
      </geometry>
    </collision>
    <visual name="wall_left_vis">
      <origin xyz="-0.5475 0 1.05" rpy="0 0 0"/>
      <geometry>
        <box size="0.905 0.145 2.1"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_left_col">
      <origin xyz="-0.5475 0 1.05" rpy="0 0 0"/>
      <geometry>
        <box size="0.905 0.145 2.1"/>
      </geometry>
    </collision>
    <visual name="wall_right_vis">
      <origin xyz="0.5475 0 1.05" rpy="0 0 0"/>
      <geometry>
        <box size="0.905 0.145 2.1"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_right_col">
      <origin xyz="0.5475 0 1.05" rpy="0 0 0"/>
      <geometry>
        <box size="0.905 0.145 2.1"/>
      </geometry>
    </collision>
    <visual name="wall_header_vis">
      <origin xyz="0 0 1.22" rpy="0 0 0"/>
      <geometry>
        <box size="0.19 0.145 1.76"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_header_col">
      <origin xyz="0 0 1.22" rpy="0 0 0"/>
      <geometry>
        <box size="0.19 0.145 1.76"/>
      </geometry>
    </collision>
    <visual name="pet_frame_l_vis">
      <origin xyz="-0.115 0 0.195" rpy="0 0 0"/>
      <geometry>
        <box size="0.04 0.157 0.37"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="pet_frame_l_col">
      <origin xyz="-0.115 0 0.195" rpy="0 0 0"/>
      <geometry>
        <box size="0.04 0.157 0.37"/>
      </geometry>
    </collision>
    <visual name="pet_frame_r_vis">
      <origin xyz="0.115 0 0.195" rpy="0 0 0"/>
      <geometry>
        <box size="0.04 0.157 0.37"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="pet_frame_r_col">
      <origin xyz="0.115 0 0.195" rpy="0 0 0"/>
      <geometry>
        <box size="0.04 0.157 0.37"/>
      </geometry>
    </collision>
    <visual name="pet_frame_t_vis">
      <origin xyz="0 0 0.36" rpy="0 0 0"/>
      <geometry>
        <box size="0.19 0.157 0.04"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="pet_frame_t_col">
      <origin xyz="0 0 0.36" rpy="0 0 0"/>
      <geometry>
        <box size="0.19 0.157 0.04"/>
      </geometry>
    </collision>
    <visual name="pet_sill_vis">
      <origin xyz="0 0 0.044" rpy="0 0 0"/>
      <geometry>
        <box size="0.19 0.157 0.012"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="pet_sill_col">
      <origin xyz="0 0 0.044" rpy="0 0 0"/>
      <geometry>
        <box size="0.19 0.157 0.012"/>
      </geometry>
    </collision>
  </link>
  <link name="flap">
    <inertial>
      <origin xyz="0 0 -0.14" rpy="0 0 0"/>
      <mass value="0.32736"/>
      <inertia ixx="0.002078763" ixy="0" ixz="0" iyy="0.002904011" iyz="0" izz="0.000826611"/>
    </inertial>
    <visual name="flap_geom_vis">
      <origin xyz="0 0 -0.14" rpy="0 0 0"/>
      <geometry>
        <box size="0.174 0.005 0.276"/>
      </geometry>
      <material name="mat_flap"/>
    </visual>
    <collision name="flap_geom_col">
      <origin xyz="0 0 -0.14" rpy="0 0 0"/>
      <geometry>
        <box size="0.174 0.005 0.276"/>
      </geometry>
    </collision>
  </link>
  <joint name="flap_hinge" type="revolute">
    <origin xyz="0 0 0.3335" rpy="0 0 0"/>
    <parent link="world_env"/>
    <child link="flap"/>
    <axis xyz="1 0 0"/>
    <limit lower="-1.308997" upper="1.308997" effort="2000" velocity="10"/>
    <dynamics damping="0.010053" friction="0.021803"/>
  </joint>
  <material name="mat_flap">
    <color rgba="0.9 0.92 0.95 0.3"/>
  </material>
  <material name="mat_floor">
    <color rgba="0.55 0.53 0.5 1"/>
  </material>
  <material name="mat_frame">
    <color rgba="0.8 0.81 0.83 1"/>
  </material>
  <material name="mat_wall">
    <color rgba="0.78 0.76 0.7 1"/>
  </material>
</robot>
