<?xml version="1.0" ?>
<robot xmlns:doorbench="https://github.com/adamraudonis/DoorBench/schema/urdf-ext" name="db0984_swing_single_full">
  <link name="world_env">
    <visual name="floor_vis">
      <origin xyz="0 0 -0.05" rpy="0 0 0"/>
      <geometry>
        <box size="12 12 0.1"/>
      </geometry>
      <material name="mat_floor"/>
    </visual>
    <collision name="floor_col">
      <origin xyz="0 0 -0.05" rpy="0 0 0"/>
      <geometry>
        <box size="12 12 0.1"/>
      </geometry>
    </collision>
    <visual name="wall_left_vis">
      <origin xyz="-1.48975 -0.0305 1.35" rpy="0 0 0"/>
      <geometry>
        <box size="2.0205 0.145 2.7"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_left_col">
      <origin xyz="-1.48975 -0.0305 1.35" rpy="0 0 0"/>
      <geometry>
        <box size="2.0205 0.145 2.7"/>
      </geometry>
    </collision>
    <visual name="wall_right_vis">
      <origin xyz="1.50475 -0.0305 1.35" rpy="0 0 0"/>
      <geometry>
        <box size="1.9905 0.145 2.7"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_right_col">
      <origin xyz="1.50475 -0.0305 1.35" rpy="0 0 0"/>
      <geometry>
        <box size="1.9905 0.145 2.7"/>
      </geometry>
    </collision>
    <visual name="wall_header_vis">
      <origin xyz="0.015 -0.0305 2.397" rpy="0 0 0"/>
      <geometry>
        <box size="0.989 0.145 0.606"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_header_col">
      <origin xyz="0.015 -0.0305 2.397" rpy="0 0 0"/>
      <geometry>
        <box size="0.989 0.145 0.606"/>
      </geometry>
    </collision>
    <visual name="jamb_hinge_vis">
      <origin xyz="-0.47 -0.0305 1.0225" rpy="0 0 0"/>
      <geometry>
        <box size="0.019 0.145 2.045"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_hinge_col">
      <origin xyz="-0.47 -0.0305 1.0225" rpy="0 0 0"/>
      <geometry>
        <box size="0.019 0.145 2.045"/>
      </geometry>
    </collision>
    <visual name="strike_914_wall_n_vis">
      <origin xyz="0.485 -0.05475 0.914" rpy="0 0 0"/>
      <geometry>
        <box size="0.049 0.0965 0.03"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="strike_914_wall_n_col">
      <origin xyz="0.485 -0.05475 0.914" rpy="0 0 0"/>
      <geometry>
        <box size="0.049 0.0965 0.03"/>
      </geometry>
    </collision>
    <visual name="strike_914_wall_p_vis">
      <origin xyz="0.485 0.0145 0.914" rpy="0 0 0"/>
      <geometry>
        <box size="0.049 0.016 0.03"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="strike_914_wall_p_col">
      <origin xyz="0.485 0.0145 0.914" rpy="0 0 0"/>
      <geometry>
        <box size="0.049 0.016 0.03"/>
      </geometry>
    </collision>
    <visual name="strike_914_ramp_vis">
      <origin xyz="0.490904 0.033552 0.914" rpy="0 0 -0.362926"/>
      <geometry>
        <box size="0.049 0.042252 0.03"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="strike_914_ramp_col">
      <origin xyz="0.490904 0.033552 0.914" rpy="0 0 -0.362926"/>
      <geometry>
        <box size="0.049 0.042252 0.03"/>
      </geometry>
    </collision>
    <visual name="strike_914_back_vis">
      <origin xyz="0.494 0 0.914" rpy="0 0 0"/>
      <geometry>
        <box size="0.031 0.013 0.03"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="strike_914_back_col">
      <origin xyz="0.494 0 0.914" rpy="0 0 0"/>
      <geometry>
        <box size="0.031 0.013 0.03"/>
      </geometry>
    </collision>
    <visual name="strike_1054_wall_n_vis">
      <origin xyz="0.485 -0.05625 1.054" rpy="0 0 0"/>
      <geometry>
        <box size="0.049 0.0935 0.031"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="strike_1054_wall_n_col">
      <origin xyz="0.485 -0.05625 1.054" rpy="0 0 0"/>
      <geometry>
        <box size="0.049 0.0935 0.031"/>
      </geometry>
    </collision>
    <visual name="strike_1054_wall_p_vis">
      <origin xyz="0.485 0.02575 1.054" rpy="0 0 0"/>
      <geometry>
        <box size="0.049 0.0325 0.031"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="strike_1054_wall_p_col">
      <origin xyz="0.485 0.02575 1.054" rpy="0 0 0"/>
      <geometry>
        <box size="0.049 0.0325 0.031"/>
      </geometry>
    </collision>
    <visual name="strike_1054_back_vis">
      <origin xyz="0.4997 0 1.054" rpy="0 0 0"/>
      <geometry>
        <box size="0.0196 0.019 0.031"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="strike_1054_back_col">
      <origin xyz="0.4997 0 1.054" rpy="0 0 0"/>
      <geometry>
        <box size="0.0196 0.019 0.031"/>
      </geometry>
    </collision>
    <visual name="jamb_strike_0_vis">
      <origin xyz="0.485 -0.0305 0.4495" rpy="0 0 0"/>
      <geometry>
        <box size="0.049 0.145 0.899"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_strike_0_col">
      <origin xyz="0.485 -0.0305 0.4495" rpy="0 0 0"/>
      <geometry>
        <box size="0.049 0.145 0.899"/>
      </geometry>
    </collision>
    <visual name="jamb_strike_1_vis">
      <origin xyz="0.485 -0.0305 0.98375" rpy="0 0 0"/>
      <geometry>
        <box size="0.049 0.145 0.1095"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_strike_1_col">
      <origin xyz="0.485 -0.0305 0.98375" rpy="0 0 0"/>
      <geometry>
        <box size="0.049 0.145 0.1095"/>
      </geometry>
    </collision>
    <visual name="jamb_strike_2_vis">
      <origin xyz="0.485 -0.0305 1.55725" rpy="0 0 0"/>
      <geometry>
        <box size="0.049 0.145 0.9755"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_strike_2_col">
      <origin xyz="0.485 -0.0305 1.55725" rpy="0 0 0"/>
      <geometry>
        <box size="0.049 0.145 0.9755"/>
      </geometry>
    </collision>
    <visual name="jamb_head_vis">
      <origin xyz="0.015 -0.0305 2.0545" rpy="0 0 0"/>
      <geometry>
        <box size="0.989 0.145 0.019"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_head_col">
      <origin xyz="0.015 -0.0305 2.0545" rpy="0 0 0"/>
      <geometry>
        <box size="0.989 0.145 0.019"/>
      </geometry>
    </collision>
    <visual name="head_stud_vis">
      <origin xyz="0.015 -0.0305 2.079" rpy="0 0 0"/>
      <geometry>
        <box size="0.989 0.145 0.03"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="head_stud_col">
      <origin xyz="0.015 -0.0305 2.079" rpy="0 0 0"/>
      <geometry>
        <box size="0.989 0.145 0.03"/>
      </geometry>
    </collision>
    <visual name="stop_hinge_vis">
      <origin xyz="-0.455 -0.0385 1.0225" rpy="0 0 0"/>
      <geometry>
        <box size="0.011 0.032 2.045"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="stop_hinge_col">
      <origin xyz="-0.455 -0.0385 1.0225" rpy="0 0 0"/>
      <geometry>
        <box size="0.011 0.032 2.045"/>
      </geometry>
    </collision>
    <visual name="stop_strike_vis">
      <origin xyz="0.455 -0.0385 1.0225" rpy="0 0 0"/>
      <geometry>
        <box size="0.011 0.032 2.045"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="stop_strike_col">
      <origin xyz="0.455 -0.0385 1.0225" rpy="0 0 0"/>
      <geometry>
        <box size="0.011 0.032 2.045"/>
      </geometry>
    </collision>
    <visual name="stop_head_vis">
      <origin xyz="0 -0.0385 2.0395" rpy="0 0 0"/>
      <geometry>
        <box size="0.921 0.032 0.011"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="stop_head_col">
      <origin xyz="0 -0.0385 2.0395" rpy="0 0 0"/>
      <geometry>
        <box size="0.921 0.032 0.011"/>
      </geometry>
    </collision>
    <visual name="casing_l_n_vis">
      <origin xyz="-0.5095 -0.111 1.0225" rpy="0 0 0"/>
      <geometry>
        <box size="0.07 0.016 2.064"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <visual name="casing_r_n_vis">
      <origin xyz="0.5095 -0.111 1.0225" rpy="0 0 0"/>
      <geometry>
        <box size="0.07 0.016 2.064"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <visual name="casing_h_n_vis">
      <origin xyz="0 -0.111 2.094" rpy="0 0 0"/>
      <geometry>
        <box size="1.089 0.016 0.07"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <visual name="casing_l_p_vis">
      <origin xyz="-0.5095 0.05 1.0225" rpy="0 0 0"/>
      <geometry>
        <box size="0.07 0.016 2.064"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <visual name="casing_r_p_vis">
      <origin xyz="0.5095 0.05 1.0225" rpy="0 0 0"/>
      <geometry>
        <box size="0.07 0.016 2.064"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <visual name="casing_h_p_vis">
      <origin xyz="0 0.05 2.094" rpy="0 0 0"/>
      <geometry>
        <box size="1.089 0.016 0.07"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <visual name="threshold_vis">
      <origin xyz="0 -0.0305 0.0065" rpy="0 0 0"/>
      <geometry>
        <box size="0.959 0.145 0.013"/>
      </geometry>
      <material name="mat_threshold"/>
    </visual>
    <collision name="threshold_col">
      <origin xyz="0 -0.0305 0.0065" rpy="0 0 0"/>
      <geometry>
        <box size="0.959 0.145 0.013"/>
      </geometry>
    </collision>
  </link>
  <link name="leaf">
    <inertial>
      <origin xyz="0.439997 -0.027196 1.034667" rpy="0 0 0"/>
      <mass value="20.701917"/>
      <inertia ixx="7.010885956" ixy="0.026372424" ixz="0.009245664" iyy="8.64507974" iyz="0.000813199" izz="1.646030699"/>
    </inertial>
    <visual name="leaf_slab_vis">
      <origin xyz="0.457 -0.029 1.029" rpy="0 0 0"/>
      <geometry>
        <box size="0.914 0.044 2.024"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <collision name="leaf_slab_col">
      <origin xyz="0.457 -0.029 1.029" rpy="0 0 0"/>
      <geometry>
        <box size="0.914 0.044 2.024"/>
      </geometry>
    </collision>
    <visual name="leaf_glass_0_vis">
      <origin xyz="0.457 -0.029 1.642272" rpy="0 0 0"/>
      <geometry>
        <box size="0.71292 0.0456 0.595056"/>
      </geometry>
      <material name="mat_glass"/>
    </visual>
    <visual name="hinge_0_vis">
      <origin xyz="0 0 0.267" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../../hardware/hinge_dcb8da44bf.obj"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="hinge_1_vis">
      <origin xyz="0 0 1.029" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../../hardware/hinge_dcb8da44bf.obj"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="hinge_2_vis">
      <origin xyz="0 0 1.861" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../../hardware/hinge_dcb8da44bf.obj"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="leaf_handle_keypad_body_vis">
      <origin xyz="0.859 -0.051 1.034" rpy="1.570796 0 0"/>
      <geometry>
        <mesh filename="../../hardware/keypad_body_4e81d77325.obj"/>
      </geometry>
      <material name="mat_keypad"/>
    </visual>
    <collision name="leaf_handle_keypad_body_col">
      <origin xyz="0.859 -0.051 1.034" rpy="1.570796 0 0"/>
      <geometry>
        <mesh filename="../../hardware/keypad_body_4e81d77325.obj"/>
      </geometry>
    </collision>
    <visual name="leaf_deadbolt_cylinder_face_vis">
      <origin xyz="0.844 -0.007 1.054" rpy="-1.570796 0 0"/>
      <geometry>
        <mesh filename="../../hardware/cyl_face_e9e5036966.obj"/>
      </geometry>
      <material name="mat_deadbolt"/>
    </visual>
    <visual name="house_numbers_vis">
      <origin xyz="0.457 -0.051 1.691" rpy="1.570796 0 0"/>
      <geometry>
        <mesh filename="../../hardware/house_numbers_ad0a8e8be0.obj"/>
      </geometry>
      <material name="mat_numbers"/>
    </visual>
  </link>
  <link name="leaf_handle">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="0.042615"/>
      <inertia ixx="0.000008566" ixy="0" ixz="0" iyy="0.000000767" iyz="0" izz="0.000008566"/>
    </inertial>
    <visual name="leaf_handle_spindle_vis">
      <origin xyz="0 0 0" rpy="-1.570796 0 0"/>
      <geometry>
        <cylinder radius="0.006" length="0.048"/>
      </geometry>
      <material name="mat_op_nickel_satin"/>
    </visual>
  </link>
  <link name="leaf_keypad_key_1">
    <inertial>
      <origin xyz="0 0.002 0" rpy="0 0 0"/>
      <mass value="0.000941"/>
      <inertia ixx="0.000000017" ixy="0" ixz="0" iyy="0.000000031" iyz="0" izz="0.000000017"/>
    </inertial>
    <visual name="leaf_keypad_key_0_geom_vis">
      <origin xyz="0 0.002 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.014 0.004 0.014"/>
      </geometry>
      <material name="mat_key"/>
    </visual>
    <collision name="leaf_keypad_key_0_geom_col">
      <origin xyz="0 0.002 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.014 0.004 0.014"/>
      </geometry>
    </collision>
  </link>
  <link name="leaf_keypad_key_2">
    <inertial>
      <origin xyz="0 0.002 0" rpy="0 0 0"/>
      <mass value="0.000941"/>
      <inertia ixx="0.000000017" ixy="0" ixz="0" iyy="0.000000031" iyz="0" izz="0.000000017"/>
    </inertial>
    <visual name="leaf_keypad_key_1_geom_vis">
      <origin xyz="0 0.002 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.014 0.004 0.014"/>
      </geometry>
      <material name="mat_key"/>
    </visual>
    <collision name="leaf_keypad_key_1_geom_col">
      <origin xyz="0 0.002 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.014 0.004 0.014"/>
      </geometry>
    </collision>
  </link>
  <link name="leaf_keypad_key_3">
    <inertial>
      <origin xyz="0 0.002 0" rpy="0 0 0"/>
      <mass value="0.000941"/>
      <inertia ixx="0.000000017" ixy="0" ixz="0" iyy="0.000000031" iyz="0" izz="0.000000017"/>
    </inertial>
    <visual name="leaf_keypad_key_2_geom_vis">
      <origin xyz="0 0.002 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.014 0.004 0.014"/>
      </geometry>
      <material name="mat_key"/>
    </visual>
    <collision name="leaf_keypad_key_2_geom_col">
      <origin xyz="0 0.002 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.014 0.004 0.014"/>
      </geometry>
    </collision>
  </link>
  <link name="leaf_keypad_key_4">
    <inertial>
      <origin xyz="0 0.002 0" rpy="0 0 0"/>
      <mass value="0.000941"/>
      <inertia ixx="0.000000017" ixy="0" ixz="0" iyy="0.000000031" iyz="0" izz="0.000000017"/>
    </inertial>
    <visual name="leaf_keypad_key_3_geom_vis">
      <origin xyz="0 0.002 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.014 0.004 0.014"/>
      </geometry>
      <material name="mat_key"/>
    </visual>
    <collision name="leaf_keypad_key_3_geom_col">
      <origin xyz="0 0.002 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.014 0.004 0.014"/>
      </geometry>
    </collision>
  </link>
  <link name="leaf_keypad_key_5">
    <inertial>
      <origin xyz="0 0.002 0" rpy="0 0 0"/>
      <mass value="0.000941"/>
      <inertia ixx="0.000000017" ixy="0" ixz="0" iyy="0.000000031" iyz="0" izz="0.000000017"/>
    </inertial>
    <visual name="leaf_keypad_key_4_geom_vis">
      <origin xyz="0 0.002 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.014 0.004 0.014"/>
      </geometry>
      <material name="mat_key"/>
    </visual>
    <collision name="leaf_keypad_key_4_geom_col">
      <origin xyz="0 0.002 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.014 0.004 0.014"/>
      </geometry>
    </collision>
  </link>
  <link name="leaf_keypad_key_6">
    <inertial>
      <origin xyz="0 0.002 0" rpy="0 0 0"/>
      <mass value="0.000941"/>
      <inertia ixx="0.000000017" ixy="0" ixz="0" iyy="0.000000031" iyz="0" izz="0.000000017"/>
    </inertial>
    <visual name="leaf_keypad_key_5_geom_vis">
      <origin xyz="0 0.002 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.014 0.004 0.014"/>
      </geometry>
      <material name="mat_key"/>
    </visual>
    <collision name="leaf_keypad_key_5_geom_col">
      <origin xyz="0 0.002 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.014 0.004 0.014"/>
      </geometry>
    </collision>
  </link>
  <link name="leaf_keypad_key_7">
    <inertial>
      <origin xyz="0 0.002 0" rpy="0 0 0"/>
      <mass value="0.000941"/>
      <inertia ixx="0.000000017" ixy="0" ixz="0" iyy="0.000000031" iyz="0" izz="0.000000017"/>
    </inertial>
    <visual name="leaf_keypad_key_6_geom_vis">
      <origin xyz="0 0.002 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.014 0.004 0.014"/>
      </geometry>
      <material name="mat_key"/>
    </visual>
    <collision name="leaf_keypad_key_6_geom_col">
      <origin xyz="0 0.002 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.014 0.004 0.014"/>
      </geometry>
    </collision>
  </link>
  <link name="leaf_keypad_key_8">
    <inertial>
      <origin xyz="0 0.002 0" rpy="0 0 0"/>
      <mass value="0.000941"/>
      <inertia ixx="0.000000017" ixy="0" ixz="0" iyy="0.000000031" iyz="0" izz="0.000000017"/>
    </inertial>
    <visual name="leaf_keypad_key_7_geom_vis">
      <origin xyz="0 0.002 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.014 0.004 0.014"/>
      </geometry>
      <material name="mat_key"/>
    </visual>
    <collision name="leaf_keypad_key_7_geom_col">
      <origin xyz="0 0.002 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.014 0.004 0.014"/>
      </geometry>
    </collision>
  </link>
  <link name="leaf_keypad_key_9">
    <inertial>
      <origin xyz="0 0.002 0" rpy="0 0 0"/>
      <mass value="0.000941"/>
      <inertia ixx="0.000000017" ixy="0" ixz="0" iyy="0.000000031" iyz="0" izz="0.000000017"/>
    </inertial>
    <visual name="leaf_keypad_key_8_geom_vis">
      <origin xyz="0 0.002 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.014 0.004 0.014"/>
      </geometry>
      <material name="mat_key"/>
    </visual>
    <collision name="leaf_keypad_key_8_geom_col">
      <origin xyz="0 0.002 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.014 0.004 0.014"/>
      </geometry>
    </collision>
  </link>
  <link name="leaf_keypad_key_star">
    <inertial>
      <origin xyz="0 0.002 0" rpy="0 0 0"/>
      <mass value="0.000941"/>
      <inertia ixx="0.000000017" ixy="0" ixz="0" iyy="0.000000031" iyz="0" izz="0.000000017"/>
    </inertial>
    <visual name="leaf_keypad_key_9_geom_vis">
      <origin xyz="0 0.002 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.014 0.004 0.014"/>
      </geometry>
      <material name="mat_key"/>
    </visual>
    <collision name="leaf_keypad_key_9_geom_col">
      <origin xyz="0 0.002 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.014 0.004 0.014"/>
      </geometry>
    </collision>
  </link>
  <link name="leaf_keypad_key_0">
    <inertial>
      <origin xyz="0 0.002 0" rpy="0 0 0"/>
      <mass value="0.000941"/>
      <inertia ixx="0.000000017" ixy="0" ixz="0" iyy="0.000000031" iyz="0" izz="0.000000017"/>
    </inertial>
    <visual name="leaf_keypad_key_10_geom_vis">
      <origin xyz="0 0.002 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.014 0.004 0.014"/>
      </geometry>
      <material name="mat_key"/>
    </visual>
    <collision name="leaf_keypad_key_10_geom_col">
      <origin xyz="0 0.002 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.014 0.004 0.014"/>
      </geometry>
    </collision>
  </link>
  <link name="leaf_keypad_key_hash">
    <inertial>
      <origin xyz="0 0.002 0" rpy="0 0 0"/>
      <mass value="0.000941"/>
      <inertia ixx="0.000000017" ixy="0" ixz="0" iyy="0.000000031" iyz="0" izz="0.000000017"/>
    </inertial>
    <visual name="leaf_keypad_key_11_geom_vis">
      <origin xyz="0 0.002 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.014 0.004 0.014"/>
      </geometry>
      <material name="mat_key"/>
    </visual>
    <collision name="leaf_keypad_key_11_geom_col">
      <origin xyz="0 0.002 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.014 0.004 0.014"/>
      </geometry>
    </collision>
  </link>
  <link name="leaf_latch_bolt">
    <inertial>
      <origin xyz="-0.008 0 0" rpy="0 0 0"/>
      <mass value="0.027149"/>
      <inertia ixx="0.000000328" ixy="0" ixz="0" iyy="0.000003943" iyz="0" izz="0.000003943"/>
    </inertial>
    <visual name="leaf_latch_bolt_capsule_vis">
      <origin xyz="-0.008 0 0" rpy="0 1.570796 0"/>
      <geometry>
        <cylinder radius="0.005" length="0.034"/>
      </geometry>
      <material name="mat_bolt"/>
    </visual>
    <collision name="leaf_latch_bolt_capsule_col">
      <origin xyz="-0.008 0 0" rpy="0 1.570796 0"/>
      <geometry>
        <cylinder radius="0.005" length="0.034"/>
      </geometry>
    </collision>
  </link>
  <link name="leaf_deadbolt">
    <inertial>
      <origin xyz="-0.0073 0 0" rpy="0 0 0"/>
      <mass value="0.22236"/>
      <inertia ixx="0.000016325" ixy="0" ixz="0" iyy="0.000090837" iyz="0" izz="0.000083999"/>
    </inertial>
    <visual name="leaf_deadbolt_box_vis">
      <origin xyz="-0.0073 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.0654 0.016 0.025"/>
      </geometry>
      <material name="mat_deadbolt"/>
    </visual>
    <collision name="leaf_deadbolt_box_col">
      <origin xyz="-0.0073 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.0654 0.016 0.025"/>
      </geometry>
    </collision>
  </link>
  <link name="leaf_deadbolt_thumbturn">
    <inertial>
      <origin xyz="0 -0.012928 0" rpy="0 0 0"/>
      <mass value="0.178946"/>
      <inertia ixx="0.000032438" ixy="0" ixz="0" iyy="0.000026045" iyz="0" izz="0.000026215"/>
    </inertial>
    <visual name="leaf_deadbolt_thumbturn_mesh_vis">
      <origin xyz="0 0 0" rpy="1.570796 0 0"/>
      <geometry>
        <mesh filename="../../hardware/thumbturn_eb5c9899a3.obj"/>
      </geometry>
      <material name="mat_deadbolt"/>
    </visual>
    <collision name="leaf_deadbolt_thumbturn_mesh_col">
      <origin xyz="0 0 0" rpy="1.570796 0 0"/>
      <geometry>
        <mesh filename="../../hardware/thumbturn_eb5c9899a3.obj"/>
      </geometry>
    </collision>
    <collision name="leaf_deadbolt_thumbturn_col_col">
      <origin xyz="0 -0.02 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.012 0.024 0.032"/>
      </geometry>
    </collision>
  </link>
  <joint name="leaf_hinge" type="revolute">
    <origin xyz="-0.4575 0.029 0" rpy="0 0 0"/>
    <parent link="world_env"/>
    <child link="leaf"/>
    <axis xyz="0 0 1"/>
    <limit lower="0" upper="1.570796" effort="2000" velocity="10"/>
    <dynamics damping="0.30611" friction="0.933418"/>
    <doorbench:closer damping_closing="0" damping_opening="0" backcheck_angle="0" backcheck_damping="0"/>
  </joint>
  <joint name="leaf_handle_hinge" type="revolute">
    <origin xyz="0.859 -0.029 0.914" rpy="0 0 0"/>
    <parent link="leaf"/>
    <child link="leaf_handle"/>
    <axis xyz="0 -1 0"/>
    <limit lower="0" upper="0.87" effort="2000" velocity="10"/>
    <dynamics damping="0.02" friction="0.048"/>
    <doorbench:spring stiffness="0.5" springref="-0.5" note="tau = -stiffness*(q - springref); not native URDF"/>
  </joint>
  <joint name="leaf_keypad_key_1_slide" type="prismatic">
    <origin xyz="0.84 0.013 1.0625" rpy="0 0 0"/>
    <parent link="leaf"/>
    <child link="leaf_keypad_key_1"/>
    <axis xyz="0 -1 0"/>
    <limit lower="0" upper="0.0015" effort="5000" velocity="10"/>
    <dynamics damping="0.5" friction="0.05"/>
    <doorbench:spring stiffness="2000" springref="-0.0015" note="tau = -stiffness*(q - springref); not native URDF"/>
  </joint>
  <joint name="leaf_keypad_key_2_slide" type="prismatic">
    <origin xyz="0.859 0.013 1.0625" rpy="0 0 0"/>
    <parent link="leaf"/>
    <child link="leaf_keypad_key_2"/>
    <axis xyz="0 -1 0"/>
    <limit lower="0" upper="0.0015" effort="5000" velocity="10"/>
    <dynamics damping="0.5" friction="0.05"/>
    <doorbench:spring stiffness="2000" springref="-0.0015" note="tau = -stiffness*(q - springref); not native URDF"/>
  </joint>
  <joint name="leaf_keypad_key_3_slide" type="prismatic">
    <origin xyz="0.878 0.013 1.0625" rpy="0 0 0"/>
    <parent link="leaf"/>
    <child link="leaf_keypad_key_3"/>
    <axis xyz="0 -1 0"/>
    <limit lower="0" upper="0.0015" effort="5000" velocity="10"/>
    <dynamics damping="0.5" friction="0.05"/>
    <doorbench:spring stiffness="2000" springref="-0.0015" note="tau = -stiffness*(q - springref); not native URDF"/>
  </joint>
  <joint name="leaf_keypad_key_4_slide" type="prismatic">
    <origin xyz="0.84 0.013 1.0435" rpy="0 0 0"/>
    <parent link="leaf"/>
    <child link="leaf_keypad_key_4"/>
    <axis xyz="0 -1 0"/>
    <limit lower="0" upper="0.0015" effort="5000" velocity="10"/>
    <dynamics damping="0.5" friction="0.05"/>
    <doorbench:spring stiffness="2000" springref="-0.0015" note="tau = -stiffness*(q - springref); not native URDF"/>
  </joint>
  <joint name="leaf_keypad_key_5_slide" type="prismatic">
    <origin xyz="0.859 0.013 1.0435" rpy="0 0 0"/>
    <parent link="leaf"/>
    <child link="leaf_keypad_key_5"/>
    <axis xyz="0 -1 0"/>
    <limit lower="0" upper="0.0015" effort="5000" velocity="10"/>
    <dynamics damping="0.5" friction="0.05"/>
    <doorbench:spring stiffness="2000" springref="-0.0015" note="tau = -stiffness*(q - springref); not native URDF"/>
  </joint>
  <joint name="leaf_keypad_key_6_slide" type="prismatic">
    <origin xyz="0.878 0.013 1.0435" rpy="0 0 0"/>
    <parent link="leaf"/>
    <child link="leaf_keypad_key_6"/>
    <axis xyz="0 -1 0"/>
    <limit lower="0" upper="0.0015" effort="5000" velocity="10"/>
    <dynamics damping="0.5" friction="0.05"/>
    <doorbench:spring stiffness="2000" springref="-0.0015" note="tau = -stiffness*(q - springref); not native URDF"/>
  </joint>
  <joint name="leaf_keypad_key_7_slide" type="prismatic">
    <origin xyz="0.84 0.013 1.0245" rpy="0 0 0"/>
    <parent link="leaf"/>
    <child link="leaf_keypad_key_7"/>
    <axis xyz="0 -1 0"/>
    <limit lower="0" upper="0.0015" effort="5000" velocity="10"/>
    <dynamics damping="0.5" friction="0.05"/>
    <doorbench:spring stiffness="2000" springref="-0.0015" note="tau = -stiffness*(q - springref); not native URDF"/>
  </joint>
  <joint name="leaf_keypad_key_8_slide" type="prismatic">
    <origin xyz="0.859 0.013 1.0245" rpy="0 0 0"/>
    <parent link="leaf"/>
    <child link="leaf_keypad_key_8"/>
    <axis xyz="0 -1 0"/>
    <limit lower="0" upper="0.0015" effort="5000" velocity="10"/>
    <dynamics damping="0.5" friction="0.05"/>
    <doorbench:spring stiffness="2000" springref="-0.0015" note="tau = -stiffness*(q - springref); not native URDF"/>
  </joint>
  <joint name="leaf_keypad_key_9_slide" type="prismatic">
    <origin xyz="0.878 0.013 1.0245" rpy="0 0 0"/>
    <parent link="leaf"/>
    <child link="leaf_keypad_key_9"/>
    <axis xyz="0 -1 0"/>
    <limit lower="0" upper="0.0015" effort="5000" velocity="10"/>
    <dynamics damping="0.5" friction="0.05"/>
    <doorbench:spring stiffness="2000" springref="-0.0015" note="tau = -stiffness*(q - springref); not native URDF"/>
  </joint>
  <joint name="leaf_keypad_key_star_slide" type="prismatic">
    <origin xyz="0.84 0.013 1.0055" rpy="0 0 0"/>
    <parent link="leaf"/>
    <child link="leaf_keypad_key_star"/>
    <axis xyz="0 -1 0"/>
    <limit lower="0" upper="0.0015" effort="5000" velocity="10"/>
    <dynamics damping="0.5" friction="0.05"/>
    <doorbench:spring stiffness="2000" springref="-0.0015" note="tau = -stiffness*(q - springref); not native URDF"/>
  </joint>
  <joint name="leaf_keypad_key_0_slide" type="prismatic">
    <origin xyz="0.859 0.013 1.0055" rpy="0 0 0"/>
    <parent link="leaf"/>
    <child link="leaf_keypad_key_0"/>
    <axis xyz="0 -1 0"/>
    <limit lower="0" upper="0.0015" effort="5000" velocity="10"/>
    <dynamics damping="0.5" friction="0.05"/>
    <doorbench:spring stiffness="2000" springref="-0.0015" note="tau = -stiffness*(q - springref); not native URDF"/>
  </joint>
  <joint name="leaf_keypad_key_hash_slide" type="prismatic">
    <origin xyz="0.878 0.013 1.0055" rpy="0 0 0"/>
    <parent link="leaf"/>
    <child link="leaf_keypad_key_hash"/>
    <axis xyz="0 -1 0"/>
    <limit lower="0" upper="0.0015" effort="5000" velocity="10"/>
    <dynamics damping="0.5" friction="0.05"/>
    <doorbench:spring stiffness="2000" springref="-0.0015" note="tau = -stiffness*(q - springref); not native URDF"/>
  </joint>
  <joint name="leaf_latch_bolt_slide" type="prismatic">
    <origin xyz="0.914 -0.029 0.914" rpy="0 0 0"/>
    <parent link="leaf"/>
    <child link="leaf_latch_bolt"/>
    <axis xyz="-1 0 0"/>
    <limit lower="0" upper="0.014" effort="5000" velocity="10"/>
    <dynamics damping="2" friction="0.3"/>
    <doorbench:spring stiffness="400" springref="-0.01" note="tau = -stiffness*(q - springref); not native URDF"/>
    <mimic joint="leaf_handle_hinge" multiplier="0.017284" offset="0"/>
    <doorbench:coupling one_sided="true" note="MJCF uses a one-sided tendon (bolt may retract further, e.g. riding over the strike lip); mimic is bilateral"/>
  </joint>
  <joint name="leaf_deadbolt_slide" type="prismatic">
    <origin xyz="0.914 -0.029 1.054" rpy="0 0 0"/>
    <parent link="leaf"/>
    <child link="leaf_deadbolt"/>
    <axis xyz="-1 0 0"/>
    <limit lower="0" upper="0.0254" effort="5000" velocity="10"/>
    <dynamics damping="5" friction="1.5"/>
    <mimic joint="leaf_deadbolt_thumbturn_hinge" multiplier="0.01617" offset="0"/>
  </joint>
  <joint name="leaf_deadbolt_thumbturn_hinge" type="revolute">
    <origin xyz="0.844 -0.051 1.054" rpy="0 0 0"/>
    <parent link="leaf"/>
    <child link="leaf_deadbolt_thumbturn"/>
    <axis xyz="0 1 0"/>
    <limit lower="0" upper="1.5708" effort="2000" velocity="10"/>
    <dynamics damping="0.05" friction="0.3"/>
  </joint>
  <material name="mat_bolt">
    <color rgba="0.75 0.76 0.77 1"/>
  </material>
  <material name="mat_deadbolt">
    <color rgba="0.85 0.66 0.3 1"/>
  </material>
  <material name="mat_floor">
    <color rgba="0.55 0.53 0.5 1"/>
  </material>
  <material name="mat_frame">
    <color rgba="0.82 0.7 0.5 1"/>
  </material>
  <material name="mat_glass">
    <color rgba="0.45 0.35 0.28 0.45"/>
  </material>
  <material name="mat_hinge">
    <color rgba="0.65 0.66 0.68 1"/>
  </material>
  <material name="mat_key">
    <color rgba="0.85 0.85 0.82 1"/>
  </material>
  <material name="mat_keypad">
    <color rgba="0.05 0.05 0.05 1"/>
  </material>
  <material name="mat_leaf">
    <color rgba="0.04 0.04 0.04 1"/>
  </material>
  <material name="mat_numbers">
    <color rgba="0.05 0.05 0.05 1"/>
  </material>
  <material name="mat_op_nickel_satin">
    <color rgba="0.72 0.7 0.66 1"/>
  </material>
  <material name="mat_threshold">
    <color rgba="0.8 0.81 0.83 1"/>
  </material>
  <material name="mat_wall">
    <color rgba="0.78 0.76 0.7 1"/>
  </material>
</robot>
