<?xml version="1.0" ?>
<robot xmlns:doorbench="https://github.com/adamraudonis/DoorBench/schema/urdf-ext" name="db0674_ship_watertight_simple">
  <link name="world_env">
    <visual name="floor_vis">
      <origin xyz="0 0 -0.05" rpy="0 0 0"/>
      <geometry>
        <box size="12 12 0.1"/>
      </geometry>
      <material name="mat_floor"/>
    </visual>
    <collision name="floor_col">
      <origin xyz="0 0 -0.05" rpy="0 0 0"/>
      <geometry>
        <box size="12 12 0.1"/>
      </geometry>
    </collision>
    <visual name="wall_left_vis">
      <origin xyz="-1.415 0 1.35" rpy="0 0 0"/>
      <geometry>
        <box size="2.17 0.012 2.7"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_left_col">
      <origin xyz="-1.415 0 1.35" rpy="0 0 0"/>
      <geometry>
        <box size="2.17 0.012 2.7"/>
      </geometry>
    </collision>
    <visual name="wall_right_vis">
      <origin xyz="1.415 0 1.35" rpy="0 0 0"/>
      <geometry>
        <box size="2.17 0.012 2.7"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_right_col">
      <origin xyz="1.415 0 1.35" rpy="0 0 0"/>
      <geometry>
        <box size="2.17 0.012 2.7"/>
      </geometry>
    </collision>
    <visual name="wall_header_vis">
      <origin xyz="0 0 2.455" rpy="0 0 0"/>
      <geometry>
        <box size="0.66 0.012 0.49"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_header_col">
      <origin xyz="0 0 2.455" rpy="0 0 0"/>
      <geometry>
        <box size="0.66 0.012 0.49"/>
      </geometry>
    </collision>
    <visual name="flange_l_vis">
      <origin xyz="-0.36 0.012 1.255" rpy="0 0 0"/>
      <geometry>
        <box size="0.06 0.012 2.03"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="flange_l_col">
      <origin xyz="-0.36 0.012 1.255" rpy="0 0 0"/>
      <geometry>
        <box size="0.06 0.012 2.03"/>
      </geometry>
    </collision>
    <visual name="flange_r_vis">
      <origin xyz="0.36 0.012 1.255" rpy="0 0 0"/>
      <geometry>
        <box size="0.06 0.012 2.03"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="flange_r_col">
      <origin xyz="0.36 0.012 1.255" rpy="0 0 0"/>
      <geometry>
        <box size="0.06 0.012 2.03"/>
      </geometry>
    </collision>
    <visual name="flange_t_vis">
      <origin xyz="0 0.012 2.24" rpy="0 0 0"/>
      <geometry>
        <box size="0.66 0.012 0.06"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="flange_t_col">
      <origin xyz="0 0.012 2.24" rpy="0 0 0"/>
      <geometry>
        <box size="0.66 0.012 0.06"/>
      </geometry>
    </collision>
    <visual name="flange_b_vis">
      <origin xyz="0 0.012 0.27" rpy="0 0 0"/>
      <geometry>
        <box size="0.66 0.012 0.06"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="flange_b_col">
      <origin xyz="0 0.012 0.27" rpy="0 0 0"/>
      <geometry>
        <box size="0.66 0.012 0.06"/>
      </geometry>
    </collision>
    <visual name="coaming_vis">
      <origin xyz="0 0 0.15" rpy="0 0 0"/>
      <geometry>
        <box size="0.76 0.06 0.3"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="coaming_col">
      <origin xyz="0 0 0.15" rpy="0 0 0"/>
      <geometry>
        <box size="0.76 0.06 0.3"/>
      </geometry>
    </collision>
    <visual name="cleat_0_vis">
      <origin xyz="0.344 0.02 0.6875" rpy="0 0 0"/>
      <geometry>
        <box size="0.04 0.01 0.05"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="cleat_0_col">
      <origin xyz="0.344 0.02 0.6875" rpy="0 0 0"/>
      <geometry>
        <box size="0.04 0.01 0.05"/>
      </geometry>
    </collision>
    <visual name="cleat_0_base_vis">
      <origin xyz="0.344 0.076 0.6875" rpy="0 0 0"/>
      <geometry>
        <box size="0.04 0.036 0.05"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="cleat_0_base_col">
      <origin xyz="0.344 0.076 0.6875" rpy="0 0 0"/>
      <geometry>
        <box size="0.04 0.036 0.05"/>
      </geometry>
    </collision>
    <visual name="cleat_0_bridge_vis">
      <origin xyz="0.389 0.048 0.6875" rpy="0 0 0"/>
      <geometry>
        <box size="0.01 0.06 0.05"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="cleat_0_bridge_col">
      <origin xyz="0.389 0.048 0.6875" rpy="0 0 0"/>
      <geometry>
        <box size="0.01 0.06 0.05"/>
      </geometry>
    </collision>
    <visual name="cleat_1_vis">
      <origin xyz="-0.346 0.02 0.6875" rpy="0 0 0"/>
      <geometry>
        <box size="0.04 0.01 0.05"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="cleat_1_col">
      <origin xyz="-0.346 0.02 0.6875" rpy="0 0 0"/>
      <geometry>
        <box size="0.04 0.01 0.05"/>
      </geometry>
    </collision>
    <visual name="cleat_1_base_vis">
      <origin xyz="-0.346 0.076 0.6875" rpy="0 0 0"/>
      <geometry>
        <box size="0.04 0.036 0.05"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="cleat_1_base_col">
      <origin xyz="-0.346 0.076 0.6875" rpy="0 0 0"/>
      <geometry>
        <box size="0.04 0.036 0.05"/>
      </geometry>
    </collision>
    <visual name="cleat_1_bridge_vis">
      <origin xyz="-0.391 0.048 0.6875" rpy="0 0 0"/>
      <geometry>
        <box size="0.01 0.06 0.05"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="cleat_1_bridge_col">
      <origin xyz="-0.391 0.048 0.6875" rpy="0 0 0"/>
      <geometry>
        <box size="0.01 0.06 0.05"/>
      </geometry>
    </collision>
    <visual name="cleat_2_vis">
      <origin xyz="0.344 0.02 1.0625" rpy="0 0 0"/>
      <geometry>
        <box size="0.04 0.01 0.05"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="cleat_2_col">
      <origin xyz="0.344 0.02 1.0625" rpy="0 0 0"/>
      <geometry>
        <box size="0.04 0.01 0.05"/>
      </geometry>
    </collision>
    <visual name="cleat_2_base_vis">
      <origin xyz="0.344 0.076 1.0625" rpy="0 0 0"/>
      <geometry>
        <box size="0.04 0.036 0.05"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="cleat_2_base_col">
      <origin xyz="0.344 0.076 1.0625" rpy="0 0 0"/>
      <geometry>
        <box size="0.04 0.036 0.05"/>
      </geometry>
    </collision>
    <visual name="cleat_2_bridge_vis">
      <origin xyz="0.389 0.048 1.0625" rpy="0 0 0"/>
      <geometry>
        <box size="0.01 0.06 0.05"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="cleat_2_bridge_col">
      <origin xyz="0.389 0.048 1.0625" rpy="0 0 0"/>
      <geometry>
        <box size="0.01 0.06 0.05"/>
      </geometry>
    </collision>
    <visual name="cleat_3_vis">
      <origin xyz="-0.346 0.02 1.0625" rpy="0 0 0"/>
      <geometry>
        <box size="0.04 0.01 0.05"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="cleat_3_col">
      <origin xyz="-0.346 0.02 1.0625" rpy="0 0 0"/>
      <geometry>
        <box size="0.04 0.01 0.05"/>
      </geometry>
    </collision>
    <visual name="cleat_3_base_vis">
      <origin xyz="-0.346 0.076 1.0625" rpy="0 0 0"/>
      <geometry>
        <box size="0.04 0.036 0.05"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="cleat_3_base_col">
      <origin xyz="-0.346 0.076 1.0625" rpy="0 0 0"/>
      <geometry>
        <box size="0.04 0.036 0.05"/>
      </geometry>
    </collision>
    <visual name="cleat_3_bridge_vis">
      <origin xyz="-0.391 0.048 1.0625" rpy="0 0 0"/>
      <geometry>
        <box size="0.01 0.06 0.05"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="cleat_3_bridge_col">
      <origin xyz="-0.391 0.048 1.0625" rpy="0 0 0"/>
      <geometry>
        <box size="0.01 0.06 0.05"/>
      </geometry>
    </collision>
    <visual name="cleat_4_vis">
      <origin xyz="0.344 0.02 1.4375" rpy="0 0 0"/>
      <geometry>
        <box size="0.04 0.01 0.05"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="cleat_4_col">
      <origin xyz="0.344 0.02 1.4375" rpy="0 0 0"/>
      <geometry>
        <box size="0.04 0.01 0.05"/>
      </geometry>
    </collision>
    <visual name="cleat_4_base_vis">
      <origin xyz="0.344 0.076 1.4375" rpy="0 0 0"/>
      <geometry>
        <box size="0.04 0.036 0.05"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="cleat_4_base_col">
      <origin xyz="0.344 0.076 1.4375" rpy="0 0 0"/>
      <geometry>
        <box size="0.04 0.036 0.05"/>
      </geometry>
    </collision>
    <visual name="cleat_4_bridge_vis">
      <origin xyz="0.389 0.048 1.4375" rpy="0 0 0"/>
      <geometry>
        <box size="0.01 0.06 0.05"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="cleat_4_bridge_col">
      <origin xyz="0.389 0.048 1.4375" rpy="0 0 0"/>
      <geometry>
        <box size="0.01 0.06 0.05"/>
      </geometry>
    </collision>
    <visual name="cleat_5_vis">
      <origin xyz="-0.346 0.02 1.4375" rpy="0 0 0"/>
      <geometry>
        <box size="0.04 0.01 0.05"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="cleat_5_col">
      <origin xyz="-0.346 0.02 1.4375" rpy="0 0 0"/>
      <geometry>
        <box size="0.04 0.01 0.05"/>
      </geometry>
    </collision>
    <visual name="cleat_5_base_vis">
      <origin xyz="-0.346 0.076 1.4375" rpy="0 0 0"/>
      <geometry>
        <box size="0.04 0.036 0.05"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="cleat_5_base_col">
      <origin xyz="-0.346 0.076 1.4375" rpy="0 0 0"/>
      <geometry>
        <box size="0.04 0.036 0.05"/>
      </geometry>
    </collision>
    <visual name="cleat_5_bridge_vis">
      <origin xyz="-0.391 0.048 1.4375" rpy="0 0 0"/>
      <geometry>
        <box size="0.01 0.06 0.05"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="cleat_5_bridge_col">
      <origin xyz="-0.391 0.048 1.4375" rpy="0 0 0"/>
      <geometry>
        <box size="0.01 0.06 0.05"/>
      </geometry>
    </collision>
    <visual name="cleat_6_vis">
      <origin xyz="0.344 0.02 1.8125" rpy="0 0 0"/>
      <geometry>
        <box size="0.04 0.01 0.05"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="cleat_6_col">
      <origin xyz="0.344 0.02 1.8125" rpy="0 0 0"/>
      <geometry>
        <box size="0.04 0.01 0.05"/>
      </geometry>
    </collision>
    <visual name="cleat_6_base_vis">
      <origin xyz="0.344 0.076 1.8125" rpy="0 0 0"/>
      <geometry>
        <box size="0.04 0.036 0.05"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="cleat_6_base_col">
      <origin xyz="0.344 0.076 1.8125" rpy="0 0 0"/>
      <geometry>
        <box size="0.04 0.036 0.05"/>
      </geometry>
    </collision>
    <visual name="cleat_6_bridge_vis">
      <origin xyz="0.389 0.048 1.8125" rpy="0 0 0"/>
      <geometry>
        <box size="0.01 0.06 0.05"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="cleat_6_bridge_col">
      <origin xyz="0.389 0.048 1.8125" rpy="0 0 0"/>
      <geometry>
        <box size="0.01 0.06 0.05"/>
      </geometry>
    </collision>
    <visual name="cleat_7_vis">
      <origin xyz="-0.346 0.02 1.8125" rpy="0 0 0"/>
      <geometry>
        <box size="0.04 0.01 0.05"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="cleat_7_col">
      <origin xyz="-0.346 0.02 1.8125" rpy="0 0 0"/>
      <geometry>
        <box size="0.04 0.01 0.05"/>
      </geometry>
    </collision>
    <visual name="cleat_7_base_vis">
      <origin xyz="-0.346 0.076 1.8125" rpy="0 0 0"/>
      <geometry>
        <box size="0.04 0.036 0.05"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="cleat_7_base_col">
      <origin xyz="-0.346 0.076 1.8125" rpy="0 0 0"/>
      <geometry>
        <box size="0.04 0.036 0.05"/>
      </geometry>
    </collision>
    <visual name="cleat_7_bridge_vis">
      <origin xyz="-0.391 0.048 1.8125" rpy="0 0 0"/>
      <geometry>
        <box size="0.01 0.06 0.05"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="cleat_7_bridge_col">
      <origin xyz="-0.391 0.048 1.8125" rpy="0 0 0"/>
      <geometry>
        <box size="0.01 0.06 0.05"/>
      </geometry>
    </collision>
  </link>
  <link name="leaf">
    <inertial>
      <origin xyz="0.352817 0.026297 0.954613" rpy="0 0 0"/>
      <mass value="129.017765"/>
      <inertia ixx="39.299554831" ixy="-0.023547079" ixz="0.027432998" iyy="44.012778584" iyz="0.002328688" izz="4.722953636"/>
    </inertial>
    <visual name="leaf_slab_vis">
      <origin xyz="0.359 0.026 0.954" rpy="0 0 0"/>
      <geometry>
        <box size="0.65 0.012 1.9"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <collision name="leaf_slab_col">
      <origin xyz="0.359 0.026 0.954" rpy="0 0 0"/>
      <geometry>
        <box size="0.65 0.012 1.9"/>
      </geometry>
    </collision>
    <visual name="gasket_vis">
      <origin xyz="0.359 0.036 0.954" rpy="0 0 0"/>
      <geometry>
        <box size="0.63 0.008 1.88"/>
      </geometry>
      <material name="mat_gasket"/>
    </visual>
    <visual name="hinge_0_vis">
      <origin xyz="0 0 0.254" rpy="0 0 -1.570796"/>
      <geometry>
        <mesh filename="../../hardware/hinge_8ee9dd60e5.obj"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="hinge_1_vis">
      <origin xyz="0 0 1.724" rpy="0 0 -1.570796"/>
      <geometry>
        <mesh filename="../../hardware/hinge_8ee9dd60e5.obj"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
  </link>
  <link name="dog_0">
    <inertial>
      <origin xyz="-0.063207 -0.028461 0" rpy="0 0 0"/>
      <mass value="3.205778"/>
      <inertia ixx="0.00549171" ixy="-0.009893136" ixz="0" iyy="0.032037278" iyz="0" izz="0.037030308"/>
    </inertial>
    <visual name="dog_0_lever_vis">
      <origin xyz="0 -0.006 0" rpy="1.570796 0 0"/>
      <geometry>
        <mesh filename="../../hardware/lever_88a39579f3.obj"/>
      </geometry>
      <material name="mat_op_steel_painted"/>
    </visual>
    <collision name="dog_0_lever_col_col">
      <origin xyz="-0.11 -0.056 0" rpy="0 1.570796 0"/>
      <geometry>
        <cylinder radius="0.0125" length="0.2"/>
      </geometry>
    </collision>
    <visual name="dog_0_wedge_vis">
      <origin xyz="0.06 0.04 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.1 0.024 0.04"/>
      </geometry>
      <material name="mat_op_steel_painted"/>
    </visual>
    <collision name="dog_0_wedge_col">
      <origin xyz="0.06 0.04 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.1 0.024 0.04"/>
      </geometry>
    </collision>
  </link>
  <link name="dog_1">
    <inertial>
      <origin xyz="0.063207 -0.028461 0" rpy="0 0 0"/>
      <mass value="3.205778"/>
      <inertia ixx="0.00549171" ixy="0.009893136" ixz="0" iyy="0.032037278" iyz="0" izz="0.037030308"/>
    </inertial>
    <visual name="dog_1_lever_vis">
      <origin xyz="0 -0.006 0" rpy="-1.570796 0 3.141593"/>
      <geometry>
        <mesh filename="../../hardware/lever_88a39579f3.obj"/>
      </geometry>
      <material name="mat_op_steel_painted"/>
    </visual>
    <collision name="dog_1_lever_col_col">
      <origin xyz="0.11 -0.056 0" rpy="0 1.570796 0"/>
      <geometry>
        <cylinder radius="0.0125" length="0.2"/>
      </geometry>
    </collision>
    <visual name="dog_1_wedge_vis">
      <origin xyz="-0.06 0.04 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.1 0.024 0.04"/>
      </geometry>
      <material name="mat_op_steel_painted"/>
    </visual>
    <collision name="dog_1_wedge_col">
      <origin xyz="-0.06 0.04 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.1 0.024 0.04"/>
      </geometry>
    </collision>
  </link>
  <link name="dog_2">
    <inertial>
      <origin xyz="-0.063207 -0.028461 0" rpy="0 0 0"/>
      <mass value="3.205778"/>
      <inertia ixx="0.00549171" ixy="-0.009893136" ixz="0" iyy="0.032037278" iyz="0" izz="0.037030308"/>
    </inertial>
    <visual name="dog_2_lever_vis">
      <origin xyz="0 -0.006 0" rpy="1.570796 0 0"/>
      <geometry>
        <mesh filename="../../hardware/lever_88a39579f3.obj"/>
      </geometry>
      <material name="mat_op_steel_painted"/>
    </visual>
    <collision name="dog_2_lever_col_col">
      <origin xyz="-0.11 -0.056 0" rpy="0 1.570796 0"/>
      <geometry>
        <cylinder radius="0.0125" length="0.2"/>
      </geometry>
    </collision>
    <visual name="dog_2_wedge_vis">
      <origin xyz="0.06 0.04 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.1 0.024 0.04"/>
      </geometry>
      <material name="mat_op_steel_painted"/>
    </visual>
    <collision name="dog_2_wedge_col">
      <origin xyz="0.06 0.04 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.1 0.024 0.04"/>
      </geometry>
    </collision>
  </link>
  <link name="dog_3">
    <inertial>
      <origin xyz="0.063207 -0.028461 0" rpy="0 0 0"/>
      <mass value="3.205778"/>
      <inertia ixx="0.00549171" ixy="0.009893136" ixz="0" iyy="0.032037278" iyz="0" izz="0.037030308"/>
    </inertial>
    <visual name="dog_3_lever_vis">
      <origin xyz="0 -0.006 0" rpy="-1.570796 0 3.141593"/>
      <geometry>
        <mesh filename="../../hardware/lever_88a39579f3.obj"/>
      </geometry>
      <material name="mat_op_steel_painted"/>
    </visual>
    <collision name="dog_3_lever_col_col">
      <origin xyz="0.11 -0.056 0" rpy="0 1.570796 0"/>
      <geometry>
        <cylinder radius="0.0125" length="0.2"/>
      </geometry>
    </collision>
    <visual name="dog_3_wedge_vis">
      <origin xyz="-0.06 0.04 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.1 0.024 0.04"/>
      </geometry>
      <material name="mat_op_steel_painted"/>
    </visual>
    <collision name="dog_3_wedge_col">
      <origin xyz="-0.06 0.04 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.1 0.024 0.04"/>
      </geometry>
    </collision>
  </link>
  <link name="dog_4">
    <inertial>
      <origin xyz="-0.063207 -0.028461 0" rpy="0 0 0"/>
      <mass value="3.205778"/>
      <inertia ixx="0.00549171" ixy="-0.009893136" ixz="0" iyy="0.032037278" iyz="0" izz="0.037030308"/>
    </inertial>
    <visual name="dog_4_lever_vis">
      <origin xyz="0 -0.006 0" rpy="1.570796 0 0"/>
      <geometry>
        <mesh filename="../../hardware/lever_88a39579f3.obj"/>
      </geometry>
      <material name="mat_op_steel_painted"/>
    </visual>
    <collision name="dog_4_lever_col_col">
      <origin xyz="-0.11 -0.056 0" rpy="0 1.570796 0"/>
      <geometry>
        <cylinder radius="0.0125" length="0.2"/>
      </geometry>
    </collision>
    <visual name="dog_4_wedge_vis">
      <origin xyz="0.06 0.04 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.1 0.024 0.04"/>
      </geometry>
      <material name="mat_op_steel_painted"/>
    </visual>
    <collision name="dog_4_wedge_col">
      <origin xyz="0.06 0.04 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.1 0.024 0.04"/>
      </geometry>
    </collision>
  </link>
  <link name="dog_5">
    <inertial>
      <origin xyz="0.063207 -0.028461 0" rpy="0 0 0"/>
      <mass value="3.205778"/>
      <inertia ixx="0.00549171" ixy="0.009893136" ixz="0" iyy="0.032037278" iyz="0" izz="0.037030308"/>
    </inertial>
    <visual name="dog_5_lever_vis">
      <origin xyz="0 -0.006 0" rpy="-1.570796 0 3.141593"/>
      <geometry>
        <mesh filename="../../hardware/lever_88a39579f3.obj"/>
      </geometry>
      <material name="mat_op_steel_painted"/>
    </visual>
    <collision name="dog_5_lever_col_col">
      <origin xyz="0.11 -0.056 0" rpy="0 1.570796 0"/>
      <geometry>
        <cylinder radius="0.0125" length="0.2"/>
      </geometry>
    </collision>
    <visual name="dog_5_wedge_vis">
      <origin xyz="-0.06 0.04 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.1 0.024 0.04"/>
      </geometry>
      <material name="mat_op_steel_painted"/>
    </visual>
    <collision name="dog_5_wedge_col">
      <origin xyz="-0.06 0.04 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.1 0.024 0.04"/>
      </geometry>
    </collision>
  </link>
  <link name="dog_6">
    <inertial>
      <origin xyz="-0.063207 -0.028461 0" rpy="0 0 0"/>
      <mass value="3.205778"/>
      <inertia ixx="0.00549171" ixy="-0.009893136" ixz="0" iyy="0.032037278" iyz="0" izz="0.037030308"/>
    </inertial>
    <visual name="dog_6_lever_vis">
      <origin xyz="0 -0.006 0" rpy="1.570796 0 0"/>
      <geometry>
        <mesh filename="../../hardware/lever_88a39579f3.obj"/>
      </geometry>
      <material name="mat_op_steel_painted"/>
    </visual>
    <collision name="dog_6_lever_col_col">
      <origin xyz="-0.11 -0.056 0" rpy="0 1.570796 0"/>
      <geometry>
        <cylinder radius="0.0125" length="0.2"/>
      </geometry>
    </collision>
    <visual name="dog_6_wedge_vis">
      <origin xyz="0.06 0.04 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.1 0.024 0.04"/>
      </geometry>
      <material name="mat_op_steel_painted"/>
    </visual>
    <collision name="dog_6_wedge_col">
      <origin xyz="0.06 0.04 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.1 0.024 0.04"/>
      </geometry>
    </collision>
  </link>
  <link name="dog_7">
    <inertial>
      <origin xyz="0.063207 -0.028461 0" rpy="0 0 0"/>
      <mass value="3.205778"/>
      <inertia ixx="0.00549171" ixy="0.009893136" ixz="0" iyy="0.032037278" iyz="0" izz="0.037030308"/>
    </inertial>
    <visual name="dog_7_lever_vis">
      <origin xyz="0 -0.006 0" rpy="-1.570796 0 3.141593"/>
      <geometry>
        <mesh filename="../../hardware/lever_88a39579f3.obj"/>
      </geometry>
      <material name="mat_op_steel_painted"/>
    </visual>
    <collision name="dog_7_lever_col_col">
      <origin xyz="0.11 -0.056 0" rpy="0 1.570796 0"/>
      <geometry>
        <cylinder radius="0.0125" length="0.2"/>
      </geometry>
    </collision>
    <visual name="dog_7_wedge_vis">
      <origin xyz="-0.06 0.04 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.1 0.024 0.04"/>
      </geometry>
      <material name="mat_op_steel_painted"/>
    </visual>
    <collision name="dog_7_wedge_col">
      <origin xyz="-0.06 0.04 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.1 0.024 0.04"/>
      </geometry>
    </collision>
  </link>
  <joint name="leaf_hinge" type="revolute">
    <origin xyz="-0.36 -0.026 0.3" rpy="0 0 0"/>
    <parent link="world_env"/>
    <child link="leaf"/>
    <axis xyz="0 0 -1"/>
    <limit lower="0" upper="2.617994" effort="2000" velocity="10"/>
    <dynamics damping="0.111253" friction="15.925945"/>
    <doorbench:closer damping_closing="0" damping_opening="0" backcheck_angle="0" backcheck_damping="0"/>
  </joint>
  <joint name="dog_0_hinge" type="revolute">
    <origin xyz="0.624 0.026 0.3875" rpy="0 0 0"/>
    <parent link="leaf"/>
    <child link="dog_0"/>
    <axis xyz="0 -1 0"/>
    <limit lower="0" upper="1.5708" effort="2000" velocity="10"/>
    <dynamics damping="0.5" friction="1.5"/>
  </joint>
  <joint name="dog_1_hinge" type="revolute">
    <origin xyz="0.094 0.026 0.3875" rpy="0 0 0"/>
    <parent link="leaf"/>
    <child link="dog_1"/>
    <axis xyz="0 1 0"/>
    <limit lower="0" upper="1.5708" effort="2000" velocity="10"/>
    <dynamics damping="0.5" friction="1.5"/>
  </joint>
  <joint name="dog_2_hinge" type="revolute">
    <origin xyz="0.624 0.026 0.7625" rpy="0 0 0"/>
    <parent link="leaf"/>
    <child link="dog_2"/>
    <axis xyz="0 -1 0"/>
    <limit lower="0" upper="1.5708" effort="2000" velocity="10"/>
    <dynamics damping="0.5" friction="1.5"/>
  </joint>
  <joint name="dog_3_hinge" type="revolute">
    <origin xyz="0.094 0.026 0.7625" rpy="0 0 0"/>
    <parent link="leaf"/>
    <child link="dog_3"/>
    <axis xyz="0 1 0"/>
    <limit lower="0" upper="1.5708" effort="2000" velocity="10"/>
    <dynamics damping="0.5" friction="1.5"/>
  </joint>
  <joint name="dog_4_hinge" type="revolute">
    <origin xyz="0.624 0.026 1.1375" rpy="0 0 0"/>
    <parent link="leaf"/>
    <child link="dog_4"/>
    <axis xyz="0 -1 0"/>
    <limit lower="0" upper="1.5708" effort="2000" velocity="10"/>
    <dynamics damping="0.5" friction="1.5"/>
  </joint>
  <joint name="dog_5_hinge" type="revolute">
    <origin xyz="0.094 0.026 1.1375" rpy="0 0 0"/>
    <parent link="leaf"/>
    <child link="dog_5"/>
    <axis xyz="0 1 0"/>
    <limit lower="0" upper="1.5708" effort="2000" velocity="10"/>
    <dynamics damping="0.5" friction="1.5"/>
  </joint>
  <joint name="dog_6_hinge" type="revolute">
    <origin xyz="0.624 0.026 1.5125" rpy="0 0 0"/>
    <parent link="leaf"/>
    <child link="dog_6"/>
    <axis xyz="0 -1 0"/>
    <limit lower="0" upper="1.5708" effort="2000" velocity="10"/>
    <dynamics damping="0.5" friction="1.5"/>
  </joint>
  <joint name="dog_7_hinge" type="revolute">
    <origin xyz="0.094 0.026 1.5125" rpy="0 0 0"/>
    <parent link="leaf"/>
    <child link="dog_7"/>
    <axis xyz="0 1 0"/>
    <limit lower="0" upper="1.5708" effort="2000" velocity="10"/>
    <dynamics damping="0.5" friction="1.5"/>
  </joint>
  <material name="mat_floor">
    <color rgba="0.55 0.53 0.5 1"/>
  </material>
  <material name="mat_frame">
    <color rgba="0.45 0.48 0.52 1"/>
  </material>
  <material name="mat_gasket">
    <color rgba="0.08 0.08 0.08 1"/>
  </material>
  <material name="mat_hinge">
    <color rgba="0.65 0.66 0.68 1"/>
  </material>
  <material name="mat_leaf">
    <color rgba="0.5 0.51 0.53 1"/>
  </material>
  <material name="mat_op_steel_painted">
    <color rgba="0.45 0.48 0.52 1"/>
  </material>
  <material name="mat_wall">
    <color rgba="0.78 0.76 0.7 1"/>
  </material>
</robot>
