<?xml version="1.0" ?>
<robot xmlns:doorbench="https://github.com/adamraudonis/DoorBench/schema/urdf-ext" name="db0552_revolving_full">
  <link name="world_env">
    <visual name="floor_vis">
      <origin xyz="0 0 -0.05" rpy="0 0 0"/>
      <geometry>
        <box size="12 12 0.1"/>
      </geometry>
      <material name="mat_floor"/>
    </visual>
    <collision name="floor_col">
      <origin xyz="0 0 -0.05" rpy="0 0 0"/>
      <geometry>
        <box size="12 12 0.1"/>
      </geometry>
    </collision>
    <visual name="wall_left_vis">
      <origin xyz="-1.975 0 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="2.05 0.3 3"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_left_col">
      <origin xyz="-1.975 0 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="2.05 0.3 3"/>
      </geometry>
    </collision>
    <visual name="wall_right_vis">
      <origin xyz="1.975 0 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="2.05 0.3 3"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_right_col">
      <origin xyz="1.975 0 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="2.05 0.3 3"/>
      </geometry>
    </collision>
    <visual name="wall_header_vis">
      <origin xyz="0 0 2.75" rpy="0 0 0"/>
      <geometry>
        <box size="1.9 0.3 0.5"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_header_col">
      <origin xyz="0 0 2.75" rpy="0 0 0"/>
      <geometry>
        <box size="1.9 0.3 0.5"/>
      </geometry>
    </collision>
    <visual name="drum_0_vis">
      <origin xyz="0.914215 0.103007 1.25" rpy="0 0 1.682996"/>
      <geometry>
        <box size="0.210448 0.012 2.5"/>
      </geometry>
      <material name="mat_drum_glass"/>
    </visual>
    <collision name="drum_0_col">
      <origin xyz="0.914215 0.103007 1.25" rpy="0 0 1.682996"/>
      <geometry>
        <box size="0.210448 0.012 2.5"/>
      </geometry>
    </collision>
    <visual name="drum_1_vis">
      <origin xyz="0.868373 0.303857 1.25" rpy="0 0 1.907396"/>
      <geometry>
        <box size="0.210448 0.012 2.5"/>
      </geometry>
      <material name="mat_drum_glass"/>
    </visual>
    <collision name="drum_1_col">
      <origin xyz="0.868373 0.303857 1.25" rpy="0 0 1.907396"/>
      <geometry>
        <box size="0.210448 0.012 2.5"/>
      </geometry>
    </collision>
    <visual name="drum_2_vis">
      <origin xyz="0.778986 0.48947 1.25" rpy="0 0 2.131795"/>
      <geometry>
        <box size="0.210448 0.012 2.5"/>
      </geometry>
      <material name="mat_drum_glass"/>
    </visual>
    <collision name="drum_2_col">
      <origin xyz="0.778986 0.48947 1.25" rpy="0 0 2.131795"/>
      <geometry>
        <box size="0.210448 0.012 2.5"/>
      </geometry>
    </collision>
    <visual name="drum_3_vis">
      <origin xyz="0.650538 0.650538 1.25" rpy="0 0 2.356194"/>
      <geometry>
        <box size="0.210448 0.012 2.5"/>
      </geometry>
      <material name="mat_drum_glass"/>
    </visual>
    <collision name="drum_3_col">
      <origin xyz="0.650538 0.650538 1.25" rpy="0 0 2.356194"/>
      <geometry>
        <box size="0.210448 0.012 2.5"/>
      </geometry>
    </collision>
    <visual name="drum_10_vis">
      <origin xyz="-0.650538 0.650538 1.25" rpy="0 0 -2.356194"/>
      <geometry>
        <box size="0.210448 0.012 2.5"/>
      </geometry>
      <material name="mat_drum_glass"/>
    </visual>
    <collision name="drum_10_col">
      <origin xyz="-0.650538 0.650538 1.25" rpy="0 0 -2.356194"/>
      <geometry>
        <box size="0.210448 0.012 2.5"/>
      </geometry>
    </collision>
    <visual name="drum_11_vis">
      <origin xyz="-0.778986 0.48947 1.25" rpy="0 0 -2.131795"/>
      <geometry>
        <box size="0.210448 0.012 2.5"/>
      </geometry>
      <material name="mat_drum_glass"/>
    </visual>
    <collision name="drum_11_col">
      <origin xyz="-0.778986 0.48947 1.25" rpy="0 0 -2.131795"/>
      <geometry>
        <box size="0.210448 0.012 2.5"/>
      </geometry>
    </collision>
    <visual name="drum_12_vis">
      <origin xyz="-0.868373 0.303857 1.25" rpy="0 0 -1.907396"/>
      <geometry>
        <box size="0.210448 0.012 2.5"/>
      </geometry>
      <material name="mat_drum_glass"/>
    </visual>
    <collision name="drum_12_col">
      <origin xyz="-0.868373 0.303857 1.25" rpy="0 0 -1.907396"/>
      <geometry>
        <box size="0.210448 0.012 2.5"/>
      </geometry>
    </collision>
    <visual name="drum_13_vis">
      <origin xyz="-0.914215 0.103007 1.25" rpy="0 0 -1.682996"/>
      <geometry>
        <box size="0.210448 0.012 2.5"/>
      </geometry>
      <material name="mat_drum_glass"/>
    </visual>
    <collision name="drum_13_col">
      <origin xyz="-0.914215 0.103007 1.25" rpy="0 0 -1.682996"/>
      <geometry>
        <box size="0.210448 0.012 2.5"/>
      </geometry>
    </collision>
    <visual name="drum_14_vis">
      <origin xyz="-0.914215 -0.103007 1.25" rpy="0 0 -1.458597"/>
      <geometry>
        <box size="0.210448 0.012 2.5"/>
      </geometry>
      <material name="mat_drum_glass"/>
    </visual>
    <collision name="drum_14_col">
      <origin xyz="-0.914215 -0.103007 1.25" rpy="0 0 -1.458597"/>
      <geometry>
        <box size="0.210448 0.012 2.5"/>
      </geometry>
    </collision>
    <visual name="drum_15_vis">
      <origin xyz="-0.868373 -0.303857 1.25" rpy="0 0 -1.234197"/>
      <geometry>
        <box size="0.210448 0.012 2.5"/>
      </geometry>
      <material name="mat_drum_glass"/>
    </visual>
    <collision name="drum_15_col">
      <origin xyz="-0.868373 -0.303857 1.25" rpy="0 0 -1.234197"/>
      <geometry>
        <box size="0.210448 0.012 2.5"/>
      </geometry>
    </collision>
    <visual name="drum_16_vis">
      <origin xyz="-0.778986 -0.48947 1.25" rpy="0 0 -1.009798"/>
      <geometry>
        <box size="0.210448 0.012 2.5"/>
      </geometry>
      <material name="mat_drum_glass"/>
    </visual>
    <collision name="drum_16_col">
      <origin xyz="-0.778986 -0.48947 1.25" rpy="0 0 -1.009798"/>
      <geometry>
        <box size="0.210448 0.012 2.5"/>
      </geometry>
    </collision>
    <visual name="drum_17_vis">
      <origin xyz="-0.650538 -0.650538 1.25" rpy="0 0 -0.785398"/>
      <geometry>
        <box size="0.210448 0.012 2.5"/>
      </geometry>
      <material name="mat_drum_glass"/>
    </visual>
    <collision name="drum_17_col">
      <origin xyz="-0.650538 -0.650538 1.25" rpy="0 0 -0.785398"/>
      <geometry>
        <box size="0.210448 0.012 2.5"/>
      </geometry>
    </collision>
    <visual name="drum_24_vis">
      <origin xyz="0.650538 -0.650538 1.25" rpy="0 0 0.785398"/>
      <geometry>
        <box size="0.210448 0.012 2.5"/>
      </geometry>
      <material name="mat_drum_glass"/>
    </visual>
    <collision name="drum_24_col">
      <origin xyz="0.650538 -0.650538 1.25" rpy="0 0 0.785398"/>
      <geometry>
        <box size="0.210448 0.012 2.5"/>
      </geometry>
    </collision>
    <visual name="drum_25_vis">
      <origin xyz="0.778986 -0.48947 1.25" rpy="0 0 1.009798"/>
      <geometry>
        <box size="0.210448 0.012 2.5"/>
      </geometry>
      <material name="mat_drum_glass"/>
    </visual>
    <collision name="drum_25_col">
      <origin xyz="0.778986 -0.48947 1.25" rpy="0 0 1.009798"/>
      <geometry>
        <box size="0.210448 0.012 2.5"/>
      </geometry>
    </collision>
    <visual name="drum_26_vis">
      <origin xyz="0.868373 -0.303857 1.25" rpy="0 0 1.234197"/>
      <geometry>
        <box size="0.210448 0.012 2.5"/>
      </geometry>
      <material name="mat_drum_glass"/>
    </visual>
    <collision name="drum_26_col">
      <origin xyz="0.868373 -0.303857 1.25" rpy="0 0 1.234197"/>
      <geometry>
        <box size="0.210448 0.012 2.5"/>
      </geometry>
    </collision>
    <visual name="drum_27_vis">
      <origin xyz="0.914215 -0.103007 1.25" rpy="0 0 1.458597"/>
      <geometry>
        <box size="0.210448 0.012 2.5"/>
      </geometry>
      <material name="mat_drum_glass"/>
    </visual>
    <collision name="drum_27_col">
      <origin xyz="0.914215 -0.103007 1.25" rpy="0 0 1.458597"/>
      <geometry>
        <box size="0.210448 0.012 2.5"/>
      </geometry>
    </collision>
    <visual name="drum_canopy_vis">
      <origin xyz="0 0 2.6" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.98" length="0.2"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="drum_canopy_col">
      <origin xyz="0 0 2.6" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.98" length="0.2"/>
      </geometry>
    </collision>
    <visual name="drum_floor_ring_vis">
      <origin xyz="0 0 0.003" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.98" length="0.006"/>
      </geometry>
      <material name="mat_floor_ring"/>
    </visual>
  </link>
  <link name="rotor">
    <inertial>
      <origin xyz="0 0 1.250573" rpy="0 0 0"/>
      <mass value="448.740939"/>
      <inertia ixx="359.435816867" ixy="0" ixz="0" iyy="359.435816867" iyz="0" izz="130.00109661"/>
    </inertial>
    <visual name="rotor_shaft_vis">
      <origin xyz="0 0 1.255" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.06" length="2.49"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="rotor_shaft_col">
      <origin xyz="0 0 1.255" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.06" length="2.49"/>
      </geometry>
    </collision>
    <visual name="wing_0_glass_vis">
      <origin xyz="0.45 0 1.25" rpy="0 0 0"/>
      <geometry>
        <box size="0.86 0.01 2.3"/>
      </geometry>
      <material name="mat_drum_glass"/>
    </visual>
    <collision name="wing_0_glass_col">
      <origin xyz="0.45 0 1.25" rpy="0 0 0"/>
      <geometry>
        <box size="0.86 0.01 2.3"/>
      </geometry>
    </collision>
    <visual name="wing_0_stile_vis">
      <origin xyz="0.88 0 1.255" rpy="0 0 0"/>
      <geometry>
        <box size="0.04 0.06 2.49"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="wing_0_stile_col">
      <origin xyz="0.88 0 1.255" rpy="0 0 0"/>
      <geometry>
        <box size="0.04 0.06 2.49"/>
      </geometry>
    </collision>
    <visual name="wing_0_rail_b_vis">
      <origin xyz="0.43 0 0.06" rpy="0 0 0"/>
      <geometry>
        <box size="0.86 0.06 0.08"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="wing_0_rail_b_col">
      <origin xyz="0.43 0 0.06" rpy="0 0 0"/>
      <geometry>
        <box size="0.86 0.06 0.08"/>
      </geometry>
    </collision>
    <visual name="wing_0_rail_t_vis">
      <origin xyz="0.43 0 2.43" rpy="0 0 0"/>
      <geometry>
        <box size="0.86 0.06 0.08"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="wing_0_rail_t_col">
      <origin xyz="0.43 0 2.43" rpy="0 0 0"/>
      <geometry>
        <box size="0.86 0.06 0.08"/>
      </geometry>
    </collision>
    <visual name="wing_1_glass_vis">
      <origin xyz="0 0.45 1.25" rpy="0 0 1.570796"/>
      <geometry>
        <box size="0.86 0.01 2.3"/>
      </geometry>
      <material name="mat_drum_glass"/>
    </visual>
    <collision name="wing_1_glass_col">
      <origin xyz="0 0.45 1.25" rpy="0 0 1.570796"/>
      <geometry>
        <box size="0.86 0.01 2.3"/>
      </geometry>
    </collision>
    <visual name="wing_1_stile_vis">
      <origin xyz="0 0.88 1.255" rpy="0 0 1.570796"/>
      <geometry>
        <box size="0.04 0.06 2.49"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="wing_1_stile_col">
      <origin xyz="0 0.88 1.255" rpy="0 0 1.570796"/>
      <geometry>
        <box size="0.04 0.06 2.49"/>
      </geometry>
    </collision>
    <visual name="wing_1_rail_b_vis">
      <origin xyz="0 0.43 0.06" rpy="0 0 1.570796"/>
      <geometry>
        <box size="0.86 0.06 0.08"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="wing_1_rail_b_col">
      <origin xyz="0 0.43 0.06" rpy="0 0 1.570796"/>
      <geometry>
        <box size="0.86 0.06 0.08"/>
      </geometry>
    </collision>
    <visual name="wing_1_rail_t_vis">
      <origin xyz="0 0.43 2.43" rpy="0 0 1.570796"/>
      <geometry>
        <box size="0.86 0.06 0.08"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="wing_1_rail_t_col">
      <origin xyz="0 0.43 2.43" rpy="0 0 1.570796"/>
      <geometry>
        <box size="0.86 0.06 0.08"/>
      </geometry>
    </collision>
    <visual name="wing_2_glass_vis">
      <origin xyz="-0.45 0 1.25" rpy="0 0 3.141593"/>
      <geometry>
        <box size="0.86 0.01 2.3"/>
      </geometry>
      <material name="mat_drum_glass"/>
    </visual>
    <collision name="wing_2_glass_col">
      <origin xyz="-0.45 0 1.25" rpy="0 0 3.141593"/>
      <geometry>
        <box size="0.86 0.01 2.3"/>
      </geometry>
    </collision>
    <visual name="wing_2_stile_vis">
      <origin xyz="-0.88 0 1.255" rpy="0 0 3.141593"/>
      <geometry>
        <box size="0.04 0.06 2.49"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="wing_2_stile_col">
      <origin xyz="-0.88 0 1.255" rpy="0 0 3.141593"/>
      <geometry>
        <box size="0.04 0.06 2.49"/>
      </geometry>
    </collision>
    <visual name="wing_2_rail_b_vis">
      <origin xyz="-0.43 0 0.06" rpy="0 0 3.141593"/>
      <geometry>
        <box size="0.86 0.06 0.08"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="wing_2_rail_b_col">
      <origin xyz="-0.43 0 0.06" rpy="0 0 3.141593"/>
      <geometry>
        <box size="0.86 0.06 0.08"/>
      </geometry>
    </collision>
    <visual name="wing_2_rail_t_vis">
      <origin xyz="-0.43 0 2.43" rpy="0 0 3.141593"/>
      <geometry>
        <box size="0.86 0.06 0.08"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="wing_2_rail_t_col">
      <origin xyz="-0.43 0 2.43" rpy="0 0 3.141593"/>
      <geometry>
        <box size="0.86 0.06 0.08"/>
      </geometry>
    </collision>
    <visual name="wing_3_glass_vis">
      <origin xyz="0 -0.45 1.25" rpy="0 0 -1.570796"/>
      <geometry>
        <box size="0.86 0.01 2.3"/>
      </geometry>
      <material name="mat_drum_glass"/>
    </visual>
    <collision name="wing_3_glass_col">
      <origin xyz="0 -0.45 1.25" rpy="0 0 -1.570796"/>
      <geometry>
        <box size="0.86 0.01 2.3"/>
      </geometry>
    </collision>
    <visual name="wing_3_stile_vis">
      <origin xyz="0 -0.88 1.255" rpy="0 0 -1.570796"/>
      <geometry>
        <box size="0.04 0.06 2.49"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="wing_3_stile_col">
      <origin xyz="0 -0.88 1.255" rpy="0 0 -1.570796"/>
      <geometry>
        <box size="0.04 0.06 2.49"/>
      </geometry>
    </collision>
    <visual name="wing_3_rail_b_vis">
      <origin xyz="0 -0.43 0.06" rpy="0 0 -1.570796"/>
      <geometry>
        <box size="0.86 0.06 0.08"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="wing_3_rail_b_col">
      <origin xyz="0 -0.43 0.06" rpy="0 0 -1.570796"/>
      <geometry>
        <box size="0.86 0.06 0.08"/>
      </geometry>
    </collision>
    <visual name="wing_3_rail_t_vis">
      <origin xyz="0 -0.43 2.43" rpy="0 0 -1.570796"/>
      <geometry>
        <box size="0.86 0.06 0.08"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="wing_3_rail_t_col">
      <origin xyz="0 -0.43 2.43" rpy="0 0 -1.570796"/>
      <geometry>
        <box size="0.86 0.06 0.08"/>
      </geometry>
    </collision>
  </link>
  <joint name="rotor_hinge" type="continuous">
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <parent link="world_env"/>
    <child link="rotor"/>
    <axis xyz="0 0 1"/>
    <dynamics damping="23" friction="3.002352"/>
  </joint>
  <material name="mat_drum_glass">
    <color rgba="0.85 0.92 0.95 0.25"/>
  </material>
  <material name="mat_floor">
    <color rgba="0.55 0.53 0.5 1"/>
  </material>
  <material name="mat_floor_ring">
    <color rgba="0.75 0.76 0.77 1"/>
  </material>
  <material name="mat_frame">
    <color rgba="0.22 0.17 0.13 1"/>
  </material>
  <material name="mat_wall">
    <color rgba="0.78 0.76 0.7 1"/>
  </material>
</robot>
