<?xml version="1.0" ?>
<robot xmlns:doorbench="https://github.com/adamraudonis/DoorBench/schema/urdf-ext" name="db0526_swing_single_full">
  <link name="world_env">
    <visual name="floor_vis">
      <origin xyz="0 0 -0.05" rpy="0 0 0"/>
      <geometry>
        <box size="12 12 0.1"/>
      </geometry>
      <material name="mat_floor"/>
    </visual>
    <collision name="floor_col">
      <origin xyz="0 0 -0.05" rpy="0 0 0"/>
      <geometry>
        <box size="12 12 0.1"/>
      </geometry>
    </collision>
    <visual name="wall_left_vis">
      <origin xyz="-1.47975 0.058 1.35" rpy="0 0 0"/>
      <geometry>
        <box size="2.0405 0.2 2.7"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_left_col">
      <origin xyz="-1.47975 0.058 1.35" rpy="0 0 0"/>
      <geometry>
        <box size="2.0405 0.2 2.7"/>
      </geometry>
    </collision>
    <visual name="wall_right_vis">
      <origin xyz="1.46475 0.058 1.35" rpy="0 0 0"/>
      <geometry>
        <box size="2.0705 0.2 2.7"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_right_col">
      <origin xyz="1.46475 0.058 1.35" rpy="0 0 0"/>
      <geometry>
        <box size="2.0705 0.2 2.7"/>
      </geometry>
    </collision>
    <visual name="wall_header_vis">
      <origin xyz="-0.015 0.058 2.397" rpy="0 0 0"/>
      <geometry>
        <box size="0.889 0.2 0.606"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_header_col">
      <origin xyz="-0.015 0.058 2.397" rpy="0 0 0"/>
      <geometry>
        <box size="0.889 0.2 0.606"/>
      </geometry>
    </collision>
    <visual name="hinge_0_jamb_vis">
      <origin xyz="0.4075 -0.029 0.267" rpy="3.141593 0 3.141593"/>
      <geometry>
        <mesh filename="../../hardware/hinge_jamb_e1d088f8dc.obj"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="hinge_1_jamb_vis">
      <origin xyz="0.4075 -0.029 1.029" rpy="3.141593 0 3.141593"/>
      <geometry>
        <mesh filename="../../hardware/hinge_jamb_e1d088f8dc.obj"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="hinge_2_jamb_vis">
      <origin xyz="0.4075 -0.029 1.861" rpy="3.141593 0 3.141593"/>
      <geometry>
        <mesh filename="../../hardware/hinge_jamb_e1d088f8dc.obj"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="jamb_hinge_vis">
      <origin xyz="0.42 0.058 1.0225" rpy="0 0 0"/>
      <geometry>
        <box size="0.019 0.2 2.045"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_hinge_col">
      <origin xyz="0.42 0.058 1.0225" rpy="0 0 0"/>
      <geometry>
        <box size="0.019 0.2 2.045"/>
      </geometry>
    </collision>
    <visual name="strike_914_wall_n_vis">
      <origin xyz="-0.435 0.082925 0.914" rpy="0 0 0"/>
      <geometry>
        <box size="0.049 0.15015 0.0334"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="strike_914_wall_n_col">
      <origin xyz="-0.435 0.082925 0.914" rpy="0 0 0"/>
      <geometry>
        <box size="0.049 0.15015 0.0334"/>
      </geometry>
    </collision>
    <visual name="strike_914_wall_p_vis">
      <origin xyz="-0.435 -0.01585 0.914" rpy="0 0 0"/>
      <geometry>
        <box size="0.049 0.016 0.0334"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="strike_914_wall_p_col">
      <origin xyz="-0.435 -0.01585 0.914" rpy="0 0 0"/>
      <geometry>
        <box size="0.049 0.016 0.0334"/>
      </geometry>
    </collision>
    <visual name="strike_914_ramp_vis">
      <origin xyz="-0.440408 -0.034645 0.914" rpy="0 0 -0.344766"/>
      <geometry>
        <box size="0.049 0.040535 0.0334"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="strike_914_ramp_col">
      <origin xyz="-0.440408 -0.034645 0.914" rpy="0 0 -0.344766"/>
      <geometry>
        <box size="0.049 0.040535 0.0334"/>
      </geometry>
    </collision>
    <visual name="strike_914_back_vis">
      <origin xyz="-0.44335 0 0.914" rpy="0 0 0"/>
      <geometry>
        <box size="0.0323 0.0157 0.0334"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="strike_914_back_col">
      <origin xyz="-0.44335 0 0.914" rpy="0 0 0"/>
      <geometry>
        <box size="0.0323 0.0157 0.0334"/>
      </geometry>
    </collision>
    <visual name="jamb_strike_0_vis">
      <origin xyz="-0.435 0.058 0.44865" rpy="0 0 0"/>
      <geometry>
        <box size="0.049 0.2 0.8973"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_strike_0_col">
      <origin xyz="-0.435 0.058 0.44865" rpy="0 0 0"/>
      <geometry>
        <box size="0.049 0.2 0.8973"/>
      </geometry>
    </collision>
    <visual name="jamb_strike_1_vis">
      <origin xyz="-0.435 0.058 1.48785" rpy="0 0 0"/>
      <geometry>
        <box size="0.049 0.2 1.1143"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_strike_1_col">
      <origin xyz="-0.435 0.058 1.48785" rpy="0 0 0"/>
      <geometry>
        <box size="0.049 0.2 1.1143"/>
      </geometry>
    </collision>
    <visual name="jamb_head_vis">
      <origin xyz="-0.015 0.058 2.0545" rpy="0 0 0"/>
      <geometry>
        <box size="0.889 0.2 0.019"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_head_col">
      <origin xyz="-0.015 0.058 2.0545" rpy="0 0 0"/>
      <geometry>
        <box size="0.889 0.2 0.019"/>
      </geometry>
    </collision>
    <visual name="head_stud_vis">
      <origin xyz="-0.015 0.058 2.079" rpy="0 0 0"/>
      <geometry>
        <box size="0.889 0.2 0.03"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="head_stud_col">
      <origin xyz="-0.015 0.058 2.079" rpy="0 0 0"/>
      <geometry>
        <box size="0.889 0.2 0.03"/>
      </geometry>
    </collision>
    <visual name="stop_hinge_vis">
      <origin xyz="0.405 0.0385 1.0225" rpy="0 0 0"/>
      <geometry>
        <box size="0.011 0.032 2.045"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="stop_hinge_col">
      <origin xyz="0.405 0.0385 1.0225" rpy="0 0 0"/>
      <geometry>
        <box size="0.011 0.032 2.045"/>
      </geometry>
    </collision>
    <visual name="stop_strike_vis">
      <origin xyz="-0.405 0.0385 1.0225" rpy="0 0 0"/>
      <geometry>
        <box size="0.011 0.032 2.045"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="stop_strike_col">
      <origin xyz="-0.405 0.0385 1.0225" rpy="0 0 0"/>
      <geometry>
        <box size="0.011 0.032 2.045"/>
      </geometry>
    </collision>
    <visual name="stop_head_vis">
      <origin xyz="0 0.0385 2.0395" rpy="0 0 0"/>
      <geometry>
        <box size="0.821 0.032 0.011"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="stop_head_col">
      <origin xyz="0 0.0385 2.0395" rpy="0 0 0"/>
      <geometry>
        <box size="0.821 0.032 0.011"/>
      </geometry>
    </collision>
    <visual name="seal_hinge_vis">
      <origin xyz="0.4075 0.025 1.0225" rpy="0 0 0"/>
      <geometry>
        <box size="0.008 0.006 2.045"/>
      </geometry>
      <material name="mat_seal"/>
    </visual>
    <visual name="seal_strike_vis">
      <origin xyz="-0.4075 0.025 1.0225" rpy="0 0 0"/>
      <geometry>
        <box size="0.008 0.006 2.045"/>
      </geometry>
      <material name="mat_seal"/>
    </visual>
    <visual name="seal_head_vis">
      <origin xyz="0 0.025 2.033" rpy="0 0 0"/>
      <geometry>
        <box size="0.781 0.006 0.016"/>
      </geometry>
      <material name="mat_seal"/>
    </visual>
    <visual name="casing_l_n_vis">
      <origin xyz="-0.4595 -0.05 1.0225" rpy="0 0 0"/>
      <geometry>
        <box size="0.07 0.016 2.064"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <visual name="casing_r_n_vis">
      <origin xyz="0.4595 -0.05 1.0225" rpy="0 0 0"/>
      <geometry>
        <box size="0.07 0.016 2.064"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <visual name="casing_h_n_vis">
      <origin xyz="0 -0.05 2.094" rpy="0 0 0"/>
      <geometry>
        <box size="0.989 0.016 0.07"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <visual name="casing_l_p_vis">
      <origin xyz="-0.4595 0.166 1.0225" rpy="0 0 0"/>
      <geometry>
        <box size="0.07 0.016 2.064"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <visual name="casing_r_p_vis">
      <origin xyz="0.4595 0.166 1.0225" rpy="0 0 0"/>
      <geometry>
        <box size="0.07 0.016 2.064"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <visual name="casing_h_p_vis">
      <origin xyz="0 0.166 2.094" rpy="0 0 0"/>
      <geometry>
        <box size="0.989 0.016 0.07"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <visual name="threshold_vis">
      <origin xyz="0 0.058 0.0065" rpy="0 0 0"/>
      <geometry>
        <box size="0.859 0.2 0.013"/>
      </geometry>
      <material name="mat_threshold"/>
    </visual>
    <collision name="threshold_col">
      <origin xyz="0 0.058 0.0065" rpy="0 0 0"/>
      <geometry>
        <box size="0.859 0.2 0.013"/>
      </geometry>
    </collision>
  </link>
  <link name="leaf">
    <inertial>
      <origin xyz="-0.399273 0.022537 0.991011" rpy="0 0 0"/>
      <mass value="21.143085"/>
      <inertia ixx="7.620931793" ixy="-0.000245429" ixz="-0.011961079" iyy="8.716319351" iyz="0.068261271" izz="1.11884902"/>
    </inertial>
    <visual name="leaf_slab_below_vis">
      <origin xyz="-0.4065 0.029 0.0415" rpy="0 0 0"/>
      <geometry>
        <box size="0.813 0.044 0.049"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <collision name="leaf_slab_below_col">
      <origin xyz="-0.4065 0.029 0.0415" rpy="0 0 0"/>
      <geometry>
        <box size="0.813 0.044 0.049"/>
      </geometry>
    </collision>
    <visual name="leaf_slab_above_vis">
      <origin xyz="-0.4065 0.029 1.2345" rpy="0 0 0"/>
      <geometry>
        <box size="0.813 0.044 1.613"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <collision name="leaf_slab_above_col">
      <origin xyz="-0.4065 0.029 1.2345" rpy="0 0 0"/>
      <geometry>
        <box size="0.813 0.044 1.613"/>
      </geometry>
    </collision>
    <visual name="leaf_slab_left_vis">
      <origin xyz="-0.65525 0.029 0.247" rpy="0 0 0"/>
      <geometry>
        <box size="0.3155 0.044 0.362"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <collision name="leaf_slab_left_col">
      <origin xyz="-0.65525 0.029 0.247" rpy="0 0 0"/>
      <geometry>
        <box size="0.3155 0.044 0.362"/>
      </geometry>
    </collision>
    <visual name="leaf_slab_right_vis">
      <origin xyz="-0.15775 0.029 0.247" rpy="0 0 0"/>
      <geometry>
        <box size="0.3155 0.044 0.362"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <collision name="leaf_slab_right_col">
      <origin xyz="-0.15775 0.029 0.247" rpy="0 0 0"/>
      <geometry>
        <box size="0.3155 0.044 0.362"/>
      </geometry>
    </collision>
    <visual name="leaf_glass_0_vis">
      <origin xyz="-0.4065 0.029 1.50464" rpy="0 0 0"/>
      <geometry>
        <box size="0.633 0.0456 0.87032"/>
      </geometry>
      <material name="mat_glass"/>
    </visual>
    <visual name="hinge_0_vis">
      <origin xyz="0 0 0.267" rpy="3.141593 0 3.141593"/>
      <geometry>
        <mesh filename="../../hardware/hinge_e22b26c0c1.obj"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="hinge_1_vis">
      <origin xyz="0 0 1.029" rpy="3.141593 0 3.141593"/>
      <geometry>
        <mesh filename="../../hardware/hinge_e22b26c0c1.obj"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="hinge_2_vis">
      <origin xyz="0 0 1.861" rpy="3.141593 0 3.141593"/>
      <geometry>
        <mesh filename="../../hardware/hinge_e22b26c0c1.obj"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="leaf_handle_keypad_body_vis">
      <origin xyz="-0.743 0.007 1.034" rpy="-1.570796 0 3.141593"/>
      <geometry>
        <mesh filename="../../hardware/keypad_body_4e81d77325.obj"/>
      </geometry>
      <material name="mat_keypad"/>
    </visual>
    <collision name="leaf_handle_keypad_body_col">
      <origin xyz="-0.743 0.007 1.034" rpy="-1.570796 0 3.141593"/>
      <geometry>
        <mesh filename="../../hardware/keypad_body_4e81d77325.obj"/>
      </geometry>
    </collision>
    <visual name="peephole_vis">
      <origin xyz="-0.4065 0.007 1.517" rpy="-1.570796 0 3.141593"/>
      <geometry>
        <mesh filename="../../hardware/peephole_f829311a59.obj"/>
      </geometry>
      <material name="mat_peephole"/>
    </visual>
    <visual name="house_numbers_vis">
      <origin xyz="-0.4065 0.007 1.691" rpy="-1.570796 0 3.141593"/>
      <geometry>
        <mesh filename="../../hardware/house_numbers_ad0a8e8be0.obj"/>
      </geometry>
      <material name="mat_numbers"/>
    </visual>
    <visual name="wreath_vis">
      <origin xyz="-0.4065 0.007 1.59572" rpy="-1.570796 0 3.141593"/>
      <geometry>
        <mesh filename="../../hardware/wreath_86a3f1bf8b.obj"/>
      </geometry>
      <material name="mat_wreath"/>
    </visual>
    <visual name="pet_frame_top_vis">
      <origin xyz="-0.4065 0.029 0.447" rpy="0 0 0"/>
      <geometry>
        <box size="0.26 0.056 0.04"/>
      </geometry>
      <material name="mat_petframe"/>
    </visual>
    <visual name="pet_frame_l_vis">
      <origin xyz="-0.5165 0.029 0.247" rpy="0 0 0"/>
      <geometry>
        <box size="0.04 0.056 0.44"/>
      </geometry>
      <material name="mat_petframe"/>
    </visual>
    <visual name="pet_frame_r_vis">
      <origin xyz="-0.2965 0.029 0.247" rpy="0 0 0"/>
      <geometry>
        <box size="0.04 0.056 0.44"/>
      </geometry>
      <material name="mat_petframe"/>
    </visual>
  </link>
  <link name="leaf_handle">
    <inertial>
      <origin xyz="0.023919 0 0" rpy="0 0 0"/>
      <mass value="0.857288"/>
      <inertia ixx="0.003244845" ixy="0" ixz="0" iyy="0.001221814" iyz="0" izz="0.004300836"/>
    </inertial>
    <visual name="leaf_handle_spindle_vis">
      <origin xyz="0 0 0" rpy="-1.570796 0 0"/>
      <geometry>
        <cylinder radius="0.006" length="0.042"/>
      </geometry>
      <material name="mat_op_nickel_satin"/>
    </visual>
    <visual name="leaf_handle_lever_n_vis">
      <origin xyz="0 -0.022 0" rpy="-1.570796 0 3.141593"/>
      <geometry>
        <mesh filename="../../hardware/lever_a61139b160.obj"/>
      </geometry>
      <material name="mat_op_nickel_satin"/>
    </visual>
    <collision name="leaf_handle_lever_col_n_col">
      <origin xyz="0.056 -0.077 0" rpy="0 1.570796 0"/>
      <geometry>
        <cylinder radius="0.008" length="0.096"/>
      </geometry>
    </collision>
    <collision name="leaf_handle_hub_col_n_col">
      <origin xyz="0 -0.052 0" rpy="-1.570796 0 0"/>
      <geometry>
        <cylinder radius="0.012" length="0.044"/>
      </geometry>
    </collision>
    <visual name="leaf_handle_lever_p_vis">
      <origin xyz="0 0.022 0" rpy="1.570796 0 3.141593"/>
      <geometry>
        <mesh filename="../../hardware/lever_a61139b160.obj"/>
      </geometry>
      <material name="mat_op_nickel_satin"/>
    </visual>
    <collision name="leaf_handle_lever_col_p_col">
      <origin xyz="0.056 0.077 0" rpy="0 1.570796 0"/>
      <geometry>
        <cylinder radius="0.008" length="0.096"/>
      </geometry>
    </collision>
    <collision name="leaf_handle_hub_col_p_col">
      <origin xyz="0 0.052 0" rpy="-1.570796 0 0"/>
      <geometry>
        <cylinder radius="0.012" length="0.044"/>
      </geometry>
    </collision>
  </link>
  <link name="leaf_keypad_key_1">
    <inertial>
      <origin xyz="0 -0.002 0" rpy="0 0 0"/>
      <mass value="0.000941"/>
      <inertia ixx="0.000000017" ixy="0" ixz="0" iyy="0.000000031" iyz="0" izz="0.000000017"/>
    </inertial>
    <visual name="leaf_keypad_key_0_geom_vis">
      <origin xyz="0 -0.002 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.014 0.004 0.014"/>
      </geometry>
      <material name="mat_key"/>
    </visual>
    <collision name="leaf_keypad_key_0_geom_col">
      <origin xyz="0 -0.002 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.014 0.004 0.014"/>
      </geometry>
    </collision>
  </link>
  <link name="leaf_keypad_key_2">
    <inertial>
      <origin xyz="0 -0.002 0" rpy="0 0 0"/>
      <mass value="0.000941"/>
      <inertia ixx="0.000000017" ixy="0" ixz="0" iyy="0.000000031" iyz="0" izz="0.000000017"/>
    </inertial>
    <visual name="leaf_keypad_key_1_geom_vis">
      <origin xyz="0 -0.002 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.014 0.004 0.014"/>
      </geometry>
      <material name="mat_key"/>
    </visual>
    <collision name="leaf_keypad_key_1_geom_col">
      <origin xyz="0 -0.002 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.014 0.004 0.014"/>
      </geometry>
    </collision>
  </link>
  <link name="leaf_keypad_key_3">
    <inertial>
      <origin xyz="0 -0.002 0" rpy="0 0 0"/>
      <mass value="0.000941"/>
      <inertia ixx="0.000000017" ixy="0" ixz="0" iyy="0.000000031" iyz="0" izz="0.000000017"/>
    </inertial>
    <visual name="leaf_keypad_key_2_geom_vis">
      <origin xyz="0 -0.002 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.014 0.004 0.014"/>
      </geometry>
      <material name="mat_key"/>
    </visual>
    <collision name="leaf_keypad_key_2_geom_col">
      <origin xyz="0 -0.002 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.014 0.004 0.014"/>
      </geometry>
    </collision>
  </link>
  <link name="leaf_keypad_key_4">
    <inertial>
      <origin xyz="0 -0.002 0" rpy="0 0 0"/>
      <mass value="0.000941"/>
      <inertia ixx="0.000000017" ixy="0" ixz="0" iyy="0.000000031" iyz="0" izz="0.000000017"/>
    </inertial>
    <visual name="leaf_keypad_key_3_geom_vis">
      <origin xyz="0 -0.002 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.014 0.004 0.014"/>
      </geometry>
      <material name="mat_key"/>
    </visual>
    <collision name="leaf_keypad_key_3_geom_col">
      <origin xyz="0 -0.002 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.014 0.004 0.014"/>
      </geometry>
    </collision>
  </link>
  <link name="leaf_keypad_key_5">
    <inertial>
      <origin xyz="0 -0.002 0" rpy="0 0 0"/>
      <mass value="0.000941"/>
      <inertia ixx="0.000000017" ixy="0" ixz="0" iyy="0.000000031" iyz="0" izz="0.000000017"/>
    </inertial>
    <visual name="leaf_keypad_key_4_geom_vis">
      <origin xyz="0 -0.002 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.014 0.004 0.014"/>
      </geometry>
      <material name="mat_key"/>
    </visual>
    <collision name="leaf_keypad_key_4_geom_col">
      <origin xyz="0 -0.002 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.014 0.004 0.014"/>
      </geometry>
    </collision>
  </link>
  <link name="leaf_keypad_key_6">
    <inertial>
      <origin xyz="0 -0.002 0" rpy="0 0 0"/>
      <mass value="0.000941"/>
      <inertia ixx="0.000000017" ixy="0" ixz="0" iyy="0.000000031" iyz="0" izz="0.000000017"/>
    </inertial>
    <visual name="leaf_keypad_key_5_geom_vis">
      <origin xyz="0 -0.002 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.014 0.004 0.014"/>
      </geometry>
      <material name="mat_key"/>
    </visual>
    <collision name="leaf_keypad_key_5_geom_col">
      <origin xyz="0 -0.002 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.014 0.004 0.014"/>
      </geometry>
    </collision>
  </link>
  <link name="leaf_keypad_key_7">
    <inertial>
      <origin xyz="0 -0.002 0" rpy="0 0 0"/>
      <mass value="0.000941"/>
      <inertia ixx="0.000000017" ixy="0" ixz="0" iyy="0.000000031" iyz="0" izz="0.000000017"/>
    </inertial>
    <visual name="leaf_keypad_key_6_geom_vis">
      <origin xyz="0 -0.002 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.014 0.004 0.014"/>
      </geometry>
      <material name="mat_key"/>
    </visual>
    <collision name="leaf_keypad_key_6_geom_col">
      <origin xyz="0 -0.002 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.014 0.004 0.014"/>
      </geometry>
    </collision>
  </link>
  <link name="leaf_keypad_key_8">
    <inertial>
      <origin xyz="0 -0.002 0" rpy="0 0 0"/>
      <mass value="0.000941"/>
      <inertia ixx="0.000000017" ixy="0" ixz="0" iyy="0.000000031" iyz="0" izz="0.000000017"/>
    </inertial>
    <visual name="leaf_keypad_key_7_geom_vis">
      <origin xyz="0 -0.002 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.014 0.004 0.014"/>
      </geometry>
      <material name="mat_key"/>
    </visual>
    <collision name="leaf_keypad_key_7_geom_col">
      <origin xyz="0 -0.002 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.014 0.004 0.014"/>
      </geometry>
    </collision>
  </link>
  <link name="leaf_keypad_key_9">
    <inertial>
      <origin xyz="0 -0.002 0" rpy="0 0 0"/>
      <mass value="0.000941"/>
      <inertia ixx="0.000000017" ixy="0" ixz="0" iyy="0.000000031" iyz="0" izz="0.000000017"/>
    </inertial>
    <visual name="leaf_keypad_key_8_geom_vis">
      <origin xyz="0 -0.002 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.014 0.004 0.014"/>
      </geometry>
      <material name="mat_key"/>
    </visual>
    <collision name="leaf_keypad_key_8_geom_col">
      <origin xyz="0 -0.002 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.014 0.004 0.014"/>
      </geometry>
    </collision>
  </link>
  <link name="leaf_keypad_key_star">
    <inertial>
      <origin xyz="0 -0.002 0" rpy="0 0 0"/>
      <mass value="0.000941"/>
      <inertia ixx="0.000000017" ixy="0" ixz="0" iyy="0.000000031" iyz="0" izz="0.000000017"/>
    </inertial>
    <visual name="leaf_keypad_key_9_geom_vis">
      <origin xyz="0 -0.002 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.014 0.004 0.014"/>
      </geometry>
      <material name="mat_key"/>
    </visual>
    <collision name="leaf_keypad_key_9_geom_col">
      <origin xyz="0 -0.002 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.014 0.004 0.014"/>
      </geometry>
    </collision>
  </link>
  <link name="leaf_keypad_key_0">
    <inertial>
      <origin xyz="0 -0.002 0" rpy="0 0 0"/>
      <mass value="0.000941"/>
      <inertia ixx="0.000000017" ixy="0" ixz="0" iyy="0.000000031" iyz="0" izz="0.000000017"/>
    </inertial>
    <visual name="leaf_keypad_key_10_geom_vis">
      <origin xyz="0 -0.002 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.014 0.004 0.014"/>
      </geometry>
      <material name="mat_key"/>
    </visual>
    <collision name="leaf_keypad_key_10_geom_col">
      <origin xyz="0 -0.002 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.014 0.004 0.014"/>
      </geometry>
    </collision>
  </link>
  <link name="leaf_keypad_key_hash">
    <inertial>
      <origin xyz="0 -0.002 0" rpy="0 0 0"/>
      <mass value="0.000941"/>
      <inertia ixx="0.000000017" ixy="0" ixz="0" iyy="0.000000031" iyz="0" izz="0.000000017"/>
    </inertial>
    <visual name="leaf_keypad_key_11_geom_vis">
      <origin xyz="0 -0.002 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.014 0.004 0.014"/>
      </geometry>
      <material name="mat_key"/>
    </visual>
    <collision name="leaf_keypad_key_11_geom_col">
      <origin xyz="0 -0.002 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.014 0.004 0.014"/>
      </geometry>
    </collision>
  </link>
  <link name="leaf_latch_bolt">
    <inertial>
      <origin xyz="0.00865 0 0" rpy="0 0 0"/>
      <mass value="0.041419"/>
      <inertia ixx="0.000000798" ixy="0" ixz="0" iyy="0.000005598" iyz="0" izz="0.000005598"/>
    </inertial>
    <visual name="leaf_latch_bolt_capsule_vis">
      <origin xyz="0.00865 0 0" rpy="0 -1.570796 0"/>
      <geometry>
        <cylinder radius="0.00635" length="0.03"/>
      </geometry>
      <material name="mat_bolt"/>
    </visual>
    <collision name="leaf_latch_bolt_capsule_col">
      <origin xyz="0.00865 0 0" rpy="0 -1.570796 0"/>
      <geometry>
        <cylinder radius="0.00635" length="0.03"/>
      </geometry>
    </collision>
  </link>
  <link name="knocker">
    <inertial>
      <origin xyz="0 -0.010216 -0.053797" rpy="0 0 0"/>
      <mass value="0.814961"/>
      <inertia ixx="0.001116108" ixy="0" ixz="0" iyy="0.001534382" iyz="0.000014492" izz="0.000611659"/>
    </inertial>
    <visual name="knocker_mesh_vis">
      <origin xyz="0 0 -0.055" rpy="-1.570796 0 3.141593"/>
      <geometry>
        <mesh filename="../../hardware/knocker_a8f2ce0ad7.obj"/>
      </geometry>
      <material name="mat_knocker"/>
    </visual>
    <collision name="knocker_col_col">
      <origin xyz="0 -0.025 -0.065" rpy="0 1.570796 0"/>
      <geometry>
        <cylinder radius="0.007" length="0.06"/>
      </geometry>
    </collision>
  </link>
  <link name="pet_flap">
    <inertial>
      <origin xyz="0 0 -0.18" rpy="0 0 0"/>
      <mass value="0.35721"/>
      <inertia ixx="0.003689052" ixy="0" ixz="0" iyy="0.004568949" iyz="0" izz="0.000881385"/>
    </inertial>
    <visual name="pet_flap_geom_vis">
      <origin xyz="0 0 -0.18" rpy="0 0 0"/>
      <geometry>
        <box size="0.172 0.005 0.352"/>
      </geometry>
      <material name="mat_petflap"/>
    </visual>
    <collision name="pet_flap_geom_col">
      <origin xyz="0 0 -0.18" rpy="0 0 0"/>
      <geometry>
        <box size="0.172 0.005 0.352"/>
      </geometry>
    </collision>
  </link>
  <joint name="leaf_hinge" type="revolute">
    <origin xyz="0.4075 -0.029 0" rpy="0 0 0"/>
    <parent link="world_env"/>
    <child link="leaf"/>
    <axis xyz="0 0 1"/>
    <limit lower="0" upper="1.745329" effort="2000" velocity="10"/>
    <dynamics damping="2.160326" friction="2.850304"/>
    <doorbench:spring stiffness="6.6" springref="-0.561424" note="tau = -stiffness*(q - springref); not native URDF"/>
    <doorbench:closer damping_closing="2" damping_opening="2" backcheck_angle="0" backcheck_damping="0"/>
  </joint>
  <joint name="leaf_handle_hinge" type="revolute">
    <origin xyz="-0.743 0.029 0.914" rpy="0 0 0"/>
    <parent link="leaf"/>
    <child link="leaf_handle"/>
    <axis xyz="0 1 0"/>
    <limit lower="0" upper="0.87" effort="2000" velocity="10"/>
    <dynamics damping="0.02" friction="0.052"/>
    <doorbench:spring stiffness="1" springref="-0.35" note="tau = -stiffness*(q - springref); not native URDF"/>
  </joint>
  <joint name="leaf_keypad_key_1_slide" type="prismatic">
    <origin xyz="-0.724 -0.013 1.0625" rpy="0 0 0"/>
    <parent link="leaf"/>
    <child link="leaf_keypad_key_1"/>
    <axis xyz="0 1 0"/>
    <limit lower="0" upper="0.0015" effort="5000" velocity="10"/>
    <dynamics damping="0.5" friction="0.05"/>
    <doorbench:spring stiffness="2000" springref="-0.0015" note="tau = -stiffness*(q - springref); not native URDF"/>
  </joint>
  <joint name="leaf_keypad_key_2_slide" type="prismatic">
    <origin xyz="-0.743 -0.013 1.0625" rpy="0 0 0"/>
    <parent link="leaf"/>
    <child link="leaf_keypad_key_2"/>
    <axis xyz="0 1 0"/>
    <limit lower="0" upper="0.0015" effort="5000" velocity="10"/>
    <dynamics damping="0.5" friction="0.05"/>
    <doorbench:spring stiffness="2000" springref="-0.0015" note="tau = -stiffness*(q - springref); not native URDF"/>
  </joint>
  <joint name="leaf_keypad_key_3_slide" type="prismatic">
    <origin xyz="-0.762 -0.013 1.0625" rpy="0 0 0"/>
    <parent link="leaf"/>
    <child link="leaf_keypad_key_3"/>
    <axis xyz="0 1 0"/>
    <limit lower="0" upper="0.0015" effort="5000" velocity="10"/>
    <dynamics damping="0.5" friction="0.05"/>
    <doorbench:spring stiffness="2000" springref="-0.0015" note="tau = -stiffness*(q - springref); not native URDF"/>
  </joint>
  <joint name="leaf_keypad_key_4_slide" type="prismatic">
    <origin xyz="-0.724 -0.013 1.0435" rpy="0 0 0"/>
    <parent link="leaf"/>
    <child link="leaf_keypad_key_4"/>
    <axis xyz="0 1 0"/>
    <limit lower="0" upper="0.0015" effort="5000" velocity="10"/>
    <dynamics damping="0.5" friction="0.05"/>
    <doorbench:spring stiffness="2000" springref="-0.0015" note="tau = -stiffness*(q - springref); not native URDF"/>
  </joint>
  <joint name="leaf_keypad_key_5_slide" type="prismatic">
    <origin xyz="-0.743 -0.013 1.0435" rpy="0 0 0"/>
    <parent link="leaf"/>
    <child link="leaf_keypad_key_5"/>
    <axis xyz="0 1 0"/>
    <limit lower="0" upper="0.0015" effort="5000" velocity="10"/>
    <dynamics damping="0.5" friction="0.05"/>
    <doorbench:spring stiffness="2000" springref="-0.0015" note="tau = -stiffness*(q - springref); not native URDF"/>
  </joint>
  <joint name="leaf_keypad_key_6_slide" type="prismatic">
    <origin xyz="-0.762 -0.013 1.0435" rpy="0 0 0"/>
    <parent link="leaf"/>
    <child link="leaf_keypad_key_6"/>
    <axis xyz="0 1 0"/>
    <limit lower="0" upper="0.0015" effort="5000" velocity="10"/>
    <dynamics damping="0.5" friction="0.05"/>
    <doorbench:spring stiffness="2000" springref="-0.0015" note="tau = -stiffness*(q - springref); not native URDF"/>
  </joint>
  <joint name="leaf_keypad_key_7_slide" type="prismatic">
    <origin xyz="-0.724 -0.013 1.0245" rpy="0 0 0"/>
    <parent link="leaf"/>
    <child link="leaf_keypad_key_7"/>
    <axis xyz="0 1 0"/>
    <limit lower="0" upper="0.0015" effort="5000" velocity="10"/>
    <dynamics damping="0.5" friction="0.05"/>
    <doorbench:spring stiffness="2000" springref="-0.0015" note="tau = -stiffness*(q - springref); not native URDF"/>
  </joint>
  <joint name="leaf_keypad_key_8_slide" type="prismatic">
    <origin xyz="-0.743 -0.013 1.0245" rpy="0 0 0"/>
    <parent link="leaf"/>
    <child link="leaf_keypad_key_8"/>
    <axis xyz="0 1 0"/>
    <limit lower="0" upper="0.0015" effort="5000" velocity="10"/>
    <dynamics damping="0.5" friction="0.05"/>
    <doorbench:spring stiffness="2000" springref="-0.0015" note="tau = -stiffness*(q - springref); not native URDF"/>
  </joint>
  <joint name="leaf_keypad_key_9_slide" type="prismatic">
    <origin xyz="-0.762 -0.013 1.0245" rpy="0 0 0"/>
    <parent link="leaf"/>
    <child link="leaf_keypad_key_9"/>
    <axis xyz="0 1 0"/>
    <limit lower="0" upper="0.0015" effort="5000" velocity="10"/>
    <dynamics damping="0.5" friction="0.05"/>
    <doorbench:spring stiffness="2000" springref="-0.0015" note="tau = -stiffness*(q - springref); not native URDF"/>
  </joint>
  <joint name="leaf_keypad_key_star_slide" type="prismatic">
    <origin xyz="-0.724 -0.013 1.0055" rpy="0 0 0"/>
    <parent link="leaf"/>
    <child link="leaf_keypad_key_star"/>
    <axis xyz="0 1 0"/>
    <limit lower="0" upper="0.0015" effort="5000" velocity="10"/>
    <dynamics damping="0.5" friction="0.05"/>
    <doorbench:spring stiffness="2000" springref="-0.0015" note="tau = -stiffness*(q - springref); not native URDF"/>
  </joint>
  <joint name="leaf_keypad_key_0_slide" type="prismatic">
    <origin xyz="-0.743 -0.013 1.0055" rpy="0 0 0"/>
    <parent link="leaf"/>
    <child link="leaf_keypad_key_0"/>
    <axis xyz="0 1 0"/>
    <limit lower="0" upper="0.0015" effort="5000" velocity="10"/>
    <dynamics damping="0.5" friction="0.05"/>
    <doorbench:spring stiffness="2000" springref="-0.0015" note="tau = -stiffness*(q - springref); not native URDF"/>
  </joint>
  <joint name="leaf_keypad_key_hash_slide" type="prismatic">
    <origin xyz="-0.762 -0.013 1.0055" rpy="0 0 0"/>
    <parent link="leaf"/>
    <child link="leaf_keypad_key_hash"/>
    <axis xyz="0 1 0"/>
    <limit lower="0" upper="0.0015" effort="5000" velocity="10"/>
    <dynamics damping="0.5" friction="0.05"/>
    <doorbench:spring stiffness="2000" springref="-0.0015" note="tau = -stiffness*(q - springref); not native URDF"/>
  </joint>
  <joint name="leaf_latch_bolt_slide" type="prismatic">
    <origin xyz="-0.813 0.029 0.914" rpy="0 0 0"/>
    <parent link="leaf"/>
    <child link="leaf_latch_bolt"/>
    <axis xyz="1 0 0"/>
    <limit lower="0" upper="0.0127" effort="5000" velocity="10"/>
    <dynamics damping="2" friction="0.3"/>
    <doorbench:spring stiffness="300" springref="-0.008333" note="tau = -stiffness*(q - springref); not native URDF"/>
    <mimic joint="leaf_handle_hinge" multiplier="0.015679" offset="0"/>
    <doorbench:coupling one_sided="true" note="MJCF uses a one-sided tendon (bolt may retract further, e.g. riding over the strike lip); mimic is bilateral"/>
  </joint>
  <joint name="knocker_hinge" type="revolute">
    <origin xyz="-0.4065 0.007 1.352" rpy="0 0 0"/>
    <parent link="leaf"/>
    <child link="knocker"/>
    <axis xyz="-1 0 0"/>
    <limit lower="0" upper="0.6" effort="2000" velocity="10"/>
    <dynamics damping="0.005" friction="0"/>
  </joint>
  <joint name="pet_flap_hinge" type="revolute">
    <origin xyz="-0.4065 0.029 0.427" rpy="0 0 0"/>
    <parent link="leaf"/>
    <child link="pet_flap"/>
    <axis xyz="-1 0 0"/>
    <limit lower="-1.45" upper="1.45" effort="2000" velocity="10"/>
    <dynamics damping="0.02" friction="0.02"/>
  </joint>
  <material name="mat_bolt">
    <color rgba="0.85 0.66 0.3 1"/>
  </material>
  <material name="mat_floor">
    <color rgba="0.55 0.53 0.5 1"/>
  </material>
  <material name="mat_frame">
    <color rgba="0.82 0.7 0.5 1"/>
  </material>
  <material name="mat_glass">
    <color rgba="0.45 0.35 0.28 0.45"/>
  </material>
  <material name="mat_hinge">
    <color rgba="0.45 0.3 0.22 1"/>
  </material>
  <material name="mat_key">
    <color rgba="0.85 0.85 0.82 1"/>
  </material>
  <material name="mat_keypad">
    <color rgba="0.05 0.05 0.05 1"/>
  </material>
  <material name="mat_knocker">
    <color rgba="0.55 0.42 0.22 1"/>
  </material>
  <material name="mat_leaf">
    <color rgba="0.35 0.22 0.14 1"/>
  </material>
  <material name="mat_numbers">
    <color rgba="0.05 0.05 0.05 1"/>
  </material>
  <material name="mat_op_nickel_satin">
    <color rgba="0.72 0.7 0.66 1"/>
  </material>
  <material name="mat_peephole">
    <color rgba="0.85 0.66 0.3 1"/>
  </material>
  <material name="mat_petflap">
    <color rgba="0.9 0.92 0.95 0.3"/>
  </material>
  <material name="mat_petframe">
    <color rgba="0.92 0.92 0.9 1"/>
  </material>
  <material name="mat_seal">
    <color rgba="0.1 0.1 0.1 1"/>
  </material>
  <material name="mat_threshold">
    <color rgba="0.8 0.81 0.83 1"/>
  </material>
  <material name="mat_wall">
    <color rgba="0.78 0.76 0.7 1"/>
  </material>
  <material name="mat_wreath">
    <color rgba="0.12 0.3 0.12 1"/>
  </material>
</robot>
