<?xml version="1.0" ?>
<robot xmlns:doorbench="https://github.com/adamraudonis/DoorBench/schema/urdf-ext" name="db0312_swing_single_minimal">
  <link name="world_env">
    <visual name="floor_vis">
      <origin xyz="0 0 -0.05" rpy="0 0 0"/>
      <geometry>
        <box size="12 12 0.1"/>
      </geometry>
      <material name="mat_floor"/>
    </visual>
    <collision name="floor_col">
      <origin xyz="0 0 -0.05" rpy="0 0 0"/>
      <geometry>
        <box size="12 12 0.1"/>
      </geometry>
    </collision>
    <visual name="wall_left_vis">
      <origin xyz="-1.5035 -0.043 1.3735" rpy="0 0 0"/>
      <geometry>
        <box size="1.993 0.145 2.747"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_left_col">
      <origin xyz="-1.5035 -0.043 1.3735" rpy="0 0 0"/>
      <geometry>
        <box size="1.993 0.145 2.747"/>
      </geometry>
    </collision>
    <visual name="wall_right_vis">
      <origin xyz="1.5185 -0.043 1.3735" rpy="0 0 0"/>
      <geometry>
        <box size="1.963 0.145 2.747"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_right_col">
      <origin xyz="1.5185 -0.043 1.3735" rpy="0 0 0"/>
      <geometry>
        <box size="1.963 0.145 2.747"/>
      </geometry>
    </collision>
    <visual name="wall_header_vis">
      <origin xyz="0.015 -0.043 2.4845" rpy="0 0 0"/>
      <geometry>
        <box size="1.044 0.145 0.525"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_header_col">
      <origin xyz="0.015 -0.043 2.4845" rpy="0 0 0"/>
      <geometry>
        <box size="1.044 0.145 0.525"/>
      </geometry>
    </collision>
    <visual name="jamb_hinge_vis">
      <origin xyz="-0.4845 -0.043 1.0735" rpy="0 0 0"/>
      <geometry>
        <box size="0.045 0.145 2.147"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_hinge_col">
      <origin xyz="-0.4845 -0.043 1.0735" rpy="0 0 0"/>
      <geometry>
        <box size="0.045 0.145 2.147"/>
      </geometry>
    </collision>
    <visual name="strike_1156_wall_n_vis">
      <origin xyz="0.4995 -0.0625 1.156" rpy="0 0 0"/>
      <geometry>
        <box size="0.075 0.106 0.031"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="strike_1156_wall_n_col">
      <origin xyz="0.4995 -0.0625 1.156" rpy="0 0 0"/>
      <geometry>
        <box size="0.075 0.106 0.031"/>
      </geometry>
    </collision>
    <visual name="strike_1156_wall_p_vis">
      <origin xyz="0.4995 0.0195 1.156" rpy="0 0 0"/>
      <geometry>
        <box size="0.075 0.02 0.031"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="strike_1156_wall_p_col">
      <origin xyz="0.4995 0.0195 1.156" rpy="0 0 0"/>
      <geometry>
        <box size="0.075 0.02 0.031"/>
      </geometry>
    </collision>
    <visual name="strike_1156_back_vis">
      <origin xyz="0.5142 0 1.156" rpy="0 0 0"/>
      <geometry>
        <box size="0.0456 0.019 0.031"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="strike_1156_back_col">
      <origin xyz="0.5142 0 1.156" rpy="0 0 0"/>
      <geometry>
        <box size="0.0456 0.019 0.031"/>
      </geometry>
    </collision>
    <visual name="jamb_strike_0_vis">
      <origin xyz="0.4995 -0.043 0.57025" rpy="0 0 0"/>
      <geometry>
        <box size="0.075 0.145 1.1405"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_strike_0_col">
      <origin xyz="0.4995 -0.043 0.57025" rpy="0 0 0"/>
      <geometry>
        <box size="0.075 0.145 1.1405"/>
      </geometry>
    </collision>
    <visual name="jamb_strike_1_vis">
      <origin xyz="0.4995 -0.043 1.65925" rpy="0 0 0"/>
      <geometry>
        <box size="0.075 0.145 0.9755"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_strike_1_col">
      <origin xyz="0.4995 -0.043 1.65925" rpy="0 0 0"/>
      <geometry>
        <box size="0.075 0.145 0.9755"/>
      </geometry>
    </collision>
    <visual name="jamb_head_vis">
      <origin xyz="0.015 -0.043 2.1695" rpy="0 0 0"/>
      <geometry>
        <box size="1.044 0.145 0.045"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_head_col">
      <origin xyz="0.015 -0.043 2.1695" rpy="0 0 0"/>
      <geometry>
        <box size="1.044 0.145 0.045"/>
      </geometry>
    </collision>
    <visual name="head_stud_vis">
      <origin xyz="0.015 -0.043 2.207" rpy="0 0 0"/>
      <geometry>
        <box size="1.044 0.145 0.03"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="head_stud_col">
      <origin xyz="0.015 -0.043 2.207" rpy="0 0 0"/>
      <geometry>
        <box size="1.044 0.145 0.03"/>
      </geometry>
    </collision>
    <visual name="threshold_vis">
      <origin xyz="0 -0.043 0.0065" rpy="0 0 0"/>
      <geometry>
        <box size="1.014 0.145 0.013"/>
      </geometry>
      <material name="mat_threshold"/>
    </visual>
    <collision name="threshold_col">
      <origin xyz="0 -0.043 0.0065" rpy="0 0 0"/>
      <geometry>
        <box size="1.014 0.145 0.013"/>
      </geometry>
    </collision>
  </link>
  <link name="leaf">
    <inertial>
      <origin xyz="0.512897 -0.0325 1.066928" rpy="0 0 0"/>
      <mass value="105.700882"/>
      <inertia ixx="37.699135625" ixy="0" ixz="0.387031488" iyy="45.513296698" iyz="0" izz="8.157465526"/>
    </inertial>
    <visual name="leaf_glass_vis">
      <origin xyz="0.441 -0.0325 1.08" rpy="0 0 0"/>
      <geometry>
        <box size="0.914 0.045 2.126"/>
      </geometry>
      <material name="mat_glass_leaf"/>
    </visual>
    <collision name="leaf_glass_col">
      <origin xyz="0.441 -0.0325 1.08" rpy="0 0 0"/>
      <geometry>
        <box size="0.914 0.045 2.126"/>
      </geometry>
    </collision>
    <visual name="leaf_pull_n_vis">
      <origin xyz="0.793 -0.055 1.016" rpy="1.570796 0 0"/>
      <geometry>
        <mesh filename="../../hardware/pull_897e207f65.obj"/>
      </geometry>
      <material name="mat_op_stainless"/>
    </visual>
    <collision name="leaf_pull_col_n_col">
      <origin xyz="0.793 -0.12 1.016" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.016" length="1.76"/>
      </geometry>
    </collision>
    <visual name="leaf_pull_p_vis">
      <origin xyz="0.793 -0.01 1.016" rpy="-1.570796 0 0"/>
      <geometry>
        <mesh filename="../../hardware/pull_897e207f65.obj"/>
      </geometry>
      <material name="mat_op_stainless"/>
    </visual>
    <collision name="leaf_pull_col_p_col">
      <origin xyz="0.793 0.055 1.016" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.016" length="1.76"/>
      </geometry>
    </collision>
  </link>
  <joint name="leaf_hinge" type="revolute">
    <origin xyz="-0.443 0.0325 0" rpy="0 0 0"/>
    <parent link="world_env"/>
    <child link="leaf"/>
    <axis xyz="0 0 1"/>
    <limit lower="0" upper="1.570796" effort="2000" velocity="10"/>
    <dynamics damping="12.268966" friction="1.006049"/>
    <doorbench:spring stiffness="32.289355" springref="-1.956682" note="tau = -stiffness*(q - springref); not native URDF"/>
    <doorbench:closer damping_closing="90" damping_opening="12" backcheck_angle="1.22" backcheck_damping="60"/>
  </joint>
  <material name="mat_floor">
    <color rgba="0.55 0.53 0.5 1"/>
  </material>
  <material name="mat_frame">
    <color rgba="0.22 0.17 0.13 1"/>
  </material>
  <material name="mat_glass_leaf">
    <color rgba="0.85 0.92 0.95 0.25"/>
  </material>
  <material name="mat_op_stainless">
    <color rgba="0.75 0.76 0.77 1"/>
  </material>
  <material name="mat_threshold">
    <color rgba="0.8 0.81 0.83 1"/>
  </material>
  <material name="mat_wall">
    <color rgba="0.78 0.76 0.7 1"/>
  </material>
</robot>
