<?xml version="1.0" ?>
<robot xmlns:doorbench="https://github.com/adamraudonis/DoorBench/schema/urdf-ext" name="db0851_gate_swing_full">
  <link name="world_env">
    <visual name="floor_vis">
      <origin xyz="0 0 -0.05" rpy="0 0 0"/>
      <geometry>
        <box size="12 12 0.1"/>
      </geometry>
      <material name="mat_floor"/>
    </visual>
    <collision name="floor_col">
      <origin xyz="0 0 -0.05" rpy="0 0 0"/>
      <geometry>
        <box size="12 12 0.1"/>
      </geometry>
    </collision>
    <visual name="post_hinge_vis">
      <origin xyz="-0.506 0 0.575" rpy="0 0 0"/>
      <geometry>
        <box size="0.1 0.1 1.15"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="post_hinge_col">
      <origin xyz="-0.506 0 0.575" rpy="0 0 0"/>
      <geometry>
        <box size="0.1 0.1 1.15"/>
      </geometry>
    </collision>
    <visual name="post_hinge_cap_vis">
      <origin xyz="-0.506 0 1.17" rpy="0 0 0"/>
      <geometry>
        <box size="0.13 0.13 0.04"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <visual name="post_820_wall_n_vis">
      <origin xyz="0.506 0.04225 0.82" rpy="0 0 0"/>
      <geometry>
        <box size="0.1 0.0155 0.05"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="post_820_wall_n_col">
      <origin xyz="0.506 0.04225 0.82" rpy="0 0 0"/>
      <geometry>
        <box size="0.1 0.0155 0.05"/>
      </geometry>
    </collision>
    <visual name="post_820_wall_p_vis">
      <origin xyz="0.506 -0.01775 0.82" rpy="0 0 0"/>
      <geometry>
        <box size="0.1 0.0645 0.05"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="post_820_wall_p_col">
      <origin xyz="0.506 -0.01775 0.82" rpy="0 0 0"/>
      <geometry>
        <box size="0.1 0.0645 0.05"/>
      </geometry>
    </collision>
    <visual name="post_820_back_vis">
      <origin xyz="0.516 0.0245 0.82" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 0.05"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="post_820_back_col">
      <origin xyz="0.516 0.0245 0.82" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 0.05"/>
      </geometry>
    </collision>
    <visual name="post_latch_0_vis">
      <origin xyz="0.506 0 0.3975" rpy="0 0 0"/>
      <geometry>
        <box size="0.1 0.1 0.795"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="post_latch_0_col">
      <origin xyz="0.506 0 0.3975" rpy="0 0 0"/>
      <geometry>
        <box size="0.1 0.1 0.795"/>
      </geometry>
    </collision>
    <visual name="post_latch_1_vis">
      <origin xyz="0.506 0 0.9975" rpy="0 0 0"/>
      <geometry>
        <box size="0.1 0.1 0.305"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="post_latch_1_col">
      <origin xyz="0.506 0 0.9975" rpy="0 0 0"/>
      <geometry>
        <box size="0.1 0.1 0.305"/>
      </geometry>
    </collision>
    <visual name="post_latch_cap_vis">
      <origin xyz="0.506 0 1.17" rpy="0 0 0"/>
      <geometry>
        <box size="0.13 0.13 0.04"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <visual name="gate_stop_vis">
      <origin xyz="0.436 0.0245 0.35" rpy="0 0 0"/>
      <geometry>
        <box size="0.04 0.024 0.12"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="gate_stop_col">
      <origin xyz="0.436 0.0245 0.35" rpy="0 0 0"/>
      <geometry>
        <box size="0.04 0.024 0.12"/>
      </geometry>
    </collision>
    <visual name="fence_picket_l_0_vis">
      <origin xyz="-0.636 0 0.6" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1"/>
      </geometry>
      <material name="mat_fence"/>
    </visual>
    <collision name="fence_picket_l_0_col">
      <origin xyz="-0.636 0 0.6" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1"/>
      </geometry>
    </collision>
    <visual name="fence_picket_l_1_vis">
      <origin xyz="-0.796 0 0.6" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1"/>
      </geometry>
      <material name="mat_fence"/>
    </visual>
    <collision name="fence_picket_l_1_col">
      <origin xyz="-0.796 0 0.6" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1"/>
      </geometry>
    </collision>
    <visual name="fence_picket_l_2_vis">
      <origin xyz="-0.956 0 0.6" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1"/>
      </geometry>
      <material name="mat_fence"/>
    </visual>
    <collision name="fence_picket_l_2_col">
      <origin xyz="-0.956 0 0.6" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1"/>
      </geometry>
    </collision>
    <visual name="fence_picket_l_3_vis">
      <origin xyz="-1.116 0 0.6" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1"/>
      </geometry>
      <material name="mat_fence"/>
    </visual>
    <collision name="fence_picket_l_3_col">
      <origin xyz="-1.116 0 0.6" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1"/>
      </geometry>
    </collision>
    <visual name="fence_picket_l_4_vis">
      <origin xyz="-1.276 0 0.6" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1"/>
      </geometry>
      <material name="mat_fence"/>
    </visual>
    <collision name="fence_picket_l_4_col">
      <origin xyz="-1.276 0 0.6" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1"/>
      </geometry>
    </collision>
    <visual name="fence_picket_l_5_vis">
      <origin xyz="-1.436 0 0.6" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1"/>
      </geometry>
      <material name="mat_fence"/>
    </visual>
    <collision name="fence_picket_l_5_col">
      <origin xyz="-1.436 0 0.6" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1"/>
      </geometry>
    </collision>
    <visual name="fence_picket_l_6_vis">
      <origin xyz="-1.596 0 0.6" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1"/>
      </geometry>
      <material name="mat_fence"/>
    </visual>
    <collision name="fence_picket_l_6_col">
      <origin xyz="-1.596 0 0.6" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1"/>
      </geometry>
    </collision>
    <visual name="fence_picket_l_7_vis">
      <origin xyz="-1.756 0 0.6" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1"/>
      </geometry>
      <material name="mat_fence"/>
    </visual>
    <collision name="fence_picket_l_7_col">
      <origin xyz="-1.756 0 0.6" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1"/>
      </geometry>
    </collision>
    <visual name="fence_picket_l_8_vis">
      <origin xyz="-1.916 0 0.6" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1"/>
      </geometry>
      <material name="mat_fence"/>
    </visual>
    <collision name="fence_picket_l_8_col">
      <origin xyz="-1.916 0 0.6" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1"/>
      </geometry>
    </collision>
    <visual name="fence_picket_l_9_vis">
      <origin xyz="-2.076 0 0.6" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1"/>
      </geometry>
      <material name="mat_fence"/>
    </visual>
    <collision name="fence_picket_l_9_col">
      <origin xyz="-2.076 0 0.6" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1"/>
      </geometry>
    </collision>
    <visual name="fence_picket_l_10_vis">
      <origin xyz="-2.236 0 0.6" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1"/>
      </geometry>
      <material name="mat_fence"/>
    </visual>
    <collision name="fence_picket_l_10_col">
      <origin xyz="-2.236 0 0.6" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1"/>
      </geometry>
    </collision>
    <visual name="fence_picket_l_11_vis">
      <origin xyz="-2.396 0 0.6" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1"/>
      </geometry>
      <material name="mat_fence"/>
    </visual>
    <collision name="fence_picket_l_11_col">
      <origin xyz="-2.396 0 0.6" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1"/>
      </geometry>
    </collision>
    <visual name="fence_rail_l_vis">
      <origin xyz="-1.556 0.015 0.95" rpy="0 0 0"/>
      <geometry>
        <box size="2 0.03 0.08"/>
      </geometry>
      <material name="mat_fence"/>
    </visual>
    <collision name="fence_rail_l_col">
      <origin xyz="-1.556 0.015 0.95" rpy="0 0 0"/>
      <geometry>
        <box size="2 0.03 0.08"/>
      </geometry>
    </collision>
    <visual name="fence_rail_b_l_vis">
      <origin xyz="-1.556 0.015 0.3" rpy="0 0 0"/>
      <geometry>
        <box size="2 0.03 0.08"/>
      </geometry>
      <material name="mat_fence"/>
    </visual>
    <collision name="fence_rail_b_l_col">
      <origin xyz="-1.556 0.015 0.3" rpy="0 0 0"/>
      <geometry>
        <box size="2 0.03 0.08"/>
      </geometry>
    </collision>
    <visual name="fence_picket_r_0_vis">
      <origin xyz="0.636 0 0.6" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1"/>
      </geometry>
      <material name="mat_fence"/>
    </visual>
    <collision name="fence_picket_r_0_col">
      <origin xyz="0.636 0 0.6" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1"/>
      </geometry>
    </collision>
    <visual name="fence_picket_r_1_vis">
      <origin xyz="0.796 0 0.6" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1"/>
      </geometry>
      <material name="mat_fence"/>
    </visual>
    <collision name="fence_picket_r_1_col">
      <origin xyz="0.796 0 0.6" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1"/>
      </geometry>
    </collision>
    <visual name="fence_picket_r_2_vis">
      <origin xyz="0.956 0 0.6" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1"/>
      </geometry>
      <material name="mat_fence"/>
    </visual>
    <collision name="fence_picket_r_2_col">
      <origin xyz="0.956 0 0.6" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1"/>
      </geometry>
    </collision>
    <visual name="fence_picket_r_3_vis">
      <origin xyz="1.116 0 0.6" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1"/>
      </geometry>
      <material name="mat_fence"/>
    </visual>
    <collision name="fence_picket_r_3_col">
      <origin xyz="1.116 0 0.6" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1"/>
      </geometry>
    </collision>
    <visual name="fence_picket_r_4_vis">
      <origin xyz="1.276 0 0.6" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1"/>
      </geometry>
      <material name="mat_fence"/>
    </visual>
    <collision name="fence_picket_r_4_col">
      <origin xyz="1.276 0 0.6" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1"/>
      </geometry>
    </collision>
    <visual name="fence_picket_r_5_vis">
      <origin xyz="1.436 0 0.6" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1"/>
      </geometry>
      <material name="mat_fence"/>
    </visual>
    <collision name="fence_picket_r_5_col">
      <origin xyz="1.436 0 0.6" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1"/>
      </geometry>
    </collision>
    <visual name="fence_picket_r_6_vis">
      <origin xyz="1.596 0 0.6" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1"/>
      </geometry>
      <material name="mat_fence"/>
    </visual>
    <collision name="fence_picket_r_6_col">
      <origin xyz="1.596 0 0.6" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1"/>
      </geometry>
    </collision>
    <visual name="fence_picket_r_7_vis">
      <origin xyz="1.756 0 0.6" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1"/>
      </geometry>
      <material name="mat_fence"/>
    </visual>
    <collision name="fence_picket_r_7_col">
      <origin xyz="1.756 0 0.6" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1"/>
      </geometry>
    </collision>
    <visual name="fence_picket_r_8_vis">
      <origin xyz="1.916 0 0.6" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1"/>
      </geometry>
      <material name="mat_fence"/>
    </visual>
    <collision name="fence_picket_r_8_col">
      <origin xyz="1.916 0 0.6" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1"/>
      </geometry>
    </collision>
    <visual name="fence_picket_r_9_vis">
      <origin xyz="2.076 0 0.6" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1"/>
      </geometry>
      <material name="mat_fence"/>
    </visual>
    <collision name="fence_picket_r_9_col">
      <origin xyz="2.076 0 0.6" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1"/>
      </geometry>
    </collision>
    <visual name="fence_picket_r_10_vis">
      <origin xyz="2.236 0 0.6" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1"/>
      </geometry>
      <material name="mat_fence"/>
    </visual>
    <collision name="fence_picket_r_10_col">
      <origin xyz="2.236 0 0.6" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1"/>
      </geometry>
    </collision>
    <visual name="fence_picket_r_11_vis">
      <origin xyz="2.396 0 0.6" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1"/>
      </geometry>
      <material name="mat_fence"/>
    </visual>
    <collision name="fence_picket_r_11_col">
      <origin xyz="2.396 0 0.6" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1"/>
      </geometry>
    </collision>
    <visual name="fence_rail_r_vis">
      <origin xyz="1.556 0.015 0.95" rpy="0 0 0"/>
      <geometry>
        <box size="2 0.03 0.08"/>
      </geometry>
      <material name="mat_fence"/>
    </visual>
    <collision name="fence_rail_r_col">
      <origin xyz="1.556 0.015 0.95" rpy="0 0 0"/>
      <geometry>
        <box size="2 0.03 0.08"/>
      </geometry>
    </collision>
    <visual name="fence_rail_b_r_vis">
      <origin xyz="1.556 0.015 0.3" rpy="0 0 0"/>
      <geometry>
        <box size="2 0.03 0.08"/>
      </geometry>
      <material name="mat_fence"/>
    </visual>
    <collision name="fence_rail_b_r_col">
      <origin xyz="1.556 0.015 0.3" rpy="0 0 0"/>
      <geometry>
        <box size="2 0.03 0.08"/>
      </geometry>
    </collision>
  </link>
  <link name="leaf">
    <inertial>
      <origin xyz="0.444224 0.014242 0.616962" rpy="0 0 0"/>
      <mass value="9.551335"/>
      <inertia ixx="0.750818638" ixy="-0.000087491" ixz="-0.037248273" iyy="1.556044813" iyz="0.004161155" izz="0.809448082"/>
    </inertial>
    <visual name="leaf_slab_vis">
      <origin xyz="0.45 0.0195 0.6" rpy="0 0 0"/>
      <geometry>
        <box size="0.9 0.025 1"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <collision name="leaf_slab_col">
      <origin xyz="0.45 0.0195 0.6" rpy="0 0 0"/>
      <geometry>
        <box size="0.9 0.025 1"/>
      </geometry>
    </collision>
    <visual name="leaf_plank_gap_1_vis">
      <origin xyz="0.15 0.0195 0.6" rpy="0 0 0"/>
      <geometry>
        <box size="0.004 0.027 0.98"/>
      </geometry>
      <material name="mat_leaf_brace"/>
    </visual>
    <visual name="leaf_plank_gap_2_vis">
      <origin xyz="0.3 0.0195 0.6" rpy="0 0 0"/>
      <geometry>
        <box size="0.004 0.027 0.98"/>
      </geometry>
      <material name="mat_leaf_brace"/>
    </visual>
    <visual name="leaf_plank_gap_3_vis">
      <origin xyz="0.45 0.0195 0.6" rpy="0 0 0"/>
      <geometry>
        <box size="0.004 0.027 0.98"/>
      </geometry>
      <material name="mat_leaf_brace"/>
    </visual>
    <visual name="leaf_plank_gap_4_vis">
      <origin xyz="0.6 0.0195 0.6" rpy="0 0 0"/>
      <geometry>
        <box size="0.004 0.027 0.98"/>
      </geometry>
      <material name="mat_leaf_brace"/>
    </visual>
    <visual name="leaf_plank_gap_5_vis">
      <origin xyz="0.75 0.0195 0.6" rpy="0 0 0"/>
      <geometry>
        <box size="0.004 0.027 0.98"/>
      </geometry>
      <material name="mat_leaf_brace"/>
    </visual>
    <visual name="hinge_0_vis">
      <origin xyz="0 0 0.35" rpy="0 0 -1.570796"/>
      <geometry>
        <mesh filename="../../hardware/hinge_dcb8da44bf.obj"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="hinge_1_vis">
      <origin xyz="0 0 0.92" rpy="0 0 -1.570796"/>
      <geometry>
        <mesh filename="../../hardware/hinge_dcb8da44bf.obj"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="leaf_suffolk_grip_vis">
      <origin xyz="0.82 0.007 0.75" rpy="1.570796 0 0"/>
      <geometry>
        <mesh filename="../../hardware/thumb_latch_0073ea78ed.obj"/>
      </geometry>
      <material name="mat_op_wrought_iron"/>
    </visual>
    <collision name="leaf_suffolk_grip_col_col">
      <origin xyz="0.82 -0.028 0.75" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.008" length="0.18"/>
      </geometry>
    </collision>
  </link>
  <link name="leaf_thumb">
    <inertial>
      <origin xyz="0 -0.012 0.02" rpy="0 0 0"/>
      <mass value="0.063"/>
      <inertia ixx="0.000013314" ixy="0" ixz="0" iyy="0.00001785" iyz="0" izz="0.000004914"/>
    </inertial>
    <visual name="leaf_thumb_geom_vis">
      <origin xyz="0 -0.012 0.02" rpy="0 0 0"/>
      <geometry>
        <box size="0.03 0.006 0.05"/>
      </geometry>
      <material name="mat_op_wrought_iron"/>
    </visual>
    <collision name="leaf_thumb_geom_col">
      <origin xyz="0 -0.012 0.02" rpy="0 0 0"/>
      <geometry>
        <box size="0.03 0.006 0.05"/>
      </geometry>
    </collision>
  </link>
  <link name="leaf_latch_bar">
    <inertial>
      <origin xyz="0.106 0 0" rpy="0 0 0"/>
      <mass value="0.25"/>
      <inertia ixx="0.000004465" ixy="0" ixz="0" iyy="0.000904065" iyz="0" izz="0.000904065"/>
    </inertial>
    <visual name="leaf_latch_bar_geom_vis">
      <origin xyz="0.106 0 0" rpy="0 1.570796 0"/>
      <geometry>
        <cylinder radius="0.006" length="0.2"/>
      </geometry>
      <material name="mat_op_wrought_iron"/>
    </visual>
    <collision name="leaf_latch_bar_geom_col">
      <origin xyz="0.106 0 0" rpy="0 1.570796 0"/>
      <geometry>
        <cylinder radius="0.006" length="0.2"/>
      </geometry>
    </collision>
  </link>
  <joint name="leaf_hinge" type="revolute">
    <origin xyz="-0.453 -0.0195 0" rpy="0 0 0"/>
    <parent link="world_env"/>
    <child link="leaf"/>
    <axis xyz="0 0 -1"/>
    <limit lower="0" upper="3.141593" effort="2000" velocity="10"/>
    <dynamics damping="1.118492" friction="1.83098"/>
    <doorbench:spring stiffness="5" springref="-0.8" note="tau = -stiffness*(q - springref); not native URDF"/>
    <doorbench:closer damping_closing="0.9" damping_opening="1" backcheck_angle="0" backcheck_damping="0"/>
  </joint>
  <joint name="leaf_thumb_hinge" type="revolute">
    <origin xyz="0.82 0.007 0.85" rpy="0 0 0"/>
    <parent link="leaf"/>
    <child link="leaf_thumb"/>
    <axis xyz="1 0 0"/>
    <limit lower="0" upper="0.3" effort="2000" velocity="10"/>
    <dynamics damping="0.02" friction="0.05"/>
    <doorbench:spring stiffness="0.6" springref="-0.5" note="tau = -stiffness*(q - springref); not native URDF"/>
  </joint>
  <joint name="leaf_latch_bar_hinge" type="revolute">
    <origin xyz="0.7 0.044 0.82" rpy="0 0 0"/>
    <parent link="leaf"/>
    <child link="leaf_latch_bar"/>
    <axis xyz="0 -1 0"/>
    <limit lower="0" upper="0.6" effort="2000" velocity="10"/>
    <dynamics damping="0.01" friction="0.01"/>
    <mimic joint="leaf_thumb_hinge" multiplier="2" offset="0"/>
  </joint>
  <material name="mat_fence">
    <color rgba="0.7 0.45 0.32 1"/>
  </material>
  <material name="mat_floor">
    <color rgba="0.35 0.42 0.25 1"/>
  </material>
  <material name="mat_frame">
    <color rgba="0.7 0.45 0.32 1"/>
  </material>
  <material name="mat_hinge">
    <color rgba="0.45 0.3 0.22 1"/>
  </material>
  <material name="mat_leaf">
    <color rgba="0.423 0.258 0.174 1"/>
  </material>
  <material name="mat_leaf_brace">
    <color rgba="0.38 0.232 0.156 1"/>
  </material>
  <material name="mat_op_wrought_iron">
    <color rgba="0.08 0.08 0.09 1"/>
  </material>
</robot>
