<?xml version="1.0" ?>
<robot xmlns:doorbench="https://github.com/adamraudonis/DoorBench/schema/urdf-ext" name="db0517_swing_single_full">
  <link name="world_env">
    <visual name="floor_vis">
      <origin xyz="0 0 -0.05" rpy="0 0 0"/>
      <geometry>
        <box size="12 12 0.1"/>
      </geometry>
      <material name="mat_floor"/>
    </visual>
    <collision name="floor_col">
      <origin xyz="0 0 -0.05" rpy="0 0 0"/>
      <geometry>
        <box size="12 12 0.1"/>
      </geometry>
    </collision>
    <visual name="wall_left_vis">
      <origin xyz="-1.47225 0.1255 1.35" rpy="0 0 0"/>
      <geometry>
        <box size="2.0555 0.3 2.7"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_left_col">
      <origin xyz="-1.47225 0.1255 1.35" rpy="0 0 0"/>
      <geometry>
        <box size="2.0555 0.3 2.7"/>
      </geometry>
    </collision>
    <visual name="wall_right_vis">
      <origin xyz="1.48725 0.1255 1.35" rpy="0 0 0"/>
      <geometry>
        <box size="2.0255 0.3 2.7"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_right_col">
      <origin xyz="1.48725 0.1255 1.35" rpy="0 0 0"/>
      <geometry>
        <box size="2.0255 0.3 2.7"/>
      </geometry>
    </collision>
    <visual name="wall_header_vis">
      <origin xyz="0.015 0.1255 2.4175" rpy="0 0 0"/>
      <geometry>
        <box size="0.919 0.3 0.565"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_header_col">
      <origin xyz="0.015 0.1255 2.4175" rpy="0 0 0"/>
      <geometry>
        <box size="0.919 0.3 0.565"/>
      </geometry>
    </collision>
    <visual name="hinge_pintle_0_vis">
      <origin xyz="-0.3815 -0.0245 0.133" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.008" length="0.04"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="hinge_pintle_1_vis">
      <origin xyz="-0.3815 -0.0245 1.865" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.008" length="0.04"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="leaf_latch_bar_keeper_b_vis">
      <origin xyz="0.384 0.0295 1.0275" rpy="1.570796 0 -1.570796"/>
      <geometry>
        <box size="0.03 0.005 0.001"/>
      </geometry>
      <material name="mat_op_wrought_iron"/>
    </visual>
    <visual name="leaf_latch_bar_keeper_l_vis">
      <origin xyz="0.384 0.042 1.1" rpy="1.570796 0 -1.570796"/>
      <geometry>
        <box size="0.005 0.14 0.001"/>
      </geometry>
      <material name="mat_op_wrought_iron"/>
    </visual>
    <visual name="leaf_latch_bar_keeper_t_vis">
      <origin xyz="0.384 0.0295 1.1725" rpy="1.570796 0 -1.570796"/>
      <geometry>
        <box size="0.03 0.005 0.001"/>
      </geometry>
      <material name="mat_op_wrought_iron"/>
    </visual>
    <visual name="leaf_latch_bar_keeper_r_vis">
      <origin xyz="0.384 0.017 1.1" rpy="1.570796 0 -1.570796"/>
      <geometry>
        <box size="0.005 0.14 0.001"/>
      </geometry>
      <material name="mat_op_wrought_iron"/>
    </visual>
    <visual name="jamb_hinge_vis">
      <origin xyz="-0.4145 0.1255 1.0225" rpy="0 0 0"/>
      <geometry>
        <box size="0.06 0.3 2.045"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_hinge_col">
      <origin xyz="-0.4145 0.1255 1.0225" rpy="0 0 0"/>
      <geometry>
        <box size="0.06 0.3 2.045"/>
      </geometry>
    </collision>
    <visual name="strike_1100_wall_n_vis">
      <origin xyz="0.4295 0.1575 1.1" rpy="0 0 0"/>
      <geometry>
        <box size="0.09 0.236 0.14"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="strike_1100_wall_n_col">
      <origin xyz="0.4295 0.1575 1.1" rpy="0 0 0"/>
      <geometry>
        <box size="0.09 0.236 0.14"/>
      </geometry>
    </collision>
    <visual name="strike_1100_wall_p_vis">
      <origin xyz="0.4295 -0.0025 1.1" rpy="0 0 0"/>
      <geometry>
        <box size="0.09 0.044 0.14"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="strike_1100_wall_p_col">
      <origin xyz="0.4295 -0.0025 1.1" rpy="0 0 0"/>
      <geometry>
        <box size="0.09 0.044 0.14"/>
      </geometry>
    </collision>
    <visual name="strike_1100_back_vis">
      <origin xyz="0.4395 0.0295 1.1" rpy="0 0 0"/>
      <geometry>
        <box size="0.07 0.02 0.14"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="strike_1100_back_col">
      <origin xyz="0.4395 0.0295 1.1" rpy="0 0 0"/>
      <geometry>
        <box size="0.07 0.02 0.14"/>
      </geometry>
    </collision>
    <visual name="jamb_strike_0_vis">
      <origin xyz="0.4295 0.1255 0.515" rpy="0 0 0"/>
      <geometry>
        <box size="0.09 0.3 1.03"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_strike_0_col">
      <origin xyz="0.4295 0.1255 0.515" rpy="0 0 0"/>
      <geometry>
        <box size="0.09 0.3 1.03"/>
      </geometry>
    </collision>
    <visual name="jamb_strike_1_vis">
      <origin xyz="0.4295 0.1255 1.6075" rpy="0 0 0"/>
      <geometry>
        <box size="0.09 0.3 0.875"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_strike_1_col">
      <origin xyz="0.4295 0.1255 1.6075" rpy="0 0 0"/>
      <geometry>
        <box size="0.09 0.3 0.875"/>
      </geometry>
    </collision>
    <visual name="jamb_head_vis">
      <origin xyz="0.015 0.1255 2.075" rpy="0 0 0"/>
      <geometry>
        <box size="0.919 0.3 0.06"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_head_col">
      <origin xyz="0.015 0.1255 2.075" rpy="0 0 0"/>
      <geometry>
        <box size="0.919 0.3 0.06"/>
      </geometry>
    </collision>
    <visual name="head_stud_vis">
      <origin xyz="0.015 0.1255 2.12" rpy="0 0 0"/>
      <geometry>
        <box size="0.919 0.3 0.03"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="head_stud_col">
      <origin xyz="0.015 0.1255 2.12" rpy="0 0 0"/>
      <geometry>
        <box size="0.919 0.3 0.03"/>
      </geometry>
    </collision>
    <visual name="stop_hinge_vis">
      <origin xyz="-0.379 0.034 1.0225" rpy="0 0 0"/>
      <geometry>
        <box size="0.011 0.032 2.045"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="stop_hinge_col">
      <origin xyz="-0.379 0.034 1.0225" rpy="0 0 0"/>
      <geometry>
        <box size="0.011 0.032 2.045"/>
      </geometry>
    </collision>
    <visual name="stop_strike_vis">
      <origin xyz="0.379 0.034 0.509" rpy="0 0 0"/>
      <geometry>
        <box size="0.011 0.032 1.018"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="stop_strike_col">
      <origin xyz="0.379 0.034 0.509" rpy="0 0 0"/>
      <geometry>
        <box size="0.011 0.032 1.018"/>
      </geometry>
    </collision>
    <visual name="stop_strike_1_vis">
      <origin xyz="0.379 0.034 1.6135" rpy="0 0 0"/>
      <geometry>
        <box size="0.011 0.032 0.863"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="stop_strike_1_col">
      <origin xyz="0.379 0.034 1.6135" rpy="0 0 0"/>
      <geometry>
        <box size="0.011 0.032 0.863"/>
      </geometry>
    </collision>
    <visual name="stop_head_vis">
      <origin xyz="0 0.034 2.0395" rpy="0 0 0"/>
      <geometry>
        <box size="0.769 0.032 0.011"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="stop_head_col">
      <origin xyz="0 0.034 2.0395" rpy="0 0 0"/>
      <geometry>
        <box size="0.769 0.032 0.011"/>
      </geometry>
    </collision>
    <visual name="threshold_vis">
      <origin xyz="0 0.1255 0.004" rpy="0 0 0"/>
      <geometry>
        <box size="0.889 0.4 0.008"/>
      </geometry>
      <material name="mat_threshold"/>
    </visual>
    <collision name="threshold_col">
      <origin xyz="0 0.1255 0.004" rpy="0 0 0"/>
      <geometry>
        <box size="0.889 0.4 0.008"/>
      </geometry>
    </collision>
    <visual name="floor_stop_dome_vis">
      <origin xyz="-0.457875 -0.667992 0" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.025"/>
      </geometry>
      <material name="mat_stop"/>
    </visual>
    <collision name="floor_stop_dome_col">
      <origin xyz="-0.457875 -0.667992 0" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.025"/>
      </geometry>
    </collision>
    <visual name="hinge_pintle_0_strap_0_vis">
      <origin xyz="-0.3815 0.00075 0.133" rpy="0 0 0"/>
      <geometry>
        <box size="0.0128 0.0355 0.032"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="hinge_pintle_1_strap_0_vis">
      <origin xyz="-0.3815 0.00075 1.865" rpy="0 0 0"/>
      <geometry>
        <box size="0.0128 0.0355 0.032"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
  </link>
  <link name="leaf">
    <inertial>
      <origin xyz="0.371885 0.02123 1.022778" rpy="0 0 0"/>
      <mass value="36.533566"/>
      <inertia ixx="14.128774239" ixy="-0.002488842" ixz="0.025507572" iyy="15.894385241" iyz="-0.002867481" izz="1.777726221"/>
    </inertial>
    <visual name="leaf_slab_vis">
      <origin xyz="0.381 0.0245 1.025" rpy="0 0 0"/>
      <geometry>
        <box size="0.762 0.035 2.032"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <collision name="leaf_slab_col">
      <origin xyz="0.381 0.0245 1.025" rpy="0 0 0"/>
      <geometry>
        <box size="0.762 0.035 2.032"/>
      </geometry>
    </collision>
    <visual name="leaf_panel_0_n_vis">
      <origin xyz="0.381 0.004 0.63674" rpy="0 0 0"/>
      <geometry>
        <box size="0.542 0.006 0.76844"/>
      </geometry>
      <material name="mat_leaf_panel"/>
    </visual>
    <visual name="leaf_panel_0_p_vis">
      <origin xyz="0.381 0.045 0.63674" rpy="0 0 0"/>
      <geometry>
        <box size="0.542 0.006 0.76844"/>
      </geometry>
      <material name="mat_leaf_panel"/>
    </visual>
    <visual name="leaf_panel_1_n_vis">
      <origin xyz="0.381 0.004 1.53518" rpy="0 0 0"/>
      <geometry>
        <box size="0.542 0.006 0.76844"/>
      </geometry>
      <material name="mat_leaf_panel"/>
    </visual>
    <visual name="leaf_panel_1_p_vis">
      <origin xyz="0.381 0.045 1.53518" rpy="0 0 0"/>
      <geometry>
        <box size="0.542 0.006 0.76844"/>
      </geometry>
      <material name="mat_leaf_panel"/>
    </visual>
    <visual name="hinge_strap_0_vis">
      <origin xyz="0 0.004 0.159" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../../hardware/strap_hinge_118b895b75.obj"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="hinge_strap_eye_0_vis">
      <origin xyz="0 0 0.159" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.011" length="0.024"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="hinge_strap_neck_0_vis">
      <origin xyz="0 0.002 0.159" rpy="0 0 0"/>
      <geometry>
        <box size="0.024 0.012 0.012"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="hinge_strap_1_vis">
      <origin xyz="0 0.004 1.891" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../../hardware/strap_hinge_118b895b75.obj"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="hinge_strap_eye_1_vis">
      <origin xyz="0 0 1.891" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.011" length="0.024"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="hinge_strap_neck_1_vis">
      <origin xyz="0 0.002 1.891" rpy="0 0 0"/>
      <geometry>
        <box size="0.024 0.012 0.012"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="leaf_suffolk_grip_vis">
      <origin xyz="0.682 0.007 0.915" rpy="1.570796 0 0"/>
      <geometry>
        <mesh filename="../../hardware/thumb_latch_0073ea78ed.obj"/>
      </geometry>
      <material name="mat_op_wrought_iron"/>
    </visual>
    <collision name="leaf_suffolk_grip_col_col">
      <origin xyz="0.682 -0.028 0.915" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.008" length="0.18"/>
      </geometry>
    </collision>
    <visual name="leaf_latch_bar_pivot_vis">
      <origin xyz="0.562 0.044 1.055" rpy="0 0 0"/>
      <geometry>
        <box size="0.036 0.004 0.036"/>
      </geometry>
      <material name="mat_op_wrought_iron"/>
    </visual>
    <visual name="leaf_latch_bar_pin_vis">
      <origin xyz="0.562 0.052 1.055" rpy="-1.570796 0 0"/>
      <geometry>
        <cylinder radius="0.005" length="0.02"/>
      </geometry>
      <material name="mat_op_wrought_iron"/>
    </visual>
  </link>
  <link name="leaf_thumb">
    <inertial>
      <origin xyz="0 -0.004279 -0.00544" rpy="0 0 0"/>
      <mass value="0.124432"/>
      <inertia ixx="0.000038132" ixy="0" ixz="0" iyy="0.000013881" iyz="0.000009195" izz="0.000036458"/>
    </inertial>
    <visual name="leaf_thumb_geom_vis">
      <origin xyz="0 -0.02 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.03 0.028 0.006"/>
      </geometry>
      <material name="mat_op_wrought_iron"/>
    </visual>
    <collision name="leaf_thumb_geom_col">
      <origin xyz="0 -0.02 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.03 0.028 0.006"/>
      </geometry>
    </collision>
    <visual name="leaf_thumb_boss_vis">
      <origin xyz="0 -0.004 -0.005" rpy="0 0 0"/>
      <geometry>
        <box size="0.024 0.016 0.026"/>
      </geometry>
      <material name="mat_op_wrought_iron"/>
    </visual>
    <visual name="leaf_thumb_lifter_vis">
      <origin xyz="0 0.0235 -0.017" rpy="0 0 0"/>
      <geometry>
        <box size="0.008 0.043 0.008"/>
      </geometry>
      <material name="mat_op_wrought_iron"/>
    </visual>
  </link>
  <link name="leaf_latch_bar">
    <inertial>
      <origin xyz="0.106 0 0" rpy="0 0 0"/>
      <mass value="0.25"/>
      <inertia ixx="0.000004465" ixy="0" ixz="0" iyy="0.000904065" iyz="0" izz="0.000904065"/>
    </inertial>
    <visual name="leaf_latch_bar_geom_vis">
      <origin xyz="0.106 0 0" rpy="0 1.570796 0"/>
      <geometry>
        <cylinder radius="0.006" length="0.2"/>
      </geometry>
      <material name="mat_op_wrought_iron"/>
    </visual>
    <collision name="leaf_latch_bar_geom_col">
      <origin xyz="0.106 0 0" rpy="0 1.570796 0"/>
      <geometry>
        <cylinder radius="0.006" length="0.2"/>
      </geometry>
    </collision>
  </link>
  <joint name="leaf_hinge" type="revolute">
    <origin xyz="-0.3815 -0.0245 0" rpy="0 0 0"/>
    <parent link="world_env"/>
    <child link="leaf"/>
    <axis xyz="0 0 -1"/>
    <limit lower="0" upper="1.658063" effort="2000" velocity="10"/>
    <dynamics damping="0.173726" friction="8.977736"/>
    <doorbench:closer damping_closing="0" damping_opening="0" backcheck_angle="0" backcheck_damping="0"/>
  </joint>
  <joint name="leaf_thumb_hinge" type="revolute">
    <origin xyz="0.682 0.007 1.06" rpy="0 0 0"/>
    <parent link="leaf"/>
    <child link="leaf_thumb"/>
    <axis xyz="1 0 0"/>
    <limit lower="0" upper="0.3" effort="2000" velocity="10"/>
    <dynamics damping="0.155261" friction="0.032"/>
    <doorbench:spring stiffness="0.6" springref="-0.5" note="tau = -stiffness*(q - springref); not native URDF"/>
  </joint>
  <joint name="leaf_latch_bar_hinge" type="revolute">
    <origin xyz="0.562 0.054 1.055" rpy="0 0 0"/>
    <parent link="leaf"/>
    <child link="leaf_latch_bar"/>
    <axis xyz="0 -1 0"/>
    <limit lower="0" upper="0.6" effort="2000" velocity="10"/>
    <dynamics damping="0.01" friction="0.01"/>
    <mimic joint="leaf_thumb_hinge" multiplier="2" offset="0"/>
  </joint>
  <material name="mat_floor">
    <color rgba="0.55 0.53 0.5 1"/>
  </material>
  <material name="mat_frame">
    <color rgba="0.7 0.58 0.42 1"/>
  </material>
  <material name="mat_hinge">
    <color rgba="0.65 0.66 0.68 1"/>
  </material>
  <material name="mat_leaf">
    <color rgba="0.43 0.375 0.34 1"/>
  </material>
  <material name="mat_leaf_panel">
    <color rgba="0.396 0.345 0.313 1"/>
  </material>
  <material name="mat_op_wrought_iron">
    <color rgba="0.08 0.08 0.09 1"/>
  </material>
  <material name="mat_stop">
    <color rgba="0.9 0.9 0.92 1"/>
  </material>
  <material name="mat_threshold">
    <color rgba="0.8 0.81 0.83 1"/>
  </material>
  <material name="mat_wall">
    <color rgba="0.78 0.76 0.7 1"/>
  </material>
</robot>
