<?xml version="1.0" ?>
<robot xmlns:doorbench="https://github.com/adamraudonis/DoorBench/schema/urdf-ext" name="db0064_gate_sliding_simple">
  <link name="world_env">
    <visual name="floor_vis">
      <origin xyz="0 0 -0.05" rpy="0 0 0"/>
      <geometry>
        <box size="12 12 0.1"/>
      </geometry>
      <material name="mat_floor"/>
    </visual>
    <collision name="floor_col">
      <origin xyz="0 0 -0.05" rpy="0 0 0"/>
      <geometry>
        <box size="12 12 0.1"/>
      </geometry>
    </collision>
    <visual name="post_l_vis">
      <origin xyz="-0.685 0.08 1.05" rpy="0 0 0"/>
      <geometry>
        <box size="0.12 0.12 2.1"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="post_l_col">
      <origin xyz="-0.685 0.08 1.05" rpy="0 0 0"/>
      <geometry>
        <box size="0.12 0.12 2.1"/>
      </geometry>
    </collision>
    <visual name="post_r_vis">
      <origin xyz="0.685 0.08 1.05" rpy="0 0 0"/>
      <geometry>
        <box size="0.12 0.12 2.1"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="post_r_col">
      <origin xyz="0.685 0.08 1.05" rpy="0 0 0"/>
      <geometry>
        <box size="0.12 0.12 2.1"/>
      </geometry>
    </collision>
    <visual name="gate_rail_vis">
      <origin xyz="-0.6 -0.06 0.01" rpy="0 0 0"/>
      <geometry>
        <box size="2.8 0.06 0.02"/>
      </geometry>
      <material name="mat_track"/>
    </visual>
    <collision name="gate_rail_col">
      <origin xyz="-0.6 -0.06 0.01" rpy="0 0 0"/>
      <geometry>
        <box size="2.8 0.06 0.02"/>
      </geometry>
    </collision>
  </link>
  <link name="leaf">
    <inertial>
      <origin xyz="0.002064 -0.000061 0.980078" rpy="0 0 0"/>
      <mass value="61.546"/>
      <inertia ixx="16.560808227" ixy="0.002088594" ixz="-0.002531111" iyy="23.987651174" iyz="0.000074577" izz="7.433354129"/>
    </inertial>
    <collision name="leaf_slab_col_col">
      <origin xyz="0 0 0.98" rpy="0 0 0"/>
      <geometry>
        <box size="1.2 0.025 1.8"/>
      </geometry>
    </collision>
    <visual name="leaf_rail_b_vis">
      <origin xyz="0 0 0.1025" rpy="0 0 0"/>
      <geometry>
        <box size="1.2 0.025 0.045"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <visual name="leaf_rail_t_vis">
      <origin xyz="0 0 1.8575" rpy="0 0 0"/>
      <geometry>
        <box size="1.2 0.025 0.045"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <visual name="leaf_stile_h_vis">
      <origin xyz="-0.5775 0 0.98" rpy="0 0 0"/>
      <geometry>
        <box size="0.045 0.025 1.8"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <visual name="leaf_stile_l_vis">
      <origin xyz="0.5775 0 0.98" rpy="0 0 0"/>
      <geometry>
        <box size="0.045 0.025 1.8"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <visual name="leaf_picket_0_vis">
      <origin xyz="-0.4995 0 1" rpy="0 0 0"/>
      <geometry>
        <box size="0.04 0.0175 1.773"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <visual name="leaf_picket_1_vis">
      <origin xyz="-0.3885 0 1" rpy="0 0 0"/>
      <geometry>
        <box size="0.04 0.0175 1.773"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <visual name="leaf_picket_2_vis">
      <origin xyz="-0.2775 0 1" rpy="0 0 0"/>
      <geometry>
        <box size="0.04 0.0175 1.773"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <visual name="leaf_picket_3_vis">
      <origin xyz="-0.1665 0 1" rpy="0 0 0"/>
      <geometry>
        <box size="0.04 0.0175 1.773"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <visual name="leaf_picket_4_vis">
      <origin xyz="-0.0555 0 1" rpy="0 0 0"/>
      <geometry>
        <box size="0.04 0.0175 1.773"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <visual name="leaf_picket_5_vis">
      <origin xyz="0.0555 0 1" rpy="0 0 0"/>
      <geometry>
        <box size="0.04 0.0175 1.773"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <visual name="leaf_picket_6_vis">
      <origin xyz="0.1665 0 1" rpy="0 0 0"/>
      <geometry>
        <box size="0.04 0.0175 1.773"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <visual name="leaf_picket_7_vis">
      <origin xyz="0.2775 0 1" rpy="0 0 0"/>
      <geometry>
        <box size="0.04 0.0175 1.773"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <visual name="leaf_picket_8_vis">
      <origin xyz="0.3885 0 1" rpy="0 0 0"/>
      <geometry>
        <box size="0.04 0.0175 1.773"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <visual name="leaf_picket_9_vis">
      <origin xyz="0.4995 0 1" rpy="0 0 0"/>
      <geometry>
        <box size="0.04 0.0175 1.773"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <visual name="leaf_hasp_vis">
      <origin xyz="0.56 -0.0165 1" rpy="0 0 0"/>
      <geometry>
        <box size="0.12 0.006 0.04"/>
      </geometry>
      <material name="mat_op_steel_galvanized"/>
    </visual>
    <collision name="leaf_hasp_col">
      <origin xyz="0.56 -0.0165 1" rpy="0 0 0"/>
      <geometry>
        <box size="0.12 0.006 0.04"/>
      </geometry>
    </collision>
  </link>
  <joint name="leaf_slide" type="prismatic">
    <origin xyz="0 -0.06 0" rpy="0 0 0"/>
    <parent link="world_env"/>
    <child link="leaf"/>
    <axis xyz="-1 0 0"/>
    <limit lower="0" upper="1.2" effort="5000" velocity="10"/>
    <dynamics damping="5.0773" friction="19.615703"/>
  </joint>
  <material name="mat_floor">
    <color rgba="0.35 0.42 0.25 1"/>
  </material>
  <material name="mat_frame">
    <color rgba="0.65 0.66 0.68 1"/>
  </material>
  <material name="mat_leaf">
    <color rgba="0.5 0.51 0.53 1"/>
  </material>
  <material name="mat_op_steel_galvanized">
    <color rgba="0.65 0.66 0.68 1"/>
  </material>
  <material name="mat_track">
    <color rgba="0.8 0.81 0.83 1"/>
  </material>
</robot>
