<?xml version="1.0" ?>
<robot xmlns:doorbench="https://github.com/adamraudonis/DoorBench/schema/urdf-ext" name="db0533_accordion_full">
  <link name="world_env">
    <visual name="floor_vis">
      <origin xyz="0 0 -0.05" rpy="0 0 0"/>
      <geometry>
        <box size="12 12 0.1"/>
      </geometry>
      <material name="mat_floor"/>
    </visual>
    <collision name="floor_col">
      <origin xyz="0 0 -0.05" rpy="0 0 0"/>
      <geometry>
        <box size="12 12 0.1"/>
      </geometry>
    </collision>
    <visual name="wall_left_vis">
      <origin xyz="-1.48125 0 1.35" rpy="0 0 0"/>
      <geometry>
        <box size="2.0375 0.145 2.7"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_left_col">
      <origin xyz="-1.48125 0 1.35" rpy="0 0 0"/>
      <geometry>
        <box size="2.0375 0.145 2.7"/>
      </geometry>
    </collision>
    <visual name="wall_right_vis">
      <origin xyz="1.48125 0 1.35" rpy="0 0 0"/>
      <geometry>
        <box size="2.0375 0.145 2.7"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_right_col">
      <origin xyz="1.48125 0 1.35" rpy="0 0 0"/>
      <geometry>
        <box size="2.0375 0.145 2.7"/>
      </geometry>
    </collision>
    <visual name="wall_header_vis">
      <origin xyz="0 0 2.3935" rpy="0 0 0"/>
      <geometry>
        <box size="0.925 0.145 0.613"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_header_col">
      <origin xyz="0 0 2.3935" rpy="0 0 0"/>
      <geometry>
        <box size="0.925 0.145 0.613"/>
      </geometry>
    </collision>
    <visual name="jamb_hinge_vis">
      <origin xyz="-0.472 0 1.0435" rpy="0 0 0"/>
      <geometry>
        <box size="0.019 0.145 2.087"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_hinge_col">
      <origin xyz="-0.472 0 1.0435" rpy="0 0 0"/>
      <geometry>
        <box size="0.019 0.145 2.087"/>
      </geometry>
    </collision>
    <visual name="jamb_strike_vis">
      <origin xyz="0.472 0 1.0435" rpy="0 0 0"/>
      <geometry>
        <box size="0.019 0.145 2.087"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_strike_col">
      <origin xyz="0.472 0 1.0435" rpy="0 0 0"/>
      <geometry>
        <box size="0.019 0.145 2.087"/>
      </geometry>
    </collision>
    <visual name="stud_strike_vis">
      <origin xyz="0.4965 0 1.0435" rpy="0 0 0"/>
      <geometry>
        <box size="0.03 0.145 2.087"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="stud_strike_col">
      <origin xyz="0.4965 0 1.0435" rpy="0 0 0"/>
      <geometry>
        <box size="0.03 0.145 2.087"/>
      </geometry>
    </collision>
    <visual name="jamb_head_vis">
      <origin xyz="0.015 0 2.0965" rpy="0 0 0"/>
      <geometry>
        <box size="0.993 0.145 0.019"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_head_col">
      <origin xyz="0.015 0 2.0965" rpy="0 0 0"/>
      <geometry>
        <box size="0.993 0.145 0.019"/>
      </geometry>
    </collision>
    <visual name="head_stud_vis">
      <origin xyz="0.015 0 2.121" rpy="0 0 0"/>
      <geometry>
        <box size="0.993 0.145 0.03"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="head_stud_col">
      <origin xyz="0.015 0 2.121" rpy="0 0 0"/>
      <geometry>
        <box size="0.993 0.145 0.03"/>
      </geometry>
    </collision>
    <visual name="casing_l_n_vis">
      <origin xyz="-0.5115 -0.0805 1.0435" rpy="0 0 0"/>
      <geometry>
        <box size="0.07 0.016 2.106"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <visual name="casing_r_n_vis">
      <origin xyz="0.5115 -0.0805 1.0435" rpy="0 0 0"/>
      <geometry>
        <box size="0.07 0.016 2.106"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <visual name="casing_h_n_vis">
      <origin xyz="0 -0.0805 2.136" rpy="0 0 0"/>
      <geometry>
        <box size="1.093 0.016 0.07"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <visual name="casing_l_p_vis">
      <origin xyz="-0.5115 0.0805 1.0435" rpy="0 0 0"/>
      <geometry>
        <box size="0.07 0.016 2.106"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <visual name="casing_r_p_vis">
      <origin xyz="0.5115 0.0805 1.0435" rpy="0 0 0"/>
      <geometry>
        <box size="0.07 0.016 2.106"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <visual name="casing_h_p_vis">
      <origin xyz="0 0.0805 2.136" rpy="0 0 0"/>
      <geometry>
        <box size="1.093 0.016 0.07"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <visual name="fold_track_vis">
      <origin xyz="0 0 2.072" rpy="0 0 0"/>
      <geometry>
        <box size="0.925 0.04 0.03"/>
      </geometry>
      <material name="mat_track"/>
    </visual>
  </link>
  <link name="panel_0_0">
    <inertial>
      <origin xyz="0.0235 0 1.036" rpy="0 0 0"/>
      <mass value="1.138659"/>
      <inertia ixx="0.391809367" ixy="0" ixz="0" iyy="0.392882078" iyz="0" izz="0.001100039"/>
    </inertial>
    <visual name="panel_0_0_slab_vis">
      <origin xyz="0.0235 0 1.036" rpy="0 0 0"/>
      <geometry>
        <box size="0.107 0.012 2.032"/>
      </geometry>
      <material name="mat_panel_0_0"/>
    </visual>
    <collision name="panel_0_0_slab_col">
      <origin xyz="0.0235 0 1.036" rpy="0 0 0"/>
      <geometry>
        <box size="0.107 0.012 2.032"/>
      </geometry>
    </collision>
  </link>
  <link name="panel_0_1">
    <inertial>
      <origin xyz="0.000152 -0.000016 1.036" rpy="0 0 0"/>
      <mass value="1.226444"/>
      <inertia ixx="0.413763654" ixy="0.000001114" ixz="0" iyy="0.413777371" iyz="0" izz="0.000026414"/>
    </inertial>
    <visual name="panel_0_1_slab_vis">
      <origin xyz="0.057 -0.006 1.036" rpy="0 0 0"/>
      <geometry>
        <box size="0.11 0.012 2.032"/>
      </geometry>
      <material name="mat_panel_0_1"/>
    </visual>
    <collision name="panel_0_1_slab_col">
      <origin xyz="0.057 -0.006 1.036" rpy="0 0 0"/>
      <geometry>
        <box size="0.11 0.012 2.032"/>
      </geometry>
    </collision>
    <visual name="panel_0_1_knuckle_vis">
      <origin xyz="0 0 1.036" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.0045" length="2.012"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
  </link>
  <link name="panel_0_2">
    <inertial>
      <origin xyz="0.000152 0.000016 1.036" rpy="0 0 0"/>
      <mass value="1.226444"/>
      <inertia ixx="0.413763654" ixy="-0.000001114" ixz="0" iyy="0.413777371" iyz="0" izz="0.000026414"/>
    </inertial>
    <visual name="panel_0_2_slab_vis">
      <origin xyz="0.057 0.006 1.036" rpy="0 0 0"/>
      <geometry>
        <box size="0.11 0.012 2.032"/>
      </geometry>
      <material name="mat_panel_0_2"/>
    </visual>
    <collision name="panel_0_2_slab_col">
      <origin xyz="0.057 0.006 1.036" rpy="0 0 0"/>
      <geometry>
        <box size="0.11 0.012 2.032"/>
      </geometry>
    </collision>
    <visual name="panel_0_2_knuckle_vis">
      <origin xyz="0 0 1.036" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.0045" length="2.012"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
  </link>
  <link name="panel_0_3">
    <inertial>
      <origin xyz="0.000152 -0.000016 1.036" rpy="0 0 0"/>
      <mass value="1.226444"/>
      <inertia ixx="0.413763654" ixy="0.000001114" ixz="0" iyy="0.413777371" iyz="0" izz="0.000026414"/>
    </inertial>
    <visual name="panel_0_3_slab_vis">
      <origin xyz="0.057 -0.006 1.036" rpy="0 0 0"/>
      <geometry>
        <box size="0.11 0.012 2.032"/>
      </geometry>
      <material name="mat_panel_0_3"/>
    </visual>
    <collision name="panel_0_3_slab_col">
      <origin xyz="0.057 -0.006 1.036" rpy="0 0 0"/>
      <geometry>
        <box size="0.11 0.012 2.032"/>
      </geometry>
    </collision>
    <visual name="panel_0_3_knuckle_vis">
      <origin xyz="0 0 1.036" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.0045" length="2.012"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
  </link>
  <link name="panel_0_4">
    <inertial>
      <origin xyz="0.000152 0.000016 1.036" rpy="0 0 0"/>
      <mass value="1.226444"/>
      <inertia ixx="0.413763654" ixy="-0.000001114" ixz="0" iyy="0.413777371" iyz="0" izz="0.000026414"/>
    </inertial>
    <visual name="panel_0_4_slab_vis">
      <origin xyz="0.057 0.006 1.036" rpy="0 0 0"/>
      <geometry>
        <box size="0.11 0.012 2.032"/>
      </geometry>
      <material name="mat_panel_0_4"/>
    </visual>
    <collision name="panel_0_4_slab_col">
      <origin xyz="0.057 0.006 1.036" rpy="0 0 0"/>
      <geometry>
        <box size="0.11 0.012 2.032"/>
      </geometry>
    </collision>
    <visual name="panel_0_4_knuckle_vis">
      <origin xyz="0 0 1.036" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.0045" length="2.012"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
  </link>
  <link name="panel_0_5">
    <inertial>
      <origin xyz="0.000152 -0.000016 1.036" rpy="0 0 0"/>
      <mass value="1.226444"/>
      <inertia ixx="0.413763654" ixy="0.000001114" ixz="0" iyy="0.413777371" iyz="0" izz="0.000026414"/>
    </inertial>
    <visual name="panel_0_5_slab_vis">
      <origin xyz="0.057 -0.006 1.036" rpy="0 0 0"/>
      <geometry>
        <box size="0.11 0.012 2.032"/>
      </geometry>
      <material name="mat_panel_0_5"/>
    </visual>
    <collision name="panel_0_5_slab_col">
      <origin xyz="0.057 -0.006 1.036" rpy="0 0 0"/>
      <geometry>
        <box size="0.11 0.012 2.032"/>
      </geometry>
    </collision>
    <visual name="panel_0_5_knuckle_vis">
      <origin xyz="0 0 1.036" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.0045" length="2.012"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
  </link>
  <link name="panel_0_6">
    <inertial>
      <origin xyz="0.000152 0.000016 1.036" rpy="0 0 0"/>
      <mass value="1.226444"/>
      <inertia ixx="0.413763654" ixy="-0.000001114" ixz="0" iyy="0.413777371" iyz="0" izz="0.000026414"/>
    </inertial>
    <visual name="panel_0_6_slab_vis">
      <origin xyz="0.057 0.006 1.036" rpy="0 0 0"/>
      <geometry>
        <box size="0.11 0.012 2.032"/>
      </geometry>
      <material name="mat_panel_0_6"/>
    </visual>
    <collision name="panel_0_6_slab_col">
      <origin xyz="0.057 0.006 1.036" rpy="0 0 0"/>
      <geometry>
        <box size="0.11 0.012 2.032"/>
      </geometry>
    </collision>
    <visual name="panel_0_6_knuckle_vis">
      <origin xyz="0 0 1.036" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.0045" length="2.012"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
  </link>
  <link name="panel_0_7">
    <inertial>
      <origin xyz="0.018445 -0.019231 1.024892" rpy="0 0 0"/>
      <mass value="1.370541"/>
      <inertia ixx="0.322689642" ixy="0.001079294" ixz="0.000623388" iyy="0.322435275" iyz="-0.000655493" izz="0.002364178"/>
    </inertial>
    <visual name="panel_0_7_slab_vis">
      <origin xyz="0.060697 -0.006 1.036" rpy="0 0 0"/>
      <geometry>
        <box size="0.117394 0.012 2.032"/>
      </geometry>
      <material name="mat_panel_0_7"/>
    </visual>
    <collision name="panel_0_7_slab_col">
      <origin xyz="0.060697 -0.006 1.036" rpy="0 0 0"/>
      <geometry>
        <box size="0.117394 0.012 2.032"/>
      </geometry>
    </collision>
    <visual name="panel_0_7_knuckle_vis">
      <origin xyz="0 0 1.036" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.0045" length="2.012"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="panel_0_7_pull_n_vis">
      <origin xyz="0.059394 -0.012 1" rpy="1.570796 0 0"/>
      <geometry>
        <mesh filename="../../hardware/pull_1e5d69a91a.obj"/>
      </geometry>
      <material name="mat_op_stainless"/>
    </visual>
    <collision name="panel_0_7_pull_col_n_col">
      <origin xyz="0.059394 -0.072 1" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.0095" length="0.16"/>
      </geometry>
    </collision>
  </link>
  <joint name="panel_0_0_hinge" type="revolute">
    <origin xyz="-0.4275 0 0" rpy="0 0 0"/>
    <parent link="world_env"/>
    <child link="panel_0_0"/>
    <axis xyz="0 0 -1"/>
    <limit lower="0" upper="1.48353" effort="2000" velocity="10"/>
    <dynamics damping="0.698679" friction="1.261248"/>
  </joint>
  <joint name="panel_0_1_hinge" type="revolute">
    <origin xyz="0.079 0.006 0" rpy="0 0 0"/>
    <parent link="panel_0_0"/>
    <child link="panel_0_1"/>
    <axis xyz="0 0 -1"/>
    <limit lower="-3.141593" upper="0" effort="2000" velocity="10"/>
    <dynamics damping="0.2" friction="0.1"/>
    <mimic joint="panel_0_0_hinge" multiplier="-2" offset="0"/>
  </joint>
  <joint name="panel_0_2_hinge" type="revolute">
    <origin xyz="0.114 -0.012 0" rpy="0 0 0"/>
    <parent link="panel_0_1"/>
    <child link="panel_0_2"/>
    <axis xyz="0 0 -1"/>
    <limit lower="0" upper="3.141593" effort="2000" velocity="10"/>
    <dynamics damping="0.2" friction="0.1"/>
    <mimic joint="panel_0_0_hinge" multiplier="2" offset="0"/>
  </joint>
  <joint name="panel_0_3_hinge" type="revolute">
    <origin xyz="0.114 0.012 0" rpy="0 0 0"/>
    <parent link="panel_0_2"/>
    <child link="panel_0_3"/>
    <axis xyz="0 0 -1"/>
    <limit lower="-3.141593" upper="0" effort="2000" velocity="10"/>
    <dynamics damping="0.2" friction="0.1"/>
    <mimic joint="panel_0_0_hinge" multiplier="-2" offset="0"/>
  </joint>
  <joint name="panel_0_4_hinge" type="revolute">
    <origin xyz="0.114 -0.012 0" rpy="0 0 0"/>
    <parent link="panel_0_3"/>
    <child link="panel_0_4"/>
    <axis xyz="0 0 -1"/>
    <limit lower="0" upper="3.141593" effort="2000" velocity="10"/>
    <dynamics damping="0.2" friction="0.1"/>
    <mimic joint="panel_0_0_hinge" multiplier="2" offset="0"/>
  </joint>
  <joint name="panel_0_5_hinge" type="revolute">
    <origin xyz="0.114 0.012 0" rpy="0 0 0"/>
    <parent link="panel_0_4"/>
    <child link="panel_0_5"/>
    <axis xyz="0 0 -1"/>
    <limit lower="-3.141593" upper="0" effort="2000" velocity="10"/>
    <dynamics damping="0.2" friction="0.1"/>
    <mimic joint="panel_0_0_hinge" multiplier="-2" offset="0"/>
  </joint>
  <joint name="panel_0_6_hinge" type="revolute">
    <origin xyz="0.114 -0.012 0" rpy="0 0 0"/>
    <parent link="panel_0_5"/>
    <child link="panel_0_6"/>
    <axis xyz="0 0 -1"/>
    <limit lower="0" upper="3.141593" effort="2000" velocity="10"/>
    <dynamics damping="0.2" friction="0.1"/>
    <mimic joint="panel_0_0_hinge" multiplier="2" offset="0"/>
  </joint>
  <joint name="panel_0_7_hinge" type="revolute">
    <origin xyz="0.114 0.012 0" rpy="0 0 0"/>
    <parent link="panel_0_6"/>
    <child link="panel_0_7"/>
    <axis xyz="0 0 -1"/>
    <limit lower="-3.141593" upper="0" effort="2000" velocity="10"/>
    <dynamics damping="0.2" friction="0.1"/>
    <mimic joint="panel_0_0_hinge" multiplier="-2" offset="0"/>
  </joint>
  <material name="mat_floor">
    <color rgba="0.55 0.53 0.5 1"/>
  </material>
  <material name="mat_frame">
    <color rgba="0.82 0.7 0.5 1"/>
  </material>
  <material name="mat_hinge">
    <color rgba="0.65 0.66 0.68 1"/>
  </material>
  <material name="mat_op_stainless">
    <color rgba="0.75 0.76 0.77 1"/>
  </material>
  <material name="mat_panel_0_0">
    <color rgba="0.8 0.75 0.6 1"/>
  </material>
  <material name="mat_panel_0_1">
    <color rgba="0.8 0.75 0.6 1"/>
  </material>
  <material name="mat_panel_0_2">
    <color rgba="0.8 0.75 0.6 1"/>
  </material>
  <material name="mat_panel_0_3">
    <color rgba="0.8 0.75 0.6 1"/>
  </material>
  <material name="mat_panel_0_4">
    <color rgba="0.8 0.75 0.6 1"/>
  </material>
  <material name="mat_panel_0_5">
    <color rgba="0.8 0.75 0.6 1"/>
  </material>
  <material name="mat_panel_0_6">
    <color rgba="0.8 0.75 0.6 1"/>
  </material>
  <material name="mat_panel_0_7">
    <color rgba="0.8 0.75 0.6 1"/>
  </material>
  <material name="mat_track">
    <color rgba="0.8 0.81 0.83 1"/>
  </material>
  <material name="mat_wall">
    <color rgba="0.78 0.76 0.7 1"/>
  </material>
</robot>
