<?xml version="1.0" ?>
<robot xmlns:doorbench="https://github.com/adamraudonis/DoorBench/schema/urdf-ext" name="db0367_swing_single_minimal">
  <link name="world_env">
    <visual name="floor_vis">
      <origin xyz="0 0 -0.05" rpy="0 0 0"/>
      <geometry>
        <box size="12 12 0.1"/>
      </geometry>
      <material name="mat_floor"/>
    </visual>
    <collision name="floor_col">
      <origin xyz="0 0 -0.05" rpy="0 0 0"/>
      <geometry>
        <box size="12 12 0.1"/>
      </geometry>
    </collision>
    <visual name="wall_left_vis">
      <origin xyz="-1.505 -0.09 1.35" rpy="0 0 0"/>
      <geometry>
        <box size="1.99 0.2 2.7"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_left_col">
      <origin xyz="-1.505 -0.09 1.35" rpy="0 0 0"/>
      <geometry>
        <box size="1.99 0.2 2.7"/>
      </geometry>
    </collision>
    <visual name="wall_right_vis">
      <origin xyz="1.52 -0.09 1.35" rpy="0 0 0"/>
      <geometry>
        <box size="1.96 0.2 2.7"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_right_col">
      <origin xyz="1.52 -0.09 1.35" rpy="0 0 0"/>
      <geometry>
        <box size="1.96 0.2 2.7"/>
      </geometry>
    </collision>
    <visual name="wall_header_vis">
      <origin xyz="0.015 -0.09 2.4125" rpy="0 0 0"/>
      <geometry>
        <box size="1.05 0.2 0.575"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_header_col">
      <origin xyz="0.015 -0.09 2.4125" rpy="0 0 0"/>
      <geometry>
        <box size="1.05 0.2 0.575"/>
      </geometry>
    </collision>
    <visual name="jamb_hinge_vis">
      <origin xyz="-0.485 -0.09 1.0225" rpy="0 0 0"/>
      <geometry>
        <box size="0.05 0.2 2.045"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_hinge_col">
      <origin xyz="-0.485 -0.09 1.0225" rpy="0 0 0"/>
      <geometry>
        <box size="0.05 0.2 2.045"/>
      </geometry>
    </collision>
    <visual name="strike_1266_wall_n_vis">
      <origin xyz="0.5 -0.0915 1.266" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.197 0.02"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="strike_1266_wall_n_col">
      <origin xyz="0.5 -0.0915 1.266" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.197 0.02"/>
      </geometry>
    </collision>
    <visual name="strike_1266_wall_p_vis">
      <origin xyz="0.475 0.026 1.266" rpy="0 0 0"/>
      <geometry>
        <box size="0.03 0.006 0.02"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="strike_1266_wall_p_col">
      <origin xyz="0.475 0.026 1.266" rpy="0 0 0"/>
      <geometry>
        <box size="0.03 0.006 0.02"/>
      </geometry>
    </collision>
    <visual name="strike_1266_back_vis">
      <origin xyz="0.521 0.015 1.266" rpy="0 0 0"/>
      <geometry>
        <box size="0.038 0.016 0.02"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="strike_1266_back_col">
      <origin xyz="0.521 0.015 1.266" rpy="0 0 0"/>
      <geometry>
        <box size="0.038 0.016 0.02"/>
      </geometry>
    </collision>
    <visual name="jamb_strike_0_vis">
      <origin xyz="0.5 -0.09 0.628" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.2 1.256"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_strike_0_col">
      <origin xyz="0.5 -0.09 0.628" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.2 1.256"/>
      </geometry>
    </collision>
    <visual name="jamb_strike_1_vis">
      <origin xyz="0.5 -0.09 1.6605" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.2 0.769"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_strike_1_col">
      <origin xyz="0.5 -0.09 1.6605" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.2 0.769"/>
      </geometry>
    </collision>
    <visual name="jamb_head_vis">
      <origin xyz="0.015 -0.09 2.07" rpy="0 0 0"/>
      <geometry>
        <box size="1.05 0.2 0.05"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_head_col">
      <origin xyz="0.015 -0.09 2.07" rpy="0 0 0"/>
      <geometry>
        <box size="1.05 0.2 0.05"/>
      </geometry>
    </collision>
    <visual name="head_stud_vis">
      <origin xyz="0.015 -0.09 2.11" rpy="0 0 0"/>
      <geometry>
        <box size="1.05 0.2 0.03"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="head_stud_col">
      <origin xyz="0.015 -0.09 2.11" rpy="0 0 0"/>
      <geometry>
        <box size="1.05 0.2 0.03"/>
      </geometry>
    </collision>
    <visual name="stop_hinge_vis">
      <origin xyz="-0.4545 -0.0195 1.0225" rpy="0 0 0"/>
      <geometry>
        <box size="0.011 0.032 2.045"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="stop_hinge_col">
      <origin xyz="-0.4545 -0.0195 1.0225" rpy="0 0 0"/>
      <geometry>
        <box size="0.011 0.032 2.045"/>
      </geometry>
    </collision>
    <visual name="stop_strike_vis">
      <origin xyz="0.4545 -0.0195 1.0225" rpy="0 0 0"/>
      <geometry>
        <box size="0.011 0.032 2.045"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="stop_strike_col">
      <origin xyz="0.4545 -0.0195 1.0225" rpy="0 0 0"/>
      <geometry>
        <box size="0.011 0.032 2.045"/>
      </geometry>
    </collision>
    <visual name="stop_head_vis">
      <origin xyz="0 -0.0195 2.0395" rpy="0 0 0"/>
      <geometry>
        <box size="0.92 0.032 0.011"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="stop_head_col">
      <origin xyz="0 -0.0195 2.0395" rpy="0 0 0"/>
      <geometry>
        <box size="0.92 0.032 0.011"/>
      </geometry>
    </collision>
  </link>
  <link name="leaf">
    <inertial>
      <origin xyz="0.460582 -0.01 1.024908" rpy="0 0 0"/>
      <mass value="88.994597"/>
      <inertia ixx="30.316180966" ixy="0" ixz="0.002839688" iyy="36.556502555" iyz="0" izz="6.246723526"/>
    </inertial>
    <visual name="leaf_slab_vis">
      <origin xyz="0.457 -0.01 1.025" rpy="0 0 0"/>
      <geometry>
        <box size="0.914 0.006 2.032"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <collision name="leaf_slab_col">
      <origin xyz="0.457 -0.01 1.025" rpy="0 0 0"/>
      <geometry>
        <box size="0.914 0.006 2.032"/>
      </geometry>
    </collision>
    <visual name="leaf_pull_n_vis">
      <origin xyz="0.809 -0.013 1.016" rpy="1.570796 0 0"/>
      <geometry>
        <mesh filename="../../hardware/pull_1e5d69a91a.obj"/>
      </geometry>
      <material name="mat_op_stainless"/>
    </visual>
    <collision name="leaf_pull_col_n_col">
      <origin xyz="0.809 -0.073 1.016" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.0095" length="0.16"/>
      </geometry>
    </collision>
    <visual name="leaf_pull_p_vis">
      <origin xyz="0.809 -0.007 1.016" rpy="-1.570796 0 0"/>
      <geometry>
        <mesh filename="../../hardware/pull_1e5d69a91a.obj"/>
      </geometry>
      <material name="mat_op_stainless"/>
    </visual>
    <collision name="leaf_pull_col_p_col">
      <origin xyz="0.809 0.053 1.016" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.0095" length="0.16"/>
      </geometry>
    </collision>
  </link>
  <joint name="leaf_hinge" type="revolute">
    <origin xyz="-0.457 0.01 0" rpy="0 0 0"/>
    <parent link="world_env"/>
    <child link="leaf"/>
    <axis xyz="0 0 1"/>
    <limit lower="0" upper="1.570796" effort="2000" velocity="10"/>
    <dynamics damping="0.30611" friction="1.101299"/>
    <doorbench:closer damping_closing="0" damping_opening="0" backcheck_angle="0" backcheck_damping="0"/>
  </joint>
  <material name="mat_floor">
    <color rgba="0.55 0.53 0.5 1"/>
  </material>
  <material name="mat_frame">
    <color rgba="0.55 0.56 0.58 1"/>
  </material>
  <material name="mat_leaf">
    <color rgba="0.5 0.51 0.53 1"/>
  </material>
  <material name="mat_op_stainless">
    <color rgba="0.75 0.76 0.77 1"/>
  </material>
  <material name="mat_wall">
    <color rgba="0.78 0.76 0.7 1"/>
  </material>
</robot>
