<?xml version="1.0" ?>
<robot xmlns:doorbench="https://github.com/adamraudonis/DoorBench/schema/urdf-ext" name="db0367_swing_single_simple">
  <link name="world_env">
    <visual name="floor_vis">
      <origin xyz="0 0 -0.05" rpy="0 0 0"/>
      <geometry>
        <box size="12 12 0.1"/>
      </geometry>
      <material name="mat_floor"/>
    </visual>
    <collision name="floor_col">
      <origin xyz="0 0 -0.05" rpy="0 0 0"/>
      <geometry>
        <box size="12 12 0.1"/>
      </geometry>
    </collision>
    <visual name="wall_left_vis">
      <origin xyz="-1.505 -0.077 1.35" rpy="0 0 0"/>
      <geometry>
        <box size="1.99 0.2 2.7"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_left_col">
      <origin xyz="-1.505 -0.077 1.35" rpy="0 0 0"/>
      <geometry>
        <box size="1.99 0.2 2.7"/>
      </geometry>
    </collision>
    <visual name="wall_right_vis">
      <origin xyz="1.52 -0.077 1.35" rpy="0 0 0"/>
      <geometry>
        <box size="1.96 0.2 2.7"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_right_col">
      <origin xyz="1.52 -0.077 1.35" rpy="0 0 0"/>
      <geometry>
        <box size="1.96 0.2 2.7"/>
      </geometry>
    </collision>
    <visual name="wall_header_vis">
      <origin xyz="0.015 -0.077 2.4125" rpy="0 0 0"/>
      <geometry>
        <box size="1.05 0.2 0.575"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_header_col">
      <origin xyz="0.015 -0.077 2.4125" rpy="0 0 0"/>
      <geometry>
        <box size="1.05 0.2 0.575"/>
      </geometry>
    </collision>
    <visual name="jamb_hinge_vis">
      <origin xyz="-0.485 -0.077 1.0225" rpy="0 0 0"/>
      <geometry>
        <box size="0.05 0.2 2.045"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_hinge_col">
      <origin xyz="-0.485 -0.077 1.0225" rpy="0 0 0"/>
      <geometry>
        <box size="0.05 0.2 2.045"/>
      </geometry>
    </collision>
    <visual name="strike_1266_wall_n_vis">
      <origin xyz="0.5 -0.085 1.266" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.184 0.022"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="strike_1266_wall_n_col">
      <origin xyz="0.5 -0.085 1.266" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.184 0.022"/>
      </geometry>
    </collision>
    <visual name="strike_1266_wall_p_vis">
      <origin xyz="0.475 0.026 1.266" rpy="0 0 0"/>
      <geometry>
        <box size="0.03 0.006 0.022"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="strike_1266_wall_p_col">
      <origin xyz="0.475 0.026 1.266" rpy="0 0 0"/>
      <geometry>
        <box size="0.03 0.006 0.022"/>
      </geometry>
    </collision>
    <visual name="strike_1266_back_vis">
      <origin xyz="0.5135 0.015 1.266" rpy="0 0 0"/>
      <geometry>
        <box size="0.053 0.016 0.022"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="strike_1266_back_col">
      <origin xyz="0.5135 0.015 1.266" rpy="0 0 0"/>
      <geometry>
        <box size="0.053 0.016 0.022"/>
      </geometry>
    </collision>
    <visual name="jamb_strike_0_vis">
      <origin xyz="0.5 -0.077 0.6275" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.2 1.255"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_strike_0_col">
      <origin xyz="0.5 -0.077 0.6275" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.2 1.255"/>
      </geometry>
    </collision>
    <visual name="jamb_strike_1_vis">
      <origin xyz="0.5 -0.077 1.661" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.2 0.768"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_strike_1_col">
      <origin xyz="0.5 -0.077 1.661" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.2 0.768"/>
      </geometry>
    </collision>
    <visual name="jamb_head_vis">
      <origin xyz="0.015 -0.077 2.07" rpy="0 0 0"/>
      <geometry>
        <box size="1.05 0.2 0.05"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_head_col">
      <origin xyz="0.015 -0.077 2.07" rpy="0 0 0"/>
      <geometry>
        <box size="1.05 0.2 0.05"/>
      </geometry>
    </collision>
    <visual name="head_stud_vis">
      <origin xyz="0.015 -0.077 2.11" rpy="0 0 0"/>
      <geometry>
        <box size="1.05 0.2 0.03"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="head_stud_col">
      <origin xyz="0.015 -0.077 2.11" rpy="0 0 0"/>
      <geometry>
        <box size="1.05 0.2 0.03"/>
      </geometry>
    </collision>
    <visual name="stop_hinge_vis">
      <origin xyz="-0.4545 -0.0195 1.0225" rpy="0 0 0"/>
      <geometry>
        <box size="0.011 0.032 2.045"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="stop_hinge_col">
      <origin xyz="-0.4545 -0.0195 1.0225" rpy="0 0 0"/>
      <geometry>
        <box size="0.011 0.032 2.045"/>
      </geometry>
    </collision>
    <visual name="stop_strike_vis">
      <origin xyz="0.4545 -0.0195 1.0225" rpy="0 0 0"/>
      <geometry>
        <box size="0.011 0.032 2.045"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="stop_strike_col">
      <origin xyz="0.4545 -0.0195 1.0225" rpy="0 0 0"/>
      <geometry>
        <box size="0.011 0.032 2.045"/>
      </geometry>
    </collision>
    <visual name="stop_head_vis">
      <origin xyz="0 -0.0195 2.0395" rpy="0 0 0"/>
      <geometry>
        <box size="0.92 0.032 0.011"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="stop_head_col">
      <origin xyz="0 -0.0195 2.0395" rpy="0 0 0"/>
      <geometry>
        <box size="0.92 0.032 0.011"/>
      </geometry>
    </collision>
    <visual name="wall_bumper_stop_vis">
      <origin xyz="-0.46 0.8526 0.766" rpy="-1.570796 0 0"/>
      <geometry>
        <cylinder radius="0.025" length="0.04"/>
      </geometry>
      <material name="mat_bumper_stop"/>
    </visual>
    <collision name="wall_bumper_stop_col">
      <origin xyz="-0.46 0.8526 0.766" rpy="-1.570796 0 0"/>
      <geometry>
        <cylinder radius="0.025" length="0.04"/>
      </geometry>
    </collision>
  </link>
  <link name="leaf">
    <inertial>
      <origin xyz="0.452956 -0.009646 1.025311" rpy="0 0 0"/>
      <mass value="89.919454"/>
      <inertia ixx="30.770023957" ixy="0.014286503" ixz="0.019043846" iyy="37.287465142" iyz="-0.000732153" izz="6.525847203"/>
    </inertial>
    <visual name="leaf_slab_vis">
      <origin xyz="0.457 -0.01 1.025" rpy="0 0 0"/>
      <geometry>
        <box size="0.914 0.006 2.032"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <collision name="leaf_slab_col">
      <origin xyz="0.457 -0.01 1.025" rpy="0 0 0"/>
      <geometry>
        <box size="0.914 0.006 2.032"/>
      </geometry>
    </collision>
    <visual name="hinge_0_vis">
      <origin xyz="0 0 0.259" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../../hardware/hinge_42006e5b23.obj"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="hinge_1_vis">
      <origin xyz="0 0 1.025" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../../hardware/hinge_42006e5b23.obj"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="hinge_2_vis">
      <origin xyz="0 0 1.861" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../../hardware/hinge_42006e5b23.obj"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="leaf_pull_n_vis">
      <origin xyz="0.824 -0.013 1.016" rpy="1.570796 0 0"/>
      <geometry>
        <mesh filename="../../hardware/pull_1e5d69a91a.obj"/>
      </geometry>
      <material name="mat_op_stainless"/>
    </visual>
    <collision name="leaf_pull_col_n_col">
      <origin xyz="0.824 -0.073 1.016" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.0095" length="0.16"/>
      </geometry>
    </collision>
    <visual name="leaf_pull_p_vis">
      <origin xyz="0.824 -0.007 1.016" rpy="-1.570796 0 0"/>
      <geometry>
        <mesh filename="../../hardware/pull_1e5d69a91a.obj"/>
      </geometry>
      <material name="mat_op_stainless"/>
    </visual>
    <collision name="leaf_pull_col_p_col">
      <origin xyz="0.824 0.053 1.016" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.0095" length="0.16"/>
      </geometry>
    </collision>
  </link>
  <link name="leaf_aux_bolt">
    <inertial>
      <origin xyz="0.011096 0.003904 0" rpy="0 0 0"/>
      <mass value="0.129621"/>
      <inertia ixx="0.000011733" ixy="0.000005615" ixz="0" iyy="0.000100437" iyz="0" izz="0.000109887"/>
    </inertial>
    <visual name="leaf_aux_bolt_rod_vis">
      <origin xyz="0.015 0 0" rpy="0 1.570796 0"/>
      <geometry>
        <cylinder radius="0.006" length="0.1"/>
      </geometry>
      <material name="mat_op_brass"/>
    </visual>
    <collision name="leaf_aux_bolt_rod_col">
      <origin xyz="0.015 0 0" rpy="0 1.570796 0"/>
      <geometry>
        <cylinder radius="0.006" length="0.1"/>
      </geometry>
    </collision>
    <visual name="leaf_aux_bolt_knob_vis">
      <origin xyz="0 0.015 0" rpy="-1.570796 0 0"/>
      <geometry>
        <cylinder radius="0.006" length="0.03"/>
      </geometry>
      <material name="mat_op_brass"/>
    </visual>
    <collision name="leaf_aux_bolt_knob_col">
      <origin xyz="0 0.015 0" rpy="-1.570796 0 0"/>
      <geometry>
        <cylinder radius="0.006" length="0.03"/>
      </geometry>
    </collision>
  </link>
  <joint name="leaf_hinge" type="revolute">
    <origin xyz="-0.457 0.01 0" rpy="0 0 0"/>
    <parent link="world_env"/>
    <child link="leaf"/>
    <axis xyz="0 0 1"/>
    <limit lower="0" upper="1.570796" effort="2000" velocity="10"/>
    <dynamics damping="0.30611" friction="1.101299"/>
    <doorbench:closer damping_closing="0" damping_opening="0" backcheck_angle="0" backcheck_damping="0"/>
  </joint>
  <joint name="leaf_aux_bolt_fixed" type="fixed">
    <origin xyz="0.854 0.005 1.266" rpy="0 0 0"/>
    <parent link="leaf"/>
    <child link="leaf_aux_bolt"/>
  </joint>
  <material name="mat_bumper_stop">
    <color rgba="0.08 0.08 0.08 1"/>
  </material>
  <material name="mat_floor">
    <color rgba="0.55 0.53 0.5 1"/>
  </material>
  <material name="mat_frame">
    <color rgba="0.55 0.56 0.58 1"/>
  </material>
  <material name="mat_hinge">
    <color rgba="0.65 0.66 0.68 1"/>
  </material>
  <material name="mat_leaf">
    <color rgba="0.5 0.51 0.53 1"/>
  </material>
  <material name="mat_op_brass">
    <color rgba="0.85 0.66 0.3 1"/>
  </material>
  <material name="mat_op_stainless">
    <color rgba="0.75 0.76 0.77 1"/>
  </material>
  <material name="mat_wall">
    <color rgba="0.78 0.76 0.7 1"/>
  </material>
</robot>
