<?xml version="1.0" ?>
<robot xmlns:doorbench="https://github.com/adamraudonis/DoorBench/schema/urdf-ext" name="db0431_sliding_single_full">
  <link name="world_env">
    <visual name="floor_vis">
      <origin xyz="0 0 -0.05" rpy="0 0 0"/>
      <geometry>
        <box size="12 12 0.1"/>
      </geometry>
      <material name="mat_floor"/>
    </visual>
    <collision name="floor_col">
      <origin xyz="0 0 -0.05" rpy="0 0 0"/>
      <geometry>
        <box size="12 12 0.1"/>
      </geometry>
    </collision>
    <visual name="wall_left_vis">
      <origin xyz="-1.7145 0 1.35" rpy="0 0 0"/>
      <geometry>
        <box size="1.571 0.145 2.7"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_left_col">
      <origin xyz="-1.7145 0 1.35" rpy="0 0 0"/>
      <geometry>
        <box size="1.571 0.145 2.7"/>
      </geometry>
    </collision>
    <visual name="wall_right_vis">
      <origin xyz="1.7445 0 1.35" rpy="0 0 0"/>
      <geometry>
        <box size="1.511 0.145 2.7"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_right_col">
      <origin xyz="1.7445 0 1.35" rpy="0 0 0"/>
      <geometry>
        <box size="1.511 0.145 2.7"/>
      </geometry>
    </collision>
    <visual name="wall_header_vis">
      <origin xyz="0.03 0 2.2695" rpy="0 0 0"/>
      <geometry>
        <box size="1.918 0.145 0.861"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_header_col">
      <origin xyz="0.03 0 2.2695" rpy="0 0 0"/>
      <geometry>
        <box size="1.918 0.145 0.861"/>
      </geometry>
    </collision>
    <visual name="jamb_l_vis">
      <origin xyz="-0.9195 0 0.91" rpy="0 0 0"/>
      <geometry>
        <box size="0.019 0.145 1.82"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_l_col">
      <origin xyz="-0.9195 0 0.91" rpy="0 0 0"/>
      <geometry>
        <box size="0.019 0.145 1.82"/>
      </geometry>
    </collision>
    <visual name="jamb_head_vis">
      <origin xyz="0 0 1.8295" rpy="0 0 0"/>
      <geometry>
        <box size="1.858 0.145 0.019"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_head_col">
      <origin xyz="0 0 1.8295" rpy="0 0 0"/>
      <geometry>
        <box size="1.858 0.145 0.019"/>
      </geometry>
    </collision>
    <visual name="shikii_vis">
      <origin xyz="0 0 0.012" rpy="0 0 0"/>
      <geometry>
        <box size="1.92 0.1 0.024"/>
      </geometry>
      <material name="mat_shikii"/>
    </visual>
    <collision name="shikii_col">
      <origin xyz="0 0 0.012" rpy="0 0 0"/>
      <geometry>
        <box size="1.92 0.1 0.024"/>
      </geometry>
    </collision>
    <visual name="kamoi_vis">
      <origin xyz="0 0 1.85" rpy="0 0 0"/>
      <geometry>
        <box size="1.92 0.1 0.06"/>
      </geometry>
      <material name="mat_shikii"/>
    </visual>
    <collision name="kamoi_col">
      <origin xyz="0 0 1.85" rpy="0 0 0"/>
      <geometry>
        <box size="1.92 0.1 0.06"/>
      </geometry>
    </collision>
    <visual name="fixed_panel_glass_vis">
      <origin xyz="-0.455 0.04 0.91" rpy="0 0 0"/>
      <geometry>
        <box size="0.87 0.006 1.72"/>
      </geometry>
      <material name="mat_fixed_shoji"/>
    </visual>
    <collision name="fixed_panel_glass_col">
      <origin xyz="-0.455 0.04 0.91" rpy="0 0 0"/>
      <geometry>
        <box size="0.87 0.006 1.72"/>
      </geometry>
    </collision>
    <visual name="fixed_panel_stile_vis">
      <origin xyz="-0.03 0.04 0.91" rpy="0 0 0"/>
      <geometry>
        <box size="0.06 0.024 1.82"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="fixed_panel_stile_col">
      <origin xyz="-0.03 0.04 0.91" rpy="0 0 0"/>
      <geometry>
        <box size="0.06 0.024 1.82"/>
      </geometry>
    </collision>
    <visual name="jamb_latch_0_vis">
      <origin xyz="0.9495 0 0.91" rpy="0 0 0"/>
      <geometry>
        <box size="0.079 0.145 1.82"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_latch_0_col">
      <origin xyz="0.9495 0 0.91" rpy="0 0 0"/>
      <geometry>
        <box size="0.079 0.145 1.82"/>
      </geometry>
    </collision>
  </link>
  <link name="leaf">
    <inertial>
      <origin xyz="0.00035 0.000005 0.907042" rpy="0 0 0"/>
      <mass value="7.835952"/>
      <inertia ixx="2.021083755" ixy="-0.000014909" ixz="-0.000117715" iyy="2.54977436" iyz="-0.000001781" izz="0.529868839"/>
    </inertial>
    <visual name="leaf_slab_vis">
      <origin xyz="0 0 0.907" rpy="0 0 0"/>
      <geometry>
        <box size="0.9 0.03 1.76"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <collision name="leaf_slab_col">
      <origin xyz="0 0 0.907" rpy="0 0 0"/>
      <geometry>
        <box size="0.9 0.03 1.76"/>
      </geometry>
    </collision>
    <visual name="leaf_kumiko_v1_vis">
      <origin xyz="-0.321429 0 0.907" rpy="0 0 0"/>
      <geometry>
        <box size="0.012 0.034 1.66"/>
      </geometry>
      <material name="mat_kumiko"/>
    </visual>
    <visual name="leaf_kumiko_v2_vis">
      <origin xyz="-0.192857 0 0.907" rpy="0 0 0"/>
      <geometry>
        <box size="0.012 0.034 1.66"/>
      </geometry>
      <material name="mat_kumiko"/>
    </visual>
    <visual name="leaf_kumiko_v3_vis">
      <origin xyz="-0.064286 0 0.907" rpy="0 0 0"/>
      <geometry>
        <box size="0.012 0.034 1.66"/>
      </geometry>
      <material name="mat_kumiko"/>
    </visual>
    <visual name="leaf_kumiko_v4_vis">
      <origin xyz="0.064286 0 0.907" rpy="0 0 0"/>
      <geometry>
        <box size="0.012 0.034 1.66"/>
      </geometry>
      <material name="mat_kumiko"/>
    </visual>
    <visual name="leaf_kumiko_v5_vis">
      <origin xyz="0.192857 0 0.907" rpy="0 0 0"/>
      <geometry>
        <box size="0.012 0.034 1.66"/>
      </geometry>
      <material name="mat_kumiko"/>
    </visual>
    <visual name="leaf_kumiko_v6_vis">
      <origin xyz="0.321429 0 0.907" rpy="0 0 0"/>
      <geometry>
        <box size="0.012 0.034 1.66"/>
      </geometry>
      <material name="mat_kumiko"/>
    </visual>
    <visual name="leaf_kumiko_h1_vis">
      <origin xyz="0 0 0.187" rpy="0 0 0"/>
      <geometry>
        <box size="0.82 0.034 0.012"/>
      </geometry>
      <material name="mat_kumiko"/>
    </visual>
    <visual name="leaf_kumiko_h2_vis">
      <origin xyz="0 0 0.347" rpy="0 0 0"/>
      <geometry>
        <box size="0.82 0.034 0.012"/>
      </geometry>
      <material name="mat_kumiko"/>
    </visual>
    <visual name="leaf_kumiko_h3_vis">
      <origin xyz="0 0 0.507" rpy="0 0 0"/>
      <geometry>
        <box size="0.82 0.034 0.012"/>
      </geometry>
      <material name="mat_kumiko"/>
    </visual>
    <visual name="leaf_kumiko_h4_vis">
      <origin xyz="0 0 0.667" rpy="0 0 0"/>
      <geometry>
        <box size="0.82 0.034 0.012"/>
      </geometry>
      <material name="mat_kumiko"/>
    </visual>
    <visual name="leaf_kumiko_h5_vis">
      <origin xyz="0 0 0.827" rpy="0 0 0"/>
      <geometry>
        <box size="0.82 0.034 0.012"/>
      </geometry>
      <material name="mat_kumiko"/>
    </visual>
    <visual name="leaf_kumiko_h6_vis">
      <origin xyz="0 0 0.987" rpy="0 0 0"/>
      <geometry>
        <box size="0.82 0.034 0.012"/>
      </geometry>
      <material name="mat_kumiko"/>
    </visual>
    <visual name="leaf_kumiko_h7_vis">
      <origin xyz="0 0 1.147" rpy="0 0 0"/>
      <geometry>
        <box size="0.82 0.034 0.012"/>
      </geometry>
      <material name="mat_kumiko"/>
    </visual>
    <visual name="leaf_kumiko_h8_vis">
      <origin xyz="0 0 1.307" rpy="0 0 0"/>
      <geometry>
        <box size="0.82 0.034 0.012"/>
      </geometry>
      <material name="mat_kumiko"/>
    </visual>
    <visual name="leaf_kumiko_h9_vis">
      <origin xyz="0 0 1.467" rpy="0 0 0"/>
      <geometry>
        <box size="0.82 0.034 0.012"/>
      </geometry>
      <material name="mat_kumiko"/>
    </visual>
    <visual name="leaf_kumiko_h10_vis">
      <origin xyz="0 0 1.627" rpy="0 0 0"/>
      <geometry>
        <box size="0.82 0.034 0.012"/>
      </geometry>
      <material name="mat_kumiko"/>
    </visual>
    <visual name="leaf_pull_n_vis">
      <origin xyz="0.36 -0.0155 0.95" rpy="0 0 0"/>
      <geometry>
        <box size="0.03 0.001 0.08"/>
      </geometry>
      <material name="mat_op_hinoki"/>
    </visual>
    <visual name="leaf_ext_pull_p_vis">
      <origin xyz="0.36 0.0155 0.95" rpy="0 0 0"/>
      <geometry>
        <box size="0.05 0.001 0.1"/>
      </geometry>
      <material name="mat_op_nickel_satin"/>
    </visual>
  </link>
  <joint name="leaf_slide" type="prismatic">
    <origin xyz="0.455 0 0" rpy="0 0 0"/>
    <parent link="world_env"/>
    <child link="leaf"/>
    <axis xyz="-1 0 0"/>
    <limit lower="0" upper="0.9" effort="5000" velocity="10"/>
    <dynamics damping="2.391798" friction="46.106663"/>
  </joint>
  <material name="mat_fixed_shoji">
    <color rgba="0.98 0.96 0.9 0.45"/>
  </material>
  <material name="mat_floor">
    <color rgba="0.55 0.53 0.5 1"/>
  </material>
  <material name="mat_frame">
    <color rgba="0.88 0.78 0.6 1"/>
  </material>
  <material name="mat_kumiko">
    <color rgba="0.88 0.78 0.6 1"/>
  </material>
  <material name="mat_leaf">
    <color rgba="0.98 0.96 0.9 0.45"/>
  </material>
  <material name="mat_op_hinoki">
    <color rgba="0.88 0.78 0.6 1"/>
  </material>
  <material name="mat_op_nickel_satin">
    <color rgba="0.72 0.7 0.66 1"/>
  </material>
  <material name="mat_shikii">
    <color rgba="0.88 0.78 0.6 1"/>
  </material>
  <material name="mat_wall">
    <color rgba="0.78 0.76 0.7 1"/>
  </material>
</robot>
