<?xml version="1.0" ?>
<robot xmlns:doorbench="https://github.com/adamraudonis/DoorBench/schema/urdf-ext" name="db0560_pivot_minimal">
  <link name="world_env">
    <visual name="floor_vis">
      <origin xyz="0 0 -0.05" rpy="0 0 0"/>
      <geometry>
        <box size="12 12 0.1"/>
      </geometry>
      <material name="mat_floor"/>
    </visual>
    <collision name="floor_col">
      <origin xyz="0 0 -0.05" rpy="0 0 0"/>
      <geometry>
        <box size="12 12 0.1"/>
      </geometry>
    </collision>
    <visual name="wall_left_vis">
      <origin xyz="-1.5755 -0.05 1.656" rpy="0 0 0"/>
      <geometry>
        <box size="1.849 0.2 3.312"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_left_col">
      <origin xyz="-1.5755 -0.05 1.656" rpy="0 0 0"/>
      <geometry>
        <box size="1.849 0.2 3.312"/>
      </geometry>
    </collision>
    <visual name="wall_right_vis">
      <origin xyz="1.5905 -0.05 1.656" rpy="0 0 0"/>
      <geometry>
        <box size="1.819 0.2 3.312"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_right_col">
      <origin xyz="1.5905 -0.05 1.656" rpy="0 0 0"/>
      <geometry>
        <box size="1.819 0.2 3.312"/>
      </geometry>
    </collision>
    <visual name="wall_header_vis">
      <origin xyz="0.015 -0.05 3.0495" rpy="0 0 0"/>
      <geometry>
        <box size="1.332 0.2 0.525"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_header_col">
      <origin xyz="0.015 -0.05 3.0495" rpy="0 0 0"/>
      <geometry>
        <box size="1.332 0.2 0.525"/>
      </geometry>
    </collision>
    <visual name="jamb_hinge_vis">
      <origin xyz="-0.6285 -0.05 1.356" rpy="0 0 0"/>
      <geometry>
        <box size="0.045 0.2 2.712"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_hinge_col">
      <origin xyz="-0.6285 -0.05 1.356" rpy="0 0 0"/>
      <geometry>
        <box size="0.045 0.2 2.712"/>
      </geometry>
    </collision>
    <visual name="jamb_strike_vis">
      <origin xyz="0.6285 -0.05 1.356" rpy="0 0 0"/>
      <geometry>
        <box size="0.045 0.2 2.712"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_strike_col">
      <origin xyz="0.6285 -0.05 1.356" rpy="0 0 0"/>
      <geometry>
        <box size="0.045 0.2 2.712"/>
      </geometry>
    </collision>
    <visual name="stud_strike_vis">
      <origin xyz="0.666 -0.05 1.356" rpy="0 0 0"/>
      <geometry>
        <box size="0.03 0.2 2.712"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="stud_strike_col">
      <origin xyz="0.666 -0.05 1.356" rpy="0 0 0"/>
      <geometry>
        <box size="0.03 0.2 2.712"/>
      </geometry>
    </collision>
    <visual name="jamb_head_vis">
      <origin xyz="0.015 -0.05 2.7345" rpy="0 0 0"/>
      <geometry>
        <box size="1.332 0.2 0.045"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_head_col">
      <origin xyz="0.015 -0.05 2.7345" rpy="0 0 0"/>
      <geometry>
        <box size="1.332 0.2 0.045"/>
      </geometry>
    </collision>
    <visual name="head_stud_vis">
      <origin xyz="0.015 -0.05 2.772" rpy="0 0 0"/>
      <geometry>
        <box size="1.332 0.2 0.03"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="head_stud_col">
      <origin xyz="0.015 -0.05 2.772" rpy="0 0 0"/>
      <geometry>
        <box size="1.332 0.2 0.03"/>
      </geometry>
    </collision>
  </link>
  <link name="leaf">
    <inertial>
      <origin xyz="0.655769 -0.04 1.314657" rpy="0 0 0"/>
      <mass value="138.004326"/>
      <inertia ixx="79.020880884" ixy="0" ixz="2.621264283" iyy="97.390499065" iyz="0" izz="18.774297119"/>
    </inertial>
    <visual name="leaf_slab_vis">
      <origin xyz="0.584 -0.04 1.358" rpy="0 0 0"/>
      <geometry>
        <box size="1.2 0.06 2.7"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <collision name="leaf_slab_col">
      <origin xyz="0.584 -0.04 1.358" rpy="0 0 0"/>
      <geometry>
        <box size="1.2 0.06 2.7"/>
      </geometry>
    </collision>
    <visual name="leaf_pull_n_vis">
      <origin xyz="1.094 -0.07 1.05" rpy="1.570796 0 0"/>
      <geometry>
        <mesh filename="../../hardware/pull_897e207f65.obj"/>
      </geometry>
      <material name="mat_op_stainless"/>
    </visual>
    <collision name="leaf_pull_col_n_col">
      <origin xyz="1.094 -0.135 1.05" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.016" length="1.76"/>
      </geometry>
    </collision>
    <visual name="leaf_pull_p_vis">
      <origin xyz="1.094 -0.01 1.05" rpy="-1.570796 0 0"/>
      <geometry>
        <mesh filename="../../hardware/pull_897e207f65.obj"/>
      </geometry>
      <material name="mat_op_stainless"/>
    </visual>
    <collision name="leaf_pull_col_p_col">
      <origin xyz="1.094 0.055 1.05" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.016" length="1.76"/>
      </geometry>
    </collision>
  </link>
  <joint name="leaf_hinge" type="revolute">
    <origin xyz="-0.587 0.04 0" rpy="0 0 0"/>
    <parent link="world_env"/>
    <child link="leaf"/>
    <axis xyz="0 0 1"/>
    <limit lower="0" upper="1.570796" effort="2000" velocity="10"/>
    <dynamics damping="1.061129" friction="2.257578"/>
    <doorbench:closer damping_closing="0" damping_opening="0" backcheck_angle="0" backcheck_damping="0"/>
  </joint>
  <material name="mat_floor">
    <color rgba="0.55 0.53 0.5 1"/>
  </material>
  <material name="mat_frame">
    <color rgba="0.22 0.17 0.13 1"/>
  </material>
  <material name="mat_leaf">
    <color rgba="0.36 0.25 0.18 1"/>
  </material>
  <material name="mat_op_stainless">
    <color rgba="0.75 0.76 0.77 1"/>
  </material>
  <material name="mat_wall">
    <color rgba="0.78 0.76 0.7 1"/>
  </material>
</robot>
