<?xml version="1.0" ?>
<robot xmlns:doorbench="https://github.com/adamraudonis/DoorBench/schema/urdf-ext" name="db0301_gate_swing_minimal">
  <link name="world_env">
    <visual name="floor_vis">
      <origin xyz="0 0 -0.05" rpy="0 0 0"/>
      <geometry>
        <box size="12 12 0.1"/>
      </geometry>
      <material name="mat_floor"/>
    </visual>
    <collision name="floor_col">
      <origin xyz="0 0 -0.05" rpy="0 0 0"/>
      <geometry>
        <box size="12 12 0.1"/>
      </geometry>
    </collision>
    <visual name="leaf_staple_vis">
      <origin xyz="0.476 -0.01215 0.9" rpy="0 0 0"/>
      <geometry>
        <box size="0.04 0.016 0.024"/>
      </geometry>
      <material name="mat_op_steel_galvanized"/>
    </visual>
    <visual name="post_hinge_vis">
      <origin xyz="-0.486 0 0.95" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.03" length="1.9"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="post_hinge_col">
      <origin xyz="-0.486 0 0.95" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.03" length="1.9"/>
      </geometry>
    </collision>
    <visual name="post_latch_vis">
      <origin xyz="0.486 0 0.95" rpy="0 0 0"/>
      <geometry>
        <box size="0.06 0.06 1.9"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="post_latch_col">
      <origin xyz="0.486 0 0.95" rpy="0 0 0"/>
      <geometry>
        <box size="0.06 0.06 1.9"/>
      </geometry>
    </collision>
    <visual name="gate_stop_vis">
      <origin xyz="0.436 -0.01215 0.3" rpy="0 0 0"/>
      <geometry>
        <box size="0.04 0.024 0.12"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="gate_stop_col">
      <origin xyz="0.436 -0.01215 0.3" rpy="0 0 0"/>
      <geometry>
        <box size="0.04 0.024 0.12"/>
      </geometry>
    </collision>
  </link>
  <link name="leaf">
    <inertial>
      <origin xyz="0.473331 -0.007381 0.947223" rpy="0 0 0"/>
      <mass value="5.2651"/>
      <inertia ixx="1.343217896" ixy="0.000481463" ixz="0.005800755" iyy="1.727879763" iyz="-0.000057317" izz="0.384673219"/>
    </inertial>
    <collision name="leaf_slab_col_col">
      <origin xyz="0.45 -0.00715 0.95" rpy="0 0 0"/>
      <geometry>
        <box size="0.9 0.0003 1.8"/>
      </geometry>
    </collision>
    <visual name="leaf_rail_b_vis">
      <origin xyz="0.45 -0.00715 0.0725" rpy="0 0 0"/>
      <geometry>
        <box size="0.9 0.0003 0.045"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <visual name="leaf_rail_t_vis">
      <origin xyz="0.45 -0.00715 1.8275" rpy="0 0 0"/>
      <geometry>
        <box size="0.9 0.0003 0.045"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <visual name="leaf_stile_h_vis">
      <origin xyz="0.0225 -0.00715 0.95" rpy="0 0 0"/>
      <geometry>
        <box size="0.045 0.0003 1.8"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <visual name="leaf_stile_l_vis">
      <origin xyz="0.8775 -0.00715 0.95" rpy="0 0 0"/>
      <geometry>
        <box size="0.045 0.0003 1.8"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <visual name="leaf_mesh_vis">
      <origin xyz="0.45 -0.00715 0.95" rpy="0 0 0"/>
      <geometry>
        <box size="0.81 0.003 1.71"/>
      </geometry>
      <material name="mat_mesh_infill"/>
    </visual>
    <visual name="leaf_hasp_vis">
      <origin xyz="0.87 -0.0113 0.9" rpy="0 0 0"/>
      <geometry>
        <box size="0.12 0.006 0.04"/>
      </geometry>
      <material name="mat_op_steel_galvanized"/>
    </visual>
  </link>
  <joint name="leaf_hinge" type="revolute">
    <origin xyz="-0.453 0.00715 0" rpy="0 0 0"/>
    <parent link="world_env"/>
    <child link="leaf"/>
    <axis xyz="0 0 1"/>
    <limit lower="0" upper="1.745329" effort="2000" velocity="10"/>
    <dynamics damping="0.263285" friction="2.570028"/>
    <doorbench:closer damping_closing="0" damping_opening="0" backcheck_angle="0" backcheck_damping="0"/>
  </joint>
  <material name="mat_floor">
    <color rgba="0.35 0.42 0.25 1"/>
  </material>
  <material name="mat_frame">
    <color rgba="0.65 0.66 0.68 1"/>
  </material>
  <material name="mat_leaf">
    <color rgba="0.7 0.71 0.72 1"/>
  </material>
  <material name="mat_mesh_infill">
    <color rgba="0.6 0.62 0.64 0.55"/>
  </material>
  <material name="mat_op_steel_galvanized">
    <color rgba="0.65 0.66 0.68 1"/>
  </material>
</robot>
