<?xml version="1.0" ?>
<robot xmlns:doorbench="https://github.com/adamraudonis/DoorBench/schema/urdf-ext" name="db0253_gate_swing_full">
  <link name="world_env">
    <visual name="floor_vis">
      <origin xyz="0 0 -0.05" rpy="0 0 0"/>
      <geometry>
        <box size="12 12 0.1"/>
      </geometry>
      <material name="mat_floor"/>
    </visual>
    <collision name="floor_col">
      <origin xyz="0 0 -0.05" rpy="0 0 0"/>
      <geometry>
        <box size="12 12 0.1"/>
      </geometry>
    </collision>
    <visual name="hinge_0_jamb_vis">
      <origin xyz="0.453 0.0195 0.4" rpy="0 0 3.141593"/>
      <geometry>
        <mesh filename="../../hardware/hinge_jamb_c00731b0bd.obj"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="hinge_1_jamb_vis">
      <origin xyz="0.453 0.0195 0.97" rpy="0 0 3.141593"/>
      <geometry>
        <mesh filename="../../hardware/hinge_jamb_c00731b0bd.obj"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="leaf_slide_bolt_keeper_leg_n_vis">
      <origin xyz="-0.476 -0.063 0.8115" rpy="-1.570796 0 3.141593"/>
      <geometry>
        <box size="0.014 0.005 0.026"/>
      </geometry>
      <material name="mat_op_brass"/>
    </visual>
    <collision name="leaf_slide_bolt_keeper_leg_n_col">
      <origin xyz="-0.476 -0.063 0.8115" rpy="-1.570796 0 3.141593"/>
      <geometry>
        <box size="0.014 0.005 0.026"/>
      </geometry>
    </collision>
    <visual name="leaf_slide_bolt_keeper_leg_p_vis">
      <origin xyz="-0.476 -0.063 0.7885" rpy="-1.570796 0 3.141593"/>
      <geometry>
        <box size="0.014 0.005 0.026"/>
      </geometry>
      <material name="mat_op_brass"/>
    </visual>
    <collision name="leaf_slide_bolt_keeper_leg_p_col">
      <origin xyz="-0.476 -0.063 0.7885" rpy="-1.570796 0 3.141593"/>
      <geometry>
        <box size="0.014 0.005 0.026"/>
      </geometry>
    </collision>
    <visual name="leaf_slide_bolt_keeper_bridge_vis">
      <origin xyz="-0.476 -0.0735 0.8" rpy="-1.570796 0 3.141593"/>
      <geometry>
        <box size="0.014 0.028 0.005"/>
      </geometry>
      <material name="mat_op_brass"/>
    </visual>
    <collision name="leaf_slide_bolt_keeper_bridge_col">
      <origin xyz="-0.476 -0.0735 0.8" rpy="-1.570796 0 3.141593"/>
      <geometry>
        <box size="0.014 0.028 0.005"/>
      </geometry>
    </collision>
    <visual name="leaf_slide_bolt_keeper_base_vis">
      <origin xyz="-0.476 -0.051 0.8" rpy="-1.570796 0 3.141593"/>
      <geometry>
        <box size="0.03 0.04 0.002"/>
      </geometry>
      <material name="mat_op_brass"/>
    </visual>
    <visual name="post_hinge_vis">
      <origin xyz="0.506 0 0.6" rpy="0 0 0"/>
      <geometry>
        <box size="0.1 0.1 1.2"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="post_hinge_col">
      <origin xyz="0.506 0 0.6" rpy="0 0 0"/>
      <geometry>
        <box size="0.1 0.1 1.2"/>
      </geometry>
    </collision>
    <visual name="post_hinge_cap_vis">
      <origin xyz="0.506 0 1.22" rpy="0 0 0"/>
      <geometry>
        <box size="0.13 0.13 0.04"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <visual name="post_latch_vis">
      <origin xyz="-0.506 0 0.6" rpy="0 0 0"/>
      <geometry>
        <box size="0.1 0.1 1.2"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="post_latch_col">
      <origin xyz="-0.506 0 0.6" rpy="0 0 0"/>
      <geometry>
        <box size="0.1 0.1 1.2"/>
      </geometry>
    </collision>
    <visual name="post_latch_cap_vis">
      <origin xyz="-0.506 0 1.22" rpy="0 0 0"/>
      <geometry>
        <box size="0.13 0.13 0.04"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <visual name="gate_stop_vis">
      <origin xyz="-0.436 -0.0465 0.4" rpy="0 0 0"/>
      <geometry>
        <box size="0.04 0.024 0.12"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="gate_stop_col">
      <origin xyz="-0.436 -0.0465 0.4" rpy="0 0 0"/>
      <geometry>
        <box size="0.04 0.024 0.12"/>
      </geometry>
    </collision>
    <visual name="wall_bumper_stop_vis">
      <origin xyz="0.370384 0.781734 0.35" rpy="-1.570796 1.396263 -1.396263"/>
      <geometry>
        <cylinder radius="0.025" length="0.04"/>
      </geometry>
      <material name="mat_bumper_stop"/>
    </visual>
    <collision name="wall_bumper_stop_col">
      <origin xyz="0.370384 0.781734 0.35" rpy="-1.570796 1.396263 -1.396263"/>
      <geometry>
        <cylinder radius="0.025" length="0.04"/>
      </geometry>
    </collision>
    <visual name="fence_picket_l_0_vis">
      <origin xyz="-0.636 0 0.65" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1"/>
      </geometry>
      <material name="mat_fence"/>
    </visual>
    <collision name="fence_picket_l_0_col">
      <origin xyz="-0.636 0 0.65" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1"/>
      </geometry>
    </collision>
    <visual name="fence_picket_l_1_vis">
      <origin xyz="-0.796 0 0.65" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1"/>
      </geometry>
      <material name="mat_fence"/>
    </visual>
    <collision name="fence_picket_l_1_col">
      <origin xyz="-0.796 0 0.65" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1"/>
      </geometry>
    </collision>
    <visual name="fence_picket_l_2_vis">
      <origin xyz="-0.956 0 0.65" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1"/>
      </geometry>
      <material name="mat_fence"/>
    </visual>
    <collision name="fence_picket_l_2_col">
      <origin xyz="-0.956 0 0.65" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1"/>
      </geometry>
    </collision>
    <visual name="fence_picket_l_3_vis">
      <origin xyz="-1.116 0 0.65" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1"/>
      </geometry>
      <material name="mat_fence"/>
    </visual>
    <collision name="fence_picket_l_3_col">
      <origin xyz="-1.116 0 0.65" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1"/>
      </geometry>
    </collision>
    <visual name="fence_picket_l_4_vis">
      <origin xyz="-1.276 0 0.65" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1"/>
      </geometry>
      <material name="mat_fence"/>
    </visual>
    <collision name="fence_picket_l_4_col">
      <origin xyz="-1.276 0 0.65" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1"/>
      </geometry>
    </collision>
    <visual name="fence_picket_l_5_vis">
      <origin xyz="-1.436 0 0.65" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1"/>
      </geometry>
      <material name="mat_fence"/>
    </visual>
    <collision name="fence_picket_l_5_col">
      <origin xyz="-1.436 0 0.65" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1"/>
      </geometry>
    </collision>
    <visual name="fence_picket_l_6_vis">
      <origin xyz="-1.596 0 0.65" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1"/>
      </geometry>
      <material name="mat_fence"/>
    </visual>
    <collision name="fence_picket_l_6_col">
      <origin xyz="-1.596 0 0.65" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1"/>
      </geometry>
    </collision>
    <visual name="fence_picket_l_7_vis">
      <origin xyz="-1.756 0 0.65" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1"/>
      </geometry>
      <material name="mat_fence"/>
    </visual>
    <collision name="fence_picket_l_7_col">
      <origin xyz="-1.756 0 0.65" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1"/>
      </geometry>
    </collision>
    <visual name="fence_picket_l_8_vis">
      <origin xyz="-1.916 0 0.65" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1"/>
      </geometry>
      <material name="mat_fence"/>
    </visual>
    <collision name="fence_picket_l_8_col">
      <origin xyz="-1.916 0 0.65" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1"/>
      </geometry>
    </collision>
    <visual name="fence_picket_l_9_vis">
      <origin xyz="-2.076 0 0.65" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1"/>
      </geometry>
      <material name="mat_fence"/>
    </visual>
    <collision name="fence_picket_l_9_col">
      <origin xyz="-2.076 0 0.65" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1"/>
      </geometry>
    </collision>
    <visual name="fence_picket_l_10_vis">
      <origin xyz="-2.236 0 0.65" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1"/>
      </geometry>
      <material name="mat_fence"/>
    </visual>
    <collision name="fence_picket_l_10_col">
      <origin xyz="-2.236 0 0.65" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1"/>
      </geometry>
    </collision>
    <visual name="fence_picket_l_11_vis">
      <origin xyz="-2.396 0 0.65" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1"/>
      </geometry>
      <material name="mat_fence"/>
    </visual>
    <collision name="fence_picket_l_11_col">
      <origin xyz="-2.396 0 0.65" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1"/>
      </geometry>
    </collision>
    <visual name="fence_rail_l_vis">
      <origin xyz="-1.556 0.015 1" rpy="0 0 0"/>
      <geometry>
        <box size="2 0.03 0.08"/>
      </geometry>
      <material name="mat_fence"/>
    </visual>
    <collision name="fence_rail_l_col">
      <origin xyz="-1.556 0.015 1" rpy="0 0 0"/>
      <geometry>
        <box size="2 0.03 0.08"/>
      </geometry>
    </collision>
    <visual name="fence_rail_b_l_vis">
      <origin xyz="-1.556 0.015 0.35" rpy="0 0 0"/>
      <geometry>
        <box size="2 0.03 0.08"/>
      </geometry>
      <material name="mat_fence"/>
    </visual>
    <collision name="fence_rail_b_l_col">
      <origin xyz="-1.556 0.015 0.35" rpy="0 0 0"/>
      <geometry>
        <box size="2 0.03 0.08"/>
      </geometry>
    </collision>
    <visual name="fence_picket_r_0_vis">
      <origin xyz="0.636 0 0.65" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1"/>
      </geometry>
      <material name="mat_fence"/>
    </visual>
    <collision name="fence_picket_r_0_col">
      <origin xyz="0.636 0 0.65" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1"/>
      </geometry>
    </collision>
    <visual name="fence_picket_r_1_vis">
      <origin xyz="0.796 0 0.65" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1"/>
      </geometry>
      <material name="mat_fence"/>
    </visual>
    <collision name="fence_picket_r_1_col">
      <origin xyz="0.796 0 0.65" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1"/>
      </geometry>
    </collision>
    <visual name="fence_picket_r_2_vis">
      <origin xyz="0.956 0 0.65" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1"/>
      </geometry>
      <material name="mat_fence"/>
    </visual>
    <collision name="fence_picket_r_2_col">
      <origin xyz="0.956 0 0.65" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1"/>
      </geometry>
    </collision>
    <visual name="fence_picket_r_3_vis">
      <origin xyz="1.116 0 0.65" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1"/>
      </geometry>
      <material name="mat_fence"/>
    </visual>
    <collision name="fence_picket_r_3_col">
      <origin xyz="1.116 0 0.65" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1"/>
      </geometry>
    </collision>
    <visual name="fence_picket_r_4_vis">
      <origin xyz="1.276 0 0.65" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1"/>
      </geometry>
      <material name="mat_fence"/>
    </visual>
    <collision name="fence_picket_r_4_col">
      <origin xyz="1.276 0 0.65" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1"/>
      </geometry>
    </collision>
    <visual name="fence_picket_r_5_vis">
      <origin xyz="1.436 0 0.65" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1"/>
      </geometry>
      <material name="mat_fence"/>
    </visual>
    <collision name="fence_picket_r_5_col">
      <origin xyz="1.436 0 0.65" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1"/>
      </geometry>
    </collision>
    <visual name="fence_picket_r_6_vis">
      <origin xyz="1.596 0 0.65" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1"/>
      </geometry>
      <material name="mat_fence"/>
    </visual>
    <collision name="fence_picket_r_6_col">
      <origin xyz="1.596 0 0.65" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1"/>
      </geometry>
    </collision>
    <visual name="fence_picket_r_7_vis">
      <origin xyz="1.756 0 0.65" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1"/>
      </geometry>
      <material name="mat_fence"/>
    </visual>
    <collision name="fence_picket_r_7_col">
      <origin xyz="1.756 0 0.65" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1"/>
      </geometry>
    </collision>
    <visual name="fence_picket_r_8_vis">
      <origin xyz="1.916 0 0.65" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1"/>
      </geometry>
      <material name="mat_fence"/>
    </visual>
    <collision name="fence_picket_r_8_col">
      <origin xyz="1.916 0 0.65" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1"/>
      </geometry>
    </collision>
    <visual name="fence_picket_r_9_vis">
      <origin xyz="2.076 0 0.65" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1"/>
      </geometry>
      <material name="mat_fence"/>
    </visual>
    <collision name="fence_picket_r_9_col">
      <origin xyz="2.076 0 0.65" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1"/>
      </geometry>
    </collision>
    <visual name="fence_picket_r_10_vis">
      <origin xyz="2.236 0 0.65" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1"/>
      </geometry>
      <material name="mat_fence"/>
    </visual>
    <collision name="fence_picket_r_10_col">
      <origin xyz="2.236 0 0.65" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1"/>
      </geometry>
    </collision>
    <visual name="fence_picket_r_11_vis">
      <origin xyz="2.396 0 0.65" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1"/>
      </geometry>
      <material name="mat_fence"/>
    </visual>
    <collision name="fence_picket_r_11_col">
      <origin xyz="2.396 0 0.65" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1"/>
      </geometry>
    </collision>
    <visual name="fence_rail_r_vis">
      <origin xyz="1.556 0.015 1" rpy="0 0 0"/>
      <geometry>
        <box size="2 0.03 0.08"/>
      </geometry>
      <material name="mat_fence"/>
    </visual>
    <collision name="fence_rail_r_col">
      <origin xyz="1.556 0.015 1" rpy="0 0 0"/>
      <geometry>
        <box size="2 0.03 0.08"/>
      </geometry>
    </collision>
    <visual name="fence_rail_b_r_vis">
      <origin xyz="1.556 0.015 0.35" rpy="0 0 0"/>
      <geometry>
        <box size="2 0.03 0.08"/>
      </geometry>
      <material name="mat_fence"/>
    </visual>
    <collision name="fence_rail_b_r_col">
      <origin xyz="1.556 0.015 0.35" rpy="0 0 0"/>
      <geometry>
        <box size="2 0.03 0.08"/>
      </geometry>
    </collision>
  </link>
  <link name="leaf">
    <inertial>
      <origin xyz="-0.437467 -0.019587 0.654753" rpy="0 0 0"/>
      <mass value="8.483216"/>
      <inertia ixx="0.696919581" ixy="-0.005099629" ixz="0.004734905" iyy="1.335183878" iyz="0.000755863" izz="0.639979007"/>
    </inertial>
    <visual name="leaf_slab_vis">
      <origin xyz="-0.45 -0.0195 0.65" rpy="0 0 0"/>
      <geometry>
        <box size="0.9 0.025 1"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <collision name="leaf_slab_col">
      <origin xyz="-0.45 -0.0195 0.65" rpy="0 0 0"/>
      <geometry>
        <box size="0.9 0.025 1"/>
      </geometry>
    </collision>
    <visual name="leaf_plank_gap_1_vis">
      <origin xyz="-0.15 -0.0195 0.65" rpy="0 0 0"/>
      <geometry>
        <box size="0.004 0.027 0.98"/>
      </geometry>
      <material name="mat_leaf_brace"/>
    </visual>
    <visual name="leaf_plank_gap_2_vis">
      <origin xyz="-0.3 -0.0195 0.65" rpy="0 0 0"/>
      <geometry>
        <box size="0.004 0.027 0.98"/>
      </geometry>
      <material name="mat_leaf_brace"/>
    </visual>
    <visual name="leaf_plank_gap_3_vis">
      <origin xyz="-0.45 -0.0195 0.65" rpy="0 0 0"/>
      <geometry>
        <box size="0.004 0.027 0.98"/>
      </geometry>
      <material name="mat_leaf_brace"/>
    </visual>
    <visual name="leaf_plank_gap_4_vis">
      <origin xyz="-0.6 -0.0195 0.65" rpy="0 0 0"/>
      <geometry>
        <box size="0.004 0.027 0.98"/>
      </geometry>
      <material name="mat_leaf_brace"/>
    </visual>
    <visual name="leaf_plank_gap_5_vis">
      <origin xyz="-0.75 -0.0195 0.65" rpy="0 0 0"/>
      <geometry>
        <box size="0.004 0.027 0.98"/>
      </geometry>
      <material name="mat_leaf_brace"/>
    </visual>
    <visual name="leaf_batten_27_vis">
      <origin xyz="-0.45 -0.042 0.27" rpy="0 0 0"/>
      <geometry>
        <box size="0.84 0.02 0.09"/>
      </geometry>
      <material name="mat_leaf_brace"/>
    </visual>
    <visual name="leaf_batten_102_vis">
      <origin xyz="-0.45 -0.042 1.03" rpy="0 0 0"/>
      <geometry>
        <box size="0.84 0.02 0.09"/>
      </geometry>
      <material name="mat_leaf_brace"/>
    </visual>
    <visual name="leaf_batten_65_vis">
      <origin xyz="-0.45 -0.042 0.65" rpy="0 0 0"/>
      <geometry>
        <box size="0.84 0.02 0.09"/>
      </geometry>
      <material name="mat_leaf_brace"/>
    </visual>
    <visual name="hinge_0_vis">
      <origin xyz="0 0 0.4" rpy="0 0 3.141593"/>
      <geometry>
        <mesh filename="../../hardware/hinge_b433cbce2b.obj"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="hinge_1_vis">
      <origin xyz="0 0 0.97" rpy="0 0 3.141593"/>
      <geometry>
        <mesh filename="../../hardware/hinge_b433cbce2b.obj"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="leaf_slide_bolt_plate_vis">
      <origin xyz="-0.838 -0.033 0.8" rpy="-1.570796 0 3.141593"/>
      <geometry>
        <box size="0.108 0.038 0.002"/>
      </geometry>
      <material name="mat_op_brass"/>
    </visual>
    <visual name="leaf_slide_bolt_guide_0_leg_n_vis">
      <origin xyz="-0.884 -0.06325 0.811" rpy="-1.570796 0 3.141593"/>
      <geometry>
        <box size="0.012 0.004 0.0625"/>
      </geometry>
      <material name="mat_op_brass"/>
    </visual>
    <visual name="leaf_slide_bolt_guide_0_leg_p_vis">
      <origin xyz="-0.884 -0.06325 0.789" rpy="-1.570796 0 3.141593"/>
      <geometry>
        <box size="0.012 0.004 0.0625"/>
      </geometry>
      <material name="mat_op_brass"/>
    </visual>
    <visual name="leaf_slide_bolt_guide_0_bridge_vis">
      <origin xyz="-0.884 -0.0925 0.8" rpy="-1.570796 0 3.141593"/>
      <geometry>
        <box size="0.012 0.026 0.004"/>
      </geometry>
      <material name="mat_op_brass"/>
    </visual>
    <visual name="leaf_slide_bolt_guide_1_leg_n_vis">
      <origin xyz="-0.794 -0.06325 0.811" rpy="-1.570796 0 3.141593"/>
      <geometry>
        <box size="0.012 0.004 0.0625"/>
      </geometry>
      <material name="mat_op_brass"/>
    </visual>
    <visual name="leaf_slide_bolt_guide_1_leg_p_vis">
      <origin xyz="-0.794 -0.06325 0.789" rpy="-1.570796 0 3.141593"/>
      <geometry>
        <box size="0.012 0.004 0.0625"/>
      </geometry>
      <material name="mat_op_brass"/>
    </visual>
    <visual name="leaf_slide_bolt_guide_1_bridge_vis">
      <origin xyz="-0.794 -0.0925 0.8" rpy="-1.570796 0 3.141593"/>
      <geometry>
        <box size="0.012 0.026 0.004"/>
      </geometry>
      <material name="mat_op_brass"/>
    </visual>
  </link>
  <link name="leaf_slide_bolt">
    <inertial>
      <origin xyz="0.015176 -0.00492 0" rpy="0 0 0"/>
      <mass value="0.111784"/>
      <inertia ixx="0.000012882" ixy="0.000010903" ixz="0" iyy="0.000080446" iyz="0" izz="0.00009144"/>
    </inertial>
    <visual name="leaf_slide_bolt_rod_vis">
      <origin xyz="0.009 0 0" rpy="0 -1.570796 0"/>
      <geometry>
        <cylinder radius="0.006" length="0.088"/>
      </geometry>
      <material name="mat_op_brass"/>
    </visual>
    <collision name="leaf_slide_bolt_rod_col">
      <origin xyz="0.009 0 0" rpy="0 -1.570796 0"/>
      <geometry>
        <cylinder radius="0.006" length="0.088"/>
      </geometry>
    </collision>
    <visual name="leaf_slide_bolt_knob_vis">
      <origin xyz="0.035 -0.015 0" rpy="1.570796 0 0"/>
      <geometry>
        <cylinder radius="0.005" length="0.02"/>
      </geometry>
      <material name="mat_op_brass"/>
    </visual>
    <collision name="leaf_slide_bolt_knob_col">
      <origin xyz="0.035 -0.015 0" rpy="1.570796 0 0"/>
      <geometry>
        <cylinder radius="0.005" length="0.02"/>
      </geometry>
    </collision>
    <visual name="leaf_slide_bolt_knob_end_vis">
      <origin xyz="0.035 -0.03 0" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.00675"/>
      </geometry>
      <material name="mat_op_brass"/>
    </visual>
  </link>
  <joint name="leaf_hinge" type="revolute">
    <origin xyz="0.453 0.0195 0" rpy="0 0 0"/>
    <parent link="world_env"/>
    <child link="leaf"/>
    <axis xyz="0 0 -1"/>
    <limit lower="0" upper="1.396263" effort="2000" velocity="10"/>
    <dynamics damping="0.168492" friction="1.673627"/>
    <doorbench:closer damping_closing="0" damping_opening="0" backcheck_angle="0" backcheck_damping="0"/>
  </joint>
  <joint name="leaf_slide_bolt_slide" type="prismatic">
    <origin xyz="-0.9 -0.0815 0.8" rpy="0 0 0"/>
    <parent link="leaf"/>
    <child link="leaf_slide_bolt"/>
    <axis xyz="1 0 0"/>
    <limit lower="0" upper="0.045" effort="5000" velocity="10"/>
    <dynamics damping="1" friction="1"/>
  </joint>
  <material name="mat_bumper_stop">
    <color rgba="0.08 0.08 0.08 1"/>
  </material>
  <material name="mat_fence">
    <color rgba="0.7 0.45 0.32 1"/>
  </material>
  <material name="mat_floor">
    <color rgba="0.35 0.42 0.25 1"/>
  </material>
  <material name="mat_frame">
    <color rgba="0.7 0.45 0.32 1"/>
  </material>
  <material name="mat_hinge">
    <color rgba="0.45 0.3 0.22 1"/>
  </material>
  <material name="mat_leaf">
    <color rgba="0.6 0.475 0.41 1"/>
  </material>
  <material name="mat_leaf_brace">
    <color rgba="0.54 0.427 0.369 1"/>
  </material>
  <material name="mat_op_brass">
    <color rgba="0.85 0.66 0.3 1"/>
  </material>
</robot>
