<?xml version="1.0" ?>
<robot xmlns:doorbench="https://github.com/adamraudonis/DoorBench/schema/urdf-ext" name="db0066_revolving_full">
  <link name="world_env">
    <visual name="floor_vis">
      <origin xyz="0 0 -0.05" rpy="0 0 0"/>
      <geometry>
        <box size="12 12 0.1"/>
      </geometry>
      <material name="mat_floor"/>
    </visual>
    <collision name="floor_col">
      <origin xyz="0 0 -0.05" rpy="0 0 0"/>
      <geometry>
        <box size="12 12 0.1"/>
      </geometry>
    </collision>
    <visual name="wall_left_vis">
      <origin xyz="-2.275 0 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="1.45 0.3 3"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_left_col">
      <origin xyz="-2.275 0 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="1.45 0.3 3"/>
      </geometry>
    </collision>
    <visual name="wall_right_vis">
      <origin xyz="2.275 0 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="1.45 0.3 3"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_right_col">
      <origin xyz="2.275 0 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="1.45 0.3 3"/>
      </geometry>
    </collision>
    <visual name="wall_header_vis">
      <origin xyz="0 0 2.85" rpy="0 0 0"/>
      <geometry>
        <box size="3.1 0.3 0.3"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_header_col">
      <origin xyz="0 0 2.85" rpy="0 0 0"/>
      <geometry>
        <box size="3.1 0.3 0.3"/>
      </geometry>
    </collision>
    <visual name="drum_0_vis">
      <origin xyz="1.510443 0.170186 1.2425" rpy="0 0 1.682996"/>
      <geometry>
        <box size="0.345087 0.012 2.485"/>
      </geometry>
      <material name="mat_drum_glass"/>
    </visual>
    <collision name="drum_0_col">
      <origin xyz="1.510443 0.170186 1.2425" rpy="0 0 1.682996"/>
      <geometry>
        <box size="0.345087 0.012 2.485"/>
      </geometry>
    </collision>
    <visual name="drum_1_vis">
      <origin xyz="1.434703 0.502024 1.2425" rpy="0 0 1.907396"/>
      <geometry>
        <box size="0.345087 0.012 2.485"/>
      </geometry>
      <material name="mat_drum_glass"/>
    </visual>
    <collision name="drum_1_col">
      <origin xyz="1.434703 0.502024 1.2425" rpy="0 0 1.907396"/>
      <geometry>
        <box size="0.345087 0.012 2.485"/>
      </geometry>
    </collision>
    <visual name="drum_2_vis">
      <origin xyz="1.287021 0.808689 1.2425" rpy="0 0 2.131795"/>
      <geometry>
        <box size="0.345087 0.012 2.485"/>
      </geometry>
      <material name="mat_drum_glass"/>
    </visual>
    <collision name="drum_2_col">
      <origin xyz="1.287021 0.808689 1.2425" rpy="0 0 2.131795"/>
      <geometry>
        <box size="0.345087 0.012 2.485"/>
      </geometry>
    </collision>
    <visual name="drum_11_vis">
      <origin xyz="-1.287021 0.808689 1.2425" rpy="0 0 -2.131795"/>
      <geometry>
        <box size="0.345087 0.012 2.485"/>
      </geometry>
      <material name="mat_drum_glass"/>
    </visual>
    <collision name="drum_11_col">
      <origin xyz="-1.287021 0.808689 1.2425" rpy="0 0 -2.131795"/>
      <geometry>
        <box size="0.345087 0.012 2.485"/>
      </geometry>
    </collision>
    <visual name="drum_12_vis">
      <origin xyz="-1.434703 0.502024 1.2425" rpy="0 0 -1.907396"/>
      <geometry>
        <box size="0.345087 0.012 2.485"/>
      </geometry>
      <material name="mat_drum_glass"/>
    </visual>
    <collision name="drum_12_col">
      <origin xyz="-1.434703 0.502024 1.2425" rpy="0 0 -1.907396"/>
      <geometry>
        <box size="0.345087 0.012 2.485"/>
      </geometry>
    </collision>
    <visual name="drum_13_vis">
      <origin xyz="-1.510443 0.170186 1.2425" rpy="0 0 -1.682996"/>
      <geometry>
        <box size="0.345087 0.012 2.485"/>
      </geometry>
      <material name="mat_drum_glass"/>
    </visual>
    <collision name="drum_13_col">
      <origin xyz="-1.510443 0.170186 1.2425" rpy="0 0 -1.682996"/>
      <geometry>
        <box size="0.345087 0.012 2.485"/>
      </geometry>
    </collision>
    <visual name="drum_14_vis">
      <origin xyz="-1.510443 -0.170186 1.2425" rpy="0 0 -1.458597"/>
      <geometry>
        <box size="0.345087 0.012 2.485"/>
      </geometry>
      <material name="mat_drum_glass"/>
    </visual>
    <collision name="drum_14_col">
      <origin xyz="-1.510443 -0.170186 1.2425" rpy="0 0 -1.458597"/>
      <geometry>
        <box size="0.345087 0.012 2.485"/>
      </geometry>
    </collision>
    <visual name="drum_15_vis">
      <origin xyz="-1.434703 -0.502024 1.2425" rpy="0 0 -1.234197"/>
      <geometry>
        <box size="0.345087 0.012 2.485"/>
      </geometry>
      <material name="mat_drum_glass"/>
    </visual>
    <collision name="drum_15_col">
      <origin xyz="-1.434703 -0.502024 1.2425" rpy="0 0 -1.234197"/>
      <geometry>
        <box size="0.345087 0.012 2.485"/>
      </geometry>
    </collision>
    <visual name="drum_16_vis">
      <origin xyz="-1.287021 -0.808689 1.2425" rpy="0 0 -1.009798"/>
      <geometry>
        <box size="0.345087 0.012 2.485"/>
      </geometry>
      <material name="mat_drum_glass"/>
    </visual>
    <collision name="drum_16_col">
      <origin xyz="-1.287021 -0.808689 1.2425" rpy="0 0 -1.009798"/>
      <geometry>
        <box size="0.345087 0.012 2.485"/>
      </geometry>
    </collision>
    <visual name="drum_25_vis">
      <origin xyz="1.287021 -0.808689 1.2425" rpy="0 0 1.009798"/>
      <geometry>
        <box size="0.345087 0.012 2.485"/>
      </geometry>
      <material name="mat_drum_glass"/>
    </visual>
    <collision name="drum_25_col">
      <origin xyz="1.287021 -0.808689 1.2425" rpy="0 0 1.009798"/>
      <geometry>
        <box size="0.345087 0.012 2.485"/>
      </geometry>
    </collision>
    <visual name="drum_26_vis">
      <origin xyz="1.434703 -0.502024 1.2425" rpy="0 0 1.234197"/>
      <geometry>
        <box size="0.345087 0.012 2.485"/>
      </geometry>
      <material name="mat_drum_glass"/>
    </visual>
    <collision name="drum_26_col">
      <origin xyz="1.434703 -0.502024 1.2425" rpy="0 0 1.234197"/>
      <geometry>
        <box size="0.345087 0.012 2.485"/>
      </geometry>
    </collision>
    <visual name="drum_27_vis">
      <origin xyz="1.510443 -0.170186 1.2425" rpy="0 0 1.458597"/>
      <geometry>
        <box size="0.345087 0.012 2.485"/>
      </geometry>
      <material name="mat_drum_glass"/>
    </visual>
    <collision name="drum_27_col">
      <origin xyz="1.510443 -0.170186 1.2425" rpy="0 0 1.458597"/>
      <geometry>
        <box size="0.345087 0.012 2.485"/>
      </geometry>
    </collision>
    <visual name="drum_canopy_vis">
      <origin xyz="0 0 2.5925" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="1.58" length="0.215"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="drum_canopy_col">
      <origin xyz="0 0 2.5925" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="1.58" length="0.215"/>
      </geometry>
    </collision>
    <visual name="rotor_top_bearing_vis">
      <origin xyz="0 0 2.482" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.075" length="0.006"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="rotor_top_bearing_col">
      <origin xyz="0 0 2.482" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.075" length="0.006"/>
      </geometry>
    </collision>
    <visual name="drum_floor_ring_vis">
      <origin xyz="0 0 0.003" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="1.58" length="0.006"/>
      </geometry>
      <material name="mat_floor_ring"/>
    </visual>
    <visual name="rotor_floor_pivot_vis">
      <origin xyz="0 0 0.009" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.075" length="0.006"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="rotor_floor_pivot_col">
      <origin xyz="0 0 0.009" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.075" length="0.006"/>
      </geometry>
    </collision>
  </link>
  <link name="rotor">
    <inertial>
      <origin xyz="0 0 1.245744" rpy="0 0 0"/>
      <mass value="91.25"/>
      <inertia ixx="95.437064393" ixy="0" ixz="0" iyy="95.437064393" iyz="0" izz="69.426137705"/>
    </inertial>
    <visual name="rotor_shaft_vis">
      <origin xyz="0 0 1.245" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.06" length="2.45"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="rotor_shaft_col">
      <origin xyz="0 0 1.245" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.06" length="2.45"/>
      </geometry>
    </collision>
    <visual name="rotor_pintle_b_vis">
      <origin xyz="0 0 0.016" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.03" length="0.016"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <visual name="rotor_pintle_t_vis">
      <origin xyz="0 0 2.4745" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.03" length="0.017"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <visual name="wing_0_glass_vis">
      <origin xyz="0.75 0 1.25" rpy="0 0 0"/>
      <geometry>
        <box size="1.46 0.01 2.3"/>
      </geometry>
      <material name="mat_drum_glass"/>
    </visual>
    <collision name="wing_0_glass_col">
      <origin xyz="0.75 0 1.25" rpy="0 0 0"/>
      <geometry>
        <box size="1.46 0.01 2.3"/>
      </geometry>
    </collision>
    <visual name="wing_0_stile_vis">
      <origin xyz="1.48 0 1.245" rpy="0 0 0"/>
      <geometry>
        <box size="0.04 0.06 2.45"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="wing_0_stile_col">
      <origin xyz="1.48 0 1.245" rpy="0 0 0"/>
      <geometry>
        <box size="0.04 0.06 2.45"/>
      </geometry>
    </collision>
    <visual name="wing_0_rail_b_vis">
      <origin xyz="0.73 0 0.06" rpy="0 0 0"/>
      <geometry>
        <box size="1.46 0.06 0.08"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="wing_0_rail_b_col">
      <origin xyz="0.73 0 0.06" rpy="0 0 0"/>
      <geometry>
        <box size="1.46 0.06 0.08"/>
      </geometry>
    </collision>
    <visual name="wing_0_rail_t_vis">
      <origin xyz="0.73 0 2.43" rpy="0 0 0"/>
      <geometry>
        <box size="1.46 0.06 0.08"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="wing_0_rail_t_col">
      <origin xyz="0.73 0 2.43" rpy="0 0 0"/>
      <geometry>
        <box size="1.46 0.06 0.08"/>
      </geometry>
    </collision>
    <visual name="wing_0_bar_vis">
      <origin xyz="0.9 0.055 1" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.012" length="0.3"/>
      </geometry>
      <material name="mat_op_stainless"/>
    </visual>
    <collision name="wing_0_bar_col">
      <origin xyz="0.9 0.055 1" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.012" length="0.3"/>
      </geometry>
    </collision>
    <visual name="wing_0_bar_stud_d_vis">
      <origin xyz="0.9 0.031 0.88" rpy="-1.570796 0 0"/>
      <geometry>
        <cylinder radius="0.009" length="0.056"/>
      </geometry>
      <material name="mat_op_stainless"/>
    </visual>
    <visual name="wing_0_bar_stud_u_vis">
      <origin xyz="0.9 0.031 1.12" rpy="-1.570796 0 0"/>
      <geometry>
        <cylinder radius="0.009" length="0.056"/>
      </geometry>
      <material name="mat_op_stainless"/>
    </visual>
    <visual name="wing_1_glass_vis">
      <origin xyz="-0.375 0.649519 1.25" rpy="0 0 2.094395"/>
      <geometry>
        <box size="1.46 0.01 2.3"/>
      </geometry>
      <material name="mat_drum_glass"/>
    </visual>
    <collision name="wing_1_glass_col">
      <origin xyz="-0.375 0.649519 1.25" rpy="0 0 2.094395"/>
      <geometry>
        <box size="1.46 0.01 2.3"/>
      </geometry>
    </collision>
    <visual name="wing_1_stile_vis">
      <origin xyz="-0.74 1.281718 1.245" rpy="0 0 2.094395"/>
      <geometry>
        <box size="0.04 0.06 2.45"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="wing_1_stile_col">
      <origin xyz="-0.74 1.281718 1.245" rpy="0 0 2.094395"/>
      <geometry>
        <box size="0.04 0.06 2.45"/>
      </geometry>
    </collision>
    <visual name="wing_1_rail_b_vis">
      <origin xyz="-0.365 0.632199 0.06" rpy="0 0 2.094395"/>
      <geometry>
        <box size="1.46 0.06 0.08"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="wing_1_rail_b_col">
      <origin xyz="-0.365 0.632199 0.06" rpy="0 0 2.094395"/>
      <geometry>
        <box size="1.46 0.06 0.08"/>
      </geometry>
    </collision>
    <visual name="wing_1_rail_t_vis">
      <origin xyz="-0.365 0.632199 2.43" rpy="0 0 2.094395"/>
      <geometry>
        <box size="1.46 0.06 0.08"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="wing_1_rail_t_col">
      <origin xyz="-0.365 0.632199 2.43" rpy="0 0 2.094395"/>
      <geometry>
        <box size="1.46 0.06 0.08"/>
      </geometry>
    </collision>
    <visual name="wing_1_bar_vis">
      <origin xyz="-0.497631 0.751923 1" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.012" length="0.3"/>
      </geometry>
      <material name="mat_op_stainless"/>
    </visual>
    <collision name="wing_1_bar_col">
      <origin xyz="-0.497631 0.751923 1" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.012" length="0.3"/>
      </geometry>
    </collision>
    <visual name="wing_1_bar_stud_d_vis">
      <origin xyz="-0.476847 0.763923 0.88" rpy="1.570796 -1.047198 -1.047198"/>
      <geometry>
        <cylinder radius="0.009" length="0.056"/>
      </geometry>
      <material name="mat_op_stainless"/>
    </visual>
    <visual name="wing_1_bar_stud_u_vis">
      <origin xyz="-0.476847 0.763923 1.12" rpy="1.570796 -1.047198 -1.047198"/>
      <geometry>
        <cylinder radius="0.009" length="0.056"/>
      </geometry>
      <material name="mat_op_stainless"/>
    </visual>
    <visual name="wing_2_glass_vis">
      <origin xyz="-0.375 -0.649519 1.25" rpy="0 0 -2.094395"/>
      <geometry>
        <box size="1.46 0.01 2.3"/>
      </geometry>
      <material name="mat_drum_glass"/>
    </visual>
    <collision name="wing_2_glass_col">
      <origin xyz="-0.375 -0.649519 1.25" rpy="0 0 -2.094395"/>
      <geometry>
        <box size="1.46 0.01 2.3"/>
      </geometry>
    </collision>
    <visual name="wing_2_stile_vis">
      <origin xyz="-0.74 -1.281718 1.245" rpy="0 0 -2.094395"/>
      <geometry>
        <box size="0.04 0.06 2.45"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="wing_2_stile_col">
      <origin xyz="-0.74 -1.281718 1.245" rpy="0 0 -2.094395"/>
      <geometry>
        <box size="0.04 0.06 2.45"/>
      </geometry>
    </collision>
    <visual name="wing_2_rail_b_vis">
      <origin xyz="-0.365 -0.632199 0.06" rpy="0 0 -2.094395"/>
      <geometry>
        <box size="1.46 0.06 0.08"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="wing_2_rail_b_col">
      <origin xyz="-0.365 -0.632199 0.06" rpy="0 0 -2.094395"/>
      <geometry>
        <box size="1.46 0.06 0.08"/>
      </geometry>
    </collision>
    <visual name="wing_2_rail_t_vis">
      <origin xyz="-0.365 -0.632199 2.43" rpy="0 0 -2.094395"/>
      <geometry>
        <box size="1.46 0.06 0.08"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="wing_2_rail_t_col">
      <origin xyz="-0.365 -0.632199 2.43" rpy="0 0 -2.094395"/>
      <geometry>
        <box size="1.46 0.06 0.08"/>
      </geometry>
    </collision>
    <visual name="wing_2_bar_vis">
      <origin xyz="-0.402369 -0.806923 1" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.012" length="0.3"/>
      </geometry>
      <material name="mat_op_stainless"/>
    </visual>
    <collision name="wing_2_bar_col">
      <origin xyz="-0.402369 -0.806923 1" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.012" length="0.3"/>
      </geometry>
    </collision>
    <visual name="wing_2_bar_stud_d_vis">
      <origin xyz="-0.423153 -0.794923 0.88" rpy="1.570796 1.047198 1.047198"/>
      <geometry>
        <cylinder radius="0.009" length="0.056"/>
      </geometry>
      <material name="mat_op_stainless"/>
    </visual>
    <visual name="wing_2_bar_stud_u_vis">
      <origin xyz="-0.423153 -0.794923 1.12" rpy="1.570796 1.047198 1.047198"/>
      <geometry>
        <cylinder radius="0.009" length="0.056"/>
      </geometry>
      <material name="mat_op_stainless"/>
    </visual>
  </link>
  <joint name="rotor_hinge" type="continuous">
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <parent link="world_env"/>
    <child link="rotor"/>
    <axis xyz="0 0 1"/>
    <dynamics damping="38" friction="3.760172"/>
  </joint>
  <material name="mat_drum_glass">
    <color rgba="0.85 0.92 0.95 0.25"/>
  </material>
  <material name="mat_floor">
    <color rgba="0.55 0.53 0.5 1"/>
  </material>
  <material name="mat_floor_ring">
    <color rgba="0.75 0.76 0.77 1"/>
  </material>
  <material name="mat_frame">
    <color rgba="0.8 0.81 0.83 1"/>
  </material>
  <material name="mat_op_stainless">
    <color rgba="0.75 0.76 0.77 1"/>
  </material>
  <material name="mat_wall">
    <color rgba="0.78 0.76 0.7 1"/>
  </material>
</robot>
