<?xml version="1.0" ?>
<robot xmlns:doorbench="https://github.com/adamraudonis/DoorBench/schema/urdf-ext" name="db0338_turnstile_fullheight_full">
  <link name="world_env">
    <visual name="floor_vis">
      <origin xyz="0 0 -0.05" rpy="0 0 0"/>
      <geometry>
        <box size="12 12 0.1"/>
      </geometry>
      <material name="mat_floor"/>
    </visual>
    <collision name="floor_col">
      <origin xyz="0 0 -0.05" rpy="0 0 0"/>
      <geometry>
        <box size="12 12 0.1"/>
      </geometry>
    </collision>
    <visual name="cage_bar_0_vis">
      <origin xyz="-0.071553 0.726485 1.1" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.02" length="2.2"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="cage_bar_0_col">
      <origin xyz="-0.071553 0.726485 1.1" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.02" length="2.2"/>
      </geometry>
    </collision>
    <visual name="cage_bar_1_vis">
      <origin xyz="-0.211908 0.698566 1.1" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.02" length="2.2"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="cage_bar_1_col">
      <origin xyz="-0.211908 0.698566 1.1" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.02" length="2.2"/>
      </geometry>
    </collision>
    <visual name="cage_bar_2_vis">
      <origin xyz="-0.34412 0.643803 1.1" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.02" length="2.2"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="cage_bar_2_col">
      <origin xyz="-0.34412 0.643803 1.1" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.02" length="2.2"/>
      </geometry>
    </collision>
    <visual name="cage_bar_3_vis">
      <origin xyz="-0.463107 0.564298 1.1" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.02" length="2.2"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="cage_bar_3_col">
      <origin xyz="-0.463107 0.564298 1.1" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.02" length="2.2"/>
      </geometry>
    </collision>
    <visual name="cage_bar_4_vis">
      <origin xyz="-0.564298 0.463107 1.1" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.02" length="2.2"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="cage_bar_4_col">
      <origin xyz="-0.564298 0.463107 1.1" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.02" length="2.2"/>
      </geometry>
    </collision>
    <visual name="cage_bar_5_vis">
      <origin xyz="-0.643803 0.34412 1.1" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.02" length="2.2"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="cage_bar_5_col">
      <origin xyz="-0.643803 0.34412 1.1" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.02" length="2.2"/>
      </geometry>
    </collision>
    <visual name="cage_bar_6_vis">
      <origin xyz="-0.698566 0.211908 1.1" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.02" length="2.2"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="cage_bar_6_col">
      <origin xyz="-0.698566 0.211908 1.1" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.02" length="2.2"/>
      </geometry>
    </collision>
    <visual name="cage_bar_7_vis">
      <origin xyz="-0.726485 0.071553 1.1" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.02" length="2.2"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="cage_bar_7_col">
      <origin xyz="-0.726485 0.071553 1.1" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.02" length="2.2"/>
      </geometry>
    </collision>
    <visual name="cage_bar_8_vis">
      <origin xyz="-0.726485 -0.071553 1.1" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.02" length="2.2"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="cage_bar_8_col">
      <origin xyz="-0.726485 -0.071553 1.1" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.02" length="2.2"/>
      </geometry>
    </collision>
    <visual name="cage_bar_9_vis">
      <origin xyz="-0.698566 -0.211908 1.1" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.02" length="2.2"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="cage_bar_9_col">
      <origin xyz="-0.698566 -0.211908 1.1" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.02" length="2.2"/>
      </geometry>
    </collision>
    <visual name="cage_bar_10_vis">
      <origin xyz="-0.643803 -0.34412 1.1" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.02" length="2.2"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="cage_bar_10_col">
      <origin xyz="-0.643803 -0.34412 1.1" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.02" length="2.2"/>
      </geometry>
    </collision>
    <visual name="cage_bar_11_vis">
      <origin xyz="-0.564298 -0.463107 1.1" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.02" length="2.2"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="cage_bar_11_col">
      <origin xyz="-0.564298 -0.463107 1.1" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.02" length="2.2"/>
      </geometry>
    </collision>
    <visual name="cage_bar_12_vis">
      <origin xyz="-0.463107 -0.564298 1.1" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.02" length="2.2"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="cage_bar_12_col">
      <origin xyz="-0.463107 -0.564298 1.1" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.02" length="2.2"/>
      </geometry>
    </collision>
    <visual name="cage_bar_13_vis">
      <origin xyz="-0.34412 -0.643803 1.1" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.02" length="2.2"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="cage_bar_13_col">
      <origin xyz="-0.34412 -0.643803 1.1" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.02" length="2.2"/>
      </geometry>
    </collision>
    <visual name="cage_bar_14_vis">
      <origin xyz="-0.211908 -0.698566 1.1" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.02" length="2.2"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="cage_bar_14_col">
      <origin xyz="-0.211908 -0.698566 1.1" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.02" length="2.2"/>
      </geometry>
    </collision>
    <visual name="cage_bar_15_vis">
      <origin xyz="-0.071553 -0.726485 1.1" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.02" length="2.2"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="cage_bar_15_col">
      <origin xyz="-0.071553 -0.726485 1.1" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.02" length="2.2"/>
      </geometry>
    </collision>
    <visual name="cage_roof_vis">
      <origin xyz="0 0 2.22" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.78" length="0.04"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="cage_roof_col">
      <origin xyz="0 0 2.22" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.78" length="0.04"/>
      </geometry>
    </collision>
    <visual name="barrier_n_vis">
      <origin xyz="1.13 -0.83 1.1" rpy="0 0 0"/>
      <geometry>
        <box size="0.8 0.04 2.2"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="barrier_n_col">
      <origin xyz="1.13 -0.83 1.1" rpy="0 0 0"/>
      <geometry>
        <box size="0.8 0.04 2.2"/>
      </geometry>
    </collision>
    <visual name="barrier_p_vis">
      <origin xyz="1.13 0.83 1.1" rpy="0 0 0"/>
      <geometry>
        <box size="0.8 0.04 2.2"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="barrier_p_col">
      <origin xyz="1.13 0.83 1.1" rpy="0 0 0"/>
      <geometry>
        <box size="0.8 0.04 2.2"/>
      </geometry>
    </collision>
  </link>
  <link name="rotor">
    <inertial>
      <origin xyz="0 0 1.09361" rpy="0 0 0"/>
      <mass value="225.363169"/>
      <inertia ixx="91.590345974" ixy="0" ixz="0" iyy="91.590345974" iyz="0" izz="4.493549826"/>
    </inertial>
    <visual name="rotor_column_vis">
      <origin xyz="0 0 1.1" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.06" length="2.2"/>
      </geometry>
      <material name="mat_op_stainless"/>
    </visual>
    <collision name="rotor_column_col">
      <origin xyz="0 0 1.1" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.06" length="2.2"/>
      </geometry>
    </collision>
    <visual name="wing_0_arm_0_vis">
      <origin xyz="0.325 0 0.15" rpy="0 1.570796 0"/>
      <geometry>
        <cylinder radius="0.019" length="0.65"/>
      </geometry>
      <material name="mat_op_stainless"/>
    </visual>
    <collision name="wing_0_arm_0_col">
      <origin xyz="0.325 0 0.15" rpy="0 1.570796 0"/>
      <geometry>
        <cylinder radius="0.019" length="0.65"/>
      </geometry>
    </collision>
    <visual name="wing_0_arm_1_vis">
      <origin xyz="0.325 0 0.407143" rpy="0 1.570796 0"/>
      <geometry>
        <cylinder radius="0.019" length="0.65"/>
      </geometry>
      <material name="mat_op_stainless"/>
    </visual>
    <collision name="wing_0_arm_1_col">
      <origin xyz="0.325 0 0.407143" rpy="0 1.570796 0"/>
      <geometry>
        <cylinder radius="0.019" length="0.65"/>
      </geometry>
    </collision>
    <visual name="wing_0_arm_2_vis">
      <origin xyz="0.325 0 0.664286" rpy="0 1.570796 0"/>
      <geometry>
        <cylinder radius="0.019" length="0.65"/>
      </geometry>
      <material name="mat_op_stainless"/>
    </visual>
    <collision name="wing_0_arm_2_col">
      <origin xyz="0.325 0 0.664286" rpy="0 1.570796 0"/>
      <geometry>
        <cylinder radius="0.019" length="0.65"/>
      </geometry>
    </collision>
    <visual name="wing_0_arm_3_vis">
      <origin xyz="0.325 0 0.921429" rpy="0 1.570796 0"/>
      <geometry>
        <cylinder radius="0.019" length="0.65"/>
      </geometry>
      <material name="mat_op_stainless"/>
    </visual>
    <collision name="wing_0_arm_3_col">
      <origin xyz="0.325 0 0.921429" rpy="0 1.570796 0"/>
      <geometry>
        <cylinder radius="0.019" length="0.65"/>
      </geometry>
    </collision>
    <visual name="wing_0_arm_4_vis">
      <origin xyz="0.325 0 1.178571" rpy="0 1.570796 0"/>
      <geometry>
        <cylinder radius="0.019" length="0.65"/>
      </geometry>
      <material name="mat_op_stainless"/>
    </visual>
    <collision name="wing_0_arm_4_col">
      <origin xyz="0.325 0 1.178571" rpy="0 1.570796 0"/>
      <geometry>
        <cylinder radius="0.019" length="0.65"/>
      </geometry>
    </collision>
    <visual name="wing_0_arm_5_vis">
      <origin xyz="0.325 0 1.435714" rpy="0 1.570796 0"/>
      <geometry>
        <cylinder radius="0.019" length="0.65"/>
      </geometry>
      <material name="mat_op_stainless"/>
    </visual>
    <collision name="wing_0_arm_5_col">
      <origin xyz="0.325 0 1.435714" rpy="0 1.570796 0"/>
      <geometry>
        <cylinder radius="0.019" length="0.65"/>
      </geometry>
    </collision>
    <visual name="wing_0_arm_6_vis">
      <origin xyz="0.325 0 1.692857" rpy="0 1.570796 0"/>
      <geometry>
        <cylinder radius="0.019" length="0.65"/>
      </geometry>
      <material name="mat_op_stainless"/>
    </visual>
    <collision name="wing_0_arm_6_col">
      <origin xyz="0.325 0 1.692857" rpy="0 1.570796 0"/>
      <geometry>
        <cylinder radius="0.019" length="0.65"/>
      </geometry>
    </collision>
    <visual name="wing_0_arm_7_vis">
      <origin xyz="0.325 0 1.95" rpy="0 1.570796 0"/>
      <geometry>
        <cylinder radius="0.019" length="0.65"/>
      </geometry>
      <material name="mat_op_stainless"/>
    </visual>
    <collision name="wing_0_arm_7_col">
      <origin xyz="0.325 0 1.95" rpy="0 1.570796 0"/>
      <geometry>
        <cylinder radius="0.019" length="0.65"/>
      </geometry>
    </collision>
    <visual name="wing_1_arm_0_vis">
      <origin xyz="0 0.325 0.15" rpy="-1.570796 0 0"/>
      <geometry>
        <cylinder radius="0.019" length="0.65"/>
      </geometry>
      <material name="mat_op_stainless"/>
    </visual>
    <collision name="wing_1_arm_0_col">
      <origin xyz="0 0.325 0.15" rpy="-1.570796 0 0"/>
      <geometry>
        <cylinder radius="0.019" length="0.65"/>
      </geometry>
    </collision>
    <visual name="wing_1_arm_1_vis">
      <origin xyz="0 0.325 0.407143" rpy="-1.570796 0 0"/>
      <geometry>
        <cylinder radius="0.019" length="0.65"/>
      </geometry>
      <material name="mat_op_stainless"/>
    </visual>
    <collision name="wing_1_arm_1_col">
      <origin xyz="0 0.325 0.407143" rpy="-1.570796 0 0"/>
      <geometry>
        <cylinder radius="0.019" length="0.65"/>
      </geometry>
    </collision>
    <visual name="wing_1_arm_2_vis">
      <origin xyz="0 0.325 0.664286" rpy="-1.570796 0 0"/>
      <geometry>
        <cylinder radius="0.019" length="0.65"/>
      </geometry>
      <material name="mat_op_stainless"/>
    </visual>
    <collision name="wing_1_arm_2_col">
      <origin xyz="0 0.325 0.664286" rpy="-1.570796 0 0"/>
      <geometry>
        <cylinder radius="0.019" length="0.65"/>
      </geometry>
    </collision>
    <visual name="wing_1_arm_3_vis">
      <origin xyz="0 0.325 0.921429" rpy="-1.570796 0 0"/>
      <geometry>
        <cylinder radius="0.019" length="0.65"/>
      </geometry>
      <material name="mat_op_stainless"/>
    </visual>
    <collision name="wing_1_arm_3_col">
      <origin xyz="0 0.325 0.921429" rpy="-1.570796 0 0"/>
      <geometry>
        <cylinder radius="0.019" length="0.65"/>
      </geometry>
    </collision>
    <visual name="wing_1_arm_4_vis">
      <origin xyz="0 0.325 1.178571" rpy="-1.570796 0 0"/>
      <geometry>
        <cylinder radius="0.019" length="0.65"/>
      </geometry>
      <material name="mat_op_stainless"/>
    </visual>
    <collision name="wing_1_arm_4_col">
      <origin xyz="0 0.325 1.178571" rpy="-1.570796 0 0"/>
      <geometry>
        <cylinder radius="0.019" length="0.65"/>
      </geometry>
    </collision>
    <visual name="wing_1_arm_5_vis">
      <origin xyz="0 0.325 1.435714" rpy="-1.570796 0 0"/>
      <geometry>
        <cylinder radius="0.019" length="0.65"/>
      </geometry>
      <material name="mat_op_stainless"/>
    </visual>
    <collision name="wing_1_arm_5_col">
      <origin xyz="0 0.325 1.435714" rpy="-1.570796 0 0"/>
      <geometry>
        <cylinder radius="0.019" length="0.65"/>
      </geometry>
    </collision>
    <visual name="wing_1_arm_6_vis">
      <origin xyz="0 0.325 1.692857" rpy="-1.570796 0 0"/>
      <geometry>
        <cylinder radius="0.019" length="0.65"/>
      </geometry>
      <material name="mat_op_stainless"/>
    </visual>
    <collision name="wing_1_arm_6_col">
      <origin xyz="0 0.325 1.692857" rpy="-1.570796 0 0"/>
      <geometry>
        <cylinder radius="0.019" length="0.65"/>
      </geometry>
    </collision>
    <visual name="wing_1_arm_7_vis">
      <origin xyz="0 0.325 1.95" rpy="-1.570796 0 0"/>
      <geometry>
        <cylinder radius="0.019" length="0.65"/>
      </geometry>
      <material name="mat_op_stainless"/>
    </visual>
    <collision name="wing_1_arm_7_col">
      <origin xyz="0 0.325 1.95" rpy="-1.570796 0 0"/>
      <geometry>
        <cylinder radius="0.019" length="0.65"/>
      </geometry>
    </collision>
    <visual name="wing_2_arm_0_vis">
      <origin xyz="-0.325 0 0.15" rpy="-0.504019 -1.570796 0.504019"/>
      <geometry>
        <cylinder radius="0.019" length="0.65"/>
      </geometry>
      <material name="mat_op_stainless"/>
    </visual>
    <collision name="wing_2_arm_0_col">
      <origin xyz="-0.325 0 0.15" rpy="-0.504019 -1.570796 0.504019"/>
      <geometry>
        <cylinder radius="0.019" length="0.65"/>
      </geometry>
    </collision>
    <visual name="wing_2_arm_1_vis">
      <origin xyz="-0.325 0 0.407143" rpy="-0.504019 -1.570796 0.504019"/>
      <geometry>
        <cylinder radius="0.019" length="0.65"/>
      </geometry>
      <material name="mat_op_stainless"/>
    </visual>
    <collision name="wing_2_arm_1_col">
      <origin xyz="-0.325 0 0.407143" rpy="-0.504019 -1.570796 0.504019"/>
      <geometry>
        <cylinder radius="0.019" length="0.65"/>
      </geometry>
    </collision>
    <visual name="wing_2_arm_2_vis">
      <origin xyz="-0.325 0 0.664286" rpy="-0.504019 -1.570796 0.504019"/>
      <geometry>
        <cylinder radius="0.019" length="0.65"/>
      </geometry>
      <material name="mat_op_stainless"/>
    </visual>
    <collision name="wing_2_arm_2_col">
      <origin xyz="-0.325 0 0.664286" rpy="-0.504019 -1.570796 0.504019"/>
      <geometry>
        <cylinder radius="0.019" length="0.65"/>
      </geometry>
    </collision>
    <visual name="wing_2_arm_3_vis">
      <origin xyz="-0.325 0 0.921429" rpy="-0.504019 -1.570796 0.504019"/>
      <geometry>
        <cylinder radius="0.019" length="0.65"/>
      </geometry>
      <material name="mat_op_stainless"/>
    </visual>
    <collision name="wing_2_arm_3_col">
      <origin xyz="-0.325 0 0.921429" rpy="-0.504019 -1.570796 0.504019"/>
      <geometry>
        <cylinder radius="0.019" length="0.65"/>
      </geometry>
    </collision>
    <visual name="wing_2_arm_4_vis">
      <origin xyz="-0.325 0 1.178571" rpy="-0.504019 -1.570796 0.504019"/>
      <geometry>
        <cylinder radius="0.019" length="0.65"/>
      </geometry>
      <material name="mat_op_stainless"/>
    </visual>
    <collision name="wing_2_arm_4_col">
      <origin xyz="-0.325 0 1.178571" rpy="-0.504019 -1.570796 0.504019"/>
      <geometry>
        <cylinder radius="0.019" length="0.65"/>
      </geometry>
    </collision>
    <visual name="wing_2_arm_5_vis">
      <origin xyz="-0.325 0 1.435714" rpy="-0.504019 -1.570796 0.504019"/>
      <geometry>
        <cylinder radius="0.019" length="0.65"/>
      </geometry>
      <material name="mat_op_stainless"/>
    </visual>
    <collision name="wing_2_arm_5_col">
      <origin xyz="-0.325 0 1.435714" rpy="-0.504019 -1.570796 0.504019"/>
      <geometry>
        <cylinder radius="0.019" length="0.65"/>
      </geometry>
    </collision>
    <visual name="wing_2_arm_6_vis">
      <origin xyz="-0.325 0 1.692857" rpy="-0.504019 -1.570796 0.504019"/>
      <geometry>
        <cylinder radius="0.019" length="0.65"/>
      </geometry>
      <material name="mat_op_stainless"/>
    </visual>
    <collision name="wing_2_arm_6_col">
      <origin xyz="-0.325 0 1.692857" rpy="-0.504019 -1.570796 0.504019"/>
      <geometry>
        <cylinder radius="0.019" length="0.65"/>
      </geometry>
    </collision>
    <visual name="wing_2_arm_7_vis">
      <origin xyz="-0.325 0 1.95" rpy="-0.504019 -1.570796 0.504019"/>
      <geometry>
        <cylinder radius="0.019" length="0.65"/>
      </geometry>
      <material name="mat_op_stainless"/>
    </visual>
    <collision name="wing_2_arm_7_col">
      <origin xyz="-0.325 0 1.95" rpy="-0.504019 -1.570796 0.504019"/>
      <geometry>
        <cylinder radius="0.019" length="0.65"/>
      </geometry>
    </collision>
    <visual name="wing_3_arm_0_vis">
      <origin xyz="0 -0.325 0.15" rpy="1.570796 0 0"/>
      <geometry>
        <cylinder radius="0.019" length="0.65"/>
      </geometry>
      <material name="mat_op_stainless"/>
    </visual>
    <collision name="wing_3_arm_0_col">
      <origin xyz="0 -0.325 0.15" rpy="1.570796 0 0"/>
      <geometry>
        <cylinder radius="0.019" length="0.65"/>
      </geometry>
    </collision>
    <visual name="wing_3_arm_1_vis">
      <origin xyz="0 -0.325 0.407143" rpy="1.570796 0 0"/>
      <geometry>
        <cylinder radius="0.019" length="0.65"/>
      </geometry>
      <material name="mat_op_stainless"/>
    </visual>
    <collision name="wing_3_arm_1_col">
      <origin xyz="0 -0.325 0.407143" rpy="1.570796 0 0"/>
      <geometry>
        <cylinder radius="0.019" length="0.65"/>
      </geometry>
    </collision>
    <visual name="wing_3_arm_2_vis">
      <origin xyz="0 -0.325 0.664286" rpy="1.570796 0 0"/>
      <geometry>
        <cylinder radius="0.019" length="0.65"/>
      </geometry>
      <material name="mat_op_stainless"/>
    </visual>
    <collision name="wing_3_arm_2_col">
      <origin xyz="0 -0.325 0.664286" rpy="1.570796 0 0"/>
      <geometry>
        <cylinder radius="0.019" length="0.65"/>
      </geometry>
    </collision>
    <visual name="wing_3_arm_3_vis">
      <origin xyz="0 -0.325 0.921429" rpy="1.570796 0 0"/>
      <geometry>
        <cylinder radius="0.019" length="0.65"/>
      </geometry>
      <material name="mat_op_stainless"/>
    </visual>
    <collision name="wing_3_arm_3_col">
      <origin xyz="0 -0.325 0.921429" rpy="1.570796 0 0"/>
      <geometry>
        <cylinder radius="0.019" length="0.65"/>
      </geometry>
    </collision>
    <visual name="wing_3_arm_4_vis">
      <origin xyz="0 -0.325 1.178571" rpy="1.570796 0 0"/>
      <geometry>
        <cylinder radius="0.019" length="0.65"/>
      </geometry>
      <material name="mat_op_stainless"/>
    </visual>
    <collision name="wing_3_arm_4_col">
      <origin xyz="0 -0.325 1.178571" rpy="1.570796 0 0"/>
      <geometry>
        <cylinder radius="0.019" length="0.65"/>
      </geometry>
    </collision>
    <visual name="wing_3_arm_5_vis">
      <origin xyz="0 -0.325 1.435714" rpy="1.570796 0 0"/>
      <geometry>
        <cylinder radius="0.019" length="0.65"/>
      </geometry>
      <material name="mat_op_stainless"/>
    </visual>
    <collision name="wing_3_arm_5_col">
      <origin xyz="0 -0.325 1.435714" rpy="1.570796 0 0"/>
      <geometry>
        <cylinder radius="0.019" length="0.65"/>
      </geometry>
    </collision>
    <visual name="wing_3_arm_6_vis">
      <origin xyz="0 -0.325 1.692857" rpy="1.570796 0 0"/>
      <geometry>
        <cylinder radius="0.019" length="0.65"/>
      </geometry>
      <material name="mat_op_stainless"/>
    </visual>
    <collision name="wing_3_arm_6_col">
      <origin xyz="0 -0.325 1.692857" rpy="1.570796 0 0"/>
      <geometry>
        <cylinder radius="0.019" length="0.65"/>
      </geometry>
    </collision>
    <visual name="wing_3_arm_7_vis">
      <origin xyz="0 -0.325 1.95" rpy="1.570796 0 0"/>
      <geometry>
        <cylinder radius="0.019" length="0.65"/>
      </geometry>
      <material name="mat_op_stainless"/>
    </visual>
    <collision name="wing_3_arm_7_col">
      <origin xyz="0 -0.325 1.95" rpy="1.570796 0 0"/>
      <geometry>
        <cylinder radius="0.019" length="0.65"/>
      </geometry>
    </collision>
  </link>
  <joint name="rotor_hinge" type="continuous">
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <parent link="world_env"/>
    <child link="rotor"/>
    <axis xyz="0 0 1"/>
    <dynamics damping="6" friction="4.212857"/>
    <doorbench:ratchet one_way="true"/>
  </joint>
  <material name="mat_floor">
    <color rgba="0.35 0.42 0.25 1"/>
  </material>
  <material name="mat_frame">
    <color rgba="0.65 0.66 0.68 1"/>
  </material>
  <material name="mat_op_stainless">
    <color rgba="0.75 0.76 0.77 1"/>
  </material>
</robot>
