<?xml version="1.0" ?>
<robot xmlns:doorbench="https://github.com/adamraudonis/DoorBench/schema/urdf-ext" name="db0966_sliding_single_simple">
  <link name="world_env">
    <visual name="floor_vis">
      <origin xyz="0 0 -0.05" rpy="0 0 0"/>
      <geometry>
        <box size="12 12 0.1"/>
      </geometry>
      <material name="mat_floor"/>
    </visual>
    <collision name="floor_col">
      <origin xyz="0 0 -0.05" rpy="0 0 0"/>
      <geometry>
        <box size="12 12 0.1"/>
      </geometry>
    </collision>
    <visual name="wall_left_vis">
      <origin xyz="-1.506 0 1.377" rpy="0 0 0"/>
      <geometry>
        <box size="1.988 0.145 2.754"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_left_col">
      <origin xyz="-1.506 0 1.377" rpy="0 0 0"/>
      <geometry>
        <box size="1.988 0.145 2.754"/>
      </geometry>
    </collision>
    <visual name="wall_right_vis">
      <origin xyz="1.536 0 1.377" rpy="0 0 0"/>
      <geometry>
        <box size="1.928 0.145 2.754"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_right_col">
      <origin xyz="1.536 0 1.377" rpy="0 0 0"/>
      <geometry>
        <box size="1.928 0.145 2.754"/>
      </geometry>
    </collision>
    <visual name="wall_header_vis">
      <origin xyz="0.03 0 2.4765" rpy="0 0 0"/>
      <geometry>
        <box size="1.084 0.145 0.555"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_header_col">
      <origin xyz="0.03 0 2.4765" rpy="0 0 0"/>
      <geometry>
        <box size="1.084 0.145 0.555"/>
      </geometry>
    </collision>
    <visual name="jamb_l_vis">
      <origin xyz="-0.4895 0 1.077" rpy="0 0 0"/>
      <geometry>
        <box size="0.045 0.145 2.154"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_l_col">
      <origin xyz="-0.4895 0 1.077" rpy="0 0 0"/>
      <geometry>
        <box size="0.045 0.145 2.154"/>
      </geometry>
    </collision>
    <visual name="jamb_head_vis">
      <origin xyz="0 0 2.1765" rpy="0 0 0"/>
      <geometry>
        <box size="1.024 0.145 0.045"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_head_col">
      <origin xyz="0 0 2.1765" rpy="0 0 0"/>
      <geometry>
        <box size="1.024 0.145 0.045"/>
      </geometry>
    </collision>
    <visual name="track_header_vis">
      <origin xyz="0 0 2.239" rpy="0 0 0"/>
      <geometry>
        <box size="1.948 0.08 0.08"/>
      </geometry>
      <material name="mat_track"/>
    </visual>
    <collision name="track_header_col">
      <origin xyz="0 0 2.239" rpy="0 0 0"/>
      <geometry>
        <box size="1.948 0.08 0.08"/>
      </geometry>
    </collision>
    <visual name="jamb_latch_0_vis">
      <origin xyz="0.5195 0 1.077" rpy="0 0 0"/>
      <geometry>
        <box size="0.105 0.145 2.154"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_latch_0_col">
      <origin xyz="0.5195 0 1.077" rpy="0 0 0"/>
      <geometry>
        <box size="0.105 0.145 2.154"/>
      </geometry>
    </collision>
  </link>
  <link name="leaf">
    <inertial>
      <origin xyz="0.001942 -0.000332 1.078317" rpy="0 0 0"/>
      <mass value="84.966584"/>
      <inertia ixx="32.090800879" ixy="0.010306445" ixz="0.021174723" iyy="38.029127837" iyz="-0.003622701" izz="5.951019788"/>
    </inertial>
    <collision name="leaf_slab_col_col">
      <origin xyz="0 0 1.079" rpy="0 0 0"/>
      <geometry>
        <box size="0.914 0.025 2.134"/>
      </geometry>
    </collision>
    <visual name="leaf_rail_b_vis">
      <origin xyz="0 0 0.042" rpy="0 0 0"/>
      <geometry>
        <box size="0.914 0.025 0.06"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <visual name="leaf_rail_t_vis">
      <origin xyz="0 0 2.116" rpy="0 0 0"/>
      <geometry>
        <box size="0.914 0.025 0.06"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <visual name="leaf_stile_h_vis">
      <origin xyz="-0.427 0 1.079" rpy="0 0 0"/>
      <geometry>
        <box size="0.06 0.025 2.134"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <visual name="leaf_stile_l_vis">
      <origin xyz="0.427 0 1.079" rpy="0 0 0"/>
      <geometry>
        <box size="0.06 0.025 2.134"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <visual name="leaf_bar_0_vis">
      <origin xyz="-0.330833 0 1.079" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.0095" length="2.014"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <visual name="leaf_bar_1_vis">
      <origin xyz="-0.1985 0 1.079" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.0095" length="2.014"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <visual name="leaf_bar_2_vis">
      <origin xyz="-0.066167 0 1.079" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.0095" length="2.014"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <visual name="leaf_bar_3_vis">
      <origin xyz="0.066167 0 1.079" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.0095" length="2.014"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <visual name="leaf_bar_4_vis">
      <origin xyz="0.1985 0 1.079" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.0095" length="2.014"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <visual name="leaf_bar_5_vis">
      <origin xyz="0.330833 0 1.079" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.0095" length="2.014"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <visual name="leaf_pull_n_vis">
      <origin xyz="0.367 -0.0125 0.95" rpy="1.570796 0 0"/>
      <geometry>
        <mesh filename="../../hardware/pull_1e5d69a91a.obj"/>
      </geometry>
      <material name="mat_op_stainless"/>
    </visual>
    <collision name="leaf_pull_col_n_col">
      <origin xyz="0.367 -0.0725 0.95" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.0095" length="0.16"/>
      </geometry>
    </collision>
  </link>
  <joint name="leaf_slide" type="prismatic">
    <origin xyz="0 -0.1075 0" rpy="0 0 0"/>
    <parent link="world_env"/>
    <child link="leaf"/>
    <axis xyz="-1 0 0"/>
    <limit lower="0" upper="0.914" effort="5000" velocity="10"/>
    <dynamics damping="6.272719" friction="58.661479"/>
  </joint>
  <material name="mat_floor">
    <color rgba="0.55 0.53 0.5 1"/>
  </material>
  <material name="mat_frame">
    <color rgba="0.55 0.56 0.58 1"/>
  </material>
  <material name="mat_leaf">
    <color rgba="0.5 0.51 0.53 1"/>
  </material>
  <material name="mat_op_stainless">
    <color rgba="0.75 0.76 0.77 1"/>
  </material>
  <material name="mat_track">
    <color rgba="0.8 0.81 0.83 1"/>
  </material>
  <material name="mat_wall">
    <color rgba="0.78 0.76 0.7 1"/>
  </material>
</robot>
