<?xml version="1.0" ?>
<robot xmlns:doorbench="https://github.com/adamraudonis/DoorBench/schema/urdf-ext" name="db0096_swing_single_full">
  <link name="world_env">
    <visual name="floor_vis">
      <origin xyz="0 0 -0.05" rpy="0 0 0"/>
      <geometry>
        <box size="12 12 0.1"/>
      </geometry>
      <material name="mat_floor"/>
    </visual>
    <collision name="floor_col">
      <origin xyz="0 0 -0.05" rpy="0 0 0"/>
      <geometry>
        <box size="12 12 0.1"/>
      </geometry>
    </collision>
    <visual name="wall_left_vis">
      <origin xyz="-1.4725 -0.0155 1.35" rpy="0 0 0"/>
      <geometry>
        <box size="2.055 0.115 2.7"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_left_col">
      <origin xyz="-1.4725 -0.0155 1.35" rpy="0 0 0"/>
      <geometry>
        <box size="2.055 0.115 2.7"/>
      </geometry>
    </collision>
    <visual name="wall_right_vis">
      <origin xyz="1.4875 -0.0155 1.35" rpy="0 0 0"/>
      <geometry>
        <box size="2.025 0.115 2.7"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_right_col">
      <origin xyz="1.4875 -0.0155 1.35" rpy="0 0 0"/>
      <geometry>
        <box size="2.025 0.115 2.7"/>
      </geometry>
    </collision>
    <visual name="wall_header_vis">
      <origin xyz="0.015 -0.0155 2.4175" rpy="0 0 0"/>
      <geometry>
        <box size="0.92 0.115 0.565"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_header_col">
      <origin xyz="0.015 -0.0155 2.4175" rpy="0 0 0"/>
      <geometry>
        <box size="0.92 0.115 0.565"/>
      </geometry>
    </collision>
    <visual name="jamb_hinge_vis">
      <origin xyz="-0.415 -0.0155 1.0225" rpy="0 0 0"/>
      <geometry>
        <box size="0.06 0.115 2.045"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_hinge_col">
      <origin xyz="-0.415 -0.0155 1.0225" rpy="0 0 0"/>
      <geometry>
        <box size="0.06 0.115 2.045"/>
      </geometry>
    </collision>
    <visual name="strike_1215_wall_n_vis">
      <origin xyz="0.43 -0.0575 1.215" rpy="0 0 0"/>
      <geometry>
        <box size="0.09 0.031 0.022"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="strike_1215_wall_n_col">
      <origin xyz="0.43 -0.0575 1.215" rpy="0 0 0"/>
      <geometry>
        <box size="0.09 0.031 0.022"/>
      </geometry>
    </collision>
    <visual name="strike_1215_wall_p_vis">
      <origin xyz="0.43 0.008 1.215" rpy="0 0 0"/>
      <geometry>
        <box size="0.09 0.068 0.022"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="strike_1215_wall_p_col">
      <origin xyz="0.43 0.008 1.215" rpy="0 0 0"/>
      <geometry>
        <box size="0.09 0.068 0.022"/>
      </geometry>
    </collision>
    <visual name="strike_1215_back_vis">
      <origin xyz="0.4435 -0.034 1.215" rpy="0 0 0"/>
      <geometry>
        <box size="0.063 0.016 0.022"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="strike_1215_back_col">
      <origin xyz="0.4435 -0.034 1.215" rpy="0 0 0"/>
      <geometry>
        <box size="0.063 0.016 0.022"/>
      </geometry>
    </collision>
    <visual name="jamb_strike_0_vis">
      <origin xyz="0.43 -0.0155 0.602" rpy="0 0 0"/>
      <geometry>
        <box size="0.09 0.115 1.204"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_strike_0_col">
      <origin xyz="0.43 -0.0155 0.602" rpy="0 0 0"/>
      <geometry>
        <box size="0.09 0.115 1.204"/>
      </geometry>
    </collision>
    <visual name="jamb_strike_1_vis">
      <origin xyz="0.43 -0.0155 1.6355" rpy="0 0 0"/>
      <geometry>
        <box size="0.09 0.115 0.819"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_strike_1_col">
      <origin xyz="0.43 -0.0155 1.6355" rpy="0 0 0"/>
      <geometry>
        <box size="0.09 0.115 0.819"/>
      </geometry>
    </collision>
    <visual name="jamb_head_vis">
      <origin xyz="0.015 -0.0155 2.075" rpy="0 0 0"/>
      <geometry>
        <box size="0.92 0.115 0.06"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_head_col">
      <origin xyz="0.015 -0.0155 2.075" rpy="0 0 0"/>
      <geometry>
        <box size="0.92 0.115 0.06"/>
      </geometry>
    </collision>
    <visual name="head_stud_vis">
      <origin xyz="0.015 -0.0155 2.12" rpy="0 0 0"/>
      <geometry>
        <box size="0.92 0.115 0.03"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="head_stud_col">
      <origin xyz="0.015 -0.0155 2.12" rpy="0 0 0"/>
      <geometry>
        <box size="0.92 0.115 0.03"/>
      </geometry>
    </collision>
    <visual name="stop_hinge_vis">
      <origin xyz="-0.3795 -0.0385 1.0225" rpy="0 0 0"/>
      <geometry>
        <box size="0.011 0.032 2.045"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="stop_hinge_col">
      <origin xyz="-0.3795 -0.0385 1.0225" rpy="0 0 0"/>
      <geometry>
        <box size="0.011 0.032 2.045"/>
      </geometry>
    </collision>
    <visual name="stop_strike_vis">
      <origin xyz="0.3795 -0.0385 0.6" rpy="0 0 0"/>
      <geometry>
        <box size="0.011 0.032 1.2"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="stop_strike_col">
      <origin xyz="0.3795 -0.0385 0.6" rpy="0 0 0"/>
      <geometry>
        <box size="0.011 0.032 1.2"/>
      </geometry>
    </collision>
    <visual name="stop_strike_1_vis">
      <origin xyz="0.3795 -0.0385 1.6375" rpy="0 0 0"/>
      <geometry>
        <box size="0.011 0.032 0.815"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="stop_strike_1_col">
      <origin xyz="0.3795 -0.0385 1.6375" rpy="0 0 0"/>
      <geometry>
        <box size="0.011 0.032 0.815"/>
      </geometry>
    </collision>
    <visual name="stop_head_vis">
      <origin xyz="0 -0.0385 2.0395" rpy="0 0 0"/>
      <geometry>
        <box size="0.77 0.032 0.011"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="stop_head_col">
      <origin xyz="0 -0.0385 2.0395" rpy="0 0 0"/>
      <geometry>
        <box size="0.77 0.032 0.011"/>
      </geometry>
    </collision>
    <visual name="seal_hinge_vis">
      <origin xyz="-0.373 -0.024 1.0225" rpy="0 0 0"/>
      <geometry>
        <box size="0.016 0.004 2.045"/>
      </geometry>
      <material name="mat_seal"/>
    </visual>
    <visual name="seal_strike_vis">
      <origin xyz="0.373 -0.024 1.0225" rpy="0 0 0"/>
      <geometry>
        <box size="0.016 0.004 2.045"/>
      </geometry>
      <material name="mat_seal"/>
    </visual>
    <visual name="seal_head_vis">
      <origin xyz="0 -0.024 2.033" rpy="0 0 0"/>
      <geometry>
        <box size="0.73 0.004 0.016"/>
      </geometry>
      <material name="mat_seal"/>
    </visual>
  </link>
  <link name="leaf">
    <inertial>
      <origin xyz="0.378392 -0.028028 1.02388" rpy="0 0 0"/>
      <mass value="28.684181"/>
      <inertia ixx="9.708900995" ixy="0.010510437" ixz="0.02083107" iyy="11.182001413" iyz="-0.001649533" izz="1.488516061"/>
    </inertial>
    <visual name="leaf_slab_vis">
      <origin xyz="0.381 -0.029 1.025" rpy="0 0 0"/>
      <geometry>
        <box size="0.762 0.044 2.032"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <collision name="leaf_slab_col">
      <origin xyz="0.381 -0.029 1.025" rpy="0 0 0"/>
      <geometry>
        <box size="0.762 0.044 2.032"/>
      </geometry>
    </collision>
    <visual name="leaf_plank_gap_1_vis">
      <origin xyz="0.1524 -0.029 1.025" rpy="0 0 0"/>
      <geometry>
        <box size="0.004 0.046 2.012"/>
      </geometry>
      <material name="mat_leaf_brace"/>
    </visual>
    <visual name="leaf_plank_gap_2_vis">
      <origin xyz="0.3048 -0.029 1.025" rpy="0 0 0"/>
      <geometry>
        <box size="0.004 0.046 2.012"/>
      </geometry>
      <material name="mat_leaf_brace"/>
    </visual>
    <visual name="leaf_plank_gap_3_vis">
      <origin xyz="0.4572 -0.029 1.025" rpy="0 0 0"/>
      <geometry>
        <box size="0.004 0.046 2.012"/>
      </geometry>
      <material name="mat_leaf_brace"/>
    </visual>
    <visual name="leaf_plank_gap_4_vis">
      <origin xyz="0.6096 -0.029 1.025" rpy="0 0 0"/>
      <geometry>
        <box size="0.004 0.046 2.012"/>
      </geometry>
      <material name="mat_leaf_brace"/>
    </visual>
    <visual name="leaf_batten_12_vis">
      <origin xyz="0.381 -0.061 0.129" rpy="0 0 0"/>
      <geometry>
        <box size="0.702 0.02 0.09"/>
      </geometry>
      <material name="mat_leaf_brace"/>
    </visual>
    <visual name="leaf_batten_192_vis">
      <origin xyz="0.381 -0.061 1.921" rpy="0 0 0"/>
      <geometry>
        <box size="0.702 0.02 0.09"/>
      </geometry>
      <material name="mat_leaf_brace"/>
    </visual>
    <visual name="leaf_brace_z_vis">
      <origin xyz="0.381 -0.061 1.025" rpy="0 -1.195837 0"/>
      <geometry>
        <box size="1.807586 0.02 0.09"/>
      </geometry>
      <material name="mat_leaf_brace"/>
    </visual>
    <visual name="leaf_brace_x_vis">
      <origin xyz="0.381 -0.061 1.025" rpy="0 1.195837 0"/>
      <geometry>
        <box size="1.807586 0.02 0.09"/>
      </geometry>
      <material name="mat_leaf_brace"/>
    </visual>
    <visual name="hinge_0_vis">
      <origin xyz="0 0 0.259" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../../hardware/hinge_7a316c6d01.obj"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="hinge_1_vis">
      <origin xyz="0 0 1.025" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../../hardware/hinge_7a316c6d01.obj"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="hinge_2_vis">
      <origin xyz="0 0 1.861" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../../hardware/hinge_7a316c6d01.obj"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="leaf_ring_pull_n_vis">
      <origin xyz="0.672 -0.051 0.965" rpy="1.570796 0 0"/>
      <geometry>
        <mesh filename="../../hardware/ring_cc5c941a8a.obj"/>
      </geometry>
      <material name="mat_op_wrought_iron"/>
    </visual>
    <collision name="leaf_ring_pull_col_n_col">
      <origin xyz="0.672 -0.083 0.905" rpy="0 1.570796 0"/>
      <geometry>
        <cylinder radius="0.008" length="0.1"/>
      </geometry>
    </collision>
    <visual name="leaf_ring_pull_p_vis">
      <origin xyz="0.672 -0.007 0.965" rpy="-1.570796 0 0"/>
      <geometry>
        <mesh filename="../../hardware/ring_cc5c941a8a.obj"/>
      </geometry>
      <material name="mat_op_wrought_iron"/>
    </visual>
    <collision name="leaf_ring_pull_col_p_col">
      <origin xyz="0.672 0.025 0.905" rpy="0 1.570796 0"/>
      <geometry>
        <cylinder radius="0.008" length="0.1"/>
      </geometry>
    </collision>
  </link>
  <link name="leaf_aux_bolt">
    <inertial>
      <origin xyz="-0.033904 -0.003904 0" rpy="0 0 0"/>
      <mass value="0.129621"/>
      <inertia ixx="0.000011733" ixy="-0.000005615" ixz="0" iyy="0.000100437" iyz="0" izz="0.000109887"/>
    </inertial>
    <visual name="leaf_aux_bolt_rod_vis">
      <origin xyz="-0.03 0 0" rpy="0 1.570796 0"/>
      <geometry>
        <cylinder radius="0.006" length="0.1"/>
      </geometry>
      <material name="mat_op_brass"/>
    </visual>
    <collision name="leaf_aux_bolt_rod_col">
      <origin xyz="-0.03 0 0" rpy="0 1.570796 0"/>
      <geometry>
        <cylinder radius="0.006" length="0.1"/>
      </geometry>
    </collision>
    <visual name="leaf_aux_bolt_knob_vis">
      <origin xyz="-0.045 -0.015 0" rpy="1.570796 0 0"/>
      <geometry>
        <cylinder radius="0.006" length="0.03"/>
      </geometry>
      <material name="mat_op_brass"/>
    </visual>
    <collision name="leaf_aux_bolt_knob_col">
      <origin xyz="-0.045 -0.015 0" rpy="1.570796 0 0"/>
      <geometry>
        <cylinder radius="0.006" length="0.03"/>
      </geometry>
    </collision>
  </link>
  <joint name="leaf_hinge" type="revolute">
    <origin xyz="-0.382 0.029 0" rpy="0 0 0"/>
    <parent link="world_env"/>
    <child link="leaf"/>
    <axis xyz="0 0 1"/>
    <limit lower="0" upper="2.268928" effort="2000" velocity="10"/>
    <dynamics damping="0.173726" friction="1.689516"/>
    <doorbench:closer damping_closing="0" damping_opening="0" backcheck_angle="0" backcheck_damping="0"/>
  </joint>
  <joint name="leaf_aux_bolt_slide" type="prismatic">
    <origin xyz="0.702 -0.063 1.215" rpy="0 0 0"/>
    <parent link="leaf"/>
    <child link="leaf_aux_bolt"/>
    <axis xyz="-1 0 0"/>
    <doorbench:zero_offset value="0.045" note="URDF q=0 is the spec initial state; DoorBench q = urdf_q + value"/>
    <limit lower="-0.045" upper="0" effort="5000" velocity="10"/>
    <dynamics damping="1" friction="1"/>
  </joint>
  <material name="mat_floor">
    <color rgba="0.55 0.53 0.5 1"/>
  </material>
  <material name="mat_frame">
    <color rgba="0.7 0.58 0.42 1"/>
  </material>
  <material name="mat_hinge">
    <color rgba="0.65 0.66 0.68 1"/>
  </material>
  <material name="mat_leaf">
    <color rgba="0.82 0.7 0.5 1"/>
  </material>
  <material name="mat_leaf_brace">
    <color rgba="0.738 0.63 0.45 1"/>
  </material>
  <material name="mat_op_brass">
    <color rgba="0.85 0.66 0.3 1"/>
  </material>
  <material name="mat_op_wrought_iron">
    <color rgba="0.08 0.08 0.09 1"/>
  </material>
  <material name="mat_seal">
    <color rgba="0.1 0.1 0.1 1"/>
  </material>
  <material name="mat_wall">
    <color rgba="0.78 0.76 0.7 1"/>
  </material>
</robot>
