<?xml version="1.0" ?>
<robot xmlns:doorbench="https://github.com/adamraudonis/DoorBench/schema/urdf-ext" name="db0713_gate_swing_full">
  <link name="world_env">
    <visual name="floor_vis">
      <origin xyz="0 0 -0.05" rpy="0 0 0"/>
      <geometry>
        <box size="12 12 0.1"/>
      </geometry>
      <material name="mat_floor"/>
    </visual>
    <collision name="floor_col">
      <origin xyz="0 0 -0.05" rpy="0 0 0"/>
      <geometry>
        <box size="12 12 0.1"/>
      </geometry>
    </collision>
    <visual name="hinge_pintle_0_vis">
      <origin xyz="0.453 0.05 0.174" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.008" length="0.04"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="hinge_pintle_1_vis">
      <origin xyz="0.453 0.05 2.274" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.008" length="0.04"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="post_hinge_vis">
      <origin xyz="0.486 0 1.25" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.03" length="2.5"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="post_hinge_col">
      <origin xyz="0.486 0 1.25" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.03" length="2.5"/>
      </geometry>
    </collision>
    <visual name="post_hinge_cap_vis">
      <origin xyz="0.486 0 2.5" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.03"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <visual name="post_latch_vis">
      <origin xyz="-0.486 0 1.25" rpy="0 0 0"/>
      <geometry>
        <box size="0.06 0.06 2.5"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="post_latch_col">
      <origin xyz="-0.486 0 1.25" rpy="0 0 0"/>
      <geometry>
        <box size="0.06 0.06 2.5"/>
      </geometry>
    </collision>
    <visual name="post_latch_cap_vis">
      <origin xyz="-0.486 0 2.52" rpy="0 0 0"/>
      <geometry>
        <box size="0.09 0.09 0.04"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <visual name="gate_stop_vis">
      <origin xyz="-0.436 -0.0245 0.3" rpy="0 0 0"/>
      <geometry>
        <box size="0.04 0.024 0.12"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="gate_stop_col">
      <origin xyz="-0.436 -0.0245 0.3" rpy="0 0 0"/>
      <geometry>
        <box size="0.04 0.024 0.12"/>
      </geometry>
    </collision>
    <visual name="door_stop_base_vis">
      <origin xyz="0.571561 0.805896 0.003" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.022" length="0.006"/>
      </geometry>
      <material name="mat_stop_base"/>
    </visual>
    <collision name="door_stop_base_col">
      <origin xyz="0.571561 0.805896 0.003" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.022" length="0.006"/>
      </geometry>
    </collision>
    <visual name="door_stop_post_vis">
      <origin xyz="0.571561 0.805896 0.048" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.012" length="0.084"/>
      </geometry>
      <material name="mat_stop_base"/>
    </visual>
    <collision name="door_stop_post_col">
      <origin xyz="0.571561 0.805896 0.048" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.012" length="0.084"/>
      </geometry>
    </collision>
    <visual name="door_stop_bumper_vis">
      <origin xyz="0.571561 0.805896 0.11" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.022" length="0.04"/>
      </geometry>
      <material name="mat_bumper_stop"/>
    </visual>
    <collision name="door_stop_bumper_col">
      <origin xyz="0.571561 0.805896 0.11" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.022" length="0.04"/>
      </geometry>
    </collision>
    <visual name="fence_bar_l_0_vis">
      <origin xyz="-0.616 0 1.25" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.008" length="2.4"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="fence_bar_l_0_col">
      <origin xyz="-0.616 0 1.25" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.008" length="2.4"/>
      </geometry>
    </collision>
    <visual name="fence_bar_l_1_vis">
      <origin xyz="-0.756 0 1.25" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.008" length="2.4"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="fence_bar_l_1_col">
      <origin xyz="-0.756 0 1.25" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.008" length="2.4"/>
      </geometry>
    </collision>
    <visual name="fence_bar_l_2_vis">
      <origin xyz="-0.896 0 1.25" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.008" length="2.4"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="fence_bar_l_2_col">
      <origin xyz="-0.896 0 1.25" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.008" length="2.4"/>
      </geometry>
    </collision>
    <visual name="fence_bar_l_3_vis">
      <origin xyz="-1.036 0 1.25" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.008" length="2.4"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="fence_bar_l_3_col">
      <origin xyz="-1.036 0 1.25" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.008" length="2.4"/>
      </geometry>
    </collision>
    <visual name="fence_bar_l_4_vis">
      <origin xyz="-1.176 0 1.25" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.008" length="2.4"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="fence_bar_l_4_col">
      <origin xyz="-1.176 0 1.25" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.008" length="2.4"/>
      </geometry>
    </collision>
    <visual name="fence_bar_l_5_vis">
      <origin xyz="-1.316 0 1.25" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.008" length="2.4"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="fence_bar_l_5_col">
      <origin xyz="-1.316 0 1.25" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.008" length="2.4"/>
      </geometry>
    </collision>
    <visual name="fence_bar_l_6_vis">
      <origin xyz="-1.456 0 1.25" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.008" length="2.4"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="fence_bar_l_6_col">
      <origin xyz="-1.456 0 1.25" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.008" length="2.4"/>
      </geometry>
    </collision>
    <visual name="fence_bar_l_7_vis">
      <origin xyz="-1.596 0 1.25" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.008" length="2.4"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="fence_bar_l_7_col">
      <origin xyz="-1.596 0 1.25" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.008" length="2.4"/>
      </geometry>
    </collision>
    <visual name="fence_bar_l_8_vis">
      <origin xyz="-1.736 0 1.25" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.008" length="2.4"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="fence_bar_l_8_col">
      <origin xyz="-1.736 0 1.25" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.008" length="2.4"/>
      </geometry>
    </collision>
    <visual name="fence_bar_l_9_vis">
      <origin xyz="-1.876 0 1.25" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.008" length="2.4"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="fence_bar_l_9_col">
      <origin xyz="-1.876 0 1.25" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.008" length="2.4"/>
      </geometry>
    </collision>
    <visual name="fence_bar_l_10_vis">
      <origin xyz="-2.016 0 1.25" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.008" length="2.4"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="fence_bar_l_10_col">
      <origin xyz="-2.016 0 1.25" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.008" length="2.4"/>
      </geometry>
    </collision>
    <visual name="fence_bar_l_11_vis">
      <origin xyz="-2.156 0 1.25" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.008" length="2.4"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="fence_bar_l_11_col">
      <origin xyz="-2.156 0 1.25" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.008" length="2.4"/>
      </geometry>
    </collision>
    <visual name="fence_bar_l_12_vis">
      <origin xyz="-2.296 0 1.25" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.008" length="2.4"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="fence_bar_l_12_col">
      <origin xyz="-2.296 0 1.25" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.008" length="2.4"/>
      </geometry>
    </collision>
    <visual name="fence_bar_l_13_vis">
      <origin xyz="-2.436 0 1.25" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.008" length="2.4"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="fence_bar_l_13_col">
      <origin xyz="-2.436 0 1.25" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.008" length="2.4"/>
      </geometry>
    </collision>
    <visual name="fence_rail_l_vis">
      <origin xyz="-1.516 0 2.4" rpy="0 0 0"/>
      <geometry>
        <box size="2 0.024 0.024"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="fence_rail_l_col">
      <origin xyz="-1.516 0 2.4" rpy="0 0 0"/>
      <geometry>
        <box size="2 0.024 0.024"/>
      </geometry>
    </collision>
    <visual name="fence_rail_b_l_vis">
      <origin xyz="-1.516 0 0.15" rpy="0 0 0"/>
      <geometry>
        <box size="2 0.024 0.024"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="fence_rail_b_l_col">
      <origin xyz="-1.516 0 0.15" rpy="0 0 0"/>
      <geometry>
        <box size="2 0.024 0.024"/>
      </geometry>
    </collision>
    <visual name="fence_bar_r_0_vis">
      <origin xyz="0.616 0 1.25" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.008" length="2.4"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="fence_bar_r_0_col">
      <origin xyz="0.616 0 1.25" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.008" length="2.4"/>
      </geometry>
    </collision>
    <visual name="fence_bar_r_1_vis">
      <origin xyz="0.756 0 1.25" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.008" length="2.4"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="fence_bar_r_1_col">
      <origin xyz="0.756 0 1.25" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.008" length="2.4"/>
      </geometry>
    </collision>
    <visual name="fence_bar_r_2_vis">
      <origin xyz="0.896 0 1.25" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.008" length="2.4"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="fence_bar_r_2_col">
      <origin xyz="0.896 0 1.25" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.008" length="2.4"/>
      </geometry>
    </collision>
    <visual name="fence_bar_r_3_vis">
      <origin xyz="1.036 0 1.25" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.008" length="2.4"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="fence_bar_r_3_col">
      <origin xyz="1.036 0 1.25" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.008" length="2.4"/>
      </geometry>
    </collision>
    <visual name="fence_bar_r_4_vis">
      <origin xyz="1.176 0 1.25" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.008" length="2.4"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="fence_bar_r_4_col">
      <origin xyz="1.176 0 1.25" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.008" length="2.4"/>
      </geometry>
    </collision>
    <visual name="fence_bar_r_5_vis">
      <origin xyz="1.316 0 1.25" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.008" length="2.4"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="fence_bar_r_5_col">
      <origin xyz="1.316 0 1.25" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.008" length="2.4"/>
      </geometry>
    </collision>
    <visual name="fence_bar_r_6_vis">
      <origin xyz="1.456 0 1.25" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.008" length="2.4"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="fence_bar_r_6_col">
      <origin xyz="1.456 0 1.25" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.008" length="2.4"/>
      </geometry>
    </collision>
    <visual name="fence_bar_r_7_vis">
      <origin xyz="1.596 0 1.25" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.008" length="2.4"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="fence_bar_r_7_col">
      <origin xyz="1.596 0 1.25" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.008" length="2.4"/>
      </geometry>
    </collision>
    <visual name="fence_bar_r_8_vis">
      <origin xyz="1.736 0 1.25" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.008" length="2.4"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="fence_bar_r_8_col">
      <origin xyz="1.736 0 1.25" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.008" length="2.4"/>
      </geometry>
    </collision>
    <visual name="fence_bar_r_9_vis">
      <origin xyz="1.876 0 1.25" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.008" length="2.4"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="fence_bar_r_9_col">
      <origin xyz="1.876 0 1.25" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.008" length="2.4"/>
      </geometry>
    </collision>
    <visual name="fence_bar_r_10_vis">
      <origin xyz="2.016 0 1.25" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.008" length="2.4"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="fence_bar_r_10_col">
      <origin xyz="2.016 0 1.25" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.008" length="2.4"/>
      </geometry>
    </collision>
    <visual name="fence_bar_r_11_vis">
      <origin xyz="2.156 0 1.25" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.008" length="2.4"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="fence_bar_r_11_col">
      <origin xyz="2.156 0 1.25" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.008" length="2.4"/>
      </geometry>
    </collision>
    <visual name="fence_bar_r_12_vis">
      <origin xyz="2.296 0 1.25" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.008" length="2.4"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="fence_bar_r_12_col">
      <origin xyz="2.296 0 1.25" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.008" length="2.4"/>
      </geometry>
    </collision>
    <visual name="fence_bar_r_13_vis">
      <origin xyz="2.436 0 1.25" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.008" length="2.4"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="fence_bar_r_13_col">
      <origin xyz="2.436 0 1.25" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.008" length="2.4"/>
      </geometry>
    </collision>
    <visual name="fence_rail_r_vis">
      <origin xyz="1.516 0 2.4" rpy="0 0 0"/>
      <geometry>
        <box size="2 0.024 0.024"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="fence_rail_r_col">
      <origin xyz="1.516 0 2.4" rpy="0 0 0"/>
      <geometry>
        <box size="2 0.024 0.024"/>
      </geometry>
    </collision>
    <visual name="fence_rail_b_r_vis">
      <origin xyz="1.516 0 0.15" rpy="0 0 0"/>
      <geometry>
        <box size="2 0.024 0.024"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="fence_rail_b_r_col">
      <origin xyz="1.516 0 0.15" rpy="0 0 0"/>
      <geometry>
        <box size="2 0.024 0.024"/>
      </geometry>
    </collision>
    <visual name="hinge_pintle_0_strap_0_vis">
      <origin xyz="0.453 0.036 0.174" rpy="0 0 0"/>
      <geometry>
        <box size="0.0128 0.013 0.032"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="hinge_pintle_1_strap_0_vis">
      <origin xyz="0.453 0.036 2.274" rpy="0 0 0"/>
      <geometry>
        <box size="0.0128 0.013 0.032"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="gate_stop_strap_0_vis">
      <origin xyz="-0.532 -0.01905 0.3" rpy="0 0 0"/>
      <geometry>
        <box size="0.153 0.0301 0.096"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
  </link>
  <link name="leaf">
    <inertial>
      <origin xyz="-0.443096 -0.049354 1.24825" rpy="0 0 0"/>
      <mass value="62.396"/>
      <inertia ixx="30.945103819" ixy="-0.013660897" ixz="-0.038421535" iyy="35.279187253" iyz="0.000707753" izz="4.345473303"/>
    </inertial>
    <collision name="leaf_slab_col_col">
      <origin xyz="-0.45 -0.05 1.25" rpy="0 0 0"/>
      <geometry>
        <box size="0.9 0.025 2.4"/>
      </geometry>
    </collision>
    <visual name="leaf_rail_b_vis">
      <origin xyz="-0.45 -0.05 0.0725" rpy="0 0 0"/>
      <geometry>
        <box size="0.9 0.025 0.045"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <visual name="leaf_rail_t_vis">
      <origin xyz="-0.45 -0.05 2.4275" rpy="0 0 0"/>
      <geometry>
        <box size="0.9 0.025 0.045"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <visual name="leaf_stile_h_vis">
      <origin xyz="-0.0225 -0.05 1.25" rpy="0 0 0"/>
      <geometry>
        <box size="0.045 0.025 2.4"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <visual name="leaf_stile_l_vis">
      <origin xyz="-0.8775 -0.05 1.25" rpy="0 0 0"/>
      <geometry>
        <box size="0.045 0.025 2.4"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <visual name="leaf_bar_0_vis">
      <origin xyz="-0.1125 -0.05 1.25" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.0095" length="2.31"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <visual name="leaf_bar_1_vis">
      <origin xyz="-0.2475 -0.05 1.25" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.0095" length="2.31"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <visual name="leaf_bar_2_vis">
      <origin xyz="-0.3825 -0.05 1.25" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.0095" length="2.31"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <visual name="leaf_bar_3_vis">
      <origin xyz="-0.5175 -0.05 1.25" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.0095" length="2.31"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <visual name="leaf_bar_4_vis">
      <origin xyz="-0.6525 -0.05 1.25" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.0095" length="2.31"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <visual name="leaf_bar_5_vis">
      <origin xyz="-0.7875 -0.05 1.25" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.0095" length="2.31"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <visual name="hinge_strap_0_vis">
      <origin xyz="0 -0.0345 0.2" rpy="0 0 3.141593"/>
      <geometry>
        <mesh filename="../../hardware/strap_hinge_78d1bbb966.obj"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="hinge_strap_eye_0_vis">
      <origin xyz="0 0 0.2" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.011" length="0.024"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="hinge_strap_neck_0_vis">
      <origin xyz="0 -0.01725 0.2" rpy="0 0 0"/>
      <geometry>
        <box size="0.024 0.0425 0.012"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="hinge_strap_1_vis">
      <origin xyz="0 -0.0345 2.3" rpy="0 0 3.141593"/>
      <geometry>
        <mesh filename="../../hardware/strap_hinge_78d1bbb966.obj"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="hinge_strap_eye_1_vis">
      <origin xyz="0 0 2.3" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.011" length="0.024"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="hinge_strap_neck_1_vis">
      <origin xyz="0 -0.01725 2.3" rpy="0 0 0"/>
      <geometry>
        <box size="0.024 0.0425 0.012"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="leaf_ring_pull_n_vis">
      <origin xyz="-0.795 -0.0625 1.1" rpy="-1.570796 0 3.141593"/>
      <geometry>
        <mesh filename="../../hardware/ring_cc5c941a8a.obj"/>
      </geometry>
      <material name="mat_op_wrought_iron"/>
    </visual>
    <collision name="leaf_ring_pull_col_n_col">
      <origin xyz="-0.795 -0.0945 1.04" rpy="0 1.570796 0"/>
      <geometry>
        <cylinder radius="0.008" length="0.1"/>
      </geometry>
    </collision>
    <visual name="leaf_ring_pull_p_vis">
      <origin xyz="-0.795 -0.0375 1.1" rpy="1.570796 0 3.141593"/>
      <geometry>
        <mesh filename="../../hardware/ring_cc5c941a8a.obj"/>
      </geometry>
      <material name="mat_op_wrought_iron"/>
    </visual>
    <collision name="leaf_ring_pull_col_p_col">
      <origin xyz="-0.795 -0.0055 1.04" rpy="0 1.570796 0"/>
      <geometry>
        <cylinder radius="0.008" length="0.1"/>
      </geometry>
    </collision>
  </link>
  <joint name="leaf_hinge" type="revolute">
    <origin xyz="0.453 0.05 0" rpy="0 0 0"/>
    <parent link="world_env"/>
    <child link="leaf"/>
    <axis xyz="0 0 -1"/>
    <limit lower="0" upper="1.745329" effort="2000" velocity="10"/>
    <dynamics damping="0.33438" friction="5.276959"/>
    <doorbench:closer damping_closing="0" damping_opening="0" backcheck_angle="0" backcheck_damping="0"/>
  </joint>
  <material name="mat_bumper_stop">
    <color rgba="0.08 0.08 0.08 1"/>
  </material>
  <material name="mat_floor">
    <color rgba="0.35 0.42 0.25 1"/>
  </material>
  <material name="mat_frame">
    <color rgba="0.08 0.08 0.09 1"/>
  </material>
  <material name="mat_hinge">
    <color rgba="0.65 0.66 0.68 1"/>
  </material>
  <material name="mat_leaf">
    <color rgba="0.82 0.75 0.62 1"/>
  </material>
  <material name="mat_op_wrought_iron">
    <color rgba="0.08 0.08 0.09 1"/>
  </material>
  <material name="mat_stop_base">
    <color rgba="0.9 0.9 0.92 1"/>
  </material>
</robot>
