<?xml version="1.0" ?>
<robot xmlns:doorbench="https://github.com/adamraudonis/DoorBench/schema/urdf-ext" name="db0713_gate_swing_simple">
  <link name="world_env">
    <visual name="floor_vis">
      <origin xyz="0 0 -0.05" rpy="0 0 0"/>
      <geometry>
        <box size="12 12 0.1"/>
      </geometry>
      <material name="mat_floor"/>
    </visual>
    <collision name="floor_col">
      <origin xyz="0 0 -0.05" rpy="0 0 0"/>
      <geometry>
        <box size="12 12 0.1"/>
      </geometry>
    </collision>
    <visual name="post_hinge_vis">
      <origin xyz="0.486 0 1.25" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.03" length="2.5"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="post_hinge_col">
      <origin xyz="0.486 0 1.25" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.03" length="2.5"/>
      </geometry>
    </collision>
    <visual name="post_latch_vis">
      <origin xyz="-0.486 0 1.25" rpy="0 0 0"/>
      <geometry>
        <box size="0.06 0.06 2.5"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="post_latch_col">
      <origin xyz="-0.486 0 1.25" rpy="0 0 0"/>
      <geometry>
        <box size="0.06 0.06 2.5"/>
      </geometry>
    </collision>
    <visual name="gate_stop_vis">
      <origin xyz="-0.436 -0.0245 0.3" rpy="0 0 0"/>
      <geometry>
        <box size="0.04 0.024 0.12"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="gate_stop_col">
      <origin xyz="-0.436 -0.0245 0.3" rpy="0 0 0"/>
      <geometry>
        <box size="0.04 0.024 0.12"/>
      </geometry>
    </collision>
    <visual name="wall_bumper_stop_vis">
      <origin xyz="1.266 0.03 0.85" rpy="-1.570796 0 0"/>
      <geometry>
        <cylinder radius="0.025" length="0.04"/>
      </geometry>
      <material name="mat_bumper_stop"/>
    </visual>
    <collision name="wall_bumper_stop_col">
      <origin xyz="1.266 0.03 0.85" rpy="-1.570796 0 0"/>
      <geometry>
        <cylinder radius="0.025" length="0.04"/>
      </geometry>
    </collision>
    <visual name="fence_rail_l_vis">
      <origin xyz="-1.516 0 2.4" rpy="0 0 0"/>
      <geometry>
        <box size="2 0.024 0.024"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="fence_rail_l_col">
      <origin xyz="-1.516 0 2.4" rpy="0 0 0"/>
      <geometry>
        <box size="2 0.024 0.024"/>
      </geometry>
    </collision>
    <visual name="fence_rail_b_l_vis">
      <origin xyz="-1.516 0 0.15" rpy="0 0 0"/>
      <geometry>
        <box size="2 0.024 0.024"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="fence_rail_b_l_col">
      <origin xyz="-1.516 0 0.15" rpy="0 0 0"/>
      <geometry>
        <box size="2 0.024 0.024"/>
      </geometry>
    </collision>
    <visual name="fence_rail_r_vis">
      <origin xyz="1.516 0 2.4" rpy="0 0 0"/>
      <geometry>
        <box size="2 0.024 0.024"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="fence_rail_r_col">
      <origin xyz="1.516 0 2.4" rpy="0 0 0"/>
      <geometry>
        <box size="2 0.024 0.024"/>
      </geometry>
    </collision>
    <visual name="fence_rail_b_r_vis">
      <origin xyz="1.516 0 0.15" rpy="0 0 0"/>
      <geometry>
        <box size="2 0.024 0.024"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="fence_rail_b_r_col">
      <origin xyz="1.516 0 0.15" rpy="0 0 0"/>
      <geometry>
        <box size="2 0.024 0.024"/>
      </geometry>
    </collision>
  </link>
  <link name="leaf">
    <inertial>
      <origin xyz="-0.444334 -0.019991 1.248247" rpy="0 0 0"/>
      <mass value="63.40333"/>
      <inertia ixx="31.38077356" ixy="0.009227844" ixz="-0.040635642" iyy="35.763905596" iyz="0.000846694" izz="4.393780201"/>
    </inertial>
    <collision name="leaf_slab_col_col">
      <origin xyz="-0.45 -0.0195 1.25" rpy="0 0 0"/>
      <geometry>
        <box size="0.9 0.025 2.4"/>
      </geometry>
    </collision>
    <visual name="leaf_rail_b_vis">
      <origin xyz="-0.45 -0.0195 0.0725" rpy="0 0 0"/>
      <geometry>
        <box size="0.9 0.025 0.045"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <visual name="leaf_rail_t_vis">
      <origin xyz="-0.45 -0.0195 2.4275" rpy="0 0 0"/>
      <geometry>
        <box size="0.9 0.025 0.045"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <visual name="leaf_stile_h_vis">
      <origin xyz="-0.0225 -0.0195 1.25" rpy="0 0 0"/>
      <geometry>
        <box size="0.045 0.025 2.4"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <visual name="leaf_stile_l_vis">
      <origin xyz="-0.8775 -0.0195 1.25" rpy="0 0 0"/>
      <geometry>
        <box size="0.045 0.025 2.4"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <visual name="leaf_bar_0_vis">
      <origin xyz="-0.1125 -0.0195 1.25" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.0095" length="2.31"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <visual name="leaf_bar_1_vis">
      <origin xyz="-0.2475 -0.0195 1.25" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.0095" length="2.31"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <visual name="leaf_bar_2_vis">
      <origin xyz="-0.3825 -0.0195 1.25" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.0095" length="2.31"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <visual name="leaf_bar_3_vis">
      <origin xyz="-0.5175 -0.0195 1.25" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.0095" length="2.31"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <visual name="leaf_bar_4_vis">
      <origin xyz="-0.6525 -0.0195 1.25" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.0095" length="2.31"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <visual name="leaf_bar_5_vis">
      <origin xyz="-0.7875 -0.0195 1.25" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.0095" length="2.31"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <visual name="hinge_strap_0_vis">
      <origin xyz="0 -0.035 0.2" rpy="0 0 3.141593"/>
      <geometry>
        <mesh filename="../../hardware/strap_hinge_78d1bbb966.obj"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="hinge_strap_1_vis">
      <origin xyz="0 -0.035 2.3" rpy="0 0 3.141593"/>
      <geometry>
        <mesh filename="../../hardware/strap_hinge_78d1bbb966.obj"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="leaf_ring_pull_n_vis">
      <origin xyz="-0.81 -0.032 1.1" rpy="-1.570796 0 3.141593"/>
      <geometry>
        <mesh filename="../../hardware/ring_cc5c941a8a.obj"/>
      </geometry>
      <material name="mat_op_wrought_iron"/>
    </visual>
    <collision name="leaf_ring_pull_col_n_col">
      <origin xyz="-0.81 -0.064 1.04" rpy="0 1.570796 0"/>
      <geometry>
        <cylinder radius="0.008" length="0.1"/>
      </geometry>
    </collision>
    <visual name="leaf_ring_pull_p_vis">
      <origin xyz="-0.81 -0.007 1.1" rpy="1.570796 0 3.141593"/>
      <geometry>
        <mesh filename="../../hardware/ring_cc5c941a8a.obj"/>
      </geometry>
      <material name="mat_op_wrought_iron"/>
    </visual>
    <collision name="leaf_ring_pull_col_p_col">
      <origin xyz="-0.81 0.025 1.04" rpy="0 1.570796 0"/>
      <geometry>
        <cylinder radius="0.008" length="0.1"/>
      </geometry>
    </collision>
  </link>
  <joint name="leaf_hinge" type="revolute">
    <origin xyz="0.453 0.0195 0" rpy="0 0 0"/>
    <parent link="world_env"/>
    <child link="leaf"/>
    <axis xyz="0 0 -1"/>
    <limit lower="0" upper="3.141593" effort="2000" velocity="10"/>
    <dynamics damping="0.33438" friction="5.276959"/>
    <doorbench:closer damping_closing="0" damping_opening="0" backcheck_angle="0" backcheck_damping="0"/>
  </joint>
  <material name="mat_bumper_stop">
    <color rgba="0.08 0.08 0.08 1"/>
  </material>
  <material name="mat_floor">
    <color rgba="0.35 0.42 0.25 1"/>
  </material>
  <material name="mat_frame">
    <color rgba="0.08 0.08 0.09 1"/>
  </material>
  <material name="mat_hinge">
    <color rgba="0.65 0.66 0.68 1"/>
  </material>
  <material name="mat_leaf">
    <color rgba="0.82 0.75 0.62 1"/>
  </material>
  <material name="mat_op_wrought_iron">
    <color rgba="0.08 0.08 0.09 1"/>
  </material>
</robot>
