<?xml version="1.0" ?>
<robot xmlns:doorbench="https://github.com/adamraudonis/DoorBench/schema/urdf-ext" name="db0599_swing_single_full">
  <link name="world_env">
    <visual name="floor_vis">
      <origin xyz="0 0 -0.05" rpy="0 0 0"/>
      <geometry>
        <box size="12 12 0.1"/>
      </geometry>
      <material name="mat_floor"/>
    </visual>
    <collision name="floor_col">
      <origin xyz="0 0 -0.05" rpy="0 0 0"/>
      <geometry>
        <box size="12 12 0.1"/>
      </geometry>
    </collision>
    <visual name="wall_left_vis">
      <origin xyz="-1.48975 -0.0305 1.5255" rpy="0 0 0"/>
      <geometry>
        <box size="2.0205 0.145 3.051"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_left_col">
      <origin xyz="-1.48975 -0.0305 1.5255" rpy="0 0 0"/>
      <geometry>
        <box size="2.0205 0.145 3.051"/>
      </geometry>
    </collision>
    <visual name="wall_right_vis">
      <origin xyz="1.50475 -0.0305 1.5255" rpy="0 0 0"/>
      <geometry>
        <box size="1.9905 0.145 3.051"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_right_col">
      <origin xyz="1.50475 -0.0305 1.5255" rpy="0 0 0"/>
      <geometry>
        <box size="1.9905 0.145 3.051"/>
      </geometry>
    </collision>
    <visual name="wall_header_vis">
      <origin xyz="0.015 -0.0305 2.7755" rpy="0 0 0"/>
      <geometry>
        <box size="0.989 0.145 0.551"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_header_col">
      <origin xyz="0.015 -0.0305 2.7755" rpy="0 0 0"/>
      <geometry>
        <box size="0.989 0.145 0.551"/>
      </geometry>
    </collision>
    <visual name="jamb_hinge_vis">
      <origin xyz="-0.47 -0.0305 1.2255" rpy="0 0 0"/>
      <geometry>
        <box size="0.019 0.145 2.451"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_hinge_col">
      <origin xyz="-0.47 -0.0305 1.2255" rpy="0 0 0"/>
      <geometry>
        <box size="0.019 0.145 2.451"/>
      </geometry>
    </collision>
    <visual name="strike_1016_wall_n_vis">
      <origin xyz="0.485 -0.05475 1.016" rpy="0 0 0"/>
      <geometry>
        <box size="0.049 0.0965 0.03"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="strike_1016_wall_n_col">
      <origin xyz="0.485 -0.05475 1.016" rpy="0 0 0"/>
      <geometry>
        <box size="0.049 0.0965 0.03"/>
      </geometry>
    </collision>
    <visual name="strike_1016_wall_p_vis">
      <origin xyz="0.485 0.0145 1.016" rpy="0 0 0"/>
      <geometry>
        <box size="0.049 0.016 0.03"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="strike_1016_wall_p_col">
      <origin xyz="0.485 0.0145 1.016" rpy="0 0 0"/>
      <geometry>
        <box size="0.049 0.016 0.03"/>
      </geometry>
    </collision>
    <visual name="strike_1016_ramp_vis">
      <origin xyz="0.490904 0.033552 1.016" rpy="0 0 -0.362926"/>
      <geometry>
        <box size="0.049 0.042252 0.03"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="strike_1016_ramp_col">
      <origin xyz="0.490904 0.033552 1.016" rpy="0 0 -0.362926"/>
      <geometry>
        <box size="0.049 0.042252 0.03"/>
      </geometry>
    </collision>
    <visual name="strike_1016_back_vis">
      <origin xyz="0.494 0 1.016" rpy="0 0 0"/>
      <geometry>
        <box size="0.031 0.013 0.03"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="strike_1016_back_col">
      <origin xyz="0.494 0 1.016" rpy="0 0 0"/>
      <geometry>
        <box size="0.031 0.013 0.03"/>
      </geometry>
    </collision>
    <visual name="strike_1156_wall_n_vis">
      <origin xyz="0.485 -0.05625 1.156" rpy="0 0 0"/>
      <geometry>
        <box size="0.049 0.0935 0.031"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="strike_1156_wall_n_col">
      <origin xyz="0.485 -0.05625 1.156" rpy="0 0 0"/>
      <geometry>
        <box size="0.049 0.0935 0.031"/>
      </geometry>
    </collision>
    <visual name="strike_1156_wall_p_vis">
      <origin xyz="0.485 0.02575 1.156" rpy="0 0 0"/>
      <geometry>
        <box size="0.049 0.0325 0.031"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="strike_1156_wall_p_col">
      <origin xyz="0.485 0.02575 1.156" rpy="0 0 0"/>
      <geometry>
        <box size="0.049 0.0325 0.031"/>
      </geometry>
    </collision>
    <visual name="strike_1156_back_vis">
      <origin xyz="0.4997 0 1.156" rpy="0 0 0"/>
      <geometry>
        <box size="0.0196 0.019 0.031"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="strike_1156_back_col">
      <origin xyz="0.4997 0 1.156" rpy="0 0 0"/>
      <geometry>
        <box size="0.0196 0.019 0.031"/>
      </geometry>
    </collision>
    <visual name="jamb_strike_0_vis">
      <origin xyz="0.485 -0.0305 0.5005" rpy="0 0 0"/>
      <geometry>
        <box size="0.049 0.145 1.001"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_strike_0_col">
      <origin xyz="0.485 -0.0305 0.5005" rpy="0 0 0"/>
      <geometry>
        <box size="0.049 0.145 1.001"/>
      </geometry>
    </collision>
    <visual name="jamb_strike_1_vis">
      <origin xyz="0.485 -0.0305 1.08575" rpy="0 0 0"/>
      <geometry>
        <box size="0.049 0.145 0.1095"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_strike_1_col">
      <origin xyz="0.485 -0.0305 1.08575" rpy="0 0 0"/>
      <geometry>
        <box size="0.049 0.145 0.1095"/>
      </geometry>
    </collision>
    <visual name="jamb_strike_2_vis">
      <origin xyz="0.485 -0.0305 1.81125" rpy="0 0 0"/>
      <geometry>
        <box size="0.049 0.145 1.2795"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_strike_2_col">
      <origin xyz="0.485 -0.0305 1.81125" rpy="0 0 0"/>
      <geometry>
        <box size="0.049 0.145 1.2795"/>
      </geometry>
    </collision>
    <visual name="jamb_head_vis">
      <origin xyz="0.015 -0.0305 2.4605" rpy="0 0 0"/>
      <geometry>
        <box size="0.989 0.145 0.019"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_head_col">
      <origin xyz="0.015 -0.0305 2.4605" rpy="0 0 0"/>
      <geometry>
        <box size="0.989 0.145 0.019"/>
      </geometry>
    </collision>
    <visual name="head_stud_vis">
      <origin xyz="0.015 -0.0305 2.485" rpy="0 0 0"/>
      <geometry>
        <box size="0.989 0.145 0.03"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="head_stud_col">
      <origin xyz="0.015 -0.0305 2.485" rpy="0 0 0"/>
      <geometry>
        <box size="0.989 0.145 0.03"/>
      </geometry>
    </collision>
    <visual name="stop_hinge_vis">
      <origin xyz="-0.455 -0.0385 1.2255" rpy="0 0 0"/>
      <geometry>
        <box size="0.011 0.032 2.451"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="stop_hinge_col">
      <origin xyz="-0.455 -0.0385 1.2255" rpy="0 0 0"/>
      <geometry>
        <box size="0.011 0.032 2.451"/>
      </geometry>
    </collision>
    <visual name="stop_strike_vis">
      <origin xyz="0.455 -0.0385 1.2255" rpy="0 0 0"/>
      <geometry>
        <box size="0.011 0.032 2.451"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="stop_strike_col">
      <origin xyz="0.455 -0.0385 1.2255" rpy="0 0 0"/>
      <geometry>
        <box size="0.011 0.032 2.451"/>
      </geometry>
    </collision>
    <visual name="stop_head_vis">
      <origin xyz="0 -0.0385 2.4455" rpy="0 0 0"/>
      <geometry>
        <box size="0.921 0.032 0.011"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="stop_head_col">
      <origin xyz="0 -0.0385 2.4455" rpy="0 0 0"/>
      <geometry>
        <box size="0.921 0.032 0.011"/>
      </geometry>
    </collision>
    <visual name="seal_hinge_vis">
      <origin xyz="-0.4485 -0.0235 1.2255" rpy="0 0 0"/>
      <geometry>
        <box size="0.016 0.003 2.451"/>
      </geometry>
      <material name="mat_seal"/>
    </visual>
    <visual name="seal_strike_vis">
      <origin xyz="0.4485 -0.0235 1.2255" rpy="0 0 0"/>
      <geometry>
        <box size="0.016 0.003 2.451"/>
      </geometry>
      <material name="mat_seal"/>
    </visual>
    <visual name="seal_head_vis">
      <origin xyz="0 -0.0235 2.439" rpy="0 0 0"/>
      <geometry>
        <box size="0.881 0.003 0.016"/>
      </geometry>
      <material name="mat_seal"/>
    </visual>
    <visual name="casing_l_n_vis">
      <origin xyz="-0.5095 -0.111 1.2255" rpy="0 0 0"/>
      <geometry>
        <box size="0.07 0.016 2.47"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <visual name="casing_r_n_vis">
      <origin xyz="0.5095 -0.111 1.2255" rpy="0 0 0"/>
      <geometry>
        <box size="0.07 0.016 2.47"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <visual name="casing_h_n_vis">
      <origin xyz="0 -0.111 2.5" rpy="0 0 0"/>
      <geometry>
        <box size="1.089 0.016 0.07"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <visual name="casing_l_p_vis">
      <origin xyz="-0.5095 0.05 1.2255" rpy="0 0 0"/>
      <geometry>
        <box size="0.07 0.016 2.47"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <visual name="casing_r_p_vis">
      <origin xyz="0.5095 0.05 1.2255" rpy="0 0 0"/>
      <geometry>
        <box size="0.07 0.016 2.47"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <visual name="casing_h_p_vis">
      <origin xyz="0 0.05 2.5" rpy="0 0 0"/>
      <geometry>
        <box size="1.089 0.016 0.07"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <visual name="threshold_vis">
      <origin xyz="0 -0.0305 0.0065" rpy="0 0 0"/>
      <geometry>
        <box size="0.959 0.145 0.013"/>
      </geometry>
      <material name="mat_threshold"/>
    </visual>
    <collision name="threshold_col">
      <origin xyz="0 -0.0305 0.0065" rpy="0 0 0"/>
      <geometry>
        <box size="0.959 0.145 0.013"/>
      </geometry>
    </collision>
  </link>
  <link name="leaf">
    <inertial>
      <origin xyz="0.462425 -0.031056 1.188961" rpy="0 0 0"/>
      <mass value="65.173163"/>
      <inertia ixx="32.567678451" ixy="0.017398786" ixz="0.211316383" iyy="37.252289983" iyz="-0.014921484" izz="4.738721831"/>
    </inertial>
    <visual name="leaf_slab_vis">
      <origin xyz="0.457 -0.029 1.232" rpy="0 0 0"/>
      <geometry>
        <box size="0.914 0.044 2.43"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <collision name="leaf_slab_col">
      <origin xyz="0.457 -0.029 1.232" rpy="0 0 0"/>
      <geometry>
        <box size="0.914 0.044 2.43"/>
      </geometry>
    </collision>
    <visual name="leaf_plank_gap_1_vis">
      <origin xyz="0.152333 -0.029 1.232" rpy="0 0 0"/>
      <geometry>
        <box size="0.004 0.046 2.41"/>
      </geometry>
      <material name="mat_leaf_brace"/>
    </visual>
    <visual name="leaf_plank_gap_2_vis">
      <origin xyz="0.304667 -0.029 1.232" rpy="0 0 0"/>
      <geometry>
        <box size="0.004 0.046 2.41"/>
      </geometry>
      <material name="mat_leaf_brace"/>
    </visual>
    <visual name="leaf_plank_gap_3_vis">
      <origin xyz="0.457 -0.029 1.232" rpy="0 0 0"/>
      <geometry>
        <box size="0.004 0.046 2.41"/>
      </geometry>
      <material name="mat_leaf_brace"/>
    </visual>
    <visual name="leaf_plank_gap_4_vis">
      <origin xyz="0.609333 -0.029 1.232" rpy="0 0 0"/>
      <geometry>
        <box size="0.004 0.046 2.41"/>
      </geometry>
      <material name="mat_leaf_brace"/>
    </visual>
    <visual name="leaf_plank_gap_5_vis">
      <origin xyz="0.761667 -0.029 1.232" rpy="0 0 0"/>
      <geometry>
        <box size="0.004 0.046 2.41"/>
      </geometry>
      <material name="mat_leaf_brace"/>
    </visual>
    <visual name="hinge_0_vis">
      <origin xyz="0 0 0.267" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../../hardware/hinge_7a316c6d01.obj"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="hinge_1_vis">
      <origin xyz="0 0 0.933667" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../../hardware/hinge_7a316c6d01.obj"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="hinge_2_vis">
      <origin xyz="0 0 1.600333" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../../hardware/hinge_7a316c6d01.obj"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="hinge_3_vis">
      <origin xyz="0 0 2.267" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../../hardware/hinge_7a316c6d01.obj"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="leaf_handleset_n_vis">
      <origin xyz="0.824 -0.051 0.956" rpy="1.570796 0 0"/>
      <geometry>
        <mesh filename="../../hardware/handleset_6f5f7b5b57.obj"/>
      </geometry>
      <material name="mat_op_bronze"/>
    </visual>
    <collision name="leaf_handleset_col_n_col">
      <origin xyz="0.824 -0.111 0.956" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.011" length="0.18"/>
      </geometry>
    </collision>
    <visual name="leaf_handleset_p_vis">
      <origin xyz="0.824 -0.007 0.956" rpy="-1.570796 0 0"/>
      <geometry>
        <mesh filename="../../hardware/handleset_6f5f7b5b57.obj"/>
      </geometry>
      <material name="mat_op_bronze"/>
    </visual>
    <collision name="leaf_handleset_col_p_col">
      <origin xyz="0.824 0.053 0.956" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.011" length="0.18"/>
      </geometry>
    </collision>
    <visual name="leaf_deadbolt_cylinder_face_vis">
      <origin xyz="0.844 -0.051 1.156" rpy="1.570796 0 0"/>
      <geometry>
        <mesh filename="../../hardware/cyl_face_e9e5036966.obj"/>
      </geometry>
      <material name="mat_deadbolt"/>
    </visual>
    <visual name="kick_plate_n_vis">
      <origin xyz="0.457 -0.0518 0.152" rpy="0 0 0"/>
      <geometry>
        <box size="0.854 0.0016 0.25"/>
      </geometry>
      <material name="mat_kick"/>
    </visual>
    <visual name="wreath_vis">
      <origin xyz="0.457 -0.051 1.6694" rpy="1.570796 0 0"/>
      <geometry>
        <mesh filename="../../hardware/wreath_86a3f1bf8b.obj"/>
      </geometry>
      <material name="mat_wreath"/>
    </visual>
  </link>
  <link name="leaf_handle">
    <inertial>
      <origin xyz="0 0.0539 0" rpy="0 0 0"/>
      <mass value="0.591957"/>
      <inertia ixx="0.000412852" ixy="0" ixz="0" iyy="0.000156545" iyz="0" izz="0.000412852"/>
    </inertial>
    <visual name="leaf_handle_spindle_vis">
      <origin xyz="0 0 0" rpy="-1.570796 0 0"/>
      <geometry>
        <cylinder radius="0.006" length="0.048"/>
      </geometry>
      <material name="mat_op_brass"/>
    </visual>
    <visual name="leaf_handle_knob_p_vis">
      <origin xyz="0 0.022 0" rpy="-1.570796 0 0"/>
      <geometry>
        <mesh filename="../../hardware/knob_d1888f6f03.obj"/>
      </geometry>
      <material name="mat_op_brass"/>
    </visual>
    <visual name="leaf_handle_knob_col_p_vis">
      <origin xyz="0 0.0685 0" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.0243"/>
      </geometry>
      <material name="mat_op_brass"/>
    </visual>
    <collision name="leaf_handle_knob_col_p_col">
      <origin xyz="0 0.0685 0" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.0243"/>
      </geometry>
    </collision>
    <collision name="leaf_handle_knob_neck_p_col">
      <origin xyz="0 0.034 0" rpy="-1.570796 0 0"/>
      <geometry>
        <cylinder radius="0.011" length="0.024"/>
      </geometry>
    </collision>
  </link>
  <link name="leaf_thumbpiece">
    <inertial>
      <origin xyz="0 0 -0.02" rpy="0 0 0"/>
      <mass value="0.03456"/>
      <inertia ixx="0.000004792" ixy="0" ixz="0" iyy="0.00000834" iyz="0" izz="0.000003917"/>
    </inertial>
    <visual name="leaf_thumbpiece_geom_vis">
      <origin xyz="0 0 -0.02" rpy="0 0 0"/>
      <geometry>
        <box size="0.036 0.008 0.04"/>
      </geometry>
      <material name="mat_op_bronze"/>
    </visual>
    <collision name="leaf_thumbpiece_geom_col">
      <origin xyz="0 0 -0.02" rpy="0 0 0"/>
      <geometry>
        <box size="0.036 0.008 0.04"/>
      </geometry>
    </collision>
  </link>
  <link name="leaf_latch_bolt">
    <inertial>
      <origin xyz="-0.008 0 0" rpy="0 0 0"/>
      <mass value="0.027149"/>
      <inertia ixx="0.000000328" ixy="0" ixz="0" iyy="0.000003943" iyz="0" izz="0.000003943"/>
    </inertial>
    <visual name="leaf_latch_bolt_capsule_vis">
      <origin xyz="-0.008 0 0" rpy="0 1.570796 0"/>
      <geometry>
        <cylinder radius="0.005" length="0.034"/>
      </geometry>
      <material name="mat_bolt"/>
    </visual>
    <collision name="leaf_latch_bolt_capsule_col">
      <origin xyz="-0.008 0 0" rpy="0 1.570796 0"/>
      <geometry>
        <cylinder radius="0.005" length="0.034"/>
      </geometry>
    </collision>
  </link>
  <link name="leaf_deadbolt">
    <inertial>
      <origin xyz="-0.0073 0 0" rpy="0 0 0"/>
      <mass value="0.22236"/>
      <inertia ixx="0.000016325" ixy="0" ixz="0" iyy="0.000090837" iyz="0" izz="0.000083999"/>
    </inertial>
    <visual name="leaf_deadbolt_box_vis">
      <origin xyz="-0.0073 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.0654 0.016 0.025"/>
      </geometry>
      <material name="mat_deadbolt"/>
    </visual>
    <collision name="leaf_deadbolt_box_col">
      <origin xyz="-0.0073 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.0654 0.016 0.025"/>
      </geometry>
    </collision>
  </link>
  <joint name="leaf_hinge" type="revolute">
    <origin xyz="-0.4575 0.029 0" rpy="0 0 0"/>
    <parent link="world_env"/>
    <child link="leaf"/>
    <axis xyz="0 0 1"/>
    <limit lower="0" upper="1.745329" effort="2000" velocity="10"/>
    <dynamics damping="0.357281" friction="6.1308"/>
    <doorbench:closer damping_closing="0" damping_opening="0" backcheck_angle="0" backcheck_damping="0"/>
  </joint>
  <joint name="leaf_handle_hinge" type="revolute">
    <origin xyz="0.859 -0.029 1.016" rpy="0 0 0"/>
    <parent link="leaf"/>
    <child link="leaf_handle"/>
    <axis xyz="0 -1 0"/>
    <limit lower="0" upper="0.87" effort="2000" velocity="10"/>
    <dynamics damping="0.02" friction="0.038"/>
    <doorbench:spring stiffness="0.5" springref="-0.5" note="tau = -stiffness*(q - springref); not native URDF"/>
  </joint>
  <joint name="leaf_thumbpiece_hinge" type="revolute">
    <origin xyz="0.824 -0.071 1.126" rpy="0 0 0"/>
    <parent link="leaf"/>
    <child link="leaf_thumbpiece"/>
    <axis xyz="1 0 0"/>
    <limit lower="0" upper="0.35" effort="2000" velocity="10"/>
    <dynamics damping="0.02" friction="0.02"/>
    <doorbench:spring stiffness="1.2" springref="-0.416667" note="tau = -stiffness*(q - springref); not native URDF"/>
  </joint>
  <joint name="leaf_latch_bolt_slide" type="prismatic">
    <origin xyz="0.914 -0.029 1.016" rpy="0 0 0"/>
    <parent link="leaf"/>
    <child link="leaf_latch_bolt"/>
    <axis xyz="-1 0 0"/>
    <limit lower="0" upper="0.014" effort="5000" velocity="10"/>
    <dynamics damping="2" friction="0.3"/>
    <doorbench:spring stiffness="400" springref="-0.01" note="tau = -stiffness*(q - springref); not native URDF"/>
    <mimic joint="leaf_thumbpiece_hinge" multiplier="0.04375" offset="0"/>
    <doorbench:coupling one_sided="true" note="MJCF uses a one-sided tendon (bolt may retract further, e.g. riding over the strike lip); mimic is bilateral"/>
    <mimic joint="leaf_handle_hinge" multiplier="0.04375" offset="0"/>
    <doorbench:coupling one_sided="true" note="MJCF uses a one-sided tendon (bolt may retract further, e.g. riding over the strike lip); mimic is bilateral"/>
  </joint>
  <joint name="leaf_deadbolt_fixed" type="fixed">
    <origin xyz="0.914 -0.029 1.156" rpy="0 0 0"/>
    <parent link="leaf"/>
    <child link="leaf_deadbolt"/>
  </joint>
  <material name="mat_bolt">
    <color rgba="0.75 0.76 0.77 1"/>
  </material>
  <material name="mat_deadbolt">
    <color rgba="0.85 0.66 0.3 1"/>
  </material>
  <material name="mat_floor">
    <color rgba="0.55 0.53 0.5 1"/>
  </material>
  <material name="mat_frame">
    <color rgba="0.82 0.7 0.5 1"/>
  </material>
  <material name="mat_hinge">
    <color rgba="0.65 0.66 0.68 1"/>
  </material>
  <material name="mat_kick">
    <color rgba="0.75 0.76 0.77 1"/>
  </material>
  <material name="mat_leaf">
    <color rgba="0.335 0.17 0.101 1"/>
  </material>
  <material name="mat_leaf_brace">
    <color rgba="0.302 0.153 0.091 1"/>
  </material>
  <material name="mat_op_brass">
    <color rgba="0.85 0.66 0.3 1"/>
  </material>
  <material name="mat_op_bronze">
    <color rgba="0.3 0.22 0.15 1"/>
  </material>
  <material name="mat_seal">
    <color rgba="0.1 0.1 0.1 1"/>
  </material>
  <material name="mat_threshold">
    <color rgba="0.8 0.81 0.83 1"/>
  </material>
  <material name="mat_wall">
    <color rgba="0.78 0.76 0.7 1"/>
  </material>
  <material name="mat_wreath">
    <color rgba="0.12 0.3 0.12 1"/>
  </material>
</robot>
