<?xml version="1.0" ?>
<robot xmlns:doorbench="https://github.com/adamraudonis/DoorBench/schema/urdf-ext" name="db0095_dutch_full">
  <link name="world_env">
    <visual name="floor_vis">
      <origin xyz="0 0 -0.05" rpy="0 0 0"/>
      <geometry>
        <box size="12 12 0.1"/>
      </geometry>
      <material name="mat_floor"/>
    </visual>
    <collision name="floor_col">
      <origin xyz="0 0 -0.05" rpy="0 0 0"/>
      <geometry>
        <box size="12 12 0.1"/>
      </geometry>
    </collision>
    <visual name="wall_left_vis">
      <origin xyz="-1.46475 0.0305 1.3735" rpy="0 0 0"/>
      <geometry>
        <box size="2.0705 0.145 2.747"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_left_col">
      <origin xyz="-1.46475 0.0305 1.3735" rpy="0 0 0"/>
      <geometry>
        <box size="2.0705 0.145 2.747"/>
      </geometry>
    </collision>
    <visual name="wall_right_vis">
      <origin xyz="1.47975 0.0305 1.3735" rpy="0 0 0"/>
      <geometry>
        <box size="2.0405 0.145 2.747"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_right_col">
      <origin xyz="1.47975 0.0305 1.3735" rpy="0 0 0"/>
      <geometry>
        <box size="2.0405 0.145 2.747"/>
      </geometry>
    </collision>
    <visual name="wall_header_vis">
      <origin xyz="0.015 0.0305 2.4715" rpy="0 0 0"/>
      <geometry>
        <box size="0.889 0.145 0.551"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_header_col">
      <origin xyz="0.015 0.0305 2.4715" rpy="0 0 0"/>
      <geometry>
        <box size="0.889 0.145 0.551"/>
      </geometry>
    </collision>
    <visual name="jamb_hinge_vis">
      <origin xyz="-0.42 0.0305 1.0735" rpy="0 0 0"/>
      <geometry>
        <box size="0.019 0.145 2.147"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_hinge_col">
      <origin xyz="-0.42 0.0305 1.0735" rpy="0 0 0"/>
      <geometry>
        <box size="0.019 0.145 2.147"/>
      </geometry>
    </collision>
    <visual name="strike_840_wall_n_vis">
      <origin xyz="0.435 0.055425 0.84" rpy="0 0 0"/>
      <geometry>
        <box size="0.049 0.09515 0.0334"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="strike_840_wall_n_col">
      <origin xyz="0.435 0.055425 0.84" rpy="0 0 0"/>
      <geometry>
        <box size="0.049 0.09515 0.0334"/>
      </geometry>
    </collision>
    <visual name="strike_840_wall_p_vis">
      <origin xyz="0.435 -0.01585 0.84" rpy="0 0 0"/>
      <geometry>
        <box size="0.049 0.016 0.0334"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="strike_840_wall_p_col">
      <origin xyz="0.435 -0.01585 0.84" rpy="0 0 0"/>
      <geometry>
        <box size="0.049 0.016 0.0334"/>
      </geometry>
    </collision>
    <visual name="strike_840_ramp_vis">
      <origin xyz="0.440408 -0.034645 0.84" rpy="0 0 0.344766"/>
      <geometry>
        <box size="0.049 0.040535 0.0334"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="strike_840_ramp_col">
      <origin xyz="0.440408 -0.034645 0.84" rpy="0 0 0.344766"/>
      <geometry>
        <box size="0.049 0.040535 0.0334"/>
      </geometry>
    </collision>
    <visual name="strike_840_back_vis">
      <origin xyz="0.44335 0 0.84" rpy="0 0 0"/>
      <geometry>
        <box size="0.0323 0.0157 0.0334"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="strike_840_back_col">
      <origin xyz="0.44335 0 0.84" rpy="0 0 0"/>
      <geometry>
        <box size="0.0323 0.0157 0.0334"/>
      </geometry>
    </collision>
    <visual name="strike_1547_wall_n_vis">
      <origin xyz="0.435 0.05525 1.547" rpy="0 0 0"/>
      <geometry>
        <box size="0.049 0.0955 0.02"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="strike_1547_wall_n_col">
      <origin xyz="0.435 0.05525 1.547" rpy="0 0 0"/>
      <geometry>
        <box size="0.049 0.0955 0.02"/>
      </geometry>
    </collision>
    <visual name="strike_1547_wall_p_vis">
      <origin xyz="0.435 -0.0155 1.547" rpy="0 0 0"/>
      <geometry>
        <box size="0.049 0.016 0.02"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="strike_1547_wall_p_col">
      <origin xyz="0.435 -0.0155 1.547" rpy="0 0 0"/>
      <geometry>
        <box size="0.049 0.016 0.02"/>
      </geometry>
    </collision>
    <visual name="strike_1547_ramp_vis">
      <origin xyz="0.437296 -0.039595 1.547" rpy="0 0 0.129147"/>
      <geometry>
        <box size="0.049 0.038823 0.02"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="strike_1547_ramp_col">
      <origin xyz="0.437296 -0.039595 1.547" rpy="0 0 0.129147"/>
      <geometry>
        <box size="0.049 0.038823 0.02"/>
      </geometry>
    </collision>
    <visual name="strike_1547_ramp_n_vis">
      <origin xyz="0.437296 0.027595 1.547" rpy="0 0 -0.129147"/>
      <geometry>
        <box size="0.049 0.038823 0.02"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="strike_1547_ramp_n_col">
      <origin xyz="0.437296 0.027595 1.547" rpy="0 0 -0.129147"/>
      <geometry>
        <box size="0.049 0.038823 0.02"/>
      </geometry>
    </collision>
    <visual name="strike_1547_back_vis">
      <origin xyz="0.439 0 1.547" rpy="0 0 0"/>
      <geometry>
        <box size="0.041 0.015 0.02"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="strike_1547_back_col">
      <origin xyz="0.439 0 1.547" rpy="0 0 0"/>
      <geometry>
        <box size="0.041 0.015 0.02"/>
      </geometry>
    </collision>
    <visual name="jamb_strike_0_vis">
      <origin xyz="0.435 0.0305 0.41165" rpy="0 0 0"/>
      <geometry>
        <box size="0.049 0.145 0.8233"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_strike_0_col">
      <origin xyz="0.435 0.0305 0.41165" rpy="0 0 0"/>
      <geometry>
        <box size="0.049 0.145 0.8233"/>
      </geometry>
    </collision>
    <visual name="jamb_strike_1_vis">
      <origin xyz="0.435 0.0305 1.19685" rpy="0 0 0"/>
      <geometry>
        <box size="0.049 0.145 0.6803"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_strike_1_col">
      <origin xyz="0.435 0.0305 1.19685" rpy="0 0 0"/>
      <geometry>
        <box size="0.049 0.145 0.6803"/>
      </geometry>
    </collision>
    <visual name="jamb_strike_2_vis">
      <origin xyz="0.435 0.0305 1.852" rpy="0 0 0"/>
      <geometry>
        <box size="0.049 0.145 0.59"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_strike_2_col">
      <origin xyz="0.435 0.0305 1.852" rpy="0 0 0"/>
      <geometry>
        <box size="0.049 0.145 0.59"/>
      </geometry>
    </collision>
    <visual name="jamb_head_vis">
      <origin xyz="0.015 0.0305 2.1565" rpy="0 0 0"/>
      <geometry>
        <box size="0.889 0.145 0.019"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_head_col">
      <origin xyz="0.015 0.0305 2.1565" rpy="0 0 0"/>
      <geometry>
        <box size="0.889 0.145 0.019"/>
      </geometry>
    </collision>
    <visual name="head_stud_vis">
      <origin xyz="0.015 0.0305 2.181" rpy="0 0 0"/>
      <geometry>
        <box size="0.889 0.145 0.03"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="head_stud_col">
      <origin xyz="0.015 0.0305 2.181" rpy="0 0 0"/>
      <geometry>
        <box size="0.889 0.145 0.03"/>
      </geometry>
    </collision>
    <visual name="stop_hinge_vis">
      <origin xyz="-0.405 0.0385 1.0735" rpy="0 0 0"/>
      <geometry>
        <box size="0.011 0.032 2.147"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="stop_hinge_col">
      <origin xyz="-0.405 0.0385 1.0735" rpy="0 0 0"/>
      <geometry>
        <box size="0.011 0.032 2.147"/>
      </geometry>
    </collision>
    <visual name="stop_strike_vis">
      <origin xyz="0.405 0.0385 1.0735" rpy="0 0 0"/>
      <geometry>
        <box size="0.011 0.032 2.147"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="stop_strike_col">
      <origin xyz="0.405 0.0385 1.0735" rpy="0 0 0"/>
      <geometry>
        <box size="0.011 0.032 2.147"/>
      </geometry>
    </collision>
    <visual name="stop_head_vis">
      <origin xyz="0 0.0385 2.1415" rpy="0 0 0"/>
      <geometry>
        <box size="0.821 0.032 0.011"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="stop_head_col">
      <origin xyz="0 0.0385 2.1415" rpy="0 0 0"/>
      <geometry>
        <box size="0.821 0.032 0.011"/>
      </geometry>
    </collision>
    <visual name="casing_l_n_vis">
      <origin xyz="-0.4595 -0.05 1.0735" rpy="0 0 0"/>
      <geometry>
        <box size="0.07 0.016 2.166"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <visual name="casing_r_n_vis">
      <origin xyz="0.4595 -0.05 1.0735" rpy="0 0 0"/>
      <geometry>
        <box size="0.07 0.016 2.166"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <visual name="casing_h_n_vis">
      <origin xyz="0 -0.05 2.196" rpy="0 0 0"/>
      <geometry>
        <box size="0.989 0.016 0.07"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <visual name="casing_l_p_vis">
      <origin xyz="-0.4595 0.111 1.0735" rpy="0 0 0"/>
      <geometry>
        <box size="0.07 0.016 2.166"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <visual name="casing_r_p_vis">
      <origin xyz="0.4595 0.111 1.0735" rpy="0 0 0"/>
      <geometry>
        <box size="0.07 0.016 2.166"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <visual name="casing_h_p_vis">
      <origin xyz="0 0.111 2.196" rpy="0 0 0"/>
      <geometry>
        <box size="0.989 0.016 0.07"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <visual name="hinge_0_jamb_vis">
      <origin xyz="-0.4105 -0.029 0.262" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../../hardware/hinge_jamb_c0c0a62ada.obj"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="hinge_1_jamb_vis">
      <origin xyz="-0.4105 -0.029 0.433333" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../../hardware/hinge_jamb_c0c0a62ada.obj"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="hinge_2_jamb_vis">
      <origin xyz="-0.4105 -0.029 0.604667" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../../hardware/hinge_jamb_c0c0a62ada.obj"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="hinge_3_jamb_vis">
      <origin xyz="-0.4105 -0.029 0.776" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../../hardware/hinge_jamb_c0c0a62ada.obj"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="hinge_0_jamb_2_vis">
      <origin xyz="-0.4105 -0.029 1.214" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../../hardware/hinge_jamb_c0c0a62ada.obj"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="hinge_1_jamb_2_vis">
      <origin xyz="-0.4105 -0.029 1.460667" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../../hardware/hinge_jamb_c0c0a62ada.obj"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="hinge_2_jamb_2_vis">
      <origin xyz="-0.4105 -0.029 1.707333" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../../hardware/hinge_jamb_c0c0a62ada.obj"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="hinge_3_jamb_2_vis">
      <origin xyz="-0.4105 -0.029 1.954" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../../hardware/hinge_jamb_c0c0a62ada.obj"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
  </link>
  <link name="leaf_lower">
    <inertial>
      <origin xyz="0.44661 -0.004429 0.685411" rpy="0 0 0"/>
      <mass value="9.593127"/>
      <inertia ixx="0.365127082" ixy="0.045888524" ixz="-0.420092294" iyy="1.474145549" iyz="0.014438213" izz="1.127319311"/>
    </inertial>
    <visual name="leaf_lower_slab_vis">
      <origin xyz="0.4065 0.029 0.484" rpy="0 0 0"/>
      <geometry>
        <box size="0.813 0.044 0.944"/>
      </geometry>
      <material name="mat_leaf_lower"/>
    </visual>
    <collision name="leaf_lower_slab_col">
      <origin xyz="0.4065 0.029 0.484" rpy="0 0 0"/>
      <geometry>
        <box size="0.813 0.044 0.944"/>
      </geometry>
    </collision>
    <visual name="leaf_lower_plank_gap_1_vis">
      <origin xyz="0.1626 0.029 0.484" rpy="0 0 0"/>
      <geometry>
        <box size="0.004 0.046 0.924"/>
      </geometry>
      <material name="mat_leaf_lower_brace"/>
    </visual>
    <visual name="leaf_lower_plank_gap_2_vis">
      <origin xyz="0.3252 0.029 0.484" rpy="0 0 0"/>
      <geometry>
        <box size="0.004 0.046 0.924"/>
      </geometry>
      <material name="mat_leaf_lower_brace"/>
    </visual>
    <visual name="leaf_lower_plank_gap_3_vis">
      <origin xyz="0.4878 0.029 0.484" rpy="0 0 0"/>
      <geometry>
        <box size="0.004 0.046 0.924"/>
      </geometry>
      <material name="mat_leaf_lower_brace"/>
    </visual>
    <visual name="leaf_lower_plank_gap_4_vis">
      <origin xyz="0.6504 0.029 0.484" rpy="0 0 0"/>
      <geometry>
        <box size="0.004 0.046 0.924"/>
      </geometry>
      <material name="mat_leaf_lower_brace"/>
    </visual>
    <visual name="leaf_lower_batten_13_vis">
      <origin xyz="0.4065 -0.003 0.132" rpy="0 0 0"/>
      <geometry>
        <box size="0.753 0.02 0.09"/>
      </geometry>
      <material name="mat_leaf_lower_brace"/>
    </visual>
    <visual name="leaf_lower_batten_83_vis">
      <origin xyz="0.4065 -0.003 0.836" rpy="0 0 0"/>
      <geometry>
        <box size="0.753 0.02 0.09"/>
      </geometry>
      <material name="mat_leaf_lower_brace"/>
    </visual>
    <visual name="leaf_lower_brace_z_vis">
      <origin xyz="0.4065 -0.003 0.484" rpy="0 -0.6946 0"/>
      <geometry>
        <box size="0.808011 0.02 0.09"/>
      </geometry>
      <material name="mat_leaf_lower_brace"/>
    </visual>
    <visual name="leaf_lower_brace_x_vis">
      <origin xyz="0.4065 -0.003 0.484" rpy="0 0.6946 0"/>
      <geometry>
        <box size="0.808011 0.02 0.09"/>
      </geometry>
      <material name="mat_leaf_lower_brace"/>
    </visual>
    <visual name="lower_handleset_n_vis">
      <origin xyz="0.708 0.007 0.78" rpy="1.570796 0 0"/>
      <geometry>
        <mesh filename="../../hardware/handleset_beb5526ad2.obj"/>
      </geometry>
      <material name="mat_op_bronze"/>
    </visual>
    <collision name="lower_handleset_col_n_col">
      <origin xyz="0.708 -0.053 0.78" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.011" length="0.18"/>
      </geometry>
    </collision>
    <visual name="lower_latch_bolt_faceplate_vis">
      <origin xyz="0.8124 0.029 0.84" rpy="0 0 0"/>
      <geometry>
        <box size="0.0012 0.0247 0.0534"/>
      </geometry>
      <material name="mat_bolt"/>
    </visual>
    <visual name="join_keeper_leg_n_vis">
      <origin xyz="0.7045 0.064 0.93" rpy="0 1.570796 0"/>
      <geometry>
        <box size="0.014 0.005 0.026"/>
      </geometry>
      <material name="mat_joinbolt"/>
    </visual>
    <collision name="join_keeper_leg_n_col">
      <origin xyz="0.7045 0.064 0.93" rpy="0 1.570796 0"/>
      <geometry>
        <box size="0.014 0.005 0.026"/>
      </geometry>
    </collision>
    <visual name="join_keeper_leg_p_vis">
      <origin xyz="0.6815 0.064 0.93" rpy="0 1.570796 0"/>
      <geometry>
        <box size="0.014 0.005 0.026"/>
      </geometry>
      <material name="mat_joinbolt"/>
    </visual>
    <collision name="join_keeper_leg_p_col">
      <origin xyz="0.6815 0.064 0.93" rpy="0 1.570796 0"/>
      <geometry>
        <box size="0.014 0.005 0.026"/>
      </geometry>
    </collision>
    <visual name="join_keeper_bridge_vis">
      <origin xyz="0.693 0.0745 0.93" rpy="0 1.570796 0"/>
      <geometry>
        <box size="0.014 0.028 0.005"/>
      </geometry>
      <material name="mat_joinbolt"/>
    </visual>
    <collision name="join_keeper_bridge_col">
      <origin xyz="0.693 0.0745 0.93" rpy="0 1.570796 0"/>
      <geometry>
        <box size="0.014 0.028 0.005"/>
      </geometry>
    </collision>
    <visual name="join_keeper_base_vis">
      <origin xyz="0.693 0.052 0.93" rpy="0 1.570796 0"/>
      <geometry>
        <box size="0.026 0.04 0.002"/>
      </geometry>
      <material name="mat_joinbolt"/>
    </visual>
    <visual name="hinge_0_vis">
      <origin xyz="-0.003 0 0.262" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../../hardware/hinge_2af0f4d6ca.obj"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="hinge_1_vis">
      <origin xyz="-0.003 0 0.433333" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../../hardware/hinge_2af0f4d6ca.obj"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="hinge_2_vis">
      <origin xyz="-0.003 0 0.604667" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../../hardware/hinge_2af0f4d6ca.obj"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="hinge_3_vis">
      <origin xyz="-0.003 0 0.776" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../../hardware/hinge_2af0f4d6ca.obj"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
  </link>
  <link name="leaf_upper">
    <inertial>
      <origin xyz="0.145469 0.021779 1.491304" rpy="0 0 0"/>
      <mass value="11.607065"/>
      <inertia ixx="1.244407978" ixy="-0.050414004" ixz="0.582682566" iyy="2.155429556" iyz="0.038504026" izz="0.922571842"/>
    </inertial>
    <visual name="leaf_upper_slab_vis">
      <origin xyz="0.4065 0.029 1.549" rpy="0 0 0"/>
      <geometry>
        <box size="0.813 0.044 1.17"/>
      </geometry>
      <material name="mat_leaf_upper"/>
    </visual>
    <collision name="leaf_upper_slab_col">
      <origin xyz="0.4065 0.029 1.549" rpy="0 0 0"/>
      <geometry>
        <box size="0.813 0.044 1.17"/>
      </geometry>
    </collision>
    <visual name="leaf_upper_plank_gap_1_vis">
      <origin xyz="0.1626 0.029 1.549" rpy="0 0 0"/>
      <geometry>
        <box size="0.004 0.046 1.15"/>
      </geometry>
      <material name="mat_leaf_upper_brace"/>
    </visual>
    <visual name="leaf_upper_plank_gap_2_vis">
      <origin xyz="0.3252 0.029 1.549" rpy="0 0 0"/>
      <geometry>
        <box size="0.004 0.046 1.15"/>
      </geometry>
      <material name="mat_leaf_upper_brace"/>
    </visual>
    <visual name="leaf_upper_plank_gap_3_vis">
      <origin xyz="0.4878 0.029 1.549" rpy="0 0 0"/>
      <geometry>
        <box size="0.004 0.046 1.15"/>
      </geometry>
      <material name="mat_leaf_upper_brace"/>
    </visual>
    <visual name="leaf_upper_plank_gap_4_vis">
      <origin xyz="0.6504 0.029 1.549" rpy="0 0 0"/>
      <geometry>
        <box size="0.004 0.046 1.15"/>
      </geometry>
      <material name="mat_leaf_upper_brace"/>
    </visual>
    <visual name="leaf_upper_batten_108_vis">
      <origin xyz="0.4065 -0.003 1.084" rpy="0 0 0"/>
      <geometry>
        <box size="0.753 0.02 0.09"/>
      </geometry>
      <material name="mat_leaf_upper_brace"/>
    </visual>
    <visual name="leaf_upper_batten_201_vis">
      <origin xyz="0.4065 -0.003 2.014" rpy="0 0 0"/>
      <geometry>
        <box size="0.753 0.02 0.09"/>
      </geometry>
      <material name="mat_leaf_upper_brace"/>
    </visual>
    <visual name="leaf_upper_brace_z_vis">
      <origin xyz="0.4065 -0.003 1.549" rpy="0 -0.855083 0"/>
      <geometry>
        <box size="0.966632 0.02 0.09"/>
      </geometry>
      <material name="mat_leaf_upper_brace"/>
    </visual>
    <visual name="leaf_upper_brace_x_vis">
      <origin xyz="0.4065 -0.003 1.549" rpy="0 0.855083 0"/>
      <geometry>
        <box size="0.966632 0.02 0.09"/>
      </geometry>
      <material name="mat_leaf_upper_brace"/>
    </visual>
    <visual name="upper_catch_faceplate_vis">
      <origin xyz="0.8124 0.029 1.547" rpy="0 0 0"/>
      <geometry>
        <box size="0.0012 0.024 0.04"/>
      </geometry>
      <material name="mat_bolt"/>
    </visual>
    <visual name="join_bolt_plate_vis">
      <origin xyz="0.693 0.052 1.036" rpy="0 1.570796 0"/>
      <geometry>
        <box size="0.128 0.038 0.002"/>
      </geometry>
      <material name="mat_joinbolt"/>
    </visual>
    <visual name="join_bolt_guide_0_leg_n_vis">
      <origin xyz="0.704 0.0635 0.98" rpy="0 1.570796 0"/>
      <geometry>
        <box size="0.012 0.004 0.025"/>
      </geometry>
      <material name="mat_joinbolt"/>
    </visual>
    <visual name="join_bolt_guide_0_leg_p_vis">
      <origin xyz="0.682 0.0635 0.98" rpy="0 1.570796 0"/>
      <geometry>
        <box size="0.012 0.004 0.025"/>
      </geometry>
      <material name="mat_joinbolt"/>
    </visual>
    <visual name="join_bolt_guide_0_bridge_vis">
      <origin xyz="0.693 0.074 0.98" rpy="0 1.570796 0"/>
      <geometry>
        <box size="0.012 0.026 0.004"/>
      </geometry>
      <material name="mat_joinbolt"/>
    </visual>
    <visual name="join_bolt_guide_1_leg_n_vis">
      <origin xyz="0.704 0.0635 1.09" rpy="0 1.570796 0"/>
      <geometry>
        <box size="0.012 0.004 0.025"/>
      </geometry>
      <material name="mat_joinbolt"/>
    </visual>
    <visual name="join_bolt_guide_1_leg_p_vis">
      <origin xyz="0.682 0.0635 1.09" rpy="0 1.570796 0"/>
      <geometry>
        <box size="0.012 0.004 0.025"/>
      </geometry>
      <material name="mat_joinbolt"/>
    </visual>
    <visual name="join_bolt_guide_1_bridge_vis">
      <origin xyz="0.693 0.074 1.09" rpy="0 1.570796 0"/>
      <geometry>
        <box size="0.012 0.026 0.004"/>
      </geometry>
      <material name="mat_joinbolt"/>
    </visual>
    <visual name="hinge_0_2_vis">
      <origin xyz="-0.003 0 1.214" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../../hardware/hinge_2af0f4d6ca.obj"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="hinge_1_2_vis">
      <origin xyz="-0.003 0 1.460667" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../../hardware/hinge_2af0f4d6ca.obj"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="hinge_2_2_vis">
      <origin xyz="-0.003 0 1.707333" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../../hardware/hinge_2af0f4d6ca.obj"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="hinge_3_2_vis">
      <origin xyz="-0.003 0 1.954" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../../hardware/hinge_2af0f4d6ca.obj"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
  </link>
  <link name="lower_handle">
    <inertial>
      <origin xyz="0 0.052948 0" rpy="0 0 0"/>
      <mass value="0.60261"/>
      <inertia ixx="0.000451151" ixy="0" ixz="0" iyy="0.000156736" iyz="0" izz="0.000451151"/>
    </inertial>
    <visual name="lower_handle_spindle_vis">
      <origin xyz="0 0 0" rpy="-1.570796 0 0"/>
      <geometry>
        <cylinder radius="0.006" length="0.06"/>
      </geometry>
      <material name="mat_op_brass"/>
    </visual>
    <visual name="lower_handle_knob_p_vis">
      <origin xyz="0 0.022 0" rpy="-1.570796 0 0"/>
      <geometry>
        <mesh filename="../../hardware/knob_d1888f6f03.obj"/>
      </geometry>
      <material name="mat_op_brass"/>
    </visual>
    <visual name="lower_handle_knob_col_p_vis">
      <origin xyz="0 0.0685 0" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.0243"/>
      </geometry>
      <material name="mat_op_brass"/>
    </visual>
    <collision name="lower_handle_knob_col_p_col">
      <origin xyz="0 0.0685 0" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.0243"/>
      </geometry>
    </collision>
    <collision name="lower_handle_knob_neck_p_col">
      <origin xyz="0 0.034 0" rpy="-1.570796 0 0"/>
      <geometry>
        <cylinder radius="0.011" length="0.024"/>
      </geometry>
    </collision>
  </link>
  <link name="lower_latch_bolt">
    <inertial>
      <origin xyz="-0.00865 0 0" rpy="0 0 0"/>
      <mass value="0.041419"/>
      <inertia ixx="0.000000798" ixy="0" ixz="0" iyy="0.000005598" iyz="0" izz="0.000005598"/>
    </inertial>
    <visual name="lower_latch_bolt_capsule_vis">
      <origin xyz="-0.00865 0 0" rpy="0 1.570796 0"/>
      <geometry>
        <cylinder radius="0.00635" length="0.03"/>
      </geometry>
      <material name="mat_bolt"/>
    </visual>
    <collision name="lower_latch_bolt_capsule_col">
      <origin xyz="-0.00865 0 0" rpy="0 1.570796 0"/>
      <geometry>
        <cylinder radius="0.00635" length="0.03"/>
      </geometry>
    </collision>
  </link>
  <link name="upper_catch">
    <inertial>
      <origin xyz="-0.013 0 0" rpy="0 0 0"/>
      <mass value="0.02884"/>
      <inertia ixx="0.000000491" ixy="0" ixz="0" iyy="0.000002465" iyz="0" izz="0.000002465"/>
    </inertial>
    <visual name="upper_catch_capsule_vis">
      <origin xyz="-0.013 0 0" rpy="0 1.570796 0"/>
      <geometry>
        <cylinder radius="0.006" length="0.022"/>
      </geometry>
      <material name="mat_bolt"/>
    </visual>
    <collision name="upper_catch_capsule_col">
      <origin xyz="-0.013 0 0" rpy="0 1.570796 0"/>
      <geometry>
        <cylinder radius="0.006" length="0.022"/>
      </geometry>
    </collision>
  </link>
  <link name="join_bolt">
    <inertial>
      <origin xyz="0 0.00492 0.075264" rpy="0 0 0"/>
      <mass value="0.111784"/>
      <inertia ixx="0.000108548" ixy="0" ixz="0" iyy="0.000097554" iyz="-0.000016355" izz="0.000012882"/>
    </inertial>
    <visual name="join_bolt_rod_vis">
      <origin xyz="0 0 0.066" rpy="3.141593 0 0"/>
      <geometry>
        <cylinder radius="0.006" length="0.088"/>
      </geometry>
      <material name="mat_joinbolt"/>
    </visual>
    <collision name="join_bolt_rod_col">
      <origin xyz="0 0 0.066" rpy="3.141593 0 0"/>
      <geometry>
        <cylinder radius="0.006" length="0.088"/>
      </geometry>
    </collision>
    <visual name="join_bolt_knob_vis">
      <origin xyz="0 0.015 0.105" rpy="-1.570796 0 0"/>
      <geometry>
        <cylinder radius="0.005" length="0.02"/>
      </geometry>
      <material name="mat_joinbolt"/>
    </visual>
    <collision name="join_bolt_knob_col">
      <origin xyz="0 0.015 0.105" rpy="-1.570796 0 0"/>
      <geometry>
        <cylinder radius="0.005" length="0.02"/>
      </geometry>
    </collision>
    <visual name="join_bolt_knob_end_vis">
      <origin xyz="0 0.03 0.105" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.00675"/>
      </geometry>
      <material name="mat_joinbolt"/>
    </visual>
  </link>
  <joint name="leaf_lower_hinge" type="revolute">
    <origin xyz="-0.4075 -0.029 0" rpy="0 0 0"/>
    <parent link="world_env"/>
    <child link="leaf_lower"/>
    <axis xyz="0 0 -1"/>
    <limit lower="0" upper="1.396263" effort="2000" velocity="10"/>
    <dynamics damping="0.218374" friction="0.39623"/>
    <doorbench:closer damping_closing="0" damping_opening="0" backcheck_angle="0" backcheck_damping="0"/>
  </joint>
  <joint name="leaf_upper_hinge" type="revolute">
    <origin xyz="-0.4075 -0.029 0" rpy="0 0 0"/>
    <parent link="world_env"/>
    <child link="leaf_upper"/>
    <axis xyz="0 0 -1"/>
    <limit lower="0" upper="1.396263" effort="2000" velocity="10"/>
    <dynamics damping="0.218374" friction="0.39623"/>
    <doorbench:closer damping_closing="0" damping_opening="0" backcheck_angle="0" backcheck_damping="0"/>
  </joint>
  <joint name="lower_handle_hinge" type="revolute">
    <origin xyz="0.743 0.029 0.84" rpy="0 0 0"/>
    <parent link="leaf_lower"/>
    <child link="lower_handle"/>
    <axis xyz="0 -1 0"/>
    <limit lower="0" upper="0.87" effort="2000" velocity="10"/>
    <dynamics damping="0.142525" friction="0.038"/>
    <doorbench:spring stiffness="0.5" springref="-0.5" note="tau = -stiffness*(q - springref); not native URDF"/>
  </joint>
  <joint name="lower_latch_bolt_slide" type="prismatic">
    <origin xyz="0.813 0.029 0.84" rpy="0 0 0"/>
    <parent link="leaf_lower"/>
    <child link="lower_latch_bolt"/>
    <axis xyz="-1 0 0"/>
    <limit lower="0" upper="0.0127" effort="5000" velocity="10"/>
    <dynamics damping="2" friction="0.3"/>
    <doorbench:spring stiffness="300" springref="-0.008333" note="tau = -stiffness*(q - springref); not native URDF"/>
    <mimic joint="lower_handle_hinge" multiplier="0.039688" offset="0"/>
    <doorbench:coupling one_sided="true" note="MJCF uses a one-sided tendon (bolt may retract further, e.g. riding over the strike lip); mimic is bilateral"/>
  </joint>
  <joint name="upper_catch_slide" type="prismatic">
    <origin xyz="0.813 0.029 1.547" rpy="0 0 0"/>
    <parent link="leaf_upper"/>
    <child link="upper_catch"/>
    <axis xyz="-1 0 0"/>
    <limit lower="0" upper="0.004" effort="5000" velocity="10"/>
    <dynamics damping="2" friction="0.3"/>
    <doorbench:spring stiffness="4000" springref="-0.00375" note="tau = -stiffness*(q - springref); not native URDF"/>
  </joint>
  <joint name="join_bolt_slide" type="prismatic">
    <origin xyz="0.693 0.063 0.964" rpy="0 0 0"/>
    <parent link="leaf_upper"/>
    <child link="join_bolt"/>
    <axis xyz="0 0 1"/>
    <doorbench:zero_offset value="0.05" note="URDF q=0 is the spec initial state; DoorBench q = urdf_q + value"/>
    <limit lower="-0.05" upper="0" effort="5000" velocity="10"/>
    <dynamics damping="1" friction="1"/>
  </joint>
  <material name="mat_bolt">
    <color rgba="0.85 0.66 0.3 1"/>
  </material>
  <material name="mat_floor">
    <color rgba="0.55 0.53 0.5 1"/>
  </material>
  <material name="mat_frame">
    <color rgba="0.82 0.7 0.5 1"/>
  </material>
  <material name="mat_hinge">
    <color rgba="0.65 0.66 0.68 1"/>
  </material>
  <material name="mat_joinbolt">
    <color rgba="0.85 0.66 0.3 1"/>
  </material>
  <material name="mat_leaf_lower">
    <color rgba="0.04 0.04 0.04 1"/>
  </material>
  <material name="mat_leaf_lower_brace">
    <color rgba="0.036 0.036 0.036 1"/>
  </material>
  <material name="mat_leaf_upper">
    <color rgba="0.04 0.04 0.04 1"/>
  </material>
  <material name="mat_leaf_upper_brace">
    <color rgba="0.036 0.036 0.036 1"/>
  </material>
  <material name="mat_op_brass">
    <color rgba="0.85 0.66 0.3 1"/>
  </material>
  <material name="mat_op_bronze">
    <color rgba="0.3 0.22 0.15 1"/>
  </material>
  <material name="mat_wall">
    <color rgba="0.78 0.76 0.7 1"/>
  </material>
</robot>
