<?xml version="1.0" ?>
<robot xmlns:doorbench="https://github.com/adamraudonis/DoorBench/schema/urdf-ext" name="db0343_bifold_full">
  <link name="world_env">
    <visual name="floor_vis">
      <origin xyz="0 0 -0.05" rpy="0 0 0"/>
      <geometry>
        <box size="12 12 0.1"/>
      </geometry>
      <material name="mat_floor"/>
    </visual>
    <collision name="floor_col">
      <origin xyz="0 0 -0.05" rpy="0 0 0"/>
      <geometry>
        <box size="12 12 0.1"/>
      </geometry>
    </collision>
    <visual name="wall_left_vis">
      <origin xyz="-1.48225 0 1.5275" rpy="0 0 0"/>
      <geometry>
        <box size="2.0355 0.145 3.055"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_left_col">
      <origin xyz="-1.48225 0 1.5275" rpy="0 0 0"/>
      <geometry>
        <box size="2.0355 0.145 3.055"/>
      </geometry>
    </collision>
    <visual name="wall_right_vis">
      <origin xyz="1.48225 0 1.5275" rpy="0 0 0"/>
      <geometry>
        <box size="2.0355 0.145 3.055"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_right_col">
      <origin xyz="1.48225 0 1.5275" rpy="0 0 0"/>
      <geometry>
        <box size="2.0355 0.145 3.055"/>
      </geometry>
    </collision>
    <visual name="wall_header_vis">
      <origin xyz="0 0 2.755" rpy="0 0 0"/>
      <geometry>
        <box size="0.929 0.145 0.6"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_header_col">
      <origin xyz="0 0 2.755" rpy="0 0 0"/>
      <geometry>
        <box size="0.929 0.145 0.6"/>
      </geometry>
    </collision>
    <visual name="jamb_hinge_vis">
      <origin xyz="-0.474 0 1.2275" rpy="0 0 0"/>
      <geometry>
        <box size="0.019 0.145 2.455"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_hinge_col">
      <origin xyz="-0.474 0 1.2275" rpy="0 0 0"/>
      <geometry>
        <box size="0.019 0.145 2.455"/>
      </geometry>
    </collision>
    <visual name="jamb_strike_vis">
      <origin xyz="0.474 0 1.2275" rpy="0 0 0"/>
      <geometry>
        <box size="0.019 0.145 2.455"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_strike_col">
      <origin xyz="0.474 0 1.2275" rpy="0 0 0"/>
      <geometry>
        <box size="0.019 0.145 2.455"/>
      </geometry>
    </collision>
    <visual name="stud_strike_vis">
      <origin xyz="0.4985 0 1.2275" rpy="0 0 0"/>
      <geometry>
        <box size="0.03 0.145 2.455"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="stud_strike_col">
      <origin xyz="0.4985 0 1.2275" rpy="0 0 0"/>
      <geometry>
        <box size="0.03 0.145 2.455"/>
      </geometry>
    </collision>
    <visual name="jamb_head_vis">
      <origin xyz="0.015 0 2.4645" rpy="0 0 0"/>
      <geometry>
        <box size="0.997 0.145 0.019"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_head_col">
      <origin xyz="0.015 0 2.4645" rpy="0 0 0"/>
      <geometry>
        <box size="0.997 0.145 0.019"/>
      </geometry>
    </collision>
    <visual name="head_stud_vis">
      <origin xyz="0.015 0 2.489" rpy="0 0 0"/>
      <geometry>
        <box size="0.997 0.145 0.03"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="head_stud_col">
      <origin xyz="0.015 0 2.489" rpy="0 0 0"/>
      <geometry>
        <box size="0.997 0.145 0.03"/>
      </geometry>
    </collision>
    <visual name="casing_l_n_vis">
      <origin xyz="-0.5135 -0.0805 1.2275" rpy="0 0 0"/>
      <geometry>
        <box size="0.07 0.016 2.474"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <visual name="casing_r_n_vis">
      <origin xyz="0.5135 -0.0805 1.2275" rpy="0 0 0"/>
      <geometry>
        <box size="0.07 0.016 2.474"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <visual name="casing_h_n_vis">
      <origin xyz="0 -0.0805 2.504" rpy="0 0 0"/>
      <geometry>
        <box size="1.097 0.016 0.07"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <visual name="casing_l_p_vis">
      <origin xyz="-0.5135 0.0805 1.2275" rpy="0 0 0"/>
      <geometry>
        <box size="0.07 0.016 2.474"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <visual name="casing_r_p_vis">
      <origin xyz="0.5135 0.0805 1.2275" rpy="0 0 0"/>
      <geometry>
        <box size="0.07 0.016 2.474"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <visual name="casing_h_p_vis">
      <origin xyz="0 0.0805 2.504" rpy="0 0 0"/>
      <geometry>
        <box size="1.097 0.016 0.07"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <visual name="fold_track_vis">
      <origin xyz="0 0 2.44" rpy="0 0 0"/>
      <geometry>
        <box size="0.929 0.04 0.03"/>
      </geometry>
      <material name="mat_track"/>
    </visual>
  </link>
  <link name="panel_0_0">
    <inertial>
      <origin xyz="0.196085 0 1.224711" rpy="0 0 0"/>
      <mass value="8.367345"/>
      <inertia ixx="4.048122251" ixy="0" ixz="0.007697891" iyy="4.186848072" iyz="0.000000243" izz="0.140428415"/>
    </inertial>
    <visual name="panel_0_0_slab_vis">
      <origin xyz="0.196855 0 1.22" rpy="0 0 0"/>
      <geometry>
        <box size="0.446291 0.035 2.4"/>
      </geometry>
      <material name="mat_panel_0_0"/>
    </visual>
    <collision name="panel_0_0_slab_col">
      <origin xyz="0.196855 0 1.22" rpy="0 0 0"/>
      <geometry>
        <box size="0.446291 0.035 2.4"/>
      </geometry>
    </collision>
    <visual name="panel_0_0_louver_0_vis">
      <origin xyz="0.196855 0 0.3092" rpy="0.610865 0 0"/>
      <geometry>
        <box size="0.266291 0.004 0.05292"/>
      </geometry>
      <material name="mat_panel_0_0_louver"/>
    </visual>
    <visual name="panel_0_0_louver_1_vis">
      <origin xyz="0.196855 0 0.3596" rpy="0.610865 0 0"/>
      <geometry>
        <box size="0.266291 0.004 0.05292"/>
      </geometry>
      <material name="mat_panel_0_0_louver"/>
    </visual>
    <visual name="panel_0_0_louver_2_vis">
      <origin xyz="0.196855 0 0.41" rpy="0.610865 0 0"/>
      <geometry>
        <box size="0.266291 0.004 0.05292"/>
      </geometry>
      <material name="mat_panel_0_0_louver"/>
    </visual>
    <visual name="panel_0_0_louver_3_vis">
      <origin xyz="0.196855 0 0.4604" rpy="0.610865 0 0"/>
      <geometry>
        <box size="0.266291 0.004 0.05292"/>
      </geometry>
      <material name="mat_panel_0_0_louver"/>
    </visual>
    <visual name="panel_0_0_louver_4_vis">
      <origin xyz="0.196855 0 0.5108" rpy="0.610865 0 0"/>
      <geometry>
        <box size="0.266291 0.004 0.05292"/>
      </geometry>
      <material name="mat_panel_0_0_louver"/>
    </visual>
    <visual name="panel_0_0_louver_5_vis">
      <origin xyz="0.196855 0 0.5612" rpy="0.610865 0 0"/>
      <geometry>
        <box size="0.266291 0.004 0.05292"/>
      </geometry>
      <material name="mat_panel_0_0_louver"/>
    </visual>
    <visual name="panel_0_0_louver_6_vis">
      <origin xyz="0.196855 0 0.6116" rpy="0.610865 0 0"/>
      <geometry>
        <box size="0.266291 0.004 0.05292"/>
      </geometry>
      <material name="mat_panel_0_0_louver"/>
    </visual>
    <visual name="panel_0_0_louver_7_vis">
      <origin xyz="0.196855 0 0.662" rpy="0.610865 0 0"/>
      <geometry>
        <box size="0.266291 0.004 0.05292"/>
      </geometry>
      <material name="mat_panel_0_0_louver"/>
    </visual>
    <visual name="panel_0_0_louver_8_vis">
      <origin xyz="0.196855 0 0.7124" rpy="0.610865 0 0"/>
      <geometry>
        <box size="0.266291 0.004 0.05292"/>
      </geometry>
      <material name="mat_panel_0_0_louver"/>
    </visual>
    <visual name="panel_0_0_louver_9_vis">
      <origin xyz="0.196855 0 0.7628" rpy="0.610865 0 0"/>
      <geometry>
        <box size="0.266291 0.004 0.05292"/>
      </geometry>
      <material name="mat_panel_0_0_louver"/>
    </visual>
    <visual name="panel_0_0_louver_10_vis">
      <origin xyz="0.196855 0 0.8132" rpy="0.610865 0 0"/>
      <geometry>
        <box size="0.266291 0.004 0.05292"/>
      </geometry>
      <material name="mat_panel_0_0_louver"/>
    </visual>
    <visual name="panel_0_0_louver_11_vis">
      <origin xyz="0.196855 0 0.8636" rpy="0.610865 0 0"/>
      <geometry>
        <box size="0.266291 0.004 0.05292"/>
      </geometry>
      <material name="mat_panel_0_0_louver"/>
    </visual>
    <visual name="panel_0_0_louver_12_vis">
      <origin xyz="0.196855 0 0.914" rpy="0.610865 0 0"/>
      <geometry>
        <box size="0.266291 0.004 0.05292"/>
      </geometry>
      <material name="mat_panel_0_0_louver"/>
    </visual>
    <visual name="panel_0_0_louver_13_vis">
      <origin xyz="0.196855 0 0.9644" rpy="0.610865 0 0"/>
      <geometry>
        <box size="0.266291 0.004 0.05292"/>
      </geometry>
      <material name="mat_panel_0_0_louver"/>
    </visual>
    <visual name="panel_0_0_louver_14_vis">
      <origin xyz="0.196855 0 1.0148" rpy="0.610865 0 0"/>
      <geometry>
        <box size="0.266291 0.004 0.05292"/>
      </geometry>
      <material name="mat_panel_0_0_louver"/>
    </visual>
    <visual name="panel_0_0_louver_15_vis">
      <origin xyz="0.196855 0 1.0652" rpy="0.610865 0 0"/>
      <geometry>
        <box size="0.266291 0.004 0.05292"/>
      </geometry>
      <material name="mat_panel_0_0_louver"/>
    </visual>
    <visual name="panel_0_0_louver_16_vis">
      <origin xyz="0.196855 0 1.1156" rpy="0.610865 0 0"/>
      <geometry>
        <box size="0.266291 0.004 0.05292"/>
      </geometry>
      <material name="mat_panel_0_0_louver"/>
    </visual>
    <visual name="panel_0_0_louver_17_vis">
      <origin xyz="0.196855 0 1.166" rpy="0.610865 0 0"/>
      <geometry>
        <box size="0.266291 0.004 0.05292"/>
      </geometry>
      <material name="mat_panel_0_0_louver"/>
    </visual>
    <visual name="panel_0_0_louver_18_vis">
      <origin xyz="0.196855 0 1.2164" rpy="0.610865 0 0"/>
      <geometry>
        <box size="0.266291 0.004 0.05292"/>
      </geometry>
      <material name="mat_panel_0_0_louver"/>
    </visual>
    <visual name="panel_0_0_louver_19_vis">
      <origin xyz="0.196855 0 1.2668" rpy="0.610865 0 0"/>
      <geometry>
        <box size="0.266291 0.004 0.05292"/>
      </geometry>
      <material name="mat_panel_0_0_louver"/>
    </visual>
    <visual name="panel_0_0_louver_20_vis">
      <origin xyz="0.196855 0 1.3172" rpy="0.610865 0 0"/>
      <geometry>
        <box size="0.266291 0.004 0.05292"/>
      </geometry>
      <material name="mat_panel_0_0_louver"/>
    </visual>
    <visual name="panel_0_0_louver_21_vis">
      <origin xyz="0.196855 0 1.3676" rpy="0.610865 0 0"/>
      <geometry>
        <box size="0.266291 0.004 0.05292"/>
      </geometry>
      <material name="mat_panel_0_0_louver"/>
    </visual>
    <visual name="panel_0_0_louver_22_vis">
      <origin xyz="0.196855 0 1.418" rpy="0.610865 0 0"/>
      <geometry>
        <box size="0.266291 0.004 0.05292"/>
      </geometry>
      <material name="mat_panel_0_0_louver"/>
    </visual>
    <visual name="panel_0_0_louver_23_vis">
      <origin xyz="0.196855 0 1.4684" rpy="0.610865 0 0"/>
      <geometry>
        <box size="0.266291 0.004 0.05292"/>
      </geometry>
      <material name="mat_panel_0_0_louver"/>
    </visual>
    <visual name="panel_0_0_louver_24_vis">
      <origin xyz="0.196855 0 1.5188" rpy="0.610865 0 0"/>
      <geometry>
        <box size="0.266291 0.004 0.05292"/>
      </geometry>
      <material name="mat_panel_0_0_louver"/>
    </visual>
    <visual name="panel_0_0_louver_25_vis">
      <origin xyz="0.196855 0 1.5692" rpy="0.610865 0 0"/>
      <geometry>
        <box size="0.266291 0.004 0.05292"/>
      </geometry>
      <material name="mat_panel_0_0_louver"/>
    </visual>
    <visual name="panel_0_0_louver_26_vis">
      <origin xyz="0.196855 0 1.6196" rpy="0.610865 0 0"/>
      <geometry>
        <box size="0.266291 0.004 0.05292"/>
      </geometry>
      <material name="mat_panel_0_0_louver"/>
    </visual>
    <visual name="panel_0_0_louver_27_vis">
      <origin xyz="0.196855 0 1.67" rpy="0.610865 0 0"/>
      <geometry>
        <box size="0.266291 0.004 0.05292"/>
      </geometry>
      <material name="mat_panel_0_0_louver"/>
    </visual>
    <visual name="panel_0_0_louver_28_vis">
      <origin xyz="0.196855 0 1.7204" rpy="0.610865 0 0"/>
      <geometry>
        <box size="0.266291 0.004 0.05292"/>
      </geometry>
      <material name="mat_panel_0_0_louver"/>
    </visual>
    <visual name="panel_0_0_louver_29_vis">
      <origin xyz="0.196855 0 1.7708" rpy="0.610865 0 0"/>
      <geometry>
        <box size="0.266291 0.004 0.05292"/>
      </geometry>
      <material name="mat_panel_0_0_louver"/>
    </visual>
    <visual name="panel_0_0_louver_30_vis">
      <origin xyz="0.196855 0 1.8212" rpy="0.610865 0 0"/>
      <geometry>
        <box size="0.266291 0.004 0.05292"/>
      </geometry>
      <material name="mat_panel_0_0_louver"/>
    </visual>
    <visual name="panel_0_0_louver_31_vis">
      <origin xyz="0.196855 0 1.8716" rpy="0.610865 0 0"/>
      <geometry>
        <box size="0.266291 0.004 0.05292"/>
      </geometry>
      <material name="mat_panel_0_0_louver"/>
    </visual>
    <visual name="panel_0_0_louver_32_vis">
      <origin xyz="0.196855 0 1.922" rpy="0.610865 0 0"/>
      <geometry>
        <box size="0.266291 0.004 0.05292"/>
      </geometry>
      <material name="mat_panel_0_0_louver"/>
    </visual>
    <visual name="panel_0_0_louver_33_vis">
      <origin xyz="0.196855 0 1.9724" rpy="0.610865 0 0"/>
      <geometry>
        <box size="0.266291 0.004 0.05292"/>
      </geometry>
      <material name="mat_panel_0_0_louver"/>
    </visual>
    <visual name="panel_0_0_louver_34_vis">
      <origin xyz="0.196855 0 2.0228" rpy="0.610865 0 0"/>
      <geometry>
        <box size="0.266291 0.004 0.05292"/>
      </geometry>
      <material name="mat_panel_0_0_louver"/>
    </visual>
    <visual name="panel_0_0_louver_35_vis">
      <origin xyz="0.196855 0 2.0732" rpy="0.610865 0 0"/>
      <geometry>
        <box size="0.266291 0.004 0.05292"/>
      </geometry>
      <material name="mat_panel_0_0_louver"/>
    </visual>
    <visual name="panel_0_0_louver_36_vis">
      <origin xyz="0.196855 0 2.1236" rpy="0.610865 0 0"/>
      <geometry>
        <box size="0.266291 0.004 0.05292"/>
      </geometry>
      <material name="mat_panel_0_0_louver"/>
    </visual>
    <visual name="panel_0_0_louver_37_vis">
      <origin xyz="0.196855 0 2.174" rpy="0.610865 0 0"/>
      <geometry>
        <box size="0.266291 0.004 0.05292"/>
      </geometry>
      <material name="mat_panel_0_0_louver"/>
    </visual>
    <visual name="panel_0_0_louver_38_vis">
      <origin xyz="0.196855 0 2.2244" rpy="0.610865 0 0"/>
      <geometry>
        <box size="0.266291 0.004 0.05292"/>
      </geometry>
      <material name="mat_panel_0_0_louver"/>
    </visual>
    <visual name="panel_0_0_louver_39_vis">
      <origin xyz="0.196855 0 2.2748" rpy="0.610865 0 0"/>
      <geometry>
        <box size="0.266291 0.004 0.05292"/>
      </geometry>
      <material name="mat_panel_0_0_louver"/>
    </visual>
    <visual name="panel_0_0_pivot_pin_vis">
      <origin xyz="0 0 2.4205" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.008" length="0.021"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
  </link>
  <link name="panel_0_1">
    <inertial>
      <origin xyz="0.051491 -0.006235 1.196613" rpy="0 0 0"/>
      <mass value="8.753375"/>
      <inertia ixx="3.733467962" ixy="0.019057421" ixz="0.074819973" iyy="3.888602732" iyz="-0.009697722" izz="0.160349015"/>
    </inertial>
    <visual name="panel_0_1_slab_vis">
      <origin xyz="0.234 -0.0175 1.22" rpy="0 0 0"/>
      <geometry>
        <box size="0.464 0.035 2.4"/>
      </geometry>
      <material name="mat_panel_0_1"/>
    </visual>
    <collision name="panel_0_1_slab_col">
      <origin xyz="0.234 -0.0175 1.22" rpy="0 0 0"/>
      <geometry>
        <box size="0.464 0.035 2.4"/>
      </geometry>
    </collision>
    <visual name="panel_0_1_louver_0_vis">
      <origin xyz="0.234 -0.0175 0.3092" rpy="0.610865 0 0"/>
      <geometry>
        <box size="0.284 0.004 0.05292"/>
      </geometry>
      <material name="mat_panel_0_1_louver"/>
    </visual>
    <visual name="panel_0_1_louver_1_vis">
      <origin xyz="0.234 -0.0175 0.3596" rpy="0.610865 0 0"/>
      <geometry>
        <box size="0.284 0.004 0.05292"/>
      </geometry>
      <material name="mat_panel_0_1_louver"/>
    </visual>
    <visual name="panel_0_1_louver_2_vis">
      <origin xyz="0.234 -0.0175 0.41" rpy="0.610865 0 0"/>
      <geometry>
        <box size="0.284 0.004 0.05292"/>
      </geometry>
      <material name="mat_panel_0_1_louver"/>
    </visual>
    <visual name="panel_0_1_louver_3_vis">
      <origin xyz="0.234 -0.0175 0.4604" rpy="0.610865 0 0"/>
      <geometry>
        <box size="0.284 0.004 0.05292"/>
      </geometry>
      <material name="mat_panel_0_1_louver"/>
    </visual>
    <visual name="panel_0_1_louver_4_vis">
      <origin xyz="0.234 -0.0175 0.5108" rpy="0.610865 0 0"/>
      <geometry>
        <box size="0.284 0.004 0.05292"/>
      </geometry>
      <material name="mat_panel_0_1_louver"/>
    </visual>
    <visual name="panel_0_1_louver_5_vis">
      <origin xyz="0.234 -0.0175 0.5612" rpy="0.610865 0 0"/>
      <geometry>
        <box size="0.284 0.004 0.05292"/>
      </geometry>
      <material name="mat_panel_0_1_louver"/>
    </visual>
    <visual name="panel_0_1_louver_6_vis">
      <origin xyz="0.234 -0.0175 0.6116" rpy="0.610865 0 0"/>
      <geometry>
        <box size="0.284 0.004 0.05292"/>
      </geometry>
      <material name="mat_panel_0_1_louver"/>
    </visual>
    <visual name="panel_0_1_louver_7_vis">
      <origin xyz="0.234 -0.0175 0.662" rpy="0.610865 0 0"/>
      <geometry>
        <box size="0.284 0.004 0.05292"/>
      </geometry>
      <material name="mat_panel_0_1_louver"/>
    </visual>
    <visual name="panel_0_1_louver_8_vis">
      <origin xyz="0.234 -0.0175 0.7124" rpy="0.610865 0 0"/>
      <geometry>
        <box size="0.284 0.004 0.05292"/>
      </geometry>
      <material name="mat_panel_0_1_louver"/>
    </visual>
    <visual name="panel_0_1_louver_9_vis">
      <origin xyz="0.234 -0.0175 0.7628" rpy="0.610865 0 0"/>
      <geometry>
        <box size="0.284 0.004 0.05292"/>
      </geometry>
      <material name="mat_panel_0_1_louver"/>
    </visual>
    <visual name="panel_0_1_louver_10_vis">
      <origin xyz="0.234 -0.0175 0.8132" rpy="0.610865 0 0"/>
      <geometry>
        <box size="0.284 0.004 0.05292"/>
      </geometry>
      <material name="mat_panel_0_1_louver"/>
    </visual>
    <visual name="panel_0_1_louver_11_vis">
      <origin xyz="0.234 -0.0175 0.8636" rpy="0.610865 0 0"/>
      <geometry>
        <box size="0.284 0.004 0.05292"/>
      </geometry>
      <material name="mat_panel_0_1_louver"/>
    </visual>
    <visual name="panel_0_1_louver_12_vis">
      <origin xyz="0.234 -0.0175 0.914" rpy="0.610865 0 0"/>
      <geometry>
        <box size="0.284 0.004 0.05292"/>
      </geometry>
      <material name="mat_panel_0_1_louver"/>
    </visual>
    <visual name="panel_0_1_louver_13_vis">
      <origin xyz="0.234 -0.0175 0.9644" rpy="0.610865 0 0"/>
      <geometry>
        <box size="0.284 0.004 0.05292"/>
      </geometry>
      <material name="mat_panel_0_1_louver"/>
    </visual>
    <visual name="panel_0_1_louver_14_vis">
      <origin xyz="0.234 -0.0175 1.0148" rpy="0.610865 0 0"/>
      <geometry>
        <box size="0.284 0.004 0.05292"/>
      </geometry>
      <material name="mat_panel_0_1_louver"/>
    </visual>
    <visual name="panel_0_1_louver_15_vis">
      <origin xyz="0.234 -0.0175 1.0652" rpy="0.610865 0 0"/>
      <geometry>
        <box size="0.284 0.004 0.05292"/>
      </geometry>
      <material name="mat_panel_0_1_louver"/>
    </visual>
    <visual name="panel_0_1_louver_16_vis">
      <origin xyz="0.234 -0.0175 1.1156" rpy="0.610865 0 0"/>
      <geometry>
        <box size="0.284 0.004 0.05292"/>
      </geometry>
      <material name="mat_panel_0_1_louver"/>
    </visual>
    <visual name="panel_0_1_louver_17_vis">
      <origin xyz="0.234 -0.0175 1.166" rpy="0.610865 0 0"/>
      <geometry>
        <box size="0.284 0.004 0.05292"/>
      </geometry>
      <material name="mat_panel_0_1_louver"/>
    </visual>
    <visual name="panel_0_1_louver_18_vis">
      <origin xyz="0.234 -0.0175 1.2164" rpy="0.610865 0 0"/>
      <geometry>
        <box size="0.284 0.004 0.05292"/>
      </geometry>
      <material name="mat_panel_0_1_louver"/>
    </visual>
    <visual name="panel_0_1_louver_19_vis">
      <origin xyz="0.234 -0.0175 1.2668" rpy="0.610865 0 0"/>
      <geometry>
        <box size="0.284 0.004 0.05292"/>
      </geometry>
      <material name="mat_panel_0_1_louver"/>
    </visual>
    <visual name="panel_0_1_louver_20_vis">
      <origin xyz="0.234 -0.0175 1.3172" rpy="0.610865 0 0"/>
      <geometry>
        <box size="0.284 0.004 0.05292"/>
      </geometry>
      <material name="mat_panel_0_1_louver"/>
    </visual>
    <visual name="panel_0_1_louver_21_vis">
      <origin xyz="0.234 -0.0175 1.3676" rpy="0.610865 0 0"/>
      <geometry>
        <box size="0.284 0.004 0.05292"/>
      </geometry>
      <material name="mat_panel_0_1_louver"/>
    </visual>
    <visual name="panel_0_1_louver_22_vis">
      <origin xyz="0.234 -0.0175 1.418" rpy="0.610865 0 0"/>
      <geometry>
        <box size="0.284 0.004 0.05292"/>
      </geometry>
      <material name="mat_panel_0_1_louver"/>
    </visual>
    <visual name="panel_0_1_louver_23_vis">
      <origin xyz="0.234 -0.0175 1.4684" rpy="0.610865 0 0"/>
      <geometry>
        <box size="0.284 0.004 0.05292"/>
      </geometry>
      <material name="mat_panel_0_1_louver"/>
    </visual>
    <visual name="panel_0_1_louver_24_vis">
      <origin xyz="0.234 -0.0175 1.5188" rpy="0.610865 0 0"/>
      <geometry>
        <box size="0.284 0.004 0.05292"/>
      </geometry>
      <material name="mat_panel_0_1_louver"/>
    </visual>
    <visual name="panel_0_1_louver_25_vis">
      <origin xyz="0.234 -0.0175 1.5692" rpy="0.610865 0 0"/>
      <geometry>
        <box size="0.284 0.004 0.05292"/>
      </geometry>
      <material name="mat_panel_0_1_louver"/>
    </visual>
    <visual name="panel_0_1_louver_26_vis">
      <origin xyz="0.234 -0.0175 1.6196" rpy="0.610865 0 0"/>
      <geometry>
        <box size="0.284 0.004 0.05292"/>
      </geometry>
      <material name="mat_panel_0_1_louver"/>
    </visual>
    <visual name="panel_0_1_louver_27_vis">
      <origin xyz="0.234 -0.0175 1.67" rpy="0.610865 0 0"/>
      <geometry>
        <box size="0.284 0.004 0.05292"/>
      </geometry>
      <material name="mat_panel_0_1_louver"/>
    </visual>
    <visual name="panel_0_1_louver_28_vis">
      <origin xyz="0.234 -0.0175 1.7204" rpy="0.610865 0 0"/>
      <geometry>
        <box size="0.284 0.004 0.05292"/>
      </geometry>
      <material name="mat_panel_0_1_louver"/>
    </visual>
    <visual name="panel_0_1_louver_29_vis">
      <origin xyz="0.234 -0.0175 1.7708" rpy="0.610865 0 0"/>
      <geometry>
        <box size="0.284 0.004 0.05292"/>
      </geometry>
      <material name="mat_panel_0_1_louver"/>
    </visual>
    <visual name="panel_0_1_louver_30_vis">
      <origin xyz="0.234 -0.0175 1.8212" rpy="0.610865 0 0"/>
      <geometry>
        <box size="0.284 0.004 0.05292"/>
      </geometry>
      <material name="mat_panel_0_1_louver"/>
    </visual>
    <visual name="panel_0_1_louver_31_vis">
      <origin xyz="0.234 -0.0175 1.8716" rpy="0.610865 0 0"/>
      <geometry>
        <box size="0.284 0.004 0.05292"/>
      </geometry>
      <material name="mat_panel_0_1_louver"/>
    </visual>
    <visual name="panel_0_1_louver_32_vis">
      <origin xyz="0.234 -0.0175 1.922" rpy="0.610865 0 0"/>
      <geometry>
        <box size="0.284 0.004 0.05292"/>
      </geometry>
      <material name="mat_panel_0_1_louver"/>
    </visual>
    <visual name="panel_0_1_louver_33_vis">
      <origin xyz="0.234 -0.0175 1.9724" rpy="0.610865 0 0"/>
      <geometry>
        <box size="0.284 0.004 0.05292"/>
      </geometry>
      <material name="mat_panel_0_1_louver"/>
    </visual>
    <visual name="panel_0_1_louver_34_vis">
      <origin xyz="0.234 -0.0175 2.0228" rpy="0.610865 0 0"/>
      <geometry>
        <box size="0.284 0.004 0.05292"/>
      </geometry>
      <material name="mat_panel_0_1_louver"/>
    </visual>
    <visual name="panel_0_1_louver_35_vis">
      <origin xyz="0.234 -0.0175 2.0732" rpy="0.610865 0 0"/>
      <geometry>
        <box size="0.284 0.004 0.05292"/>
      </geometry>
      <material name="mat_panel_0_1_louver"/>
    </visual>
    <visual name="panel_0_1_louver_36_vis">
      <origin xyz="0.234 -0.0175 2.1236" rpy="0.610865 0 0"/>
      <geometry>
        <box size="0.284 0.004 0.05292"/>
      </geometry>
      <material name="mat_panel_0_1_louver"/>
    </visual>
    <visual name="panel_0_1_louver_37_vis">
      <origin xyz="0.234 -0.0175 2.174" rpy="0.610865 0 0"/>
      <geometry>
        <box size="0.284 0.004 0.05292"/>
      </geometry>
      <material name="mat_panel_0_1_louver"/>
    </visual>
    <visual name="panel_0_1_louver_38_vis">
      <origin xyz="0.234 -0.0175 2.2244" rpy="0.610865 0 0"/>
      <geometry>
        <box size="0.284 0.004 0.05292"/>
      </geometry>
      <material name="mat_panel_0_1_louver"/>
    </visual>
    <visual name="panel_0_1_louver_39_vis">
      <origin xyz="0.234 -0.0175 2.2748" rpy="0.610865 0 0"/>
      <geometry>
        <box size="0.284 0.004 0.05292"/>
      </geometry>
      <material name="mat_panel_0_1_louver"/>
    </visual>
    <visual name="panel_0_1_knuckle_vis">
      <origin xyz="0 0 1.22" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.0045" length="2.38"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="panel_0_1_knob_vis">
      <origin xyz="0.416 -0.035 1" rpy="1.570796 0 0"/>
      <geometry>
        <mesh filename="../../hardware/knob_13f7a2a65f.obj"/>
      </geometry>
      <material name="mat_op_nickel_satin"/>
    </visual>
    <visual name="panel_0_1_knob_col_vis">
      <origin xyz="0.416 -0.065 1" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.016"/>
      </geometry>
      <material name="mat_op_nickel_satin"/>
    </visual>
    <collision name="panel_0_1_knob_col_col">
      <origin xyz="0.416 -0.065 1" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.016"/>
      </geometry>
    </collision>
    <visual name="panel_0_1_knob_rose_vis">
      <origin xyz="0.416 -0.04 1" rpy="-1.570796 0 0"/>
      <geometry>
        <cylinder radius="0.022" length="0.01"/>
      </geometry>
      <material name="mat_op_nickel_satin"/>
    </visual>
  </link>
  <joint name="panel_0_0_hinge" type="revolute">
    <origin xyz="-0.4295 0 0" rpy="0 0 0"/>
    <parent link="world_env"/>
    <child link="panel_0_0"/>
    <axis xyz="0 0 -1"/>
    <limit lower="0" upper="1.48353" effort="2000" velocity="10"/>
    <dynamics damping="0.771207" friction="2.064394"/>
  </joint>
  <joint name="panel_0_1_hinge" type="revolute">
    <origin xyz="0.422 0.0175 0" rpy="0 0 0"/>
    <parent link="panel_0_0"/>
    <child link="panel_0_1"/>
    <axis xyz="0 0 -1"/>
    <limit lower="-3.141593" upper="0" effort="2000" velocity="10"/>
    <dynamics damping="0.2" friction="0.1"/>
    <mimic joint="panel_0_0_hinge" multiplier="-2" offset="0"/>
  </joint>
  <material name="mat_floor">
    <color rgba="0.55 0.53 0.5 1"/>
  </material>
  <material name="mat_frame">
    <color rgba="0.82 0.7 0.5 1"/>
  </material>
  <material name="mat_hinge">
    <color rgba="0.65 0.66 0.68 1"/>
  </material>
  <material name="mat_op_nickel_satin">
    <color rgba="0.72 0.7 0.66 1"/>
  </material>
  <material name="mat_panel_0_0">
    <color rgba="0.2 0.21 0.23 1"/>
  </material>
  <material name="mat_panel_0_0_louver">
    <color rgba="0.17 0.178 0.196 1"/>
  </material>
  <material name="mat_panel_0_1">
    <color rgba="0.2 0.21 0.23 1"/>
  </material>
  <material name="mat_panel_0_1_louver">
    <color rgba="0.17 0.178 0.196 1"/>
  </material>
  <material name="mat_track">
    <color rgba="0.8 0.81 0.83 1"/>
  </material>
  <material name="mat_wall">
    <color rgba="0.78 0.76 0.7 1"/>
  </material>
</robot>
