<?xml version="1.0" ?>
<robot xmlns:doorbench="https://github.com/adamraudonis/DoorBench/schema/urdf-ext" name="db0029_sliding_single_full">
  <link name="world_env">
    <visual name="floor_vis">
      <origin xyz="0 0 -0.05" rpy="0 0 0"/>
      <geometry>
        <box size="12 12 0.1"/>
      </geometry>
      <material name="mat_floor"/>
    </visual>
    <collision name="floor_col">
      <origin xyz="0 0 -0.05" rpy="0 0 0"/>
      <geometry>
        <box size="12 12 0.1"/>
      </geometry>
    </collision>
    <visual name="wall_left_vis">
      <origin xyz="-1.56925 0 1.51" rpy="0 0 0"/>
      <geometry>
        <box size="1.8615 0.145 3.02"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_left_col">
      <origin xyz="-1.56925 0 1.51" rpy="0 0 0"/>
      <geometry>
        <box size="1.8615 0.145 3.02"/>
      </geometry>
    </collision>
    <visual name="wall_right_vis">
      <origin xyz="1.59925 0 1.51" rpy="0 0 0"/>
      <geometry>
        <box size="1.8015 0.145 3.02"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_right_col">
      <origin xyz="1.59925 0 1.51" rpy="0 0 0"/>
      <geometry>
        <box size="1.8015 0.145 3.02"/>
      </geometry>
    </collision>
    <visual name="wall_header_vis">
      <origin xyz="0.03 0 2.7295" rpy="0 0 0"/>
      <geometry>
        <box size="1.337 0.145 0.581"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_header_col">
      <origin xyz="0.03 0 2.7295" rpy="0 0 0"/>
      <geometry>
        <box size="1.337 0.145 0.581"/>
      </geometry>
    </collision>
    <visual name="jamb_l_vis">
      <origin xyz="-0.629 0 1.21" rpy="0 0 0"/>
      <geometry>
        <box size="0.019 0.145 2.42"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_l_col">
      <origin xyz="-0.629 0 1.21" rpy="0 0 0"/>
      <geometry>
        <box size="0.019 0.145 2.42"/>
      </geometry>
    </collision>
    <visual name="jamb_head_vis">
      <origin xyz="0 0 2.4295" rpy="0 0 0"/>
      <geometry>
        <box size="1.277 0.145 0.019"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_head_col">
      <origin xyz="0 0 2.4295" rpy="0 0 0"/>
      <geometry>
        <box size="1.277 0.145 0.019"/>
      </geometry>
    </collision>
    <visual name="flat_track_vis">
      <origin xyz="0 -0.0875 2.54" rpy="0 0 0"/>
      <geometry>
        <box size="2.538 0.008 0.04"/>
      </geometry>
      <material name="mat_track"/>
    </visual>
    <collision name="flat_track_col">
      <origin xyz="0 -0.0875 2.54" rpy="0 0 0"/>
      <geometry>
        <box size="2.538 0.008 0.04"/>
      </geometry>
    </collision>
    <visual name="track_standoff_0_vis">
      <origin xyz="-1.269 -0.0775 2.54" rpy="-1.570796 0 0"/>
      <geometry>
        <cylinder radius="0.012" length="0.024"/>
      </geometry>
      <material name="mat_track"/>
    </visual>
    <visual name="track_standoff_1_vis">
      <origin xyz="-0.669 -0.0775 2.54" rpy="-1.570796 0 0"/>
      <geometry>
        <cylinder radius="0.012" length="0.024"/>
      </geometry>
      <material name="mat_track"/>
    </visual>
    <visual name="track_standoff_2_vis">
      <origin xyz="-0.069 -0.0775 2.54" rpy="-1.570796 0 0"/>
      <geometry>
        <cylinder radius="0.012" length="0.024"/>
      </geometry>
      <material name="mat_track"/>
    </visual>
    <visual name="track_standoff_3_vis">
      <origin xyz="0.531 -0.0775 2.54" rpy="-1.570796 0 0"/>
      <geometry>
        <cylinder radius="0.012" length="0.024"/>
      </geometry>
      <material name="mat_track"/>
    </visual>
    <visual name="track_standoff_4_vis">
      <origin xyz="1.131 -0.0775 2.54" rpy="-1.570796 0 0"/>
      <geometry>
        <cylinder radius="0.012" length="0.024"/>
      </geometry>
      <material name="mat_track"/>
    </visual>
    <visual name="jamb_latch_0_vis">
      <origin xyz="0.659 0 1.21" rpy="0 0 0"/>
      <geometry>
        <box size="0.079 0.145 2.42"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_latch_0_col">
      <origin xyz="0.659 0 1.21" rpy="0 0 0"/>
      <geometry>
        <box size="0.079 0.145 2.42"/>
      </geometry>
    </collision>
    <visual name="floor_guide_n_vis">
      <origin xyz="-0.6695 -0.1375 0.02" rpy="0 0 0"/>
      <geometry>
        <box size="0.06 0.008 0.04"/>
      </geometry>
      <material name="mat_track"/>
    </visual>
    <collision name="floor_guide_n_col">
      <origin xyz="-0.6695 -0.1375 0.02" rpy="0 0 0"/>
      <geometry>
        <box size="0.06 0.008 0.04"/>
      </geometry>
    </collision>
    <visual name="floor_guide_p_vis">
      <origin xyz="-0.6695 -0.0775 0.02" rpy="0 0 0"/>
      <geometry>
        <box size="0.06 0.008 0.04"/>
      </geometry>
      <material name="mat_track"/>
    </visual>
    <collision name="floor_guide_p_col">
      <origin xyz="-0.6695 -0.0775 0.02" rpy="0 0 0"/>
      <geometry>
        <box size="0.06 0.008 0.04"/>
      </geometry>
    </collision>
  </link>
  <link name="leaf">
    <inertial>
      <origin xyz="0.003921 -0.000575 1.27357" rpy="0 0 0"/>
      <mass value="65.468226"/>
      <inertia ixx="34.854296191" ixy="0.015031468" ixz="0.070225719" iyy="43.388199737" iyz="0.002037345" izz="8.557823515"/>
    </inertial>
    <visual name="leaf_slab_vis">
      <origin xyz="0 0 1.212" rpy="0 0 0"/>
      <geometry>
        <box size="1.219 0.044 2.4"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <collision name="leaf_slab_col">
      <origin xyz="0 0 1.212" rpy="0 0 0"/>
      <geometry>
        <box size="1.219 0.044 2.4"/>
      </geometry>
    </collision>
    <visual name="leaf_panel_0_n_vis">
      <origin xyz="0 -0.025 0.4416" rpy="0 0 0"/>
      <geometry>
        <box size="0.91082 0.006 0.2912"/>
      </geometry>
      <material name="mat_leaf_panel"/>
    </visual>
    <visual name="leaf_panel_0_p_vis">
      <origin xyz="0 0.025 0.4416" rpy="0 0 0"/>
      <geometry>
        <box size="0.91082 0.006 0.2912"/>
      </geometry>
      <material name="mat_leaf_panel"/>
    </visual>
    <visual name="leaf_panel_1_n_vis">
      <origin xyz="0 -0.025 0.8628" rpy="0 0 0"/>
      <geometry>
        <box size="0.91082 0.006 0.2912"/>
      </geometry>
      <material name="mat_leaf_panel"/>
    </visual>
    <visual name="leaf_panel_1_p_vis">
      <origin xyz="0 0.025 0.8628" rpy="0 0 0"/>
      <geometry>
        <box size="0.91082 0.006 0.2912"/>
      </geometry>
      <material name="mat_leaf_panel"/>
    </visual>
    <visual name="leaf_panel_2_n_vis">
      <origin xyz="0 -0.025 1.284" rpy="0 0 0"/>
      <geometry>
        <box size="0.91082 0.006 0.2912"/>
      </geometry>
      <material name="mat_leaf_panel"/>
    </visual>
    <visual name="leaf_panel_2_p_vis">
      <origin xyz="0 0.025 1.284" rpy="0 0 0"/>
      <geometry>
        <box size="0.91082 0.006 0.2912"/>
      </geometry>
      <material name="mat_leaf_panel"/>
    </visual>
    <visual name="leaf_panel_3_n_vis">
      <origin xyz="0 -0.025 1.7052" rpy="0 0 0"/>
      <geometry>
        <box size="0.91082 0.006 0.2912"/>
      </geometry>
      <material name="mat_leaf_panel"/>
    </visual>
    <visual name="leaf_panel_3_p_vis">
      <origin xyz="0 0.025 1.7052" rpy="0 0 0"/>
      <geometry>
        <box size="0.91082 0.006 0.2912"/>
      </geometry>
      <material name="mat_leaf_panel"/>
    </visual>
    <visual name="leaf_panel_4_n_vis">
      <origin xyz="0 -0.025 2.1264" rpy="0 0 0"/>
      <geometry>
        <box size="0.91082 0.006 0.2912"/>
      </geometry>
      <material name="mat_leaf_panel"/>
    </visual>
    <visual name="leaf_panel_4_p_vis">
      <origin xyz="0 0.025 2.1264" rpy="0 0 0"/>
      <geometry>
        <box size="0.91082 0.006 0.2912"/>
      </geometry>
      <material name="mat_leaf_panel"/>
    </visual>
    <visual name="leaf_hanger_wheel_0_vis">
      <origin xyz="-0.4895 0 2.532" rpy="-1.570796 0 0"/>
      <geometry>
        <cylinder radius="0.05" length="0.02"/>
      </geometry>
      <material name="mat_roller"/>
    </visual>
    <visual name="leaf_hanger_strap_0_vis">
      <origin xyz="-0.4895 -0.012 2.462" rpy="0 0 0"/>
      <geometry>
        <box size="0.04 0.008 0.14"/>
      </geometry>
      <material name="mat_roller"/>
    </visual>
    <visual name="leaf_hanger_wheel_1_vis">
      <origin xyz="0.4895 0 2.532" rpy="-1.570796 0 0"/>
      <geometry>
        <cylinder radius="0.05" length="0.02"/>
      </geometry>
      <material name="mat_roller"/>
    </visual>
    <visual name="leaf_hanger_strap_1_vis">
      <origin xyz="0.4895 -0.012 2.462" rpy="0 0 0"/>
      <geometry>
        <box size="0.04 0.008 0.14"/>
      </geometry>
      <material name="mat_roller"/>
    </visual>
    <visual name="leaf_pull_n_vis">
      <origin xyz="0.5195 -0.022 1" rpy="1.570796 0 0"/>
      <geometry>
        <mesh filename="../../hardware/pull_2b47e55ff8.obj"/>
      </geometry>
      <material name="mat_op_black_matte_metal"/>
    </visual>
    <collision name="leaf_pull_col_n_col">
      <origin xyz="0.5195 -0.067 1" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.006" length="0.26"/>
      </geometry>
    </collision>
  </link>
  <joint name="leaf_slide" type="prismatic">
    <origin xyz="0 -0.1075 0" rpy="0 0 0"/>
    <parent link="world_env"/>
    <child link="leaf"/>
    <axis xyz="-1 0 0"/>
    <limit lower="0" upper="1.219" effort="5000" velocity="10"/>
    <dynamics damping="5.124434" friction="95.597508"/>
  </joint>
  <material name="mat_floor">
    <color rgba="0.55 0.53 0.5 1"/>
  </material>
  <material name="mat_frame">
    <color rgba="0.82 0.7 0.5 1"/>
  </material>
  <material name="mat_leaf">
    <color rgba="0.5 0.46 0.425 1"/>
  </material>
  <material name="mat_leaf_panel">
    <color rgba="0.46 0.423 0.391 1"/>
  </material>
  <material name="mat_op_black_matte_metal">
    <color rgba="0.05 0.05 0.05 1"/>
  </material>
  <material name="mat_roller">
    <color rgba="0.65 0.66 0.68 1"/>
  </material>
  <material name="mat_track">
    <color rgba="0.05 0.05 0.05 1"/>
  </material>
  <material name="mat_wall">
    <color rgba="0.78 0.76 0.7 1"/>
  </material>
</robot>
