<?xml version="1.0" ?>
<robot xmlns:doorbench="https://github.com/adamraudonis/DoorBench/schema/urdf-ext" name="db0784_gate_swing_full">
  <link name="world_env">
    <visual name="floor_vis">
      <origin xyz="0 0 -0.05" rpy="0 0 0"/>
      <geometry>
        <box size="12 12 0.1"/>
      </geometry>
      <material name="mat_floor"/>
    </visual>
    <collision name="floor_col">
      <origin xyz="0 0 -0.05" rpy="0 0 0"/>
      <geometry>
        <box size="12 12 0.1"/>
      </geometry>
    </collision>
    <visual name="post_hinge_vis">
      <origin xyz="0.681 0 1.1" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.075" length="2.2"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="post_hinge_col">
      <origin xyz="0.681 0 1.1" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.075" length="2.2"/>
      </geometry>
    </collision>
    <visual name="post_hinge_cap_vis">
      <origin xyz="0.681 0 2.2" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.075"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <visual name="post_latch_vis">
      <origin xyz="-0.681 0 1.1" rpy="0 0 0"/>
      <geometry>
        <box size="0.15 0.15 2.2"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="post_latch_col">
      <origin xyz="-0.681 0 1.1" rpy="0 0 0"/>
      <geometry>
        <box size="0.15 0.15 2.2"/>
      </geometry>
    </collision>
    <visual name="post_latch_cap_vis">
      <origin xyz="-0.681 0 2.22" rpy="0 0 0"/>
      <geometry>
        <box size="0.18 0.18 0.04"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <visual name="gate_stop_vis">
      <origin xyz="-0.586 0.0245 0.3" rpy="0 0 0"/>
      <geometry>
        <box size="0.04 0.024 0.12"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="gate_stop_col">
      <origin xyz="-0.586 0.0245 0.3" rpy="0 0 0"/>
      <geometry>
        <box size="0.04 0.024 0.12"/>
      </geometry>
    </collision>
    <visual name="wall_bumper_stop_vis">
      <origin xyz="1.686 -0.03 0.85" rpy="1.570796 0 0"/>
      <geometry>
        <cylinder radius="0.025" length="0.04"/>
      </geometry>
      <material name="mat_bumper_stop"/>
    </visual>
    <collision name="wall_bumper_stop_col">
      <origin xyz="1.686 -0.03 0.85" rpy="1.570796 0 0"/>
      <geometry>
        <cylinder radius="0.025" length="0.04"/>
      </geometry>
    </collision>
    <visual name="fence_bar_l_0_vis">
      <origin xyz="-0.856 0 1.1" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.008" length="2.1"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="fence_bar_l_0_col">
      <origin xyz="-0.856 0 1.1" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.008" length="2.1"/>
      </geometry>
    </collision>
    <visual name="fence_bar_l_1_vis">
      <origin xyz="-0.996 0 1.1" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.008" length="2.1"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="fence_bar_l_1_col">
      <origin xyz="-0.996 0 1.1" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.008" length="2.1"/>
      </geometry>
    </collision>
    <visual name="fence_bar_l_2_vis">
      <origin xyz="-1.136 0 1.1" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.008" length="2.1"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="fence_bar_l_2_col">
      <origin xyz="-1.136 0 1.1" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.008" length="2.1"/>
      </geometry>
    </collision>
    <visual name="fence_bar_l_3_vis">
      <origin xyz="-1.276 0 1.1" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.008" length="2.1"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="fence_bar_l_3_col">
      <origin xyz="-1.276 0 1.1" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.008" length="2.1"/>
      </geometry>
    </collision>
    <visual name="fence_bar_l_4_vis">
      <origin xyz="-1.416 0 1.1" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.008" length="2.1"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="fence_bar_l_4_col">
      <origin xyz="-1.416 0 1.1" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.008" length="2.1"/>
      </geometry>
    </collision>
    <visual name="fence_bar_l_5_vis">
      <origin xyz="-1.556 0 1.1" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.008" length="2.1"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="fence_bar_l_5_col">
      <origin xyz="-1.556 0 1.1" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.008" length="2.1"/>
      </geometry>
    </collision>
    <visual name="fence_bar_l_6_vis">
      <origin xyz="-1.696 0 1.1" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.008" length="2.1"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="fence_bar_l_6_col">
      <origin xyz="-1.696 0 1.1" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.008" length="2.1"/>
      </geometry>
    </collision>
    <visual name="fence_bar_l_7_vis">
      <origin xyz="-1.836 0 1.1" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.008" length="2.1"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="fence_bar_l_7_col">
      <origin xyz="-1.836 0 1.1" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.008" length="2.1"/>
      </geometry>
    </collision>
    <visual name="fence_bar_l_8_vis">
      <origin xyz="-1.976 0 1.1" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.008" length="2.1"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="fence_bar_l_8_col">
      <origin xyz="-1.976 0 1.1" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.008" length="2.1"/>
      </geometry>
    </collision>
    <visual name="fence_bar_l_9_vis">
      <origin xyz="-2.116 0 1.1" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.008" length="2.1"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="fence_bar_l_9_col">
      <origin xyz="-2.116 0 1.1" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.008" length="2.1"/>
      </geometry>
    </collision>
    <visual name="fence_bar_l_10_vis">
      <origin xyz="-2.256 0 1.1" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.008" length="2.1"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="fence_bar_l_10_col">
      <origin xyz="-2.256 0 1.1" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.008" length="2.1"/>
      </geometry>
    </collision>
    <visual name="fence_bar_l_11_vis">
      <origin xyz="-2.396 0 1.1" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.008" length="2.1"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="fence_bar_l_11_col">
      <origin xyz="-2.396 0 1.1" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.008" length="2.1"/>
      </geometry>
    </collision>
    <visual name="fence_bar_l_12_vis">
      <origin xyz="-2.536 0 1.1" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.008" length="2.1"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="fence_bar_l_12_col">
      <origin xyz="-2.536 0 1.1" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.008" length="2.1"/>
      </geometry>
    </collision>
    <visual name="fence_bar_l_13_vis">
      <origin xyz="-2.676 0 1.1" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.008" length="2.1"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="fence_bar_l_13_col">
      <origin xyz="-2.676 0 1.1" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.008" length="2.1"/>
      </geometry>
    </collision>
    <visual name="fence_rail_l_vis">
      <origin xyz="-1.756 0 2.1" rpy="0 0 0"/>
      <geometry>
        <box size="2 0.024 0.024"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="fence_rail_l_col">
      <origin xyz="-1.756 0 2.1" rpy="0 0 0"/>
      <geometry>
        <box size="2 0.024 0.024"/>
      </geometry>
    </collision>
    <visual name="fence_rail_b_l_vis">
      <origin xyz="-1.756 0 0.15" rpy="0 0 0"/>
      <geometry>
        <box size="2 0.024 0.024"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="fence_rail_b_l_col">
      <origin xyz="-1.756 0 0.15" rpy="0 0 0"/>
      <geometry>
        <box size="2 0.024 0.024"/>
      </geometry>
    </collision>
    <visual name="fence_bar_r_0_vis">
      <origin xyz="0.856 0 1.1" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.008" length="2.1"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="fence_bar_r_0_col">
      <origin xyz="0.856 0 1.1" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.008" length="2.1"/>
      </geometry>
    </collision>
    <visual name="fence_bar_r_1_vis">
      <origin xyz="0.996 0 1.1" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.008" length="2.1"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="fence_bar_r_1_col">
      <origin xyz="0.996 0 1.1" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.008" length="2.1"/>
      </geometry>
    </collision>
    <visual name="fence_bar_r_2_vis">
      <origin xyz="1.136 0 1.1" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.008" length="2.1"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="fence_bar_r_2_col">
      <origin xyz="1.136 0 1.1" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.008" length="2.1"/>
      </geometry>
    </collision>
    <visual name="fence_bar_r_3_vis">
      <origin xyz="1.276 0 1.1" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.008" length="2.1"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="fence_bar_r_3_col">
      <origin xyz="1.276 0 1.1" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.008" length="2.1"/>
      </geometry>
    </collision>
    <visual name="fence_bar_r_4_vis">
      <origin xyz="1.416 0 1.1" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.008" length="2.1"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="fence_bar_r_4_col">
      <origin xyz="1.416 0 1.1" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.008" length="2.1"/>
      </geometry>
    </collision>
    <visual name="fence_bar_r_5_vis">
      <origin xyz="1.556 0 1.1" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.008" length="2.1"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="fence_bar_r_5_col">
      <origin xyz="1.556 0 1.1" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.008" length="2.1"/>
      </geometry>
    </collision>
    <visual name="fence_bar_r_6_vis">
      <origin xyz="1.696 0 1.1" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.008" length="2.1"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="fence_bar_r_6_col">
      <origin xyz="1.696 0 1.1" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.008" length="2.1"/>
      </geometry>
    </collision>
    <visual name="fence_bar_r_7_vis">
      <origin xyz="1.836 0 1.1" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.008" length="2.1"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="fence_bar_r_7_col">
      <origin xyz="1.836 0 1.1" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.008" length="2.1"/>
      </geometry>
    </collision>
    <visual name="fence_bar_r_8_vis">
      <origin xyz="1.976 0 1.1" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.008" length="2.1"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="fence_bar_r_8_col">
      <origin xyz="1.976 0 1.1" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.008" length="2.1"/>
      </geometry>
    </collision>
    <visual name="fence_bar_r_9_vis">
      <origin xyz="2.116 0 1.1" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.008" length="2.1"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="fence_bar_r_9_col">
      <origin xyz="2.116 0 1.1" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.008" length="2.1"/>
      </geometry>
    </collision>
    <visual name="fence_bar_r_10_vis">
      <origin xyz="2.256 0 1.1" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.008" length="2.1"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="fence_bar_r_10_col">
      <origin xyz="2.256 0 1.1" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.008" length="2.1"/>
      </geometry>
    </collision>
    <visual name="fence_bar_r_11_vis">
      <origin xyz="2.396 0 1.1" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.008" length="2.1"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="fence_bar_r_11_col">
      <origin xyz="2.396 0 1.1" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.008" length="2.1"/>
      </geometry>
    </collision>
    <visual name="fence_bar_r_12_vis">
      <origin xyz="2.536 0 1.1" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.008" length="2.1"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="fence_bar_r_12_col">
      <origin xyz="2.536 0 1.1" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.008" length="2.1"/>
      </geometry>
    </collision>
    <visual name="fence_bar_r_13_vis">
      <origin xyz="2.676 0 1.1" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.008" length="2.1"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="fence_bar_r_13_col">
      <origin xyz="2.676 0 1.1" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.008" length="2.1"/>
      </geometry>
    </collision>
    <visual name="fence_rail_r_vis">
      <origin xyz="1.756 0 2.1" rpy="0 0 0"/>
      <geometry>
        <box size="2 0.024 0.024"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="fence_rail_r_col">
      <origin xyz="1.756 0 2.1" rpy="0 0 0"/>
      <geometry>
        <box size="2 0.024 0.024"/>
      </geometry>
    </collision>
    <visual name="fence_rail_b_r_vis">
      <origin xyz="1.756 0 0.15" rpy="0 0 0"/>
      <geometry>
        <box size="2 0.024 0.024"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="fence_rail_b_r_col">
      <origin xyz="1.756 0 0.15" rpy="0 0 0"/>
      <geometry>
        <box size="2 0.024 0.024"/>
      </geometry>
    </collision>
  </link>
  <link name="leaf">
    <inertial>
      <origin xyz="-0.587533 0.019927 1.1" rpy="0 0 0"/>
      <mass value="72.83251"/>
      <inertia ixx="27.661295133" ixy="-0.013685936" ixz="0" iyy="36.575016869" iyz="0" izz="8.922230266"/>
    </inertial>
    <collision name="leaf_slab_col_col">
      <origin xyz="-0.6 0.0195 1.1" rpy="0 0 0"/>
      <geometry>
        <box size="1.2 0.025 2.1"/>
      </geometry>
    </collision>
    <visual name="leaf_rail_b_vis">
      <origin xyz="-0.6 0.0195 0.0725" rpy="0 0 0"/>
      <geometry>
        <box size="1.2 0.025 0.045"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <visual name="leaf_rail_t_vis">
      <origin xyz="-0.6 0.0195 2.1275" rpy="0 0 0"/>
      <geometry>
        <box size="1.2 0.025 0.045"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <visual name="leaf_stile_h_vis">
      <origin xyz="-0.0225 0.0195 1.1" rpy="0 0 0"/>
      <geometry>
        <box size="0.045 0.025 2.1"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <visual name="leaf_stile_l_vis">
      <origin xyz="-1.1775 0.0195 1.1" rpy="0 0 0"/>
      <geometry>
        <box size="0.045 0.025 2.1"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <visual name="leaf_bar_0_vis">
      <origin xyz="-0.114375 0.0195 1.1" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.0095" length="2.01"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <visual name="leaf_bar_1_vis">
      <origin xyz="-0.253125 0.0195 1.1" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.0095" length="2.01"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <visual name="leaf_bar_2_vis">
      <origin xyz="-0.391875 0.0195 1.1" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.0095" length="2.01"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <visual name="leaf_bar_3_vis">
      <origin xyz="-0.530625 0.0195 1.1" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.0095" length="2.01"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <visual name="leaf_bar_4_vis">
      <origin xyz="-0.669375 0.0195 1.1" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.0095" length="2.01"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <visual name="leaf_bar_5_vis">
      <origin xyz="-0.808125 0.0195 1.1" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.0095" length="2.01"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <visual name="leaf_bar_6_vis">
      <origin xyz="-0.946875 0.0195 1.1" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.0095" length="2.01"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <visual name="leaf_bar_7_vis">
      <origin xyz="-1.085625 0.0195 1.1" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.0095" length="2.01"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <visual name="hinge_strap_0_vis">
      <origin xyz="0 0.035 0.2" rpy="0 0 3.141593"/>
      <geometry>
        <mesh filename="../../hardware/strap_hinge_78d1bbb966.obj"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="hinge_strap_1_vis">
      <origin xyz="0 0.035 2" rpy="0 0 3.141593"/>
      <geometry>
        <mesh filename="../../hardware/strap_hinge_78d1bbb966.obj"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
  </link>
  <link name="leaf_fork">
    <inertial>
      <origin xyz="0.035104 -0.00966 -0.028008" rpy="0 0 0"/>
      <mass value="0.601536"/>
      <inertia ixx="0.000483811" ixy="-0.000087763" ixz="0.000018095" iyy="0.000634176" iyz="0.000046534" izz="0.000965225"/>
    </inertial>
    <visual name="leaf_fork_tine_n_vis">
      <origin xyz="0.05 -0.0185 -0.03" rpy="0 0 0"/>
      <geometry>
        <box size="0.1 0.006 0.04"/>
      </geometry>
      <material name="mat_op_steel_galvanized"/>
    </visual>
    <collision name="leaf_fork_tine_n_col">
      <origin xyz="0.05 -0.0185 -0.03" rpy="0 0 0"/>
      <geometry>
        <box size="0.1 0.006 0.04"/>
      </geometry>
    </collision>
    <visual name="leaf_fork_tine_p_vis">
      <origin xyz="0.05 0.0185 -0.03" rpy="0 0 0"/>
      <geometry>
        <box size="0.1 0.006 0.04"/>
      </geometry>
      <material name="mat_op_steel_galvanized"/>
    </visual>
    <collision name="leaf_fork_tine_p_col">
      <origin xyz="0.05 0.0185 -0.03" rpy="0 0 0"/>
      <geometry>
        <box size="0.1 0.006 0.04"/>
      </geometry>
    </collision>
    <visual name="leaf_fork_bridge_vis">
      <origin xyz="0 0 -0.03" rpy="0 0 0"/>
      <geometry>
        <box size="0.008 0.043 0.04"/>
      </geometry>
      <material name="mat_op_steel_galvanized"/>
    </visual>
    <collision name="leaf_fork_bridge_col">
      <origin xyz="0 0 -0.03" rpy="0 0 0"/>
      <geometry>
        <box size="0.008 0.043 0.04"/>
      </geometry>
    </collision>
    <visual name="leaf_fork_handle_vis">
      <origin xyz="0.02 -0.0485 -0.02" rpy="0 0 0"/>
      <geometry>
        <box size="0.016 0.06 0.016"/>
      </geometry>
      <material name="mat_op_steel_galvanized"/>
    </visual>
    <collision name="leaf_fork_handle_col">
      <origin xyz="0.02 -0.0485 -0.02" rpy="0 0 0"/>
      <geometry>
        <box size="0.016 0.06 0.016"/>
      </geometry>
    </collision>
  </link>
  <joint name="leaf_hinge" type="revolute">
    <origin xyz="0.603 -0.0195 0" rpy="0 0 0"/>
    <parent link="world_env"/>
    <child link="leaf"/>
    <axis xyz="0 0 1"/>
    <limit lower="0" upper="3.141593" effort="2000" velocity="10"/>
    <dynamics damping="0.836434" friction="4.37474"/>
    <doorbench:closer damping_closing="0" damping_opening="0" backcheck_angle="0" backcheck_damping="0"/>
  </joint>
  <joint name="leaf_fork_hinge" type="revolute">
    <origin xyz="-0.602 0 1.145" rpy="0 0 0"/>
    <parent link="world_env"/>
    <child link="leaf_fork"/>
    <axis xyz="0 -1 0"/>
    <limit lower="0" upper="1.2" effort="2000" velocity="10"/>
    <dynamics damping="0.02" friction="0.02"/>
  </joint>
  <material name="mat_bumper_stop">
    <color rgba="0.08 0.08 0.08 1"/>
  </material>
  <material name="mat_floor">
    <color rgba="0.35 0.42 0.25 1"/>
  </material>
  <material name="mat_frame">
    <color rgba="0.08 0.08 0.09 1"/>
  </material>
  <material name="mat_hinge">
    <color rgba="0.65 0.66 0.68 1"/>
  </material>
  <material name="mat_leaf">
    <color rgba="0.82 0.75 0.62 1"/>
  </material>
  <material name="mat_op_steel_galvanized">
    <color rgba="0.65 0.66 0.68 1"/>
  </material>
</robot>
