<?xml version="1.0" ?>
<robot xmlns:doorbench="https://github.com/adamraudonis/DoorBench/schema/urdf-ext" name="db0603_swing_single_simple">
  <link name="world_env">
    <visual name="floor_vis">
      <origin xyz="0 0 -0.05" rpy="0 0 0"/>
      <geometry>
        <box size="12 12 0.1"/>
      </geometry>
      <material name="mat_floor"/>
    </visual>
    <collision name="floor_col">
      <origin xyz="0 0 -0.05" rpy="0 0 0"/>
      <geometry>
        <box size="12 12 0.1"/>
      </geometry>
    </collision>
    <visual name="wall_left_vis">
      <origin xyz="-1.50525 -0.0155 1.3735" rpy="0 0 0"/>
      <geometry>
        <box size="1.9895 0.115 2.747"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_left_col">
      <origin xyz="-1.50525 -0.0155 1.3735" rpy="0 0 0"/>
      <geometry>
        <box size="1.9895 0.115 2.747"/>
      </geometry>
    </collision>
    <visual name="wall_right_vis">
      <origin xyz="1.52025 -0.0155 1.3735" rpy="0 0 0"/>
      <geometry>
        <box size="1.9595 0.115 2.747"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_right_col">
      <origin xyz="1.52025 -0.0155 1.3735" rpy="0 0 0"/>
      <geometry>
        <box size="1.9595 0.115 2.747"/>
      </geometry>
    </collision>
    <visual name="wall_header_vis">
      <origin xyz="0.015 -0.0155 2.487" rpy="0 0 0"/>
      <geometry>
        <box size="1.051 0.115 0.52"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_header_col">
      <origin xyz="0.015 -0.0155 2.487" rpy="0 0 0"/>
      <geometry>
        <box size="1.051 0.115 0.52"/>
      </geometry>
    </collision>
    <visual name="hinge_0_jamb_vis">
      <origin xyz="-0.4575 0.029 0.259" rpy="3.141593 0 0"/>
      <geometry>
        <mesh filename="../../hardware/hinge_jamb_e1d088f8dc.obj"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="hinge_1_jamb_vis">
      <origin xyz="-0.4575 0.029 1.076" rpy="3.141593 0 0"/>
      <geometry>
        <mesh filename="../../hardware/hinge_jamb_e1d088f8dc.obj"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="hinge_2_jamb_vis">
      <origin xyz="-0.4575 0.029 1.963" rpy="3.141593 0 0"/>
      <geometry>
        <mesh filename="../../hardware/hinge_jamb_e1d088f8dc.obj"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="leaf_maglock_body_vis">
      <origin xyz="0.1565 -0.057 2.082" rpy="0 0 0"/>
      <geometry>
        <box size="0.25 0.05 0.04"/>
      </geometry>
      <material name="mat_maglock"/>
    </visual>
    <collision name="leaf_maglock_body_col">
      <origin xyz="0.1565 -0.057 2.082" rpy="0 0 0"/>
      <geometry>
        <box size="0.25 0.05 0.04"/>
      </geometry>
    </collision>
    <visual name="jamb_hinge_vis">
      <origin xyz="-0.4855 -0.0155 1.0735" rpy="0 0 0"/>
      <geometry>
        <box size="0.05 0.115 2.147"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_hinge_col">
      <origin xyz="-0.4855 -0.0155 1.0735" rpy="0 0 0"/>
      <geometry>
        <box size="0.05 0.115 2.147"/>
      </geometry>
    </collision>
    <visual name="strike_1040_wall_n_vis">
      <origin xyz="0.5005 -0.040425 1.04" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.06515 0.0334"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="strike_1040_wall_n_col">
      <origin xyz="0.5005 -0.040425 1.04" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.06515 0.0334"/>
      </geometry>
    </collision>
    <visual name="strike_1040_wall_p_vis">
      <origin xyz="0.5005 0.01585 1.04" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.016 0.0334"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="strike_1040_wall_p_col">
      <origin xyz="0.5005 0.01585 1.04" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.016 0.0334"/>
      </geometry>
    </collision>
    <visual name="strike_1040_ramp_vis">
      <origin xyz="0.504996 0.029406 1.04" rpy="0 0 -0.344766"/>
      <geometry>
        <box size="0.08 0.040535 0.0334"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="strike_1040_ramp_col">
      <origin xyz="0.504996 0.029406 1.04" rpy="0 0 -0.344766"/>
      <geometry>
        <box size="0.08 0.040535 0.0334"/>
      </geometry>
    </collision>
    <visual name="strike_1040_back_vis">
      <origin xyz="0.50885 0 1.04" rpy="0 0 0"/>
      <geometry>
        <box size="0.0633 0.0157 0.0334"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="strike_1040_back_col">
      <origin xyz="0.50885 0 1.04" rpy="0 0 0"/>
      <geometry>
        <box size="0.0633 0.0157 0.0334"/>
      </geometry>
    </collision>
    <visual name="jamb_strike_0_vis">
      <origin xyz="0.5005 -0.0155 0.51165" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.115 1.0233"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_strike_0_col">
      <origin xyz="0.5005 -0.0155 0.51165" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.115 1.0233"/>
      </geometry>
    </collision>
    <visual name="jamb_strike_1_vis">
      <origin xyz="0.5005 -0.0155 1.60185" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.115 1.0903"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_strike_1_col">
      <origin xyz="0.5005 -0.0155 1.60185" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.115 1.0903"/>
      </geometry>
    </collision>
    <visual name="jamb_head_vis">
      <origin xyz="0.015 -0.0155 2.172" rpy="0 0 0"/>
      <geometry>
        <box size="1.051 0.115 0.05"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_head_col">
      <origin xyz="0.015 -0.0155 2.172" rpy="0 0 0"/>
      <geometry>
        <box size="1.051 0.115 0.05"/>
      </geometry>
    </collision>
    <visual name="head_stud_vis">
      <origin xyz="0.015 -0.0155 2.212" rpy="0 0 0"/>
      <geometry>
        <box size="1.051 0.115 0.03"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="head_stud_col">
      <origin xyz="0.015 -0.0155 2.212" rpy="0 0 0"/>
      <geometry>
        <box size="1.051 0.115 0.03"/>
      </geometry>
    </collision>
    <visual name="stop_hinge_vis">
      <origin xyz="-0.455 -0.0385 1.0735" rpy="0 0 0"/>
      <geometry>
        <box size="0.011 0.032 2.147"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="stop_hinge_col">
      <origin xyz="-0.455 -0.0385 1.0735" rpy="0 0 0"/>
      <geometry>
        <box size="0.011 0.032 2.147"/>
      </geometry>
    </collision>
    <visual name="stop_strike_vis">
      <origin xyz="0.455 -0.0385 1.0735" rpy="0 0 0"/>
      <geometry>
        <box size="0.011 0.032 2.147"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="stop_strike_col">
      <origin xyz="0.455 -0.0385 1.0735" rpy="0 0 0"/>
      <geometry>
        <box size="0.011 0.032 2.147"/>
      </geometry>
    </collision>
    <visual name="stop_head_vis">
      <origin xyz="0 -0.0385 2.1415" rpy="0 0 0"/>
      <geometry>
        <box size="0.921 0.032 0.011"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="stop_head_col">
      <origin xyz="0 -0.0385 2.1415" rpy="0 0 0"/>
      <geometry>
        <box size="0.921 0.032 0.011"/>
      </geometry>
    </collision>
    <visual name="seal_hinge_vis">
      <origin xyz="-0.4575 -0.026 1.0735" rpy="0 0 0"/>
      <geometry>
        <box size="0.008 0.008 2.147"/>
      </geometry>
      <material name="mat_seal"/>
    </visual>
    <visual name="seal_strike_vis">
      <origin xyz="0.4575 -0.026 1.0735" rpy="0 0 0"/>
      <geometry>
        <box size="0.008 0.008 2.147"/>
      </geometry>
      <material name="mat_seal"/>
    </visual>
    <visual name="seal_head_vis">
      <origin xyz="0 -0.026 2.135" rpy="0 0 0"/>
      <geometry>
        <box size="0.881 0.008 0.016"/>
      </geometry>
      <material name="mat_seal"/>
    </visual>
    <visual name="wall_reader_vis">
      <origin xyz="0.7105 -0.088 1.1" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.03 0.12"/>
      </geometry>
      <material name="mat_wallreader"/>
    </visual>
    <collision name="wall_reader_col">
      <origin xyz="0.7105 -0.088 1.1" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.03 0.12"/>
      </geometry>
    </collision>
    <visual name="rex_plate_vis">
      <origin xyz="0.7105 0.045 1.1" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.006 0.12"/>
      </geometry>
      <material name="mat_wallreader"/>
    </visual>
    <visual name="wall_bumper_stop_vis">
      <origin xyz="-0.4845 0.8059 0.35" rpy="-0.269078 -1.570796 0.269078"/>
      <geometry>
        <cylinder radius="0.025" length="0.04"/>
      </geometry>
      <material name="mat_bumper_stop"/>
    </visual>
    <collision name="wall_bumper_stop_col">
      <origin xyz="-0.4845 0.8059 0.35" rpy="-0.269078 -1.570796 0.269078"/>
      <geometry>
        <cylinder radius="0.025" length="0.04"/>
      </geometry>
    </collision>
  </link>
  <link name="leaf">
    <inertial>
      <origin xyz="0.446331 -0.031805 0.991085" rpy="0 0 0"/>
      <mass value="43.31832"/>
      <inertia ixx="19.491268656" ixy="0.017117336" ixz="-0.115138985" iyy="22.59112909" iyz="-0.070495677" izz="3.11918037"/>
    </inertial>
    <visual name="leaf_slab_vis">
      <origin xyz="0.457 -0.029 1.076" rpy="0 0 0"/>
      <geometry>
        <box size="0.914 0.044 2.134"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <collision name="leaf_slab_col">
      <origin xyz="0.457 -0.029 1.076" rpy="0 0 0"/>
      <geometry>
        <box size="0.914 0.044 2.134"/>
      </geometry>
    </collision>
    <visual name="leaf_glass_0_vis">
      <origin xyz="0.457 -0.029 1.14002" rpy="0 0 0"/>
      <geometry>
        <box size="0.71292 0.0456 1.79256"/>
      </geometry>
      <material name="mat_glass"/>
    </visual>
    <visual name="hinge_0_vis">
      <origin xyz="0 0 0.259" rpy="3.141593 0 0"/>
      <geometry>
        <mesh filename="../../hardware/hinge_e22b26c0c1.obj"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="hinge_1_vis">
      <origin xyz="0 0 1.076" rpy="3.141593 0 0"/>
      <geometry>
        <mesh filename="../../hardware/hinge_e22b26c0c1.obj"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="hinge_2_vis">
      <origin xyz="0 0 1.963" rpy="3.141593 0 0"/>
      <geometry>
        <mesh filename="../../hardware/hinge_e22b26c0c1.obj"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="leaf_maglock_armature_vis">
      <origin xyz="0.614 -0.056 2.082" rpy="0 0 0"/>
      <geometry>
        <box size="0.18 0.01 0.04"/>
      </geometry>
      <material name="mat_maglock"/>
    </visual>
    <visual name="kick_plate_n_vis">
      <origin xyz="0.457 -0.0518 0.144" rpy="0 0 0"/>
      <geometry>
        <box size="0.854 0.0016 0.25"/>
      </geometry>
      <material name="mat_kick"/>
    </visual>
  </link>
  <link name="leaf_handle">
    <inertial>
      <origin xyz="-0.030188 0 0" rpy="0 0 0"/>
      <mass value="0.924918"/>
      <inertia ixx="0.003587995" ixy="0" ixz="0" iyy="0.001725188" iyz="0" izz="0.005135939"/>
    </inertial>
    <visual name="leaf_handle_lever_n_vis">
      <origin xyz="0 -0.022 0" rpy="1.570796 0 0"/>
      <geometry>
        <mesh filename="../../hardware/lever_9f02b544cf.obj"/>
      </geometry>
      <material name="mat_op_nickel_satin"/>
    </visual>
    <collision name="leaf_handle_lever_col_n_col">
      <origin xyz="-0.0625 -0.077 0" rpy="0 -1.570796 0"/>
      <geometry>
        <cylinder radius="0.0095" length="0.106"/>
      </geometry>
    </collision>
    <collision name="leaf_handle_hub_col_n_col">
      <origin xyz="0 -0.052 0" rpy="-1.570796 0 0"/>
      <geometry>
        <cylinder radius="0.012" length="0.044"/>
      </geometry>
    </collision>
    <visual name="leaf_handle_lever_p_vis">
      <origin xyz="0 0.022 0" rpy="-1.570796 0 0"/>
      <geometry>
        <mesh filename="../../hardware/lever_9f02b544cf.obj"/>
      </geometry>
      <material name="mat_op_nickel_satin"/>
    </visual>
    <collision name="leaf_handle_lever_col_p_col">
      <origin xyz="-0.0625 0.077 0" rpy="0 -1.570796 0"/>
      <geometry>
        <cylinder radius="0.0095" length="0.106"/>
      </geometry>
    </collision>
    <collision name="leaf_handle_hub_col_p_col">
      <origin xyz="0 0.052 0" rpy="-1.570796 0 0"/>
      <geometry>
        <cylinder radius="0.012" length="0.044"/>
      </geometry>
    </collision>
  </link>
  <link name="leaf_latch_bolt">
    <inertial>
      <origin xyz="-0.00865 0 0" rpy="0 0 0"/>
      <mass value="0.041419"/>
      <inertia ixx="0.000000798" ixy="0" ixz="0" iyy="0.000005598" iyz="0" izz="0.000005598"/>
    </inertial>
    <visual name="leaf_latch_bolt_capsule_vis">
      <origin xyz="-0.00865 0 0" rpy="0 1.570796 0"/>
      <geometry>
        <cylinder radius="0.00635" length="0.03"/>
      </geometry>
      <material name="mat_bolt"/>
    </visual>
    <collision name="leaf_latch_bolt_capsule_col">
      <origin xyz="-0.00865 0 0" rpy="0 1.570796 0"/>
      <geometry>
        <cylinder radius="0.00635" length="0.03"/>
      </geometry>
    </collision>
  </link>
  <link name="rex_button">
    <inertial>
      <origin xyz="0 0.004 0" rpy="0 0 0"/>
      <mass value="0.010053"/>
      <inertia ixx="0.000001059" ixy="0" ixz="0" iyy="0.000002011" iyz="0" izz="0.000001059"/>
    </inertial>
    <visual name="rex_button_geom_vis">
      <origin xyz="0 0.004 0" rpy="-1.570796 0 0"/>
      <geometry>
        <cylinder radius="0.02" length="0.008"/>
      </geometry>
      <material name="mat_rex"/>
    </visual>
    <collision name="rex_button_geom_col">
      <origin xyz="0 0.004 0" rpy="-1.570796 0 0"/>
      <geometry>
        <cylinder radius="0.02" length="0.008"/>
      </geometry>
    </collision>
  </link>
  <joint name="leaf_hinge" type="revolute">
    <origin xyz="-0.4575 0.029 0" rpy="0 0 0"/>
    <parent link="world_env"/>
    <child link="leaf"/>
    <axis xyz="0 0 1"/>
    <limit lower="0" upper="1.570796" effort="2000" velocity="10"/>
    <dynamics damping="0.318966" friction="1.948092"/>
    <doorbench:closer damping_closing="0" damping_opening="0" backcheck_angle="0" backcheck_damping="0"/>
  </joint>
  <joint name="leaf_handle_hinge" type="revolute">
    <origin xyz="0.844 -0.029 1.04" rpy="0 0 0"/>
    <parent link="leaf"/>
    <child link="leaf_handle"/>
    <axis xyz="0 -1 0"/>
    <limit lower="0" upper="0.96" effort="2000" velocity="10"/>
    <dynamics damping="0.02" friction="0.048"/>
    <doorbench:spring stiffness="1.2" springref="-0.375" note="tau = -stiffness*(q - springref); not native URDF"/>
  </joint>
  <joint name="leaf_latch_bolt_slide" type="prismatic">
    <origin xyz="0.914 -0.029 1.04" rpy="0 0 0"/>
    <parent link="leaf"/>
    <child link="leaf_latch_bolt"/>
    <axis xyz="-1 0 0"/>
    <limit lower="0" upper="0.0127" effort="5000" velocity="10"/>
    <dynamics damping="2" friction="0.3"/>
    <doorbench:spring stiffness="300" springref="-0.008333" note="tau = -stiffness*(q - springref); not native URDF"/>
    <mimic joint="leaf_handle_hinge" multiplier="0.013956" offset="0"/>
    <doorbench:coupling one_sided="true" note="MJCF uses a one-sided tendon (bolt may retract further, e.g. riding over the strike lip); mimic is bilateral"/>
  </joint>
  <joint name="rex_button_slide" type="prismatic">
    <origin xyz="0.7105 0.054 1.1" rpy="0 0 0"/>
    <parent link="world_env"/>
    <child link="rex_button"/>
    <axis xyz="0 -1 0"/>
    <limit lower="0" upper="0.004" effort="5000" velocity="10"/>
    <dynamics damping="1" friction="0"/>
    <doorbench:spring stiffness="1500" springref="-0.004" note="tau = -stiffness*(q - springref); not native URDF"/>
  </joint>
  <material name="mat_bolt">
    <color rgba="0.85 0.66 0.3 1"/>
  </material>
  <material name="mat_bumper_stop">
    <color rgba="0.08 0.08 0.08 1"/>
  </material>
  <material name="mat_floor">
    <color rgba="0.55 0.53 0.5 1"/>
  </material>
  <material name="mat_frame">
    <color rgba="0.45 0.48 0.52 1"/>
  </material>
  <material name="mat_glass">
    <color rgba="0.85 0.92 0.95 0.25"/>
  </material>
  <material name="mat_hinge">
    <color rgba="0.65 0.66 0.68 1"/>
  </material>
  <material name="mat_kick">
    <color rgba="0.75 0.76 0.77 1"/>
  </material>
  <material name="mat_leaf">
    <color rgba="0.3 0.45 0.7 1"/>
  </material>
  <material name="mat_maglock">
    <color rgba="0.22 0.17 0.13 1"/>
  </material>
  <material name="mat_op_nickel_satin">
    <color rgba="0.72 0.7 0.66 1"/>
  </material>
  <material name="mat_rex">
    <color rgba="0.1 0.6 0.2 1"/>
  </material>
  <material name="mat_seal">
    <color rgba="0.1 0.1 0.1 1"/>
  </material>
  <material name="mat_wall">
    <color rgba="0.78 0.76 0.7 1"/>
  </material>
  <material name="mat_wallreader">
    <color rgba="0.05 0.05 0.05 1"/>
  </material>
  <doorbench:weld body1="leaf" body2="world" label="Maglock w/ REX button inside (fail-safe) (env releases on REX / badge / timer)" active="true"/>
</robot>
