<?xml version="1.0" ?>
<robot xmlns:doorbench="https://github.com/adamraudonis/DoorBench/schema/urdf-ext" name="db0443_swing_single_simple">
  <link name="world_env">
    <visual name="floor_vis">
      <origin xyz="0 0 -0.05" rpy="0 0 0"/>
      <geometry>
        <box size="12 12 0.1"/>
      </geometry>
      <material name="mat_floor"/>
    </visual>
    <collision name="floor_col">
      <origin xyz="0 0 -0.05" rpy="0 0 0"/>
      <geometry>
        <box size="12 12 0.1"/>
      </geometry>
    </collision>
    <visual name="wall_left_vis">
      <origin xyz="-1.52025 0.0305 1.5255" rpy="0 0 0"/>
      <geometry>
        <box size="1.9595 0.145 3.051"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_left_col">
      <origin xyz="-1.52025 0.0305 1.5255" rpy="0 0 0"/>
      <geometry>
        <box size="1.9595 0.145 3.051"/>
      </geometry>
    </collision>
    <visual name="wall_right_vis">
      <origin xyz="1.50525 0.0305 1.5255" rpy="0 0 0"/>
      <geometry>
        <box size="1.9895 0.145 3.051"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_right_col">
      <origin xyz="1.50525 0.0305 1.5255" rpy="0 0 0"/>
      <geometry>
        <box size="1.9895 0.145 3.051"/>
      </geometry>
    </collision>
    <visual name="wall_header_vis">
      <origin xyz="-0.015 0.0305 2.791" rpy="0 0 0"/>
      <geometry>
        <box size="1.051 0.145 0.52"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_header_col">
      <origin xyz="-0.015 0.0305 2.791" rpy="0 0 0"/>
      <geometry>
        <box size="1.051 0.145 0.52"/>
      </geometry>
    </collision>
    <visual name="jamb_hinge_vis">
      <origin xyz="0.4855 0.0305 1.2255" rpy="0 0 0"/>
      <geometry>
        <box size="0.05 0.145 2.451"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_hinge_col">
      <origin xyz="0.4855 0.0305 1.2255" rpy="0 0 0"/>
      <geometry>
        <box size="0.05 0.145 2.451"/>
      </geometry>
    </collision>
    <visual name="strike_1016_wall_n_vis">
      <origin xyz="-0.5005 0.05625 1.016" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.0935 0.0366"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="strike_1016_wall_n_col">
      <origin xyz="-0.5005 0.05625 1.016" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.0935 0.0366"/>
      </geometry>
    </collision>
    <visual name="strike_1016_wall_p_vis">
      <origin xyz="-0.5005 -0.0175 1.016" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.016 0.0366"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="strike_1016_wall_p_col">
      <origin xyz="-0.5005 -0.0175 1.016" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.016 0.0366"/>
      </geometry>
    </collision>
    <visual name="strike_1016_ramp_vis">
      <origin xyz="-0.505579 -0.024529 1.016" rpy="0 0 -0.501264"/>
      <geometry>
        <box size="0.08 0.04162 0.0366"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="strike_1016_ramp_col">
      <origin xyz="-0.505579 -0.024529 1.016" rpy="0 0 -0.501264"/>
      <geometry>
        <box size="0.08 0.04162 0.0366"/>
      </geometry>
    </collision>
    <visual name="strike_1016_back_vis">
      <origin xyz="-0.512 0 1.016" rpy="0 0 0"/>
      <geometry>
        <box size="0.057 0.019 0.0366"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="strike_1016_back_col">
      <origin xyz="-0.512 0 1.016" rpy="0 0 0"/>
      <geometry>
        <box size="0.057 0.019 0.0366"/>
      </geometry>
    </collision>
    <visual name="jamb_strike_0_vis">
      <origin xyz="-0.5005 0.0305 0.49885" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.145 0.9977"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_strike_0_col">
      <origin xyz="-0.5005 0.0305 0.49885" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.145 0.9977"/>
      </geometry>
    </collision>
    <visual name="jamb_strike_1_vis">
      <origin xyz="-0.5005 0.0305 1.74265" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.145 1.4167"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_strike_1_col">
      <origin xyz="-0.5005 0.0305 1.74265" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.145 1.4167"/>
      </geometry>
    </collision>
    <visual name="jamb_head_vis">
      <origin xyz="-0.015 0.0305 2.476" rpy="0 0 0"/>
      <geometry>
        <box size="1.051 0.145 0.05"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_head_col">
      <origin xyz="-0.015 0.0305 2.476" rpy="0 0 0"/>
      <geometry>
        <box size="1.051 0.145 0.05"/>
      </geometry>
    </collision>
    <visual name="head_stud_vis">
      <origin xyz="-0.015 0.0305 2.516" rpy="0 0 0"/>
      <geometry>
        <box size="1.051 0.145 0.03"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="head_stud_col">
      <origin xyz="-0.015 0.0305 2.516" rpy="0 0 0"/>
      <geometry>
        <box size="1.051 0.145 0.03"/>
      </geometry>
    </collision>
    <visual name="stop_hinge_vis">
      <origin xyz="0.455 0.0385 1.2255" rpy="0 0 0"/>
      <geometry>
        <box size="0.011 0.032 2.451"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="stop_hinge_col">
      <origin xyz="0.455 0.0385 1.2255" rpy="0 0 0"/>
      <geometry>
        <box size="0.011 0.032 2.451"/>
      </geometry>
    </collision>
    <visual name="stop_strike_vis">
      <origin xyz="-0.455 0.0385 1.2255" rpy="0 0 0"/>
      <geometry>
        <box size="0.011 0.032 2.451"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="stop_strike_col">
      <origin xyz="-0.455 0.0385 1.2255" rpy="0 0 0"/>
      <geometry>
        <box size="0.011 0.032 2.451"/>
      </geometry>
    </collision>
    <visual name="stop_head_vis">
      <origin xyz="0 0.0385 2.4455" rpy="0 0 0"/>
      <geometry>
        <box size="0.921 0.032 0.011"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="stop_head_col">
      <origin xyz="0 0.0385 2.4455" rpy="0 0 0"/>
      <geometry>
        <box size="0.921 0.032 0.011"/>
      </geometry>
    </collision>
    <visual name="seal_hinge_vis">
      <origin xyz="0.4485 0.0245 1.2255" rpy="0 0 0"/>
      <geometry>
        <box size="0.016 0.005 2.451"/>
      </geometry>
      <material name="mat_seal"/>
    </visual>
    <visual name="seal_strike_vis">
      <origin xyz="-0.4485 0.0245 1.2255" rpy="0 0 0"/>
      <geometry>
        <box size="0.016 0.005 2.451"/>
      </geometry>
      <material name="mat_seal"/>
    </visual>
    <visual name="seal_head_vis">
      <origin xyz="0 0.0245 2.439" rpy="0 0 0"/>
      <geometry>
        <box size="0.881 0.005 0.016"/>
      </geometry>
      <material name="mat_seal"/>
    </visual>
    <visual name="threshold_vis">
      <origin xyz="0 0.0305 0.004" rpy="0 0 0"/>
      <geometry>
        <box size="1.021 0.245 0.008"/>
      </geometry>
      <material name="mat_threshold"/>
    </visual>
    <collision name="threshold_col">
      <origin xyz="0 0.0305 0.004" rpy="0 0 0"/>
      <geometry>
        <box size="1.021 0.245 0.008"/>
      </geometry>
    </collision>
    <visual name="floor_stop_dome_vis">
      <origin xyz="0.064711 -0.773944 0" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.025"/>
      </geometry>
      <material name="mat_stop"/>
    </visual>
    <collision name="floor_stop_dome_col">
      <origin xyz="0.064711 -0.773944 0" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.025"/>
      </geometry>
    </collision>
  </link>
  <link name="leaf">
    <inertial>
      <origin xyz="-0.414424 0.013778 1.438633" rpy="0 0 0"/>
      <mass value="73.487315"/>
      <inertia ixx="43.685896054" ixy="0.150476913" ixz="-2.02015719" iyy="48.245090323" iyz="0.959891672" izz="4.731411292"/>
    </inertial>
    <visual name="leaf_slab_vis">
      <origin xyz="-0.457 0.029 1.228" rpy="0 0 0"/>
      <geometry>
        <box size="0.914 0.044 2.438"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <collision name="leaf_slab_col">
      <origin xyz="-0.457 0.029 1.228" rpy="0 0 0"/>
      <geometry>
        <box size="0.914 0.044 2.438"/>
      </geometry>
    </collision>
    <visual name="hinge_0_vis">
      <origin xyz="0 0 0.259" rpy="0 0 -1.570796"/>
      <geometry>
        <mesh filename="../../hardware/hinge_dcb8da44bf.obj"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="hinge_1_vis">
      <origin xyz="0 0 0.928333" rpy="0 0 -1.570796"/>
      <geometry>
        <mesh filename="../../hardware/hinge_dcb8da44bf.obj"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="hinge_2_vis">
      <origin xyz="0 0 1.597667" rpy="0 0 -1.570796"/>
      <geometry>
        <mesh filename="../../hardware/hinge_dcb8da44bf.obj"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="hinge_3_vis">
      <origin xyz="0 0 2.267" rpy="0 0 -1.570796"/>
      <geometry>
        <mesh filename="../../hardware/hinge_dcb8da44bf.obj"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="closer_body_vis">
      <origin xyz="-0.297 0.007 2.358" rpy="-1.570796 0 3.141593"/>
      <geometry>
        <mesh filename="../../hardware/closer_body_fdc4667657.obj"/>
      </geometry>
      <material name="mat_closer"/>
    </visual>
    <collision name="closer_body_col_col">
      <origin xyz="-0.297 -0.043 2.358" rpy="0 0 0"/>
      <geometry>
        <box size="0.29 0.1 0.07"/>
      </geometry>
    </collision>
    <visual name="bumper_rail_n_vis">
      <origin xyz="-0.457 -0.003 0.859" rpy="0 0 0"/>
      <geometry>
        <box size="0.814 0.02 0.08"/>
      </geometry>
      <material name="mat_bumper"/>
    </visual>
    <collision name="bumper_rail_n_col">
      <origin xyz="-0.457 -0.003 0.859" rpy="0 0 0"/>
      <geometry>
        <box size="0.814 0.02 0.08"/>
      </geometry>
    </collision>
    <visual name="bumper_rail_p_vis">
      <origin xyz="-0.457 0.061 0.859" rpy="0 0 0"/>
      <geometry>
        <box size="0.814 0.02 0.08"/>
      </geometry>
      <material name="mat_bumper"/>
    </visual>
    <collision name="bumper_rail_p_col">
      <origin xyz="-0.457 0.061 0.859" rpy="0 0 0"/>
      <geometry>
        <box size="0.814 0.02 0.08"/>
      </geometry>
    </collision>
  </link>
  <link name="leaf_handle">
    <inertial>
      <origin xyz="0.03705 0 0" rpy="0 0 0"/>
      <mass value="0.984967"/>
      <inertia ixx="0.00380889" ixy="0" ixz="0" iyy="0.002278035" iyz="0" izz="0.005520856"/>
    </inertial>
    <visual name="leaf_handle_lever_n_vis">
      <origin xyz="0 -0.022 0" rpy="-1.570796 0 3.141593"/>
      <geometry>
        <mesh filename="../../hardware/lever_6268dcb28c.obj"/>
      </geometry>
      <material name="mat_op_stainless"/>
    </visual>
    <collision name="leaf_handle_lever_col_n_col">
      <origin xyz="0.06 -0.077 0" rpy="0 1.570796 0"/>
      <geometry>
        <cylinder radius="0.0095" length="0.101"/>
      </geometry>
    </collision>
    <collision name="leaf_handle_hub_col_n_col">
      <origin xyz="0 -0.052 0" rpy="-1.570796 0 0"/>
      <geometry>
        <cylinder radius="0.012" length="0.044"/>
      </geometry>
    </collision>
    <visual name="leaf_handle_lever_p_vis">
      <origin xyz="0 0.022 0" rpy="1.570796 0 3.141593"/>
      <geometry>
        <mesh filename="../../hardware/lever_6268dcb28c.obj"/>
      </geometry>
      <material name="mat_op_stainless"/>
    </visual>
    <collision name="leaf_handle_lever_col_p_col">
      <origin xyz="0.06 0.077 0" rpy="0 1.570796 0"/>
      <geometry>
        <cylinder radius="0.0095" length="0.101"/>
      </geometry>
    </collision>
    <collision name="leaf_handle_hub_col_p_col">
      <origin xyz="0 0.052 0" rpy="-1.570796 0 0"/>
      <geometry>
        <cylinder radius="0.012" length="0.044"/>
      </geometry>
    </collision>
  </link>
  <link name="leaf_latch_bolt">
    <inertial>
      <origin xyz="0.0055 0 0" rpy="0 0 0"/>
      <mass value="0.074627"/>
      <inertia ixx="0.000002271" ixy="0" ixz="0" iyy="0.000013255" iyz="0" izz="0.000013255"/>
    </inertial>
    <visual name="leaf_latch_bolt_capsule_vis">
      <origin xyz="0.0055 0 0" rpy="0 -1.570796 0"/>
      <geometry>
        <cylinder radius="0.008" length="0.033"/>
      </geometry>
      <material name="mat_bolt"/>
    </visual>
    <collision name="leaf_latch_bolt_capsule_col">
      <origin xyz="0.0055 0 0" rpy="0 -1.570796 0"/>
      <geometry>
        <cylinder radius="0.008" length="0.033"/>
      </geometry>
    </collision>
  </link>
  <joint name="leaf_hinge" type="revolute">
    <origin xyz="0.4575 -0.029 0" rpy="0 0 0"/>
    <parent link="world_env"/>
    <child link="leaf"/>
    <axis xyz="0 0 1"/>
    <limit lower="0" upper="1.658063" effort="2000" velocity="10"/>
    <dynamics damping="12.307281" friction="2.229653"/>
    <doorbench:spring stiffness="16.004621" springref="-1.722003" note="tau = -stiffness*(q - springref); not native URDF"/>
    <doorbench:closer damping_closing="90" damping_opening="12" backcheck_angle="1.22" backcheck_damping="60"/>
  </joint>
  <joint name="leaf_handle_hinge" type="revolute">
    <origin xyz="-0.844 0.029 1.016" rpy="0 0 0"/>
    <parent link="leaf"/>
    <child link="leaf_handle"/>
    <axis xyz="0 1 0"/>
    <limit lower="0" upper="0.96" effort="2000" velocity="10"/>
    <dynamics damping="0.02" friction="0.05"/>
    <doorbench:spring stiffness="1.2" springref="-0.375" note="tau = -stiffness*(q - springref); not native URDF"/>
  </joint>
  <joint name="leaf_latch_bolt_slide" type="prismatic">
    <origin xyz="-0.914 0.029 1.016" rpy="0 0 0"/>
    <parent link="leaf"/>
    <child link="leaf_latch_bolt"/>
    <axis xyz="1 0 0"/>
    <limit lower="0" upper="0.019" effort="5000" velocity="10"/>
    <dynamics damping="2" friction="0.3"/>
    <doorbench:spring stiffness="600" springref="-0.01" note="tau = -stiffness*(q - springref); not native URDF"/>
    <mimic joint="leaf_handle_hinge" multiplier="0.020879" offset="0"/>
    <doorbench:coupling one_sided="true" note="MJCF uses a one-sided tendon (bolt may retract further, e.g. riding over the strike lip); mimic is bilateral"/>
  </joint>
  <material name="mat_bolt">
    <color rgba="0.85 0.66 0.3 1"/>
  </material>
  <material name="mat_bumper">
    <color rgba="0.92 0.92 0.9 1"/>
  </material>
  <material name="mat_closer">
    <color rgba="0.22 0.17 0.13 1"/>
  </material>
  <material name="mat_floor">
    <color rgba="0.55 0.53 0.5 1"/>
  </material>
  <material name="mat_frame">
    <color rgba="0.45 0.48 0.52 1"/>
  </material>
  <material name="mat_hinge">
    <color rgba="0.65 0.66 0.68 1"/>
  </material>
  <material name="mat_leaf">
    <color rgba="0.9 0.88 0.82 1"/>
  </material>
  <material name="mat_op_stainless">
    <color rgba="0.75 0.76 0.77 1"/>
  </material>
  <material name="mat_seal">
    <color rgba="0.1 0.1 0.1 1"/>
  </material>
  <material name="mat_stop">
    <color rgba="0.9 0.9 0.92 1"/>
  </material>
  <material name="mat_threshold">
    <color rgba="0.8 0.81 0.83 1"/>
  </material>
  <material name="mat_wall">
    <color rgba="0.78 0.76 0.7 1"/>
  </material>
</robot>
