<?xml version="1.0" ?>
<robot xmlns:doorbench="https://github.com/adamraudonis/DoorBench/schema/urdf-ext" name="db0099_sliding_single_full">
  <link name="world_env">
    <visual name="floor_vis">
      <origin xyz="0 0 -0.05" rpy="0 0 0"/>
      <geometry>
        <box size="12 12 0.1"/>
      </geometry>
      <material name="mat_floor"/>
    </visual>
    <collision name="floor_col">
      <origin xyz="0 0 -0.05" rpy="0 0 0"/>
      <geometry>
        <box size="12 12 0.1"/>
      </geometry>
    </collision>
    <visual name="wall_right_vis">
      <origin xyz="1.47225 0 1.35" rpy="0 0 0"/>
      <geometry>
        <box size="2.0555 0.145 2.7"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_right_col">
      <origin xyz="1.47225 0 1.35" rpy="0 0 0"/>
      <geometry>
        <box size="2.0555 0.145 2.7"/>
      </geometry>
    </collision>
    <visual name="wall_header_vis">
      <origin xyz="0.03 0 2.3855" rpy="0 0 0"/>
      <geometry>
        <box size="0.829 0.145 0.629"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_header_col">
      <origin xyz="0.03 0 2.3855" rpy="0 0 0"/>
      <geometry>
        <box size="0.829 0.145 0.629"/>
      </geometry>
    </collision>
    <visual name="pocket_skin_n_vis">
      <origin xyz="-0.746 -0.0645 1.35" rpy="0 0 0"/>
      <geometry>
        <box size="0.761 0.016 2.7"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="pocket_skin_n_col">
      <origin xyz="-0.746 -0.0645 1.35" rpy="0 0 0"/>
      <geometry>
        <box size="0.761 0.016 2.7"/>
      </geometry>
    </collision>
    <visual name="pocket_skin_p_vis">
      <origin xyz="-0.746 0.0645 1.35" rpy="0 0 0"/>
      <geometry>
        <box size="0.761 0.016 2.7"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="pocket_skin_p_col">
      <origin xyz="-0.746 0.0645 1.35" rpy="0 0 0"/>
      <geometry>
        <box size="0.761 0.016 2.7"/>
      </geometry>
    </collision>
    <visual name="wall_pocket_far_vis">
      <origin xyz="-1.81325 0 1.35" rpy="0 0 0"/>
      <geometry>
        <box size="1.3735 0.145 2.7"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_pocket_far_col">
      <origin xyz="-1.81325 0 1.35" rpy="0 0 0"/>
      <geometry>
        <box size="1.3735 0.145 2.7"/>
      </geometry>
    </collision>
    <visual name="jamb_head_vis">
      <origin xyz="0 0 2.0615" rpy="0 0 0"/>
      <geometry>
        <box size="0.769 0.145 0.019"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_head_col">
      <origin xyz="0 0 2.0615" rpy="0 0 0"/>
      <geometry>
        <box size="0.769 0.145 0.019"/>
      </geometry>
    </collision>
    <visual name="jamb_latch_0_vis">
      <origin xyz="0.405 0 1.026" rpy="0 0 0"/>
      <geometry>
        <box size="0.079 0.145 2.052"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_latch_0_col">
      <origin xyz="0.405 0 1.026" rpy="0 0 0"/>
      <geometry>
        <box size="0.079 0.145 2.052"/>
      </geometry>
    </collision>
  </link>
  <link name="leaf">
    <inertial>
      <origin xyz="0.000048 0 1.028009" rpy="0 0 0"/>
      <mass value="33.342573"/>
      <inertia ixx="11.473537276" ixy="0" ixz="0.00004499" iyy="12.874824245" iyz="0" izz="1.408101013"/>
    </inertial>
    <visual name="leaf_slab_vis">
      <origin xyz="0 0 1.028" rpy="0 0 0"/>
      <geometry>
        <box size="0.711 0.035 2.032"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <collision name="leaf_slab_col">
      <origin xyz="0 0 1.028" rpy="0 0 0"/>
      <geometry>
        <box size="0.711 0.035 2.032"/>
      </geometry>
    </collision>
    <visual name="leaf_panel_0_n_vis">
      <origin xyz="-0.15525 -0.0205 0.464552" rpy="0 0 0"/>
      <geometry>
        <box size="0.1805 0.006 0.418064"/>
      </geometry>
      <material name="mat_leaf_panel"/>
    </visual>
    <visual name="leaf_panel_0_p_vis">
      <origin xyz="-0.15525 0.0205 0.464552" rpy="0 0 0"/>
      <geometry>
        <box size="0.1805 0.006 0.418064"/>
      </geometry>
      <material name="mat_leaf_panel"/>
    </visual>
    <visual name="leaf_panel_1_n_vis">
      <origin xyz="0.15525 -0.0205 0.464552" rpy="0 0 0"/>
      <geometry>
        <box size="0.1805 0.006 0.418064"/>
      </geometry>
      <material name="mat_leaf_panel"/>
    </visual>
    <visual name="leaf_panel_1_p_vis">
      <origin xyz="0.15525 0.0205 0.464552" rpy="0 0 0"/>
      <geometry>
        <box size="0.1805 0.006 0.418064"/>
      </geometry>
      <material name="mat_leaf_panel"/>
    </visual>
    <visual name="leaf_panel_2_n_vis">
      <origin xyz="-0.15525 -0.0205 1.012616" rpy="0 0 0"/>
      <geometry>
        <box size="0.1805 0.006 0.418064"/>
      </geometry>
      <material name="mat_leaf_panel"/>
    </visual>
    <visual name="leaf_panel_2_p_vis">
      <origin xyz="-0.15525 0.0205 1.012616" rpy="0 0 0"/>
      <geometry>
        <box size="0.1805 0.006 0.418064"/>
      </geometry>
      <material name="mat_leaf_panel"/>
    </visual>
    <visual name="leaf_panel_3_n_vis">
      <origin xyz="0.15525 -0.0205 1.012616" rpy="0 0 0"/>
      <geometry>
        <box size="0.1805 0.006 0.418064"/>
      </geometry>
      <material name="mat_leaf_panel"/>
    </visual>
    <visual name="leaf_panel_3_p_vis">
      <origin xyz="0.15525 0.0205 1.012616" rpy="0 0 0"/>
      <geometry>
        <box size="0.1805 0.006 0.418064"/>
      </geometry>
      <material name="mat_leaf_panel"/>
    </visual>
    <visual name="leaf_panel_4_n_vis">
      <origin xyz="-0.15525 -0.0205 1.637024" rpy="0 0 0"/>
      <geometry>
        <box size="0.1805 0.006 0.570752"/>
      </geometry>
      <material name="mat_leaf_panel"/>
    </visual>
    <visual name="leaf_panel_4_p_vis">
      <origin xyz="-0.15525 0.0205 1.637024" rpy="0 0 0"/>
      <geometry>
        <box size="0.1805 0.006 0.570752"/>
      </geometry>
      <material name="mat_leaf_panel"/>
    </visual>
    <visual name="leaf_panel_5_n_vis">
      <origin xyz="0.15525 -0.0205 1.637024" rpy="0 0 0"/>
      <geometry>
        <box size="0.1805 0.006 0.570752"/>
      </geometry>
      <material name="mat_leaf_panel"/>
    </visual>
    <visual name="leaf_panel_5_p_vis">
      <origin xyz="0.15525 0.0205 1.637024" rpy="0 0 0"/>
      <geometry>
        <box size="0.1805 0.006 0.570752"/>
      </geometry>
      <material name="mat_leaf_panel"/>
    </visual>
    <visual name="leaf_pull_n_vis">
      <origin xyz="0.2655 -0.018 1" rpy="0 0 0"/>
      <geometry>
        <box size="0.055 0.001 0.055"/>
      </geometry>
      <material name="mat_op_nickel_satin"/>
    </visual>
    <visual name="leaf_pull_p_vis">
      <origin xyz="0.2655 0.018 1" rpy="0 0 0"/>
      <geometry>
        <box size="0.055 0.001 0.055"/>
      </geometry>
      <material name="mat_op_nickel_satin"/>
    </visual>
  </link>
  <joint name="leaf_slide" type="prismatic">
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <parent link="world_env"/>
    <child link="leaf"/>
    <axis xyz="-1 0 0"/>
    <limit lower="0" upper="0.675" effort="5000" velocity="10"/>
    <dynamics damping="3.669021" friction="7.856404"/>
  </joint>
  <material name="mat_floor">
    <color rgba="0.55 0.53 0.5 1"/>
  </material>
  <material name="mat_frame">
    <color rgba="0.82 0.7 0.5 1"/>
  </material>
  <material name="mat_leaf">
    <color rgba="0.09 0.13 0.28 1"/>
  </material>
  <material name="mat_leaf_panel">
    <color rgba="0.083 0.12 0.258 1"/>
  </material>
  <material name="mat_op_nickel_satin">
    <color rgba="0.72 0.7 0.66 1"/>
  </material>
  <material name="mat_wall">
    <color rgba="0.78 0.76 0.7 1"/>
  </material>
</robot>
