<?xml version="1.0" ?>
<robot xmlns:doorbench="https://github.com/adamraudonis/DoorBench/schema/urdf-ext" name="db0012_swing_single_minimal">
  <link name="world_env">
    <visual name="floor_vis">
      <origin xyz="0 0 -0.05" rpy="0 0 0"/>
      <geometry>
        <box size="12 12 0.1"/>
      </geometry>
      <material name="mat_floor"/>
    </visual>
    <collision name="floor_col">
      <origin xyz="0 0 -0.05" rpy="0 0 0"/>
      <geometry>
        <box size="12 12 0.1"/>
      </geometry>
    </collision>
    <visual name="wall_left_vis">
      <origin xyz="-1.47975 0.0475 1.3735" rpy="0 0 0"/>
      <geometry>
        <box size="2.0405 0.115 2.747"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_left_col">
      <origin xyz="-1.47975 0.0475 1.3735" rpy="0 0 0"/>
      <geometry>
        <box size="2.0405 0.115 2.747"/>
      </geometry>
    </collision>
    <visual name="wall_right_vis">
      <origin xyz="1.49475 0.0475 1.3735" rpy="0 0 0"/>
      <geometry>
        <box size="2.0105 0.115 2.747"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_right_col">
      <origin xyz="1.49475 0.0475 1.3735" rpy="0 0 0"/>
      <geometry>
        <box size="2.0105 0.115 2.747"/>
      </geometry>
    </collision>
    <visual name="wall_header_vis">
      <origin xyz="0.015 0.0475 2.487" rpy="0 0 0"/>
      <geometry>
        <box size="0.949 0.115 0.52"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_header_col">
      <origin xyz="0.015 0.0475 2.487" rpy="0 0 0"/>
      <geometry>
        <box size="0.949 0.115 0.52"/>
      </geometry>
    </collision>
    <visual name="jamb_hinge_vis">
      <origin xyz="-0.4345 0.0475 1.0735" rpy="0 0 0"/>
      <geometry>
        <box size="0.05 0.115 2.147"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_hinge_col">
      <origin xyz="-0.4345 0.0475 1.0735" rpy="0 0 0"/>
      <geometry>
        <box size="0.05 0.115 2.147"/>
      </geometry>
    </collision>
    <visual name="strike_1215_wall_n_vis">
      <origin xyz="0.4495 0.064 1.215" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.082 0.02"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="strike_1215_wall_n_col">
      <origin xyz="0.4495 0.064 1.215" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.082 0.02"/>
      </geometry>
    </collision>
    <visual name="strike_1215_wall_p_vis">
      <origin xyz="0.4495 -0.0015 1.215" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.017 0.02"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="strike_1215_wall_p_col">
      <origin xyz="0.4495 -0.0015 1.215" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.017 0.02"/>
      </geometry>
    </collision>
    <visual name="strike_1215_back_vis">
      <origin xyz="0.4705 0.015 1.215" rpy="0 0 0"/>
      <geometry>
        <box size="0.038 0.016 0.02"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="strike_1215_back_col">
      <origin xyz="0.4705 0.015 1.215" rpy="0 0 0"/>
      <geometry>
        <box size="0.038 0.016 0.02"/>
      </geometry>
    </collision>
    <visual name="jamb_strike_0_vis">
      <origin xyz="0.4495 0.0475 0.6025" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.115 1.205"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_strike_0_col">
      <origin xyz="0.4495 0.0475 0.6025" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.115 1.205"/>
      </geometry>
    </collision>
    <visual name="jamb_strike_1_vis">
      <origin xyz="0.4495 0.0475 1.686" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.115 0.922"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_strike_1_col">
      <origin xyz="0.4495 0.0475 1.686" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.115 0.922"/>
      </geometry>
    </collision>
    <visual name="jamb_head_vis">
      <origin xyz="0.015 0.0475 2.172" rpy="0 0 0"/>
      <geometry>
        <box size="0.949 0.115 0.05"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_head_col">
      <origin xyz="0.015 0.0475 2.172" rpy="0 0 0"/>
      <geometry>
        <box size="0.949 0.115 0.05"/>
      </geometry>
    </collision>
    <visual name="head_stud_vis">
      <origin xyz="0.015 0.0475 2.212" rpy="0 0 0"/>
      <geometry>
        <box size="0.949 0.115 0.03"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="head_stud_col">
      <origin xyz="0.015 0.0475 2.212" rpy="0 0 0"/>
      <geometry>
        <box size="0.949 0.115 0.03"/>
      </geometry>
    </collision>
    <visual name="stop_hinge_vis">
      <origin xyz="-0.404 0.0195 1.0735" rpy="0 0 0"/>
      <geometry>
        <box size="0.011 0.032 2.147"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="stop_hinge_col">
      <origin xyz="-0.404 0.0195 1.0735" rpy="0 0 0"/>
      <geometry>
        <box size="0.011 0.032 2.147"/>
      </geometry>
    </collision>
    <visual name="stop_strike_vis">
      <origin xyz="0.404 0.0195 0.5965" rpy="0 0 0"/>
      <geometry>
        <box size="0.011 0.032 1.193"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="stop_strike_col">
      <origin xyz="0.404 0.0195 0.5965" rpy="0 0 0"/>
      <geometry>
        <box size="0.011 0.032 1.193"/>
      </geometry>
    </collision>
    <visual name="stop_strike_1_vis">
      <origin xyz="0.404 0.0195 1.692" rpy="0 0 0"/>
      <geometry>
        <box size="0.011 0.032 0.91"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="stop_strike_1_col">
      <origin xyz="0.404 0.0195 1.692" rpy="0 0 0"/>
      <geometry>
        <box size="0.011 0.032 0.91"/>
      </geometry>
    </collision>
    <visual name="stop_head_vis">
      <origin xyz="0 0.0195 2.1415" rpy="0 0 0"/>
      <geometry>
        <box size="0.819 0.032 0.011"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="stop_head_col">
      <origin xyz="0 0.0195 2.1415" rpy="0 0 0"/>
      <geometry>
        <box size="0.819 0.032 0.011"/>
      </geometry>
    </collision>
  </link>
  <link name="leaf">
    <inertial>
      <origin xyz="0.409782 0.01 1.074792" rpy="0 0 0"/>
      <mass value="86.294984"/>
      <inertia ixx="32.409776199" ixy="0" ixz="0.031094223" iyy="37.192411353" iyz="0" izz="4.789239642"/>
    </inertial>
    <visual name="leaf_slab_vis">
      <origin xyz="0.4065 0.01 1.076" rpy="0 0 0"/>
      <geometry>
        <box size="0.813 0.006 2.134"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <collision name="leaf_slab_col">
      <origin xyz="0.4065 0.01 1.076" rpy="0 0 0"/>
      <geometry>
        <box size="0.813 0.006 2.134"/>
      </geometry>
    </collision>
    <visual name="leaf_pull_n_vis">
      <origin xyz="0.708 0.007 0.965" rpy="1.570796 0 0"/>
      <geometry>
        <mesh filename="../../hardware/pull_1e5d69a91a.obj"/>
      </geometry>
      <material name="mat_op_stainless"/>
    </visual>
    <collision name="leaf_pull_col_n_col">
      <origin xyz="0.708 -0.053 0.965" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.0095" length="0.16"/>
      </geometry>
    </collision>
    <visual name="leaf_pull_p_vis">
      <origin xyz="0.708 0.013 0.965" rpy="-1.570796 0 0"/>
      <geometry>
        <mesh filename="../../hardware/pull_1e5d69a91a.obj"/>
      </geometry>
      <material name="mat_op_stainless"/>
    </visual>
    <collision name="leaf_pull_col_p_col">
      <origin xyz="0.708 0.073 0.965" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.0095" length="0.16"/>
      </geometry>
    </collision>
  </link>
  <joint name="leaf_hinge" type="revolute">
    <origin xyz="-0.4065 -0.01 0" rpy="0 0 0"/>
    <parent link="world_env"/>
    <child link="leaf"/>
    <axis xyz="0 0 -1"/>
    <limit lower="0" upper="1.745329" effort="2000" velocity="10"/>
    <dynamics damping="10.168374" friction="30.751442"/>
    <doorbench:spring stiffness="14.763213" springref="-3.207974" note="tau = -stiffness*(q - springref); not native URDF"/>
    <doorbench:closer damping_closing="105" damping_opening="10" backcheck_angle="1.31" backcheck_damping="45"/>
  </joint>
  <material name="mat_floor">
    <color rgba="0.55 0.53 0.5 1"/>
  </material>
  <material name="mat_frame">
    <color rgba="0.45 0.48 0.52 1"/>
  </material>
  <material name="mat_leaf">
    <color rgba="0.95 0.8 0.05 1"/>
  </material>
  <material name="mat_op_stainless">
    <color rgba="0.75 0.76 0.77 1"/>
  </material>
  <material name="mat_wall">
    <color rgba="0.78 0.76 0.7 1"/>
  </material>
</robot>
