<?xml version="1.0" ?>
<robot xmlns:doorbench="https://github.com/adamraudonis/DoorBench/schema/urdf-ext" name="db0012_swing_single_full">
  <link name="world_env">
    <visual name="floor_vis">
      <origin xyz="0 0 -0.05" rpy="0 0 0"/>
      <geometry>
        <box size="12 12 0.1"/>
      </geometry>
      <material name="mat_floor"/>
    </visual>
    <collision name="floor_col">
      <origin xyz="0 0 -0.05" rpy="0 0 0"/>
      <geometry>
        <box size="12 12 0.1"/>
      </geometry>
    </collision>
    <visual name="wall_left_vis">
      <origin xyz="-1.47975 0.0345 1.3735" rpy="0 0 0"/>
      <geometry>
        <box size="2.0405 0.115 2.747"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_left_col">
      <origin xyz="-1.47975 0.0345 1.3735" rpy="0 0 0"/>
      <geometry>
        <box size="2.0405 0.115 2.747"/>
      </geometry>
    </collision>
    <visual name="wall_right_vis">
      <origin xyz="1.49475 0.0345 1.3735" rpy="0 0 0"/>
      <geometry>
        <box size="2.0105 0.115 2.747"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_right_col">
      <origin xyz="1.49475 0.0345 1.3735" rpy="0 0 0"/>
      <geometry>
        <box size="2.0105 0.115 2.747"/>
      </geometry>
    </collision>
    <visual name="wall_header_vis">
      <origin xyz="0.015 0.0345 2.487" rpy="0 0 0"/>
      <geometry>
        <box size="0.949 0.115 0.52"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_header_col">
      <origin xyz="0.015 0.0345 2.487" rpy="0 0 0"/>
      <geometry>
        <box size="0.949 0.115 0.52"/>
      </geometry>
    </collision>
    <visual name="hinge_0_jamb_vis">
      <origin xyz="-0.4065 -0.01 0.259" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../../hardware/hinge_jamb_2905960ffb.obj"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="hinge_1_jamb_vis">
      <origin xyz="-0.4065 -0.01 1.076" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../../hardware/hinge_jamb_2905960ffb.obj"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="hinge_2_jamb_vis">
      <origin xyz="-0.4065 -0.01 1.963" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../../hardware/hinge_jamb_2905960ffb.obj"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="leaf_aux_bolt_keeper_b_vis">
      <origin xyz="0.409 0.015 1.202" rpy="1.570796 0 -1.570796"/>
      <geometry>
        <box size="0.028 0.006 0.001"/>
      </geometry>
      <material name="mat_op_brass"/>
    </visual>
    <visual name="leaf_aux_bolt_keeper_l_vis">
      <origin xyz="0.409 0.026 1.215" rpy="1.570796 0 -1.570796"/>
      <geometry>
        <box size="0.006 0.02 0.001"/>
      </geometry>
      <material name="mat_op_brass"/>
    </visual>
    <visual name="leaf_aux_bolt_keeper_t_vis">
      <origin xyz="0.409 0.015 1.228" rpy="1.570796 0 -1.570796"/>
      <geometry>
        <box size="0.028 0.006 0.001"/>
      </geometry>
      <material name="mat_op_brass"/>
    </visual>
    <visual name="leaf_aux_bolt_keeper_r_vis">
      <origin xyz="0.409 0.004 1.215" rpy="1.570796 0 -1.570796"/>
      <geometry>
        <box size="0.006 0.02 0.001"/>
      </geometry>
      <material name="mat_op_brass"/>
    </visual>
    <visual name="jamb_hinge_vis">
      <origin xyz="-0.4345 0.0345 1.0735" rpy="0 0 0"/>
      <geometry>
        <box size="0.05 0.115 2.147"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_hinge_col">
      <origin xyz="-0.4345 0.0345 1.0735" rpy="0 0 0"/>
      <geometry>
        <box size="0.05 0.115 2.147"/>
      </geometry>
    </collision>
    <visual name="strike_1215_wall_n_vis">
      <origin xyz="0.4495 0.0575 1.215" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.069 0.02"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="strike_1215_wall_n_col">
      <origin xyz="0.4495 0.0575 1.215" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.069 0.02"/>
      </geometry>
    </collision>
    <visual name="strike_1215_wall_p_vis">
      <origin xyz="0.4495 -0.008 1.215" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.03 0.02"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="strike_1215_wall_p_col">
      <origin xyz="0.4495 -0.008 1.215" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.03 0.02"/>
      </geometry>
    </collision>
    <visual name="strike_1215_back_vis">
      <origin xyz="0.4705 0.015 1.215" rpy="0 0 0"/>
      <geometry>
        <box size="0.038 0.016 0.02"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="strike_1215_back_col">
      <origin xyz="0.4705 0.015 1.215" rpy="0 0 0"/>
      <geometry>
        <box size="0.038 0.016 0.02"/>
      </geometry>
    </collision>
    <visual name="jamb_strike_0_vis">
      <origin xyz="0.4495 0.0345 0.6025" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.115 1.205"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_strike_0_col">
      <origin xyz="0.4495 0.0345 0.6025" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.115 1.205"/>
      </geometry>
    </collision>
    <visual name="jamb_strike_1_vis">
      <origin xyz="0.4495 0.0345 1.686" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.115 0.922"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_strike_1_col">
      <origin xyz="0.4495 0.0345 1.686" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.115 0.922"/>
      </geometry>
    </collision>
    <visual name="jamb_head_vis">
      <origin xyz="0.015 0.0345 2.172" rpy="0 0 0"/>
      <geometry>
        <box size="0.949 0.115 0.05"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_head_col">
      <origin xyz="0.015 0.0345 2.172" rpy="0 0 0"/>
      <geometry>
        <box size="0.949 0.115 0.05"/>
      </geometry>
    </collision>
    <visual name="head_stud_vis">
      <origin xyz="0.015 0.0345 2.212" rpy="0 0 0"/>
      <geometry>
        <box size="0.949 0.115 0.03"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="head_stud_col">
      <origin xyz="0.015 0.0345 2.212" rpy="0 0 0"/>
      <geometry>
        <box size="0.949 0.115 0.03"/>
      </geometry>
    </collision>
    <visual name="stop_hinge_vis">
      <origin xyz="-0.404 0.0195 1.0735" rpy="0 0 0"/>
      <geometry>
        <box size="0.011 0.032 2.147"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="stop_hinge_col">
      <origin xyz="-0.404 0.0195 1.0735" rpy="0 0 0"/>
      <geometry>
        <box size="0.011 0.032 2.147"/>
      </geometry>
    </collision>
    <visual name="stop_strike_vis">
      <origin xyz="0.404 0.0195 0.5965" rpy="0 0 0"/>
      <geometry>
        <box size="0.011 0.032 1.193"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="stop_strike_col">
      <origin xyz="0.404 0.0195 0.5965" rpy="0 0 0"/>
      <geometry>
        <box size="0.011 0.032 1.193"/>
      </geometry>
    </collision>
    <visual name="stop_strike_1_vis">
      <origin xyz="0.404 0.0195 1.692" rpy="0 0 0"/>
      <geometry>
        <box size="0.011 0.032 0.91"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="stop_strike_1_col">
      <origin xyz="0.404 0.0195 1.692" rpy="0 0 0"/>
      <geometry>
        <box size="0.011 0.032 0.91"/>
      </geometry>
    </collision>
    <visual name="stop_head_vis">
      <origin xyz="0 0.0195 2.1415" rpy="0 0 0"/>
      <geometry>
        <box size="0.819 0.032 0.011"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="stop_head_col">
      <origin xyz="0 0.0195 2.1415" rpy="0 0 0"/>
      <geometry>
        <box size="0.819 0.032 0.011"/>
      </geometry>
    </collision>
    <visual name="seal_hinge_vis">
      <origin xyz="-0.4065 0.007 1.0735" rpy="0 0 0"/>
      <geometry>
        <box size="0.008 0.008 2.147"/>
      </geometry>
      <material name="mat_seal"/>
    </visual>
    <visual name="seal_strike_vis">
      <origin xyz="0.4065 0.007 0.5965" rpy="0 0 0"/>
      <geometry>
        <box size="0.008 0.008 1.193"/>
      </geometry>
      <material name="mat_seal"/>
    </visual>
    <visual name="seal_strike_1_vis">
      <origin xyz="0.4065 0.007 1.692" rpy="0 0 0"/>
      <geometry>
        <box size="0.008 0.008 0.91"/>
      </geometry>
      <material name="mat_seal"/>
    </visual>
    <visual name="seal_head_vis">
      <origin xyz="0 0.007 2.135" rpy="0 0 0"/>
      <geometry>
        <box size="0.779 0.008 0.016"/>
      </geometry>
      <material name="mat_seal"/>
    </visual>
    <visual name="closer_bracket_vis">
      <origin xyz="-0.3095 -0.0895 2.177" rpy="0 0 0"/>
      <geometry>
        <box size="0.06 0.04 0.024"/>
      </geometry>
      <material name="mat_closer"/>
    </visual>
  </link>
  <link name="leaf">
    <inertial>
      <origin xyz="0.398303 0.006128 1.162093" rpy="0 0 0"/>
      <mass value="86.294984"/>
      <inertia ixx="36.225036017" ixy="-0.03560186" ixz="0.782922485" iyy="40.74020581" iyz="0.295447502" izz="4.55582688"/>
    </inertial>
    <visual name="leaf_slab_vis">
      <origin xyz="0.4065 0.01 1.076" rpy="0 0 0"/>
      <geometry>
        <box size="0.813 0.006 2.134"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <collision name="leaf_slab_col">
      <origin xyz="0.4065 0.01 1.076" rpy="0 0 0"/>
      <geometry>
        <box size="0.813 0.006 2.134"/>
      </geometry>
    </collision>
    <visual name="leaf_louver_0_vis">
      <origin xyz="0.4065 0.01 0.284" rpy="0.610865 0 0"/>
      <geometry>
        <box size="0.4065 0.004 0.0525"/>
      </geometry>
      <material name="mat_leaf_louver"/>
    </visual>
    <visual name="leaf_louver_1_vis">
      <origin xyz="0.4065 0.01 0.334" rpy="0.610865 0 0"/>
      <geometry>
        <box size="0.4065 0.004 0.0525"/>
      </geometry>
      <material name="mat_leaf_louver"/>
    </visual>
    <visual name="leaf_louver_2_vis">
      <origin xyz="0.4065 0.01 0.384" rpy="0.610865 0 0"/>
      <geometry>
        <box size="0.4065 0.004 0.0525"/>
      </geometry>
      <material name="mat_leaf_louver"/>
    </visual>
    <visual name="leaf_louver_3_vis">
      <origin xyz="0.4065 0.01 0.434" rpy="0.610865 0 0"/>
      <geometry>
        <box size="0.4065 0.004 0.0525"/>
      </geometry>
      <material name="mat_leaf_louver"/>
    </visual>
    <visual name="leaf_louver_4_vis">
      <origin xyz="0.4065 0.01 0.484" rpy="0.610865 0 0"/>
      <geometry>
        <box size="0.4065 0.004 0.0525"/>
      </geometry>
      <material name="mat_leaf_louver"/>
    </visual>
    <visual name="leaf_louver_5_vis">
      <origin xyz="0.4065 0.01 0.534" rpy="0.610865 0 0"/>
      <geometry>
        <box size="0.4065 0.004 0.0525"/>
      </geometry>
      <material name="mat_leaf_louver"/>
    </visual>
    <visual name="leaf_louver_6_vis">
      <origin xyz="0.4065 0.01 0.584" rpy="0.610865 0 0"/>
      <geometry>
        <box size="0.4065 0.004 0.0525"/>
      </geometry>
      <material name="mat_leaf_louver"/>
    </visual>
    <visual name="leaf_louver_7_vis">
      <origin xyz="0.4065 0.01 0.634" rpy="0.610865 0 0"/>
      <geometry>
        <box size="0.4065 0.004 0.0525"/>
      </geometry>
      <material name="mat_leaf_louver"/>
    </visual>
    <visual name="leaf_louver_8_vis">
      <origin xyz="0.4065 0.01 0.684" rpy="0.610865 0 0"/>
      <geometry>
        <box size="0.4065 0.004 0.0525"/>
      </geometry>
      <material name="mat_leaf_louver"/>
    </visual>
    <visual name="hinge_0_vis">
      <origin xyz="0 0 0.259" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../../hardware/hinge_6a70328eaf.obj"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="hinge_1_vis">
      <origin xyz="0 0 1.076" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../../hardware/hinge_6a70328eaf.obj"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="hinge_2_vis">
      <origin xyz="0 0 1.963" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../../hardware/hinge_6a70328eaf.obj"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="leaf_pull_n_vis">
      <origin xyz="0.708 0.007 0.965" rpy="1.570796 0 0"/>
      <geometry>
        <mesh filename="../../hardware/pull_1e5d69a91a.obj"/>
      </geometry>
      <material name="mat_op_stainless"/>
    </visual>
    <collision name="leaf_pull_col_n_col">
      <origin xyz="0.708 -0.053 0.965" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.0095" length="0.16"/>
      </geometry>
    </collision>
    <visual name="leaf_pull_p_vis">
      <origin xyz="0.708 0.013 0.965" rpy="-1.570796 0 0"/>
      <geometry>
        <mesh filename="../../hardware/pull_1e5d69a91a.obj"/>
      </geometry>
      <material name="mat_op_stainless"/>
    </visual>
    <collision name="leaf_pull_col_p_col">
      <origin xyz="0.708 0.073 0.965" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.0095" length="0.16"/>
      </geometry>
    </collision>
    <visual name="leaf_aux_bolt_plate_vis">
      <origin xyz="0.7455 0.014 1.215" rpy="-1.570796 0 0"/>
      <geometry>
        <box size="0.119 0.038 0.002"/>
      </geometry>
      <material name="mat_op_brass"/>
    </visual>
    <visual name="leaf_aux_bolt_guide_0_leg_n_vis">
      <origin xyz="0.797 0.0255 1.226" rpy="-1.570796 0 0"/>
      <geometry>
        <box size="0.012 0.004 0.025"/>
      </geometry>
      <material name="mat_op_brass"/>
    </visual>
    <visual name="leaf_aux_bolt_guide_0_leg_p_vis">
      <origin xyz="0.797 0.0255 1.204" rpy="-1.570796 0 0"/>
      <geometry>
        <box size="0.012 0.004 0.025"/>
      </geometry>
      <material name="mat_op_brass"/>
    </visual>
    <visual name="leaf_aux_bolt_guide_0_bridge_vis">
      <origin xyz="0.797 0.036 1.215" rpy="-1.570796 0 0"/>
      <geometry>
        <box size="0.012 0.026 0.004"/>
      </geometry>
      <material name="mat_op_brass"/>
    </visual>
    <visual name="leaf_aux_bolt_guide_1_leg_n_vis">
      <origin xyz="0.696 0.0255 1.226" rpy="-1.570796 0 0"/>
      <geometry>
        <box size="0.012 0.004 0.025"/>
      </geometry>
      <material name="mat_op_brass"/>
    </visual>
    <visual name="leaf_aux_bolt_guide_1_leg_p_vis">
      <origin xyz="0.696 0.0255 1.204" rpy="-1.570796 0 0"/>
      <geometry>
        <box size="0.012 0.004 0.025"/>
      </geometry>
      <material name="mat_op_brass"/>
    </visual>
    <visual name="leaf_aux_bolt_guide_1_bridge_vis">
      <origin xyz="0.696 0.036 1.215" rpy="-1.570796 0 0"/>
      <geometry>
        <box size="0.012 0.026 0.004"/>
      </geometry>
      <material name="mat_op_brass"/>
    </visual>
    <visual name="closer_body_vis">
      <origin xyz="0.297 0.007 2.054" rpy="1.570796 0 0"/>
      <geometry>
        <mesh filename="../../hardware/closer_body_b226fdb10b.obj"/>
      </geometry>
      <material name="mat_closer"/>
    </visual>
    <collision name="closer_body_col_col">
      <origin xyz="0.297 -0.033 2.054" rpy="0 0 0"/>
      <geometry>
        <box size="0.24 0.08 0.06"/>
      </geometry>
    </collision>
    <visual name="closer_pinion_shaft_vis">
      <origin xyz="0.297 -0.083 2.1155" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.008" length="0.123"/>
      </geometry>
      <material name="mat_closer"/>
    </visual>
    <visual name="warning_placard_vis">
      <origin xyz="0.4065 0.006 1.6095" rpy="0 0 0"/>
      <geometry>
        <box size="0.22 0.002 0.16"/>
      </geometry>
      <material name="mat_placard"/>
    </visual>
  </link>
  <link name="leaf_aux_bolt">
    <inertial>
      <origin xyz="-0.068563 0.00492 0" rpy="0 0 0"/>
      <mass value="0.111784"/>
      <inertia ixx="0.000012882" ixy="0.00000629" ixz="0" iyy="0.000071315" iyz="0" izz="0.000082309"/>
    </inertial>
    <visual name="leaf_aux_bolt_rod_vis">
      <origin xyz="-0.065 0 0" rpy="0 1.570796 0"/>
      <geometry>
        <cylinder radius="0.006" length="0.088"/>
      </geometry>
      <material name="mat_op_brass"/>
    </visual>
    <collision name="leaf_aux_bolt_rod_col">
      <origin xyz="-0.065 0 0" rpy="0 1.570796 0"/>
      <geometry>
        <cylinder radius="0.006" length="0.088"/>
      </geometry>
    </collision>
    <visual name="leaf_aux_bolt_knob_vis">
      <origin xyz="-0.08 0.015 0" rpy="-1.570796 0 0"/>
      <geometry>
        <cylinder radius="0.005" length="0.02"/>
      </geometry>
      <material name="mat_op_brass"/>
    </visual>
    <collision name="leaf_aux_bolt_knob_col">
      <origin xyz="-0.08 0.015 0" rpy="-1.570796 0 0"/>
      <geometry>
        <cylinder radius="0.005" length="0.02"/>
      </geometry>
    </collision>
    <visual name="leaf_aux_bolt_knob_end_vis">
      <origin xyz="-0.08 0.03 0" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.00675"/>
      </geometry>
      <material name="mat_op_brass"/>
    </visual>
  </link>
  <link name="closer_arm_main">
    <inertial>
      <origin xyz="0.14 0 0" rpy="0 0 0"/>
      <mass value="0.12096"/>
      <inertia ixx="0.000003588" ixy="0" ixz="0" iyy="0.00079128" iyz="0" izz="0.000792852"/>
    </inertial>
    <visual name="closer_arm_main_geom_vis">
      <origin xyz="0.14 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.28 0.016 0.01"/>
      </geometry>
      <material name="mat_closer"/>
    </visual>
  </link>
  <link name="closer_arm_fore">
    <inertial>
      <origin xyz="0.1125 0 0" rpy="0 0 0"/>
      <mass value="0.06804"/>
      <inertia ixx="0.000001474" ixy="0" ixz="0" iyy="0.000287407" iyz="0" izz="0.000288155"/>
    </inertial>
    <visual name="closer_arm_fore_geom_vis">
      <origin xyz="0.1125 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.225 0.014 0.008"/>
      </geometry>
      <material name="mat_closer"/>
    </visual>
  </link>
  <joint name="leaf_hinge" type="revolute">
    <origin xyz="-0.4065 -0.01 0" rpy="0 0 0"/>
    <parent link="world_env"/>
    <child link="leaf"/>
    <axis xyz="0 0 -1"/>
    <limit lower="0" upper="1.745329" effort="2000" velocity="10"/>
    <dynamics damping="10.168374" friction="30.751442"/>
    <doorbench:spring stiffness="14.763213" springref="-3.207974" note="tau = -stiffness*(q - springref); not native URDF"/>
    <doorbench:closer damping_closing="105" damping_opening="10" backcheck_angle="1.31" backcheck_damping="45"/>
  </joint>
  <joint name="leaf_aux_bolt_slide" type="prismatic">
    <origin xyz="0.813 0.025 1.215" rpy="0 0 0"/>
    <parent link="leaf"/>
    <child link="leaf_aux_bolt"/>
    <axis xyz="-1 0 0"/>
    <doorbench:zero_offset value="0.045" note="URDF q=0 is the spec initial state; DoorBench q = urdf_q + value"/>
    <limit lower="-0.045" upper="0" effort="5000" velocity="10"/>
    <dynamics damping="1" friction="1"/>
  </joint>
  <joint name="closer_pinion" type="continuous">
    <origin xyz="0.297 -0.083 2.177" rpy="0 0 -2.059108"/>
    <parent link="leaf"/>
    <child link="closer_arm_main"/>
    <axis xyz="0 0 1"/>
    <dynamics damping="0.01" friction="0"/>
  </joint>
  <joint name="closer_elbow" type="continuous">
    <origin xyz="0.28 0 0" rpy="0 0 -2.386106"/>
    <parent link="closer_arm_main"/>
    <child link="closer_arm_fore"/>
    <axis xyz="0 0 1"/>
    <dynamics damping="0.01" friction="0"/>
  </joint>
  <material name="mat_closer">
    <color rgba="0.22 0.17 0.13 1"/>
  </material>
  <material name="mat_floor">
    <color rgba="0.55 0.53 0.5 1"/>
  </material>
  <material name="mat_frame">
    <color rgba="0.45 0.48 0.52 1"/>
  </material>
  <material name="mat_hinge">
    <color rgba="0.45 0.3 0.22 1"/>
  </material>
  <material name="mat_leaf">
    <color rgba="0.95 0.8 0.05 1"/>
  </material>
  <material name="mat_leaf_louver">
    <color rgba="0.807 0.68 0.043 1"/>
  </material>
  <material name="mat_op_brass">
    <color rgba="0.85 0.66 0.3 1"/>
  </material>
  <material name="mat_op_stainless">
    <color rgba="0.75 0.76 0.77 1"/>
  </material>
  <material name="mat_placard">
    <color rgba="0.95 0.75 0.05 1"/>
  </material>
  <material name="mat_seal">
    <color rgba="0.1 0.1 0.1 1"/>
  </material>
  <material name="mat_wall">
    <color rgba="0.78 0.76 0.7 1"/>
  </material>
  <doorbench:loop_closure body1="closer_arm_fore" body2="world" anchor="0.26 0 0" label="Closer forearm pinned to frame shoe"/>
</robot>
