<?xml version="1.0" ?>
<robot xmlns:doorbench="https://github.com/adamraudonis/DoorBench/schema/urdf-ext" name="db0657_swing_single_full">
  <link name="world_env">
    <visual name="floor_vis">
      <origin xyz="0 0 -0.05" rpy="0 0 0"/>
      <geometry>
        <box size="12 12 0.1"/>
      </geometry>
      <material name="mat_floor"/>
    </visual>
    <collision name="floor_col">
      <origin xyz="0 0 -0.05" rpy="0 0 0"/>
      <geometry>
        <box size="12 12 0.1"/>
      </geometry>
    </collision>
    <visual name="wall_left_vis">
      <origin xyz="-1.478 -0.0595 1.3735" rpy="0 0 0"/>
      <geometry>
        <box size="2.044 0.145 2.747"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_left_col">
      <origin xyz="-1.478 -0.0595 1.3735" rpy="0 0 0"/>
      <geometry>
        <box size="2.044 0.145 2.747"/>
      </geometry>
    </collision>
    <visual name="wall_right_vis">
      <origin xyz="1.493 -0.0595 1.3735" rpy="0 0 0"/>
      <geometry>
        <box size="2.014 0.145 2.747"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_right_col">
      <origin xyz="1.493 -0.0595 1.3735" rpy="0 0 0"/>
      <geometry>
        <box size="2.014 0.145 2.747"/>
      </geometry>
    </collision>
    <visual name="wall_header_vis">
      <origin xyz="0.015 -0.0595 2.4845" rpy="0 0 0"/>
      <geometry>
        <box size="0.942 0.145 0.525"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_header_col">
      <origin xyz="0.015 -0.0595 2.4845" rpy="0 0 0"/>
      <geometry>
        <box size="0.942 0.145 0.525"/>
      </geometry>
    </collision>
    <visual name="pivot_bottom_socket_vis">
      <origin xyz="-0.392 0.016 -0.0015" rpy="0 0 0"/>
      <geometry>
        <box size="0.07 0.07 0.017"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="pivot_top_bracket_vis">
      <origin xyz="-0.392 0.016 2.1865" rpy="0 0 0"/>
      <geometry>
        <box size="0.07 0.07 0.071"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="jamb_hinge_vis">
      <origin xyz="-0.4335 -0.0595 1.0735" rpy="0 0 0"/>
      <geometry>
        <box size="0.045 0.145 2.147"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_hinge_col">
      <origin xyz="-0.4335 -0.0595 1.0735" rpy="0 0 0"/>
      <geometry>
        <box size="0.045 0.145 2.147"/>
      </geometry>
    </collision>
    <visual name="jamb_strike_vis">
      <origin xyz="0.4335 -0.0595 1.0735" rpy="0 0 0"/>
      <geometry>
        <box size="0.045 0.145 2.147"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_strike_col">
      <origin xyz="0.4335 -0.0595 1.0735" rpy="0 0 0"/>
      <geometry>
        <box size="0.045 0.145 2.147"/>
      </geometry>
    </collision>
    <visual name="stud_strike_vis">
      <origin xyz="0.471 -0.0595 1.0735" rpy="0 0 0"/>
      <geometry>
        <box size="0.03 0.145 2.147"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="stud_strike_col">
      <origin xyz="0.471 -0.0595 1.0735" rpy="0 0 0"/>
      <geometry>
        <box size="0.03 0.145 2.147"/>
      </geometry>
    </collision>
    <visual name="jamb_head_vis">
      <origin xyz="0.015 -0.0595 2.1695" rpy="0 0 0"/>
      <geometry>
        <box size="0.942 0.145 0.045"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_head_col">
      <origin xyz="0.015 -0.0595 2.1695" rpy="0 0 0"/>
      <geometry>
        <box size="0.942 0.145 0.045"/>
      </geometry>
    </collision>
    <visual name="head_stud_vis">
      <origin xyz="0.015 -0.0595 2.207" rpy="0 0 0"/>
      <geometry>
        <box size="0.942 0.145 0.03"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="head_stud_col">
      <origin xyz="0.015 -0.0595 2.207" rpy="0 0 0"/>
      <geometry>
        <box size="0.942 0.145 0.03"/>
      </geometry>
    </collision>
    <visual name="floor_spring_cover_vis">
      <origin xyz="-0.291 0 0.002" rpy="0 0 0"/>
      <geometry>
        <box size="0.34 0.12 0.004"/>
      </geometry>
      <material name="mat_closer"/>
    </visual>
    <visual name="exit_sign_vis">
      <origin xyz="0 -0.15 2.447" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../../hardware/exit_sign_a6449bfa2c.obj"/>
      </geometry>
      <material name="mat_exit_sign"/>
    </visual>
  </link>
  <link name="leaf">
    <inertial>
      <origin xyz="0.453703 -0.015675 1.066684" rpy="0 0 0"/>
      <mass value="53.79826"/>
      <inertia ixx="15.717580213" ixy="0.007932695" ixz="0.393356233" iyy="18.809100295" iyz="-0.000154145" izz="3.184143256"/>
    </inertial>
    <visual name="leaf_glass_vis">
      <origin xyz="0.3905 -0.016 1.076" rpy="0 0 0"/>
      <geometry>
        <box size="0.813 0.012 2.134"/>
      </geometry>
      <material name="mat_glass_leaf"/>
    </visual>
    <collision name="leaf_glass_col">
      <origin xyz="0.3905 -0.016 1.076" rpy="0 0 0"/>
      <geometry>
        <box size="0.813 0.012 2.134"/>
      </geometry>
    </collision>
    <visual name="leaf_patch_bot_vis">
      <origin xyz="0.064 -0.016 0.069" rpy="0 0 0"/>
      <geometry>
        <box size="0.16 0.028 0.1"/>
      </geometry>
      <material name="mat_patch"/>
    </visual>
    <visual name="leaf_patch_top_vis">
      <origin xyz="0.064 -0.016 2.083" rpy="0 0 0"/>
      <geometry>
        <box size="0.16 0.028 0.1"/>
      </geometry>
      <material name="mat_patch"/>
    </visual>
    <visual name="pivot_bottom_vis">
      <origin xyz="0 0 0.004" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.014" length="0.008"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="pivot_top_vis">
      <origin xyz="0 0 2.147" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.014" length="0.008"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="leaf_pull_n_vis">
      <origin xyz="0.692 -0.022 0.965" rpy="1.570796 0 0"/>
      <geometry>
        <mesh filename="../../hardware/pull_1e5d69a91a.obj"/>
      </geometry>
      <material name="mat_op_stainless"/>
    </visual>
    <collision name="leaf_pull_col_n_col">
      <origin xyz="0.692 -0.082 0.965" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.0095" length="0.16"/>
      </geometry>
    </collision>
    <visual name="leaf_pull_p_vis">
      <origin xyz="0.692 -0.01 0.965" rpy="-1.570796 0 0"/>
      <geometry>
        <mesh filename="../../hardware/pull_1e5d69a91a.obj"/>
      </geometry>
      <material name="mat_op_stainless"/>
    </visual>
    <collision name="leaf_pull_col_p_col">
      <origin xyz="0.692 0.05 0.965" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.0095" length="0.16"/>
      </geometry>
    </collision>
    <visual name="sign_push_vis">
      <origin xyz="0.3905 -0.023 1.359" rpy="0 0 0"/>
      <geometry>
        <box size="0.12 0.002 0.06"/>
      </geometry>
      <material name="mat_sign"/>
    </visual>
    <visual name="sign_pull_vis">
      <origin xyz="0.3905 -0.009 1.359" rpy="0 0 0"/>
      <geometry>
        <box size="0.12 0.002 0.06"/>
      </geometry>
      <material name="mat_sign"/>
    </visual>
  </link>
  <joint name="leaf_hinge" type="revolute">
    <origin xyz="-0.392 0.016 0" rpy="0 0 0"/>
    <parent link="world_env"/>
    <child link="leaf"/>
    <axis xyz="0 0 1"/>
    <limit lower="0" upper="1.745329" effort="2000" velocity="10"/>
    <dynamics damping="8.168374" friction="1.616912"/>
    <doorbench:spring stiffness="11.338198" springref="-1.952691" note="tau = -stiffness*(q - springref); not native URDF"/>
    <doorbench:closer damping_closing="90" damping_opening="8" backcheck_angle="1.4" backcheck_damping="60"/>
  </joint>
  <material name="mat_closer">
    <color rgba="0.75 0.76 0.77 1"/>
  </material>
  <material name="mat_exit_sign">
    <color rgba="0.85 0.1 0.1 1"/>
  </material>
  <material name="mat_floor">
    <color rgba="0.55 0.53 0.5 1"/>
  </material>
  <material name="mat_frame">
    <color rgba="0.8 0.81 0.83 1"/>
  </material>
  <material name="mat_glass_leaf">
    <color rgba="0.85 0.92 0.95 0.25"/>
  </material>
  <material name="mat_hinge">
    <color rgba="0.65 0.66 0.68 1"/>
  </material>
  <material name="mat_op_stainless">
    <color rgba="0.75 0.76 0.77 1"/>
  </material>
  <material name="mat_patch">
    <color rgba="0.75 0.76 0.77 1"/>
  </material>
  <material name="mat_sign">
    <color rgba="0.75 0.76 0.77 1"/>
  </material>
  <material name="mat_wall">
    <color rgba="0.78 0.76 0.7 1"/>
  </material>
</robot>
