<?xml version="1.0" ?>
<robot xmlns:doorbench="https://github.com/adamraudonis/DoorBench/schema/urdf-ext" name="db0159_automatic_swing_full">
  <link name="world_env">
    <visual name="floor_vis">
      <origin xyz="0 0 -0.05" rpy="0 0 0"/>
      <geometry>
        <box size="12 12 0.1"/>
      </geometry>
      <material name="mat_floor"/>
    </visual>
    <collision name="floor_col">
      <origin xyz="0 0 -0.05" rpy="0 0 0"/>
      <geometry>
        <box size="12 12 0.1"/>
      </geometry>
    </collision>
    <visual name="wall_left_vis">
      <origin xyz="-1.508 0.0435 1.3735" rpy="0 0 0"/>
      <geometry>
        <box size="1.984 0.145 2.747"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_left_col">
      <origin xyz="-1.508 0.0435 1.3735" rpy="0 0 0"/>
      <geometry>
        <box size="1.984 0.145 2.747"/>
      </geometry>
    </collision>
    <visual name="wall_right_vis">
      <origin xyz="1.493 0.0435 1.3735" rpy="0 0 0"/>
      <geometry>
        <box size="2.014 0.145 2.747"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_right_col">
      <origin xyz="1.493 0.0435 1.3735" rpy="0 0 0"/>
      <geometry>
        <box size="2.014 0.145 2.747"/>
      </geometry>
    </collision>
    <visual name="wall_header_vis">
      <origin xyz="-0.015 0.0435 2.487" rpy="0 0 0"/>
      <geometry>
        <box size="1.002 0.145 0.52"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_header_col">
      <origin xyz="-0.015 0.0435 2.487" rpy="0 0 0"/>
      <geometry>
        <box size="1.002 0.145 0.52"/>
      </geometry>
    </collision>
    <visual name="hinge_0_jamb_vis">
      <origin xyz="0.433 -0.029 0.267" rpy="3.141593 0 3.141593"/>
      <geometry>
        <mesh filename="../../hardware/hinge_jamb_e1d088f8dc.obj"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="hinge_1_jamb_vis">
      <origin xyz="0.433 -0.029 1.08" rpy="3.141593 0 3.141593"/>
      <geometry>
        <mesh filename="../../hardware/hinge_jamb_e1d088f8dc.obj"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="hinge_2_jamb_vis">
      <origin xyz="0.433 -0.029 1.963" rpy="3.141593 0 3.141593"/>
      <geometry>
        <mesh filename="../../hardware/hinge_jamb_e1d088f8dc.obj"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="leaf_guard_bar_vis">
      <origin xyz="-0.451 0.052 1.34" rpy="0 0 0"/>
      <geometry>
        <box size="0.12 0.012 0.02"/>
      </geometry>
      <material name="mat_guard"/>
    </visual>
    <visual name="jamb_hinge_vis">
      <origin xyz="0.461 0.0435 1.0735" rpy="0 0 0"/>
      <geometry>
        <box size="0.05 0.145 2.147"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_hinge_col">
      <origin xyz="0.461 0.0435 1.0735" rpy="0 0 0"/>
      <geometry>
        <box size="0.05 0.145 2.147"/>
      </geometry>
    </collision>
    <visual name="strike_1040_wall_n_vis">
      <origin xyz="-0.476 0.06275 1.04" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.1065 0.036"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="strike_1040_wall_n_col">
      <origin xyz="-0.476 0.06275 1.04" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.1065 0.036"/>
      </geometry>
    </collision>
    <visual name="strike_1040_wall_p_vis">
      <origin xyz="-0.476 -0.0175 1.04" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.016 0.036"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="strike_1040_wall_p_col">
      <origin xyz="-0.476 -0.0175 1.04" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.016 0.036"/>
      </geometry>
    </collision>
    <visual name="strike_1040_ramp_vis">
      <origin xyz="-0.479282 -0.018312 1.04" rpy="0 0 -0.588003"/>
      <geometry>
        <box size="0.08 0.036056 0.036"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="strike_1040_ramp_col">
      <origin xyz="-0.479282 -0.018312 1.04" rpy="0 0 -0.588003"/>
      <geometry>
        <box size="0.08 0.036056 0.036"/>
      </geometry>
    </collision>
    <visual name="strike_1040_back_vis">
      <origin xyz="-0.4875 0 1.04" rpy="0 0 0"/>
      <geometry>
        <box size="0.057 0.019 0.036"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="strike_1040_back_col">
      <origin xyz="-0.4875 0 1.04" rpy="0 0 0"/>
      <geometry>
        <box size="0.057 0.019 0.036"/>
      </geometry>
    </collision>
    <visual name="jamb_strike_0_vis">
      <origin xyz="-0.476 0.0435 0.511" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.145 1.022"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_strike_0_col">
      <origin xyz="-0.476 0.0435 0.511" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.145 1.022"/>
      </geometry>
    </collision>
    <visual name="jamb_strike_1_vis">
      <origin xyz="-0.476 0.0435 1.6025" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.145 1.089"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_strike_1_col">
      <origin xyz="-0.476 0.0435 1.6025" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.145 1.089"/>
      </geometry>
    </collision>
    <visual name="jamb_head_vis">
      <origin xyz="-0.015 0.0435 2.172" rpy="0 0 0"/>
      <geometry>
        <box size="1.002 0.145 0.05"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_head_col">
      <origin xyz="-0.015 0.0435 2.172" rpy="0 0 0"/>
      <geometry>
        <box size="1.002 0.145 0.05"/>
      </geometry>
    </collision>
    <visual name="head_stud_vis">
      <origin xyz="-0.015 0.0435 2.212" rpy="0 0 0"/>
      <geometry>
        <box size="1.002 0.145 0.03"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="head_stud_col">
      <origin xyz="-0.015 0.0435 2.212" rpy="0 0 0"/>
      <geometry>
        <box size="1.002 0.145 0.03"/>
      </geometry>
    </collision>
    <visual name="stop_hinge_vis">
      <origin xyz="0.4305 0.0385 1.0735" rpy="0 0 0"/>
      <geometry>
        <box size="0.011 0.032 2.147"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="stop_hinge_col">
      <origin xyz="0.4305 0.0385 1.0735" rpy="0 0 0"/>
      <geometry>
        <box size="0.011 0.032 2.147"/>
      </geometry>
    </collision>
    <visual name="stop_strike_vis">
      <origin xyz="-0.4305 0.0385 1.0735" rpy="0 0 0"/>
      <geometry>
        <box size="0.011 0.032 2.147"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="stop_strike_col">
      <origin xyz="-0.4305 0.0385 1.0735" rpy="0 0 0"/>
      <geometry>
        <box size="0.011 0.032 2.147"/>
      </geometry>
    </collision>
    <visual name="stop_head_vis">
      <origin xyz="0 0.0385 2.1415" rpy="0 0 0"/>
      <geometry>
        <box size="0.872 0.032 0.011"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="stop_head_col">
      <origin xyz="0 0.0385 2.1415" rpy="0 0 0"/>
      <geometry>
        <box size="0.872 0.032 0.011"/>
      </geometry>
    </collision>
    <visual name="seal_hinge_vis">
      <origin xyz="0.433 0.026 1.0735" rpy="0 0 0"/>
      <geometry>
        <box size="0.008 0.008 2.147"/>
      </geometry>
      <material name="mat_seal"/>
    </visual>
    <visual name="seal_strike_vis">
      <origin xyz="-0.433 0.026 1.0735" rpy="0 0 0"/>
      <geometry>
        <box size="0.008 0.008 2.147"/>
      </geometry>
      <material name="mat_seal"/>
    </visual>
    <visual name="seal_head_vis">
      <origin xyz="0 0.026 2.135" rpy="0 0 0"/>
      <geometry>
        <box size="0.832 0.008 0.016"/>
      </geometry>
      <material name="mat_seal"/>
    </visual>
    <visual name="threshold_vis">
      <origin xyz="0 0.0435 0.0065" rpy="0 0 0"/>
      <geometry>
        <box size="0.972 0.145 0.013"/>
      </geometry>
      <material name="mat_threshold"/>
    </visual>
    <collision name="threshold_col">
      <origin xyz="0 0.0435 0.0065" rpy="0 0 0"/>
      <geometry>
        <box size="0.972 0.145 0.013"/>
      </geometry>
    </collision>
    <visual name="auto_operator_header_vis">
      <origin xyz="0 0.097 2.22" rpy="0 0 0"/>
      <geometry>
        <box size="0.9 0.13 0.13"/>
      </geometry>
      <material name="mat_closer"/>
    </visual>
    <collision name="auto_operator_header_col">
      <origin xyz="0 0.097 2.22" rpy="0 0 0"/>
      <geometry>
        <box size="0.9 0.13 0.13"/>
      </geometry>
    </collision>
    <visual name="wave_sensor_n_vis">
      <origin xyz="-0.686 -0.041 1.05" rpy="0 0 0"/>
      <geometry>
        <box size="0.1 0.024 0.1"/>
      </geometry>
      <material name="mat_wallreader"/>
    </visual>
    <collision name="wave_sensor_n_col">
      <origin xyz="-0.686 -0.041 1.05" rpy="0 0 0"/>
      <geometry>
        <box size="0.1 0.024 0.1"/>
      </geometry>
    </collision>
    <visual name="wave_sensor_p_vis">
      <origin xyz="-0.686 0.128 1.05" rpy="0 0 0"/>
      <geometry>
        <box size="0.1 0.024 0.1"/>
      </geometry>
      <material name="mat_wallreader"/>
    </visual>
    <collision name="wave_sensor_p_col">
      <origin xyz="-0.686 0.128 1.05" rpy="0 0 0"/>
      <geometry>
        <box size="0.1 0.024 0.1"/>
      </geometry>
    </collision>
    <visual name="wave_sensor_p_pad_vis">
      <origin xyz="-0.686 0.0435 1.05" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.146 0.08"/>
      </geometry>
      <material name="mat_wallreader"/>
    </visual>
    <visual name="floor_stop_dome_vis">
      <origin xyz="0.516931 -0.758862 0" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.025"/>
      </geometry>
      <material name="mat_stop"/>
    </visual>
    <collision name="floor_stop_dome_col">
      <origin xyz="0.516931 -0.758862 0" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.025"/>
      </geometry>
    </collision>
  </link>
  <link name="leaf">
    <inertial>
      <origin xyz="-0.433477 0.02879 1.09219" rpy="0 0 0"/>
      <mass value="51.603252"/>
      <inertia ixx="19.388410221" ixy="-0.005237727" ixz="-0.029062766" iyy="22.745492782" iyz="-0.021531892" izz="3.37849095"/>
    </inertial>
    <visual name="leaf_slab_vis">
      <origin xyz="-0.432 0.029 1.08" rpy="0 0 0"/>
      <geometry>
        <box size="0.864 0.044 2.126"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <collision name="leaf_slab_col">
      <origin xyz="-0.432 0.029 1.08" rpy="0 0 0"/>
      <geometry>
        <box size="0.864 0.044 2.126"/>
      </geometry>
    </collision>
    <visual name="hinge_0_vis">
      <origin xyz="0 0 0.267" rpy="3.141593 0 3.141593"/>
      <geometry>
        <mesh filename="../../hardware/hinge_e22b26c0c1.obj"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="hinge_1_vis">
      <origin xyz="0 0 1.08" rpy="3.141593 0 3.141593"/>
      <geometry>
        <mesh filename="../../hardware/hinge_e22b26c0c1.obj"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="hinge_2_vis">
      <origin xyz="0 0 1.963" rpy="3.141593 0 3.141593"/>
      <geometry>
        <mesh filename="../../hardware/hinge_e22b26c0c1.obj"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="leaf_handle_escutcheon_n_vis">
      <origin xyz="-0.794 0.0055 1.04" rpy="0 0 0"/>
      <geometry>
        <box size="0.075 0.003 0.26"/>
      </geometry>
      <material name="mat_op_chrome"/>
    </visual>
    <visual name="leaf_handle_escutcheon_p_vis">
      <origin xyz="-0.794 0.0525 1.04" rpy="0 0 0"/>
      <geometry>
        <box size="0.075 0.003 0.26"/>
      </geometry>
      <material name="mat_op_chrome"/>
    </visual>
    <visual name="leaf_handle_reader_vis">
      <origin xyz="-0.794 0.007 1.2" rpy="1.570796 0 0"/>
      <geometry>
        <mesh filename="../../hardware/card_reader_38c0bdb077.obj"/>
      </geometry>
      <material name="mat_reader"/>
    </visual>
    <visual name="leaf_latch_bolt_faceplate_vis">
      <origin xyz="-0.8634 0.029 1.04" rpy="0 0 0"/>
      <geometry>
        <box size="0.0012 0.028 0.056"/>
      </geometry>
      <material name="mat_bolt"/>
    </visual>
    <visual name="leaf_guard_stud_vis">
      <origin xyz="-0.814 0.066 1.34" rpy="-1.570796 0 0"/>
      <geometry>
        <cylinder radius="0.01" length="0.03"/>
      </geometry>
      <material name="mat_guard"/>
    </visual>
    <visual name="auto_operator_arm_vis">
      <origin xyz="-0.247 0.081 2.106" rpy="0 0 0"/>
      <geometry>
        <box size="0.44 0.016 0.016"/>
      </geometry>
      <material name="mat_closer"/>
    </visual>
    <visual name="auto_operator_arm_shoe_vis">
      <origin xyz="-0.437 0.067 2.106" rpy="0 0 0"/>
      <geometry>
        <box size="0.06 0.032 0.028"/>
      </geometry>
      <material name="mat_closer"/>
    </visual>
    <visual name="peephole_vis">
      <origin xyz="-0.432 0.007 1.517" rpy="-1.570796 0 3.141593"/>
      <geometry>
        <mesh filename="../../hardware/peephole_f829311a59.obj"/>
      </geometry>
      <material name="mat_peephole"/>
    </visual>
    <visual name="coat_hook_vis">
      <origin xyz="-0.432 0.051 1.793" rpy="1.570796 0 3.141593"/>
      <geometry>
        <mesh filename="../../hardware/coat_hook_d622d37ad0.obj"/>
      </geometry>
      <material name="mat_hook"/>
    </visual>
  </link>
  <link name="leaf_handle">
    <inertial>
      <origin xyz="0.034904 0 0" rpy="0 0 0"/>
      <mass value="0.739068"/>
      <inertia ixx="0.003272501" ixy="0" ixz="0" iyy="0.001260094" iyz="0" izz="0.004494637"/>
    </inertial>
    <visual name="leaf_handle_spindle_vis">
      <origin xyz="0 0 0" rpy="-1.570796 0 0"/>
      <geometry>
        <cylinder radius="0.006" length="0.068"/>
      </geometry>
      <material name="mat_op_chrome"/>
    </visual>
    <visual name="leaf_handle_lever_n_vis">
      <origin xyz="0 -0.022 0" rpy="-1.570796 0 3.141593"/>
      <geometry>
        <mesh filename="../../hardware/lever_56c65af20a.obj"/>
      </geometry>
      <material name="mat_op_chrome"/>
    </visual>
    <collision name="leaf_handle_lever_col_n_col">
      <origin xyz="0.06 -0.077 0" rpy="0 1.570796 0"/>
      <geometry>
        <cylinder radius="0.0095" length="0.101"/>
      </geometry>
    </collision>
    <collision name="leaf_handle_hub_col_n_col">
      <origin xyz="0 -0.052 0" rpy="-1.570796 0 0"/>
      <geometry>
        <cylinder radius="0.012" length="0.044"/>
      </geometry>
    </collision>
    <visual name="leaf_handle_lever_p_vis">
      <origin xyz="0 0.022 0" rpy="1.570796 0 3.141593"/>
      <geometry>
        <mesh filename="../../hardware/lever_56c65af20a.obj"/>
      </geometry>
      <material name="mat_op_chrome"/>
    </visual>
    <collision name="leaf_handle_lever_col_p_col">
      <origin xyz="0.06 0.077 0" rpy="0 1.570796 0"/>
      <geometry>
        <cylinder radius="0.0095" length="0.101"/>
      </geometry>
    </collision>
    <collision name="leaf_handle_hub_col_p_col">
      <origin xyz="0 0.052 0" rpy="-1.570796 0 0"/>
      <geometry>
        <cylinder radius="0.012" length="0.044"/>
      </geometry>
    </collision>
  </link>
  <link name="leaf_latch_bolt">
    <inertial>
      <origin xyz="0.0055 0 0" rpy="0 0 0"/>
      <mass value="0.074627"/>
      <inertia ixx="0.000002271" ixy="0" ixz="0" iyy="0.000013255" iyz="0" izz="0.000013255"/>
    </inertial>
    <visual name="leaf_latch_bolt_capsule_vis">
      <origin xyz="0.0055 0 0" rpy="0 -1.570796 0"/>
      <geometry>
        <cylinder radius="0.008" length="0.033"/>
      </geometry>
      <material name="mat_bolt"/>
    </visual>
    <collision name="leaf_latch_bolt_capsule_col">
      <origin xyz="0.0055 0 0" rpy="0 -1.570796 0"/>
      <geometry>
        <cylinder radius="0.008" length="0.033"/>
      </geometry>
    </collision>
  </link>
  <joint name="leaf_hinge" type="revolute">
    <origin xyz="0.433 -0.029 0" rpy="0 0 0"/>
    <parent link="world_env"/>
    <child link="leaf"/>
    <axis xyz="0 0 1"/>
    <limit lower="0" upper="0.078615" effort="2000" velocity="10"/>
    <dynamics damping="15.214767" friction="1.944756"/>
    <doorbench:spring stiffness="12.827888" springref="-1.543512" note="tau = -stiffness*(q - springref); not native URDF"/>
    <doorbench:closer damping_closing="60" damping_opening="15" backcheck_angle="0" backcheck_damping="0"/>
    <doorbench:note text="Swing bar door guard (hotel), ~ 6 cm opening: opening limited to 4.5 deg"/>
  </joint>
  <joint name="leaf_handle_hinge" type="revolute">
    <origin xyz="-0.794 0.029 1.04" rpy="0 0 0"/>
    <parent link="leaf"/>
    <child link="leaf_handle"/>
    <axis xyz="0 1 0"/>
    <limit lower="0" upper="0.87" effort="2000" velocity="10"/>
    <dynamics damping="0.231314" friction="0.06"/>
    <doorbench:spring stiffness="1.1" springref="-0.454545" note="tau = -stiffness*(q - springref); not native URDF"/>
  </joint>
  <joint name="leaf_latch_bolt_slide" type="prismatic">
    <origin xyz="-0.864 0.029 1.04" rpy="0 0 0"/>
    <parent link="leaf"/>
    <child link="leaf_latch_bolt"/>
    <axis xyz="1 0 0"/>
    <limit lower="0" upper="0.019" effort="5000" velocity="10"/>
    <dynamics damping="2" friction="0.3"/>
    <doorbench:spring stiffness="550" springref="-0.01" note="tau = -stiffness*(q - springref); not native URDF"/>
    <mimic joint="leaf_handle_hinge" multiplier="0.023457" offset="0"/>
    <doorbench:coupling one_sided="true" note="MJCF uses a one-sided tendon (bolt may retract further, e.g. riding over the strike lip); mimic is bilateral"/>
  </joint>
  <material name="mat_bolt">
    <color rgba="0.75 0.76 0.77 1"/>
  </material>
  <material name="mat_closer">
    <color rgba="0.22 0.17 0.13 1"/>
  </material>
  <material name="mat_floor">
    <color rgba="0.55 0.53 0.5 1"/>
  </material>
  <material name="mat_frame">
    <color rgba="0.45 0.48 0.52 1"/>
  </material>
  <material name="mat_guard">
    <color rgba="0.75 0.76 0.77 1"/>
  </material>
  <material name="mat_hinge">
    <color rgba="0.65 0.66 0.68 1"/>
  </material>
  <material name="mat_hook">
    <color rgba="0.9 0.9 0.92 1"/>
  </material>
  <material name="mat_leaf">
    <color rgba="0.36 0.25 0.18 1"/>
  </material>
  <material name="mat_op_chrome">
    <color rgba="0.9 0.9 0.92 1"/>
  </material>
  <material name="mat_peephole">
    <color rgba="0.85 0.66 0.3 1"/>
  </material>
  <material name="mat_reader">
    <color rgba="0.05 0.05 0.05 1"/>
  </material>
  <material name="mat_seal">
    <color rgba="0.1 0.1 0.1 1"/>
  </material>
  <material name="mat_stop">
    <color rgba="0.9 0.9 0.92 1"/>
  </material>
  <material name="mat_threshold">
    <color rgba="0.8 0.81 0.83 1"/>
  </material>
  <material name="mat_wall">
    <color rgba="0.78 0.76 0.7 1"/>
  </material>
  <material name="mat_wallreader">
    <color rgba="0.05 0.05 0.05 1"/>
  </material>
</robot>
