<?xml version="1.0" ?>
<robot xmlns:doorbench="https://github.com/adamraudonis/DoorBench/schema/urdf-ext" name="db0456_swing_single_minimal">
  <link name="world_env">
    <visual name="floor_vis">
      <origin xyz="0 0 -0.05" rpy="0 0 0"/>
      <geometry>
        <box size="12 12 0.1"/>
      </geometry>
      <material name="mat_floor"/>
    </visual>
    <collision name="floor_col">
      <origin xyz="0 0 -0.05" rpy="0 0 0"/>
      <geometry>
        <box size="12 12 0.1"/>
      </geometry>
    </collision>
    <visual name="wall_left_vis">
      <origin xyz="-1.48 0.04 1.3735" rpy="0 0 0"/>
      <geometry>
        <box size="2.04 0.145 2.747"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_left_col">
      <origin xyz="-1.48 0.04 1.3735" rpy="0 0 0"/>
      <geometry>
        <box size="2.04 0.145 2.747"/>
      </geometry>
    </collision>
    <visual name="wall_right_vis">
      <origin xyz="1.495 0.04 1.3735" rpy="0 0 0"/>
      <geometry>
        <box size="2.01 0.145 2.747"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_right_col">
      <origin xyz="1.495 0.04 1.3735" rpy="0 0 0"/>
      <geometry>
        <box size="2.01 0.145 2.747"/>
      </geometry>
    </collision>
    <visual name="wall_header_vis">
      <origin xyz="0.015 0.04 2.487" rpy="0 0 0"/>
      <geometry>
        <box size="0.95 0.145 0.52"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_header_col">
      <origin xyz="0.015 0.04 2.487" rpy="0 0 0"/>
      <geometry>
        <box size="0.95 0.145 0.52"/>
      </geometry>
    </collision>
    <visual name="jamb_hinge_vis">
      <origin xyz="-0.435 0.04 1.0735" rpy="0 0 0"/>
      <geometry>
        <box size="0.05 0.145 2.147"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_hinge_col">
      <origin xyz="-0.435 0.04 1.0735" rpy="0 0 0"/>
      <geometry>
        <box size="0.05 0.145 2.147"/>
      </geometry>
    </collision>
    <visual name="strike_1156_wall_n_vis">
      <origin xyz="0.45 0.061 1.156" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.103 0.031"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="strike_1156_wall_n_col">
      <origin xyz="0.45 0.061 1.156" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.103 0.031"/>
      </geometry>
    </collision>
    <visual name="strike_1156_wall_p_vis">
      <origin xyz="0.45 -0.021 1.156" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.023 0.031"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="strike_1156_wall_p_col">
      <origin xyz="0.45 -0.021 1.156" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.023 0.031"/>
      </geometry>
    </collision>
    <visual name="strike_1156_back_vis">
      <origin xyz="0.4647 0 1.156" rpy="0 0 0"/>
      <geometry>
        <box size="0.0506 0.019 0.031"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="strike_1156_back_col">
      <origin xyz="0.4647 0 1.156" rpy="0 0 0"/>
      <geometry>
        <box size="0.0506 0.019 0.031"/>
      </geometry>
    </collision>
    <visual name="jamb_strike_0_vis">
      <origin xyz="0.45 0.04 0.57025" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.145 1.1405"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_strike_0_col">
      <origin xyz="0.45 0.04 0.57025" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.145 1.1405"/>
      </geometry>
    </collision>
    <visual name="jamb_strike_1_vis">
      <origin xyz="0.45 0.04 1.65925" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.145 0.9755"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_strike_1_col">
      <origin xyz="0.45 0.04 1.65925" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.145 0.9755"/>
      </geometry>
    </collision>
    <visual name="jamb_head_vis">
      <origin xyz="0.015 0.04 2.172" rpy="0 0 0"/>
      <geometry>
        <box size="0.95 0.145 0.05"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_head_col">
      <origin xyz="0.015 0.04 2.172" rpy="0 0 0"/>
      <geometry>
        <box size="0.95 0.145 0.05"/>
      </geometry>
    </collision>
    <visual name="head_stud_vis">
      <origin xyz="0.015 0.04 2.212" rpy="0 0 0"/>
      <geometry>
        <box size="0.95 0.145 0.03"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="head_stud_col">
      <origin xyz="0.015 0.04 2.212" rpy="0 0 0"/>
      <geometry>
        <box size="0.95 0.145 0.03"/>
      </geometry>
    </collision>
    <visual name="stop_hinge_vis">
      <origin xyz="-0.4045 0.029 1.0735" rpy="0 0 0"/>
      <geometry>
        <box size="0.011 0.032 2.147"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="stop_hinge_col">
      <origin xyz="-0.4045 0.029 1.0735" rpy="0 0 0"/>
      <geometry>
        <box size="0.011 0.032 2.147"/>
      </geometry>
    </collision>
    <visual name="stop_strike_vis">
      <origin xyz="0.4045 0.029 1.0735" rpy="0 0 0"/>
      <geometry>
        <box size="0.011 0.032 2.147"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="stop_strike_col">
      <origin xyz="0.4045 0.029 1.0735" rpy="0 0 0"/>
      <geometry>
        <box size="0.011 0.032 2.147"/>
      </geometry>
    </collision>
    <visual name="stop_head_vis">
      <origin xyz="0 0.029 2.1415" rpy="0 0 0"/>
      <geometry>
        <box size="0.82 0.032 0.011"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="stop_head_col">
      <origin xyz="0 0.029 2.1415" rpy="0 0 0"/>
      <geometry>
        <box size="0.82 0.032 0.011"/>
      </geometry>
    </collision>
    <visual name="threshold_vis">
      <origin xyz="0 0.04 0.0065" rpy="0 0 0"/>
      <geometry>
        <box size="0.92 0.145 0.013"/>
      </geometry>
      <material name="mat_threshold"/>
    </visual>
    <collision name="threshold_col">
      <origin xyz="0 0.04 0.0065" rpy="0 0 0"/>
      <geometry>
        <box size="0.92 0.145 0.013"/>
      </geometry>
    </collision>
  </link>
  <link name="leaf">
    <inertial>
      <origin xyz="0.410064 0.0195 1.079243" rpy="0 0 0"/>
      <mass value="76.074462"/>
      <inertia ixx="28.331105011" ixy="0" ixz="0.017147437" iyy="32.545346896" iyz="0" izz="4.229888526"/>
    </inertial>
    <collision name="leaf_slab_col_col">
      <origin xyz="0.4065 0.0195 1.08" rpy="0 0 0"/>
      <geometry>
        <box size="0.813 0.025 2.126"/>
      </geometry>
    </collision>
    <visual name="leaf_rail_b_vis">
      <origin xyz="0.4065 0.0195 0.047" rpy="0 0 0"/>
      <geometry>
        <box size="0.813 0.025 0.06"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <visual name="leaf_rail_t_vis">
      <origin xyz="0.4065 0.0195 2.113" rpy="0 0 0"/>
      <geometry>
        <box size="0.813 0.025 0.06"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <visual name="leaf_stile_h_vis">
      <origin xyz="0.03 0.0195 1.08" rpy="0 0 0"/>
      <geometry>
        <box size="0.06 0.025 2.126"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <visual name="leaf_stile_l_vis">
      <origin xyz="0.783 0.0195 1.08" rpy="0 0 0"/>
      <geometry>
        <box size="0.06 0.025 2.126"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <visual name="leaf_pull_n_vis">
      <origin xyz="0.708 0.007 1.016" rpy="1.570796 0 0"/>
      <geometry>
        <mesh filename="../../hardware/pull_1e5d69a91a.obj"/>
      </geometry>
      <material name="mat_op_stainless"/>
    </visual>
    <collision name="leaf_pull_col_n_col">
      <origin xyz="0.708 -0.053 1.016" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.0095" length="0.16"/>
      </geometry>
    </collision>
    <visual name="leaf_pull_p_vis">
      <origin xyz="0.708 0.032 1.016" rpy="-1.570796 0 0"/>
      <geometry>
        <mesh filename="../../hardware/pull_1e5d69a91a.obj"/>
      </geometry>
      <material name="mat_op_stainless"/>
    </visual>
    <collision name="leaf_pull_col_p_col">
      <origin xyz="0.708 0.092 1.016" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.0095" length="0.16"/>
      </geometry>
    </collision>
  </link>
  <joint name="leaf_hinge" type="revolute">
    <origin xyz="-0.407 -0.0195 0" rpy="0 0 0"/>
    <parent link="world_env"/>
    <child link="leaf"/>
    <axis xyz="0 0 -1"/>
    <limit lower="0" upper="1.570796" effort="2000" velocity="10"/>
    <dynamics damping="0.218374" friction="0.459119"/>
    <doorbench:closer damping_closing="0" damping_opening="0" backcheck_angle="0" backcheck_damping="0"/>
  </joint>
  <material name="mat_floor">
    <color rgba="0.55 0.53 0.5 1"/>
  </material>
  <material name="mat_frame">
    <color rgba="0.55 0.56 0.58 1"/>
  </material>
  <material name="mat_leaf">
    <color rgba="0.5 0.51 0.53 1"/>
  </material>
  <material name="mat_op_stainless">
    <color rgba="0.75 0.76 0.77 1"/>
  </material>
  <material name="mat_threshold">
    <color rgba="0.8 0.81 0.83 1"/>
  </material>
  <material name="mat_wall">
    <color rgba="0.78 0.76 0.7 1"/>
  </material>
</robot>
