<?xml version="1.0" ?>
<robot xmlns:doorbench="https://github.com/adamraudonis/DoorBench/schema/urdf-ext" name="db0192_gate_swing_full">
  <link name="world_env">
    <visual name="floor_vis">
      <origin xyz="0 0 -0.05" rpy="0 0 0"/>
      <geometry>
        <box size="12 12 0.1"/>
      </geometry>
      <material name="mat_floor"/>
    </visual>
    <collision name="floor_col">
      <origin xyz="0 0 -0.05" rpy="0 0 0"/>
      <geometry>
        <box size="12 12 0.1"/>
      </geometry>
    </collision>
    <visual name="hinge_pintle_0_vis">
      <origin xyz="0.453 -0.05 0.174" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.008" length="0.04"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="hinge_pintle_1_vis">
      <origin xyz="0.453 -0.05 0.874" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.008" length="0.04"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="leaf_latch_bar_keeper_b_vis">
      <origin xyz="-0.4555 0.0245 0.8625" rpy="1.570796 0 1.570796"/>
      <geometry>
        <box size="0.03 0.005 0.001"/>
      </geometry>
      <material name="mat_op_wrought_iron"/>
    </visual>
    <visual name="leaf_latch_bar_keeper_l_vis">
      <origin xyz="-0.4555 0.012 0.935" rpy="1.570796 0 1.570796"/>
      <geometry>
        <box size="0.005 0.14 0.001"/>
      </geometry>
      <material name="mat_op_wrought_iron"/>
    </visual>
    <visual name="leaf_latch_bar_keeper_t_vis">
      <origin xyz="-0.4555 0.0245 1.0075" rpy="1.570796 0 1.570796"/>
      <geometry>
        <box size="0.03 0.005 0.001"/>
      </geometry>
      <material name="mat_op_wrought_iron"/>
    </visual>
    <visual name="leaf_latch_bar_keeper_r_vis">
      <origin xyz="-0.4555 0.037 0.935" rpy="1.570796 0 1.570796"/>
      <geometry>
        <box size="0.005 0.14 0.001"/>
      </geometry>
      <material name="mat_op_wrought_iron"/>
    </visual>
    <visual name="post_hinge_vis">
      <origin xyz="0.506 0 0.55" rpy="0 0 0"/>
      <geometry>
        <box size="0.1 0.1 1.1"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="post_hinge_col">
      <origin xyz="0.506 0 0.55" rpy="0 0 0"/>
      <geometry>
        <box size="0.1 0.1 1.1"/>
      </geometry>
    </collision>
    <visual name="post_hinge_cap_vis">
      <origin xyz="0.506 0 1.12" rpy="0 0 0"/>
      <geometry>
        <box size="0.13 0.13 0.04"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <visual name="post_935_wall_n_vis">
      <origin xyz="-0.506 0.04225 0.935" rpy="0 0 0"/>
      <geometry>
        <box size="0.1 0.0155 0.14"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="post_935_wall_n_col">
      <origin xyz="-0.506 0.04225 0.935" rpy="0 0 0"/>
      <geometry>
        <box size="0.1 0.0155 0.14"/>
      </geometry>
    </collision>
    <visual name="post_935_wall_p_vis">
      <origin xyz="-0.506 -0.01775 0.935" rpy="0 0 0"/>
      <geometry>
        <box size="0.1 0.0645 0.14"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="post_935_wall_p_col">
      <origin xyz="-0.506 -0.01775 0.935" rpy="0 0 0"/>
      <geometry>
        <box size="0.1 0.0645 0.14"/>
      </geometry>
    </collision>
    <visual name="post_935_back_vis">
      <origin xyz="-0.516 0.0245 0.935" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 0.14"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="post_935_back_col">
      <origin xyz="-0.516 0.0245 0.935" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 0.14"/>
      </geometry>
    </collision>
    <visual name="post_latch_0_vis">
      <origin xyz="-0.506 0 0.4325" rpy="0 0 0"/>
      <geometry>
        <box size="0.1 0.1 0.865"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="post_latch_0_col">
      <origin xyz="-0.506 0 0.4325" rpy="0 0 0"/>
      <geometry>
        <box size="0.1 0.1 0.865"/>
      </geometry>
    </collision>
    <visual name="post_latch_1_vis">
      <origin xyz="-0.506 0 1.0525" rpy="0 0 0"/>
      <geometry>
        <box size="0.1 0.1 0.095"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="post_latch_1_col">
      <origin xyz="-0.506 0 1.0525" rpy="0 0 0"/>
      <geometry>
        <box size="0.1 0.1 0.095"/>
      </geometry>
    </collision>
    <visual name="post_latch_cap_vis">
      <origin xyz="-0.506 0 1.12" rpy="0 0 0"/>
      <geometry>
        <box size="0.13 0.13 0.04"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <visual name="gate_stop_vis">
      <origin xyz="-0.436 0.0245 0.3" rpy="0 0 0"/>
      <geometry>
        <box size="0.04 0.024 0.12"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="gate_stop_col">
      <origin xyz="-0.436 0.0245 0.3" rpy="0 0 0"/>
      <geometry>
        <box size="0.04 0.024 0.12"/>
      </geometry>
    </collision>
    <visual name="fence_picket_l_0_vis">
      <origin xyz="-0.636 0 0.55" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1"/>
      </geometry>
      <material name="mat_fence"/>
    </visual>
    <collision name="fence_picket_l_0_col">
      <origin xyz="-0.636 0 0.55" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1"/>
      </geometry>
    </collision>
    <visual name="fence_picket_l_1_vis">
      <origin xyz="-0.796 0 0.55" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1"/>
      </geometry>
      <material name="mat_fence"/>
    </visual>
    <collision name="fence_picket_l_1_col">
      <origin xyz="-0.796 0 0.55" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1"/>
      </geometry>
    </collision>
    <visual name="fence_picket_l_2_vis">
      <origin xyz="-0.956 0 0.55" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1"/>
      </geometry>
      <material name="mat_fence"/>
    </visual>
    <collision name="fence_picket_l_2_col">
      <origin xyz="-0.956 0 0.55" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1"/>
      </geometry>
    </collision>
    <visual name="fence_picket_l_3_vis">
      <origin xyz="-1.116 0 0.55" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1"/>
      </geometry>
      <material name="mat_fence"/>
    </visual>
    <collision name="fence_picket_l_3_col">
      <origin xyz="-1.116 0 0.55" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1"/>
      </geometry>
    </collision>
    <visual name="fence_picket_l_4_vis">
      <origin xyz="-1.276 0 0.55" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1"/>
      </geometry>
      <material name="mat_fence"/>
    </visual>
    <collision name="fence_picket_l_4_col">
      <origin xyz="-1.276 0 0.55" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1"/>
      </geometry>
    </collision>
    <visual name="fence_picket_l_5_vis">
      <origin xyz="-1.436 0 0.55" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1"/>
      </geometry>
      <material name="mat_fence"/>
    </visual>
    <collision name="fence_picket_l_5_col">
      <origin xyz="-1.436 0 0.55" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1"/>
      </geometry>
    </collision>
    <visual name="fence_picket_l_6_vis">
      <origin xyz="-1.596 0 0.55" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1"/>
      </geometry>
      <material name="mat_fence"/>
    </visual>
    <collision name="fence_picket_l_6_col">
      <origin xyz="-1.596 0 0.55" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1"/>
      </geometry>
    </collision>
    <visual name="fence_picket_l_7_vis">
      <origin xyz="-1.756 0 0.55" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1"/>
      </geometry>
      <material name="mat_fence"/>
    </visual>
    <collision name="fence_picket_l_7_col">
      <origin xyz="-1.756 0 0.55" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1"/>
      </geometry>
    </collision>
    <visual name="fence_picket_l_8_vis">
      <origin xyz="-1.916 0 0.55" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1"/>
      </geometry>
      <material name="mat_fence"/>
    </visual>
    <collision name="fence_picket_l_8_col">
      <origin xyz="-1.916 0 0.55" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1"/>
      </geometry>
    </collision>
    <visual name="fence_picket_l_9_vis">
      <origin xyz="-2.076 0 0.55" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1"/>
      </geometry>
      <material name="mat_fence"/>
    </visual>
    <collision name="fence_picket_l_9_col">
      <origin xyz="-2.076 0 0.55" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1"/>
      </geometry>
    </collision>
    <visual name="fence_picket_l_10_vis">
      <origin xyz="-2.236 0 0.55" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1"/>
      </geometry>
      <material name="mat_fence"/>
    </visual>
    <collision name="fence_picket_l_10_col">
      <origin xyz="-2.236 0 0.55" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1"/>
      </geometry>
    </collision>
    <visual name="fence_picket_l_11_vis">
      <origin xyz="-2.396 0 0.55" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1"/>
      </geometry>
      <material name="mat_fence"/>
    </visual>
    <collision name="fence_picket_l_11_col">
      <origin xyz="-2.396 0 0.55" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1"/>
      </geometry>
    </collision>
    <visual name="fence_rail_l_vis">
      <origin xyz="-1.556 0.015 0.9" rpy="0 0 0"/>
      <geometry>
        <box size="2 0.03 0.08"/>
      </geometry>
      <material name="mat_fence"/>
    </visual>
    <collision name="fence_rail_l_col">
      <origin xyz="-1.556 0.015 0.9" rpy="0 0 0"/>
      <geometry>
        <box size="2 0.03 0.08"/>
      </geometry>
    </collision>
    <visual name="fence_rail_b_l_vis">
      <origin xyz="-1.556 0.015 0.25" rpy="0 0 0"/>
      <geometry>
        <box size="2 0.03 0.08"/>
      </geometry>
      <material name="mat_fence"/>
    </visual>
    <collision name="fence_rail_b_l_col">
      <origin xyz="-1.556 0.015 0.25" rpy="0 0 0"/>
      <geometry>
        <box size="2 0.03 0.08"/>
      </geometry>
    </collision>
    <visual name="fence_picket_r_0_vis">
      <origin xyz="0.636 0 0.55" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1"/>
      </geometry>
      <material name="mat_fence"/>
    </visual>
    <collision name="fence_picket_r_0_col">
      <origin xyz="0.636 0 0.55" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1"/>
      </geometry>
    </collision>
    <visual name="fence_picket_r_1_vis">
      <origin xyz="0.796 0 0.55" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1"/>
      </geometry>
      <material name="mat_fence"/>
    </visual>
    <collision name="fence_picket_r_1_col">
      <origin xyz="0.796 0 0.55" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1"/>
      </geometry>
    </collision>
    <visual name="fence_picket_r_2_vis">
      <origin xyz="0.956 0 0.55" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1"/>
      </geometry>
      <material name="mat_fence"/>
    </visual>
    <collision name="fence_picket_r_2_col">
      <origin xyz="0.956 0 0.55" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1"/>
      </geometry>
    </collision>
    <visual name="fence_picket_r_3_vis">
      <origin xyz="1.116 0 0.55" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1"/>
      </geometry>
      <material name="mat_fence"/>
    </visual>
    <collision name="fence_picket_r_3_col">
      <origin xyz="1.116 0 0.55" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1"/>
      </geometry>
    </collision>
    <visual name="fence_picket_r_4_vis">
      <origin xyz="1.276 0 0.55" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1"/>
      </geometry>
      <material name="mat_fence"/>
    </visual>
    <collision name="fence_picket_r_4_col">
      <origin xyz="1.276 0 0.55" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1"/>
      </geometry>
    </collision>
    <visual name="fence_picket_r_5_vis">
      <origin xyz="1.436 0 0.55" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1"/>
      </geometry>
      <material name="mat_fence"/>
    </visual>
    <collision name="fence_picket_r_5_col">
      <origin xyz="1.436 0 0.55" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1"/>
      </geometry>
    </collision>
    <visual name="fence_picket_r_6_vis">
      <origin xyz="1.596 0 0.55" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1"/>
      </geometry>
      <material name="mat_fence"/>
    </visual>
    <collision name="fence_picket_r_6_col">
      <origin xyz="1.596 0 0.55" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1"/>
      </geometry>
    </collision>
    <visual name="fence_picket_r_7_vis">
      <origin xyz="1.756 0 0.55" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1"/>
      </geometry>
      <material name="mat_fence"/>
    </visual>
    <collision name="fence_picket_r_7_col">
      <origin xyz="1.756 0 0.55" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1"/>
      </geometry>
    </collision>
    <visual name="fence_picket_r_8_vis">
      <origin xyz="1.916 0 0.55" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1"/>
      </geometry>
      <material name="mat_fence"/>
    </visual>
    <collision name="fence_picket_r_8_col">
      <origin xyz="1.916 0 0.55" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1"/>
      </geometry>
    </collision>
    <visual name="fence_picket_r_9_vis">
      <origin xyz="2.076 0 0.55" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1"/>
      </geometry>
      <material name="mat_fence"/>
    </visual>
    <collision name="fence_picket_r_9_col">
      <origin xyz="2.076 0 0.55" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1"/>
      </geometry>
    </collision>
    <visual name="fence_picket_r_10_vis">
      <origin xyz="2.236 0 0.55" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1"/>
      </geometry>
      <material name="mat_fence"/>
    </visual>
    <collision name="fence_picket_r_10_col">
      <origin xyz="2.236 0 0.55" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1"/>
      </geometry>
    </collision>
    <visual name="fence_picket_r_11_vis">
      <origin xyz="2.396 0 0.55" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1"/>
      </geometry>
      <material name="mat_fence"/>
    </visual>
    <collision name="fence_picket_r_11_col">
      <origin xyz="2.396 0 0.55" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1"/>
      </geometry>
    </collision>
    <visual name="fence_rail_r_vis">
      <origin xyz="1.556 0.015 0.9" rpy="0 0 0"/>
      <geometry>
        <box size="2 0.03 0.08"/>
      </geometry>
      <material name="mat_fence"/>
    </visual>
    <collision name="fence_rail_r_col">
      <origin xyz="1.556 0.015 0.9" rpy="0 0 0"/>
      <geometry>
        <box size="2 0.03 0.08"/>
      </geometry>
    </collision>
    <visual name="fence_rail_b_r_vis">
      <origin xyz="1.556 0.015 0.25" rpy="0 0 0"/>
      <geometry>
        <box size="2 0.03 0.08"/>
      </geometry>
      <material name="mat_fence"/>
    </visual>
    <collision name="fence_rail_b_r_col">
      <origin xyz="1.556 0.015 0.25" rpy="0 0 0"/>
      <geometry>
        <box size="2 0.03 0.08"/>
      </geometry>
    </collision>
    <visual name="gate_stop_strap_0_vis">
      <origin xyz="-0.506 0.0245 0.3" rpy="0 0 0"/>
      <geometry>
        <box size="0.101 0.0192 0.096"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
  </link>
  <link name="leaf">
    <inertial>
      <origin xyz="-0.422698 0.044271 0.566857" rpy="0 0 0"/>
      <mass value="8.855048"/>
      <inertia ixx="0.769560998" ixy="0.001606191" ixz="0.057637868" iyy="1.493980896" iyz="0.003307947" izz="0.727916557"/>
    </inertial>
    <collision name="leaf_slab_col_col">
      <origin xyz="-0.45 0.05 0.55" rpy="0 0 0"/>
      <geometry>
        <box size="0.9 0.025 1"/>
      </geometry>
    </collision>
    <visual name="leaf_rail_b_vis">
      <origin xyz="-0.45 0.05 0.0725" rpy="0 0 0"/>
      <geometry>
        <box size="0.9 0.025 0.045"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <visual name="leaf_rail_t_vis">
      <origin xyz="-0.45 0.05 1.0275" rpy="0 0 0"/>
      <geometry>
        <box size="0.9 0.025 0.045"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <visual name="leaf_stile_h_vis">
      <origin xyz="-0.0225 0.05 0.55" rpy="0 0 0"/>
      <geometry>
        <box size="0.045 0.025 1"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <visual name="leaf_stile_l_vis">
      <origin xyz="-0.8775 0.05 0.55" rpy="0 0 0"/>
      <geometry>
        <box size="0.045 0.025 1"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <visual name="leaf_picket_0_vis">
      <origin xyz="-0.102857 0.05 0.57" rpy="0 0 0"/>
      <geometry>
        <box size="0.04 0.0175 0.973"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <visual name="leaf_picket_1_vis">
      <origin xyz="-0.218571 0.05 0.57" rpy="0 0 0"/>
      <geometry>
        <box size="0.04 0.0175 0.973"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <visual name="leaf_picket_2_vis">
      <origin xyz="-0.334286 0.05 0.57" rpy="0 0 0"/>
      <geometry>
        <box size="0.04 0.0175 0.973"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <visual name="leaf_picket_3_vis">
      <origin xyz="-0.45 0.05 0.57" rpy="0 0 0"/>
      <geometry>
        <box size="0.04 0.0175 0.973"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <visual name="leaf_picket_4_vis">
      <origin xyz="-0.565714 0.05 0.57" rpy="0 0 0"/>
      <geometry>
        <box size="0.04 0.0175 0.973"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <visual name="leaf_picket_5_vis">
      <origin xyz="-0.681429 0.05 0.57" rpy="0 0 0"/>
      <geometry>
        <box size="0.04 0.0175 0.973"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <visual name="leaf_picket_6_vis">
      <origin xyz="-0.797143 0.05 0.57" rpy="0 0 0"/>
      <geometry>
        <box size="0.04 0.0175 0.973"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <visual name="hinge_strap_0_vis">
      <origin xyz="0 0.0345 0.2" rpy="0 0 3.141593"/>
      <geometry>
        <mesh filename="../../hardware/strap_hinge_f1a982ddce.obj"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="hinge_strap_eye_0_vis">
      <origin xyz="0 0 0.2" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.011" length="0.024"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="hinge_strap_neck_0_vis">
      <origin xyz="0 0.01725 0.2" rpy="0 0 0"/>
      <geometry>
        <box size="0.024 0.0425 0.012"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="hinge_strap_1_vis">
      <origin xyz="0 0.0345 0.9" rpy="0 0 3.141593"/>
      <geometry>
        <mesh filename="../../hardware/strap_hinge_f1a982ddce.obj"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="hinge_strap_eye_1_vis">
      <origin xyz="0 0 0.9" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.011" length="0.024"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="hinge_strap_neck_1_vis">
      <origin xyz="0 0.01725 0.9" rpy="0 0 0"/>
      <geometry>
        <box size="0.024 0.0425 0.012"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="leaf_suffolk_grip_vis">
      <origin xyz="-0.82 0.0375 0.75" rpy="-1.570796 0 3.141593"/>
      <geometry>
        <mesh filename="../../hardware/thumb_latch_0073ea78ed.obj"/>
      </geometry>
      <material name="mat_op_wrought_iron"/>
    </visual>
    <collision name="leaf_suffolk_grip_col_col">
      <origin xyz="-0.82 0.0025 0.75" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.008" length="0.18"/>
      </geometry>
    </collision>
    <visual name="leaf_latch_bar_pivot_vis">
      <origin xyz="-0.7 0.0645 0.89" rpy="0 0 0"/>
      <geometry>
        <box size="0.036 0.004 0.036"/>
      </geometry>
      <material name="mat_op_wrought_iron"/>
    </visual>
    <visual name="leaf_latch_bar_pin_vis">
      <origin xyz="-0.7 0.0725 0.89" rpy="-1.570796 0 0"/>
      <geometry>
        <cylinder radius="0.005" length="0.02"/>
      </geometry>
      <material name="mat_op_wrought_iron"/>
    </visual>
  </link>
  <link name="leaf_thumb">
    <inertial>
      <origin xyz="0 -0.005933 -0.005008" rpy="0 0 0"/>
      <mass value="0.119952"/>
      <inertia ixx="0.000028338" ixy="0" ixz="0" iyy="0.000013212" iyz="0.000006816" izz="0.000027285"/>
    </inertial>
    <visual name="leaf_thumb_geom_vis">
      <origin xyz="0 -0.02 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.03 0.028 0.006"/>
      </geometry>
      <material name="mat_op_wrought_iron"/>
    </visual>
    <collision name="leaf_thumb_geom_col">
      <origin xyz="0 -0.02 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.03 0.028 0.006"/>
      </geometry>
    </collision>
    <visual name="leaf_thumb_boss_vis">
      <origin xyz="0 -0.004 -0.005" rpy="0 0 0"/>
      <geometry>
        <box size="0.024 0.016 0.026"/>
      </geometry>
      <material name="mat_op_wrought_iron"/>
    </visual>
    <visual name="leaf_thumb_lifter_vis">
      <origin xyz="0 0.0185 -0.017" rpy="0 0 0"/>
      <geometry>
        <box size="0.008 0.033 0.008"/>
      </geometry>
      <material name="mat_op_wrought_iron"/>
    </visual>
  </link>
  <link name="leaf_latch_bar">
    <inertial>
      <origin xyz="-0.106 0 0" rpy="0 0 0"/>
      <mass value="0.25"/>
      <inertia ixx="0.000004465" ixy="0" ixz="0" iyy="0.000904065" iyz="0" izz="0.000904065"/>
    </inertial>
    <visual name="leaf_latch_bar_geom_vis">
      <origin xyz="-0.106 0 0" rpy="0 -1.570796 0"/>
      <geometry>
        <cylinder radius="0.006" length="0.2"/>
      </geometry>
      <material name="mat_op_wrought_iron"/>
    </visual>
    <collision name="leaf_latch_bar_geom_col">
      <origin xyz="-0.106 0 0" rpy="0 -1.570796 0"/>
      <geometry>
        <cylinder radius="0.006" length="0.2"/>
      </geometry>
    </collision>
  </link>
  <joint name="leaf_hinge" type="revolute">
    <origin xyz="0.453 -0.05 0" rpy="0 0 0"/>
    <parent link="world_env"/>
    <child link="leaf"/>
    <axis xyz="0 0 1"/>
    <limit lower="0" upper="1.745329" effort="2000" velocity="10"/>
    <dynamics damping="0.168492" friction="4.208959"/>
    <doorbench:closer damping_closing="0" damping_opening="0" backcheck_angle="0" backcheck_damping="0"/>
  </joint>
  <joint name="leaf_thumb_hinge" type="revolute">
    <origin xyz="-0.82 0.0375 0.895" rpy="0 0 0"/>
    <parent link="leaf"/>
    <child link="leaf_thumb"/>
    <axis xyz="1 0 0"/>
    <limit lower="0" upper="0.3" effort="2000" velocity="10"/>
    <dynamics damping="0.155195" friction="0.032"/>
    <doorbench:spring stiffness="0.6" springref="-0.5" note="tau = -stiffness*(q - springref); not native URDF"/>
  </joint>
  <joint name="leaf_latch_bar_hinge" type="revolute">
    <origin xyz="-0.7 0.0745 0.89" rpy="0 0 0"/>
    <parent link="leaf"/>
    <child link="leaf_latch_bar"/>
    <axis xyz="0 1 0"/>
    <limit lower="0" upper="0.6" effort="2000" velocity="10"/>
    <dynamics damping="0.01" friction="0.01"/>
    <mimic joint="leaf_thumb_hinge" multiplier="2" offset="0"/>
  </joint>
  <material name="mat_fence">
    <color rgba="0.7 0.45 0.32 1"/>
  </material>
  <material name="mat_floor">
    <color rgba="0.35 0.42 0.25 1"/>
  </material>
  <material name="mat_frame">
    <color rgba="0.7 0.45 0.32 1"/>
  </material>
  <material name="mat_hinge">
    <color rgba="0.65 0.66 0.68 1"/>
  </material>
  <material name="mat_leaf">
    <color rgba="0.398 0.243 0.164 1"/>
  </material>
  <material name="mat_op_wrought_iron">
    <color rgba="0.08 0.08 0.09 1"/>
  </material>
</robot>
