<?xml version="1.0" ?>
<robot xmlns:doorbench="https://github.com/adamraudonis/DoorBench/schema/urdf-ext" name="db0107_sliding_single_full">
  <link name="world_env">
    <visual name="floor_vis">
      <origin xyz="0 0 -0.05" rpy="0 0 0"/>
      <geometry>
        <box size="12 12 0.1"/>
      </geometry>
      <material name="mat_floor"/>
    </visual>
    <collision name="floor_col">
      <origin xyz="0 0 -0.05" rpy="0 0 0"/>
      <geometry>
        <box size="12 12 0.1"/>
      </geometry>
    </collision>
    <visual name="wall_left_vis">
      <origin xyz="-1.523 0 1.35" rpy="0 0 0"/>
      <geometry>
        <box size="1.954 0.145 2.7"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_left_col">
      <origin xyz="-1.523 0 1.35" rpy="0 0 0"/>
      <geometry>
        <box size="1.954 0.145 2.7"/>
      </geometry>
    </collision>
    <visual name="wall_header_vis">
      <origin xyz="-0.03 0 2.3855" rpy="0 0 0"/>
      <geometry>
        <box size="1.032 0.145 0.629"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_header_col">
      <origin xyz="-0.03 0 2.3855" rpy="0 0 0"/>
      <geometry>
        <box size="1.032 0.145 0.629"/>
      </geometry>
    </collision>
    <visual name="pocket_skin_n_vis">
      <origin xyz="0.949 -0.0645 1.35" rpy="0 0 0"/>
      <geometry>
        <box size="0.964 0.016 2.7"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="pocket_skin_n_col">
      <origin xyz="0.949 -0.0645 1.35" rpy="0 0 0"/>
      <geometry>
        <box size="0.964 0.016 2.7"/>
      </geometry>
    </collision>
    <visual name="pocket_skin_p_vis">
      <origin xyz="0.949 0.0645 1.35" rpy="0 0 0"/>
      <geometry>
        <box size="0.964 0.016 2.7"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="pocket_skin_p_col">
      <origin xyz="0.949 0.0645 1.35" rpy="0 0 0"/>
      <geometry>
        <box size="0.964 0.016 2.7"/>
      </geometry>
    </collision>
    <visual name="wall_pocket_far_vis">
      <origin xyz="1.9655 0 1.35" rpy="0 0 0"/>
      <geometry>
        <box size="1.069 0.145 2.7"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_pocket_far_col">
      <origin xyz="1.9655 0 1.35" rpy="0 0 0"/>
      <geometry>
        <box size="1.069 0.145 2.7"/>
      </geometry>
    </collision>
    <visual name="jamb_head_vis">
      <origin xyz="0 0 2.0615" rpy="0 0 0"/>
      <geometry>
        <box size="0.972 0.145 0.019"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_head_col">
      <origin xyz="0 0 2.0615" rpy="0 0 0"/>
      <geometry>
        <box size="0.972 0.145 0.019"/>
      </geometry>
    </collision>
    <visual name="track_header_vis">
      <origin xyz="0.434 0 2.111" rpy="0 0 0"/>
      <geometry>
        <box size="1.882 0.05 0.08"/>
      </geometry>
      <material name="mat_track"/>
    </visual>
    <collision name="track_header_col">
      <origin xyz="0.434 0 2.111" rpy="0 0 0"/>
      <geometry>
        <box size="1.882 0.05 0.08"/>
      </geometry>
    </collision>
    <visual name="jamb_latch_0_vis">
      <origin xyz="-0.5065 0 1.026" rpy="0 0 0"/>
      <geometry>
        <box size="0.079 0.145 2.052"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_latch_0_col">
      <origin xyz="-0.5065 0 1.026" rpy="0 0 0"/>
      <geometry>
        <box size="0.079 0.145 2.052"/>
      </geometry>
    </collision>
    <visual name="track_header_bracket_vis">
      <origin xyz="0.434 0.04075 2.111" rpy="0 0 0"/>
      <geometry>
        <box size="1.5056 0.0325 0.064"/>
      </geometry>
      <material name="mat_hook"/>
    </visual>
  </link>
  <link name="leaf">
    <inertial>
      <origin xyz="-0.000086 0 1.028005" rpy="0 0 0"/>
      <mass value="43.046711"/>
      <inertia ixx="14.812695732" ixy="0" ixz="0.000081079" iyy="17.805708745" iyz="0" izz="3.001806177"/>
    </inertial>
    <visual name="leaf_slab_vis">
      <origin xyz="0 0 1.028" rpy="0 0 0"/>
      <geometry>
        <box size="0.914 0.035 2.032"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <collision name="leaf_slab_col">
      <origin xyz="0 0 1.028" rpy="0 0 0"/>
      <geometry>
        <box size="0.914 0.035 2.032"/>
      </geometry>
    </collision>
    <visual name="leaf_pull_n_vis">
      <origin xyz="-0.367 -0.018 1.05" rpy="0 0 0"/>
      <geometry>
        <box size="0.05 0.001 0.1"/>
      </geometry>
      <material name="mat_op_nickel_satin"/>
    </visual>
    <visual name="leaf_pull_p_vis">
      <origin xyz="-0.367 0.018 1.05" rpy="0 0 0"/>
      <geometry>
        <box size="0.05 0.001 0.1"/>
      </geometry>
      <material name="mat_op_nickel_satin"/>
    </visual>
  </link>
  <joint name="leaf_slide" type="prismatic">
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <parent link="world_env"/>
    <child link="leaf"/>
    <axis xyz="1 0 0"/>
    <limit lower="0" upper="0.868" effort="5000" velocity="10"/>
    <dynamics damping="4.152336" friction="12.664321"/>
  </joint>
  <material name="mat_floor">
    <color rgba="0.55 0.53 0.5 1"/>
  </material>
  <material name="mat_frame">
    <color rgba="0.82 0.7 0.5 1"/>
  </material>
  <material name="mat_hook">
    <color rgba="0.75 0.76 0.77 1"/>
  </material>
  <material name="mat_leaf">
    <color rgba="0.82 0.75 0.62 1"/>
  </material>
  <material name="mat_op_nickel_satin">
    <color rgba="0.72 0.7 0.66 1"/>
  </material>
  <material name="mat_track">
    <color rgba="0.8 0.81 0.83 1"/>
  </material>
  <material name="mat_wall">
    <color rgba="0.78 0.76 0.7 1"/>
  </material>
</robot>
