<?xml version="1.0" ?>
<robot xmlns:doorbench="https://github.com/adamraudonis/DoorBench/schema/urdf-ext" name="db0637_pivot_minimal">
  <link name="world_env">
    <visual name="floor_vis">
      <origin xyz="0 0 -0.05" rpy="0 0 0"/>
      <geometry>
        <box size="12 12 0.1"/>
      </geometry>
      <material name="mat_floor"/>
    </visual>
    <collision name="floor_col">
      <origin xyz="0 0 -0.05" rpy="0 0 0"/>
      <geometry>
        <box size="12 12 0.1"/>
      </geometry>
    </collision>
    <visual name="wall_left_vis">
      <origin xyz="-1.6505 -0.0705 1.506" rpy="0 0 0"/>
      <geometry>
        <box size="1.699 0.2 3.012"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_left_col">
      <origin xyz="-1.6505 -0.0705 1.506" rpy="0 0 0"/>
      <geometry>
        <box size="1.699 0.2 3.012"/>
      </geometry>
    </collision>
    <visual name="wall_right_vis">
      <origin xyz="1.6655 -0.0705 1.506" rpy="0 0 0"/>
      <geometry>
        <box size="1.669 0.2 3.012"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_right_col">
      <origin xyz="1.6655 -0.0705 1.506" rpy="0 0 0"/>
      <geometry>
        <box size="1.669 0.2 3.012"/>
      </geometry>
    </collision>
    <visual name="wall_header_vis">
      <origin xyz="0.015 -0.0705 2.7495" rpy="0 0 0"/>
      <geometry>
        <box size="1.632 0.2 0.525"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_header_col">
      <origin xyz="0.015 -0.0705 2.7495" rpy="0 0 0"/>
      <geometry>
        <box size="1.632 0.2 0.525"/>
      </geometry>
    </collision>
    <visual name="jamb_hinge_vis">
      <origin xyz="-0.7785 -0.0705 1.206" rpy="0 0 0"/>
      <geometry>
        <box size="0.045 0.2 2.412"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_hinge_col">
      <origin xyz="-0.7785 -0.0705 1.206" rpy="0 0 0"/>
      <geometry>
        <box size="0.045 0.2 2.412"/>
      </geometry>
    </collision>
    <visual name="strike_1190_wall_n_vis">
      <origin xyz="0.7935 -0.09 1.19" rpy="0 0 0"/>
      <geometry>
        <box size="0.075 0.161 0.031"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="strike_1190_wall_n_col">
      <origin xyz="0.7935 -0.09 1.19" rpy="0 0 0"/>
      <geometry>
        <box size="0.075 0.161 0.031"/>
      </geometry>
    </collision>
    <visual name="strike_1190_wall_p_vis">
      <origin xyz="0.7935 0.0195 1.19" rpy="0 0 0"/>
      <geometry>
        <box size="0.075 0.02 0.031"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="strike_1190_wall_p_col">
      <origin xyz="0.7935 0.0195 1.19" rpy="0 0 0"/>
      <geometry>
        <box size="0.075 0.02 0.031"/>
      </geometry>
    </collision>
    <visual name="strike_1190_back_vis">
      <origin xyz="0.8082 0 1.19" rpy="0 0 0"/>
      <geometry>
        <box size="0.0456 0.019 0.031"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="strike_1190_back_col">
      <origin xyz="0.8082 0 1.19" rpy="0 0 0"/>
      <geometry>
        <box size="0.0456 0.019 0.031"/>
      </geometry>
    </collision>
    <visual name="jamb_strike_0_vis">
      <origin xyz="0.7935 -0.0705 0.58725" rpy="0 0 0"/>
      <geometry>
        <box size="0.075 0.2 1.1745"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_strike_0_col">
      <origin xyz="0.7935 -0.0705 0.58725" rpy="0 0 0"/>
      <geometry>
        <box size="0.075 0.2 1.1745"/>
      </geometry>
    </collision>
    <visual name="jamb_strike_1_vis">
      <origin xyz="0.7935 -0.0705 1.80875" rpy="0 0 0"/>
      <geometry>
        <box size="0.075 0.2 1.2065"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_strike_1_col">
      <origin xyz="0.7935 -0.0705 1.80875" rpy="0 0 0"/>
      <geometry>
        <box size="0.075 0.2 1.2065"/>
      </geometry>
    </collision>
    <visual name="jamb_head_vis">
      <origin xyz="0.015 -0.0705 2.4345" rpy="0 0 0"/>
      <geometry>
        <box size="1.632 0.2 0.045"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_head_col">
      <origin xyz="0.015 -0.0705 2.4345" rpy="0 0 0"/>
      <geometry>
        <box size="1.632 0.2 0.045"/>
      </geometry>
    </collision>
    <visual name="head_stud_vis">
      <origin xyz="0.015 -0.0705 2.472" rpy="0 0 0"/>
      <geometry>
        <box size="1.632 0.2 0.03"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="head_stud_col">
      <origin xyz="0.015 -0.0705 2.472" rpy="0 0 0"/>
      <geometry>
        <box size="1.632 0.2 0.03"/>
      </geometry>
    </collision>
  </link>
  <link name="leaf">
    <inertial>
      <origin xyz="0.747085 -0.0325 1.204795" rpy="0 0 0"/>
      <mass value="115.832694"/>
      <inertia ixx="54.586331687" ixy="0" ixz="0.234620183" iyy="76.783847661" iyz="0" izz="22.27432359"/>
    </inertial>
    <visual name="leaf_slab_vis">
      <origin xyz="0.734 -0.0325 1.208" rpy="0 0 0"/>
      <geometry>
        <box size="1.5 0.045 2.4"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <collision name="leaf_slab_col">
      <origin xyz="0.734 -0.0325 1.208" rpy="0 0 0"/>
      <geometry>
        <box size="1.5 0.045 2.4"/>
      </geometry>
    </collision>
    <visual name="leaf_pull_n_vis">
      <origin xyz="1.379 -0.055 1.05" rpy="1.570796 0 0"/>
      <geometry>
        <mesh filename="../../hardware/pull_f8d79d6331.obj"/>
      </geometry>
      <material name="mat_op_stainless"/>
    </visual>
    <collision name="leaf_pull_col_n_col">
      <origin xyz="1.379 -0.13 1.05" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.0125" length="0.26"/>
      </geometry>
    </collision>
    <visual name="leaf_pull_p_vis">
      <origin xyz="1.379 -0.01 1.05" rpy="-1.570796 0 0"/>
      <geometry>
        <mesh filename="../../hardware/pull_f8d79d6331.obj"/>
      </geometry>
      <material name="mat_op_stainless"/>
    </visual>
    <collision name="leaf_pull_col_p_col">
      <origin xyz="1.379 0.065 1.05" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.0125" length="0.26"/>
      </geometry>
    </collision>
  </link>
  <joint name="leaf_hinge" type="revolute">
    <origin xyz="-0.737 0.0325 0" rpy="0 0 0"/>
    <parent link="world_env"/>
    <child link="leaf"/>
    <axis xyz="0 0 1"/>
    <limit lower="0" upper="1.919862" effort="2000" velocity="10"/>
    <dynamics damping="10.19429" friction="1.205275"/>
    <doorbench:spring stiffness="50.986878" springref="-2.013459" note="tau = -stiffness*(q - springref); not native URDF"/>
    <doorbench:closer damping_closing="100" damping_opening="8" backcheck_angle="1.4" backcheck_damping="60"/>
  </joint>
  <material name="mat_floor">
    <color rgba="0.55 0.53 0.5 1"/>
  </material>
  <material name="mat_frame">
    <color rgba="0.45 0.48 0.52 1"/>
  </material>
  <material name="mat_leaf">
    <color rgba="0.504 0.347 0.219 1"/>
  </material>
  <material name="mat_op_stainless">
    <color rgba="0.75 0.76 0.77 1"/>
  </material>
  <material name="mat_wall">
    <color rgba="0.78 0.76 0.7 1"/>
  </material>
</robot>
