<?xml version="1.0" ?>
<robot xmlns:doorbench="https://github.com/adamraudonis/DoorBench/schema/urdf-ext" name="db0719_swing_single_simple">
  <link name="world_env">
    <visual name="floor_vis">
      <origin xyz="0 0 -0.05" rpy="0 0 0"/>
      <geometry>
        <box size="12 12 0.1"/>
      </geometry>
      <material name="mat_floor"/>
    </visual>
    <collision name="floor_col">
      <origin xyz="0 0 -0.05" rpy="0 0 0"/>
      <geometry>
        <box size="12 12 0.1"/>
      </geometry>
    </collision>
    <visual name="wall_left_vis">
      <origin xyz="-1.5205 -0.009 1.35" rpy="0 0 0"/>
      <geometry>
        <box size="1.959 0.115 2.7"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_left_col">
      <origin xyz="-1.5205 -0.009 1.35" rpy="0 0 0"/>
      <geometry>
        <box size="1.959 0.115 2.7"/>
      </geometry>
    </collision>
    <visual name="wall_right_vis">
      <origin xyz="1.5055 -0.009 1.35" rpy="0 0 0"/>
      <geometry>
        <box size="1.989 0.115 2.7"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_right_col">
      <origin xyz="1.5055 -0.009 1.35" rpy="0 0 0"/>
      <geometry>
        <box size="1.989 0.115 2.7"/>
      </geometry>
    </collision>
    <visual name="wall_header_vis">
      <origin xyz="-0.015 -0.009 2.4125" rpy="0 0 0"/>
      <geometry>
        <box size="1.052 0.115 0.575"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_header_col">
      <origin xyz="-0.015 -0.009 2.4125" rpy="0 0 0"/>
      <geometry>
        <box size="1.052 0.115 0.575"/>
      </geometry>
    </collision>
    <visual name="hinge_0_jamb_vis">
      <origin xyz="0.458 0.0355 0.259" rpy="0 0 3.141593"/>
      <geometry>
        <mesh filename="../../hardware/hinge_jamb_8e208d7310.obj"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="hinge_1_jamb_vis">
      <origin xyz="0.458 0.0355 1.025" rpy="0 0 3.141593"/>
      <geometry>
        <mesh filename="../../hardware/hinge_jamb_8e208d7310.obj"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="hinge_2_jamb_vis">
      <origin xyz="0.458 0.0355 1.861" rpy="0 0 3.141593"/>
      <geometry>
        <mesh filename="../../hardware/hinge_jamb_8e208d7310.obj"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="jamb_hinge_vis">
      <origin xyz="0.486 -0.009 1.0225" rpy="0 0 0"/>
      <geometry>
        <box size="0.05 0.115 2.045"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_hinge_col">
      <origin xyz="0.486 -0.009 1.0225" rpy="0 0 0"/>
      <geometry>
        <box size="0.05 0.115 2.045"/>
      </geometry>
    </collision>
    <visual name="strike_1040_wall_n_vis">
      <origin xyz="-0.501 -0.038 1.04" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.057 0.0366"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="strike_1040_wall_n_col">
      <origin xyz="-0.501 -0.038 1.04" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.057 0.0366"/>
      </geometry>
    </collision>
    <visual name="strike_1040_wall_p_vis">
      <origin xyz="-0.501 0.0175 1.04" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.016 0.0366"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="strike_1040_wall_p_col">
      <origin xyz="-0.501 0.0175 1.04" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.016 0.0366"/>
      </geometry>
    </collision>
    <visual name="strike_1040_ramp_vis">
      <origin xyz="-0.507269 0.030131 1.04" rpy="0 0 0.435353"/>
      <geometry>
        <box size="0.08 0.047424 0.0366"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="strike_1040_ramp_col">
      <origin xyz="-0.507269 0.030131 1.04" rpy="0 0 0.435353"/>
      <geometry>
        <box size="0.08 0.047424 0.0366"/>
      </geometry>
    </collision>
    <visual name="strike_1040_back_vis">
      <origin xyz="-0.5125 0 1.04" rpy="0 0 0"/>
      <geometry>
        <box size="0.057 0.019 0.0366"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="strike_1040_back_col">
      <origin xyz="-0.5125 0 1.04" rpy="0 0 0"/>
      <geometry>
        <box size="0.057 0.019 0.0366"/>
      </geometry>
    </collision>
    <visual name="jamb_strike_0_vis">
      <origin xyz="-0.501 -0.009 0.51085" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.115 1.0217"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_strike_0_col">
      <origin xyz="-0.501 -0.009 0.51085" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.115 1.0217"/>
      </geometry>
    </collision>
    <visual name="jamb_strike_1_vis">
      <origin xyz="-0.501 -0.009 1.55165" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.115 0.9867"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_strike_1_col">
      <origin xyz="-0.501 -0.009 1.55165" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.115 0.9867"/>
      </geometry>
    </collision>
    <visual name="jamb_head_vis">
      <origin xyz="-0.015 -0.009 2.07" rpy="0 0 0"/>
      <geometry>
        <box size="1.052 0.115 0.05"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_head_col">
      <origin xyz="-0.015 -0.009 2.07" rpy="0 0 0"/>
      <geometry>
        <box size="1.052 0.115 0.05"/>
      </geometry>
    </collision>
    <visual name="head_stud_vis">
      <origin xyz="-0.015 -0.009 2.11" rpy="0 0 0"/>
      <geometry>
        <box size="1.052 0.115 0.03"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="head_stud_col">
      <origin xyz="-0.015 -0.009 2.11" rpy="0 0 0"/>
      <geometry>
        <box size="1.052 0.115 0.03"/>
      </geometry>
    </collision>
    <visual name="stop_hinge_vis">
      <origin xyz="0.4555 -0.045 1.0225" rpy="0 0 0"/>
      <geometry>
        <box size="0.011 0.032 2.045"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="stop_hinge_col">
      <origin xyz="0.4555 -0.045 1.0225" rpy="0 0 0"/>
      <geometry>
        <box size="0.011 0.032 2.045"/>
      </geometry>
    </collision>
    <visual name="stop_strike_vis">
      <origin xyz="-0.4555 -0.045 1.0225" rpy="0 0 0"/>
      <geometry>
        <box size="0.011 0.032 2.045"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="stop_strike_col">
      <origin xyz="-0.4555 -0.045 1.0225" rpy="0 0 0"/>
      <geometry>
        <box size="0.011 0.032 2.045"/>
      </geometry>
    </collision>
    <visual name="stop_head_vis">
      <origin xyz="0 -0.045 2.0395" rpy="0 0 0"/>
      <geometry>
        <box size="0.922 0.032 0.011"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="stop_head_col">
      <origin xyz="0 -0.045 2.0395" rpy="0 0 0"/>
      <geometry>
        <box size="0.922 0.032 0.011"/>
      </geometry>
    </collision>
    <visual name="wall_reader_vis">
      <origin xyz="-0.711 -0.0815 1.1" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.03 0.12"/>
      </geometry>
      <material name="mat_wallreader"/>
    </visual>
    <collision name="wall_reader_col">
      <origin xyz="-0.711 -0.0815 1.1" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.03 0.12"/>
      </geometry>
    </collision>
    <visual name="rex_plate_vis">
      <origin xyz="-0.711 0.0515 1.1" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.006 0.12"/>
      </geometry>
      <material name="mat_wallreader"/>
    </visual>
    <visual name="wall_bumper_stop_vis">
      <origin xyz="0.485 0.8124 0.35" rpy="-0.269078 1.570796 -0.269078"/>
      <geometry>
        <cylinder radius="0.025" length="0.04"/>
      </geometry>
      <material name="mat_bumper_stop"/>
    </visual>
    <collision name="wall_bumper_stop_col">
      <origin xyz="0.485 0.8124 0.35" rpy="-0.269078 1.570796 -0.269078"/>
      <geometry>
        <cylinder radius="0.025" length="0.04"/>
      </geometry>
    </collision>
  </link>
  <link name="leaf">
    <inertial>
      <origin xyz="-0.431623 -0.025009 1.133335" rpy="0 0 0"/>
      <mass value="95.403854"/>
      <inertia ixx="39.852024035" ixy="-0.150796565" ixz="-1.744714639" iyy="45.923377021" iyz="-0.937331919" izz="6.287287538"/>
    </inertial>
    <visual name="leaf_slab_vis">
      <origin xyz="-0.457 -0.0355 1.025" rpy="0 0 0"/>
      <geometry>
        <box size="0.914 0.057 2.032"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <collision name="leaf_slab_col">
      <origin xyz="-0.457 -0.0355 1.025" rpy="0 0 0"/>
      <geometry>
        <box size="0.914 0.057 2.032"/>
      </geometry>
    </collision>
    <visual name="hinge_0_vis">
      <origin xyz="0 0 0.259" rpy="0 0 3.141593"/>
      <geometry>
        <mesh filename="../../hardware/hinge_dcb8da44bf.obj"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="hinge_1_vis">
      <origin xyz="0 0 1.025" rpy="0 0 3.141593"/>
      <geometry>
        <mesh filename="../../hardware/hinge_dcb8da44bf.obj"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="hinge_2_vis">
      <origin xyz="0 0 1.861" rpy="0 0 3.141593"/>
      <geometry>
        <mesh filename="../../hardware/hinge_dcb8da44bf.obj"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="leaf_handle_escutcheon_n_vis">
      <origin xyz="-0.844 -0.0655 1.04" rpy="0 0 0"/>
      <geometry>
        <box size="0.045 0.003 0.24"/>
      </geometry>
      <material name="mat_op_brass"/>
    </visual>
    <visual name="leaf_handle_escutcheon_p_vis">
      <origin xyz="-0.844 -0.0055 1.04" rpy="0 0 0"/>
      <geometry>
        <box size="0.045 0.003 0.24"/>
      </geometry>
      <material name="mat_op_brass"/>
    </visual>
    <visual name="leaf_latch_bolt_faceplate_vis">
      <origin xyz="-0.9134 -0.0355 1.04" rpy="0 0 0"/>
      <geometry>
        <box size="0.0012 0.028 0.0566"/>
      </geometry>
      <material name="mat_bolt"/>
    </visual>
    <visual name="closer_body_vis">
      <origin xyz="-0.297 -0.007 1.952" rpy="1.570796 0 3.141593"/>
      <geometry>
        <mesh filename="../../hardware/closer_body_fdc4667657.obj"/>
      </geometry>
      <material name="mat_closer"/>
    </visual>
    <collision name="closer_body_col_col">
      <origin xyz="-0.297 0.043 1.952" rpy="0 0 0"/>
      <geometry>
        <box size="0.29 0.1 0.07"/>
      </geometry>
    </collision>
    <visual name="kick_plate_n_vis">
      <origin xyz="-0.457 -0.0648 0.144" rpy="0 0 0"/>
      <geometry>
        <box size="0.854 0.0016 0.25"/>
      </geometry>
      <material name="mat_kick"/>
    </visual>
  </link>
  <link name="leaf_handle">
    <inertial>
      <origin xyz="0.043135 0 0" rpy="0 0 0"/>
      <mass value="0.776327"/>
      <inertia ixx="0.004507381" ixy="0" ixz="0" iyy="0.001583515" iyz="0" izz="0.006045843"/>
    </inertial>
    <visual name="leaf_handle_lever_n_vis">
      <origin xyz="0 -0.0285 0" rpy="-1.570796 0 3.141593"/>
      <geometry>
        <mesh filename="../../hardware/lever_6fbb1e9593.obj"/>
      </geometry>
      <material name="mat_op_brass"/>
    </visual>
    <collision name="leaf_handle_lever_col_n_col">
      <origin xyz="0.065 -0.0835 0" rpy="0 1.570796 0"/>
      <geometry>
        <cylinder radius="0.01" length="0.11"/>
      </geometry>
    </collision>
    <collision name="leaf_handle_hub_col_n_col">
      <origin xyz="0 -0.0585 0" rpy="-1.570796 0 0"/>
      <geometry>
        <cylinder radius="0.012" length="0.044"/>
      </geometry>
    </collision>
    <visual name="leaf_handle_lever_p_vis">
      <origin xyz="0 0.0285 0" rpy="1.570796 0 3.141593"/>
      <geometry>
        <mesh filename="../../hardware/lever_6fbb1e9593.obj"/>
      </geometry>
      <material name="mat_op_brass"/>
    </visual>
    <collision name="leaf_handle_lever_col_p_col">
      <origin xyz="0.065 0.0835 0" rpy="0 1.570796 0"/>
      <geometry>
        <cylinder radius="0.01" length="0.11"/>
      </geometry>
    </collision>
    <collision name="leaf_handle_hub_col_p_col">
      <origin xyz="0 0.0585 0" rpy="-1.570796 0 0"/>
      <geometry>
        <cylinder radius="0.012" length="0.044"/>
      </geometry>
    </collision>
  </link>
  <link name="leaf_latch_bolt">
    <inertial>
      <origin xyz="0.0055 0 0" rpy="0 0 0"/>
      <mass value="0.074627"/>
      <inertia ixx="0.000002271" ixy="0" ixz="0" iyy="0.000013255" iyz="0" izz="0.000013255"/>
    </inertial>
    <visual name="leaf_latch_bolt_capsule_vis">
      <origin xyz="0.0055 0 0" rpy="0 -1.570796 0"/>
      <geometry>
        <cylinder radius="0.008" length="0.033"/>
      </geometry>
      <material name="mat_bolt"/>
    </visual>
    <collision name="leaf_latch_bolt_capsule_col">
      <origin xyz="0.0055 0 0" rpy="0 -1.570796 0"/>
      <geometry>
        <cylinder radius="0.008" length="0.033"/>
      </geometry>
    </collision>
  </link>
  <link name="rex_button">
    <inertial>
      <origin xyz="0 0.004 0" rpy="0 0 0"/>
      <mass value="0.010053"/>
      <inertia ixx="0.000001059" ixy="0" ixz="0" iyy="0.000002011" iyz="0" izz="0.000001059"/>
    </inertial>
    <visual name="rex_button_geom_vis">
      <origin xyz="0 0.004 0" rpy="-1.570796 0 0"/>
      <geometry>
        <cylinder radius="0.02" length="0.008"/>
      </geometry>
      <material name="mat_rex"/>
    </visual>
    <collision name="rex_button_geom_col">
      <origin xyz="0 0.004 0" rpy="-1.570796 0 0"/>
      <geometry>
        <cylinder radius="0.02" length="0.008"/>
      </geometry>
    </collision>
  </link>
  <joint name="leaf_hinge" type="revolute">
    <origin xyz="0.458 0.0355 0" rpy="0 0 0"/>
    <parent link="world_env"/>
    <child link="leaf"/>
    <axis xyz="0 0 -1"/>
    <limit lower="0" upper="1.570796" effort="2000" velocity="10"/>
    <dynamics damping="12.25611" friction="1.065633"/>
    <doorbench:spring stiffness="14.998762" springref="-3.132925" note="tau = -stiffness*(q - springref); not native URDF"/>
    <doorbench:closer damping_closing="81" damping_opening="12" backcheck_angle="1.22" backcheck_damping="60"/>
  </joint>
  <joint name="leaf_handle_hinge" type="revolute">
    <origin xyz="-0.844 -0.0355 1.04" rpy="0 0 0"/>
    <parent link="leaf"/>
    <child link="leaf_handle"/>
    <axis xyz="0 1 0"/>
    <limit lower="0" upper="0.7" effort="2000" velocity="10"/>
    <dynamics damping="0.02" friction="0.064"/>
    <doorbench:spring stiffness="1.4" springref="-0.357143" note="tau = -stiffness*(q - springref); not native URDF"/>
  </joint>
  <joint name="leaf_latch_bolt_slide" type="prismatic">
    <origin xyz="-0.914 -0.0355 1.04" rpy="0 0 0"/>
    <parent link="leaf"/>
    <child link="leaf_latch_bolt"/>
    <axis xyz="1 0 0"/>
    <limit lower="0" upper="0.019" effort="5000" velocity="10"/>
    <dynamics damping="2" friction="0.3"/>
    <doorbench:spring stiffness="600" springref="-0.01" note="tau = -stiffness*(q - springref); not native URDF"/>
    <mimic joint="leaf_handle_hinge" multiplier="0.028788" offset="0"/>
    <doorbench:coupling one_sided="true" note="MJCF uses a one-sided tendon (bolt may retract further, e.g. riding over the strike lip); mimic is bilateral"/>
  </joint>
  <joint name="rex_button_slide" type="prismatic">
    <origin xyz="-0.711 0.0605 1.1" rpy="0 0 0"/>
    <parent link="world_env"/>
    <child link="rex_button"/>
    <axis xyz="0 -1 0"/>
    <limit lower="0" upper="0.004" effort="5000" velocity="10"/>
    <dynamics damping="1" friction="0"/>
    <doorbench:spring stiffness="1500" springref="-0.004" note="tau = -stiffness*(q - springref); not native URDF"/>
  </joint>
  <material name="mat_bolt">
    <color rgba="0.85 0.66 0.3 1"/>
  </material>
  <material name="mat_bumper_stop">
    <color rgba="0.08 0.08 0.08 1"/>
  </material>
  <material name="mat_closer">
    <color rgba="0.22 0.17 0.13 1"/>
  </material>
  <material name="mat_floor">
    <color rgba="0.55 0.53 0.5 1"/>
  </material>
  <material name="mat_frame">
    <color rgba="0.45 0.48 0.52 1"/>
  </material>
  <material name="mat_hinge">
    <color rgba="0.65 0.66 0.68 1"/>
  </material>
  <material name="mat_kick">
    <color rgba="0.75 0.76 0.77 1"/>
  </material>
  <material name="mat_leaf">
    <color rgba="0.5 0.51 0.53 1"/>
  </material>
  <material name="mat_op_brass">
    <color rgba="0.85 0.66 0.3 1"/>
  </material>
  <material name="mat_rex">
    <color rgba="0.1 0.6 0.2 1"/>
  </material>
  <material name="mat_wall">
    <color rgba="0.78 0.76 0.7 1"/>
  </material>
  <material name="mat_wallreader">
    <color rgba="0.05 0.05 0.05 1"/>
  </material>
</robot>
