<?xml version="1.0" ?>
<robot xmlns:doorbench="https://github.com/adamraudonis/DoorBench/schema/urdf-ext" name="db0841_swing_double_simple">
  <link name="world_env">
    <visual name="floor_vis">
      <origin xyz="0 0 -0.05" rpy="0 0 0"/>
      <geometry>
        <box size="12 12 0.1"/>
      </geometry>
      <material name="mat_floor"/>
    </visual>
    <collision name="floor_col">
      <origin xyz="0 0 -0.05" rpy="0 0 0"/>
      <geometry>
        <box size="12 12 0.1"/>
      </geometry>
    </collision>
    <visual name="wall_left_vis">
      <origin xyz="-1.68375 0.108 1.3735" rpy="0 0 0"/>
      <geometry>
        <box size="1.6325 0.3 2.747"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_left_col">
      <origin xyz="-1.68375 0.108 1.3735" rpy="0 0 0"/>
      <geometry>
        <box size="1.6325 0.3 2.747"/>
      </geometry>
    </collision>
    <visual name="wall_right_vis">
      <origin xyz="1.68375 0.108 1.3735" rpy="0 0 0"/>
      <geometry>
        <box size="1.6325 0.3 2.747"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_right_col">
      <origin xyz="1.68375 0.108 1.3735" rpy="0 0 0"/>
      <geometry>
        <box size="1.6325 0.3 2.747"/>
      </geometry>
    </collision>
    <visual name="wall_header_vis">
      <origin xyz="0 0.108 2.487" rpy="0 0 0"/>
      <geometry>
        <box size="1.735 0.3 0.52"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_header_col">
      <origin xyz="0 0.108 2.487" rpy="0 0 0"/>
      <geometry>
        <box size="1.735 0.3 0.52"/>
      </geometry>
    </collision>
    <visual name="leaf_a_maglock_body_vis">
      <origin xyz="-0.178 -0.052 2.117" rpy="0 0 0"/>
      <geometry>
        <box size="0.25 0.05 0.04"/>
      </geometry>
      <material name="mat_maglock"/>
    </visual>
    <collision name="leaf_a_maglock_body_col">
      <origin xyz="-0.178 -0.052 2.117" rpy="0 0 0"/>
      <geometry>
        <box size="0.25 0.05 0.04"/>
      </geometry>
    </collision>
    <visual name="leaf_b_maglock_body_vis">
      <origin xyz="0.178 -0.052 2.117" rpy="0 0 0"/>
      <geometry>
        <box size="0.25 0.05 0.04"/>
      </geometry>
      <material name="mat_maglock"/>
    </visual>
    <collision name="leaf_b_maglock_body_col">
      <origin xyz="0.178 -0.052 2.117" rpy="0 0 0"/>
      <geometry>
        <box size="0.25 0.05 0.04"/>
      </geometry>
    </collision>
    <visual name="jamb_l_vis">
      <origin xyz="-0.8425 0.108 1.0735" rpy="0 0 0"/>
      <geometry>
        <box size="0.05 0.3 2.147"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_l_col">
      <origin xyz="-0.8425 0.108 1.0735" rpy="0 0 0"/>
      <geometry>
        <box size="0.05 0.3 2.147"/>
      </geometry>
    </collision>
    <visual name="jamb_r_vis">
      <origin xyz="0.8425 0.108 1.0735" rpy="0 0 0"/>
      <geometry>
        <box size="0.05 0.3 2.147"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_r_col">
      <origin xyz="0.8425 0.108 1.0735" rpy="0 0 0"/>
      <geometry>
        <box size="0.05 0.3 2.147"/>
      </geometry>
    </collision>
    <visual name="jamb_head_vis">
      <origin xyz="0 0.108 2.172" rpy="0 0 0"/>
      <geometry>
        <box size="1.735 0.3 0.05"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_head_col">
      <origin xyz="0 0.108 2.172" rpy="0 0 0"/>
      <geometry>
        <box size="1.735 0.3 0.05"/>
      </geometry>
    </collision>
    <visual name="head_stud_vis">
      <origin xyz="0 0.108 2.212" rpy="0 0 0"/>
      <geometry>
        <box size="1.735 0.3 0.03"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="head_stud_col">
      <origin xyz="0 0.108 2.212" rpy="0 0 0"/>
      <geometry>
        <box size="1.735 0.3 0.03"/>
      </geometry>
    </collision>
    <visual name="stop_l_vis">
      <origin xyz="-0.8025 0.0305 1.0735" rpy="0 0 0"/>
      <geometry>
        <box size="0.03 0.016 2.147"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="stop_l_col">
      <origin xyz="-0.8025 0.0305 1.0735" rpy="0 0 0"/>
      <geometry>
        <box size="0.03 0.016 2.147"/>
      </geometry>
    </collision>
    <visual name="stop_r_vis">
      <origin xyz="0.8025 0.0305 1.0735" rpy="0 0 0"/>
      <geometry>
        <box size="0.03 0.016 2.147"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="stop_r_col">
      <origin xyz="0.8025 0.0305 1.0735" rpy="0 0 0"/>
      <geometry>
        <box size="0.03 0.016 2.147"/>
      </geometry>
    </collision>
    <visual name="stop_head_vis">
      <origin xyz="0 0.0305 2.132" rpy="0 0 0"/>
      <geometry>
        <box size="1.635 0.016 0.03"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="stop_head_col">
      <origin xyz="0 0.0305 2.132" rpy="0 0 0"/>
      <geometry>
        <box size="1.635 0.016 0.03"/>
      </geometry>
    </collision>
    <visual name="mullion_a_1016_wall_n_vis">
      <origin xyz="-0.0125 0.1345 1.016" rpy="0 0 0"/>
      <geometry>
        <box size="0.025 0.247 0.04"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="mullion_a_1016_wall_n_col">
      <origin xyz="-0.0125 0.1345 1.016" rpy="0 0 0"/>
      <geometry>
        <box size="0.025 0.247 0.04"/>
      </geometry>
    </collision>
    <visual name="mullion_a_1016_wall_p_vis">
      <origin xyz="-0.0125 -0.019 1.016" rpy="0 0 0"/>
      <geometry>
        <box size="0.025 0.016 0.04"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="mullion_a_1016_wall_p_col">
      <origin xyz="-0.0125 -0.019 1.016" rpy="0 0 0"/>
      <geometry>
        <box size="0.025 0.016 0.04"/>
      </geometry>
    </collision>
    <visual name="mullion_a_1016_ramp_vis">
      <origin xyz="-0.004147 -0.038298 1.016" rpy="0 0 0.519146"/>
      <geometry>
        <box size="0.025 0.040311 0.04"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="mullion_a_1016_ramp_col">
      <origin xyz="-0.004147 -0.038298 1.016" rpy="0 0 0.519146"/>
      <geometry>
        <box size="0.025 0.040311 0.04"/>
      </geometry>
    </collision>
    <visual name="mullion_a_1016_back_vis">
      <origin xyz="0 0 1.016" rpy="0 0 0"/>
      <geometry>
        <box size="0.004 0.022 0.04"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="mullion_a_1016_back_col">
      <origin xyz="0 0 1.016" rpy="0 0 0"/>
      <geometry>
        <box size="0.004 0.022 0.04"/>
      </geometry>
    </collision>
    <visual name="mullion_a_seg_0_vis">
      <origin xyz="-0.0125 0.108 0.498" rpy="0 0 0"/>
      <geometry>
        <box size="0.025 0.3 0.996"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="mullion_a_seg_0_col">
      <origin xyz="-0.0125 0.108 0.498" rpy="0 0 0"/>
      <geometry>
        <box size="0.025 0.3 0.996"/>
      </geometry>
    </collision>
    <visual name="mullion_a_seg_1_vis">
      <origin xyz="-0.0125 0.108 1.5915" rpy="0 0 0"/>
      <geometry>
        <box size="0.025 0.3 1.111"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="mullion_a_seg_1_col">
      <origin xyz="-0.0125 0.108 1.5915" rpy="0 0 0"/>
      <geometry>
        <box size="0.025 0.3 1.111"/>
      </geometry>
    </collision>
    <visual name="mullion_b_1016_wall_n_vis">
      <origin xyz="0.0125 0.1345 1.016" rpy="0 0 0"/>
      <geometry>
        <box size="0.025 0.247 0.04"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="mullion_b_1016_wall_n_col">
      <origin xyz="0.0125 0.1345 1.016" rpy="0 0 0"/>
      <geometry>
        <box size="0.025 0.247 0.04"/>
      </geometry>
    </collision>
    <visual name="mullion_b_1016_wall_p_vis">
      <origin xyz="0.0125 -0.019 1.016" rpy="0 0 0"/>
      <geometry>
        <box size="0.025 0.016 0.04"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="mullion_b_1016_wall_p_col">
      <origin xyz="0.0125 -0.019 1.016" rpy="0 0 0"/>
      <geometry>
        <box size="0.025 0.016 0.04"/>
      </geometry>
    </collision>
    <visual name="mullion_b_1016_ramp_vis">
      <origin xyz="0.004147 -0.038298 1.016" rpy="0 0 -0.519146"/>
      <geometry>
        <box size="0.025 0.040311 0.04"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="mullion_b_1016_ramp_col">
      <origin xyz="0.004147 -0.038298 1.016" rpy="0 0 -0.519146"/>
      <geometry>
        <box size="0.025 0.040311 0.04"/>
      </geometry>
    </collision>
    <visual name="mullion_b_1016_back_vis">
      <origin xyz="0 0 1.016" rpy="0 0 0"/>
      <geometry>
        <box size="0.004 0.022 0.04"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="mullion_b_1016_back_col">
      <origin xyz="0 0 1.016" rpy="0 0 0"/>
      <geometry>
        <box size="0.004 0.022 0.04"/>
      </geometry>
    </collision>
    <visual name="mullion_b_seg_0_vis">
      <origin xyz="0.0125 0.108 0.498" rpy="0 0 0"/>
      <geometry>
        <box size="0.025 0.3 0.996"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="mullion_b_seg_0_col">
      <origin xyz="0.0125 0.108 0.498" rpy="0 0 0"/>
      <geometry>
        <box size="0.025 0.3 0.996"/>
      </geometry>
    </collision>
    <visual name="mullion_b_seg_1_vis">
      <origin xyz="0.0125 0.108 1.5915" rpy="0 0 0"/>
      <geometry>
        <box size="0.025 0.3 1.111"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="mullion_b_seg_1_col">
      <origin xyz="0.0125 0.108 1.5915" rpy="0 0 0"/>
      <geometry>
        <box size="0.025 0.3 1.111"/>
      </geometry>
    </collision>
  </link>
  <link name="leaf_a">
    <inertial>
      <origin xyz="0.377128 0.019238 1.14443" rpy="0 0 0"/>
      <mass value="60.524731"/>
      <inertia ixx="29.986875929" ixy="-0.042732553" ixz="0.562966417" iyy="32.85434932" iyz="0.459913171" izz="2.955696607"/>
    </inertial>
    <visual name="leaf_a_slab_vis">
      <origin xyz="0.39325 0.029 1.076" rpy="0 0 0"/>
      <geometry>
        <box size="0.7865 0.044 2.134"/>
      </geometry>
      <material name="mat_leaf_a"/>
    </visual>
    <collision name="leaf_a_slab_col">
      <origin xyz="0.39325 0.029 1.076" rpy="0 0 0"/>
      <geometry>
        <box size="0.7865 0.044 2.134"/>
      </geometry>
    </collision>
    <visual name="leaf_a_glass_0_vis">
      <origin xyz="0.39325 0.029 1.5028" rpy="0 0 0"/>
      <geometry>
        <box size="0.23595 0.0456 0.6402"/>
      </geometry>
      <material name="mat_glass"/>
    </visual>
    <visual name="hinge_0_vis">
      <origin xyz="0 0 0.259" rpy="0 0 -1.570796"/>
      <geometry>
        <mesh filename="../../hardware/hinge_dcb8da44bf.obj"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="hinge_1_vis">
      <origin xyz="0 0 1.076" rpy="0 0 -1.570796"/>
      <geometry>
        <mesh filename="../../hardware/hinge_dcb8da44bf.obj"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="hinge_2_vis">
      <origin xyz="0 0 1.963" rpy="0 0 -1.570796"/>
      <geometry>
        <mesh filename="../../hardware/hinge_dcb8da44bf.obj"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="leaf_a_far_pull_n_vis">
      <origin xyz="0.6965 0.007 1.016" rpy="1.570796 0 0"/>
      <geometry>
        <mesh filename="../../hardware/pull_1e5d69a91a.obj"/>
      </geometry>
      <material name="mat_op_stainless"/>
    </visual>
    <collision name="leaf_a_far_pull_col_n_col">
      <origin xyz="0.6965 -0.053 1.016" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.0095" length="0.16"/>
      </geometry>
    </collision>
    <visual name="leaf_a_maglock_armature_vis">
      <origin xyz="0.6365 0.002 2.123" rpy="0 0 0"/>
      <geometry>
        <box size="0.18 0.01 0.04"/>
      </geometry>
      <material name="mat_maglock"/>
    </visual>
    <visual name="closer_body_vis">
      <origin xyz="0.297 0.007 2.054" rpy="1.570796 0 0"/>
      <geometry>
        <mesh filename="../../hardware/closer_body_b226fdb10b.obj"/>
      </geometry>
      <material name="mat_closer"/>
    </visual>
    <collision name="closer_body_col_col">
      <origin xyz="0.297 -0.033 2.054" rpy="0 0 0"/>
      <geometry>
        <box size="0.24 0.08 0.06"/>
      </geometry>
    </collision>
    <visual name="kick_plate_n_vis">
      <origin xyz="0.39325 0.0062 0.144" rpy="0 0 0"/>
      <geometry>
        <box size="0.7265 0.0016 0.25"/>
      </geometry>
      <material name="mat_kick"/>
    </visual>
    <visual name="kick_plate_p_vis">
      <origin xyz="0.39325 0.0518 0.144" rpy="0 0 0"/>
      <geometry>
        <box size="0.7265 0.0016 0.25"/>
      </geometry>
      <material name="mat_kick"/>
    </visual>
  </link>
  <link name="leaf_a_exit_device">
    <inertial>
      <origin xyz="0 0.057644 0" rpy="0 0 0"/>
      <mass value="1.934494"/>
      <inertia ixx="0.000338382" ixy="0" ixz="0" iyy="0.068956491" iyz="0" izz="0.069151805"/>
    </inertial>
    <visual name="leaf_a_exit_device_mesh_vis">
      <origin xyz="0 0 0" rpy="-1.570796 0 0"/>
      <geometry>
        <mesh filename="../../hardware/crossbar_268e86df6c.obj"/>
      </geometry>
      <material name="mat_op_brass"/>
    </visual>
    <collision name="leaf_a_exit_device_col_col">
      <origin xyz="0 0.06 0" rpy="0 1.570796 0"/>
      <geometry>
        <cylinder radius="0.0125" length="0.589875"/>
      </geometry>
    </collision>
  </link>
  <link name="leaf_a_latch_bolt">
    <inertial>
      <origin xyz="-0.0055 0 0" rpy="0 0 0"/>
      <mass value="0.102826"/>
      <inertia ixx="0.000004365" ixy="0" ixz="0" iyy="0.000018287" iyz="0" izz="0.000018287"/>
    </inertial>
    <visual name="leaf_a_latch_bolt_capsule_vis">
      <origin xyz="-0.0055 0 0" rpy="0 1.570796 0"/>
      <geometry>
        <cylinder radius="0.0095" length="0.03"/>
      </geometry>
      <material name="mat_bolt"/>
    </visual>
    <collision name="leaf_a_latch_bolt_capsule_col">
      <origin xyz="-0.0055 0 0" rpy="0 1.570796 0"/>
      <geometry>
        <cylinder radius="0.0095" length="0.03"/>
      </geometry>
    </collision>
  </link>
  <link name="leaf_b">
    <inertial>
      <origin xyz="-0.37666 0.019238 1.14443" rpy="0 0 0"/>
      <mass value="60.524731"/>
      <inertia ixx="29.986875929" ixy="0.04327768" ixz="-0.561688576" iyy="32.875708341" iyz="0.459913171" izz="2.977055629"/>
    </inertial>
    <visual name="leaf_b_slab_vis">
      <origin xyz="-0.39325 0.029 1.076" rpy="0 0 0"/>
      <geometry>
        <box size="0.7865 0.044 2.134"/>
      </geometry>
      <material name="mat_leaf_b"/>
    </visual>
    <collision name="leaf_b_slab_col">
      <origin xyz="-0.39325 0.029 1.076" rpy="0 0 0"/>
      <geometry>
        <box size="0.7865 0.044 2.134"/>
      </geometry>
    </collision>
    <visual name="leaf_b_glass_0_vis">
      <origin xyz="-0.39325 0.029 1.5028" rpy="0 0 0"/>
      <geometry>
        <box size="0.23595 0.0456 0.6402"/>
      </geometry>
      <material name="mat_glass"/>
    </visual>
    <visual name="hinge_0_2_vis">
      <origin xyz="0 0 0.259" rpy="0 0 -1.570796"/>
      <geometry>
        <mesh filename="../../hardware/hinge_dcb8da44bf.obj"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="hinge_1_2_vis">
      <origin xyz="0 0 1.076" rpy="0 0 -1.570796"/>
      <geometry>
        <mesh filename="../../hardware/hinge_dcb8da44bf.obj"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="hinge_2_2_vis">
      <origin xyz="0 0 1.963" rpy="0 0 -1.570796"/>
      <geometry>
        <mesh filename="../../hardware/hinge_dcb8da44bf.obj"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="leaf_b_far_pull_n_vis">
      <origin xyz="-0.6965 0.007 1.016" rpy="-1.570796 0 3.141593"/>
      <geometry>
        <mesh filename="../../hardware/pull_1e5d69a91a.obj"/>
      </geometry>
      <material name="mat_op_stainless"/>
    </visual>
    <collision name="leaf_b_far_pull_col_n_col">
      <origin xyz="-0.6965 -0.053 1.016" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.0095" length="0.16"/>
      </geometry>
    </collision>
    <visual name="leaf_b_maglock_armature_vis">
      <origin xyz="-0.6365 0.002 2.123" rpy="0 0 0"/>
      <geometry>
        <box size="0.18 0.01 0.04"/>
      </geometry>
      <material name="mat_maglock"/>
    </visual>
    <visual name="closer_body_2_vis">
      <origin xyz="-0.297 0.007 2.054" rpy="-1.570796 0 3.141593"/>
      <geometry>
        <mesh filename="../../hardware/closer_body_b226fdb10b.obj"/>
      </geometry>
      <material name="mat_closer"/>
    </visual>
    <collision name="closer_body_col_2_col">
      <origin xyz="-0.297 -0.033 2.054" rpy="0 0 0"/>
      <geometry>
        <box size="0.24 0.08 0.06"/>
      </geometry>
    </collision>
    <visual name="kick_plate_n_2_vis">
      <origin xyz="-0.39325 0.0062 0.144" rpy="0 0 0"/>
      <geometry>
        <box size="0.7265 0.0016 0.25"/>
      </geometry>
      <material name="mat_kick"/>
    </visual>
    <visual name="kick_plate_p_2_vis">
      <origin xyz="-0.39325 0.0518 0.144" rpy="0 0 0"/>
      <geometry>
        <box size="0.7265 0.0016 0.25"/>
      </geometry>
      <material name="mat_kick"/>
    </visual>
  </link>
  <link name="leaf_b_exit_device">
    <inertial>
      <origin xyz="0 0.057644 0" rpy="0 0 0"/>
      <mass value="1.934494"/>
      <inertia ixx="0.000338382" ixy="0" ixz="0" iyy="0.068956491" iyz="0" izz="0.069151805"/>
    </inertial>
    <visual name="leaf_b_exit_device_mesh_vis">
      <origin xyz="0 0 0" rpy="1.570796 0 3.141593"/>
      <geometry>
        <mesh filename="../../hardware/crossbar_268e86df6c.obj"/>
      </geometry>
      <material name="mat_op_brass"/>
    </visual>
    <collision name="leaf_b_exit_device_col_col">
      <origin xyz="0 0.06 0" rpy="0 1.570796 0"/>
      <geometry>
        <cylinder radius="0.0125" length="0.589875"/>
      </geometry>
    </collision>
  </link>
  <link name="leaf_b_latch_bolt">
    <inertial>
      <origin xyz="0.0055 0 0" rpy="0 0 0"/>
      <mass value="0.102826"/>
      <inertia ixx="0.000004365" ixy="0" ixz="0" iyy="0.000018287" iyz="0" izz="0.000018287"/>
    </inertial>
    <visual name="leaf_b_latch_bolt_capsule_vis">
      <origin xyz="0.0055 0 0" rpy="0 -1.570796 0"/>
      <geometry>
        <cylinder radius="0.0095" length="0.03"/>
      </geometry>
      <material name="mat_bolt"/>
    </visual>
    <collision name="leaf_b_latch_bolt_capsule_col">
      <origin xyz="0.0055 0 0" rpy="0 -1.570796 0"/>
      <geometry>
        <cylinder radius="0.0095" length="0.03"/>
      </geometry>
    </collision>
  </link>
  <joint name="leaf_a_hinge" type="revolute">
    <origin xyz="-0.8145 -0.029 0" rpy="0 0 0"/>
    <parent link="world_env"/>
    <child link="leaf_a"/>
    <axis xyz="0 0 -1"/>
    <limit lower="0" upper="1.570796" effort="2000" velocity="10"/>
    <dynamics damping="10.168374" friction="1.565329"/>
    <doorbench:spring stiffness="12.859719" springref="-2.527271" note="tau = -stiffness*(q - springref); not native URDF"/>
    <doorbench:closer damping_closing="70" damping_opening="10" backcheck_angle="1.31" backcheck_damping="45"/>
  </joint>
  <joint name="leaf_a_exit_device_hinge" type="revolute">
    <origin xyz="0.391563 0.051 1.016" rpy="0 0 0"/>
    <parent link="leaf_a"/>
    <child link="leaf_a_exit_device"/>
    <axis xyz="1 0 0"/>
    <limit lower="0" upper="0.35" effort="2000" velocity="10"/>
    <dynamics damping="0.5" friction="0.3"/>
    <doorbench:spring stiffness="12" springref="-0.333333" note="tau = -stiffness*(q - springref); not native URDF"/>
  </joint>
  <joint name="leaf_a_latch_bolt_slide" type="prismatic">
    <origin xyz="0.7865 0.029 1.016" rpy="0 0 0"/>
    <parent link="leaf_a"/>
    <child link="leaf_a_latch_bolt"/>
    <axis xyz="-1 0 0"/>
    <limit lower="0" upper="0.019" effort="5000" velocity="10"/>
    <dynamics damping="2" friction="0.3"/>
    <doorbench:spring stiffness="800" springref="-0.01" note="tau = -stiffness*(q - springref); not native URDF"/>
    <mimic joint="leaf_a_exit_device_hinge" multiplier="0.059375" offset="0"/>
    <doorbench:coupling one_sided="true" note="MJCF uses a one-sided tendon (bolt may retract further, e.g. riding over the strike lip); mimic is bilateral"/>
  </joint>
  <joint name="leaf_b_hinge" type="revolute">
    <origin xyz="0.8145 -0.029 0" rpy="0 0 0"/>
    <parent link="world_env"/>
    <child link="leaf_b"/>
    <axis xyz="0 0 1"/>
    <limit lower="0" upper="1.570796" effort="2000" velocity="10"/>
    <dynamics damping="10.168374" friction="1.565329"/>
    <doorbench:spring stiffness="12.859719" springref="-2.527271" note="tau = -stiffness*(q - springref); not native URDF"/>
    <doorbench:closer damping_closing="70" damping_opening="10" backcheck_angle="1.31" backcheck_damping="45"/>
  </joint>
  <joint name="leaf_b_exit_device_hinge" type="revolute">
    <origin xyz="-0.391563 0.051 1.016" rpy="0 0 0"/>
    <parent link="leaf_b"/>
    <child link="leaf_b_exit_device"/>
    <axis xyz="-1 0 0"/>
    <limit lower="0" upper="0.35" effort="2000" velocity="10"/>
    <dynamics damping="0.5" friction="0.3"/>
    <doorbench:spring stiffness="12" springref="-0.333333" note="tau = -stiffness*(q - springref); not native URDF"/>
  </joint>
  <joint name="leaf_b_latch_bolt_slide" type="prismatic">
    <origin xyz="-0.7865 0.029 1.016" rpy="0 0 0"/>
    <parent link="leaf_b"/>
    <child link="leaf_b_latch_bolt"/>
    <axis xyz="1 0 0"/>
    <limit lower="0" upper="0.019" effort="5000" velocity="10"/>
    <dynamics damping="2" friction="0.3"/>
    <doorbench:spring stiffness="800" springref="-0.01" note="tau = -stiffness*(q - springref); not native URDF"/>
    <mimic joint="leaf_b_exit_device_hinge" multiplier="0.059375" offset="0"/>
    <doorbench:coupling one_sided="true" note="MJCF uses a one-sided tendon (bolt may retract further, e.g. riding over the strike lip); mimic is bilateral"/>
  </joint>
  <material name="mat_bolt">
    <color rgba="0.75 0.76 0.77 1"/>
  </material>
  <material name="mat_closer">
    <color rgba="0.22 0.17 0.13 1"/>
  </material>
  <material name="mat_floor">
    <color rgba="0.55 0.53 0.5 1"/>
  </material>
  <material name="mat_frame">
    <color rgba="0.45 0.48 0.52 1"/>
  </material>
  <material name="mat_glass">
    <color rgba="0.85 0.92 0.95 0.25"/>
  </material>
  <material name="mat_hinge">
    <color rgba="0.65 0.66 0.68 1"/>
  </material>
  <material name="mat_kick">
    <color rgba="0.75 0.76 0.77 1"/>
  </material>
  <material name="mat_leaf_a">
    <color rgba="0.93 0.93 0.91 1"/>
  </material>
  <material name="mat_leaf_b">
    <color rgba="0.93 0.93 0.91 1"/>
  </material>
  <material name="mat_maglock">
    <color rgba="0.22 0.17 0.13 1"/>
  </material>
  <material name="mat_op_brass">
    <color rgba="0.85 0.66 0.3 1"/>
  </material>
  <material name="mat_op_stainless">
    <color rgba="0.75 0.76 0.77 1"/>
  </material>
  <material name="mat_wall">
    <color rgba="0.78 0.76 0.7 1"/>
  </material>
  <doorbench:weld body1="leaf_a" body2="world" label="Maglock w/ REX button inside (fail-safe) (env releases on REX / badge / timer)" active="true"/>
  <doorbench:weld body1="leaf_b" body2="world" label="Maglock w/ REX button inside (fail-safe) (env releases on REX / badge / timer)" active="true"/>
</robot>
