<?xml version="1.0" ?>
<robot xmlns:doorbench="https://github.com/adamraudonis/DoorBench/schema/urdf-ext" name="db0065_accordion_full">
  <link name="world_env">
    <visual name="floor_vis">
      <origin xyz="0 0 -0.05" rpy="0 0 0"/>
      <geometry>
        <box size="12 12 0.1"/>
      </geometry>
      <material name="mat_floor"/>
    </visual>
    <collision name="floor_col">
      <origin xyz="0 0 -0.05" rpy="0 0 0"/>
      <geometry>
        <box size="12 12 0.1"/>
      </geometry>
    </collision>
    <visual name="wall_left_vis">
      <origin xyz="-1.55725 0 1.35" rpy="0 0 0"/>
      <geometry>
        <box size="1.8855 0.145 2.7"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_left_col">
      <origin xyz="-1.55725 0 1.35" rpy="0 0 0"/>
      <geometry>
        <box size="1.8855 0.145 2.7"/>
      </geometry>
    </collision>
    <visual name="wall_right_vis">
      <origin xyz="1.55725 0 1.35" rpy="0 0 0"/>
      <geometry>
        <box size="1.8855 0.145 2.7"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_right_col">
      <origin xyz="1.55725 0 1.35" rpy="0 0 0"/>
      <geometry>
        <box size="1.8855 0.145 2.7"/>
      </geometry>
    </collision>
    <visual name="wall_header_vis">
      <origin xyz="0 0 2.3935" rpy="0 0 0"/>
      <geometry>
        <box size="1.229 0.145 0.613"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_header_col">
      <origin xyz="0 0 2.3935" rpy="0 0 0"/>
      <geometry>
        <box size="1.229 0.145 0.613"/>
      </geometry>
    </collision>
    <visual name="jamb_hinge_vis">
      <origin xyz="-0.624 0 1.0435" rpy="0 0 0"/>
      <geometry>
        <box size="0.019 0.145 2.087"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_hinge_col">
      <origin xyz="-0.624 0 1.0435" rpy="0 0 0"/>
      <geometry>
        <box size="0.019 0.145 2.087"/>
      </geometry>
    </collision>
    <visual name="jamb_strike_vis">
      <origin xyz="0.624 0 1.0435" rpy="0 0 0"/>
      <geometry>
        <box size="0.019 0.145 2.087"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_strike_col">
      <origin xyz="0.624 0 1.0435" rpy="0 0 0"/>
      <geometry>
        <box size="0.019 0.145 2.087"/>
      </geometry>
    </collision>
    <visual name="stud_strike_vis">
      <origin xyz="0.6485 0 1.0435" rpy="0 0 0"/>
      <geometry>
        <box size="0.03 0.145 2.087"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="stud_strike_col">
      <origin xyz="0.6485 0 1.0435" rpy="0 0 0"/>
      <geometry>
        <box size="0.03 0.145 2.087"/>
      </geometry>
    </collision>
    <visual name="jamb_head_vis">
      <origin xyz="0.015 0 2.0965" rpy="0 0 0"/>
      <geometry>
        <box size="1.297 0.145 0.019"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_head_col">
      <origin xyz="0.015 0 2.0965" rpy="0 0 0"/>
      <geometry>
        <box size="1.297 0.145 0.019"/>
      </geometry>
    </collision>
    <visual name="head_stud_vis">
      <origin xyz="0.015 0 2.121" rpy="0 0 0"/>
      <geometry>
        <box size="1.297 0.145 0.03"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="head_stud_col">
      <origin xyz="0.015 0 2.121" rpy="0 0 0"/>
      <geometry>
        <box size="1.297 0.145 0.03"/>
      </geometry>
    </collision>
    <visual name="casing_l_n_vis">
      <origin xyz="-0.6635 -0.0805 1.0435" rpy="0 0 0"/>
      <geometry>
        <box size="0.07 0.016 2.106"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <visual name="casing_r_n_vis">
      <origin xyz="0.6635 -0.0805 1.0435" rpy="0 0 0"/>
      <geometry>
        <box size="0.07 0.016 2.106"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <visual name="casing_h_n_vis">
      <origin xyz="0 -0.0805 2.136" rpy="0 0 0"/>
      <geometry>
        <box size="1.397 0.016 0.07"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <visual name="casing_l_p_vis">
      <origin xyz="-0.6635 0.0805 1.0435" rpy="0 0 0"/>
      <geometry>
        <box size="0.07 0.016 2.106"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <visual name="casing_r_p_vis">
      <origin xyz="0.6635 0.0805 1.0435" rpy="0 0 0"/>
      <geometry>
        <box size="0.07 0.016 2.106"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <visual name="casing_h_p_vis">
      <origin xyz="0 0.0805 2.136" rpy="0 0 0"/>
      <geometry>
        <box size="1.397 0.016 0.07"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <visual name="fold_track_vis">
      <origin xyz="0 0 2.072" rpy="0 0 0"/>
      <geometry>
        <box size="1.229 0.04 0.03"/>
      </geometry>
      <material name="mat_track"/>
    </visual>
  </link>
  <link name="panel_0_0">
    <inertial>
      <origin xyz="0.067676 0 1.040839" rpy="0 0 0"/>
      <mass value="7.584997"/>
      <inertia ixx="2.634684386" ixy="0" ixz="0.002483802" iyy="2.658926472" iyz="0" izz="0.024424416"/>
    </inertial>
    <visual name="panel_0_0_slab_vis">
      <origin xyz="0.068 0 1.036" rpy="0 0 0"/>
      <geometry>
        <box size="0.196 0.012 2.032"/>
      </geometry>
      <material name="mat_panel_0_0"/>
    </visual>
    <collision name="panel_0_0_slab_col">
      <origin xyz="0.068 0 1.036" rpy="0 0 0"/>
      <geometry>
        <box size="0.196 0.012 2.032"/>
      </geometry>
    </collision>
    <visual name="panel_0_0_pivot_pin_vis">
      <origin xyz="0 0 2.0525" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.008" length="0.021"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
  </link>
  <link name="panel_0_1">
    <inertial>
      <origin xyz="0.000488 -0.000029 1.036" rpy="0 0 0"/>
      <mass value="7.897257"/>
      <inertia ixx="2.66440033" ixy="0.000023004" ixz="0" iyy="2.664912913" iyz="0" izz="0.000595789"/>
    </inertial>
    <visual name="panel_0_1_slab_vis">
      <origin xyz="0.1015 -0.006 1.036" rpy="0 0 0"/>
      <geometry>
        <box size="0.199 0.012 2.032"/>
      </geometry>
      <material name="mat_panel_0_1"/>
    </visual>
    <collision name="panel_0_1_slab_col">
      <origin xyz="0.1015 -0.006 1.036" rpy="0 0 0"/>
      <geometry>
        <box size="0.199 0.012 2.032"/>
      </geometry>
    </collision>
    <visual name="panel_0_1_knuckle_vis">
      <origin xyz="0 0 1.036" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.0045" length="2.012"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
  </link>
  <link name="panel_0_2">
    <inertial>
      <origin xyz="0.000488 0.000029 1.036" rpy="0 0 0"/>
      <mass value="7.897257"/>
      <inertia ixx="2.66440033" ixy="-0.000023004" ixz="0" iyy="2.664912913" iyz="0" izz="0.000595789"/>
    </inertial>
    <visual name="panel_0_2_slab_vis">
      <origin xyz="0.1015 0.006 1.036" rpy="0 0 0"/>
      <geometry>
        <box size="0.199 0.012 2.032"/>
      </geometry>
      <material name="mat_panel_0_2"/>
    </visual>
    <collision name="panel_0_2_slab_col">
      <origin xyz="0.1015 0.006 1.036" rpy="0 0 0"/>
      <geometry>
        <box size="0.199 0.012 2.032"/>
      </geometry>
    </collision>
    <visual name="panel_0_2_knuckle_vis">
      <origin xyz="0 0 1.036" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.0045" length="2.012"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
  </link>
  <link name="panel_0_3">
    <inertial>
      <origin xyz="0.000488 -0.000029 1.036" rpy="0 0 0"/>
      <mass value="7.897257"/>
      <inertia ixx="2.66440033" ixy="0.000023004" ixz="0" iyy="2.664912913" iyz="0" izz="0.000595789"/>
    </inertial>
    <visual name="panel_0_3_slab_vis">
      <origin xyz="0.1015 -0.006 1.036" rpy="0 0 0"/>
      <geometry>
        <box size="0.199 0.012 2.032"/>
      </geometry>
      <material name="mat_panel_0_3"/>
    </visual>
    <collision name="panel_0_3_slab_col">
      <origin xyz="0.1015 -0.006 1.036" rpy="0 0 0"/>
      <geometry>
        <box size="0.199 0.012 2.032"/>
      </geometry>
    </collision>
    <visual name="panel_0_3_knuckle_vis">
      <origin xyz="0 0 1.036" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.0045" length="2.012"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
  </link>
  <link name="panel_0_4">
    <inertial>
      <origin xyz="0.000488 0.000029 1.036" rpy="0 0 0"/>
      <mass value="7.897257"/>
      <inertia ixx="2.66440033" ixy="-0.000023004" ixz="0" iyy="2.664912913" iyz="0" izz="0.000595789"/>
    </inertial>
    <visual name="panel_0_4_slab_vis">
      <origin xyz="0.1015 0.006 1.036" rpy="0 0 0"/>
      <geometry>
        <box size="0.199 0.012 2.032"/>
      </geometry>
      <material name="mat_panel_0_4"/>
    </visual>
    <collision name="panel_0_4_slab_col">
      <origin xyz="0.1015 0.006 1.036" rpy="0 0 0"/>
      <geometry>
        <box size="0.199 0.012 2.032"/>
      </geometry>
    </collision>
    <visual name="panel_0_4_knuckle_vis">
      <origin xyz="0 0 1.036" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.0045" length="2.012"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
  </link>
  <link name="panel_0_5">
    <inertial>
      <origin xyz="0.045959 -0.019211 1.024909" rpy="0 0 0"/>
      <mass value="8.405571"/>
      <inertia ixx="1.980421958" ixy="0.016470233" ixz="0.009513127" iyy="2.011893448" iyz="-0.004016035" izz="0.047511988"/>
    </inertial>
    <visual name="panel_0_5_slab_vis">
      <origin xyz="0.105 -0.006 1.036" rpy="0 0 0"/>
      <geometry>
        <box size="0.206 0.012 2.032"/>
      </geometry>
      <material name="mat_panel_0_5"/>
    </visual>
    <collision name="panel_0_5_slab_col">
      <origin xyz="0.105 -0.006 1.036" rpy="0 0 0"/>
      <geometry>
        <box size="0.206 0.012 2.032"/>
      </geometry>
    </collision>
    <visual name="panel_0_5_knuckle_vis">
      <origin xyz="0 0 1.036" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.0045" length="2.012"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="panel_0_5_pull_n_vis">
      <origin xyz="0.148 -0.012 1" rpy="1.570796 0 0"/>
      <geometry>
        <mesh filename="../../hardware/pull_1e5d69a91a.obj"/>
      </geometry>
      <material name="mat_op_stainless"/>
    </visual>
    <collision name="panel_0_5_pull_col_n_col">
      <origin xyz="0.148 -0.072 1" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.0095" length="0.16"/>
      </geometry>
    </collision>
  </link>
  <joint name="panel_0_0_hinge" type="revolute">
    <origin xyz="-0.5795 0 0" rpy="0 0 0"/>
    <parent link="world_env"/>
    <child link="panel_0_0"/>
    <axis xyz="0 0 -1"/>
    <limit lower="0" upper="1.48353" effort="2000" velocity="10"/>
    <dynamics damping="1.075796" friction="7.378905"/>
  </joint>
  <joint name="panel_0_1_hinge" type="revolute">
    <origin xyz="0.168 0.006 0" rpy="0 0 0"/>
    <parent link="panel_0_0"/>
    <child link="panel_0_1"/>
    <axis xyz="0 0 -1"/>
    <limit lower="-3.141593" upper="0" effort="2000" velocity="10"/>
    <dynamics damping="0.2" friction="0.1"/>
    <mimic joint="panel_0_0_hinge" multiplier="-2" offset="0"/>
  </joint>
  <joint name="panel_0_2_hinge" type="revolute">
    <origin xyz="0.203 -0.012 0" rpy="0 0 0"/>
    <parent link="panel_0_1"/>
    <child link="panel_0_2"/>
    <axis xyz="0 0 -1"/>
    <limit lower="0" upper="3.141593" effort="2000" velocity="10"/>
    <dynamics damping="0.2" friction="0.1"/>
    <mimic joint="panel_0_0_hinge" multiplier="2" offset="0"/>
  </joint>
  <joint name="panel_0_3_hinge" type="revolute">
    <origin xyz="0.203 0.012 0" rpy="0 0 0"/>
    <parent link="panel_0_2"/>
    <child link="panel_0_3"/>
    <axis xyz="0 0 -1"/>
    <limit lower="-3.141593" upper="0" effort="2000" velocity="10"/>
    <dynamics damping="0.2" friction="0.1"/>
    <mimic joint="panel_0_0_hinge" multiplier="-2" offset="0"/>
  </joint>
  <joint name="panel_0_4_hinge" type="revolute">
    <origin xyz="0.203 -0.012 0" rpy="0 0 0"/>
    <parent link="panel_0_3"/>
    <child link="panel_0_4"/>
    <axis xyz="0 0 -1"/>
    <limit lower="0" upper="3.141593" effort="2000" velocity="10"/>
    <dynamics damping="0.2" friction="0.1"/>
    <mimic joint="panel_0_0_hinge" multiplier="2" offset="0"/>
  </joint>
  <joint name="panel_0_5_hinge" type="revolute">
    <origin xyz="0.203 0.012 0" rpy="0 0 0"/>
    <parent link="panel_0_4"/>
    <child link="panel_0_5"/>
    <axis xyz="0 0 -1"/>
    <limit lower="-3.141593" upper="0" effort="2000" velocity="10"/>
    <dynamics damping="0.2" friction="0.1"/>
    <mimic joint="panel_0_0_hinge" multiplier="-2" offset="0"/>
  </joint>
  <material name="mat_floor">
    <color rgba="0.55 0.53 0.5 1"/>
  </material>
  <material name="mat_frame">
    <color rgba="0.82 0.7 0.5 1"/>
  </material>
  <material name="mat_hinge">
    <color rgba="0.65 0.66 0.68 1"/>
  </material>
  <material name="mat_op_stainless">
    <color rgba="0.75 0.76 0.77 1"/>
  </material>
  <material name="mat_panel_0_0">
    <color rgba="0.75 0.75 0.72 1"/>
  </material>
  <material name="mat_panel_0_1">
    <color rgba="0.75 0.75 0.72 1"/>
  </material>
  <material name="mat_panel_0_2">
    <color rgba="0.75 0.75 0.72 1"/>
  </material>
  <material name="mat_panel_0_3">
    <color rgba="0.75 0.75 0.72 1"/>
  </material>
  <material name="mat_panel_0_4">
    <color rgba="0.75 0.75 0.72 1"/>
  </material>
  <material name="mat_panel_0_5">
    <color rgba="0.75 0.75 0.72 1"/>
  </material>
  <material name="mat_track">
    <color rgba="0.8 0.81 0.83 1"/>
  </material>
  <material name="mat_wall">
    <color rgba="0.78 0.76 0.7 1"/>
  </material>
</robot>
