<?xml version="1.0" ?>
<robot xmlns:doorbench="https://github.com/adamraudonis/DoorBench/schema/urdf-ext" name="db0670_swing_single_simple">
  <link name="world_env">
    <visual name="floor_vis">
      <origin xyz="0 0 -0.05" rpy="0 0 0"/>
      <geometry>
        <box size="12 12 0.1"/>
      </geometry>
      <material name="mat_floor"/>
    </visual>
    <collision name="floor_col">
      <origin xyz="0 0 -0.05" rpy="0 0 0"/>
      <geometry>
        <box size="12 12 0.1"/>
      </geometry>
    </collision>
    <visual name="wall_left_vis">
      <origin xyz="-1.4645 0.048 1.35" rpy="0 0 0"/>
      <geometry>
        <box size="2.071 0.145 2.7"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_left_col">
      <origin xyz="-1.4645 0.048 1.35" rpy="0 0 0"/>
      <geometry>
        <box size="2.071 0.145 2.7"/>
      </geometry>
    </collision>
    <visual name="wall_right_vis">
      <origin xyz="1.4795 0.048 1.35" rpy="0 0 0"/>
      <geometry>
        <box size="2.041 0.145 2.7"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_right_col">
      <origin xyz="1.4795 0.048 1.35" rpy="0 0 0"/>
      <geometry>
        <box size="2.041 0.145 2.7"/>
      </geometry>
    </collision>
    <visual name="wall_header_vis">
      <origin xyz="0.015 0.048 2.397" rpy="0 0 0"/>
      <geometry>
        <box size="0.888 0.145 0.606"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_header_col">
      <origin xyz="0.015 0.048 2.397" rpy="0 0 0"/>
      <geometry>
        <box size="0.888 0.145 0.606"/>
      </geometry>
    </collision>
    <visual name="hinge_0_jamb_vis">
      <origin xyz="-0.407 -0.0245 0.259" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../../hardware/hinge_jamb_20499e6581.obj"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="hinge_1_jamb_vis">
      <origin xyz="-0.407 -0.0245 1.0198" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../../hardware/hinge_jamb_20499e6581.obj"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="hinge_2_jamb_vis">
      <origin xyz="-0.407 -0.0245 1.8506" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../../hardware/hinge_jamb_20499e6581.obj"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="jamb_hinge_vis">
      <origin xyz="-0.4195 0.048 1.0225" rpy="0 0 0"/>
      <geometry>
        <box size="0.019 0.145 2.045"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_hinge_col">
      <origin xyz="-0.4195 0.048 1.0225" rpy="0 0 0"/>
      <geometry>
        <box size="0.019 0.145 2.045"/>
      </geometry>
    </collision>
    <visual name="strike_965_wall_n_vis">
      <origin xyz="0.4345 0.064175 0.965" rpy="0 0 0"/>
      <geometry>
        <box size="0.049 0.11265 0.0334"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="strike_965_wall_n_col">
      <origin xyz="0.4345 0.064175 0.965" rpy="0 0 0"/>
      <geometry>
        <box size="0.049 0.11265 0.0334"/>
      </geometry>
    </collision>
    <visual name="strike_965_wall_p_vis">
      <origin xyz="0.4345 -0.01585 0.965" rpy="0 0 0"/>
      <geometry>
        <box size="0.049 0.016 0.0334"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="strike_965_wall_p_col">
      <origin xyz="0.4345 -0.01585 0.965" rpy="0 0 0"/>
      <geometry>
        <box size="0.049 0.016 0.0334"/>
      </geometry>
    </collision>
    <visual name="strike_965_ramp_vis">
      <origin xyz="0.439136 -0.028673 0.965" rpy="0 0 0.428384"/>
      <geometry>
        <box size="0.049 0.03298 0.0334"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="strike_965_ramp_col">
      <origin xyz="0.439136 -0.028673 0.965" rpy="0 0 0.428384"/>
      <geometry>
        <box size="0.049 0.03298 0.0334"/>
      </geometry>
    </collision>
    <visual name="strike_965_back_vis">
      <origin xyz="0.44285 0 0.965" rpy="0 0 0"/>
      <geometry>
        <box size="0.0323 0.0157 0.0334"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="strike_965_back_col">
      <origin xyz="0.44285 0 0.965" rpy="0 0 0"/>
      <geometry>
        <box size="0.0323 0.0157 0.0334"/>
      </geometry>
    </collision>
    <visual name="jamb_strike_0_vis">
      <origin xyz="0.4345 0.048 0.47415" rpy="0 0 0"/>
      <geometry>
        <box size="0.049 0.145 0.9483"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_strike_0_col">
      <origin xyz="0.4345 0.048 0.47415" rpy="0 0 0"/>
      <geometry>
        <box size="0.049 0.145 0.9483"/>
      </geometry>
    </collision>
    <visual name="jamb_strike_1_vis">
      <origin xyz="0.4345 0.048 1.51335" rpy="0 0 0"/>
      <geometry>
        <box size="0.049 0.145 1.0633"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_strike_1_col">
      <origin xyz="0.4345 0.048 1.51335" rpy="0 0 0"/>
      <geometry>
        <box size="0.049 0.145 1.0633"/>
      </geometry>
    </collision>
    <visual name="jamb_head_vis">
      <origin xyz="0.015 0.048 2.0545" rpy="0 0 0"/>
      <geometry>
        <box size="0.888 0.145 0.019"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_head_col">
      <origin xyz="0.015 0.048 2.0545" rpy="0 0 0"/>
      <geometry>
        <box size="0.888 0.145 0.019"/>
      </geometry>
    </collision>
    <visual name="head_stud_vis">
      <origin xyz="0.015 0.048 2.079" rpy="0 0 0"/>
      <geometry>
        <box size="0.888 0.145 0.03"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="head_stud_col">
      <origin xyz="0.015 0.048 2.079" rpy="0 0 0"/>
      <geometry>
        <box size="0.888 0.145 0.03"/>
      </geometry>
    </collision>
    <visual name="stop_hinge_vis">
      <origin xyz="-0.4045 0.034 1.0225" rpy="0 0 0"/>
      <geometry>
        <box size="0.011 0.032 2.045"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="stop_hinge_col">
      <origin xyz="-0.4045 0.034 1.0225" rpy="0 0 0"/>
      <geometry>
        <box size="0.011 0.032 2.045"/>
      </geometry>
    </collision>
    <visual name="stop_strike_vis">
      <origin xyz="0.4045 0.034 1.0225" rpy="0 0 0"/>
      <geometry>
        <box size="0.011 0.032 2.045"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="stop_strike_col">
      <origin xyz="0.4045 0.034 1.0225" rpy="0 0 0"/>
      <geometry>
        <box size="0.011 0.032 2.045"/>
      </geometry>
    </collision>
    <visual name="stop_head_vis">
      <origin xyz="0 0.034 2.0395" rpy="0 0 0"/>
      <geometry>
        <box size="0.82 0.032 0.011"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="stop_head_col">
      <origin xyz="0 0.034 2.0395" rpy="0 0 0"/>
      <geometry>
        <box size="0.82 0.032 0.011"/>
      </geometry>
    </collision>
    <visual name="floor_stop_dome_vis">
      <origin xyz="-0.487153 -0.711177 0" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.025"/>
      </geometry>
      <material name="mat_stop"/>
    </visual>
    <collision name="floor_stop_dome_col">
      <origin xyz="-0.487153 -0.711177 0" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.025"/>
      </geometry>
    </collision>
  </link>
  <link name="leaf_riser">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="0.01"/>
      <inertia ixx="0.000001" ixy="0" ixz="0" iyy="0.000001" iyz="0" izz="0.000001"/>
    </inertial>
  </link>
  <link name="leaf">
    <inertial>
      <origin xyz="0.401193 0.024278 1.020108" rpy="0 0 0"/>
      <mass value="43.901536"/>
      <inertia ixx="14.999739752" ixy="-0.003906127" ixz="0.005790086" iyy="17.477961662" iyz="0.000224143" izz="2.487567246"/>
    </inertial>
    <visual name="leaf_slab_vis">
      <origin xyz="0.4065 0.0245 1.0198" rpy="0 0 0"/>
      <geometry>
        <box size="0.813 0.035 2.0216"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <collision name="leaf_slab_col">
      <origin xyz="0.4065 0.0245 1.0198" rpy="0 0 0"/>
      <geometry>
        <box size="0.813 0.035 2.0216"/>
      </geometry>
    </collision>
    <visual name="leaf_panel_0_n_vis">
      <origin xyz="0.4065 0.004 0.4844" rpy="0 0 0"/>
      <geometry>
        <box size="0.593 0.006 0.466048"/>
      </geometry>
      <material name="mat_leaf_panel"/>
    </visual>
    <visual name="leaf_panel_0_p_vis">
      <origin xyz="0.4065 0.045 0.4844" rpy="0 0 0"/>
      <geometry>
        <box size="0.593 0.006 0.466048"/>
      </geometry>
      <material name="mat_leaf_panel"/>
    </visual>
    <visual name="leaf_panel_1_n_vis">
      <origin xyz="0.4065 0.004 1.080448" rpy="0 0 0"/>
      <geometry>
        <box size="0.593 0.006 0.466048"/>
      </geometry>
      <material name="mat_leaf_panel"/>
    </visual>
    <visual name="leaf_panel_1_p_vis">
      <origin xyz="0.4065 0.045 1.080448" rpy="0 0 0"/>
      <geometry>
        <box size="0.593 0.006 0.466048"/>
      </geometry>
      <material name="mat_leaf_panel"/>
    </visual>
    <visual name="leaf_panel_2_n_vis">
      <origin xyz="0.4065 0.004 1.676496" rpy="0 0 0"/>
      <geometry>
        <box size="0.593 0.006 0.466048"/>
      </geometry>
      <material name="mat_leaf_panel"/>
    </visual>
    <visual name="leaf_panel_2_p_vis">
      <origin xyz="0.4065 0.045 1.676496" rpy="0 0 0"/>
      <geometry>
        <box size="0.593 0.006 0.466048"/>
      </geometry>
      <material name="mat_leaf_panel"/>
    </visual>
    <visual name="hinge_0_vis">
      <origin xyz="0 0 0.259" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../../hardware/hinge_c20a5829de.obj"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="hinge_1_vis">
      <origin xyz="0 0 1.0198" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../../hardware/hinge_c20a5829de.obj"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="hinge_2_vis">
      <origin xyz="0 0 1.8506" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../../hardware/hinge_c20a5829de.obj"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="leaf_latch_bolt_faceplate_vis">
      <origin xyz="0.8124 0.0245 0.965" rpy="0 0 0"/>
      <geometry>
        <box size="0.0012 0.0247 0.0534"/>
      </geometry>
      <material name="mat_bolt"/>
    </visual>
  </link>
  <link name="leaf_handle">
    <inertial>
      <origin xyz="-0.019728 0 0" rpy="0 0 0"/>
      <mass value="0.753175"/>
      <inertia ixx="0.002226323" ixy="0" ixz="0" iyy="0.000986163" iyz="0" izz="0.003108837"/>
    </inertial>
    <visual name="leaf_handle_lever_n_vis">
      <origin xyz="0 -0.0175 0" rpy="1.570796 0 0"/>
      <geometry>
        <mesh filename="../../hardware/lever_57205841c3.obj"/>
      </geometry>
      <material name="mat_op_black_matte_metal"/>
    </visual>
    <collision name="leaf_handle_lever_col_n_col">
      <origin xyz="-0.06 -0.0725 0" rpy="0 -1.570796 0"/>
      <geometry>
        <cylinder radius="0.007" length="0.106"/>
      </geometry>
    </collision>
    <collision name="leaf_handle_hub_col_n_col">
      <origin xyz="0 -0.0475 0" rpy="-1.570796 0 0"/>
      <geometry>
        <cylinder radius="0.012" length="0.044"/>
      </geometry>
    </collision>
    <visual name="leaf_handle_lever_p_vis">
      <origin xyz="0 0.0175 0" rpy="-1.570796 0 0"/>
      <geometry>
        <mesh filename="../../hardware/lever_57205841c3.obj"/>
      </geometry>
      <material name="mat_op_black_matte_metal"/>
    </visual>
    <collision name="leaf_handle_lever_col_p_col">
      <origin xyz="-0.06 0.0725 0" rpy="0 -1.570796 0"/>
      <geometry>
        <cylinder radius="0.007" length="0.106"/>
      </geometry>
    </collision>
    <collision name="leaf_handle_hub_col_p_col">
      <origin xyz="0 0.0475 0" rpy="-1.570796 0 0"/>
      <geometry>
        <cylinder radius="0.012" length="0.044"/>
      </geometry>
    </collision>
  </link>
  <link name="leaf_latch_bolt">
    <inertial>
      <origin xyz="-0.00865 0 0" rpy="0 0 0"/>
      <mass value="0.041419"/>
      <inertia ixx="0.000000798" ixy="0" ixz="0" iyy="0.000005598" iyz="0" izz="0.000005598"/>
    </inertial>
    <visual name="leaf_latch_bolt_capsule_vis">
      <origin xyz="-0.00865 0 0" rpy="0 1.570796 0"/>
      <geometry>
        <cylinder radius="0.00635" length="0.03"/>
      </geometry>
      <material name="mat_bolt"/>
    </visual>
    <collision name="leaf_latch_bolt_capsule_col">
      <origin xyz="-0.00865 0 0" rpy="0 1.570796 0"/>
      <geometry>
        <cylinder radius="0.00635" length="0.03"/>
      </geometry>
    </collision>
  </link>
  <joint name="leaf_rise" type="prismatic">
    <origin xyz="-0.41 0 0" rpy="0 0 0"/>
    <parent link="world_env"/>
    <child link="leaf_riser"/>
    <axis xyz="0 0 1"/>
    <limit lower="0" upper="0.0176" effort="5000" velocity="10"/>
    <dynamics damping="1" friction="0"/>
    <mimic joint="leaf_hinge" multiplier="0.005093" offset="0"/>
  </joint>
  <joint name="leaf_hinge" type="revolute">
    <origin xyz="0.003 -0.0245 0" rpy="0 0 0"/>
    <parent link="leaf_riser"/>
    <child link="leaf"/>
    <axis xyz="0 0 -1"/>
    <limit lower="0" upper="1.658063" effort="2000" velocity="10"/>
    <dynamics damping="0.210326" friction="1.567016"/>
    <doorbench:closer damping_closing="0" damping_opening="0" backcheck_angle="0" backcheck_damping="0"/>
    <doorbench:note text="rising hinge: gravity closing torque ~ m*g*0.0051 N*m/rad"/>
  </joint>
  <joint name="leaf_handle_hinge" type="revolute">
    <origin xyz="0.753 0.0245 0.965" rpy="0 0 0"/>
    <parent link="leaf"/>
    <child link="leaf_handle"/>
    <axis xyz="0 -1 0"/>
    <limit lower="0" upper="0.87" effort="2000" velocity="10"/>
    <dynamics damping="0.212416" friction="0.042"/>
    <doorbench:spring stiffness="1" springref="-0.35" note="tau = -stiffness*(q - springref); not native URDF"/>
  </joint>
  <joint name="leaf_latch_bolt_slide" type="prismatic">
    <origin xyz="0.813 0.0245 0.965" rpy="0 0 0"/>
    <parent link="leaf"/>
    <child link="leaf_latch_bolt"/>
    <axis xyz="-1 0 0"/>
    <limit lower="0" upper="0.0127" effort="5000" velocity="10"/>
    <dynamics damping="2" friction="0.3"/>
    <doorbench:spring stiffness="300" springref="-0.008333" note="tau = -stiffness*(q - springref); not native URDF"/>
    <mimic joint="leaf_handle_hinge" multiplier="0.015679" offset="0"/>
    <doorbench:coupling one_sided="true" note="MJCF uses a one-sided tendon (bolt may retract further, e.g. riding over the strike lip); mimic is bilateral"/>
  </joint>
  <material name="mat_bolt">
    <color rgba="0.85 0.66 0.3 1"/>
  </material>
  <material name="mat_floor">
    <color rgba="0.55 0.53 0.5 1"/>
  </material>
  <material name="mat_frame">
    <color rgba="0.82 0.7 0.5 1"/>
  </material>
  <material name="mat_hinge">
    <color rgba="0.55 0.56 0.58 1"/>
  </material>
  <material name="mat_leaf">
    <color rgba="0.09 0.13 0.28 1"/>
  </material>
  <material name="mat_leaf_panel">
    <color rgba="0.083 0.12 0.258 1"/>
  </material>
  <material name="mat_op_black_matte_metal">
    <color rgba="0.05 0.05 0.05 1"/>
  </material>
  <material name="mat_stop">
    <color rgba="0.9 0.9 0.92 1"/>
  </material>
  <material name="mat_wall">
    <color rgba="0.78 0.76 0.7 1"/>
  </material>
</robot>
