<?xml version="1.0" ?>
<robot xmlns:doorbench="https://github.com/adamraudonis/DoorBench/schema/urdf-ext" name="db0918_swing_double_full">
  <link name="world_env">
    <visual name="floor_vis">
      <origin xyz="0 0 -0.05" rpy="0 0 0"/>
      <geometry>
        <box size="12 12 0.1"/>
      </geometry>
      <material name="mat_floor"/>
    </visual>
    <collision name="floor_col">
      <origin xyz="0 0 -0.05" rpy="0 0 0"/>
      <geometry>
        <box size="12 12 0.1"/>
      </geometry>
    </collision>
    <visual name="wall_left_vis">
      <origin xyz="-1.88225 -0.058 1.4065" rpy="0 0 0"/>
      <geometry>
        <box size="1.2355 0.2 2.813"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_left_col">
      <origin xyz="-1.88225 -0.058 1.4065" rpy="0 0 0"/>
      <geometry>
        <box size="1.2355 0.2 2.813"/>
      </geometry>
    </collision>
    <visual name="wall_right_vis">
      <origin xyz="1.88225 -0.058 1.4065" rpy="0 0 0"/>
      <geometry>
        <box size="1.2355 0.2 2.813"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_right_col">
      <origin xyz="1.88225 -0.058 1.4065" rpy="0 0 0"/>
      <geometry>
        <box size="1.2355 0.2 2.813"/>
      </geometry>
    </collision>
    <visual name="wall_header_vis">
      <origin xyz="0 -0.058 2.558" rpy="0 0 0"/>
      <geometry>
        <box size="2.529 0.2 0.51"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_header_col">
      <origin xyz="0 -0.058 2.558" rpy="0 0 0"/>
      <geometry>
        <box size="2.529 0.2 0.51"/>
      </geometry>
    </collision>
    <visual name="jamb_l_vis">
      <origin xyz="-1.214 -0.058 1.1065" rpy="0 0 0"/>
      <geometry>
        <box size="0.019 0.2 2.213"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_l_col">
      <origin xyz="-1.214 -0.058 1.1065" rpy="0 0 0"/>
      <geometry>
        <box size="0.019 0.2 2.213"/>
      </geometry>
    </collision>
    <visual name="jamb_r_vis">
      <origin xyz="1.214 -0.058 1.1065" rpy="0 0 0"/>
      <geometry>
        <box size="0.019 0.2 2.213"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_r_col">
      <origin xyz="1.214 -0.058 1.1065" rpy="0 0 0"/>
      <geometry>
        <box size="0.019 0.2 2.213"/>
      </geometry>
    </collision>
    <visual name="jamb_head_vis">
      <origin xyz="0 -0.058 2.2225" rpy="0 0 0"/>
      <geometry>
        <box size="2.447 0.2 0.019"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_head_col">
      <origin xyz="0 -0.058 2.2225" rpy="0 0 0"/>
      <geometry>
        <box size="2.447 0.2 0.019"/>
      </geometry>
    </collision>
    <visual name="head_stud_vis">
      <origin xyz="0 -0.058 2.247" rpy="0 0 0"/>
      <geometry>
        <box size="2.447 0.2 0.03"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="head_stud_col">
      <origin xyz="0 -0.058 2.247" rpy="0 0 0"/>
      <geometry>
        <box size="2.447 0.2 0.03"/>
      </geometry>
    </collision>
  </link>
  <link name="leaf_a">
    <inertial>
      <origin xyz="0.590784 -0.028099 1.108008" rpy="0 0 0"/>
      <mass value="48.943492"/>
      <inertia ixx="20.367993453" ixy="0.019377739" ixz="0.024489698" iyy="26.468051981" iyz="-0.001004978" izz="6.121561401"/>
    </inertial>
    <visual name="leaf_a_slab_vis">
      <origin xyz="0.6 -0.029 1.109" rpy="0 0 0"/>
      <geometry>
        <box size="1.2 0.044 2.2"/>
      </geometry>
      <material name="mat_leaf_a"/>
    </visual>
    <collision name="leaf_a_slab_col">
      <origin xyz="0.6 -0.029 1.109" rpy="0 0 0"/>
      <geometry>
        <box size="1.2 0.044 2.2"/>
      </geometry>
    </collision>
    <visual name="leaf_a_plank_gap_1_vis">
      <origin xyz="0.15 -0.029 1.109" rpy="0 0 0"/>
      <geometry>
        <box size="0.004 0.046 2.18"/>
      </geometry>
      <material name="mat_leaf_a_brace"/>
    </visual>
    <visual name="leaf_a_plank_gap_2_vis">
      <origin xyz="0.3 -0.029 1.109" rpy="0 0 0"/>
      <geometry>
        <box size="0.004 0.046 2.18"/>
      </geometry>
      <material name="mat_leaf_a_brace"/>
    </visual>
    <visual name="leaf_a_plank_gap_3_vis">
      <origin xyz="0.45 -0.029 1.109" rpy="0 0 0"/>
      <geometry>
        <box size="0.004 0.046 2.18"/>
      </geometry>
      <material name="mat_leaf_a_brace"/>
    </visual>
    <visual name="leaf_a_plank_gap_4_vis">
      <origin xyz="0.6 -0.029 1.109" rpy="0 0 0"/>
      <geometry>
        <box size="0.004 0.046 2.18"/>
      </geometry>
      <material name="mat_leaf_a_brace"/>
    </visual>
    <visual name="leaf_a_plank_gap_5_vis">
      <origin xyz="0.75 -0.029 1.109" rpy="0 0 0"/>
      <geometry>
        <box size="0.004 0.046 2.18"/>
      </geometry>
      <material name="mat_leaf_a_brace"/>
    </visual>
    <visual name="leaf_a_plank_gap_6_vis">
      <origin xyz="0.9 -0.029 1.109" rpy="0 0 0"/>
      <geometry>
        <box size="0.004 0.046 2.18"/>
      </geometry>
      <material name="mat_leaf_a_brace"/>
    </visual>
    <visual name="leaf_a_plank_gap_7_vis">
      <origin xyz="1.05 -0.029 1.109" rpy="0 0 0"/>
      <geometry>
        <box size="0.004 0.046 2.18"/>
      </geometry>
      <material name="mat_leaf_a_brace"/>
    </visual>
    <visual name="leaf_a_batten_12_vis">
      <origin xyz="0.6 -0.061 0.129" rpy="0 0 0"/>
      <geometry>
        <box size="1.14 0.02 0.09"/>
      </geometry>
      <material name="mat_leaf_a_brace"/>
    </visual>
    <visual name="leaf_a_batten_208_vis">
      <origin xyz="0.6 -0.061 2.089" rpy="0 0 0"/>
      <geometry>
        <box size="1.14 0.02 0.09"/>
      </geometry>
      <material name="mat_leaf_a_brace"/>
    </visual>
    <visual name="leaf_a_brace_z_vis">
      <origin xyz="0.6 -0.061 1.109" rpy="0 -1.034361 0"/>
      <geometry>
        <box size="2.032324 0.02 0.09"/>
      </geometry>
      <material name="mat_leaf_a_brace"/>
    </visual>
    <visual name="leaf_a_brace_x_vis">
      <origin xyz="0.6 -0.061 1.109" rpy="0 1.034361 0"/>
      <geometry>
        <box size="2.032324 0.02 0.09"/>
      </geometry>
      <material name="mat_leaf_a_brace"/>
    </visual>
    <visual name="hinge_strap_0_vis">
      <origin xyz="0 -0.004 0.159" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../../hardware/strap_hinge_78d1bbb966.obj"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="hinge_strap_1_vis">
      <origin xyz="0 -0.004 2.059" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../../hardware/strap_hinge_78d1bbb966.obj"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="leaf_a_ring_pull_n_vis">
      <origin xyz="1.095 -0.051 1.05" rpy="1.570796 0 0"/>
      <geometry>
        <mesh filename="../../hardware/ring_cc5c941a8a.obj"/>
      </geometry>
      <material name="mat_op_wrought_iron"/>
    </visual>
    <collision name="leaf_a_ring_pull_col_n_col">
      <origin xyz="1.095 -0.083 0.99" rpy="0 1.570796 0"/>
      <geometry>
        <cylinder radius="0.008" length="0.1"/>
      </geometry>
    </collision>
    <visual name="leaf_a_ring_pull_p_vis">
      <origin xyz="1.095 -0.007 1.05" rpy="-1.570796 0 0"/>
      <geometry>
        <mesh filename="../../hardware/ring_cc5c941a8a.obj"/>
      </geometry>
      <material name="mat_op_wrought_iron"/>
    </visual>
    <collision name="leaf_a_ring_pull_col_p_col">
      <origin xyz="1.095 0.025 0.99" rpy="0 1.570796 0"/>
      <geometry>
        <cylinder radius="0.008" length="0.1"/>
      </geometry>
    </collision>
  </link>
  <link name="leaf_b">
    <inertial>
      <origin xyz="-0.583601 -0.028087 1.109" rpy="0 0 0"/>
      <mass value="48.256042"/>
      <inertia ixx="20.361025752" ixy="-0.019061113" ixz="0" iyy="26.285155894" iyz="0" izz="5.941365256"/>
    </inertial>
    <visual name="leaf_b_slab_vis">
      <origin xyz="-0.6 -0.029 1.109" rpy="0 0 0"/>
      <geometry>
        <box size="1.2 0.044 2.2"/>
      </geometry>
      <material name="mat_leaf_b"/>
    </visual>
    <collision name="leaf_b_slab_col">
      <origin xyz="-0.6 -0.029 1.109" rpy="0 0 0"/>
      <geometry>
        <box size="1.2 0.044 2.2"/>
      </geometry>
    </collision>
    <visual name="leaf_b_plank_gap_1_vis">
      <origin xyz="-0.15 -0.029 1.109" rpy="0 0 0"/>
      <geometry>
        <box size="0.004 0.046 2.18"/>
      </geometry>
      <material name="mat_leaf_b_brace"/>
    </visual>
    <visual name="leaf_b_plank_gap_2_vis">
      <origin xyz="-0.3 -0.029 1.109" rpy="0 0 0"/>
      <geometry>
        <box size="0.004 0.046 2.18"/>
      </geometry>
      <material name="mat_leaf_b_brace"/>
    </visual>
    <visual name="leaf_b_plank_gap_3_vis">
      <origin xyz="-0.45 -0.029 1.109" rpy="0 0 0"/>
      <geometry>
        <box size="0.004 0.046 2.18"/>
      </geometry>
      <material name="mat_leaf_b_brace"/>
    </visual>
    <visual name="leaf_b_plank_gap_4_vis">
      <origin xyz="-0.6 -0.029 1.109" rpy="0 0 0"/>
      <geometry>
        <box size="0.004 0.046 2.18"/>
      </geometry>
      <material name="mat_leaf_b_brace"/>
    </visual>
    <visual name="leaf_b_plank_gap_5_vis">
      <origin xyz="-0.75 -0.029 1.109" rpy="0 0 0"/>
      <geometry>
        <box size="0.004 0.046 2.18"/>
      </geometry>
      <material name="mat_leaf_b_brace"/>
    </visual>
    <visual name="leaf_b_plank_gap_6_vis">
      <origin xyz="-0.9 -0.029 1.109" rpy="0 0 0"/>
      <geometry>
        <box size="0.004 0.046 2.18"/>
      </geometry>
      <material name="mat_leaf_b_brace"/>
    </visual>
    <visual name="leaf_b_plank_gap_7_vis">
      <origin xyz="-1.05 -0.029 1.109" rpy="0 0 0"/>
      <geometry>
        <box size="0.004 0.046 2.18"/>
      </geometry>
      <material name="mat_leaf_b_brace"/>
    </visual>
    <visual name="leaf_b_batten_12_vis">
      <origin xyz="-0.6 -0.061 0.129" rpy="0 0 0"/>
      <geometry>
        <box size="1.14 0.02 0.09"/>
      </geometry>
      <material name="mat_leaf_b_brace"/>
    </visual>
    <visual name="leaf_b_batten_208_vis">
      <origin xyz="-0.6 -0.061 2.089" rpy="0 0 0"/>
      <geometry>
        <box size="1.14 0.02 0.09"/>
      </geometry>
      <material name="mat_leaf_b_brace"/>
    </visual>
    <visual name="leaf_b_brace_z_vis">
      <origin xyz="-0.6 -0.061 1.109" rpy="0 1.034361 0"/>
      <geometry>
        <box size="2.032324 0.02 0.09"/>
      </geometry>
      <material name="mat_leaf_b_brace"/>
    </visual>
    <visual name="leaf_b_brace_x_vis">
      <origin xyz="-0.6 -0.061 1.109" rpy="0 -1.034361 0"/>
      <geometry>
        <box size="2.032324 0.02 0.09"/>
      </geometry>
      <material name="mat_leaf_b_brace"/>
    </visual>
    <visual name="hinge_strap_0_2_vis">
      <origin xyz="0 -0.004 0.159" rpy="0 0 3.141593"/>
      <geometry>
        <mesh filename="../../hardware/strap_hinge_78d1bbb966.obj"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="hinge_strap_1_2_vis">
      <origin xyz="0 -0.004 2.059" rpy="0 0 3.141593"/>
      <geometry>
        <mesh filename="../../hardware/strap_hinge_78d1bbb966.obj"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
  </link>
  <joint name="leaf_a_hinge" type="revolute">
    <origin xyz="-1.2015 0.029 0" rpy="0 0 0"/>
    <parent link="world_env"/>
    <child link="leaf_a"/>
    <axis xyz="0 0 1"/>
    <limit lower="0" upper="1.396263" effort="2000" velocity="10"/>
    <dynamics damping="0.873883" friction="15.165791"/>
    <doorbench:closer damping_closing="0" damping_opening="0" backcheck_angle="0" backcheck_damping="0"/>
  </joint>
  <joint name="leaf_b_hinge" type="revolute">
    <origin xyz="1.2015 0.029 0" rpy="0 0 0"/>
    <parent link="world_env"/>
    <child link="leaf_b"/>
    <axis xyz="0 0 -1"/>
    <limit lower="0" upper="0.001" effort="2000" velocity="10"/>
    <dynamics damping="0.873883" friction="15.165791"/>
    <doorbench:closer damping_closing="0" damping_opening="0" backcheck_angle="0" backcheck_damping="0"/>
    <doorbench:note text="inactive leaf held by flush bolts; set range to free it"/>
  </joint>
  <material name="mat_floor">
    <color rgba="0.55 0.53 0.5 1"/>
  </material>
  <material name="mat_frame">
    <color rgba="0.75 0.55 0.38 1"/>
  </material>
  <material name="mat_hinge">
    <color rgba="0.65 0.66 0.68 1"/>
  </material>
  <material name="mat_leaf_a">
    <color rgba="0.82 0.7 0.5 1"/>
  </material>
  <material name="mat_leaf_a_brace">
    <color rgba="0.738 0.63 0.45 1"/>
  </material>
  <material name="mat_leaf_b">
    <color rgba="0.82 0.7 0.5 1"/>
  </material>
  <material name="mat_leaf_b_brace">
    <color rgba="0.738 0.63 0.45 1"/>
  </material>
  <material name="mat_op_wrought_iron">
    <color rgba="0.08 0.08 0.09 1"/>
  </material>
  <material name="mat_wall">
    <color rgba="0.78 0.76 0.7 1"/>
  </material>
</robot>
