<?xml version="1.0" ?>
<robot xmlns:doorbench="https://github.com/adamraudonis/DoorBench/schema/urdf-ext" name="db0134_sliding_single_full">
  <link name="world_env">
    <visual name="floor_vis">
      <origin xyz="0 0 -0.05" rpy="0 0 0"/>
      <geometry>
        <box size="12 12 0.1"/>
      </geometry>
      <material name="mat_floor"/>
    </visual>
    <collision name="floor_col">
      <origin xyz="0 0 -0.05" rpy="0 0 0"/>
      <geometry>
        <box size="12 12 0.1"/>
      </geometry>
    </collision>
    <visual name="wall_left_vis">
      <origin xyz="-1.46775 0 1.35" rpy="0 0 0"/>
      <geometry>
        <box size="2.0645 0.145 2.7"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_left_col">
      <origin xyz="-1.46775 0 1.35" rpy="0 0 0"/>
      <geometry>
        <box size="2.0645 0.145 2.7"/>
      </geometry>
    </collision>
    <visual name="wall_right_vis">
      <origin xyz="1.49775 0 1.35" rpy="0 0 0"/>
      <geometry>
        <box size="2.0045 0.145 2.7"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_right_col">
      <origin xyz="1.49775 0 1.35" rpy="0 0 0"/>
      <geometry>
        <box size="2.0045 0.145 2.7"/>
      </geometry>
    </collision>
    <visual name="wall_header_vis">
      <origin xyz="0.03 0 2.3855" rpy="0 0 0"/>
      <geometry>
        <box size="0.931 0.145 0.629"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_header_col">
      <origin xyz="0.03 0 2.3855" rpy="0 0 0"/>
      <geometry>
        <box size="0.931 0.145 0.629"/>
      </geometry>
    </collision>
    <visual name="jamb_l_vis">
      <origin xyz="-0.426 0 1.026" rpy="0 0 0"/>
      <geometry>
        <box size="0.019 0.145 2.052"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_l_col">
      <origin xyz="-0.426 0 1.026" rpy="0 0 0"/>
      <geometry>
        <box size="0.019 0.145 2.052"/>
      </geometry>
    </collision>
    <visual name="jamb_head_vis">
      <origin xyz="0 0 2.0615" rpy="0 0 0"/>
      <geometry>
        <box size="0.871 0.145 0.019"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_head_col">
      <origin xyz="0 0 2.0615" rpy="0 0 0"/>
      <geometry>
        <box size="0.871 0.145 0.019"/>
      </geometry>
    </collision>
    <visual name="flat_track_vis">
      <origin xyz="-0.4065 -0.0945 2.172" rpy="0 0 0"/>
      <geometry>
        <box size="1.726 0.008 0.04"/>
      </geometry>
      <material name="mat_track"/>
    </visual>
    <collision name="flat_track_col">
      <origin xyz="-0.4065 -0.0945 2.172" rpy="0 0 0"/>
      <geometry>
        <box size="1.726 0.008 0.04"/>
      </geometry>
    </collision>
    <visual name="track_standoff_0_vis">
      <origin xyz="-1.2195 -0.0815 2.172" rpy="-1.570796 0 0"/>
      <geometry>
        <cylinder radius="0.012" length="0.018"/>
      </geometry>
      <material name="mat_track"/>
    </visual>
    <visual name="track_standoff_1_vis">
      <origin xyz="-0.6775 -0.0815 2.172" rpy="-1.570796 0 0"/>
      <geometry>
        <cylinder radius="0.012" length="0.018"/>
      </geometry>
      <material name="mat_track"/>
    </visual>
    <visual name="track_standoff_2_vis">
      <origin xyz="-0.1355 -0.0815 2.172" rpy="-1.570796 0 0"/>
      <geometry>
        <cylinder radius="0.012" length="0.018"/>
      </geometry>
      <material name="mat_track"/>
    </visual>
    <visual name="track_standoff_3_vis">
      <origin xyz="0.4065 -0.0815 2.172" rpy="-1.570796 0 0"/>
      <geometry>
        <cylinder radius="0.012" length="0.018"/>
      </geometry>
      <material name="mat_track"/>
    </visual>
    <visual name="leaf_track_stop_l_vis">
      <origin xyz="-1.1615 -0.0945 2.217" rpy="0 0 0"/>
      <geometry>
        <box size="0.024 0.032 0.054"/>
      </geometry>
      <material name="mat_track"/>
    </visual>
    <collision name="leaf_track_stop_l_col">
      <origin xyz="-1.1615 -0.0945 2.217" rpy="0 0 0"/>
      <geometry>
        <box size="0.024 0.032 0.054"/>
      </geometry>
    </collision>
    <visual name="leaf_track_stop_r_vis">
      <origin xyz="0.3485 -0.0945 2.217" rpy="0 0 0"/>
      <geometry>
        <box size="0.024 0.032 0.054"/>
      </geometry>
      <material name="mat_track"/>
    </visual>
    <collision name="leaf_track_stop_r_col">
      <origin xyz="0.3485 -0.0945 2.217" rpy="0 0 0"/>
      <geometry>
        <box size="0.024 0.032 0.054"/>
      </geometry>
    </collision>
    <visual name="leaf_teardrop_keeper_post_vis">
      <origin xyz="0.4115 -0.1465 1.416" rpy="0 0 0"/>
      <geometry>
        <box size="0.01 0.012 0.036"/>
      </geometry>
      <material name="mat_teardrop"/>
    </visual>
    <collision name="leaf_teardrop_keeper_post_col">
      <origin xyz="0.4115 -0.1465 1.416" rpy="0 0 0"/>
      <geometry>
        <box size="0.01 0.012 0.036"/>
      </geometry>
    </collision>
    <visual name="leaf_teardrop_keeper_base_vis">
      <origin xyz="0.4115 -0.1605 1.42" rpy="0 0 0"/>
      <geometry>
        <box size="0.01 0.016 0.04"/>
      </geometry>
      <material name="mat_teardrop"/>
    </visual>
    <visual name="jamb_latch_0_vis">
      <origin xyz="0.456 0 1.026" rpy="0 0 0"/>
      <geometry>
        <box size="0.079 0.145 2.052"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_latch_0_col">
      <origin xyz="0.456 0 1.026" rpy="0 0 0"/>
      <geometry>
        <box size="0.079 0.145 2.052"/>
      </geometry>
    </collision>
    <visual name="floor_guide_n_vis">
      <origin xyz="-0.4065 -0.1415 0.009" rpy="0 0 0"/>
      <geometry>
        <box size="0.056 0.008 0.018"/>
      </geometry>
      <material name="mat_track"/>
    </visual>
    <collision name="floor_guide_n_col">
      <origin xyz="-0.4065 -0.1415 0.009" rpy="0 0 0"/>
      <geometry>
        <box size="0.056 0.008 0.018"/>
      </geometry>
    </collision>
    <visual name="floor_guide_n_foot_vis">
      <origin xyz="-0.4065 -0.1555 0.002" rpy="0 0 0"/>
      <geometry>
        <box size="0.056 0.036 0.004"/>
      </geometry>
      <material name="mat_track"/>
    </visual>
    <collision name="floor_guide_n_foot_col">
      <origin xyz="-0.4065 -0.1555 0.002" rpy="0 0 0"/>
      <geometry>
        <box size="0.056 0.036 0.004"/>
      </geometry>
    </collision>
    <visual name="floor_guide_p_vis">
      <origin xyz="-0.4065 -0.0875 0.009" rpy="0 0 0"/>
      <geometry>
        <box size="0.056 0.008 0.018"/>
      </geometry>
      <material name="mat_track"/>
    </visual>
    <collision name="floor_guide_p_col">
      <origin xyz="-0.4065 -0.0875 0.009" rpy="0 0 0"/>
      <geometry>
        <box size="0.056 0.008 0.018"/>
      </geometry>
    </collision>
    <visual name="floor_guide_p_foot_vis">
      <origin xyz="-0.4065 -0.0735 0.002" rpy="0 0 0"/>
      <geometry>
        <box size="0.056 0.036 0.004"/>
      </geometry>
      <material name="mat_track"/>
    </visual>
    <collision name="floor_guide_p_foot_col">
      <origin xyz="-0.4065 -0.0735 0.002" rpy="0 0 0"/>
      <geometry>
        <box size="0.056 0.036 0.004"/>
      </geometry>
    </collision>
  </link>
  <link name="leaf">
    <inertial>
      <origin xyz="0.002638 0.000096 1.110309" rpy="0 0 0"/>
      <mass value="55.319184"/>
      <inertia ixx="22.444388486" ixy="0.008644878" ixz="0.016100551" iyy="25.609014692" iyz="-0.044355227" izz="3.18753987"/>
    </inertial>
    <visual name="leaf_slab_vis">
      <origin xyz="0 0 1.028" rpy="0 0 0"/>
      <geometry>
        <box size="0.813 0.044 2.032"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <collision name="leaf_slab_col">
      <origin xyz="0 0 1.028" rpy="0 0 0"/>
      <geometry>
        <box size="0.813 0.044 2.032"/>
      </geometry>
    </collision>
    <visual name="leaf_plank_gap_1_vis">
      <origin xyz="-0.2439 0 1.028" rpy="0 0 0"/>
      <geometry>
        <box size="0.004 0.046 2.012"/>
      </geometry>
      <material name="mat_leaf_brace"/>
    </visual>
    <visual name="leaf_plank_gap_2_vis">
      <origin xyz="-0.0813 0 1.028" rpy="0 0 0"/>
      <geometry>
        <box size="0.004 0.046 2.012"/>
      </geometry>
      <material name="mat_leaf_brace"/>
    </visual>
    <visual name="leaf_plank_gap_3_vis">
      <origin xyz="0.0813 0 1.028" rpy="0 0 0"/>
      <geometry>
        <box size="0.004 0.046 2.012"/>
      </geometry>
      <material name="mat_leaf_brace"/>
    </visual>
    <visual name="leaf_plank_gap_4_vis">
      <origin xyz="0.2439 0 1.028" rpy="0 0 0"/>
      <geometry>
        <box size="0.004 0.046 2.012"/>
      </geometry>
      <material name="mat_leaf_brace"/>
    </visual>
    <visual name="leaf_batten_13_vis">
      <origin xyz="0 -0.032 0.132" rpy="0 0 0"/>
      <geometry>
        <box size="0.753 0.02 0.09"/>
      </geometry>
      <material name="mat_leaf_brace"/>
    </visual>
    <visual name="leaf_batten_192_vis">
      <origin xyz="0 -0.032 1.924" rpy="0 0 0"/>
      <geometry>
        <box size="0.753 0.02 0.09"/>
      </geometry>
      <material name="mat_leaf_brace"/>
    </visual>
    <visual name="leaf_brace_z_vis">
      <origin xyz="0 -0.032 1.028" rpy="0 -1.169858 0"/>
      <geometry>
        <box size="1.706881 0.02 0.09"/>
      </geometry>
      <material name="mat_leaf_brace"/>
    </visual>
    <visual name="leaf_brace_x_vis">
      <origin xyz="0 -0.032 1.028" rpy="0 1.169858 0"/>
      <geometry>
        <box size="1.706881 0.02 0.09"/>
      </geometry>
      <material name="mat_leaf_brace"/>
    </visual>
    <visual name="leaf_hanger_wheel_0_vis">
      <origin xyz="-0.2865 0.02 2.242" rpy="-1.570796 0 0"/>
      <geometry>
        <cylinder radius="0.05" length="0.02"/>
      </geometry>
      <material name="mat_roller"/>
    </visual>
    <visual name="leaf_hanger_mount_0_vis">
      <origin xyz="-0.2865 -0.026 1.9965" rpy="0 0 0"/>
      <geometry>
        <box size="0.036 0.008 0.145"/>
      </geometry>
      <material name="mat_roller"/>
    </visual>
    <visual name="leaf_hanger_strap_0_vis">
      <origin xyz="-0.2865 0.006 2.1615" rpy="0 0 0"/>
      <geometry>
        <box size="0.036 0.008 0.185"/>
      </geometry>
      <material name="mat_roller"/>
    </visual>
    <visual name="leaf_hanger_bend_0_vis">
      <origin xyz="-0.2865 -0.01 2.069" rpy="0 0 0"/>
      <geometry>
        <box size="0.036 0.04 0.008"/>
      </geometry>
      <material name="mat_roller"/>
    </visual>
    <visual name="leaf_hanger_axle_0_vis">
      <origin xyz="-0.2865 0.013 2.242" rpy="-1.570796 0 0"/>
      <geometry>
        <cylinder radius="0.006" length="0.042"/>
      </geometry>
      <material name="mat_roller"/>
    </visual>
    <visual name="leaf_hanger_bolt_0_90_vis">
      <origin xyz="-0.2865 -0.032 1.954" rpy="-1.570796 0 0"/>
      <geometry>
        <cylinder radius="0.007" length="0.008"/>
      </geometry>
      <material name="mat_roller"/>
    </visual>
    <visual name="leaf_hanger_bolt_0_45_vis">
      <origin xyz="-0.2865 -0.032 1.999" rpy="-1.570796 0 0"/>
      <geometry>
        <cylinder radius="0.007" length="0.008"/>
      </geometry>
      <material name="mat_roller"/>
    </visual>
    <visual name="leaf_hanger_wheel_1_vis">
      <origin xyz="0.2865 0.02 2.242" rpy="-1.570796 0 0"/>
      <geometry>
        <cylinder radius="0.05" length="0.02"/>
      </geometry>
      <material name="mat_roller"/>
    </visual>
    <visual name="leaf_hanger_mount_1_vis">
      <origin xyz="0.2865 -0.026 1.9965" rpy="0 0 0"/>
      <geometry>
        <box size="0.036 0.008 0.145"/>
      </geometry>
      <material name="mat_roller"/>
    </visual>
    <visual name="leaf_hanger_strap_1_vis">
      <origin xyz="0.2865 0.006 2.1615" rpy="0 0 0"/>
      <geometry>
        <box size="0.036 0.008 0.185"/>
      </geometry>
      <material name="mat_roller"/>
    </visual>
    <visual name="leaf_hanger_bend_1_vis">
      <origin xyz="0.2865 -0.01 2.069" rpy="0 0 0"/>
      <geometry>
        <box size="0.036 0.04 0.008"/>
      </geometry>
      <material name="mat_roller"/>
    </visual>
    <visual name="leaf_hanger_axle_1_vis">
      <origin xyz="0.2865 0.013 2.242" rpy="-1.570796 0 0"/>
      <geometry>
        <cylinder radius="0.006" length="0.042"/>
      </geometry>
      <material name="mat_roller"/>
    </visual>
    <visual name="leaf_hanger_bolt_1_90_vis">
      <origin xyz="0.2865 -0.032 1.954" rpy="-1.570796 0 0"/>
      <geometry>
        <cylinder radius="0.007" length="0.008"/>
      </geometry>
      <material name="mat_roller"/>
    </visual>
    <visual name="leaf_hanger_bolt_1_45_vis">
      <origin xyz="0.2865 -0.032 1.999" rpy="-1.570796 0 0"/>
      <geometry>
        <cylinder radius="0.007" length="0.008"/>
      </geometry>
      <material name="mat_roller"/>
    </visual>
    <visual name="leaf_pull_n_vis">
      <origin xyz="0.3165 -0.022 1" rpy="1.570796 0 0"/>
      <geometry>
        <mesh filename="../../hardware/pull_2b47e55ff8.obj"/>
      </geometry>
      <material name="mat_op_black_matte_metal"/>
    </visual>
    <collision name="leaf_pull_col_n_col">
      <origin xyz="0.3165 -0.067 1" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.006" length="0.26"/>
      </geometry>
    </collision>
  </link>
  <link name="leaf_teardrop">
    <inertial>
      <origin xyz="0.054615 0 -0.014615" rpy="0 0 0"/>
      <mass value="0.097344"/>
      <inertia ixx="0.00002687" ixy="0" ixz="0.000021888" iyy="0.000091881" iyz="0" izz="0.00006605"/>
    </inertial>
    <visual name="leaf_teardrop_top_vis">
      <origin xyz="0.04 0 -0.005" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.008 0.012"/>
      </geometry>
      <material name="mat_teardrop"/>
    </visual>
    <collision name="leaf_teardrop_top_col">
      <origin xyz="0.04 0 -0.005" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.008 0.012"/>
      </geometry>
    </collision>
    <visual name="leaf_teardrop_end_vis">
      <origin xyz="0.078 0 -0.03" rpy="0 0 0"/>
      <geometry>
        <box size="0.01 0.008 0.06"/>
      </geometry>
      <material name="mat_teardrop"/>
    </visual>
    <collision name="leaf_teardrop_end_col">
      <origin xyz="0.078 0 -0.03" rpy="0 0 0"/>
      <geometry>
        <box size="0.01 0.008 0.06"/>
      </geometry>
    </collision>
  </link>
  <joint name="leaf_slide" type="prismatic">
    <origin xyz="0 -0.1145 0" rpy="0 0 0"/>
    <parent link="world_env"/>
    <child link="leaf"/>
    <axis xyz="-1 0 0"/>
    <limit lower="0" upper="0.813" effort="5000" velocity="10"/>
    <dynamics damping="4.770826" friction="65.214059"/>
  </joint>
  <joint name="leaf_teardrop_hinge" type="revolute">
    <origin xyz="0.3465 -0.032 1.45" rpy="0 0 0"/>
    <parent link="leaf"/>
    <child link="leaf_teardrop"/>
    <axis xyz="0 -1 0"/>
    <limit lower="0" upper="1.4" effort="2000" velocity="10"/>
    <dynamics damping="0.02" friction="0.02"/>
  </joint>
  <material name="mat_floor">
    <color rgba="0.55 0.53 0.5 1"/>
  </material>
  <material name="mat_frame">
    <color rgba="0.82 0.7 0.5 1"/>
  </material>
  <material name="mat_leaf">
    <color rgba="0.5 0.51 0.53 1"/>
  </material>
  <material name="mat_leaf_brace">
    <color rgba="0.45 0.459 0.477 1"/>
  </material>
  <material name="mat_op_black_matte_metal">
    <color rgba="0.05 0.05 0.05 1"/>
  </material>
  <material name="mat_roller">
    <color rgba="0.65 0.66 0.68 1"/>
  </material>
  <material name="mat_teardrop">
    <color rgba="0.05 0.05 0.05 1"/>
  </material>
  <material name="mat_track">
    <color rgba="0.05 0.05 0.05 1"/>
  </material>
  <material name="mat_wall">
    <color rgba="0.78 0.76 0.7 1"/>
  </material>
</robot>
