<?xml version="1.0" ?>
<robot xmlns:doorbench="https://github.com/adamraudonis/DoorBench/schema/urdf-ext" name="db0370_sliding_single_full">
  <link name="world_env">
    <visual name="floor_vis">
      <origin xyz="0 0 -0.05" rpy="0 0 0"/>
      <geometry>
        <box size="12 12 0.1"/>
      </geometry>
      <material name="mat_floor"/>
    </visual>
    <collision name="floor_col">
      <origin xyz="0 0 -0.05" rpy="0 0 0"/>
      <geometry>
        <box size="12 12 0.1"/>
      </geometry>
    </collision>
    <visual name="wall_right_vis">
      <origin xyz="1.49775 0 1.35" rpy="0 0 0"/>
      <geometry>
        <box size="2.0045 0.145 2.7"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_right_col">
      <origin xyz="1.49775 0 1.35" rpy="0 0 0"/>
      <geometry>
        <box size="2.0045 0.145 2.7"/>
      </geometry>
    </collision>
    <visual name="wall_header_vis">
      <origin xyz="0.03 0 2.3855" rpy="0 0 0"/>
      <geometry>
        <box size="0.931 0.145 0.629"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_header_col">
      <origin xyz="0.03 0 2.3855" rpy="0 0 0"/>
      <geometry>
        <box size="0.931 0.145 0.629"/>
      </geometry>
    </collision>
    <visual name="pocket_skin_n_vis">
      <origin xyz="-0.848 -0.0645 1.35" rpy="0 0 0"/>
      <geometry>
        <box size="0.863 0.016 2.7"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="pocket_skin_n_col">
      <origin xyz="-0.848 -0.0645 1.35" rpy="0 0 0"/>
      <geometry>
        <box size="0.863 0.016 2.7"/>
      </geometry>
    </collision>
    <visual name="pocket_skin_p_vis">
      <origin xyz="-0.848 0.0645 1.35" rpy="0 0 0"/>
      <geometry>
        <box size="0.863 0.016 2.7"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="pocket_skin_p_col">
      <origin xyz="-0.848 0.0645 1.35" rpy="0 0 0"/>
      <geometry>
        <box size="0.863 0.016 2.7"/>
      </geometry>
    </collision>
    <visual name="wall_pocket_far_vis">
      <origin xyz="-1.88975 0 1.35" rpy="0 0 0"/>
      <geometry>
        <box size="1.2205 0.145 2.7"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_pocket_far_col">
      <origin xyz="-1.88975 0 1.35" rpy="0 0 0"/>
      <geometry>
        <box size="1.2205 0.145 2.7"/>
      </geometry>
    </collision>
    <visual name="jamb_head_vis">
      <origin xyz="0 0 2.0615" rpy="0 0 0"/>
      <geometry>
        <box size="0.871 0.145 0.019"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_head_col">
      <origin xyz="0 0 2.0615" rpy="0 0 0"/>
      <geometry>
        <box size="0.871 0.145 0.019"/>
      </geometry>
    </collision>
    <visual name="leaf_hook_keeper_vis">
      <origin xyz="0.4245 0 1.08" rpy="0 0 0"/>
      <geometry>
        <box size="0.016 0.03 0.012"/>
      </geometry>
      <material name="mat_hook"/>
    </visual>
    <collision name="leaf_hook_keeper_col">
      <origin xyz="0.4245 0 1.08" rpy="0 0 0"/>
      <geometry>
        <box size="0.016 0.03 0.012"/>
      </geometry>
    </collision>
    <visual name="jamb_latch_pwall_1080_n_vis">
      <origin xyz="0.456 -0.048 1.08" rpy="0 0 0"/>
      <geometry>
        <box size="0.079 0.049 0.12"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_latch_pwall_1080_n_col">
      <origin xyz="0.456 -0.048 1.08" rpy="0 0 0"/>
      <geometry>
        <box size="0.079 0.049 0.12"/>
      </geometry>
    </collision>
    <visual name="jamb_latch_pwall_1080_p_vis">
      <origin xyz="0.456 0.048 1.08" rpy="0 0 0"/>
      <geometry>
        <box size="0.079 0.049 0.12"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_latch_pwall_1080_p_col">
      <origin xyz="0.456 0.048 1.08" rpy="0 0 0"/>
      <geometry>
        <box size="0.079 0.049 0.12"/>
      </geometry>
    </collision>
    <visual name="jamb_latch_pback_1080_vis">
      <origin xyz="0.4915 0 1.08" rpy="0 0 0"/>
      <geometry>
        <box size="0.008 0.047 0.12"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_latch_pback_1080_col">
      <origin xyz="0.4915 0 1.08" rpy="0 0 0"/>
      <geometry>
        <box size="0.008 0.047 0.12"/>
      </geometry>
    </collision>
    <visual name="jamb_latch_0_vis">
      <origin xyz="0.456 0 0.51" rpy="0 0 0"/>
      <geometry>
        <box size="0.079 0.145 1.02"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_latch_0_col">
      <origin xyz="0.456 0 0.51" rpy="0 0 0"/>
      <geometry>
        <box size="0.079 0.145 1.02"/>
      </geometry>
    </collision>
    <visual name="jamb_latch_1_vis">
      <origin xyz="0.456 0 1.596" rpy="0 0 0"/>
      <geometry>
        <box size="0.079 0.145 0.912"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_latch_1_col">
      <origin xyz="0.456 0 1.596" rpy="0 0 0"/>
      <geometry>
        <box size="0.079 0.145 0.912"/>
      </geometry>
    </collision>
    <visual name="leaf_hook_keeper_plate_b_vis">
      <origin xyz="0.416 0 1.017" rpy="1.570796 0 -1.570796"/>
      <geometry>
        <box size="0.059 0.006 0.001"/>
      </geometry>
      <material name="mat_hook"/>
    </visual>
    <visual name="leaf_hook_keeper_plate_l_vis">
      <origin xyz="0.416 0.0265 1.08" rpy="1.570796 0 -1.570796"/>
      <geometry>
        <box size="0.006 0.12 0.001"/>
      </geometry>
      <material name="mat_hook"/>
    </visual>
    <visual name="leaf_hook_keeper_plate_t_vis">
      <origin xyz="0.416 0 1.143" rpy="1.570796 0 -1.570796"/>
      <geometry>
        <box size="0.059 0.006 0.001"/>
      </geometry>
      <material name="mat_hook"/>
    </visual>
    <visual name="leaf_hook_keeper_plate_r_vis">
      <origin xyz="0.416 -0.0265 1.08" rpy="1.570796 0 -1.570796"/>
      <geometry>
        <box size="0.006 0.12 0.001"/>
      </geometry>
      <material name="mat_hook"/>
    </visual>
  </link>
  <link name="leaf">
    <inertial>
      <origin xyz="0.000904 0 1.028107" rpy="0 0 0"/>
      <mass value="12.14666"/>
      <inertia ixx="4.170103495" ixy="0" ixz="-0.000311858" iyy="4.840310666" iyz="0" izz="0.672694384"/>
    </inertial>
    <visual name="leaf_slab_vis">
      <origin xyz="0 0 1.028" rpy="0 0 0"/>
      <geometry>
        <box size="0.813 0.035 2.032"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <collision name="leaf_slab_col">
      <origin xyz="0 0 1.028" rpy="0 0 0"/>
      <geometry>
        <box size="0.813 0.035 2.032"/>
      </geometry>
    </collision>
    <visual name="leaf_panel_0_n_vis">
      <origin xyz="-0.18075 -0.0205 0.464552" rpy="0 0 0"/>
      <geometry>
        <box size="0.2315 0.006 0.418064"/>
      </geometry>
      <material name="mat_leaf_panel"/>
    </visual>
    <visual name="leaf_panel_0_p_vis">
      <origin xyz="-0.18075 0.0205 0.464552" rpy="0 0 0"/>
      <geometry>
        <box size="0.2315 0.006 0.418064"/>
      </geometry>
      <material name="mat_leaf_panel"/>
    </visual>
    <visual name="leaf_panel_1_n_vis">
      <origin xyz="0.18075 -0.0205 0.464552" rpy="0 0 0"/>
      <geometry>
        <box size="0.2315 0.006 0.418064"/>
      </geometry>
      <material name="mat_leaf_panel"/>
    </visual>
    <visual name="leaf_panel_1_p_vis">
      <origin xyz="0.18075 0.0205 0.464552" rpy="0 0 0"/>
      <geometry>
        <box size="0.2315 0.006 0.418064"/>
      </geometry>
      <material name="mat_leaf_panel"/>
    </visual>
    <visual name="leaf_panel_2_n_vis">
      <origin xyz="-0.18075 -0.0205 1.012616" rpy="0 0 0"/>
      <geometry>
        <box size="0.2315 0.006 0.418064"/>
      </geometry>
      <material name="mat_leaf_panel"/>
    </visual>
    <visual name="leaf_panel_2_p_vis">
      <origin xyz="-0.18075 0.0205 1.012616" rpy="0 0 0"/>
      <geometry>
        <box size="0.2315 0.006 0.418064"/>
      </geometry>
      <material name="mat_leaf_panel"/>
    </visual>
    <visual name="leaf_panel_3_n_vis">
      <origin xyz="0.18075 -0.0205 1.012616" rpy="0 0 0"/>
      <geometry>
        <box size="0.2315 0.006 0.418064"/>
      </geometry>
      <material name="mat_leaf_panel"/>
    </visual>
    <visual name="leaf_panel_3_p_vis">
      <origin xyz="0.18075 0.0205 1.012616" rpy="0 0 0"/>
      <geometry>
        <box size="0.2315 0.006 0.418064"/>
      </geometry>
      <material name="mat_leaf_panel"/>
    </visual>
    <visual name="leaf_panel_4_n_vis">
      <origin xyz="-0.18075 -0.0205 1.637024" rpy="0 0 0"/>
      <geometry>
        <box size="0.2315 0.006 0.570752"/>
      </geometry>
      <material name="mat_leaf_panel"/>
    </visual>
    <visual name="leaf_panel_4_p_vis">
      <origin xyz="-0.18075 0.0205 1.637024" rpy="0 0 0"/>
      <geometry>
        <box size="0.2315 0.006 0.570752"/>
      </geometry>
      <material name="mat_leaf_panel"/>
    </visual>
    <visual name="leaf_panel_5_n_vis">
      <origin xyz="0.18075 -0.0205 1.637024" rpy="0 0 0"/>
      <geometry>
        <box size="0.2315 0.006 0.570752"/>
      </geometry>
      <material name="mat_leaf_panel"/>
    </visual>
    <visual name="leaf_panel_5_p_vis">
      <origin xyz="0.18075 0.0205 1.637024" rpy="0 0 0"/>
      <geometry>
        <box size="0.2315 0.006 0.570752"/>
      </geometry>
      <material name="mat_leaf_panel"/>
    </visual>
    <visual name="leaf_pull_n_vis">
      <origin xyz="0.3165 -0.018 1" rpy="0 0 0"/>
      <geometry>
        <box size="0.05 0.001 0.1"/>
      </geometry>
      <material name="mat_op_nickel_satin"/>
    </visual>
    <visual name="leaf_pull_p_vis">
      <origin xyz="0.3165 0.018 1" rpy="0 0 0"/>
      <geometry>
        <box size="0.05 0.001 0.1"/>
      </geometry>
      <material name="mat_op_nickel_satin"/>
    </visual>
    <visual name="leaf_hook_faceplate_vis">
      <origin xyz="0.4059 0 1.08" rpy="0 0 0"/>
      <geometry>
        <box size="0.0012 0.022 0.09"/>
      </geometry>
      <material name="mat_hook"/>
    </visual>
  </link>
  <link name="leaf_hook_thumbturn">
    <inertial>
      <origin xyz="0 -0.012928 0" rpy="0 0 0"/>
      <mass value="0.178946"/>
      <inertia ixx="0.000028031" ixy="0" ixz="-0.000002829" iyy="0.000026045" iyz="0" izz="0.000030621"/>
    </inertial>
    <visual name="leaf_hook_tt_mesh_vis">
      <origin xyz="0 0 0" rpy="1.570796 1 0"/>
      <geometry>
        <mesh filename="../../hardware/thumbturn_eb5c9899a3.obj"/>
      </geometry>
      <material name="mat_hook"/>
    </visual>
    <collision name="leaf_hook_tt_mesh_col">
      <origin xyz="0 0 0" rpy="1.570796 1 0"/>
      <geometry>
        <mesh filename="../../hardware/thumbturn_eb5c9899a3.obj"/>
      </geometry>
    </collision>
    <collision name="leaf_hook_tt_col_col">
      <origin xyz="0 -0.02 0" rpy="0 1 0"/>
      <geometry>
        <box size="0.012 0.024 0.032"/>
      </geometry>
    </collision>
  </link>
  <link name="leaf_hook">
    <inertial>
      <origin xyz="0.006651 0 -0.027503" rpy="0 0 0"/>
      <mass value="0.072048"/>
      <inertia ixx="0.000006933" ixy="0" ixz="0.000003692" iyy="0.000019175" iyz="0" izz="0.000013443"/>
    </inertial>
    <visual name="leaf_hook_arm_vis">
      <origin xyz="-0.002657 0 -0.025474" rpy="0 1 0"/>
      <geometry>
        <box size="0.044 0.01 0.012"/>
      </geometry>
      <material name="mat_hook"/>
    </visual>
    <collision name="leaf_hook_arm_col">
      <origin xyz="-0.002657 0 -0.025474" rpy="0 1 0"/>
      <geometry>
        <box size="0.044 0.01 0.012"/>
      </geometry>
    </collision>
    <visual name="leaf_hook_tip_vis">
      <origin xyz="0.019451 0 -0.030293" rpy="0 1 0"/>
      <geometry>
        <box size="0.012 0.01 0.032"/>
      </geometry>
      <material name="mat_hook"/>
    </visual>
    <collision name="leaf_hook_tip_col">
      <origin xyz="0.019451 0 -0.030293" rpy="0 1 0"/>
      <geometry>
        <box size="0.012 0.01 0.032"/>
      </geometry>
    </collision>
  </link>
  <joint name="leaf_slide" type="prismatic">
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <parent link="world_env"/>
    <child link="leaf"/>
    <axis xyz="-1 0 0"/>
    <limit lower="0" upper="0.772" effort="5000" velocity="10"/>
    <dynamics damping="2.619883" friction="1.896639"/>
  </joint>
  <joint name="leaf_hook_thumbturn_hinge" type="revolute">
    <origin xyz="0.3465 -0.0175 1.22" rpy="0 0 0"/>
    <parent link="leaf"/>
    <child link="leaf_hook_thumbturn"/>
    <axis xyz="0 1 0"/>
    <doorbench:zero_offset value="1" note="URDF q=0 is the spec initial state; DoorBench q = urdf_q + value"/>
    <limit lower="-1" upper="0" effort="2000" velocity="10"/>
    <dynamics damping="0.05" friction="0.25"/>
  </joint>
  <joint name="leaf_hook_hinge" type="revolute">
    <origin xyz="0.4065 0 1.08" rpy="0 0 0"/>
    <parent link="leaf"/>
    <child link="leaf_hook"/>
    <axis xyz="0 1 0"/>
    <doorbench:zero_offset value="1" note="URDF q=0 is the spec initial state; DoorBench q = urdf_q + value"/>
    <limit lower="-1" upper="0" effort="2000" velocity="10"/>
    <dynamics damping="0.05" friction="0.1"/>
    <mimic joint="leaf_hook_thumbturn_hinge" multiplier="1" offset="0"/>
  </joint>
  <material name="mat_floor">
    <color rgba="0.55 0.53 0.5 1"/>
  </material>
  <material name="mat_frame">
    <color rgba="0.82 0.7 0.5 1"/>
  </material>
  <material name="mat_hook">
    <color rgba="0.75 0.76 0.77 1"/>
  </material>
  <material name="mat_leaf">
    <color rgba="0.93 0.93 0.91 1"/>
  </material>
  <material name="mat_leaf_panel">
    <color rgba="0.856 0.856 0.837 1"/>
  </material>
  <material name="mat_op_nickel_satin">
    <color rgba="0.72 0.7 0.66 1"/>
  </material>
  <material name="mat_wall">
    <color rgba="0.78 0.76 0.7 1"/>
  </material>
</robot>
