<?xml version="1.0" ?>
<robot xmlns:doorbench="https://github.com/adamraudonis/DoorBench/schema/urdf-ext" name="db0395_swing_double_simple">
  <link name="world_env">
    <visual name="floor_vis">
      <origin xyz="0 0 -0.05" rpy="0 0 0"/>
      <geometry>
        <box size="12 12 0.1"/>
      </geometry>
      <material name="mat_floor"/>
    </visual>
    <collision name="floor_col">
      <origin xyz="0 0 -0.05" rpy="0 0 0"/>
      <geometry>
        <box size="12 12 0.1"/>
      </geometry>
    </collision>
    <visual name="wall_left_vis">
      <origin xyz="-1.88225 0.0305 1.5065" rpy="0 0 0"/>
      <geometry>
        <box size="1.2355 0.145 3.013"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_left_col">
      <origin xyz="-1.88225 0.0305 1.5065" rpy="0 0 0"/>
      <geometry>
        <box size="1.2355 0.145 3.013"/>
      </geometry>
    </collision>
    <visual name="wall_right_vis">
      <origin xyz="1.88225 0.0305 1.5065" rpy="0 0 0"/>
      <geometry>
        <box size="1.2355 0.145 3.013"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_right_col">
      <origin xyz="1.88225 0.0305 1.5065" rpy="0 0 0"/>
      <geometry>
        <box size="1.2355 0.145 3.013"/>
      </geometry>
    </collision>
    <visual name="wall_header_vis">
      <origin xyz="0 0.0305 2.758" rpy="0 0 0"/>
      <geometry>
        <box size="2.529 0.145 0.51"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_header_col">
      <origin xyz="0 0.0305 2.758" rpy="0 0 0"/>
      <geometry>
        <box size="2.529 0.145 0.51"/>
      </geometry>
    </collision>
    <visual name="jamb_l_vis">
      <origin xyz="-1.214 0.0305 1.2065" rpy="0 0 0"/>
      <geometry>
        <box size="0.019 0.145 2.413"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_l_col">
      <origin xyz="-1.214 0.0305 1.2065" rpy="0 0 0"/>
      <geometry>
        <box size="0.019 0.145 2.413"/>
      </geometry>
    </collision>
    <visual name="jamb_r_vis">
      <origin xyz="1.214 0.0305 1.2065" rpy="0 0 0"/>
      <geometry>
        <box size="0.019 0.145 2.413"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_r_col">
      <origin xyz="1.214 0.0305 1.2065" rpy="0 0 0"/>
      <geometry>
        <box size="0.019 0.145 2.413"/>
      </geometry>
    </collision>
    <visual name="jamb_head_vis">
      <origin xyz="0 0.0305 2.4225" rpy="0 0 0"/>
      <geometry>
        <box size="2.447 0.145 0.019"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_head_col">
      <origin xyz="0 0.0305 2.4225" rpy="0 0 0"/>
      <geometry>
        <box size="2.447 0.145 0.019"/>
      </geometry>
    </collision>
    <visual name="head_stud_vis">
      <origin xyz="0 0.0305 2.447" rpy="0 0 0"/>
      <geometry>
        <box size="2.447 0.145 0.03"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="head_stud_col">
      <origin xyz="0 0.0305 2.447" rpy="0 0 0"/>
      <geometry>
        <box size="2.447 0.145 0.03"/>
      </geometry>
    </collision>
  </link>
  <link name="leaf_a">
    <inertial>
      <origin xyz="0.582437 0.030828 1.210586" rpy="0 0 0"/>
      <mass value="66.72019"/>
      <inertia ixx="34.42064736" ixy="0.03975299" ixz="0.084983183" iyy="42.639117311" iyz="-0.000294427" izz="8.251527417"/>
    </inertial>
    <visual name="leaf_a_slab_vis">
      <origin xyz="0.6 0.029 1.213" rpy="0 0 0"/>
      <geometry>
        <box size="1.2 0.044 2.392"/>
      </geometry>
      <material name="mat_leaf_a"/>
    </visual>
    <collision name="leaf_a_slab_col">
      <origin xyz="0.6 0.029 1.213" rpy="0 0 0"/>
      <geometry>
        <box size="1.2 0.044 2.392"/>
      </geometry>
    </collision>
    <visual name="leaf_a_batten_13_vis">
      <origin xyz="0.6 -0.003 0.137" rpy="0 0 0"/>
      <geometry>
        <box size="1.14 0.02 0.09"/>
      </geometry>
      <material name="mat_leaf_a_brace"/>
    </visual>
    <visual name="leaf_a_batten_228_vis">
      <origin xyz="0.6 -0.003 2.289" rpy="0 0 0"/>
      <geometry>
        <box size="1.14 0.02 0.09"/>
      </geometry>
      <material name="mat_leaf_a_brace"/>
    </visual>
    <visual name="leaf_a_brace_z_vis">
      <origin xyz="0.6 -0.003 1.213" rpy="0 -1.07668 0"/>
      <geometry>
        <box size="2.319432 0.02 0.09"/>
      </geometry>
      <material name="mat_leaf_a_brace"/>
    </visual>
    <visual name="leaf_a_brace_x_vis">
      <origin xyz="0.6 -0.003 1.213" rpy="0 1.07668 0"/>
      <geometry>
        <box size="2.319432 0.02 0.09"/>
      </geometry>
      <material name="mat_leaf_a_brace"/>
    </visual>
    <visual name="hinge_strap_0_vis">
      <origin xyz="0 0.054 0.167" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../../hardware/strap_hinge_118b895b75.obj"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="hinge_strap_1_vis">
      <origin xyz="0 0.054 2.259" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../../hardware/strap_hinge_118b895b75.obj"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="leaf_a_pull_n_vis">
      <origin xyz="1.11 0.007 1.05" rpy="1.570796 0 0"/>
      <geometry>
        <mesh filename="../../hardware/pull_2b47e55ff8.obj"/>
      </geometry>
      <material name="mat_op_black_matte_metal"/>
    </visual>
    <collision name="leaf_a_pull_col_n_col">
      <origin xyz="1.11 -0.038 1.05" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.006" length="0.26"/>
      </geometry>
    </collision>
    <visual name="leaf_a_pull_p_vis">
      <origin xyz="1.11 0.051 1.05" rpy="-1.570796 0 0"/>
      <geometry>
        <mesh filename="../../hardware/pull_2b47e55ff8.obj"/>
      </geometry>
      <material name="mat_op_black_matte_metal"/>
    </visual>
    <collision name="leaf_a_pull_col_p_col">
      <origin xyz="1.11 0.096 1.05" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.006" length="0.26"/>
      </geometry>
    </collision>
  </link>
  <link name="leaf_b">
    <inertial>
      <origin xyz="-0.574506 0.030855 1.213" rpy="0 0 0"/>
      <mass value="65.731929"/>
      <inertia ixx="34.380747135" ixy="-0.038785726" ixz="0" iyy="42.323591441" iyz="0" izz="7.968631706"/>
    </inertial>
    <visual name="leaf_b_slab_vis">
      <origin xyz="-0.6 0.029 1.213" rpy="0 0 0"/>
      <geometry>
        <box size="1.2 0.044 2.392"/>
      </geometry>
      <material name="mat_leaf_b"/>
    </visual>
    <collision name="leaf_b_slab_col">
      <origin xyz="-0.6 0.029 1.213" rpy="0 0 0"/>
      <geometry>
        <box size="1.2 0.044 2.392"/>
      </geometry>
    </collision>
    <visual name="leaf_b_batten_13_vis">
      <origin xyz="-0.6 -0.003 0.137" rpy="0 0 0"/>
      <geometry>
        <box size="1.14 0.02 0.09"/>
      </geometry>
      <material name="mat_leaf_b_brace"/>
    </visual>
    <visual name="leaf_b_batten_228_vis">
      <origin xyz="-0.6 -0.003 2.289" rpy="0 0 0"/>
      <geometry>
        <box size="1.14 0.02 0.09"/>
      </geometry>
      <material name="mat_leaf_b_brace"/>
    </visual>
    <visual name="leaf_b_brace_z_vis">
      <origin xyz="-0.6 -0.003 1.213" rpy="0 1.07668 0"/>
      <geometry>
        <box size="2.319432 0.02 0.09"/>
      </geometry>
      <material name="mat_leaf_b_brace"/>
    </visual>
    <visual name="leaf_b_brace_x_vis">
      <origin xyz="-0.6 -0.003 1.213" rpy="0 -1.07668 0"/>
      <geometry>
        <box size="2.319432 0.02 0.09"/>
      </geometry>
      <material name="mat_leaf_b_brace"/>
    </visual>
    <visual name="hinge_strap_0_2_vis">
      <origin xyz="0 0.054 0.167" rpy="0 0 3.141593"/>
      <geometry>
        <mesh filename="../../hardware/strap_hinge_118b895b75.obj"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="hinge_strap_1_2_vis">
      <origin xyz="0 0.054 2.259" rpy="0 0 3.141593"/>
      <geometry>
        <mesh filename="../../hardware/strap_hinge_118b895b75.obj"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
  </link>
  <joint name="leaf_a_hinge" type="revolute">
    <origin xyz="-1.2015 -0.029 0" rpy="0 0 0"/>
    <parent link="world_env"/>
    <child link="leaf_a"/>
    <axis xyz="0 0 -1"/>
    <limit lower="0" upper="1.919862" effort="2000" velocity="10"/>
    <dynamics damping="0.948781" friction="28.985632"/>
    <doorbench:closer damping_closing="0" damping_opening="0" backcheck_angle="0" backcheck_damping="0"/>
  </joint>
  <joint name="leaf_b_hinge" type="revolute">
    <origin xyz="1.2015 -0.029 0" rpy="0 0 0"/>
    <parent link="world_env"/>
    <child link="leaf_b"/>
    <axis xyz="0 0 1"/>
    <limit lower="0" upper="0.001" effort="2000" velocity="10"/>
    <dynamics damping="0.948781" friction="28.985632"/>
    <doorbench:closer damping_closing="0" damping_opening="0" backcheck_angle="0" backcheck_damping="0"/>
    <doorbench:note text="inactive leaf held by flush bolts; set range to free it"/>
  </joint>
  <material name="mat_floor">
    <color rgba="0.55 0.53 0.5 1"/>
  </material>
  <material name="mat_frame">
    <color rgba="0.75 0.55 0.38 1"/>
  </material>
  <material name="mat_hinge">
    <color rgba="0.65 0.66 0.68 1"/>
  </material>
  <material name="mat_leaf_a">
    <color rgba="0.5 0.46 0.425 1"/>
  </material>
  <material name="mat_leaf_a_brace">
    <color rgba="0.45 0.414 0.383 1"/>
  </material>
  <material name="mat_leaf_b">
    <color rgba="0.5 0.46 0.425 1"/>
  </material>
  <material name="mat_leaf_b_brace">
    <color rgba="0.45 0.414 0.383 1"/>
  </material>
  <material name="mat_op_black_matte_metal">
    <color rgba="0.05 0.05 0.05 1"/>
  </material>
  <material name="mat_wall">
    <color rgba="0.78 0.76 0.7 1"/>
  </material>
</robot>
