<?xml version="1.0" ?>
<robot xmlns:doorbench="https://github.com/adamraudonis/DoorBench/schema/urdf-ext" name="db0239_gate_swing_full">
  <link name="world_env">
    <visual name="floor_vis">
      <origin xyz="0 0 -0.05" rpy="0 0 0"/>
      <geometry>
        <box size="12 12 0.1"/>
      </geometry>
      <material name="mat_floor"/>
    </visual>
    <collision name="floor_col">
      <origin xyz="0 0 -0.05" rpy="0 0 0"/>
      <geometry>
        <box size="12 12 0.1"/>
      </geometry>
    </collision>
    <visual name="leaf_fork_bracket_vis">
      <origin xyz="-1.7915 0 1.64" rpy="0 0 0"/>
      <geometry>
        <box size="0.037 0.012 0.012"/>
      </geometry>
      <material name="mat_op_steel_galvanized"/>
    </visual>
    <visual name="post_hinge_vis">
      <origin xyz="1.836 0 0.825" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.03" length="1.65"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="post_hinge_col">
      <origin xyz="1.836 0 0.825" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.03" length="1.65"/>
      </geometry>
    </collision>
    <visual name="post_hinge_cap_vis">
      <origin xyz="1.836 0 1.65" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.03"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <visual name="post_latch_vis">
      <origin xyz="-1.836 0 0.825" rpy="0 0 0"/>
      <geometry>
        <box size="0.06 0.06 1.65"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="post_latch_col">
      <origin xyz="-1.836 0 0.825" rpy="0 0 0"/>
      <geometry>
        <box size="0.06 0.06 1.65"/>
      </geometry>
    </collision>
    <visual name="post_latch_cap_vis">
      <origin xyz="-1.836 0 1.67" rpy="0 0 0"/>
      <geometry>
        <box size="0.09 0.09 0.04"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <visual name="gate_stop_vis">
      <origin xyz="-1.786 -0.0345 0.35" rpy="0 0 0"/>
      <geometry>
        <box size="0.04 0.024 0.12"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="gate_stop_col">
      <origin xyz="-1.786 -0.0345 0.35" rpy="0 0 0"/>
      <geometry>
        <box size="0.04 0.024 0.12"/>
      </geometry>
    </collision>
    <visual name="fence_picket_l_0_vis">
      <origin xyz="-1.946 0 0.85" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1.5"/>
      </geometry>
      <material name="mat_fence"/>
    </visual>
    <collision name="fence_picket_l_0_col">
      <origin xyz="-1.946 0 0.85" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1.5"/>
      </geometry>
    </collision>
    <visual name="fence_picket_l_1_vis">
      <origin xyz="-2.106 0 0.85" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1.5"/>
      </geometry>
      <material name="mat_fence"/>
    </visual>
    <collision name="fence_picket_l_1_col">
      <origin xyz="-2.106 0 0.85" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1.5"/>
      </geometry>
    </collision>
    <visual name="fence_picket_l_2_vis">
      <origin xyz="-2.266 0 0.85" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1.5"/>
      </geometry>
      <material name="mat_fence"/>
    </visual>
    <collision name="fence_picket_l_2_col">
      <origin xyz="-2.266 0 0.85" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1.5"/>
      </geometry>
    </collision>
    <visual name="fence_picket_l_3_vis">
      <origin xyz="-2.426 0 0.85" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1.5"/>
      </geometry>
      <material name="mat_fence"/>
    </visual>
    <collision name="fence_picket_l_3_col">
      <origin xyz="-2.426 0 0.85" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1.5"/>
      </geometry>
    </collision>
    <visual name="fence_picket_l_4_vis">
      <origin xyz="-2.586 0 0.85" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1.5"/>
      </geometry>
      <material name="mat_fence"/>
    </visual>
    <collision name="fence_picket_l_4_col">
      <origin xyz="-2.586 0 0.85" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1.5"/>
      </geometry>
    </collision>
    <visual name="fence_picket_l_5_vis">
      <origin xyz="-2.746 0 0.85" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1.5"/>
      </geometry>
      <material name="mat_fence"/>
    </visual>
    <collision name="fence_picket_l_5_col">
      <origin xyz="-2.746 0 0.85" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1.5"/>
      </geometry>
    </collision>
    <visual name="fence_picket_l_6_vis">
      <origin xyz="-2.906 0 0.85" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1.5"/>
      </geometry>
      <material name="mat_fence"/>
    </visual>
    <collision name="fence_picket_l_6_col">
      <origin xyz="-2.906 0 0.85" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1.5"/>
      </geometry>
    </collision>
    <visual name="fence_picket_l_7_vis">
      <origin xyz="-3.066 0 0.85" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1.5"/>
      </geometry>
      <material name="mat_fence"/>
    </visual>
    <collision name="fence_picket_l_7_col">
      <origin xyz="-3.066 0 0.85" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1.5"/>
      </geometry>
    </collision>
    <visual name="fence_picket_l_8_vis">
      <origin xyz="-3.226 0 0.85" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1.5"/>
      </geometry>
      <material name="mat_fence"/>
    </visual>
    <collision name="fence_picket_l_8_col">
      <origin xyz="-3.226 0 0.85" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1.5"/>
      </geometry>
    </collision>
    <visual name="fence_picket_l_9_vis">
      <origin xyz="-3.386 0 0.85" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1.5"/>
      </geometry>
      <material name="mat_fence"/>
    </visual>
    <collision name="fence_picket_l_9_col">
      <origin xyz="-3.386 0 0.85" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1.5"/>
      </geometry>
    </collision>
    <visual name="fence_picket_l_10_vis">
      <origin xyz="-3.546 0 0.85" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1.5"/>
      </geometry>
      <material name="mat_fence"/>
    </visual>
    <collision name="fence_picket_l_10_col">
      <origin xyz="-3.546 0 0.85" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1.5"/>
      </geometry>
    </collision>
    <visual name="fence_picket_l_11_vis">
      <origin xyz="-3.706 0 0.85" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1.5"/>
      </geometry>
      <material name="mat_fence"/>
    </visual>
    <collision name="fence_picket_l_11_col">
      <origin xyz="-3.706 0 0.85" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1.5"/>
      </geometry>
    </collision>
    <visual name="fence_rail_l_vis">
      <origin xyz="-2.866 0.015 1.45" rpy="0 0 0"/>
      <geometry>
        <box size="2 0.03 0.08"/>
      </geometry>
      <material name="mat_fence"/>
    </visual>
    <collision name="fence_rail_l_col">
      <origin xyz="-2.866 0.015 1.45" rpy="0 0 0"/>
      <geometry>
        <box size="2 0.03 0.08"/>
      </geometry>
    </collision>
    <visual name="fence_rail_b_l_vis">
      <origin xyz="-2.866 0.015 0.3" rpy="0 0 0"/>
      <geometry>
        <box size="2 0.03 0.08"/>
      </geometry>
      <material name="mat_fence"/>
    </visual>
    <collision name="fence_rail_b_l_col">
      <origin xyz="-2.866 0.015 0.3" rpy="0 0 0"/>
      <geometry>
        <box size="2 0.03 0.08"/>
      </geometry>
    </collision>
    <visual name="fence_picket_r_0_vis">
      <origin xyz="1.946 0 0.85" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1.5"/>
      </geometry>
      <material name="mat_fence"/>
    </visual>
    <collision name="fence_picket_r_0_col">
      <origin xyz="1.946 0 0.85" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1.5"/>
      </geometry>
    </collision>
    <visual name="fence_picket_r_1_vis">
      <origin xyz="2.106 0 0.85" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1.5"/>
      </geometry>
      <material name="mat_fence"/>
    </visual>
    <collision name="fence_picket_r_1_col">
      <origin xyz="2.106 0 0.85" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1.5"/>
      </geometry>
    </collision>
    <visual name="fence_picket_r_2_vis">
      <origin xyz="2.266 0 0.85" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1.5"/>
      </geometry>
      <material name="mat_fence"/>
    </visual>
    <collision name="fence_picket_r_2_col">
      <origin xyz="2.266 0 0.85" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1.5"/>
      </geometry>
    </collision>
    <visual name="fence_picket_r_3_vis">
      <origin xyz="2.426 0 0.85" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1.5"/>
      </geometry>
      <material name="mat_fence"/>
    </visual>
    <collision name="fence_picket_r_3_col">
      <origin xyz="2.426 0 0.85" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1.5"/>
      </geometry>
    </collision>
    <visual name="fence_picket_r_4_vis">
      <origin xyz="2.586 0 0.85" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1.5"/>
      </geometry>
      <material name="mat_fence"/>
    </visual>
    <collision name="fence_picket_r_4_col">
      <origin xyz="2.586 0 0.85" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1.5"/>
      </geometry>
    </collision>
    <visual name="fence_picket_r_5_vis">
      <origin xyz="2.746 0 0.85" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1.5"/>
      </geometry>
      <material name="mat_fence"/>
    </visual>
    <collision name="fence_picket_r_5_col">
      <origin xyz="2.746 0 0.85" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1.5"/>
      </geometry>
    </collision>
    <visual name="fence_picket_r_6_vis">
      <origin xyz="2.906 0 0.85" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1.5"/>
      </geometry>
      <material name="mat_fence"/>
    </visual>
    <collision name="fence_picket_r_6_col">
      <origin xyz="2.906 0 0.85" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1.5"/>
      </geometry>
    </collision>
    <visual name="fence_picket_r_7_vis">
      <origin xyz="3.066 0 0.85" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1.5"/>
      </geometry>
      <material name="mat_fence"/>
    </visual>
    <collision name="fence_picket_r_7_col">
      <origin xyz="3.066 0 0.85" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1.5"/>
      </geometry>
    </collision>
    <visual name="fence_picket_r_8_vis">
      <origin xyz="3.226 0 0.85" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1.5"/>
      </geometry>
      <material name="mat_fence"/>
    </visual>
    <collision name="fence_picket_r_8_col">
      <origin xyz="3.226 0 0.85" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1.5"/>
      </geometry>
    </collision>
    <visual name="fence_picket_r_9_vis">
      <origin xyz="3.386 0 0.85" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1.5"/>
      </geometry>
      <material name="mat_fence"/>
    </visual>
    <collision name="fence_picket_r_9_col">
      <origin xyz="3.386 0 0.85" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1.5"/>
      </geometry>
    </collision>
    <visual name="fence_picket_r_10_vis">
      <origin xyz="3.546 0 0.85" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1.5"/>
      </geometry>
      <material name="mat_fence"/>
    </visual>
    <collision name="fence_picket_r_10_col">
      <origin xyz="3.546 0 0.85" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1.5"/>
      </geometry>
    </collision>
    <visual name="fence_picket_r_11_vis">
      <origin xyz="3.706 0 0.85" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1.5"/>
      </geometry>
      <material name="mat_fence"/>
    </visual>
    <collision name="fence_picket_r_11_col">
      <origin xyz="3.706 0 0.85" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1.5"/>
      </geometry>
    </collision>
    <visual name="fence_rail_r_vis">
      <origin xyz="2.866 0.015 1.45" rpy="0 0 0"/>
      <geometry>
        <box size="2 0.03 0.08"/>
      </geometry>
      <material name="mat_fence"/>
    </visual>
    <collision name="fence_rail_r_col">
      <origin xyz="2.866 0.015 1.45" rpy="0 0 0"/>
      <geometry>
        <box size="2 0.03 0.08"/>
      </geometry>
    </collision>
    <visual name="fence_rail_b_r_vis">
      <origin xyz="2.866 0.015 0.3" rpy="0 0 0"/>
      <geometry>
        <box size="2 0.03 0.08"/>
      </geometry>
      <material name="mat_fence"/>
    </visual>
    <collision name="fence_rail_b_r_col">
      <origin xyz="2.866 0.015 0.3" rpy="0 0 0"/>
      <geometry>
        <box size="2 0.03 0.08"/>
      </geometry>
    </collision>
  </link>
  <link name="leaf">
    <inertial>
      <origin xyz="-1.759688 -0.028875 0.849999" rpy="0 0 0"/>
      <mass value="71.25462"/>
      <inertia ixx="13.67960815" ixy="-0.071451837" ixz="-0.000002976" iyy="93.376765077" iyz="-0.000000046" izz="79.722901398"/>
    </inertial>
    <collision name="leaf_slab_col_col">
      <origin xyz="-1.8 -0.0295 0.85" rpy="0 0 0"/>
      <geometry>
        <box size="3.6 0.045 1.5"/>
      </geometry>
    </collision>
    <visual name="leaf_rail_b_vis">
      <origin xyz="-1.8 -0.0295 0.13" rpy="0 0 0"/>
      <geometry>
        <box size="3.6 0.045 0.06"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <visual name="leaf_rail_t_vis">
      <origin xyz="-1.8 -0.0295 1.57" rpy="0 0 0"/>
      <geometry>
        <box size="3.6 0.045 0.06"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <visual name="leaf_stile_h_vis">
      <origin xyz="-0.03 -0.0295 0.85" rpy="0 0 0"/>
      <geometry>
        <box size="0.06 0.045 1.5"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <visual name="leaf_stile_l_vis">
      <origin xyz="-3.57 -0.0295 0.85" rpy="0 0 0"/>
      <geometry>
        <box size="0.06 0.045 1.5"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <visual name="leaf_bar_0_vis">
      <origin xyz="-0.124444 -0.0295 0.85" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.0095" length="1.38"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <visual name="leaf_bar_1_vis">
      <origin xyz="-0.253333 -0.0295 0.85" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.0095" length="1.38"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <visual name="leaf_bar_2_vis">
      <origin xyz="-0.382222 -0.0295 0.85" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.0095" length="1.38"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <visual name="leaf_bar_3_vis">
      <origin xyz="-0.511111 -0.0295 0.85" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.0095" length="1.38"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <visual name="leaf_bar_4_vis">
      <origin xyz="-0.64 -0.0295 0.85" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.0095" length="1.38"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <visual name="leaf_bar_5_vis">
      <origin xyz="-0.768889 -0.0295 0.85" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.0095" length="1.38"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <visual name="leaf_bar_6_vis">
      <origin xyz="-0.897778 -0.0295 0.85" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.0095" length="1.38"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <visual name="leaf_bar_7_vis">
      <origin xyz="-1.026667 -0.0295 0.85" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.0095" length="1.38"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <visual name="leaf_bar_8_vis">
      <origin xyz="-1.155556 -0.0295 0.85" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.0095" length="1.38"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <visual name="leaf_bar_9_vis">
      <origin xyz="-1.284444 -0.0295 0.85" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.0095" length="1.38"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <visual name="leaf_bar_10_vis">
      <origin xyz="-1.413333 -0.0295 0.85" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.0095" length="1.38"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <visual name="leaf_bar_11_vis">
      <origin xyz="-1.542222 -0.0295 0.85" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.0095" length="1.38"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <visual name="leaf_bar_12_vis">
      <origin xyz="-1.671111 -0.0295 0.85" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.0095" length="1.38"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <visual name="leaf_bar_13_vis">
      <origin xyz="-1.8 -0.0295 0.85" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.0095" length="1.38"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <visual name="leaf_bar_14_vis">
      <origin xyz="-1.928889 -0.0295 0.85" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.0095" length="1.38"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <visual name="leaf_bar_15_vis">
      <origin xyz="-2.057778 -0.0295 0.85" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.0095" length="1.38"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <visual name="leaf_bar_16_vis">
      <origin xyz="-2.186667 -0.0295 0.85" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.0095" length="1.38"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <visual name="leaf_bar_17_vis">
      <origin xyz="-2.315556 -0.0295 0.85" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.0095" length="1.38"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <visual name="leaf_bar_18_vis">
      <origin xyz="-2.444444 -0.0295 0.85" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.0095" length="1.38"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <visual name="leaf_bar_19_vis">
      <origin xyz="-2.573333 -0.0295 0.85" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.0095" length="1.38"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <visual name="leaf_bar_20_vis">
      <origin xyz="-2.702222 -0.0295 0.85" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.0095" length="1.38"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <visual name="leaf_bar_21_vis">
      <origin xyz="-2.831111 -0.0295 0.85" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.0095" length="1.38"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <visual name="leaf_bar_22_vis">
      <origin xyz="-2.96 -0.0295 0.85" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.0095" length="1.38"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <visual name="leaf_bar_23_vis">
      <origin xyz="-3.088889 -0.0295 0.85" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.0095" length="1.38"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <visual name="leaf_bar_24_vis">
      <origin xyz="-3.217778 -0.0295 0.85" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.0095" length="1.38"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <visual name="leaf_bar_25_vis">
      <origin xyz="-3.346667 -0.0295 0.85" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.0095" length="1.38"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <visual name="leaf_bar_26_vis">
      <origin xyz="-3.475556 -0.0295 0.85" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.0095" length="1.38"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <visual name="leaf_crossbar_33_vis">
      <origin xyz="-1.8 -0.0295 0.595" rpy="0 0 0"/>
      <geometry>
        <box size="3.48 0.036 0.04"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <visual name="leaf_crossbar_66_vis">
      <origin xyz="-1.8 -0.0295 1.09" rpy="0 0 0"/>
      <geometry>
        <box size="3.48 0.036 0.04"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <visual name="hinge_strap_0_vis">
      <origin xyz="0 -0.004 0.25" rpy="0 0 3.141593"/>
      <geometry>
        <mesh filename="../../hardware/strap_hinge_78d1bbb966.obj"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="hinge_strap_1_vis">
      <origin xyz="0 -0.004 1.45" rpy="0 0 3.141593"/>
      <geometry>
        <mesh filename="../../hardware/strap_hinge_78d1bbb966.obj"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
  </link>
  <link name="leaf_fork">
    <inertial>
      <origin xyz="0.051364 0 -0.028892" rpy="0 0 0"/>
      <mass value="0.97188"/>
      <inertia ixx="0.001299006" ixy="0" ixz="-0.000038311" iyy="0.001864566" iyz="0" izz="0.00162946"/>
    </inertial>
    <visual name="leaf_fork_tine_n_vis">
      <origin xyz="0.05 -0.0285 -0.05" rpy="0 0 0"/>
      <geometry>
        <box size="0.1 0.006 0.06"/>
      </geometry>
      <material name="mat_op_steel_galvanized"/>
    </visual>
    <collision name="leaf_fork_tine_n_col">
      <origin xyz="0.05 -0.0285 -0.05" rpy="0 0 0"/>
      <geometry>
        <box size="0.1 0.006 0.06"/>
      </geometry>
    </collision>
    <visual name="leaf_fork_tine_p_vis">
      <origin xyz="0.05 0.0285 -0.05" rpy="0 0 0"/>
      <geometry>
        <box size="0.1 0.006 0.06"/>
      </geometry>
      <material name="mat_op_steel_galvanized"/>
    </visual>
    <collision name="leaf_fork_tine_p_col">
      <origin xyz="0.05 0.0285 -0.05" rpy="0 0 0"/>
      <geometry>
        <box size="0.1 0.006 0.06"/>
      </geometry>
    </collision>
    <visual name="leaf_fork_bridge_vis">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.01 0.063 0.02"/>
      </geometry>
      <material name="mat_op_steel_galvanized"/>
    </visual>
    <collision name="leaf_fork_bridge_col">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.01 0.063 0.02"/>
      </geometry>
    </collision>
    <visual name="leaf_fork_handle_vis">
      <origin xyz="0.07 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.1 0.04 0.01"/>
      </geometry>
      <material name="mat_op_steel_galvanized"/>
    </visual>
    <collision name="leaf_fork_handle_col">
      <origin xyz="0.07 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.1 0.04 0.01"/>
      </geometry>
    </collision>
  </link>
  <joint name="leaf_hinge" type="revolute">
    <origin xyz="1.803 0.0295 0" rpy="0 0 0"/>
    <parent link="world_env"/>
    <child link="leaf"/>
    <axis xyz="0 0 -1"/>
    <limit lower="0" upper="1.745329" effort="2000" velocity="10"/>
    <dynamics damping="45.550797" friction="16.156394"/>
    <doorbench:closer damping_closing="0" damping_opening="0" backcheck_angle="0" backcheck_damping="0"/>
  </joint>
  <joint name="leaf_fork_hinge" type="revolute">
    <origin xyz="-1.777 0 1.64" rpy="0 0 0"/>
    <parent link="world_env"/>
    <child link="leaf_fork"/>
    <axis xyz="0 -1 0"/>
    <limit lower="0" upper="1.2" effort="2000" velocity="10"/>
    <dynamics damping="0.02" friction="0.02"/>
  </joint>
  <material name="mat_fence">
    <color rgba="0.7 0.45 0.32 1"/>
  </material>
  <material name="mat_floor">
    <color rgba="0.35 0.42 0.25 1"/>
  </material>
  <material name="mat_frame">
    <color rgba="0.65 0.66 0.68 1"/>
  </material>
  <material name="mat_hinge">
    <color rgba="0.65 0.66 0.68 1"/>
  </material>
  <material name="mat_leaf">
    <color rgba="0.65 0.66 0.68 1"/>
  </material>
  <material name="mat_op_steel_galvanized">
    <color rgba="0.65 0.66 0.68 1"/>
  </material>
</robot>
