<?xml version="1.0" ?>
<robot xmlns:doorbench="https://github.com/adamraudonis/DoorBench/schema/urdf-ext" name="db0239_gate_swing_minimal">
  <link name="world_env">
    <visual name="floor_vis">
      <origin xyz="0 0 -0.05" rpy="0 0 0"/>
      <geometry>
        <box size="12 12 0.1"/>
      </geometry>
      <material name="mat_floor"/>
    </visual>
    <collision name="floor_col">
      <origin xyz="0 0 -0.05" rpy="0 0 0"/>
      <geometry>
        <box size="12 12 0.1"/>
      </geometry>
    </collision>
    <visual name="post_hinge_vis">
      <origin xyz="1.836 0 0.825" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.03" length="1.65"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="post_hinge_col">
      <origin xyz="1.836 0 0.825" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.03" length="1.65"/>
      </geometry>
    </collision>
    <visual name="post_latch_vis">
      <origin xyz="-1.836 0 0.825" rpy="0 0 0"/>
      <geometry>
        <box size="0.06 0.06 1.65"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="post_latch_col">
      <origin xyz="-1.836 0 0.825" rpy="0 0 0"/>
      <geometry>
        <box size="0.06 0.06 1.65"/>
      </geometry>
    </collision>
    <visual name="gate_stop_vis">
      <origin xyz="-1.786 -0.0345 0.35" rpy="0 0 0"/>
      <geometry>
        <box size="0.04 0.024 0.12"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="gate_stop_col">
      <origin xyz="-1.786 -0.0345 0.35" rpy="0 0 0"/>
      <geometry>
        <box size="0.04 0.024 0.12"/>
      </geometry>
    </collision>
  </link>
  <link name="leaf">
    <inertial>
      <origin xyz="-1.8 -0.05 0.85" rpy="0 0 0"/>
      <mass value="72.034337"/>
      <inertia ixx="13.525149017" ixy="0" ixz="0" iyy="91.327009048" iyz="0" izz="77.82617162"/>
    </inertial>
    <collision name="leaf_slab_col_col">
      <origin xyz="-1.8 -0.05 0.85" rpy="0 0 0"/>
      <geometry>
        <box size="3.6 0.045 1.5"/>
      </geometry>
    </collision>
    <visual name="leaf_rail_b_vis">
      <origin xyz="-1.8 -0.05 0.13" rpy="0 0 0"/>
      <geometry>
        <box size="3.6 0.045 0.06"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <visual name="leaf_rail_t_vis">
      <origin xyz="-1.8 -0.05 1.57" rpy="0 0 0"/>
      <geometry>
        <box size="3.6 0.045 0.06"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <visual name="leaf_stile_h_vis">
      <origin xyz="-0.03 -0.05 0.85" rpy="0 0 0"/>
      <geometry>
        <box size="0.06 0.045 1.5"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <visual name="leaf_stile_l_vis">
      <origin xyz="-3.57 -0.05 0.85" rpy="0 0 0"/>
      <geometry>
        <box size="0.06 0.045 1.5"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
  </link>
  <link name="leaf_fork">
    <inertial>
      <origin xyz="-0.117803 -0.015389 0.042719" rpy="0 0 0"/>
      <mass value="0.176769"/>
      <inertia ixx="0.00023061" ixy="0.000117315" ixz="0.000127293" iyy="0.000536494" iyz="-0.000024596" izz="0.000633764"/>
    </inertial>
    <visual name="leaf_fork_arm_vis">
      <origin xyz="-0.0645 -0.0345 0.025" rpy="0 0.369769 0"/>
      <geometry>
        <box size="0.138351 0.008 0.024"/>
      </geometry>
      <material name="mat_op_steel_galvanized"/>
    </visual>
    <collision name="leaf_fork_arm_col">
      <origin xyz="-0.0645 -0.0345 0.025" rpy="0 0.369769 0"/>
      <geometry>
        <box size="0.138351 0.008 0.024"/>
      </geometry>
    </collision>
    <visual name="leaf_fork_tine_n_vis">
      <origin xyz="-0.169 -0.039 0.05" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.006 0.024"/>
      </geometry>
      <material name="mat_op_steel_galvanized"/>
    </visual>
    <collision name="leaf_fork_tine_n_col">
      <origin xyz="-0.169 -0.039 0.05" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.006 0.024"/>
      </geometry>
    </collision>
    <visual name="leaf_fork_tine_p_vis">
      <origin xyz="-0.169 0.039 0.05" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.006 0.024"/>
      </geometry>
      <material name="mat_op_steel_galvanized"/>
    </visual>
    <collision name="leaf_fork_tine_p_col">
      <origin xyz="-0.169 0.039 0.05" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.006 0.024"/>
      </geometry>
    </collision>
    <visual name="leaf_fork_bridge_vis">
      <origin xyz="-0.129 0 0.05" rpy="0 0 0"/>
      <geometry>
        <box size="0.008 0.084 0.024"/>
      </geometry>
      <material name="mat_op_steel_galvanized"/>
    </visual>
    <collision name="leaf_fork_bridge_col">
      <origin xyz="-0.129 0 0.05" rpy="0 0 0"/>
      <geometry>
        <box size="0.008 0.084 0.024"/>
      </geometry>
    </collision>
    <visual name="leaf_fork_handle_vis">
      <origin xyz="-0.129 -0.0345 0.08" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.006" length="0.036"/>
      </geometry>
      <material name="mat_op_steel_galvanized"/>
    </visual>
    <collision name="leaf_fork_handle_col">
      <origin xyz="-0.129 -0.0345 0.08" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.006" length="0.036"/>
      </geometry>
    </collision>
  </link>
  <joint name="leaf_hinge" type="revolute">
    <origin xyz="1.803 0.05 0" rpy="0 0 0"/>
    <parent link="world_env"/>
    <child link="leaf"/>
    <axis xyz="0 0 -1"/>
    <limit lower="0" upper="1.745329" effort="2000" velocity="10"/>
    <dynamics damping="45.550797" friction="16.156394"/>
    <doorbench:closer damping_closing="0" damping_opening="0" backcheck_angle="0" backcheck_damping="0"/>
  </joint>
  <joint name="leaf_fork_hinge" type="revolute">
    <origin xyz="-3.46 -0.05 0.9" rpy="0 0 0"/>
    <parent link="leaf"/>
    <child link="leaf_fork"/>
    <axis xyz="0 1 0"/>
    <limit lower="0" upper="1.2" effort="2000" velocity="10"/>
    <dynamics damping="0.02" friction="0.02"/>
  </joint>
  <material name="mat_floor">
    <color rgba="0.35 0.42 0.25 1"/>
  </material>
  <material name="mat_frame">
    <color rgba="0.65 0.66 0.68 1"/>
  </material>
  <material name="mat_leaf">
    <color rgba="0.65 0.66 0.68 1"/>
  </material>
  <material name="mat_op_steel_galvanized">
    <color rgba="0.65 0.66 0.68 1"/>
  </material>
</robot>
