<?xml version="1.0" ?>
<robot xmlns:doorbench="https://github.com/adamraudonis/DoorBench/schema/urdf-ext" name="db0239_gate_swing_simple">
  <link name="world_env">
    <visual name="floor_vis">
      <origin xyz="0 0 -0.05" rpy="0 0 0"/>
      <geometry>
        <box size="12 12 0.1"/>
      </geometry>
      <material name="mat_floor"/>
    </visual>
    <collision name="floor_col">
      <origin xyz="0 0 -0.05" rpy="0 0 0"/>
      <geometry>
        <box size="12 12 0.1"/>
      </geometry>
    </collision>
    <visual name="hinge_pintle_0_vis">
      <origin xyz="1.803 0.05 0.224" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.008" length="0.04"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="hinge_pintle_1_vis">
      <origin xyz="1.803 0.05 1.424" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.008" length="0.04"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="post_hinge_vis">
      <origin xyz="1.836 0 0.825" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.03" length="1.65"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="post_hinge_col">
      <origin xyz="1.836 0 0.825" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.03" length="1.65"/>
      </geometry>
    </collision>
    <visual name="post_latch_vis">
      <origin xyz="-1.836 0 0.825" rpy="0 0 0"/>
      <geometry>
        <box size="0.06 0.06 1.65"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="post_latch_col">
      <origin xyz="-1.836 0 0.825" rpy="0 0 0"/>
      <geometry>
        <box size="0.06 0.06 1.65"/>
      </geometry>
    </collision>
    <visual name="gate_stop_vis">
      <origin xyz="-1.786 -0.0345 0.35" rpy="0 0 0"/>
      <geometry>
        <box size="0.04 0.024 0.12"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="gate_stop_col">
      <origin xyz="-1.786 -0.0345 0.35" rpy="0 0 0"/>
      <geometry>
        <box size="0.04 0.024 0.12"/>
      </geometry>
    </collision>
    <visual name="fence_rail_l_vis">
      <origin xyz="-2.866 0.015 1.45" rpy="0 0 0"/>
      <geometry>
        <box size="2 0.03 0.08"/>
      </geometry>
      <material name="mat_fence"/>
    </visual>
    <collision name="fence_rail_l_col">
      <origin xyz="-2.866 0.015 1.45" rpy="0 0 0"/>
      <geometry>
        <box size="2 0.03 0.08"/>
      </geometry>
    </collision>
    <visual name="fence_rail_b_l_vis">
      <origin xyz="-2.866 0.015 0.3" rpy="0 0 0"/>
      <geometry>
        <box size="2 0.03 0.08"/>
      </geometry>
      <material name="mat_fence"/>
    </visual>
    <collision name="fence_rail_b_l_col">
      <origin xyz="-2.866 0.015 0.3" rpy="0 0 0"/>
      <geometry>
        <box size="2 0.03 0.08"/>
      </geometry>
    </collision>
    <visual name="fence_rail_r_vis">
      <origin xyz="2.866 0.015 1.45" rpy="0 0 0"/>
      <geometry>
        <box size="2 0.03 0.08"/>
      </geometry>
      <material name="mat_fence"/>
    </visual>
    <collision name="fence_rail_r_col">
      <origin xyz="2.866 0.015 1.45" rpy="0 0 0"/>
      <geometry>
        <box size="2 0.03 0.08"/>
      </geometry>
    </collision>
    <visual name="fence_rail_b_r_vis">
      <origin xyz="2.866 0.015 0.3" rpy="0 0 0"/>
      <geometry>
        <box size="2 0.03 0.08"/>
      </geometry>
      <material name="mat_fence"/>
    </visual>
    <collision name="fence_rail_b_r_col">
      <origin xyz="2.866 0.015 0.3" rpy="0 0 0"/>
      <geometry>
        <box size="2 0.03 0.08"/>
      </geometry>
    </collision>
    <visual name="hinge_pintle_0_strap_0_vis">
      <origin xyz="1.803 0.036 0.224" rpy="0 0 0"/>
      <geometry>
        <box size="0.0128 0.013 0.032"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="hinge_pintle_1_strap_0_vis">
      <origin xyz="1.803 0.036 1.424" rpy="0 0 0"/>
      <geometry>
        <box size="0.0128 0.013 0.032"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
  </link>
  <link name="leaf">
    <inertial>
      <origin xyz="-1.756175 -0.049205 0.850103" rpy="0 0 0"/>
      <mass value="72.384337"/>
      <inertia ixx="13.918706671" ixy="-0.094135715" ixz="0.012653701" iyy="95.711566924" iyz="0.000005906" izz="81.820159971"/>
    </inertial>
    <collision name="leaf_slab_col_col">
      <origin xyz="-1.8 -0.05 0.85" rpy="0 0 0"/>
      <geometry>
        <box size="3.6 0.045 1.5"/>
      </geometry>
    </collision>
    <visual name="leaf_rail_b_vis">
      <origin xyz="-1.8 -0.05 0.13" rpy="0 0 0"/>
      <geometry>
        <box size="3.6 0.045 0.06"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <visual name="leaf_rail_t_vis">
      <origin xyz="-1.8 -0.05 1.57" rpy="0 0 0"/>
      <geometry>
        <box size="3.6 0.045 0.06"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <visual name="leaf_stile_h_vis">
      <origin xyz="-0.03 -0.05 0.85" rpy="0 0 0"/>
      <geometry>
        <box size="0.06 0.045 1.5"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <visual name="leaf_stile_l_vis">
      <origin xyz="-3.57 -0.05 0.85" rpy="0 0 0"/>
      <geometry>
        <box size="0.06 0.045 1.5"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <visual name="leaf_bar_0_vis">
      <origin xyz="-0.124444 -0.05 0.85" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.0095" length="1.38"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <visual name="leaf_bar_1_vis">
      <origin xyz="-0.253333 -0.05 0.85" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.0095" length="1.38"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <visual name="leaf_bar_2_vis">
      <origin xyz="-0.382222 -0.05 0.85" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.0095" length="1.38"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <visual name="leaf_bar_3_vis">
      <origin xyz="-0.511111 -0.05 0.85" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.0095" length="1.38"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <visual name="leaf_bar_4_vis">
      <origin xyz="-0.64 -0.05 0.85" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.0095" length="1.38"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <visual name="leaf_bar_5_vis">
      <origin xyz="-0.768889 -0.05 0.85" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.0095" length="1.38"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <visual name="leaf_bar_6_vis">
      <origin xyz="-0.897778 -0.05 0.85" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.0095" length="1.38"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <visual name="leaf_bar_7_vis">
      <origin xyz="-1.026667 -0.05 0.85" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.0095" length="1.38"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <visual name="leaf_bar_8_vis">
      <origin xyz="-1.155556 -0.05 0.85" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.0095" length="1.38"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <visual name="leaf_bar_9_vis">
      <origin xyz="-1.284444 -0.05 0.85" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.0095" length="1.38"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <visual name="leaf_bar_10_vis">
      <origin xyz="-1.413333 -0.05 0.85" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.0095" length="1.38"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <visual name="leaf_bar_11_vis">
      <origin xyz="-1.542222 -0.05 0.85" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.0095" length="1.38"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <visual name="leaf_bar_12_vis">
      <origin xyz="-1.671111 -0.05 0.85" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.0095" length="1.38"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <visual name="leaf_bar_13_vis">
      <origin xyz="-1.8 -0.05 0.85" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.0095" length="1.38"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <visual name="leaf_bar_14_vis">
      <origin xyz="-1.928889 -0.05 0.85" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.0095" length="1.38"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <visual name="leaf_bar_15_vis">
      <origin xyz="-2.057778 -0.05 0.85" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.0095" length="1.38"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <visual name="leaf_bar_16_vis">
      <origin xyz="-2.186667 -0.05 0.85" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.0095" length="1.38"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <visual name="leaf_bar_17_vis">
      <origin xyz="-2.315556 -0.05 0.85" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.0095" length="1.38"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <visual name="leaf_bar_18_vis">
      <origin xyz="-2.444444 -0.05 0.85" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.0095" length="1.38"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <visual name="leaf_bar_19_vis">
      <origin xyz="-2.573333 -0.05 0.85" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.0095" length="1.38"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <visual name="leaf_bar_20_vis">
      <origin xyz="-2.702222 -0.05 0.85" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.0095" length="1.38"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <visual name="leaf_bar_21_vis">
      <origin xyz="-2.831111 -0.05 0.85" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.0095" length="1.38"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <visual name="leaf_bar_22_vis">
      <origin xyz="-2.96 -0.05 0.85" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.0095" length="1.38"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <visual name="leaf_bar_23_vis">
      <origin xyz="-3.088889 -0.05 0.85" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.0095" length="1.38"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <visual name="leaf_bar_24_vis">
      <origin xyz="-3.217778 -0.05 0.85" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.0095" length="1.38"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <visual name="leaf_bar_25_vis">
      <origin xyz="-3.346667 -0.05 0.85" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.0095" length="1.38"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <visual name="leaf_bar_26_vis">
      <origin xyz="-3.475556 -0.05 0.85" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.0095" length="1.38"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <visual name="hinge_strap_0_vis">
      <origin xyz="0 -0.0245 0.25" rpy="0 0 3.141593"/>
      <geometry>
        <mesh filename="../../hardware/strap_hinge_78d1bbb966.obj"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="hinge_strap_eye_0_vis">
      <origin xyz="0 0 0.25" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.011" length="0.024"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="hinge_strap_neck_0_vis">
      <origin xyz="0 -0.01225 0.25" rpy="0 0 0"/>
      <geometry>
        <box size="0.024 0.0325 0.012"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="hinge_strap_1_vis">
      <origin xyz="0 -0.0245 1.45" rpy="0 0 3.141593"/>
      <geometry>
        <mesh filename="../../hardware/strap_hinge_78d1bbb966.obj"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="hinge_strap_eye_1_vis">
      <origin xyz="0 0 1.45" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.011" length="0.024"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="hinge_strap_neck_1_vis">
      <origin xyz="0 -0.01225 1.45" rpy="0 0 0"/>
      <geometry>
        <box size="0.024 0.0325 0.012"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="leaf_fork_strap_n_vis">
      <origin xyz="-3.46 -0.0745 0.9" rpy="0 0 0"/>
      <geometry>
        <box size="0.04 0.004 0.06"/>
      </geometry>
      <material name="mat_op_steel_galvanized"/>
    </visual>
    <visual name="leaf_fork_strap_p_vis">
      <origin xyz="-3.46 -0.0255 0.9" rpy="0 0 0"/>
      <geometry>
        <box size="0.04 0.004 0.06"/>
      </geometry>
      <material name="mat_op_steel_galvanized"/>
    </visual>
  </link>
  <link name="leaf_fork">
    <inertial>
      <origin xyz="-0.108366 -0.01692 0.039297" rpy="0 0 0"/>
      <mass value="0.192163"/>
      <inertia ixx="0.000262507" ixy="0.000149196" ixz="0.000198556" iyy="0.000760358" iyz="-0.000036157" izz="0.000836332"/>
    </inertial>
    <visual name="leaf_fork_arm_vis">
      <origin xyz="-0.0645 -0.0345 0.025" rpy="0 0.369769 0"/>
      <geometry>
        <box size="0.138351 0.008 0.024"/>
      </geometry>
      <material name="mat_op_steel_galvanized"/>
    </visual>
    <collision name="leaf_fork_arm_col">
      <origin xyz="-0.0645 -0.0345 0.025" rpy="0 0.369769 0"/>
      <geometry>
        <box size="0.138351 0.008 0.024"/>
      </geometry>
    </collision>
    <visual name="leaf_fork_eye_vis">
      <origin xyz="0 -0.0345 0" rpy="-1.570796 0 0"/>
      <geometry>
        <cylinder radius="0.014" length="0.01"/>
      </geometry>
      <material name="mat_op_steel_galvanized"/>
    </visual>
    <visual name="leaf_fork_tine_n_vis">
      <origin xyz="-0.169 -0.039 0.05" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.006 0.024"/>
      </geometry>
      <material name="mat_op_steel_galvanized"/>
    </visual>
    <collision name="leaf_fork_tine_n_col">
      <origin xyz="-0.169 -0.039 0.05" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.006 0.024"/>
      </geometry>
    </collision>
    <visual name="leaf_fork_tine_p_vis">
      <origin xyz="-0.169 0.039 0.05" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.006 0.024"/>
      </geometry>
      <material name="mat_op_steel_galvanized"/>
    </visual>
    <collision name="leaf_fork_tine_p_col">
      <origin xyz="-0.169 0.039 0.05" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.006 0.024"/>
      </geometry>
    </collision>
    <visual name="leaf_fork_bridge_vis">
      <origin xyz="-0.129 0 0.05" rpy="0 0 0"/>
      <geometry>
        <box size="0.008 0.084 0.024"/>
      </geometry>
      <material name="mat_op_steel_galvanized"/>
    </visual>
    <collision name="leaf_fork_bridge_col">
      <origin xyz="-0.129 0 0.05" rpy="0 0 0"/>
      <geometry>
        <box size="0.008 0.084 0.024"/>
      </geometry>
    </collision>
    <visual name="leaf_fork_handle_vis">
      <origin xyz="-0.129 -0.0345 0.08" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.006" length="0.036"/>
      </geometry>
      <material name="mat_op_steel_galvanized"/>
    </visual>
    <collision name="leaf_fork_handle_col">
      <origin xyz="-0.129 -0.0345 0.08" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.006" length="0.036"/>
      </geometry>
    </collision>
  </link>
  <joint name="leaf_hinge" type="revolute">
    <origin xyz="1.803 0.05 0" rpy="0 0 0"/>
    <parent link="world_env"/>
    <child link="leaf"/>
    <axis xyz="0 0 -1"/>
    <limit lower="0" upper="1.745329" effort="2000" velocity="10"/>
    <dynamics damping="45.550797" friction="16.233475"/>
    <doorbench:closer damping_closing="0" damping_opening="0" backcheck_angle="0" backcheck_damping="0"/>
  </joint>
  <joint name="leaf_fork_hinge" type="revolute">
    <origin xyz="-3.46 -0.05 0.9" rpy="0 0 0"/>
    <parent link="leaf"/>
    <child link="leaf_fork"/>
    <axis xyz="0 1 0"/>
    <limit lower="0" upper="1.2" effort="2000" velocity="10"/>
    <dynamics damping="0.028928" friction="0.004642"/>
  </joint>
  <material name="mat_fence">
    <color rgba="0.7 0.45 0.32 1"/>
  </material>
  <material name="mat_floor">
    <color rgba="0.35 0.42 0.25 1"/>
  </material>
  <material name="mat_frame">
    <color rgba="0.65 0.66 0.68 1"/>
  </material>
  <material name="mat_hinge">
    <color rgba="0.65 0.66 0.68 1"/>
  </material>
  <material name="mat_leaf">
    <color rgba="0.65 0.66 0.68 1"/>
  </material>
  <material name="mat_op_steel_galvanized">
    <color rgba="0.65 0.66 0.68 1"/>
  </material>
</robot>
