<?xml version="1.0" ?>
<robot xmlns:doorbench="https://github.com/adamraudonis/DoorBench/schema/urdf-ext" name="db0049_swing_double_simple">
  <link name="world_env">
    <visual name="floor_vis">
      <origin xyz="0 0 -0.05" rpy="0 0 0"/>
      <geometry>
        <box size="12 12 0.1"/>
      </geometry>
      <material name="mat_floor"/>
    </visual>
    <collision name="floor_col">
      <origin xyz="0 0 -0.05" rpy="0 0 0"/>
      <geometry>
        <box size="12 12 0.1"/>
      </geometry>
    </collision>
    <visual name="wall_left_vis">
      <origin xyz="-1.73175 -0.074 1.3735" rpy="0 0 0"/>
      <geometry>
        <box size="1.5365 0.2 2.747"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_left_col">
      <origin xyz="-1.73175 -0.074 1.3735" rpy="0 0 0"/>
      <geometry>
        <box size="1.5365 0.2 2.747"/>
      </geometry>
    </collision>
    <visual name="wall_right_vis">
      <origin xyz="1.73175 -0.074 1.3735" rpy="0 0 0"/>
      <geometry>
        <box size="1.5365 0.2 2.747"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_right_col">
      <origin xyz="1.73175 -0.074 1.3735" rpy="0 0 0"/>
      <geometry>
        <box size="1.5365 0.2 2.747"/>
      </geometry>
    </collision>
    <visual name="wall_header_vis">
      <origin xyz="0 -0.074 2.4845" rpy="0 0 0"/>
      <geometry>
        <box size="1.927 0.2 0.525"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_header_col">
      <origin xyz="0 -0.074 2.4845" rpy="0 0 0"/>
      <geometry>
        <box size="1.927 0.2 0.525"/>
      </geometry>
    </collision>
    <visual name="floor_spring_cover_vis">
      <origin xyz="-0.7985 0 0.002" rpy="0 0 0"/>
      <geometry>
        <box size="0.34 0.12 0.004"/>
      </geometry>
      <material name="mat_closer"/>
    </visual>
    <visual name="floor_spring_cover_2_vis">
      <origin xyz="0.7985 0 0.002" rpy="0 0 0"/>
      <geometry>
        <box size="0.34 0.12 0.004"/>
      </geometry>
      <material name="mat_closer"/>
    </visual>
    <visual name="jamb_l_vis">
      <origin xyz="-0.928 -0.074 1.0735" rpy="0 0 0"/>
      <geometry>
        <box size="0.019 0.2 2.147"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_l_col">
      <origin xyz="-0.928 -0.074 1.0735" rpy="0 0 0"/>
      <geometry>
        <box size="0.019 0.2 2.147"/>
      </geometry>
    </collision>
    <visual name="jamb_r_vis">
      <origin xyz="0.928 -0.074 1.0735" rpy="0 0 0"/>
      <geometry>
        <box size="0.019 0.2 2.147"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_r_col">
      <origin xyz="0.928 -0.074 1.0735" rpy="0 0 0"/>
      <geometry>
        <box size="0.019 0.2 2.147"/>
      </geometry>
    </collision>
    <visual name="jamb_head_vis">
      <origin xyz="0 -0.074 2.1565" rpy="0 0 0"/>
      <geometry>
        <box size="1.875 0.2 0.019"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_head_col">
      <origin xyz="0 -0.074 2.1565" rpy="0 0 0"/>
      <geometry>
        <box size="1.875 0.2 0.019"/>
      </geometry>
    </collision>
    <visual name="head_stud_vis">
      <origin xyz="0 -0.074 2.181" rpy="0 0 0"/>
      <geometry>
        <box size="1.875 0.2 0.03"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="head_stud_col">
      <origin xyz="0 -0.074 2.181" rpy="0 0 0"/>
      <geometry>
        <box size="1.875 0.2 0.03"/>
      </geometry>
    </collision>
  </link>
  <link name="leaf_a">
    <inertial>
      <origin xyz="0.376865 -0.009079 1.070091" rpy="0 0 0"/>
      <mass value="16.734998"/>
      <inertia ixx="5.296388615" ixy="0.024731865" ixz="0.042735111" iyy="7.19570717" iyz="-0.000387803" izz="1.920580279"/>
    </inertial>
    <visual name="leaf_a_glass_vis">
      <origin xyz="0.457 -0.013 1.076" rpy="0 0 0"/>
      <geometry>
        <box size="0.914 0.012 2.134"/>
      </geometry>
      <material name="mat_glass_leaf"/>
    </visual>
    <collision name="leaf_a_glass_col">
      <origin xyz="0.457 -0.013 1.076" rpy="0 0 0"/>
      <geometry>
        <box size="0.914 0.012 2.134"/>
      </geometry>
    </collision>
    <visual name="leaf_a_patch_bot_vis">
      <origin xyz="0.08 -0.013 0.069" rpy="0 0 0"/>
      <geometry>
        <box size="0.16 0.028 0.1"/>
      </geometry>
      <material name="mat_patch"/>
    </visual>
    <visual name="leaf_a_patch_top_vis">
      <origin xyz="0.08 -0.013 2.083" rpy="0 0 0"/>
      <geometry>
        <box size="0.16 0.028 0.1"/>
      </geometry>
      <material name="mat_patch"/>
    </visual>
    <visual name="hinge_continuous_vis">
      <origin xyz="0 0 1.076" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.0096" length="2.114"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="leaf_a_pull_n_vis">
      <origin xyz="0.809 -0.019 1.04" rpy="1.570796 0 0"/>
      <geometry>
        <mesh filename="../../hardware/pull_1e5d69a91a.obj"/>
      </geometry>
      <material name="mat_op_stainless"/>
    </visual>
    <collision name="leaf_a_pull_col_n_col">
      <origin xyz="0.809 -0.079 1.04" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.0095" length="0.16"/>
      </geometry>
    </collision>
    <visual name="leaf_a_pull_p_vis">
      <origin xyz="0.809 -0.007 1.04" rpy="-1.570796 0 0"/>
      <geometry>
        <mesh filename="../../hardware/pull_1e5d69a91a.obj"/>
      </geometry>
      <material name="mat_op_stainless"/>
    </visual>
    <collision name="leaf_a_pull_col_p_col">
      <origin xyz="0.809 0.053 1.04" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.0095" length="0.16"/>
      </geometry>
    </collision>
  </link>
  <link name="leaf_b">
    <inertial>
      <origin xyz="-0.376865 -0.009079 1.070091" rpy="0 0 0"/>
      <mass value="16.734998"/>
      <inertia ixx="5.296388615" ixy="-0.024731865" ixz="-0.042735111" iyy="7.19570717" iyz="-0.000387803" izz="1.920580279"/>
    </inertial>
    <visual name="leaf_b_glass_vis">
      <origin xyz="-0.457 -0.013 1.076" rpy="0 0 0"/>
      <geometry>
        <box size="0.914 0.012 2.134"/>
      </geometry>
      <material name="mat_glass_leaf"/>
    </visual>
    <collision name="leaf_b_glass_col">
      <origin xyz="-0.457 -0.013 1.076" rpy="0 0 0"/>
      <geometry>
        <box size="0.914 0.012 2.134"/>
      </geometry>
    </collision>
    <visual name="leaf_b_patch_bot_vis">
      <origin xyz="-0.08 -0.013 0.069" rpy="0 0 0"/>
      <geometry>
        <box size="0.16 0.028 0.1"/>
      </geometry>
      <material name="mat_patch"/>
    </visual>
    <visual name="leaf_b_patch_top_vis">
      <origin xyz="-0.08 -0.013 2.083" rpy="0 0 0"/>
      <geometry>
        <box size="0.16 0.028 0.1"/>
      </geometry>
      <material name="mat_patch"/>
    </visual>
    <visual name="hinge_continuous_2_vis">
      <origin xyz="0 0 1.076" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.0096" length="2.114"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="leaf_b_pull_n_vis">
      <origin xyz="-0.809 -0.019 1.04" rpy="-1.570796 0 3.141593"/>
      <geometry>
        <mesh filename="../../hardware/pull_1e5d69a91a.obj"/>
      </geometry>
      <material name="mat_op_stainless"/>
    </visual>
    <collision name="leaf_b_pull_col_n_col">
      <origin xyz="-0.809 -0.079 1.04" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.0095" length="0.16"/>
      </geometry>
    </collision>
    <visual name="leaf_b_pull_p_vis">
      <origin xyz="-0.809 -0.007 1.04" rpy="1.570796 0 3.141593"/>
      <geometry>
        <mesh filename="../../hardware/pull_1e5d69a91a.obj"/>
      </geometry>
      <material name="mat_op_stainless"/>
    </visual>
    <collision name="leaf_b_pull_col_p_col">
      <origin xyz="-0.809 0.053 1.04" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.0095" length="0.16"/>
      </geometry>
    </collision>
  </link>
  <joint name="leaf_a_hinge" type="revolute">
    <origin xyz="-0.9155 0.013 0" rpy="0 0 0"/>
    <parent link="world_env"/>
    <child link="leaf_a"/>
    <axis xyz="0 0 1"/>
    <limit lower="0" upper="1.570796" effort="2000" velocity="10"/>
    <dynamics damping="8.268966" friction="1.076033"/>
    <doorbench:spring stiffness="10.650649" springref="-2.180149" note="tau = -stiffness*(q - springref); not native URDF"/>
    <doorbench:closer damping_closing="100" damping_opening="8" backcheck_angle="1.4" backcheck_damping="60"/>
  </joint>
  <joint name="leaf_b_hinge" type="revolute">
    <origin xyz="0.9155 0.013 0" rpy="0 0 0"/>
    <parent link="world_env"/>
    <child link="leaf_b"/>
    <axis xyz="0 0 -1"/>
    <limit lower="0" upper="1.570796" effort="2000" velocity="10"/>
    <dynamics damping="8.268966" friction="1.076033"/>
    <doorbench:spring stiffness="10.650649" springref="-2.180149" note="tau = -stiffness*(q - springref); not native URDF"/>
    <doorbench:closer damping_closing="100" damping_opening="8" backcheck_angle="1.4" backcheck_damping="60"/>
  </joint>
  <material name="mat_closer">
    <color rgba="0.75 0.76 0.77 1"/>
  </material>
  <material name="mat_floor">
    <color rgba="0.55 0.53 0.5 1"/>
  </material>
  <material name="mat_frame">
    <color rgba="0.8 0.81 0.83 1"/>
  </material>
  <material name="mat_glass_leaf">
    <color rgba="0.85 0.92 0.95 0.25"/>
  </material>
  <material name="mat_hinge">
    <color rgba="0.65 0.66 0.68 1"/>
  </material>
  <material name="mat_op_stainless">
    <color rgba="0.75 0.76 0.77 1"/>
  </material>
  <material name="mat_patch">
    <color rgba="0.75 0.76 0.77 1"/>
  </material>
  <material name="mat_wall">
    <color rgba="0.78 0.76 0.7 1"/>
  </material>
</robot>
