<?xml version="1.0" ?>
<robot xmlns:doorbench="https://github.com/adamraudonis/DoorBench/schema/urdf-ext" name="db0071_bifold_full">
  <link name="world_env">
    <visual name="floor_vis">
      <origin xyz="0 0 -0.05" rpy="0 0 0"/>
      <geometry>
        <box size="12 12 0.1"/>
      </geometry>
      <material name="mat_floor"/>
    </visual>
    <collision name="floor_col">
      <origin xyz="0 0 -0.05" rpy="0 0 0"/>
      <geometry>
        <box size="12 12 0.1"/>
      </geometry>
    </collision>
    <visual name="wall_left_vis">
      <origin xyz="-1.56175 0 1.5275" rpy="0 0 0"/>
      <geometry>
        <box size="1.8765 0.145 3.055"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_left_col">
      <origin xyz="-1.56175 0 1.5275" rpy="0 0 0"/>
      <geometry>
        <box size="1.8765 0.145 3.055"/>
      </geometry>
    </collision>
    <visual name="wall_right_vis">
      <origin xyz="1.56175 0 1.5275" rpy="0 0 0"/>
      <geometry>
        <box size="1.8765 0.145 3.055"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_right_col">
      <origin xyz="1.56175 0 1.5275" rpy="0 0 0"/>
      <geometry>
        <box size="1.8765 0.145 3.055"/>
      </geometry>
    </collision>
    <visual name="wall_header_vis">
      <origin xyz="0 0 2.755" rpy="0 0 0"/>
      <geometry>
        <box size="1.247 0.145 0.6"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_header_col">
      <origin xyz="0 0 2.755" rpy="0 0 0"/>
      <geometry>
        <box size="1.247 0.145 0.6"/>
      </geometry>
    </collision>
    <visual name="jamb_hinge_vis">
      <origin xyz="-0.633 0 1.2275" rpy="0 0 0"/>
      <geometry>
        <box size="0.019 0.145 2.455"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_hinge_col">
      <origin xyz="-0.633 0 1.2275" rpy="0 0 0"/>
      <geometry>
        <box size="0.019 0.145 2.455"/>
      </geometry>
    </collision>
    <visual name="jamb_strike_vis">
      <origin xyz="0.633 0 1.2275" rpy="0 0 0"/>
      <geometry>
        <box size="0.019 0.145 2.455"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_strike_col">
      <origin xyz="0.633 0 1.2275" rpy="0 0 0"/>
      <geometry>
        <box size="0.019 0.145 2.455"/>
      </geometry>
    </collision>
    <visual name="stud_strike_vis">
      <origin xyz="0.6575 0 1.2275" rpy="0 0 0"/>
      <geometry>
        <box size="0.03 0.145 2.455"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="stud_strike_col">
      <origin xyz="0.6575 0 1.2275" rpy="0 0 0"/>
      <geometry>
        <box size="0.03 0.145 2.455"/>
      </geometry>
    </collision>
    <visual name="jamb_head_vis">
      <origin xyz="0.015 0 2.4645" rpy="0 0 0"/>
      <geometry>
        <box size="1.315 0.145 0.019"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_head_col">
      <origin xyz="0.015 0 2.4645" rpy="0 0 0"/>
      <geometry>
        <box size="1.315 0.145 0.019"/>
      </geometry>
    </collision>
    <visual name="head_stud_vis">
      <origin xyz="0.015 0 2.489" rpy="0 0 0"/>
      <geometry>
        <box size="1.315 0.145 0.03"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="head_stud_col">
      <origin xyz="0.015 0 2.489" rpy="0 0 0"/>
      <geometry>
        <box size="1.315 0.145 0.03"/>
      </geometry>
    </collision>
    <visual name="casing_l_n_vis">
      <origin xyz="-0.6725 -0.0805 1.2275" rpy="0 0 0"/>
      <geometry>
        <box size="0.07 0.016 2.474"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <visual name="casing_r_n_vis">
      <origin xyz="0.6725 -0.0805 1.2275" rpy="0 0 0"/>
      <geometry>
        <box size="0.07 0.016 2.474"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <visual name="casing_h_n_vis">
      <origin xyz="0 -0.0805 2.504" rpy="0 0 0"/>
      <geometry>
        <box size="1.415 0.016 0.07"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <visual name="casing_l_p_vis">
      <origin xyz="-0.6725 0.0805 1.2275" rpy="0 0 0"/>
      <geometry>
        <box size="0.07 0.016 2.474"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <visual name="casing_r_p_vis">
      <origin xyz="0.6725 0.0805 1.2275" rpy="0 0 0"/>
      <geometry>
        <box size="0.07 0.016 2.474"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <visual name="casing_h_p_vis">
      <origin xyz="0 0.0805 2.504" rpy="0 0 0"/>
      <geometry>
        <box size="1.415 0.016 0.07"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <visual name="fold_track_vis">
      <origin xyz="0 0 2.44" rpy="0 0 0"/>
      <geometry>
        <box size="1.247 0.04 0.03"/>
      </geometry>
      <material name="mat_track"/>
    </visual>
  </link>
  <link name="panel_0_0">
    <inertial>
      <origin xyz="0.120646 0 1.222067" rpy="0 0 0"/>
      <mass value="4.705034"/>
      <inertia ixx="2.266663574" ixy="0" ixz="0.001173463" iyy="2.300201201" iyz="0" izz="0.034496842"/>
    </inertial>
    <visual name="panel_0_0_slab_vis">
      <origin xyz="0.120855 0 1.22" rpy="0 0 0"/>
      <geometry>
        <box size="0.294291 0.035 2.4"/>
      </geometry>
      <material name="mat_panel_0_0"/>
    </visual>
    <collision name="panel_0_0_slab_col">
      <origin xyz="0.120855 0 1.22" rpy="0 0 0"/>
      <geometry>
        <box size="0.294291 0.035 2.4"/>
      </geometry>
    </collision>
    <visual name="panel_0_0_pivot_pin_vis">
      <origin xyz="0 0 2.4205" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.008" length="0.021"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
  </link>
  <link name="panel_0_1">
    <inertial>
      <origin xyz="0.031507 -0.00611 1.196225" rpy="0 0 0"/>
      <mass value="5.017466"/>
      <inertia ixx="2.138171996" ixy="0.006933227" ixz="0.027674689" iyy="2.172579659" iyz="-0.005644033" izz="0.037404481"/>
    </inertial>
    <visual name="panel_0_1_slab_vis">
      <origin xyz="0.15775 -0.0175 1.22" rpy="0 0 0"/>
      <geometry>
        <box size="0.3115 0.035 2.4"/>
      </geometry>
      <material name="mat_panel_0_1"/>
    </visual>
    <collision name="panel_0_1_slab_col">
      <origin xyz="0.15775 -0.0175 1.22" rpy="0 0 0"/>
      <geometry>
        <box size="0.3115 0.035 2.4"/>
      </geometry>
    </collision>
    <visual name="panel_0_1_knuckle_vis">
      <origin xyz="0 0 1.22" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.0045" length="2.38"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="panel_0_1_knob_vis">
      <origin xyz="0.2635 -0.035 1" rpy="1.570796 0 0"/>
      <geometry>
        <mesh filename="../../hardware/knob_13f7a2a65f.obj"/>
      </geometry>
      <material name="mat_op_nickel_satin"/>
    </visual>
    <visual name="panel_0_1_knob_col_vis">
      <origin xyz="0.2635 -0.065 1" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.016"/>
      </geometry>
      <material name="mat_op_nickel_satin"/>
    </visual>
    <collision name="panel_0_1_knob_col_col">
      <origin xyz="0.2635 -0.065 1" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.016"/>
      </geometry>
    </collision>
    <visual name="panel_0_1_knob_rose_vis">
      <origin xyz="0.2635 -0.04 1" rpy="-1.570796 0 0"/>
      <geometry>
        <cylinder radius="0.022" length="0.01"/>
      </geometry>
      <material name="mat_op_nickel_satin"/>
    </visual>
  </link>
  <link name="panel_1_0">
    <inertial>
      <origin xyz="-0.120646 0 1.222067" rpy="0 0 0"/>
      <mass value="4.705034"/>
      <inertia ixx="2.266663574" ixy="0" ixz="-0.001173463" iyy="2.300201201" iyz="0" izz="0.034496842"/>
    </inertial>
    <visual name="panel_1_0_slab_vis">
      <origin xyz="-0.120855 0 1.22" rpy="0 0 0"/>
      <geometry>
        <box size="0.294291 0.035 2.4"/>
      </geometry>
      <material name="mat_panel_1_0"/>
    </visual>
    <collision name="panel_1_0_slab_col">
      <origin xyz="-0.120855 0 1.22" rpy="0 0 0"/>
      <geometry>
        <box size="0.294291 0.035 2.4"/>
      </geometry>
    </collision>
    <visual name="panel_1_0_pivot_pin_vis">
      <origin xyz="0 0 2.4205" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.008" length="0.021"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
  </link>
  <link name="panel_1_1">
    <inertial>
      <origin xyz="-0.031507 -0.00611 1.196225" rpy="0 0 0"/>
      <mass value="5.017466"/>
      <inertia ixx="2.138171996" ixy="-0.006933227" ixz="-0.027674689" iyy="2.172579659" iyz="-0.005644033" izz="0.037404481"/>
    </inertial>
    <visual name="panel_1_1_slab_vis">
      <origin xyz="-0.15775 -0.0175 1.22" rpy="0 0 0"/>
      <geometry>
        <box size="0.3115 0.035 2.4"/>
      </geometry>
      <material name="mat_panel_1_1"/>
    </visual>
    <collision name="panel_1_1_slab_col">
      <origin xyz="-0.15775 -0.0175 1.22" rpy="0 0 0"/>
      <geometry>
        <box size="0.3115 0.035 2.4"/>
      </geometry>
    </collision>
    <visual name="panel_1_1_knuckle_vis">
      <origin xyz="0 0 1.22" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.0045" length="2.38"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="panel_1_1_knob_vis">
      <origin xyz="-0.2635 -0.035 1" rpy="-1.570796 0 3.141593"/>
      <geometry>
        <mesh filename="../../hardware/knob_13f7a2a65f.obj"/>
      </geometry>
      <material name="mat_op_nickel_satin"/>
    </visual>
    <visual name="panel_1_1_knob_col_vis">
      <origin xyz="-0.2635 -0.065 1" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.016"/>
      </geometry>
      <material name="mat_op_nickel_satin"/>
    </visual>
    <collision name="panel_1_1_knob_col_col">
      <origin xyz="-0.2635 -0.065 1" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.016"/>
      </geometry>
    </collision>
    <visual name="panel_1_1_knob_rose_vis">
      <origin xyz="-0.2635 -0.04 1" rpy="-1.570796 0 0"/>
      <geometry>
        <cylinder radius="0.022" length="0.01"/>
      </geometry>
      <material name="mat_op_nickel_satin"/>
    </visual>
  </link>
  <joint name="panel_0_0_hinge" type="revolute">
    <origin xyz="-0.5885 0 0" rpy="0 0 0"/>
    <parent link="world_env"/>
    <child link="panel_0_0"/>
    <axis xyz="0 0 -1"/>
    <limit lower="0" upper="1.48353" effort="2000" velocity="10"/>
    <dynamics damping="0.79445" friction="1.816213"/>
  </joint>
  <joint name="panel_0_1_hinge" type="revolute">
    <origin xyz="0.27 0.0175 0" rpy="0 0 0"/>
    <parent link="panel_0_0"/>
    <child link="panel_0_1"/>
    <axis xyz="0 0 -1"/>
    <limit lower="-3.141593" upper="0" effort="2000" velocity="10"/>
    <dynamics damping="0.2" friction="0.1"/>
    <mimic joint="panel_0_0_hinge" multiplier="-2" offset="0"/>
  </joint>
  <joint name="panel_1_0_hinge" type="revolute">
    <origin xyz="0.5885 0 0" rpy="0 0 0"/>
    <parent link="world_env"/>
    <child link="panel_1_0"/>
    <axis xyz="0 0 1"/>
    <limit lower="0" upper="1.48353" effort="2000" velocity="10"/>
    <dynamics damping="0.79445" friction="1.816213"/>
  </joint>
  <joint name="panel_1_1_hinge" type="revolute">
    <origin xyz="-0.27 0.0175 0" rpy="0 0 0"/>
    <parent link="panel_1_0"/>
    <child link="panel_1_1"/>
    <axis xyz="0 0 1"/>
    <limit lower="-3.141593" upper="0" effort="2000" velocity="10"/>
    <dynamics damping="0.2" friction="0.1"/>
    <mimic joint="panel_1_0_hinge" multiplier="-2" offset="0"/>
  </joint>
  <material name="mat_floor">
    <color rgba="0.55 0.53 0.5 1"/>
  </material>
  <material name="mat_frame">
    <color rgba="0.82 0.7 0.5 1"/>
  </material>
  <material name="mat_hinge">
    <color rgba="0.65 0.66 0.68 1"/>
  </material>
  <material name="mat_op_nickel_satin">
    <color rgba="0.72 0.7 0.66 1"/>
  </material>
  <material name="mat_panel_0_0">
    <color rgba="0.09 0.13 0.28 1"/>
  </material>
  <material name="mat_panel_0_1">
    <color rgba="0.09 0.13 0.28 1"/>
  </material>
  <material name="mat_panel_1_0">
    <color rgba="0.09 0.13 0.28 1"/>
  </material>
  <material name="mat_panel_1_1">
    <color rgba="0.09 0.13 0.28 1"/>
  </material>
  <material name="mat_track">
    <color rgba="0.8 0.81 0.83 1"/>
  </material>
  <material name="mat_wall">
    <color rgba="0.78 0.76 0.7 1"/>
  </material>
</robot>
