<?xml version="1.0" ?>
<robot xmlns:doorbench="https://github.com/adamraudonis/DoorBench/schema/urdf-ext" name="db0063_swing_single_simple">
  <link name="world_env">
    <visual name="floor_vis">
      <origin xyz="0 0 -0.05" rpy="0 0 0"/>
      <geometry>
        <box size="12 12 0.1"/>
      </geometry>
      <material name="mat_floor"/>
    </visual>
    <collision name="floor_col">
      <origin xyz="0 0 -0.05" rpy="0 0 0"/>
      <geometry>
        <box size="12 12 0.1"/>
      </geometry>
    </collision>
    <visual name="wall_left_vis">
      <origin xyz="-1.52025 -0.0305 1.35" rpy="0 0 0"/>
      <geometry>
        <box size="1.9595 0.145 2.7"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_left_col">
      <origin xyz="-1.52025 -0.0305 1.35" rpy="0 0 0"/>
      <geometry>
        <box size="1.9595 0.145 2.7"/>
      </geometry>
    </collision>
    <visual name="wall_right_vis">
      <origin xyz="1.50525 -0.0305 1.35" rpy="0 0 0"/>
      <geometry>
        <box size="1.9895 0.145 2.7"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_right_col">
      <origin xyz="1.50525 -0.0305 1.35" rpy="0 0 0"/>
      <geometry>
        <box size="1.9895 0.145 2.7"/>
      </geometry>
    </collision>
    <visual name="wall_header_vis">
      <origin xyz="-0.015 -0.0305 2.4125" rpy="0 0 0"/>
      <geometry>
        <box size="1.051 0.145 0.575"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_header_col">
      <origin xyz="-0.015 -0.0305 2.4125" rpy="0 0 0"/>
      <geometry>
        <box size="1.051 0.145 0.575"/>
      </geometry>
    </collision>
    <visual name="leaf_deadbolt_strike_b_vis">
      <origin xyz="-0.46 0 1.1615" rpy="1.570796 0 1.570796"/>
      <geometry>
        <box size="0.031 0.006 0.001"/>
      </geometry>
      <material name="mat_deadbolt"/>
    </visual>
    <visual name="leaf_deadbolt_strike_l_vis">
      <origin xyz="-0.46 -0.0125 1.18" rpy="1.570796 0 1.570796"/>
      <geometry>
        <box size="0.006 0.031 0.001"/>
      </geometry>
      <material name="mat_deadbolt"/>
    </visual>
    <visual name="leaf_deadbolt_strike_t_vis">
      <origin xyz="-0.46 0 1.1985" rpy="1.570796 0 1.570796"/>
      <geometry>
        <box size="0.031 0.006 0.001"/>
      </geometry>
      <material name="mat_deadbolt"/>
    </visual>
    <visual name="leaf_deadbolt_strike_r_vis">
      <origin xyz="-0.46 0.0125 1.18" rpy="1.570796 0 1.570796"/>
      <geometry>
        <box size="0.006 0.031 0.001"/>
      </geometry>
      <material name="mat_deadbolt"/>
    </visual>
    <visual name="jamb_hinge_vis">
      <origin xyz="0.4855 -0.0305 1.0225" rpy="0 0 0"/>
      <geometry>
        <box size="0.05 0.145 2.045"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_hinge_col">
      <origin xyz="0.4855 -0.0305 1.0225" rpy="0 0 0"/>
      <geometry>
        <box size="0.05 0.145 2.045"/>
      </geometry>
    </collision>
    <visual name="strike_1180_wall_n_vis">
      <origin xyz="-0.5005 -0.05625 1.18" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.0935 0.031"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="strike_1180_wall_n_col">
      <origin xyz="-0.5005 -0.05625 1.18" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.0935 0.031"/>
      </geometry>
    </collision>
    <visual name="strike_1180_wall_p_vis">
      <origin xyz="-0.5005 0.02575 1.18" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.0325 0.031"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="strike_1180_wall_p_col">
      <origin xyz="-0.5005 0.02575 1.18" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.0325 0.031"/>
      </geometry>
    </collision>
    <visual name="strike_1180_back_vis">
      <origin xyz="-0.5152 0 1.18" rpy="0 0 0"/>
      <geometry>
        <box size="0.0506 0.019 0.031"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="strike_1180_back_col">
      <origin xyz="-0.5152 0 1.18" rpy="0 0 0"/>
      <geometry>
        <box size="0.0506 0.019 0.031"/>
      </geometry>
    </collision>
    <visual name="jamb_strike_0_vis">
      <origin xyz="-0.5005 -0.0305 0.58225" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.145 1.1645"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_strike_0_col">
      <origin xyz="-0.5005 -0.0305 0.58225" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.145 1.1645"/>
      </geometry>
    </collision>
    <visual name="jamb_strike_1_vis">
      <origin xyz="-0.5005 -0.0305 1.62025" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.145 0.8495"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_strike_1_col">
      <origin xyz="-0.5005 -0.0305 1.62025" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.145 0.8495"/>
      </geometry>
    </collision>
    <visual name="jamb_head_vis">
      <origin xyz="-0.015 -0.0305 2.07" rpy="0 0 0"/>
      <geometry>
        <box size="1.051 0.145 0.05"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_head_col">
      <origin xyz="-0.015 -0.0305 2.07" rpy="0 0 0"/>
      <geometry>
        <box size="1.051 0.145 0.05"/>
      </geometry>
    </collision>
    <visual name="head_stud_vis">
      <origin xyz="-0.015 -0.0305 2.11" rpy="0 0 0"/>
      <geometry>
        <box size="1.051 0.145 0.03"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="head_stud_col">
      <origin xyz="-0.015 -0.0305 2.11" rpy="0 0 0"/>
      <geometry>
        <box size="1.051 0.145 0.03"/>
      </geometry>
    </collision>
    <visual name="stop_hinge_vis">
      <origin xyz="0.455 -0.0385 1.0225" rpy="0 0 0"/>
      <geometry>
        <box size="0.011 0.032 2.045"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="stop_hinge_col">
      <origin xyz="0.455 -0.0385 1.0225" rpy="0 0 0"/>
      <geometry>
        <box size="0.011 0.032 2.045"/>
      </geometry>
    </collision>
    <visual name="stop_strike_vis">
      <origin xyz="-0.455 -0.0385 1.0225" rpy="0 0 0"/>
      <geometry>
        <box size="0.011 0.032 2.045"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="stop_strike_col">
      <origin xyz="-0.455 -0.0385 1.0225" rpy="0 0 0"/>
      <geometry>
        <box size="0.011 0.032 2.045"/>
      </geometry>
    </collision>
    <visual name="stop_head_vis">
      <origin xyz="0 -0.0385 2.0395" rpy="0 0 0"/>
      <geometry>
        <box size="0.921 0.032 0.011"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="stop_head_col">
      <origin xyz="0 -0.0385 2.0395" rpy="0 0 0"/>
      <geometry>
        <box size="0.921 0.032 0.011"/>
      </geometry>
    </collision>
    <visual name="wall_bumper_stop_vis">
      <origin xyz="0.4845 0.8059 0.35" rpy="-0.269078 1.570796 -0.269078"/>
      <geometry>
        <cylinder radius="0.025" length="0.04"/>
      </geometry>
      <material name="mat_bumper_stop"/>
    </visual>
    <collision name="wall_bumper_stop_col">
      <origin xyz="0.4845 0.8059 0.35" rpy="-0.269078 1.570796 -0.269078"/>
      <geometry>
        <cylinder radius="0.025" length="0.04"/>
      </geometry>
    </collision>
  </link>
  <link name="leaf">
    <inertial>
      <origin xyz="-0.416676 -0.017218 1.190055" rpy="0 0 0"/>
      <mass value="40.258693"/>
      <inertia ixx="16.315591972" ixy="-0.074161176" ixz="-0.790564579" iyy="18.962376597" iyz="-0.332997975" izz="2.711259497"/>
    </inertial>
    <visual name="leaf_slab_vis">
      <origin xyz="-0.457 -0.029 1.025" rpy="0 0 0"/>
      <geometry>
        <box size="0.914 0.044 2.032"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <collision name="leaf_slab_col">
      <origin xyz="-0.457 -0.029 1.025" rpy="0 0 0"/>
      <geometry>
        <box size="0.914 0.044 2.032"/>
      </geometry>
    </collision>
    <visual name="hinge_continuous_vis">
      <origin xyz="0 0 1.025" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.0096" length="2.012"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="leaf_push_plate_n_vis">
      <origin xyz="-0.809 -0.0518 1.04" rpy="0 0 0"/>
      <geometry>
        <box size="0.1 0.0016 0.4"/>
      </geometry>
      <material name="mat_op_stainless"/>
    </visual>
    <visual name="leaf_deadbolt_faceplate_vis">
      <origin xyz="-0.9134 -0.029 1.18" rpy="0 0 0"/>
      <geometry>
        <box size="0.0012 0.028 0.049"/>
      </geometry>
      <material name="mat_deadbolt"/>
    </visual>
    <visual name="closer_body_vis">
      <origin xyz="-0.297 -0.007 1.952" rpy="1.570796 0 3.141593"/>
      <geometry>
        <mesh filename="../../hardware/closer_body_b226fdb10b.obj"/>
      </geometry>
      <material name="mat_closer"/>
    </visual>
    <collision name="closer_body_col_col">
      <origin xyz="-0.297 0.033 1.952" rpy="0 0 0"/>
      <geometry>
        <box size="0.24 0.08 0.06"/>
      </geometry>
    </collision>
  </link>
  <link name="leaf_deadbolt">
    <inertial>
      <origin xyz="0.0023 0 0" rpy="0 0 0"/>
      <mass value="0.18836"/>
      <inertia ixx="0.000013829" ixy="0" ixz="0" iyy="0.000057986" iyz="0" izz="0.000052194"/>
    </inertial>
    <visual name="leaf_deadbolt_box_vis">
      <origin xyz="0.0023 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.0554 0.016 0.025"/>
      </geometry>
      <material name="mat_deadbolt"/>
    </visual>
    <collision name="leaf_deadbolt_box_col">
      <origin xyz="0.0023 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.0554 0.016 0.025"/>
      </geometry>
    </collision>
  </link>
  <link name="leaf_deadbolt_thumbturn">
    <inertial>
      <origin xyz="0 -0.012928 0" rpy="0 0 0"/>
      <mass value="0.178946"/>
      <inertia ixx="0.000032438" ixy="0" ixz="0" iyy="0.000026045" iyz="0" izz="0.000026215"/>
    </inertial>
    <visual name="leaf_deadbolt_thumbturn_mesh_vis">
      <origin xyz="0 0 0" rpy="-1.570796 0 3.141593"/>
      <geometry>
        <mesh filename="../../hardware/thumbturn_eb5c9899a3.obj"/>
      </geometry>
      <material name="mat_deadbolt"/>
    </visual>
    <collision name="leaf_deadbolt_thumbturn_mesh_col">
      <origin xyz="0 0 0" rpy="-1.570796 0 3.141593"/>
      <geometry>
        <mesh filename="../../hardware/thumbturn_eb5c9899a3.obj"/>
      </geometry>
    </collision>
    <collision name="leaf_deadbolt_thumbturn_col_col">
      <origin xyz="0 -0.02 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.012 0.024 0.032"/>
      </geometry>
    </collision>
  </link>
  <joint name="leaf_hinge" type="revolute">
    <origin xyz="0.4575 0.029 0" rpy="0 0 0"/>
    <parent link="world_env"/>
    <child link="leaf"/>
    <axis xyz="0 0 -1"/>
    <limit lower="0" upper="1.570796" effort="2000" velocity="10"/>
    <dynamics damping="10.25611" friction="0.792352"/>
    <doorbench:spring stiffness="13.057072" springref="-1.488848" note="tau = -stiffness*(q - springref); not native URDF"/>
    <doorbench:closer damping_closing="70" damping_opening="10" backcheck_angle="1.31" backcheck_damping="45"/>
  </joint>
  <joint name="leaf_deadbolt_slide" type="prismatic">
    <origin xyz="-0.914 -0.029 1.18" rpy="0 0 0"/>
    <parent link="leaf"/>
    <child link="leaf_deadbolt"/>
    <axis xyz="1 0 0"/>
    <limit lower="0" upper="0.0254" effort="5000" velocity="10"/>
    <dynamics damping="5" friction="1.5"/>
    <mimic joint="leaf_deadbolt_thumbturn_hinge" multiplier="0.01617" offset="0"/>
  </joint>
  <joint name="leaf_deadbolt_thumbturn_hinge" type="revolute">
    <origin xyz="-0.849 -0.051 1.18" rpy="0 0 0"/>
    <parent link="leaf"/>
    <child link="leaf_deadbolt_thumbturn"/>
    <axis xyz="0 1 0"/>
    <limit lower="0" upper="1.5708" effort="2000" velocity="10"/>
    <dynamics damping="0.05" friction="0.35"/>
  </joint>
  <material name="mat_bumper_stop">
    <color rgba="0.08 0.08 0.08 1"/>
  </material>
  <material name="mat_closer">
    <color rgba="0.22 0.17 0.13 1"/>
  </material>
  <material name="mat_deadbolt">
    <color rgba="0.85 0.66 0.3 1"/>
  </material>
  <material name="mat_floor">
    <color rgba="0.55 0.53 0.5 1"/>
  </material>
  <material name="mat_frame">
    <color rgba="0.45 0.48 0.52 1"/>
  </material>
  <material name="mat_hinge">
    <color rgba="0.65 0.66 0.68 1"/>
  </material>
  <material name="mat_leaf">
    <color rgba="0.5 0.51 0.53 1"/>
  </material>
  <material name="mat_op_stainless">
    <color rgba="0.75 0.76 0.77 1"/>
  </material>
  <material name="mat_wall">
    <color rgba="0.78 0.76 0.7 1"/>
  </material>
</robot>
