<?xml version="1.0" ?>
<robot xmlns:doorbench="https://github.com/adamraudonis/DoorBench/schema/urdf-ext" name="db0339_garage_tiltup_full">
  <link name="world_env">
    <visual name="floor_vis">
      <origin xyz="0 0 -0.05" rpy="0 0 0"/>
      <geometry>
        <box size="12 12 0.1"/>
      </geometry>
      <material name="mat_floor"/>
    </visual>
    <collision name="floor_col">
      <origin xyz="0 0 -0.05" rpy="0 0 0"/>
      <geometry>
        <box size="12 12 0.1"/>
      </geometry>
    </collision>
    <visual name="wall_left_vis">
      <origin xyz="-2.9525 0 1.69" rpy="0 0 0"/>
      <geometry>
        <box size="0.975 0.2 3.38"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_left_col">
      <origin xyz="-2.9525 0 1.69" rpy="0 0 0"/>
      <geometry>
        <box size="0.975 0.2 3.38"/>
      </geometry>
    </collision>
    <visual name="wall_right_vis">
      <origin xyz="2.9525 0 1.69" rpy="0 0 0"/>
      <geometry>
        <box size="0.975 0.2 3.38"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_right_col">
      <origin xyz="2.9525 0 1.69" rpy="0 0 0"/>
      <geometry>
        <box size="0.975 0.2 3.38"/>
      </geometry>
    </collision>
    <visual name="wall_header_vis">
      <origin xyz="0 0 2.78" rpy="0 0 0"/>
      <geometry>
        <box size="4.93 0.2 1.2"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_header_col">
      <origin xyz="0 0 2.78" rpy="0 0 0"/>
      <geometry>
        <box size="4.93 0.2 1.2"/>
      </geometry>
    </collision>
    <visual name="jamb_l_vis">
      <origin xyz="-2.495 0 1.09" rpy="0 0 0"/>
      <geometry>
        <box size="0.06 0.2 2.18"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_l_col">
      <origin xyz="-2.495 0 1.09" rpy="0 0 0"/>
      <geometry>
        <box size="0.06 0.2 2.18"/>
      </geometry>
    </collision>
    <visual name="pivot_bracket_l_vis">
      <origin xyz="-2.46 0.06 1.065" rpy="0 0 0"/>
      <geometry>
        <box size="0.04 0.12 0.06"/>
      </geometry>
      <material name="mat_track"/>
    </visual>
    <visual name="jamb_r_vis">
      <origin xyz="2.495 0 1.09" rpy="0 0 0"/>
      <geometry>
        <box size="0.06 0.2 2.18"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_r_col">
      <origin xyz="2.495 0 1.09" rpy="0 0 0"/>
      <geometry>
        <box size="0.06 0.2 2.18"/>
      </geometry>
    </collision>
    <visual name="pivot_bracket_r_vis">
      <origin xyz="2.46 0.06 1.065" rpy="0 0 0"/>
      <geometry>
        <box size="0.04 0.12 0.06"/>
      </geometry>
      <material name="mat_track"/>
    </visual>
  </link>
  <link name="door">
    <inertial>
      <origin xyz="0 0 0.01" rpy="0 0 0"/>
      <mass value="163.72489"/>
      <inertia ixx="61.927824223" ixy="0" ixz="0" iyy="386.816169897" iyz="0" izz="324.943603226"/>
    </inertial>
    <visual name="door_slab_vis">
      <origin xyz="0 0 0.01" rpy="0 0 0"/>
      <geometry>
        <box size="4.88 0.045 2.13"/>
      </geometry>
      <material name="mat_door"/>
    </visual>
    <collision name="door_slab_col">
      <origin xyz="0 0 0.01" rpy="0 0 0"/>
      <geometry>
        <box size="4.88 0.045 2.13"/>
      </geometry>
    </collision>
    <visual name="door_plank_gap_1_vis">
      <origin xyz="-2.296471 0 0.01" rpy="0 0 0"/>
      <geometry>
        <box size="0.004 0.047 2.11"/>
      </geometry>
      <material name="mat_door_brace"/>
    </visual>
    <visual name="door_plank_gap_2_vis">
      <origin xyz="-2.152941 0 0.01" rpy="0 0 0"/>
      <geometry>
        <box size="0.004 0.047 2.11"/>
      </geometry>
      <material name="mat_door_brace"/>
    </visual>
    <visual name="door_plank_gap_3_vis">
      <origin xyz="-2.009412 0 0.01" rpy="0 0 0"/>
      <geometry>
        <box size="0.004 0.047 2.11"/>
      </geometry>
      <material name="mat_door_brace"/>
    </visual>
    <visual name="door_plank_gap_4_vis">
      <origin xyz="-1.865882 0 0.01" rpy="0 0 0"/>
      <geometry>
        <box size="0.004 0.047 2.11"/>
      </geometry>
      <material name="mat_door_brace"/>
    </visual>
    <visual name="door_plank_gap_5_vis">
      <origin xyz="-1.722353 0 0.01" rpy="0 0 0"/>
      <geometry>
        <box size="0.004 0.047 2.11"/>
      </geometry>
      <material name="mat_door_brace"/>
    </visual>
    <visual name="door_plank_gap_6_vis">
      <origin xyz="-1.578824 0 0.01" rpy="0 0 0"/>
      <geometry>
        <box size="0.004 0.047 2.11"/>
      </geometry>
      <material name="mat_door_brace"/>
    </visual>
    <visual name="door_plank_gap_7_vis">
      <origin xyz="-1.435294 0 0.01" rpy="0 0 0"/>
      <geometry>
        <box size="0.004 0.047 2.11"/>
      </geometry>
      <material name="mat_door_brace"/>
    </visual>
    <visual name="door_plank_gap_8_vis">
      <origin xyz="-1.291765 0 0.01" rpy="0 0 0"/>
      <geometry>
        <box size="0.004 0.047 2.11"/>
      </geometry>
      <material name="mat_door_brace"/>
    </visual>
    <visual name="door_plank_gap_9_vis">
      <origin xyz="-1.148235 0 0.01" rpy="0 0 0"/>
      <geometry>
        <box size="0.004 0.047 2.11"/>
      </geometry>
      <material name="mat_door_brace"/>
    </visual>
    <visual name="door_plank_gap_10_vis">
      <origin xyz="-1.004706 0 0.01" rpy="0 0 0"/>
      <geometry>
        <box size="0.004 0.047 2.11"/>
      </geometry>
      <material name="mat_door_brace"/>
    </visual>
    <visual name="door_plank_gap_11_vis">
      <origin xyz="-0.861176 0 0.01" rpy="0 0 0"/>
      <geometry>
        <box size="0.004 0.047 2.11"/>
      </geometry>
      <material name="mat_door_brace"/>
    </visual>
    <visual name="door_plank_gap_12_vis">
      <origin xyz="-0.717647 0 0.01" rpy="0 0 0"/>
      <geometry>
        <box size="0.004 0.047 2.11"/>
      </geometry>
      <material name="mat_door_brace"/>
    </visual>
    <visual name="door_plank_gap_13_vis">
      <origin xyz="-0.574118 0 0.01" rpy="0 0 0"/>
      <geometry>
        <box size="0.004 0.047 2.11"/>
      </geometry>
      <material name="mat_door_brace"/>
    </visual>
    <visual name="door_plank_gap_14_vis">
      <origin xyz="-0.430588 0 0.01" rpy="0 0 0"/>
      <geometry>
        <box size="0.004 0.047 2.11"/>
      </geometry>
      <material name="mat_door_brace"/>
    </visual>
    <visual name="door_plank_gap_15_vis">
      <origin xyz="-0.287059 0 0.01" rpy="0 0 0"/>
      <geometry>
        <box size="0.004 0.047 2.11"/>
      </geometry>
      <material name="mat_door_brace"/>
    </visual>
    <visual name="door_plank_gap_16_vis">
      <origin xyz="-0.143529 0 0.01" rpy="0 0 0"/>
      <geometry>
        <box size="0.004 0.047 2.11"/>
      </geometry>
      <material name="mat_door_brace"/>
    </visual>
    <visual name="door_plank_gap_17_vis">
      <origin xyz="0 0 0.01" rpy="0 0 0"/>
      <geometry>
        <box size="0.004 0.047 2.11"/>
      </geometry>
      <material name="mat_door_brace"/>
    </visual>
    <visual name="door_plank_gap_18_vis">
      <origin xyz="0.143529 0 0.01" rpy="0 0 0"/>
      <geometry>
        <box size="0.004 0.047 2.11"/>
      </geometry>
      <material name="mat_door_brace"/>
    </visual>
    <visual name="door_plank_gap_19_vis">
      <origin xyz="0.287059 0 0.01" rpy="0 0 0"/>
      <geometry>
        <box size="0.004 0.047 2.11"/>
      </geometry>
      <material name="mat_door_brace"/>
    </visual>
    <visual name="door_plank_gap_20_vis">
      <origin xyz="0.430588 0 0.01" rpy="0 0 0"/>
      <geometry>
        <box size="0.004 0.047 2.11"/>
      </geometry>
      <material name="mat_door_brace"/>
    </visual>
    <visual name="door_plank_gap_21_vis">
      <origin xyz="0.574118 0 0.01" rpy="0 0 0"/>
      <geometry>
        <box size="0.004 0.047 2.11"/>
      </geometry>
      <material name="mat_door_brace"/>
    </visual>
    <visual name="door_plank_gap_22_vis">
      <origin xyz="0.717647 0 0.01" rpy="0 0 0"/>
      <geometry>
        <box size="0.004 0.047 2.11"/>
      </geometry>
      <material name="mat_door_brace"/>
    </visual>
    <visual name="door_plank_gap_23_vis">
      <origin xyz="0.861176 0 0.01" rpy="0 0 0"/>
      <geometry>
        <box size="0.004 0.047 2.11"/>
      </geometry>
      <material name="mat_door_brace"/>
    </visual>
    <visual name="door_plank_gap_24_vis">
      <origin xyz="1.004706 0 0.01" rpy="0 0 0"/>
      <geometry>
        <box size="0.004 0.047 2.11"/>
      </geometry>
      <material name="mat_door_brace"/>
    </visual>
    <visual name="door_plank_gap_25_vis">
      <origin xyz="1.148235 0 0.01" rpy="0 0 0"/>
      <geometry>
        <box size="0.004 0.047 2.11"/>
      </geometry>
      <material name="mat_door_brace"/>
    </visual>
    <visual name="door_plank_gap_26_vis">
      <origin xyz="1.291765 0 0.01" rpy="0 0 0"/>
      <geometry>
        <box size="0.004 0.047 2.11"/>
      </geometry>
      <material name="mat_door_brace"/>
    </visual>
    <visual name="door_plank_gap_27_vis">
      <origin xyz="1.435294 0 0.01" rpy="0 0 0"/>
      <geometry>
        <box size="0.004 0.047 2.11"/>
      </geometry>
      <material name="mat_door_brace"/>
    </visual>
    <visual name="door_plank_gap_28_vis">
      <origin xyz="1.578824 0 0.01" rpy="0 0 0"/>
      <geometry>
        <box size="0.004 0.047 2.11"/>
      </geometry>
      <material name="mat_door_brace"/>
    </visual>
    <visual name="door_plank_gap_29_vis">
      <origin xyz="1.722353 0 0.01" rpy="0 0 0"/>
      <geometry>
        <box size="0.004 0.047 2.11"/>
      </geometry>
      <material name="mat_door_brace"/>
    </visual>
    <visual name="door_plank_gap_30_vis">
      <origin xyz="1.865882 0 0.01" rpy="0 0 0"/>
      <geometry>
        <box size="0.004 0.047 2.11"/>
      </geometry>
      <material name="mat_door_brace"/>
    </visual>
    <visual name="door_plank_gap_31_vis">
      <origin xyz="2.009412 0 0.01" rpy="0 0 0"/>
      <geometry>
        <box size="0.004 0.047 2.11"/>
      </geometry>
      <material name="mat_door_brace"/>
    </visual>
    <visual name="door_plank_gap_32_vis">
      <origin xyz="2.152941 0 0.01" rpy="0 0 0"/>
      <geometry>
        <box size="0.004 0.047 2.11"/>
      </geometry>
      <material name="mat_door_brace"/>
    </visual>
    <visual name="door_plank_gap_33_vis">
      <origin xyz="2.296471 0 0.01" rpy="0 0 0"/>
      <geometry>
        <box size="0.004 0.047 2.11"/>
      </geometry>
      <material name="mat_door_brace"/>
    </visual>
  </link>
  <link name="t_handle">
    <inertial>
      <origin xyz="-0.029552 -0.044111 0" rpy="0 0 0"/>
      <mass value="0.298485"/>
      <inertia ixx="0.000183834" ixy="-0.000162208" ixz="0" iyy="0.000433041" iyz="0" izz="0.000589877"/>
    </inertial>
    <visual name="t_handle_spindle_vis">
      <origin xyz="0 0 0" rpy="-1.570796 0 0"/>
      <geometry>
        <cylinder radius="0.006" length="0.049"/>
      </geometry>
      <material name="mat_op_black_matte_metal"/>
    </visual>
    <visual name="t_handle_t_n_vis">
      <origin xyz="0 -0.0225 0" rpy="1.570796 0 0"/>
      <geometry>
        <mesh filename="../../hardware/lever_84834db174.obj"/>
      </geometry>
      <material name="mat_op_black_matte_metal"/>
    </visual>
    <collision name="t_handle_t_col_n_col">
      <origin xyz="-0.055 -0.0625 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.11 0.016 0.016"/>
      </geometry>
    </collision>
  </link>
  <joint name="door_hinge" type="revolute">
    <origin xyz="0 0 1.065" rpy="0 0 0"/>
    <parent link="world_env"/>
    <child link="door"/>
    <axis xyz="-1 0 0"/>
    <limit lower="0" upper="1.53589" effort="2000" velocity="10"/>
    <dynamics damping="24.56618" friction="10.848514"/>
  </joint>
  <joint name="t_handle_hinge" type="revolute">
    <origin xyz="0 0 -0.165" rpy="0 0 0"/>
    <parent link="door"/>
    <child link="t_handle"/>
    <axis xyz="0 -1 0"/>
    <limit lower="0" upper="1.5708" effort="2000" velocity="10"/>
    <dynamics damping="0.02" friction="0.028"/>
    <doorbench:spring stiffness="0.4" springref="-0.75" note="tau = -stiffness*(q - springref); not native URDF"/>
  </joint>
  <material name="mat_door">
    <color rgba="0.6 0.475 0.41 1"/>
  </material>
  <material name="mat_door_brace">
    <color rgba="0.54 0.427 0.369 1"/>
  </material>
  <material name="mat_floor">
    <color rgba="0.55 0.53 0.5 1"/>
  </material>
  <material name="mat_frame">
    <color rgba="0.82 0.7 0.5 1"/>
  </material>
  <material name="mat_op_black_matte_metal">
    <color rgba="0.05 0.05 0.05 1"/>
  </material>
  <material name="mat_track">
    <color rgba="0.65 0.66 0.68 1"/>
  </material>
  <material name="mat_wall">
    <color rgba="0.78 0.76 0.7 1"/>
  </material>
</robot>
