<?xml version="1.0" ?>
<robot xmlns:doorbench="https://github.com/adamraudonis/DoorBench/schema/urdf-ext" name="db0806_garage_sectional_simple">
  <link name="world_env">
    <visual name="floor_vis">
      <origin xyz="0 0 -0.05" rpy="0 0 0"/>
      <geometry>
        <box size="12 12 0.1"/>
      </geometry>
      <material name="mat_floor"/>
    </visual>
    <collision name="floor_col">
      <origin xyz="0 0 -0.05" rpy="0 0 0"/>
      <geometry>
        <box size="12 12 0.1"/>
      </geometry>
    </collision>
    <visual name="wall_left_vis">
      <origin xyz="-2.1825 0 2.305" rpy="0 0 0"/>
      <geometry>
        <box size="1.635 0.2 4.61"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_left_col">
      <origin xyz="-2.1825 0 2.305" rpy="0 0 0"/>
      <geometry>
        <box size="1.635 0.2 4.61"/>
      </geometry>
    </collision>
    <visual name="wall_right_vis">
      <origin xyz="2.1825 0 2.305" rpy="0 0 0"/>
      <geometry>
        <box size="1.635 0.2 4.61"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_right_col">
      <origin xyz="2.1825 0 2.305" rpy="0 0 0"/>
      <geometry>
        <box size="1.635 0.2 4.61"/>
      </geometry>
    </collision>
    <visual name="wall_header_vis">
      <origin xyz="0 0 4.5" rpy="0 0 0"/>
      <geometry>
        <box size="2.73 0.2 0.22"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_header_col">
      <origin xyz="0 0 4.5" rpy="0 0 0"/>
      <geometry>
        <box size="2.73 0.2 0.22"/>
      </geometry>
    </collision>
    <visual name="garage_jamb_l_vis">
      <origin xyz="-1.325 0 1.09" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.2 2.18"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="garage_jamb_l_col">
      <origin xyz="-1.325 0 1.09" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.2 2.18"/>
      </geometry>
    </collision>
    <visual name="garage_jamb_r_vis">
      <origin xyz="1.325 0 1.09" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.2 2.18"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="garage_jamb_r_col">
      <origin xyz="1.325 0 1.09" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.2 2.18"/>
      </geometry>
    </collision>
    <visual name="track_l_vis">
      <origin xyz="-1.27 0.0825 2.155" rpy="0 0 0"/>
      <geometry>
        <box size="0.008 0.066 4.31"/>
      </geometry>
      <material name="mat_track"/>
    </visual>
    <collision name="track_l_col">
      <origin xyz="-1.27 0.0825 2.155" rpy="0 0 0"/>
      <geometry>
        <box size="0.008 0.066 4.31"/>
      </geometry>
    </collision>
    <visual name="track_l_flange_n_vis">
      <origin xyz="-1.252 0.0535 2.155" rpy="0 0 0"/>
      <geometry>
        <box size="0.044 0.008 4.31"/>
      </geometry>
      <material name="mat_track"/>
    </visual>
    <collision name="track_l_flange_n_col">
      <origin xyz="-1.252 0.0535 2.155" rpy="0 0 0"/>
      <geometry>
        <box size="0.044 0.008 4.31"/>
      </geometry>
    </collision>
    <visual name="track_l_flange_p_vis">
      <origin xyz="-1.252 0.1115 2.155" rpy="0 0 0"/>
      <geometry>
        <box size="0.044 0.008 4.31"/>
      </geometry>
      <material name="mat_track"/>
    </visual>
    <collision name="track_l_flange_p_col">
      <origin xyz="-1.252 0.1115 2.155" rpy="0 0 0"/>
      <geometry>
        <box size="0.044 0.008 4.31"/>
      </geometry>
    </collision>
    <visual name="track_r_vis">
      <origin xyz="1.27 0.0825 2.155" rpy="0 0 0"/>
      <geometry>
        <box size="0.008 0.066 4.31"/>
      </geometry>
      <material name="mat_track"/>
    </visual>
    <collision name="track_r_col">
      <origin xyz="1.27 0.0825 2.155" rpy="0 0 0"/>
      <geometry>
        <box size="0.008 0.066 4.31"/>
      </geometry>
    </collision>
    <visual name="track_r_flange_n_vis">
      <origin xyz="1.252 0.0535 2.155" rpy="0 0 0"/>
      <geometry>
        <box size="0.044 0.008 4.31"/>
      </geometry>
      <material name="mat_track"/>
    </visual>
    <collision name="track_r_flange_n_col">
      <origin xyz="1.252 0.0535 2.155" rpy="0 0 0"/>
      <geometry>
        <box size="0.044 0.008 4.31"/>
      </geometry>
    </collision>
    <visual name="track_r_flange_p_vis">
      <origin xyz="1.252 0.1115 2.155" rpy="0 0 0"/>
      <geometry>
        <box size="0.044 0.008 4.31"/>
      </geometry>
      <material name="mat_track"/>
    </visual>
    <collision name="track_r_flange_p_col">
      <origin xyz="1.252 0.1115 2.155" rpy="0 0 0"/>
      <geometry>
        <box size="0.044 0.008 4.31"/>
      </geometry>
    </collision>
    <visual name="torsion_shaft_vis">
      <origin xyz="0 0.17 2.43" rpy="0 1.570796 0"/>
      <geometry>
        <cylinder radius="0.013" length="2.95"/>
      </geometry>
      <material name="mat_track"/>
    </visual>
    <collision name="torsion_shaft_col">
      <origin xyz="0 0.17 2.43" rpy="0 1.570796 0"/>
      <geometry>
        <cylinder radius="0.013" length="2.95"/>
      </geometry>
    </collision>
    <visual name="torsion_bearing_plate_l_vis">
      <origin xyz="-1.425 0.104 2.43" rpy="0 0 0"/>
      <geometry>
        <box size="0.11 0.008 0.11"/>
      </geometry>
      <material name="mat_track"/>
    </visual>
    <visual name="torsion_bearing_arm_l_vis">
      <origin xyz="-1.425 0.139 2.43" rpy="0 0 0"/>
      <geometry>
        <box size="0.016 0.098 0.06"/>
      </geometry>
      <material name="mat_track"/>
    </visual>
    <visual name="torsion_bearing_plate_r_vis">
      <origin xyz="1.425 0.104 2.43" rpy="0 0 0"/>
      <geometry>
        <box size="0.11 0.008 0.11"/>
      </geometry>
      <material name="mat_track"/>
    </visual>
    <visual name="torsion_bearing_arm_r_vis">
      <origin xyz="1.425 0.139 2.43" rpy="0 0 0"/>
      <geometry>
        <box size="0.016 0.098 0.06"/>
      </geometry>
      <material name="mat_track"/>
    </visual>
  </link>
  <link name="door">
    <inertial>
      <origin xyz="0 0 1.071861" rpy="0 0 0"/>
      <mass value="55.844983"/>
      <inertia ixx="20.76544631" ixy="0" ixz="0" iyy="47.945511882" iyz="0" izz="27.207446534"/>
    </inertial>
    <visual name="section_0_slab_vis">
      <origin xyz="0 0 0.27625" rpy="0 0 0"/>
      <geometry>
        <box size="2.44 0.045 0.5325"/>
      </geometry>
      <material name="mat_section_0"/>
    </visual>
    <collision name="section_0_slab_col">
      <origin xyz="0 0 0.27625" rpy="0 0 0"/>
      <geometry>
        <box size="2.44 0.045 0.5325"/>
      </geometry>
    </collision>
    <visual name="section_0_glass_0_vis">
      <origin xyz="-0.8925 0 0.46795" rpy="0 0 0"/>
      <geometry>
        <box size="0.555 0.0466 0.0852"/>
      </geometry>
      <material name="mat_glass"/>
    </visual>
    <visual name="section_0_glass_1_vis">
      <origin xyz="-0.2975 0 0.46795" rpy="0 0 0"/>
      <geometry>
        <box size="0.555 0.0466 0.0852"/>
      </geometry>
      <material name="mat_glass"/>
    </visual>
    <visual name="section_0_glass_2_vis">
      <origin xyz="0.2975 0 0.46795" rpy="0 0 0"/>
      <geometry>
        <box size="0.555 0.0466 0.0852"/>
      </geometry>
      <material name="mat_glass"/>
    </visual>
    <visual name="section_0_glass_3_vis">
      <origin xyz="0.8925 0 0.46795" rpy="0 0 0"/>
      <geometry>
        <box size="0.555 0.0466 0.0852"/>
      </geometry>
      <material name="mat_glass"/>
    </visual>
    <visual name="section_1_slab_vis">
      <origin xyz="0 0 0.80875" rpy="0 0 0"/>
      <geometry>
        <box size="2.44 0.045 0.5325"/>
      </geometry>
      <material name="mat_section_1"/>
    </visual>
    <collision name="section_1_slab_col">
      <origin xyz="0 0 0.80875" rpy="0 0 0"/>
      <geometry>
        <box size="2.44 0.045 0.5325"/>
      </geometry>
    </collision>
    <visual name="section_1_glass_0_vis">
      <origin xyz="-0.8925 0 1.00045" rpy="0 0 0"/>
      <geometry>
        <box size="0.555 0.0466 0.0852"/>
      </geometry>
      <material name="mat_glass"/>
    </visual>
    <visual name="section_1_glass_1_vis">
      <origin xyz="-0.2975 0 1.00045" rpy="0 0 0"/>
      <geometry>
        <box size="0.555 0.0466 0.0852"/>
      </geometry>
      <material name="mat_glass"/>
    </visual>
    <visual name="section_1_glass_2_vis">
      <origin xyz="0.2975 0 1.00045" rpy="0 0 0"/>
      <geometry>
        <box size="0.555 0.0466 0.0852"/>
      </geometry>
      <material name="mat_glass"/>
    </visual>
    <visual name="section_1_glass_3_vis">
      <origin xyz="0.8925 0 1.00045" rpy="0 0 0"/>
      <geometry>
        <box size="0.555 0.0466 0.0852"/>
      </geometry>
      <material name="mat_glass"/>
    </visual>
    <visual name="section_2_slab_vis">
      <origin xyz="0 0 1.34125" rpy="0 0 0"/>
      <geometry>
        <box size="2.44 0.045 0.5325"/>
      </geometry>
      <material name="mat_section_2"/>
    </visual>
    <collision name="section_2_slab_col">
      <origin xyz="0 0 1.34125" rpy="0 0 0"/>
      <geometry>
        <box size="2.44 0.045 0.5325"/>
      </geometry>
    </collision>
    <visual name="section_2_glass_0_vis">
      <origin xyz="-0.8925 0 1.53295" rpy="0 0 0"/>
      <geometry>
        <box size="0.555 0.0466 0.0852"/>
      </geometry>
      <material name="mat_glass"/>
    </visual>
    <visual name="section_2_glass_1_vis">
      <origin xyz="-0.2975 0 1.53295" rpy="0 0 0"/>
      <geometry>
        <box size="0.555 0.0466 0.0852"/>
      </geometry>
      <material name="mat_glass"/>
    </visual>
    <visual name="section_2_glass_2_vis">
      <origin xyz="0.2975 0 1.53295" rpy="0 0 0"/>
      <geometry>
        <box size="0.555 0.0466 0.0852"/>
      </geometry>
      <material name="mat_glass"/>
    </visual>
    <visual name="section_2_glass_3_vis">
      <origin xyz="0.8925 0 1.53295" rpy="0 0 0"/>
      <geometry>
        <box size="0.555 0.0466 0.0852"/>
      </geometry>
      <material name="mat_glass"/>
    </visual>
    <visual name="section_3_slab_vis">
      <origin xyz="0 0 1.87375" rpy="0 0 0"/>
      <geometry>
        <box size="2.44 0.045 0.5325"/>
      </geometry>
      <material name="mat_section_3"/>
    </visual>
    <collision name="section_3_slab_col">
      <origin xyz="0 0 1.87375" rpy="0 0 0"/>
      <geometry>
        <box size="2.44 0.045 0.5325"/>
      </geometry>
    </collision>
    <visual name="section_3_glass_0_vis">
      <origin xyz="-0.8925 0 2.06545" rpy="0 0 0"/>
      <geometry>
        <box size="0.555 0.0466 0.0852"/>
      </geometry>
      <material name="mat_glass"/>
    </visual>
    <visual name="section_3_glass_1_vis">
      <origin xyz="-0.2975 0 2.06545" rpy="0 0 0"/>
      <geometry>
        <box size="0.555 0.0466 0.0852"/>
      </geometry>
      <material name="mat_glass"/>
    </visual>
    <visual name="section_3_glass_2_vis">
      <origin xyz="0.2975 0 2.06545" rpy="0 0 0"/>
      <geometry>
        <box size="0.555 0.0466 0.0852"/>
      </geometry>
      <material name="mat_glass"/>
    </visual>
    <visual name="section_3_glass_3_vis">
      <origin xyz="0.8925 0 2.06545" rpy="0 0 0"/>
      <geometry>
        <box size="0.555 0.0466 0.0852"/>
      </geometry>
      <material name="mat_glass"/>
    </visual>
    <visual name="lift_handle_n_vis">
      <origin xyz="0 -0.0225 0.9" rpy="1.570796 0 0"/>
      <geometry>
        <mesh filename="../../hardware/pull_bdc5e965ab.obj"/>
      </geometry>
      <material name="mat_op_black_matte_metal"/>
    </visual>
    <collision name="lift_handle_col_n_col">
      <origin xyz="0 -0.0725 0.9" rpy="0 0 0"/>
      <geometry>
        <box size="0.2 0.012 0.03"/>
      </geometry>
    </collision>
    <visual name="lift_handle_p_vis">
      <origin xyz="0 0.0225 0.9" rpy="-1.570796 0 0"/>
      <geometry>
        <mesh filename="../../hardware/pull_bdc5e965ab.obj"/>
      </geometry>
      <material name="mat_op_black_matte_metal"/>
    </visual>
    <collision name="lift_handle_col_p_col">
      <origin xyz="0 0.0725 0.9" rpy="0 0 0"/>
      <geometry>
        <box size="0.2 0.012 0.03"/>
      </geometry>
    </collision>
  </link>
  <joint name="door_slide" type="prismatic">
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <parent link="world_env"/>
    <child link="door"/>
    <axis xyz="0 0 1"/>
    <limit lower="0" upper="2.08" effort="5000" velocity="10"/>
    <dynamics damping="4.792249" friction="35.597393"/>
  </joint>
  <material name="mat_floor">
    <color rgba="0.55 0.53 0.5 1"/>
  </material>
  <material name="mat_frame">
    <color rgba="0.82 0.7 0.5 1"/>
  </material>
  <material name="mat_glass">
    <color rgba="0.85 0.92 0.95 0.25"/>
  </material>
  <material name="mat_op_black_matte_metal">
    <color rgba="0.05 0.05 0.05 1"/>
  </material>
  <material name="mat_section_0">
    <color rgba="0.5 0.51 0.53 1"/>
  </material>
  <material name="mat_section_1">
    <color rgba="0.5 0.51 0.53 1"/>
  </material>
  <material name="mat_section_2">
    <color rgba="0.5 0.51 0.53 1"/>
  </material>
  <material name="mat_section_3">
    <color rgba="0.5 0.51 0.53 1"/>
  </material>
  <material name="mat_track">
    <color rgba="0.65 0.66 0.68 1"/>
  </material>
  <material name="mat_wall">
    <color rgba="0.78 0.76 0.7 1"/>
  </material>
</robot>
