<?xml version="1.0" ?>
<robot xmlns:doorbench="https://github.com/adamraudonis/DoorBench/schema/urdf-ext" name="db0821_swing_single_full">
  <link name="world_env">
    <visual name="floor_vis">
      <origin xyz="0 0 -0.05" rpy="0 0 0"/>
      <geometry>
        <box size="12 12 0.1"/>
      </geometry>
      <material name="mat_floor"/>
    </visual>
    <collision name="floor_col">
      <origin xyz="0 0 -0.05" rpy="0 0 0"/>
      <geometry>
        <box size="12 12 0.1"/>
      </geometry>
    </collision>
    <visual name="wall_left_vis">
      <origin xyz="-1.51775 -0.015 1.678" rpy="0 0 0"/>
      <geometry>
        <box size="1.9645 0.115 3.356"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_left_col">
      <origin xyz="-1.51775 -0.015 1.678" rpy="0 0 0"/>
      <geometry>
        <box size="1.9645 0.115 3.356"/>
      </geometry>
    </collision>
    <visual name="wall_right_vis">
      <origin xyz="1.50275 -0.015 1.678" rpy="0 0 0"/>
      <geometry>
        <box size="1.9945 0.115 3.356"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_right_col">
      <origin xyz="1.50275 -0.015 1.678" rpy="0 0 0"/>
      <geometry>
        <box size="1.9945 0.115 3.356"/>
      </geometry>
    </collision>
    <visual name="wall_header_vis">
      <origin xyz="-0.015 -0.015 3.0935" rpy="0 0 0"/>
      <geometry>
        <box size="1.041 0.115 0.525"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_header_col">
      <origin xyz="-0.015 -0.015 3.0935" rpy="0 0 0"/>
      <geometry>
        <box size="1.041 0.115 0.525"/>
      </geometry>
    </collision>
    <visual name="jamb_hinge_vis">
      <origin xyz="0.483 -0.015 1.378" rpy="0 0 0"/>
      <geometry>
        <box size="0.045 0.115 2.756"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_hinge_col">
      <origin xyz="0.483 -0.015 1.378" rpy="0 0 0"/>
      <geometry>
        <box size="0.045 0.115 2.756"/>
      </geometry>
    </collision>
    <visual name="jamb_strike_vis">
      <origin xyz="-0.483 -0.015 1.378" rpy="0 0 0"/>
      <geometry>
        <box size="0.045 0.115 2.756"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_strike_col">
      <origin xyz="-0.483 -0.015 1.378" rpy="0 0 0"/>
      <geometry>
        <box size="0.045 0.115 2.756"/>
      </geometry>
    </collision>
    <visual name="stud_strike_vis">
      <origin xyz="-0.5205 -0.015 1.378" rpy="0 0 0"/>
      <geometry>
        <box size="0.03 0.115 2.756"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="stud_strike_col">
      <origin xyz="-0.5205 -0.015 1.378" rpy="0 0 0"/>
      <geometry>
        <box size="0.03 0.115 2.756"/>
      </geometry>
    </collision>
    <visual name="jamb_head_vis">
      <origin xyz="-0.015 -0.015 2.7785" rpy="0 0 0"/>
      <geometry>
        <box size="1.041 0.115 0.045"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_head_col">
      <origin xyz="-0.015 -0.015 2.7785" rpy="0 0 0"/>
      <geometry>
        <box size="1.041 0.115 0.045"/>
      </geometry>
    </collision>
    <visual name="head_stud_vis">
      <origin xyz="-0.015 -0.015 2.816" rpy="0 0 0"/>
      <geometry>
        <box size="1.041 0.115 0.03"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="head_stud_col">
      <origin xyz="-0.015 -0.015 2.816" rpy="0 0 0"/>
      <geometry>
        <box size="1.041 0.115 0.03"/>
      </geometry>
    </collision>
    <visual name="stop_hinge_vis">
      <origin xyz="0.455 -0.039 1.378" rpy="0 0 0"/>
      <geometry>
        <box size="0.011 0.032 2.756"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="stop_hinge_col">
      <origin xyz="0.455 -0.039 1.378" rpy="0 0 0"/>
      <geometry>
        <box size="0.011 0.032 2.756"/>
      </geometry>
    </collision>
    <visual name="stop_strike_vis">
      <origin xyz="-0.455 -0.039 1.378" rpy="0 0 0"/>
      <geometry>
        <box size="0.011 0.032 2.756"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="stop_strike_col">
      <origin xyz="-0.455 -0.039 1.378" rpy="0 0 0"/>
      <geometry>
        <box size="0.011 0.032 2.756"/>
      </geometry>
    </collision>
    <visual name="stop_head_vis">
      <origin xyz="0 -0.039 2.7505" rpy="0 0 0"/>
      <geometry>
        <box size="0.921 0.032 0.011"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="stop_head_col">
      <origin xyz="0 -0.039 2.7505" rpy="0 0 0"/>
      <geometry>
        <box size="0.921 0.032 0.011"/>
      </geometry>
    </collision>
    <visual name="seal_hinge_vis">
      <origin xyz="0.4485 -0.0245 1.378" rpy="0 0 0"/>
      <geometry>
        <box size="0.016 0.004 2.756"/>
      </geometry>
      <material name="mat_seal"/>
    </visual>
    <visual name="seal_strike_vis">
      <origin xyz="-0.4485 -0.0245 1.378" rpy="0 0 0"/>
      <geometry>
        <box size="0.016 0.004 2.756"/>
      </geometry>
      <material name="mat_seal"/>
    </visual>
    <visual name="seal_head_vis">
      <origin xyz="0 -0.0245 2.744" rpy="0 0 0"/>
      <geometry>
        <box size="0.881 0.004 0.016"/>
      </geometry>
      <material name="mat_seal"/>
    </visual>
    <visual name="threshold_vis">
      <origin xyz="0 -0.015 0.0065" rpy="0 0 0"/>
      <geometry>
        <box size="1.011 0.115 0.013"/>
      </geometry>
      <material name="mat_threshold"/>
    </visual>
    <collision name="threshold_col">
      <origin xyz="0 -0.015 0.0065" rpy="0 0 0"/>
      <geometry>
        <box size="1.011 0.115 0.013"/>
      </geometry>
    </collision>
    <visual name="floor_spring_cover_vis">
      <origin xyz="0.3405 0 0.002" rpy="0 0 0"/>
      <geometry>
        <box size="0.34 0.12 0.004"/>
      </geometry>
      <material name="mat_closer"/>
    </visual>
    <visual name="floor_stop_dome_vis">
      <origin xyz="0.064711 0.773944 0" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.025"/>
      </geometry>
      <material name="mat_stop"/>
    </visual>
    <collision name="floor_stop_dome_col">
      <origin xyz="0.064711 0.773944 0" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.025"/>
      </geometry>
    </collision>
  </link>
  <link name="leaf">
    <inertial>
      <origin xyz="-0.512669 -0.029307 1.324062" rpy="0 0 0"/>
      <mass value="117.925195"/>
      <inertia ixx="69.296916745" ixy="-0.011365394" ixz="-2.242741748" iyy="78.412729732" iyz="-0.00190822" izz="9.433357581"/>
    </inertial>
    <visual name="leaf_glass_vis">
      <origin xyz="-0.457 -0.0295 1.3845" rpy="0 0 0"/>
      <geometry>
        <box size="0.914 0.045 2.735"/>
      </geometry>
      <material name="mat_glass_leaf"/>
    </visual>
    <collision name="leaf_glass_col">
      <origin xyz="-0.457 -0.0295 1.3845" rpy="0 0 0"/>
      <geometry>
        <box size="0.914 0.045 2.735"/>
      </geometry>
    </collision>
    <visual name="leaf_patch_bot_vis">
      <origin xyz="-0.08 -0.0295 0.077" rpy="0 0 0"/>
      <geometry>
        <box size="0.16 0.061 0.1"/>
      </geometry>
      <material name="mat_patch"/>
    </visual>
    <visual name="leaf_patch_top_vis">
      <origin xyz="-0.08 -0.0295 2.692" rpy="0 0 0"/>
      <geometry>
        <box size="0.16 0.061 0.1"/>
      </geometry>
      <material name="mat_patch"/>
    </visual>
    <visual name="hinge_0_vis">
      <origin xyz="0 0 0.267" rpy="0 0 3.141593"/>
      <geometry>
        <mesh filename="../../hardware/hinge_dcb8da44bf.obj"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="hinge_1_vis">
      <origin xyz="0 0 1.3845" rpy="0 0 3.141593"/>
      <geometry>
        <mesh filename="../../hardware/hinge_dcb8da44bf.obj"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="hinge_2_vis">
      <origin xyz="0 0 2.572" rpy="0 0 3.141593"/>
      <geometry>
        <mesh filename="../../hardware/hinge_dcb8da44bf.obj"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="leaf_pull_n_vis">
      <origin xyz="-0.824 -0.052 1.016" rpy="-1.570796 0 3.141593"/>
      <geometry>
        <mesh filename="../../hardware/pull_897e207f65.obj"/>
      </geometry>
      <material name="mat_op_stainless"/>
    </visual>
    <collision name="leaf_pull_col_n_col">
      <origin xyz="-0.824 -0.117 1.016" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.016" length="1.76"/>
      </geometry>
    </collision>
    <visual name="leaf_pull_p_vis">
      <origin xyz="-0.824 -0.007 1.016" rpy="1.570796 0 3.141593"/>
      <geometry>
        <mesh filename="../../hardware/pull_897e207f65.obj"/>
      </geometry>
      <material name="mat_op_stainless"/>
    </visual>
    <collision name="leaf_pull_col_p_col">
      <origin xyz="-0.824 0.058 1.016" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.016" length="1.76"/>
      </geometry>
    </collision>
  </link>
  <joint name="leaf_hinge" type="revolute">
    <origin xyz="0.4575 0.0295 0" rpy="0 0 0"/>
    <parent link="world_env"/>
    <child link="leaf"/>
    <axis xyz="0 0 -1"/>
    <limit lower="0" upper="1.658063" effort="2000" velocity="10"/>
    <dynamics damping="8.345723" friction="1.776355"/>
    <doorbench:spring stiffness="47.109863" springref="-2.308434" note="tau = -stiffness*(q - springref); not native URDF"/>
    <doorbench:closer damping_closing="90" damping_opening="8" backcheck_angle="1.4" backcheck_damping="60"/>
  </joint>
  <material name="mat_closer">
    <color rgba="0.75 0.76 0.77 1"/>
  </material>
  <material name="mat_floor">
    <color rgba="0.55 0.53 0.5 1"/>
  </material>
  <material name="mat_frame">
    <color rgba="0.22 0.17 0.13 1"/>
  </material>
  <material name="mat_glass_leaf">
    <color rgba="0.85 0.92 0.95 0.25"/>
  </material>
  <material name="mat_hinge">
    <color rgba="0.65 0.66 0.68 1"/>
  </material>
  <material name="mat_op_stainless">
    <color rgba="0.75 0.76 0.77 1"/>
  </material>
  <material name="mat_patch">
    <color rgba="0.75 0.76 0.77 1"/>
  </material>
  <material name="mat_seal">
    <color rgba="0.1 0.1 0.1 1"/>
  </material>
  <material name="mat_stop">
    <color rgba="0.9 0.9 0.92 1"/>
  </material>
  <material name="mat_threshold">
    <color rgba="0.8 0.81 0.83 1"/>
  </material>
  <material name="mat_wall">
    <color rgba="0.78 0.76 0.7 1"/>
  </material>
</robot>
