<?xml version="1.0" ?>
<robot xmlns:doorbench="https://github.com/adamraudonis/DoorBench/schema/urdf-ext" name="db0455_gate_swing_full">
  <link name="world_env">
    <visual name="floor_vis">
      <origin xyz="0 0 -0.05" rpy="0 0 0"/>
      <geometry>
        <box size="12 12 0.1"/>
      </geometry>
      <material name="mat_floor"/>
    </visual>
    <collision name="floor_col">
      <origin xyz="0 0 -0.05" rpy="0 0 0"/>
      <geometry>
        <box size="12 12 0.1"/>
      </geometry>
    </collision>
    <visual name="post_hinge_vis">
      <origin xyz="1.856 0 0.7" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.05" length="1.4"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="post_hinge_col">
      <origin xyz="1.856 0 0.7" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.05" length="1.4"/>
      </geometry>
    </collision>
    <visual name="post_hinge_cap_vis">
      <origin xyz="1.856 0 1.4" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.05"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <visual name="post_900_wall_n_vis">
      <origin xyz="-1.856 0.00975 0.9" rpy="0 0 0"/>
      <geometry>
        <box size="0.1 0.0805 0.03"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="post_900_wall_n_col">
      <origin xyz="-1.856 0.00975 0.9" rpy="0 0 0"/>
      <geometry>
        <box size="0.1 0.0805 0.03"/>
      </geometry>
    </collision>
    <visual name="post_900_wall_p_vis">
      <origin xyz="-1.821 -0.0575 0.9" rpy="0 0 0"/>
      <geometry>
        <box size="0.03 0.006 0.03"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="post_900_wall_p_col">
      <origin xyz="-1.821 -0.0575 0.9" rpy="0 0 0"/>
      <geometry>
        <box size="0.03 0.006 0.03"/>
      </geometry>
    </collision>
    <visual name="post_900_back_vis">
      <origin xyz="-1.8835 -0.0425 0.9" rpy="0 0 0"/>
      <geometry>
        <box size="0.045 0.024 0.03"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="post_900_back_col">
      <origin xyz="-1.8835 -0.0425 0.9" rpy="0 0 0"/>
      <geometry>
        <box size="0.045 0.024 0.03"/>
      </geometry>
    </collision>
    <visual name="post_latch_0_vis">
      <origin xyz="-1.856 0 0.4425" rpy="0 0 0"/>
      <geometry>
        <box size="0.1 0.1 0.885"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="post_latch_0_col">
      <origin xyz="-1.856 0 0.4425" rpy="0 0 0"/>
      <geometry>
        <box size="0.1 0.1 0.885"/>
      </geometry>
    </collision>
    <visual name="post_latch_1_vis">
      <origin xyz="-1.856 0 1.1575" rpy="0 0 0"/>
      <geometry>
        <box size="0.1 0.1 0.485"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="post_latch_1_col">
      <origin xyz="-1.856 0 1.1575" rpy="0 0 0"/>
      <geometry>
        <box size="0.1 0.1 0.485"/>
      </geometry>
    </collision>
    <visual name="post_latch_cap_vis">
      <origin xyz="-1.856 0 1.42" rpy="0 0 0"/>
      <geometry>
        <box size="0.13 0.13 0.04"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <visual name="gate_stop_vis">
      <origin xyz="-1.786 0.0345 0.4" rpy="0 0 0"/>
      <geometry>
        <box size="0.04 0.024 0.12"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="gate_stop_col">
      <origin xyz="-1.786 0.0345 0.4" rpy="0 0 0"/>
      <geometry>
        <box size="0.04 0.024 0.12"/>
      </geometry>
    </collision>
    <visual name="fence_picket_l_0_vis">
      <origin xyz="-1.986 0 0.75" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1.2"/>
      </geometry>
      <material name="mat_fence"/>
    </visual>
    <collision name="fence_picket_l_0_col">
      <origin xyz="-1.986 0 0.75" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1.2"/>
      </geometry>
    </collision>
    <visual name="fence_picket_l_1_vis">
      <origin xyz="-2.146 0 0.75" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1.2"/>
      </geometry>
      <material name="mat_fence"/>
    </visual>
    <collision name="fence_picket_l_1_col">
      <origin xyz="-2.146 0 0.75" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1.2"/>
      </geometry>
    </collision>
    <visual name="fence_picket_l_2_vis">
      <origin xyz="-2.306 0 0.75" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1.2"/>
      </geometry>
      <material name="mat_fence"/>
    </visual>
    <collision name="fence_picket_l_2_col">
      <origin xyz="-2.306 0 0.75" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1.2"/>
      </geometry>
    </collision>
    <visual name="fence_picket_l_3_vis">
      <origin xyz="-2.466 0 0.75" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1.2"/>
      </geometry>
      <material name="mat_fence"/>
    </visual>
    <collision name="fence_picket_l_3_col">
      <origin xyz="-2.466 0 0.75" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1.2"/>
      </geometry>
    </collision>
    <visual name="fence_picket_l_4_vis">
      <origin xyz="-2.626 0 0.75" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1.2"/>
      </geometry>
      <material name="mat_fence"/>
    </visual>
    <collision name="fence_picket_l_4_col">
      <origin xyz="-2.626 0 0.75" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1.2"/>
      </geometry>
    </collision>
    <visual name="fence_picket_l_5_vis">
      <origin xyz="-2.786 0 0.75" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1.2"/>
      </geometry>
      <material name="mat_fence"/>
    </visual>
    <collision name="fence_picket_l_5_col">
      <origin xyz="-2.786 0 0.75" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1.2"/>
      </geometry>
    </collision>
    <visual name="fence_picket_l_6_vis">
      <origin xyz="-2.946 0 0.75" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1.2"/>
      </geometry>
      <material name="mat_fence"/>
    </visual>
    <collision name="fence_picket_l_6_col">
      <origin xyz="-2.946 0 0.75" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1.2"/>
      </geometry>
    </collision>
    <visual name="fence_picket_l_7_vis">
      <origin xyz="-3.106 0 0.75" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1.2"/>
      </geometry>
      <material name="mat_fence"/>
    </visual>
    <collision name="fence_picket_l_7_col">
      <origin xyz="-3.106 0 0.75" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1.2"/>
      </geometry>
    </collision>
    <visual name="fence_picket_l_8_vis">
      <origin xyz="-3.266 0 0.75" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1.2"/>
      </geometry>
      <material name="mat_fence"/>
    </visual>
    <collision name="fence_picket_l_8_col">
      <origin xyz="-3.266 0 0.75" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1.2"/>
      </geometry>
    </collision>
    <visual name="fence_picket_l_9_vis">
      <origin xyz="-3.426 0 0.75" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1.2"/>
      </geometry>
      <material name="mat_fence"/>
    </visual>
    <collision name="fence_picket_l_9_col">
      <origin xyz="-3.426 0 0.75" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1.2"/>
      </geometry>
    </collision>
    <visual name="fence_picket_l_10_vis">
      <origin xyz="-3.586 0 0.75" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1.2"/>
      </geometry>
      <material name="mat_fence"/>
    </visual>
    <collision name="fence_picket_l_10_col">
      <origin xyz="-3.586 0 0.75" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1.2"/>
      </geometry>
    </collision>
    <visual name="fence_picket_l_11_vis">
      <origin xyz="-3.746 0 0.75" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1.2"/>
      </geometry>
      <material name="mat_fence"/>
    </visual>
    <collision name="fence_picket_l_11_col">
      <origin xyz="-3.746 0 0.75" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1.2"/>
      </geometry>
    </collision>
    <visual name="fence_rail_l_vis">
      <origin xyz="-2.906 0.015 1.2" rpy="0 0 0"/>
      <geometry>
        <box size="2 0.03 0.08"/>
      </geometry>
      <material name="mat_fence"/>
    </visual>
    <collision name="fence_rail_l_col">
      <origin xyz="-2.906 0.015 1.2" rpy="0 0 0"/>
      <geometry>
        <box size="2 0.03 0.08"/>
      </geometry>
    </collision>
    <visual name="fence_rail_b_l_vis">
      <origin xyz="-2.906 0.015 0.35" rpy="0 0 0"/>
      <geometry>
        <box size="2 0.03 0.08"/>
      </geometry>
      <material name="mat_fence"/>
    </visual>
    <collision name="fence_rail_b_l_col">
      <origin xyz="-2.906 0.015 0.35" rpy="0 0 0"/>
      <geometry>
        <box size="2 0.03 0.08"/>
      </geometry>
    </collision>
    <visual name="fence_picket_r_0_vis">
      <origin xyz="1.986 0 0.75" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1.2"/>
      </geometry>
      <material name="mat_fence"/>
    </visual>
    <collision name="fence_picket_r_0_col">
      <origin xyz="1.986 0 0.75" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1.2"/>
      </geometry>
    </collision>
    <visual name="fence_picket_r_1_vis">
      <origin xyz="2.146 0 0.75" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1.2"/>
      </geometry>
      <material name="mat_fence"/>
    </visual>
    <collision name="fence_picket_r_1_col">
      <origin xyz="2.146 0 0.75" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1.2"/>
      </geometry>
    </collision>
    <visual name="fence_picket_r_2_vis">
      <origin xyz="2.306 0 0.75" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1.2"/>
      </geometry>
      <material name="mat_fence"/>
    </visual>
    <collision name="fence_picket_r_2_col">
      <origin xyz="2.306 0 0.75" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1.2"/>
      </geometry>
    </collision>
    <visual name="fence_picket_r_3_vis">
      <origin xyz="2.466 0 0.75" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1.2"/>
      </geometry>
      <material name="mat_fence"/>
    </visual>
    <collision name="fence_picket_r_3_col">
      <origin xyz="2.466 0 0.75" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1.2"/>
      </geometry>
    </collision>
    <visual name="fence_picket_r_4_vis">
      <origin xyz="2.626 0 0.75" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1.2"/>
      </geometry>
      <material name="mat_fence"/>
    </visual>
    <collision name="fence_picket_r_4_col">
      <origin xyz="2.626 0 0.75" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1.2"/>
      </geometry>
    </collision>
    <visual name="fence_picket_r_5_vis">
      <origin xyz="2.786 0 0.75" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1.2"/>
      </geometry>
      <material name="mat_fence"/>
    </visual>
    <collision name="fence_picket_r_5_col">
      <origin xyz="2.786 0 0.75" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1.2"/>
      </geometry>
    </collision>
    <visual name="fence_picket_r_6_vis">
      <origin xyz="2.946 0 0.75" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1.2"/>
      </geometry>
      <material name="mat_fence"/>
    </visual>
    <collision name="fence_picket_r_6_col">
      <origin xyz="2.946 0 0.75" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1.2"/>
      </geometry>
    </collision>
    <visual name="fence_picket_r_7_vis">
      <origin xyz="3.106 0 0.75" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1.2"/>
      </geometry>
      <material name="mat_fence"/>
    </visual>
    <collision name="fence_picket_r_7_col">
      <origin xyz="3.106 0 0.75" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1.2"/>
      </geometry>
    </collision>
    <visual name="fence_picket_r_8_vis">
      <origin xyz="3.266 0 0.75" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1.2"/>
      </geometry>
      <material name="mat_fence"/>
    </visual>
    <collision name="fence_picket_r_8_col">
      <origin xyz="3.266 0 0.75" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1.2"/>
      </geometry>
    </collision>
    <visual name="fence_picket_r_9_vis">
      <origin xyz="3.426 0 0.75" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1.2"/>
      </geometry>
      <material name="mat_fence"/>
    </visual>
    <collision name="fence_picket_r_9_col">
      <origin xyz="3.426 0 0.75" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1.2"/>
      </geometry>
    </collision>
    <visual name="fence_picket_r_10_vis">
      <origin xyz="3.586 0 0.75" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1.2"/>
      </geometry>
      <material name="mat_fence"/>
    </visual>
    <collision name="fence_picket_r_10_col">
      <origin xyz="3.586 0 0.75" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1.2"/>
      </geometry>
    </collision>
    <visual name="fence_picket_r_11_vis">
      <origin xyz="3.746 0 0.75" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1.2"/>
      </geometry>
      <material name="mat_fence"/>
    </visual>
    <collision name="fence_picket_r_11_col">
      <origin xyz="3.746 0 0.75" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1.2"/>
      </geometry>
    </collision>
    <visual name="fence_rail_r_vis">
      <origin xyz="2.906 0.015 1.2" rpy="0 0 0"/>
      <geometry>
        <box size="2 0.03 0.08"/>
      </geometry>
      <material name="mat_fence"/>
    </visual>
    <collision name="fence_rail_r_col">
      <origin xyz="2.906 0.015 1.2" rpy="0 0 0"/>
      <geometry>
        <box size="2 0.03 0.08"/>
      </geometry>
    </collision>
    <visual name="fence_rail_b_r_vis">
      <origin xyz="2.906 0.015 0.35" rpy="0 0 0"/>
      <geometry>
        <box size="2 0.03 0.08"/>
      </geometry>
      <material name="mat_fence"/>
    </visual>
    <collision name="fence_rail_b_r_col">
      <origin xyz="2.906 0.015 0.35" rpy="0 0 0"/>
      <geometry>
        <box size="2 0.03 0.08"/>
      </geometry>
    </collision>
  </link>
  <link name="leaf">
    <inertial>
      <origin xyz="-1.761088 0.028512 0.750868" rpy="0 0 0"/>
      <mass value="58.065858"/>
      <inertia ixx="7.087146606" ixy="0.050980448" ixz="0.083724078" iyy="73.184074374" iyz="0.001590473" izz="66.118888643"/>
    </inertial>
    <collision name="leaf_slab_col_col">
      <origin xyz="-1.8 0.0295 0.75" rpy="0 0 0"/>
      <geometry>
        <box size="3.6 0.045 1.2"/>
      </geometry>
    </collision>
    <visual name="leaf_rail_b_vis">
      <origin xyz="-1.8 0.0295 0.18" rpy="0 0 0"/>
      <geometry>
        <box size="3.6 0.045 0.06"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <visual name="leaf_rail_t_vis">
      <origin xyz="-1.8 0.0295 1.32" rpy="0 0 0"/>
      <geometry>
        <box size="3.6 0.045 0.06"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <visual name="leaf_stile_h_vis">
      <origin xyz="-0.03 0.0295 0.75" rpy="0 0 0"/>
      <geometry>
        <box size="0.06 0.045 1.2"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <visual name="leaf_stile_l_vis">
      <origin xyz="-3.57 0.0295 0.75" rpy="0 0 0"/>
      <geometry>
        <box size="0.06 0.045 1.2"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <visual name="leaf_bar_0_vis">
      <origin xyz="-0.124444 0.0295 0.75" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.0095" length="1.08"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <visual name="leaf_bar_1_vis">
      <origin xyz="-0.253333 0.0295 0.75" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.0095" length="1.08"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <visual name="leaf_bar_2_vis">
      <origin xyz="-0.382222 0.0295 0.75" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.0095" length="1.08"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <visual name="leaf_bar_3_vis">
      <origin xyz="-0.511111 0.0295 0.75" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.0095" length="1.08"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <visual name="leaf_bar_4_vis">
      <origin xyz="-0.64 0.0295 0.75" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.0095" length="1.08"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <visual name="leaf_bar_5_vis">
      <origin xyz="-0.768889 0.0295 0.75" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.0095" length="1.08"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <visual name="leaf_bar_6_vis">
      <origin xyz="-0.897778 0.0295 0.75" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.0095" length="1.08"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <visual name="leaf_bar_7_vis">
      <origin xyz="-1.026667 0.0295 0.75" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.0095" length="1.08"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <visual name="leaf_bar_8_vis">
      <origin xyz="-1.155556 0.0295 0.75" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.0095" length="1.08"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <visual name="leaf_bar_9_vis">
      <origin xyz="-1.284444 0.0295 0.75" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.0095" length="1.08"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <visual name="leaf_bar_10_vis">
      <origin xyz="-1.413333 0.0295 0.75" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.0095" length="1.08"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <visual name="leaf_bar_11_vis">
      <origin xyz="-1.542222 0.0295 0.75" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.0095" length="1.08"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <visual name="leaf_bar_12_vis">
      <origin xyz="-1.671111 0.0295 0.75" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.0095" length="1.08"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <visual name="leaf_bar_13_vis">
      <origin xyz="-1.8 0.0295 0.75" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.0095" length="1.08"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <visual name="leaf_bar_14_vis">
      <origin xyz="-1.928889 0.0295 0.75" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.0095" length="1.08"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <visual name="leaf_bar_15_vis">
      <origin xyz="-2.057778 0.0295 0.75" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.0095" length="1.08"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <visual name="leaf_bar_16_vis">
      <origin xyz="-2.186667 0.0295 0.75" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.0095" length="1.08"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <visual name="leaf_bar_17_vis">
      <origin xyz="-2.315556 0.0295 0.75" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.0095" length="1.08"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <visual name="leaf_bar_18_vis">
      <origin xyz="-2.444444 0.0295 0.75" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.0095" length="1.08"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <visual name="leaf_bar_19_vis">
      <origin xyz="-2.573333 0.0295 0.75" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.0095" length="1.08"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <visual name="leaf_bar_20_vis">
      <origin xyz="-2.702222 0.0295 0.75" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.0095" length="1.08"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <visual name="leaf_bar_21_vis">
      <origin xyz="-2.831111 0.0295 0.75" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.0095" length="1.08"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <visual name="leaf_bar_22_vis">
      <origin xyz="-2.96 0.0295 0.75" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.0095" length="1.08"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <visual name="leaf_bar_23_vis">
      <origin xyz="-3.088889 0.0295 0.75" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.0095" length="1.08"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <visual name="leaf_bar_24_vis">
      <origin xyz="-3.217778 0.0295 0.75" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.0095" length="1.08"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <visual name="leaf_bar_25_vis">
      <origin xyz="-3.346667 0.0295 0.75" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.0095" length="1.08"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <visual name="leaf_bar_26_vis">
      <origin xyz="-3.475556 0.0295 0.75" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.0095" length="1.08"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <visual name="leaf_crossbar_33_vis">
      <origin xyz="-1.8 0.0295 0.546" rpy="0 0 0"/>
      <geometry>
        <box size="3.48 0.036 0.04"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <visual name="leaf_crossbar_66_vis">
      <origin xyz="-1.8 0.0295 0.942" rpy="0 0 0"/>
      <geometry>
        <box size="3.48 0.036 0.04"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <visual name="hinge_strap_0_vis">
      <origin xyz="0 0.004 0.3" rpy="0 0 3.141593"/>
      <geometry>
        <mesh filename="../../hardware/strap_hinge_78d1bbb966.obj"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="hinge_strap_1_vis">
      <origin xyz="0 0.004 1.2" rpy="0 0 3.141593"/>
      <geometry>
        <mesh filename="../../hardware/strap_hinge_78d1bbb966.obj"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="leaf_slide_bolt_guide_vis">
      <origin xyz="-3.42 -0.003 0.88" rpy="0 0 0"/>
      <geometry>
        <box size="0.21 0.02 0.012"/>
      </geometry>
      <material name="mat_op_steel_galvanized"/>
    </visual>
  </link>
  <link name="leaf_slide_bolt">
    <inertial>
      <origin xyz="-0.061603 -0.001045 0" rpy="0 0 0"/>
      <mass value="0.815342"/>
      <inertia ixx="0.0000631" ixy="0.000052504" ixz="0" iyy="0.006516866" iyz="0" izz="0.006540917"/>
    </inertial>
    <visual name="leaf_slide_bolt_rod_vis">
      <origin xyz="-0.065 0 0" rpy="0 -1.570796 0"/>
      <geometry>
        <cylinder radius="0.01" length="0.3"/>
      </geometry>
      <material name="mat_op_steel_galvanized"/>
    </visual>
    <collision name="leaf_slide_bolt_rod_col">
      <origin xyz="-0.065 0 0" rpy="0 -1.570796 0"/>
      <geometry>
        <cylinder radius="0.01" length="0.3"/>
      </geometry>
    </collision>
    <visual name="leaf_slide_bolt_knob_vis">
      <origin xyz="0 -0.02 0" rpy="1.570796 0 0"/>
      <geometry>
        <cylinder radius="0.006" length="0.04"/>
      </geometry>
      <material name="mat_op_steel_galvanized"/>
    </visual>
    <collision name="leaf_slide_bolt_knob_col">
      <origin xyz="0 -0.02 0" rpy="1.570796 0 0"/>
      <geometry>
        <cylinder radius="0.006" length="0.04"/>
      </geometry>
    </collision>
  </link>
  <joint name="leaf_hinge" type="revolute">
    <origin xyz="1.803 -0.0295 0" rpy="0 0 0"/>
    <parent link="world_env"/>
    <child link="leaf"/>
    <axis xyz="0 0 1"/>
    <limit lower="0" upper="1.570796" effort="2000" velocity="10"/>
    <dynamics damping="36.450638" friction="23.960612"/>
    <doorbench:closer damping_closing="0" damping_opening="0" backcheck_angle="0" backcheck_damping="0"/>
  </joint>
  <joint name="leaf_slide_bolt_slide" type="prismatic">
    <origin xyz="-3.42 -0.013 0.9" rpy="0 0 0"/>
    <parent link="leaf"/>
    <child link="leaf_slide_bolt"/>
    <axis xyz="1 0 0"/>
    <limit lower="0" upper="0.08" effort="5000" velocity="10"/>
    <dynamics damping="1" friction="3"/>
  </joint>
  <material name="mat_fence">
    <color rgba="0.7 0.45 0.32 1"/>
  </material>
  <material name="mat_floor">
    <color rgba="0.35 0.42 0.25 1"/>
  </material>
  <material name="mat_frame">
    <color rgba="0.65 0.66 0.68 1"/>
  </material>
  <material name="mat_hinge">
    <color rgba="0.65 0.66 0.68 1"/>
  </material>
  <material name="mat_leaf">
    <color rgba="0.65 0.66 0.68 1"/>
  </material>
  <material name="mat_op_steel_galvanized">
    <color rgba="0.65 0.66 0.68 1"/>
  </material>
</robot>
