<?xml version="1.0" ?>
<robot xmlns:doorbench="https://github.com/adamraudonis/DoorBench/schema/urdf-ext" name="db0620_sliding_single_simple">
  <link name="world_env">
    <visual name="floor_vis">
      <origin xyz="0 0 -0.05" rpy="0 0 0"/>
      <geometry>
        <box size="12 12 0.1"/>
      </geometry>
      <material name="mat_floor"/>
    </visual>
    <collision name="floor_col">
      <origin xyz="0 0 -0.05" rpy="0 0 0"/>
      <geometry>
        <box size="12 12 0.1"/>
      </geometry>
    </collision>
    <visual name="wall_left_vis">
      <origin xyz="-2.0275 0 1.35" rpy="0 0 0"/>
      <geometry>
        <box size="0.945 0.145 2.7"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_left_col">
      <origin xyz="-2.0275 0 1.35" rpy="0 0 0"/>
      <geometry>
        <box size="0.945 0.145 2.7"/>
      </geometry>
    </collision>
    <visual name="wall_right_vis">
      <origin xyz="2.0575 0 1.35" rpy="0 0 0"/>
      <geometry>
        <box size="0.885 0.145 2.7"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_right_col">
      <origin xyz="2.0575 0 1.35" rpy="0 0 0"/>
      <geometry>
        <box size="0.885 0.145 2.7"/>
      </geometry>
    </collision>
    <visual name="wall_header_vis">
      <origin xyz="0.03 0 2.411" rpy="0 0 0"/>
      <geometry>
        <box size="3.17 0.145 0.578"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_header_col">
      <origin xyz="0.03 0 2.411" rpy="0 0 0"/>
      <geometry>
        <box size="3.17 0.145 0.578"/>
      </geometry>
    </collision>
    <visual name="jamb_l_vis">
      <origin xyz="-1.5325 0 1.0385" rpy="0 0 0"/>
      <geometry>
        <box size="0.045 0.145 2.077"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_l_col">
      <origin xyz="-1.5325 0 1.0385" rpy="0 0 0"/>
      <geometry>
        <box size="0.045 0.145 2.077"/>
      </geometry>
    </collision>
    <visual name="jamb_head_vis">
      <origin xyz="0 0 2.0995" rpy="0 0 0"/>
      <geometry>
        <box size="3.11 0.145 0.045"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_head_col">
      <origin xyz="0 0 2.0995" rpy="0 0 0"/>
      <geometry>
        <box size="3.11 0.145 0.045"/>
      </geometry>
    </collision>
    <visual name="fixed_panel_glass_vis">
      <origin xyz="-0.755 0.04 1.0385" rpy="0 0 0"/>
      <geometry>
        <box size="1.47 0.006 1.977"/>
      </geometry>
      <material name="mat_fixed_glass"/>
    </visual>
    <collision name="fixed_panel_glass_col">
      <origin xyz="-0.755 0.04 1.0385" rpy="0 0 0"/>
      <geometry>
        <box size="1.47 0.006 1.977"/>
      </geometry>
    </collision>
    <visual name="fixed_panel_stile_vis">
      <origin xyz="-0.03 0.0475 1.0385" rpy="0 0 0"/>
      <geometry>
        <box size="0.06 0.024 2.077"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="fixed_panel_stile_col">
      <origin xyz="-0.03 0.0475 1.0385" rpy="0 0 0"/>
      <geometry>
        <box size="0.06 0.024 2.077"/>
      </geometry>
    </collision>
    <visual name="bottom_rail_vis">
      <origin xyz="0.065 0 0.012" rpy="0 0 0"/>
      <geometry>
        <box size="2.98 0.04 0.024"/>
      </geometry>
      <material name="mat_track"/>
    </visual>
    <collision name="bottom_rail_col">
      <origin xyz="0.065 0 0.012" rpy="0 0 0"/>
      <geometry>
        <box size="2.98 0.04 0.024"/>
      </geometry>
    </collision>
    <visual name="leaf_hook_keeper_vis">
      <origin xyz="1.523 0 0.95" rpy="0 0 0"/>
      <geometry>
        <box size="0.016 0.03 0.012"/>
      </geometry>
      <material name="mat_hook"/>
    </visual>
    <collision name="leaf_hook_keeper_col">
      <origin xyz="1.523 0 0.95" rpy="0 0 0"/>
      <geometry>
        <box size="0.016 0.03 0.012"/>
      </geometry>
    </collision>
    <visual name="jamb_latch_pwall_950_n_vis">
      <origin xyz="1.5625 -0.0505 0.95" rpy="0 0 0"/>
      <geometry>
        <box size="0.105 0.044 0.12"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_latch_pwall_950_n_col">
      <origin xyz="1.5625 -0.0505 0.95" rpy="0 0 0"/>
      <geometry>
        <box size="0.105 0.044 0.12"/>
      </geometry>
    </collision>
    <visual name="jamb_latch_pwall_950_p_vis">
      <origin xyz="1.5625 0.0505 0.95" rpy="0 0 0"/>
      <geometry>
        <box size="0.105 0.044 0.12"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_latch_pwall_950_p_col">
      <origin xyz="1.5625 0.0505 0.95" rpy="0 0 0"/>
      <geometry>
        <box size="0.105 0.044 0.12"/>
      </geometry>
    </collision>
    <visual name="jamb_latch_pback_950_vis">
      <origin xyz="1.611 0 0.95" rpy="0 0 0"/>
      <geometry>
        <box size="0.008 0.057 0.12"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_latch_pback_950_col">
      <origin xyz="1.611 0 0.95" rpy="0 0 0"/>
      <geometry>
        <box size="0.008 0.057 0.12"/>
      </geometry>
    </collision>
    <visual name="jamb_latch_0_vis">
      <origin xyz="1.5625 0 0.445" rpy="0 0 0"/>
      <geometry>
        <box size="0.105 0.145 0.89"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_latch_0_col">
      <origin xyz="1.5625 0 0.445" rpy="0 0 0"/>
      <geometry>
        <box size="0.105 0.145 0.89"/>
      </geometry>
    </collision>
    <visual name="jamb_latch_1_vis">
      <origin xyz="1.5625 0 1.5435" rpy="0 0 0"/>
      <geometry>
        <box size="0.105 0.145 1.067"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_latch_1_col">
      <origin xyz="1.5625 0 1.5435" rpy="0 0 0"/>
      <geometry>
        <box size="0.105 0.145 1.067"/>
      </geometry>
    </collision>
    <visual name="leaf_hook_keeper_plate_b_vis">
      <origin xyz="1.5095 0 0.887" rpy="1.570796 0 -1.570796"/>
      <geometry>
        <box size="0.069 0.006 0.001"/>
      </geometry>
      <material name="mat_hook"/>
    </visual>
    <visual name="leaf_hook_keeper_plate_l_vis">
      <origin xyz="1.5095 0.0315 0.95" rpy="1.570796 0 -1.570796"/>
      <geometry>
        <box size="0.006 0.12 0.001"/>
      </geometry>
      <material name="mat_hook"/>
    </visual>
    <visual name="leaf_hook_keeper_plate_t_vis">
      <origin xyz="1.5095 0 1.013" rpy="1.570796 0 -1.570796"/>
      <geometry>
        <box size="0.069 0.006 0.001"/>
      </geometry>
      <material name="mat_hook"/>
    </visual>
    <visual name="leaf_hook_keeper_plate_r_vis">
      <origin xyz="1.5095 -0.0315 0.95" rpy="1.570796 0 -1.570796"/>
      <geometry>
        <box size="0.006 0.12 0.001"/>
      </geometry>
      <material name="mat_hook"/>
    </visual>
    <visual name="leaf_hook_keeper_bracket_vis">
      <origin xyz="1.523 0.02175 0.95" rpy="0 0 0"/>
      <geometry>
        <box size="0.0128 0.0145 0.01"/>
      </geometry>
      <material name="mat_hook"/>
    </visual>
  </link>
  <link name="leaf">
    <inertial>
      <origin xyz="0.000124 0.000001 1.044471" rpy="0 0 0"/>
      <mass value="213.938984"/>
      <inertia ixx="73.849381331" ixy="-0.000137081" ixz="-0.001873934" iyy="114.005057172" iyz="0.000019625" izz="40.227783481"/>
    </inertial>
    <visual name="leaf_glass_vis">
      <origin xyz="0 0 1.046" rpy="0 0 0"/>
      <geometry>
        <box size="1.5 0.045 2.032"/>
      </geometry>
      <material name="mat_glass_leaf"/>
    </visual>
    <collision name="leaf_glass_col">
      <origin xyz="0 0 1.046" rpy="0 0 0"/>
      <geometry>
        <box size="1.5 0.045 2.032"/>
      </geometry>
    </collision>
    <visual name="leaf_roller_0_vis">
      <origin xyz="-0.635 0 0.039" rpy="-1.570796 0 0"/>
      <geometry>
        <cylinder radius="0.015" length="0.016"/>
      </geometry>
      <material name="mat_roller"/>
    </visual>
    <visual name="leaf_roller_1_vis">
      <origin xyz="0.605 0 0.039" rpy="-1.570796 0 0"/>
      <geometry>
        <cylinder radius="0.015" length="0.016"/>
      </geometry>
      <material name="mat_roller"/>
    </visual>
    <visual name="leaf_ext_pull_p_vis">
      <origin xyz="0.66 0.023 0.95" rpy="0 0 0"/>
      <geometry>
        <box size="0.05 0.001 0.1"/>
      </geometry>
      <material name="mat_op_nickel_satin"/>
    </visual>
    <visual name="leaf_hook_faceplate_vis">
      <origin xyz="0.7494 0 0.95" rpy="0 0 0"/>
      <geometry>
        <box size="0.0012 0.022 0.09"/>
      </geometry>
      <material name="mat_hook"/>
    </visual>
  </link>
  <link name="leaf_handle">
    <inertial>
      <origin xyz="-0.019728 -0.054475 0" rpy="0 0 0"/>
      <mass value="0.376588"/>
      <inertia ixx="0.000191364" ixy="-0.000171062" ixz="0" iyy="0.000493082" iyz="0" izz="0.000632621"/>
    </inertial>
    <visual name="leaf_handle_lever_n_vis">
      <origin xyz="0 -0.0225 0" rpy="1.570796 0 0"/>
      <geometry>
        <mesh filename="../../hardware/lever_57205841c3.obj"/>
      </geometry>
      <material name="mat_op_black_matte_metal"/>
    </visual>
    <collision name="leaf_handle_lever_col_n_col">
      <origin xyz="-0.06 -0.0775 0" rpy="0 -1.570796 0"/>
      <geometry>
        <cylinder radius="0.007" length="0.106"/>
      </geometry>
    </collision>
    <collision name="leaf_handle_hub_col_n_col">
      <origin xyz="0 -0.0525 0" rpy="-1.570796 0 0"/>
      <geometry>
        <cylinder radius="0.012" length="0.044"/>
      </geometry>
    </collision>
  </link>
  <link name="leaf_hook">
    <inertial>
      <origin xyz="0.026737 0 -0.009263" rpy="0 0 0"/>
      <mass value="0.072048"/>
      <inertia ixx="0.000008186" ixy="0" ixz="-0.000004496" iyy="0.000019175" iyz="0" izz="0.00001219"/>
    </inertial>
    <visual name="leaf_hook_arm_vis">
      <origin xyz="0.02 0 -0.016" rpy="0 0 0"/>
      <geometry>
        <box size="0.044 0.01 0.012"/>
      </geometry>
      <material name="mat_hook"/>
    </visual>
    <collision name="leaf_hook_arm_col">
      <origin xyz="0.02 0 -0.016" rpy="0 0 0"/>
      <geometry>
        <box size="0.044 0.01 0.012"/>
      </geometry>
    </collision>
    <visual name="leaf_hook_tip_vis">
      <origin xyz="0.036 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.012 0.01 0.032"/>
      </geometry>
      <material name="mat_hook"/>
    </visual>
    <collision name="leaf_hook_tip_col">
      <origin xyz="0.036 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.012 0.01 0.032"/>
      </geometry>
    </collision>
  </link>
  <joint name="leaf_slide" type="prismatic">
    <origin xyz="0.755 0 0" rpy="0 0 0"/>
    <parent link="world_env"/>
    <child link="leaf"/>
    <axis xyz="-1 0 0"/>
    <limit lower="0" upper="1.38" effort="5000" velocity="10"/>
    <dynamics damping="12.722089" friction="883.241286"/>
  </joint>
  <joint name="leaf_handle_hinge" type="revolute">
    <origin xyz="0.69 0 0.95" rpy="0 0 0"/>
    <parent link="leaf"/>
    <child link="leaf_handle"/>
    <axis xyz="0 -1 0"/>
    <limit lower="0" upper="0.87" effort="2000" velocity="10"/>
    <dynamics damping="0.206307" friction="0.042"/>
    <doorbench:spring stiffness="1" springref="-0.35" note="tau = -stiffness*(q - springref); not native URDF"/>
  </joint>
  <joint name="leaf_hook_hinge" type="revolute">
    <origin xyz="0.75 0 0.95" rpy="0 0 0"/>
    <parent link="leaf"/>
    <child link="leaf_hook"/>
    <axis xyz="0 1 0"/>
    <limit lower="0" upper="1" effort="2000" velocity="10"/>
    <dynamics damping="0.05" friction="0.1"/>
    <mimic joint="leaf_handle_hinge" multiplier="1" offset="0"/>
  </joint>
  <material name="mat_fixed_glass">
    <color rgba="0.85 0.92 0.95 0.25"/>
  </material>
  <material name="mat_floor">
    <color rgba="0.55 0.53 0.5 1"/>
  </material>
  <material name="mat_frame">
    <color rgba="0.92 0.92 0.9 1"/>
  </material>
  <material name="mat_glass_leaf">
    <color rgba="0.85 0.92 0.95 0.25"/>
  </material>
  <material name="mat_hook">
    <color rgba="0.75 0.76 0.77 1"/>
  </material>
  <material name="mat_op_black_matte_metal">
    <color rgba="0.05 0.05 0.05 1"/>
  </material>
  <material name="mat_op_nickel_satin">
    <color rgba="0.72 0.7 0.66 1"/>
  </material>
  <material name="mat_roller">
    <color rgba="0.65 0.66 0.68 1"/>
  </material>
  <material name="mat_track">
    <color rgba="0.8 0.81 0.83 1"/>
  </material>
  <material name="mat_wall">
    <color rgba="0.78 0.76 0.7 1"/>
  </material>
</robot>
