<?xml version="1.0" ?>
<robot xmlns:doorbench="https://github.com/adamraudonis/DoorBench/schema/urdf-ext" name="db0452_hatch_floor_full">
  <link name="world_env">
    <visual name="floor_a_vis">
      <origin xyz="-3.3025 0 -0.05" rpy="0 0 0"/>
      <geometry>
        <box size="5.395 12 0.1"/>
      </geometry>
      <material name="mat_floor"/>
    </visual>
    <collision name="floor_a_col">
      <origin xyz="-3.3025 0 -0.05" rpy="0 0 0"/>
      <geometry>
        <box size="5.395 12 0.1"/>
      </geometry>
    </collision>
    <visual name="floor_b_vis">
      <origin xyz="3.3025 0 -0.05" rpy="0 0 0"/>
      <geometry>
        <box size="5.395 12 0.1"/>
      </geometry>
      <material name="mat_floor"/>
    </visual>
    <collision name="floor_b_col">
      <origin xyz="3.3025 0 -0.05" rpy="0 0 0"/>
      <geometry>
        <box size="5.395 12 0.1"/>
      </geometry>
    </collision>
    <visual name="floor_c_vis">
      <origin xyz="0 -3.1925 -0.05" rpy="0 0 0"/>
      <geometry>
        <box size="1.21 5.615 0.1"/>
      </geometry>
      <material name="mat_floor"/>
    </visual>
    <collision name="floor_c_col">
      <origin xyz="0 -3.1925 -0.05" rpy="0 0 0"/>
      <geometry>
        <box size="1.21 5.615 0.1"/>
      </geometry>
    </collision>
    <visual name="floor_d_vis">
      <origin xyz="0 3.1925 -0.05" rpy="0 0 0"/>
      <geometry>
        <box size="1.21 5.615 0.1"/>
      </geometry>
      <material name="mat_floor"/>
    </visual>
    <collision name="floor_d_col">
      <origin xyz="0 3.1925 -0.05" rpy="0 0 0"/>
      <geometry>
        <box size="1.21 5.615 0.1"/>
      </geometry>
    </collision>
    <visual name="pit_floor_vis">
      <origin xyz="0 0 -1.5" rpy="0 0 0"/>
      <geometry>
        <box size="1.61 1.17 0.04"/>
      </geometry>
      <material name="mat_pit"/>
    </visual>
    <collision name="pit_floor_col">
      <origin xyz="0 0 -1.5" rpy="0 0 0"/>
      <geometry>
        <box size="1.61 1.17 0.04"/>
      </geometry>
    </collision>
    <visual name="pit_wall_l_vis">
      <origin xyz="-0.815 0 -0.75" rpy="0 0 0"/>
      <geometry>
        <box size="0.02 1.21 1.5"/>
      </geometry>
      <material name="mat_pit"/>
    </visual>
    <collision name="pit_wall_l_col">
      <origin xyz="-0.815 0 -0.75" rpy="0 0 0"/>
      <geometry>
        <box size="0.02 1.21 1.5"/>
      </geometry>
    </collision>
    <visual name="pit_wall_r_vis">
      <origin xyz="0.815 0 -0.75" rpy="0 0 0"/>
      <geometry>
        <box size="0.02 1.21 1.5"/>
      </geometry>
      <material name="mat_pit"/>
    </visual>
    <collision name="pit_wall_r_col">
      <origin xyz="0.815 0 -0.75" rpy="0 0 0"/>
      <geometry>
        <box size="0.02 1.21 1.5"/>
      </geometry>
    </collision>
    <visual name="pit_wall_n_vis">
      <origin xyz="0 -0.595 -0.75" rpy="0 0 0"/>
      <geometry>
        <box size="1.61 0.02 1.5"/>
      </geometry>
      <material name="mat_pit"/>
    </visual>
    <collision name="pit_wall_n_col">
      <origin xyz="0 -0.595 -0.75" rpy="0 0 0"/>
      <geometry>
        <box size="1.61 0.02 1.5"/>
      </geometry>
    </collision>
    <visual name="pit_wall_f_vis">
      <origin xyz="0 0.595 -0.75" rpy="0 0 0"/>
      <geometry>
        <box size="1.61 0.02 1.5"/>
      </geometry>
      <material name="mat_pit"/>
    </visual>
    <collision name="pit_wall_f_col">
      <origin xyz="0 0.595 -0.75" rpy="0 0 0"/>
      <geometry>
        <box size="1.61 0.02 1.5"/>
      </geometry>
    </collision>
    <visual name="curb_l_vis">
      <origin xyz="-0.63 0 0.02" rpy="0 0 0"/>
      <geometry>
        <box size="0.05 0.87 0.04"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="curb_l_col">
      <origin xyz="-0.63 0 0.02" rpy="0 0 0"/>
      <geometry>
        <box size="0.05 0.87 0.04"/>
      </geometry>
    </collision>
    <visual name="curb_r_vis">
      <origin xyz="0.63 0 0.02" rpy="0 0 0"/>
      <geometry>
        <box size="0.05 0.87 0.04"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="curb_r_col">
      <origin xyz="0.63 0 0.02" rpy="0 0 0"/>
      <geometry>
        <box size="0.05 0.87 0.04"/>
      </geometry>
    </collision>
    <visual name="curb_n_vis">
      <origin xyz="0 -0.41 0.02" rpy="0 0 0"/>
      <geometry>
        <box size="1.21 0.05 0.04"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="curb_n_col">
      <origin xyz="0 -0.41 0.02" rpy="0 0 0"/>
      <geometry>
        <box size="1.21 0.05 0.04"/>
      </geometry>
    </collision>
    <visual name="curb_f_vis">
      <origin xyz="0 0.41 0.02" rpy="0 0 0"/>
      <geometry>
        <box size="1.21 0.05 0.04"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="curb_f_col">
      <origin xyz="0 0.41 0.02" rpy="0 0 0"/>
      <geometry>
        <box size="1.21 0.05 0.04"/>
      </geometry>
    </collision>
    <visual name="hatch_hinge_0_curb_n_vis">
      <origin xyz="-0.554 0.395 0.04" rpy="0 1.570796 0"/>
      <geometry>
        <cylinder radius="0.01" length="0.036"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="hatch_hinge_0_curb_strap_n_vis">
      <origin xyz="-0.554 0.415 0.03" rpy="0 0 0"/>
      <geometry>
        <box size="0.036 0.064 0.01"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="hatch_hinge_0_curb_p_vis">
      <origin xyz="-0.466 0.395 0.04" rpy="0 1.570796 0"/>
      <geometry>
        <cylinder radius="0.01" length="0.036"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="hatch_hinge_0_curb_strap_p_vis">
      <origin xyz="-0.466 0.415 0.03" rpy="0 0 0"/>
      <geometry>
        <box size="0.036 0.064 0.01"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="hatch_hinge_1_curb_n_vis">
      <origin xyz="0.466 0.395 0.04" rpy="0 1.570796 0"/>
      <geometry>
        <cylinder radius="0.01" length="0.036"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="hatch_hinge_1_curb_strap_n_vis">
      <origin xyz="0.466 0.415 0.03" rpy="0 0 0"/>
      <geometry>
        <box size="0.036 0.064 0.01"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="hatch_hinge_1_curb_p_vis">
      <origin xyz="0.554 0.395 0.04" rpy="0 1.570796 0"/>
      <geometry>
        <cylinder radius="0.01" length="0.036"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="hatch_hinge_1_curb_strap_p_vis">
      <origin xyz="0.554 0.415 0.03" rpy="0 0 0"/>
      <geometry>
        <box size="0.036 0.064 0.01"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
  </link>
  <link name="hatch">
    <inertial>
      <origin xyz="0.022798 -0.384677 -0.005793" rpy="0 0 0"/>
      <mass value="23.4655"/>
      <inertia ixx="1.181739154" ixy="-0.03566943" ixz="0.077145052" iyy="3.094509935" iyz="0.016095113" izz="4.213448346"/>
    </inertial>
    <visual name="hatch_slab_vis">
      <origin xyz="0 -0.395 0" rpy="0 0 0"/>
      <geometry>
        <box size="1.2 0.762 0.032"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <collision name="hatch_slab_col">
      <origin xyz="0 -0.395 0" rpy="0 0 0"/>
      <geometry>
        <box size="1.2 0.762 0.032"/>
      </geometry>
    </collision>
    <visual name="hatch_hinge_0_vis">
      <origin xyz="-0.51 0 0" rpy="0 1.570796 0"/>
      <geometry>
        <cylinder radius="0.01" length="0.056"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="hatch_hinge_0_strap_vis">
      <origin xyz="-0.51 -0.017 0.005" rpy="0 0 0"/>
      <geometry>
        <box size="0.056 0.046 0.006"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="hatch_hinge_1_vis">
      <origin xyz="0.51 0 0" rpy="0 1.570796 0"/>
      <geometry>
        <cylinder radius="0.01" length="0.056"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="hatch_hinge_1_strap_vis">
      <origin xyz="0.51 -0.017 0.005" rpy="0 0 0"/>
      <geometry>
        <box size="0.056 0.046 0.006"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="rivet_0_0_vis">
      <origin xyz="-0.54 -0.07 0.016" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.01"/>
      </geometry>
      <material name="mat_rivet"/>
    </visual>
    <visual name="rivet_0_1_vis">
      <origin xyz="0 -0.07 0.016" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.01"/>
      </geometry>
      <material name="mat_rivet"/>
    </visual>
    <visual name="rivet_0_2_vis">
      <origin xyz="0.54 -0.07 0.016" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.01"/>
      </geometry>
      <material name="mat_rivet"/>
    </visual>
    <visual name="rivet_1_0_vis">
      <origin xyz="-0.54 -0.286667 0.016" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.01"/>
      </geometry>
      <material name="mat_rivet"/>
    </visual>
    <visual name="rivet_1_1_vis">
      <origin xyz="0 -0.286667 0.016" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.01"/>
      </geometry>
      <material name="mat_rivet"/>
    </visual>
    <visual name="rivet_1_2_vis">
      <origin xyz="0.54 -0.286667 0.016" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.01"/>
      </geometry>
      <material name="mat_rivet"/>
    </visual>
    <visual name="rivet_2_0_vis">
      <origin xyz="-0.54 -0.503333 0.016" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.01"/>
      </geometry>
      <material name="mat_rivet"/>
    </visual>
    <visual name="rivet_2_1_vis">
      <origin xyz="0 -0.503333 0.016" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.01"/>
      </geometry>
      <material name="mat_rivet"/>
    </visual>
    <visual name="rivet_2_2_vis">
      <origin xyz="0.54 -0.503333 0.016" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.01"/>
      </geometry>
      <material name="mat_rivet"/>
    </visual>
    <visual name="rivet_3_0_vis">
      <origin xyz="-0.54 -0.72 0.016" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.01"/>
      </geometry>
      <material name="mat_rivet"/>
    </visual>
    <visual name="rivet_3_1_vis">
      <origin xyz="0 -0.72 0.016" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.01"/>
      </geometry>
      <material name="mat_rivet"/>
    </visual>
    <visual name="rivet_3_2_vis">
      <origin xyz="0.54 -0.72 0.016" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.01"/>
      </geometry>
      <material name="mat_rivet"/>
    </visual>
    <visual name="ring_recess_vis">
      <origin xyz="0 -0.5875 0.017" rpy="0 0 0"/>
      <geometry>
        <box size="0.1 0.1 0.002"/>
      </geometry>
      <material name="mat_op_steel_galvanized"/>
    </visual>
    <visual name="gas_strut_vis">
      <origin xyz="0.55 -0.318 -0.15" rpy="-2.498092 0 0"/>
      <geometry>
        <cylinder radius="0.01" length="0.4"/>
      </geometry>
      <material name="mat_strut"/>
    </visual>
  </link>
  <link name="ring">
    <inertial>
      <origin xyz="0 0.019982 0.002997" rpy="0 0 0"/>
      <mass value="0.2225"/>
      <inertia ixx="0.000076951" ixy="0" ixz="0" iyy="0.000084455" iyz="-0.000008269" izz="0.00015403"/>
    </inertial>
    <visual name="ring_geom_vis">
      <origin xyz="0 0.04 0.006" rpy="0 1.570796 0"/>
      <geometry>
        <cylinder radius="0.006" length="0.07"/>
      </geometry>
      <material name="mat_op_steel_galvanized"/>
    </visual>
    <collision name="ring_geom_col">
      <origin xyz="0 0.04 0.006" rpy="0 1.570796 0"/>
      <geometry>
        <cylinder radius="0.006" length="0.07"/>
      </geometry>
    </collision>
    <visual name="ring_knuckle_vis">
      <origin xyz="0 0 0" rpy="0 1.570796 0"/>
      <geometry>
        <cylinder radius="0.008" length="0.044"/>
      </geometry>
      <material name="mat_op_steel_galvanized"/>
    </visual>
    <visual name="ring_arm_n_vis">
      <origin xyz="-0.02 0.02 0.003" rpy="-1.570796 0 0"/>
      <geometry>
        <cylinder radius="0.006" length="0.04"/>
      </geometry>
      <material name="mat_op_steel_galvanized"/>
    </visual>
    <visual name="ring_arm_p_vis">
      <origin xyz="0.02 0.02 0.003" rpy="-1.570796 0 0"/>
      <geometry>
        <cylinder radius="0.006" length="0.04"/>
      </geometry>
      <material name="mat_op_steel_galvanized"/>
    </visual>
  </link>
  <joint name="hatch_hinge" type="revolute">
    <origin xyz="0 0.395 0.04" rpy="0 0 0"/>
    <parent link="world_env"/>
    <child link="hatch"/>
    <axis xyz="-1 0 0"/>
    <limit lower="0" upper="1.570796" effort="2000" velocity="10"/>
    <dynamics damping="30.784614" friction="0.669024"/>
    <doorbench:spring stiffness="24" springref="-3.333333" note="tau = -stiffness*(q - springref); not native URDF"/>
  </joint>
  <joint name="ring_hinge" type="revolute">
    <origin xyz="0 -0.5875 0.016" rpy="0 0 0"/>
    <parent link="hatch"/>
    <child link="ring"/>
    <axis xyz="1 0 0"/>
    <limit lower="0" upper="1.392122" effort="2000" velocity="10"/>
    <dynamics damping="0.003476" friction="0"/>
  </joint>
  <material name="mat_floor">
    <color rgba="0.55 0.53 0.5 1"/>
  </material>
  <material name="mat_frame">
    <color rgba="0.65 0.66 0.68 1"/>
  </material>
  <material name="mat_hinge">
    <color rgba="0.65 0.66 0.68 1"/>
  </material>
  <material name="mat_leaf">
    <color rgba="0.6 0.54 0.46 1"/>
  </material>
  <material name="mat_op_steel_galvanized">
    <color rgba="0.65 0.66 0.68 1"/>
  </material>
  <material name="mat_pit">
    <color rgba="0.3 0.3 0.3 1"/>
  </material>
  <material name="mat_rivet">
    <color rgba="0.55 0.56 0.58 1"/>
  </material>
  <material name="mat_strut">
    <color rgba="0.75 0.76 0.77 1"/>
  </material>
</robot>
