<?xml version="1.0" ?>
<robot xmlns:doorbench="https://github.com/adamraudonis/DoorBench/schema/urdf-ext" name="db0650_gate_sliding_simple">
  <link name="world_env">
    <visual name="floor_vis">
      <origin xyz="0 0 -0.05" rpy="0 0 0"/>
      <geometry>
        <box size="12 12 0.1"/>
      </geometry>
      <material name="mat_floor"/>
    </visual>
    <collision name="floor_col">
      <origin xyz="0 0 -0.05" rpy="0 0 0"/>
      <geometry>
        <box size="12 12 0.1"/>
      </geometry>
    </collision>
    <visual name="post_l_vis">
      <origin xyz="-0.685 0.08 1.05" rpy="0 0 0"/>
      <geometry>
        <box size="0.12 0.12 2.1"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="post_l_col">
      <origin xyz="-0.685 0.08 1.05" rpy="0 0 0"/>
      <geometry>
        <box size="0.12 0.12 2.1"/>
      </geometry>
    </collision>
    <visual name="post_r_vis">
      <origin xyz="0.685 0.08 1.05" rpy="0 0 0"/>
      <geometry>
        <box size="0.12 0.12 2.1"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="post_r_col">
      <origin xyz="0.685 0.08 1.05" rpy="0 0 0"/>
      <geometry>
        <box size="0.12 0.12 2.1"/>
      </geometry>
    </collision>
    <visual name="gate_rail_vis">
      <origin xyz="-0.6 -0.06 0.01" rpy="0 0 0"/>
      <geometry>
        <box size="2.8 0.06 0.02"/>
      </geometry>
      <material name="mat_track"/>
    </visual>
    <collision name="gate_rail_col">
      <origin xyz="-0.6 -0.06 0.01" rpy="0 0 0"/>
      <geometry>
        <box size="2.8 0.06 0.02"/>
      </geometry>
    </collision>
    <visual name="leaf_socket_n_vis">
      <origin xyz="0.464 -0.083 0.04" rpy="0 0 0"/>
      <geometry>
        <box size="0.008 0.04 0.04"/>
      </geometry>
      <material name="mat_keeper"/>
    </visual>
    <collision name="leaf_socket_n_col">
      <origin xyz="0.464 -0.083 0.04" rpy="0 0 0"/>
      <geometry>
        <box size="0.008 0.04 0.04"/>
      </geometry>
    </collision>
    <visual name="leaf_socket_p_vis">
      <origin xyz="0.496 -0.083 0.04" rpy="0 0 0"/>
      <geometry>
        <box size="0.008 0.04 0.04"/>
      </geometry>
      <material name="mat_keeper"/>
    </visual>
    <collision name="leaf_socket_p_col">
      <origin xyz="0.496 -0.083 0.04" rpy="0 0 0"/>
      <geometry>
        <box size="0.008 0.04 0.04"/>
      </geometry>
    </collision>
    <visual name="leaf_socket_b_vis">
      <origin xyz="0.48 -0.067 0.04" rpy="0 0 0"/>
      <geometry>
        <box size="0.04 0.008 0.04"/>
      </geometry>
      <material name="mat_keeper"/>
    </visual>
    <collision name="leaf_socket_b_col">
      <origin xyz="0.48 -0.067 0.04" rpy="0 0 0"/>
      <geometry>
        <box size="0.04 0.008 0.04"/>
      </geometry>
    </collision>
    <visual name="leaf_socket_base_vis">
      <origin xyz="0.48 -0.083 0.01" rpy="0 0 0"/>
      <geometry>
        <box size="0.048 0.048 0.02"/>
      </geometry>
      <material name="mat_keeper"/>
    </visual>
  </link>
  <link name="leaf">
    <inertial>
      <origin xyz="0 0 0.98" rpy="0 0 0"/>
      <mass value="59.515314"/>
      <inertia ixx="16.069487605" ixy="0" ixz="0" iyy="23.211255826" iyz="0" izz="7.142125287"/>
    </inertial>
    <collision name="leaf_slab_col_col">
      <origin xyz="0 0 0.98" rpy="0 0 0"/>
      <geometry>
        <box size="1.2 0.006 1.8"/>
      </geometry>
    </collision>
    <visual name="leaf_rail_b_vis">
      <origin xyz="0 0 0.1025" rpy="0 0 0"/>
      <geometry>
        <box size="1.2 0.006 0.045"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <visual name="leaf_rail_t_vis">
      <origin xyz="0 0 1.8575" rpy="0 0 0"/>
      <geometry>
        <box size="1.2 0.006 0.045"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <visual name="leaf_stile_h_vis">
      <origin xyz="-0.5775 0 0.98" rpy="0 0 0"/>
      <geometry>
        <box size="0.045 0.006 1.8"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <visual name="leaf_stile_l_vis">
      <origin xyz="0.5775 0 0.98" rpy="0 0 0"/>
      <geometry>
        <box size="0.045 0.006 1.8"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <visual name="leaf_mesh_vis">
      <origin xyz="0 0 0.98" rpy="0 0 0"/>
      <geometry>
        <box size="1.11 0.003 1.71"/>
      </geometry>
      <material name="mat_mesh_infill"/>
    </visual>
  </link>
  <link name="leaf_slide_bolt">
    <inertial>
      <origin xyz="0 -0.003456 -0.154304" rpy="0 0 0"/>
      <mass value="0.968112"/>
      <inertia ixx="0.012604726" ixy="0" ixz="0" iyy="0.012470832" iyz="0.000583233" izz="0.000179856"/>
    </inertial>
    <visual name="leaf_slide_bolt_rod_vis">
      <origin xyz="0 0 -0.177" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.01" length="0.334"/>
      </geometry>
      <material name="mat_op_steel_galvanized"/>
    </visual>
    <collision name="leaf_slide_bolt_rod_col">
      <origin xyz="0 0 -0.177" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.01" length="0.334"/>
      </geometry>
    </collision>
    <visual name="leaf_slide_bolt_knob_vis">
      <origin xyz="0 -0.03 0.02" rpy="1.570796 0 0"/>
      <geometry>
        <cylinder radius="0.008" length="0.06"/>
      </geometry>
      <material name="mat_op_steel_galvanized"/>
    </visual>
    <collision name="leaf_slide_bolt_knob_col">
      <origin xyz="0 -0.03 0.02" rpy="1.570796 0 0"/>
      <geometry>
        <cylinder radius="0.008" length="0.06"/>
      </geometry>
    </collision>
  </link>
  <joint name="leaf_slide" type="prismatic">
    <origin xyz="0 -0.06 0" rpy="0 0 0"/>
    <parent link="world_env"/>
    <child link="leaf"/>
    <axis xyz="-1 0 0"/>
    <limit lower="0" upper="1.2" effort="5000" velocity="10"/>
    <dynamics damping="5.0454" friction="71.676413"/>
  </joint>
  <joint name="leaf_slide_bolt_slide" type="prismatic">
    <origin xyz="0.48 -0.023 0.38" rpy="0 0 0"/>
    <parent link="leaf"/>
    <child link="leaf_slide_bolt"/>
    <axis xyz="0 0 1"/>
    <limit lower="0" upper="0.08" effort="5000" velocity="10"/>
    <dynamics damping="2" friction="3"/>
  </joint>
  <material name="mat_floor">
    <color rgba="0.35 0.42 0.25 1"/>
  </material>
  <material name="mat_frame">
    <color rgba="0.65 0.66 0.68 1"/>
  </material>
  <material name="mat_keeper">
    <color rgba="0.65 0.66 0.68 1"/>
  </material>
  <material name="mat_leaf">
    <color rgba="0.35 0.36 0.38 1"/>
  </material>
  <material name="mat_mesh_infill">
    <color rgba="0.6 0.62 0.64 0.55"/>
  </material>
  <material name="mat_op_steel_galvanized">
    <color rgba="0.65 0.66 0.68 1"/>
  </material>
  <material name="mat_track">
    <color rgba="0.8 0.81 0.83 1"/>
  </material>
</robot>
