<?xml version="1.0" ?>
<robot xmlns:doorbench="https://github.com/adamraudonis/DoorBench/schema/urdf-ext" name="db0875_sliding_single_simple">
  <link name="world_env">
    <visual name="floor_vis">
      <origin xyz="0 0 -0.05" rpy="0 0 0"/>
      <geometry>
        <box size="12 12 0.1"/>
      </geometry>
      <material name="mat_floor"/>
    </visual>
    <collision name="floor_col">
      <origin xyz="0 0 -0.05" rpy="0 0 0"/>
      <geometry>
        <box size="12 12 0.1"/>
      </geometry>
    </collision>
    <visual name="wall_left_vis">
      <origin xyz="-1.493 0 1.377" rpy="0 0 0"/>
      <geometry>
        <box size="2.014 0.145 2.754"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_left_col">
      <origin xyz="-1.493 0 1.377" rpy="0 0 0"/>
      <geometry>
        <box size="2.014 0.145 2.754"/>
      </geometry>
    </collision>
    <visual name="wall_right_vis">
      <origin xyz="1.523 0 1.377" rpy="0 0 0"/>
      <geometry>
        <box size="1.954 0.145 2.754"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_right_col">
      <origin xyz="1.523 0 1.377" rpy="0 0 0"/>
      <geometry>
        <box size="1.954 0.145 2.754"/>
      </geometry>
    </collision>
    <visual name="wall_header_vis">
      <origin xyz="0.03 0 2.4635" rpy="0 0 0"/>
      <geometry>
        <box size="1.032 0.145 0.581"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_header_col">
      <origin xyz="0.03 0 2.4635" rpy="0 0 0"/>
      <geometry>
        <box size="1.032 0.145 0.581"/>
      </geometry>
    </collision>
    <visual name="jamb_l_vis">
      <origin xyz="-0.4765 0 1.077" rpy="0 0 0"/>
      <geometry>
        <box size="0.019 0.145 2.154"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_l_col">
      <origin xyz="-0.4765 0 1.077" rpy="0 0 0"/>
      <geometry>
        <box size="0.019 0.145 2.154"/>
      </geometry>
    </collision>
    <visual name="jamb_head_vis">
      <origin xyz="0 0 2.1635" rpy="0 0 0"/>
      <geometry>
        <box size="0.972 0.145 0.019"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_head_col">
      <origin xyz="0 0 2.1635" rpy="0 0 0"/>
      <geometry>
        <box size="0.972 0.145 0.019"/>
      </geometry>
    </collision>
    <visual name="flat_track_vis">
      <origin xyz="0 -0.0775 2.274" rpy="0 0 0"/>
      <geometry>
        <box size="1.928 0.008 0.04"/>
      </geometry>
      <material name="mat_track"/>
    </visual>
    <collision name="flat_track_col">
      <origin xyz="0 -0.0775 2.274" rpy="0 0 0"/>
      <geometry>
        <box size="1.928 0.008 0.04"/>
      </geometry>
    </collision>
    <visual name="leaf_teardrop_keeper_post_vis">
      <origin xyz="0.462 -0.1125 1.416" rpy="0 0 0"/>
      <geometry>
        <box size="0.01 0.012 0.036"/>
      </geometry>
      <material name="mat_teardrop"/>
    </visual>
    <collision name="leaf_teardrop_keeper_post_col">
      <origin xyz="0.462 -0.1125 1.416" rpy="0 0 0"/>
      <geometry>
        <box size="0.01 0.012 0.036"/>
      </geometry>
    </collision>
    <visual name="jamb_latch_0_vis">
      <origin xyz="0.5065 0 1.077" rpy="0 0 0"/>
      <geometry>
        <box size="0.079 0.145 2.154"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_latch_0_col">
      <origin xyz="0.5065 0 1.077" rpy="0 0 0"/>
      <geometry>
        <box size="0.079 0.145 2.154"/>
      </geometry>
    </collision>
  </link>
  <link name="leaf">
    <inertial>
      <origin xyz="0.029665 -0.004795 1.681031" rpy="0 0 0"/>
      <mass value="31.035034"/>
      <inertia ixx="15.656312941" ixy="0.034441684" ixz="0.627118664" iyy="18.665092723" iyz="-0.04999909" izz="3.019281795"/>
    </inertial>
    <visual name="leaf_glass_vis">
      <origin xyz="0 0 1.079" rpy="0 0 0"/>
      <geometry>
        <box size="0.914 0.01 2.134"/>
      </geometry>
      <material name="mat_glass_leaf"/>
    </visual>
    <collision name="leaf_glass_col">
      <origin xyz="0 0 1.079" rpy="0 0 0"/>
      <geometry>
        <box size="0.914 0.01 2.134"/>
      </geometry>
    </collision>
    <visual name="leaf_patch_bot_vis">
      <origin xyz="-0.377 0 0.072" rpy="0 0 0"/>
      <geometry>
        <box size="0.16 0.026 0.1"/>
      </geometry>
      <material name="mat_patch"/>
    </visual>
    <visual name="leaf_patch_top_vis">
      <origin xyz="-0.377 0 2.086" rpy="0 0 0"/>
      <geometry>
        <box size="0.16 0.026 0.1"/>
      </geometry>
      <material name="mat_patch"/>
    </visual>
    <visual name="leaf_hanger_wheel_0_vis">
      <origin xyz="-0.337 0 2.266" rpy="-1.570796 0 0"/>
      <geometry>
        <cylinder radius="0.05" length="0.02"/>
      </geometry>
      <material name="mat_roller"/>
    </visual>
    <visual name="leaf_hanger_strap_0_vis">
      <origin xyz="-0.337 -0.012 2.196" rpy="0 0 0"/>
      <geometry>
        <box size="0.04 0.008 0.14"/>
      </geometry>
      <material name="mat_roller"/>
    </visual>
    <visual name="leaf_hanger_wheel_1_vis">
      <origin xyz="0.337 0 2.266" rpy="-1.570796 0 0"/>
      <geometry>
        <cylinder radius="0.05" length="0.02"/>
      </geometry>
      <material name="mat_roller"/>
    </visual>
    <visual name="leaf_hanger_strap_1_vis">
      <origin xyz="0.337 -0.012 2.196" rpy="0 0 0"/>
      <geometry>
        <box size="0.04 0.008 0.14"/>
      </geometry>
      <material name="mat_roller"/>
    </visual>
    <visual name="leaf_pull_n_vis">
      <origin xyz="0.367 -0.005 1" rpy="1.570796 0 0"/>
      <geometry>
        <mesh filename="../../hardware/pull_2b47e55ff8.obj"/>
      </geometry>
      <material name="mat_op_black_matte_metal"/>
    </visual>
    <collision name="leaf_pull_col_n_col">
      <origin xyz="0.367 -0.05 1" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.006" length="0.26"/>
      </geometry>
    </collision>
  </link>
  <link name="leaf_teardrop">
    <inertial>
      <origin xyz="0.054615 0 -0.014615" rpy="0 0 0"/>
      <mass value="0.097344"/>
      <inertia ixx="0.00002687" ixy="0" ixz="0.000021888" iyy="0.000091881" iyz="0" izz="0.00006605"/>
    </inertial>
    <visual name="leaf_teardrop_top_vis">
      <origin xyz="0.04 0 -0.005" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.008 0.012"/>
      </geometry>
      <material name="mat_teardrop"/>
    </visual>
    <collision name="leaf_teardrop_top_col">
      <origin xyz="0.04 0 -0.005" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.008 0.012"/>
      </geometry>
    </collision>
    <visual name="leaf_teardrop_end_vis">
      <origin xyz="0.078 0 -0.03" rpy="0 0 0"/>
      <geometry>
        <box size="0.01 0.008 0.06"/>
      </geometry>
      <material name="mat_teardrop"/>
    </visual>
    <collision name="leaf_teardrop_end_col">
      <origin xyz="0.078 0 -0.03" rpy="0 0 0"/>
      <geometry>
        <box size="0.01 0.008 0.06"/>
      </geometry>
    </collision>
  </link>
  <joint name="leaf_slide" type="prismatic">
    <origin xyz="0 -0.0975 0" rpy="0 0 0"/>
    <parent link="world_env"/>
    <child link="leaf"/>
    <axis xyz="-1 0 0"/>
    <limit lower="0" upper="0.914" effort="5000" velocity="10"/>
    <dynamics damping="3.556619" friction="36.63652"/>
  </joint>
  <joint name="leaf_teardrop_hinge" type="revolute">
    <origin xyz="0.397 -0.015 1.45" rpy="0 0 0"/>
    <parent link="leaf"/>
    <child link="leaf_teardrop"/>
    <axis xyz="0 -1 0"/>
    <limit lower="0" upper="1.4" effort="2000" velocity="10"/>
    <dynamics damping="0.02" friction="0.02"/>
  </joint>
  <material name="mat_floor">
    <color rgba="0.55 0.53 0.5 1"/>
  </material>
  <material name="mat_frame">
    <color rgba="0.82 0.7 0.5 1"/>
  </material>
  <material name="mat_glass_leaf">
    <color rgba="0.85 0.92 0.95 0.25"/>
  </material>
  <material name="mat_op_black_matte_metal">
    <color rgba="0.05 0.05 0.05 1"/>
  </material>
  <material name="mat_patch">
    <color rgba="0.75 0.76 0.77 1"/>
  </material>
  <material name="mat_roller">
    <color rgba="0.65 0.66 0.68 1"/>
  </material>
  <material name="mat_teardrop">
    <color rgba="0.05 0.05 0.05 1"/>
  </material>
  <material name="mat_track">
    <color rgba="0.05 0.05 0.05 1"/>
  </material>
  <material name="mat_wall">
    <color rgba="0.78 0.76 0.7 1"/>
  </material>
</robot>
