<?xml version="1.0" ?>
<robot xmlns:doorbench="https://github.com/adamraudonis/DoorBench/schema/urdf-ext" name="db0867_sliding_single_full">
  <link name="world_env">
    <visual name="floor_vis">
      <origin xyz="0 0 -0.05" rpy="0 0 0"/>
      <geometry>
        <box size="12 12 0.1"/>
      </geometry>
      <material name="mat_floor"/>
    </visual>
    <collision name="floor_col">
      <origin xyz="0 0 -0.05" rpy="0 0 0"/>
      <geometry>
        <box size="12 12 0.1"/>
      </geometry>
    </collision>
    <visual name="wall_left_vis">
      <origin xyz="-1.49775 0 1.35" rpy="0 0 0"/>
      <geometry>
        <box size="2.0045 0.145 2.7"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_left_col">
      <origin xyz="-1.49775 0 1.35" rpy="0 0 0"/>
      <geometry>
        <box size="2.0045 0.145 2.7"/>
      </geometry>
    </collision>
    <visual name="wall_right_vis">
      <origin xyz="1.46775 0 1.35" rpy="0 0 0"/>
      <geometry>
        <box size="2.0645 0.145 2.7"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_right_col">
      <origin xyz="1.46775 0 1.35" rpy="0 0 0"/>
      <geometry>
        <box size="2.0645 0.145 2.7"/>
      </geometry>
    </collision>
    <visual name="wall_header_vis">
      <origin xyz="-0.03 0 2.3855" rpy="0 0 0"/>
      <geometry>
        <box size="0.931 0.145 0.629"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_header_col">
      <origin xyz="-0.03 0 2.3855" rpy="0 0 0"/>
      <geometry>
        <box size="0.931 0.145 0.629"/>
      </geometry>
    </collision>
    <visual name="jamb_r_vis">
      <origin xyz="0.426 0 1.026" rpy="0 0 0"/>
      <geometry>
        <box size="0.019 0.145 2.052"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_r_col">
      <origin xyz="0.426 0 1.026" rpy="0 0 0"/>
      <geometry>
        <box size="0.019 0.145 2.052"/>
      </geometry>
    </collision>
    <visual name="jamb_head_vis">
      <origin xyz="0 0 2.0615" rpy="0 0 0"/>
      <geometry>
        <box size="0.871 0.145 0.019"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_head_col">
      <origin xyz="0 0 2.0615" rpy="0 0 0"/>
      <geometry>
        <box size="0.871 0.145 0.019"/>
      </geometry>
    </collision>
    <visual name="flat_track_vis">
      <origin xyz="0 -0.0755 2.172" rpy="0 0 0"/>
      <geometry>
        <box size="1.726 0.008 0.04"/>
      </geometry>
      <material name="mat_track"/>
    </visual>
    <collision name="flat_track_col">
      <origin xyz="0 -0.0755 2.172" rpy="0 0 0"/>
      <geometry>
        <box size="1.726 0.008 0.04"/>
      </geometry>
    </collision>
    <visual name="track_standoff_0_vis">
      <origin xyz="-0.863 -0.0655 2.172" rpy="-1.570796 0 0"/>
      <geometry>
        <cylinder radius="0.012" length="0.024"/>
      </geometry>
      <material name="mat_track"/>
    </visual>
    <visual name="track_standoff_1_vis">
      <origin xyz="-0.263 -0.0655 2.172" rpy="-1.570796 0 0"/>
      <geometry>
        <cylinder radius="0.012" length="0.024"/>
      </geometry>
      <material name="mat_track"/>
    </visual>
    <visual name="track_standoff_2_vis">
      <origin xyz="0.337 -0.0655 2.172" rpy="-1.570796 0 0"/>
      <geometry>
        <cylinder radius="0.012" length="0.024"/>
      </geometry>
      <material name="mat_track"/>
    </visual>
    <visual name="jamb_latch_0_vis">
      <origin xyz="-0.456 0 1.026" rpy="0 0 0"/>
      <geometry>
        <box size="0.079 0.145 2.052"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_latch_0_col">
      <origin xyz="-0.456 0 1.026" rpy="0 0 0"/>
      <geometry>
        <box size="0.079 0.145 2.052"/>
      </geometry>
    </collision>
    <visual name="floor_guide_n_vis">
      <origin xyz="0.4665 -0.1145 0.02" rpy="0 0 0"/>
      <geometry>
        <box size="0.06 0.008 0.04"/>
      </geometry>
      <material name="mat_track"/>
    </visual>
    <collision name="floor_guide_n_col">
      <origin xyz="0.4665 -0.1145 0.02" rpy="0 0 0"/>
      <geometry>
        <box size="0.06 0.008 0.04"/>
      </geometry>
    </collision>
    <visual name="floor_guide_p_vis">
      <origin xyz="0.4665 -0.0765 0.02" rpy="0 0 0"/>
      <geometry>
        <box size="0.06 0.008 0.04"/>
      </geometry>
      <material name="mat_track"/>
    </visual>
    <collision name="floor_guide_p_col">
      <origin xyz="0.4665 -0.0765 0.02" rpy="0 0 0"/>
      <geometry>
        <box size="0.06 0.008 0.04"/>
      </geometry>
    </collision>
  </link>
  <link name="leaf">
    <inertial>
      <origin xyz="-0.001919 -0.000348 1.071416" rpy="0 0 0"/>
      <mass value="81.479635"/>
      <inertia ixx="30.613975151" ixy="-0.006221868" ixz="-0.011436148" iyy="35.209790677" iyz="0.007211484" izz="4.598407307"/>
    </inertial>
    <visual name="leaf_slab_vis">
      <origin xyz="0 0 1.028" rpy="0 0 0"/>
      <geometry>
        <box size="0.813 0.006 2.032"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <collision name="leaf_slab_col">
      <origin xyz="0 0 1.028" rpy="0 0 0"/>
      <geometry>
        <box size="0.813 0.006 2.032"/>
      </geometry>
    </collision>
    <visual name="leaf_plank_gap_1_vis">
      <origin xyz="-0.2439 0 1.028" rpy="0 0 0"/>
      <geometry>
        <box size="0.004 0.008 2.012"/>
      </geometry>
      <material name="mat_leaf_brace"/>
    </visual>
    <visual name="leaf_plank_gap_2_vis">
      <origin xyz="-0.0813 0 1.028" rpy="0 0 0"/>
      <geometry>
        <box size="0.004 0.008 2.012"/>
      </geometry>
      <material name="mat_leaf_brace"/>
    </visual>
    <visual name="leaf_plank_gap_3_vis">
      <origin xyz="0.0813 0 1.028" rpy="0 0 0"/>
      <geometry>
        <box size="0.004 0.008 2.012"/>
      </geometry>
      <material name="mat_leaf_brace"/>
    </visual>
    <visual name="leaf_plank_gap_4_vis">
      <origin xyz="0.2439 0 1.028" rpy="0 0 0"/>
      <geometry>
        <box size="0.004 0.008 2.012"/>
      </geometry>
      <material name="mat_leaf_brace"/>
    </visual>
    <visual name="leaf_batten_13_vis">
      <origin xyz="0 -0.013 0.132" rpy="0 0 0"/>
      <geometry>
        <box size="0.753 0.02 0.09"/>
      </geometry>
      <material name="mat_leaf_brace"/>
    </visual>
    <visual name="leaf_batten_192_vis">
      <origin xyz="0 -0.013 1.924" rpy="0 0 0"/>
      <geometry>
        <box size="0.753 0.02 0.09"/>
      </geometry>
      <material name="mat_leaf_brace"/>
    </visual>
    <visual name="leaf_brace_z_vis">
      <origin xyz="0 -0.013 1.028" rpy="0 -1.169858 0"/>
      <geometry>
        <box size="1.706881 0.02 0.09"/>
      </geometry>
      <material name="mat_leaf_brace"/>
    </visual>
    <visual name="leaf_hanger_wheel_0_vis">
      <origin xyz="-0.2865 0 2.164" rpy="-1.570796 0 0"/>
      <geometry>
        <cylinder radius="0.05" length="0.02"/>
      </geometry>
      <material name="mat_roller"/>
    </visual>
    <visual name="leaf_hanger_strap_0_vis">
      <origin xyz="-0.2865 -0.012 2.094" rpy="0 0 0"/>
      <geometry>
        <box size="0.04 0.008 0.14"/>
      </geometry>
      <material name="mat_roller"/>
    </visual>
    <visual name="leaf_hanger_wheel_1_vis">
      <origin xyz="0.2865 0 2.164" rpy="-1.570796 0 0"/>
      <geometry>
        <cylinder radius="0.05" length="0.02"/>
      </geometry>
      <material name="mat_roller"/>
    </visual>
    <visual name="leaf_hanger_strap_1_vis">
      <origin xyz="0.2865 -0.012 2.094" rpy="0 0 0"/>
      <geometry>
        <box size="0.04 0.008 0.14"/>
      </geometry>
      <material name="mat_roller"/>
    </visual>
    <visual name="leaf_pull_n_vis">
      <origin xyz="-0.3165 -0.003 1" rpy="-1.570796 0 3.141593"/>
      <geometry>
        <mesh filename="../../hardware/pull_2b47e55ff8.obj"/>
      </geometry>
      <material name="mat_op_black_matte_metal"/>
    </visual>
    <collision name="leaf_pull_col_n_col">
      <origin xyz="-0.3165 -0.048 1" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.006" length="0.26"/>
      </geometry>
    </collision>
  </link>
  <joint name="leaf_slide" type="prismatic">
    <origin xyz="0 -0.0955 0" rpy="0 0 0"/>
    <parent link="world_env"/>
    <child link="leaf"/>
    <axis xyz="1 0 0"/>
    <limit lower="0" upper="0.813" effort="5000" velocity="10"/>
    <dynamics damping="5.925498" friction="15.398393"/>
  </joint>
  <material name="mat_floor">
    <color rgba="0.55 0.53 0.5 1"/>
  </material>
  <material name="mat_frame">
    <color rgba="0.82 0.7 0.5 1"/>
  </material>
  <material name="mat_leaf">
    <color rgba="0.93 0.93 0.91 1"/>
  </material>
  <material name="mat_leaf_brace">
    <color rgba="0.837 0.837 0.819 1"/>
  </material>
  <material name="mat_op_black_matte_metal">
    <color rgba="0.05 0.05 0.05 1"/>
  </material>
  <material name="mat_roller">
    <color rgba="0.65 0.66 0.68 1"/>
  </material>
  <material name="mat_track">
    <color rgba="0.05 0.05 0.05 1"/>
  </material>
  <material name="mat_wall">
    <color rgba="0.78 0.76 0.7 1"/>
  </material>
</robot>
