<?xml version="1.0" ?>
<robot xmlns:doorbench="https://github.com/adamraudonis/DoorBench/schema/urdf-ext" name="db0685_swing_single_full">
  <link name="world_env">
    <visual name="floor_vis">
      <origin xyz="0 0 -0.05" rpy="0 0 0"/>
      <geometry>
        <box size="12 12 0.1"/>
      </geometry>
      <material name="mat_floor"/>
    </visual>
    <collision name="floor_col">
      <origin xyz="0 0 -0.05" rpy="0 0 0"/>
      <geometry>
        <box size="12 12 0.1"/>
      </geometry>
    </collision>
    <visual name="wall_left_vis">
      <origin xyz="-1.48975 0.02 1.3735" rpy="0 0 0"/>
      <geometry>
        <box size="2.0205 0.115 2.747"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_left_col">
      <origin xyz="-1.48975 0.02 1.3735" rpy="0 0 0"/>
      <geometry>
        <box size="2.0205 0.115 2.747"/>
      </geometry>
    </collision>
    <visual name="wall_right_vis">
      <origin xyz="1.50475 0.02 1.3735" rpy="0 0 0"/>
      <geometry>
        <box size="1.9905 0.115 2.747"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_right_col">
      <origin xyz="1.50475 0.02 1.3735" rpy="0 0 0"/>
      <geometry>
        <box size="1.9905 0.115 2.747"/>
      </geometry>
    </collision>
    <visual name="wall_header_vis">
      <origin xyz="0.015 0.02 2.4715" rpy="0 0 0"/>
      <geometry>
        <box size="0.989 0.115 0.551"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_header_col">
      <origin xyz="0.015 0.02 2.4715" rpy="0 0 0"/>
      <geometry>
        <box size="0.989 0.115 0.551"/>
      </geometry>
    </collision>
    <visual name="hinge_0_jamb_vis">
      <origin xyz="-0.4575 -0.0245 0.259" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../../hardware/hinge_jamb_50e97ebc96.obj"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="hinge_1_jamb_vis">
      <origin xyz="-0.4575 -0.0245 1.076" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../../hardware/hinge_jamb_50e97ebc96.obj"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="hinge_2_jamb_vis">
      <origin xyz="-0.4575 -0.0245 1.963" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../../hardware/hinge_jamb_50e97ebc96.obj"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="jamb_hinge_vis">
      <origin xyz="-0.47 0.02 1.0735" rpy="0 0 0"/>
      <geometry>
        <box size="0.019 0.115 2.147"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_hinge_col">
      <origin xyz="-0.47 0.02 1.0735" rpy="0 0 0"/>
      <geometry>
        <box size="0.019 0.115 2.147"/>
      </geometry>
    </collision>
    <visual name="strike_1016_wall_n_vis">
      <origin xyz="0.485 0.042675 1.016" rpy="0 0 0"/>
      <geometry>
        <box size="0.049 0.06965 0.0334"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="strike_1016_wall_n_col">
      <origin xyz="0.485 0.042675 1.016" rpy="0 0 0"/>
      <geometry>
        <box size="0.049 0.06965 0.0334"/>
      </geometry>
    </collision>
    <visual name="strike_1016_wall_p_vis">
      <origin xyz="0.485 -0.01585 1.016" rpy="0 0 0"/>
      <geometry>
        <box size="0.049 0.016 0.0334"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="strike_1016_wall_p_col">
      <origin xyz="0.485 -0.01585 1.016" rpy="0 0 0"/>
      <geometry>
        <box size="0.049 0.016 0.0334"/>
      </geometry>
    </collision>
    <visual name="strike_1016_ramp_vis">
      <origin xyz="0.490041 -0.031437 1.016" rpy="0 0 0.38664"/>
      <geometry>
        <box size="0.049 0.036332 0.0334"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="strike_1016_ramp_col">
      <origin xyz="0.490041 -0.031437 1.016" rpy="0 0 0.38664"/>
      <geometry>
        <box size="0.049 0.036332 0.0334"/>
      </geometry>
    </collision>
    <visual name="strike_1016_back_vis">
      <origin xyz="0.49335 0 1.016" rpy="0 0 0"/>
      <geometry>
        <box size="0.0323 0.0157 0.0334"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="strike_1016_back_col">
      <origin xyz="0.49335 0 1.016" rpy="0 0 0"/>
      <geometry>
        <box size="0.0323 0.0157 0.0334"/>
      </geometry>
    </collision>
    <visual name="jamb_strike_0_vis">
      <origin xyz="0.485 0.02 0.49965" rpy="0 0 0"/>
      <geometry>
        <box size="0.049 0.115 0.9993"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_strike_0_col">
      <origin xyz="0.485 0.02 0.49965" rpy="0 0 0"/>
      <geometry>
        <box size="0.049 0.115 0.9993"/>
      </geometry>
    </collision>
    <visual name="jamb_strike_1_vis">
      <origin xyz="0.485 0.02 1.58985" rpy="0 0 0"/>
      <geometry>
        <box size="0.049 0.115 1.1143"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_strike_1_col">
      <origin xyz="0.485 0.02 1.58985" rpy="0 0 0"/>
      <geometry>
        <box size="0.049 0.115 1.1143"/>
      </geometry>
    </collision>
    <visual name="jamb_head_vis">
      <origin xyz="0.015 0.02 2.1565" rpy="0 0 0"/>
      <geometry>
        <box size="0.989 0.115 0.019"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_head_col">
      <origin xyz="0.015 0.02 2.1565" rpy="0 0 0"/>
      <geometry>
        <box size="0.989 0.115 0.019"/>
      </geometry>
    </collision>
    <visual name="head_stud_vis">
      <origin xyz="0.015 0.02 2.181" rpy="0 0 0"/>
      <geometry>
        <box size="0.989 0.115 0.03"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="head_stud_col">
      <origin xyz="0.015 0.02 2.181" rpy="0 0 0"/>
      <geometry>
        <box size="0.989 0.115 0.03"/>
      </geometry>
    </collision>
    <visual name="stop_hinge_vis">
      <origin xyz="-0.455 0.034 1.0735" rpy="0 0 0"/>
      <geometry>
        <box size="0.011 0.032 2.147"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="stop_hinge_col">
      <origin xyz="-0.455 0.034 1.0735" rpy="0 0 0"/>
      <geometry>
        <box size="0.011 0.032 2.147"/>
      </geometry>
    </collision>
    <visual name="stop_strike_vis">
      <origin xyz="0.455 0.034 1.0735" rpy="0 0 0"/>
      <geometry>
        <box size="0.011 0.032 2.147"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="stop_strike_col">
      <origin xyz="0.455 0.034 1.0735" rpy="0 0 0"/>
      <geometry>
        <box size="0.011 0.032 2.147"/>
      </geometry>
    </collision>
    <visual name="stop_head_vis">
      <origin xyz="0 0.034 2.1415" rpy="0 0 0"/>
      <geometry>
        <box size="0.921 0.032 0.011"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="stop_head_col">
      <origin xyz="0 0.034 2.1415" rpy="0 0 0"/>
      <geometry>
        <box size="0.921 0.032 0.011"/>
      </geometry>
    </collision>
    <visual name="casing_l_n_vis">
      <origin xyz="-0.5095 -0.0455 1.0735" rpy="0 0 0"/>
      <geometry>
        <box size="0.07 0.016 2.166"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <visual name="casing_r_n_vis">
      <origin xyz="0.5095 -0.0455 1.0735" rpy="0 0 0"/>
      <geometry>
        <box size="0.07 0.016 2.166"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <visual name="casing_h_n_vis">
      <origin xyz="0 -0.0455 2.196" rpy="0 0 0"/>
      <geometry>
        <box size="1.089 0.016 0.07"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <visual name="casing_l_p_vis">
      <origin xyz="-0.5095 0.0855 1.0735" rpy="0 0 0"/>
      <geometry>
        <box size="0.07 0.016 2.166"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <visual name="casing_r_p_vis">
      <origin xyz="0.5095 0.0855 1.0735" rpy="0 0 0"/>
      <geometry>
        <box size="0.07 0.016 2.166"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <visual name="casing_h_p_vis">
      <origin xyz="0 0.0855 2.196" rpy="0 0 0"/>
      <geometry>
        <box size="1.089 0.016 0.07"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
  </link>
  <link name="leaf">
    <inertial>
      <origin xyz="0.44656 0.024029 1.076585" rpy="0 0 0"/>
      <mass value="14.385178"/>
      <inertia ixx="5.494759227" ixy="-0.003024578" ixz="0.003416444" iyy="6.538666096" iyz="0.000153992" izz="1.047085501"/>
    </inertial>
    <visual name="leaf_slab_vis">
      <origin xyz="0.457 0.0245 1.076" rpy="0 0 0"/>
      <geometry>
        <box size="0.914 0.035 2.134"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <collision name="leaf_slab_col">
      <origin xyz="0.457 0.0245 1.076" rpy="0 0 0"/>
      <geometry>
        <box size="0.914 0.035 2.134"/>
      </geometry>
    </collision>
    <visual name="leaf_panel_0_n_vis">
      <origin xyz="0.25627 0.004 0.485624" rpy="0 0 0"/>
      <geometry>
        <box size="0.27146 0.006 0.443768"/>
      </geometry>
      <material name="mat_leaf_panel"/>
    </visual>
    <visual name="leaf_panel_0_p_vis">
      <origin xyz="0.25627 0.045 0.485624" rpy="0 0 0"/>
      <geometry>
        <box size="0.27146 0.006 0.443768"/>
      </geometry>
      <material name="mat_leaf_panel"/>
    </visual>
    <visual name="leaf_panel_1_n_vis">
      <origin xyz="0.65773 0.004 0.485624" rpy="0 0 0"/>
      <geometry>
        <box size="0.27146 0.006 0.443768"/>
      </geometry>
      <material name="mat_leaf_panel"/>
    </visual>
    <visual name="leaf_panel_1_p_vis">
      <origin xyz="0.65773 0.045 0.485624" rpy="0 0 0"/>
      <geometry>
        <box size="0.27146 0.006 0.443768"/>
      </geometry>
      <material name="mat_leaf_panel"/>
    </visual>
    <visual name="leaf_panel_2_n_vis">
      <origin xyz="0.25627 0.004 1.059392" rpy="0 0 0"/>
      <geometry>
        <box size="0.27146 0.006 0.443768"/>
      </geometry>
      <material name="mat_leaf_panel"/>
    </visual>
    <visual name="leaf_panel_2_p_vis">
      <origin xyz="0.25627 0.045 1.059392" rpy="0 0 0"/>
      <geometry>
        <box size="0.27146 0.006 0.443768"/>
      </geometry>
      <material name="mat_leaf_panel"/>
    </visual>
    <visual name="leaf_panel_3_n_vis">
      <origin xyz="0.65773 0.004 1.059392" rpy="0 0 0"/>
      <geometry>
        <box size="0.27146 0.006 0.443768"/>
      </geometry>
      <material name="mat_leaf_panel"/>
    </visual>
    <visual name="leaf_panel_3_p_vis">
      <origin xyz="0.65773 0.045 1.059392" rpy="0 0 0"/>
      <geometry>
        <box size="0.27146 0.006 0.443768"/>
      </geometry>
      <material name="mat_leaf_panel"/>
    </visual>
    <visual name="leaf_panel_4_n_vis">
      <origin xyz="0.25627 0.004 1.713788" rpy="0 0 0"/>
      <geometry>
        <box size="0.27146 0.006 0.605024"/>
      </geometry>
      <material name="mat_leaf_panel"/>
    </visual>
    <visual name="leaf_panel_4_p_vis">
      <origin xyz="0.25627 0.045 1.713788" rpy="0 0 0"/>
      <geometry>
        <box size="0.27146 0.006 0.605024"/>
      </geometry>
      <material name="mat_leaf_panel"/>
    </visual>
    <visual name="leaf_panel_5_n_vis">
      <origin xyz="0.65773 0.004 1.713788" rpy="0 0 0"/>
      <geometry>
        <box size="0.27146 0.006 0.605024"/>
      </geometry>
      <material name="mat_leaf_panel"/>
    </visual>
    <visual name="leaf_panel_5_p_vis">
      <origin xyz="0.65773 0.045 1.713788" rpy="0 0 0"/>
      <geometry>
        <box size="0.27146 0.006 0.605024"/>
      </geometry>
      <material name="mat_leaf_panel"/>
    </visual>
    <visual name="hinge_0_vis">
      <origin xyz="0 0 0.259" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../../hardware/hinge_9ae1f9b7de.obj"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="hinge_1_vis">
      <origin xyz="0 0 1.076" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../../hardware/hinge_9ae1f9b7de.obj"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="hinge_2_vis">
      <origin xyz="0 0 1.963" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../../hardware/hinge_9ae1f9b7de.obj"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
  </link>
  <link name="leaf_handle">
    <inertial>
      <origin xyz="0 0.000219 0" rpy="0 0 0"/>
      <mass value="1.130681"/>
      <inertia ixx="0.003721642" ixy="0" ixz="0" iyy="0.000312115" iyz="0" izz="0.003721642"/>
    </inertial>
    <visual name="leaf_handle_spindle_vis">
      <origin xyz="0 0 0" rpy="-1.570796 0 0"/>
      <geometry>
        <cylinder radius="0.006" length="0.033"/>
      </geometry>
      <material name="mat_op_nickel_satin"/>
    </visual>
    <visual name="leaf_handle_knob_n_vis">
      <origin xyz="0 -0.0175 0" rpy="1.570796 0 0"/>
      <geometry>
        <mesh filename="../../hardware/knob_d1888f6f03.obj"/>
      </geometry>
      <material name="mat_op_nickel_satin"/>
    </visual>
    <visual name="leaf_handle_knob_col_n_vis">
      <origin xyz="0 -0.064 0" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.0243"/>
      </geometry>
      <material name="mat_op_nickel_satin"/>
    </visual>
    <collision name="leaf_handle_knob_col_n_col">
      <origin xyz="0 -0.064 0" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.0243"/>
      </geometry>
    </collision>
    <collision name="leaf_handle_knob_neck_n_col">
      <origin xyz="0 -0.0295 0" rpy="-1.570796 0 0"/>
      <geometry>
        <cylinder radius="0.011" length="0.024"/>
      </geometry>
    </collision>
    <visual name="leaf_handle_knob_p_vis">
      <origin xyz="0 0.0175 0" rpy="-1.570796 0 0"/>
      <geometry>
        <mesh filename="../../hardware/knob_248d825e64.obj"/>
      </geometry>
      <material name="mat_op_nickel_satin"/>
    </visual>
    <visual name="leaf_handle_knob_col_p_vis">
      <origin xyz="0 0.064 0" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.0243"/>
      </geometry>
      <material name="mat_op_nickel_satin"/>
    </visual>
    <collision name="leaf_handle_knob_col_p_col">
      <origin xyz="0 0.064 0" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.0243"/>
      </geometry>
    </collision>
    <collision name="leaf_handle_knob_neck_p_col">
      <origin xyz="0 0.0295 0" rpy="-1.570796 0 0"/>
      <geometry>
        <cylinder radius="0.011" length="0.024"/>
      </geometry>
    </collision>
  </link>
  <link name="leaf_latch_bolt">
    <inertial>
      <origin xyz="-0.00865 0 0" rpy="0 0 0"/>
      <mass value="0.041419"/>
      <inertia ixx="0.000000798" ixy="0" ixz="0" iyy="0.000005598" iyz="0" izz="0.000005598"/>
    </inertial>
    <visual name="leaf_latch_bolt_capsule_vis">
      <origin xyz="-0.00865 0 0" rpy="0 1.570796 0"/>
      <geometry>
        <cylinder radius="0.00635" length="0.03"/>
      </geometry>
      <material name="mat_bolt"/>
    </visual>
    <collision name="leaf_latch_bolt_capsule_col">
      <origin xyz="-0.00865 0 0" rpy="0 1.570796 0"/>
      <geometry>
        <cylinder radius="0.00635" length="0.03"/>
      </geometry>
    </collision>
  </link>
  <joint name="leaf_hinge" type="revolute">
    <origin xyz="-0.4575 -0.0245 0" rpy="0 0 0"/>
    <parent link="world_env"/>
    <child link="leaf"/>
    <axis xyz="0 0 -1"/>
    <limit lower="0" upper="2.094395" effort="2000" velocity="10"/>
    <dynamics damping="0.318966" friction="0.120248"/>
    <doorbench:closer damping_closing="0" damping_opening="0" backcheck_angle="0" backcheck_damping="0"/>
  </joint>
  <joint name="leaf_handle_hinge" type="revolute">
    <origin xyz="0.854 0.0245 1.016" rpy="0 0 0"/>
    <parent link="leaf"/>
    <child link="leaf_handle"/>
    <axis xyz="0 -1 0"/>
    <limit lower="0" upper="0.87" effort="2000" velocity="10"/>
    <dynamics damping="0.02" friction="0.038"/>
    <doorbench:spring stiffness="0.5" springref="-0.5" note="tau = -stiffness*(q - springref); not native URDF"/>
  </joint>
  <joint name="leaf_latch_bolt_slide" type="prismatic">
    <origin xyz="0.914 0.0245 1.016" rpy="0 0 0"/>
    <parent link="leaf"/>
    <child link="leaf_latch_bolt"/>
    <axis xyz="-1 0 0"/>
    <limit lower="0" upper="0.0127" effort="5000" velocity="10"/>
    <dynamics damping="2" friction="0.3"/>
    <doorbench:spring stiffness="300" springref="-0.008333" note="tau = -stiffness*(q - springref); not native URDF"/>
    <mimic joint="leaf_handle_hinge" multiplier="0.015679" offset="0"/>
    <doorbench:coupling one_sided="true" note="MJCF uses a one-sided tendon (bolt may retract further, e.g. riding over the strike lip); mimic is bilateral"/>
  </joint>
  <material name="mat_bolt">
    <color rgba="0.85 0.66 0.3 1"/>
  </material>
  <material name="mat_floor">
    <color rgba="0.55 0.53 0.5 1"/>
  </material>
  <material name="mat_frame">
    <color rgba="0.82 0.7 0.5 1"/>
  </material>
  <material name="mat_hinge">
    <color rgba="0.65 0.66 0.68 1"/>
  </material>
  <material name="mat_leaf">
    <color rgba="0.93 0.93 0.91 1"/>
  </material>
  <material name="mat_leaf_panel">
    <color rgba="0.856 0.856 0.837 1"/>
  </material>
  <material name="mat_op_nickel_satin">
    <color rgba="0.72 0.7 0.66 1"/>
  </material>
  <material name="mat_wall">
    <color rgba="0.78 0.76 0.7 1"/>
  </material>
</robot>
