<?xml version="1.0" ?>
<robot xmlns:doorbench="https://github.com/adamraudonis/DoorBench/schema/urdf-ext" name="db0038_sliding_single_simple">
  <link name="world_env">
    <visual name="floor_vis">
      <origin xyz="0 0 -0.05" rpy="0 0 0"/>
      <geometry>
        <box size="12 12 0.1"/>
      </geometry>
      <material name="mat_floor"/>
    </visual>
    <collision name="floor_col">
      <origin xyz="0 0 -0.05" rpy="0 0 0"/>
      <geometry>
        <box size="12 12 0.1"/>
      </geometry>
    </collision>
    <visual name="wall_left_vis">
      <origin xyz="-1.6825 0 1.377" rpy="0 0 0"/>
      <geometry>
        <box size="1.635 0.145 2.754"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_left_col">
      <origin xyz="-1.6825 0 1.377" rpy="0 0 0"/>
      <geometry>
        <box size="1.635 0.145 2.754"/>
      </geometry>
    </collision>
    <visual name="wall_right_vis">
      <origin xyz="1.6525 0 1.377" rpy="0 0 0"/>
      <geometry>
        <box size="1.695 0.145 2.754"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_right_col">
      <origin xyz="1.6525 0 1.377" rpy="0 0 0"/>
      <geometry>
        <box size="1.695 0.145 2.754"/>
      </geometry>
    </collision>
    <visual name="wall_header_vis">
      <origin xyz="-0.03 0 2.4765" rpy="0 0 0"/>
      <geometry>
        <box size="1.67 0.145 0.555"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_header_col">
      <origin xyz="-0.03 0 2.4765" rpy="0 0 0"/>
      <geometry>
        <box size="1.67 0.145 0.555"/>
      </geometry>
    </collision>
    <visual name="jamb_r_vis">
      <origin xyz="0.7825 0 1.077" rpy="0 0 0"/>
      <geometry>
        <box size="0.045 0.145 2.154"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_r_col">
      <origin xyz="0.7825 0 1.077" rpy="0 0 0"/>
      <geometry>
        <box size="0.045 0.145 2.154"/>
      </geometry>
    </collision>
    <visual name="jamb_head_vis">
      <origin xyz="0 0 2.1765" rpy="0 0 0"/>
      <geometry>
        <box size="1.61 0.145 0.045"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_head_col">
      <origin xyz="0 0 2.1765" rpy="0 0 0"/>
      <geometry>
        <box size="1.61 0.145 0.045"/>
      </geometry>
    </collision>
    <visual name="track_header_vis">
      <origin xyz="0.75 -0.1145 2.239" rpy="0 0 0"/>
      <geometry>
        <box size="3.1 0.05 0.08"/>
      </geometry>
      <material name="mat_track"/>
    </visual>
    <collision name="track_header_col">
      <origin xyz="0.75 -0.1145 2.239" rpy="0 0 0"/>
      <geometry>
        <box size="3.1 0.05 0.08"/>
      </geometry>
    </collision>
    <visual name="jamb_latch_0_vis">
      <origin xyz="-0.8125 0 1.077" rpy="0 0 0"/>
      <geometry>
        <box size="0.105 0.145 2.154"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_latch_0_col">
      <origin xyz="-0.8125 0 1.077" rpy="0 0 0"/>
      <geometry>
        <box size="0.105 0.145 2.154"/>
      </geometry>
    </collision>
  </link>
  <link name="leaf">
    <inertial>
      <origin xyz="0 0 1.079" rpy="0 0 0"/>
      <mass value="137.186155"/>
      <inertia ixx="52.08377543" ixy="0" ixz="0" iyy="77.784046756" iyz="0" izz="25.744536725"/>
    </inertial>
    <visual name="leaf_slab_vis">
      <origin xyz="0 0 1.079" rpy="0 0 0"/>
      <geometry>
        <box size="1.5 0.044 2.134"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <collision name="leaf_slab_col">
      <origin xyz="0 0 1.079" rpy="0 0 0"/>
      <geometry>
        <box size="1.5 0.044 2.134"/>
      </geometry>
    </collision>
  </link>
  <joint name="leaf_slide" type="prismatic">
    <origin xyz="0 -0.1145 0" rpy="0 0 0"/>
    <parent link="world_env"/>
    <child link="leaf"/>
    <axis xyz="1 0 0"/>
    <limit lower="0" upper="1.5" effort="5000" velocity="10"/>
    <dynamics damping="8.859308" friction="26.234064"/>
  </joint>
  <material name="mat_floor">
    <color rgba="0.55 0.53 0.5 1"/>
  </material>
  <material name="mat_frame">
    <color rgba="0.55 0.56 0.58 1"/>
  </material>
  <material name="mat_leaf">
    <color rgba="0.5 0.51 0.53 1"/>
  </material>
  <material name="mat_track">
    <color rgba="0.8 0.81 0.83 1"/>
  </material>
  <material name="mat_wall">
    <color rgba="0.78 0.76 0.7 1"/>
  </material>
</robot>
