<?xml version="1.0" ?>
<robot xmlns:doorbench="https://github.com/adamraudonis/DoorBench/schema/urdf-ext" name="db0241_hatch_floor_full">
  <link name="world_env">
    <visual name="floor_a_vis">
      <origin xyz="-3.3025 0 -0.05" rpy="0 0 0"/>
      <geometry>
        <box size="5.395 12 0.1"/>
      </geometry>
      <material name="mat_floor"/>
    </visual>
    <collision name="floor_a_col">
      <origin xyz="-3.3025 0 -0.05" rpy="0 0 0"/>
      <geometry>
        <box size="5.395 12 0.1"/>
      </geometry>
    </collision>
    <visual name="floor_b_vis">
      <origin xyz="3.3025 0 -0.05" rpy="0 0 0"/>
      <geometry>
        <box size="5.395 12 0.1"/>
      </geometry>
      <material name="mat_floor"/>
    </visual>
    <collision name="floor_b_col">
      <origin xyz="3.3025 0 -0.05" rpy="0 0 0"/>
      <geometry>
        <box size="5.395 12 0.1"/>
      </geometry>
    </collision>
    <visual name="floor_c_vis">
      <origin xyz="0 -3.2275 -0.05" rpy="0 0 0"/>
      <geometry>
        <box size="1.21 5.545 0.1"/>
      </geometry>
      <material name="mat_floor"/>
    </visual>
    <collision name="floor_c_col">
      <origin xyz="0 -3.2275 -0.05" rpy="0 0 0"/>
      <geometry>
        <box size="1.21 5.545 0.1"/>
      </geometry>
    </collision>
    <visual name="floor_d_vis">
      <origin xyz="0 3.2275 -0.05" rpy="0 0 0"/>
      <geometry>
        <box size="1.21 5.545 0.1"/>
      </geometry>
      <material name="mat_floor"/>
    </visual>
    <collision name="floor_d_col">
      <origin xyz="0 3.2275 -0.05" rpy="0 0 0"/>
      <geometry>
        <box size="1.21 5.545 0.1"/>
      </geometry>
    </collision>
    <visual name="pit_floor_vis">
      <origin xyz="0 0 -1.5" rpy="0 0 0"/>
      <geometry>
        <box size="1.61 1.31 0.04"/>
      </geometry>
      <material name="mat_pit"/>
    </visual>
    <collision name="pit_floor_col">
      <origin xyz="0 0 -1.5" rpy="0 0 0"/>
      <geometry>
        <box size="1.61 1.31 0.04"/>
      </geometry>
    </collision>
    <visual name="curb_l_vis">
      <origin xyz="-0.63 0 0.02" rpy="0 0 0"/>
      <geometry>
        <box size="0.05 1.01 0.04"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="curb_l_col">
      <origin xyz="-0.63 0 0.02" rpy="0 0 0"/>
      <geometry>
        <box size="0.05 1.01 0.04"/>
      </geometry>
    </collision>
    <visual name="curb_r_vis">
      <origin xyz="0.63 0 0.02" rpy="0 0 0"/>
      <geometry>
        <box size="0.05 1.01 0.04"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="curb_r_col">
      <origin xyz="0.63 0 0.02" rpy="0 0 0"/>
      <geometry>
        <box size="0.05 1.01 0.04"/>
      </geometry>
    </collision>
    <visual name="curb_n_vis">
      <origin xyz="0 -0.48 0.02" rpy="0 0 0"/>
      <geometry>
        <box size="1.21 0.05 0.04"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="curb_n_col">
      <origin xyz="0 -0.48 0.02" rpy="0 0 0"/>
      <geometry>
        <box size="1.21 0.05 0.04"/>
      </geometry>
    </collision>
    <visual name="curb_f_vis">
      <origin xyz="0 0.48 0.02" rpy="0 0 0"/>
      <geometry>
        <box size="1.21 0.05 0.04"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="curb_f_col">
      <origin xyz="0 0.48 0.02" rpy="0 0 0"/>
      <geometry>
        <box size="1.21 0.05 0.04"/>
      </geometry>
    </collision>
    <visual name="hatch_bolt_keeper_leg_n_vis">
      <origin xyz="0.633 -0.0115 0.06" rpy="0 0 0"/>
      <geometry>
        <box size="0.014 0.005 0.04"/>
      </geometry>
      <material name="mat_bolt"/>
    </visual>
    <collision name="hatch_bolt_keeper_leg_n_col">
      <origin xyz="0.633 -0.0115 0.06" rpy="0 0 0"/>
      <geometry>
        <box size="0.014 0.005 0.04"/>
      </geometry>
    </collision>
    <visual name="hatch_bolt_keeper_leg_p_vis">
      <origin xyz="0.633 0.0115 0.06" rpy="0 0 0"/>
      <geometry>
        <box size="0.014 0.005 0.04"/>
      </geometry>
      <material name="mat_bolt"/>
    </visual>
    <collision name="hatch_bolt_keeper_leg_p_col">
      <origin xyz="0.633 0.0115 0.06" rpy="0 0 0"/>
      <geometry>
        <box size="0.014 0.005 0.04"/>
      </geometry>
    </collision>
    <visual name="hatch_bolt_keeper_bridge_vis">
      <origin xyz="0.633 0 0.0775" rpy="0 0 0"/>
      <geometry>
        <box size="0.014 0.028 0.005"/>
      </geometry>
      <material name="mat_bolt"/>
    </visual>
    <collision name="hatch_bolt_keeper_bridge_col">
      <origin xyz="0.633 0 0.0775" rpy="0 0 0"/>
      <geometry>
        <box size="0.014 0.028 0.005"/>
      </geometry>
    </collision>
    <visual name="hatch_bolt_keeper_base_vis">
      <origin xyz="0.633 0 0.041" rpy="0 0 0"/>
      <geometry>
        <box size="0.03 0.04 0.002"/>
      </geometry>
      <material name="mat_bolt"/>
    </visual>
  </link>
  <link name="hatch">
    <inertial>
      <origin xyz="0.022597 -0.462983 -0.005269" rpy="0 0 0"/>
      <mass value="27.721651"/>
      <inertia ixx="1.845718911" ixy="-0.049379189" ixz="0.07858284" iyy="3.532535497" iyz="0.020595576" izz="5.312217831"/>
    </inertial>
    <visual name="hatch_slab_vis">
      <origin xyz="0 -0.465 0" rpy="0 0 0"/>
      <geometry>
        <box size="1.2 0.902 0.032"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <collision name="hatch_slab_col">
      <origin xyz="0 -0.465 0" rpy="0 0 0"/>
      <geometry>
        <box size="1.2 0.902 0.032"/>
      </geometry>
    </collision>
    <visual name="ring_recess_vis">
      <origin xyz="0 -0.6925 0.017" rpy="0 0 0"/>
      <geometry>
        <box size="0.1 0.1 0.002"/>
      </geometry>
      <material name="mat_op_steel_galvanized"/>
    </visual>
    <visual name="gas_strut_vis">
      <origin xyz="0.55 -0.374 -0.15" rpy="-2.498092 0 0"/>
      <geometry>
        <cylinder radius="0.01" length="0.4"/>
      </geometry>
      <material name="mat_strut"/>
    </visual>
    <visual name="hatch_bolt_plate_vis">
      <origin xyz="0.528 -0.465 0.017" rpy="0 0 0"/>
      <geometry>
        <box size="0.128 0.038 0.002"/>
      </geometry>
      <material name="mat_bolt"/>
    </visual>
    <visual name="hatch_bolt_guide_0_leg_n_vis">
      <origin xyz="0.584 -0.476 0.0275" rpy="0 0 0"/>
      <geometry>
        <box size="0.012 0.004 0.023"/>
      </geometry>
      <material name="mat_bolt"/>
    </visual>
    <visual name="hatch_bolt_guide_0_leg_p_vis">
      <origin xyz="0.584 -0.454 0.0275" rpy="0 0 0"/>
      <geometry>
        <box size="0.012 0.004 0.023"/>
      </geometry>
      <material name="mat_bolt"/>
    </visual>
    <visual name="hatch_bolt_guide_0_bridge_vis">
      <origin xyz="0.584 -0.465 0.037" rpy="0 0 0"/>
      <geometry>
        <box size="0.012 0.026 0.004"/>
      </geometry>
      <material name="mat_bolt"/>
    </visual>
    <visual name="hatch_bolt_guide_1_leg_n_vis">
      <origin xyz="0.474 -0.476 0.0275" rpy="0 0 0"/>
      <geometry>
        <box size="0.012 0.004 0.023"/>
      </geometry>
      <material name="mat_bolt"/>
    </visual>
    <visual name="hatch_bolt_guide_1_leg_p_vis">
      <origin xyz="0.474 -0.454 0.0275" rpy="0 0 0"/>
      <geometry>
        <box size="0.012 0.004 0.023"/>
      </geometry>
      <material name="mat_bolt"/>
    </visual>
    <visual name="hatch_bolt_guide_1_bridge_vis">
      <origin xyz="0.474 -0.465 0.037" rpy="0 0 0"/>
      <geometry>
        <box size="0.012 0.026 0.004"/>
      </geometry>
      <material name="mat_bolt"/>
    </visual>
  </link>
  <link name="ring">
    <inertial>
      <origin xyz="0 0.04 0.006" rpy="0 0 0"/>
      <mass value="0.068808"/>
      <inertia ixx="0.000001213" ixy="0" ixz="0" iyy="0.000035629" iyz="0" izz="0.000035629"/>
    </inertial>
    <visual name="ring_geom_vis">
      <origin xyz="0 0.04 0.006" rpy="0 1.570796 0"/>
      <geometry>
        <cylinder radius="0.006" length="0.07"/>
      </geometry>
      <material name="mat_op_steel_galvanized"/>
    </visual>
    <collision name="ring_geom_col">
      <origin xyz="0 0.04 0.006" rpy="0 1.570796 0"/>
      <geometry>
        <cylinder radius="0.006" length="0.07"/>
      </geometry>
    </collision>
  </link>
  <link name="hatch_bolt">
    <inertial>
      <origin xyz="-0.026255 0 0.004246" rpy="0 0 0"/>
      <mass value="0.12954"/>
      <inertia ixx="0.000013572" ixy="0" ixz="0.00000481" iyy="0.0001309" iyz="0" izz="0.000119535"/>
    </inertial>
    <visual name="hatch_bolt_rod_vis">
      <origin xyz="-0.024 0 0" rpy="0 1.570796 0"/>
      <geometry>
        <cylinder radius="0.006" length="0.108"/>
      </geometry>
      <material name="mat_bolt"/>
    </visual>
    <collision name="hatch_bolt_rod_col">
      <origin xyz="-0.024 0 0" rpy="0 1.570796 0"/>
      <geometry>
        <cylinder radius="0.006" length="0.108"/>
      </geometry>
    </collision>
    <visual name="hatch_bolt_knob_vis">
      <origin xyz="-0.035 0 0.015" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.005" length="0.02"/>
      </geometry>
      <material name="mat_bolt"/>
    </visual>
    <collision name="hatch_bolt_knob_col">
      <origin xyz="-0.035 0 0.015" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.005" length="0.02"/>
      </geometry>
    </collision>
    <visual name="hatch_bolt_knob_end_vis">
      <origin xyz="-0.035 0 0.03" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.00675"/>
      </geometry>
      <material name="mat_bolt"/>
    </visual>
  </link>
  <joint name="hatch_hinge" type="revolute">
    <origin xyz="0 0.465 0.04" rpy="0 0 0"/>
    <parent link="world_env"/>
    <child link="hatch"/>
    <axis xyz="-1 0 0"/>
    <limit lower="0" upper="1.745329" effort="2000" velocity="10"/>
    <dynamics damping="30.837043" friction="0.512557"/>
    <doorbench:spring stiffness="12.375" springref="-3.333333" note="tau = -stiffness*(q - springref); not native URDF"/>
  </joint>
  <joint name="ring_hinge" type="revolute">
    <origin xyz="0 -0.6925 0.016" rpy="0 0 0"/>
    <parent link="hatch"/>
    <child link="ring"/>
    <axis xyz="1 0 0"/>
    <limit lower="0" upper="1.5708" effort="2000" velocity="10"/>
    <dynamics damping="0.01" friction="0"/>
  </joint>
  <joint name="hatch_bolt_slide" type="prismatic">
    <origin xyz="0.6 -0.465 0.026" rpy="0 0 0"/>
    <parent link="hatch"/>
    <child link="hatch_bolt"/>
    <axis xyz="-1 0 0"/>
    <limit lower="0" upper="0.04" effort="5000" velocity="10"/>
    <dynamics damping="1" friction="1"/>
  </joint>
  <material name="mat_bolt">
    <color rgba="0.65 0.66 0.68 1"/>
  </material>
  <material name="mat_floor">
    <color rgba="0.55 0.53 0.5 1"/>
  </material>
  <material name="mat_frame">
    <color rgba="0.65 0.66 0.68 1"/>
  </material>
  <material name="mat_leaf">
    <color rgba="0.566 0.446 0.306 1"/>
  </material>
  <material name="mat_op_steel_galvanized">
    <color rgba="0.65 0.66 0.68 1"/>
  </material>
  <material name="mat_pit">
    <color rgba="0.3 0.3 0.3 1"/>
  </material>
  <material name="mat_strut">
    <color rgba="0.75 0.76 0.77 1"/>
  </material>
</robot>
