<?xml version="1.0" ?>
<robot xmlns:doorbench="https://github.com/adamraudonis/DoorBench/schema/urdf-ext" name="db0314_ship_watertight_simple">
  <link name="world_env">
    <visual name="floor_vis">
      <origin xyz="0 0 -0.05" rpy="0 0 0"/>
      <geometry>
        <box size="12 12 0.1"/>
      </geometry>
      <material name="mat_floor"/>
    </visual>
    <collision name="floor_col">
      <origin xyz="0 0 -0.05" rpy="0 0 0"/>
      <geometry>
        <box size="12 12 0.1"/>
      </geometry>
    </collision>
    <visual name="wall_left_vis">
      <origin xyz="-1.4525 0 1.35" rpy="0 0 0"/>
      <geometry>
        <box size="2.095 0.012 2.7"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_left_col">
      <origin xyz="-1.4525 0 1.35" rpy="0 0 0"/>
      <geometry>
        <box size="2.095 0.012 2.7"/>
      </geometry>
    </collision>
    <visual name="wall_right_vis">
      <origin xyz="1.4525 0 1.35" rpy="0 0 0"/>
      <geometry>
        <box size="2.095 0.012 2.7"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_right_col">
      <origin xyz="1.4525 0 1.35" rpy="0 0 0"/>
      <geometry>
        <box size="2.095 0.012 2.7"/>
      </geometry>
    </collision>
    <visual name="wall_header_vis">
      <origin xyz="0 0 2.355" rpy="0 0 0"/>
      <geometry>
        <box size="0.81 0.012 0.69"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_header_col">
      <origin xyz="0 0 2.355" rpy="0 0 0"/>
      <geometry>
        <box size="0.81 0.012 0.69"/>
      </geometry>
    </collision>
    <visual name="flange_l_vis">
      <origin xyz="-0.435 -0.01 1.155" rpy="0 0 0"/>
      <geometry>
        <box size="0.06 0.012 1.83"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="flange_l_col">
      <origin xyz="-0.435 -0.01 1.155" rpy="0 0 0"/>
      <geometry>
        <box size="0.06 0.012 1.83"/>
      </geometry>
    </collision>
    <visual name="flange_r_vis">
      <origin xyz="0.435 -0.01 1.155" rpy="0 0 0"/>
      <geometry>
        <box size="0.06 0.012 1.83"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="flange_r_col">
      <origin xyz="0.435 -0.01 1.155" rpy="0 0 0"/>
      <geometry>
        <box size="0.06 0.012 1.83"/>
      </geometry>
    </collision>
    <visual name="flange_t_vis">
      <origin xyz="0 -0.01 2.04" rpy="0 0 0"/>
      <geometry>
        <box size="0.81 0.012 0.06"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="flange_t_col">
      <origin xyz="0 -0.01 2.04" rpy="0 0 0"/>
      <geometry>
        <box size="0.81 0.012 0.06"/>
      </geometry>
    </collision>
    <visual name="flange_b_vis">
      <origin xyz="0 -0.01 0.27" rpy="0 0 0"/>
      <geometry>
        <box size="0.81 0.012 0.06"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="flange_b_col">
      <origin xyz="0 -0.01 0.27" rpy="0 0 0"/>
      <geometry>
        <box size="0.81 0.012 0.06"/>
      </geometry>
    </collision>
    <visual name="coaming_vis">
      <origin xyz="0 0 0.15" rpy="0 0 0"/>
      <geometry>
        <box size="0.91 0.06 0.3"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="coaming_col">
      <origin xyz="0 0 0.15" rpy="0 0 0"/>
      <geometry>
        <box size="0.91 0.06 0.3"/>
      </geometry>
    </collision>
    <visual name="cleat_0_vis">
      <origin xyz="-0.429 -0.018 0.725" rpy="0 0 0"/>
      <geometry>
        <box size="0.04 0.01 0.05"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="cleat_0_col">
      <origin xyz="-0.429 -0.018 0.725" rpy="0 0 0"/>
      <geometry>
        <box size="0.04 0.01 0.05"/>
      </geometry>
    </collision>
    <visual name="cleat_0_base_vis">
      <origin xyz="-0.429 -0.074 0.725" rpy="0 0 0"/>
      <geometry>
        <box size="0.04 0.036 0.05"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="cleat_0_base_col">
      <origin xyz="-0.429 -0.074 0.725" rpy="0 0 0"/>
      <geometry>
        <box size="0.04 0.036 0.05"/>
      </geometry>
    </collision>
    <visual name="cleat_0_bridge_vis">
      <origin xyz="-0.474 -0.046 0.725" rpy="0 0 0"/>
      <geometry>
        <box size="0.01 0.06 0.05"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="cleat_0_bridge_col">
      <origin xyz="-0.474 -0.046 0.725" rpy="0 0 0"/>
      <geometry>
        <box size="0.01 0.06 0.05"/>
      </geometry>
    </collision>
    <visual name="cleat_1_vis">
      <origin xyz="-0.429 -0.018 1.575" rpy="0 0 0"/>
      <geometry>
        <box size="0.04 0.01 0.05"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="cleat_1_col">
      <origin xyz="-0.429 -0.018 1.575" rpy="0 0 0"/>
      <geometry>
        <box size="0.04 0.01 0.05"/>
      </geometry>
    </collision>
    <visual name="cleat_1_base_vis">
      <origin xyz="-0.429 -0.074 1.575" rpy="0 0 0"/>
      <geometry>
        <box size="0.04 0.036 0.05"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="cleat_1_base_col">
      <origin xyz="-0.429 -0.074 1.575" rpy="0 0 0"/>
      <geometry>
        <box size="0.04 0.036 0.05"/>
      </geometry>
    </collision>
    <visual name="cleat_1_bridge_vis">
      <origin xyz="-0.474 -0.046 1.575" rpy="0 0 0"/>
      <geometry>
        <box size="0.01 0.06 0.05"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="cleat_1_bridge_col">
      <origin xyz="-0.474 -0.046 1.575" rpy="0 0 0"/>
      <geometry>
        <box size="0.01 0.06 0.05"/>
      </geometry>
    </collision>
    <visual name="cleat_2_vis">
      <origin xyz="0.435 -0.018 0.725" rpy="0 0 0"/>
      <geometry>
        <box size="0.04 0.01 0.05"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="cleat_2_col">
      <origin xyz="0.435 -0.018 0.725" rpy="0 0 0"/>
      <geometry>
        <box size="0.04 0.01 0.05"/>
      </geometry>
    </collision>
    <visual name="cleat_2_base_vis">
      <origin xyz="0.435 -0.074 0.725" rpy="0 0 0"/>
      <geometry>
        <box size="0.04 0.036 0.05"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="cleat_2_base_col">
      <origin xyz="0.435 -0.074 0.725" rpy="0 0 0"/>
      <geometry>
        <box size="0.04 0.036 0.05"/>
      </geometry>
    </collision>
    <visual name="cleat_2_bridge_vis">
      <origin xyz="0.48 -0.046 0.725" rpy="0 0 0"/>
      <geometry>
        <box size="0.01 0.06 0.05"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="cleat_2_bridge_col">
      <origin xyz="0.48 -0.046 0.725" rpy="0 0 0"/>
      <geometry>
        <box size="0.01 0.06 0.05"/>
      </geometry>
    </collision>
    <visual name="cleat_3_vis">
      <origin xyz="0.435 -0.018 1.575" rpy="0 0 0"/>
      <geometry>
        <box size="0.04 0.01 0.05"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="cleat_3_col">
      <origin xyz="0.435 -0.018 1.575" rpy="0 0 0"/>
      <geometry>
        <box size="0.04 0.01 0.05"/>
      </geometry>
    </collision>
    <visual name="cleat_3_base_vis">
      <origin xyz="0.435 -0.074 1.575" rpy="0 0 0"/>
      <geometry>
        <box size="0.04 0.036 0.05"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="cleat_3_base_col">
      <origin xyz="0.435 -0.074 1.575" rpy="0 0 0"/>
      <geometry>
        <box size="0.04 0.036 0.05"/>
      </geometry>
    </collision>
    <visual name="cleat_3_bridge_vis">
      <origin xyz="0.48 -0.046 1.575" rpy="0 0 0"/>
      <geometry>
        <box size="0.01 0.06 0.05"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="cleat_3_bridge_col">
      <origin xyz="0.48 -0.046 1.575" rpy="0 0 0"/>
      <geometry>
        <box size="0.01 0.06 0.05"/>
      </geometry>
    </collision>
  </link>
  <link name="leaf">
    <inertial>
      <origin xyz="-0.424193 -0.024513 0.854797" rpy="0 0 0"/>
      <mass value="99.197565"/>
      <inertia ixx="24.201139532" ixy="-0.018259474" ixz="-0.03327427" iyy="29.748536028" iyz="-0.00148668" izz="5.55218749"/>
    </inertial>
    <visual name="leaf_slab_vis">
      <origin xyz="-0.434 -0.024 0.854" rpy="0 0 0"/>
      <geometry>
        <box size="0.8 0.008 1.7"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <collision name="leaf_slab_col">
      <origin xyz="-0.434 -0.024 0.854" rpy="0 0 0"/>
      <geometry>
        <box size="0.8 0.008 1.7"/>
      </geometry>
    </collision>
    <visual name="gasket_vis">
      <origin xyz="-0.434 -0.032 0.854" rpy="0 0 0"/>
      <geometry>
        <box size="0.78 0.008 1.68"/>
      </geometry>
      <material name="mat_gasket"/>
    </visual>
    <visual name="hinge_0_vis">
      <origin xyz="0 0 0.254" rpy="0 0 3.141593"/>
      <geometry>
        <mesh filename="../../hardware/hinge_8ee9dd60e5.obj"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="hinge_1_vis">
      <origin xyz="0 0 1.524" rpy="0 0 3.141593"/>
      <geometry>
        <mesh filename="../../hardware/hinge_8ee9dd60e5.obj"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
  </link>
  <link name="wheel">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="5.965521"/>
      <inertia ixx="0.115514984" ixy="0" ixz="0" iyy="0.148211071" iyz="0" izz="0.115514984"/>
    </inertial>
    <visual name="wheel_wheel_n_vis">
      <origin xyz="0 -0.004 0" rpy="-1.570796 0 3.141593"/>
      <geometry>
        <mesh filename="../../hardware/wheel_9768cee49b.obj"/>
      </geometry>
      <material name="mat_op_brass"/>
    </visual>
    <visual name="wheel_wheel_col_0_n_vis">
      <origin xyz="0.18 -0.084 0" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.014"/>
      </geometry>
      <material name="mat_op_brass"/>
    </visual>
    <collision name="wheel_wheel_col_0_n_col">
      <origin xyz="0.18 -0.084 0" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.014"/>
      </geometry>
    </collision>
    <visual name="wheel_wheel_col_1_n_vis">
      <origin xyz="0.127279 -0.084 0.127279" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.014"/>
      </geometry>
      <material name="mat_op_brass"/>
    </visual>
    <collision name="wheel_wheel_col_1_n_col">
      <origin xyz="0.127279 -0.084 0.127279" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.014"/>
      </geometry>
    </collision>
    <visual name="wheel_wheel_col_2_n_vis">
      <origin xyz="0 -0.084 0.18" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.014"/>
      </geometry>
      <material name="mat_op_brass"/>
    </visual>
    <collision name="wheel_wheel_col_2_n_col">
      <origin xyz="0 -0.084 0.18" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.014"/>
      </geometry>
    </collision>
    <visual name="wheel_wheel_col_3_n_vis">
      <origin xyz="-0.127279 -0.084 0.127279" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.014"/>
      </geometry>
      <material name="mat_op_brass"/>
    </visual>
    <collision name="wheel_wheel_col_3_n_col">
      <origin xyz="-0.127279 -0.084 0.127279" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.014"/>
      </geometry>
    </collision>
    <visual name="wheel_wheel_col_4_n_vis">
      <origin xyz="-0.18 -0.084 0" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.014"/>
      </geometry>
      <material name="mat_op_brass"/>
    </visual>
    <collision name="wheel_wheel_col_4_n_col">
      <origin xyz="-0.18 -0.084 0" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.014"/>
      </geometry>
    </collision>
    <visual name="wheel_wheel_col_5_n_vis">
      <origin xyz="-0.127279 -0.084 -0.127279" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.014"/>
      </geometry>
      <material name="mat_op_brass"/>
    </visual>
    <collision name="wheel_wheel_col_5_n_col">
      <origin xyz="-0.127279 -0.084 -0.127279" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.014"/>
      </geometry>
    </collision>
    <visual name="wheel_wheel_col_6_n_vis">
      <origin xyz="0 -0.084 -0.18" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.014"/>
      </geometry>
      <material name="mat_op_brass"/>
    </visual>
    <collision name="wheel_wheel_col_6_n_col">
      <origin xyz="0 -0.084 -0.18" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.014"/>
      </geometry>
    </collision>
    <visual name="wheel_wheel_col_7_n_vis">
      <origin xyz="0.127279 -0.084 -0.127279" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.014"/>
      </geometry>
      <material name="mat_op_brass"/>
    </visual>
    <collision name="wheel_wheel_col_7_n_col">
      <origin xyz="0.127279 -0.084 -0.127279" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.014"/>
      </geometry>
    </collision>
    <visual name="wheel_wheel_p_vis">
      <origin xyz="0 0.004 0" rpy="1.570796 0 3.141593"/>
      <geometry>
        <mesh filename="../../hardware/wheel_9768cee49b.obj"/>
      </geometry>
      <material name="mat_op_brass"/>
    </visual>
    <visual name="wheel_wheel_col_0_p_vis">
      <origin xyz="0.18 0.084 0" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.014"/>
      </geometry>
      <material name="mat_op_brass"/>
    </visual>
    <collision name="wheel_wheel_col_0_p_col">
      <origin xyz="0.18 0.084 0" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.014"/>
      </geometry>
    </collision>
    <visual name="wheel_wheel_col_1_p_vis">
      <origin xyz="0.127279 0.084 0.127279" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.014"/>
      </geometry>
      <material name="mat_op_brass"/>
    </visual>
    <collision name="wheel_wheel_col_1_p_col">
      <origin xyz="0.127279 0.084 0.127279" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.014"/>
      </geometry>
    </collision>
    <visual name="wheel_wheel_col_2_p_vis">
      <origin xyz="0 0.084 0.18" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.014"/>
      </geometry>
      <material name="mat_op_brass"/>
    </visual>
    <collision name="wheel_wheel_col_2_p_col">
      <origin xyz="0 0.084 0.18" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.014"/>
      </geometry>
    </collision>
    <visual name="wheel_wheel_col_3_p_vis">
      <origin xyz="-0.127279 0.084 0.127279" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.014"/>
      </geometry>
      <material name="mat_op_brass"/>
    </visual>
    <collision name="wheel_wheel_col_3_p_col">
      <origin xyz="-0.127279 0.084 0.127279" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.014"/>
      </geometry>
    </collision>
    <visual name="wheel_wheel_col_4_p_vis">
      <origin xyz="-0.18 0.084 0" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.014"/>
      </geometry>
      <material name="mat_op_brass"/>
    </visual>
    <collision name="wheel_wheel_col_4_p_col">
      <origin xyz="-0.18 0.084 0" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.014"/>
      </geometry>
    </collision>
    <visual name="wheel_wheel_col_5_p_vis">
      <origin xyz="-0.127279 0.084 -0.127279" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.014"/>
      </geometry>
      <material name="mat_op_brass"/>
    </visual>
    <collision name="wheel_wheel_col_5_p_col">
      <origin xyz="-0.127279 0.084 -0.127279" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.014"/>
      </geometry>
    </collision>
    <visual name="wheel_wheel_col_6_p_vis">
      <origin xyz="0 0.084 -0.18" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.014"/>
      </geometry>
      <material name="mat_op_brass"/>
    </visual>
    <collision name="wheel_wheel_col_6_p_col">
      <origin xyz="0 0.084 -0.18" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.014"/>
      </geometry>
    </collision>
    <visual name="wheel_wheel_col_7_p_vis">
      <origin xyz="0.127279 0.084 -0.127279" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.014"/>
      </geometry>
      <material name="mat_op_brass"/>
    </visual>
    <collision name="wheel_wheel_col_7_p_col">
      <origin xyz="0.127279 0.084 -0.127279" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.014"/>
      </geometry>
    </collision>
  </link>
  <link name="dog_0">
    <inertial>
      <origin xyz="-0.06 -0.038 0" rpy="0 0 0"/>
      <mass value="0.7488"/>
      <inertia ixx="0.000135782" ixy="0" ixz="0" iyy="0.00072384" iyz="0" izz="0.000659942"/>
    </inertial>
    <visual name="dog_0_wedge_vis">
      <origin xyz="-0.06 -0.038 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.1 0.024 0.04"/>
      </geometry>
      <material name="mat_op_brass"/>
    </visual>
    <collision name="dog_0_wedge_col">
      <origin xyz="-0.06 -0.038 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.1 0.024 0.04"/>
      </geometry>
    </collision>
  </link>
  <link name="dog_1">
    <inertial>
      <origin xyz="-0.06 -0.038 0" rpy="0 0 0"/>
      <mass value="0.7488"/>
      <inertia ixx="0.000135782" ixy="0" ixz="0" iyy="0.00072384" iyz="0" izz="0.000659942"/>
    </inertial>
    <visual name="dog_1_wedge_vis">
      <origin xyz="-0.06 -0.038 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.1 0.024 0.04"/>
      </geometry>
      <material name="mat_op_brass"/>
    </visual>
    <collision name="dog_1_wedge_col">
      <origin xyz="-0.06 -0.038 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.1 0.024 0.04"/>
      </geometry>
    </collision>
  </link>
  <link name="dog_2">
    <inertial>
      <origin xyz="0.06 -0.038 0" rpy="0 0 0"/>
      <mass value="0.7488"/>
      <inertia ixx="0.000135782" ixy="0" ixz="0" iyy="0.00072384" iyz="0" izz="0.000659942"/>
    </inertial>
    <visual name="dog_2_wedge_vis">
      <origin xyz="0.06 -0.038 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.1 0.024 0.04"/>
      </geometry>
      <material name="mat_op_brass"/>
    </visual>
    <collision name="dog_2_wedge_col">
      <origin xyz="0.06 -0.038 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.1 0.024 0.04"/>
      </geometry>
    </collision>
  </link>
  <link name="dog_3">
    <inertial>
      <origin xyz="0.06 -0.038 0" rpy="0 0 0"/>
      <mass value="0.7488"/>
      <inertia ixx="0.000135782" ixy="0" ixz="0" iyy="0.00072384" iyz="0" izz="0.000659942"/>
    </inertial>
    <visual name="dog_3_wedge_vis">
      <origin xyz="0.06 -0.038 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.1 0.024 0.04"/>
      </geometry>
      <material name="mat_op_brass"/>
    </visual>
    <collision name="dog_3_wedge_col">
      <origin xyz="0.06 -0.038 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.1 0.024 0.04"/>
      </geometry>
    </collision>
  </link>
  <joint name="leaf_hinge" type="revolute">
    <origin xyz="0.435 0.024 0.3" rpy="0 0 0"/>
    <parent link="world_env"/>
    <child link="leaf"/>
    <axis xyz="0 0 -1"/>
    <limit lower="0" upper="3.141593" effort="2000" velocity="10"/>
    <dynamics damping="0.175755" friction="5.008137"/>
    <doorbench:closer damping_closing="0" damping_opening="0" backcheck_angle="0" backcheck_damping="0"/>
  </joint>
  <joint name="wheel_hinge" type="revolute">
    <origin xyz="-0.434 -0.024 0.85" rpy="0 0 0"/>
    <parent link="leaf"/>
    <child link="wheel"/>
    <axis xyz="0 1 0"/>
    <limit lower="0" upper="9.4248" effort="2000" velocity="10"/>
    <dynamics damping="0.02" friction="0.12"/>
  </joint>
  <joint name="dog_0_hinge" type="revolute">
    <origin xyz="-0.784 -0.024 0.425" rpy="0 0 0"/>
    <parent link="leaf"/>
    <child link="dog_0"/>
    <axis xyz="0 -1 0"/>
    <limit lower="0" upper="1.5708" effort="2000" velocity="10"/>
    <dynamics damping="0.5" friction="0.5"/>
    <mimic joint="wheel_hinge" multiplier="0.166667" offset="0"/>
  </joint>
  <joint name="dog_1_hinge" type="revolute">
    <origin xyz="-0.784 -0.024 1.275" rpy="0 0 0"/>
    <parent link="leaf"/>
    <child link="dog_1"/>
    <axis xyz="0 -1 0"/>
    <limit lower="0" upper="1.5708" effort="2000" velocity="10"/>
    <dynamics damping="0.5" friction="0.5"/>
    <mimic joint="wheel_hinge" multiplier="0.166667" offset="0"/>
  </joint>
  <joint name="dog_2_hinge" type="revolute">
    <origin xyz="-0.08 -0.024 0.425" rpy="0 0 0"/>
    <parent link="leaf"/>
    <child link="dog_2"/>
    <axis xyz="0 1 0"/>
    <limit lower="0" upper="1.5708" effort="2000" velocity="10"/>
    <dynamics damping="0.5" friction="0.5"/>
    <mimic joint="wheel_hinge" multiplier="0.166667" offset="0"/>
  </joint>
  <joint name="dog_3_hinge" type="revolute">
    <origin xyz="-0.08 -0.024 1.275" rpy="0 0 0"/>
    <parent link="leaf"/>
    <child link="dog_3"/>
    <axis xyz="0 1 0"/>
    <limit lower="0" upper="1.5708" effort="2000" velocity="10"/>
    <dynamics damping="0.5" friction="0.5"/>
    <mimic joint="wheel_hinge" multiplier="0.166667" offset="0"/>
  </joint>
  <material name="mat_floor">
    <color rgba="0.55 0.53 0.5 1"/>
  </material>
  <material name="mat_frame">
    <color rgba="0.45 0.48 0.52 1"/>
  </material>
  <material name="mat_gasket">
    <color rgba="0.08 0.08 0.08 1"/>
  </material>
  <material name="mat_hinge">
    <color rgba="0.65 0.66 0.68 1"/>
  </material>
  <material name="mat_leaf">
    <color rgba="0.9 0.45 0.1 1"/>
  </material>
  <material name="mat_op_brass">
    <color rgba="0.85 0.66 0.3 1"/>
  </material>
  <material name="mat_wall">
    <color rgba="0.78 0.76 0.7 1"/>
  </material>
</robot>
