<?xml version="1.0" ?>
<robot xmlns:doorbench="https://github.com/adamraudonis/DoorBench/schema/urdf-ext" name="db0314_ship_watertight_full">
  <link name="world_env">
    <visual name="floor_vis">
      <origin xyz="0 0 -0.05" rpy="0 0 0"/>
      <geometry>
        <box size="12 12 0.1"/>
      </geometry>
      <material name="mat_floor"/>
    </visual>
    <collision name="floor_col">
      <origin xyz="0 0 -0.05" rpy="0 0 0"/>
      <geometry>
        <box size="12 12 0.1"/>
      </geometry>
    </collision>
    <visual name="wall_left_vis">
      <origin xyz="-1.4525 0 1.35" rpy="0 0 0"/>
      <geometry>
        <box size="2.095 0.012 2.7"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_left_col">
      <origin xyz="-1.4525 0 1.35" rpy="0 0 0"/>
      <geometry>
        <box size="2.095 0.012 2.7"/>
      </geometry>
    </collision>
    <visual name="wall_right_vis">
      <origin xyz="1.4525 0 1.35" rpy="0 0 0"/>
      <geometry>
        <box size="2.095 0.012 2.7"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_right_col">
      <origin xyz="1.4525 0 1.35" rpy="0 0 0"/>
      <geometry>
        <box size="2.095 0.012 2.7"/>
      </geometry>
    </collision>
    <visual name="wall_header_vis">
      <origin xyz="0 0 2.355" rpy="0 0 0"/>
      <geometry>
        <box size="0.81 0.012 0.69"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_header_col">
      <origin xyz="0 0 2.355" rpy="0 0 0"/>
      <geometry>
        <box size="0.81 0.012 0.69"/>
      </geometry>
    </collision>
    <visual name="flange_l_vis">
      <origin xyz="-0.435 -0.01 1.155" rpy="0 0 0"/>
      <geometry>
        <box size="0.06 0.012 1.83"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="flange_l_col">
      <origin xyz="-0.435 -0.01 1.155" rpy="0 0 0"/>
      <geometry>
        <box size="0.06 0.012 1.83"/>
      </geometry>
    </collision>
    <visual name="flange_r_vis">
      <origin xyz="0.435 -0.01 1.155" rpy="0 0 0"/>
      <geometry>
        <box size="0.06 0.012 1.83"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="flange_r_col">
      <origin xyz="0.435 -0.01 1.155" rpy="0 0 0"/>
      <geometry>
        <box size="0.06 0.012 1.83"/>
      </geometry>
    </collision>
    <visual name="flange_t_vis">
      <origin xyz="0 -0.01 2.04" rpy="0 0 0"/>
      <geometry>
        <box size="0.81 0.012 0.06"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="flange_t_col">
      <origin xyz="0 -0.01 2.04" rpy="0 0 0"/>
      <geometry>
        <box size="0.81 0.012 0.06"/>
      </geometry>
    </collision>
    <visual name="flange_b_vis">
      <origin xyz="0 -0.01 0.27" rpy="0 0 0"/>
      <geometry>
        <box size="0.81 0.012 0.06"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="flange_b_col">
      <origin xyz="0 -0.01 0.27" rpy="0 0 0"/>
      <geometry>
        <box size="0.81 0.012 0.06"/>
      </geometry>
    </collision>
    <visual name="coaming_vis">
      <origin xyz="0 0 0.15" rpy="0 0 0"/>
      <geometry>
        <box size="0.91 0.06 0.3"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="coaming_col">
      <origin xyz="0 0 0.15" rpy="0 0 0"/>
      <geometry>
        <box size="0.91 0.06 0.3"/>
      </geometry>
    </collision>
    <visual name="cleat_0_vis">
      <origin xyz="-0.4265 -0.0205 0.6625" rpy="0 0 0"/>
      <geometry>
        <box size="0.055 0.01 0.05"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="cleat_0_col">
      <origin xyz="-0.4265 -0.0205 0.6625" rpy="0 0 0"/>
      <geometry>
        <box size="0.055 0.01 0.05"/>
      </geometry>
    </collision>
    <visual name="cleat_0_outer_vis">
      <origin xyz="-0.4265 -0.0555 0.6625" rpy="0 0 0"/>
      <geometry>
        <box size="0.055 0.01 0.05"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="cleat_0_outer_col">
      <origin xyz="-0.4265 -0.0555 0.6625" rpy="0 0 0"/>
      <geometry>
        <box size="0.055 0.01 0.05"/>
      </geometry>
    </collision>
    <visual name="cleat_0_base_vis">
      <origin xyz="-0.4415 -0.084 0.6625" rpy="0 0 0"/>
      <geometry>
        <box size="0.085 0.036 0.05"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="cleat_0_base_col">
      <origin xyz="-0.4415 -0.084 0.6625" rpy="0 0 0"/>
      <geometry>
        <box size="0.085 0.036 0.05"/>
      </geometry>
    </collision>
    <visual name="cleat_0_bridge_vis">
      <origin xyz="-0.462 -0.057 0.6625" rpy="0 0 0"/>
      <geometry>
        <box size="0.016 0.082 0.05"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="cleat_0_bridge_col">
      <origin xyz="-0.462 -0.057 0.6625" rpy="0 0 0"/>
      <geometry>
        <box size="0.016 0.082 0.05"/>
      </geometry>
    </collision>
    <visual name="cleat_1_vis">
      <origin xyz="0.4285 -0.0205 0.6625" rpy="0 0 0"/>
      <geometry>
        <box size="0.055 0.01 0.05"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="cleat_1_col">
      <origin xyz="0.4285 -0.0205 0.6625" rpy="0 0 0"/>
      <geometry>
        <box size="0.055 0.01 0.05"/>
      </geometry>
    </collision>
    <visual name="cleat_1_outer_vis">
      <origin xyz="0.4285 -0.0555 0.6625" rpy="0 0 0"/>
      <geometry>
        <box size="0.055 0.01 0.05"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="cleat_1_outer_col">
      <origin xyz="0.4285 -0.0555 0.6625" rpy="0 0 0"/>
      <geometry>
        <box size="0.055 0.01 0.05"/>
      </geometry>
    </collision>
    <visual name="cleat_1_base_vis">
      <origin xyz="0.4435 -0.084 0.6625" rpy="0 0 0"/>
      <geometry>
        <box size="0.085 0.036 0.05"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="cleat_1_base_col">
      <origin xyz="0.4435 -0.084 0.6625" rpy="0 0 0"/>
      <geometry>
        <box size="0.085 0.036 0.05"/>
      </geometry>
    </collision>
    <visual name="cleat_1_bridge_vis">
      <origin xyz="0.464 -0.057 0.6625" rpy="0 0 0"/>
      <geometry>
        <box size="0.016 0.082 0.05"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="cleat_1_bridge_col">
      <origin xyz="0.464 -0.057 0.6625" rpy="0 0 0"/>
      <geometry>
        <box size="0.016 0.082 0.05"/>
      </geometry>
    </collision>
    <visual name="cleat_2_vis">
      <origin xyz="-0.4265 -0.0205 0.9875" rpy="0 0 0"/>
      <geometry>
        <box size="0.055 0.01 0.05"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="cleat_2_col">
      <origin xyz="-0.4265 -0.0205 0.9875" rpy="0 0 0"/>
      <geometry>
        <box size="0.055 0.01 0.05"/>
      </geometry>
    </collision>
    <visual name="cleat_2_outer_vis">
      <origin xyz="-0.4265 -0.0555 0.9875" rpy="0 0 0"/>
      <geometry>
        <box size="0.055 0.01 0.05"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="cleat_2_outer_col">
      <origin xyz="-0.4265 -0.0555 0.9875" rpy="0 0 0"/>
      <geometry>
        <box size="0.055 0.01 0.05"/>
      </geometry>
    </collision>
    <visual name="cleat_2_base_vis">
      <origin xyz="-0.4415 -0.084 0.9875" rpy="0 0 0"/>
      <geometry>
        <box size="0.085 0.036 0.05"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="cleat_2_base_col">
      <origin xyz="-0.4415 -0.084 0.9875" rpy="0 0 0"/>
      <geometry>
        <box size="0.085 0.036 0.05"/>
      </geometry>
    </collision>
    <visual name="cleat_2_bridge_vis">
      <origin xyz="-0.462 -0.057 0.9875" rpy="0 0 0"/>
      <geometry>
        <box size="0.016 0.082 0.05"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="cleat_2_bridge_col">
      <origin xyz="-0.462 -0.057 0.9875" rpy="0 0 0"/>
      <geometry>
        <box size="0.016 0.082 0.05"/>
      </geometry>
    </collision>
    <visual name="cleat_3_vis">
      <origin xyz="0.4285 -0.0205 0.9875" rpy="0 0 0"/>
      <geometry>
        <box size="0.055 0.01 0.05"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="cleat_3_col">
      <origin xyz="0.4285 -0.0205 0.9875" rpy="0 0 0"/>
      <geometry>
        <box size="0.055 0.01 0.05"/>
      </geometry>
    </collision>
    <visual name="cleat_3_outer_vis">
      <origin xyz="0.4285 -0.0555 0.9875" rpy="0 0 0"/>
      <geometry>
        <box size="0.055 0.01 0.05"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="cleat_3_outer_col">
      <origin xyz="0.4285 -0.0555 0.9875" rpy="0 0 0"/>
      <geometry>
        <box size="0.055 0.01 0.05"/>
      </geometry>
    </collision>
    <visual name="cleat_3_base_vis">
      <origin xyz="0.4435 -0.084 0.9875" rpy="0 0 0"/>
      <geometry>
        <box size="0.085 0.036 0.05"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="cleat_3_base_col">
      <origin xyz="0.4435 -0.084 0.9875" rpy="0 0 0"/>
      <geometry>
        <box size="0.085 0.036 0.05"/>
      </geometry>
    </collision>
    <visual name="cleat_3_bridge_vis">
      <origin xyz="0.464 -0.057 0.9875" rpy="0 0 0"/>
      <geometry>
        <box size="0.016 0.082 0.05"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="cleat_3_bridge_col">
      <origin xyz="0.464 -0.057 0.9875" rpy="0 0 0"/>
      <geometry>
        <box size="0.016 0.082 0.05"/>
      </geometry>
    </collision>
    <visual name="cleat_4_vis">
      <origin xyz="-0.4265 -0.0205 1.3125" rpy="0 0 0"/>
      <geometry>
        <box size="0.055 0.01 0.05"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="cleat_4_col">
      <origin xyz="-0.4265 -0.0205 1.3125" rpy="0 0 0"/>
      <geometry>
        <box size="0.055 0.01 0.05"/>
      </geometry>
    </collision>
    <visual name="cleat_4_outer_vis">
      <origin xyz="-0.4265 -0.0555 1.3125" rpy="0 0 0"/>
      <geometry>
        <box size="0.055 0.01 0.05"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="cleat_4_outer_col">
      <origin xyz="-0.4265 -0.0555 1.3125" rpy="0 0 0"/>
      <geometry>
        <box size="0.055 0.01 0.05"/>
      </geometry>
    </collision>
    <visual name="cleat_4_base_vis">
      <origin xyz="-0.4415 -0.084 1.3125" rpy="0 0 0"/>
      <geometry>
        <box size="0.085 0.036 0.05"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="cleat_4_base_col">
      <origin xyz="-0.4415 -0.084 1.3125" rpy="0 0 0"/>
      <geometry>
        <box size="0.085 0.036 0.05"/>
      </geometry>
    </collision>
    <visual name="cleat_4_bridge_vis">
      <origin xyz="-0.462 -0.057 1.3125" rpy="0 0 0"/>
      <geometry>
        <box size="0.016 0.082 0.05"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="cleat_4_bridge_col">
      <origin xyz="-0.462 -0.057 1.3125" rpy="0 0 0"/>
      <geometry>
        <box size="0.016 0.082 0.05"/>
      </geometry>
    </collision>
    <visual name="cleat_5_vis">
      <origin xyz="0.4285 -0.0205 1.3125" rpy="0 0 0"/>
      <geometry>
        <box size="0.055 0.01 0.05"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="cleat_5_col">
      <origin xyz="0.4285 -0.0205 1.3125" rpy="0 0 0"/>
      <geometry>
        <box size="0.055 0.01 0.05"/>
      </geometry>
    </collision>
    <visual name="cleat_5_outer_vis">
      <origin xyz="0.4285 -0.0555 1.3125" rpy="0 0 0"/>
      <geometry>
        <box size="0.055 0.01 0.05"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="cleat_5_outer_col">
      <origin xyz="0.4285 -0.0555 1.3125" rpy="0 0 0"/>
      <geometry>
        <box size="0.055 0.01 0.05"/>
      </geometry>
    </collision>
    <visual name="cleat_5_base_vis">
      <origin xyz="0.4435 -0.084 1.3125" rpy="0 0 0"/>
      <geometry>
        <box size="0.085 0.036 0.05"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="cleat_5_base_col">
      <origin xyz="0.4435 -0.084 1.3125" rpy="0 0 0"/>
      <geometry>
        <box size="0.085 0.036 0.05"/>
      </geometry>
    </collision>
    <visual name="cleat_5_bridge_vis">
      <origin xyz="0.464 -0.057 1.3125" rpy="0 0 0"/>
      <geometry>
        <box size="0.016 0.082 0.05"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="cleat_5_bridge_col">
      <origin xyz="0.464 -0.057 1.3125" rpy="0 0 0"/>
      <geometry>
        <box size="0.016 0.082 0.05"/>
      </geometry>
    </collision>
    <visual name="cleat_6_vis">
      <origin xyz="-0.4265 -0.0205 1.6375" rpy="0 0 0"/>
      <geometry>
        <box size="0.055 0.01 0.05"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="cleat_6_col">
      <origin xyz="-0.4265 -0.0205 1.6375" rpy="0 0 0"/>
      <geometry>
        <box size="0.055 0.01 0.05"/>
      </geometry>
    </collision>
    <visual name="cleat_6_outer_vis">
      <origin xyz="-0.4265 -0.0555 1.6375" rpy="0 0 0"/>
      <geometry>
        <box size="0.055 0.01 0.05"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="cleat_6_outer_col">
      <origin xyz="-0.4265 -0.0555 1.6375" rpy="0 0 0"/>
      <geometry>
        <box size="0.055 0.01 0.05"/>
      </geometry>
    </collision>
    <visual name="cleat_6_base_vis">
      <origin xyz="-0.4415 -0.084 1.6375" rpy="0 0 0"/>
      <geometry>
        <box size="0.085 0.036 0.05"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="cleat_6_base_col">
      <origin xyz="-0.4415 -0.084 1.6375" rpy="0 0 0"/>
      <geometry>
        <box size="0.085 0.036 0.05"/>
      </geometry>
    </collision>
    <visual name="cleat_6_bridge_vis">
      <origin xyz="-0.462 -0.057 1.6375" rpy="0 0 0"/>
      <geometry>
        <box size="0.016 0.082 0.05"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="cleat_6_bridge_col">
      <origin xyz="-0.462 -0.057 1.6375" rpy="0 0 0"/>
      <geometry>
        <box size="0.016 0.082 0.05"/>
      </geometry>
    </collision>
    <visual name="cleat_7_vis">
      <origin xyz="0.4285 -0.0205 1.6375" rpy="0 0 0"/>
      <geometry>
        <box size="0.055 0.01 0.05"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="cleat_7_col">
      <origin xyz="0.4285 -0.0205 1.6375" rpy="0 0 0"/>
      <geometry>
        <box size="0.055 0.01 0.05"/>
      </geometry>
    </collision>
    <visual name="cleat_7_outer_vis">
      <origin xyz="0.4285 -0.0555 1.6375" rpy="0 0 0"/>
      <geometry>
        <box size="0.055 0.01 0.05"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="cleat_7_outer_col">
      <origin xyz="0.4285 -0.0555 1.6375" rpy="0 0 0"/>
      <geometry>
        <box size="0.055 0.01 0.05"/>
      </geometry>
    </collision>
    <visual name="cleat_7_base_vis">
      <origin xyz="0.4435 -0.084 1.6375" rpy="0 0 0"/>
      <geometry>
        <box size="0.085 0.036 0.05"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="cleat_7_base_col">
      <origin xyz="0.4435 -0.084 1.6375" rpy="0 0 0"/>
      <geometry>
        <box size="0.085 0.036 0.05"/>
      </geometry>
    </collision>
    <visual name="cleat_7_bridge_vis">
      <origin xyz="0.464 -0.057 1.6375" rpy="0 0 0"/>
      <geometry>
        <box size="0.016 0.082 0.05"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="cleat_7_bridge_col">
      <origin xyz="0.464 -0.057 1.6375" rpy="0 0 0"/>
      <geometry>
        <box size="0.016 0.082 0.05"/>
      </geometry>
    </collision>
    <visual name="hinge_0_jamb_vis">
      <origin xyz="0.435 0.024 0.554" rpy="0 0 3.141593"/>
      <geometry>
        <mesh filename="../../hardware/hinge_jamb_5a3d6f5c54.obj"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="hinge_0_jamb_lug_vis">
      <origin xyz="0.435 0.01 0.467" rpy="0 0 0"/>
      <geometry>
        <box size="0.02 0.008 0.04"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="hinge_1_jamb_vis">
      <origin xyz="0.435 0.024 1.824" rpy="0 0 3.141593"/>
      <geometry>
        <mesh filename="../../hardware/hinge_jamb_5a3d6f5c54.obj"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="hinge_1_jamb_lug_vis">
      <origin xyz="0.435 0.01 1.737" rpy="0 0 0"/>
      <geometry>
        <box size="0.02 0.008 0.04"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
  </link>
  <link name="leaf">
    <inertial>
      <origin xyz="-0.421122 -0.025907 0.840476" rpy="0 0 0"/>
      <mass value="71.167076"/>
      <inertia ixx="16.899687433" ixy="-0.021180483" ixz="-0.057111597" iyy="20.805785275" iyz="-0.043341654" izz="3.926357505"/>
    </inertial>
    <visual name="leaf_slab_vis">
      <origin xyz="-0.434 -0.024 0.854" rpy="0 0 0"/>
      <geometry>
        <box size="0.8 0.008 1.7"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <collision name="leaf_slab_col">
      <origin xyz="-0.434 -0.024 0.854" rpy="0 0 0"/>
      <geometry>
        <box size="0.8 0.008 1.7"/>
      </geometry>
    </collision>
    <visual name="leaf_rivet_0_0_vis">
      <origin xyz="-0.084 -0.028 0.104" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.012"/>
      </geometry>
      <material name="mat_rivet"/>
    </visual>
    <visual name="leaf_rivet_0_1_vis">
      <origin xyz="-0.784 -0.028 0.104" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.012"/>
      </geometry>
      <material name="mat_rivet"/>
    </visual>
    <visual name="leaf_rivet_1_0_vis">
      <origin xyz="-0.084 -0.028 0.404" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.012"/>
      </geometry>
      <material name="mat_rivet"/>
    </visual>
    <visual name="leaf_rivet_1_1_vis">
      <origin xyz="-0.784 -0.028 0.404" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.012"/>
      </geometry>
      <material name="mat_rivet"/>
    </visual>
    <visual name="leaf_rivet_5_0_vis">
      <origin xyz="-0.084 -0.028 1.604" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.012"/>
      </geometry>
      <material name="mat_rivet"/>
    </visual>
    <visual name="leaf_rivet_5_1_vis">
      <origin xyz="-0.784 -0.028 1.604" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.012"/>
      </geometry>
      <material name="mat_rivet"/>
    </visual>
    <visual name="gasket_l_vis">
      <origin xyz="-0.044 -0.032 0.854" rpy="0 0 0"/>
      <geometry>
        <box size="0.02 0.008 1.68"/>
      </geometry>
      <material name="mat_gasket"/>
    </visual>
    <visual name="gasket_r_vis">
      <origin xyz="-0.824 -0.032 0.854" rpy="0 0 0"/>
      <geometry>
        <box size="0.02 0.008 1.68"/>
      </geometry>
      <material name="mat_gasket"/>
    </visual>
    <visual name="gasket_b_vis">
      <origin xyz="-0.434 -0.032 0.014" rpy="0 0 0"/>
      <geometry>
        <box size="0.78 0.008 0.02"/>
      </geometry>
      <material name="mat_gasket"/>
    </visual>
    <visual name="gasket_t_vis">
      <origin xyz="-0.434 -0.032 1.694" rpy="0 0 0"/>
      <geometry>
        <box size="0.78 0.008 0.02"/>
      </geometry>
      <material name="mat_gasket"/>
    </visual>
    <visual name="wheel_gearbox_mount_vis">
      <origin xyz="-0.434 -0.0395 0.59" rpy="0 0 0"/>
      <geometry>
        <box size="0.1 0.025 0.09"/>
      </geometry>
      <material name="mat_op_brass"/>
    </visual>
    <visual name="wheel_gearbox_vis">
      <origin xyz="-0.434 -0.073 0.59" rpy="0 0 0"/>
      <geometry>
        <box size="0.1 0.044 0.09"/>
      </geometry>
      <material name="mat_op_brass"/>
    </visual>
    <visual name="linkage_rod_r_guide_0_leg_n_vis">
      <origin xyz="-0.7115 -0.05525 0.85" rpy="0 -1.570796 0"/>
      <geometry>
        <box size="0.016 0.004 0.0545"/>
      </geometry>
      <material name="mat_op_brass"/>
    </visual>
    <visual name="linkage_rod_r_guide_0_leg_p_vis">
      <origin xyz="-0.7365 -0.05525 0.85" rpy="0 -1.570796 0"/>
      <geometry>
        <box size="0.016 0.004 0.0545"/>
      </geometry>
      <material name="mat_op_brass"/>
    </visual>
    <visual name="linkage_rod_r_guide_0_bridge_vis">
      <origin xyz="-0.724 -0.0805 0.85" rpy="0 -1.570796 0"/>
      <geometry>
        <box size="0.016 0.029 0.004"/>
      </geometry>
      <material name="mat_op_brass"/>
    </visual>
    <visual name="linkage_rod_r_guide_1_leg_n_vis">
      <origin xyz="-0.7115 -0.05525 1.175" rpy="0 -1.570796 0"/>
      <geometry>
        <box size="0.016 0.004 0.0545"/>
      </geometry>
      <material name="mat_op_brass"/>
    </visual>
    <visual name="linkage_rod_r_guide_1_leg_p_vis">
      <origin xyz="-0.7365 -0.05525 1.175" rpy="0 -1.570796 0"/>
      <geometry>
        <box size="0.016 0.004 0.0545"/>
      </geometry>
      <material name="mat_op_brass"/>
    </visual>
    <visual name="linkage_rod_r_guide_1_bridge_vis">
      <origin xyz="-0.724 -0.0805 1.175" rpy="0 -1.570796 0"/>
      <geometry>
        <box size="0.016 0.029 0.004"/>
      </geometry>
      <material name="mat_op_brass"/>
    </visual>
    <visual name="linkage_rod_l_guide_0_leg_n_vis">
      <origin xyz="-0.1315 -0.05525 0.85" rpy="0 -1.570796 0"/>
      <geometry>
        <box size="0.016 0.004 0.0545"/>
      </geometry>
      <material name="mat_op_brass"/>
    </visual>
    <visual name="linkage_rod_l_guide_0_leg_p_vis">
      <origin xyz="-0.1565 -0.05525 0.85" rpy="0 -1.570796 0"/>
      <geometry>
        <box size="0.016 0.004 0.0545"/>
      </geometry>
      <material name="mat_op_brass"/>
    </visual>
    <visual name="linkage_rod_l_guide_0_bridge_vis">
      <origin xyz="-0.144 -0.0805 0.85" rpy="0 -1.570796 0"/>
      <geometry>
        <box size="0.016 0.029 0.004"/>
      </geometry>
      <material name="mat_op_brass"/>
    </visual>
    <visual name="linkage_rod_l_guide_1_leg_n_vis">
      <origin xyz="-0.1315 -0.05525 1.175" rpy="0 -1.570796 0"/>
      <geometry>
        <box size="0.016 0.004 0.0545"/>
      </geometry>
      <material name="mat_op_brass"/>
    </visual>
    <visual name="linkage_rod_l_guide_1_leg_p_vis">
      <origin xyz="-0.1565 -0.05525 1.175" rpy="0 -1.570796 0"/>
      <geometry>
        <box size="0.016 0.004 0.0545"/>
      </geometry>
      <material name="mat_op_brass"/>
    </visual>
    <visual name="linkage_rod_l_guide_1_bridge_vis">
      <origin xyz="-0.144 -0.0805 1.175" rpy="0 -1.570796 0"/>
      <geometry>
        <box size="0.016 0.029 0.004"/>
      </geometry>
      <material name="mat_op_brass"/>
    </visual>
    <visual name="linkage_tube_vis">
      <origin xyz="-0.434 -0.09 0.59" rpy="0 1.570796 0"/>
      <geometry>
        <cylinder radius="0.007" length="0.58"/>
      </geometry>
      <material name="mat_op_brass"/>
    </visual>
    <visual name="hinge_0_vis">
      <origin xyz="0 0 0.254" rpy="0 0 3.141593"/>
      <geometry>
        <mesh filename="../../hardware/hinge_aa6f1f959a.obj"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="hinge_0_lug_foot_vis">
      <origin xyz="-0.056 -0.0155 0.287" rpy="0 0 0"/>
      <geometry>
        <box size="0.04 0.009 0.06"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="hinge_0_lug_vis">
      <origin xyz="-0.02 -0.0035 0.287" rpy="0 0 0"/>
      <geometry>
        <box size="0.052 0.019 0.06"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="hinge_1_vis">
      <origin xyz="0 0 1.524" rpy="0 0 3.141593"/>
      <geometry>
        <mesh filename="../../hardware/hinge_aa6f1f959a.obj"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="hinge_1_lug_foot_vis">
      <origin xyz="-0.056 -0.0155 1.557" rpy="0 0 0"/>
      <geometry>
        <box size="0.04 0.009 0.06"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="hinge_1_lug_vis">
      <origin xyz="-0.02 -0.0035 1.557" rpy="0 0 0"/>
      <geometry>
        <box size="0.052 0.019 0.06"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="warning_placard_vis">
      <origin xyz="-0.434 -0.029 1.36" rpy="0 0 0"/>
      <geometry>
        <box size="0.22 0.002 0.16"/>
      </geometry>
      <material name="mat_placard"/>
    </visual>
  </link>
  <link name="wheel">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="5.986828"/>
      <inertia ixx="0.115516198" ixy="0" ixz="0" iyy="0.148211455" iyz="0" izz="0.115516198"/>
    </inertial>
    <visual name="wheel_spindle_vis">
      <origin xyz="0 0 0" rpy="-1.570796 0 0"/>
      <geometry>
        <cylinder radius="0.006" length="0.024"/>
      </geometry>
      <material name="mat_op_brass"/>
    </visual>
    <visual name="wheel_wheel_n_vis">
      <origin xyz="0 -0.004 0" rpy="-1.570796 0 3.141593"/>
      <geometry>
        <mesh filename="../../hardware/wheel_9768cee49b.obj"/>
      </geometry>
      <material name="mat_op_brass"/>
    </visual>
    <visual name="wheel_wheel_col_0_n_vis">
      <origin xyz="0.18 -0.084 0" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.014"/>
      </geometry>
      <material name="mat_op_brass"/>
    </visual>
    <collision name="wheel_wheel_col_0_n_col">
      <origin xyz="0.18 -0.084 0" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.014"/>
      </geometry>
    </collision>
    <visual name="wheel_wheel_col_1_n_vis">
      <origin xyz="0.127279 -0.084 0.127279" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.014"/>
      </geometry>
      <material name="mat_op_brass"/>
    </visual>
    <collision name="wheel_wheel_col_1_n_col">
      <origin xyz="0.127279 -0.084 0.127279" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.014"/>
      </geometry>
    </collision>
    <visual name="wheel_wheel_col_2_n_vis">
      <origin xyz="0 -0.084 0.18" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.014"/>
      </geometry>
      <material name="mat_op_brass"/>
    </visual>
    <collision name="wheel_wheel_col_2_n_col">
      <origin xyz="0 -0.084 0.18" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.014"/>
      </geometry>
    </collision>
    <visual name="wheel_wheel_col_3_n_vis">
      <origin xyz="-0.127279 -0.084 0.127279" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.014"/>
      </geometry>
      <material name="mat_op_brass"/>
    </visual>
    <collision name="wheel_wheel_col_3_n_col">
      <origin xyz="-0.127279 -0.084 0.127279" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.014"/>
      </geometry>
    </collision>
    <visual name="wheel_wheel_col_4_n_vis">
      <origin xyz="-0.18 -0.084 0" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.014"/>
      </geometry>
      <material name="mat_op_brass"/>
    </visual>
    <collision name="wheel_wheel_col_4_n_col">
      <origin xyz="-0.18 -0.084 0" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.014"/>
      </geometry>
    </collision>
    <visual name="wheel_wheel_col_5_n_vis">
      <origin xyz="-0.127279 -0.084 -0.127279" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.014"/>
      </geometry>
      <material name="mat_op_brass"/>
    </visual>
    <collision name="wheel_wheel_col_5_n_col">
      <origin xyz="-0.127279 -0.084 -0.127279" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.014"/>
      </geometry>
    </collision>
    <visual name="wheel_wheel_col_6_n_vis">
      <origin xyz="0 -0.084 -0.18" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.014"/>
      </geometry>
      <material name="mat_op_brass"/>
    </visual>
    <collision name="wheel_wheel_col_6_n_col">
      <origin xyz="0 -0.084 -0.18" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.014"/>
      </geometry>
    </collision>
    <visual name="wheel_wheel_col_7_n_vis">
      <origin xyz="0.127279 -0.084 -0.127279" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.014"/>
      </geometry>
      <material name="mat_op_brass"/>
    </visual>
    <collision name="wheel_wheel_col_7_n_col">
      <origin xyz="0.127279 -0.084 -0.127279" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.014"/>
      </geometry>
    </collision>
    <visual name="wheel_wheel_p_vis">
      <origin xyz="0 0.004 0" rpy="1.570796 0 3.141593"/>
      <geometry>
        <mesh filename="../../hardware/wheel_9768cee49b.obj"/>
      </geometry>
      <material name="mat_op_brass"/>
    </visual>
    <visual name="wheel_wheel_col_0_p_vis">
      <origin xyz="0.18 0.084 0" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.014"/>
      </geometry>
      <material name="mat_op_brass"/>
    </visual>
    <collision name="wheel_wheel_col_0_p_col">
      <origin xyz="0.18 0.084 0" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.014"/>
      </geometry>
    </collision>
    <visual name="wheel_wheel_col_1_p_vis">
      <origin xyz="0.127279 0.084 0.127279" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.014"/>
      </geometry>
      <material name="mat_op_brass"/>
    </visual>
    <collision name="wheel_wheel_col_1_p_col">
      <origin xyz="0.127279 0.084 0.127279" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.014"/>
      </geometry>
    </collision>
    <visual name="wheel_wheel_col_2_p_vis">
      <origin xyz="0 0.084 0.18" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.014"/>
      </geometry>
      <material name="mat_op_brass"/>
    </visual>
    <collision name="wheel_wheel_col_2_p_col">
      <origin xyz="0 0.084 0.18" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.014"/>
      </geometry>
    </collision>
    <visual name="wheel_wheel_col_3_p_vis">
      <origin xyz="-0.127279 0.084 0.127279" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.014"/>
      </geometry>
      <material name="mat_op_brass"/>
    </visual>
    <collision name="wheel_wheel_col_3_p_col">
      <origin xyz="-0.127279 0.084 0.127279" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.014"/>
      </geometry>
    </collision>
    <visual name="wheel_wheel_col_4_p_vis">
      <origin xyz="-0.18 0.084 0" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.014"/>
      </geometry>
      <material name="mat_op_brass"/>
    </visual>
    <collision name="wheel_wheel_col_4_p_col">
      <origin xyz="-0.18 0.084 0" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.014"/>
      </geometry>
    </collision>
    <visual name="wheel_wheel_col_5_p_vis">
      <origin xyz="-0.127279 0.084 -0.127279" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.014"/>
      </geometry>
      <material name="mat_op_brass"/>
    </visual>
    <collision name="wheel_wheel_col_5_p_col">
      <origin xyz="-0.127279 0.084 -0.127279" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.014"/>
      </geometry>
    </collision>
    <visual name="wheel_wheel_col_6_p_vis">
      <origin xyz="0 0.084 -0.18" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.014"/>
      </geometry>
      <material name="mat_op_brass"/>
    </visual>
    <collision name="wheel_wheel_col_6_p_col">
      <origin xyz="0 0.084 -0.18" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.014"/>
      </geometry>
    </collision>
    <visual name="wheel_wheel_col_7_p_vis">
      <origin xyz="0.127279 0.084 -0.127279" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.014"/>
      </geometry>
      <material name="mat_op_brass"/>
    </visual>
    <collision name="wheel_wheel_col_7_p_col">
      <origin xyz="0.127279 0.084 -0.127279" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.014"/>
      </geometry>
    </collision>
  </link>
  <link name="dog_0">
    <inertial>
      <origin xyz="-0.03941 -0.036144 0" rpy="0 0 0"/>
      <mass value="1.27371"/>
      <inertia ixx="0.000238086" ixy="-0.000146965" ixz="0" iyy="0.002003562" iyz="0" izz="0.00196141"/>
    </inertial>
    <visual name="dog_0_rod_crank_vis">
      <origin xyz="0.04 -0.024 0" rpy="0 1.570796 0"/>
      <geometry>
        <cylinder radius="0.007" length="0.08"/>
      </geometry>
      <material name="mat_op_brass"/>
    </visual>
    <visual name="dog_0_wedge_vis">
      <origin xyz="-0.06 -0.038 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.1 0.024 0.04"/>
      </geometry>
      <material name="mat_op_brass"/>
    </visual>
    <collision name="dog_0_wedge_col">
      <origin xyz="-0.06 -0.038 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.1 0.024 0.04"/>
      </geometry>
    </collision>
    <visual name="dog_0_shaft_vis">
      <origin xyz="0 -0.025 0" rpy="-1.570796 0 0"/>
      <geometry>
        <cylinder radius="0.008" length="0.05"/>
      </geometry>
      <material name="mat_op_brass"/>
    </visual>
    <visual name="dog_0_crank_vis">
      <origin xyz="-0.026 -0.038 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.052 0.024 0.036"/>
      </geometry>
      <material name="mat_op_brass"/>
    </visual>
  </link>
  <link name="dog_1">
    <inertial>
      <origin xyz="0.03941 -0.036144 0" rpy="0 0 0"/>
      <mass value="1.27371"/>
      <inertia ixx="0.000238086" ixy="0.000146965" ixz="0" iyy="0.002003562" iyz="0" izz="0.00196141"/>
    </inertial>
    <visual name="dog_1_rod_crank_vis">
      <origin xyz="-0.04 -0.024 0" rpy="0 1.570796 0"/>
      <geometry>
        <cylinder radius="0.007" length="0.08"/>
      </geometry>
      <material name="mat_op_brass"/>
    </visual>
    <visual name="dog_1_wedge_vis">
      <origin xyz="0.06 -0.038 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.1 0.024 0.04"/>
      </geometry>
      <material name="mat_op_brass"/>
    </visual>
    <collision name="dog_1_wedge_col">
      <origin xyz="0.06 -0.038 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.1 0.024 0.04"/>
      </geometry>
    </collision>
    <visual name="dog_1_shaft_vis">
      <origin xyz="0 -0.025 0" rpy="-1.570796 0 0"/>
      <geometry>
        <cylinder radius="0.008" length="0.05"/>
      </geometry>
      <material name="mat_op_brass"/>
    </visual>
    <visual name="dog_1_crank_vis">
      <origin xyz="0.026 -0.038 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.052 0.024 0.036"/>
      </geometry>
      <material name="mat_op_brass"/>
    </visual>
  </link>
  <link name="dog_2">
    <inertial>
      <origin xyz="-0.03941 -0.036144 0" rpy="0 0 0"/>
      <mass value="1.27371"/>
      <inertia ixx="0.000238086" ixy="-0.000146965" ixz="0" iyy="0.002003562" iyz="0" izz="0.00196141"/>
    </inertial>
    <visual name="dog_2_rod_crank_vis">
      <origin xyz="0.04 -0.024 0" rpy="0 1.570796 0"/>
      <geometry>
        <cylinder radius="0.007" length="0.08"/>
      </geometry>
      <material name="mat_op_brass"/>
    </visual>
    <visual name="dog_2_wedge_vis">
      <origin xyz="-0.06 -0.038 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.1 0.024 0.04"/>
      </geometry>
      <material name="mat_op_brass"/>
    </visual>
    <collision name="dog_2_wedge_col">
      <origin xyz="-0.06 -0.038 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.1 0.024 0.04"/>
      </geometry>
    </collision>
    <visual name="dog_2_shaft_vis">
      <origin xyz="0 -0.025 0" rpy="-1.570796 0 0"/>
      <geometry>
        <cylinder radius="0.008" length="0.05"/>
      </geometry>
      <material name="mat_op_brass"/>
    </visual>
    <visual name="dog_2_crank_vis">
      <origin xyz="-0.026 -0.038 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.052 0.024 0.036"/>
      </geometry>
      <material name="mat_op_brass"/>
    </visual>
  </link>
  <link name="dog_3">
    <inertial>
      <origin xyz="0.03941 -0.036144 0" rpy="0 0 0"/>
      <mass value="1.27371"/>
      <inertia ixx="0.000238086" ixy="0.000146965" ixz="0" iyy="0.002003562" iyz="0" izz="0.00196141"/>
    </inertial>
    <visual name="dog_3_rod_crank_vis">
      <origin xyz="-0.04 -0.024 0" rpy="0 1.570796 0"/>
      <geometry>
        <cylinder radius="0.007" length="0.08"/>
      </geometry>
      <material name="mat_op_brass"/>
    </visual>
    <visual name="dog_3_wedge_vis">
      <origin xyz="0.06 -0.038 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.1 0.024 0.04"/>
      </geometry>
      <material name="mat_op_brass"/>
    </visual>
    <collision name="dog_3_wedge_col">
      <origin xyz="0.06 -0.038 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.1 0.024 0.04"/>
      </geometry>
    </collision>
    <visual name="dog_3_shaft_vis">
      <origin xyz="0 -0.025 0" rpy="-1.570796 0 0"/>
      <geometry>
        <cylinder radius="0.008" length="0.05"/>
      </geometry>
      <material name="mat_op_brass"/>
    </visual>
    <visual name="dog_3_crank_vis">
      <origin xyz="0.026 -0.038 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.052 0.024 0.036"/>
      </geometry>
      <material name="mat_op_brass"/>
    </visual>
  </link>
  <link name="dog_4">
    <inertial>
      <origin xyz="-0.03941 -0.036144 0" rpy="0 0 0"/>
      <mass value="1.27371"/>
      <inertia ixx="0.000238086" ixy="-0.000146965" ixz="0" iyy="0.002003562" iyz="0" izz="0.00196141"/>
    </inertial>
    <visual name="dog_4_rod_crank_vis">
      <origin xyz="0.04 -0.024 0" rpy="0 1.570796 0"/>
      <geometry>
        <cylinder radius="0.007" length="0.08"/>
      </geometry>
      <material name="mat_op_brass"/>
    </visual>
    <visual name="dog_4_wedge_vis">
      <origin xyz="-0.06 -0.038 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.1 0.024 0.04"/>
      </geometry>
      <material name="mat_op_brass"/>
    </visual>
    <collision name="dog_4_wedge_col">
      <origin xyz="-0.06 -0.038 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.1 0.024 0.04"/>
      </geometry>
    </collision>
    <visual name="dog_4_shaft_vis">
      <origin xyz="0 -0.025 0" rpy="-1.570796 0 0"/>
      <geometry>
        <cylinder radius="0.008" length="0.05"/>
      </geometry>
      <material name="mat_op_brass"/>
    </visual>
    <visual name="dog_4_crank_vis">
      <origin xyz="-0.026 -0.038 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.052 0.024 0.036"/>
      </geometry>
      <material name="mat_op_brass"/>
    </visual>
  </link>
  <link name="dog_5">
    <inertial>
      <origin xyz="0.03941 -0.036144 0" rpy="0 0 0"/>
      <mass value="1.27371"/>
      <inertia ixx="0.000238086" ixy="0.000146965" ixz="0" iyy="0.002003562" iyz="0" izz="0.00196141"/>
    </inertial>
    <visual name="dog_5_rod_crank_vis">
      <origin xyz="-0.04 -0.024 0" rpy="0 1.570796 0"/>
      <geometry>
        <cylinder radius="0.007" length="0.08"/>
      </geometry>
      <material name="mat_op_brass"/>
    </visual>
    <visual name="dog_5_wedge_vis">
      <origin xyz="0.06 -0.038 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.1 0.024 0.04"/>
      </geometry>
      <material name="mat_op_brass"/>
    </visual>
    <collision name="dog_5_wedge_col">
      <origin xyz="0.06 -0.038 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.1 0.024 0.04"/>
      </geometry>
    </collision>
    <visual name="dog_5_shaft_vis">
      <origin xyz="0 -0.025 0" rpy="-1.570796 0 0"/>
      <geometry>
        <cylinder radius="0.008" length="0.05"/>
      </geometry>
      <material name="mat_op_brass"/>
    </visual>
    <visual name="dog_5_crank_vis">
      <origin xyz="0.026 -0.038 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.052 0.024 0.036"/>
      </geometry>
      <material name="mat_op_brass"/>
    </visual>
  </link>
  <link name="dog_6">
    <inertial>
      <origin xyz="-0.03941 -0.036144 0" rpy="0 0 0"/>
      <mass value="1.27371"/>
      <inertia ixx="0.000238086" ixy="-0.000146965" ixz="0" iyy="0.002003562" iyz="0" izz="0.00196141"/>
    </inertial>
    <visual name="dog_6_rod_crank_vis">
      <origin xyz="0.04 -0.024 0" rpy="0 1.570796 0"/>
      <geometry>
        <cylinder radius="0.007" length="0.08"/>
      </geometry>
      <material name="mat_op_brass"/>
    </visual>
    <visual name="dog_6_wedge_vis">
      <origin xyz="-0.06 -0.038 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.1 0.024 0.04"/>
      </geometry>
      <material name="mat_op_brass"/>
    </visual>
    <collision name="dog_6_wedge_col">
      <origin xyz="-0.06 -0.038 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.1 0.024 0.04"/>
      </geometry>
    </collision>
    <visual name="dog_6_shaft_vis">
      <origin xyz="0 -0.025 0" rpy="-1.570796 0 0"/>
      <geometry>
        <cylinder radius="0.008" length="0.05"/>
      </geometry>
      <material name="mat_op_brass"/>
    </visual>
    <visual name="dog_6_crank_vis">
      <origin xyz="-0.026 -0.038 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.052 0.024 0.036"/>
      </geometry>
      <material name="mat_op_brass"/>
    </visual>
  </link>
  <link name="dog_7">
    <inertial>
      <origin xyz="0.03941 -0.036144 0" rpy="0 0 0"/>
      <mass value="1.27371"/>
      <inertia ixx="0.000238086" ixy="0.000146965" ixz="0" iyy="0.002003562" iyz="0" izz="0.00196141"/>
    </inertial>
    <visual name="dog_7_rod_crank_vis">
      <origin xyz="-0.04 -0.024 0" rpy="0 1.570796 0"/>
      <geometry>
        <cylinder radius="0.007" length="0.08"/>
      </geometry>
      <material name="mat_op_brass"/>
    </visual>
    <visual name="dog_7_wedge_vis">
      <origin xyz="0.06 -0.038 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.1 0.024 0.04"/>
      </geometry>
      <material name="mat_op_brass"/>
    </visual>
    <collision name="dog_7_wedge_col">
      <origin xyz="0.06 -0.038 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.1 0.024 0.04"/>
      </geometry>
    </collision>
    <visual name="dog_7_shaft_vis">
      <origin xyz="0 -0.025 0" rpy="-1.570796 0 0"/>
      <geometry>
        <cylinder radius="0.008" length="0.05"/>
      </geometry>
      <material name="mat_op_brass"/>
    </visual>
    <visual name="dog_7_crank_vis">
      <origin xyz="0.026 -0.038 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.052 0.024 0.036"/>
      </geometry>
      <material name="mat_op_brass"/>
    </visual>
  </link>
  <link name="linkage_rod_r">
    <inertial>
      <origin xyz="0 -0.044 0.85" rpy="0 0 0"/>
      <mass value="2.332208"/>
      <inertia ixx="0.268372666" ixy="0" ixz="0" iyy="0.268372666" iyz="0" izz="0.000094454"/>
    </inertial>
    <visual name="linkage_rod_r_geom_vis">
      <origin xyz="0 -0.044 0.85" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.009" length="1.175"/>
      </geometry>
      <material name="mat_op_brass"/>
    </visual>
  </link>
  <link name="linkage_rod_l">
    <inertial>
      <origin xyz="0 -0.044 0.85" rpy="0 0 0"/>
      <mass value="2.332208"/>
      <inertia ixx="0.268372666" ixy="0" ixz="0" iyy="0.268372666" iyz="0" izz="0.000094454"/>
    </inertial>
    <visual name="linkage_rod_l_geom_vis">
      <origin xyz="0 -0.044 0.85" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.009" length="1.175"/>
      </geometry>
      <material name="mat_op_brass"/>
    </visual>
  </link>
  <joint name="leaf_hinge" type="revolute">
    <origin xyz="0.435 0.024 0.3" rpy="0 0 0"/>
    <parent link="world_env"/>
    <child link="leaf"/>
    <axis xyz="0 0 -1"/>
    <limit lower="0" upper="2.356194" effort="2000" velocity="10"/>
    <dynamics damping="0.175755" friction="5.008137"/>
    <doorbench:closer damping_closing="0" damping_opening="0" backcheck_angle="0" backcheck_damping="0"/>
  </joint>
  <joint name="wheel_hinge" type="revolute">
    <origin xyz="-0.434 -0.024 0.85" rpy="0 0 0"/>
    <parent link="leaf"/>
    <child link="wheel"/>
    <axis xyz="0 1 0"/>
    <limit lower="0" upper="9.4248" effort="2000" velocity="10"/>
    <dynamics damping="0.5" friction="2"/>
  </joint>
  <joint name="dog_0_hinge" type="revolute">
    <origin xyz="-0.774 -0.024 0.3625" rpy="0 0 0"/>
    <parent link="leaf"/>
    <child link="dog_0"/>
    <axis xyz="0 -1 0"/>
    <limit lower="0" upper="1.5708" effort="2000" velocity="10"/>
    <dynamics damping="0.5" friction="0.5"/>
    <mimic joint="wheel_hinge" multiplier="0.166667" offset="0"/>
  </joint>
  <joint name="dog_1_hinge" type="revolute">
    <origin xyz="-0.094 -0.024 0.3625" rpy="0 0 0"/>
    <parent link="leaf"/>
    <child link="dog_1"/>
    <axis xyz="0 1 0"/>
    <limit lower="0" upper="1.5708" effort="2000" velocity="10"/>
    <dynamics damping="0.5" friction="0.5"/>
    <mimic joint="wheel_hinge" multiplier="0.166667" offset="0"/>
  </joint>
  <joint name="dog_2_hinge" type="revolute">
    <origin xyz="-0.774 -0.024 0.6875" rpy="0 0 0"/>
    <parent link="leaf"/>
    <child link="dog_2"/>
    <axis xyz="0 -1 0"/>
    <limit lower="0" upper="1.5708" effort="2000" velocity="10"/>
    <dynamics damping="0.5" friction="0.5"/>
    <mimic joint="wheel_hinge" multiplier="0.166667" offset="0"/>
  </joint>
  <joint name="dog_3_hinge" type="revolute">
    <origin xyz="-0.094 -0.024 0.6875" rpy="0 0 0"/>
    <parent link="leaf"/>
    <child link="dog_3"/>
    <axis xyz="0 1 0"/>
    <limit lower="0" upper="1.5708" effort="2000" velocity="10"/>
    <dynamics damping="0.5" friction="0.5"/>
    <mimic joint="wheel_hinge" multiplier="0.166667" offset="0"/>
  </joint>
  <joint name="dog_4_hinge" type="revolute">
    <origin xyz="-0.774 -0.024 1.0125" rpy="0 0 0"/>
    <parent link="leaf"/>
    <child link="dog_4"/>
    <axis xyz="0 -1 0"/>
    <limit lower="0" upper="1.5708" effort="2000" velocity="10"/>
    <dynamics damping="0.5" friction="0.5"/>
    <mimic joint="wheel_hinge" multiplier="0.166667" offset="0"/>
  </joint>
  <joint name="dog_5_hinge" type="revolute">
    <origin xyz="-0.094 -0.024 1.0125" rpy="0 0 0"/>
    <parent link="leaf"/>
    <child link="dog_5"/>
    <axis xyz="0 1 0"/>
    <limit lower="0" upper="1.5708" effort="2000" velocity="10"/>
    <dynamics damping="0.5" friction="0.5"/>
    <mimic joint="wheel_hinge" multiplier="0.166667" offset="0"/>
  </joint>
  <joint name="dog_6_hinge" type="revolute">
    <origin xyz="-0.774 -0.024 1.3375" rpy="0 0 0"/>
    <parent link="leaf"/>
    <child link="dog_6"/>
    <axis xyz="0 -1 0"/>
    <limit lower="0" upper="1.5708" effort="2000" velocity="10"/>
    <dynamics damping="0.5" friction="0.5"/>
    <mimic joint="wheel_hinge" multiplier="0.166667" offset="0"/>
  </joint>
  <joint name="dog_7_hinge" type="revolute">
    <origin xyz="-0.094 -0.024 1.3375" rpy="0 0 0"/>
    <parent link="leaf"/>
    <child link="dog_7"/>
    <axis xyz="0 1 0"/>
    <limit lower="0" upper="1.5708" effort="2000" velocity="10"/>
    <dynamics damping="0.5" friction="0.5"/>
    <mimic joint="wheel_hinge" multiplier="0.166667" offset="0"/>
  </joint>
  <joint name="linkage_rod_r_slide" type="prismatic">
    <origin xyz="-0.724 -0.024 0" rpy="0 0 0"/>
    <parent link="leaf"/>
    <child link="linkage_rod_r"/>
    <axis xyz="0 0 1"/>
    <limit lower="0" upper="0.05" effort="5000" velocity="10"/>
    <dynamics damping="2" friction="0.5"/>
    <mimic joint="wheel_hinge" multiplier="0.005305" offset="0"/>
  </joint>
  <joint name="linkage_rod_l_slide" type="prismatic">
    <origin xyz="-0.144 -0.024 0" rpy="0 0 0"/>
    <parent link="leaf"/>
    <child link="linkage_rod_l"/>
    <axis xyz="0 0 1"/>
    <limit lower="0" upper="0.05" effort="5000" velocity="10"/>
    <dynamics damping="2" friction="0.5"/>
    <mimic joint="wheel_hinge" multiplier="0.005305" offset="0"/>
  </joint>
  <material name="mat_floor">
    <color rgba="0.55 0.53 0.5 1"/>
  </material>
  <material name="mat_frame">
    <color rgba="0.45 0.48 0.52 1"/>
  </material>
  <material name="mat_gasket">
    <color rgba="0.08 0.08 0.08 1"/>
  </material>
  <material name="mat_hinge">
    <color rgba="0.65 0.66 0.68 1"/>
  </material>
  <material name="mat_leaf">
    <color rgba="0.9 0.45 0.1 1"/>
  </material>
  <material name="mat_op_brass">
    <color rgba="0.85 0.66 0.3 1"/>
  </material>
  <material name="mat_placard">
    <color rgba="0.95 0.75 0.05 1"/>
  </material>
  <material name="mat_rivet">
    <color rgba="0.55 0.56 0.58 1"/>
  </material>
  <material name="mat_wall">
    <color rgba="0.78 0.76 0.7 1"/>
  </material>
</robot>
