<?xml version="1.0" ?>
<robot xmlns:doorbench="https://github.com/adamraudonis/DoorBench/schema/urdf-ext" name="db0576_swing_single_simple">
  <link name="world_env">
    <visual name="floor_vis">
      <origin xyz="0 0 -0.05" rpy="0 0 0"/>
      <geometry>
        <box size="12 12 0.1"/>
      </geometry>
      <material name="mat_floor"/>
    </visual>
    <collision name="floor_col">
      <origin xyz="0 0 -0.05" rpy="0 0 0"/>
      <geometry>
        <box size="12 12 0.1"/>
      </geometry>
    </collision>
    <visual name="wall_left_vis">
      <origin xyz="-1.50025 0.0275 1.35" rpy="0 0 0"/>
      <geometry>
        <box size="1.9995 0.145 2.7"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_left_col">
      <origin xyz="-1.50025 0.0275 1.35" rpy="0 0 0"/>
      <geometry>
        <box size="1.9995 0.145 2.7"/>
      </geometry>
    </collision>
    <visual name="wall_right_vis">
      <origin xyz="1.48525 0.0275 1.35" rpy="0 0 0"/>
      <geometry>
        <box size="2.0295 0.145 2.7"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_right_col">
      <origin xyz="1.48525 0.0275 1.35" rpy="0 0 0"/>
      <geometry>
        <box size="2.0295 0.145 2.7"/>
      </geometry>
    </collision>
    <visual name="wall_header_vis">
      <origin xyz="-0.015 0.0275 2.4175" rpy="0 0 0"/>
      <geometry>
        <box size="0.971 0.145 0.565"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_header_col">
      <origin xyz="-0.015 0.0275 2.4175" rpy="0 0 0"/>
      <geometry>
        <box size="0.971 0.145 0.565"/>
      </geometry>
    </collision>
    <visual name="jamb_hinge_vis">
      <origin xyz="0.4405 0.0275 1.0225" rpy="0 0 0"/>
      <geometry>
        <box size="0.06 0.145 2.045"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_hinge_col">
      <origin xyz="0.4405 0.0275 1.0225" rpy="0 0 0"/>
      <geometry>
        <box size="0.06 0.145 2.045"/>
      </geometry>
    </collision>
    <visual name="strike_985_wall_n_vis">
      <origin xyz="-0.4555 0.0735 0.985" rpy="0 0 0"/>
      <geometry>
        <box size="0.09 0.053 0.05"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="strike_985_wall_n_col">
      <origin xyz="-0.4555 0.0735 0.985" rpy="0 0 0"/>
      <geometry>
        <box size="0.09 0.053 0.05"/>
      </geometry>
    </collision>
    <visual name="strike_985_wall_p_vis">
      <origin xyz="-0.4555 -0.009 0.985" rpy="0 0 0"/>
      <geometry>
        <box size="0.09 0.072 0.05"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="strike_985_wall_p_col">
      <origin xyz="-0.4555 -0.009 0.985" rpy="0 0 0"/>
      <geometry>
        <box size="0.09 0.072 0.05"/>
      </geometry>
    </collision>
    <visual name="strike_985_back_vis">
      <origin xyz="-0.4655 0.037 0.985" rpy="0 0 0"/>
      <geometry>
        <box size="0.07 0.02 0.05"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="strike_985_back_col">
      <origin xyz="-0.4655 0.037 0.985" rpy="0 0 0"/>
      <geometry>
        <box size="0.07 0.02 0.05"/>
      </geometry>
    </collision>
    <visual name="jamb_strike_0_vis">
      <origin xyz="-0.4555 0.0275 0.48" rpy="0 0 0"/>
      <geometry>
        <box size="0.09 0.145 0.96"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_strike_0_col">
      <origin xyz="-0.4555 0.0275 0.48" rpy="0 0 0"/>
      <geometry>
        <box size="0.09 0.145 0.96"/>
      </geometry>
    </collision>
    <visual name="jamb_strike_1_vis">
      <origin xyz="-0.4555 0.0275 1.5275" rpy="0 0 0"/>
      <geometry>
        <box size="0.09 0.145 1.035"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_strike_1_col">
      <origin xyz="-0.4555 0.0275 1.5275" rpy="0 0 0"/>
      <geometry>
        <box size="0.09 0.145 1.035"/>
      </geometry>
    </collision>
    <visual name="jamb_head_vis">
      <origin xyz="-0.015 0.0275 2.075" rpy="0 0 0"/>
      <geometry>
        <box size="0.971 0.145 0.06"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_head_col">
      <origin xyz="-0.015 0.0275 2.075" rpy="0 0 0"/>
      <geometry>
        <box size="0.971 0.145 0.06"/>
      </geometry>
    </collision>
    <visual name="head_stud_vis">
      <origin xyz="-0.015 0.0275 2.12" rpy="0 0 0"/>
      <geometry>
        <box size="0.971 0.145 0.03"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="head_stud_col">
      <origin xyz="-0.015 0.0275 2.12" rpy="0 0 0"/>
      <geometry>
        <box size="0.971 0.145 0.03"/>
      </geometry>
    </collision>
    <visual name="stop_hinge_vis">
      <origin xyz="0.405 0.0415 1.0225" rpy="0 0 0"/>
      <geometry>
        <box size="0.011 0.032 2.045"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="stop_hinge_col">
      <origin xyz="0.405 0.0415 1.0225" rpy="0 0 0"/>
      <geometry>
        <box size="0.011 0.032 2.045"/>
      </geometry>
    </collision>
    <visual name="stop_strike_vis">
      <origin xyz="-0.405 0.0415 0.478" rpy="0 0 0"/>
      <geometry>
        <box size="0.011 0.032 0.956"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="stop_strike_col">
      <origin xyz="-0.405 0.0415 0.478" rpy="0 0 0"/>
      <geometry>
        <box size="0.011 0.032 0.956"/>
      </geometry>
    </collision>
    <visual name="stop_strike_1_vis">
      <origin xyz="-0.405 0.0415 1.5295" rpy="0 0 0"/>
      <geometry>
        <box size="0.011 0.032 1.031"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="stop_strike_1_col">
      <origin xyz="-0.405 0.0415 1.5295" rpy="0 0 0"/>
      <geometry>
        <box size="0.011 0.032 1.031"/>
      </geometry>
    </collision>
    <visual name="stop_head_vis">
      <origin xyz="0 0.0415 2.0395" rpy="0 0 0"/>
      <geometry>
        <box size="0.821 0.032 0.011"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="stop_head_col">
      <origin xyz="0 0.0415 2.0395" rpy="0 0 0"/>
      <geometry>
        <box size="0.821 0.032 0.011"/>
      </geometry>
    </collision>
    <visual name="threshold_vis">
      <origin xyz="0 0.0275 0.0065" rpy="0 0 0"/>
      <geometry>
        <box size="0.941 0.145 0.013"/>
      </geometry>
      <material name="mat_threshold"/>
    </visual>
    <collision name="threshold_col">
      <origin xyz="0 0.0275 0.0065" rpy="0 0 0"/>
      <geometry>
        <box size="0.941 0.145 0.013"/>
      </geometry>
    </collision>
  </link>
  <link name="leaf">
    <inertial>
      <origin xyz="-0.405792 0.030492 1.027047" rpy="0 0 0"/>
      <mass value="43.711921"/>
      <inertia ixx="14.724995549" ixy="-0.000427889" ixz="-0.040661322" iyy="17.250782454" iyz="-0.003714861" izz="2.549382559"/>
    </inertial>
    <visual name="leaf_slab_vis">
      <origin xyz="-0.4065 0.032 1.029" rpy="0 0 0"/>
      <geometry>
        <box size="0.813 0.05 2.024"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <collision name="leaf_slab_col">
      <origin xyz="-0.4065 0.032 1.029" rpy="0 0 0"/>
      <geometry>
        <box size="0.813 0.05 2.024"/>
      </geometry>
    </collision>
    <visual name="leaf_panel_0_n_vis">
      <origin xyz="-0.168833 0.004 0.227333" rpy="0 0 0"/>
      <geometry>
        <box size="0.177667 0.006 0.260667"/>
      </geometry>
      <material name="mat_leaf_panel"/>
    </visual>
    <visual name="leaf_panel_0_p_vis">
      <origin xyz="-0.168833 0.06 0.227333" rpy="0 0 0"/>
      <geometry>
        <box size="0.177667 0.006 0.260667"/>
      </geometry>
      <material name="mat_leaf_panel"/>
    </visual>
    <visual name="leaf_panel_1_n_vis">
      <origin xyz="-0.4065 0.004 0.227333" rpy="0 0 0"/>
      <geometry>
        <box size="0.177667 0.006 0.260667"/>
      </geometry>
      <material name="mat_leaf_panel"/>
    </visual>
    <visual name="leaf_panel_1_p_vis">
      <origin xyz="-0.4065 0.06 0.227333" rpy="0 0 0"/>
      <geometry>
        <box size="0.177667 0.006 0.260667"/>
      </geometry>
      <material name="mat_leaf_panel"/>
    </visual>
    <visual name="leaf_panel_2_n_vis">
      <origin xyz="-0.644167 0.004 0.227333" rpy="0 0 0"/>
      <geometry>
        <box size="0.177667 0.006 0.260667"/>
      </geometry>
      <material name="mat_leaf_panel"/>
    </visual>
    <visual name="leaf_panel_2_p_vis">
      <origin xyz="-0.644167 0.06 0.227333" rpy="0 0 0"/>
      <geometry>
        <box size="0.177667 0.006 0.260667"/>
      </geometry>
      <material name="mat_leaf_panel"/>
    </visual>
    <visual name="leaf_panel_3_n_vis">
      <origin xyz="-0.168833 0.004 0.548" rpy="0 0 0"/>
      <geometry>
        <box size="0.177667 0.006 0.260667"/>
      </geometry>
      <material name="mat_leaf_panel"/>
    </visual>
    <visual name="leaf_panel_3_p_vis">
      <origin xyz="-0.168833 0.06 0.548" rpy="0 0 0"/>
      <geometry>
        <box size="0.177667 0.006 0.260667"/>
      </geometry>
      <material name="mat_leaf_panel"/>
    </visual>
    <visual name="leaf_panel_4_n_vis">
      <origin xyz="-0.4065 0.004 0.548" rpy="0 0 0"/>
      <geometry>
        <box size="0.177667 0.006 0.260667"/>
      </geometry>
      <material name="mat_leaf_panel"/>
    </visual>
    <visual name="leaf_panel_4_p_vis">
      <origin xyz="-0.4065 0.06 0.548" rpy="0 0 0"/>
      <geometry>
        <box size="0.177667 0.006 0.260667"/>
      </geometry>
      <material name="mat_leaf_panel"/>
    </visual>
    <visual name="leaf_panel_5_n_vis">
      <origin xyz="-0.644167 0.004 0.548" rpy="0 0 0"/>
      <geometry>
        <box size="0.177667 0.006 0.260667"/>
      </geometry>
      <material name="mat_leaf_panel"/>
    </visual>
    <visual name="leaf_panel_5_p_vis">
      <origin xyz="-0.644167 0.06 0.548" rpy="0 0 0"/>
      <geometry>
        <box size="0.177667 0.006 0.260667"/>
      </geometry>
      <material name="mat_leaf_panel"/>
    </visual>
    <visual name="leaf_panel_6_n_vis">
      <origin xyz="-0.168833 0.004 0.868667" rpy="0 0 0"/>
      <geometry>
        <box size="0.177667 0.006 0.260667"/>
      </geometry>
      <material name="mat_leaf_panel"/>
    </visual>
    <visual name="leaf_panel_6_p_vis">
      <origin xyz="-0.168833 0.06 0.868667" rpy="0 0 0"/>
      <geometry>
        <box size="0.177667 0.006 0.260667"/>
      </geometry>
      <material name="mat_leaf_panel"/>
    </visual>
    <visual name="leaf_panel_7_n_vis">
      <origin xyz="-0.4065 0.004 0.868667" rpy="0 0 0"/>
      <geometry>
        <box size="0.177667 0.006 0.260667"/>
      </geometry>
      <material name="mat_leaf_panel"/>
    </visual>
    <visual name="leaf_panel_7_p_vis">
      <origin xyz="-0.4065 0.06 0.868667" rpy="0 0 0"/>
      <geometry>
        <box size="0.177667 0.006 0.260667"/>
      </geometry>
      <material name="mat_leaf_panel"/>
    </visual>
    <visual name="leaf_panel_8_n_vis">
      <origin xyz="-0.644167 0.004 0.868667" rpy="0 0 0"/>
      <geometry>
        <box size="0.177667 0.006 0.260667"/>
      </geometry>
      <material name="mat_leaf_panel"/>
    </visual>
    <visual name="leaf_panel_8_p_vis">
      <origin xyz="-0.644167 0.06 0.868667" rpy="0 0 0"/>
      <geometry>
        <box size="0.177667 0.006 0.260667"/>
      </geometry>
      <material name="mat_leaf_panel"/>
    </visual>
    <visual name="leaf_panel_9_n_vis">
      <origin xyz="-0.168833 0.004 1.189333" rpy="0 0 0"/>
      <geometry>
        <box size="0.177667 0.006 0.260667"/>
      </geometry>
      <material name="mat_leaf_panel"/>
    </visual>
    <visual name="leaf_panel_9_p_vis">
      <origin xyz="-0.168833 0.06 1.189333" rpy="0 0 0"/>
      <geometry>
        <box size="0.177667 0.006 0.260667"/>
      </geometry>
      <material name="mat_leaf_panel"/>
    </visual>
    <visual name="leaf_panel_10_n_vis">
      <origin xyz="-0.4065 0.004 1.189333" rpy="0 0 0"/>
      <geometry>
        <box size="0.177667 0.006 0.260667"/>
      </geometry>
      <material name="mat_leaf_panel"/>
    </visual>
    <visual name="leaf_panel_10_p_vis">
      <origin xyz="-0.4065 0.06 1.189333" rpy="0 0 0"/>
      <geometry>
        <box size="0.177667 0.006 0.260667"/>
      </geometry>
      <material name="mat_leaf_panel"/>
    </visual>
    <visual name="leaf_panel_11_n_vis">
      <origin xyz="-0.644167 0.004 1.189333" rpy="0 0 0"/>
      <geometry>
        <box size="0.177667 0.006 0.260667"/>
      </geometry>
      <material name="mat_leaf_panel"/>
    </visual>
    <visual name="leaf_panel_11_p_vis">
      <origin xyz="-0.644167 0.06 1.189333" rpy="0 0 0"/>
      <geometry>
        <box size="0.177667 0.006 0.260667"/>
      </geometry>
      <material name="mat_leaf_panel"/>
    </visual>
    <visual name="leaf_panel_12_n_vis">
      <origin xyz="-0.168833 0.004 1.51" rpy="0 0 0"/>
      <geometry>
        <box size="0.177667 0.006 0.260667"/>
      </geometry>
      <material name="mat_leaf_panel"/>
    </visual>
    <visual name="leaf_panel_12_p_vis">
      <origin xyz="-0.168833 0.06 1.51" rpy="0 0 0"/>
      <geometry>
        <box size="0.177667 0.006 0.260667"/>
      </geometry>
      <material name="mat_leaf_panel"/>
    </visual>
    <visual name="leaf_panel_13_n_vis">
      <origin xyz="-0.4065 0.004 1.51" rpy="0 0 0"/>
      <geometry>
        <box size="0.177667 0.006 0.260667"/>
      </geometry>
      <material name="mat_leaf_panel"/>
    </visual>
    <visual name="leaf_panel_13_p_vis">
      <origin xyz="-0.4065 0.06 1.51" rpy="0 0 0"/>
      <geometry>
        <box size="0.177667 0.006 0.260667"/>
      </geometry>
      <material name="mat_leaf_panel"/>
    </visual>
    <visual name="leaf_panel_14_n_vis">
      <origin xyz="-0.644167 0.004 1.51" rpy="0 0 0"/>
      <geometry>
        <box size="0.177667 0.006 0.260667"/>
      </geometry>
      <material name="mat_leaf_panel"/>
    </visual>
    <visual name="leaf_panel_14_p_vis">
      <origin xyz="-0.644167 0.06 1.51" rpy="0 0 0"/>
      <geometry>
        <box size="0.177667 0.006 0.260667"/>
      </geometry>
      <material name="mat_leaf_panel"/>
    </visual>
    <visual name="leaf_panel_15_n_vis">
      <origin xyz="-0.168833 0.004 1.830667" rpy="0 0 0"/>
      <geometry>
        <box size="0.177667 0.006 0.260667"/>
      </geometry>
      <material name="mat_leaf_panel"/>
    </visual>
    <visual name="leaf_panel_15_p_vis">
      <origin xyz="-0.168833 0.06 1.830667" rpy="0 0 0"/>
      <geometry>
        <box size="0.177667 0.006 0.260667"/>
      </geometry>
      <material name="mat_leaf_panel"/>
    </visual>
    <visual name="leaf_panel_16_n_vis">
      <origin xyz="-0.4065 0.004 1.830667" rpy="0 0 0"/>
      <geometry>
        <box size="0.177667 0.006 0.260667"/>
      </geometry>
      <material name="mat_leaf_panel"/>
    </visual>
    <visual name="leaf_panel_16_p_vis">
      <origin xyz="-0.4065 0.06 1.830667" rpy="0 0 0"/>
      <geometry>
        <box size="0.177667 0.006 0.260667"/>
      </geometry>
      <material name="mat_leaf_panel"/>
    </visual>
    <visual name="leaf_panel_17_n_vis">
      <origin xyz="-0.644167 0.004 1.830667" rpy="0 0 0"/>
      <geometry>
        <box size="0.177667 0.006 0.260667"/>
      </geometry>
      <material name="mat_leaf_panel"/>
    </visual>
    <visual name="leaf_panel_17_p_vis">
      <origin xyz="-0.644167 0.06 1.830667" rpy="0 0 0"/>
      <geometry>
        <box size="0.177667 0.006 0.260667"/>
      </geometry>
      <material name="mat_leaf_panel"/>
    </visual>
    <visual name="hinge_0_vis">
      <origin xyz="0 0 0.267" rpy="0 0 -1.570796"/>
      <geometry>
        <mesh filename="../../hardware/hinge_7a316c6d01.obj"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="hinge_1_vis">
      <origin xyz="0 0 1.029" rpy="0 0 -1.570796"/>
      <geometry>
        <mesh filename="../../hardware/hinge_7a316c6d01.obj"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="hinge_2_vis">
      <origin xyz="0 0 1.861" rpy="0 0 -1.570796"/>
      <geometry>
        <mesh filename="../../hardware/hinge_7a316c6d01.obj"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="leaf_suffolk_grip_vis">
      <origin xyz="-0.733 0.007 0.915" rpy="-1.570796 0 3.141593"/>
      <geometry>
        <mesh filename="../../hardware/thumb_latch_0073ea78ed.obj"/>
      </geometry>
      <material name="mat_op_wrought_iron"/>
    </visual>
    <collision name="leaf_suffolk_grip_col_col">
      <origin xyz="-0.733 -0.028 0.915" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.008" length="0.18"/>
      </geometry>
    </collision>
  </link>
  <link name="leaf_thumb">
    <inertial>
      <origin xyz="0 -0.012 0.02" rpy="0 0 0"/>
      <mass value="0.063"/>
      <inertia ixx="0.000013314" ixy="0" ixz="0" iyy="0.00001785" iyz="0" izz="0.000004914"/>
    </inertial>
    <visual name="leaf_thumb_geom_vis">
      <origin xyz="0 -0.012 0.02" rpy="0 0 0"/>
      <geometry>
        <box size="0.03 0.006 0.05"/>
      </geometry>
      <material name="mat_op_wrought_iron"/>
    </visual>
    <collision name="leaf_thumb_geom_col">
      <origin xyz="0 -0.012 0.02" rpy="0 0 0"/>
      <geometry>
        <box size="0.03 0.006 0.05"/>
      </geometry>
    </collision>
  </link>
  <link name="leaf_latch_bar">
    <inertial>
      <origin xyz="-0.106 0 0" rpy="0 0 0"/>
      <mass value="0.25"/>
      <inertia ixx="0.000004465" ixy="0" ixz="0" iyy="0.000904065" iyz="0" izz="0.000904065"/>
    </inertial>
    <visual name="leaf_latch_bar_geom_vis">
      <origin xyz="-0.106 0 0" rpy="0 -1.570796 0"/>
      <geometry>
        <cylinder radius="0.006" length="0.2"/>
      </geometry>
      <material name="mat_op_wrought_iron"/>
    </visual>
    <collision name="leaf_latch_bar_geom_col">
      <origin xyz="-0.106 0 0" rpy="0 -1.570796 0"/>
      <geometry>
        <cylinder radius="0.006" length="0.2"/>
      </geometry>
    </collision>
  </link>
  <joint name="leaf_hinge" type="revolute">
    <origin xyz="0.4075 -0.032 0" rpy="0 0 0"/>
    <parent link="world_env"/>
    <child link="leaf"/>
    <axis xyz="0 0 1"/>
    <limit lower="0" upper="2.792527" effort="2000" velocity="10"/>
    <dynamics damping="0.210326" friction="3.777377"/>
    <doorbench:closer damping_closing="0" damping_opening="0" backcheck_angle="0" backcheck_damping="0"/>
  </joint>
  <joint name="leaf_thumb_hinge" type="revolute">
    <origin xyz="-0.733 0.007 1.015" rpy="0 0 0"/>
    <parent link="leaf"/>
    <child link="leaf_thumb"/>
    <axis xyz="-1 0 0"/>
    <limit lower="0" upper="0.3" effort="2000" velocity="10"/>
    <dynamics damping="0.02" friction="0.05"/>
    <doorbench:spring stiffness="0.6" springref="-0.5" note="tau = -stiffness*(q - springref); not native URDF"/>
  </joint>
  <joint name="leaf_latch_bar_hinge" type="revolute">
    <origin xyz="-0.613 0.069 0.985" rpy="0 0 0"/>
    <parent link="leaf"/>
    <child link="leaf_latch_bar"/>
    <axis xyz="0 1 0"/>
    <limit lower="0" upper="0.6" effort="2000" velocity="10"/>
    <dynamics damping="0.01" friction="0.01"/>
    <mimic joint="leaf_thumb_hinge" multiplier="2" offset="0"/>
  </joint>
  <material name="mat_floor">
    <color rgba="0.55 0.53 0.5 1"/>
  </material>
  <material name="mat_frame">
    <color rgba="0.7 0.58 0.42 1"/>
  </material>
  <material name="mat_hinge">
    <color rgba="0.65 0.66 0.68 1"/>
  </material>
  <material name="mat_leaf">
    <color rgba="0.75 0.55 0.38 1"/>
  </material>
  <material name="mat_leaf_panel">
    <color rgba="0.69 0.506 0.35 1"/>
  </material>
  <material name="mat_op_wrought_iron">
    <color rgba="0.08 0.08 0.09 1"/>
  </material>
  <material name="mat_threshold">
    <color rgba="0.8 0.81 0.83 1"/>
  </material>
  <material name="mat_wall">
    <color rgba="0.78 0.76 0.7 1"/>
  </material>
</robot>
