<?xml version="1.0" ?>
<robot xmlns:doorbench="https://github.com/adamraudonis/DoorBench/schema/urdf-ext" name="db0256_swing_single_simple">
  <link name="world_env">
    <visual name="floor_vis">
      <origin xyz="0 0 -0.05" rpy="0 0 0"/>
      <geometry>
        <box size="12 12 0.1"/>
      </geometry>
      <material name="mat_floor"/>
    </visual>
    <collision name="floor_col">
      <origin xyz="0 0 -0.05" rpy="0 0 0"/>
      <geometry>
        <box size="12 12 0.1"/>
      </geometry>
    </collision>
    <visual name="wall_left_vis">
      <origin xyz="-1.52025 -0.0435 1.5255" rpy="0 0 0"/>
      <geometry>
        <box size="1.9595 0.145 3.051"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_left_col">
      <origin xyz="-1.52025 -0.0435 1.5255" rpy="0 0 0"/>
      <geometry>
        <box size="1.9595 0.145 3.051"/>
      </geometry>
    </collision>
    <visual name="wall_right_vis">
      <origin xyz="1.50525 -0.0435 1.5255" rpy="0 0 0"/>
      <geometry>
        <box size="1.9895 0.145 3.051"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_right_col">
      <origin xyz="1.50525 -0.0435 1.5255" rpy="0 0 0"/>
      <geometry>
        <box size="1.9895 0.145 3.051"/>
      </geometry>
    </collision>
    <visual name="wall_header_vis">
      <origin xyz="-0.015 -0.0435 2.791" rpy="0 0 0"/>
      <geometry>
        <box size="1.051 0.145 0.52"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_header_col">
      <origin xyz="-0.015 -0.0435 2.791" rpy="0 0 0"/>
      <geometry>
        <box size="1.051 0.145 0.52"/>
      </geometry>
    </collision>
    <visual name="hinge_0_jamb_vis">
      <origin xyz="0.4575 0.029 0.259" rpy="0 0 3.141593"/>
      <geometry>
        <mesh filename="../../hardware/hinge_jamb_e1d088f8dc.obj"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="hinge_1_jamb_vis">
      <origin xyz="0.4575 0.029 0.928333" rpy="0 0 3.141593"/>
      <geometry>
        <mesh filename="../../hardware/hinge_jamb_e1d088f8dc.obj"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="hinge_2_jamb_vis">
      <origin xyz="0.4575 0.029 1.597667" rpy="0 0 3.141593"/>
      <geometry>
        <mesh filename="../../hardware/hinge_jamb_e1d088f8dc.obj"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="hinge_3_jamb_vis">
      <origin xyz="0.4575 0.029 2.267" rpy="0 0 3.141593"/>
      <geometry>
        <mesh filename="../../hardware/hinge_jamb_e1d088f8dc.obj"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="jamb_hinge_vis">
      <origin xyz="0.4855 -0.0435 1.2255" rpy="0 0 0"/>
      <geometry>
        <box size="0.05 0.145 2.451"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_hinge_col">
      <origin xyz="0.4855 -0.0435 1.2255" rpy="0 0 0"/>
      <geometry>
        <box size="0.05 0.145 2.451"/>
      </geometry>
    </collision>
    <visual name="jamb_strike_vis">
      <origin xyz="-0.4855 -0.0435 1.2255" rpy="0 0 0"/>
      <geometry>
        <box size="0.05 0.145 2.451"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_strike_col">
      <origin xyz="-0.4855 -0.0435 1.2255" rpy="0 0 0"/>
      <geometry>
        <box size="0.05 0.145 2.451"/>
      </geometry>
    </collision>
    <visual name="stud_strike_vis">
      <origin xyz="-0.5255 -0.0435 1.2255" rpy="0 0 0"/>
      <geometry>
        <box size="0.03 0.145 2.451"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="stud_strike_col">
      <origin xyz="-0.5255 -0.0435 1.2255" rpy="0 0 0"/>
      <geometry>
        <box size="0.03 0.145 2.451"/>
      </geometry>
    </collision>
    <visual name="jamb_head_pwall_-396_n_vis">
      <origin xyz="-0.3965 -0.0635 2.476" rpy="0 0 0"/>
      <geometry>
        <box size="0.027 0.105 0.05"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_head_pwall_-396_n_col">
      <origin xyz="-0.3965 -0.0635 2.476" rpy="0 0 0"/>
      <geometry>
        <box size="0.027 0.105 0.05"/>
      </geometry>
    </collision>
    <visual name="jamb_head_pwall_-396_p_vis">
      <origin xyz="-0.3965 0.02 2.476" rpy="0 0 0"/>
      <geometry>
        <box size="0.027 0.018 0.05"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_head_pwall_-396_p_col">
      <origin xyz="-0.3965 0.02 2.476" rpy="0 0 0"/>
      <geometry>
        <box size="0.027 0.018 0.05"/>
      </geometry>
    </collision>
    <visual name="jamb_head_pback_-396_vis">
      <origin xyz="-0.3965 0 2.4875" rpy="0 0 0"/>
      <geometry>
        <box size="0.027 0.022 0.027"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_head_pback_-396_col">
      <origin xyz="-0.3965 0 2.4875" rpy="0 0 0"/>
      <geometry>
        <box size="0.027 0.022 0.027"/>
      </geometry>
    </collision>
    <visual name="jamb_head_0_vis">
      <origin xyz="-0.47525 -0.0435 2.476" rpy="0 0 0"/>
      <geometry>
        <box size="0.1305 0.145 0.05"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_head_0_col">
      <origin xyz="-0.47525 -0.0435 2.476" rpy="0 0 0"/>
      <geometry>
        <box size="0.1305 0.145 0.05"/>
      </geometry>
    </collision>
    <visual name="jamb_head_1_vis">
      <origin xyz="0.06375 -0.0435 2.476" rpy="0 0 0"/>
      <geometry>
        <box size="0.8935 0.145 0.05"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_head_1_col">
      <origin xyz="0.06375 -0.0435 2.476" rpy="0 0 0"/>
      <geometry>
        <box size="0.8935 0.145 0.05"/>
      </geometry>
    </collision>
    <visual name="head_stud_vis">
      <origin xyz="-0.015 -0.0435 2.516" rpy="0 0 0"/>
      <geometry>
        <box size="1.051 0.145 0.03"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="head_stud_col">
      <origin xyz="-0.015 -0.0435 2.516" rpy="0 0 0"/>
      <geometry>
        <box size="1.051 0.145 0.03"/>
      </geometry>
    </collision>
    <visual name="stop_hinge_vis">
      <origin xyz="0.455 -0.0385 1.2255" rpy="0 0 0"/>
      <geometry>
        <box size="0.011 0.032 2.451"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="stop_hinge_col">
      <origin xyz="0.455 -0.0385 1.2255" rpy="0 0 0"/>
      <geometry>
        <box size="0.011 0.032 2.451"/>
      </geometry>
    </collision>
    <visual name="stop_strike_vis">
      <origin xyz="-0.455 -0.0385 1.2255" rpy="0 0 0"/>
      <geometry>
        <box size="0.011 0.032 2.451"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="stop_strike_col">
      <origin xyz="-0.455 -0.0385 1.2255" rpy="0 0 0"/>
      <geometry>
        <box size="0.011 0.032 2.451"/>
      </geometry>
    </collision>
    <visual name="stop_head_vis">
      <origin xyz="0 -0.0385 2.4455" rpy="0 0 0"/>
      <geometry>
        <box size="0.921 0.032 0.011"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="stop_head_col">
      <origin xyz="0 -0.0385 2.4455" rpy="0 0 0"/>
      <geometry>
        <box size="0.921 0.032 0.011"/>
      </geometry>
    </collision>
    <visual name="seal_hinge_vis">
      <origin xyz="0.4575 -0.026 1.2255" rpy="0 0 0"/>
      <geometry>
        <box size="0.008 0.008 2.451"/>
      </geometry>
      <material name="mat_seal"/>
    </visual>
    <visual name="seal_strike_vis">
      <origin xyz="-0.4575 -0.026 1.2255" rpy="0 0 0"/>
      <geometry>
        <box size="0.008 0.008 2.451"/>
      </geometry>
      <material name="mat_seal"/>
    </visual>
    <visual name="seal_head_vis">
      <origin xyz="0 -0.026 2.439" rpy="0 0 0"/>
      <geometry>
        <box size="0.881 0.008 0.016"/>
      </geometry>
      <material name="mat_seal"/>
    </visual>
    <visual name="wall_bumper_stop_vis">
      <origin xyz="0.4845 0.8059 0.35" rpy="-0.269078 1.570796 -0.269078"/>
      <geometry>
        <cylinder radius="0.025" length="0.04"/>
      </geometry>
      <material name="mat_bumper_stop"/>
    </visual>
    <collision name="wall_bumper_stop_col">
      <origin xyz="0.4845 0.8059 0.35" rpy="-0.269078 1.570796 -0.269078"/>
      <geometry>
        <cylinder radius="0.025" length="0.04"/>
      </geometry>
    </collision>
  </link>
  <link name="leaf">
    <inertial>
      <origin xyz="-0.446984 -0.019342 1.393112" rpy="0 0 0"/>
      <mass value="63.320936"/>
      <inertia ixx="39.526070585" ixy="-0.203024048" ixz="-2.148638143" iyy="43.80800305" iyz="-0.925063553" izz="4.45705779"/>
    </inertial>
    <visual name="leaf_slab_vis">
      <origin xyz="-0.457 -0.029 1.228" rpy="0 0 0"/>
      <geometry>
        <box size="0.914 0.044 2.438"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <collision name="leaf_slab_col">
      <origin xyz="-0.457 -0.029 1.228" rpy="0 0 0"/>
      <geometry>
        <box size="0.914 0.044 2.438"/>
      </geometry>
    </collision>
    <visual name="hinge_0_vis">
      <origin xyz="0 0 0.259" rpy="0 0 3.141593"/>
      <geometry>
        <mesh filename="../../hardware/hinge_e22b26c0c1.obj"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="hinge_1_vis">
      <origin xyz="0 0 0.928333" rpy="0 0 3.141593"/>
      <geometry>
        <mesh filename="../../hardware/hinge_e22b26c0c1.obj"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="hinge_2_vis">
      <origin xyz="0 0 1.597667" rpy="0 0 3.141593"/>
      <geometry>
        <mesh filename="../../hardware/hinge_e22b26c0c1.obj"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="hinge_3_vis">
      <origin xyz="0 0 2.267" rpy="0 0 3.141593"/>
      <geometry>
        <mesh filename="../../hardware/hinge_e22b26c0c1.obj"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="leaf_exit_device_rail_vis">
      <origin xyz="-0.51695 -0.057 0.965" rpy="0 0 0"/>
      <geometry>
        <box size="0.6341 0.012 0.05"/>
      </geometry>
      <material name="mat_op_stainless"/>
    </visual>
    <collision name="leaf_exit_device_rail_col">
      <origin xyz="-0.51695 -0.057 0.965" rpy="0 0 0"/>
      <geometry>
        <box size="0.6341 0.012 0.05"/>
      </geometry>
    </collision>
    <visual name="leaf_exit_device_rail_end_n_vis">
      <origin xyz="-0.824 -0.0835 0.965" rpy="0 0 0"/>
      <geometry>
        <box size="0.02 0.065 0.05"/>
      </geometry>
      <material name="mat_op_stainless"/>
    </visual>
    <collision name="leaf_exit_device_rail_end_n_col">
      <origin xyz="-0.824 -0.0835 0.965" rpy="0 0 0"/>
      <geometry>
        <box size="0.02 0.065 0.05"/>
      </geometry>
    </collision>
    <visual name="leaf_exit_device_rail_end_p_vis">
      <origin xyz="-0.2099 -0.0835 0.965" rpy="0 0 0"/>
      <geometry>
        <box size="0.02 0.065 0.05"/>
      </geometry>
      <material name="mat_op_stainless"/>
    </visual>
    <collision name="leaf_exit_device_rail_end_p_col">
      <origin xyz="-0.2099 -0.0835 0.965" rpy="0 0 0"/>
      <geometry>
        <box size="0.02 0.065 0.05"/>
      </geometry>
    </collision>
    <visual name="leaf_exit_device_case_vis">
      <origin xyz="-0.859 -0.085125 0.965" rpy="0 0 0"/>
      <geometry>
        <box size="0.05 0.06825 0.075"/>
      </geometry>
      <material name="mat_op_stainless"/>
    </visual>
    <collision name="leaf_exit_device_case_col">
      <origin xyz="-0.859 -0.085125 0.965" rpy="0 0 0"/>
      <geometry>
        <box size="0.05 0.06825 0.075"/>
      </geometry>
    </collision>
    <visual name="leaf_exit_device_rod_top_vis">
      <origin xyz="-0.854 -0.081 1.7135" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.008" length="1.407"/>
      </geometry>
      <material name="mat_op_stainless"/>
    </visual>
    <visual name="leaf_exit_device_rod_bot_vis">
      <origin xyz="-0.854 -0.081 0.4795" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.008" length="0.881"/>
      </geometry>
      <material name="mat_op_stainless"/>
    </visual>
    <visual name="leaf_far_pull_p_vis">
      <origin xyz="-0.824 -0.007 0.965" rpy="1.570796 0 3.141593"/>
      <geometry>
        <mesh filename="../../hardware/pull_1e5d69a91a.obj"/>
      </geometry>
      <material name="mat_op_stainless"/>
    </visual>
    <collision name="leaf_far_pull_col_p_col">
      <origin xyz="-0.824 0.053 0.965" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.0095" length="0.16"/>
      </geometry>
    </collision>
    <visual name="closer_body_vis">
      <origin xyz="-0.297 -0.007 2.358" rpy="1.570796 0 3.141593"/>
      <geometry>
        <mesh filename="../../hardware/closer_body_fdc4667657.obj"/>
      </geometry>
      <material name="mat_closer"/>
    </visual>
    <collision name="closer_body_col_col">
      <origin xyz="-0.297 0.043 2.358" rpy="0 0 0"/>
      <geometry>
        <box size="0.29 0.1 0.07"/>
      </geometry>
    </collision>
    <visual name="kick_plate_n_vis">
      <origin xyz="-0.457 -0.0518 0.144" rpy="0 0 0"/>
      <geometry>
        <box size="0.854 0.0016 0.25"/>
      </geometry>
      <material name="mat_kick"/>
    </visual>
  </link>
  <link name="leaf_exit_device">
    <inertial>
      <origin xyz="0 -0.05 0" rpy="0 0 0"/>
      <mass value="4.76361"/>
      <inertia ixx="0.00116113" ixy="0" ixz="0" iyy="0.138099678" iyz="0" izz="0.137653089"/>
    </inertial>
    <visual name="leaf_exit_device_pad_vis">
      <origin xyz="0 0 0" rpy="-1.570796 0 3.141593"/>
      <geometry>
        <mesh filename="../../hardware/touchbar_pad_2729a067b4.obj"/>
      </geometry>
      <material name="mat_op_stainless"/>
    </visual>
    <collision name="leaf_exit_device_pad_col_col">
      <origin xyz="0 -0.05 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.5881 0.03 0.045"/>
      </geometry>
    </collision>
  </link>
  <link name="leaf_top_latch">
    <inertial>
      <origin xyz="0 0 -0.0155" rpy="0 0 0"/>
      <mass value="0.151026"/>
      <inertia ixx="0.000053442" ixy="0" ixz="0" iyy="0.000053442" iyz="0" izz="0.00000654"/>
    </inertial>
    <visual name="leaf_top_latch_capsule_vis">
      <origin xyz="0 0 -0.0155" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.0095" length="0.05"/>
      </geometry>
      <material name="mat_bolt"/>
    </visual>
    <collision name="leaf_top_latch_capsule_col">
      <origin xyz="0 0 -0.0155" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.0095" length="0.05"/>
      </geometry>
    </collision>
  </link>
  <joint name="leaf_hinge" type="revolute">
    <origin xyz="0.4575 0.029 0" rpy="0 0 0"/>
    <parent link="world_env"/>
    <child link="leaf"/>
    <axis xyz="0 0 -1"/>
    <limit lower="0" upper="1.570796" effort="2000" velocity="10"/>
    <dynamics damping="12.307281" friction="3.296471"/>
    <doorbench:spring stiffness="15.8391" springref="-1.756413" note="tau = -stiffness*(q - springref); not native URDF"/>
    <doorbench:closer damping_closing="72" damping_opening="12" backcheck_angle="1.22" backcheck_damping="60"/>
  </joint>
  <joint name="leaf_exit_device_slide" type="prismatic">
    <origin xyz="-0.51695 -0.051 0.965" rpy="0 0 0"/>
    <parent link="leaf"/>
    <child link="leaf_exit_device"/>
    <axis xyz="0 1 0"/>
    <limit lower="0" upper="0.016" effort="5000" velocity="10"/>
    <dynamics damping="8" friction="0.5"/>
    <doorbench:spring stiffness="1400" springref="-0.015714" note="tau = -stiffness*(q - springref); not native URDF"/>
  </joint>
  <joint name="leaf_top_latch_slide" type="prismatic">
    <origin xyz="-0.854 -0.029 2.447" rpy="0 0 0"/>
    <parent link="leaf"/>
    <child link="leaf_top_latch"/>
    <axis xyz="0 0 -1"/>
    <limit lower="0" upper="0.019" effort="5000" velocity="10"/>
    <dynamics damping="2" friction="0.3"/>
    <doorbench:spring stiffness="800" springref="-0.01" note="tau = -stiffness*(q - springref); not native URDF"/>
    <mimic joint="leaf_exit_device_slide" multiplier="1.142857" offset="0"/>
    <doorbench:coupling one_sided="true" note="MJCF uses a one-sided tendon (bolt may retract further, e.g. riding over the strike lip); mimic is bilateral"/>
  </joint>
  <material name="mat_bolt">
    <color rgba="0.75 0.76 0.77 1"/>
  </material>
  <material name="mat_bumper_stop">
    <color rgba="0.08 0.08 0.08 1"/>
  </material>
  <material name="mat_closer">
    <color rgba="0.22 0.17 0.13 1"/>
  </material>
  <material name="mat_floor">
    <color rgba="0.55 0.53 0.5 1"/>
  </material>
  <material name="mat_frame">
    <color rgba="0.45 0.48 0.52 1"/>
  </material>
  <material name="mat_hinge">
    <color rgba="0.65 0.66 0.68 1"/>
  </material>
  <material name="mat_kick">
    <color rgba="0.75 0.76 0.77 1"/>
  </material>
  <material name="mat_leaf">
    <color rgba="0.5 0.51 0.53 1"/>
  </material>
  <material name="mat_op_stainless">
    <color rgba="0.75 0.76 0.77 1"/>
  </material>
  <material name="mat_seal">
    <color rgba="0.1 0.1 0.1 1"/>
  </material>
  <material name="mat_wall">
    <color rgba="0.78 0.76 0.7 1"/>
  </material>
</robot>
