<?xml version="1.0" ?>
<robot xmlns:doorbench="https://github.com/adamraudonis/DoorBench/schema/urdf-ext" name="db0759_sliding_single_simple">
  <link name="world_env">
    <visual name="floor_vis">
      <origin xyz="0 0 -0.05" rpy="0 0 0"/>
      <geometry>
        <box size="12 12 0.1"/>
      </geometry>
      <material name="mat_floor"/>
    </visual>
    <collision name="floor_col">
      <origin xyz="0 0 -0.05" rpy="0 0 0"/>
      <geometry>
        <box size="12 12 0.1"/>
      </geometry>
    </collision>
    <visual name="wall_left_vis">
      <origin xyz="-1.56125 0 1.377" rpy="0 0 0"/>
      <geometry>
        <box size="1.8775 0.145 2.754"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_left_col">
      <origin xyz="-1.56125 0 1.377" rpy="0 0 0"/>
      <geometry>
        <box size="1.8775 0.145 2.754"/>
      </geometry>
    </collision>
    <visual name="wall_right_vis">
      <origin xyz="1.53125 0 1.377" rpy="0 0 0"/>
      <geometry>
        <box size="1.9375 0.145 2.754"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_right_col">
      <origin xyz="1.53125 0 1.377" rpy="0 0 0"/>
      <geometry>
        <box size="1.9375 0.145 2.754"/>
      </geometry>
    </collision>
    <visual name="wall_header_vis">
      <origin xyz="-0.03 0 2.4635" rpy="0 0 0"/>
      <geometry>
        <box size="1.185 0.145 0.581"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_header_col">
      <origin xyz="-0.03 0 2.4635" rpy="0 0 0"/>
      <geometry>
        <box size="1.185 0.145 0.581"/>
      </geometry>
    </collision>
    <visual name="jamb_r_vis">
      <origin xyz="0.553 0 1.077" rpy="0 0 0"/>
      <geometry>
        <box size="0.019 0.145 2.154"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_r_col">
      <origin xyz="0.553 0 1.077" rpy="0 0 0"/>
      <geometry>
        <box size="0.019 0.145 2.154"/>
      </geometry>
    </collision>
    <visual name="jamb_head_vis">
      <origin xyz="0 0 2.1635" rpy="0 0 0"/>
      <geometry>
        <box size="1.125 0.145 0.019"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_head_col">
      <origin xyz="0 0 2.1635" rpy="0 0 0"/>
      <geometry>
        <box size="1.125 0.145 0.019"/>
      </geometry>
    </collision>
    <visual name="flat_track_vis">
      <origin xyz="0 -0.0945 2.274" rpy="0 0 0"/>
      <geometry>
        <box size="2.234 0.008 0.04"/>
      </geometry>
      <material name="mat_track"/>
    </visual>
    <collision name="flat_track_col">
      <origin xyz="0 -0.0945 2.274" rpy="0 0 0"/>
      <geometry>
        <box size="2.234 0.008 0.04"/>
      </geometry>
    </collision>
    <visual name="jamb_latch_0_vis">
      <origin xyz="-0.583 0 1.077" rpy="0 0 0"/>
      <geometry>
        <box size="0.079 0.145 2.154"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_latch_0_col">
      <origin xyz="-0.583 0 1.077" rpy="0 0 0"/>
      <geometry>
        <box size="0.079 0.145 2.154"/>
      </geometry>
    </collision>
  </link>
  <link name="leaf">
    <inertial>
      <origin xyz="-0.004563 -0.000937 1.163158" rpy="0 0 0"/>
      <mass value="40.574813"/>
      <inertia ixx="17.890005598" ixy="-0.013209411" ixz="-0.030205646" iyy="21.997675937" iyz="0.00316964" izz="4.124664266"/>
    </inertial>
    <visual name="leaf_slab_vis">
      <origin xyz="0 0 1.079" rpy="0 0 0"/>
      <geometry>
        <box size="1.067 0.044 2.134"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <collision name="leaf_slab_col">
      <origin xyz="0 0 1.079" rpy="0 0 0"/>
      <geometry>
        <box size="1.067 0.044 2.134"/>
      </geometry>
    </collision>
    <visual name="leaf_panel_0_n_vis">
      <origin xyz="0 -0.025 0.389996" rpy="0 0 0"/>
      <geometry>
        <box size="0.79226 0.006 0.246512"/>
      </geometry>
      <material name="mat_leaf_panel"/>
    </visual>
    <visual name="leaf_panel_0_p_vis">
      <origin xyz="0 0.025 0.389996" rpy="0 0 0"/>
      <geometry>
        <box size="0.79226 0.006 0.246512"/>
      </geometry>
      <material name="mat_leaf_panel"/>
    </visual>
    <visual name="leaf_panel_1_n_vis">
      <origin xyz="0 -0.025 0.766508" rpy="0 0 0"/>
      <geometry>
        <box size="0.79226 0.006 0.246512"/>
      </geometry>
      <material name="mat_leaf_panel"/>
    </visual>
    <visual name="leaf_panel_1_p_vis">
      <origin xyz="0 0.025 0.766508" rpy="0 0 0"/>
      <geometry>
        <box size="0.79226 0.006 0.246512"/>
      </geometry>
      <material name="mat_leaf_panel"/>
    </visual>
    <visual name="leaf_panel_2_n_vis">
      <origin xyz="0 -0.025 1.14302" rpy="0 0 0"/>
      <geometry>
        <box size="0.79226 0.006 0.246512"/>
      </geometry>
      <material name="mat_leaf_panel"/>
    </visual>
    <visual name="leaf_panel_2_p_vis">
      <origin xyz="0 0.025 1.14302" rpy="0 0 0"/>
      <geometry>
        <box size="0.79226 0.006 0.246512"/>
      </geometry>
      <material name="mat_leaf_panel"/>
    </visual>
    <visual name="leaf_panel_3_n_vis">
      <origin xyz="0 -0.025 1.519532" rpy="0 0 0"/>
      <geometry>
        <box size="0.79226 0.006 0.246512"/>
      </geometry>
      <material name="mat_leaf_panel"/>
    </visual>
    <visual name="leaf_panel_3_p_vis">
      <origin xyz="0 0.025 1.519532" rpy="0 0 0"/>
      <geometry>
        <box size="0.79226 0.006 0.246512"/>
      </geometry>
      <material name="mat_leaf_panel"/>
    </visual>
    <visual name="leaf_panel_4_n_vis">
      <origin xyz="0 -0.025 1.896044" rpy="0 0 0"/>
      <geometry>
        <box size="0.79226 0.006 0.246512"/>
      </geometry>
      <material name="mat_leaf_panel"/>
    </visual>
    <visual name="leaf_panel_4_p_vis">
      <origin xyz="0 0.025 1.896044" rpy="0 0 0"/>
      <geometry>
        <box size="0.79226 0.006 0.246512"/>
      </geometry>
      <material name="mat_leaf_panel"/>
    </visual>
    <visual name="leaf_hanger_wheel_0_vis">
      <origin xyz="-0.4135 0 2.266" rpy="-1.570796 0 0"/>
      <geometry>
        <cylinder radius="0.05" length="0.02"/>
      </geometry>
      <material name="mat_roller"/>
    </visual>
    <visual name="leaf_hanger_strap_0_vis">
      <origin xyz="-0.4135 -0.012 2.196" rpy="0 0 0"/>
      <geometry>
        <box size="0.04 0.008 0.14"/>
      </geometry>
      <material name="mat_roller"/>
    </visual>
    <visual name="leaf_hanger_wheel_1_vis">
      <origin xyz="0.4135 0 2.266" rpy="-1.570796 0 0"/>
      <geometry>
        <cylinder radius="0.05" length="0.02"/>
      </geometry>
      <material name="mat_roller"/>
    </visual>
    <visual name="leaf_hanger_strap_1_vis">
      <origin xyz="0.4135 -0.012 2.196" rpy="0 0 0"/>
      <geometry>
        <box size="0.04 0.008 0.14"/>
      </geometry>
      <material name="mat_roller"/>
    </visual>
    <visual name="leaf_pull_n_vis">
      <origin xyz="-0.4435 -0.022 1" rpy="-1.570796 0 3.141593"/>
      <geometry>
        <mesh filename="../../hardware/pull_1e5d69a91a.obj"/>
      </geometry>
      <material name="mat_op_stainless"/>
    </visual>
    <collision name="leaf_pull_col_n_col">
      <origin xyz="-0.4435 -0.082 1" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.0095" length="0.16"/>
      </geometry>
    </collision>
  </link>
  <joint name="leaf_slide" type="prismatic">
    <origin xyz="0 -0.1145 0" rpy="0 0 0"/>
    <parent link="world_env"/>
    <child link="leaf"/>
    <axis xyz="1 0 0"/>
    <limit lower="0" upper="1.067" effort="5000" velocity="10"/>
    <dynamics damping="4.028741" friction="47.748359"/>
  </joint>
  <material name="mat_floor">
    <color rgba="0.55 0.53 0.5 1"/>
  </material>
  <material name="mat_frame">
    <color rgba="0.82 0.7 0.5 1"/>
  </material>
  <material name="mat_leaf">
    <color rgba="0.82 0.7 0.5 1"/>
  </material>
  <material name="mat_leaf_panel">
    <color rgba="0.754 0.644 0.46 1"/>
  </material>
  <material name="mat_op_stainless">
    <color rgba="0.75 0.76 0.77 1"/>
  </material>
  <material name="mat_roller">
    <color rgba="0.65 0.66 0.68 1"/>
  </material>
  <material name="mat_track">
    <color rgba="0.05 0.05 0.05 1"/>
  </material>
  <material name="mat_wall">
    <color rgba="0.78 0.76 0.7 1"/>
  </material>
</robot>
