<?xml version="1.0" ?>
<robot xmlns:doorbench="https://github.com/adamraudonis/DoorBench/schema/urdf-ext" name="db0960_blast_simple">
  <link name="world_env">
    <visual name="floor_vis">
      <origin xyz="0 0 -0.05" rpy="0 0 0"/>
      <geometry>
        <box size="12 12 0.1"/>
      </geometry>
      <material name="mat_floor"/>
    </visual>
    <collision name="floor_col">
      <origin xyz="0 0 -0.05" rpy="0 0 0"/>
      <geometry>
        <box size="12 12 0.1"/>
      </geometry>
    </collision>
    <visual name="wall_left_vis">
      <origin xyz="-1.565 -0.08 1.485" rpy="0 0 0"/>
      <geometry>
        <box size="1.87 0.28 2.97"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_left_col">
      <origin xyz="-1.565 -0.08 1.485" rpy="0 0 0"/>
      <geometry>
        <box size="1.87 0.28 2.97"/>
      </geometry>
    </collision>
    <visual name="wall_right_vis">
      <origin xyz="1.58 -0.08 1.485" rpy="0 0 0"/>
      <geometry>
        <box size="1.84 0.28 2.97"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_right_col">
      <origin xyz="1.58 -0.08 1.485" rpy="0 0 0"/>
      <geometry>
        <box size="1.84 0.28 2.97"/>
      </geometry>
    </collision>
    <visual name="wall_header_vis">
      <origin xyz="0.015 -0.08 2.645" rpy="0 0 0"/>
      <geometry>
        <box size="1.29 0.28 0.65"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_header_col">
      <origin xyz="0.015 -0.08 2.645" rpy="0 0 0"/>
      <geometry>
        <box size="1.29 0.28 0.65"/>
      </geometry>
    </collision>
    <visual name="jamb_hinge_vis">
      <origin xyz="-0.57 -0.08 1.085" rpy="0 0 0"/>
      <geometry>
        <box size="0.12 0.28 2.17"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_hinge_col">
      <origin xyz="-0.57 -0.08 1.085" rpy="0 0 0"/>
      <geometry>
        <box size="0.12 0.28 2.17"/>
      </geometry>
    </collision>
    <visual name="strike_575_wall_n_vis">
      <origin xyz="0.585 -0.119 0.575" rpy="0 0 0"/>
      <geometry>
        <box size="0.15 0.202 0.042"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="strike_575_wall_n_col">
      <origin xyz="0.585 -0.119 0.575" rpy="0 0 0"/>
      <geometry>
        <box size="0.15 0.202 0.042"/>
      </geometry>
    </collision>
    <visual name="strike_575_wall_p_vis">
      <origin xyz="0.585 0.039 0.575" rpy="0 0 0"/>
      <geometry>
        <box size="0.15 0.042 0.042"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="strike_575_wall_p_col">
      <origin xyz="0.585 0.039 0.575" rpy="0 0 0"/>
      <geometry>
        <box size="0.15 0.042 0.042"/>
      </geometry>
    </collision>
    <visual name="strike_575_back_vis">
      <origin xyz="0.618 0 0.575" rpy="0 0 0"/>
      <geometry>
        <box size="0.084 0.036 0.042"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="strike_575_back_col">
      <origin xyz="0.618 0 0.575" rpy="0 0 0"/>
      <geometry>
        <box size="0.084 0.036 0.042"/>
      </geometry>
    </collision>
    <visual name="strike_1625_wall_n_vis">
      <origin xyz="0.585 -0.119 1.625" rpy="0 0 0"/>
      <geometry>
        <box size="0.15 0.202 0.042"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="strike_1625_wall_n_col">
      <origin xyz="0.585 -0.119 1.625" rpy="0 0 0"/>
      <geometry>
        <box size="0.15 0.202 0.042"/>
      </geometry>
    </collision>
    <visual name="strike_1625_wall_p_vis">
      <origin xyz="0.585 0.039 1.625" rpy="0 0 0"/>
      <geometry>
        <box size="0.15 0.042 0.042"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="strike_1625_wall_p_col">
      <origin xyz="0.585 0.039 1.625" rpy="0 0 0"/>
      <geometry>
        <box size="0.15 0.042 0.042"/>
      </geometry>
    </collision>
    <visual name="strike_1625_back_vis">
      <origin xyz="0.618 0 1.625" rpy="0 0 0"/>
      <geometry>
        <box size="0.084 0.036 0.042"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="strike_1625_back_col">
      <origin xyz="0.618 0 1.625" rpy="0 0 0"/>
      <geometry>
        <box size="0.084 0.036 0.042"/>
      </geometry>
    </collision>
    <visual name="jamb_strike_0_vis">
      <origin xyz="0.585 -0.08 0.277" rpy="0 0 0"/>
      <geometry>
        <box size="0.15 0.28 0.554"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_strike_0_col">
      <origin xyz="0.585 -0.08 0.277" rpy="0 0 0"/>
      <geometry>
        <box size="0.15 0.28 0.554"/>
      </geometry>
    </collision>
    <visual name="jamb_strike_1_vis">
      <origin xyz="0.585 -0.08 1.1" rpy="0 0 0"/>
      <geometry>
        <box size="0.15 0.28 1.008"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_strike_1_col">
      <origin xyz="0.585 -0.08 1.1" rpy="0 0 0"/>
      <geometry>
        <box size="0.15 0.28 1.008"/>
      </geometry>
    </collision>
    <visual name="jamb_strike_2_vis">
      <origin xyz="0.585 -0.08 1.908" rpy="0 0 0"/>
      <geometry>
        <box size="0.15 0.28 0.524"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_strike_2_col">
      <origin xyz="0.585 -0.08 1.908" rpy="0 0 0"/>
      <geometry>
        <box size="0.15 0.28 0.524"/>
      </geometry>
    </collision>
    <visual name="jamb_head_vis">
      <origin xyz="0.015 -0.08 2.23" rpy="0 0 0"/>
      <geometry>
        <box size="1.29 0.28 0.12"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_head_col">
      <origin xyz="0.015 -0.08 2.23" rpy="0 0 0"/>
      <geometry>
        <box size="1.29 0.28 0.12"/>
      </geometry>
    </collision>
    <visual name="head_stud_vis">
      <origin xyz="0.015 -0.08 2.305" rpy="0 0 0"/>
      <geometry>
        <box size="1.29 0.28 0.03"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="head_stud_col">
      <origin xyz="0.015 -0.08 2.305" rpy="0 0 0"/>
      <geometry>
        <box size="1.29 0.28 0.03"/>
      </geometry>
    </collision>
    <visual name="stop_hinge_vis">
      <origin xyz="-0.5045 -0.0565 1.085" rpy="0 0 0"/>
      <geometry>
        <box size="0.011 0.032 2.17"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="stop_hinge_col">
      <origin xyz="-0.5045 -0.0565 1.085" rpy="0 0 0"/>
      <geometry>
        <box size="0.011 0.032 2.17"/>
      </geometry>
    </collision>
    <visual name="stop_strike_vis">
      <origin xyz="0.5045 -0.0565 1.085" rpy="0 0 0"/>
      <geometry>
        <box size="0.011 0.032 2.17"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="stop_strike_col">
      <origin xyz="0.5045 -0.0565 1.085" rpy="0 0 0"/>
      <geometry>
        <box size="0.011 0.032 2.17"/>
      </geometry>
    </collision>
    <visual name="stop_head_vis">
      <origin xyz="0 -0.0565 2.1645" rpy="0 0 0"/>
      <geometry>
        <box size="1.02 0.032 0.011"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="stop_head_col">
      <origin xyz="0 -0.0565 2.1645" rpy="0 0 0"/>
      <geometry>
        <box size="1.02 0.032 0.011"/>
      </geometry>
    </collision>
    <visual name="seal_hinge_vis">
      <origin xyz="-0.507 -0.046 1.085" rpy="0 0 0"/>
      <geometry>
        <box size="0.008 0.012 2.17"/>
      </geometry>
      <material name="mat_seal"/>
    </visual>
    <visual name="seal_strike_vis">
      <origin xyz="0.507 -0.046 1.085" rpy="0 0 0"/>
      <geometry>
        <box size="0.008 0.012 2.17"/>
      </geometry>
      <material name="mat_seal"/>
    </visual>
    <visual name="seal_head_vis">
      <origin xyz="0 -0.046 2.158" rpy="0 0 0"/>
      <geometry>
        <box size="0.98 0.012 0.016"/>
      </geometry>
      <material name="mat_seal"/>
    </visual>
    <visual name="sill_step_vis">
      <origin xyz="0 0 0.02" rpy="0 0 0"/>
      <geometry>
        <box size="1.26 0.28 0.04"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="sill_step_col">
      <origin xyz="0 0 0.02" rpy="0 0 0"/>
      <geometry>
        <box size="1.26 0.28 0.04"/>
      </geometry>
    </collision>
    <visual name="hinge_0_bracket_b_vis">
      <origin xyz="-0.504 0.0925 0.18" rpy="0 0 0"/>
      <geometry>
        <box size="0.1 0.065 0.1"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="hinge_0_bracket_t_vis">
      <origin xyz="-0.504 0.0925 0.52" rpy="0 0 0"/>
      <geometry>
        <box size="0.1 0.065 0.1"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="hinge_1_bracket_b_vis">
      <origin xyz="-0.504 0.0925 1.68" rpy="0 0 0"/>
      <geometry>
        <box size="0.1 0.065 0.1"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="hinge_1_bracket_t_vis">
      <origin xyz="-0.504 0.0925 2.02" rpy="0 0 0"/>
      <geometry>
        <box size="0.1 0.065 0.1"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
  </link>
  <link name="leaf">
    <inertial>
      <origin xyz="0.474895 -0.099793 1.1" rpy="0 0 0"/>
      <mass value="770.166123"/>
      <inertia ixx="292.57350061" ixy="1.672247816" ixz="0" iyy="360.455762827" iyz="0" izz="69.393793464"/>
    </inertial>
    <visual name="leaf_slab_vis">
      <origin xyz="0.5 -0.105 1.1" rpy="0 0 0"/>
      <geometry>
        <box size="1 0.08 2.1"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <collision name="leaf_slab_col">
      <origin xyz="0.5 -0.105 1.1" rpy="0 0 0"/>
      <geometry>
        <box size="1 0.08 2.1"/>
      </geometry>
    </collision>
    <visual name="hinge_0_vis">
      <origin xyz="0 0 0.35" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.04" length="0.24"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="hinge_0_arm_vis">
      <origin xyz="0.11 -0.025 0.35" rpy="0 0 0"/>
      <geometry>
        <box size="0.22 0.08 0.1"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="hinge_1_vis">
      <origin xyz="0 0 1.85" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.04" length="0.24"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="hinge_1_arm_vis">
      <origin xyz="0.11 -0.025 1.85" rpy="0 0 0"/>
      <geometry>
        <box size="0.22 0.08 0.1"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
  </link>
  <link name="dog_0">
    <inertial>
      <origin xyz="-0.138181 -0.092433 0" rpy="0 0 0"/>
      <mass value="4.666646"/>
      <inertia ixx="0.002110864" ixy="-0.004879484" ixz="0" iyy="0.056543359" iyz="0" izz="0.05779918"/>
    </inertial>
    <visual name="dog_0_lever_vis">
      <origin xyz="0 -0.04 0" rpy="1.570796 0 0"/>
      <geometry>
        <mesh filename="../../hardware/lever_c7a1f2892f.obj"/>
      </geometry>
      <material name="mat_op_nickel_satin"/>
    </visual>
    <collision name="dog_0_lever_col_col">
      <origin xyz="-0.15 -0.1 0" rpy="0 1.570796 0"/>
      <geometry>
        <cylinder radius="0.015" length="0.28"/>
      </geometry>
    </collision>
  </link>
  <link name="bolt_0">
    <inertial>
      <origin xyz="-0.02 0 0" rpy="0 0 0"/>
      <mass value="0.942793"/>
      <inertia ixx="0.00011723" ixy="0" ixz="0" iyy="0.001823954" iyz="0" izz="0.001823954"/>
    </inertial>
    <visual name="bolt_0_geom_vis">
      <origin xyz="-0.02 0 0" rpy="0 1.570796 0"/>
      <geometry>
        <cylinder radius="0.016" length="0.128"/>
      </geometry>
      <material name="mat_vault_bolt"/>
    </visual>
    <collision name="bolt_0_geom_col">
      <origin xyz="-0.02 0 0" rpy="0 1.570796 0"/>
      <geometry>
        <cylinder radius="0.016" length="0.128"/>
      </geometry>
    </collision>
  </link>
  <link name="dog_1">
    <inertial>
      <origin xyz="-0.138181 -0.092433 0" rpy="0 0 0"/>
      <mass value="4.666646"/>
      <inertia ixx="0.002110864" ixy="-0.004879484" ixz="0" iyy="0.056543359" iyz="0" izz="0.05779918"/>
    </inertial>
    <visual name="dog_1_lever_vis">
      <origin xyz="0 -0.04 0" rpy="1.570796 0 0"/>
      <geometry>
        <mesh filename="../../hardware/lever_c7a1f2892f.obj"/>
      </geometry>
      <material name="mat_op_nickel_satin"/>
    </visual>
    <collision name="dog_1_lever_col_col">
      <origin xyz="-0.15 -0.1 0" rpy="0 1.570796 0"/>
      <geometry>
        <cylinder radius="0.015" length="0.28"/>
      </geometry>
    </collision>
  </link>
  <link name="bolt_1">
    <inertial>
      <origin xyz="-0.02 0 0" rpy="0 0 0"/>
      <mass value="0.942793"/>
      <inertia ixx="0.00011723" ixy="0" ixz="0" iyy="0.001823954" iyz="0" izz="0.001823954"/>
    </inertial>
    <visual name="bolt_1_geom_vis">
      <origin xyz="-0.02 0 0" rpy="0 1.570796 0"/>
      <geometry>
        <cylinder radius="0.016" length="0.128"/>
      </geometry>
      <material name="mat_vault_bolt"/>
    </visual>
    <collision name="bolt_1_geom_col">
      <origin xyz="-0.02 0 0" rpy="0 1.570796 0"/>
      <geometry>
        <cylinder radius="0.016" length="0.128"/>
      </geometry>
    </collision>
  </link>
  <joint name="leaf_hinge" type="revolute">
    <origin xyz="-0.504 0.105 0" rpy="0 0 0"/>
    <parent link="world_env"/>
    <child link="leaf"/>
    <axis xyz="0 0 1"/>
    <limit lower="0" upper="1.745329" effort="2000" velocity="10"/>
    <dynamics damping="0.42926" friction="17.628923"/>
    <doorbench:closer damping_closing="0" damping_opening="0" backcheck_angle="0" backcheck_damping="0"/>
  </joint>
  <joint name="dog_0_hinge" type="revolute">
    <origin xyz="0.88 -0.105 0.575" rpy="0 0 0"/>
    <parent link="leaf"/>
    <child link="dog_0"/>
    <axis xyz="0 -1 0"/>
    <limit lower="0" upper="1.5708" effort="2000" velocity="10"/>
    <dynamics damping="1" friction="6"/>
  </joint>
  <joint name="bolt_0_slide" type="prismatic">
    <origin xyz="1 -0.105 0.575" rpy="0 0 0"/>
    <parent link="leaf"/>
    <child link="bolt_0"/>
    <axis xyz="-1 0 0"/>
    <limit lower="0" upper="0.06" effort="5000" velocity="10"/>
    <dynamics damping="20" friction="25"/>
    <mimic joint="dog_0_hinge" multiplier="0.038197" offset="0"/>
  </joint>
  <joint name="dog_1_hinge" type="revolute">
    <origin xyz="0.88 -0.105 1.625" rpy="0 0 0"/>
    <parent link="leaf"/>
    <child link="dog_1"/>
    <axis xyz="0 -1 0"/>
    <limit lower="0" upper="1.5708" effort="2000" velocity="10"/>
    <dynamics damping="1" friction="6"/>
  </joint>
  <joint name="bolt_1_slide" type="prismatic">
    <origin xyz="1 -0.105 1.625" rpy="0 0 0"/>
    <parent link="leaf"/>
    <child link="bolt_1"/>
    <axis xyz="-1 0 0"/>
    <limit lower="0" upper="0.06" effort="5000" velocity="10"/>
    <dynamics damping="20" friction="25"/>
    <mimic joint="dog_1_hinge" multiplier="0.038197" offset="0"/>
  </joint>
  <material name="mat_floor">
    <color rgba="0.55 0.53 0.5 1"/>
  </material>
  <material name="mat_frame">
    <color rgba="0.55 0.56 0.58 1"/>
  </material>
  <material name="mat_hinge">
    <color rgba="0.55 0.56 0.58 1"/>
  </material>
  <material name="mat_leaf">
    <color rgba="0.82 0.75 0.62 1"/>
  </material>
  <material name="mat_op_nickel_satin">
    <color rgba="0.72 0.7 0.66 1"/>
  </material>
  <material name="mat_seal">
    <color rgba="0.1 0.1 0.1 1"/>
  </material>
  <material name="mat_vault_bolt">
    <color rgba="0.75 0.76 0.77 1"/>
  </material>
  <material name="mat_wall">
    <color rgba="0.78 0.76 0.7 1"/>
  </material>
</robot>
