<?xml version="1.0" ?>
<robot xmlns:doorbench="https://github.com/adamraudonis/DoorBench/schema/urdf-ext" name="db0350_strip_curtain_simple">
  <link name="world_env">
    <visual name="floor_vis">
      <origin xyz="0 0 -0.05" rpy="0 0 0"/>
      <geometry>
        <box size="12 12 0.1"/>
      </geometry>
      <material name="mat_floor"/>
    </visual>
    <collision name="floor_col">
      <origin xyz="0 0 -0.05" rpy="0 0 0"/>
      <geometry>
        <box size="12 12 0.1"/>
      </geometry>
    </collision>
    <visual name="wall_left_vis">
      <origin xyz="-1.555 0 1.81" rpy="0 0 0"/>
      <geometry>
        <box size="1.89 0.2 3.62"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_left_col">
      <origin xyz="-1.555 0 1.81" rpy="0 0 0"/>
      <geometry>
        <box size="1.89 0.2 3.62"/>
      </geometry>
    </collision>
    <visual name="wall_right_vis">
      <origin xyz="1.555 0 1.81" rpy="0 0 0"/>
      <geometry>
        <box size="1.89 0.2 3.62"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_right_col">
      <origin xyz="1.555 0 1.81" rpy="0 0 0"/>
      <geometry>
        <box size="1.89 0.2 3.62"/>
      </geometry>
    </collision>
    <visual name="wall_header_vis">
      <origin xyz="0 0 3.32" rpy="0 0 0"/>
      <geometry>
        <box size="1.22 0.2 0.6"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_header_col">
      <origin xyz="0 0 3.32" rpy="0 0 0"/>
      <geometry>
        <box size="1.22 0.2 0.6"/>
      </geometry>
    </collision>
    <visual name="hanger_rail_vis">
      <origin xyz="0 0 3.05" rpy="0 0 0"/>
      <geometry>
        <box size="1.32 0.06 0.06"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="hanger_rail_col">
      <origin xyz="0 0 3.05" rpy="0 0 0"/>
      <geometry>
        <box size="1.32 0.06 0.06"/>
      </geometry>
    </collision>
    <visual name="strip_0_hanger_vis">
      <origin xyz="-0.5 -0.01 3.0275" rpy="0 0 0"/>
      <geometry>
        <box size="0.2 0.012 0.029"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <visual name="strip_1_hanger_vis">
      <origin xyz="-0.441176 0.004 3.0275" rpy="0 0 0"/>
      <geometry>
        <box size="0.2 0.012 0.029"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <visual name="strip_2_hanger_vis">
      <origin xyz="-0.382353 0.002 3.0275" rpy="0 0 0"/>
      <geometry>
        <box size="0.2 0.012 0.029"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <visual name="strip_3_hanger_vis">
      <origin xyz="-0.323529 -0.002 3.0275" rpy="0 0 0"/>
      <geometry>
        <box size="0.2 0.012 0.029"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <visual name="strip_4_hanger_vis">
      <origin xyz="-0.264706 -0.004 3.0275" rpy="0 0 0"/>
      <geometry>
        <box size="0.2 0.012 0.029"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <visual name="strip_5_hanger_vis">
      <origin xyz="-0.205882 0.01 3.0275" rpy="0 0 0"/>
      <geometry>
        <box size="0.2 0.012 0.029"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <visual name="strip_6_hanger_vis">
      <origin xyz="-0.147059 -0.01 3.0275" rpy="0 0 0"/>
      <geometry>
        <box size="0.2 0.012 0.029"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <visual name="strip_7_hanger_vis">
      <origin xyz="-0.088235 0.004 3.0275" rpy="0 0 0"/>
      <geometry>
        <box size="0.2 0.012 0.029"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <visual name="strip_8_hanger_vis">
      <origin xyz="-0.029412 0.002 3.0275" rpy="0 0 0"/>
      <geometry>
        <box size="0.2 0.012 0.029"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <visual name="strip_9_hanger_vis">
      <origin xyz="0.029412 -0.002 3.0275" rpy="0 0 0"/>
      <geometry>
        <box size="0.2 0.012 0.029"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <visual name="strip_10_hanger_vis">
      <origin xyz="0.088235 -0.004 3.0275" rpy="0 0 0"/>
      <geometry>
        <box size="0.2 0.012 0.029"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <visual name="strip_11_hanger_vis">
      <origin xyz="0.147059 0.01 3.0275" rpy="0 0 0"/>
      <geometry>
        <box size="0.2 0.012 0.029"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <visual name="strip_12_hanger_vis">
      <origin xyz="0.205882 -0.01 3.0275" rpy="0 0 0"/>
      <geometry>
        <box size="0.2 0.012 0.029"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <visual name="strip_13_hanger_vis">
      <origin xyz="0.264706 0.004 3.0275" rpy="0 0 0"/>
      <geometry>
        <box size="0.2 0.012 0.029"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <visual name="strip_14_hanger_vis">
      <origin xyz="0.323529 0.002 3.0275" rpy="0 0 0"/>
      <geometry>
        <box size="0.2 0.012 0.029"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <visual name="strip_15_hanger_vis">
      <origin xyz="0.382353 -0.002 3.0275" rpy="0 0 0"/>
      <geometry>
        <box size="0.2 0.012 0.029"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <visual name="strip_16_hanger_vis">
      <origin xyz="0.441176 -0.004 3.0275" rpy="0 0 0"/>
      <geometry>
        <box size="0.2 0.012 0.029"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <visual name="strip_17_hanger_vis">
      <origin xyz="0.5 0.01 3.0275" rpy="0 0 0"/>
      <geometry>
        <box size="0.2 0.012 0.029"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
  </link>
  <link name="strip_0">
    <inertial>
      <origin xyz="0 0 -1.49" rpy="0 0 0"/>
      <mass value="3.041111"/>
      <inertia ixx="2.250527647" ixy="0" ixz="0" iyy="2.26066063" iyz="0" izz="0.010141092"/>
    </inertial>
    <visual name="strip_0_geom_vis">
      <origin xyz="0 0 -1.49" rpy="0 0 0"/>
      <geometry>
        <box size="0.2 0.004 2.98"/>
      </geometry>
      <material name="mat_strip"/>
    </visual>
    <collision name="strip_0_geom_col">
      <origin xyz="0 0 -1.49" rpy="0 0 0"/>
      <geometry>
        <box size="0.2 0.004 2.98"/>
      </geometry>
    </collision>
  </link>
  <link name="strip_1">
    <inertial>
      <origin xyz="0 0 -1.49" rpy="0 0 0"/>
      <mass value="3.041111"/>
      <inertia ixx="2.250527647" ixy="0" ixz="0" iyy="2.26066063" iyz="0" izz="0.010141092"/>
    </inertial>
    <visual name="strip_1_geom_vis">
      <origin xyz="0 0 -1.49" rpy="0 0 0"/>
      <geometry>
        <box size="0.2 0.004 2.98"/>
      </geometry>
      <material name="mat_strip"/>
    </visual>
    <collision name="strip_1_geom_col">
      <origin xyz="0 0 -1.49" rpy="0 0 0"/>
      <geometry>
        <box size="0.2 0.004 2.98"/>
      </geometry>
    </collision>
  </link>
  <link name="strip_2">
    <inertial>
      <origin xyz="0 0 -1.49" rpy="0 0 0"/>
      <mass value="3.041111"/>
      <inertia ixx="2.250527647" ixy="0" ixz="0" iyy="2.26066063" iyz="0" izz="0.010141092"/>
    </inertial>
    <visual name="strip_2_geom_vis">
      <origin xyz="0 0 -1.49" rpy="0 0 0"/>
      <geometry>
        <box size="0.2 0.004 2.98"/>
      </geometry>
      <material name="mat_strip"/>
    </visual>
    <collision name="strip_2_geom_col">
      <origin xyz="0 0 -1.49" rpy="0 0 0"/>
      <geometry>
        <box size="0.2 0.004 2.98"/>
      </geometry>
    </collision>
  </link>
  <link name="strip_3">
    <inertial>
      <origin xyz="0 0 -1.49" rpy="0 0 0"/>
      <mass value="3.041111"/>
      <inertia ixx="2.250527647" ixy="0" ixz="0" iyy="2.26066063" iyz="0" izz="0.010141092"/>
    </inertial>
    <visual name="strip_3_geom_vis">
      <origin xyz="0 0 -1.49" rpy="0 0 0"/>
      <geometry>
        <box size="0.2 0.004 2.98"/>
      </geometry>
      <material name="mat_strip"/>
    </visual>
    <collision name="strip_3_geom_col">
      <origin xyz="0 0 -1.49" rpy="0 0 0"/>
      <geometry>
        <box size="0.2 0.004 2.98"/>
      </geometry>
    </collision>
  </link>
  <link name="strip_4">
    <inertial>
      <origin xyz="0 0 -1.49" rpy="0 0 0"/>
      <mass value="3.041111"/>
      <inertia ixx="2.250527647" ixy="0" ixz="0" iyy="2.26066063" iyz="0" izz="0.010141092"/>
    </inertial>
    <visual name="strip_4_geom_vis">
      <origin xyz="0 0 -1.49" rpy="0 0 0"/>
      <geometry>
        <box size="0.2 0.004 2.98"/>
      </geometry>
      <material name="mat_strip"/>
    </visual>
    <collision name="strip_4_geom_col">
      <origin xyz="0 0 -1.49" rpy="0 0 0"/>
      <geometry>
        <box size="0.2 0.004 2.98"/>
      </geometry>
    </collision>
  </link>
  <link name="strip_5">
    <inertial>
      <origin xyz="0 0 -1.49" rpy="0 0 0"/>
      <mass value="3.041111"/>
      <inertia ixx="2.250527647" ixy="0" ixz="0" iyy="2.26066063" iyz="0" izz="0.010141092"/>
    </inertial>
    <visual name="strip_5_geom_vis">
      <origin xyz="0 0 -1.49" rpy="0 0 0"/>
      <geometry>
        <box size="0.2 0.004 2.98"/>
      </geometry>
      <material name="mat_strip"/>
    </visual>
    <collision name="strip_5_geom_col">
      <origin xyz="0 0 -1.49" rpy="0 0 0"/>
      <geometry>
        <box size="0.2 0.004 2.98"/>
      </geometry>
    </collision>
  </link>
  <link name="strip_6">
    <inertial>
      <origin xyz="0 0 -1.49" rpy="0 0 0"/>
      <mass value="3.041111"/>
      <inertia ixx="2.250527647" ixy="0" ixz="0" iyy="2.26066063" iyz="0" izz="0.010141092"/>
    </inertial>
    <visual name="strip_6_geom_vis">
      <origin xyz="0 0 -1.49" rpy="0 0 0"/>
      <geometry>
        <box size="0.2 0.004 2.98"/>
      </geometry>
      <material name="mat_strip"/>
    </visual>
    <collision name="strip_6_geom_col">
      <origin xyz="0 0 -1.49" rpy="0 0 0"/>
      <geometry>
        <box size="0.2 0.004 2.98"/>
      </geometry>
    </collision>
  </link>
  <link name="strip_7">
    <inertial>
      <origin xyz="0 0 -1.49" rpy="0 0 0"/>
      <mass value="3.041111"/>
      <inertia ixx="2.250527647" ixy="0" ixz="0" iyy="2.26066063" iyz="0" izz="0.010141092"/>
    </inertial>
    <visual name="strip_7_geom_vis">
      <origin xyz="0 0 -1.49" rpy="0 0 0"/>
      <geometry>
        <box size="0.2 0.004 2.98"/>
      </geometry>
      <material name="mat_strip"/>
    </visual>
    <collision name="strip_7_geom_col">
      <origin xyz="0 0 -1.49" rpy="0 0 0"/>
      <geometry>
        <box size="0.2 0.004 2.98"/>
      </geometry>
    </collision>
  </link>
  <link name="strip_8">
    <inertial>
      <origin xyz="0 0 -1.49" rpy="0 0 0"/>
      <mass value="3.041111"/>
      <inertia ixx="2.250527647" ixy="0" ixz="0" iyy="2.26066063" iyz="0" izz="0.010141092"/>
    </inertial>
    <visual name="strip_8_geom_vis">
      <origin xyz="0 0 -1.49" rpy="0 0 0"/>
      <geometry>
        <box size="0.2 0.004 2.98"/>
      </geometry>
      <material name="mat_strip"/>
    </visual>
    <collision name="strip_8_geom_col">
      <origin xyz="0 0 -1.49" rpy="0 0 0"/>
      <geometry>
        <box size="0.2 0.004 2.98"/>
      </geometry>
    </collision>
  </link>
  <link name="strip_9">
    <inertial>
      <origin xyz="0 0 -1.49" rpy="0 0 0"/>
      <mass value="3.041111"/>
      <inertia ixx="2.250527647" ixy="0" ixz="0" iyy="2.26066063" iyz="0" izz="0.010141092"/>
    </inertial>
    <visual name="strip_9_geom_vis">
      <origin xyz="0 0 -1.49" rpy="0 0 0"/>
      <geometry>
        <box size="0.2 0.004 2.98"/>
      </geometry>
      <material name="mat_strip"/>
    </visual>
    <collision name="strip_9_geom_col">
      <origin xyz="0 0 -1.49" rpy="0 0 0"/>
      <geometry>
        <box size="0.2 0.004 2.98"/>
      </geometry>
    </collision>
  </link>
  <link name="strip_10">
    <inertial>
      <origin xyz="0 0 -1.49" rpy="0 0 0"/>
      <mass value="3.041111"/>
      <inertia ixx="2.250527647" ixy="0" ixz="0" iyy="2.26066063" iyz="0" izz="0.010141092"/>
    </inertial>
    <visual name="strip_10_geom_vis">
      <origin xyz="0 0 -1.49" rpy="0 0 0"/>
      <geometry>
        <box size="0.2 0.004 2.98"/>
      </geometry>
      <material name="mat_strip"/>
    </visual>
    <collision name="strip_10_geom_col">
      <origin xyz="0 0 -1.49" rpy="0 0 0"/>
      <geometry>
        <box size="0.2 0.004 2.98"/>
      </geometry>
    </collision>
  </link>
  <link name="strip_11">
    <inertial>
      <origin xyz="0 0 -1.49" rpy="0 0 0"/>
      <mass value="3.041111"/>
      <inertia ixx="2.250527647" ixy="0" ixz="0" iyy="2.26066063" iyz="0" izz="0.010141092"/>
    </inertial>
    <visual name="strip_11_geom_vis">
      <origin xyz="0 0 -1.49" rpy="0 0 0"/>
      <geometry>
        <box size="0.2 0.004 2.98"/>
      </geometry>
      <material name="mat_strip"/>
    </visual>
    <collision name="strip_11_geom_col">
      <origin xyz="0 0 -1.49" rpy="0 0 0"/>
      <geometry>
        <box size="0.2 0.004 2.98"/>
      </geometry>
    </collision>
  </link>
  <link name="strip_12">
    <inertial>
      <origin xyz="0 0 -1.49" rpy="0 0 0"/>
      <mass value="3.041111"/>
      <inertia ixx="2.250527647" ixy="0" ixz="0" iyy="2.26066063" iyz="0" izz="0.010141092"/>
    </inertial>
    <visual name="strip_12_geom_vis">
      <origin xyz="0 0 -1.49" rpy="0 0 0"/>
      <geometry>
        <box size="0.2 0.004 2.98"/>
      </geometry>
      <material name="mat_strip"/>
    </visual>
    <collision name="strip_12_geom_col">
      <origin xyz="0 0 -1.49" rpy="0 0 0"/>
      <geometry>
        <box size="0.2 0.004 2.98"/>
      </geometry>
    </collision>
  </link>
  <link name="strip_13">
    <inertial>
      <origin xyz="0 0 -1.49" rpy="0 0 0"/>
      <mass value="3.041111"/>
      <inertia ixx="2.250527647" ixy="0" ixz="0" iyy="2.26066063" iyz="0" izz="0.010141092"/>
    </inertial>
    <visual name="strip_13_geom_vis">
      <origin xyz="0 0 -1.49" rpy="0 0 0"/>
      <geometry>
        <box size="0.2 0.004 2.98"/>
      </geometry>
      <material name="mat_strip"/>
    </visual>
    <collision name="strip_13_geom_col">
      <origin xyz="0 0 -1.49" rpy="0 0 0"/>
      <geometry>
        <box size="0.2 0.004 2.98"/>
      </geometry>
    </collision>
  </link>
  <link name="strip_14">
    <inertial>
      <origin xyz="0 0 -1.49" rpy="0 0 0"/>
      <mass value="3.041111"/>
      <inertia ixx="2.250527647" ixy="0" ixz="0" iyy="2.26066063" iyz="0" izz="0.010141092"/>
    </inertial>
    <visual name="strip_14_geom_vis">
      <origin xyz="0 0 -1.49" rpy="0 0 0"/>
      <geometry>
        <box size="0.2 0.004 2.98"/>
      </geometry>
      <material name="mat_strip"/>
    </visual>
    <collision name="strip_14_geom_col">
      <origin xyz="0 0 -1.49" rpy="0 0 0"/>
      <geometry>
        <box size="0.2 0.004 2.98"/>
      </geometry>
    </collision>
  </link>
  <link name="strip_15">
    <inertial>
      <origin xyz="0 0 -1.49" rpy="0 0 0"/>
      <mass value="3.041111"/>
      <inertia ixx="2.250527647" ixy="0" ixz="0" iyy="2.26066063" iyz="0" izz="0.010141092"/>
    </inertial>
    <visual name="strip_15_geom_vis">
      <origin xyz="0 0 -1.49" rpy="0 0 0"/>
      <geometry>
        <box size="0.2 0.004 2.98"/>
      </geometry>
      <material name="mat_strip"/>
    </visual>
    <collision name="strip_15_geom_col">
      <origin xyz="0 0 -1.49" rpy="0 0 0"/>
      <geometry>
        <box size="0.2 0.004 2.98"/>
      </geometry>
    </collision>
  </link>
  <link name="strip_16">
    <inertial>
      <origin xyz="0 0 -1.49" rpy="0 0 0"/>
      <mass value="3.041111"/>
      <inertia ixx="2.250527647" ixy="0" ixz="0" iyy="2.26066063" iyz="0" izz="0.010141092"/>
    </inertial>
    <visual name="strip_16_geom_vis">
      <origin xyz="0 0 -1.49" rpy="0 0 0"/>
      <geometry>
        <box size="0.2 0.004 2.98"/>
      </geometry>
      <material name="mat_strip"/>
    </visual>
    <collision name="strip_16_geom_col">
      <origin xyz="0 0 -1.49" rpy="0 0 0"/>
      <geometry>
        <box size="0.2 0.004 2.98"/>
      </geometry>
    </collision>
  </link>
  <link name="strip_17">
    <inertial>
      <origin xyz="0 0 -1.49" rpy="0 0 0"/>
      <mass value="3.041111"/>
      <inertia ixx="2.250527647" ixy="0" ixz="0" iyy="2.26066063" iyz="0" izz="0.010141092"/>
    </inertial>
    <visual name="strip_17_geom_vis">
      <origin xyz="0 0 -1.49" rpy="0 0 0"/>
      <geometry>
        <box size="0.2 0.004 2.98"/>
      </geometry>
      <material name="mat_strip"/>
    </visual>
    <collision name="strip_17_geom_col">
      <origin xyz="0 0 -1.49" rpy="0 0 0"/>
      <geometry>
        <box size="0.2 0.004 2.98"/>
      </geometry>
    </collision>
  </link>
  <joint name="strip_0_hinge" type="revolute">
    <origin xyz="-0.5 -0.01 3.014" rpy="0 0 0"/>
    <parent link="world_env"/>
    <child link="strip_0"/>
    <axis xyz="1 0 0"/>
    <limit lower="-1.48353" upper="1.48353" effort="2000" velocity="10"/>
    <dynamics damping="0.05" friction="0.02"/>
  </joint>
  <joint name="strip_1_hinge" type="revolute">
    <origin xyz="-0.441176 0.004 3.014" rpy="0 0 0"/>
    <parent link="world_env"/>
    <child link="strip_1"/>
    <axis xyz="1 0 0"/>
    <limit lower="-1.48353" upper="1.48353" effort="2000" velocity="10"/>
    <dynamics damping="0.05" friction="0.02"/>
  </joint>
  <joint name="strip_2_hinge" type="revolute">
    <origin xyz="-0.382353 0.002 3.014" rpy="0 0 0"/>
    <parent link="world_env"/>
    <child link="strip_2"/>
    <axis xyz="1 0 0"/>
    <limit lower="-1.48353" upper="1.48353" effort="2000" velocity="10"/>
    <dynamics damping="0.05" friction="0.02"/>
  </joint>
  <joint name="strip_3_hinge" type="revolute">
    <origin xyz="-0.323529 -0.002 3.014" rpy="0 0 0"/>
    <parent link="world_env"/>
    <child link="strip_3"/>
    <axis xyz="1 0 0"/>
    <limit lower="-1.48353" upper="1.48353" effort="2000" velocity="10"/>
    <dynamics damping="0.05" friction="0.02"/>
  </joint>
  <joint name="strip_4_hinge" type="revolute">
    <origin xyz="-0.264706 -0.004 3.014" rpy="0 0 0"/>
    <parent link="world_env"/>
    <child link="strip_4"/>
    <axis xyz="1 0 0"/>
    <limit lower="-1.48353" upper="1.48353" effort="2000" velocity="10"/>
    <dynamics damping="0.05" friction="0.02"/>
  </joint>
  <joint name="strip_5_hinge" type="revolute">
    <origin xyz="-0.205882 0.01 3.014" rpy="0 0 0"/>
    <parent link="world_env"/>
    <child link="strip_5"/>
    <axis xyz="1 0 0"/>
    <limit lower="-1.48353" upper="1.48353" effort="2000" velocity="10"/>
    <dynamics damping="0.05" friction="0.02"/>
  </joint>
  <joint name="strip_6_hinge" type="revolute">
    <origin xyz="-0.147059 -0.01 3.014" rpy="0 0 0"/>
    <parent link="world_env"/>
    <child link="strip_6"/>
    <axis xyz="1 0 0"/>
    <limit lower="-1.48353" upper="1.48353" effort="2000" velocity="10"/>
    <dynamics damping="0.05" friction="0.02"/>
  </joint>
  <joint name="strip_7_hinge" type="revolute">
    <origin xyz="-0.088235 0.004 3.014" rpy="0 0 0"/>
    <parent link="world_env"/>
    <child link="strip_7"/>
    <axis xyz="1 0 0"/>
    <limit lower="-1.48353" upper="1.48353" effort="2000" velocity="10"/>
    <dynamics damping="0.05" friction="0.02"/>
  </joint>
  <joint name="strip_8_hinge" type="revolute">
    <origin xyz="-0.029412 0.002 3.014" rpy="0 0 0"/>
    <parent link="world_env"/>
    <child link="strip_8"/>
    <axis xyz="1 0 0"/>
    <limit lower="-1.48353" upper="1.48353" effort="2000" velocity="10"/>
    <dynamics damping="0.05" friction="0.02"/>
  </joint>
  <joint name="strip_9_hinge" type="revolute">
    <origin xyz="0.029412 -0.002 3.014" rpy="0 0 0"/>
    <parent link="world_env"/>
    <child link="strip_9"/>
    <axis xyz="1 0 0"/>
    <limit lower="-1.48353" upper="1.48353" effort="2000" velocity="10"/>
    <dynamics damping="0.05" friction="0.02"/>
  </joint>
  <joint name="strip_10_hinge" type="revolute">
    <origin xyz="0.088235 -0.004 3.014" rpy="0 0 0"/>
    <parent link="world_env"/>
    <child link="strip_10"/>
    <axis xyz="1 0 0"/>
    <limit lower="-1.48353" upper="1.48353" effort="2000" velocity="10"/>
    <dynamics damping="0.05" friction="0.02"/>
  </joint>
  <joint name="strip_11_hinge" type="revolute">
    <origin xyz="0.147059 0.01 3.014" rpy="0 0 0"/>
    <parent link="world_env"/>
    <child link="strip_11"/>
    <axis xyz="1 0 0"/>
    <limit lower="-1.48353" upper="1.48353" effort="2000" velocity="10"/>
    <dynamics damping="0.05" friction="0.02"/>
  </joint>
  <joint name="strip_12_hinge" type="revolute">
    <origin xyz="0.205882 -0.01 3.014" rpy="0 0 0"/>
    <parent link="world_env"/>
    <child link="strip_12"/>
    <axis xyz="1 0 0"/>
    <limit lower="-1.48353" upper="1.48353" effort="2000" velocity="10"/>
    <dynamics damping="0.05" friction="0.02"/>
  </joint>
  <joint name="strip_13_hinge" type="revolute">
    <origin xyz="0.264706 0.004 3.014" rpy="0 0 0"/>
    <parent link="world_env"/>
    <child link="strip_13"/>
    <axis xyz="1 0 0"/>
    <limit lower="-1.48353" upper="1.48353" effort="2000" velocity="10"/>
    <dynamics damping="0.05" friction="0.02"/>
  </joint>
  <joint name="strip_14_hinge" type="revolute">
    <origin xyz="0.323529 0.002 3.014" rpy="0 0 0"/>
    <parent link="world_env"/>
    <child link="strip_14"/>
    <axis xyz="1 0 0"/>
    <limit lower="-1.48353" upper="1.48353" effort="2000" velocity="10"/>
    <dynamics damping="0.05" friction="0.02"/>
  </joint>
  <joint name="strip_15_hinge" type="revolute">
    <origin xyz="0.382353 -0.002 3.014" rpy="0 0 0"/>
    <parent link="world_env"/>
    <child link="strip_15"/>
    <axis xyz="1 0 0"/>
    <limit lower="-1.48353" upper="1.48353" effort="2000" velocity="10"/>
    <dynamics damping="0.05" friction="0.02"/>
  </joint>
  <joint name="strip_16_hinge" type="revolute">
    <origin xyz="0.441176 -0.004 3.014" rpy="0 0 0"/>
    <parent link="world_env"/>
    <child link="strip_16"/>
    <axis xyz="1 0 0"/>
    <limit lower="-1.48353" upper="1.48353" effort="2000" velocity="10"/>
    <dynamics damping="0.05" friction="0.02"/>
  </joint>
  <joint name="strip_17_hinge" type="revolute">
    <origin xyz="0.5 0.01 3.014" rpy="0 0 0"/>
    <parent link="world_env"/>
    <child link="strip_17"/>
    <axis xyz="1 0 0"/>
    <limit lower="-1.48353" upper="1.48353" effort="2000" velocity="10"/>
    <dynamics damping="0.05" friction="0.02"/>
  </joint>
  <material name="mat_floor">
    <color rgba="0.55 0.53 0.5 1"/>
  </material>
  <material name="mat_frame">
    <color rgba="0.75 0.76 0.77 1"/>
  </material>
  <material name="mat_strip">
    <color rgba="0.85 0.9 0.95 0.45"/>
  </material>
  <material name="mat_wall">
    <color rgba="0.78 0.76 0.7 1"/>
  </material>
</robot>
