<?xml version="1.0" ?>
<robot xmlns:doorbench="https://github.com/adamraudonis/DoorBench/schema/urdf-ext" name="db0769_sliding_single_simple">
  <link name="world_env">
    <visual name="floor_vis">
      <origin xyz="0 0 -0.05" rpy="0 0 0"/>
      <geometry>
        <box size="12 12 0.1"/>
      </geometry>
      <material name="mat_floor"/>
    </visual>
    <collision name="floor_col">
      <origin xyz="0 0 -0.05" rpy="0 0 0"/>
      <geometry>
        <box size="12 12 0.1"/>
      </geometry>
    </collision>
    <visual name="wall_left_vis">
      <origin xyz="-1.53125 0 1.51" rpy="0 0 0"/>
      <geometry>
        <box size="1.9375 0.145 3.02"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_left_col">
      <origin xyz="-1.53125 0 1.51" rpy="0 0 0"/>
      <geometry>
        <box size="1.9375 0.145 3.02"/>
      </geometry>
    </collision>
    <visual name="wall_right_vis">
      <origin xyz="1.56125 0 1.51" rpy="0 0 0"/>
      <geometry>
        <box size="1.8775 0.145 3.02"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_right_col">
      <origin xyz="1.56125 0 1.51" rpy="0 0 0"/>
      <geometry>
        <box size="1.8775 0.145 3.02"/>
      </geometry>
    </collision>
    <visual name="wall_header_vis">
      <origin xyz="0.03 0 2.7295" rpy="0 0 0"/>
      <geometry>
        <box size="1.185 0.145 0.581"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_header_col">
      <origin xyz="0.03 0 2.7295" rpy="0 0 0"/>
      <geometry>
        <box size="1.185 0.145 0.581"/>
      </geometry>
    </collision>
    <visual name="jamb_l_vis">
      <origin xyz="-0.553 0 1.21" rpy="0 0 0"/>
      <geometry>
        <box size="0.019 0.145 2.42"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_l_col">
      <origin xyz="-0.553 0 1.21" rpy="0 0 0"/>
      <geometry>
        <box size="0.019 0.145 2.42"/>
      </geometry>
    </collision>
    <visual name="jamb_head_vis">
      <origin xyz="0 0 2.4295" rpy="0 0 0"/>
      <geometry>
        <box size="1.125 0.145 0.019"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_head_col">
      <origin xyz="0 0 2.4295" rpy="0 0 0"/>
      <geometry>
        <box size="1.125 0.145 0.019"/>
      </geometry>
    </collision>
    <visual name="flat_track_vis">
      <origin xyz="0 -0.0945 2.54" rpy="0 0 0"/>
      <geometry>
        <box size="2.234 0.008 0.04"/>
      </geometry>
      <material name="mat_track"/>
    </visual>
    <collision name="flat_track_col">
      <origin xyz="0 -0.0945 2.54" rpy="0 0 0"/>
      <geometry>
        <box size="2.234 0.008 0.04"/>
      </geometry>
    </collision>
    <visual name="jamb_latch_0_vis">
      <origin xyz="0.583 0 1.21" rpy="0 0 0"/>
      <geometry>
        <box size="0.079 0.145 2.42"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_latch_0_col">
      <origin xyz="0.583 0 1.21" rpy="0 0 0"/>
      <geometry>
        <box size="0.079 0.145 2.42"/>
      </geometry>
    </collision>
    <visual name="floor_guide_n_vis">
      <origin xyz="-0.5935 -0.1525 0.02" rpy="0 0 0"/>
      <geometry>
        <box size="0.06 0.008 0.04"/>
      </geometry>
      <material name="mat_track"/>
    </visual>
    <collision name="floor_guide_n_col">
      <origin xyz="-0.5935 -0.1525 0.02" rpy="0 0 0"/>
      <geometry>
        <box size="0.06 0.008 0.04"/>
      </geometry>
    </collision>
    <visual name="floor_guide_p_vis">
      <origin xyz="-0.5935 -0.0765 0.02" rpy="0 0 0"/>
      <geometry>
        <box size="0.06 0.008 0.04"/>
      </geometry>
      <material name="mat_track"/>
    </visual>
    <collision name="floor_guide_p_col">
      <origin xyz="-0.5935 -0.0765 0.02" rpy="0 0 0"/>
      <geometry>
        <box size="0.06 0.008 0.04"/>
      </geometry>
    </collision>
  </link>
  <link name="leaf">
    <inertial>
      <origin xyz="0.003794 -0.000656 1.281773" rpy="0 0 0"/>
      <mass value="57.755442"/>
      <inertia ixx="31.121687141" ixy="0.012814677" ixz="0.061076689" iyy="36.882741176" iyz="0.001711247" izz="5.782477869"/>
    </inertial>
    <visual name="leaf_slab_vis">
      <origin xyz="0 0 1.212" rpy="0 0 0"/>
      <geometry>
        <box size="1.067 0.044 2.4"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <collision name="leaf_slab_col">
      <origin xyz="0 0 1.212" rpy="0 0 0"/>
      <geometry>
        <box size="1.067 0.044 2.4"/>
      </geometry>
    </collision>
    <visual name="leaf_batten_13_vis">
      <origin xyz="0 -0.032 0.132" rpy="0 0 0"/>
      <geometry>
        <box size="1.007 0.02 0.09"/>
      </geometry>
      <material name="mat_leaf_brace"/>
    </visual>
    <visual name="leaf_batten_229_vis">
      <origin xyz="0 -0.032 2.292" rpy="0 0 0"/>
      <geometry>
        <box size="1.007 0.02 0.09"/>
      </geometry>
      <material name="mat_leaf_brace"/>
    </visual>
    <visual name="leaf_brace_z_vis">
      <origin xyz="0 -0.032 1.212" rpy="0 -1.130038 0"/>
      <geometry>
        <box size="2.266625 0.02 0.09"/>
      </geometry>
      <material name="mat_leaf_brace"/>
    </visual>
    <visual name="leaf_hanger_wheel_0_vis">
      <origin xyz="-0.4135 0 2.532" rpy="-1.570796 0 0"/>
      <geometry>
        <cylinder radius="0.05" length="0.02"/>
      </geometry>
      <material name="mat_roller"/>
    </visual>
    <visual name="leaf_hanger_strap_0_vis">
      <origin xyz="-0.4135 -0.012 2.462" rpy="0 0 0"/>
      <geometry>
        <box size="0.04 0.008 0.14"/>
      </geometry>
      <material name="mat_roller"/>
    </visual>
    <visual name="leaf_hanger_wheel_1_vis">
      <origin xyz="0.4135 0 2.532" rpy="-1.570796 0 0"/>
      <geometry>
        <cylinder radius="0.05" length="0.02"/>
      </geometry>
      <material name="mat_roller"/>
    </visual>
    <visual name="leaf_hanger_strap_1_vis">
      <origin xyz="0.4135 -0.012 2.462" rpy="0 0 0"/>
      <geometry>
        <box size="0.04 0.008 0.14"/>
      </geometry>
      <material name="mat_roller"/>
    </visual>
    <visual name="leaf_pull_n_vis">
      <origin xyz="0.4435 -0.022 1" rpy="1.570796 0 0"/>
      <geometry>
        <mesh filename="../../hardware/pull_2b47e55ff8.obj"/>
      </geometry>
      <material name="mat_op_black_matte_metal"/>
    </visual>
    <collision name="leaf_pull_col_n_col">
      <origin xyz="0.4435 -0.067 1" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.006" length="0.26"/>
      </geometry>
    </collision>
  </link>
  <joint name="leaf_slide" type="prismatic">
    <origin xyz="0 -0.1145 0" rpy="0 0 0"/>
    <parent link="world_env"/>
    <child link="leaf"/>
    <axis xyz="-1 0 0"/>
    <limit lower="0" upper="1.067" effort="5000" velocity="10"/>
    <dynamics damping="4.739205" friction="83.810759"/>
  </joint>
  <material name="mat_floor">
    <color rgba="0.55 0.53 0.5 1"/>
  </material>
  <material name="mat_frame">
    <color rgba="0.82 0.7 0.5 1"/>
  </material>
  <material name="mat_leaf">
    <color rgba="0.5 0.46 0.425 1"/>
  </material>
  <material name="mat_leaf_brace">
    <color rgba="0.45 0.414 0.383 1"/>
  </material>
  <material name="mat_op_black_matte_metal">
    <color rgba="0.05 0.05 0.05 1"/>
  </material>
  <material name="mat_roller">
    <color rgba="0.65 0.66 0.68 1"/>
  </material>
  <material name="mat_track">
    <color rgba="0.05 0.05 0.05 1"/>
  </material>
  <material name="mat_wall">
    <color rgba="0.78 0.76 0.7 1"/>
  </material>
</robot>
