<?xml version="1.0" ?>
<robot xmlns:doorbench="https://github.com/adamraudonis/DoorBench/schema/urdf-ext" name="db0776_gate_swing_minimal">
  <link name="world_env">
    <visual name="floor_vis">
      <origin xyz="0 0 -0.05" rpy="0 0 0"/>
      <geometry>
        <box size="12 12 0.1"/>
      </geometry>
      <material name="mat_floor"/>
    </visual>
    <collision name="floor_col">
      <origin xyz="0 0 -0.05" rpy="0 0 0"/>
      <geometry>
        <box size="12 12 0.1"/>
      </geometry>
    </collision>
    <visual name="post_hinge_vis">
      <origin xyz="-1.256 0 0.675" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.05" length="1.35"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="post_hinge_col">
      <origin xyz="-1.256 0 0.675" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.05" length="1.35"/>
      </geometry>
    </collision>
    <visual name="post_latch_vis">
      <origin xyz="1.256 0 0.675" rpy="0 0 0"/>
      <geometry>
        <box size="0.1 0.1 1.35"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="post_latch_col">
      <origin xyz="1.256 0 0.675" rpy="0 0 0"/>
      <geometry>
        <box size="0.1 0.1 1.35"/>
      </geometry>
    </collision>
    <visual name="gate_stop_vis">
      <origin xyz="1.186 -0.0345 0.35" rpy="0 0 0"/>
      <geometry>
        <box size="0.04 0.024 0.12"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="gate_stop_col">
      <origin xyz="1.186 -0.0345 0.35" rpy="0 0 0"/>
      <geometry>
        <box size="0.04 0.024 0.12"/>
      </geometry>
    </collision>
  </link>
  <link name="leaf">
    <inertial>
      <origin xyz="1.2 -0.0295 0.7" rpy="0 0 0"/>
      <mass value="37.74024"/>
      <inertia ixx="4.537856857" ixy="0" ixz="0" iyy="22.652565408" iyz="0" izz="18.127445881"/>
    </inertial>
    <collision name="leaf_slab_col_col">
      <origin xyz="1.2 -0.0295 0.7" rpy="0 0 0"/>
      <geometry>
        <box size="2.4 0.045 1.2"/>
      </geometry>
    </collision>
    <visual name="leaf_rail_b_vis">
      <origin xyz="1.2 -0.0295 0.13" rpy="0 0 0"/>
      <geometry>
        <box size="2.4 0.045 0.06"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <visual name="leaf_rail_t_vis">
      <origin xyz="1.2 -0.0295 1.27" rpy="0 0 0"/>
      <geometry>
        <box size="2.4 0.045 0.06"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <visual name="leaf_stile_h_vis">
      <origin xyz="0.03 -0.0295 0.7" rpy="0 0 0"/>
      <geometry>
        <box size="0.06 0.045 1.2"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <visual name="leaf_stile_l_vis">
      <origin xyz="2.37 -0.0295 0.7" rpy="0 0 0"/>
      <geometry>
        <box size="0.06 0.045 1.2"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
  </link>
  <link name="leaf_fork">
    <inertial>
      <origin xyz="-0.051364 0 -0.028892" rpy="0 0 0"/>
      <mass value="0.97188"/>
      <inertia ixx="0.001299006" ixy="0" ixz="0.000038311" iyy="0.001864566" iyz="0" izz="0.00162946"/>
    </inertial>
    <visual name="leaf_fork_tine_n_vis">
      <origin xyz="-0.05 -0.0285 -0.05" rpy="0 0 0"/>
      <geometry>
        <box size="0.1 0.006 0.06"/>
      </geometry>
      <material name="mat_op_steel_galvanized"/>
    </visual>
    <collision name="leaf_fork_tine_n_col">
      <origin xyz="-0.05 -0.0285 -0.05" rpy="0 0 0"/>
      <geometry>
        <box size="0.1 0.006 0.06"/>
      </geometry>
    </collision>
    <visual name="leaf_fork_tine_p_vis">
      <origin xyz="-0.05 0.0285 -0.05" rpy="0 0 0"/>
      <geometry>
        <box size="0.1 0.006 0.06"/>
      </geometry>
      <material name="mat_op_steel_galvanized"/>
    </visual>
    <collision name="leaf_fork_tine_p_col">
      <origin xyz="-0.05 0.0285 -0.05" rpy="0 0 0"/>
      <geometry>
        <box size="0.1 0.006 0.06"/>
      </geometry>
    </collision>
    <visual name="leaf_fork_bridge_vis">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.01 0.063 0.02"/>
      </geometry>
      <material name="mat_op_steel_galvanized"/>
    </visual>
    <collision name="leaf_fork_bridge_col">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.01 0.063 0.02"/>
      </geometry>
    </collision>
    <visual name="leaf_fork_handle_vis">
      <origin xyz="-0.07 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.1 0.04 0.01"/>
      </geometry>
      <material name="mat_op_steel_galvanized"/>
    </visual>
    <collision name="leaf_fork_handle_col">
      <origin xyz="-0.07 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.1 0.04 0.01"/>
      </geometry>
    </collision>
  </link>
  <joint name="leaf_hinge" type="revolute">
    <origin xyz="-1.203 0.0295 0" rpy="0 0 0"/>
    <parent link="world_env"/>
    <child link="leaf"/>
    <axis xyz="0 0 1"/>
    <limit lower="0" upper="1.745329" effort="2000" velocity="10"/>
    <dynamics damping="7.240249" friction="4.107791"/>
    <doorbench:closer damping_closing="0" damping_opening="0" backcheck_angle="0" backcheck_damping="0"/>
  </joint>
  <joint name="leaf_fork_hinge" type="revolute">
    <origin xyz="1.177 0 1.34" rpy="0 0 0"/>
    <parent link="world_env"/>
    <child link="leaf_fork"/>
    <axis xyz="0 1 0"/>
    <limit lower="0" upper="1.2" effort="2000" velocity="10"/>
    <dynamics damping="0.02" friction="0.02"/>
  </joint>
  <material name="mat_floor">
    <color rgba="0.35 0.42 0.25 1"/>
  </material>
  <material name="mat_frame">
    <color rgba="0.65 0.66 0.68 1"/>
  </material>
  <material name="mat_leaf">
    <color rgba="0.65 0.66 0.68 1"/>
  </material>
  <material name="mat_op_steel_galvanized">
    <color rgba="0.65 0.66 0.68 1"/>
  </material>
</robot>
