<?xml version="1.0" ?>
<robot xmlns:doorbench="https://github.com/adamraudonis/DoorBench/schema/urdf-ext" name="db0750_bifold_simple">
  <link name="world_env">
    <visual name="floor_vis">
      <origin xyz="0 0 -0.05" rpy="0 0 0"/>
      <geometry>
        <box size="12 12 0.1"/>
      </geometry>
      <material name="mat_floor"/>
    </visual>
    <collision name="floor_col">
      <origin xyz="0 0 -0.05" rpy="0 0 0"/>
      <geometry>
        <box size="12 12 0.1"/>
      </geometry>
    </collision>
    <visual name="wall_left_vis">
      <origin xyz="-1.485 0 1.35" rpy="0 0 0"/>
      <geometry>
        <box size="2.03 0.145 2.7"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_left_col">
      <origin xyz="-1.485 0 1.35" rpy="0 0 0"/>
      <geometry>
        <box size="2.03 0.145 2.7"/>
      </geometry>
    </collision>
    <visual name="wall_right_vis">
      <origin xyz="1.485 0 1.35" rpy="0 0 0"/>
      <geometry>
        <box size="2.03 0.145 2.7"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_right_col">
      <origin xyz="1.485 0 1.35" rpy="0 0 0"/>
      <geometry>
        <box size="2.03 0.145 2.7"/>
      </geometry>
    </collision>
    <visual name="wall_header_vis">
      <origin xyz="0 0 2.3935" rpy="0 0 0"/>
      <geometry>
        <box size="0.94 0.145 0.613"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_header_col">
      <origin xyz="0 0 2.3935" rpy="0 0 0"/>
      <geometry>
        <box size="0.94 0.145 0.613"/>
      </geometry>
    </collision>
    <visual name="jamb_hinge_vis">
      <origin xyz="-0.4795 0 1.0435" rpy="0 0 0"/>
      <geometry>
        <box size="0.019 0.145 2.087"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_hinge_col">
      <origin xyz="-0.4795 0 1.0435" rpy="0 0 0"/>
      <geometry>
        <box size="0.019 0.145 2.087"/>
      </geometry>
    </collision>
    <visual name="jamb_strike_vis">
      <origin xyz="0.4795 0 1.0435" rpy="0 0 0"/>
      <geometry>
        <box size="0.019 0.145 2.087"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_strike_col">
      <origin xyz="0.4795 0 1.0435" rpy="0 0 0"/>
      <geometry>
        <box size="0.019 0.145 2.087"/>
      </geometry>
    </collision>
    <visual name="stud_strike_vis">
      <origin xyz="0.504 0 1.0435" rpy="0 0 0"/>
      <geometry>
        <box size="0.03 0.145 2.087"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="stud_strike_col">
      <origin xyz="0.504 0 1.0435" rpy="0 0 0"/>
      <geometry>
        <box size="0.03 0.145 2.087"/>
      </geometry>
    </collision>
    <visual name="jamb_head_vis">
      <origin xyz="0.015 0 2.0965" rpy="0 0 0"/>
      <geometry>
        <box size="1.008 0.145 0.019"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_head_col">
      <origin xyz="0.015 0 2.0965" rpy="0 0 0"/>
      <geometry>
        <box size="1.008 0.145 0.019"/>
      </geometry>
    </collision>
    <visual name="head_stud_vis">
      <origin xyz="0.015 0 2.121" rpy="0 0 0"/>
      <geometry>
        <box size="1.008 0.145 0.03"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="head_stud_col">
      <origin xyz="0.015 0 2.121" rpy="0 0 0"/>
      <geometry>
        <box size="1.008 0.145 0.03"/>
      </geometry>
    </collision>
    <visual name="fold_track_vis">
      <origin xyz="0 0 2.072" rpy="0 0 0"/>
      <geometry>
        <box size="0.94 0.04 0.03"/>
      </geometry>
      <material name="mat_track"/>
    </visual>
  </link>
  <link name="panel_0_0">
    <inertial>
      <origin xyz="0.082355 0 1.036" rpy="0 0 0"/>
      <mass value="0.908321"/>
      <inertia ixx="0.312632797" ixy="0" ixz="0" iyy="0.316113963" iyz="0" izz="0.003666615"/>
    </inertial>
    <visual name="panel_0_0_slab_vis">
      <origin xyz="0.082355 0 1.036" rpy="0 0 0"/>
      <geometry>
        <box size="0.217291 0.035 2.032"/>
      </geometry>
      <material name="mat_panel_0_0"/>
    </visual>
    <collision name="panel_0_0_slab_col">
      <origin xyz="0.082355 0 1.036" rpy="0 0 0"/>
      <geometry>
        <box size="0.217291 0.035 2.032"/>
      </geometry>
    </collision>
  </link>
  <link name="panel_0_1">
    <inertial>
      <origin xyz="0.018663 -0.005637 1.032744" rpy="0 0 0"/>
      <mass value="0.990368"/>
      <inertia ixx="0.304393778" ixy="0.000920916" ixz="0.000541938" iyy="0.307155094" iyz="-0.000173517" izz="0.003367522"/>
    </inertial>
    <visual name="panel_0_1_slab_vis">
      <origin xyz="0.11937 -0.0175 1.036" rpy="0 0 0"/>
      <geometry>
        <box size="0.234739 0.035 2.032"/>
      </geometry>
      <material name="mat_panel_0_1"/>
    </visual>
    <collision name="panel_0_1_slab_col">
      <origin xyz="0.11937 -0.0175 1.036" rpy="0 0 0"/>
      <geometry>
        <box size="0.234739 0.035 2.032"/>
      </geometry>
    </collision>
    <visual name="panel_0_1_knuckle_vis">
      <origin xyz="0 0 1.036" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.0045" length="2.012"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="panel_0_1_knob_vis">
      <origin xyz="0.186739 -0.035 1" rpy="1.570796 0 0"/>
      <geometry>
        <mesh filename="../../hardware/knob_13f7a2a65f.obj"/>
      </geometry>
      <material name="mat_op_nickel_satin"/>
    </visual>
    <visual name="panel_0_1_knob_col_vis">
      <origin xyz="0.186739 -0.065 1" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.016"/>
      </geometry>
      <material name="mat_op_nickel_satin"/>
    </visual>
    <collision name="panel_0_1_knob_col_col">
      <origin xyz="0.186739 -0.065 1" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.016"/>
      </geometry>
    </collision>
  </link>
  <link name="panel_1_0">
    <inertial>
      <origin xyz="-0.082355 0 1.036" rpy="0 0 0"/>
      <mass value="0.908321"/>
      <inertia ixx="0.312632797" ixy="0" ixz="0" iyy="0.316113963" iyz="0" izz="0.003666615"/>
    </inertial>
    <visual name="panel_1_0_slab_vis">
      <origin xyz="-0.082355 0 1.036" rpy="0 0 0"/>
      <geometry>
        <box size="0.217291 0.035 2.032"/>
      </geometry>
      <material name="mat_panel_1_0"/>
    </visual>
    <collision name="panel_1_0_slab_col">
      <origin xyz="-0.082355 0 1.036" rpy="0 0 0"/>
      <geometry>
        <box size="0.217291 0.035 2.032"/>
      </geometry>
    </collision>
  </link>
  <link name="panel_1_1">
    <inertial>
      <origin xyz="-0.018663 -0.005637 1.032744" rpy="0 0 0"/>
      <mass value="0.990368"/>
      <inertia ixx="0.304393778" ixy="-0.000920916" ixz="-0.000541938" iyy="0.307155094" iyz="-0.000173517" izz="0.003367522"/>
    </inertial>
    <visual name="panel_1_1_slab_vis">
      <origin xyz="-0.11937 -0.0175 1.036" rpy="0 0 0"/>
      <geometry>
        <box size="0.234739 0.035 2.032"/>
      </geometry>
      <material name="mat_panel_1_1"/>
    </visual>
    <collision name="panel_1_1_slab_col">
      <origin xyz="-0.11937 -0.0175 1.036" rpy="0 0 0"/>
      <geometry>
        <box size="0.234739 0.035 2.032"/>
      </geometry>
    </collision>
    <visual name="panel_1_1_knuckle_vis">
      <origin xyz="0 0 1.036" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.0045" length="2.012"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="panel_1_1_knob_vis">
      <origin xyz="-0.186739 -0.035 1" rpy="-1.570796 0 3.141593"/>
      <geometry>
        <mesh filename="../../hardware/knob_13f7a2a65f.obj"/>
      </geometry>
      <material name="mat_op_nickel_satin"/>
    </visual>
    <visual name="panel_1_1_knob_col_vis">
      <origin xyz="-0.186739 -0.065 1" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.016"/>
      </geometry>
      <material name="mat_op_nickel_satin"/>
    </visual>
    <collision name="panel_1_1_knob_col_col">
      <origin xyz="-0.186739 -0.065 1" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.016"/>
      </geometry>
    </collision>
  </link>
  <joint name="panel_0_0_hinge" type="revolute">
    <origin xyz="-0.435 0 0" rpy="0 0 0"/>
    <parent link="world_env"/>
    <child link="panel_0_0"/>
    <axis xyz="0 0 -1"/>
    <limit lower="0" upper="1.48353" effort="2000" velocity="10"/>
    <dynamics damping="0.637974" friction="0.770312"/>
  </joint>
  <joint name="panel_0_1_hinge" type="revolute">
    <origin xyz="0.193 0.0175 0" rpy="0 0 0"/>
    <parent link="panel_0_0"/>
    <child link="panel_0_1"/>
    <axis xyz="0 0 -1"/>
    <limit lower="-3.141593" upper="0" effort="2000" velocity="10"/>
    <dynamics damping="0.2" friction="0.1"/>
    <mimic joint="panel_0_0_hinge" multiplier="-2" offset="0"/>
  </joint>
  <joint name="panel_1_0_hinge" type="revolute">
    <origin xyz="0.435 0 0" rpy="0 0 0"/>
    <parent link="world_env"/>
    <child link="panel_1_0"/>
    <axis xyz="0 0 1"/>
    <limit lower="0" upper="1.48353" effort="2000" velocity="10"/>
    <dynamics damping="0.637974" friction="0.770312"/>
  </joint>
  <joint name="panel_1_1_hinge" type="revolute">
    <origin xyz="-0.193 0.0175 0" rpy="0 0 0"/>
    <parent link="panel_1_0"/>
    <child link="panel_1_1"/>
    <axis xyz="0 0 1"/>
    <limit lower="-3.141593" upper="0" effort="2000" velocity="10"/>
    <dynamics damping="0.2" friction="0.1"/>
    <mimic joint="panel_1_0_hinge" multiplier="-2" offset="0"/>
  </joint>
  <material name="mat_floor">
    <color rgba="0.55 0.53 0.5 1"/>
  </material>
  <material name="mat_frame">
    <color rgba="0.82 0.7 0.5 1"/>
  </material>
  <material name="mat_hinge">
    <color rgba="0.65 0.66 0.68 1"/>
  </material>
  <material name="mat_op_nickel_satin">
    <color rgba="0.72 0.7 0.66 1"/>
  </material>
  <material name="mat_panel_0_0">
    <color rgba="0.9 0.88 0.82 1"/>
  </material>
  <material name="mat_panel_0_1">
    <color rgba="0.9 0.88 0.82 1"/>
  </material>
  <material name="mat_panel_1_0">
    <color rgba="0.9 0.88 0.82 1"/>
  </material>
  <material name="mat_panel_1_1">
    <color rgba="0.9 0.88 0.82 1"/>
  </material>
  <material name="mat_track">
    <color rgba="0.8 0.81 0.83 1"/>
  </material>
  <material name="mat_wall">
    <color rgba="0.78 0.76 0.7 1"/>
  </material>
</robot>
