<?xml version="1.0" ?>
<robot xmlns:doorbench="https://github.com/adamraudonis/DoorBench/schema/urdf-ext" name="db0479_automatic_swing_simple">
  <link name="world_env">
    <visual name="floor_vis">
      <origin xyz="0 0 -0.05" rpy="0 0 0"/>
      <geometry>
        <box size="12 12 0.1"/>
      </geometry>
      <material name="mat_floor"/>
    </visual>
    <collision name="floor_col">
      <origin xyz="0 0 -0.05" rpy="0 0 0"/>
      <geometry>
        <box size="12 12 0.1"/>
      </geometry>
    </collision>
    <visual name="wall_left_vis">
      <origin xyz="-1.5415 -0.1205 1.5255" rpy="0 0 0"/>
      <geometry>
        <box size="1.917 0.3 3.051"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_left_col">
      <origin xyz="-1.5415 -0.1205 1.5255" rpy="0 0 0"/>
      <geometry>
        <box size="1.917 0.3 3.051"/>
      </geometry>
    </collision>
    <visual name="wall_right_vis">
      <origin xyz="1.5565 -0.1205 1.5255" rpy="0 0 0"/>
      <geometry>
        <box size="1.887 0.3 3.051"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_right_col">
      <origin xyz="1.5565 -0.1205 1.5255" rpy="0 0 0"/>
      <geometry>
        <box size="1.887 0.3 3.051"/>
      </geometry>
    </collision>
    <visual name="wall_header_vis">
      <origin xyz="0.015 -0.1205 2.7885" rpy="0 0 0"/>
      <geometry>
        <box size="1.196 0.3 0.525"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_header_col">
      <origin xyz="0.015 -0.1205 2.7885" rpy="0 0 0"/>
      <geometry>
        <box size="1.196 0.3 0.525"/>
      </geometry>
    </collision>
    <visual name="jamb_hinge_vis">
      <origin xyz="-0.5605 -0.1205 1.2255" rpy="0 0 0"/>
      <geometry>
        <box size="0.045 0.3 2.451"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_hinge_col">
      <origin xyz="-0.5605 -0.1205 1.2255" rpy="0 0 0"/>
      <geometry>
        <box size="0.045 0.3 2.451"/>
      </geometry>
    </collision>
    <visual name="strike_1105_wall_n_vis">
      <origin xyz="0.5755 -0.14 1.105" rpy="0 0 0"/>
      <geometry>
        <box size="0.075 0.261 0.031"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="strike_1105_wall_n_col">
      <origin xyz="0.5755 -0.14 1.105" rpy="0 0 0"/>
      <geometry>
        <box size="0.075 0.261 0.031"/>
      </geometry>
    </collision>
    <visual name="strike_1105_wall_p_vis">
      <origin xyz="0.5755 0.0195 1.105" rpy="0 0 0"/>
      <geometry>
        <box size="0.075 0.02 0.031"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="strike_1105_wall_p_col">
      <origin xyz="0.5755 0.0195 1.105" rpy="0 0 0"/>
      <geometry>
        <box size="0.075 0.02 0.031"/>
      </geometry>
    </collision>
    <visual name="strike_1105_back_vis">
      <origin xyz="0.5902 0 1.105" rpy="0 0 0"/>
      <geometry>
        <box size="0.0456 0.019 0.031"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="strike_1105_back_col">
      <origin xyz="0.5902 0 1.105" rpy="0 0 0"/>
      <geometry>
        <box size="0.0456 0.019 0.031"/>
      </geometry>
    </collision>
    <visual name="jamb_strike_0_vis">
      <origin xyz="0.5755 -0.1205 0.54475" rpy="0 0 0"/>
      <geometry>
        <box size="0.075 0.3 1.0895"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_strike_0_col">
      <origin xyz="0.5755 -0.1205 0.54475" rpy="0 0 0"/>
      <geometry>
        <box size="0.075 0.3 1.0895"/>
      </geometry>
    </collision>
    <visual name="jamb_strike_1_vis">
      <origin xyz="0.5755 -0.1205 1.78575" rpy="0 0 0"/>
      <geometry>
        <box size="0.075 0.3 1.3305"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_strike_1_col">
      <origin xyz="0.5755 -0.1205 1.78575" rpy="0 0 0"/>
      <geometry>
        <box size="0.075 0.3 1.3305"/>
      </geometry>
    </collision>
    <visual name="jamb_head_vis">
      <origin xyz="0.015 -0.1205 2.4735" rpy="0 0 0"/>
      <geometry>
        <box size="1.196 0.3 0.045"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_head_col">
      <origin xyz="0.015 -0.1205 2.4735" rpy="0 0 0"/>
      <geometry>
        <box size="1.196 0.3 0.045"/>
      </geometry>
    </collision>
    <visual name="head_stud_vis">
      <origin xyz="0.015 -0.1205 2.511" rpy="0 0 0"/>
      <geometry>
        <box size="1.196 0.3 0.03"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="head_stud_col">
      <origin xyz="0.015 -0.1205 2.511" rpy="0 0 0"/>
      <geometry>
        <box size="1.196 0.3 0.03"/>
      </geometry>
    </collision>
    <visual name="threshold_vis">
      <origin xyz="0 -0.1205 0.0065" rpy="0 0 0"/>
      <geometry>
        <box size="1.166 0.3 0.013"/>
      </geometry>
      <material name="mat_threshold"/>
    </visual>
    <collision name="threshold_col">
      <origin xyz="0 -0.1205 0.0065" rpy="0 0 0"/>
      <geometry>
        <box size="1.166 0.3 0.013"/>
      </geometry>
    </collision>
    <visual name="auto_operator_header_vis">
      <origin xyz="0 -0.0745 2.514" rpy="0 0 0"/>
      <geometry>
        <box size="0.68 0.11 0.11"/>
      </geometry>
      <material name="mat_closer"/>
    </visual>
    <collision name="auto_operator_header_col">
      <origin xyz="0 -0.0745 2.514" rpy="0 0 0"/>
      <geometry>
        <box size="0.68 0.11 0.11"/>
      </geometry>
    </collision>
    <visual name="wave_sensor_n_vis">
      <origin xyz="0.788 -0.2825 1.05" rpy="0 0 0"/>
      <geometry>
        <box size="0.1 0.024 0.1"/>
      </geometry>
      <material name="mat_wallreader"/>
    </visual>
    <collision name="wave_sensor_n_col">
      <origin xyz="0.788 -0.2825 1.05" rpy="0 0 0"/>
      <geometry>
        <box size="0.1 0.024 0.1"/>
      </geometry>
    </collision>
    <visual name="wave_sensor_p_vis">
      <origin xyz="0.788 0.0415 1.05" rpy="0 0 0"/>
      <geometry>
        <box size="0.1 0.024 0.1"/>
      </geometry>
      <material name="mat_wallreader"/>
    </visual>
    <collision name="wave_sensor_p_col">
      <origin xyz="0.788 0.0415 1.05" rpy="0 0 0"/>
      <geometry>
        <box size="0.1 0.024 0.1"/>
      </geometry>
    </collision>
  </link>
  <link name="leaf">
    <inertial>
      <origin xyz="0.568833 -0.017279 1.211806" rpy="0 0 0"/>
      <mass value="92.128198"/>
      <inertia ixx="42.473568937" ixy="0.028432788" ixz="0.73704411" iyy="51.740458759" iyz="-0.017713182" izz="9.273385463"/>
    </inertial>
    <visual name="leaf_glass_vis">
      <origin xyz="0.5365 -0.0165 1.232" rpy="0 0 0"/>
      <geometry>
        <box size="1.067 0.019 2.43"/>
      </geometry>
      <material name="mat_glass_leaf"/>
    </visual>
    <collision name="leaf_glass_col">
      <origin xyz="0.5365 -0.0165 1.232" rpy="0 0 0"/>
      <geometry>
        <box size="1.067 0.019 2.43"/>
      </geometry>
    </collision>
    <visual name="leaf_patch_bot_vis">
      <origin xyz="0.083 -0.0165 0.077" rpy="0 0 0"/>
      <geometry>
        <box size="0.16 0.035 0.1"/>
      </geometry>
      <material name="mat_patch"/>
    </visual>
    <visual name="leaf_patch_top_vis">
      <origin xyz="0.083 -0.0165 2.387" rpy="0 0 0"/>
      <geometry>
        <box size="0.16 0.035 0.1"/>
      </geometry>
      <material name="mat_patch"/>
    </visual>
    <visual name="leaf_push_plate_n_vis">
      <origin xyz="0.965 -0.0268 0.965" rpy="0 0 0"/>
      <geometry>
        <box size="0.1 0.0016 0.4"/>
      </geometry>
      <material name="mat_op_stainless"/>
    </visual>
  </link>
  <link name="leaf_deadbolt">
    <inertial>
      <origin xyz="-0.0023 0 0" rpy="0 0 0"/>
      <mass value="0.18836"/>
      <inertia ixx="0.000013829" ixy="0" ixz="0" iyy="0.000057986" iyz="0" izz="0.000052194"/>
    </inertial>
    <visual name="leaf_deadbolt_box_vis">
      <origin xyz="-0.0023 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.0554 0.016 0.025"/>
      </geometry>
      <material name="mat_deadbolt"/>
    </visual>
    <collision name="leaf_deadbolt_box_col">
      <origin xyz="-0.0023 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.0554 0.016 0.025"/>
      </geometry>
    </collision>
  </link>
  <joint name="leaf_hinge" type="revolute">
    <origin xyz="-0.535 0.0165 0" rpy="0 0 0"/>
    <parent link="world_env"/>
    <child link="leaf"/>
    <axis xyz="0 0 1"/>
    <limit lower="0" upper="1.570796" effort="2000" velocity="10"/>
    <dynamics damping="15.570702" friction="1.196857"/>
    <doorbench:spring stiffness="19.0031" springref="-2.141756" note="tau = -stiffness*(q - springref); not native URDF"/>
    <doorbench:closer damping_closing="60" damping_opening="15" backcheck_angle="0" backcheck_damping="0"/>
  </joint>
  <joint name="leaf_deadbolt_fixed" type="fixed">
    <origin xyz="1.07 -0.0165 1.105" rpy="0 0 0"/>
    <parent link="leaf"/>
    <child link="leaf_deadbolt"/>
  </joint>
  <material name="mat_closer">
    <color rgba="0.22 0.17 0.13 1"/>
  </material>
  <material name="mat_deadbolt">
    <color rgba="0.85 0.66 0.3 1"/>
  </material>
  <material name="mat_floor">
    <color rgba="0.55 0.53 0.5 1"/>
  </material>
  <material name="mat_frame">
    <color rgba="0.22 0.17 0.13 1"/>
  </material>
  <material name="mat_glass_leaf">
    <color rgba="0.85 0.92 0.95 0.25"/>
  </material>
  <material name="mat_op_stainless">
    <color rgba="0.75 0.76 0.77 1"/>
  </material>
  <material name="mat_patch">
    <color rgba="0.75 0.76 0.77 1"/>
  </material>
  <material name="mat_threshold">
    <color rgba="0.8 0.81 0.83 1"/>
  </material>
  <material name="mat_wall">
    <color rgba="0.78 0.76 0.7 1"/>
  </material>
  <material name="mat_wallreader">
    <color rgba="0.05 0.05 0.05 1"/>
  </material>
</robot>
