<?xml version="1.0" ?>
<robot xmlns:doorbench="https://github.com/adamraudonis/DoorBench/schema/urdf-ext" name="db0263_swing_single_simple">
  <link name="world_env">
    <visual name="floor_vis">
      <origin xyz="0 0 -0.05" rpy="0 0 0"/>
      <geometry>
        <box size="12 12 0.1"/>
      </geometry>
      <material name="mat_floor"/>
    </visual>
    <collision name="floor_col">
      <origin xyz="0 0 -0.05" rpy="0 0 0"/>
      <geometry>
        <box size="12 12 0.1"/>
      </geometry>
    </collision>
    <visual name="wall_left_vis">
      <origin xyz="-1.5175 -0.058 1.35" rpy="0 0 0"/>
      <geometry>
        <box size="1.965 0.2 2.7"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_left_col">
      <origin xyz="-1.5175 -0.058 1.35" rpy="0 0 0"/>
      <geometry>
        <box size="1.965 0.2 2.7"/>
      </geometry>
    </collision>
    <visual name="wall_right_vis">
      <origin xyz="1.5025 -0.058 1.35" rpy="0 0 0"/>
      <geometry>
        <box size="1.995 0.2 2.7"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_right_col">
      <origin xyz="1.5025 -0.058 1.35" rpy="0 0 0"/>
      <geometry>
        <box size="1.995 0.2 2.7"/>
      </geometry>
    </collision>
    <visual name="wall_header_vis">
      <origin xyz="-0.015 -0.058 2.397" rpy="0 0 0"/>
      <geometry>
        <box size="1.04 0.2 0.606"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_header_col">
      <origin xyz="-0.015 -0.058 2.397" rpy="0 0 0"/>
      <geometry>
        <box size="1.04 0.2 0.606"/>
      </geometry>
    </collision>
    <visual name="hinge_0_jamb_vis">
      <origin xyz="0.483 0.029 0.267" rpy="0 0 3.141593"/>
      <geometry>
        <mesh filename="../../hardware/hinge_jamb_e1d088f8dc.obj"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="hinge_1_jamb_vis">
      <origin xyz="0.483 0.029 1.029" rpy="0 0 3.141593"/>
      <geometry>
        <mesh filename="../../hardware/hinge_jamb_e1d088f8dc.obj"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="hinge_2_jamb_vis">
      <origin xyz="0.483 0.029 1.861" rpy="0 0 3.141593"/>
      <geometry>
        <mesh filename="../../hardware/hinge_jamb_e1d088f8dc.obj"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="jamb_hinge_vis">
      <origin xyz="0.4955 -0.058 1.0225" rpy="0 0 0"/>
      <geometry>
        <box size="0.019 0.2 2.045"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_hinge_col">
      <origin xyz="0.4955 -0.058 1.0225" rpy="0 0 0"/>
      <geometry>
        <box size="0.019 0.2 2.045"/>
      </geometry>
    </collision>
    <visual name="strike_965_wall_n_vis">
      <origin xyz="-0.5105 -0.08225 0.965" rpy="0 0 0"/>
      <geometry>
        <box size="0.049 0.1515 0.03"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="strike_965_wall_n_col">
      <origin xyz="-0.5105 -0.08225 0.965" rpy="0 0 0"/>
      <geometry>
        <box size="0.049 0.1515 0.03"/>
      </geometry>
    </collision>
    <visual name="strike_965_wall_p_vis">
      <origin xyz="-0.5105 0.0145 0.965" rpy="0 0 0"/>
      <geometry>
        <box size="0.049 0.016 0.03"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="strike_965_wall_p_col">
      <origin xyz="-0.5105 0.0145 0.965" rpy="0 0 0"/>
      <geometry>
        <box size="0.049 0.016 0.03"/>
      </geometry>
    </collision>
    <visual name="strike_965_ramp_vis">
      <origin xyz="-0.516404 0.033552 0.965" rpy="0 0 0.362926"/>
      <geometry>
        <box size="0.049 0.042252 0.03"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="strike_965_ramp_col">
      <origin xyz="-0.516404 0.033552 0.965" rpy="0 0 0.362926"/>
      <geometry>
        <box size="0.049 0.042252 0.03"/>
      </geometry>
    </collision>
    <visual name="strike_965_back_vis">
      <origin xyz="-0.5195 0 0.965" rpy="0 0 0"/>
      <geometry>
        <box size="0.031 0.013 0.03"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="strike_965_back_col">
      <origin xyz="-0.5195 0 0.965" rpy="0 0 0"/>
      <geometry>
        <box size="0.031 0.013 0.03"/>
      </geometry>
    </collision>
    <visual name="strike_1105_wall_n_vis">
      <origin xyz="-0.5105 -0.08375 1.105" rpy="0 0 0"/>
      <geometry>
        <box size="0.049 0.1485 0.031"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="strike_1105_wall_n_col">
      <origin xyz="-0.5105 -0.08375 1.105" rpy="0 0 0"/>
      <geometry>
        <box size="0.049 0.1485 0.031"/>
      </geometry>
    </collision>
    <visual name="strike_1105_wall_p_vis">
      <origin xyz="-0.5105 0.02575 1.105" rpy="0 0 0"/>
      <geometry>
        <box size="0.049 0.0325 0.031"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="strike_1105_wall_p_col">
      <origin xyz="-0.5105 0.02575 1.105" rpy="0 0 0"/>
      <geometry>
        <box size="0.049 0.0325 0.031"/>
      </geometry>
    </collision>
    <visual name="strike_1105_back_vis">
      <origin xyz="-0.5252 0 1.105" rpy="0 0 0"/>
      <geometry>
        <box size="0.0196 0.019 0.031"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="strike_1105_back_col">
      <origin xyz="-0.5252 0 1.105" rpy="0 0 0"/>
      <geometry>
        <box size="0.0196 0.019 0.031"/>
      </geometry>
    </collision>
    <visual name="jamb_strike_0_vis">
      <origin xyz="-0.5105 -0.058 0.475" rpy="0 0 0"/>
      <geometry>
        <box size="0.049 0.2 0.95"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_strike_0_col">
      <origin xyz="-0.5105 -0.058 0.475" rpy="0 0 0"/>
      <geometry>
        <box size="0.049 0.2 0.95"/>
      </geometry>
    </collision>
    <visual name="jamb_strike_1_vis">
      <origin xyz="-0.5105 -0.058 1.03475" rpy="0 0 0"/>
      <geometry>
        <box size="0.049 0.2 0.1095"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_strike_1_col">
      <origin xyz="-0.5105 -0.058 1.03475" rpy="0 0 0"/>
      <geometry>
        <box size="0.049 0.2 0.1095"/>
      </geometry>
    </collision>
    <visual name="jamb_strike_2_vis">
      <origin xyz="-0.5105 -0.058 1.58275" rpy="0 0 0"/>
      <geometry>
        <box size="0.049 0.2 0.9245"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_strike_2_col">
      <origin xyz="-0.5105 -0.058 1.58275" rpy="0 0 0"/>
      <geometry>
        <box size="0.049 0.2 0.9245"/>
      </geometry>
    </collision>
    <visual name="jamb_head_vis">
      <origin xyz="-0.015 -0.058 2.0545" rpy="0 0 0"/>
      <geometry>
        <box size="1.04 0.2 0.019"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_head_col">
      <origin xyz="-0.015 -0.058 2.0545" rpy="0 0 0"/>
      <geometry>
        <box size="1.04 0.2 0.019"/>
      </geometry>
    </collision>
    <visual name="head_stud_vis">
      <origin xyz="-0.015 -0.058 2.079" rpy="0 0 0"/>
      <geometry>
        <box size="1.04 0.2 0.03"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="head_stud_col">
      <origin xyz="-0.015 -0.058 2.079" rpy="0 0 0"/>
      <geometry>
        <box size="1.04 0.2 0.03"/>
      </geometry>
    </collision>
    <visual name="stop_hinge_vis">
      <origin xyz="0.4805 -0.0385 1.0225" rpy="0 0 0"/>
      <geometry>
        <box size="0.011 0.032 2.045"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="stop_hinge_col">
      <origin xyz="0.4805 -0.0385 1.0225" rpy="0 0 0"/>
      <geometry>
        <box size="0.011 0.032 2.045"/>
      </geometry>
    </collision>
    <visual name="stop_strike_vis">
      <origin xyz="-0.4805 -0.0385 1.0225" rpy="0 0 0"/>
      <geometry>
        <box size="0.011 0.032 2.045"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="stop_strike_col">
      <origin xyz="-0.4805 -0.0385 1.0225" rpy="0 0 0"/>
      <geometry>
        <box size="0.011 0.032 2.045"/>
      </geometry>
    </collision>
    <visual name="stop_head_vis">
      <origin xyz="0 -0.0385 2.0395" rpy="0 0 0"/>
      <geometry>
        <box size="0.972 0.032 0.011"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="stop_head_col">
      <origin xyz="0 -0.0385 2.0395" rpy="0 0 0"/>
      <geometry>
        <box size="0.972 0.032 0.011"/>
      </geometry>
    </collision>
    <visual name="threshold_vis">
      <origin xyz="0 -0.058 0.0065" rpy="0 0 0"/>
      <geometry>
        <box size="1.01 0.2 0.013"/>
      </geometry>
      <material name="mat_threshold"/>
    </visual>
    <collision name="threshold_col">
      <origin xyz="0 -0.058 0.0065" rpy="0 0 0"/>
      <geometry>
        <box size="1.01 0.2 0.013"/>
      </geometry>
    </collision>
    <visual name="wall_bumper_stop_vis">
      <origin xyz="0.51 0.84925 0.35" rpy="-0.269078 1.570796 -0.269078"/>
      <geometry>
        <cylinder radius="0.025" length="0.04"/>
      </geometry>
      <material name="mat_bumper_stop"/>
    </visual>
    <collision name="wall_bumper_stop_col">
      <origin xyz="0.51 0.84925 0.35" rpy="-0.269078 1.570796 -0.269078"/>
      <geometry>
        <cylinder radius="0.025" length="0.04"/>
      </geometry>
    </collision>
  </link>
  <link name="leaf">
    <inertial>
      <origin xyz="-0.479746 -0.028571 1.029668" rpy="0 0 0"/>
      <mass value="61.547365"/>
      <inertia ixx="20.940265384" ixy="-0.000430551" ixz="0.002023824" iyy="25.86206126" iyz="-0.001037159" izz="4.942970029"/>
    </inertial>
    <visual name="leaf_slab_vis">
      <origin xyz="-0.4825 -0.029 1.029" rpy="0 0 0"/>
      <geometry>
        <box size="0.965 0.044 2.024"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <collision name="leaf_slab_col">
      <origin xyz="-0.4825 -0.029 1.029" rpy="0 0 0"/>
      <geometry>
        <box size="0.965 0.044 2.024"/>
      </geometry>
    </collision>
    <visual name="leaf_panel_0_n_vis">
      <origin xyz="-0.271825 -0.054 0.467664" rpy="0 0 0"/>
      <geometry>
        <box size="0.29135 0.006 0.416048"/>
      </geometry>
      <material name="mat_leaf_panel"/>
    </visual>
    <visual name="leaf_panel_0_p_vis">
      <origin xyz="-0.271825 -0.004 0.467664" rpy="0 0 0"/>
      <geometry>
        <box size="0.29135 0.006 0.416048"/>
      </geometry>
      <material name="mat_leaf_panel"/>
    </visual>
    <visual name="leaf_panel_1_n_vis">
      <origin xyz="-0.693175 -0.054 0.467664" rpy="0 0 0"/>
      <geometry>
        <box size="0.29135 0.006 0.416048"/>
      </geometry>
      <material name="mat_leaf_panel"/>
    </visual>
    <visual name="leaf_panel_1_p_vis">
      <origin xyz="-0.693175 -0.004 0.467664" rpy="0 0 0"/>
      <geometry>
        <box size="0.29135 0.006 0.416048"/>
      </geometry>
      <material name="mat_leaf_panel"/>
    </visual>
    <visual name="leaf_panel_2_n_vis">
      <origin xyz="-0.271825 -0.054 1.013712" rpy="0 0 0"/>
      <geometry>
        <box size="0.29135 0.006 0.416048"/>
      </geometry>
      <material name="mat_leaf_panel"/>
    </visual>
    <visual name="leaf_panel_2_p_vis">
      <origin xyz="-0.271825 -0.004 1.013712" rpy="0 0 0"/>
      <geometry>
        <box size="0.29135 0.006 0.416048"/>
      </geometry>
      <material name="mat_leaf_panel"/>
    </visual>
    <visual name="leaf_panel_3_n_vis">
      <origin xyz="-0.693175 -0.054 1.013712" rpy="0 0 0"/>
      <geometry>
        <box size="0.29135 0.006 0.416048"/>
      </geometry>
      <material name="mat_leaf_panel"/>
    </visual>
    <visual name="leaf_panel_3_p_vis">
      <origin xyz="-0.693175 -0.004 1.013712" rpy="0 0 0"/>
      <geometry>
        <box size="0.29135 0.006 0.416048"/>
      </geometry>
      <material name="mat_leaf_panel"/>
    </visual>
    <visual name="leaf_panel_4_n_vis">
      <origin xyz="-0.271825 -0.054 1.635768" rpy="0 0 0"/>
      <geometry>
        <box size="0.29135 0.006 0.568064"/>
      </geometry>
      <material name="mat_leaf_panel"/>
    </visual>
    <visual name="leaf_panel_4_p_vis">
      <origin xyz="-0.271825 -0.004 1.635768" rpy="0 0 0"/>
      <geometry>
        <box size="0.29135 0.006 0.568064"/>
      </geometry>
      <material name="mat_leaf_panel"/>
    </visual>
    <visual name="leaf_panel_5_n_vis">
      <origin xyz="-0.693175 -0.054 1.635768" rpy="0 0 0"/>
      <geometry>
        <box size="0.29135 0.006 0.568064"/>
      </geometry>
      <material name="mat_leaf_panel"/>
    </visual>
    <visual name="leaf_panel_5_p_vis">
      <origin xyz="-0.693175 -0.004 1.635768" rpy="0 0 0"/>
      <geometry>
        <box size="0.29135 0.006 0.568064"/>
      </geometry>
      <material name="mat_leaf_panel"/>
    </visual>
    <visual name="hinge_0_vis">
      <origin xyz="0 0 0.267" rpy="0 0 3.141593"/>
      <geometry>
        <mesh filename="../../hardware/hinge_e22b26c0c1.obj"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="hinge_1_vis">
      <origin xyz="0 0 1.029" rpy="0 0 3.141593"/>
      <geometry>
        <mesh filename="../../hardware/hinge_e22b26c0c1.obj"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="hinge_2_vis">
      <origin xyz="0 0 1.861" rpy="0 0 3.141593"/>
      <geometry>
        <mesh filename="../../hardware/hinge_e22b26c0c1.obj"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="leaf_handle_keypad_body_vis">
      <origin xyz="-0.91 -0.007 1.085" rpy="1.570796 0 3.141593"/>
      <geometry>
        <mesh filename="../../hardware/keypad_body_4e81d77325.obj"/>
      </geometry>
      <material name="mat_keypad"/>
    </visual>
    <collision name="leaf_handle_keypad_body_col">
      <origin xyz="-0.91 -0.007 1.085" rpy="1.570796 0 3.141593"/>
      <geometry>
        <mesh filename="../../hardware/keypad_body_4e81d77325.obj"/>
      </geometry>
    </collision>
  </link>
  <link name="leaf_handle">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="0.01"/>
      <inertia ixx="0.000001" ixy="0" ixz="0" iyy="0.000001" iyz="0" izz="0.000001"/>
    </inertial>
  </link>
  <link name="leaf_latch_bolt">
    <inertial>
      <origin xyz="0.008 0 0" rpy="0 0 0"/>
      <mass value="0.027149"/>
      <inertia ixx="0.000000328" ixy="0" ixz="0" iyy="0.000003943" iyz="0" izz="0.000003943"/>
    </inertial>
    <visual name="leaf_latch_bolt_capsule_vis">
      <origin xyz="0.008 0 0" rpy="0 -1.570796 0"/>
      <geometry>
        <cylinder radius="0.005" length="0.034"/>
      </geometry>
      <material name="mat_bolt"/>
    </visual>
    <collision name="leaf_latch_bolt_capsule_col">
      <origin xyz="0.008 0 0" rpy="0 -1.570796 0"/>
      <geometry>
        <cylinder radius="0.005" length="0.034"/>
      </geometry>
    </collision>
  </link>
  <link name="leaf_deadbolt">
    <inertial>
      <origin xyz="0.0023 0 0" rpy="0 0 0"/>
      <mass value="0.18836"/>
      <inertia ixx="0.000013829" ixy="0" ixz="0" iyy="0.000057986" iyz="0" izz="0.000052194"/>
    </inertial>
    <visual name="leaf_deadbolt_box_vis">
      <origin xyz="0.0023 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.0554 0.016 0.025"/>
      </geometry>
      <material name="mat_deadbolt"/>
    </visual>
    <collision name="leaf_deadbolt_box_col">
      <origin xyz="0.0023 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.0554 0.016 0.025"/>
      </geometry>
    </collision>
  </link>
  <link name="leaf_deadbolt_thumbturn">
    <inertial>
      <origin xyz="0 -0.012928 0" rpy="0 0 0"/>
      <mass value="0.178946"/>
      <inertia ixx="0.000032438" ixy="0" ixz="0" iyy="0.000026045" iyz="0" izz="0.000026215"/>
    </inertial>
    <visual name="leaf_deadbolt_thumbturn_mesh_vis">
      <origin xyz="0 0 0" rpy="-1.570796 0 3.141593"/>
      <geometry>
        <mesh filename="../../hardware/thumbturn_eb5c9899a3.obj"/>
      </geometry>
      <material name="mat_deadbolt"/>
    </visual>
    <collision name="leaf_deadbolt_thumbturn_mesh_col">
      <origin xyz="0 0 0" rpy="-1.570796 0 3.141593"/>
      <geometry>
        <mesh filename="../../hardware/thumbturn_eb5c9899a3.obj"/>
      </geometry>
    </collision>
    <collision name="leaf_deadbolt_thumbturn_col_col">
      <origin xyz="0 -0.02 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.012 0.024 0.032"/>
      </geometry>
    </collision>
  </link>
  <joint name="leaf_hinge" type="revolute">
    <origin xyz="0.483 0.029 0" rpy="0 0 0"/>
    <parent link="world_env"/>
    <child link="leaf"/>
    <axis xyz="0 0 -1"/>
    <limit lower="0" upper="1.570796" effort="2000" velocity="10"/>
    <dynamics damping="0.368237" friction="6.699409"/>
    <doorbench:closer damping_closing="0" damping_opening="0" backcheck_angle="0" backcheck_damping="0"/>
  </joint>
  <joint name="leaf_handle_hinge" type="revolute">
    <origin xyz="-0.91 -0.029 0.965" rpy="0 0 0"/>
    <parent link="leaf"/>
    <child link="leaf_handle"/>
    <axis xyz="0 1 0"/>
    <limit lower="0" upper="0.87" effort="2000" velocity="10"/>
    <dynamics damping="0.02" friction="0.048"/>
    <doorbench:spring stiffness="0.5" springref="-0.5" note="tau = -stiffness*(q - springref); not native URDF"/>
  </joint>
  <joint name="leaf_latch_bolt_slide" type="prismatic">
    <origin xyz="-0.965 -0.029 0.965" rpy="0 0 0"/>
    <parent link="leaf"/>
    <child link="leaf_latch_bolt"/>
    <axis xyz="1 0 0"/>
    <limit lower="0" upper="0.014" effort="5000" velocity="10"/>
    <dynamics damping="2" friction="0.3"/>
    <doorbench:spring stiffness="400" springref="-0.01" note="tau = -stiffness*(q - springref); not native URDF"/>
    <mimic joint="leaf_handle_hinge" multiplier="0.017284" offset="0"/>
    <doorbench:coupling one_sided="true" note="MJCF uses a one-sided tendon (bolt may retract further, e.g. riding over the strike lip); mimic is bilateral"/>
  </joint>
  <joint name="leaf_deadbolt_slide" type="prismatic">
    <origin xyz="-0.965 -0.029 1.105" rpy="0 0 0"/>
    <parent link="leaf"/>
    <child link="leaf_deadbolt"/>
    <axis xyz="1 0 0"/>
    <limit lower="0" upper="0.0254" effort="5000" velocity="10"/>
    <dynamics damping="5" friction="1.5"/>
    <mimic joint="leaf_deadbolt_thumbturn_hinge" multiplier="0.01617" offset="0"/>
  </joint>
  <joint name="leaf_deadbolt_thumbturn_hinge" type="revolute">
    <origin xyz="-0.9 -0.051 1.105" rpy="0 0 0"/>
    <parent link="leaf"/>
    <child link="leaf_deadbolt_thumbturn"/>
    <axis xyz="0 1 0"/>
    <limit lower="0" upper="1.5708" effort="2000" velocity="10"/>
    <dynamics damping="0.05" friction="0.3"/>
  </joint>
  <material name="mat_bolt">
    <color rgba="0.75 0.76 0.77 1"/>
  </material>
  <material name="mat_bumper_stop">
    <color rgba="0.08 0.08 0.08 1"/>
  </material>
  <material name="mat_deadbolt">
    <color rgba="0.85 0.66 0.3 1"/>
  </material>
  <material name="mat_floor">
    <color rgba="0.55 0.53 0.5 1"/>
  </material>
  <material name="mat_frame">
    <color rgba="0.82 0.7 0.5 1"/>
  </material>
  <material name="mat_hinge">
    <color rgba="0.65 0.66 0.68 1"/>
  </material>
  <material name="mat_keypad">
    <color rgba="0.05 0.05 0.05 1"/>
  </material>
  <material name="mat_leaf">
    <color rgba="0.56 0.475 0.4 1"/>
  </material>
  <material name="mat_leaf_panel">
    <color rgba="0.515 0.437 0.368 1"/>
  </material>
  <material name="mat_threshold">
    <color rgba="0.8 0.81 0.83 1"/>
  </material>
  <material name="mat_wall">
    <color rgba="0.78 0.76 0.7 1"/>
  </material>
</robot>
