<?xml version="1.0" ?>
<robot xmlns:doorbench="https://github.com/adamraudonis/DoorBench/schema/urdf-ext" name="db0007_sliding_single_full">
  <link name="world_env">
    <visual name="floor_vis">
      <origin xyz="0 0 -0.05" rpy="0 0 0"/>
      <geometry>
        <box size="12 12 0.1"/>
      </geometry>
      <material name="mat_floor"/>
    </visual>
    <collision name="floor_col">
      <origin xyz="0 0 -0.05" rpy="0 0 0"/>
      <geometry>
        <box size="12 12 0.1"/>
      </geometry>
    </collision>
    <visual name="wall_left_vis">
      <origin xyz="-1.523 0 1.377" rpy="0 0 0"/>
      <geometry>
        <box size="1.954 0.145 2.754"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_left_col">
      <origin xyz="-1.523 0 1.377" rpy="0 0 0"/>
      <geometry>
        <box size="1.954 0.145 2.754"/>
      </geometry>
    </collision>
    <visual name="wall_right_vis">
      <origin xyz="1.493 0 1.377" rpy="0 0 0"/>
      <geometry>
        <box size="2.014 0.145 2.754"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_right_col">
      <origin xyz="1.493 0 1.377" rpy="0 0 0"/>
      <geometry>
        <box size="2.014 0.145 2.754"/>
      </geometry>
    </collision>
    <visual name="wall_header_vis">
      <origin xyz="-0.03 0 2.4635" rpy="0 0 0"/>
      <geometry>
        <box size="1.032 0.145 0.581"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_header_col">
      <origin xyz="-0.03 0 2.4635" rpy="0 0 0"/>
      <geometry>
        <box size="1.032 0.145 0.581"/>
      </geometry>
    </collision>
    <visual name="jamb_r_vis">
      <origin xyz="0.4765 0 1.077" rpy="0 0 0"/>
      <geometry>
        <box size="0.019 0.145 2.154"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_r_col">
      <origin xyz="0.4765 0 1.077" rpy="0 0 0"/>
      <geometry>
        <box size="0.019 0.145 2.154"/>
      </geometry>
    </collision>
    <visual name="jamb_head_vis">
      <origin xyz="0 0 2.1635" rpy="0 0 0"/>
      <geometry>
        <box size="0.972 0.145 0.019"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_head_col">
      <origin xyz="0 0 2.1635" rpy="0 0 0"/>
      <geometry>
        <box size="0.972 0.145 0.019"/>
      </geometry>
    </collision>
    <visual name="flat_track_vis">
      <origin xyz="0 -0.0875 2.274" rpy="0 0 0"/>
      <geometry>
        <box size="1.928 0.008 0.04"/>
      </geometry>
      <material name="mat_track"/>
    </visual>
    <collision name="flat_track_col">
      <origin xyz="0 -0.0875 2.274" rpy="0 0 0"/>
      <geometry>
        <box size="1.928 0.008 0.04"/>
      </geometry>
    </collision>
    <visual name="track_standoff_0_vis">
      <origin xyz="-0.964 -0.0775 2.274" rpy="-1.570796 0 0"/>
      <geometry>
        <cylinder radius="0.012" length="0.024"/>
      </geometry>
      <material name="mat_track"/>
    </visual>
    <visual name="track_standoff_1_vis">
      <origin xyz="-0.364 -0.0775 2.274" rpy="-1.570796 0 0"/>
      <geometry>
        <cylinder radius="0.012" length="0.024"/>
      </geometry>
      <material name="mat_track"/>
    </visual>
    <visual name="track_standoff_2_vis">
      <origin xyz="0.236 -0.0775 2.274" rpy="-1.570796 0 0"/>
      <geometry>
        <cylinder radius="0.012" length="0.024"/>
      </geometry>
      <material name="mat_track"/>
    </visual>
    <visual name="track_standoff_3_vis">
      <origin xyz="0.836 -0.0775 2.274" rpy="-1.570796 0 0"/>
      <geometry>
        <cylinder radius="0.012" length="0.024"/>
      </geometry>
      <material name="mat_track"/>
    </visual>
    <visual name="jamb_latch_0_vis">
      <origin xyz="-0.5065 0 1.077" rpy="0 0 0"/>
      <geometry>
        <box size="0.079 0.145 2.154"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_latch_0_col">
      <origin xyz="-0.5065 0 1.077" rpy="0 0 0"/>
      <geometry>
        <box size="0.079 0.145 2.154"/>
      </geometry>
    </collision>
    <visual name="floor_guide_n_vis">
      <origin xyz="0.517 -0.1375 0.02" rpy="0 0 0"/>
      <geometry>
        <box size="0.06 0.008 0.04"/>
      </geometry>
      <material name="mat_track"/>
    </visual>
    <collision name="floor_guide_n_col">
      <origin xyz="0.517 -0.1375 0.02" rpy="0 0 0"/>
      <geometry>
        <box size="0.06 0.008 0.04"/>
      </geometry>
    </collision>
    <visual name="floor_guide_p_vis">
      <origin xyz="0.517 -0.0775 0.02" rpy="0 0 0"/>
      <geometry>
        <box size="0.06 0.008 0.04"/>
      </geometry>
      <material name="mat_track"/>
    </visual>
    <collision name="floor_guide_p_col">
      <origin xyz="0.517 -0.0775 0.02" rpy="0 0 0"/>
      <geometry>
        <box size="0.06 0.008 0.04"/>
      </geometry>
    </collision>
  </link>
  <link name="leaf">
    <inertial>
      <origin xyz="-0.002591 -0.000645 1.13673" rpy="0 0 0"/>
      <mass value="63.700369"/>
      <inertia ixx="26.960861049" ixy="-0.011822501" ixz="-0.022563044" iyy="31.552760116" iyz="0.004487774" izz="4.616676997"/>
    </inertial>
    <visual name="leaf_slab_vis">
      <origin xyz="0 0 1.079" rpy="0 0 0"/>
      <geometry>
        <box size="0.914 0.044 2.134"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <collision name="leaf_slab_col">
      <origin xyz="0 0 1.079" rpy="0 0 0"/>
      <geometry>
        <box size="0.914 0.044 2.134"/>
      </geometry>
    </collision>
    <visual name="leaf_plank_gap_1_vis">
      <origin xyz="-0.304667 0 1.079" rpy="0 0 0"/>
      <geometry>
        <box size="0.004 0.046 2.114"/>
      </geometry>
      <material name="mat_leaf_brace"/>
    </visual>
    <visual name="leaf_plank_gap_2_vis">
      <origin xyz="-0.152333 0 1.079" rpy="0 0 0"/>
      <geometry>
        <box size="0.004 0.046 2.114"/>
      </geometry>
      <material name="mat_leaf_brace"/>
    </visual>
    <visual name="leaf_plank_gap_3_vis">
      <origin xyz="0 0 1.079" rpy="0 0 0"/>
      <geometry>
        <box size="0.004 0.046 2.114"/>
      </geometry>
      <material name="mat_leaf_brace"/>
    </visual>
    <visual name="leaf_plank_gap_4_vis">
      <origin xyz="0.152333 0 1.079" rpy="0 0 0"/>
      <geometry>
        <box size="0.004 0.046 2.114"/>
      </geometry>
      <material name="mat_leaf_brace"/>
    </visual>
    <visual name="leaf_plank_gap_5_vis">
      <origin xyz="0.304667 0 1.079" rpy="0 0 0"/>
      <geometry>
        <box size="0.004 0.046 2.114"/>
      </geometry>
      <material name="mat_leaf_brace"/>
    </visual>
    <visual name="leaf_batten_13_vis">
      <origin xyz="0 -0.032 0.132" rpy="0 0 0"/>
      <geometry>
        <box size="0.854 0.02 0.09"/>
      </geometry>
      <material name="mat_leaf_brace"/>
    </visual>
    <visual name="leaf_batten_202_vis">
      <origin xyz="0 -0.032 2.026" rpy="0 0 0"/>
      <geometry>
        <box size="0.854 0.02 0.09"/>
      </geometry>
      <material name="mat_leaf_brace"/>
    </visual>
    <visual name="leaf_batten_107_vis">
      <origin xyz="0 -0.032 1.079" rpy="0 0 0"/>
      <geometry>
        <box size="0.854 0.02 0.09"/>
      </geometry>
      <material name="mat_leaf_brace"/>
    </visual>
    <visual name="leaf_hanger_wheel_0_vis">
      <origin xyz="-0.337 0 2.266" rpy="-1.570796 0 0"/>
      <geometry>
        <cylinder radius="0.05" length="0.02"/>
      </geometry>
      <material name="mat_roller"/>
    </visual>
    <visual name="leaf_hanger_strap_0_vis">
      <origin xyz="-0.337 -0.012 2.196" rpy="0 0 0"/>
      <geometry>
        <box size="0.04 0.008 0.14"/>
      </geometry>
      <material name="mat_roller"/>
    </visual>
    <visual name="leaf_hanger_wheel_1_vis">
      <origin xyz="0.337 0 2.266" rpy="-1.570796 0 0"/>
      <geometry>
        <cylinder radius="0.05" length="0.02"/>
      </geometry>
      <material name="mat_roller"/>
    </visual>
    <visual name="leaf_hanger_strap_1_vis">
      <origin xyz="0.337 -0.012 2.196" rpy="0 0 0"/>
      <geometry>
        <box size="0.04 0.008 0.14"/>
      </geometry>
      <material name="mat_roller"/>
    </visual>
    <visual name="leaf_pull_n_vis">
      <origin xyz="-0.367 -0.022 1" rpy="-1.570796 0 3.141593"/>
      <geometry>
        <mesh filename="../../hardware/pull_1e5d69a91a.obj"/>
      </geometry>
      <material name="mat_op_stainless"/>
    </visual>
    <collision name="leaf_pull_col_n_col">
      <origin xyz="-0.367 -0.082 1" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.0095" length="0.16"/>
      </geometry>
    </collision>
  </link>
  <joint name="leaf_slide" type="prismatic">
    <origin xyz="0 -0.1075 0" rpy="0 0 0"/>
    <parent link="world_env"/>
    <child link="leaf"/>
    <axis xyz="1 0 0"/>
    <limit lower="0" upper="0.914" effort="5000" velocity="10"/>
    <dynamics damping="5.028733" friction="15.444897"/>
  </joint>
  <material name="mat_floor">
    <color rgba="0.55 0.53 0.5 1"/>
  </material>
  <material name="mat_frame">
    <color rgba="0.82 0.7 0.5 1"/>
  </material>
  <material name="mat_leaf">
    <color rgba="0.517 0.357 0.225 1"/>
  </material>
  <material name="mat_leaf_brace">
    <color rgba="0.466 0.321 0.203 1"/>
  </material>
  <material name="mat_op_stainless">
    <color rgba="0.75 0.76 0.77 1"/>
  </material>
  <material name="mat_roller">
    <color rgba="0.65 0.66 0.68 1"/>
  </material>
  <material name="mat_track">
    <color rgba="0.05 0.05 0.05 1"/>
  </material>
  <material name="mat_wall">
    <color rgba="0.78 0.76 0.7 1"/>
  </material>
</robot>
