<?xml version="1.0" ?>
<robot xmlns:doorbench="https://github.com/adamraudonis/DoorBench/schema/urdf-ext" name="db0360_hatch_floor_minimal">
  <link name="world_env">
    <visual name="floor_a_vis">
      <origin xyz="-3.2275 0 -0.05" rpy="0 0 0"/>
      <geometry>
        <box size="5.545 12 0.1"/>
      </geometry>
      <material name="mat_floor"/>
    </visual>
    <collision name="floor_a_col">
      <origin xyz="-3.2275 0 -0.05" rpy="0 0 0"/>
      <geometry>
        <box size="5.545 12 0.1"/>
      </geometry>
    </collision>
    <visual name="floor_b_vis">
      <origin xyz="3.2275 0 -0.05" rpy="0 0 0"/>
      <geometry>
        <box size="5.545 12 0.1"/>
      </geometry>
      <material name="mat_floor"/>
    </visual>
    <collision name="floor_b_col">
      <origin xyz="3.2275 0 -0.05" rpy="0 0 0"/>
      <geometry>
        <box size="5.545 12 0.1"/>
      </geometry>
    </collision>
    <visual name="floor_c_vis">
      <origin xyz="0 -3.2275 -0.05" rpy="0 0 0"/>
      <geometry>
        <box size="0.91 5.545 0.1"/>
      </geometry>
      <material name="mat_floor"/>
    </visual>
    <collision name="floor_c_col">
      <origin xyz="0 -3.2275 -0.05" rpy="0 0 0"/>
      <geometry>
        <box size="0.91 5.545 0.1"/>
      </geometry>
    </collision>
    <visual name="floor_d_vis">
      <origin xyz="0 3.2275 -0.05" rpy="0 0 0"/>
      <geometry>
        <box size="0.91 5.545 0.1"/>
      </geometry>
      <material name="mat_floor"/>
    </visual>
    <collision name="floor_d_col">
      <origin xyz="0 3.2275 -0.05" rpy="0 0 0"/>
      <geometry>
        <box size="0.91 5.545 0.1"/>
      </geometry>
    </collision>
    <visual name="curb_l_vis">
      <origin xyz="-0.48 0 0.02" rpy="0 0 0"/>
      <geometry>
        <box size="0.05 1.01 0.04"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="curb_l_col">
      <origin xyz="-0.48 0 0.02" rpy="0 0 0"/>
      <geometry>
        <box size="0.05 1.01 0.04"/>
      </geometry>
    </collision>
    <visual name="curb_r_vis">
      <origin xyz="0.48 0 0.02" rpy="0 0 0"/>
      <geometry>
        <box size="0.05 1.01 0.04"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="curb_r_col">
      <origin xyz="0.48 0 0.02" rpy="0 0 0"/>
      <geometry>
        <box size="0.05 1.01 0.04"/>
      </geometry>
    </collision>
    <visual name="curb_n_vis">
      <origin xyz="0 -0.48 0.02" rpy="0 0 0"/>
      <geometry>
        <box size="0.91 0.05 0.04"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="curb_n_col">
      <origin xyz="0 -0.48 0.02" rpy="0 0 0"/>
      <geometry>
        <box size="0.91 0.05 0.04"/>
      </geometry>
    </collision>
    <visual name="curb_f_vis">
      <origin xyz="0 0.48 0.02" rpy="0 0 0"/>
      <geometry>
        <box size="0.91 0.05 0.04"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="curb_f_col">
      <origin xyz="0 0.48 0.02" rpy="0 0 0"/>
      <geometry>
        <box size="0.91 0.05 0.04"/>
      </geometry>
    </collision>
  </link>
  <link name="hatch">
    <inertial>
      <origin xyz="0 -0.459449 0.001166" rpy="0 0 0"/>
      <mass value="20.74"/>
      <inertia ixx="1.397276718" ixy="0" ixz="0" iyy="1.372691406" iyz="0.004935687" izz="2.761214294"/>
    </inertial>
    <visual name="hatch_slab_vis">
      <origin xyz="0 -0.455 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.9 0.902 0.032"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <collision name="hatch_slab_col">
      <origin xyz="0 -0.455 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.9 0.902 0.032"/>
      </geometry>
    </collision>
    <visual name="hatch_pull_p_vis">
      <origin xyz="0 -0.6825 0.032" rpy="-1.570796 0 0"/>
      <geometry>
        <mesh filename="../../hardware/pull_1e5d69a91a.obj"/>
      </geometry>
      <material name="mat_op_stainless"/>
    </visual>
    <collision name="hatch_pull_col_p_col">
      <origin xyz="0 -0.6825 0.092" rpy="1.570796 0 0"/>
      <geometry>
        <cylinder radius="0.0095" length="0.16"/>
      </geometry>
    </collision>
  </link>
  <joint name="hatch_hinge" type="revolute">
    <origin xyz="0 0.455 0.04" rpy="0 0 0"/>
    <parent link="world_env"/>
    <child link="hatch"/>
    <axis xyz="-1 0 0"/>
    <limit lower="0" upper="1.570796" effort="2000" velocity="10"/>
    <dynamics damping="0.606642" friction="0.585763"/>
  </joint>
  <material name="mat_floor">
    <color rgba="0.55 0.53 0.5 1"/>
  </material>
  <material name="mat_frame">
    <color rgba="0.82 0.7 0.5 1"/>
  </material>
  <material name="mat_leaf">
    <color rgba="0.451 0.355 0.243 1"/>
  </material>
  <material name="mat_op_stainless">
    <color rgba="0.75 0.76 0.77 1"/>
  </material>
</robot>
