<?xml version="1.0" ?>
<robot xmlns:doorbench="https://github.com/adamraudonis/DoorBench/schema/urdf-ext" name="db0822_revolving_minimal">
  <link name="world_env">
    <visual name="floor_vis">
      <origin xyz="0 0 -0.05" rpy="0 0 0"/>
      <geometry>
        <box size="12 12 0.1"/>
      </geometry>
      <material name="mat_floor"/>
    </visual>
    <collision name="floor_col">
      <origin xyz="0 0 -0.05" rpy="0 0 0"/>
      <geometry>
        <box size="12 12 0.1"/>
      </geometry>
    </collision>
    <visual name="wall_left_vis">
      <origin xyz="-2.025 0 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="1.95 0.3 3"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_left_col">
      <origin xyz="-2.025 0 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="1.95 0.3 3"/>
      </geometry>
    </collision>
    <visual name="wall_right_vis">
      <origin xyz="2.025 0 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="1.95 0.3 3"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_right_col">
      <origin xyz="2.025 0 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="1.95 0.3 3"/>
      </geometry>
    </collision>
    <visual name="wall_header_vis">
      <origin xyz="0 0 2.85" rpy="0 0 0"/>
      <geometry>
        <box size="2.1 0.3 0.3"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_header_col">
      <origin xyz="0 0 2.85" rpy="0 0 0"/>
      <geometry>
        <box size="2.1 0.3 0.3"/>
      </geometry>
    </collision>
    <visual name="drum_0_vis">
      <origin xyz="1.013586 0.114204 1.2425" rpy="0 0 1.682996"/>
      <geometry>
        <box size="0.232887 0.012 2.485"/>
      </geometry>
      <material name="mat_drum_glass"/>
    </visual>
    <collision name="drum_0_col">
      <origin xyz="1.013586 0.114204 1.2425" rpy="0 0 1.682996"/>
      <geometry>
        <box size="0.232887 0.012 2.485"/>
      </geometry>
    </collision>
    <visual name="drum_1_vis">
      <origin xyz="0.962761 0.336885 1.2425" rpy="0 0 1.907396"/>
      <geometry>
        <box size="0.232887 0.012 2.485"/>
      </geometry>
      <material name="mat_drum_glass"/>
    </visual>
    <collision name="drum_1_col">
      <origin xyz="0.962761 0.336885 1.2425" rpy="0 0 1.907396"/>
      <geometry>
        <box size="0.232887 0.012 2.485"/>
      </geometry>
    </collision>
    <visual name="drum_2_vis">
      <origin xyz="0.863659 0.542673 1.2425" rpy="0 0 2.131795"/>
      <geometry>
        <box size="0.232887 0.012 2.485"/>
      </geometry>
      <material name="mat_drum_glass"/>
    </visual>
    <collision name="drum_2_col">
      <origin xyz="0.863659 0.542673 1.2425" rpy="0 0 2.131795"/>
      <geometry>
        <box size="0.232887 0.012 2.485"/>
      </geometry>
    </collision>
    <visual name="drum_11_vis">
      <origin xyz="-0.863659 0.542673 1.2425" rpy="0 0 -2.131795"/>
      <geometry>
        <box size="0.232887 0.012 2.485"/>
      </geometry>
      <material name="mat_drum_glass"/>
    </visual>
    <collision name="drum_11_col">
      <origin xyz="-0.863659 0.542673 1.2425" rpy="0 0 -2.131795"/>
      <geometry>
        <box size="0.232887 0.012 2.485"/>
      </geometry>
    </collision>
    <visual name="drum_12_vis">
      <origin xyz="-0.962761 0.336885 1.2425" rpy="0 0 -1.907396"/>
      <geometry>
        <box size="0.232887 0.012 2.485"/>
      </geometry>
      <material name="mat_drum_glass"/>
    </visual>
    <collision name="drum_12_col">
      <origin xyz="-0.962761 0.336885 1.2425" rpy="0 0 -1.907396"/>
      <geometry>
        <box size="0.232887 0.012 2.485"/>
      </geometry>
    </collision>
    <visual name="drum_13_vis">
      <origin xyz="-1.013586 0.114204 1.2425" rpy="0 0 -1.682996"/>
      <geometry>
        <box size="0.232887 0.012 2.485"/>
      </geometry>
      <material name="mat_drum_glass"/>
    </visual>
    <collision name="drum_13_col">
      <origin xyz="-1.013586 0.114204 1.2425" rpy="0 0 -1.682996"/>
      <geometry>
        <box size="0.232887 0.012 2.485"/>
      </geometry>
    </collision>
    <visual name="drum_14_vis">
      <origin xyz="-1.013586 -0.114204 1.2425" rpy="0 0 -1.458597"/>
      <geometry>
        <box size="0.232887 0.012 2.485"/>
      </geometry>
      <material name="mat_drum_glass"/>
    </visual>
    <collision name="drum_14_col">
      <origin xyz="-1.013586 -0.114204 1.2425" rpy="0 0 -1.458597"/>
      <geometry>
        <box size="0.232887 0.012 2.485"/>
      </geometry>
    </collision>
    <visual name="drum_15_vis">
      <origin xyz="-0.962761 -0.336885 1.2425" rpy="0 0 -1.234197"/>
      <geometry>
        <box size="0.232887 0.012 2.485"/>
      </geometry>
      <material name="mat_drum_glass"/>
    </visual>
    <collision name="drum_15_col">
      <origin xyz="-0.962761 -0.336885 1.2425" rpy="0 0 -1.234197"/>
      <geometry>
        <box size="0.232887 0.012 2.485"/>
      </geometry>
    </collision>
    <visual name="drum_16_vis">
      <origin xyz="-0.863659 -0.542673 1.2425" rpy="0 0 -1.009798"/>
      <geometry>
        <box size="0.232887 0.012 2.485"/>
      </geometry>
      <material name="mat_drum_glass"/>
    </visual>
    <collision name="drum_16_col">
      <origin xyz="-0.863659 -0.542673 1.2425" rpy="0 0 -1.009798"/>
      <geometry>
        <box size="0.232887 0.012 2.485"/>
      </geometry>
    </collision>
    <visual name="drum_25_vis">
      <origin xyz="0.863659 -0.542673 1.2425" rpy="0 0 1.009798"/>
      <geometry>
        <box size="0.232887 0.012 2.485"/>
      </geometry>
      <material name="mat_drum_glass"/>
    </visual>
    <collision name="drum_25_col">
      <origin xyz="0.863659 -0.542673 1.2425" rpy="0 0 1.009798"/>
      <geometry>
        <box size="0.232887 0.012 2.485"/>
      </geometry>
    </collision>
    <visual name="drum_26_vis">
      <origin xyz="0.962761 -0.336885 1.2425" rpy="0 0 1.234197"/>
      <geometry>
        <box size="0.232887 0.012 2.485"/>
      </geometry>
      <material name="mat_drum_glass"/>
    </visual>
    <collision name="drum_26_col">
      <origin xyz="0.962761 -0.336885 1.2425" rpy="0 0 1.234197"/>
      <geometry>
        <box size="0.232887 0.012 2.485"/>
      </geometry>
    </collision>
    <visual name="drum_27_vis">
      <origin xyz="1.013586 -0.114204 1.2425" rpy="0 0 1.458597"/>
      <geometry>
        <box size="0.232887 0.012 2.485"/>
      </geometry>
      <material name="mat_drum_glass"/>
    </visual>
    <collision name="drum_27_col">
      <origin xyz="1.013586 -0.114204 1.2425" rpy="0 0 1.458597"/>
      <geometry>
        <box size="0.232887 0.012 2.485"/>
      </geometry>
    </collision>
    <visual name="drum_canopy_vis">
      <origin xyz="0 0 2.5925" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="1.08" length="0.215"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="drum_canopy_col">
      <origin xyz="0 0 2.5925" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="1.08" length="0.215"/>
      </geometry>
    </collision>
  </link>
  <link name="rotor">
    <inertial>
      <origin xyz="0 0 1.244737" rpy="0 0 0"/>
      <mass value="61.25"/>
      <inertia ixx="39.259150974" ixy="0" ixz="0" iyy="39.259150974" iyz="0" izz="22.560521856"/>
    </inertial>
    <visual name="rotor_shaft_vis">
      <origin xyz="0 0 1.245" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.06" length="2.45"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="rotor_shaft_col">
      <origin xyz="0 0 1.245" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.06" length="2.45"/>
      </geometry>
    </collision>
    <visual name="wing_0_glass_vis">
      <origin xyz="0.5 0 1.25" rpy="0 0 0"/>
      <geometry>
        <box size="0.96 0.01 2.3"/>
      </geometry>
      <material name="mat_drum_glass"/>
    </visual>
    <collision name="wing_0_glass_col">
      <origin xyz="0.5 0 1.25" rpy="0 0 0"/>
      <geometry>
        <box size="0.96 0.01 2.3"/>
      </geometry>
    </collision>
    <visual name="wing_0_stile_vis">
      <origin xyz="0.98 0 1.245" rpy="0 0 0"/>
      <geometry>
        <box size="0.04 0.06 2.45"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="wing_0_stile_col">
      <origin xyz="0.98 0 1.245" rpy="0 0 0"/>
      <geometry>
        <box size="0.04 0.06 2.45"/>
      </geometry>
    </collision>
    <visual name="wing_0_bar_vis">
      <origin xyz="0.6 0.055 1" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.012" length="0.3"/>
      </geometry>
      <material name="mat_op_stainless"/>
    </visual>
    <collision name="wing_0_bar_col">
      <origin xyz="0.6 0.055 1" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.012" length="0.3"/>
      </geometry>
    </collision>
    <visual name="wing_0_bar_stud_d_vis">
      <origin xyz="0.6 0.031 0.88" rpy="-1.570796 0 0"/>
      <geometry>
        <cylinder radius="0.009" length="0.056"/>
      </geometry>
      <material name="mat_op_stainless"/>
    </visual>
    <visual name="wing_0_bar_stud_u_vis">
      <origin xyz="0.6 0.031 1.12" rpy="-1.570796 0 0"/>
      <geometry>
        <cylinder radius="0.009" length="0.056"/>
      </geometry>
      <material name="mat_op_stainless"/>
    </visual>
    <visual name="wing_1_glass_vis">
      <origin xyz="0 0.5 1.25" rpy="0 0 1.570796"/>
      <geometry>
        <box size="0.96 0.01 2.3"/>
      </geometry>
      <material name="mat_drum_glass"/>
    </visual>
    <collision name="wing_1_glass_col">
      <origin xyz="0 0.5 1.25" rpy="0 0 1.570796"/>
      <geometry>
        <box size="0.96 0.01 2.3"/>
      </geometry>
    </collision>
    <visual name="wing_1_stile_vis">
      <origin xyz="0 0.98 1.245" rpy="0 0 1.570796"/>
      <geometry>
        <box size="0.04 0.06 2.45"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="wing_1_stile_col">
      <origin xyz="0 0.98 1.245" rpy="0 0 1.570796"/>
      <geometry>
        <box size="0.04 0.06 2.45"/>
      </geometry>
    </collision>
    <visual name="wing_1_bar_vis">
      <origin xyz="-0.055 0.6 1" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.012" length="0.3"/>
      </geometry>
      <material name="mat_op_stainless"/>
    </visual>
    <collision name="wing_1_bar_col">
      <origin xyz="-0.055 0.6 1" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.012" length="0.3"/>
      </geometry>
    </collision>
    <visual name="wing_1_bar_stud_d_vis">
      <origin xyz="-0.031 0.6 0.88" rpy="-0.269078 -1.570796 0.269078"/>
      <geometry>
        <cylinder radius="0.009" length="0.056"/>
      </geometry>
      <material name="mat_op_stainless"/>
    </visual>
    <visual name="wing_1_bar_stud_u_vis">
      <origin xyz="-0.031 0.6 1.12" rpy="-0.269078 -1.570796 0.269078"/>
      <geometry>
        <cylinder radius="0.009" length="0.056"/>
      </geometry>
      <material name="mat_op_stainless"/>
    </visual>
    <visual name="wing_2_glass_vis">
      <origin xyz="-0.5 0 1.25" rpy="0 0 3.141593"/>
      <geometry>
        <box size="0.96 0.01 2.3"/>
      </geometry>
      <material name="mat_drum_glass"/>
    </visual>
    <collision name="wing_2_glass_col">
      <origin xyz="-0.5 0 1.25" rpy="0 0 3.141593"/>
      <geometry>
        <box size="0.96 0.01 2.3"/>
      </geometry>
    </collision>
    <visual name="wing_2_stile_vis">
      <origin xyz="-0.98 0 1.245" rpy="0 0 3.141593"/>
      <geometry>
        <box size="0.04 0.06 2.45"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="wing_2_stile_col">
      <origin xyz="-0.98 0 1.245" rpy="0 0 3.141593"/>
      <geometry>
        <box size="0.04 0.06 2.45"/>
      </geometry>
    </collision>
    <visual name="wing_2_bar_vis">
      <origin xyz="-0.6 -0.055 1" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.012" length="0.3"/>
      </geometry>
      <material name="mat_op_stainless"/>
    </visual>
    <collision name="wing_2_bar_col">
      <origin xyz="-0.6 -0.055 1" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.012" length="0.3"/>
      </geometry>
    </collision>
    <visual name="wing_2_bar_stud_d_vis">
      <origin xyz="-0.6 -0.031 0.88" rpy="1.570796 0 0"/>
      <geometry>
        <cylinder radius="0.009" length="0.056"/>
      </geometry>
      <material name="mat_op_stainless"/>
    </visual>
    <visual name="wing_2_bar_stud_u_vis">
      <origin xyz="-0.6 -0.031 1.12" rpy="1.570796 0 0"/>
      <geometry>
        <cylinder radius="0.009" length="0.056"/>
      </geometry>
      <material name="mat_op_stainless"/>
    </visual>
    <visual name="wing_3_glass_vis">
      <origin xyz="0 -0.5 1.25" rpy="0 0 -1.570796"/>
      <geometry>
        <box size="0.96 0.01 2.3"/>
      </geometry>
      <material name="mat_drum_glass"/>
    </visual>
    <collision name="wing_3_glass_col">
      <origin xyz="0 -0.5 1.25" rpy="0 0 -1.570796"/>
      <geometry>
        <box size="0.96 0.01 2.3"/>
      </geometry>
    </collision>
    <visual name="wing_3_stile_vis">
      <origin xyz="0 -0.98 1.245" rpy="0 0 -1.570796"/>
      <geometry>
        <box size="0.04 0.06 2.45"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="wing_3_stile_col">
      <origin xyz="0 -0.98 1.245" rpy="0 0 -1.570796"/>
      <geometry>
        <box size="0.04 0.06 2.45"/>
      </geometry>
    </collision>
    <visual name="wing_3_bar_vis">
      <origin xyz="0.055 -0.6 1" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.012" length="0.3"/>
      </geometry>
      <material name="mat_op_stainless"/>
    </visual>
    <collision name="wing_3_bar_col">
      <origin xyz="0.055 -0.6 1" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.012" length="0.3"/>
      </geometry>
    </collision>
    <visual name="wing_3_bar_stud_d_vis">
      <origin xyz="0.031 -0.6 0.88" rpy="0.691166 1.570796 0.691166"/>
      <geometry>
        <cylinder radius="0.009" length="0.056"/>
      </geometry>
      <material name="mat_op_stainless"/>
    </visual>
    <visual name="wing_3_bar_stud_u_vis">
      <origin xyz="0.031 -0.6 1.12" rpy="0.691166 1.570796 0.691166"/>
      <geometry>
        <cylinder radius="0.009" length="0.056"/>
      </geometry>
      <material name="mat_op_stainless"/>
    </visual>
  </link>
  <joint name="rotor_hinge" type="continuous">
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <parent link="world_env"/>
    <child link="rotor"/>
    <axis xyz="0 0 1"/>
    <dynamics damping="35" friction="2.984247"/>
  </joint>
  <material name="mat_drum_glass">
    <color rgba="0.85 0.92 0.95 0.25"/>
  </material>
  <material name="mat_floor">
    <color rgba="0.55 0.53 0.5 1"/>
  </material>
  <material name="mat_frame">
    <color rgba="0.85 0.66 0.3 1"/>
  </material>
  <material name="mat_op_stainless">
    <color rgba="0.75 0.76 0.77 1"/>
  </material>
  <material name="mat_wall">
    <color rgba="0.78 0.76 0.7 1"/>
  </material>
</robot>
