<?xml version="1.0" ?>
<robot xmlns:doorbench="https://github.com/adamraudonis/DoorBench/schema/urdf-ext" name="db0404_swing_single_simple">
  <link name="world_env">
    <visual name="floor_vis">
      <origin xyz="0 0 -0.05" rpy="0 0 0"/>
      <geometry>
        <box size="12 12 0.1"/>
      </geometry>
      <material name="mat_floor"/>
    </visual>
    <collision name="floor_col">
      <origin xyz="0 0 -0.05" rpy="0 0 0"/>
      <geometry>
        <box size="12 12 0.1"/>
      </geometry>
    </collision>
    <visual name="wall_left_vis">
      <origin xyz="-1.50525 0.058 1.3735" rpy="0 0 0"/>
      <geometry>
        <box size="1.9895 0.2 2.747"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_left_col">
      <origin xyz="-1.50525 0.058 1.3735" rpy="0 0 0"/>
      <geometry>
        <box size="1.9895 0.2 2.747"/>
      </geometry>
    </collision>
    <visual name="wall_right_vis">
      <origin xyz="1.52025 0.058 1.3735" rpy="0 0 0"/>
      <geometry>
        <box size="1.9595 0.2 2.747"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_right_col">
      <origin xyz="1.52025 0.058 1.3735" rpy="0 0 0"/>
      <geometry>
        <box size="1.9595 0.2 2.747"/>
      </geometry>
    </collision>
    <visual name="wall_header_vis">
      <origin xyz="0.015 0.058 2.487" rpy="0 0 0"/>
      <geometry>
        <box size="1.051 0.2 0.52"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_header_col">
      <origin xyz="0.015 0.058 2.487" rpy="0 0 0"/>
      <geometry>
        <box size="1.051 0.2 0.52"/>
      </geometry>
    </collision>
    <visual name="jamb_hinge_vis">
      <origin xyz="-0.4855 0.058 1.0735" rpy="0 0 0"/>
      <geometry>
        <box size="0.05 0.2 2.147"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_hinge_col">
      <origin xyz="-0.4855 0.058 1.0735" rpy="0 0 0"/>
      <geometry>
        <box size="0.05 0.2 2.147"/>
      </geometry>
    </collision>
    <visual name="strike_1040_wall_n_vis">
      <origin xyz="0.5005 0.0845 1.04" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.147 0.04"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="strike_1040_wall_n_col">
      <origin xyz="0.5005 0.0845 1.04" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.147 0.04"/>
      </geometry>
    </collision>
    <visual name="strike_1040_wall_p_vis">
      <origin xyz="0.5005 -0.019 1.04" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.016 0.04"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="strike_1040_wall_p_col">
      <origin xyz="0.5005 -0.019 1.04" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.016 0.04"/>
      </geometry>
    </collision>
    <visual name="strike_1040_ramp_vis">
      <origin xyz="0.50523 -0.024654 1.04" rpy="0 0 0.519146"/>
      <geometry>
        <box size="0.08 0.040311 0.04"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="strike_1040_ramp_col">
      <origin xyz="0.50523 -0.024654 1.04" rpy="0 0 0.519146"/>
      <geometry>
        <box size="0.08 0.040311 0.04"/>
      </geometry>
    </collision>
    <visual name="strike_1040_back_vis">
      <origin xyz="0.512 0 1.04" rpy="0 0 0"/>
      <geometry>
        <box size="0.057 0.022 0.04"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="strike_1040_back_col">
      <origin xyz="0.512 0 1.04" rpy="0 0 0"/>
      <geometry>
        <box size="0.057 0.022 0.04"/>
      </geometry>
    </collision>
    <visual name="jamb_strike_0_vis">
      <origin xyz="0.5005 0.058 0.51" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.2 1.02"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_strike_0_col">
      <origin xyz="0.5005 0.058 0.51" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.2 1.02"/>
      </geometry>
    </collision>
    <visual name="jamb_strike_1_vis">
      <origin xyz="0.5005 0.058 1.6035" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.2 1.087"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_strike_1_col">
      <origin xyz="0.5005 0.058 1.6035" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.2 1.087"/>
      </geometry>
    </collision>
    <visual name="jamb_head_vis">
      <origin xyz="0.015 0.058 2.172" rpy="0 0 0"/>
      <geometry>
        <box size="1.051 0.2 0.05"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_head_col">
      <origin xyz="0.015 0.058 2.172" rpy="0 0 0"/>
      <geometry>
        <box size="1.051 0.2 0.05"/>
      </geometry>
    </collision>
    <visual name="head_stud_vis">
      <origin xyz="0.015 0.058 2.212" rpy="0 0 0"/>
      <geometry>
        <box size="1.051 0.2 0.03"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="head_stud_col">
      <origin xyz="0.015 0.058 2.212" rpy="0 0 0"/>
      <geometry>
        <box size="1.051 0.2 0.03"/>
      </geometry>
    </collision>
    <visual name="stop_hinge_vis">
      <origin xyz="-0.455 0.0385 1.0735" rpy="0 0 0"/>
      <geometry>
        <box size="0.011 0.032 2.147"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="stop_hinge_col">
      <origin xyz="-0.455 0.0385 1.0735" rpy="0 0 0"/>
      <geometry>
        <box size="0.011 0.032 2.147"/>
      </geometry>
    </collision>
    <visual name="stop_strike_vis">
      <origin xyz="0.455 0.0385 1.0735" rpy="0 0 0"/>
      <geometry>
        <box size="0.011 0.032 2.147"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="stop_strike_col">
      <origin xyz="0.455 0.0385 1.0735" rpy="0 0 0"/>
      <geometry>
        <box size="0.011 0.032 2.147"/>
      </geometry>
    </collision>
    <visual name="stop_head_vis">
      <origin xyz="0 0.0385 2.1415" rpy="0 0 0"/>
      <geometry>
        <box size="0.921 0.032 0.011"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="stop_head_col">
      <origin xyz="0 0.0385 2.1415" rpy="0 0 0"/>
      <geometry>
        <box size="0.921 0.032 0.011"/>
      </geometry>
    </collision>
    <visual name="seal_hinge_vis">
      <origin xyz="-0.4485 0.0245 1.0735" rpy="0 0 0"/>
      <geometry>
        <box size="0.016 0.005 2.147"/>
      </geometry>
      <material name="mat_seal"/>
    </visual>
    <visual name="seal_strike_vis">
      <origin xyz="0.4485 0.0245 1.0735" rpy="0 0 0"/>
      <geometry>
        <box size="0.016 0.005 2.147"/>
      </geometry>
      <material name="mat_seal"/>
    </visual>
    <visual name="seal_head_vis">
      <origin xyz="0 0.0245 2.135" rpy="0 0 0"/>
      <geometry>
        <box size="0.881 0.005 0.016"/>
      </geometry>
      <material name="mat_seal"/>
    </visual>
  </link>
  <link name="leaf">
    <inertial>
      <origin xyz="0.472902 0.034686 1.022519" rpy="0 0 0"/>
      <mass value="66.516941"/>
      <inertia ixx="21.014184744" ixy="-0.056139654" ixz="0.034351374" iyy="25.919605633" iyz="0.052959826" izz="4.999353456"/>
    </inertial>
    <visual name="leaf_slab_vis">
      <origin xyz="0.457 0.029 1.076" rpy="0 0 0"/>
      <geometry>
        <box size="0.914 0.044 2.134"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <collision name="leaf_slab_col">
      <origin xyz="0.457 0.029 1.076" rpy="0 0 0"/>
      <geometry>
        <box size="0.914 0.044 2.134"/>
      </geometry>
    </collision>
    <visual name="hinge_0_vis">
      <origin xyz="0 0 0.259" rpy="0 0 -1.570796"/>
      <geometry>
        <mesh filename="../../hardware/hinge_dcb8da44bf.obj"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="hinge_1_vis">
      <origin xyz="0 0 0.827" rpy="0 0 -1.570796"/>
      <geometry>
        <mesh filename="../../hardware/hinge_dcb8da44bf.obj"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="hinge_2_vis">
      <origin xyz="0 0 1.395" rpy="0 0 -1.570796"/>
      <geometry>
        <mesh filename="../../hardware/hinge_dcb8da44bf.obj"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="hinge_3_vis">
      <origin xyz="0 0 1.963" rpy="0 0 -1.570796"/>
      <geometry>
        <mesh filename="../../hardware/hinge_dcb8da44bf.obj"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="leaf_exit_device_rail_vis">
      <origin xyz="0.51695 0.051 1.04" rpy="-1.570796 0 0"/>
      <geometry>
        <mesh filename="../../hardware/touchbar_rail_6942e50891.obj"/>
      </geometry>
      <material name="mat_op_stainless"/>
    </visual>
    <collision name="leaf_exit_device_rail_col_col">
      <origin xyz="0.51695 0.0705 1.04" rpy="0 0 0"/>
      <geometry>
        <box size="0.6341 0.039 0.05"/>
      </geometry>
    </collision>
    <visual name="leaf_far_pull_n_vis">
      <origin xyz="0.824 0.007 1.04" rpy="1.570796 0 0"/>
      <geometry>
        <mesh filename="../../hardware/pull_f8d79d6331.obj"/>
      </geometry>
      <material name="mat_op_stainless"/>
    </visual>
    <collision name="leaf_far_pull_col_n_col">
      <origin xyz="0.824 -0.068 1.04" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.0125" length="0.26"/>
      </geometry>
    </collision>
    <visual name="kick_plate_p_vis">
      <origin xyz="0.457 0.0518 0.144" rpy="0 0 0"/>
      <geometry>
        <box size="0.854 0.0016 0.25"/>
      </geometry>
      <material name="mat_kick"/>
    </visual>
    <visual name="bumper_rail_n_vis">
      <origin xyz="0.457 -0.003 0.859" rpy="0 0 0"/>
      <geometry>
        <box size="0.814 0.02 0.08"/>
      </geometry>
      <material name="mat_bumper"/>
    </visual>
    <collision name="bumper_rail_n_col">
      <origin xyz="0.457 -0.003 0.859" rpy="0 0 0"/>
      <geometry>
        <box size="0.814 0.02 0.08"/>
      </geometry>
    </collision>
    <visual name="bumper_rail_p_vis">
      <origin xyz="0.457 0.061 0.859" rpy="0 0 0"/>
      <geometry>
        <box size="0.814 0.02 0.08"/>
      </geometry>
      <material name="mat_bumper"/>
    </visual>
    <collision name="bumper_rail_p_col">
      <origin xyz="0.457 0.061 0.859" rpy="0 0 0"/>
      <geometry>
        <box size="0.814 0.02 0.08"/>
      </geometry>
    </collision>
  </link>
  <link name="leaf_exit_device">
    <inertial>
      <origin xyz="0 0.051 0" rpy="0 0 0"/>
      <mass value="4.491396"/>
      <inertia ixx="0.001051361" ixy="0" ixz="0" iyy="0.132862908" iyz="0" izz="0.132398423"/>
    </inertial>
    <visual name="leaf_exit_device_pad_vis">
      <origin xyz="0 0 0" rpy="-1.570796 0 0"/>
      <geometry>
        <mesh filename="../../hardware/touchbar_pad_2729a067b4.obj"/>
      </geometry>
      <material name="mat_op_stainless"/>
    </visual>
    <collision name="leaf_exit_device_pad_col_col">
      <origin xyz="0 0.051 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.5941 0.028 0.045"/>
      </geometry>
    </collision>
  </link>
  <link name="leaf_latch_bolt">
    <inertial>
      <origin xyz="-0.0055 0 0" rpy="0 0 0"/>
      <mass value="0.102826"/>
      <inertia ixx="0.000004365" ixy="0" ixz="0" iyy="0.000018287" iyz="0" izz="0.000018287"/>
    </inertial>
    <visual name="leaf_latch_bolt_capsule_vis">
      <origin xyz="-0.0055 0 0" rpy="0 1.570796 0"/>
      <geometry>
        <cylinder radius="0.0095" length="0.03"/>
      </geometry>
      <material name="mat_bolt"/>
    </visual>
    <collision name="leaf_latch_bolt_capsule_col">
      <origin xyz="-0.0055 0 0" rpy="0 1.570796 0"/>
      <geometry>
        <cylinder radius="0.0095" length="0.03"/>
      </geometry>
    </collision>
  </link>
  <joint name="leaf_hinge" type="revolute">
    <origin xyz="-0.4575 -0.029 0" rpy="0 0 0"/>
    <parent link="world_env"/>
    <child link="leaf"/>
    <axis xyz="0 0 -1"/>
    <limit lower="0" upper="1.570796" effort="2000" velocity="10"/>
    <dynamics damping="10.268966" friction="2.080542"/>
    <doorbench:spring stiffness="11.681973" springref="-1.849003" note="tau = -stiffness*(q - springref); not native URDF"/>
    <doorbench:closer damping_closing="80" damping_opening="10" backcheck_angle="1.31" backcheck_damping="50"/>
  </joint>
  <joint name="leaf_exit_device_slide" type="prismatic">
    <origin xyz="0.51695 0.051 1.04" rpy="0 0 0"/>
    <parent link="leaf"/>
    <child link="leaf_exit_device"/>
    <axis xyz="0 -1 0"/>
    <limit lower="0" upper="0.016" effort="5000" velocity="10"/>
    <dynamics damping="8" friction="0.5"/>
    <doorbench:spring stiffness="1200" springref="-0.015" note="tau = -stiffness*(q - springref); not native URDF"/>
  </joint>
  <joint name="leaf_latch_bolt_slide" type="prismatic">
    <origin xyz="0.914 0.029 1.04" rpy="0 0 0"/>
    <parent link="leaf"/>
    <child link="leaf_latch_bolt"/>
    <axis xyz="-1 0 0"/>
    <limit lower="0" upper="0.019" effort="5000" velocity="10"/>
    <dynamics damping="2" friction="0.3"/>
    <doorbench:spring stiffness="800" springref="-0.01" note="tau = -stiffness*(q - springref); not native URDF"/>
    <mimic joint="leaf_exit_device_slide" multiplier="1.357143" offset="0"/>
    <doorbench:coupling one_sided="true" note="MJCF uses a one-sided tendon (bolt may retract further, e.g. riding over the strike lip); mimic is bilateral"/>
  </joint>
  <material name="mat_bolt">
    <color rgba="0.75 0.76 0.77 1"/>
  </material>
  <material name="mat_bumper">
    <color rgba="0.92 0.92 0.9 1"/>
  </material>
  <material name="mat_floor">
    <color rgba="0.55 0.53 0.5 1"/>
  </material>
  <material name="mat_frame">
    <color rgba="0.45 0.48 0.52 1"/>
  </material>
  <material name="mat_hinge">
    <color rgba="0.65 0.66 0.68 1"/>
  </material>
  <material name="mat_kick">
    <color rgba="0.75 0.76 0.77 1"/>
  </material>
  <material name="mat_leaf">
    <color rgba="0.82 0.75 0.62 1"/>
  </material>
  <material name="mat_op_stainless">
    <color rgba="0.75 0.76 0.77 1"/>
  </material>
  <material name="mat_seal">
    <color rgba="0.1 0.1 0.1 1"/>
  </material>
  <material name="mat_wall">
    <color rgba="0.78 0.76 0.7 1"/>
  </material>
</robot>
