<?xml version="1.0" ?>
<robot xmlns:doorbench="https://github.com/adamraudonis/DoorBench/schema/urdf-ext" name="db0142_swing_single_simple">
  <link name="world_env">
    <visual name="floor_vis">
      <origin xyz="0 0 -0.05" rpy="0 0 0"/>
      <geometry>
        <box size="12 12 0.1"/>
      </geometry>
      <material name="mat_floor"/>
    </visual>
    <collision name="floor_col">
      <origin xyz="0 0 -0.05" rpy="0 0 0"/>
      <geometry>
        <box size="12 12 0.1"/>
      </geometry>
    </collision>
    <visual name="wall_left_vis">
      <origin xyz="-1.541 -0.015 1.678" rpy="0 0 0"/>
      <geometry>
        <box size="1.918 0.115 3.356"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_left_col">
      <origin xyz="-1.541 -0.015 1.678" rpy="0 0 0"/>
      <geometry>
        <box size="1.918 0.115 3.356"/>
      </geometry>
    </collision>
    <visual name="wall_right_vis">
      <origin xyz="1.556 -0.015 1.678" rpy="0 0 0"/>
      <geometry>
        <box size="1.888 0.115 3.356"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_right_col">
      <origin xyz="1.556 -0.015 1.678" rpy="0 0 0"/>
      <geometry>
        <box size="1.888 0.115 3.356"/>
      </geometry>
    </collision>
    <visual name="wall_header_vis">
      <origin xyz="0.015 -0.015 3.0935" rpy="0 0 0"/>
      <geometry>
        <box size="1.194 0.115 0.525"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_header_col">
      <origin xyz="0.015 -0.015 3.0935" rpy="0 0 0"/>
      <geometry>
        <box size="1.194 0.115 0.525"/>
      </geometry>
    </collision>
    <visual name="jamb_hinge_vis">
      <origin xyz="-0.5595 -0.015 1.378" rpy="0 0 0"/>
      <geometry>
        <box size="0.045 0.115 2.756"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_hinge_col">
      <origin xyz="-0.5595 -0.015 1.378" rpy="0 0 0"/>
      <geometry>
        <box size="0.045 0.115 2.756"/>
      </geometry>
    </collision>
    <visual name="jamb_strike_vis">
      <origin xyz="0.5595 -0.015 1.378" rpy="0 0 0"/>
      <geometry>
        <box size="0.045 0.115 2.756"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_strike_col">
      <origin xyz="0.5595 -0.015 1.378" rpy="0 0 0"/>
      <geometry>
        <box size="0.045 0.115 2.756"/>
      </geometry>
    </collision>
    <visual name="stud_strike_vis">
      <origin xyz="0.597 -0.015 1.378" rpy="0 0 0"/>
      <geometry>
        <box size="0.03 0.115 2.756"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="stud_strike_col">
      <origin xyz="0.597 -0.015 1.378" rpy="0 0 0"/>
      <geometry>
        <box size="0.03 0.115 2.756"/>
      </geometry>
    </collision>
    <visual name="jamb_head_vis">
      <origin xyz="0.015 -0.015 2.7785" rpy="0 0 0"/>
      <geometry>
        <box size="1.194 0.115 0.045"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_head_col">
      <origin xyz="0.015 -0.015 2.7785" rpy="0 0 0"/>
      <geometry>
        <box size="1.194 0.115 0.045"/>
      </geometry>
    </collision>
    <visual name="head_stud_vis">
      <origin xyz="0.015 -0.015 2.816" rpy="0 0 0"/>
      <geometry>
        <box size="1.194 0.115 0.03"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="head_stud_col">
      <origin xyz="0.015 -0.015 2.816" rpy="0 0 0"/>
      <geometry>
        <box size="1.194 0.115 0.03"/>
      </geometry>
    </collision>
    <visual name="stop_hinge_vis">
      <origin xyz="-0.5315 -0.039 1.378" rpy="0 0 0"/>
      <geometry>
        <box size="0.011 0.032 2.756"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="stop_hinge_col">
      <origin xyz="-0.5315 -0.039 1.378" rpy="0 0 0"/>
      <geometry>
        <box size="0.011 0.032 2.756"/>
      </geometry>
    </collision>
    <visual name="stop_strike_vis">
      <origin xyz="0.5315 -0.039 1.378" rpy="0 0 0"/>
      <geometry>
        <box size="0.011 0.032 2.756"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="stop_strike_col">
      <origin xyz="0.5315 -0.039 1.378" rpy="0 0 0"/>
      <geometry>
        <box size="0.011 0.032 2.756"/>
      </geometry>
    </collision>
    <visual name="stop_head_vis">
      <origin xyz="0 -0.039 2.7505" rpy="0 0 0"/>
      <geometry>
        <box size="1.074 0.032 0.011"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="stop_head_col">
      <origin xyz="0 -0.039 2.7505" rpy="0 0 0"/>
      <geometry>
        <box size="1.074 0.032 0.011"/>
      </geometry>
    </collision>
    <visual name="seal_hinge_vis">
      <origin xyz="-0.534 -0.024 1.378" rpy="0 0 0"/>
      <geometry>
        <box size="0.008 0.003 2.756"/>
      </geometry>
      <material name="mat_seal"/>
    </visual>
    <visual name="seal_strike_vis">
      <origin xyz="0.534 -0.024 1.378" rpy="0 0 0"/>
      <geometry>
        <box size="0.008 0.003 2.756"/>
      </geometry>
      <material name="mat_seal"/>
    </visual>
    <visual name="seal_head_vis">
      <origin xyz="0 -0.024 2.744" rpy="0 0 0"/>
      <geometry>
        <box size="1.034 0.003 0.016"/>
      </geometry>
      <material name="mat_seal"/>
    </visual>
    <visual name="threshold_vis">
      <origin xyz="0 -0.015 0.004" rpy="0 0 0"/>
      <geometry>
        <box size="1.164 0.215 0.008"/>
      </geometry>
      <material name="mat_threshold"/>
    </visual>
    <collision name="threshold_col">
      <origin xyz="0 -0.015 0.004" rpy="0 0 0"/>
      <geometry>
        <box size="1.164 0.215 0.008"/>
      </geometry>
    </collision>
    <visual name="wall_reader_vis">
      <origin xyz="0.787 -0.0875 1.1" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.03 0.12"/>
      </geometry>
      <material name="mat_wallreader"/>
    </visual>
    <collision name="wall_reader_col">
      <origin xyz="0.787 -0.0875 1.1" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.03 0.12"/>
      </geometry>
    </collision>
  </link>
  <link name="leaf">
    <inertial>
      <origin xyz="0.532403 -0.028968 1.373247" rpy="0 0 0"/>
      <mass value="145.794239"/>
      <inertia ixx="90.0212337" ixy="0.041304768" ixz="0.454281634" iyy="104.56006116" iyz="-0.000562708" izz="14.638322165"/>
    </inertial>
    <visual name="leaf_glass_vis">
      <origin xyz="0.5335 -0.0295 1.3805" rpy="0 0 0"/>
      <geometry>
        <box size="1.067 0.045 2.743"/>
      </geometry>
      <material name="mat_glass_leaf"/>
    </visual>
    <collision name="leaf_glass_col">
      <origin xyz="0.5335 -0.0295 1.3805" rpy="0 0 0"/>
      <geometry>
        <box size="1.067 0.045 2.743"/>
      </geometry>
    </collision>
    <visual name="hinge_continuous_vis">
      <origin xyz="0 0 1.3805" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.0096" length="2.723"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="leaf_pull_n_vis">
      <origin xyz="0.962 -0.052 1.016" rpy="1.570796 0 0"/>
      <geometry>
        <mesh filename="../../hardware/pull_f8d79d6331.obj"/>
      </geometry>
      <material name="mat_op_stainless"/>
    </visual>
    <collision name="leaf_pull_col_n_col">
      <origin xyz="0.962 -0.127 1.016" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.0125" length="0.26"/>
      </geometry>
    </collision>
    <visual name="leaf_pull_p_vis">
      <origin xyz="0.962 -0.007 1.016" rpy="-1.570796 0 0"/>
      <geometry>
        <mesh filename="../../hardware/pull_f8d79d6331.obj"/>
      </geometry>
      <material name="mat_op_stainless"/>
    </visual>
    <collision name="leaf_pull_col_p_col">
      <origin xyz="0.962 0.068 1.016" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.0125" length="0.26"/>
      </geometry>
    </collision>
  </link>
  <joint name="leaf_hinge" type="revolute">
    <origin xyz="-0.534 0.0295 0" rpy="0 0 0"/>
    <parent link="world_env"/>
    <child link="leaf"/>
    <axis xyz="0 0 1"/>
    <limit lower="0" upper="1.570796" effort="2000" velocity="10"/>
    <dynamics damping="10.642098" friction="4.916616"/>
    <doorbench:spring stiffness="46.556004" springref="-2.354584" note="tau = -stiffness*(q - springref); not native URDF"/>
    <doorbench:closer damping_closing="80" damping_opening="10" backcheck_angle="1.31" backcheck_damping="50"/>
  </joint>
  <material name="mat_floor">
    <color rgba="0.55 0.53 0.5 1"/>
  </material>
  <material name="mat_frame">
    <color rgba="0.8 0.81 0.83 1"/>
  </material>
  <material name="mat_glass_leaf">
    <color rgba="0.85 0.92 0.95 0.25"/>
  </material>
  <material name="mat_hinge">
    <color rgba="0.65 0.66 0.68 1"/>
  </material>
  <material name="mat_op_stainless">
    <color rgba="0.75 0.76 0.77 1"/>
  </material>
  <material name="mat_seal">
    <color rgba="0.1 0.1 0.1 1"/>
  </material>
  <material name="mat_threshold">
    <color rgba="0.8 0.81 0.83 1"/>
  </material>
  <material name="mat_wall">
    <color rgba="0.78 0.76 0.7 1"/>
  </material>
  <material name="mat_wallreader">
    <color rgba="0.05 0.05 0.05 1"/>
  </material>
</robot>
