<?xml version="1.0" ?>
<robot xmlns:doorbench="https://github.com/adamraudonis/DoorBench/schema/urdf-ext" name="db0886_swing_single_full">
  <link name="world_env">
    <visual name="floor_vis">
      <origin xyz="0 0 -0.05" rpy="0 0 0"/>
      <geometry>
        <box size="12 12 0.1"/>
      </geometry>
      <material name="mat_floor"/>
    </visual>
    <collision name="floor_col">
      <origin xyz="0 0 -0.05" rpy="0 0 0"/>
      <geometry>
        <box size="12 12 0.1"/>
      </geometry>
    </collision>
    <visual name="wall_left_vis">
      <origin xyz="-1.48975 -0.0675 1.3735" rpy="0 0 0"/>
      <geometry>
        <box size="2.0205 0.2 2.747"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_left_col">
      <origin xyz="-1.48975 -0.0675 1.3735" rpy="0 0 0"/>
      <geometry>
        <box size="2.0205 0.2 2.747"/>
      </geometry>
    </collision>
    <visual name="wall_right_vis">
      <origin xyz="1.50475 -0.0675 1.3735" rpy="0 0 0"/>
      <geometry>
        <box size="1.9905 0.2 2.747"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_right_col">
      <origin xyz="1.50475 -0.0675 1.3735" rpy="0 0 0"/>
      <geometry>
        <box size="1.9905 0.2 2.747"/>
      </geometry>
    </collision>
    <visual name="wall_header_vis">
      <origin xyz="0.015 -0.0675 2.4715" rpy="0 0 0"/>
      <geometry>
        <box size="0.989 0.2 0.551"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="wall_header_col">
      <origin xyz="0.015 -0.0675 2.4715" rpy="0 0 0"/>
      <geometry>
        <box size="0.989 0.2 0.551"/>
      </geometry>
    </collision>
    <visual name="jamb_hinge_vis">
      <origin xyz="-0.47 -0.0675 1.0735" rpy="0 0 0"/>
      <geometry>
        <box size="0.019 0.2 2.147"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_hinge_col">
      <origin xyz="-0.47 -0.0675 1.0735" rpy="0 0 0"/>
      <geometry>
        <box size="0.019 0.2 2.147"/>
      </geometry>
    </collision>
    <visual name="strike_914_wall_n_vis">
      <origin xyz="0.485 -0.0865 0.914" rpy="0 0 0"/>
      <geometry>
        <box size="0.049 0.162 0.023"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="strike_914_wall_n_col">
      <origin xyz="0.485 -0.0865 0.914" rpy="0 0 0"/>
      <geometry>
        <box size="0.049 0.162 0.023"/>
      </geometry>
    </collision>
    <visual name="strike_914_wall_p_vis">
      <origin xyz="0.485 0.0135 0.914" rpy="0 0 0"/>
      <geometry>
        <box size="0.049 0.016 0.023"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="strike_914_wall_p_col">
      <origin xyz="0.485 0.0135 0.914" rpy="0 0 0"/>
      <geometry>
        <box size="0.049 0.016 0.023"/>
      </geometry>
    </collision>
    <visual name="strike_914_ramp_vis">
      <origin xyz="0.489089 0.028807 0.914" rpy="0 0 -0.340979"/>
      <geometry>
        <box size="0.049 0.032894 0.023"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="strike_914_ramp_col">
      <origin xyz="0.489089 0.028807 0.914" rpy="0 0 -0.340979"/>
      <geometry>
        <box size="0.049 0.032894 0.023"/>
      </geometry>
    </collision>
    <visual name="strike_914_back_vis">
      <origin xyz="0.492 0 0.914" rpy="0 0 0"/>
      <geometry>
        <box size="0.035 0.011 0.023"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="strike_914_back_col">
      <origin xyz="0.492 0 0.914" rpy="0 0 0"/>
      <geometry>
        <box size="0.035 0.011 0.023"/>
      </geometry>
    </collision>
    <visual name="jamb_strike_0_vis">
      <origin xyz="0.485 -0.0675 0.45125" rpy="0 0 0"/>
      <geometry>
        <box size="0.049 0.2 0.9025"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_strike_0_col">
      <origin xyz="0.485 -0.0675 0.45125" rpy="0 0 0"/>
      <geometry>
        <box size="0.049 0.2 0.9025"/>
      </geometry>
    </collision>
    <visual name="jamb_strike_1_vis">
      <origin xyz="0.485 -0.0675 1.53625" rpy="0 0 0"/>
      <geometry>
        <box size="0.049 0.2 1.2215"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_strike_1_col">
      <origin xyz="0.485 -0.0675 1.53625" rpy="0 0 0"/>
      <geometry>
        <box size="0.049 0.2 1.2215"/>
      </geometry>
    </collision>
    <visual name="jamb_head_vis">
      <origin xyz="0.015 -0.0675 2.1565" rpy="0 0 0"/>
      <geometry>
        <box size="0.989 0.2 0.019"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="jamb_head_col">
      <origin xyz="0.015 -0.0675 2.1565" rpy="0 0 0"/>
      <geometry>
        <box size="0.989 0.2 0.019"/>
      </geometry>
    </collision>
    <visual name="head_stud_vis">
      <origin xyz="0.015 -0.0675 2.181" rpy="0 0 0"/>
      <geometry>
        <box size="0.989 0.2 0.03"/>
      </geometry>
      <material name="mat_wall"/>
    </visual>
    <collision name="head_stud_col">
      <origin xyz="0.015 -0.0675 2.181" rpy="0 0 0"/>
      <geometry>
        <box size="0.989 0.2 0.03"/>
      </geometry>
    </collision>
    <visual name="stop_hinge_vis">
      <origin xyz="-0.455 -0.029 1.0735" rpy="0 0 0"/>
      <geometry>
        <box size="0.011 0.032 2.147"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="stop_hinge_col">
      <origin xyz="-0.455 -0.029 1.0735" rpy="0 0 0"/>
      <geometry>
        <box size="0.011 0.032 2.147"/>
      </geometry>
    </collision>
    <visual name="stop_strike_vis">
      <origin xyz="0.455 -0.029 1.0735" rpy="0 0 0"/>
      <geometry>
        <box size="0.011 0.032 2.147"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="stop_strike_col">
      <origin xyz="0.455 -0.029 1.0735" rpy="0 0 0"/>
      <geometry>
        <box size="0.011 0.032 2.147"/>
      </geometry>
    </collision>
    <visual name="stop_head_vis">
      <origin xyz="0 -0.029 2.1415" rpy="0 0 0"/>
      <geometry>
        <box size="0.921 0.032 0.011"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="stop_head_col">
      <origin xyz="0 -0.029 2.1415" rpy="0 0 0"/>
      <geometry>
        <box size="0.921 0.032 0.011"/>
      </geometry>
    </collision>
    <visual name="seal_hinge_vis">
      <origin xyz="-0.4485 -0.0155 1.0735" rpy="0 0 0"/>
      <geometry>
        <box size="0.016 0.006 2.147"/>
      </geometry>
      <material name="mat_seal"/>
    </visual>
    <visual name="seal_strike_vis">
      <origin xyz="0.4485 -0.0155 1.0735" rpy="0 0 0"/>
      <geometry>
        <box size="0.016 0.006 2.147"/>
      </geometry>
      <material name="mat_seal"/>
    </visual>
    <visual name="seal_head_vis">
      <origin xyz="0 -0.0155 2.135" rpy="0 0 0"/>
      <geometry>
        <box size="0.881 0.006 0.016"/>
      </geometry>
      <material name="mat_seal"/>
    </visual>
    <visual name="casing_l_n_vis">
      <origin xyz="-0.5095 -0.1755 1.0735" rpy="0 0 0"/>
      <geometry>
        <box size="0.07 0.016 2.166"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <visual name="casing_r_n_vis">
      <origin xyz="0.5095 -0.1755 1.0735" rpy="0 0 0"/>
      <geometry>
        <box size="0.07 0.016 2.166"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <visual name="casing_h_n_vis">
      <origin xyz="0 -0.1755 2.196" rpy="0 0 0"/>
      <geometry>
        <box size="1.089 0.016 0.07"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <visual name="casing_l_p_vis">
      <origin xyz="-0.5095 0.0405 1.0735" rpy="0 0 0"/>
      <geometry>
        <box size="0.07 0.016 2.166"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <visual name="casing_r_p_vis">
      <origin xyz="0.5095 0.0405 1.0735" rpy="0 0 0"/>
      <geometry>
        <box size="0.07 0.016 2.166"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <visual name="casing_h_p_vis">
      <origin xyz="0 0.0405 2.196" rpy="0 0 0"/>
      <geometry>
        <box size="1.089 0.016 0.07"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <visual name="threshold_vis">
      <origin xyz="0 -0.0675 0.0065" rpy="0 0 0"/>
      <geometry>
        <box size="0.959 0.2 0.013"/>
      </geometry>
      <material name="mat_threshold"/>
    </visual>
    <collision name="threshold_col">
      <origin xyz="0 -0.0675 0.0065" rpy="0 0 0"/>
      <geometry>
        <box size="0.959 0.2 0.013"/>
      </geometry>
    </collision>
  </link>
  <link name="leaf">
    <inertial>
      <origin xyz="0.453624 -0.019276 1.080175" rpy="0 0 0"/>
      <mass value="132.665606"/>
      <inertia ixx="50.082645807" ixy="0.013326487" ixz="0.010371479" iyy="59.44152321" iyz="-0.00068789" izz="9.374755304"/>
    </inertial>
    <collision name="leaf_slab_col_col">
      <origin xyz="0.457 -0.0195 1.08" rpy="0 0 0"/>
      <geometry>
        <box size="0.914 0.025 2.126"/>
      </geometry>
    </collision>
    <visual name="leaf_rail_b_vis">
      <origin xyz="0.457 -0.0195 0.0395" rpy="0 0 0"/>
      <geometry>
        <box size="0.914 0.025 0.045"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <visual name="leaf_rail_t_vis">
      <origin xyz="0.457 -0.0195 2.1205" rpy="0 0 0"/>
      <geometry>
        <box size="0.914 0.025 0.045"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <visual name="leaf_stile_h_vis">
      <origin xyz="0.0225 -0.0195 1.08" rpy="0 0 0"/>
      <geometry>
        <box size="0.045 0.025 2.126"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <visual name="leaf_stile_l_vis">
      <origin xyz="0.8915 -0.0195 1.08" rpy="0 0 0"/>
      <geometry>
        <box size="0.045 0.025 2.126"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <visual name="leaf_mesh_vis">
      <origin xyz="0.457 -0.0195 1.08" rpy="0 0 0"/>
      <geometry>
        <box size="0.824 0.003 2.036"/>
      </geometry>
      <material name="mat_mesh_infill"/>
    </visual>
    <visual name="hinge_0_vis">
      <origin xyz="0 0 0.267" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../../hardware/hinge_0624df8d8d.obj"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="hinge_1_vis">
      <origin xyz="0 0 1.08" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../../hardware/hinge_0624df8d8d.obj"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="hinge_2_vis">
      <origin xyz="0 0 1.963" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../../hardware/hinge_0624df8d8d.obj"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
  </link>
  <link name="leaf_handle">
    <inertial>
      <origin xyz="-0.024999 0 0" rpy="0 0 0"/>
      <mass value="0.820275"/>
      <inertia ixx="0.002400105" ixy="0" ixz="0" iyy="0.001170194" iyz="0" izz="0.003433964"/>
    </inertial>
    <visual name="leaf_handle_spindle_vis">
      <origin xyz="0 0 0" rpy="-1.570796 0 0"/>
      <geometry>
        <cylinder radius="0.006" length="0.029"/>
      </geometry>
      <material name="mat_op_chrome"/>
    </visual>
    <visual name="leaf_handle_lever_n_vis">
      <origin xyz="0 -0.0125 0" rpy="1.570796 0 0"/>
      <geometry>
        <mesh filename="../../hardware/lever_748f08efca.obj"/>
      </geometry>
      <material name="mat_op_chrome"/>
    </visual>
    <collision name="leaf_handle_lever_col_n_col">
      <origin xyz="-0.056 -0.0675 0" rpy="0 -1.570796 0"/>
      <geometry>
        <cylinder radius="0.008" length="0.096"/>
      </geometry>
    </collision>
    <collision name="leaf_handle_hub_col_n_col">
      <origin xyz="0 -0.0425 0" rpy="-1.570796 0 0"/>
      <geometry>
        <cylinder radius="0.012" length="0.044"/>
      </geometry>
    </collision>
    <visual name="leaf_handle_lever_p_vis">
      <origin xyz="0 0.0125 0" rpy="-1.570796 0 0"/>
      <geometry>
        <mesh filename="../../hardware/lever_748f08efca.obj"/>
      </geometry>
      <material name="mat_op_chrome"/>
    </visual>
    <collision name="leaf_handle_lever_col_p_col">
      <origin xyz="-0.056 0.0675 0" rpy="0 -1.570796 0"/>
      <geometry>
        <cylinder radius="0.008" length="0.096"/>
      </geometry>
    </collision>
    <collision name="leaf_handle_hub_col_p_col">
      <origin xyz="0 0.0425 0" rpy="-1.570796 0 0"/>
      <geometry>
        <cylinder radius="0.012" length="0.044"/>
      </geometry>
    </collision>
  </link>
  <link name="leaf_latch_bolt">
    <inertial>
      <origin xyz="-0.01 0 0" rpy="0 0 0"/>
      <mass value="0.015951"/>
      <inertia ixx="0.000000124" ixy="0" ixz="0" iyy="0.000001929" iyz="0" izz="0.000001929"/>
    </inertial>
    <visual name="leaf_latch_bolt_capsule_vis">
      <origin xyz="-0.01 0 0" rpy="0 1.570796 0"/>
      <geometry>
        <cylinder radius="0.004" length="0.032"/>
      </geometry>
      <material name="mat_bolt"/>
    </visual>
    <collision name="leaf_latch_bolt_capsule_col">
      <origin xyz="-0.01 0 0" rpy="0 1.570796 0"/>
      <geometry>
        <cylinder radius="0.004" length="0.032"/>
      </geometry>
    </collision>
  </link>
  <joint name="leaf_hinge" type="revolute">
    <origin xyz="-0.4575 0.0195 0" rpy="0 0 0"/>
    <parent link="world_env"/>
    <child link="leaf"/>
    <axis xyz="0 0 1"/>
    <limit lower="0" upper="1.745329" effort="2000" velocity="10"/>
    <dynamics damping="2.268966" friction="2.701367"/>
    <doorbench:spring stiffness="6.6" springref="-0.532087" note="tau = -stiffness*(q - springref); not native URDF"/>
    <doorbench:closer damping_closing="2" damping_opening="2" backcheck_angle="0" backcheck_damping="0"/>
  </joint>
  <joint name="leaf_handle_hinge" type="revolute">
    <origin xyz="0.869 -0.0195 0.914" rpy="0 0 0"/>
    <parent link="leaf"/>
    <child link="leaf_handle"/>
    <axis xyz="0 -1 0"/>
    <limit lower="0" upper="0.87" effort="2000" velocity="10"/>
    <dynamics damping="0.02" friction="0.04"/>
    <doorbench:spring stiffness="0.9" springref="-0.333333" note="tau = -stiffness*(q - springref); not native URDF"/>
  </joint>
  <joint name="leaf_latch_bolt_slide" type="prismatic">
    <origin xyz="0.914 -0.0195 0.914" rpy="0 0 0"/>
    <parent link="leaf"/>
    <child link="leaf_latch_bolt"/>
    <axis xyz="-1 0 0"/>
    <limit lower="0" upper="0.01" effort="5000" velocity="10"/>
    <dynamics damping="2" friction="0.3"/>
    <doorbench:spring stiffness="300" springref="-0.006667" note="tau = -stiffness*(q - springref); not native URDF"/>
    <mimic joint="leaf_handle_hinge" multiplier="0.012658" offset="0"/>
    <doorbench:coupling one_sided="true" note="MJCF uses a one-sided tendon (bolt may retract further, e.g. riding over the strike lip); mimic is bilateral"/>
  </joint>
  <material name="mat_bolt">
    <color rgba="0.85 0.66 0.3 1"/>
  </material>
  <material name="mat_floor">
    <color rgba="0.55 0.53 0.5 1"/>
  </material>
  <material name="mat_frame">
    <color rgba="0.82 0.7 0.5 1"/>
  </material>
  <material name="mat_hinge">
    <color rgba="0.65 0.66 0.68 1"/>
  </material>
  <material name="mat_leaf">
    <color rgba="0.2 0.2 0.2 0.5"/>
  </material>
  <material name="mat_mesh_infill">
    <color rgba="0.6 0.62 0.64 0.55"/>
  </material>
  <material name="mat_op_chrome">
    <color rgba="0.9 0.9 0.92 1"/>
  </material>
  <material name="mat_seal">
    <color rgba="0.1 0.1 0.1 1"/>
  </material>
  <material name="mat_threshold">
    <color rgba="0.8 0.81 0.83 1"/>
  </material>
  <material name="mat_wall">
    <color rgba="0.78 0.76 0.7 1"/>
  </material>
</robot>
