<?xml version="1.0" ?>
<robot xmlns:doorbench="https://github.com/adamraudonis/DoorBench/schema/urdf-ext" name="db0859_gate_swing_full">
  <link name="world_env">
    <visual name="floor_vis">
      <origin xyz="0 0 -0.05" rpy="0 0 0"/>
      <geometry>
        <box size="12 12 0.1"/>
      </geometry>
      <material name="mat_floor"/>
    </visual>
    <collision name="floor_col">
      <origin xyz="0 0 -0.05" rpy="0 0 0"/>
      <geometry>
        <box size="12 12 0.1"/>
      </geometry>
    </collision>
    <visual name="leaf_slide_bolt_keeper_leg_n_vis">
      <origin xyz="2.426 -0.067 0.9845" rpy="1.570796 0 0"/>
      <geometry>
        <box size="0.014 0.005 0.034"/>
      </geometry>
      <material name="mat_op_steel_galvanized"/>
    </visual>
    <collision name="leaf_slide_bolt_keeper_leg_n_col">
      <origin xyz="2.426 -0.067 0.9845" rpy="1.570796 0 0"/>
      <geometry>
        <box size="0.014 0.005 0.034"/>
      </geometry>
    </collision>
    <visual name="leaf_slide_bolt_keeper_leg_p_vis">
      <origin xyz="2.426 -0.067 1.0155" rpy="1.570796 0 0"/>
      <geometry>
        <box size="0.014 0.005 0.034"/>
      </geometry>
      <material name="mat_op_steel_galvanized"/>
    </visual>
    <collision name="leaf_slide_bolt_keeper_leg_p_col">
      <origin xyz="2.426 -0.067 1.0155" rpy="1.570796 0 0"/>
      <geometry>
        <box size="0.014 0.005 0.034"/>
      </geometry>
    </collision>
    <visual name="leaf_slide_bolt_keeper_bridge_vis">
      <origin xyz="2.426 -0.0815 1" rpy="1.570796 0 0"/>
      <geometry>
        <box size="0.014 0.036 0.005"/>
      </geometry>
      <material name="mat_op_steel_galvanized"/>
    </visual>
    <collision name="leaf_slide_bolt_keeper_bridge_col">
      <origin xyz="2.426 -0.0815 1" rpy="1.570796 0 0"/>
      <geometry>
        <box size="0.014 0.036 0.005"/>
      </geometry>
    </collision>
    <visual name="leaf_slide_bolt_keeper_base_vis">
      <origin xyz="2.426 -0.051 1" rpy="1.570796 0 0"/>
      <geometry>
        <box size="0.03 0.048 0.002"/>
      </geometry>
      <material name="mat_op_steel_galvanized"/>
    </visual>
    <visual name="post_hinge_vis">
      <origin xyz="-2.456 0 0.825" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.05" length="1.65"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="post_hinge_col">
      <origin xyz="-2.456 0 0.825" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.05" length="1.65"/>
      </geometry>
    </collision>
    <visual name="post_hinge_cap_vis">
      <origin xyz="-2.456 0 1.65" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.05"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <visual name="post_latch_vis">
      <origin xyz="2.456 0 0.825" rpy="0 0 0"/>
      <geometry>
        <box size="0.1 0.1 1.65"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="post_latch_col">
      <origin xyz="2.456 0 0.825" rpy="0 0 0"/>
      <geometry>
        <box size="0.1 0.1 1.65"/>
      </geometry>
    </collision>
    <visual name="post_latch_cap_vis">
      <origin xyz="2.456 0 1.67" rpy="0 0 0"/>
      <geometry>
        <box size="0.13 0.13 0.04"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <visual name="gate_stop_vis">
      <origin xyz="2.386 0.0345 0.35" rpy="0 0 0"/>
      <geometry>
        <box size="0.04 0.024 0.12"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="gate_stop_col">
      <origin xyz="2.386 0.0345 0.35" rpy="0 0 0"/>
      <geometry>
        <box size="0.04 0.024 0.12"/>
      </geometry>
    </collision>
    <visual name="fence_picket_l_0_vis">
      <origin xyz="-2.586 0 0.85" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1.5"/>
      </geometry>
      <material name="mat_fence"/>
    </visual>
    <collision name="fence_picket_l_0_col">
      <origin xyz="-2.586 0 0.85" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1.5"/>
      </geometry>
    </collision>
    <visual name="fence_picket_l_1_vis">
      <origin xyz="-2.746 0 0.85" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1.5"/>
      </geometry>
      <material name="mat_fence"/>
    </visual>
    <collision name="fence_picket_l_1_col">
      <origin xyz="-2.746 0 0.85" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1.5"/>
      </geometry>
    </collision>
    <visual name="fence_picket_l_2_vis">
      <origin xyz="-2.906 0 0.85" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1.5"/>
      </geometry>
      <material name="mat_fence"/>
    </visual>
    <collision name="fence_picket_l_2_col">
      <origin xyz="-2.906 0 0.85" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1.5"/>
      </geometry>
    </collision>
    <visual name="fence_picket_l_3_vis">
      <origin xyz="-3.066 0 0.85" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1.5"/>
      </geometry>
      <material name="mat_fence"/>
    </visual>
    <collision name="fence_picket_l_3_col">
      <origin xyz="-3.066 0 0.85" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1.5"/>
      </geometry>
    </collision>
    <visual name="fence_picket_l_4_vis">
      <origin xyz="-3.226 0 0.85" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1.5"/>
      </geometry>
      <material name="mat_fence"/>
    </visual>
    <collision name="fence_picket_l_4_col">
      <origin xyz="-3.226 0 0.85" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1.5"/>
      </geometry>
    </collision>
    <visual name="fence_picket_l_5_vis">
      <origin xyz="-3.386 0 0.85" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1.5"/>
      </geometry>
      <material name="mat_fence"/>
    </visual>
    <collision name="fence_picket_l_5_col">
      <origin xyz="-3.386 0 0.85" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1.5"/>
      </geometry>
    </collision>
    <visual name="fence_picket_l_6_vis">
      <origin xyz="-3.546 0 0.85" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1.5"/>
      </geometry>
      <material name="mat_fence"/>
    </visual>
    <collision name="fence_picket_l_6_col">
      <origin xyz="-3.546 0 0.85" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1.5"/>
      </geometry>
    </collision>
    <visual name="fence_picket_l_7_vis">
      <origin xyz="-3.706 0 0.85" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1.5"/>
      </geometry>
      <material name="mat_fence"/>
    </visual>
    <collision name="fence_picket_l_7_col">
      <origin xyz="-3.706 0 0.85" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1.5"/>
      </geometry>
    </collision>
    <visual name="fence_picket_l_8_vis">
      <origin xyz="-3.866 0 0.85" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1.5"/>
      </geometry>
      <material name="mat_fence"/>
    </visual>
    <collision name="fence_picket_l_8_col">
      <origin xyz="-3.866 0 0.85" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1.5"/>
      </geometry>
    </collision>
    <visual name="fence_picket_l_9_vis">
      <origin xyz="-4.026 0 0.85" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1.5"/>
      </geometry>
      <material name="mat_fence"/>
    </visual>
    <collision name="fence_picket_l_9_col">
      <origin xyz="-4.026 0 0.85" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1.5"/>
      </geometry>
    </collision>
    <visual name="fence_picket_l_10_vis">
      <origin xyz="-4.186 0 0.85" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1.5"/>
      </geometry>
      <material name="mat_fence"/>
    </visual>
    <collision name="fence_picket_l_10_col">
      <origin xyz="-4.186 0 0.85" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1.5"/>
      </geometry>
    </collision>
    <visual name="fence_picket_l_11_vis">
      <origin xyz="-4.346 0 0.85" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1.5"/>
      </geometry>
      <material name="mat_fence"/>
    </visual>
    <collision name="fence_picket_l_11_col">
      <origin xyz="-4.346 0 0.85" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1.5"/>
      </geometry>
    </collision>
    <visual name="fence_rail_l_vis">
      <origin xyz="-3.506 0.015 1.45" rpy="0 0 0"/>
      <geometry>
        <box size="2 0.03 0.08"/>
      </geometry>
      <material name="mat_fence"/>
    </visual>
    <collision name="fence_rail_l_col">
      <origin xyz="-3.506 0.015 1.45" rpy="0 0 0"/>
      <geometry>
        <box size="2 0.03 0.08"/>
      </geometry>
    </collision>
    <visual name="fence_rail_b_l_vis">
      <origin xyz="-3.506 0.015 0.3" rpy="0 0 0"/>
      <geometry>
        <box size="2 0.03 0.08"/>
      </geometry>
      <material name="mat_fence"/>
    </visual>
    <collision name="fence_rail_b_l_col">
      <origin xyz="-3.506 0.015 0.3" rpy="0 0 0"/>
      <geometry>
        <box size="2 0.03 0.08"/>
      </geometry>
    </collision>
    <visual name="fence_picket_r_0_vis">
      <origin xyz="2.586 0 0.85" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1.5"/>
      </geometry>
      <material name="mat_fence"/>
    </visual>
    <collision name="fence_picket_r_0_col">
      <origin xyz="2.586 0 0.85" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1.5"/>
      </geometry>
    </collision>
    <visual name="fence_picket_r_1_vis">
      <origin xyz="2.746 0 0.85" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1.5"/>
      </geometry>
      <material name="mat_fence"/>
    </visual>
    <collision name="fence_picket_r_1_col">
      <origin xyz="2.746 0 0.85" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1.5"/>
      </geometry>
    </collision>
    <visual name="fence_picket_r_2_vis">
      <origin xyz="2.906 0 0.85" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1.5"/>
      </geometry>
      <material name="mat_fence"/>
    </visual>
    <collision name="fence_picket_r_2_col">
      <origin xyz="2.906 0 0.85" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1.5"/>
      </geometry>
    </collision>
    <visual name="fence_picket_r_3_vis">
      <origin xyz="3.066 0 0.85" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1.5"/>
      </geometry>
      <material name="mat_fence"/>
    </visual>
    <collision name="fence_picket_r_3_col">
      <origin xyz="3.066 0 0.85" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1.5"/>
      </geometry>
    </collision>
    <visual name="fence_picket_r_4_vis">
      <origin xyz="3.226 0 0.85" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1.5"/>
      </geometry>
      <material name="mat_fence"/>
    </visual>
    <collision name="fence_picket_r_4_col">
      <origin xyz="3.226 0 0.85" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1.5"/>
      </geometry>
    </collision>
    <visual name="fence_picket_r_5_vis">
      <origin xyz="3.386 0 0.85" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1.5"/>
      </geometry>
      <material name="mat_fence"/>
    </visual>
    <collision name="fence_picket_r_5_col">
      <origin xyz="3.386 0 0.85" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1.5"/>
      </geometry>
    </collision>
    <visual name="fence_picket_r_6_vis">
      <origin xyz="3.546 0 0.85" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1.5"/>
      </geometry>
      <material name="mat_fence"/>
    </visual>
    <collision name="fence_picket_r_6_col">
      <origin xyz="3.546 0 0.85" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1.5"/>
      </geometry>
    </collision>
    <visual name="fence_picket_r_7_vis">
      <origin xyz="3.706 0 0.85" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1.5"/>
      </geometry>
      <material name="mat_fence"/>
    </visual>
    <collision name="fence_picket_r_7_col">
      <origin xyz="3.706 0 0.85" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1.5"/>
      </geometry>
    </collision>
    <visual name="fence_picket_r_8_vis">
      <origin xyz="3.866 0 0.85" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1.5"/>
      </geometry>
      <material name="mat_fence"/>
    </visual>
    <collision name="fence_picket_r_8_col">
      <origin xyz="3.866 0 0.85" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1.5"/>
      </geometry>
    </collision>
    <visual name="fence_picket_r_9_vis">
      <origin xyz="4.026 0 0.85" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1.5"/>
      </geometry>
      <material name="mat_fence"/>
    </visual>
    <collision name="fence_picket_r_9_col">
      <origin xyz="4.026 0 0.85" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1.5"/>
      </geometry>
    </collision>
    <visual name="fence_picket_r_10_vis">
      <origin xyz="4.186 0 0.85" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1.5"/>
      </geometry>
      <material name="mat_fence"/>
    </visual>
    <collision name="fence_picket_r_10_col">
      <origin xyz="4.186 0 0.85" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1.5"/>
      </geometry>
    </collision>
    <visual name="fence_picket_r_11_vis">
      <origin xyz="4.346 0 0.85" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1.5"/>
      </geometry>
      <material name="mat_fence"/>
    </visual>
    <collision name="fence_picket_r_11_col">
      <origin xyz="4.346 0 0.85" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.02 1.5"/>
      </geometry>
    </collision>
    <visual name="fence_rail_r_vis">
      <origin xyz="3.506 0.015 1.45" rpy="0 0 0"/>
      <geometry>
        <box size="2 0.03 0.08"/>
      </geometry>
      <material name="mat_fence"/>
    </visual>
    <collision name="fence_rail_r_col">
      <origin xyz="3.506 0.015 1.45" rpy="0 0 0"/>
      <geometry>
        <box size="2 0.03 0.08"/>
      </geometry>
    </collision>
    <visual name="fence_rail_b_r_vis">
      <origin xyz="3.506 0.015 0.3" rpy="0 0 0"/>
      <geometry>
        <box size="2 0.03 0.08"/>
      </geometry>
      <material name="mat_fence"/>
    </visual>
    <collision name="fence_rail_b_r_col">
      <origin xyz="3.506 0.015 0.3" rpy="0 0 0"/>
      <geometry>
        <box size="2 0.03 0.08"/>
      </geometry>
    </collision>
  </link>
  <link name="leaf">
    <inertial>
      <origin xyz="2.389249 0.029109 0.850658" rpy="0 0 0"/>
      <mass value="95.466675"/>
      <inertia ixx="17.998723978" ixy="-0.013946944" ixz="-0.140446717" iyy="205.557041279" iyz="0.002378592" izz="187.592809922"/>
    </inertial>
    <collision name="leaf_slab_col_col">
      <origin xyz="2.4 0.0295 0.85" rpy="0 0 0"/>
      <geometry>
        <box size="4.8 0.045 1.5"/>
      </geometry>
    </collision>
    <visual name="leaf_rail_b_vis">
      <origin xyz="2.4 0.0295 0.13" rpy="0 0 0"/>
      <geometry>
        <box size="4.8 0.045 0.06"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <visual name="leaf_rail_t_vis">
      <origin xyz="2.4 0.0295 1.57" rpy="0 0 0"/>
      <geometry>
        <box size="4.8 0.045 0.06"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <visual name="leaf_stile_h_vis">
      <origin xyz="0.03 0.0295 0.85" rpy="0 0 0"/>
      <geometry>
        <box size="0.06 0.045 1.5"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <visual name="leaf_stile_l_vis">
      <origin xyz="4.77 0.0295 0.85" rpy="0 0 0"/>
      <geometry>
        <box size="0.06 0.045 1.5"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <visual name="leaf_bar_0_vis">
      <origin xyz="0.125 0.0295 0.85" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.0095" length="1.38"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <visual name="leaf_bar_1_vis">
      <origin xyz="0.255 0.0295 0.85" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.0095" length="1.38"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <visual name="leaf_bar_2_vis">
      <origin xyz="0.385 0.0295 0.85" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.0095" length="1.38"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <visual name="leaf_bar_3_vis">
      <origin xyz="0.515 0.0295 0.85" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.0095" length="1.38"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <visual name="leaf_bar_4_vis">
      <origin xyz="0.645 0.0295 0.85" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.0095" length="1.38"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <visual name="leaf_bar_5_vis">
      <origin xyz="0.775 0.0295 0.85" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.0095" length="1.38"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <visual name="leaf_bar_6_vis">
      <origin xyz="0.905 0.0295 0.85" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.0095" length="1.38"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <visual name="leaf_bar_7_vis">
      <origin xyz="1.035 0.0295 0.85" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.0095" length="1.38"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <visual name="leaf_bar_8_vis">
      <origin xyz="1.165 0.0295 0.85" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.0095" length="1.38"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <visual name="leaf_bar_9_vis">
      <origin xyz="1.295 0.0295 0.85" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.0095" length="1.38"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <visual name="leaf_bar_10_vis">
      <origin xyz="1.425 0.0295 0.85" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.0095" length="1.38"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <visual name="leaf_bar_11_vis">
      <origin xyz="1.555 0.0295 0.85" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.0095" length="1.38"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <visual name="leaf_bar_12_vis">
      <origin xyz="1.685 0.0295 0.85" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.0095" length="1.38"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <visual name="leaf_bar_13_vis">
      <origin xyz="1.815 0.0295 0.85" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.0095" length="1.38"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <visual name="leaf_bar_14_vis">
      <origin xyz="1.945 0.0295 0.85" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.0095" length="1.38"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <visual name="leaf_bar_15_vis">
      <origin xyz="2.075 0.0295 0.85" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.0095" length="1.38"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <visual name="leaf_bar_16_vis">
      <origin xyz="2.205 0.0295 0.85" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.0095" length="1.38"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <visual name="leaf_bar_17_vis">
      <origin xyz="2.335 0.0295 0.85" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.0095" length="1.38"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <visual name="leaf_bar_18_vis">
      <origin xyz="2.465 0.0295 0.85" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.0095" length="1.38"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <visual name="leaf_bar_19_vis">
      <origin xyz="2.595 0.0295 0.85" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.0095" length="1.38"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <visual name="leaf_bar_20_vis">
      <origin xyz="2.725 0.0295 0.85" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.0095" length="1.38"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <visual name="leaf_bar_21_vis">
      <origin xyz="2.855 0.0295 0.85" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.0095" length="1.38"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <visual name="leaf_bar_22_vis">
      <origin xyz="2.985 0.0295 0.85" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.0095" length="1.38"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <visual name="leaf_bar_23_vis">
      <origin xyz="3.115 0.0295 0.85" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.0095" length="1.38"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <visual name="leaf_bar_24_vis">
      <origin xyz="3.245 0.0295 0.85" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.0095" length="1.38"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <visual name="leaf_bar_25_vis">
      <origin xyz="3.375 0.0295 0.85" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.0095" length="1.38"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <visual name="leaf_bar_26_vis">
      <origin xyz="3.505 0.0295 0.85" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.0095" length="1.38"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <visual name="leaf_bar_27_vis">
      <origin xyz="3.635 0.0295 0.85" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.0095" length="1.38"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <visual name="leaf_bar_28_vis">
      <origin xyz="3.765 0.0295 0.85" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.0095" length="1.38"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <visual name="leaf_bar_29_vis">
      <origin xyz="3.895 0.0295 0.85" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.0095" length="1.38"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <visual name="leaf_bar_30_vis">
      <origin xyz="4.025 0.0295 0.85" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.0095" length="1.38"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <visual name="leaf_bar_31_vis">
      <origin xyz="4.155 0.0295 0.85" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.0095" length="1.38"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <visual name="leaf_bar_32_vis">
      <origin xyz="4.285 0.0295 0.85" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.0095" length="1.38"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <visual name="leaf_bar_33_vis">
      <origin xyz="4.415 0.0295 0.85" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.0095" length="1.38"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <visual name="leaf_bar_34_vis">
      <origin xyz="4.545 0.0295 0.85" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.0095" length="1.38"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <visual name="leaf_bar_35_vis">
      <origin xyz="4.675 0.0295 0.85" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.0095" length="1.38"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <visual name="leaf_crossbar_33_vis">
      <origin xyz="2.4 0.0295 0.595" rpy="0 0 0"/>
      <geometry>
        <box size="4.68 0.036 0.04"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <visual name="leaf_crossbar_66_vis">
      <origin xyz="2.4 0.0295 1.09" rpy="0 0 0"/>
      <geometry>
        <box size="4.68 0.036 0.04"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <visual name="hinge_strap_0_vis">
      <origin xyz="0 0.004 0.25" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../../hardware/strap_hinge_3c1a7c1a5f.obj"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="hinge_strap_1_vis">
      <origin xyz="0 0.004 1.45" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../../hardware/strap_hinge_3c1a7c1a5f.obj"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="leaf_slide_bolt_plate_vis">
      <origin xyz="4.6205 0.006 1" rpy="1.570796 0 0"/>
      <geometry>
        <box size="0.343 0.046 0.002"/>
      </geometry>
      <material name="mat_op_steel_galvanized"/>
    </visual>
    <visual name="leaf_slide_bolt_guide_0_leg_n_vis">
      <origin xyz="4.784 -0.02325 0.985" rpy="1.570796 0 0"/>
      <geometry>
        <box size="0.012 0.004 0.0605"/>
      </geometry>
      <material name="mat_op_steel_galvanized"/>
    </visual>
    <visual name="leaf_slide_bolt_guide_0_leg_p_vis">
      <origin xyz="4.784 -0.02325 1.015" rpy="1.570796 0 0"/>
      <geometry>
        <box size="0.012 0.004 0.0605"/>
      </geometry>
      <material name="mat_op_steel_galvanized"/>
    </visual>
    <visual name="leaf_slide_bolt_guide_0_bridge_vis">
      <origin xyz="4.784 -0.0515 1" rpy="1.570796 0 0"/>
      <geometry>
        <box size="0.012 0.034 0.004"/>
      </geometry>
      <material name="mat_op_steel_galvanized"/>
    </visual>
    <visual name="leaf_slide_bolt_guide_1_leg_n_vis">
      <origin xyz="4.459 -0.02325 0.985" rpy="1.570796 0 0"/>
      <geometry>
        <box size="0.012 0.004 0.0605"/>
      </geometry>
      <material name="mat_op_steel_galvanized"/>
    </visual>
    <visual name="leaf_slide_bolt_guide_1_leg_p_vis">
      <origin xyz="4.459 -0.02325 1.015" rpy="1.570796 0 0"/>
      <geometry>
        <box size="0.012 0.004 0.0605"/>
      </geometry>
      <material name="mat_op_steel_galvanized"/>
    </visual>
    <visual name="leaf_slide_bolt_guide_1_bridge_vis">
      <origin xyz="4.459 -0.0515 1" rpy="1.570796 0 0"/>
      <geometry>
        <box size="0.012 0.034 0.004"/>
      </geometry>
      <material name="mat_op_steel_galvanized"/>
    </visual>
    <visual name="leaf_slide_bolt_guide_2_leg_n_vis">
      <origin xyz="4.6215 -0.02325 0.985" rpy="1.570796 0 0"/>
      <geometry>
        <box size="0.012 0.004 0.0605"/>
      </geometry>
      <material name="mat_op_steel_galvanized"/>
    </visual>
    <visual name="leaf_slide_bolt_guide_2_leg_p_vis">
      <origin xyz="4.6215 -0.02325 1.015" rpy="1.570796 0 0"/>
      <geometry>
        <box size="0.012 0.004 0.0605"/>
      </geometry>
      <material name="mat_op_steel_galvanized"/>
    </visual>
    <visual name="leaf_slide_bolt_guide_2_bridge_vis">
      <origin xyz="4.6215 -0.0515 1" rpy="1.570796 0 0"/>
      <geometry>
        <box size="0.012 0.034 0.004"/>
      </geometry>
      <material name="mat_op_steel_galvanized"/>
    </visual>
  </link>
  <link name="leaf_slide_bolt">
    <inertial>
      <origin xyz="-0.099487 -0.004589 0" rpy="0 0 0"/>
      <mass value="0.835325"/>
      <inertia ixx="0.000180839" ixy="0.000235715" ixz="0" iyy="0.005701683" iyz="0" izz="0.0058426"/>
    </inertial>
    <visual name="leaf_slide_bolt_rod_vis">
      <origin xyz="-0.109 0 0" rpy="0 1.570796 0"/>
      <geometry>
        <cylinder radius="0.01" length="0.28"/>
      </geometry>
      <material name="mat_op_steel_galvanized"/>
    </visual>
    <collision name="leaf_slide_bolt_rod_col">
      <origin xyz="-0.109 0 0" rpy="0 1.570796 0"/>
      <geometry>
        <cylinder radius="0.01" length="0.28"/>
      </geometry>
    </collision>
    <visual name="leaf_slide_bolt_knob_vis">
      <origin xyz="-0.038 -0.025 0" rpy="1.570796 0 0"/>
      <geometry>
        <cylinder radius="0.008" length="0.034"/>
      </geometry>
      <material name="mat_op_steel_galvanized"/>
    </visual>
    <collision name="leaf_slide_bolt_knob_col">
      <origin xyz="-0.038 -0.025 0" rpy="1.570796 0 0"/>
      <geometry>
        <cylinder radius="0.008" length="0.034"/>
      </geometry>
    </collision>
    <visual name="leaf_slide_bolt_knob_end_vis">
      <origin xyz="-0.038 -0.05 0" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.0108"/>
      </geometry>
      <material name="mat_op_steel_galvanized"/>
    </visual>
  </link>
  <joint name="leaf_hinge" type="revolute">
    <origin xyz="-2.403 -0.0295 0" rpy="0 0 0"/>
    <parent link="world_env"/>
    <child link="leaf"/>
    <axis xyz="0 0 -1"/>
    <limit lower="0" upper="1.745329" effort="2000" velocity="10"/>
    <dynamics damping="143.854989" friction="6.861201"/>
    <doorbench:closer damping_closing="0" damping_opening="0" backcheck_angle="0" backcheck_damping="0"/>
  </joint>
  <joint name="leaf_slide_bolt_slide" type="prismatic">
    <origin xyz="4.8 -0.0365 1" rpy="0 0 0"/>
    <parent link="leaf"/>
    <child link="leaf_slide_bolt"/>
    <axis xyz="-1 0 0"/>
    <limit lower="0" upper="0.08" effort="5000" velocity="10"/>
    <dynamics damping="1" friction="3"/>
  </joint>
  <material name="mat_fence">
    <color rgba="0.7 0.45 0.32 1"/>
  </material>
  <material name="mat_floor">
    <color rgba="0.35 0.42 0.25 1"/>
  </material>
  <material name="mat_frame">
    <color rgba="0.65 0.66 0.68 1"/>
  </material>
  <material name="mat_hinge">
    <color rgba="0.65 0.66 0.68 1"/>
  </material>
  <material name="mat_leaf">
    <color rgba="0.65 0.66 0.68 1"/>
  </material>
  <material name="mat_op_steel_galvanized">
    <color rgba="0.65 0.66 0.68 1"/>
  </material>
</robot>
