<?xml version="1.0" ?>
<robot xmlns:doorbench="https://github.com/adamraudonis/DoorBench/schema/urdf-ext" name="db0859_gate_swing_simple">
  <link name="world_env">
    <visual name="floor_vis">
      <origin xyz="0 0 -0.05" rpy="0 0 0"/>
      <geometry>
        <box size="12 12 0.1"/>
      </geometry>
      <material name="mat_floor"/>
    </visual>
    <collision name="floor_col">
      <origin xyz="0 0 -0.05" rpy="0 0 0"/>
      <geometry>
        <box size="12 12 0.1"/>
      </geometry>
    </collision>
    <visual name="post_hinge_vis">
      <origin xyz="-2.456 0 0.825" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.05" length="1.65"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="post_hinge_col">
      <origin xyz="-2.456 0 0.825" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.05" length="1.65"/>
      </geometry>
    </collision>
    <visual name="post_1000_wall_n_vis">
      <origin xyz="2.456 0.00975 1" rpy="0 0 0"/>
      <geometry>
        <box size="0.1 0.0805 0.03"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="post_1000_wall_n_col">
      <origin xyz="2.456 0.00975 1" rpy="0 0 0"/>
      <geometry>
        <box size="0.1 0.0805 0.03"/>
      </geometry>
    </collision>
    <visual name="post_1000_wall_p_vis">
      <origin xyz="2.456 -0.05225 1" rpy="0 0 0"/>
      <geometry>
        <box size="0.1 0.0045 0.03"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="post_1000_wall_p_col">
      <origin xyz="2.456 -0.05225 1" rpy="0 0 0"/>
      <geometry>
        <box size="0.1 0.0045 0.03"/>
      </geometry>
    </collision>
    <visual name="post_1000_back_vis">
      <origin xyz="2.48 -0.0425 1" rpy="0 0 0"/>
      <geometry>
        <box size="0.052 0.024 0.03"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="post_1000_back_col">
      <origin xyz="2.48 -0.0425 1" rpy="0 0 0"/>
      <geometry>
        <box size="0.052 0.024 0.03"/>
      </geometry>
    </collision>
    <visual name="post_latch_0_vis">
      <origin xyz="2.456 0 0.4925" rpy="0 0 0"/>
      <geometry>
        <box size="0.1 0.1 0.985"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="post_latch_0_col">
      <origin xyz="2.456 0 0.4925" rpy="0 0 0"/>
      <geometry>
        <box size="0.1 0.1 0.985"/>
      </geometry>
    </collision>
    <visual name="post_latch_1_vis">
      <origin xyz="2.456 0 1.3325" rpy="0 0 0"/>
      <geometry>
        <box size="0.1 0.1 0.635"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="post_latch_1_col">
      <origin xyz="2.456 0 1.3325" rpy="0 0 0"/>
      <geometry>
        <box size="0.1 0.1 0.635"/>
      </geometry>
    </collision>
    <visual name="gate_stop_vis">
      <origin xyz="2.386 0.0345 0.35" rpy="0 0 0"/>
      <geometry>
        <box size="0.04 0.024 0.12"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="gate_stop_col">
      <origin xyz="2.386 0.0345 0.35" rpy="0 0 0"/>
      <geometry>
        <box size="0.04 0.024 0.12"/>
      </geometry>
    </collision>
    <visual name="fence_rail_l_vis">
      <origin xyz="-3.506 0.015 1.45" rpy="0 0 0"/>
      <geometry>
        <box size="2 0.03 0.08"/>
      </geometry>
      <material name="mat_fence"/>
    </visual>
    <collision name="fence_rail_l_col">
      <origin xyz="-3.506 0.015 1.45" rpy="0 0 0"/>
      <geometry>
        <box size="2 0.03 0.08"/>
      </geometry>
    </collision>
    <visual name="fence_rail_b_l_vis">
      <origin xyz="-3.506 0.015 0.3" rpy="0 0 0"/>
      <geometry>
        <box size="2 0.03 0.08"/>
      </geometry>
      <material name="mat_fence"/>
    </visual>
    <collision name="fence_rail_b_l_col">
      <origin xyz="-3.506 0.015 0.3" rpy="0 0 0"/>
      <geometry>
        <box size="2 0.03 0.08"/>
      </geometry>
    </collision>
    <visual name="fence_rail_r_vis">
      <origin xyz="3.506 0.015 1.45" rpy="0 0 0"/>
      <geometry>
        <box size="2 0.03 0.08"/>
      </geometry>
      <material name="mat_fence"/>
    </visual>
    <collision name="fence_rail_r_col">
      <origin xyz="3.506 0.015 1.45" rpy="0 0 0"/>
      <geometry>
        <box size="2 0.03 0.08"/>
      </geometry>
    </collision>
    <visual name="fence_rail_b_r_vis">
      <origin xyz="3.506 0.015 0.3" rpy="0 0 0"/>
      <geometry>
        <box size="2 0.03 0.08"/>
      </geometry>
      <material name="mat_fence"/>
    </visual>
    <collision name="fence_rail_b_r_col">
      <origin xyz="3.506 0.015 0.3" rpy="0 0 0"/>
      <geometry>
        <box size="2 0.03 0.08"/>
      </geometry>
    </collision>
  </link>
  <link name="leaf">
    <inertial>
      <origin xyz="2.382934 0.029651 0.850533" rpy="0 0 0"/>
      <mass value="95.809752"/>
      <inertia ixx="18.106804689" ixy="0.092067088" ixz="-0.114326606" iyy="207.080067712" iyz="0.001668624" izz="189.007443802"/>
    </inertial>
    <collision name="leaf_slab_col_col">
      <origin xyz="2.4 0.0295 0.85" rpy="0 0 0"/>
      <geometry>
        <box size="4.8 0.045 1.5"/>
      </geometry>
    </collision>
    <visual name="leaf_rail_b_vis">
      <origin xyz="2.4 0.0295 0.13" rpy="0 0 0"/>
      <geometry>
        <box size="4.8 0.045 0.06"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <visual name="leaf_rail_t_vis">
      <origin xyz="2.4 0.0295 1.57" rpy="0 0 0"/>
      <geometry>
        <box size="4.8 0.045 0.06"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <visual name="leaf_stile_h_vis">
      <origin xyz="0.03 0.0295 0.85" rpy="0 0 0"/>
      <geometry>
        <box size="0.06 0.045 1.5"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <visual name="leaf_stile_l_vis">
      <origin xyz="4.77 0.0295 0.85" rpy="0 0 0"/>
      <geometry>
        <box size="0.06 0.045 1.5"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <visual name="leaf_bar_0_vis">
      <origin xyz="0.125 0.0295 0.85" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.0095" length="1.38"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <visual name="leaf_bar_1_vis">
      <origin xyz="0.255 0.0295 0.85" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.0095" length="1.38"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <visual name="leaf_bar_2_vis">
      <origin xyz="0.385 0.0295 0.85" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.0095" length="1.38"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <visual name="leaf_bar_3_vis">
      <origin xyz="0.515 0.0295 0.85" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.0095" length="1.38"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <visual name="leaf_bar_4_vis">
      <origin xyz="0.645 0.0295 0.85" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.0095" length="1.38"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <visual name="leaf_bar_5_vis">
      <origin xyz="0.775 0.0295 0.85" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.0095" length="1.38"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <visual name="leaf_bar_6_vis">
      <origin xyz="0.905 0.0295 0.85" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.0095" length="1.38"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <visual name="leaf_bar_7_vis">
      <origin xyz="1.035 0.0295 0.85" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.0095" length="1.38"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <visual name="leaf_bar_8_vis">
      <origin xyz="1.165 0.0295 0.85" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.0095" length="1.38"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <visual name="leaf_bar_9_vis">
      <origin xyz="1.295 0.0295 0.85" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.0095" length="1.38"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <visual name="leaf_bar_10_vis">
      <origin xyz="1.425 0.0295 0.85" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.0095" length="1.38"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <visual name="leaf_bar_11_vis">
      <origin xyz="1.555 0.0295 0.85" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.0095" length="1.38"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <visual name="leaf_bar_12_vis">
      <origin xyz="1.685 0.0295 0.85" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.0095" length="1.38"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <visual name="leaf_bar_13_vis">
      <origin xyz="1.815 0.0295 0.85" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.0095" length="1.38"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <visual name="leaf_bar_14_vis">
      <origin xyz="1.945 0.0295 0.85" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.0095" length="1.38"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <visual name="leaf_bar_15_vis">
      <origin xyz="2.075 0.0295 0.85" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.0095" length="1.38"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <visual name="leaf_bar_16_vis">
      <origin xyz="2.205 0.0295 0.85" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.0095" length="1.38"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <visual name="leaf_bar_17_vis">
      <origin xyz="2.335 0.0295 0.85" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.0095" length="1.38"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <visual name="leaf_bar_18_vis">
      <origin xyz="2.465 0.0295 0.85" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.0095" length="1.38"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <visual name="leaf_bar_19_vis">
      <origin xyz="2.595 0.0295 0.85" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.0095" length="1.38"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <visual name="leaf_bar_20_vis">
      <origin xyz="2.725 0.0295 0.85" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.0095" length="1.38"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <visual name="leaf_bar_21_vis">
      <origin xyz="2.855 0.0295 0.85" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.0095" length="1.38"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <visual name="leaf_bar_22_vis">
      <origin xyz="2.985 0.0295 0.85" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.0095" length="1.38"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <visual name="leaf_bar_23_vis">
      <origin xyz="3.115 0.0295 0.85" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.0095" length="1.38"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <visual name="leaf_bar_24_vis">
      <origin xyz="3.245 0.0295 0.85" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.0095" length="1.38"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <visual name="leaf_bar_25_vis">
      <origin xyz="3.375 0.0295 0.85" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.0095" length="1.38"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <visual name="leaf_bar_26_vis">
      <origin xyz="3.505 0.0295 0.85" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.0095" length="1.38"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <visual name="leaf_bar_27_vis">
      <origin xyz="3.635 0.0295 0.85" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.0095" length="1.38"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <visual name="leaf_bar_28_vis">
      <origin xyz="3.765 0.0295 0.85" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.0095" length="1.38"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <visual name="leaf_bar_29_vis">
      <origin xyz="3.895 0.0295 0.85" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.0095" length="1.38"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <visual name="leaf_bar_30_vis">
      <origin xyz="4.025 0.0295 0.85" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.0095" length="1.38"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <visual name="leaf_bar_31_vis">
      <origin xyz="4.155 0.0295 0.85" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.0095" length="1.38"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <visual name="leaf_bar_32_vis">
      <origin xyz="4.285 0.0295 0.85" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.0095" length="1.38"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <visual name="leaf_bar_33_vis">
      <origin xyz="4.415 0.0295 0.85" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.0095" length="1.38"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <visual name="leaf_bar_34_vis">
      <origin xyz="4.545 0.0295 0.85" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.0095" length="1.38"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <visual name="leaf_bar_35_vis">
      <origin xyz="4.675 0.0295 0.85" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.0095" length="1.38"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <visual name="hinge_strap_0_vis">
      <origin xyz="0 0.055 0.25" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../../hardware/strap_hinge_3c1a7c1a5f.obj"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="hinge_strap_1_vis">
      <origin xyz="0 0.055 1.45" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../../hardware/strap_hinge_3c1a7c1a5f.obj"/>
      </geometry>
      <material name="mat_hinge"/>
    </visual>
    <visual name="leaf_slide_bolt_guide_vis">
      <origin xyz="4.62 -0.003 0.98" rpy="0 0 0"/>
      <geometry>
        <box size="0.21 0.02 0.012"/>
      </geometry>
      <material name="mat_op_steel_galvanized"/>
    </visual>
  </link>
  <link name="leaf_slide_bolt">
    <inertial>
      <origin xyz="0.07108 -0.001045 0" rpy="0 0 0"/>
      <mass value="0.815342"/>
      <inertia ixx="0.0000631" ixy="-0.000060582" ixz="0" iyy="0.006573409" iyz="0" izz="0.00659746"/>
    </inertial>
    <visual name="leaf_slide_bolt_rod_vis">
      <origin xyz="0.075 0 0" rpy="0 1.570796 0"/>
      <geometry>
        <cylinder radius="0.01" length="0.3"/>
      </geometry>
      <material name="mat_op_steel_galvanized"/>
    </visual>
    <collision name="leaf_slide_bolt_rod_col">
      <origin xyz="0.075 0 0" rpy="0 1.570796 0"/>
      <geometry>
        <cylinder radius="0.01" length="0.3"/>
      </geometry>
    </collision>
    <visual name="leaf_slide_bolt_knob_vis">
      <origin xyz="0 -0.02 0" rpy="1.570796 0 0"/>
      <geometry>
        <cylinder radius="0.006" length="0.04"/>
      </geometry>
      <material name="mat_op_steel_galvanized"/>
    </visual>
    <collision name="leaf_slide_bolt_knob_col">
      <origin xyz="0 -0.02 0" rpy="1.570796 0 0"/>
      <geometry>
        <cylinder radius="0.006" length="0.04"/>
      </geometry>
    </collision>
  </link>
  <joint name="leaf_hinge" type="revolute">
    <origin xyz="-2.403 -0.0295 0" rpy="0 0 0"/>
    <parent link="world_env"/>
    <child link="leaf"/>
    <axis xyz="0 0 -1"/>
    <limit lower="0" upper="1.919862" effort="2000" velocity="10"/>
    <dynamics damping="143.854989" friction="6.861201"/>
    <doorbench:closer damping_closing="0" damping_opening="0" backcheck_angle="0" backcheck_damping="0"/>
  </joint>
  <joint name="leaf_slide_bolt_slide" type="prismatic">
    <origin xyz="4.62 -0.013 1" rpy="0 0 0"/>
    <parent link="leaf"/>
    <child link="leaf_slide_bolt"/>
    <axis xyz="-1 0 0"/>
    <limit lower="0" upper="0.08" effort="5000" velocity="10"/>
    <dynamics damping="1" friction="3"/>
  </joint>
  <material name="mat_fence">
    <color rgba="0.7 0.45 0.32 1"/>
  </material>
  <material name="mat_floor">
    <color rgba="0.35 0.42 0.25 1"/>
  </material>
  <material name="mat_frame">
    <color rgba="0.65 0.66 0.68 1"/>
  </material>
  <material name="mat_hinge">
    <color rgba="0.65 0.66 0.68 1"/>
  </material>
  <material name="mat_leaf">
    <color rgba="0.65 0.66 0.68 1"/>
  </material>
  <material name="mat_op_steel_galvanized">
    <color rgba="0.65 0.66 0.68 1"/>
  </material>
</robot>
