<?xml version="1.0" ?>
<robot xmlns:doorbench="https://github.com/adamraudonis/DoorBench/schema/urdf-ext" name="db0859_gate_swing_minimal">
  <link name="world_env">
    <visual name="floor_vis">
      <origin xyz="0 0 -0.05" rpy="0 0 0"/>
      <geometry>
        <box size="12 12 0.1"/>
      </geometry>
      <material name="mat_floor"/>
    </visual>
    <collision name="floor_col">
      <origin xyz="0 0 -0.05" rpy="0 0 0"/>
      <geometry>
        <box size="12 12 0.1"/>
      </geometry>
    </collision>
    <visual name="leaf_slide_bolt_keeper_leg_n_vis">
      <origin xyz="2.426 -0.067 0.9845" rpy="1.570796 0 0"/>
      <geometry>
        <box size="0.014 0.005 0.034"/>
      </geometry>
      <material name="mat_op_steel_galvanized"/>
    </visual>
    <collision name="leaf_slide_bolt_keeper_leg_n_col">
      <origin xyz="2.426 -0.067 0.9845" rpy="1.570796 0 0"/>
      <geometry>
        <box size="0.014 0.005 0.034"/>
      </geometry>
    </collision>
    <visual name="leaf_slide_bolt_keeper_leg_p_vis">
      <origin xyz="2.426 -0.067 1.0155" rpy="1.570796 0 0"/>
      <geometry>
        <box size="0.014 0.005 0.034"/>
      </geometry>
      <material name="mat_op_steel_galvanized"/>
    </visual>
    <collision name="leaf_slide_bolt_keeper_leg_p_col">
      <origin xyz="2.426 -0.067 1.0155" rpy="1.570796 0 0"/>
      <geometry>
        <box size="0.014 0.005 0.034"/>
      </geometry>
    </collision>
    <visual name="leaf_slide_bolt_keeper_bridge_vis">
      <origin xyz="2.426 -0.0815 1" rpy="1.570796 0 0"/>
      <geometry>
        <box size="0.014 0.036 0.005"/>
      </geometry>
      <material name="mat_op_steel_galvanized"/>
    </visual>
    <collision name="leaf_slide_bolt_keeper_bridge_col">
      <origin xyz="2.426 -0.0815 1" rpy="1.570796 0 0"/>
      <geometry>
        <box size="0.014 0.036 0.005"/>
      </geometry>
    </collision>
    <visual name="leaf_slide_bolt_keeper_base_vis">
      <origin xyz="2.426 -0.051 1" rpy="1.570796 0 0"/>
      <geometry>
        <box size="0.03 0.048 0.002"/>
      </geometry>
      <material name="mat_op_steel_galvanized"/>
    </visual>
    <visual name="post_hinge_vis">
      <origin xyz="-2.456 0 0.825" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.05" length="1.65"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="post_hinge_col">
      <origin xyz="-2.456 0 0.825" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.05" length="1.65"/>
      </geometry>
    </collision>
    <visual name="post_latch_vis">
      <origin xyz="2.456 0 0.825" rpy="0 0 0"/>
      <geometry>
        <box size="0.1 0.1 1.65"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="post_latch_col">
      <origin xyz="2.456 0 0.825" rpy="0 0 0"/>
      <geometry>
        <box size="0.1 0.1 1.65"/>
      </geometry>
    </collision>
    <visual name="gate_stop_vis">
      <origin xyz="2.386 0.0345 0.35" rpy="0 0 0"/>
      <geometry>
        <box size="0.04 0.024 0.12"/>
      </geometry>
      <material name="mat_frame"/>
    </visual>
    <collision name="gate_stop_col">
      <origin xyz="2.386 0.0345 0.35" rpy="0 0 0"/>
      <geometry>
        <box size="0.04 0.024 0.12"/>
      </geometry>
    </collision>
  </link>
  <link name="leaf">
    <inertial>
      <origin xyz="2.4 0.05 0.85" rpy="0 0 0"/>
      <mass value="97.066675"/>
      <inertia ixx="18.225214773" ixy="0" ixz="0" iyy="204.607665069" iyz="0" izz="186.415210299"/>
    </inertial>
    <collision name="leaf_slab_col_col">
      <origin xyz="2.4 0.05 0.85" rpy="0 0 0"/>
      <geometry>
        <box size="4.8 0.045 1.5"/>
      </geometry>
    </collision>
    <visual name="leaf_rail_b_vis">
      <origin xyz="2.4 0.05 0.13" rpy="0 0 0"/>
      <geometry>
        <box size="4.8 0.045 0.06"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <visual name="leaf_rail_t_vis">
      <origin xyz="2.4 0.05 1.57" rpy="0 0 0"/>
      <geometry>
        <box size="4.8 0.045 0.06"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <visual name="leaf_stile_h_vis">
      <origin xyz="0.03 0.05 0.85" rpy="0 0 0"/>
      <geometry>
        <box size="0.06 0.045 1.5"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
    <visual name="leaf_stile_l_vis">
      <origin xyz="4.77 0.05 0.85" rpy="0 0 0"/>
      <geometry>
        <box size="0.06 0.045 1.5"/>
      </geometry>
      <material name="mat_leaf"/>
    </visual>
  </link>
  <link name="leaf_slide_bolt">
    <inertial>
      <origin xyz="-0.102695 -0.00222 0" rpy="0 0 0"/>
      <mass value="0.793903"/>
      <inertia ixx="0.000089032" ixy="0.000114024" ixz="0" iyy="0.005534978" iyz="0" izz="0.005586021"/>
    </inertial>
    <visual name="leaf_slide_bolt_rod_vis">
      <origin xyz="-0.109 0 0" rpy="0 1.570796 0"/>
      <geometry>
        <cylinder radius="0.01" length="0.28"/>
      </geometry>
      <material name="mat_op_steel_galvanized"/>
    </visual>
    <collision name="leaf_slide_bolt_rod_col">
      <origin xyz="-0.109 0 0" rpy="0 1.570796 0"/>
      <geometry>
        <cylinder radius="0.01" length="0.28"/>
      </geometry>
    </collision>
    <visual name="leaf_slide_bolt_knob_vis">
      <origin xyz="-0.038 -0.025 0" rpy="1.570796 0 0"/>
      <geometry>
        <cylinder radius="0.008" length="0.034"/>
      </geometry>
      <material name="mat_op_steel_galvanized"/>
    </visual>
    <collision name="leaf_slide_bolt_knob_col">
      <origin xyz="-0.038 -0.025 0" rpy="1.570796 0 0"/>
      <geometry>
        <cylinder radius="0.008" length="0.034"/>
      </geometry>
    </collision>
  </link>
  <joint name="leaf_hinge" type="revolute">
    <origin xyz="-2.403 -0.05 0" rpy="0 0 0"/>
    <parent link="world_env"/>
    <child link="leaf"/>
    <axis xyz="0 0 -1"/>
    <limit lower="0" upper="1.745329" effort="2000" velocity="10"/>
    <dynamics damping="143.854989" friction="6.975196"/>
    <doorbench:closer damping_closing="0" damping_opening="0" backcheck_angle="0" backcheck_damping="0"/>
  </joint>
  <joint name="leaf_slide_bolt_slide" type="prismatic">
    <origin xyz="4.8 -0.016 1" rpy="0 0 0"/>
    <parent link="leaf"/>
    <child link="leaf_slide_bolt"/>
    <axis xyz="-1 0 0"/>
    <limit lower="0" upper="0.08" effort="5000" velocity="10"/>
    <dynamics damping="1" friction="3"/>
  </joint>
  <material name="mat_floor">
    <color rgba="0.35 0.42 0.25 1"/>
  </material>
  <material name="mat_frame">
    <color rgba="0.65 0.66 0.68 1"/>
  </material>
  <material name="mat_leaf">
    <color rgba="0.65 0.66 0.68 1"/>
  </material>
  <material name="mat_op_steel_galvanized">
    <color rgba="0.65 0.66 0.68 1"/>
  </material>
</robot>
